---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_a_list_of_all_services_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600683498"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"d527684e-e4dc-5707-aba3-eafa6d9eb7c2","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_a_list_of_all_services_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600683498","created":"2020-09-21T10:18:19.215587+00:00","modified":"2020-09-21T10:18:19.215587+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FP8Y2ks6/+u/R8ikARtQQYvp9IVj9nSQPYtAt3WVuBjumgKP35t8vnUuGfeHdr64
      X-Dd-Version:
      - "35.3066091"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetServices
    url: https://api.datadoghq.com/api/v2/services
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"size":25,"next_offset":25,"offset":0}},"data":[{"type":"services","id":"4704e7ba-1a5c-50f3-bd59-2476cc9b4ec4","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_a_list_of_all_services_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600683203","created":"2020-09-21T10:13:23.670494+00:00","modified":"2020-09-21T10:13:23.670494+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad54[...]
