---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-Feature_Services-Scenario_Create_a_new_service_returns__CREATED__response-local-1600683499"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"78da750b-1b8f-59fc-b5a3-8f9ba884db01","attributes":{"name":"go-Feature_Services-Scenario_Create_a_new_service_returns__CREATED__response-local-1600683499","created":"2020-09-21T10:18:19.612743+00:00","modified":"2020-09-21T10:18:19.612743+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      X-Dd-Version:
      - "35.3066091"
    status: 201 Created
    code: 201
    duration: ""
