---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Update_an_existing_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600925608"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"7f35bc74-2286-54e7-94b0-36b56019d5aa","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Update_an_existing_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600925608","created":"2020-09-24T05:33:28.348325+00:00","modified":"2020-09-24T05:33:28.348325+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 4XEHrKCjPbSbs1iu1F78+tH4eaIPZCq+IGDoHN/GQcOsLq6w3Zzz7ZK1RqpTUzFS
      X-Dd-Version:
      - "35.3085403"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Update_an_existing_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600925608-updated"},"id":"","type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateService
    url: https://api.datadoghq.com/api/v2/services/7f35bc74-2286-54e7-94b0-36b56019d5aa
    method: PATCH
  response:
    body: '{[...]
