---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_details_of_a_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600683502"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"299144f3-aacb-5e87-adf6-6255ea1432e8","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_details_of_a_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600683502","created":"2020-09-21T10:18:22.279622+00:00","modified":"2020-09-21T10:18:22.279622+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gKyXo3ULf4VOW0DRCpK6x6wW7WjimdWLkpQ5lRR6vSBvVWmlphnibJv0tavEU2N8
      X-Dd-Version:
      - "35.3066091"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetService
    url: https://api.datadoghq.com/api/v2/services/299144f3-aacb-5e87-adf6-6255ea1432e8
    method: GET
  response:
    body: '{"data":{"type":"services","id":"299144f3-aacb-5e87-adf6-6255ea1432e8","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_details_of_a_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600683502","created":"2020-09-21T10:18:22.279622+00:00","modified":"2020-09-21T10:18:22.279622+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +TTazL1HF8qoxYARkG/60PGoq8sbkYkmqeurNry46zV0aHqBZfUrKqxtiyo42NRf
      X-Dd-Version:
      - "35.3066091"
    status: 200 OK
    code: 200
    duration: ""
