---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_details_of_a_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600925607"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"e09b3af4-556c-5960-bc3b-d350d7df8dc4","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_details_of_a_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600925607","created":"2020-09-24T05:33:27.134973+00:00","modified":"2020-09-24T05:33:27.134973+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - CUBCyaoXY2JdeHi5oQm4sg9onCJMsjgVJ5jLk2ugM2iR7uz4Q+lvjzDdvtcYDFC3
      X-Dd-Version:
      - "35.3085403"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetService
    url: https://api.datadoghq.com/api/v2/services/e09b3af4-556c-5960-bc3b-d350d7df8dc4
    method: GET
  response:
    body: '{"data":{"type":"services","id":"e09b3af4-556c-5960-bc3b-d350d7df8dc4","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_details_of_a_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1600925607","created":"2020-09-24T05:33:27.134973+00:00","modified":"2020-09-24T05:33:27.134973+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - jUMr6d+5J+YuJ6qRYTR2w4bV5pSWL1aOCQq2Fsi4IDQJQgpLmKecXN7enHF4E9hf
      X-Dd-Version:
      - "35.3085403"
    status: 200 OK
    code: 200
    duration: ""
