---
version: 1
interactions:
- request:
    body: |
      {"api_token":"apitoken","schedules":["schedule"],"services":[],"subdomain":"subdomain"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreatePagerDutyIntegration
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: '{"errors": ["invalid_inputs: [u''pagerduty_schedule_url_1'']"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2432369"
    status: 400 Bad Request
    code: 400
    duration: ""
