---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"00000000-dead-beef-dead-ffffffffffff","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/d7727f46-8353-11ea-93de-93c50559b03f/users
    method: POST
  response:
    body: '{"errors": [" not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2413239"
    status: 404 Not Found
    code: 404
    duration: ""
