---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"00000000-dead-beef-dead-ffffffffffff","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/d03893b8-993d-11eb-9ceb-da7ad0900002/users
    method: POST
  response:
    body: '{"errors": [" not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "447"
      X-Ratelimit-Reset:
      - "7"
    status: 404 Not Found
    code: 404
    duration: ""
