interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-416b8af9ae1d2bbe","name":"test-name-416b8af9ae1d2bbe"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"f3b7fcd4-f37c-4e11-b288-f6cfa4b0df44","type":"team","attributes":{"avatar":null,"banner":5,"created_at":"2025-12-23T15:27:22.204713+00:00","description":null,"handle":"test-handle-416b8af9ae1d2bbe","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-23T15:27:22.204713+00:00","name":"test-name-416b8af9ae1d2bbe","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/f3b7fcd4-f37c-4e11-b288-f6cfa4b0df44/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/f3b7fcd4-f37c-4e11-b288-f6cfa4b0df44/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":{"enabled":true},"slack":{"channel":"aaa-omg-ops","workspace":"Datadog"}},"type":"team_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/f3b7fcd4-f37c-4e11-b288-f6cfa4b0df44/notification-rules
  response:
    body: '{"data":{"id":"56627a0f-4c41-491d-b789-14d660c391ee","type":"team_notification_rules","attributes":{"email":{"enabled":true},"slack":{"workspace":"Datadog","channel":"aaa-omg-ops"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":{"enabled":true},"slack":{"channel":"aaa-omg-ops","workspace":"Datadog"}},"type":"team_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/team/f3b7fcd4-f37c-4e11-b288-f6cfa4b0df44/notification-rules
  response:
    body: '{"errors":[{"status":"409","title":"Conflict","detail":"notification rule
      already exists for this team"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/f3b7fcd4-f37c-4e11-b288-f6cfa4b0df44
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
