interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-5aa41859bbf3789a","name":"name-5aa41859bbf3789a"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"55525bf6-ef4f-11ed-99e4-da7ad0900002","attributes":{"name":"name-5aa41859bbf3789a","handle":"handle-5aa41859bbf3789a","summary":null,"description":null,"color":5,"created_at":"2023-05-10T16:25:53.127054+00:00","modified_at":"2023-05-10T16:25:53.127058+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1683735952","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"557af0c0-ef4f-11ed-b60b-da7ad0900002","attributes":{"team_id":"55525bf6-ef4f-11ed-99e4-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1683735952","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/links/557af0c0-ef4f-11ed-b60b-da7ad0900002
  response:
    body: '{"data":{"type":"team_links","id":"557af0c0-ef4f-11ed-b60b-da7ad0900002","attributes":{"team_id":"55525bf6-ef4f-11ed-99e4-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1683735952","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
