interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941998","name":"1679941998"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"d8648c52-cccd-11ed-a275-da7ad0900002","attributes":{"name":"1679941998","handle":"1679941998","summary":null,"description":null,"color":3,"created_at":"2023-03-27T18:33:18.917793+00:00","modified_at":"2023-03-27T18:33:18.917799+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002
  response:
    body: '{"errors":["Team for ID d8648c52-cccd-11ed-a275-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
