interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-f17bf3394db1955e","name":"test-name-f17bf3394db1955e"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"3474a102-405b-11ee-8a0f-da7ad0900002","attributes":{"name":"test-name-f17bf3394db1955e","handle":"test-handle-f17bf3394db1955e","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:56.131892+00:00","modified_at":"2023-08-21T19:44:56.131898+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: |
      {"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/permission-settings/manage_membership
  response:
    body: '{"data":{"type":"team_permission_settings","attributes":{"action":"manage_membership","value":"admins","options":["admins","members","organization","user_access_manage","teams_manage"]},"id":"TeamPermission-3474a102-405b-11ee-8a0f-da7ad0900002-manage_membership"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
