interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-368d558fc674f4d3","name":"name-368d558fc674f4d3"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"94e8c5a6-3e15-11ee-b7c9-da7ad0900002","attributes":{"name":"name-368d558fc674f4d3","handle":"handle-368d558fc674f4d3","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-18T22:21:30.855820+00:00","modified_at":"2023-08-18T22:21:30.855826+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: "{\"data\":{\"attributes\":{\"avatar\":\"\U0001F951\",\"banner\":7,\"handle\"\
      :\"handle-368d558fc674f4d3\",\"hidden_modules\":[\"m3\"],\"name\":\"name-368d558fc674f4d3\
      \ updated\",\"visible_modules\":[\"m1\",\"m2\"]},\"type\":\"team\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002
  response:
    body: '{"data":{"type":"team","id":"94e8c5a6-3e15-11ee-b7c9-da7ad0900002","attributes":{"name":"name-368d558fc674f4d3
      updated","handle":"handle-368d558fc674f4d3","summary":null,"description":null,"avatar":"\ud83e\udd51","banner":7,"visible_modules":["m1","m2"],"hidden_modules":["m3"],"created_at":"2023-08-18T22:21:30.855820+00:00","modified_at":"2023-08-18T22:21:31.005082+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/permission-settings"}}}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
