interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-62e1a70bb6b304ee","name":"name-62e1a70bb6b304ee"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"a7c4e9c4-20d9-11ee-99df-da7ad0900002","attributes":{"name":"name-62e1a70bb6b304ee","handle":"handle-62e1a70bb6b304ee","summary":null,"description":null,"created_at":"2023-07-12T17:29:28.973645+00:00","modified_at":"2023-07-12T17:29:28.973651+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
