interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-365d9943be4cbd80","name":"name-365d9943be4cbd80"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"ae81e17c-20d9-11ee-a254-da7ad0900002","attributes":{"name":"name-365d9943be4cbd80","handle":"handle-365d9943be4cbd80","summary":null,"description":null,"created_at":"2023-07-12T17:29:40.278830+00:00","modified_at":"2023-07-12T17:29:40.278836+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/permission-settings/manage_membership
  response:
    body: '{"data":{"type":"team_permission_settings","attributes":{"value":"admins","action":"manage_membership","options":["admins","members","organization","user_access_manage","teams_manage"]},"id":"TeamPermission-ae81e17c-20d9-11ee-a254-da7ad0900002-manage_membership"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
