interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-9b9ce79372b8d6b6","name":"name-9b9ce79372b8d6b6"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"aa8f7156-20d9-11ee-9f9f-da7ad0900002","attributes":{"name":"name-9b9ce79372b8d6b6","handle":"handle-9b9ce79372b8d6b6","summary":null,"description":null,"created_at":"2023-07-12T17:29:33.656262+00:00","modified_at":"2023-07-12T17:29:33.656267+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships
  response:
    body: '{"data":[],"meta":{"pagination":{"offset":0,"first_offset":0,"prev_offset":0,"next_offset":100,"last_offset":0,"limit":100,"type":"offset_limit","total":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships","last":null,"next":"https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships?page[offset]=100&page[limit]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships?page[offset]=0&page[limit]=100"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
