interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-889655e4da47806d","name":"name-889655e4da47806d"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"57d458a2-ef4f-11ed-9db8-da7ad0900002","attributes":{"name":"name-889655e4da47806d","handle":"handle-889655e4da47806d","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:25:57.334212+00:00","modified_at":"2023-05-10T16:25:57.334216+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
