interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-c87e4cf0f4edb309","name":"test-name-c87e4cf0f4edb309"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"302a1e60-405b-11ee-aa12-da7ad0900002","attributes":{"name":"test-name-c87e4cf0f4edb309","handle":"test-handle-c87e4cf0f4edb309","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:48.932658+00:00","modified_at":"2023-08-21T19:44:48.932663+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/permission-settings
  response:
    body: '{"data":[{"type":"team_permission_settings","attributes":{"action":"manage_membership","value":"organization","title":"Add
      and Remove Members","editable":true,"options":["user_access_manage","admins","members","organization"]},"id":"TeamPermission-302a1e60-405b-11ee-aa12-da7ad0900002-manage_membership"},{"type":"team_permission_settings","attributes":{"action":"edit","value":"members","title":"Edit
      Team Details","editable":true,"options":["teams_manage","admins","members"]},"id":"TeamPermission-302a1e60-405b-11ee-aa12-da7ad0900002-edit"}]}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
