interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-e0e86339571d8748","name":"name-e0e86339571d8748"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"55f7da86-ef4f-11ed-a7ea-da7ad0900002","attributes":{"name":"name-e0e86339571d8748","handle":"handle-e0e86339571d8748","summary":null,"description":null,"color":12,"created_at":"2023-05-10T16:25:54.211532+00:00","modified_at":"2023-05-10T16:25:54.211539+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002
  response:
    body: '{"data":{"type":"team","id":"55f7da86-ef4f-11ed-a7ea-da7ad0900002","attributes":{"name":"name-e0e86339571d8748","handle":"handle-e0e86339571d8748","summary":null,"description":null,"color":12,"created_at":"2023-05-10T16:25:54.211532+00:00","modified_at":"2023-05-10T16:25:54.211539+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/permission-settings"}}}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
