interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-99ca65bcb7eba7f2","name":"name-99ca65bcb7eba7f2"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"adfa785e-20d9-11ee-9b3a-da7ad0900002","attributes":{"name":"name-99ca65bcb7eba7f2","handle":"handle-99ca65bcb7eba7f2","summary":null,"description":null,"created_at":"2023-07-12T17:29:39.390829+00:00","modified_at":"2023-07-12T17:29:39.390834+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002/memberships/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
