interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-48ce99925c887f33","name":"test-name-48ce99925c887f33"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"f520e86b-5137-461d-b054-5b454d7135c4","type":"team","attributes":{"avatar":null,"banner":4,"created_at":"2026-03-27T09:09:50.012362+00:00","description":null,"handle":"test-handle-48ce99925c887f33","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-03-27T09:09:50.012363+00:00","name":"test-name-48ce99925c887f33","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/f520e86b-5137-461d-b054-5b454d7135c4/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/f520e86b-5137-461d-b054-5b454d7135c4/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":[{"attributes":{"managed_by":"datadog","source":"github"},"relationships":{"connected_team":{"data":{"id":"@MyGitHubAccount/my-team-name","type":"github_team"}},"team":{"data":{"id":"f520e86b-5137-461d-b054-5b454d7135c4","type":"team"}}},"type":"team_connection"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/connections
  response:
    body: '{"data":[{"id":"b5c56780-29bc-11f1-b3d1-da7ad0900002","type":"team_connection","attributes":{"managed_by":"datadog","source":"github"},"relationships":{"connected_team":{"data":{"id":"@MyGitHubAccount/my-team-name","type":"github_team"}},"team":{"data":{"id":"f520e86b-5137-461d-b054-5b454d7135c4","type":"team"}}}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/team/connections?page%5Bsize%5D=10
  response:
    body: '{"data":[{"id":"52a55816-291e-11f1-be93-da7ad0900002","type":"team_connection","attributes":{"managed_by":"datadog","source":"github"},"relationships":{"connected_team":{"data":{"id":"@MyGitHubAccount/my-team-name","type":"github_team"}},"team":{"data":{"id":"0a81a948-5ee2-4790-b855-8817a21ccf1e","type":"team"}}}},{"id":"5[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/f520e86b-5137-461d-b054-5b454d7135c4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
