interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-f05d64ea2c336925","name":"test-name-f05d64ea2c336925"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"32b31d26-405b-11ee-8641-da7ad0900002","attributes":{"name":"test-name-f05d64ea2c336925","handle":"test-handle-f05d64ea2c336925","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:53.186188+00:00","modified_at":"2023-08-21T19:44:53.186194+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: |
      {"data":{"attributes":{"label":"Link label","url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
