interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-80cbaea63059dc94","name":"name-80cbaea63059dc94"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"a6db485a-20d9-11ee-ad41-da7ad0900002","attributes":{"name":"name-80cbaea63059dc94","handle":"handle-80cbaea63059dc94","summary":null,"description":null,"created_at":"2023-07-12T17:29:27.442364+00:00","modified_at":"2023-07-12T17:29:27.442369+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Link label","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"a6f9e918-20d9-11ee-b537-da7ad0900002","attributes":{"team_id":"a6db485a-20d9-11ee-ad41-da7ad0900002","label":"Link
      label","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links/a6f9e918-20d9-11ee-b537-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
