interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679942004","name":"1679942004"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"dbd52aae-cccd-11ed-988f-da7ad0900002","attributes":{"name":"1679942004","handle":"1679942004","summary":null,"description":null,"color":12,"created_at":"2023-03-27T18:33:24.689063+00:00","modified_at":"2023-03-27T18:33:24.689067+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"1679942004","name":"1679942004 updated"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002
  response:
    body: '{"data":{"type":"team","id":"dbd52aae-cccd-11ed-988f-da7ad0900002","attributes":{"name":"1679942004
      updated","handle":"1679942004","summary":null,"description":null,"color":12,"created_at":"2023-03-27T18:33:24.689063+00:00","modified_at":"2023-03-27T18:33:25.139823+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/permission-settings"}}}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
