interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-5fc4017c72fce64f","name":"name-5fc4017c72fce64f"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"5b163526-ef4f-11ed-a5d4-da7ad0900002","attributes":{"name":"name-5fc4017c72fce64f","handle":"handle-5fc4017c72fce64f","summary":null,"description":null,"color":12,"created_at":"2023-05-10T16:26:02.799664+00:00","modified_at":"2023-05-10T16:26:02.799668+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/permission-settings/REPLACE.ME
  response:
    body: '{"errors":["Invalid action type \"REPLACE.ME\". Valid actions: manage_membership,
      edit not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
