interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-5e7e3d924d3cf03e","name":"test-name-5e7e3d924d3cf03e"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"59e1efcf-eb13-4a2b-8fcf-64590d56007f","type":"team","attributes":{"avatar":null,"banner":7,"created_at":"2026-01-23T11:00:15.837894+00:00","description":null,"handle":"test-handle-5e7e3d924d3cf03e","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-23T11:00:15.837894+00:00","name":"test-name-5e7e3d924d3cf03e","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1769166015","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links
  response:
    body: '{"data":{"type":"team_links","id":"b2fba45e-f84a-11f0-9d5d-da7ad0900002","attributes":{"team_id":"59e1efcf-eb13-4a2b-8fcf-64590d56007f","label":"Test-Remove_a_team_link_returns_No_Content_response-1769166015","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links/b2fba45e-f84a-11f0-9d5d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links/b2fba45e-f84a-11f0-9d5d-da7ad0900002
  response:
    body: '{"errors":["Link for ID b2fba45e-f84a-11f0-9d5d-da7ad0900002 not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
