interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-bb47a0fd53411a26","name":"name-bb47a0fd53411a26"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"5777e9e6-ef4f-11ed-9a2b-da7ad0900002","attributes":{"name":"name-bb47a0fd53411a26","handle":"handle-bb47a0fd53411a26","summary":null,"description":null,"color":4,"created_at":"2023-05-10T16:25:56.724082+00:00","modified_at":"2023-05-10T16:25:56.724086+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships
  response:
    body: '{"data":[],"meta":{"pagination":{"offset":0,"first_offset":0,"prev_offset":0,"next_offset":100,"last_offset":0,"limit":100,"type":"offset_limit","total":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships","last":null,"next":"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships?page[offset]=100&page[limit]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships?page[offset]=0&page[limit]=100"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
