interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-5193f5ba7bb7cf2a","name":"name-5193f5ba7bb7cf2a"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"58c0c93a-ef4f-11ed-a5d2-da7ad0900002","attributes":{"name":"name-5193f5ba7bb7cf2a","handle":"handle-5193f5ba7bb7cf2a","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:25:58.884270+00:00","modified_at":"2023-05-10T16:25:58.884274+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002
  response:
    body: '{"errors":["Team for ID 58c0c93a-ef4f-11ed-a5d2-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
