interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679942001","name":"1679942001"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"d9f9633a-cccd-11ed-b011-da7ad0900002","attributes":{"name":"1679942001","handle":"1679942001","summary":null,"description":null,"color":9,"created_at":"2023-03-27T18:33:21.571325+00:00","modified_at":"2023-03-27T18:33:21.571330+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d9f9633a-cccd-11ed-b011-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d9f9633a-cccd-11ed-b011-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Link label","url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/d9f9633a-cccd-11ed-b011-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d9f9633a-cccd-11ed-b011-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
