interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679942002","name":"1679942002"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"da910f28-cccd-11ed-bf7d-da7ad0900002","attributes":{"name":"1679942002","handle":"1679942002","summary":null,"description":null,"color":9,"created_at":"2023-03-27T18:33:22.564937+00:00","modified_at":"2023-03-27T18:33:22.564941+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1679942002","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"dadfcaa0-cccd-11ed-9ea9-da7ad0900002","attributes":{"team_id":"da910f28-cccd-11ed-bf7d-da7ad0900002","label":"Test-Update_a_team_link_returns_OK_response-1679942002","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links/dadfcaa0-cccd-11ed-9ea9-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
