interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-8ebcf13472862f30","name":"name-8ebcf13472862f30"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"abfca7f2-20d9-11ee-a1e9-da7ad0900002","attributes":{"name":"name-8ebcf13472862f30","handle":"handle-8ebcf13472862f30","summary":null,"description":null,"created_at":"2023-07-12T17:29:36.049655+00:00","modified_at":"2023-07-12T17:29:36.049660+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/memberships/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
