interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-8d5b9953d168d107","name":"test-name-8d5b9953d168d107"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"726053a9-9b81-4381-bf91-b96b746f28d9","type":"team","attributes":{"avatar":null,"banner":11,"created_at":"2026-03-27T09:09:23.174349+00:00","description":null,"handle":"test-handle-8d5b9953d168d107","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-03-27T09:09:23.174349+00:00","name":"test-name-8d5b9953d168d107","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/726053a9-9b81-4381-bf91-b96b746f28d9/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/726053a9-9b81-4381-bf91-b96b746f28d9/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":[{"attributes":{"managed_by":"datadog","source":"github"},"relationships":{"connected_team":{"data":{"id":"@MyGitHubAccount/my-team-name","type":"github_team"}},"team":{"data":{"id":"726053a9-9b81-4381-bf91-b96b746f28d9","type":"team"}}},"type":"team_connection"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/connections
  response:
    body: '{"data":[{"id":"a5c93d48-29bc-11f1-82fc-da7ad0900002","type":"team_connection","attributes":{"managed_by":"datadog","source":"github"},"relationships":{"connected_team":{"data":{"id":"@MyGitHubAccount/my-team-name","type":"github_team"}},"team":{"data":{"id":"726053a9-9b81-4381-bf91-b96b746f28d9","type":"team"}}}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/726053a9-9b81-4381-bf91-b96b746f28d9
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
