interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-98fa6b5d3df15a52","name":"test-name-98fa6b5d3df15a52"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"ec95ccd2-5cf4-494a-971c-84a604f7dde5","type":"team","attributes":{"avatar":null,"banner":0,"created_at":"2026-01-23T11:00:17.893904+00:00","description":null,"handle":"test-handle-98fa6b5d3df15a52","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-23T11:00:17.893904+00:00","name":"test-name-98fa6b5d3df15a52","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1769166017","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links
  response:
    body: '{"data":{"type":"team_links","id":"b433501a-f84a-11f0-9cd8-da7ad0900002","attributes":{"team_id":"ec95ccd2-5cf4-494a-971c-84a604f7dde5","label":"Test-Update_a_team_link_returns_OK_response-1769166017","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links/b433501a-f84a-11f0-9cd8-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
