interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-62f52dee42c1d7dc","name":"test-name-62f52dee42c1d7dc"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"3426dddc-405b-11ee-818a-da7ad0900002","attributes":{"name":"test-name-62f52dee42c1d7dc","handle":"test-handle-62f52dee42c1d7dc","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:55.621598+00:00","modified_at":"2023-08-21T19:44:55.621607+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/permission-settings/REPLACE.ME
  response:
    body: '{"errors":["Invalid action type \"REPLACE.ME\". Valid actions: manage_membership,
      edit not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
