interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-ff2b53b6514455c7","name":"test-name-ff2b53b6514455c7"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"9c2a3be7-8a43-4f37-bc3d-88248875f867","type":"team","attributes":{"avatar":null,"banner":3,"created_at":"2026-02-12T15:00:05.867555+00:00","description":null,"handle":"test-handle-ff2b53b6514455c7","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-02-12T15:00:05.867555+00:00","name":"test-name-ff2b53b6514455c7","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/9c2a3be7-8a43-4f37-bc3d-88248875f867/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/9c2a3be7-8a43-4f37-bc3d-88248875f867/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_a_user_s_membership_attributes_on_a_team_with_invalid_role_returns_API_error_response_respons-1770908405@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"eed29272-352e-4bf8-ab48-ad007a1f7179","attributes":{"name":null,"handle":"test-update_a_user_s_membership_attributes_on_a_team_with_invalid_role_returns_api_error_response_respons-1770908405@datadoghq.com","created_at":"2026-02-12T15:00:06.429855+00:00","modified_at":"2026-02-12T15:00:06.429855+00:00","email":"test-update_a_user_s_membership_attributes_on_a_team_with_invalid_role_returns_api_error_response_respons-1770908405@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1a5d1f711a7790783032ea8e4653d473?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"role":"admin"},"relationships":{"user":{"data":{"id":"eed29272-352e-4bf8-ab48-ad007a1f7179","type":"users"}}},"type":"team_memberships"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/team/9c2a3be7-8a43-4f37-bc3d-88248875f867/memberships
  response:
    body: '{"data":{"id":"TeamMembership-9c2a3be7-8a43-4f37-bc3d-88248875f867-65393607","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0","role":"admin"},"relationships":{"user":{"data":{"id":"eed29272-352e-4bf8-ab48-ad007a1f7179","type":"users"}}}},"included":[{"id":"eed29272-352e-4bf8-ab48-ad007a1f7179","type":"users","attributes":{"disabled":false,"email":"test-update_a_user_s_membership_attributes_on_a_team_with_invalid_role_returns_api_error_response_respons-1770908405@datadoghq.com","handle":"test-update_a_user_s_membership_attributes_on_a_team_with_invalid_role_returns_api_error_response_respons-1770908405@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1a5d1f711a7790783032ea8e4653d473?d=retro\u0026s=48","name":null,"service_account":false,"status":"Pending"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"role":"member"},"type":"team_memberships"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/9c2a3be7-8a43-4f37-bc3d-88248875f867/memberships/eed29272-352e-4bf8-ab48-ad007a1f7179
  response:
    body: '{"errors":["{''errors'': [{''detail'': ''Not a valid choice.'', ''source'':
      {''pointer'': ''/data/attributes/role''}}]}"]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/eed29272-352e-4bf8-ab48-ad007a1f7179
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/9c2a3be7-8a43-4f37-bc3d-88248875f867
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
