interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-129c4638a0cbf5ab","name":"test-name-129c4638a0cbf5ab"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"b103bc00-af0b-48ee-ad0a-2cae69341320","type":"team","attributes":{"avatar":null,"banner":8,"created_at":"2025-12-23T15:30:20.131472+00:00","description":null,"handle":"test-handle-129c4638a0cbf5ab","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-23T15:30:20.131472+00:00","name":"test-name-129c4638a0cbf5ab","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/b103bc00-af0b-48ee-ad0a-2cae69341320/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/b103bc00-af0b-48ee-ad0a-2cae69341320/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":{"enabled":true},"slack":{"channel":"aaa-omg-ops","workspace":"Datadog"}},"type":"team_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/b103bc00-af0b-48ee-ad0a-2cae69341320/notification-rules
  response:
    body: '{"data":{"id":"5bff55f5-6777-4494-a2bd-23e0a6a3d751","type":"team_notification_rules","attributes":{"email":{"enabled":true},"slack":{"workspace":"Datadog","channel":"aaa-omg-ops"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"pagerduty":{"service_name":"Datadog-prod"},"slack":{"channel":"aaa-governance-ops","workspace":"Datadog"}},"id":"5bff55f5-6777-4494-a2bd-23e0a6a3d751","type":"team_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PUT
    url: https://api.datadoghq.com/api/v2/team/b103bc00-af0b-48ee-ad0a-2cae69341320/notification-rules/5bff55f5-6777-4494-a2bd-23e0a6a3d751
  response:
    body: '{"data":{"id":"5bff55f5-6777-4494-a2bd-23e0a6a3d751","type":"team_notification_rules","attributes":{"pagerduty":{"service_name":"Datadog-prod"},"slack":{"workspace":"Datadog","channel":"aaa-governance-ops"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/b103bc00-af0b-48ee-ad0a-2cae69341320
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
