interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-7502e409e8a5596c","name":"name-7502e409e8a5596c"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"54e7478a-ef4f-11ed-9558-da7ad0900002","attributes":{"name":"name-7502e409e8a5596c","handle":"handle-7502e409e8a5596c","summary":null,"description":null,"color":0,"created_at":"2023-05-10T16:25:52.425262+00:00","modified_at":"2023-05-10T16:25:52.425266+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
