interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-0d2d6ca6aa883570","name":"name-0d2d6ca6aa883570"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"56bc6f22-ef4f-11ed-9378-da7ad0900002","attributes":{"name":"name-0d2d6ca6aa883570","handle":"handle-0d2d6ca6aa883570","summary":null,"description":null,"color":7,"created_at":"2023-05-10T16:25:55.499796+00:00","modified_at":"2023-05-10T16:25:55.499801+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/links
  response:
    body: '{"data":[]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
