interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679942005","name":"1679942005"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"dc7e6240-cccd-11ed-bc0b-da7ad0900002","attributes":{"name":"1679942005","handle":"1679942005","summary":null,"description":null,"color":8,"created_at":"2023-03-27T18:33:25.798162+00:00","modified_at":"2023-03-27T18:33:25.798166+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/memberships/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
