interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-7f82f490dc758fbf","name":"name-7f82f490dc758fbf"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"5391cf72-ef4f-11ed-9b09-da7ad0900002","attributes":{"name":"name-7f82f490dc758fbf","handle":"handle-7f82f490dc758fbf","summary":null,"description":null,"color":11,"created_at":"2023-05-10T16:25:50.187661+00:00","modified_at":"2023-05-10T16:25:50.187665+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5391cf72-ef4f-11ed-9b09-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5391cf72-ef4f-11ed-9b09-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/5391cf72-ef4f-11ed-9b09-da7ad0900002/links
  response:
    body: '{"errors":["label cannot be empty"]}'
    code: 422
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/5391cf72-ef4f-11ed-9b09-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
