interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-17f710cc6491a98e","name":"test-name-17f710cc6491a98e"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2e757196-405b-11ee-bc70-da7ad0900002","attributes":{"name":"test-name-17f710cc6491a98e","handle":"test-handle-17f710cc6491a98e","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:46.071074+00:00","modified_at":"2023-08-21T19:44:46.071080+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1692647085","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"2e91164e-405b-11ee-9f5b-da7ad0900002","attributes":{"team_id":"2e757196-405b-11ee-bc70-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1692647085","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links/2e91164e-405b-11ee-9f5b-da7ad0900002
  response:
    body: '{"data":{"type":"team_links","id":"2e91164e-405b-11ee-9f5b-da7ad0900002","attributes":{"team_id":"2e757196-405b-11ee-bc70-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1692647085","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
