interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-5b0810a24cff23de","name":"name-5b0810a24cff23de"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"aad53c9a-20d9-11ee-a81e-da7ad0900002","attributes":{"name":"name-5b0810a24cff23de","handle":"handle-5b0810a24cff23de","summary":null,"description":null,"created_at":"2023-07-12T17:29:34.113364+00:00","modified_at":"2023-07-12T17:29:34.113369+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
