interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-b008f313b7fb41a2","name":"name-b008f313b7fb41a2"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"59784f1a-ef4f-11ed-ae21-da7ad0900002","attributes":{"name":"name-b008f313b7fb41a2","handle":"handle-b008f313b7fb41a2","summary":null,"description":null,"color":9,"created_at":"2023-05-10T16:26:00.087139+00:00","modified_at":"2023-05-10T16:26:00.087144+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Link label","url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
