interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941979","name":"1679941979"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"cceda3d6-cccd-11ed-aae5-da7ad0900002","attributes":{"name":"1679941979","handle":"1679941979","summary":null,"description":null,"color":0,"created_at":"2023-03-27T18:32:59.683291+00:00","modified_at":"2023-03-27T18:32:59.683295+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Link label","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"cd25c6bc-cccd-11ed-830b-da7ad0900002","attributes":{"team_id":"cceda3d6-cccd-11ed-aae5-da7ad0900002","label":"Link
      label","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/links/cd25c6bc-cccd-11ed-830b-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
