interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941995","name":"1679941995"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"d6a8c612-cccd-11ed-9a15-da7ad0900002","attributes":{"name":"1679941995","handle":"1679941995","summary":null,"description":null,"color":0,"created_at":"2023-03-27T18:33:16.009128+00:00","modified_at":"2023-03-27T18:33:16.009133+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1679941995","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"d6d77a5c-cccd-11ed-8328-da7ad0900002","attributes":{"team_id":"d6a8c612-cccd-11ed-9a15-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1679941995","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links/d6d77a5c-cccd-11ed-8328-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links/d6d77a5c-cccd-11ed-8328-da7ad0900002
  response:
    body: '{"errors":["Link for ID d6d77a5c-cccd-11ed-8328-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
