interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941984","name":"1679941984"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"d04115ae-cccd-11ed-9e78-da7ad0900002","attributes":{"name":"1679941984","handle":"1679941984","summary":null,"description":null,"color":4,"created_at":"2023-03-27T18:33:05.263569+00:00","modified_at":"2023-03-27T18:33:05.263573+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1679941984","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"d085fc8c-cccd-11ed-8dbe-da7ad0900002","attributes":{"team_id":"d04115ae-cccd-11ed-9e78-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1679941984","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002/links/d085fc8c-cccd-11ed-8dbe-da7ad0900002
  response:
    body: '{"data":{"type":"team_links","id":"d085fc8c-cccd-11ed-8dbe-da7ad0900002","attributes":{"team_id":"d04115ae-cccd-11ed-9e78-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1679941984","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
