interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-4f30392b8132329e","name":"test-name-4f30392b8132329e"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"204d172a-83e4-420c-a840-d914be2cd5ed","type":"team","attributes":{"avatar":null,"banner":4,"created_at":"2025-12-23T15:28:45.710450+00:00","description":null,"handle":"test-handle-4f30392b8132329e","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-23T15:28:45.710450+00:00","name":"test-name-4f30392b8132329e","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/204d172a-83e4-420c-a840-d914be2cd5ed/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/204d172a-83e4-420c-a840-d914be2cd5ed/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":{"enabled":true},"slack":{"channel":"aaa-omg-ops","workspace":"Datadog"}},"type":"team_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/204d172a-83e4-420c-a840-d914be2cd5ed/notification-rules
  response:
    body: '{"data":{"id":"d4abbaab-11b3-41ea-a6e3-ed366522a39e","type":"team_notification_rules","attributes":{"email":{"enabled":true},"slack":{"workspace":"Datadog","channel":"aaa-omg-ops"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/204d172a-83e4-420c-a840-d914be2cd5ed/notification-rules/d4abbaab-11b3-41ea-a6e3-ed366522a39e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/204d172a-83e4-420c-a840-d914be2cd5ed
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
