interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941987","name":"1679941987"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"d1a59ae6-cccd-11ed-9cff-da7ad0900002","attributes":{"name":"1679941987","handle":"1679941987","summary":null,"description":null,"color":11,"created_at":"2023-03-27T18:33:07.600350+00:00","modified_at":"2023-03-27T18:33:07.600354+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002
  response:
    body: '{"data":{"type":"team","id":"d1a59ae6-cccd-11ed-9cff-da7ad0900002","attributes":{"name":"1679941987","handle":"1679941987","summary":null,"description":null,"color":11,"created_at":"2023-03-27T18:33:07.600350+00:00","modified_at":"2023-03-27T18:33:07.600354+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002/permission-settings"}}}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
