interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-8b8486a76bc6e6a1","name":"name-8b8486a76bc6e6a1"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"547c6370-ef4f-11ed-9672-da7ad0900002","attributes":{"name":"name-8b8486a76bc6e6a1","handle":"handle-8b8486a76bc6e6a1","summary":null,"description":null,"color":9,"created_at":"2023-05-10T16:25:51.725343+00:00","modified_at":"2023-05-10T16:25:51.725347+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/547c6370-ef4f-11ed-9672-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/547c6370-ef4f-11ed-9672-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-8b8486a76bc6e6a1","name":"Example Team"},"relationships":{"users":{"data":[]}},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"errors":["Team name and handle must be unique"]}'
    code: 409
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/547c6370-ef4f-11ed-9672-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
