interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-d9940b7456e5c622","name":"name-d9940b7456e5c622"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"582432c8-ef4f-11ed-bdd4-da7ad0900002","attributes":{"name":"name-d9940b7456e5c622","handle":"handle-d9940b7456e5c622","summary":null,"description":null,"color":4,"created_at":"2023-05-10T16:25:57.858187+00:00","modified_at":"2023-05-10T16:25:57.858193+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1683735957","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"584c2a94-ef4f-11ed-9556-da7ad0900002","attributes":{"team_id":"582432c8-ef4f-11ed-bdd4-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1683735957","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links/584c2a94-ef4f-11ed-9556-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links/584c2a94-ef4f-11ed-9556-da7ad0900002
  response:
    body: '{"errors":["Link for ID 584c2a94-ef4f-11ed-9556-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
