interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-df7035850d3d2bf3","name":"test-name-df7035850d3d2bf3"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2f0a0aae-405b-11ee-8fd8-da7ad0900002","attributes":{"name":"test-name-df7035850d3d2bf3","handle":"test-handle-df7035850d3d2bf3","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:47.044918+00:00","modified_at":"2023-08-21T19:44:47.044924+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002
  response:
    body: '{"data":{"type":"team","attributes":{"handle":"test-handle-df7035850d3d2bf3","description":null,"name":"test-name-df7035850d3d2bf3","summary":null,"user_count":0,"created_at":"2023-08-21T19:44:47.044918+00:00","modified_at":"2023-08-21T19:44:47.044924+00:00","link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/permission-settings"}}},"id":"2f0a0aae-405b-11ee-8fd8-da7ad0900002"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
