interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-2047a02ca89d196f","name":"test-name-2047a02ca89d196f"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2fcd65d0-405b-11ee-817e-da7ad0900002","attributes":{"name":"test-name-2047a02ca89d196f","handle":"test-handle-2047a02ca89d196f","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:48.324737+00:00","modified_at":"2023-08-21T19:44:48.324744+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/links
  response:
    body: '{"data":[]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
