interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-b98be6aba3b71089","name":"test-name-b98be6aba3b71089"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2d8e0130-405b-11ee-869d-da7ad0900002","attributes":{"name":"test-name-b98be6aba3b71089","handle":"test-handle-b98be6aba3b71089","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:44.553464+00:00","modified_at":"2023-08-21T19:44:44.553470+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2d8e0130-405b-11ee-869d-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2d8e0130-405b-11ee-869d-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-b98be6aba3b71089","name":"Example Team"},"relationships":{"users":{"data":[]}},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"errors":["Team name and handle must be unique"]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2d8e0130-405b-11ee-869d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
