interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-174fbe08316e4419","name":"test-name-174fbe08316e4419"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"3174aa4c-405b-11ee-9d78-da7ad0900002","attributes":{"name":"test-name-174fbe08316e4419","handle":"test-handle-174fbe08316e4419","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:51.098613+00:00","modified_at":"2023-08-21T19:44:51.098619+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1692647090","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"3194a5c2-405b-11ee-b009-da7ad0900002","attributes":{"team_id":"3174aa4c-405b-11ee-9d78-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1692647090","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links/3194a5c2-405b-11ee-b009-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links/3194a5c2-405b-11ee-b009-da7ad0900002
  response:
    body: '{"errors":["Link for ID 3194a5c2-405b-11ee-b009-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
