interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-4901938897ba0311","name":"name-4901938897ba0311"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"5651a32c-ef4f-11ed-996b-da7ad0900002","attributes":{"name":"name-4901938897ba0311","handle":"handle-4901938897ba0311","summary":null,"description":null,"color":9,"created_at":"2023-05-10T16:25:54.800026+00:00","modified_at":"2023-05-10T16:25:54.800030+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5651a32c-ef4f-11ed-996b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5651a32c-ef4f-11ed-996b-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/5651a32c-ef4f-11ed-996b-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
