interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-fa841defccf7dd70","name":"name-fa841defccf7dd70"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"a8114d8c-20d9-11ee-bedb-da7ad0900002","attributes":{"name":"name-fa841defccf7dd70","handle":"handle-fa841defccf7dd70","summary":null,"description":null,"created_at":"2023-07-12T17:29:29.474550+00:00","modified_at":"2023-07-12T17:29:29.474556+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1689182969","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"a8996d2a-20d9-11ee-b209-da7ad0900002","attributes":{"team_id":"a8114d8c-20d9-11ee-bedb-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1689182969","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002/links/a8996d2a-20d9-11ee-b209-da7ad0900002
  response:
    body: '{"data":{"type":"team_links","id":"a8996d2a-20d9-11ee-b209-da7ad0900002","attributes":{"team_id":"a8114d8c-20d9-11ee-bedb-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1689182969","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
