interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_user_memberships_returns_Represents_a_user_s_association_to_a_team_response-1692647090@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"30e03059-405b-11ee-9a91-1a2c4720b59d","attributes":{"name":null,"handle":"test-get_user_memberships_returns_represents_a_user_s_association_to_a_team_response-1692647090@datadoghq.com","created_at":"2023-08-21T19:44:50.128235+00:00","modified_at":"2023-08-21T19:44:50.135570+00:00","email":"test-get_user_memberships_returns_represents_a_user_s_association_to_a_team_response-1692647090@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d2db09a560a471f9d40152e20a8dff27?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/users/30e03059-405b-11ee-9a91-1a2c4720b59d/memberships
  response:
    body: '{"data":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/30e03059-405b-11ee-9a91-1a2c4720b59d
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
