interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-b083901017e30c13","name":"name-b083901017e30c13"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"abb3161e-20d9-11ee-95db-da7ad0900002","attributes":{"name":"name-b083901017e30c13","handle":"handle-b083901017e30c13","summary":null,"description":null,"created_at":"2023-07-12T17:29:35.567410+00:00","modified_at":"2023-07-12T17:29:35.567415+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002
  response:
    body: '{"errors":["Team for ID abb3161e-20d9-11ee-95db-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
