interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-ac2d4065bfac0747","name":"name-ac2d4065bfac0747"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"a9e1a1ca-20d9-11ee-a446-da7ad0900002","attributes":{"name":"name-ac2d4065bfac0747","handle":"handle-ac2d4065bfac0747","summary":null,"description":null,"created_at":"2023-07-12T17:29:32.517618+00:00","modified_at":"2023-07-12T17:29:32.517624+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002/links
  response:
    body: '{"data":[]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
