interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-0fe32e2c4ff0dff0","name":"name-0fe32e2c4ff0dff0"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"ab1bfa86-20d9-11ee-83ad-da7ad0900002","attributes":{"name":"name-0fe32e2c4ff0dff0","handle":"handle-0fe32e2c4ff0dff0","summary":null,"description":null,"created_at":"2023-07-12T17:29:34.577529+00:00","modified_at":"2023-07-12T17:29:34.577535+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1689182974","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"ab3d7062-20d9-11ee-86ea-da7ad0900002","attributes":{"team_id":"ab1bfa86-20d9-11ee-83ad-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1689182974","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links/ab3d7062-20d9-11ee-86ea-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links/ab3d7062-20d9-11ee-86ea-da7ad0900002
  response:
    body: '{"errors":["Link for ID ab3d7062-20d9-11ee-86ea-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
