interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-9503f929e485f83e","name":"test-name-9503f929e485f83e"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"3301859c-405b-11ee-aedf-da7ad0900002","attributes":{"name":"test-name-9503f929e485f83e","handle":"test-handle-9503f929e485f83e","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:53.699451+00:00","modified_at":"2023-08-21T19:44:53.699457+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: |
      {"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1692647093","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"331f8b00-405b-11ee-bdcc-da7ad0900002","attributes":{"team_id":"3301859c-405b-11ee-aedf-da7ad0900002","label":"Test-Update_a_team_link_returns_OK_response-1692647093","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- id: 3
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links/331f8b00-405b-11ee-bdcc-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
- id: 4
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
