interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-1777c2cee93aa43d","name":"name-1777c2cee93aa43d"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"ac431ade-20d9-11ee-a354-da7ad0900002","attributes":{"name":"name-1777c2cee93aa43d","handle":"handle-1777c2cee93aa43d","summary":null,"description":null,"created_at":"2023-07-12T17:29:36.511789+00:00","modified_at":"2023-07-12T17:29:36.511794+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Link label","url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
