interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941982","name":"1679941982"},"relationships":{"users":{"data":[]}},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"cebec38e-cccd-11ed-a1a8-da7ad0900002","attributes":{"name":"1679941982","handle":"1679941982","summary":null,"description":null,"color":10,"created_at":"2023-03-27T18:33:02.731559+00:00","modified_at":"2023-03-27T18:33:02.731566+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/cebec38e-cccd-11ed-a1a8-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/cebec38e-cccd-11ed-a1a8-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/cebec38e-cccd-11ed-a1a8-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
