interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-f6ff0ce4aae89a95","name":"name-f6ff0ce4aae89a95"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"aa36b08e-20d9-11ee-8b14-da7ad0900002","attributes":{"name":"name-f6ff0ce4aae89a95","handle":"handle-f6ff0ce4aae89a95","summary":null,"description":null,"created_at":"2023-07-12T17:29:33.075104+00:00","modified_at":"2023-07-12T17:29:33.075110+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002/permission-settings
  response:
    body: '{"data":[{"type":"team_permission_settings","id":"TeamPermission-aa36b08e-20d9-11ee-8b14-da7ad0900002-manage_membership","attributes":{"action":"manage_membership","options":["user_access_manage","admins","members","organization"],"value":"organization","editable":true,"title":"Add
      and Remove Members"}},{"type":"team_permission_settings","id":"TeamPermission-aa36b08e-20d9-11ee-8b14-da7ad0900002-edit","attributes":{"action":"edit","options":["teams_manage","admins","members"],"value":"members","editable":true,"title":"Edit
      Team Details"}}]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
