interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-7ee388ec964ab7d8","name":"name-7ee388ec964ab7d8"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"5ac7a35c-ef4f-11ed-ba32-da7ad0900002","attributes":{"name":"name-7ee388ec964ab7d8","handle":"handle-7ee388ec964ab7d8","summary":null,"description":null,"color":6,"created_at":"2023-05-10T16:26:02.284460+00:00","modified_at":"2023-05-10T16:26:02.284464+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/memberships/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
