interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-b673fb38f29b594d","name":"name-b673fb38f29b594d"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"590a0ef6-ef4f-11ed-9b4a-da7ad0900002","attributes":{"name":"name-b673fb38f29b594d","handle":"handle-b673fb38f29b594d","summary":null,"description":null,"color":2,"created_at":"2023-05-10T16:25:59.363124+00:00","modified_at":"2023-05-10T16:25:59.363128+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/memberships/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
