interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-2c82e5be19369e37","name":"name-2c82e5be19369e37"},"relationships":{"users":{"data":[]}},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"fe99024c-ef4e-11ed-8f26-da7ad0900002","attributes":{"name":"name-2c82e5be19369e37","handle":"handle-2c82e5be19369e37","summary":null,"description":null,"color":4,"created_at":"2023-05-10T16:23:27.625735+00:00","modified_at":"2023-05-10T16:23:27.625740+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
