interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-afaf5e790c917aca","name":"name-afaf5e790c917aca"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"53f8fe40-ef4f-11ed-b67f-da7ad0900002","attributes":{"name":"name-afaf5e790c917aca","handle":"handle-afaf5e790c917aca","summary":null,"description":null,"color":0,"created_at":"2023-05-10T16:25:50.863797+00:00","modified_at":"2023-05-10T16:25:50.863804+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Link label","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"54179a26-ef4f-11ed-a9ba-da7ad0900002","attributes":{"team_id":"53f8fe40-ef4f-11ed-b67f-da7ad0900002","label":"Link
      label","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/links/54179a26-ef4f-11ed-a9ba-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
