interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-c12045e3c85ab6fe","name":"name-c12045e3c85ab6fe"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"a74521bc-20d9-11ee-be22-da7ad0900002","attributes":{"name":"name-c12045e3c85ab6fe","handle":"handle-c12045e3c85ab6fe","summary":null,"description":null,"created_at":"2023-07-12T17:29:28.136431+00:00","modified_at":"2023-07-12T17:29:28.136436+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-c12045e3c85ab6fe","name":"Example Team"},"relationships":{"users":{"data":[]}},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"errors":["Team name and handle must be unique"]}'
    code: 409
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
