interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-d4767872f1c173b0","name":"name-d4767872f1c173b0"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"ac8b5bb4-20d9-11ee-a287-da7ad0900002","attributes":{"name":"name-d4767872f1c173b0","handle":"handle-d4767872f1c173b0","summary":null,"description":null,"created_at":"2023-07-12T17:29:36.985262+00:00","modified_at":"2023-07-12T17:29:36.985267+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1689182976","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002/links
  response:
    body: '{"data":{"type":"team_links","id":"aca6c3a4-20d9-11ee-b74b-da7ad0900002","attributes":{"team_id":"ac8b5bb4-20d9-11ee-a287-da7ad0900002","label":"Test-Update_a_team_link_returns_OK_response-1689182976","url":"https://example.com","position":0}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002/links/aca6c3a4-20d9-11ee-b74b-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
