interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-e6e42a2ebca0ed06","name":"test-name-e6e42a2ebca0ed06"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2f5b80be-405b-11ee-8a0d-da7ad0900002","attributes":{"name":"test-name-e6e42a2ebca0ed06","handle":"test-handle-e6e42a2ebca0ed06","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:47.577736+00:00","modified_at":"2023-08-21T19:44:47.577743+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
[...]
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
