interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941983","name":"1679941983"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"cf7d13e8-cccd-11ed-ae79-da7ad0900002","attributes":{"name":"1679941983","handle":"1679941983","summary":null,"description":null,"color":8,"created_at":"2023-03-27T18:33:03.978804+00:00","modified_at":"2023-03-27T18:33:03.978808+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002/links/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
