interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-cc59be168db79579","name":"name-cc59be168db79579"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"a961d04e-20d9-11ee-a955-da7ad0900002","attributes":{"name":"name-cc59be168db79579","handle":"handle-cc59be168db79579","summary":null,"description":null,"created_at":"2023-07-12T17:29:31.679698+00:00","modified_at":"2023-07-12T17:29:31.679703+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a961d04e-20d9-11ee-a955-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a961d04e-20d9-11ee-a955-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a961d04e-20d9-11ee-a955-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
