interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-5a20aee41547b866","name":"name-5a20aee41547b866"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"5a6cbeba-ef4f-11ed-9628-da7ad0900002","attributes":{"name":"name-5a20aee41547b866","handle":"handle-5a20aee41547b866","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:26:01.688992+00:00","modified_at":"2023-05-10T16:26:01.688999+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-5a20aee41547b866","name":"name-5a20aee41547b866 updated"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002
  response:
    body: '{"data":{"type":"team","id":"5a6cbeba-ef4f-11ed-9628-da7ad0900002","attributes":{"name":"name-5a20aee41547b866
      updated","handle":"handle-5a20aee41547b866","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:26:01.688992+00:00","modified_at":"2023-05-10T16:26:01.882353+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/permission-settings"}}}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
