interactions:
- id: 0
  request:
    body: "{\"data\":{\"attributes\":{\"avatar\":\"\U0001F951\",\"banner\":7,\"handle\"\
      :\"test-handle-d8e2060f755d882d\",\"hidden_modules\":[\"m3\"],\"name\":\"test-name-d8e2060f755d882d\"\
      ,\"visible_modules\":[\"m1\",\"m2\"]},\"type\":\"team\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"fcaac0f6-405c-11ee-9237-da7ad0900002","attributes":{"name":"test-name-d8e2060f755d882d","handle":"test-handle-d8e2060f755d882d","summary":null,"description":null,"avatar":"\ud83e\udd51","banner":7,"visible_modules":["m1","m2"],"hidden_modules":["m3"],"created_at":"2023-08-21T19:57:41.527619+00:00","modified_at":"2023-08-21T19:57:41.527624+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/fcaac0f6-405c-11ee-9237-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/fcaac0f6-405c-11ee-9237-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/fcaac0f6-405c-11ee-9237-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
