interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"handle-a299aa22fee98364","name":"name-a299aa22fee98364"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"57177c28-ef4f-11ed-9f99-da7ad0900002","attributes":{"name":"name-a299aa22fee98364","handle":"handle-a299aa22fee98364","summary":null,"description":null,"color":2,"created_at":"2023-05-10T16:25:56.096575+00:00","modified_at":"2023-05-10T16:25:56.096579+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002/permission-settings
  response:
    body: '{"data":[{"type":"team_permission_settings","attributes":{"action":"manage_membership","options":["user_access_manage","admins","members","organization"],"value":"organization","editable":true,"title":"Add
      and Remove Members"},"id":"TeamPermission-57177c28-ef4f-11ed-9f99-da7ad0900002-manage_membership"},{"type":"team_permission_settings","attributes":{"action":"edit","options":["teams_manage","admins","members"],"value":"members","editable":true,"title":"Edit
      Team Details"},"id":"TeamPermission-57177c28-ef4f-11ed-9f99-da7ad0900002-edit"}]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
