interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-d92d2e08806acc4e","name":"test-name-d92d2e08806acc4e"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2cb8bb60-405b-11ee-8a69-da7ad0900002","attributes":{"name":"test-name-d92d2e08806acc4e","handle":"test-handle-d92d2e08806acc4e","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:43.155798+00:00","modified_at":"2023-08-21T19:44:43.155804+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"label":"","position":0,"url":"https://example.com"},"type":"team_links"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002/links
  response:
    body: '{"errors":["label cannot be empty"]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
