interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-427b76ae43f10fe0","name":"test-name-427b76ae43f10fe0"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"33d811ca-405b-11ee-a640-da7ad0900002","attributes":{"name":"test-name-427b76ae43f10fe0","handle":"test-handle-427b76ae43f10fe0","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:55.105594+00:00","modified_at":"2023-08-21T19:44:55.105599+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/memberships/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
