interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-61d5baa2cd58430d","name":"test-name-61d5baa2cd58430d"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"325bc472-405b-11ee-ac5e-da7ad0900002","attributes":{"name":"test-name-61d5baa2cd58430d","handle":"test-handle-61d5baa2cd58430d","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:52.612996+00:00","modified_at":"2023-08-21T19:44:52.613002+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002/memberships/REPLACE.ME
  response:
    body: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
