interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"1679941989","name":"1679941989"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"d3141588-cccd-11ed-93f1-da7ad0900002","attributes":{"name":"1679941989","handle":"1679941989","summary":null,"description":null,"color":6,"created_at":"2023-03-27T18:33:10.001530+00:00","modified_at":"2023-03-27T18:33:10.001534+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/links
  response:
    body: '{"data":[]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
