interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-ef7e0a86ff5c0e43","name":"test-name-ef7e0a86ff5c0e43"},"relationships":{"users":{"data":[]}},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"8be92a56-405c-11ee-8f72-da7ad0900002","attributes":{"name":"test-name-ef7e0a86ff5c0e43","handle":"test-handle-ef7e0a86ff5c0e43","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:54:32.354249+00:00","modified_at":"2023-08-21T19:54:32.354257+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/8be92a56-405c-11ee-8f72-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/8be92a56-405c-11ee-8f72-da7ad0900002/permission-settings"}}}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/8be92a56-405c-11ee-8f72-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
