---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/d50f60fc-8353-11ea-93de-831f2ccea55f
    method: DELETE
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
