interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/synthetics/tests?page_size=2&page_number=0
  response:
    body: '{"tests":[{"public_id":"888-nvp-kbw","name":"tf-TestAccDatadogSyntheticsTestBrowserMML_Basic-local-1689951468-updated","status":"paused","type":"browser","tags":["foo:bar","baz"],"created_at":"2023-07-21T14:57:51.688079+00:00","modified_at":"2023-07-21T14:58:21.332326+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://www.datadoghq.com"},"variables":[]},"message":"Notify
      @datadog.user","options":{"device_ids":["laptop_large"],"min_location_failed":1,"tick_every":900},"locations":["aws:eu-central-1"],"monitor_id":126283369,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}},{"public_id":"i9r-v4f-v3u","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated_RumSettings-local-1689951491-updated-rumsettings","status":"live","type":"browser","tags":["foo:bar","buz"],"created_at":"2023-07-21T14:58:17.635359+00:00","modified_at":"2023-08-28T14:37:49.734465+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","headers":{},"url":"https://docs.datadoghq.com"},"setCookie":"","variables":[{"example":"7956","name":"MY_PATTERN_VAR","pattern":"{{numeric(4)}}","secure":false,"type":"text"}]},"message":"Notify
      @pagerduty","options":{"device_ids":["chrome.laptop_large","chrome.tablet"],"ignoreServerCertificateError":false,"disableCors":false,"disableCsp":false,"noScreenshot":false,"tick_every":1800,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":500},"monitor_options":{"renotify_interval":120},"ci":{"executionRule":"skipped"},"rumSettings":{"isEnabled":false},"enableProfiling":false,"enableSecurityTesting":false},"locations":["aws:eu-central-1"],"monitor_id":126283421,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}],"total":3}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v1/synthetics/tests?page_size=2&page_number=1
  response:
    body: '{"tests":[{"public_id":"p34-3up-y6p","name":"Example-Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response_1692944481","status":"live","type":"api","tags":["testing:api"],"created_at":"2023-08-25T06:21:21.640836+00:00","modified_at":"2023-08-25T06:21:21.640836+00:00","config":{"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesXPath","target":{"xPath":"target-xpath","targetValue":"0","operator":"contains"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"unique":"examplecreateanapihttptestreturnsokreturnsthecreatedtestdetailsresponse1692944481"},"method":"GET","timeout":10,"url":"https://datadoghq.com","proxy":{"url":"https://datadoghq.com","headers":{}},"basicAuth":{"accessTokenUrl":"https://datadog-token.com","audience":"audience","clientId":"client-id","clientSecret":"client-secret","resource":"resource","scope":"yoyo","tokenApiAuthentication":"header","type":"oauth-client"},"persistCookies":true}},"message":"BDD
      test payload: synthetics_api_http_test_payload.json","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Example-Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response_1692944481","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60,"httpVersion":"http2"},"locations":["aws:us-east-2"],"subtype":"http","monitor_id":130283608,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}],"total":3}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
