interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"atLeastOneElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesJSONSchema","target":{"jsonSchema":"{\"type\": \"object\", \"properties\":{\"slideshow\":{\"type\":\"object\"}}}","metaSchema":"draft-07"},"type":"body"},{"operator":"validatesXPath","target":{"operator":"contains","targetValue":"0","xPath":"target-xpath"},"type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"basicAuth":{"accessTokenUrl":"https://datadog-token.com","audience":"audience","clientId":"client-id","clientSecret":"client-secret","resource":"resource","scope":"yoyo","tokenApiAuthentication":"header","type":"oauth-client"},"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"unique":"testcreateamultisteptestwithsubtestreturnsokresponse1766762565"},"method":"GET","persistCookies":true,"proxy":{"headers":{},"url":"https://datadoghq.com"},"timeout":10,"url":"https://datadoghq.com"},"variablesFromScript":"dd.variable.set(\"FOO\", \"foo\")"},"locations":["aws:us-east-2"],"message":"BDD test payload: synthetics_api_http_test_payload.json","name":"Test-Create_a_multistep_test_with_subtest_returns_OK_response-1766762565","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"httpVersion":"http2","min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-Create_a_multistep_test_with_subtest_returns_OK_response-1766762565","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body: '{"public_id":"f8v-zk3-x5h","name":"Test-Create_a_multistep_test_with_subtest_returns_OK_response-1766762565","status":"live","type":"api","subtype":"http","tags":["testing:api"],"created_at":"2025-12-26T15:22:45.449340+00:00","modified_at":"2025-12-26T15:22:45.449340+00:00","config":{"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"atLeastOneElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"ty[...]
- request:
    body: |
      {"config":{"steps":[{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"name":"request is sent","request":{"basicAuth":{"password":"password","username":"username"},"method":"GET","url":"https://httpbin.org/status/200"},"subtype":"http"},{"name":"subtest step","subtestPublicId":"f8v-zk3-x5h","subtype":"playSubTest"}]},"locations":["aws:us-east-2"],"message":"BDD test payload: synthetics_api_test_multi_step_with_subtest.json","name":"Test-Create_a_multistep_test_with_subtest_returns_OK_response-1766762565","options":{"tick_every":60},"subtype":"multi","type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body: '{"public_id":"5kg-4fz-eh9","name":"Test-Create_a_multistep_test_with_subtest_returns_OK_response-1766762565","status":"live","type":"api","subtype":"multi","tags":[],"created_at":"2025-12-26T15:22:45.980687+00:00","modified_at":"2025-12-26T15:22:45.980687+00:00","config":{"steps":[{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"name":"request
      is sent","request":{"basicAuth":{"password":"password","username":"username"},"method":"GET","url":"https://httpbin.org/status/200"},"subtype":"http","id":"cyy-kz8-9b6"},{"name":"subtest
      step","subtestPublicId":"f8v-zk3-x5h","subtype":"playSubTest","id":"se7-rsj-k3p"}]},"message":"BDD
      test payload: synthetics_api_test_multi_step_with_subtest.json","options":{"tick_every":60},"locations":["aws:us-east-2"],"created_by":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com"},"deleted_at":null,"monitor_id":246774122,"org_id":321813,"modified_by":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"public_ids":["5kg-4fz-eh9"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"public_id":"5kg-4fz-eh9","deleted_at":"2025-12-26T15:22:46.386306+00:00"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"public_ids":["f8v-zk3-x5h"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"public_id":"f8v-zk3-x5h","deleted_at":"2025-12-26T15:22:46.982158+00:00"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
