interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","target":1000,"type":"responseTime"}],"request":{"method":"GET","url":"https://app.datadfoghq.com"}},"locations":["aws:eu-west-3"],"message":"Testing wrong DNS error","name":"Test-Get_an_API_test_result_returns_result_with_failure_object-1643638434","options":{"min_failure_duration":0,"min_location_failed":1,"monitor_options":{"renotify_interval":0},"tick_every":86400},"subtype":"http","tags":[],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body: '{"status":"live","public_id":"xgn-fta-kae","tags":[],"org_id":321813,"locations":["aws:eu-west-3"],"message":"Testing
      wrong DNS error","deleted_at":null,"name":"Test-Get_an_API_test_result_returns_result_with_failure_object-1643638434","monitor_id":62456205,"type":"api","created_at":"2022-01-31T14:13:55.301638+00:00","modified_at":"2022-01-31T14:13:55.301638+00:00","subtype":"http","config":{"request":{"url":"https://app.datadfoghq.com","method":"GET"},"assertions":[{"operator":"lessThan","type":"responseTime","target":1000}]},"options":{"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0},"tick_every":86400,"min_failure_duration":0,"min_location_failed":1}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"tests":[{"public_id":"xgn-fta-kae"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger
  response:
    body: '{"batch_id":null,"results":[{"result_id":"3511815218314776466","public_id":"xgn-fta-kae","location":32153}],"triggered_check_ids":["xgn-fta-kae"],"locations":[{"display_name":"Paris
      (AWS)","name":"aws:eu-west-3","region":"Europe","is_active":true,"is_public":true,"id":32153}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/synthetics/tests/xgn-fta-kae/results/3511815218314776466
  response:
    body: '{"status":1,"run_type":3,"check_time":1643638436045,"check_version":1,"result":{"subtype":"http","eventType":"finished","timings":{"total":37.3,"dns":2.1},"failure":{"message":"Error
      during DNS resolution (ENOTFOUND).","code":"DNS"},"mainDC":"us1.prod","passed":false,"error":"Error
      during DNS resolution (ENOTFOUND).","runType":3,"enrichment":{}},"probe_dc":"aws:eu-west-3","result_id":"3511815218314776466","check":{"type":"api","config":[...]
- request:
    body: |
      {"public_ids":["xgn-fta-kae"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"deleted_at":"2022-01-31T14:13:56.956611+00:00","public_id":"xgn-fta-kae"}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
