interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","target":1000,"type":"responseTime"}],"request":{"method":"GET","url":"https://app.datadfoghq.com"}},"locations":["aws:eu-west-3"],"message":"Testing wrong DNS error","name":"Test-Get_an_API_test_result_returns_result_with_failure_object-1644495858","options":{"min_failure_duration":0,"min_location_failed":1,"monitor_options":{"renotify_interval":0},"tick_every":86400},"subtype":"http","tags":[],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body: '{"status":"live","public_id":"ive-g7h-dgu","tags":[],"org_id":321813,"locations":["aws:eu-west-3"],"message":"Testing
      wrong DNS error","deleted_at":null,"name":"Test-Get_an_API_test_result_returns_result_with_failure_object-1644495858","monitor_id":63812392,"type":"api","created_at":"2022-02-10T12:24:19.316262+00:00","modified_at":"2022-02-10T12:24:19.316262+00:00","subtype":"http","config":{"request":{"url":"https://app.datadfoghq.com","method":"GET"},"assertions":[{"operator":"lessThan","type":"responseTime","target":1000}]},"options":{"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0},"tick_every":86400,"min_failure_duration":0,"min_location_failed":1}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"tests":[{"public_id":"ive-g7h-dgu"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger
  response:
    body: '{"batch_id":null,"results":[{"result_id":"990211588540730529","public_id":"ive-g7h-dgu","location":32153}],"triggered_check_ids":["ive-g7h-dgu"],"locations":[{"display_name":"Paris
      (AWS)","name":"aws:eu-west-3","region":"Europe","is_active":true,"is_public":true,"id":32153}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v1/synthetics/tests/ive-g7h-dgu/results/990211588540730529
  response:
    body: '{"status":1,"run_type":3,"check_time":1644495859933,"check_version":1,"result":{"subtype":"http","eventType":"finished","timings":{"total":45.8,"dns":14.5},"failure":{"message":"Error
      during DNS resolution of hostname app.datadfoghq.com (ENOTFOUND).","code":"DNS"},"mainDC":"us1.prod","passed":false,"error":"Error
      during DNS resolution (ENOTFOUND).","runType":3,"enrichment":{}},"probe_dc":"aws:eu-west-3","result_id":"990211588540730529","check":{"type":"api","config":[...]
- request:
    body: |
      {"public_ids":["ive-g7h-dgu"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"deleted_at":"2022-02-10T12:24:21.045390+00:00","public_id":"ive-g7h-dgu"}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
