interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/2yy-sem-mjh/results/5671719892074090418
  response:
    body: '{"status":0,"run_type":0,"check_time":1657823117511,"check_version":2,"result":{"runType":0,"browserType":"edge","eventType":"finished","stepDetails":[{"browserErrors":[],"vitalsMetrics":[{"url":"https://docs.datadoghq.com/","lcp":805.599,"cls":0.001}],"skipped":false,"description":"Navigate
      to start URL","warnings":[],"url":"about:blank","snapshotBucketKey":false,"value":"https://docs.datadoghq.com/","rumContext":{"sessionId":"058f89c5-df45-4ecd-ada4-3cebd80ded90","applicationId":"737d835c-601a-46c1-853a-1af59907cff5","viewId":"8eaade39-8793-436f-b7fb-2e74858e0583"},"duration":2254,"emailMessageBucketKeys":false,"allowFailure":false,"screenshotBucketKey":true,"isCritical":false,"type":"goToUrlAndMeasureTti","stepId":-1},{"browserErrors":[],"vitalsMetrics":[],"skipped":false,"publicId":"s9n-dfr-cfw","description":"Type
      text on input \"s\"","emailMessageBucketKeys":false,"url":"https://docs.datadoghq.com/","snapshotBucketKey":false,"value":"api","rumContext":{"sessionId":"058f89c5-df45-4ecd-ada4-3cebd80ded90","applicationId":"737d835c-601a-46c1-853a-1af59907cff5","viewId":"8eaade39-8793-436f-b7fb-2e74858e0583"},"duration":814,"allowFailure":false,"screenshotBucketKey":true,"isCritical":true,"type":"typeText","stepId":11943140},{"browserErrors":[],"vitalsMetrics":[{"url":"[...]
