interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","target":"message","type":"receivedMessage"},{"operator":"lessThan","target":2000,"type":"responseTime"}],"configVariables":[],"request":{"host":"https://datadoghq.com","message":"message","port":443}},"locations":["aws:us-east-2"],"message":"BDD test payload: synthetics_api_test_udp_payload.json","name":"Test-Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response-1733743084","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response-1733743084","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"udp","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body: '{"public_id":"dxe-93y-pxq","name":"Test-Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response-1733743084","status":"live","type":"api","subtype":"udp","tags":["testing:api"],"created_at":"2024-12-09T11:18:05.244429+00:00","modified_at":"2024-12-09T11:18:05.244429+00:00","config":{"assertions":[{"operator":"is","target":"message","type":"receivedMessage"},{"operator":"lessThan","target":2000,"type":"responseTime"}],"configVariables":[],"request":{"host":"https://datadoghq.com","message":"message","port":443}},"message":"BDD
      test payload: synthetics_api_test_udp_payload.json","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response-1733743084","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"locations":["aws:us-east-2"],"created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":159881036,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"public_ids":["dxe-93y-pxq"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"public_id":"dxe-93y-pxq","deleted_at":"2024-12-09T11:18:06.180879+00:00"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
