interactions:
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"locations":["aws:us-east-2"],"message":"Test message","name":"Test-Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_r-1706264425","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":2,"interval":10},"scheduling":{"timeframes":[{"day":1,"from":"07:00","to":"16:00"},{"day":3,"from":"07:00","to":"16:00"}],"timezone":"America/New_York"},"tick_every":300},"steps":[{"allowFailure":false,"isCritical":true,"name":"Refresh page","params":{},"type":"refresh"}],"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
  response:
    body: '{"public_id":"un5-mtk-j4v","name":"Test-Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_r-1706264425","status":"paused","type":"browser","tags":["testing:browser"],"created_at":"2024-01-26T10:20:25.632372+00:00","modified_at":"2024-01-26T10:20:25.632372+00:00","config":{"assertions":[],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"message":"Test
      message","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":2,"interval":10},"scheduling":{"timeframes":[{"day":1,"from":"07:00","to":"16:00"},{"day":3,"from":"07:00","to":"16:00"}],"timezone":"America/New_York"},"tick_every":300},"locations":["aws:us-east-2"],"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":138446064,"org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[{"name":"Refresh
      page","params":{},"type":"refresh","allowFailure":false,"isCritical":true}],"stepCount":{"assertions":0,"subtests":0,"total":1}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"public_ids":["un5-mtk-j4v"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"public_id":"un5-mtk-j4v","deleted_at":"2024-01-26T10:20:26.205695+00:00"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
