interactions:
- id: 0
  request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","secure":true,"type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test","variables":[{"example":"secret","name":"TEST_VARIABLE","pattern":"secret","secure":true,"type":"text"}]},"locations":["aws:us-east-2"],"message":"Test message","name":"Test-Create_a_browser_test_returns_OK_Returns_the_created_test_details_response-1684335519","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"tick_every":300},"steps":[{"allowFailure":false,"isCritical":true,"name":"Refresh page","params":{},"type":"refresh"}],"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
  response:
    body: '{"public_id":"mwh-zx5-9qv","name":"Test-Create_a_browser_test_returns_OK_Returns_the_created_test_details_response-1684335519","status":"paused","type":"browser","tags":["testing:browser"],"created_at":"2023-05-17T14:58:40.195477+00:00","modified_at":"2023-05-17T14:58:40.195477+00:00","config":{"assertions":[],"configVariables":[{"name":"PROPERTY","secure":true,"type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test","variables":[{"name":"TEST_VARIABLE","secure":true,"type":"text"}]},"message":"Test
      message","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"tick_every":300},"locations":["aws:us-east-2"],"deleted_at":null,"monitor_id":119298217,"org_id":321813,"steps":[{"name":"Refresh
      page","params":{},"type":"refresh","allowFailure":false,"isCritical":true}]}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"public_ids":["mwh-zx5-9qv"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"public_id":"mwh-zx5-9qv","deleted_at":"2023-05-17T14:58:40.497772+00:00"}]}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
