interactions:
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"locations":["aws:us-east-2"],"message":"Test message","name":"Test-Create_a_browser_test_returns_OK_Returns_the_created_test_details_response-1637917237","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
  response:
    body: '{"status":"paused","public_id":"b5z-q4p-q56","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Test
      message","deleted_at":null,"name":"Test-Create_a_browser_test_returns_OK_Returns_the_created_test_details_response-1637917237","monitor_id":55708825,"type":"browser","created_at":"2021-11-26T09:00:37.572914+00:00","modified_at":"2021-11-26T09:00:37.572914+00:00","config":{"setCookie":"name:test","request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"noScreenshot":true,"disableCors":true,"device_ids":["tablet"],"tick_every":300}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '23'
    status: 200 OK
- request:
    body: |
      {"public_ids":["b5z-q4p-q56"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-11-26T09:00:37.991398+00:00","public_id":"b5z-q4p-q56"}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '23'
    status: 200 OK
version: 1
