interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/synthetics/tests/hwb-332-3xe/results
  response:
    body: '{"last_timestamp_fetched":1657814887000,"results":[{"status":0,"check_time":1657823827021,"check_version":1,"result":{"tunnel":false,"errorMessage":null,"timings":{"firstByte":21.9,"tcp":2.2,"ssl":16.6,"dns":43.6,"download":0.2,"total":84.5},"passed":true,"runType":0},"probe_dc":"aws:us-west-1","result_id":"2147451725290613856"},{"status":0,"check_time":1657823767022,"check_version":1,"result":{"tunnel":false,"errorMessage":null,"timings":{"firstByte":21.1,"tcp":2.4,"ssl":17.3,"dns":2.7,"download":0.2,"total":43.7},"passed":true,"runType":0},"probe_dc":"aws:us-west-1","result_id":"2736918053597593363"},{"status":0,"check_time":1657823707022,"check_version":1,"result":{"tunnel":false,"errorMessage":null,"timings":{"firstByte":19.3,"tcp":1.9,"ssl":17.6,"dns":10.6,"download":0.2,"total":49.6},"passed[...]
