interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/csm/onboarding/agents
  response:
    body: '{"data":[{"id":"f3087801a44eba3c2ea706e873aee9e4","type":"datadog_agent","attributes":{"agent_version":"7.59.1","aws_fargate":"","cluster_name":[""],"ecs_fargate_task_arn":"","envs":["pcf-vane-3512666"],"host_id":29630727754,"hostname":"datadog-cluster-agent-0-af63a3e6-4a25-4def-83a4-8754d185b3ef","install_method_installer_version":"","install_method_tool":"undefined","is_csm_vm_containers_enabled":false,"is_csm_vm_hosts_enabled":false,"is_cspm_enabled":false,"is_cws_enabled":false,"is_cws_remote_configuration_enabled":true,"is_remote_configuration_enabled":true,"os":"GNU/Linux"}},{"id":"d66d3bc7b9d4273183431b501ef33d86","type":"datadog_agent","attributes":{"agent_version":"7.59.1","aws_fargate":"","cluster_name":[""],"ecs_fargate_task_arn":"","envs":["pcf-vane-3512666"],"host_id":29623236313,"hostname":"database-0-e7b70a7b-4199-4920-a8e3-62f221819522","install_method_installer_version":"","install_method_tool":"undefined","is_csm_vm_containers_enabled":false,"is_csm_vm_hosts_enabled":false,"is_cspm_enabled":false,"is_cws_enabled":false,"is_cws_remote_config[...]
