---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Create_role_leading_to_OK-local-1593452297"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"513a9388-ba2f-11ea-9c6a-2f200d1da678","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Create_role_leading_to_OK-local-1593452297","created_at":"2020-06-29T17:38:17.723668+00:00","modified_at":"2020-06-29T17:38:17.723668+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - XrVF9iGOfdATIczLJsCTqr1ORVJWAydZm12oLZRyDN+lGe5bU8VekbcSMjJ2fj90
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
