interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/containers?group_by=short_image
  response:
    body: '{"data": [{"type": "container_group", "id": "test_id", "attributes": {"count":
      123, "tags": {"short_image": "test_short_image"}}, "relationships": {"containers":
      {"links": {"related": "test_related"}, "data": []}}}, {"type": "container_group",
      "id": "test_id", "attributes": {"count": 1, "tags": {"short_image": "test_short_image"}},
      "relationships": {"containers": {"links": {"related": "test_related"}, "data":
      []}}}, {"type": "container_group", "id": "test_id", "attributes": {"count":
      1, "tags": {"short_image": "test_short_image"}}, "relationships": {"containers":
      {"links": {"related": "test_related"}, "data": []}}}, {"type": "container_group",
 [...]
