interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/containers
  response:
    body: '{"data":[{"type":"container","id":"15e90400bf66f26f4e7d3098406c30e11e2bc921","attributes":{"name":"test_name","created_at":"2023-10-12T13:46:51","started_at":"2023-10-12T13:46:51","state":"running","container_id":"22f5bcc1-492a-435c-6d45-889e","host":"compute-0-6c2718cc-dfd1-4768-9237-08132d11122f","image_name":"","image_tags":null,"image_digest":null,"tags":["app_guid:c3e77ef9-1248-4ef8-aa75-9bf063ad1512","app_id:c3e77ef9-1248-4ef8-aa75-9bf063ad1512","app_instance_guid:22f5bcc1-492a-435c-6d45-889e","app_instance_index:0","app_name:go-sample-app-modebeige","bosh_address:10.0.4.8","bosh_az:us-central1-f","bosh_deployment:cf-df4d3b7647b663c19610","bosh_id:6c2718cc-dfd1-4768-9237-08132d11122f","bosh_index:0","bosh_ip:10.0.4.8","bosh_job:compute","bosh_name:compute","cf-df4d3b7647b663c19610","cf-df4d3b7647b663c19610-compute","cloudfoundry","compute","co[...]
