interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"27b9bda2-c2e1-46ae-9dea-bfad4fcd5000","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131","created_at":"2022-05-12T09:52:12.071707+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131-updated"},"id":"27b9bda2-c2e1-46ae-9dea-bfad4fcd5000","type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/application_keys/27b9bda2-c2e1-46ae-9dea-bfad4fcd5000
  response:
    body: '{"data":{"type":"application_keys","id":"27b9bda2-c2e1-46ae-9dea-bfad4fcd5000","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131-updated","created_at":"2022-05-12T09:52:12.071707+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/27b9bda2-c2e1-46ae-9dea-bfad4fcd5000
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
