interactions:
- request:
    body: |
      {"data":{"type":"api_keys","attributes":{"name":"Test-Create_an_API_key_returns_Created_response-1639757110"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-12-17T16:05:11.162599+00:00","key":"dead4087c6b3d1ae4b5e22e77a98beef","last4":"beef","modified_at":"2021-12-17T16:05:11.162599+00:00","name":"Test-Create_an_API_key_returns_Created_response-1639757110"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"b4826cba-c36e-5bb0-b789-a40a81b4acfa"}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/b4826cba-c36e-5bb0-b789-a40a81b4acfa
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
