interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1757323488"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"0292830c-dde3-4e62-a568-573e4be65dff","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1757323488","created_at":"2025-09-08T09:24:48.499395+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/application_keys/0292830c-dde3-4e62-a568-573e4be65dff
  response:
    body: '{"data":{"type":"application_keys","id":"0292830c-dde3-4e62-a568-573e4be65dff","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1757323488","created_at":"2025-09-08T09:24:48.499395+00:00","last4":"xxxx","scopes":null,"last_used_at":null},"relationships":{"owned_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"leak_information":{"data":null}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/0292830c-dde3-4e62-a568-573e4be65dff
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
