interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":[{"type":"application_keys","id":"fdcdec64-ca51-4208-a259-0405192c6447","attributes":{"name":"1PASSWORD_SHARED","created_at":"2023-10-03T19:27:33.054116+00:00","last4":"xxxx","scopes":null},"relationships":{"leak_information":{"data":null}}},{"type":"application_keys","id":"95f088d2-cd5f-4aaa-920d-95a87f5ebd3d","attributes":{"name":"datadogpy
      gh","created_at":"2023-05-31T17:27:38.214284+00:00","last4":"xxxx","scopes":null},"relationships":{"leak_information":{"data":null}}},{"type":"application_keys","id":"30b6d66c-d9c9-4d17-a52c-47a46409899d","attributes":{"name":"Example-Get_all_Application_keys_returns_OK_response_1692972923","created_at":"2023-08-25T14:15:23.703248+00:00","last4":"xxxx","scopes":null},"rela[...]
