interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_API_key_returns_OK_response-1641829847"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T15:50:47.833005+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T15:50:47.833005+00:00","name":"Test-Edit_an_API_key_returns_OK_response-1641829847"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"862954ff-e39e-49b6-bbe4-7983c94024fd"}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_API_key_returns_OK_response-1641829847"},"id":"862954ff-e39e-49b6-bbe4-7983c94024fd","type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/api_keys/862954ff-e39e-49b6-bbe4-7983c94024fd
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T15:50:47.833005+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T15:50:47.833005+00:00","name":"Test-Edit_an_API_key_returns_OK_response-1641829847"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"862954ff-e39e-49b6-bbe4-7983c94024fd"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/862954ff-e39e-49b6-bbe4-7983c94024fd
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
