interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1641829855"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"6abb4aad-629b-4a90-9259-fca22d3a8a99","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1641829855","created_at":"2022-01-10T15:50:55.804516+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/application_keys/6abb4aad-629b-4a90-9259-fca22d3a8a99
  response:
    body: '{"data":{"type":"application_keys","id":"6abb4aad-629b-4a90-9259-fca22d3a8a99","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1641829855","created_at":"2022-01-10T15:50:55.804516+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/6abb4aad-629b-4a90-9259-fca22d3a8a99
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
