interactions:
- request:
    body: |
      {"data":{"type":"application_keys","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"cc3a2cdd-7a8c-492f-a13a-3aa7c616567b","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111","created_at":"2021-12-17T16:05:12.186569+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/cc3a2cdd-7a8c-492f-a13a-3aa7c616567b
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
