interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1652349139"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"17d9fa70-2830-450c-904b-0720d93722a9","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1652349139","created_at":"2022-05-12T09:52:20.054892+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/application_keys/17d9fa70-2830-450c-904b-0720d93722a9
  response:
    body: '{"data":{"type":"application_keys","id":"17d9fa70-2830-450c-904b-0720d93722a9","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1652349139","created_at":"2022-05-12T09:52:20.054892+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/17d9fa70-2830-450c-904b-0720d93722a9
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
