interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"b1976d62-4147-4540-a98a-42c555dd500c","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118","created_at":"2021-12-17T16:05:19.263508+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '391'
      X-Ratelimit-Reset:
      - '3281'
    status: 201 Created
- request:
    body: |
      {"data":{"id":"b1976d62-4147-4540-a98a-42c555dd500c","type":"application_keys","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118-updated"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/b1976d62-4147-4540-a98a-42c555dd500c
  response:
    body: '{"data":{"type":"application_keys","id":"b1976d62-4147-4540-a98a-42c555dd500c","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118-updated","created_at":"2021-12-17T16:05:19.263508+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '390'
      X-Ratelimit-Reset:
      - '3281'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/b1976d62-4147-4540-a98a-42c555dd500c
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '389'
      X-Ratelimit-Reset:
      - '3280'
    status: 204 No Content
version: 1
