interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1641829845"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"c53ad88a-fa82-405a-a93f-b3ca62b1f118","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1641829845","created_at":"2022-01-10T15:50:46.150049+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/c53ad88a-fa82-405a-a93f-b3ca62b1f118
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
