interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1641829849"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"ec7cc04a-a69f-4af5-a13e-9d10661a52ca","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1641829849","created_at":"2022-01-10T15:50:50.276406+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1641829849-updated"},"id":"ec7cc04a-a69f-4af5-a13e-9d10661a52ca","type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/application_keys/ec7cc04a-a69f-4af5-a13e-9d10661a52ca
  response:
    body: '{"data":{"type":"application_keys","id":"ec7cc04a-a69f-4af5-a13e-9d10661a52ca","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1641829849-updated","created_at":"2022-01-10T15:50:50.276406+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/ec7cc04a-a69f-4af5-a13e-9d10661a52ca
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
