interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1652349121"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"e1441667-cea7-4d53-85a8-7c7ea6191b2e","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1652349121","created_at":"2022-05-12T09:52:01.912193+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/e1441667-cea7-4d53-85a8-7c7ea6191b2e
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
