interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_application_key_for_current_user_returns_Created_response-1697464548"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"513684db-d430-45bd-8239-0715320c9488","attributes":{"name":"Test-Create_an_application_key_for_current_user_returns_Created_response-1697464548","created_at":"2023-10-16T13:55:49.254647+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/513684db-d430-45bd-8239-0715320c9488
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
