interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_API_key_returns_OK_response-1639757117"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-12-17T16:05:17.966485+00:00","key":"dead4087c6b3d1ae4b5e22e77a98beef","last4":"beef","modified_at":"2021-12-17T16:05:17.966485+00:00","name":"Test-Edit_an_API_key_returns_OK_response-1639757117"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"cb7af5ff-e3ed-53a2-b519-eae7c2b47468"}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"type":"api_keys","id":"cb7af5ff-e3ed-53a2-b519-eae7c2b47468","attributes":{"name":"Test-Edit_an_API_key_returns_OK_response-1639757117"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/api_keys/cb7af5ff-e3ed-53a2-b519-eae7c2b47468
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-12-17T16:05:17.966485+00:00","key":"dead4087c6b3d1ae4b5e22e77a98beef","last4":"beef","modified_at":"2021-12-17T16:05:17.966485+00:00","name":"Test-Edit_an_API_key_returns_OK_response-1639757117"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"cb7af5ff-e3ed-53a2-b519-eae7c2b47468"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/cb7af5ff-e3ed-53a2-b519-eae7c2b47468
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
