interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_API_key_returns_No_Content_response-1641826582"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T14:56:22.680333+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T14:56:22.680333+00:00","name":"Test-Delete_an_API_key_returns_No_Content_response-1641826582"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"d50a8a66-3864-493c-8808-903141a7faac"}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/d50a8a66-3864-493c-8808-903141a7faac
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/d50a8a66-3864-493c-8808-903141a7faac
  response:
    body: '{"errors": ["API key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
