interactions:
- request:
    body: |
      {"data":{"attributes":{"expires_at":"2027-04-08T16:45:59.540Z","name":"Test-Update_a_personal_access_token_returns_OK_response-1775666759","scopes":["dashboards_read"]},"type":"personal_access_tokens"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/personal_access_tokens
  response:
    body: '{"data":{"id":"7d2c1007-41f2-482e-8ee8-a4dab4a5369e","type":"personal_access_tokens","attributes":{"created_at":"2026-04-08T16:45:59.640614886Z","expires_at":"2027-04-08T16:45:59.54Z","key":"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","name":"Test-Update_a_personal_access_token_returns_OK_response-1775666759","public_portion":"3oCB0TOwLiDNpTdO6FYPq2","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_personal_access_token_returns_OK_response-1775666759-updated"},"id":"7d2c1007-41f2-482e-8ee8-a4dab4a5369e","type":"personal_access_tokens"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/personal_access_tokens/7d2c1007-41f2-482e-8ee8-a4dab4a5369e
  response:
    body: '{"data":{"id":"7d2c1007-41f2-482e-8ee8-a4dab4a5369e","type":"personal_access_tokens","attributes":{"created_at":"2026-04-08T16:45:59.640614Z","expires_at":"2027-04-08T16:45:59.54Z","last_used_at":null,"modified_at":"2026-04-08T16:45:59.747202Z","name":"Test-Update_a_personal_access_token_returns_OK_response-1775666759-updated","public_portion":"3oCB0TOwLiDNpTdO6FYPq2","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/personal_access_tokens/7d2c1007-41f2-482e-8ee8-a4dab4a5369e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
