interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1640128021","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"1cf08b29-b3ee-4b6a-a6fb-3f452b8bc371","attributes":{"name":"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1640128021","created_at":"2021-12-21T23:07:02.147605+00:00","last4":"beef","key":"dead937e0ace336ee45ed445a174fb065953beef","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '3178'
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/1cf08b29-b3ee-4b6a-a6fb-3f452b8bc371
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '398'
      X-Ratelimit-Reset:
      - '3178'
    status: 204 No Content
version: 1
