interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"30170613-5282-40db-83ae-232895165192","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129","created_at":"2022-05-12T09:52:10.475750+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129-updated"},"id":"30170613-5282-40db-83ae-232895165192","type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/30170613-5282-40db-83ae-232895165192
  response:
    body: '{"data":{"type":"application_keys","id":"30170613-5282-40db-83ae-232895165192","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129-updated","created_at":"2022-05-12T09:52:10.475750+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/30170613-5282-40db-83ae-232895165192
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
