interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1641826583"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"8c0eeda4-0be7-4ff3-a84f-d107adc6345c","attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1641826583","created_at":"2022-01-10T14:56:24.051310+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/8c0eeda4-0be7-4ff3-a84f-d107adc6345c
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/8c0eeda4-0be7-4ff3-a84f-d107adc6345c
  response:
    body: '{"errors": ["Application key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
