interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_API_key_returns_OK_response-1757323482"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2025-09-08T09:24:42.999350+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2025-09-08T09:24:42.999350+00:00","remote_config_read_enabled":true,"category":"default","name":"Test-Get_API_key_returns_OK_response-1757323482"},"relationships":{"created_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"modified_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"leak_information":{"data":null}},"id":"9286a10e-fe08-48ba-9884-8e26e7e67695"}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/api_keys/9286a10e-fe08-48ba-9884-8e26e7e67695
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2025-09-08T09:24:42.999351+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2025-09-08T09:24:42.999351+00:00","remote_config_read_enabled":true,"category":"default","name":"Test-Get_API_key_returns_OK_response-1757323482","date_last_used":null,"used_in_last_24_hours":false,"last_used_date":{"timestamp":null,"description":"Timestamp
      of when this key was last used in the past ninety (90) days, null if no recent
      usage"}},"relationships":{"created_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"modified_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"leak_information":{"data":null}},"id":"9286a10e-fe08-48ba-9884-8e26e7e67695"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/9286a10e-fe08-48ba-9884-8e26e7e67695
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
