interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1639757116"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"e3eabfec-bbd9-4438-8329-c679d64c01f5","attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1639757116","created_at":"2021-12-17T16:05:16.663471+00:00","last4":"17b2","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/application_keys/e3eabfec-bbd9-4438-8329-c679d64c01f5
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/e3eabfec-bbd9-4438-8329-c679d64c01f5
  response:
    body: '{"errors": ["Application key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
