interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_all_application_keys_returns_OK_response-1697462916"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"6104cd8c-fb93-4799-b2f9-6bc65effe94b","attributes":{"name":"Test-Get_all_application_keys_returns_OK_response-1697462916","created_at":"2023-10-16T13:28:36.659625+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/application_keys
  response:
    body: '{"data":[{"type":"application_keys","id":"fdcdec64-ca51-4208-a259-0405192c6447","attributes":{"name":"1PASSWORD_SHARED","created_at":"2023-10-03T19:27:33.054116+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}},{"type":"application_[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/6104cd8c-fb93-4799-b2f9-6bc65effe94b
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
