interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_application_key_owned_by_current_user_returns_No_Content_response-1697466191"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"be94f6b2-1704-4126-a898-94d65f6f28d8","attributes":{"name":"Test-Delete_an_application_key_owned_by_current_user_returns_No_Content_response-1697466191","created_at":"2023-10-16T14:23:12.034758+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/be94f6b2-1704-4126-a898-94d65f6f28d8
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/be94f6b2-1704-4126-a898-94d65f6f28d8
  response:
    body: '{"errors":["Application key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
