interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_all_Application_keys_returns_OK_response-1641829854"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"ef21234e-4593-402a-9d2c-c74f365ad331","attributes":{"name":"Test-Get_all_Application_keys_returns_OK_response-1641829854","created_at":"2022-01-10T15:50:54.691829+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/application_keys
  response:
    body: '{"meta":{"page":{"total_filtered_count":21},"max_allowed_per_user":1000},"data":[{"type":"application_keys","id":"109352f1-8828-5305-8e07-f9224517a443","attributes":{"name":"1PASSWD_SHARED","created_at":"2021-04-15T14:20:28.940731+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},{"type":"application_keys","id":"2e7607a6-0589-506d-a2eb-031267b12758","attributes":{"name":"datadog-api-client-go
      azp","created_at":"2021-04-15T15:51:25.012740+00:00","last4":"xxxx","scopes":n[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/ef21234e-4593-402a-9d2c-c74f365ad331
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
