interactions:
- request:
    body: |
      {"data":{"attributes":{"expires_at":"2027-04-08T16:46:16.639Z","name":"Test-Get_all_personal_access_tokens_returns_OK_response-1775666776","scopes":["dashboards_read"]},"type":"personal_access_tokens"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/personal_access_tokens
  response:
    body: '{"data":{"id":"35ef7728-4761-41dd-8a7b-f1112a26f840","type":"personal_access_tokens","attributes":{"created_at":"2026-04-08T16:46:16.769979863Z","expires_at":"2027-04-08T16:46:16.639Z","key":"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","name":"Test-Get_all_personal_access_tokens_returns_OK_response-1775666776","public_portion":"1dm1op4lL89nV8pt94Tdk8","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/personal_access_tokens
  response:
    body: '{"data":[{"id":"61c07794-df2a-4403-a6ad-caa6bb70dae2","type":"personal_access_tokens","attributes":{"created_at":"2026-04-08T08:58:54.688182Z","expires_at":"2026-04-09T08:58:54Z","last_used_at":"2026-04-08T08:58:55.302839705Z","name":"dd_auth_cli-DhhOC4JHLtgPkfDr6DEXUcTL79UOCx1w2ENxgmIHh7w","public_portion":"2ySDERb6wx1YqV1udJl61q","scopes":["admin","standard","logs_read_index_data","logs_modify_indexes","logs_live_tail","logs_write_exclusion_filters","logs_write_pipelines","logs_write_processors","logs_write_archives","logs_generate_metrics","dashboards_read","dashboards_write","dashboards_public_share","monitors_read","monitors_write","monitors_downtime","logs_read_data","logs_read_a[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/personal_access_tokens/35ef7728-4761-41dd-8a7b-f1112a26f840
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
