interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_one_application_key_owned_by_current_user_returns_OK_response-1700834508"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"1a964549-1d7f-475c-9691-323ad546cc23","attributes":{"name":"Test-Get_one_application_key_owned_by_current_user_returns_OK_response-1700834508","created_at":"2023-11-24T14:01:49.100734+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/1a964549-1d7f-475c-9691-323ad546cc23
  response:
    body: '{"data":{"type":"application_keys","id":"1a964549-1d7f-475c-9691-323ad546cc23","attributes":{"name":"Test-Get_one_application_key_owned_by_current_user_returns_OK_response-1700834508","created_at":"2023-11-24T14:01:49.100734+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[{"type":"roles","id":"667cbd82-c7d1-11ec-aad8-da7ad0900002"},{"type":"roles","id":"94172442-be03-11e9-a77a-3b7612558ac1"}]}}},{"type":"roles","id":"667cbd82-c7d1-11ec-aad8-da7ad0900002","attributes":{"name":"abc","created_at":"2022-04-29T15:31:12.318318+00:00","modified_at":"2022-04-29T15:31:12.389973+00:00"}},{"type":"roles","id":"94172442-be03-11e9-a77a-3b7612558ac1","attributes":{"name":"Datadog
      Admin Role","created_at":"2019-08-13T19:50:19.022791+00:00","modified_at":"2019-08-13T19:50:19.022791+00:00"}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/1a964549-1d7f-475c-9691-323ad546cc23
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
