interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1639757125"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"9a0b1595-cd54-43d6-bcf6-3236010954ee","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1639757125","created_at":"2021-12-17T16:05:26.376982+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/application_keys/9a0b1595-cd54-43d6-bcf6-3236010954ee
  response:
    body: '{"data":{"type":"application_keys","id":"9a0b1595-cd54-43d6-bcf6-3236010954ee","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1639757125","created_at":"2021-12-17T16:05:26.376982+00:00","last4":"beef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/9a0b1595-cd54-43d6-bcf6-3236010954ee
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
