interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_API_key_returns_No_Content_response-1639757112"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-12-17T16:05:13.148121+00:00","key":"dead4087c6b3d1ae4b5e22e77a98beef","last4":"beef","modified_at":"2021-12-17T16:05:13.148121+00:00","name":"Test-Delete_an_API_key_returns_No_Content_response-1639757112"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"bfcf6fe3-50b7-5110-bb8c-e8d018318214"}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/bfcf6fe3-50b7-5110-bb8c-e8d018318214
  response:
    body: ''
    code: 204
    duration: ''
    headers:
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/bfcf6fe3-50b7-5110-bb8c-e8d018318214
  response:
    body: '{"errors": ["API key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
