interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_API_key_returns_OK_response-1641829851"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T15:50:51.533345+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T15:50:51.533345+00:00","name":"Test-Get_API_key_returns_OK_response-1641829851"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"686482bd-15ff-4772-b044-11bf283de878"}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/api_keys/686482bd-15ff-4772-b044-11bf283de878
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T15:50:51.533345+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T15:50:51.533345+00:00","name":"Test-Get_API_key_returns_OK_response-1641829851"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"686482bd-15ff-4772-b044-11bf283de878"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/686482bd-15ff-4772-b044-11bf283de878
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
