interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1641829846","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"aa974b16-31b0-4f3b-956d-8af3445eddbc","attributes":{"name":"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1641829846","created_at":"2022-01-10T15:50:46.973085+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/aa974b16-31b0-4f3b-956d-8af3445eddbc
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
