interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"82a1a46d-7acc-4fcd-a448-c5993752640a","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120","created_at":"2021-12-17T16:05:20.518462+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"id":"82a1a46d-7acc-4fcd-a448-c5993752640a","type":"application_keys","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120-updated"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/application_keys/82a1a46d-7acc-4fcd-a448-c5993752640a
  response:
    body: '{"data":{"type":"application_keys","id":"82a1a46d-7acc-4fcd-a448-c5993752640a","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120-updated","created_at":"2021-12-17T16:05:20.518462+00:00","last4":"beef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/82a1a46d-7acc-4fcd-a448-c5993752640a
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
