interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1652349126"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"d2653524-a474-460c-a7c7-75073e8aa1fa","attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1652349126","created_at":"2022-05-12T09:52:07.427090+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/application_keys/d2653524-a474-460c-a7c7-75073e8aa1fa
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/d2653524-a474-460c-a7c7-75073e8aa1fa
  response:
    body: '{"errors": ["Application key not found"]}'
    code: 404
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
