interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":[{"type":"application_keys","id":"e177e012-5179-4275-ad0e-397d53348ee5","attributes":{"name":"catdog-sync
      service","created_at":"2025-08-06T14:21:34.802872+00:00","last4":"xxxx","scopes":null,"last_used_at":"2025-08-28T16:53:56.678679+00:00"},"relationships":{"leak_information":{"data":null}}},{"type":"application_keys","id":"50107ecc-d7af-4a88-9d95-a37bd20ce503","attributes":{"name":"datadog-api-client-go
      DD_CLIENT_API_KEY","created_at":"2025-04-30T22:10:30.959154+00:00","last4":"xxxx","scopes":null,"last_used_at":"2025-09-08T00:25:13.718317+00:00"},"relationships":{"leak_information":{"data":null}}},{"type":"application_keys","id":"d6ffc751-80f9-4933-ba74-ac6d23509a6f","attributes":{"name":"datadog-api-client-java
      DD_CLIENT_APP_KEY","created_at":"2025-05-[...]
