interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_API_key_returns_OK_response-1652349128"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/api_keys
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-05-12T09:52:08.958834+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-05-12T09:52:08.958834+00:00","name":"Test-Edit_an_API_key_returns_OK_response-1652349128"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}},"id":"929dfb7c-2309-46b4-bdfe-998dc339f2db"}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_API_key_returns_OK_response-1652349128"},"id":"929dfb7c-2309-46b4-bdfe-998dc339f2db","type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/api_keys/929dfb7c-2309-46b4-bdfe-998dc339f2db
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-05-12T09:52:08.958834+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-05-12T09:52:08.958834+00:00","name":"Test-Edit_an_API_key_returns_OK_response-1652349128"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}},"id":"929dfb7c-2309-46b4-bdfe-998dc339f2db"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/api_keys/929dfb7c-2309-46b4-bdfe-998dc339f2db
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
