interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1652349125"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"c1469afb-30e6-4b63-81ab-4ba8436e5150","attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1652349125","created_at":"2022-05-12T09:52:05.932111+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/c1469afb-30e6-4b63-81ab-4ba8436e5150
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/c1469afb-30e6-4b63-81ab-4ba8436e5150
  response:
    body: '{"errors": ["Application key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
