interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_all_application_keys_returns_OK_response-1757323486"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"d516f4ec-0722-488c-9500-2d812b93d9b9","attributes":{"name":"Test-Get_all_application_keys_returns_OK_response-1757323486","created_at":"2025-09-08T09:24:46.992326+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/application_keys
  response:
    body: '{"data":[{"type":"application_keys","id":"fdcdec64-ca51-4208-a259-0405192c6447","attributes":{"name":"1PASSWORD_SHARED","created_at":"2023-10-03T19:27:33.054116+00:00","last4":"xxxx","scopes":null,"last_used_at":"2025-09-06T19:03:18.487091+00:00"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}},{"type":"application_keys","id":"9b71ae71-2999-45b8-a22c-22ec0ceabae7","attributes":{"name":"Action
      Platform Scoped","created_at":"2024-12-11T20:38:37.215071+00:00","last4":"xxxx","scopes":["connections_read","connections_write"],"last_used_at":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/d516f4ec-0722-488c-9500-2d812b93d9b9
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
