interactions:
- request:
    body: |
      {"data":{"attributes":{"rum":{"default_privacy_level":"mask","enable_privacy_for_action_name":true,"session_replay_sample_rate":20,"session_sample_rate":75}},"id":"aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa","type":"rum_sdk_config"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PUT
    url: https://api.datadoghq.com/api/v2/remote_config/products/rum/configs/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
  response:
    body: '{"errors":[{"title":"Forbidden"}]}

      '
    code: 403
    duration: 0ms
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status: 403 Forbidden
version: 2
