interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"46940f15b5dcfa5b","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"5495fa79-fc9e-44cb-a8ef-dfc7be629e87","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e1fb0fdf-8523-4636-a6a6-0f6867273a15","name":"Application","type":"group","position":0,"components":[{"id":"62baea3f-f4fa-46c1-be01-dce9eab7156a","name":"Login","type":"component","status":"operational","position":0},{"id":"465fe00b-7b35-4ca6-b132-e27dc311fb69","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:04.703972Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"46940f15b5dcfa5b","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:04.703972Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/5495fa79-fc9e-44cb-a8ef-dfc7be629e87/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"completed_date":"2026-03-31T20:44:04.615Z","completed_description":"We have completed maintenance on the API to improve performance.","components_affected":[{"id":"62baea3f-f4fa-46c1-be01-dce9eab7156a","status":"operational"}],"in_progress_description":"We are currently performing maintenance on the API to improve performance.","scheduled_description":"We will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:44:04.615Z","title":"API Maintenance"},"type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/5495fa79-fc9e-44cb-a8ef-dfc7be629e87/maintenances
  response:
    body: '{"data":{"id":"ca51ee9c-ab27-496d-94b0-b57814d8bc0a","type":"maintenances","attributes":{"completed_date":"2026-03-31T20:44:04.615Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"62baea3f-f4fa-46c1-be01-dce9eab7156a","name":"Login","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","modified_at":"2026-03-31T18:44:05.32151Z","published_date":"2026-03-31T18:44:05.32151Z","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:44:04.615Z","status":"scheduled","title":"API
      Maintenance","updates":[{"id":"81e0134c-091b-405e-9525-f7645a4b0914","created_at":"2026-03-31T18:44:05.32151Z","modified_at":"2026-03-31T18:44:05.32151Z","started_at":"2026-03-31T18:44:05.32151Z","manual_transition":false,"status":"scheduled","description":"We
      will be performing maintenance on the API to improve performance.","components_affected":[{"id":"62baea3f-f4fa-46c1-be01-dce9eab7156a","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"5495fa79-fc9e-44cb-a8ef-dfc7be629e87","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/maintenances
  response:
    body: '{"data":[{"id":"f286de7d-136f-4fdc-8e86-4d0777e3e21f","type":"maintenances","attributes":{"completed_date":"2026-02-19T17:13:22.043Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"77170b9e-5e63-4ddb-9a0b-93e271e530ba","name":"Login","status":"operationa[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/5495fa79-fc9e-44cb-a8ef-dfc7be629e87
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
