interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"548d613d250b70a4","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"04007915-421d-42c4-aaf1-34b8ad64c5ac","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"75689f7b-8c51-424a-a30d-97c7b307b0c6","name":"Application","type":"group","position":0,"components":[{"id":"971d2754-0d37-4ff1-a223-e31db1d93bdd","name":"Login","type":"component","status":"operational","position":0},{"id":"aaafb27b-3c75-48c6-b0e6-9dbbffb71c2e","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:15.140541Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"548d613d250b70a4","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:15.140541Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/04007915-421d-42c4-aaf1-34b8ad64c5ac/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"A Status Page in US1"},"id":"04007915-421d-42c4-aaf1-34b8ad64c5ac","type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/04007915-421d-42c4-aaf1-34b8ad64c5ac
  response:
    body: '{"data":{"id":"04007915-421d-42c4-aaf1-34b8ad64c5ac","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"75689f[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/04007915-421d-42c4-aaf1-34b8ad64c5ac
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
