interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"a323216379b4501f","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"701e6c9d-fef2-42ef-8d32-327ffb77c2a2","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"469fc4eb-9361-4dc7-8545-709c588bd33c","name":"Application","type":"group","position":0,"components":[{"id":"1cf901d9-0103-403d-9c44-2ba849b9d683","name":"Login","type":"component","status":"operational","position":0},{"id":"4cd1e7ae-40c3-4d24-9056-fff3ab4541bb","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:52.426512Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"a323216379b4501f","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:52.426512Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/701e6c9d-fef2-42ef-8d32-327ffb77c2a2/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"1cf901d9-0103-403d-9c44-2ba849b9d683","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/701e6c9d-fef2-42ef-8d32-327ffb77c2a2/degradations
  response:
    body: '{"data":{"id":"a06c7407-b174-467a-9539-bd8aaec07847","type":"degradations","attributes":{"components_affected":[{"id":"1cf901d9-0103-403d-9c44-2ba849b9d683","name":"Login","status":"major_outage"}],"created_at":"2026-03-31T18:43:53.025569Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-03-31T18:43:53.025569Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"9836b41c-69f8-4516-83f3-b3315c8c31b1","created_at":"2026-03-31T18:43:53.025569Z","modified_at":"2026-03-31T18:43:53.025569Z","started_at":"2026-03-31T18:43:53.025569Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"1cf901d9-0103-403d-9c44-2ba849b9d683","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"701e6c9d-fef2-42ef-8d32-327ffb77c2a2","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/701e6c9d-fef2-42ef-8d32-327ffb77c2a2/degradations/a06c7407-b174-467a-9539-bd8aaec07847
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/701e6c9d-fef2-42ef-8d32-327ffb77c2a2/degradations/a06c7407-b174-467a-9539-bd8aaec07847
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"degradation not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/701e6c9d-fef2-42ef-8d32-327ffb77c2a2
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
