interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"989b0e3f099669f2","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"e5d1c495-e3da-4353-87eb-b7fab267f8e1","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a7d26716-fc79-4d41-9927-4b279d35fd59","name":"Application","type":"group","position":0,"components":[{"id":"4b861af0-45a1-4617-951f-9b2608144043","name":"Login","type":"component","status":"operational","position":0},{"id":"f4e39b01-bbb1-4b1d-977f-7b066eb7d172","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:13:07.065156Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"989b0e3f099669f2","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:13:07.065156Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/e5d1c495-e3da-4353-87eb-b7fab267f8e1/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"completed_date":"2026-04-24T16:13:06.969Z","completed_description":"We have completed maintenance on the API to improve performance.","components_affected":[{"id":"4b861af0-45a1-4617-951f-9b2608144043","status":"operational"}],"in_progress_description":"We are currently performing maintenance on the API to improve performance.","scheduled_description":"We will be performing maintenance on the API to improve performance.","start_date":"2026-04-24T15:13:06.969Z","title":"API Maintenance"},"type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/e5d1c495-e3da-4353-87eb-b7fab267f8e1/maintenances
  response:
    body: '{"data":{"id":"ded83076-9f0b-4560-a13b-34f238e986c1","type":"maintenances","attributes":{"completed_date":"2026-04-24T16:13:06.969Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"4b861af0-45a1-4617-951f-9b2608144043","name":"Login","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","modified_at":"2026-04-24T14:13:07.726617Z","published_date":"2026-04-24T14:13:07.726617Z","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-04-24T15:13:06.969Z","status":"scheduled","title":"API
      Maintenance","updates":[{"id":"5a12a9c1-f9d6-4ad8-a264-3654b6dd3146","created_at":"2026-04-24T14:13:07.726617Z","modified_at":"2026-04-24T14:13:07.726617Z","started_at":"2026-04-24T14:13:07.726617Z","manual_transition":false,"status":"scheduled","description":"We
      will be performing maintenance on the API to improve performance.","components_affected":[{"id":"4b861af0-45a1-4617-951f-9b2608144043","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"e5d1c495-e3da-4353-87eb-b7fab267f8e1","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"in_progress_description":"We are currently performing maintenance on the API to improve performance for 40 minutes.","scheduled_description":"We will be performing maintenance on the API to improve performance for 40 minutes."},"id":"ded83076-9f0b-4560-a13b-34f238e986c1","type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspage[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e5d1c495-e3da-4353-87eb-b7fab267f8e1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
