interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"63b50a302c459f7c","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"5df6e8f7-b903-4ba9-b0c5-d603536e23fa","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"545201a0-a23f-4cbd-ae78-9e392a686b0d","name":"Application","type":"group","position":0,"components":[{"id":"681d4866-a4ff-4e4e-b295-6b9586892675","name":"Login","type":"component","status":"operational","position":0},{"id":"e0c7b0ec-2517-43bd-a489-2f2f23eb0bc4","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-21T21:23:52.260223Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"63b50a302c459f7c","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-21T21:23:52.260223Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/5df6e8f7-b903-4ba9-b0c5-d603536e23fa/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"681d4866-a4ff-4e4e-b295-6b9586892675","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/5df6e8f7-b903-4ba9-b0c5-d603536e23fa/degradations
  response:
    body: '{"data":{"id":"3e8741c2-3c93-4346-9ddc-67d381baee05","type":"degradations","attributes":{"components_affected":[{"id":"681d4866-a4ff-4e4e-b295-6b9586892675","name":"Login","status":"major_outage"}],"created_at":"2026-01-21T21:23:52.827013Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-01-21T21:23:52.827013Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"e97d38d6-936d-4a4c-b07e-fad1379f414f","created_at":"2026-01-21T21:23:52.827013Z","modified_at":"2026-01-21T21:23:52.827013Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"681d4866-a4ff-4e4e-b295-6b9586892675","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"5df6e8f7-b903-4ba9-b0c5-d603536e23fa","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"title":"Elevated API Latency in US1"},"id":"3e8741c2-3c93-4346-9ddc-67d381baee05","type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/5df6e8f7-b903-4ba9-b0c5-d603536e23fa/degradations/3e8741c2-3c93-4346-9ddc-67d381baee05
  response:
    body: '{"data":{"id":"3e8741c2-3c93-4346-9ddc-67d381baee05","type":"degradations","at[...]
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/5df6e8f7-b903-4ba9-b0c5-d603536e23fa
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
