interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"c605902760af97aa","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"104d62be-82e4-42da-8c30-5fec327f377b","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"2adf6283-20c1-49b6-ab3c-78f85cefaada","name":"Application","type":"group","position":0,"components":[{"id":"33994932-0e36-4dc1-aefe-f2b5717c7929","name":"Login","type":"component","status":"operational","position":0},{"id":"3f97a9ee-345b-48ea-b8ff-4eb70e08b267","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:13:02.636197Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"c605902760af97aa","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:13:02.636197Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/104d62be-82e4-42da-8c30-5fec327f377b/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/104d62be-82e4-42da-8c30-5fec327f377b/publish
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/104d62be-82e4-42da-8c30-5fec327f377b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
