interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"6f1e861977724f65","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"fa8844ec-7117-4c8c-8193-46cc5d833667","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"f20633b6-a8ce-4c0f-a80c-3113474176bb","name":"Application","type":"group","position":0,"components":[{"id":"4cccaaaf-f2c0-4c8e-ac55-a74ed099254c","name":"Login","type":"component","status":"operational","position":0},{"id":"324697fb-844d-4bff-be9d-b97a70737f34","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:51.115721Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"6f1e861977724f65","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:51.115721Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/fa8844ec-7117-4c8c-8193-46cc5d833667/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/fa8844ec-7117-4c8c-8193-46cc5d833667/components/f20633b6-a8ce-4c0f-a80c-3113474176bb
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/fa8844ec-7117-4c8c-8193-46cc5d833667
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
