interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"7fdf01d7ddbf6c33","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"a2cf97ce-2bdc-4304-bf07-da098fe30f9f","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"6cd16e07-f4d5-456b-8181-5aa9cc959f53","name":"Application","type":"group","position":0,"components":[{"id":"18c40700-dbc0-4b47-b782-11f8e17d1204","name":"Login","type":"component","status":"operational","position":0},{"id":"03d2caed-1352-47a0-9a02-c7538bc9f39d","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:13:08.643894Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"7fdf01d7ddbf6c33","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:13:08.643894Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/a2cf97ce-2bdc-4304-bf07-da098fe30f9f/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"A Status Page in US1"},"id":"a2cf97ce-2bdc-4304-bf07-da098fe30f9f","type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/a2cf97ce-2bdc-4304-bf07-da098fe30f9f
  response:
    body: '{"data":{"id":"a2cf97ce-2bdc-4304-bf07-da098fe30f9f","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"6cd16e[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/a2cf97ce-2bdc-4304-bf07-da098fe30f9f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
