interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"5a5b4432b5288f33","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"ca3e928c-7dcf-4720-abe2-75c20e1710e7","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"f51b0edb-8f22-44d4-bccf-dc19b01e9280","name":"Application","type":"group","position":0,"components":[{"id":"71135ea7-c268-46ec-bc1d-49051062355e","name":"Login","type":"component","status":"operational","position":0},{"id":"c02580b3-fc4c-4572-8089-15caef68922d","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:13:03.966133Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"5a5b4432b5288f33","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:13:03.966133Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/ca3e928c-7dcf-4720-abe2-75c20e1710e7/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Logs Indexing"},"id":"f51b0edb-8f22-44d4-bccf-dc19b01e9280","type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/ca3e928c-7dcf-4720-abe2-75c20e1710e7/components/f51b0edb-8f22-44d4-bccf-dc19b01e9280
  response:
    body: '{"data":{"id":"f51b0edb-8f22-44d4-bccf-dc19b01e9280","type":"components","attributes":{"components":[{"id":"71135ea7-c268-46ec-bc1d-49051062355e","name":"Login","type":"component","status":"operational","position":0},{"id":"c02580b3-fc4c-4572-8089-15caef68922d","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-04-24T14:13:03.966133Z","modified_at":"2026-04-24T14:13:04.630038Z","name":"Logs
      Indexing","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"ca3e928c-7dcf-4720-abe2-75c20e1710e7","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/ca3e928c-7dcf-4720-abe2-75c20e1710e7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
