interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"da3b654f2686eb34","type":"component"}],"domain_prefix":"dd-integration-tests-da3b654f2686eb34","enabled":true,"name":"[DD Integration Tests] da3b654f2686eb34","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"a1c8be0b-22fb-401e-b4af-428ffc4564ee","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"60d7e1dc-4221-489f-97a9-7f5ac73d4b51","name":"da3b654f2686eb34","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T18:43:31.425329Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-da3b654f2686eb34","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T18:43:31.425329Z","name":"[DD
      Integration Tests] da3b654f2686eb34","page_url":"https://frog.datadoghq.com/status-pages/a1c8be0b-22fb-401e-b4af-428ffc4564ee/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/a1c8be0b-22fb-401e-b4af-428ffc4564ee
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
