interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"7e8c7b13fd8893b0","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"06fa86aa-c512-4c00-95ee-b1cb5b2cccf1","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"11970522-93b3-4e4a-834b-d0ba5ea329d0","name":"Application","type":"group","position":0,"components":[{"id":"d8053632-57ba-4262-92c0-76a96458c126","name":"Login","type":"component","status":"operational","position":0},{"id":"e0f79c01-0aba-4728-8b72-2923a153d955","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:01:00.593918Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"7e8c7b13fd8893b0","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:01:00.593918Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/06fa86aa-c512-4c00-95ee-b1cb5b2cccf1/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/06fa86aa-c512-4c00-95ee-b1cb5b2cccf1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
