interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"7db16496b6c8a7fc","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"31832b1a-f21d-4273-b8c9-e6ab70992c46","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"13c30f15-5b69-427a-bf3f-43e26be5b57b","name":"Application","type":"group","position":0,"components":[{"id":"bed6d62b-c62d-413d-ac49-b445debee25c","name":"Login","type":"component","status":"operational","position":0},{"id":"903094d1-f9bc-4e63-beb7-d43f1969e966","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:01:03.924912Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"7db16496b6c8a7fc","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:01:03.924912Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/31832b1a-f21d-4273-b8c9-e6ab70992c46/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"bed6d62b-c62d-413d-ac49-b445debee25c","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/31832b1a-f21d-4273-b8c9-e6ab70992c46/degradations
  response:
    body: '{"data":{"id":"ac3fb11e-3702-43bf-a5a2-8103c964acd9","type":"degradations","attributes":{"components_affected":[{"id":"bed6d62b-c62d-413d-ac49-b445debee25c","name":"Login","status":"major_outage"}],"created_at":"2026-02-24T17:01:04.652213Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-24T17:01:04.652213Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"0775f6bd-7bb0-4e36-a055-3601b137a270","created_at":"2026-02-24T17:01:04.652213Z","modified_at":"2026-02-24T17:01:04.652213Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"bed6d62b-c62d-413d-ac49-b445debee25c","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"31832b1a-f21d-4273-b8c9-e6ab70992c46","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"title":"Elevated API Latency in US1"},"id":"ac3fb11e-3702-43bf-a5a2-8103c964acd9","type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/31832b1a-f21d-4273-b8c9-e6ab70992c46/degradations/ac3fb11e-3702-43bf-a5a2-8103c964acd9
  response:
    body: '{"data":{"id":"ac3fb11e-3702-43bf-a5a2-8103c964acd9","type":"degradations","at[...]
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/31832b1a-f21d-4273-b8c9-e6ab70992c46
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
