interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"5e73c258cf890af1","type":"component"}],"domain_prefix":"dd-integration-tests-5e73c258cf890af1","enabled":true,"name":"[DD Integration Tests] 5e73c258cf890af1","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"49f512f1-cc33-433b-9856-546a9b6bc558","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"87854501-5e38-4291-9347-9b26b30f7cc1","name":"5e73c258cf890af1","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T15:10:43.023408Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-5e73c258cf890af1","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T15:10:43.023408Z","name":"[DD
      Integration Tests] 5e73c258cf890af1","page_url":"https://frog.datadoghq.com/status-pages/49f512f1-cc33-433b-9856-546a9b6bc558/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/49f512f1-cc33-433b-9856-546a9b6bc558
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
