interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"2b90e2c3f44aba2a","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"173a6511-d9cf-475f-bf66-b0cec4173d31","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e3155909-5d11-4625-92c3-df84915a0014","name":"Application","type":"group","position":0,"components":[{"id":"d423b8d2-e7cb-43fc-9b48-470e74b554df","name":"Login","type":"component","status":"operational","position":0},{"id":"d3f995aa-7190-417c-98a0-9d34266474e1","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:13:00.408918Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"2b90e2c3f44aba2a","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:13:00.408918Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/173a6511-d9cf-475f-bf66-b0cec4173d31/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/173a6511-d9cf-475f-bf66-b0cec4173d31
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
