interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"c311e0ec657bc1ed","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"c21d7c2b-4ec7-4faa-a41b-61b20d5c7f36","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"0fae6759-9aa7-41ff-bb7e-e544c270ed9d","name":"Application","type":"group","position":0,"components":[{"id":"d231c795-f187-4f08-9edc-cca953456a09","name":"Login","type":"component","status":"operational","position":0},{"id":"8bbd1f6b-ccc7-4ce7-9dc3-74a5fa88e56e","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:06.154781Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"c311e0ec657bc1ed","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:06.154781Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/c21d7c2b-4ec7-4faa-a41b-61b20d5c7f36/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/c21d7c2b-4ec7-4faa-a41b-61b20d5c7f36
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
