interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"status-page-50dba6ea54427f33","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"d26e4f72-b0a3-4f13-bd0d-59f338781de3","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"40034290-5bed-4588-bf4e-121b23d20c6e","name":"Application","type":"group","position":0,"components":[{"id":"2a49e23f-d513-4b9c-871b-86f03887349a","name":"Login","type":"component","status":"operational","position":0},{"id":"6cddd877-ea55-41ac-b3d9-dc0c737771cb","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-14T18:34:32.985561Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"status-page-50dba6ea54427f33","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-14T18:34:32.985561Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/d26e4f72-b0a3-4f13-bd0d-59f338781de3/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Logs Indexing"},"id":"40034290-5bed-4588-bf4e-121b23d20c6e","type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/d26e4f72-b0a3-4f13-bd0d-59f338781de3/components/40034290-5bed-4588-bf4e-121b23d20c6e
  response:
    body: '{"data":{"id":"40034290-5bed-4588-bf4e-121b23d20c6e","type":"components","attributes":{"components":[{"id":"2a49e23f-d513-4b9c-871b-86f03887349a","name":"Login","type":"component","status":"operational","position":0},{"id":"6cddd877-ea55-41ac-b3d9-dc0c737771cb","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-01-14T18:34:32.985561Z","modified_at":"2026-01-14T18:34:33.510873Z","name":"Logs
      Indexing","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"d26e4f72-b0a3-4f13-bd0d-59f338781de3","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/d26e4f72-b0a3-4f13-bd0d-59f338781de3
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
