interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"domain_prefix":"status-page-a2eaf7555bc991fb","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"c55c1c53-c6ad-4a15-9093-4445213c3b79","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e73ac741-c54d-43b8-90bc-a7258a0ec9fb","name":"Login","type":"component","status":"operational","position":0},{"id":"a3b31d36-202f-444a-9ea4-3fb20794c2f8","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-01-14T18:34:19.55001Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"status-page-a2eaf7555bc991fb","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-14T18:34:19.55001Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/c55c1c53-c6ad-4a15-9093-4445213c3b79/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/c55c1c53-c6ad-4a15-9093-4445213c3b79
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
