interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"a1b2749a5e1fc90f","enabled":false,"name":"An Unpublished Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"5e369fc2-ae6a-4334-83de-10f2bc8e8402","name":"Application","type":"group","position":0,"components":[{"id":"366804d4-3f45-4ea0-a859-61881a181bca","name":"Login","type":"component","status":"operational","position":0},{"id":"2c332de3-39f9-477f-873d-300282bee52b","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:07.969236Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"a1b2749a5e1fc90f","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-03-31T18:44:07.969236Z","name":"An
      Unpublished Status Page","page_url":"https://frog.datadoghq.com/status-pages/c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084/publish
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
