interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"status-page-634e6c2db3b869de","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"5ca46325-bac2-4a5e-aa26-5e7d5e1c029e","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"d8b8c3c9-595a-4499-a21e-1f04e853d1a7","name":"Application","type":"group","position":0,"components":[{"id":"933d9347-1271-45f0-bd1d-ce3701e35bef","name":"Login","type":"component","status":"operational","position":0},{"id":"5da24db1-597c-4c01-8f61-5ff87ec805b2","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-14T18:34:29.150095Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"status-page-634e6c2db3b869de","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-14T18:34:29.150095Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/5ca46325-bac2-4a5e-aa26-5e7d5e1c029e/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/5ca46325-bac2-4a5e-aa26-5e7d5e1c029e/components
  response:
    body: '{"data":[{"id":"d8b8c3c9-595a-4499-a21e-1f04e853d1a7","type":"components","attributes":{"components":[{"id":"933d9347-1271-45f0-bd1d-ce3701e35bef","name":"Login","type":"component","status":"operational","position":0},{"id":"5da24db1-597c-4c01-8f61-5ff87ec805b2","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-01-14T18:34:29.150095Z","modified_at":"2026-01-14T18:34:29.150095Z","name":"Application","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"5ca46325-bac2-4a5e-aa26-5e7d5e1c029e","type":"status_pages"}}}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/5ca46325-bac2-4a5e-aa26-5e7d5e1c029e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
