interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"f7d669fd50a8ce89","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"197028d4-9c5e-420f-acb1-963ae82ebf22","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"8f68e844-d983-473a-84c7-f5a4544ef430","name":"Application","type":"group","position":0,"components":[{"id":"a22c28e9-d717-45b7-bab8-d1cda9349dd4","name":"Login","type":"component","status":"operational","position":0},{"id":"310a77dd-1afd-426d-8e3e-3652da90db23","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-21T21:23:53.873851Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"f7d669fd50a8ce89","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-21T21:23:53.873851Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/197028d4-9c5e-420f-acb1-963ae82ebf22/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"A Status Page in US1"},"id":"197028d4-9c5e-420f-acb1-963ae82ebf22","type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/197028d4-9c5e-420f-acb1-963ae82ebf22
  response:
    body: '{"data":{"id":"197028d4-9c5e-420f-acb1-963ae82ebf22","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"8f68e8[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/197028d4-9c5e-420f-acb1-963ae82ebf22
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
