interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"status-page-5fee2f719be82f29","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"ebf59ea3-337a-4bf7-8229-22714b514a2f","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a2743d27-3cc3-4a60-ba6e-291f3fe06deb","name":"Application","type":"group","position":0,"components":[{"id":"eae8808a-3353-43da-9d84-a0c79c7c5517","name":"Login","type":"component","status":"operational","position":0},{"id":"a2476857-5843-4bfd-a77d-0b5b65fec5df","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-14T18:34:26.056352Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"status-page-5fee2f719be82f29","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-14T18:34:26.056352Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/ebf59ea3-337a-4bf7-8229-22714b514a2f/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"eae8808a-3353-43da-9d84-a0c79c7c5517","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/ebf59ea3-337a-4bf7-8229-22714b514a2f/degradations
  response:
    body: '{"data":{"id":"034207a4-1a7e-4cd5-abd5-fbd9fa30a097","type":"degradations","attributes":{"components_affected":[{"id":"eae8808a-3353-43da-9d84-a0c79c7c5517","name":"Login","status":"major_outage"}],"created_at":"2026-01-14T18:34:26.977362Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-01-14T18:34:26.977362Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"2e12dc61-747b-4997-95f7-a28549d0d6d2","created_at":"2026-01-14T18:34:26.977362Z","modified_at":"2026-01-14T18:34:26.977362Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"eae8808a-3353-43da-9d84-a0c79c7c5517","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"ebf59ea3-337a-4bf7-8229-22714b514a2f","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/ebf59ea3-337a-4bf7-8229-22714b514a2f/degradations/034207a4-1a7e-4cd5-abd5-fbd9fa30a097
  response:
    body: '{"data":{"id":"034207a4-1a7e-4cd5-abd5-fbd9fa30a097","type":"degradations","attributes":{"components_affected":[{"id":"eae8808a-3353-43da-9d84-a0c79c7c5517","name":"Login","status":"major_outage"}],"created_at":"2026-01-14T18:34:26.977362Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-01-14T18:34:26.977362Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"2e12dc61-747b-4997-95f7-a28549d0d6d2","created_at":"2026-01-14T18:34:26.977362Z","modified_at":"2026-01-14T18:34:26.977362Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"eae8808a-3353-43da-9d84-a0c79c7c5517","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"ebf59ea3-337a-4bf7-8229-22714b514a2f","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/ebf59ea3-337a-4bf7-8229-22714b514a2f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
