interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"d18249dc4d6372bc","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"5e48cd1f-da30-49e6-950f-a2f71c9b40b7","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"228efe98-5ad7-41a3-b764-76c948a90322","name":"Application","type":"group","position":0,"components":[{"id":"30580d92-aaf0-4da3-9ffc-05c85a5edab9","name":"Login","type":"component","status":"operational","position":0},{"id":"33809576-90a7-47b0-bcc6-487d2ef9b1e3","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:47.669349Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"d18249dc4d6372bc","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:47.669349Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/5e48cd1f-da30-49e6-950f-a2f71c9b40b7/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/5e48cd1f-da30-49e6-950f-a2f71c9b40b7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/5e48cd1f-da30-49e6-950f-a2f71c9b40b7
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
