interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"be42ccf216c187fb","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"607f5d14-2c0b-4ec3-9421-e6e3fd09c3fd","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"641655c2-630f-4393-bd21-8b64bf891533","name":"Application","type":"group","position":0,"components":[{"id":"b848d9d3-0ceb-4997-a413-4bc12474ebc4","name":"Login","type":"component","status":"operational","position":0},{"id":"ba66261b-2a97-4aa2-8046-4a99df74a0f4","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:13.604301Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"be42ccf216c187fb","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:13.604301Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/607f5d14-2c0b-4ec3-9421-e6e3fd09c3fd/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"completed_date":"2026-03-31T20:44:13.515Z","completed_description":"We have completed maintenance on the API to improve performance.","components_affected":[{"id":"b848d9d3-0ceb-4997-a413-4bc12474ebc4","status":"operational"}],"in_progress_description":"We are currently performing maintenance on the API to improve performance.","scheduled_description":"We will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:44:13.515Z","title":"API Maintenance"},"type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/607f5d14-2c0b-4ec3-9421-e6e3fd09c3fd/maintenances
  response:
    body: '{"data":{"id":"41064083-88d6-4149-98da-08c773470e1f","type":"maintenances","attributes":{"completed_date":"2026-03-31T20:44:13.515Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"b848d9d3-0ceb-4997-a413-4bc12474ebc4","name":"Login","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","modified_at":"2026-03-31T18:44:14.265702Z","published_date":"2026-03-31T18:44:14.265702Z","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:44:13.515Z","status":"scheduled","title":"API
      Maintenance","updates":[{"id":"e159a1f7-d92b-47a0-8b78-c72c95f800e8","created_at":"2026-03-31T18:44:14.265702Z","modified_at":"2026-03-31T18:44:14.265702Z","started_at":"2026-03-31T18:44:14.265702Z","manual_transition":false,"status":"scheduled","description":"We
      will be performing maintenance on the API to improve performance.","components_affected":[{"id":"b848d9d3-0ceb-4997-a413-4bc12474ebc4","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"607f5d14-2c0b-4ec3-9421-e6e3fd09c3fd","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"in_progress_description":"We are currently performing maintenance on the API to improve performance for 40 minutes.","scheduled_description":"We will be performing maintenance on the API to improve performance for 40 minutes."},"id":"41064083-88d6-4149-98da-08c773470e1f","type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspage[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/607f5d14-2c0b-4ec3-9421-e6e3fd09c3fd
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
