interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"497386ea5fddb745","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"39bd3476-24c8-425d-ac66-6f995c3fecd8","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"810a9388-f403-4b98-b907-e2c47833ce54","name":"Application","type":"group","position":0,"components":[{"id":"cccc03ba-030b-4be5-8e42-eefae36e3a65","name":"Login","type":"component","status":"operational","position":0},{"id":"49bc7dea-5019-4491-8c41-ffd45ccb503e","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:54.947014Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"497386ea5fddb745","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:54.947014Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/39bd3476-24c8-425d-ac66-6f995c3fecd8/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/39bd3476-24c8-425d-ac66-6f995c3fecd8/components
  response:
    body: '{"data":[{"id":"810a9388-f403-4b98-b907-e2c47833ce54","type":"components","attributes":{"components":[{"id":"cccc03ba-030b-4be5-8e42-eefae36e3a65","name":"Login","type":"component","status":"operational","position":0},{"id":"49bc7dea-5019-4491-8c41-ffd45ccb503e","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-04-24T14:12:54.947014Z","modified_at":"2026-04-24T14:12:54.947014Z","name":"Application","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"39bd3476-24c8-425d-ac66-6f995c3fecd8","type":"status_pages"}}}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/39bd3476-24c8-425d-ac66-6f995c3fecd8
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
