interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"c81d3d5745f1e8f3","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"7b6df653-3340-420d-a9e3-6791da941b56","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"5b5184fd-760b-4c00-8aa0-d1a0dc131465","name":"Application","type":"group","position":0,"components":[{"id":"0ed286ee-7b9c-4874-82ff-c3df16b85322","name":"Login","type":"component","status":"operational","position":0},{"id":"a6447a85-68a1-473f-a7a0-252588ac5482","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:54.133043Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"c81d3d5745f1e8f3","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:54.133043Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/7b6df653-3340-420d-a9e3-6791da941b56/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/7b6df653-3340-420d-a9e3-6791da941b56
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/7b6df653-3340-420d-a9e3-6791da941b56
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
