interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"5ddb4afc3c8db319","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"8c7a1055-f55b-49de-a9d0-f6ab38d62627","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"b8a1027c-f5f9-4fc9-8cb7-94412286e410","name":"Application","type":"group","position":0,"components":[{"id":"e92b23fc-fc4e-4f12-b1a7-66a78f4b950e","name":"Login","type":"component","status":"operational","position":0},{"id":"18cca9eb-d603-4051-806f-18557d6669b7","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:46.876375Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"5ddb4afc3c8db319","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:46.876375Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/8c7a1055-f55b-49de-a9d0-f6ab38d62627/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"e92b23fc-fc4e-4f12-b1a7-66a78f4b950e","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/8c7a1055-f55b-49de-a9d0-f6ab38d62627/degradations
  response:
    body: '{"data":{"id":"461d1f73-cfa7-4d35-a7c9-7335243f5d71","type":"degradations","attributes":{"components_affected":[{"id":"e92b23fc-fc4e-4f12-b1a7-66a78f4b950e","name":"Login","status":"major_outage"}],"created_at":"2026-03-31T18:43:47.589302Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-03-31T18:43:47.589302Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"4917a25f-2e54-43c5-bf9c-58002b97e464","created_at":"2026-03-31T18:43:47.589302Z","modified_at":"2026-03-31T18:43:47.589302Z","started_at":"2026-03-31T18:43:47.589302Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"e92b23fc-fc4e-4f12-b1a7-66a78f4b950e","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"8c7a1055-f55b-49de-a9d0-f6ab38d62627","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/8c7a1055-f55b-49de-a9d0-f6ab38d62627/degradations/461d1f73-cfa7-4d35-a7c9-7335243f5d71
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/8c7a1055-f55b-49de-a9d0-f6ab38d62627
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
