interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"status-page-b3f9b4292208c5ac","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"4d07df0b-455e-4fc6-99ee-5b5bc300ebc9","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"5c2c9b2c-653f-404c-8121-93c7817a40aa","name":"Application","type":"group","position":0,"components":[{"id":"148f4a30-5e7d-42ba-9152-dbffc76ce411","name":"Login","type":"component","status":"operational","position":0},{"id":"3a81534a-ae51-4ad3-b904-4fd964ff33b5","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-14T18:34:34.127897Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"status-page-b3f9b4292208c5ac","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-14T18:34:34.127897Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/4d07df0b-455e-4fc6-99ee-5b5bc300ebc9/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"148f4a30-5e7d-42ba-9152-dbffc76ce411","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/4d07df0b-455e-4fc6-99ee-5b5bc300ebc9/degradations
  response:
    body: '{"data":{"id":"560e8fe9-ddfe-4376-9bb3-da8c0e1e1ec3","type":"degradations","attributes":{"components_affected":[{"id":"148f4a30-5e7d-42ba-9152-dbffc76ce411","name":"Login","status":"major_outage"}],"created_at":"2026-01-14T18:34:34.59942Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-01-14T18:34:34.59942Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"83b7db45-8432-4c8e-b543-49deacdb7f2e","created_at":"2026-01-14T18:34:34.59942Z","modified_at":"2026-01-14T18:34:34.59942Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"148f4a30-5e7d-42ba-9152-dbffc76ce411","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"4d07df0b-455e-4fc6-99ee-5b5bc300ebc9","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"title":"Elevated API Latency in US1"},"id":"560e8fe9-ddfe-4376-9bb3-da8c0e1e1ec3","type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/4d07df0b-455e-4fc6-99ee-5b5bc300ebc9/degradations/560e8fe9-ddfe-4376-9bb3-da8c0e1e1ec3
  response:
    body: '{"data":{"id":"560e8fe9-ddfe-4376-9bb3-da8c0e1e1ec3","type":"degradations","at[...]
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/4d07df0b-455e-4fc6-99ee-5b5bc300ebc9
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
