interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"72e5c18ca6f45f5a","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"e9314866-e3ff-41e5-937e-086e5b83dace","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"f91084ae-8238-443f-89e6-8ab671cfaa99","name":"Application","type":"group","position":0,"components":[{"id":"e3f8e669-7fca-434c-a79b-9e8bbbf1817a","name":"Login","type":"component","status":"operational","position":0},{"id":"348da805-3f66-4fe2-8a3c-d4397865f659","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:48.622034Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"72e5c18ca6f45f5a","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:48.622034Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/e9314866-e3ff-41e5-937e-086e5b83dace/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"completed_date":"2026-03-31T20:43:48.523Z","completed_description":"We have completed maintenance on the API to improve performance.","components_affected":[{"id":"e3f8e669-7fca-434c-a79b-9e8bbbf1817a","status":"operational"}],"in_progress_description":"We are currently performing maintenance on the API to improve performance.","scheduled_description":"We will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:43:48.523Z","title":"API Maintenance"},"type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/e9314866-e3ff-41e5-937e-086e5b83dace/maintenances
  response:
    body: '{"data":{"id":"9090b224-a95c-4979-9a8b-ebe20687b00b","type":"maintenances","attributes":{"completed_date":"2026-03-31T20:43:48.523Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"e3f8e669-7fca-434c-a79b-9e8bbbf1817a","name":"Login","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","modified_at":"2026-03-31T18:43:49.356503Z","published_date":"2026-03-31T18:43:49.356503Z","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:43:48.523Z","status":"scheduled","title":"API
      Maintenance","updates":[{"id":"adf33dfb-dea7-43d5-85fa-abdffc648b1c","created_at":"2026-03-31T18:43:49.356503Z","modified_at":"2026-03-31T18:43:49.356503Z","started_at":"2026-03-31T18:43:49.356503Z","manual_transition":false,"status":"scheduled","description":"We
      will be performing maintenance on the API to improve performance.","components_affected":[{"id":"e3f8e669-7fca-434c-a79b-9e8bbbf1817a","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"e9314866-e3ff-41e5-937e-086e5b83dace","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e9314866-e3ff-41e5-937e-086e5b83dace
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
