interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"1abcffd6cf16459e","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"a3f37f49-7dd9-4eaa-96c7-e274fa73ad68","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"de3c3f87-8534-40db-bdc4-9e4cce07e94a","name":"Application","type":"group","position":0,"components":[{"id":"961b7857-5f48-4cbb-8daa-d103d4e4722d","name":"Login","type":"component","status":"operational","position":0},{"id":"81b6ec9d-2881-43aa-8e5d-29eef9ba9d31","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:58.744798Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"1abcffd6cf16459e","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:58.744798Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/a3f37f49-7dd9-4eaa-96c7-e274fa73ad68/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"completed_date":"2026-03-31T20:43:58.660Z","completed_description":"We have completed maintenance on the API to improve performance.","components_affected":[{"id":"961b7857-5f48-4cbb-8daa-d103d4e4722d","status":"operational"}],"in_progress_description":"We are currently performing maintenance on the API to improve performance.","scheduled_description":"We will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:43:58.660Z","title":"API Maintenance"},"type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/a3f37f49-7dd9-4eaa-96c7-e274fa73ad68/maintenances
  response:
    body: '{"data":{"id":"6a647e94-a2f8-4469-9c21-d4a75a2ecd39","type":"maintenances","attributes":{"completed_date":"2026-03-31T20:43:58.66Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"961b7857-5f48-4cbb-8daa-d103d4e4722d","name":"Login","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","modified_at":"2026-03-31T18:43:59.331709Z","published_date":"2026-03-31T18:43:59.331709Z","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-03-31T19:43:58.66Z","status":"scheduled","title":"API
      Maintenance","updates":[{"id":"b53298a6-257c-4360-ae12-8a7c73723110","created_at":"2026-03-31T18:43:59.331709Z","modified_at":"2026-03-31T18:43:59.331709Z","started_at":"2026-03-31T18:43:59.331709Z","manual_transition":false,"status":"scheduled","description":"We
      will be performing maintenance on the API to improve performance.","components_affected":[{"id":"961b7857-5f48-4cbb-8daa-d103d4e4722d","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"a3f37f49-7dd9-4eaa-96c7-e274fa73ad68","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/a3f37f49-7dd9-4eaa-96c7-e274fa73ad68/maintenances/6a647e94-a2f8-4469-9c21-d4a75a2ecd39
  response:
    body: '{"data":{"id":"6a647e94-a2f8-4469-9c21-d4a75a2ecd39","type":"maintenances","attributes":{"completed_date":"2026-03-31T20:43:58.66Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"9[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/a3f37f49-7dd9-4eaa-96c7-e274fa73ad68
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
