interactions:
- request:
    body: |
      {"data":{"attributes":{"domain_prefix":"dd-integrations-tests-1596605167a144b9","enabled":true,"name":"[DD Integration Tests] 1596605167a144b9","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"763a57ab-77be-42f3-ab01-3446904814aa","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-01-09T15:10:32.045556Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integrations-tests-1596605167a144b9","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T15:10:32.045556Z","name":"[DD
      Integration Tests] 1596605167a144b9","page_url":"https://frog.datadoghq.com/status-pages/763a57ab-77be-42f3-ab01-3446904814aa/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/763a57ab-77be-42f3-ab01-3446904814aa
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
