interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"5ce69947c90b650d","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"e05c462a-e740-48d3-8ded-a926d4058398","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"9ae03c11-92a9-4fa8-85dc-da17c7388cff","name":"Application","type":"group","position":0,"components":[{"id":"da407a81-5566-4eab-99f0-9c72eb5b0032","name":"Login","type":"component","status":"operational","position":0},{"id":"c902d544-b5bf-45c0-9a33-8ab9ca13fa12","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:45.485107Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"5ce69947c90b650d","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:45.485107Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/e05c462a-e740-48d3-8ded-a926d4058398/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"da407a81-5566-4eab-99f0-9c72eb5b0032","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/e05c462a-e740-48d3-8ded-a926d4058398/degradations
  response:
    body: '{"data":{"id":"f6f27d51-2011-4b24-bdcf-a5a0d0a5a1a3","type":"degradations","attributes":{"components_affected":[{"id":"da407a81-5566-4eab-99f0-9c72eb5b0032","name":"Login","status":"major_outage"}],"created_at":"2026-04-24T14:12:46.338465Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-04-24T14:12:46.338465Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"fa890ec5-195a-458c-8b62-9626c245d49f","created_at":"2026-04-24T14:12:46.338465Z","modified_at":"2026-04-24T14:12:46.338465Z","started_at":"2026-04-24T14:12:46.338465Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"da407a81-5566-4eab-99f0-9c72eb5b0032","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"e05c462a-e740-48d3-8ded-a926d4058398","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e05c462a-e740-48d3-8ded-a926d4058398/degradations/f6f27d51-2011-4b24-bdcf-a5a0d0a5a1a3
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e05c462a-e740-48d3-8ded-a926d4058398/degradations/f6f27d51-2011-4b24-bdcf-a5a0d0a5a1a3
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"degradation not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e05c462a-e740-48d3-8ded-a926d4058398
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
