interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"1ce8205a4e6ea1ed","type":"component"}],"domain_prefix":"dd-integration-tests-1ce8205a4e6ea1ed","enabled":true,"name":"[DD Integration Tests] 1ce8205a4e6ea1ed","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"57c413b7-a3b0-465e-99a0-1ed82e39ab7a","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"93d7ec73-4666-4fb7-b4fd-a679c66df580","name":"1ce8205a4e6ea1ed","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T18:43:17.896426Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-1ce8205a4e6ea1ed","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T18:43:17.896426Z","name":"[DD
      Integration Tests] 1ce8205a4e6ea1ed","page_url":"https://frog.datadoghq.com/status-pages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"1ce8205a4e6ea1ed","position":0,"type":"component"},"type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a/components
  response:
    body: '{"data":{"id":"4abc57bc-67da-4d19-b7c0-4a302a9430b0","type":"components","attributes":{"created_at":"2026-01-09T18:43:18.336904Z","modified_at":"2026-01-09T18:43:18.336904Z","name":"1ce8205a4e6ea1ed","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"57c413b7-a3b0-465e-99a0-1ed82e39ab7a","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a/components/4abc57bc-67da-4d19-b7c0-4a302a9430b0
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
