interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"cb21c38e7fab0cfc","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"bc81fd89-62a4-4c28-b5e1-167c63ce3249","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e6286170-1f58-4d8d-9432-7112ebc32be7","name":"Application","type":"group","position":0,"components":[{"id":"c7753c9e-7f28-4111-b7ab-f801c75b4945","name":"Login","type":"component","status":"operational","position":0},{"id":"a6e70d8d-7457-4d09-88a7-ef5cd4674698","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-21T21:23:42.084545Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"cb21c38e7fab0cfc","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-21T21:23:42.084545Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/bc81fd89-62a4-4c28-b5e1-167c63ce3249/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/bc81fd89-62a4-4c28-b5e1-167c63ce3249
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/bc81fd89-62a4-4c28-b5e1-167c63ce3249
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
