interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"b1d19e0dbe588b0a","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"a86d9d70-4879-411d-9690-c9887c7b7d55","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"f3f5c039-10f7-4a11-a3bc-c6c84fed4e15","name":"Application","type":"group","position":0,"components":[{"id":"e2599d98-53df-4bff-addb-61ef4f07d5ca","name":"Login","type":"component","status":"operational","position":0},{"id":"1c5904fb-16f8-4be8-ae85-b426908e324a","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:37.855421Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"b1d19e0dbe588b0a","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:37.855421Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/a86d9d70-4879-411d-9690-c9887c7b7d55/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"e2599d98-53df-4bff-addb-61ef4f07d5ca","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/a86d9d70-4879-411d-9690-c9887c7b7d55/degradations
  response:
    body: '{"data":{"id":"124bcf90-cf17-4c2a-81b8-089b419fc384","type":"degradations","attributes":{"components_affected":[{"id":"e2599d98-53df-4bff-addb-61ef4f07d5ca","name":"Login","status":"major_outage"}],"created_at":"2026-02-24T17:00:39.142715Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-24T17:00:39.142715Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"7d3f2ccb-619c-428a-ba44-fb91aa290211","created_at":"2026-02-24T17:00:39.142715Z","modified_at":"2026-02-24T17:00:39.142715Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"e2599d98-53df-4bff-addb-61ef4f07d5ca","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"a86d9d70-4879-411d-9690-c9887c7b7d55","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/a86d9d70-4879-411d-9690-c9887c7b7d55/degradations/124bcf90-cf17-4c2a-81b8-089b419fc384
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/a86d9d70-4879-411d-9690-c9887c7b7d55
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
