interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"domain_prefix":"1d150abe1922b587","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"e96eb4f1-3c07-47b9-af87-40f05d32f7b9","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"329fb4d6-34ab-4308-909d-bdd002e7b593","name":"Login","type":"component","status":"operational","position":0},{"id":"88c01589-2b00-4f6d-b7d0-b8c5ae5ee135","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-03-31T18:43:50.09773Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"1d150abe1922b587","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:50.09773Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/e96eb4f1-3c07-47b9-af87-40f05d32f7b9/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e96eb4f1-3c07-47b9-af87-40f05d32f7b9
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
