interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"5116e6fe6ba4fc4c","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"d6c6458f-b8bf-43cf-bfa6-ccd9480bfa39","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"7bcbc5c7-b1b7-4b11-8e75-0767a43d0e0c","name":"Application","type":"group","position":0,"components":[{"id":"aa15f58b-d825-44bd-b55d-289c35185a0b","name":"Login","type":"component","status":"operational","position":0},{"id":"d8ddd6e9-b4d2-41ce-b66c-c2f60e8a3002","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:48.891246Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"5116e6fe6ba4fc4c","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:48.891246Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/d6c6458f-b8bf-43cf-bfa6-ccd9480bfa39/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/d6c6458f-b8bf-43cf-bfa6-ccd9480bfa39/components/7bcbc5c7-b1b7-4b11-8e75-0767a43d0e0c
  response:
    body: '{"data":{"id":"7bcbc5c7-b1b7-4b11-8e75-0767a43d0e0c","type":"components","attributes":{"components":[{"id":"aa15f58b-d825-44bd-b55d-289c35185a0b","name":"Login","type":"component","status":"operational","position":0},{"id":"d8ddd6e9-b4d2-41ce-b66c-c2f60e8a3002","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-04-24T14:12:48.891246Z","modified_at":"2026-04-24T14:12:48.891246Z","name":"Application","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"d6c6458f-b8bf-43cf-bfa6-ccd9480bfa39","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/d6c6458f-b8bf-43cf-bfa6-ccd9480bfa39
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
