interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"50e12c2de25a414e","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"34c403c9-30eb-43d7-b50e-615447b8da7b","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"2c0a3417-3e0a-4142-83e1-e59027d0ce67","name":"Application","type":"group","position":0,"components":[{"id":"b3d1d966-6c22-42e3-8367-161fc4daf223","name":"Login","type":"component","status":"operational","position":0},{"id":"ccc00996-6f92-4558-80e2-0a890108f04e","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:01:07.464734Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"50e12c2de25a414e","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:01:07.464734Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/34c403c9-30eb-43d7-b50e-615447b8da7b/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"A Status Page in US1"},"id":"34c403c9-30eb-43d7-b50e-615447b8da7b","type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/34c403c9-30eb-43d7-b50e-615447b8da7b
  response:
    body: '{"data":{"id":"34c403c9-30eb-43d7-b50e-615447b8da7b","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"2c0a34[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/34c403c9-30eb-43d7-b50e-615447b8da7b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
