interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"fa39919ddfcca95a","type":"component"}],"domain_prefix":"dd-integration-tests-fa39919ddfcca95a","enabled":true,"name":"[DD Integration Tests] fa39919ddfcca95a","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"970a7a1e-d4b5-47bf-8841-ea4213755f86","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"5ee03770-c344-4a03-b5e8-a2a63b505118","name":"fa39919ddfcca95a","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T18:43:22.828055Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-fa39919ddfcca95a","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T18:43:22.828055Z","name":"[DD
      Integration Tests] fa39919ddfcca95a","page_url":"https://frog.datadoghq.com/status-pages/970a7a1e-d4b5-47bf-8841-ea4213755f86/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"5ee03770-c344-4a03-b5e8-a2a63b505118","status":"major_outage"}],"status":"investigating","title":"Test-Delete_degradation_returns_No_Content_response-1767984202"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86/degradations
  response:
    body: '{"data":{"id":"fda16955-3499-43dc-92ab-255044455a0a","type":"degradations","attributes":{"components_affected":[{"id":"5ee03770-c344-4a03-b5e8-a2a63b505118","name":"fa39919ddfcca95a","status":"major_outage"}],"created_at":"2026-01-09T18:43:23.362082Z","description":"","modified_at":"2026-01-09T18:43:23.362082Z","status":"investigating","title":"Test-Delete_degradation_returns_No_Content_response-1767984202","updates":[{"id":"a7e6f0b1-64c0-434e-8960-e44380175209","created_at":"2026-01-09T18:43:23.362082Z","modified_at":"2026-01-09T18:43:23.362082Z","started_at":"0001-01-01T00:00:00Z","status":"investigating","description":"","components_affected":[{"id":"5ee03770-c344-4a03-b5e8-a2a63b505118","name":"fa39919ddfcca95a","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"970a7a1e-d4b5-47bf-8841-ea4213755f86","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86/degradations/fda16955-3499-43dc-92ab-255044455a0a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86/degradations/fda16955-3499-43dc-92ab-255044455a0a
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"degradation not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
