interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"status-page-34bcfd8351c0bf6c","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"9f8ede40-b32f-4efb-bc55-a3442b846412","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"5cb2f4f2-361a-4902-9a1a-b84e71164678","name":"Application","type":"group","position":0,"components":[{"id":"ff7ccb5e-ab5a-4fff-b6ed-39746cadc2ac","name":"Login","type":"component","status":"operational","position":0},{"id":"0cbdbc69-6b3c-4a96-8566-8e71492c2bab","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-14T18:34:16.802269Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"status-page-34bcfd8351c0bf6c","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-14T18:34:16.802269Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/9f8ede40-b32f-4efb-bc55-a3442b846412/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Logs","position":0,"type":"component"},"type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/9f8ede40-b32f-4efb-bc55-a3442b846412/components
  response:
    body: '{"data":{"id":"ad01c370-832f-4b2d-a071-9f965238bedd","type":"components","attributes":{"created_at":"2026-01-14T18:34:17.271005Z","modified_at":"2026-01-14T18:34:17.271005Z","name":"Logs","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"9f8ede40-b32f-4efb-bc55-a3442b846412","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/9f8ede40-b32f-4efb-bc55-a3442b846412/components/ad01c370-832f-4b2d-a071-9f965238bedd
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/9f8ede40-b32f-4efb-bc55-a3442b846412
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
