interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"df531f11f71a2e23","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"3483924e-54de-4b7f-9177-56f224f8c6e6","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"d03bffa2-720c-4f82-871e-3f1599d38089","name":"Application","type":"group","position":0,"components":[{"id":"6fe382cb-5309-49bf-b56b-c9921a7d8153","name":"Login","type":"component","status":"operational","position":0},{"id":"b8a9ac5d-2470-4c43-b90d-817ba996822c","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:36.165599Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"df531f11f71a2e23","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:36.165599Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/3483924e-54de-4b7f-9177-56f224f8c6e6/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Logs","position":0,"type":"component"},"type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/3483924e-54de-4b7f-9177-56f224f8c6e6/components
  response:
    body: '{"data":{"id":"060dba63-7f63-4d0f-9278-aecabc6f9c30","type":"components","attributes":{"created_at":"2026-02-24T17:00:36.79986Z","modified_at":"2026-02-24T17:00:36.79986Z","name":"Logs","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"3483924e-54de-4b7f-9177-56f224f8c6e6","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/3483924e-54de-4b7f-9177-56f224f8c6e6/components/060dba63-7f63-4d0f-9278-aecabc6f9c30
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/3483924e-54de-4b7f-9177-56f224f8c6e6
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
