interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"3198c2fe740f5796","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"7a914d0d-0894-4de9-aa60-79c710ef0bb6","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"687da6b8-ff85-4b11-a969-372f44bc3a80","name":"Application","type":"group","position":0,"components":[{"id":"fb85b061-f777-48cb-8123-83c95542ed94","name":"Login","type":"component","status":"operational","position":0},{"id":"6c087062-df6a-42b7-8867-febc73b274ff","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:53.670343Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"3198c2fe740f5796","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:53.670343Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/7a914d0d-0894-4de9-aa60-79c710ef0bb6/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/7a914d0d-0894-4de9-aa60-79c710ef0bb6
  response:
    body: '{"data":{"id":"7a914d0d-0894-4de9-aa60-79c710ef0bb6","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"687da6b8-ff85-4b11-a969-372f44bc3a80","name":"Application","type":"group","position":0,"components":[{"id":"fb85b061-f777-48cb-8123-83c95542ed94","name":"Login","type":"component","status":"operational","position":0},{"id":"6c087062-df6a-42b7-8867-febc73b274ff","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:53.670343Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"3198c2fe740f5796","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:53.670343Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/7a914d0d-0894-4de9-aa60-79c710ef0bb6/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/7a914d0d-0894-4de9-aa60-79c710ef0bb6
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
