interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"c1f14b6108d10fad","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"93b8d569-0f1a-42f8-aeec-ff8383ada34a","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"66545c0c-9ebe-4253-8a19-5b78706e8770","name":"Application","type":"group","position":0,"components":[{"id":"1596f8f5-7350-4d65-b2d9-45a36d747a92","name":"Login","type":"component","status":"operational","position":0},{"id":"d76eceac-f087-445e-8eef-bb2287907c71","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:40.657883Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"c1f14b6108d10fad","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:40.657883Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/93b8d569-0f1a-42f8-aeec-ff8383ada34a/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"completed_date":"2026-04-24T16:12:40.558Z","completed_description":"We have completed maintenance on the API to improve performance.","components_affected":[{"id":"1596f8f5-7350-4d65-b2d9-45a36d747a92","status":"operational"}],"in_progress_description":"We are currently performing maintenance on the API to improve performance.","scheduled_description":"We will be performing maintenance on the API to improve performance.","start_date":"2026-04-24T15:12:40.558Z","title":"API Maintenance"},"type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/93b8d569-0f1a-42f8-aeec-ff8383ada34a/maintenances
  response:
    body: '{"data":{"id":"63935f9c-2c32-4ab3-90c6-994ae538b451","type":"maintenances","attributes":{"completed_date":"2026-04-24T16:12:40.558Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"1596f8f5-7350-4d65-b2d9-45a36d747a92","name":"Login","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","modified_at":"2026-04-24T14:12:41.332488Z","published_date":"2026-04-24T14:12:41.332488Z","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-04-24T15:12:40.558Z","status":"scheduled","title":"API
      Maintenance","updates":[{"id":"65b8d551-cdab-425a-be94-165dac7cfc07","created_at":"2026-04-24T14:12:41.332488Z","modified_at":"2026-04-24T14:12:41.332488Z","started_at":"2026-04-24T14:12:41.332488Z","manual_transition":false,"status":"scheduled","description":"We
      will be performing maintenance on the API to improve performance.","components_affected":[{"id":"1596f8f5-7350-4d65-b2d9-45a36d747a92","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"93b8d569-0f1a-42f8-aeec-ff8383ada34a","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/93b8d569-0f1a-42f8-aeec-ff8383ada34a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
