interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"b431563880c76af5","type":"component"}],"domain_prefix":"dd-integration-tests-b431563880c76af5","enabled":true,"name":"[DD Integration Tests] b431563880c76af5","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"6bcd6526-f434-400b-a122-5a85d756ac05","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"dd4873ec-14bf-4d53-a6e7-dcbadb247cbc","name":"b431563880c76af5","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T15:10:36.900813Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-b431563880c76af5","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T15:10:36.900813Z","name":"[DD
      Integration Tests] b431563880c76af5","page_url":"https://frog.datadoghq.com/status-pages/6bcd6526-f434-400b-a122-5a85d756ac05/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/6bcd6526-f434-400b-a122-5a85d756ac05/components/dd4873ec-14bf-4d53-a6e7-dcbadb247cbc
  response:
    body: '{"data":{"id":"dd4873ec-14bf-4d53-a6e7-dcbadb247cbc","type":"components","attributes":{"created_at":"2026-01-09T15:10:36.900813Z","modified_at":"2026-01-09T15:10:36.900813Z","name":"b431563880c76af5","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"6bcd6526-f434-400b-a122-5a85d756ac05","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/6bcd6526-f434-400b-a122-5a85d756ac05
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
