interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"status-page-0d2d7c9c3a7223ad","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"a2a7be87-a517-45c5-9fde-71d0a2bdeb79","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"21dd43f5-3fe0-40be-a8e8-2d6b9d7e3c5a","name":"Application","type":"group","position":0,"components":[{"id":"159fd76a-661a-4b01-a4f3-b993ddde6efb","name":"Login","type":"component","status":"operational","position":0},{"id":"4c7b8f87-564a-4372-837e-e8aea00b2a47","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-14T18:34:20.819798Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"status-page-0d2d7c9c3a7223ad","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-14T18:34:20.819798Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/a2a7be87-a517-45c5-9fde-71d0a2bdeb79/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/a2a7be87-a517-45c5-9fde-71d0a2bdeb79/components/21dd43f5-3fe0-40be-a8e8-2d6b9d7e3c5a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/a2a7be87-a517-45c5-9fde-71d0a2bdeb79
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
