interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"24a63c7404e92b00","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"529f8f23-0634-4cdf-8a81-cb7b82e19afc","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"27026121-0156-435f-8958-3fc3ebe1c01e","name":"Application","type":"group","position":0,"components":[{"id":"3b64fcd0-eec2-44dd-a84d-c186ccbd2b33","name":"Login","type":"component","status":"operational","position":0},{"id":"feab19f6-1213-4352-96e9-04558f2f3f38","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:45.630576Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"24a63c7404e92b00","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:45.630576Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/529f8f23-0634-4cdf-8a81-cb7b82e19afc/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"3b64fcd0-eec2-44dd-a84d-c186ccbd2b33","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/529f8f23-0634-4cdf-8a81-cb7b82e19afc/degradations
  response:
    body: '{"data":{"id":"fd0a3e7a-d068-46cd-b870-40ec57c47a6b","type":"degradations","attributes":{"components_affected":[{"id":"3b64fcd0-eec2-44dd-a84d-c186ccbd2b33","name":"Login","status":"major_outage"}],"created_at":"2026-02-24T17:00:46.292177Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-24T17:00:46.292177Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"70f8b89d-ed88-46c0-91e2-2fd80aa1af38","created_at":"2026-02-24T17:00:46.292177Z","modified_at":"2026-02-24T17:00:46.292177Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"3b64fcd0-eec2-44dd-a84d-c186ccbd2b33","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"529f8f23-0634-4cdf-8a81-cb7b82e19afc","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/529f8f23-0634-4cdf-8a81-cb7b82e19afc/degradations/fd0a3e7a-d068-46cd-b870-40ec57c47a6b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/529f8f23-0634-4cdf-8a81-cb7b82e19afc/degradations/fd0a3e7a-d068-46cd-b870-40ec57c47a6b
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"degradation not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/529f8f23-0634-4cdf-8a81-cb7b82e19afc
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
