interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"06a2004447198b06","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"dac0f31f-69b4-4462-a969-0ef891287dfa","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"8b2c47e5-ba54-47ae-806d-8ea04ac8b26a","name":"Application","type":"group","position":0,"components":[{"id":"d3839166-1e0d-451f-9d03-530b28955290","name":"Login","type":"component","status":"operational","position":0},{"id":"80fb3a82-4eab-4065-bddb-79fec513577f","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:10.574576Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"06a2004447198b06","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:10.574576Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/dac0f31f-69b4-4462-a969-0ef891287dfa/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Logs Indexing"},"id":"8b2c47e5-ba54-47ae-806d-8ea04ac8b26a","type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/dac0f31f-69b4-4462-a969-0ef891287dfa/components/8b2c47e5-ba54-47ae-806d-8ea04ac8b26a
  response:
    body: '{"data":{"id":"8b2c47e5-ba54-47ae-806d-8ea04ac8b26a","type":"components","attributes":{"components":[{"id":"d3839166-1e0d-451f-9d03-530b28955290","name":"Login","type":"component","status":"operational","position":0},{"id":"80fb3a82-4eab-4065-bddb-79fec513577f","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-03-31T18:44:10.574576Z","modified_at":"2026-03-31T18:44:11.124242Z","name":"Logs
      Indexing","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"dac0f31f-69b4-4462-a969-0ef891287dfa","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/dac0f31f-69b4-4462-a969-0ef891287dfa
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
