interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"af9576fa6c9a9d22","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"9d1136b5-5701-45f7-a65a-7e19e0610ee5","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a6bb50d1-7a85-463e-985c-f736e342a34c","name":"Application","type":"group","position":0,"components":[{"id":"cf35e906-ac47-4f85-87e9-df3ddc014a76","name":"Login","type":"component","status":"operational","position":0},{"id":"d2c9d13f-95b2-4b6b-9425-c40ad32979e7","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:56.463926Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"af9576fa6c9a9d22","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:56.463926Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/9d1136b5-5701-45f7-a65a-7e19e0610ee5/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"cf35e906-ac47-4f85-87e9-df3ddc014a76","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/9d1136b5-5701-45f7-a65a-7e19e0610ee5/degradations
  response:
    body: '{"data":{"id":"9d40eea3-8af2-467c-94f4-f8a6be8afb50","type":"degradations","attributes":{"components_affected":[{"id":"cf35e906-ac47-4f85-87e9-df3ddc014a76","name":"Login","status":"major_outage"}],"created_at":"2026-04-24T14:12:57.193706Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-04-24T14:12:57.193706Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"3cc00fdd-e711-4ce3-a6ff-1603f226369d","created_at":"2026-04-24T14:12:57.193706Z","modified_at":"2026-04-24T14:12:57.193706Z","started_at":"2026-04-24T14:12:57.193706Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"cf35e906-ac47-4f85-87e9-df3ddc014a76","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"9d1136b5-5701-45f7-a65a-7e19e0610ee5","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/degradations
  response:
    body: '{"data":[{"id":"f02eb007-e026-45ef-888f-04b112865344","type":"degradations","attributes":{"components_affected":[{"id":"b6a8c887-d556-47f2-9189-fec53d76c6bc","name":"Login","status":"major_outage"}],"created_at":"2026-04-20T01:18:42.181976Z","description":"Our
      API is experiencing elevated latency. We are investigating the issu[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/9d1136b5-5701-45f7-a65a-7e19e0610ee5/degradations/9d40eea3-8af2-467c-94f4-f8a6be8afb50
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/9d1136b5-5701-45f7-a65a-7e19e0610ee5
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
