interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"ba5854b43ab30d6e","type":"component"}],"domain_prefix":"dd-integration-tests-ba5854b43ab30d6e","enabled":true,"name":"[DD Integration Tests] ba5854b43ab30d6e","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"e7066362-3fa7-459a-a52c-b375b49681dc","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e1649bff-ecfb-4c92-95b3-577eae4bd08c","name":"ba5854b43ab30d6e","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T15:10:41.613246Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-ba5854b43ab30d6e","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T15:10:41.613246Z","name":"[DD
      Integration Tests] ba5854b43ab30d6e","page_url":"https://frog.datadoghq.com/status-pages/e7066362-3fa7-459a-a52c-b375b49681dc/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"e1649bff-ecfb-4c92-95b3-577eae4bd08c","status":"major_outage"}],"status":"investigating","title":"Test-List_degradations_returns_OK_response-1767971441"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/e7066362-3fa7-459a-a52c-b375b49681dc/degradations
  response:
    body: '{"data":{"id":"3df8f703-c9d1-4ab5-9e21-f0357ee64df6","type":"degradations","attributes":{"components_affected":[{"id":"e1649bff-ecfb-4c92-95b3-577eae4bd08c","name":"ba5854b43ab30d6e","status":"major_outage"}],"created_at":"2026-01-09T15:10:42.12258Z","description":"","modified_at":"2026-01-09T15:10:42.12258Z","status":"investigating","title":"Test-List_degradations_returns_OK_response-1767971441","updates":[{"id":"ac710e62-ea83-4ba9-9124-0c16d4797bb3","created_at":"2026-01-09T15:10:42.12258Z","modified_at":"2026-01-09T15:10:42.12258Z","started_at":"0001-01-01T00:00:00Z","status":"investigating","description":"","components_affected":[{"id":"e1649bff-ecfb-4c92-95b3-577eae4bd08c","name":"ba5854b43ab30d6e","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"e7066362-3fa7-459a-a52c-b375b49681dc","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/degradations
  response:
    body: '{"data":[{"id":"3df8f703-c9d1-4ab5-9e21-f0357ee64df6","type":"degradations","attributes":{"components_affected":[{"id":"e1649bff-ecfb-4c92-95b3-577eae4bd08c","name":"ba5854b43ab30d6e","status":"major_outage"}],"created_at":"2026-01-09T15:10:42.12258Z","description":"","modified_at":"2026-01-09T15:10:42.12258Z","status":"investigating","title":"Test-List_degradations_returns_OK_response-1767971441","updates":[{"id":"ac710e62-ea83-4ba9-9124-0c16d4797bb3","created_at":"2026-01-09T15:10:42.12258Z","modified_at":"2026-01-09T15:10:42.12258Z","started_at":"0001-01-01T00:00:00Z","status":"investigating","description":"","components_affected":[{"id":"e1649bff-ecfb-4c92-95b3-577eae4bd08c","name":"ba5854b43ab30d6e","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"e7066362-3fa7-459a-a52c-b375b49681dc","type":"status_pages"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":50,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e7066362-3fa7-459a-a52c-b375b49681dc/degradations/3df8f703-c9d1-4ab5-9e21-f0357ee64df6
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e7066362-3fa7-459a-a52c-b375b49681dc
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
