interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"3d45028fbe6feef3","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"43888a42-0e4d-4180-ba7d-7c6f1ce381f1","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"65154ed0-293e-4d00-9535-07a6ca0bd66f","name":"Application","type":"group","position":0,"components":[{"id":"8b2f14d2-f892-442a-9d7e-927d56e6839a","name":"Login","type":"component","status":"operational","position":0},{"id":"50fc27af-f71b-425c-8f50-b0050f71aa16","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:55.533175Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"3d45028fbe6feef3","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:55.533175Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/43888a42-0e4d-4180-ba7d-7c6f1ce381f1/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/43888a42-0e4d-4180-ba7d-7c6f1ce381f1/components/65154ed0-293e-4d00-9535-07a6ca0bd66f
  response:
    body: '{"data":{"id":"65154ed0-293e-4d00-9535-07a6ca0bd66f","type":"components","attributes":{"components":[{"id":"8b2f14d2-f892-442a-9d7e-927d56e6839a","name":"Login","type":"component","status":"operational","position":0},{"id":"50fc27af-f71b-425c-8f50-b0050f71aa16","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-03-31T18:43:55.533175Z","modified_at":"2026-03-31T18:43:55.533175Z","name":"Application","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"43888a42-0e4d-4180-ba7d-7c6f1ce381f1","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/43888a42-0e4d-4180-ba7d-7c6f1ce381f1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
