interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"c498abdeba4af7af","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"b7030ed3-627b-4172-a1db-ed4844518d9a","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"15c02806-5062-4a31-b92e-1156869483e4","name":"Application","type":"group","position":0,"components":[{"id":"b8dcb280-a392-4a53-873e-3303732ffa56","name":"Login","type":"component","status":"operational","position":0},{"id":"96014dbf-2729-404f-99f8-6988e13fd8c6","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:55.643889Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"c498abdeba4af7af","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:55.643889Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/b7030ed3-627b-4172-a1db-ed4844518d9a/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/b7030ed3-627b-4172-a1db-ed4844518d9a/components
  response:
    body: '{"data":[{"id":"15c02806-5062-4a31-b92e-1156869483e4","type":"components","attributes":{"components":[{"id":"b8dcb280-a392-4a53-873e-3303732ffa56","name":"Login","type":"component","status":"operational","position":0},{"id":"96014dbf-2729-404f-99f8-6988e13fd8c6","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-02-24T17:00:55.643889Z","modified_at":"2026-02-24T17:00:55.643889Z","name":"Application","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"b7030ed3-627b-4172-a1db-ed4844518d9a","type":"status_pages"}}}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/b7030ed3-627b-4172-a1db-ed4844518d9a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
