interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"bca9d790b9b0f94d","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"e0e309f4-9049-49d2-b6af-80874c5a4b84","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"d0c9d99e-e697-431b-93b0-400d2873ec18","name":"Application","type":"group","position":0,"components":[{"id":"f4aafe97-fdce-43f0-8872-0cb5ce9e7347","name":"Login","type":"component","status":"operational","position":0},{"id":"b74e7cb4-04b6-4086-9f01-aff7e23bfc09","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:01:02.494038Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"bca9d790b9b0f94d","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:01:02.494038Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/e0e309f4-9049-49d2-b6af-80874c5a4b84/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Logs Indexing"},"id":"d0c9d99e-e697-431b-93b0-400d2873ec18","type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/e0e309f4-9049-49d2-b6af-80874c5a4b84/components/d0c9d99e-e697-431b-93b0-400d2873ec18
  response:
    body: '{"data":{"id":"d0c9d99e-e697-431b-93b0-400d2873ec18","type":"components","attributes":{"components":[{"id":"f4aafe97-fdce-43f0-8872-0cb5ce9e7347","name":"Login","type":"component","status":"operational","position":0},{"id":"b74e7cb4-04b6-4086-9f01-aff7e23bfc09","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-02-24T17:01:02.494038Z","modified_at":"2026-02-24T17:01:03.086151Z","name":"Logs
      Indexing","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"e0e309f4-9049-49d2-b6af-80874c5a4b84","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/e0e309f4-9049-49d2-b6af-80874c5a4b84
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
