interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"4cbed4a1e7e245cd","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"db7b590d-cced-4b48-a7fa-a8cad2ffe6d2","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"33943b97-35dc-45b5-821e-cd61b65a6a8b","name":"Application","type":"group","position":0,"components":[{"id":"05dbb51c-56b3-4a3a-a051-cf44128af296","name":"Login","type":"component","status":"operational","position":0},{"id":"b39e6a73-07f2-4174-a023-328400524a64","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:57.01904Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"4cbed4a1e7e245cd","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:57.01904Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/db7b590d-cced-4b48-a7fa-a8cad2ffe6d2/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"05dbb51c-56b3-4a3a-a051-cf44128af296","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/db7b590d-cced-4b48-a7fa-a8cad2ffe6d2/degradations
  response:
    body: '{"data":{"id":"6d7edbfb-18e5-4c65-90c8-905841616f10","type":"degradations","attributes":{"components_affected":[{"id":"05dbb51c-56b3-4a3a-a051-cf44128af296","name":"Login","status":"major_outage"}],"created_at":"2026-02-24T17:00:57.665863Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-24T17:00:57.665863Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"8fa25e63-3621-4d63-bc04-7b89a5469968","created_at":"2026-02-24T17:00:57.665863Z","modified_at":"2026-02-24T17:00:57.665863Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"05dbb51c-56b3-4a3a-a051-cf44128af296","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"db7b590d-cced-4b48-a7fa-a8cad2ffe6d2","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/degradations
  response:
    body: '{"data":[{"id":"6d7edbfb-18e5-4c65-90c8-905841616f10","type":"degradations","attributes":{"components_affected":[{"id":"05dbb51c-56b3-4a3a-a051-cf44128af296","name":"Login","status":"major_outage"}],"created_at":"2026-02-24T17:00:57.665863Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-24T17:00:57.665863Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"8fa25e63-3621-4d63-bc04-7b89a5469968","created_at":"2026-02-24T17:00:57.665863Z","modified_at":"2026-02-24T17:00:57.665863Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"05dbb51c-56b3-4a3a-a051-cf44128af296","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"db7b590d-cced-4b48-a7fa-a8cad2ffe6d2","type":"status_pages"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":50,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/db7b590d-cced-4b48-a7fa-a8cad2ffe6d2/degradations/6d7edbfb-18e5-4c65-90c8-905841616f10
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/db7b590d-cced-4b48-a7fa-a8cad2ffe6d2
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
