interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"a48fef969e3afb8e","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"4cf573f8-ff26-4341-ac7a-420666af5d24","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a8afd2dd-96bc-4f57-b445-9b92eb1b0a11","name":"Application","type":"group","position":0,"components":[{"id":"035ec25d-e999-4ab2-a7ce-cc49847dfd17","name":"Login","type":"component","status":"operational","position":0},{"id":"8c607c78-9856-421b-9f78-5a241f59e8b3","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:44.021412Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"a48fef969e3afb8e","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:44.021412Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/4cf573f8-ff26-4341-ac7a-420666af5d24/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/4cf573f8-ff26-4341-ac7a-420666af5d24/components/a8afd2dd-96bc-4f57-b445-9b92eb1b0a11
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/4cf573f8-ff26-4341-ac7a-420666af5d24
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
