interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"c8606a241b31538e","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"c4d249f8-24f3-436d-ae84-7afd6862114e","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"57d907b2-4797-4db9-9deb-fe06bbc31da3","name":"Application","type":"group","position":0,"components":[{"id":"3cd0f94d-68a6-4093-84b3-04bfc84a9598","name":"Login","type":"component","status":"operational","position":0},{"id":"dfdcd5ae-8f05-4c96-b51e-ac10d42268f6","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:01.716141Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"c8606a241b31538e","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:01.716141Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/c4d249f8-24f3-436d-ae84-7afd6862114e/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/c4d249f8-24f3-436d-ae84-7afd6862114e/components
  response:
    body: '{"data":[{"id":"57d907b2-4797-4db9-9deb-fe06bbc31da3","type":"components","attributes":{"components":[{"id":"3cd0f94d-68a6-4093-84b3-04bfc84a9598","name":"Login","type":"component","status":"operational","position":0},{"id":"dfdcd5ae-8f05-4c96-b51e-ac10d42268f6","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-03-31T18:44:01.716141Z","modified_at":"2026-03-31T18:44:01.716141Z","name":"Application","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"c4d249f8-24f3-436d-ae84-7afd6862114e","type":"status_pages"}}}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/c4d249f8-24f3-436d-ae84-7afd6862114e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
