interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"9e7f8b0822635170","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"fcf5cb92-aa21-43c1-b2c3-54ff692fef7b","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"0b52346d-8cd1-407b-a085-44f7f3c47ba4","name":"Application","type":"group","position":0,"components":[{"id":"b257b99d-355b-4b2c-82c0-335694c1e940","name":"Login","type":"component","status":"operational","position":0},{"id":"27415b2b-1759-49a9-a298-34fec18177c1","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-21T21:23:48.239521Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"9e7f8b0822635170","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-21T21:23:48.239521Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/fcf5cb92-aa21-43c1-b2c3-54ff692fef7b/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"b257b99d-355b-4b2c-82c0-335694c1e940","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/fcf5cb92-aa21-43c1-b2c3-54ff692fef7b/degradations
  response:
    body: '{"data":{"id":"2339dce7-c32c-42f4-88c6-ce3ff16f0cbd","type":"degradations","attributes":{"components_affected":[{"id":"b257b99d-355b-4b2c-82c0-335694c1e940","name":"Login","status":"major_outage"}],"created_at":"2026-01-21T21:23:48.836304Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-01-21T21:23:48.836304Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"7959ea84-30c5-4c55-a12a-8272fab2b1cd","created_at":"2026-01-21T21:23:48.836304Z","modified_at":"2026-01-21T21:23:48.836304Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"b257b99d-355b-4b2c-82c0-335694c1e940","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"fcf5cb92-aa21-43c1-b2c3-54ff692fef7b","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/degradations
  response:
    body: '{"data":[{"id":"2339dce7-c32c-42f4-88c6-ce3ff16f0cbd","type":"degradations","attributes":{"components_affected":[{"id":"b257b99d-355b-4b2c-82c0-335694c1e940","name":"Login","status":"major_outage"}],"created_at":"2026-01-21T21:23:48.836304Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-01-21T21:23:48.836304Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"7959ea84-30c5-4c55-a12a-8272fab2b1cd","created_at":"2026-01-21T21:23:48.836304Z","modified_at":"2026-01-21T21:23:48.836304Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"b257b99d-355b-4b2c-82c0-335694c1e940","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"fcf5cb92-aa21-43c1-b2c3-54ff692fef7b","type":"status_pages"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":50,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/fcf5cb92-aa21-43c1-b2c3-54ff692fef7b/degradations/2339dce7-c32c-42f4-88c6-ce3ff16f0cbd
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/fcf5cb92-aa21-43c1-b2c3-54ff692fef7b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
