interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"name":"6465bfa84faaf0b2","type":"component"}],"domain_prefix":"dd-integration-tests-6465bfa84faaf0b2","enabled":true,"name":"[DD Integration Tests] 6465bfa84faaf0b2","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"99c044f8-e2d0-42e1-a002-8f17a0d0a2b3","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a934b735-7f6a-4af8-b271-07648058f3aa","name":"6465bfa84faaf0b2","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T15:10:44.359918Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-6465bfa84faaf0b2","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T15:10:44.359918Z","name":"[DD
      Integration Tests] 6465bfa84faaf0b2","page_url":"https://frog.datadoghq.com/status-pages/99c044f8-e2d0-42e1-a002-8f17a0d0a2b3/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"6465bfa84faaf0b2"},"id":"a934b735-7f6a-4af8-b271-07648058f3aa","type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/statuspages/99c044f8-e2d0-42e1-a002-8f17a0d0a2b3/components/a934b735-7f6a-4af8-b271-07648058f3aa
  response:
    body: '{"data":{"id":"a934b735-7f6a-4af8-b271-07648058f3aa","type":"components","attributes":{"created_at":"2026-01-09T15:10:44.359918Z","modified_at":"2026-01-09T15:10:44.823098Z","name":"6465bfa84faaf0b2","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"99c044f8-e2d0-42e1-a002-8f17a0d0a2b3","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/99c044f8-e2d0-42e1-a002-8f17a0d0a2b3
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
