interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"7ed55ec2d58bcd2f","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"b06157ae-2b55-44e9-bcbb-4bf96055fc66","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"83b1bbab-4ea5-4103-a2b9-dda7abdc8e05","name":"Application","type":"group","position":0,"components":[{"id":"d73e2857-3e73-46a9-b577-95e371f40fd6","name":"Login","type":"component","status":"operational","position":0},{"id":"fd0b1426-d566-4e3b-bccf-03e57bbea6a3","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:03.017398Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"7ed55ec2d58bcd2f","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:03.017398Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/b06157ae-2b55-44e9-bcbb-4bf96055fc66/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"d73e2857-3e73-46a9-b577-95e371f40fd6","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/b06157ae-2b55-44e9-bcbb-4bf96055fc66/degradations
  response:
    body: '{"data":{"id":"69ec0272-0b19-4b76-b46d-1bff243bf815","type":"degradations","attributes":{"components_affected":[{"id":"d73e2857-3e73-46a9-b577-95e371f40fd6","name":"Login","status":"major_outage"}],"created_at":"2026-03-31T18:44:03.716424Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-03-31T18:44:03.716424Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"4015e2c8-11f7-4dda-924c-d602b6b54c9b","created_at":"2026-03-31T18:44:03.716424Z","modified_at":"2026-03-31T18:44:03.716424Z","started_at":"2026-03-31T18:44:03.716424Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"d73e2857-3e73-46a9-b577-95e371f40fd6","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"b06157ae-2b55-44e9-bcbb-4bf96055fc66","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/degradations
  response:
    body: '{"data":[{"id":"69ec0272-0b19-4b76-b46d-1bff243bf815","type":"degradations","attributes":{"components_affected":[{"id":"d73e2857-3e73-46a9-b577-95e371f40fd6","name":"Login","status":"major_outage"}],"created_at":"2026-03-31T18:44:03.716424Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-03-31T18:44:03.716424Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"4015e2c8-11f7-4dda-924c-d602b6b54c9b","created_at":"2026-03-31T18:44:03.716424Z","modified_at":"2026-03-31T18:44:03.716424Z","started_at":"2026-03-31T18:44:03.716424Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"d73e2857-3e73-46a9-b577-95e371f40fd6","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"b06157ae-2b55-44e9-bcbb-4bf96055fc66","type":"status_pages"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":50,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/b06157ae-2b55-44e9-bcbb-4bf96055fc66/degradations/69ec0272-0b19-4b76-b46d-1bff243bf815
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/b06157ae-2b55-44e9-bcbb-4bf96055fc66
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
