interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"12fd9e2fcfbad77b","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"317cba21-cebc-4436-94df-09bbdf3d4cb6","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c5589831-a633-4f87-87c7-6abb7404ba5d","name":"Application","type":"group","position":0,"components":[{"id":"c8bfec42-82a6-43cd-bf99-23de9c2f72a8","name":"Login","type":"component","status":"operational","position":0},{"id":"5a6c8210-7239-42ae-b7ae-396b26cf21b5","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:50.525032Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"12fd9e2fcfbad77b","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:50.525032Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/317cba21-cebc-4436-94df-09bbdf3d4cb6/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"c8bfec42-82a6-43cd-bf99-23de9c2f72a8","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/317cba21-cebc-4436-94df-09bbdf3d4cb6/degradations
  response:
    body: '{"data":{"id":"3199b71f-e5a6-4651-8498-bb27cf7389f8","type":"degradations","attributes":{"components_affected":[{"id":"c8bfec42-82a6-43cd-bf99-23de9c2f72a8","name":"Login","status":"major_outage"}],"created_at":"2026-02-24T17:00:51.138156Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-24T17:00:51.138156Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"6755caad-fc13-4d65-8ed8-0468c38dac6d","created_at":"2026-02-24T17:00:51.138156Z","modified_at":"2026-02-24T17:00:51.138156Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"c8bfec42-82a6-43cd-bf99-23de9c2f72a8","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"317cba21-cebc-4436-94df-09bbdf3d4cb6","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/317cba21-cebc-4436-94df-09bbdf3d4cb6/degradations/3199b71f-e5a6-4651-8498-bb27cf7389f8
  response:
    body: '{"data":{"id":"3199b71f-e5a6-4651-8498-bb27cf7389f8","type":"degradations","attributes":{"components_affected":[{"id":"c8bfec42-82a6-43cd-bf99-23de9c2f72a8","name":"Login","status":"major_outage"}],"created_at":"2026-02-24T17:00:51.138156Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-24T17:00:51.138156Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"6755caad-fc13-4d65-8ed8-0468c38dac6d","created_at":"2026-02-24T17:00:51.138156Z","modified_at":"2026-02-24T17:00:51.138156Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"c8bfec42-82a6-43cd-bf99-23de9c2f72a8","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"317cba21-cebc-4436-94df-09bbdf3d4cb6","type":"status_pages"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/317cba21-cebc-4436-94df-09bbdf3d4cb6
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
