interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"8638252c458ce646","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"cfc5826b-b383-4f29-b4cf-1702a7a18ab0","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e0b66ea8-a7cb-4072-8d2f-94037452b531","name":"Application","type":"group","position":0,"components":[{"id":"f4e1e6aa-6f77-439a-a68e-6309dac82ae3","name":"Login","type":"component","status":"operational","position":0},{"id":"53d81c0b-b2fb-4261-ba23-f83d6d7e30ef","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:09.324827Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"8638252c458ce646","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:09.324827Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/cfc5826b-b383-4f29-b4cf-1702a7a18ab0/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/cfc5826b-b383-4f29-b4cf-1702a7a18ab0/unpublish
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/cfc5826b-b383-4f29-b4cf-1702a7a18ab0
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
