interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"3551e2cf855f99bb","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"6ee7eadf-16dc-477e-bf6f-5041d4244734","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"27e6d118-4b66-4634-a139-d661b812d987","name":"Application","type":"group","position":0,"components":[{"id":"f4b8cafc-177c-4553-8ee3-30a299c148a9","name":"Login","type":"component","status":"operational","position":0},{"id":"8294743b-4836-4607-9a9f-d00b83a426ee","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:43:56.804056Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"3551e2cf855f99bb","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:43:56.804056Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/6ee7eadf-16dc-477e-bf6f-5041d4244734/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"components_affected":[{"id":"f4b8cafc-177c-4553-8ee3-30a299c148a9","status":"major_outage"}],"description":"Our API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated API Latency"},"type":"degradations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/6ee7eadf-16dc-477e-bf6f-5041d4244734/degradations
  response:
    body: '{"data":{"id":"e18320c6-88ff-4b06-a0a8-df88e78ec972","type":"degradations","attributes":{"components_affected":[{"id":"f4b8cafc-177c-4553-8ee3-30a299c148a9","name":"Login","status":"major_outage"}],"created_at":"2026-03-31T18:43:57.629751Z","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-03-31T18:43:57.629751Z","status":"investigating","title":"Elevated
      API Latency","updates":[{"id":"36dbb568-d081-4901-a0d2-f6f9556c1ff6","created_at":"2026-03-31T18:43:57.629751Z","modified_at":"2026-03-31T18:43:57.629751Z","started_at":"2026-03-31T18:43:57.629751Z","status":"investigating","description":"Our
      API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"f4b8cafc-177c-4553-8ee3-30a299c148a9","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"6ee7eadf-16dc-477e-bf6f-5041d4244734","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/6ee7eadf-16dc-477e-bf6f-5041d4244734/degradations/e18320c6-88ff-4b06-a0a8-df88e78ec972
  response:
    body: '{"data":{"id":"e18320c6-88ff-4b06-a0a8-df88e78ec972","type":"degradations","attributes":{"components_affected":[{"id":"f4b8cafc-177c-4553-8ee3-30a299c148a9","name":"Login","status":"major_outage"}],"created_at":"2026-03-31T18:43:57.629751Z","description":"Our
[...]
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/6ee7eadf-16dc-477e-bf6f-5041d4244734
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
