interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"a292a726f79d8dd3","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"2fb5cefa-a43b-4974-b439-96cef54df054","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"82aa9ec5-5394-4138-8d6c-475ed209b03d","name":"Application","type":"group","position":0,"components":[{"id":"5e7fc960-39ed-4522-aa38-187f41ace1fd","name":"Login","type":"component","status":"operational","position":0},{"id":"eda28835-e8a6-44a1-87f7-8da14819152b","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-21T21:23:49.763982Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"a292a726f79d8dd3","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-21T21:23:49.763982Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/2fb5cefa-a43b-4974-b439-96cef54df054/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":[{"id":"2fb5cefa-a43b-4974-b439-96cef54df054","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"82aa9ec5-5394-4138-8d6c-475ed209b03d","name":"Application","type":"group","position":0,"components":[{"id":"5e7fc960-39ed-4522-aa38-187f41ace1fd","name":"Login","type":"component","status":"operational","position":0},{"id":"eda28835-e8a6-44a1-87f7-8da14819152b","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-01-21T21:23:49.763982Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"a292a726f79d8dd3","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-21T21:23:49.763982Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/2fb5cefa-a43b-4974-b439-96cef54df054/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":50,"total":null,"first_offset":0,"prev_offset":null,"next_offset":50,"last_offset":null}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/2fb5cefa-a43b-4974-b439-96cef54df054
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
