interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"2d861a54c51993ae","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"3cd76198-ed6f-43d3-82da-97f5017f31c9","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"72f72b44-082b-4eee-a619-54f6ec6b27db","name":"Application","type":"group","position":0,"components":[{"id":"7126cd27-4c74-4196-8759-3f060b76034b","name":"Login","type":"component","status":"operational","position":0},{"id":"c91b0e4a-9cfd-47f9-a78f-41ecdc0b5dcf","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:00.265912Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"2d861a54c51993ae","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:00.265912Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/3cd76198-ed6f-43d3-82da-97f5017f31c9/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/3cd76198-ed6f-43d3-82da-97f5017f31c9
  response:
    body: '{"data":{"id":"3cd76198-ed6f-43d3-82da-97f5017f31c9","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"72f72b44-082b-4eee-a619-54f6ec6b27db","name":"Application","type":"group","position":0,"components":[{"id":"7126cd27-4c74-4196-8759-3f060b76034b","name":"Login","type":"component","status":"operational","position":0},{"id":"c91b0e4a-9cfd-47f9-a78f-41ecdc0b5dcf","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-03-31T18:44:00.265912Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"2d861a54c51993ae","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-03-31T18:44:00.265912Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/3cd76198-ed6f-43d3-82da-97f5017f31c9/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/3cd76198-ed6f-43d3-82da-97f5017f31c9
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
