interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"8c26840eabe71dc3","enabled":true,"name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"ad595545-a10f-4156-86c4-4b7e628a373f","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"bef1338e-b586-4b82-bf51-cd924583b1a4","name":"Application","type":"group","position":0,"components":[{"id":"892f0166-6f66-4113-a4ca-f38ad360853b","name":"Login","type":"component","status":"operational","position":0},{"id":"bc546936-c609-4dff-ac47-cfc73262b9ad","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:53.951086Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"8c26840eabe71dc3","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:53.951086Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/ad595545-a10f-4156-86c4-4b7e628a373f/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/ad595545-a10f-4156-86c4-4b7e628a373f
  response:
    body: '{"data":{"id":"ad595545-a10f-4156-86c4-4b7e628a373f","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"bef1338e-b586-4b82-bf51-cd924583b1a4","name":"Application","type":"group","position":0,"components":[{"id":"892f0166-6f66-4113-a4ca-f38ad360853b","name":"Login","type":"component","status":"operational","position":0},{"id":"bc546936-c609-4dff-ac47-cfc73262b9ad","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:53.951086Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"8c26840eabe71dc3","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:53.951086Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/ad595545-a10f-4156-86c4-4b7e628a373f/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/ad595545-a10f-4156-86c4-4b7e628a373f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
