interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"f456820b7958024f","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"b02801ff-949d-467e-967d-5943c8f1c7af","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"7f96e5c3-f033-4640-bf8a-7018e134c8b5","name":"Application","type":"group","position":0,"components":[{"id":"feefa8d8-7485-4bfb-82a6-86268c1d68b3","name":"Login","type":"component","status":"operational","position":0},{"id":"b2f95a96-3261-40fb-bb5a-f95203741608","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:37.623742Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"f456820b7958024f","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:37.623742Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/b02801ff-949d-467e-967d-5943c8f1c7af/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Logs","position":0,"type":"component"},"type":"components"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/b02801ff-949d-467e-967d-5943c8f1c7af/components
  response:
    body: '{"data":{"id":"ef964967-c6b6-465a-a260-0468b697036c","type":"components","attributes":{"created_at":"2026-04-24T14:12:38.188993Z","modified_at":"2026-04-24T14:12:38.188993Z","name":"Logs","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"b02801ff-949d-467e-967d-5943c8f1c7af","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/b02801ff-949d-467e-967d-5943c8f1c7af/components/ef964967-c6b6-465a-a260-0468b697036c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/b02801ff-949d-467e-967d-5943c8f1c7af
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
