interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"9905c0ddab704862","name":"A Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages
  response:
    body: '{"data":{"id":"f94e1859-5f7d-4725-8cea-36933d0ee44a","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"95f2748c-0715-4ec7-8eff-cfd50880fa31","name":"Application","type":"group","position":0,"components":[{"id":"7814c703-ad55-4ec5-b1d4-f339b42849e9","name":"Login","type":"component","status":"operational","position":0},{"id":"af0c0031-b691-4326-8178-3b8285560b3f","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:52.130767Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"9905c0ddab704862","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:52.130767Z","name":"A
      Status Page","page_url":"https://frog.datadoghq.com/status-pages/f94e1859-5f7d-4725-8cea-36933d0ee44a/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"completed_date":"2026-04-24T16:12:52.035Z","completed_description":"We have completed maintenance on the API to improve performance.","components_affected":[{"id":"7814c703-ad55-4ec5-b1d4-f339b42849e9","status":"operational"}],"in_progress_description":"We are currently performing maintenance on the API to improve performance.","scheduled_description":"We will be performing maintenance on the API to improve performance.","start_date":"2026-04-24T15:12:52.035Z","title":"API Maintenance"},"type":"maintenances"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/statuspages/f94e1859-5f7d-4725-8cea-36933d0ee44a/maintenances
  response:
    body: '{"data":{"id":"01ffa7f4-fc91-47a3-b9e0-2b0892891107","type":"maintenances","attributes":{"completed_date":"2026-04-24T16:12:52.035Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"7814c703-ad55-4ec5-b1d4-f339b42849e9","name":"Login","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","modified_at":"2026-04-24T14:12:52.838015Z","published_date":"2026-04-24T14:12:52.838015Z","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-04-24T15:12:52.035Z","status":"scheduled","title":"API
      Maintenance","updates":[{"id":"0bc62e28-e5de-49ef-a781-9c362bb8e58e","created_at":"2026-04-24T14:12:52.838015Z","modified_at":"2026-04-24T14:12:52.838015Z","started_at":"2026-04-24T14:12:52.838015Z","manual_transition":false,"status":"scheduled","description":"We
      will be performing maintenance on the API to improve performance.","components_affected":[{"id":"7814c703-ad55-4ec5-b1d4-f339b42849e9","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"f94e1859-5f7d-4725-8cea-36933d0ee44a","type":"status_pages"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/statuspages/f94e1859-5f7d-4725-8cea-36933d0ee44a/maintenances/01ffa7f4-fc91-47a3-b9e0-2b0892891107
  response:
    body: '{"data":{"id":"01ffa7f4-fc91-47a3-b9e0-2b0892891107","type":"maintenances","attributes":{"completed_date":"2026-04-24T16:12:52.035Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/statuspages/f94e1859-5f7d-4725-8cea-36933d0ee44a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
