---
version: 1
interactions:
- request:
    body: |
      {"startAt":"notanid","time":{"from":"0001-01-01T00:00:00Z","to":"0001-01-01T00:00:00Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"error":{"message":"Invalid event id ''notanid''","code":"InvalidArgument"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Version:
      - "35.3390381"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "265"
      X-Ratelimit-Reset:
      - "2584"
    status: 400 Bad Request
    code: 400
    duration: ""
