---
version: 1
interactions:
- request:
    body: |
      {"filter":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/shrugs
    method: PUT
  response:
    body: '{"error":{"code":"InvalidArgument","message":"filter.query cannot be null"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "87"
      X-Ratelimit-Reset:
      - "1695"
    status: 400 Bad Request
    code: 400
    duration: ""
