---
version: 1
interactions:
- request:
    body: |
      {"filter":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/shrugs
    method: PUT
  response:
    body: '{"error":{"message":"filter.query cannot be null","code":"InvalidArgument"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "93"
      X-Ratelimit-Reset:
      - "448"
    status: 400 Bad Request
    code: 400
    duration: ""
