interactions:
- request:
    body: |
      {"data":{"attributes":{"from_ts":1721505230,"interval":"monthly","query":"slo_type:metric \"SLO Reporting Test\"","timezone":"America/New_York","to_ts":1724961230}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/slo/report
  response:
    body: '{"data":{"id":"69cfaa02-6640-11ef-8501-33b2b403f044","type":"report_id"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
