interactions:
- request:
    body: |
      {"data":{"attributes":{"from_ts":1690901870,"interval":"bad-interval","query":"slo_type:metric \"SLO Reporting Test\"","to_ts":1706803070}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/slo/report
  response:
    body: '{"errors":[{"title":"Invalid Argument","detail":"bad-interval is not a
      valid interval"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
