interactions:
- request:
    body: |
      {"data":{"attributes":{"from_ts":1710870996,"interval":"monthly","query":"slo_type:metric \"SLO Reporting Test\"","to_ts":1712685396}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/slo/report
  response:
    body: '{"data":{"id":"8288c800-f69a-11ee-aab1-0772aa10fea1","type":"report_id"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/slo/report/8288c800-f69a-11ee-aab1-0772aa10fea1/status
  response:
    body: '{"data":{"id":"8288c800-f69a-11ee-aab1-0772aa10fea1","type":"report_id","attributes":{"status":"in_progress"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
