interactions:
- request:
    body: |
      {"data":{"attributes":{"from_ts":1690901870,"interval":"monthly","query":"slo_type:metric \"SLO Reporting Test\"","timezone":"America/New_York","to_ts":1706803070}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/slo/report
  response:
    body: '{"data":{"id":"b30e72b2-eaf2-11ee-a529-ebcda9aef4e3","type":"report_id"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
