interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/services/definitions?schema_version=v2.1
  response:
    body: '{"data":[{"type":"service-definition","id":"00568235b96883e071172deb953a7b10","attributes":{"meta":{"last-modified-time":"2023-04-27T02:35:20Z","github-html-url":"","ingestion-source":"api","origin":"dd_sdk","origin-detail":"ruby","warnings":[],"ingested-schema-version":"v2.1"},"schema":{"schema-version":"v2.1","dd-service":"service-testrubycreateorupdateservicedefinitionusingschemav21returnscreatedresponse1682562919","team":"my-team","contacts":[{"name":"Team
      Email","type":"email","contact":"contact@datadoghq.com"}],"links":[{"name":"Architecture","type":"doc","provider":"Gigoogle
      drivetHub","url":"https://my-runbook"},{"name":"Runbook","type":"runbook","url":"https://my-runbook"},{"name":"Source
      Code","type":"repo","provider":"GitHub","url":"https://github.com/DataDog/schema"}],"tags":["my:tag","service:tag"],"integrations":{"pagerduty":{"service-url":"https://my-org.pagerduty.com/service-directory/PMyService"},"opsgenie":{"service-url":"https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000","region":"US"}},"extensions":{"myorgextension":"extensionvalue"}}}},{"type":"service-definition","id":"0113a795bffcfd1c420870459b84eef0","attributes":{"meta":{"last-modified-time":"2023-05-04T01:42:52Z","github-html-url":"","ingestion-source":"api","origin":"dd_sdk","origin-detail":"python","warnings":[],"ingested-schema-version":"v2.1"},"schema":{"schema-version":"v2.1","dd-service":"service-testpythoncreateorupdateservicedefinitionusingschemav21returnscreatedresponse1683164572","team":"my-team","contacts":[{"name":"Team
      Email","type"[...]
