---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagconfigurationsreturnsSuccessresponse1618220985"]},"id":"TestListtagconfigurationsreturnsSuccessresponse1618220985","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618220985/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618220985","attributes":{"tags":["TestListtagconfigurationsreturnsSuccessresponse1618220985","app","datacenter"],"include_percentiles":false,"created_at":"2021-04-12T09:49:45.273304+00:00","updated_at":"2021-04-12T09:49:45.273304+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "39"
      X-Ratelimit-Reset:
      - "15"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurations
    url: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618220985
    method: GET
  response:
    body: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618220985","attributes":{"tags":["TestListtagconfigurationsreturnsSuccessresponse1618220985","app","datacenter"],"include_percentiles":false,"created_at":"2021-04-12T09:49:45.273304+00:00","updated_at":"2021-04-12T09:49:45.273304+00:00","metric_type":"distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "38"
      X-Ratelimit-Reset:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
[...]
