---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagconfigurationsreturnsSuccessresponse1617974748"]},"id":"TestListtagconfigurationsreturnsSuccessresponse1617974748","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1617974748/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1617974748","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1617974748"],"include_percentiles":false,"created_at":"2021-04-09T13:25:48.215424+00:00","updated_at":"2021-04-09T13:25:48.215424+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "39"
      X-Ratelimit-Reset:
      - "12"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurations
    url: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1617974748
    method: GET
  response:
    body: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1617974748","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1617974748"],"include_percentiles":false,"created_at":"2021-04-09T13:25:48.215424+00:00","updated_at":"2021-04-09T13:25:48.215424+00:00","metric_type":"distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "38"
      X-Ratelimit-Reset:
      - "12"
    status: 200 OK
    code: 200
    duration: ""
[...]
