---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter"]},"id":"TestCreateatagconfigurationreturnsCreatedresponse1617974746","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1617974746/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1617974746","attributes":{"tags":["datacenter","app"],"include_percentiles":false,"created_at":"2021-04-09T13:25:46.478200+00:00","updated_at":"2021-04-09T13:25:46.478200+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "14"
    status: 201 Created
    code: 201
    duration: ""
[...]
