---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagconfigurationsreturnsSuccessresponse1617977659"]},"id":"TestListtagconfigurationsreturnsSuccessresponse1617977659","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1617977659/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1617977659","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1617977659"],"include_percentiles":false,"created_at":"2021-04-09T14:14:20.056336+00:00","updated_at":"2021-04-09T14:14:20.056336+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "39"
      X-Ratelimit-Reset:
      - "40"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurations
    url: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1617977659
    method: GET
  response:
    body: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1617977659","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1617977659"],"include_percentiles":false,"created_at":"2021-04-09T14:14:20.056336+00:00","updated_at":"2021-04-09T14:14:20.056336+00:00","metric_type":"distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "38"
      X-Ratelimit-Reset:
      - "40"
    status: 200 OK
    code: 200
    duration: ""
[...]
