---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1617977666"]},"id":"TestListtagsbymetricnamereturnsSuccessresponse1617977666","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617977666/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1617977666","attributes":{"tags":["datacenter","app","TestListtagsbymetricnamereturnsSuccessresponse1617977666"],"include_percentiles":false,"created_at":"2021-04-09T14:14:26.987437+00:00","updated_at":"2021-04-09T14:14:26.987437+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "35"
      X-Ratelimit-Reset:
      - "34"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagsByMetricName
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617977666/all-tags
    method: GET
  response:
    body: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1617977666","attributes":{"tags":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "588"
      X-Ratelimit-Reset:
      - "2733"
    status: 200 OK
    code: 200
    duration: ""
[...]
