---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1618220995"]},"id":"TestListtagsbymetricnamereturnsSuccessresponse1618220995","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618220995/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1618220995","attributes":{"tags":["datacenter","app","TestListtagsbymetricnamereturnsSuccessresponse1618220995"],"include_percentiles":false,"created_at":"2021-04-12T09:49:55.680079+00:00","updated_at":"2021-04-12T09:49:55.680079+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "35"
      X-Ratelimit-Reset:
      - "5"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagsByMetricName
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618220995/all-tags
    method: GET
  response:
    body: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1618220995","attributes":{"tags":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "586"
      X-Ratelimit-Reset:
      - "605"
    status: 200 OK
    code: 200
    duration: ""
[...]
