---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1617974755"]},"id":"TestListtagsbymetricnamereturnsSuccessresponse1617974755","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617974755/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1617974755","attributes":{"tags":["datacenter","app","TestListtagsbymetricnamereturnsSuccessresponse1617974755"],"include_percentiles":false,"created_at":"2021-04-09T13:25:55.214795+00:00","updated_at":"2021-04-09T13:25:55.214795+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "34"
      X-Ratelimit-Reset:
      - "5"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagsByMetricName
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617974755/all-tags
    method: GET
  response:
    body: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1617974755","attributes":{"tags":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "590"
      X-Ratelimit-Reset:
      - "2045"
    status: 200 OK
    code: 200
    duration: ""
[...]
