---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestUpdateatagconfigurationreturnsOKresponse1617977667"]},"id":"TestUpdateatagconfigurationreturnsOKresponse1617977667","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1617977667/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1617977667","attributes":{"tags":["datacenter","app","TestUpdateatagconfigurationreturnsOKresponse1617977667"],"include_percentiles":false,"created_at":"2021-04-09T14:14:27.437425+00:00","updated_at":"2021-04-09T14:14:27.437425+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "33"
      X-Ratelimit-Reset:
      - "33"
    status: 201 Created
    code: 201
    duration: ""
[...]
