---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestUpdateatagconfigurationreturnsOKresponse1618220996"]},"id":"TestUpdateatagconfigurationreturnsOKresponse1618220996","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1618220996/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1618220996","attributes":{"tags":["datacenter","app","TestUpdateatagconfigurationreturnsOKresponse1618220996"],"include_percentiles":false,"created_at":"2021-04-12T09:49:56.119492+00:00","updated_at":"2021-04-12T09:49:56.119492+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "33"
      X-Ratelimit-Reset:
      - "4"
    status: 201 Created
    code: 201
    duration: ""
[...]
