---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestUpdateatagconfigurationreturnsOKresponse1617974755"]},"id":"TestUpdateatagconfigurationreturnsOKresponse1617974755","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1617974755/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1617974755","attributes":{"tags":["datacenter","app","TestUpdateatagconfigurationreturnsOKresponse1617974755"],"include_percentiles":false,"created_at":"2021-04-09T13:25:55.642880+00:00","updated_at":"2021-04-09T13:25:55.642880+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "32"
      X-Ratelimit-Reset:
      - "5"
    status: 201 Created
    code: 201
    duration: ""
[...]
