interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"event_type":"session","name":"Test creating retention filter","query":"","sample_rate":25},"type":"invalid_type"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"got type \"invalid_type\"
      expected one of \"retention_filters\""}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
