interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"event_type":"session","name":"Test creating retention filter","query":"custom_query","sample_rate":50},"type":"retention_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters
  response:
    body: '{"data":{"id":"4b95d361-f65d-4515-9824-c9aaeba5ac2a","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Test
      creating retention filter","query":"custom_query","sample_rate":50}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
version: 2
