interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/applications/1d4b9c34-7ac4-423a-91cf-9902d926e9b3/retention_filters
  response:
    body: '{"data":[{"id":"325631eb-94c9-49c0-93f9-ab7e4fd24529","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Default
      session with replay","query":"@session.has_replay:true","sample_rate":100},"meta":{"source":"default"}},{"id":"42d89430-5b80-426e-a44b-ba3b417ece25","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Session
      filter","query":"","sample_rate":25},"meta":{"source":"unknown"}},{"id":"bff0bc34-99e9-4c16-adce-f47e71948c23","type":"retention_filters","attributes":{"enabled":true,"event_type":"view","name":"Custom
      filter","query":"noquery","sample_rate":50},"meta":{"source":"ui"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
