interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"event_type":"session","name":"Test retention filter for session","query":"custom_query","sample_rate":25},"meta":{"source":"terraform"},"type":"retention_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters
  response:
    body: '{"data":{"id":"453abb3f-7d27-47f8-84bb-1d18db6f1c48","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Test
      retention filter for session","query":"custom_query","sample_rate":25},"meta":{"source":"terraform"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters/453abb3f-7d27-47f8-84bb-1d18db6f1c48
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/%5Bobject%20Object%5D/retention_filters/453abb3f-7d27-47f8-84bb-1d18db6f1c48
  response:
    body: '{"errors":[{"status":"404","title":"Not Found","detail":"rpc error: code
      = NotFound desc = NotFound: This retention filter does not exist"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
