interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/csm/onboarding/coverage_analysis/cloud_accounts
  response:
    body: '{"data":{"id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","type":"get_cloud_accounts_coverage_analysis_response_public_v0","attributes":{"aws_coverage":{"partially_configured_resources_count":0,"configured_resources_count":4,"total_resources_count":10,"coverage":0.4},"azure_coverage":{"partially_configured_resources_count":0,"configured_resources_count":2,"total_resources_count":6,"coverage":0.3333333333333333},"gcp_coverage":{"partially_configured_resources_count":0,"configured_resources_count":2,"total_resources_count":4,"coverage":0.5},"org_id":321813,"total_coverage":{"partially_configured_resources_count":0,"configured_resources_count":8,"total_resources_count":20,"coverage":0.4}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
