interactions:
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsunprocessableentityresponse1748486178","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsunprocessableentityresponse1748486178","valid_tag_values":["prod","staging"],"tag_key_required":false},"policy_type":"tag"},"id":"f2f83512-b2c2-4dc4-a8db-c785cd818d6f"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsunprocessableentityresponse1748486178","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"00000000-0000-1234-0000-000000000000","type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/monitor/policy/f2f83512-b2c2-4dc4-a8db-c785cd818d6f
  response:
    body: '{"errors":["Policy id in request body does not match id in URL param"]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/policy/f2f83512-b2c2-4dc4-a8db-c785cd818d6f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
