interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"A description.","monitor_definition":{},"tags":["integration:Azure"],"template_variables":[{"available_values":["value1","value2"],"defaults":["defaultValue"],"name":"regionName","tag_key":"datacenter"}],"title":"Postgres DB test-create_a_monitor_user_template_returns_bad_request_response-1748486175"},"type":"monitor-user-template"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/template
  response:
    body: '{"errors":["Invalid monitor_definition or template variables: Monitor definition
      cannot be empty."]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
