interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"It's a threshold","monitor_definition":{"message":"cats","name":"High Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} \u003e 100","type":"query alert"},"tags":["category:test"],"template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"title":"api spec given template"},"type":"monitor-user-template"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/template
  response:
    body: '{"data":{"type":"monitor-user-template","attributes":{"monitor_definition":{"message":"cats","name":"High
      Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100","type":"query alert"},"title":"api spec given template","template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"modified":"2025-05-24T02:19:19.277448+00:00","description":"It''s
      a threshold","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","version":0,"tags":["category:test"],"created":"2025-05-24T02:19:19.277448+00:00"},"id":"8f0d7752-17e8-4bce-873f-2ca9c10f44a5"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"A description.","id":"00000000-0000-1234-0000-000000000000","type":"monitor-user-template"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/monitor/template/8f0d7752-17e8-4bce-873f-2ca9c10f44a5
  response:
    body: '{"errors":["Required parameter ''id'' is missing"]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
