interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_with_conditional_recipients_returns_ok_response-1758851460"]},"name":"test rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body: '{"data":{"type":"monitor-notification-rule","attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_with_conditional_recipients_returns_ok_response-1758851460"]},"created_at":"2025-09-26T01:51:00.665373+00:00","name":"test
      rule","recipients":["slack-monitor-app"],"modified_at":"1970-01-01T00:00:00+00:00"},"id":"954d2f74-ec41-4f7b-9f63-7146075f3537","relationships":{"created_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}},"included":[{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","created_at":"2020-12-29T22:58:44.733921+00:00","modified_at":"2021-04-27T13:54:01.547888+00:00","email":"team-intg-tools-libs-spam@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"conditional_recipients":{"conditions":[{"recipients":["slack-test-channel","jira-test"],"scope":"transition_type:is_alert"}]},"filter":{"tags":["test:test-update_a_monitor_notification_rule_with_conditional_recipients_returns_ok_response-1758851460","host:abc"]},"name":"updated rule"},"id":"954d2f74-ec41-4f7b-9f63-7146075f3537","type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/954d2f74-ec41-4f7b-9f63-7146075f3537
  response:
    body: '{"data":{"type":"monitor-notification-rule","id":"954d2f74-ec41-4f7b-9f63-7146075f3537","attributes":{"filter":{"tags":["test:test-update_a_monitor_notification_rule_with_conditional_recipients_returns_ok_response-1758851460","host:abc"]},"modified_at":"2025-09-26T01:51:00.876883+00:00","conditional_recipients":{"conditions":[[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/954d2f74-ec41-4f7b-9f63-7146075f3537
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
