interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_ok_response-1743786638"]},"name":"test rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body: '{"data":{"type":"monitor-notification-rule","attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_ok_response-1743786638"]},"name":"test
      rule","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:38.938875+00:00","recipients":["slack-monitor-app"],"modified_at":"1970-01-01T00:00:00+00:00"},"id":"cb5228e4-e37b-47aa-8c94-59df460974e7"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_ok_response-1743786638","host:abc"]},"name":"updated rule","recipients":["slack-test-channel"]},"id":"cb5228e4-e37b-47aa-8c94-59df460974e7","type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/cb5228e4-e37b-47aa-8c94-59df460974e7
  response:
    body: '{"data":{"type":"monitor-notification-rule","attributes":{"recipients":["slack-test-channel"],"modified_at":"2025-04-04T17:10:39.154674+00:00","name":"updated
      rule","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:38.938875+00:00","filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_ok_response-1743786638","host:abc"]}},"id":"cb5228e4-e37b-47aa-8c94-59df460974e7"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/cb5228e4-e37b-47aa-8c94-59df460974e7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
