interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743786634"]},"name":"test rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body: '{"data":{"type":"monitor-notification-rule","id":"93faf8a4-881a-47e7-8d74-6ad37e702a57","attributes":{"recipients":["slack-monitor-app"],"created_at":"2025-04-04T17:10:35.016562+00:00","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"test
      rule","filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743786634"]},"modified_at":"1970-01-01T00:00:00+00:00"}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/93faf8a4-881a-47e7-8d74-6ad37e702a57
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/93faf8a4-881a-47e7-8d74-6ad37e702a57
  response:
    body: '{"errors":["Monitor notification rule not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
