interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636"]},"name":"test rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body: '{"data":{"type":"monitor-notification-rule","id":"7e23b1ee-5931-4560-b829-94671910632a","attributes":{"recipients":["slack-monitor-app"],"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:37.083846+00:00","modified_at":"1970-01-01T00:00:00+00:00","name":"test
      rule","filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636"]}}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/7e23b1ee-5931-4560-b829-94671910632a
  response:
    body: '{"data":{"type":"monitor-notification-rule","attributes":{"modified_at":"2025-04-04T17:10:37.095991+00:00","name":"test
      rule","filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636"]},"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:37.083846+00:00","recipients":["slack-monitor-app"]},"id":"7e23b1ee-5931-4560-b829-94671910632a"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/7e23b1ee-5931-4560-b829-94671910632a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
