interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_bad_request_response-1743786638"]},"name":"test rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body: '{"data":{"type":"monitor-notification-rule","attributes":{"modified_at":"1970-01-01T00:00:00+00:00","recipients":["slack-monitor-app"],"name":"test
      rule","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_bad_request_response-1743786638"]},"created_at":"2025-04-04T17:10:38.399066+00:00"},"id":"a55aafcd-667f-4731-8b2f-273092bf440f"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_bad_request_response-1743786638","host:abc"]},"name":"updated rule","recipients":["@slack-test-channel"]},"id":"a55aafcd-667f-4731-8b2f-273092bf440f","type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/a55aafcd-667f-4731-8b2f-273092bf440f
  response:
    body: '{"errors":["Invalid recipients: Recipient handle should not start with
      ''@''"]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/a55aafcd-667f-4731-8b2f-273092bf440f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
