interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"testgetallmonitorconfigurationpoliciesreturnsokresponse1682627703","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"valid_tag_values":["prod","staging"],"tag_key_required":false,"tag_key":"testgetallmonitorconfigurationpoliciesreturnsokresponse1682627703"},"policy_type":"tag"},"id":"fd3bfd14-e53a-11ed-975d-da7ad0900002"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/policy/fd3bfd14-e53a-11ed-975d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
