interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"It's a threshold","monitor_definition":{"message":"cats","name":"High Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} \u003e 100","type":"query alert"},"tags":["category:test"],"template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"title":"api spec given template test-validate_an_existing_monitor_user_template_returns_bad_request_response-1748486184"},"type":"monitor-user-template"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/template
  response:
    body: '{"data":{"type":"monitor-user-template","attributes":{"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","monitor_definition":{"message":"cats","name":"High
      Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100","type":"query alert"},"tags":["category:test"],"created":"2025-05-29T02:36:24.928104+00:00","modified":"2025-05-29T02:36:24.928104+00:00","title":"api
      spec given template test-validate_an_existing_monitor_user_template_returns_bad_request_response-1748486184","version":0,"template_variables":[{"name":"scope","defaults":["cats"],"available_values":[]}],"description":"It''s
      a threshold"},"id":"599fecff-7834-42bd-976b-c2d145f42579"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"A description.","monitor_definition":{},"tags":["integration:Azure"],"template_variables":[{"available_values":["value1","value2"],"defaults":["defaultValue"],"name":"regionName","tag_key":"datacenter"}],"title":"Postgres DB test-validate_an_existing_monitor_user_template_returns_bad_request_response-1748486184"},"id":"00000000-0000-1234-0000-000000000000","type":"monitor-user-template"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/template/599fecff-7834-42bd-976b-c2d145f42579/validate
  response:
    body: '{"errors":["Invalid monitor_definition or template variables: Monitor definition
      cannot be empty."]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/template/599fecff-7834-42bd-976b-c2d145f42579
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
