interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"It's a threshold","monitor_definition":{"message":"cats","name":"High Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} \u003e 100","type":"query alert"},"tags":["category:test"],"template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"title":"api spec given template test-update_a_monitor_user_template_to_a_new_version_returns_ok_response-1748486183"},"type":"monitor-user-template"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/template
  response:
    body: '{"data":{"type":"monitor-user-template","attributes":{"template_variables":[{"name":"scope","available_values":[],"defaults":["cats"]}],"monitor_definition":{"message":"cats","name":"High
      Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100","type":"query alert"},"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created":"2025-05-29T02:36:23.954533+00:00","modified":"2025-05-29T02:36:23.954533+00:00","version":0,"title":"api
      spec given template test-update_a_monitor_user_template_to_a_new_version_returns_ok_response-1748486183","tags":["category:test"],"description":"It''s
      a threshold"},"id":"fefd62df-924a-4438-a697-f7e6ccbad77e"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"A description.","monitor_definition":{"message":"A msg.","name":"A name test-update_a_monitor_user_template_to_a_new_version_returns_ok_response-1748486183","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} \u003e 100","type":"query alert"},"tags":["integration:Azure"],"template_variables":[{"available_values":["value1","value2"],"defaults":["defaultValue"],"name":"regionName","tag_key":"datacenter"}],"title":"Postgres DB test-update_a_monitor_user_template_to_a_new_version_returns_ok_response-1748486183"},"id":"00000000-0000-1234-0000-000000000000","type":"monitor-user-template"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/monitor/template/fefd62df-924a-4438-a697-f7e6ccbad77e
  response:
    body: '{"data":{"type":"monitor-user-template","attributes":{"title":"Postgres
      DB test-update_a_monitor_user_template_to_a_new_version_returns_ok_response-1748486183","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":"2025-05-29T02:36:24.215009+00:00","version":1,"description":"A
      description.","versions":[{"title":"api spec given template test-update_a_monitor_user_template_to_a_new_version_returns_ok_response-1748486183","version":0,"description":"It''s
      a threshold","id":"fefd62df-924a-4438-a697-f7e6ccbad77e","created":"2025-05-29T02:36:23.954533+00:00","monitor_definition":{"name":"High
      Error Rate on service","type":"query alert","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100","message":"cats"},"template_variables":[{"defaults":["cats"],"available_values":[[...]
[...]
