interactions:
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"dc","tag_key_required":true,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":true,"tag_key":"dc","valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"cf99b4f4-9833-11ed-84c5-da7ad0900002"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"datacenter","tag_key_required":true,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"cf99b4f4-9833-11ed-84c5-da7ad0900002","type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/monitor/policy/cf99b4f4-9833-11ed-84c5-da7ad0900002
  response:
    body: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":true,"tag_key":"datacenter","valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"cf99b4f4-9833-11ed-84c5-da7ad0900002"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/policy/cf99b4f4-9833-11ed-84c5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
