interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"testdeleteamonitorconfigurationpolicyreturnsokresponse1682627700","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body: '{"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"tag_key_required":false,"tag_key":"testdeleteamonitorconfigurationpolicyreturnsokresponse1682627700","valid_tag_values":["prod","staging"]}},"id":"fb4a2490-e53a-11ed-a5db-da7ad0900002"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/policy/fb4a2490-e53a-11ed-a5db-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/policy/fb4a2490-e53a-11ed-a5db-da7ad0900002
  response:
    body: '{"errors":["Monitor config policy not found"]}'
    code: 404
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
