interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsunprocessableentityresponse1682627701","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsunprocessableentityresponse1682627701","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"fc38f7f0-e53a-11ed-947f-da7ad0900002"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsunprocessableentityresponse1682627701","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"00000000-0000-1234-0000-000000000000","type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/monitor/policy/fc38f7f0-e53a-11ed-947f-da7ad0900002
  response:
    body: '{"errors":["Policy id in request body does not match id in URL param"]}'
    code: 422
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/policy/fc38f7f0-e53a-11ed-947f-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
