interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1768440803","space_resource_name":"spaces/AAQA-zFIks8"},"type":"google-chat-organization-handle"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles
  response:
    body: '{"data":{"id":"e8eb5d83-6dcb-4664-a35b-eaa0d1e22136","type":"google-chat-organization-handle","attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1768440803","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1768440803--updated"}},"type":"google-chat-organization-handle"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/e8eb5d83-6dcb-4664-a35b-eaa0d1e22136
  response:
    body: '{"data":{"id":"e8eb5d83-6dcb-4664-a35b-eaa0d1e22136","type":"google-chat-organization-handle","attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1768440803--updated","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/%7Borganization_binding_id%7D/organization-handles/e8eb5d83-6dcb-4664-a35b-eaa0d1e22136
  response:
    body: '{"errors":[{"status":"400","title":"Invalid Parameter","detail":"invalid
      parameter \"google_chat_organization_binding_id\" in \"path\"; expected type
      \"uuid\""}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
