interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_all_organization_handles_returns_OK_response-1770751030","space_resource_name":"spaces/AAQA-zFIks8"}},"type":"google-chat-organization-handle"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles
  response:
    body: '{"data":{"id":"9c140b3f-05c1-4943-959a-cae272356979","type":"google-chat-organization-handle","attributes":{"name":"Test-Get_all_organization_handles_returns_OK_response-1770751030","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/9c140b3f-05c1-4943-959a-cae272356979
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
