interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1618491702"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/teams
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"aa28be1d-d97b-5567-a478-2d18ce9975e4","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1618491702","created":"2021-04-15T13:01:42.791381+00:00","modified":"2021-04-15T13:01:42.791381+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/teams/aa28be1d-d97b-5567-a478-2d18ce9975e4
  response:
    body: '{"data":{"type":"teams","id":"aa28be1d-d97b-5567-a478-2d18ce9975e4","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1618491702","created":"2021-04-15T13:01:42.791381+00:00","modified":"2021-04-15T13:01:42.791381+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/teams/aa28be1d-d97b-5567-a478-2d18ce9975e4
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
