interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1641829841"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/teams
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"675e930c-cfd4-55b4-9a00-3983d67bef6f","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1641829841","created":"2022-01-10T15:50:41.867939+00:00","modified":"2022-01-10T15:50:41.867939+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/teams?filter=Test-Get_a_list_of_all_incident_teams_returns_OK_response-1641829841
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"total":1695,"size":1,"next_offset":1,"offset":0},"total":1695},"data":[{"type":"teams","id":"675e930c-cfd4-55b4-9a00-3983d67bef6f","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1641829841","created":"2022-01-10T15:50:41.867939+00:00","modified":"2022-01-10T15:50:41.867939+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/teams/675e930c-cfd4-55b4-9a00-3983d67bef6f
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
