interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1652349099"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/teams
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"48fe29a2-88f2-5563-ac54-205e0ca2723a","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1652349099","created":"2022-05-12T09:51:39.732496+00:00","modified":"2022-05-12T09:51:39.732496+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/teams?filter=Test-Get_a_list_of_all_incident_teams_returns_OK_response-1652349099
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"total":1705,"size":1,"next_offset":1,"offset":0},"total":1705},"data":[{"type":"teams","id":"48fe29a2-88f2-5563-ac54-205e0ca2723a","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1652349099","created":"2022-05-12T09:51:39.732496+00:00","modified":"2022-05-12T09:51:39.732496+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/teams/48fe29a2-88f2-5563-ac54-205e0ca2723a
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
