# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/api-clients

# Documentation
*.md                    @DataDog/baklava @DataDog/api-clients
LICENSE                 @DataDog/baklava @DataDog/api-clients
NOTICE                  @DataDog/baklava @DataDog/api-clients
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/api-clients
