# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/web-frameworks-approvers @DataDog/web-frameworks

# Documentation
*.md                    @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks
LICENSE                 @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks
NOTICE                  @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks
LICENSE-3rdparty.csv    @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks
