interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":false,"path":"@duration"},"filter":{"query":"source:Test-Get_all_span_based_metrics_returns_OK_response-1686139550"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}]},"id":"Test-Get_all_span_based_metrics_returns_OK_response-1686139550","type":"spans_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/apm/config/metrics
  response:
    body: '{"data":{"id":"Test_Get_all_span_based_metrics_returns_OK_response_1686139550","attributes":{"filter":{"query":"source:Test-Get_all_span_based_metrics_returns_OK_response-1686139550"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/apm/config/metrics
  response:
    body: '{"data":[{"id":"tf_TestAccSpansMetric_import_local_1681996306","attributes":{"filter":{"query":"@http.status_code:200
      service:my-service"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"},{"id":"Test_Get_all_span_based_metrics_returns_OK_response_1686139550","attributes":{"filter":{"query":"source:Test-Get_all_span_based_metrics_returns_OK_response-1686139550"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"}]}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/apm/config/metrics/Test_Get_all_span_based_metrics_returns_OK_response_1686139550
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
