interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_query_table_widget-1731611552","widgets":[{"definition":{"has_search_bar":"auto","requests":[{"formulas":[{"cell_display_mode":"bar","conditional_formats":[],"formula":"query1"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"scalar","sort":{"count":500,"order_by":[{"index":0,"order":"desc","type":"formula"}]}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":32,"width":54,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"vx3-uy4-r8e","title":"Test-Create_a_new_dashboard_with_query_table_widget-1731611552","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/vx3-uy4-r8e/test-createanewdashboardwithquerytablewidget-1731611552","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"has_search_bar":"auto","requests":[{"formulas":[{"cell_display_mode":"bar","conditional_formats":[],"formula":"query1"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
      by {host}"}],"response_format":"scalar","sort":{"count":500,"order_by":[{"index":0,"order":"desc","type":"formula"}]}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":32,"width":54,"x":0,"y":0},"id":3858788506982676}],"notify_list":[],"created_at":"2024-11-14T19:12:32.810607+00:00","modified_at":"2024-11-14T19:12:32.810607+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/vx3-uy4-r8e
  response:
    body: '{"deleted_dashboard_id":"vx3-uy4-r8e"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
