interactions:
- request:
    body: |
      {"description":null,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_event_timeline_widget-1731699159","widgets":[{"definition":{"query":"status:error priority:all","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_timeline"},"layout":{"height":9,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"y4s-pyq-y6k","title":"Test-Create_a_new_dashboard_with_event_timeline_widget-1731699159","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/y4s-pyq-y6k/test-createanewdashboardwitheventtimelinewidget-1731699159","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"query":"status:error
      priority:all","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_timeline"},"layout":{"height":9,"width":47,"x":0,"y":0},"id":1248560916532440}],"notify_list":[],"created_at":"2024-11-15T19:32:39.998921+00:00","modified_at":"2024-11-15T19:32:39.998921+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/y4s-pyq-y6k
  response:
    body: '{"deleted_dashboard_id":"y4s-pyq-y6k"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
