interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_apm_resource_stats_widget-1731699156","widgets":[{"definition":{"requests":[{"queries":[{"data_source":"apm_resource_stats","env":"ci","group_by":["resource_name"],"name":"query1","operation_name":"cassandra.query","primary_tag_name":"datacenter","primary_tag_value":"edge-eu1.prod.dog","service":"cassandra","stat":"hits"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"29d-cad-9rf","title":"Test-Create_a_new_dashboard_with_apm_resource_stats_widget-1731699156","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/29d-cad-9rf/test-createanewdashboardwithapmresourcestatswidget-1731699156","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"queries":[{"data_source":"apm_resource_stats","env":"ci","group_by":["resource_name"],"name":"query1","operation_name":"cassandra.query","primary_tag_name":"datacenter","primary_tag_value":"edge-eu1.prod.dog","service":"cassandra","stat":"hits"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":150814161312733}],"notify_list":null,"created_at":"2024-11-15T19:32:37.062973+00:00","modified_at":"2024-11-15T19:32:37.062973+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/29d-cad-9rf
  response:
    body: '{"deleted_dashboard_id":"29d-cad-9rf"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
