interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Update_a_shared_dashboard_returns_OK_response-1681332944 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"n4p-ymg-wjf","title":"Test-Update_a_shared_dashboard_returns_OK_response-1681332944
      with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/n4p-ymg-wjf/test-updateashareddashboardreturnsokresponse-1681332944-with-profile-metrics-que","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":8334852074489292}],"notify_list":null,"created_at":"2023-04-12T20:55:45.157005+00:00","modified_at":"2023-04-12T20:55:45.157005+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"dashboard_id":"n4p-ymg-wjf","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testupdateashareddashboardreturnsokresponse1681332944@datadoghq.com"],"share_type":"invite"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"n4p-ymg-wjf","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","created":"2023-04-12T20:55:45.513088+00:00","share_type":"invite","share_list":["testupdateashareddashboardreturnsokresponse1681332944@datadoghq.com"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"global_time":{"live_span":"15m"},"share_list":[],"share_type":"open"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PUT
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7
  response:
    body: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"n4p-ymg-wjf","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"15m"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","created":"2023-04-12T20:55:45.513088+00:00","share_type":"open","share_list":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7
  response:
    body: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/n4p-ymg-wjf
  response:
    body: '{"deleted_dashboard_id":"n4p-ymg-wjf"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
