interactions:
- id: 0
  request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_logs_transaction_stream_list_stream_widget-1673628238 with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"compute":[{"aggregation":"count","facet":"service"}],"data_source":"logs_transaction_stream","group_by":[{"facet":"service"}],"query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"89c-p48-tve","title":"Test-Create_a_new_dashboard_with_logs_transaction_stream_list_stream_widget-1673628238
      with list_stream widget","url":"/dashboard/89c-p48-tve/test-createanewdashboardwithlogstransactionstreamliststreamwidget-1673628238-wit","created_at":"2023-01-13T16:43:58.328143+00:00","modified_at":"2023-01-13T16:43:58.328143+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"query":{"query_string":"","group_by":[{"facet":"service"}],"data_source":"logs_transaction_stream","compute":[{"facet":"service","aggregation":"count"}]},"response_format":"event_list","columns":[{"field":"timestamp","width":"auto"}]}],"type":"list_stream"},"id":4678220055282526}],"layout_type":"ordered"}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/89c-p48-tve
  response:
    body: '{"deleted_dashboard_id":"89c-p48-tve"}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
