interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_log_stream_widget-1731611548","widgets":[{"definition":{"columns":["host","service"],"indexes":["main"],"message_display":"expanded-md","query":"","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"title":"","title_align":"left","title_size":"16","type":"log_stream"},"layout":{"height":36,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"ehu-t86-88d","title":"Test-Create_a_new_dashboard_with_log_stream_widget-1731611548","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/ehu-t86-88d/test-createanewdashboardwithlogstreamwidget-1731611548","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"columns":["host","service"],"indexes":["main"],"message_display":"expanded-md","query":"","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"title":"","title_align":"left","title_size":"16","type":"log_stream"},"layout":{"height":36,"width":47,"x":0,"y":0},"id":3386822752996121}],"notify_list":[],"created_at":"2024-11-14T19:12:28.641489+00:00","modified_at":"2024-11-14T19:12:28.641489+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ehu-t86-88d
  response:
    body: '{"deleted_dashboard_id":"ehu-t86-88d"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
