interactions:
- request:
    body: |
      {"description":"","layout_type":"ordered","notify_list":[],"reflow_type":"fixed","template_variables":[],"title":"Test-Create_a_new_dashboard_with_timeseries_widget_with_custom_unit-1774292382","widgets":[{"definition":{"description":"Example widget description","legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1","number_format":{"unit":{"type":"canonical_unit","unit_name":"fraction"},"unit_scale":{"type":"canonical_unit","unit_name":"apdex"}}}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":true,"time":{},"title":"","title_align":"left","title_size":"16","type":"timeseries"},"layout":{"height":5,"width":12,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"wuf-exp-9k5","title":"Test-Create_a_new_dashboard_with_timeseries_widget_with_custom_unit-1774292382","description":"","author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
      Account","layout_type":"ordered","url":"/dashboard/wuf-exp-9k5/test-createanewdashboardwithtimeserieswidgetwithcustomunit-1774292382","template_variables":[],"widgets":[{"definition":{"description":"Example
      widget description","legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1","number_format":{"unit":{"type":"canonical_unit","unit_name":"fraction"},"unit_scale":{"type":"canonical_unit","unit_name":"apdex"}}}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":true,"time":{},"title":"","title_align":"left","title_size":"16","type":"timeseries"},"layout":{"height":5,"width":12,"x":0,"y":0},"id":8254572000035554}],"notify_list":[],"created_at":"2026-03-23T18:59:42.872221+00:00","modified_at":"2026-03-23T18:59:42.872221+00:00","reflow_type":"fixed","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/wuf-exp-9k5
  response:
    body: '{"deleted_dashboard_id":"wuf-exp-9k5"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
