interactions:
- request:
    body: |
      {"name":"Test-Create_a_new_dashboard_with_slo_widget-1731699174","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"id":"ff0d47f8ee755a4abc061fe92e9978f5","name":"Test-Create_a_new_dashboard_with_slo_widget-1731699174","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1731699174,"modified_at":1731699174}],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_slo_widget-1731699174","widgets":[{"definition":{"additional_query_filters":"!host:excluded_host","global_time_target":"0","show_error_budget":true,"slo_id":"ff0d47f8ee755a4abc061fe92e9978f5","time_windows":["7d"],"title_align":"left","title_size":"16","type":"slo","view_mode":"overall","view_type":"detail"},"layout":{"height":21,"width":60,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"87d-8cv-ee8","title":"Test-Create_a_new_dashboard_with_slo_widget-1731699174","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/87d-8cv-ee8/test-createanewdashboardwithslowidget-1731699174","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"additional_query_filters":"!host:excluded_host","global_time_target":"0","show_error_budget":true,"slo_id":"ff0d47f8ee755a4abc061fe92e9978f5","time_windows":["7d"],"title_align":"left","title_size":"16","type":"slo","view_mode":"overall","view_type":"detail"},"layout":{"height":21,"width":60,"x":0,"y":0},"id":7311206439565839}],"notify_list":[],"created_at":"2024-11-15T19:32:54.989103+00:00","modified_at":"2024-11-15T19:32:54.989103+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/87d-8cv-ee8
  response:
    body: '{"deleted_dashboard_id":"87d-8cv-ee8"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/ff0d47f8ee755a4abc061fe92e9978f5
  response:
    body: '{"data":["ff0d47f8ee755a4abc061fe92e9978f5"],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
