interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_event_stream_widget-1684506281","widgets":[{"definition":{"event_size":"s","query":"example-query","show_year":true,"tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":38,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"6fx-j89-9ip","title":"Test-Create_a_new_dashboard_with_event_stream_widget-1684506281","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/6fx-j89-9ip/test-createanewdashboardwitheventstreamwidget-1684506281","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"s","query":"example-query","show_year":true,"tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":38,"width":47,"x":0,"y":0},"id":4666982916800865}],"notify_list":[],"created_at":"2023-05-19T14:24:41.495188+00:00","modified_at":"2023-05-19T14:24:41.495188+00:00","restricted_roles":[]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/6fx-j89-9ip
  response:
    body: '{"deleted_dashboard_id":"6fx-j89-9ip"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
