interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_a_shared_dashboard_returns_OK_response-1680884023 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"zrc-p5j-6r5","title":"Test-Get_a_shared_dashboard_returns_OK_response-1680884023
      with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/zrc-p5j-6r5/test-getashareddashboardreturnsokresponse-1680884023-with-profile-metrics-query","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":1984776941235348}],"notify_list":null,"created_at":"2023-04-07T16:13:43.596459+00:00","modified_at":"2023-04-07T16:13:43.596459+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"dashboard_id":"zrc-p5j-6r5","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testgetashareddashboardreturnsokresponse1680884023@datadoghq.com"],"share_type":"invite"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"zrc-p5j-6r5","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-c4a0580ce838fc0e47144fc8808f5467","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-c4a0580ce838fc0e47144fc8808f5467","created":"2023-04-07T16:13:44.162867+00:00","share_type":"invite","share_list":["testgetashareddashboardreturnsokresponse1680884023@datadoghq.com"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-c4a0580ce838fc0e47144fc8808f5467
  response:
    body: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"zrc-p5j-6r5","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-c4a0580ce838fc0e47144fc8808f5467","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-c4a0580ce838fc0e47144fc8808f5467","created":"2023-04-07T16:13:44.162867+00:00","share_type":"invite","share_list":["testgetashareddashboardreturnsokresponse1680884023@datadoghq.com"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-c4a0580ce838fc0e47144fc8808f5467
  response:
    body: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-c4a0580ce838fc0e47144fc8808f5467"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/zrc-p5j-6r5
  response:
    body: '{"deleted_dashboard_id":"zrc-p5j-6r5"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
