interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_all_dashboards_returns_OK_response-1641430243 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"h7i-mjy-78u","title":"Test-Get_all_dashboards_returns_OK_response-1641430243
      with Profile Metrics Query","url":"/dashboard/h7i-mjy-78u/test-getalldashboardsreturnsokresponse-1641430243-with-profile-metrics-query","created_at":"2022-01-06T00:50:43.864194+00:00","modified_at":"2022-01-06T00:50:43.864194+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":2449099635020633}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard?filter%5Bshared%5D=false
  response:
    body: '{"dashboards":[{"created_at":"2021-12-15T14:39:24.510324+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"This
      dashboard provides deep visibility into your AWS RDS PostgreSQL database by
      visualizing metrics from the PostgreSQL database engine alongside resource metrics
      from your AWS infrastructure. Further reading on AWS RDS PostgreSQL monitoring:\n\n-
      [Datadog''s guide to key AWS RDS PostgreSQL metrics](https://www.datadoghq.com/blog/aws-rds-postgresql-m[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/h7i-mjy-78u
  response:
    body: '{"deleted_dashboard_id":"h7i-mjy-78u"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
