interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Update_a_dashboard_returns_OK_response-1645779739 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"9uw-zvg-9sn","title":"Test-Update_a_dashboard_returns_OK_response-1645779739
      with Profile Metrics Query","url":"/dashboard/9uw-zvg-9sn/test-updateadashboardreturnsokresponse-1645779739-with-profile-metrics-query","created_at":"2022-02-25T09:02:19.677253+00:00","modified_at":"2022-02-25T09:02:19.677253+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":7885367271440770}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"description":"Updated description","layout_type":"ordered","title":"Test-Update_a_dashboard_returns_OK_response-1645779739 with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/dashboard/9uw-zvg-9sn
  response:
    body: '{"notify_list":null,"description":"Updated description","restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"9uw-zvg-9sn","title":"Test-Update_a_dashboard_returns_OK_response-1645779739
      with list_stream widget","url":"/dashboard/9uw-zvg-9sn/test-updateadashboardreturnsokresponse-1645779739-with-liststream-widget","created_at":"2022-02-25T09:02:19.677253+00:00","modified_at":"2022-02-25T09:02:20.155487+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"query":{"query_string":"","data_source":"issue_stream"},"response_format":"event_list","columns":[{"field":"timestamp","width":"auto"}]}],"type":"list_stream"},"id":7534839820758504}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/9uw-zvg-9sn
  response:
    body: '{"deleted_dashboard_id":"9uw-zvg-9sn"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
