interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731611549 with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"logs_stream","query_string":"","storage":"hot"},"response_format":"event_list"}],"type":"list_stream"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"u2y-5dh-mxx","title":"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731611549
      with list_stream widget","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"ordered","url":"/dashboard/u2y-5dh-mxx/test-createanewdashboardwithlogsstreamliststreamwidgetandstorageparameter-173161","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"logs_stream","query_string":"","storage":"hot"},"response_format":"event_list"}],"type":"list_stream"},"id":2341700770963801}],"notify_list":null,"created_at":"2024-11-14T19:12:29.821235+00:00","modified_at":"2024-11-14T19:12:29.821235+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/u2y-5dh-mxx
  response:
    body: '{"deleted_dashboard_id":"u2y-5dh-mxx"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
