interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_bar_chart_widget_sorted_by_group-1765833989","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {service}"}],"response_format":"scalar","sort":{"count":10,"order_by":[{"name":"service","order":"asc","type":"group"}]}}],"style":{"display":{"legend":"inline","type":"stacked"},"palette":"dog_classic","scaling":"relative"},"time":{},"title":"","title_align":"left","title_size":"16","type":"bar_chart"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"d7t-dfe-vuh","title":"Test-Create_a_new_dashboard_with_bar_chart_widget_sorted_by_group-1765833989","description":"","author_handle":"jessica.sylvester@datadoghq.com","author_name":"Jessica
      Sylvester","layout_type":"free","url":"/dashboard/d7t-dfe-vuh/test-createanewdashboardwithbarchartwidgetsortedbygroup-1765833989","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
      by {service}"}],"response_format":"scalar","sort":{"count":10,"order_by":[{"name":"service","order":"asc","type":"group"}]}}],"style":{"display":{"legend":"inline","type":"stacked"},"palette":"dog_classic","scaling":"relative"},"time":{},"title":"","title_align":"left","title_size":"16","type":"bar_chart"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":3540992741229512}],"notify_list":[],"created_at":"2025-12-15T21:26:29.666161+00:00","modified_at":"2025-12-15T21:26:29.666161+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/d7t-dfe-vuh
  response:
    body: '{"deleted_dashboard_id":"d7t-dfe-vuh"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
