interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_manage_status_widget-1640210587","widgets":[{"definition":{"color_preference":"text","count":50,"display_format":"countsAndList","hide_zero_counts":true,"query":"","show_last_triggered":false,"sort":"status,asc","start":0,"summary_type":"monitors","type":"manage_status"},"layout":{"height":25,"width":50,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"uu2-p6t-rbf","title":"Test-Create_a_new_dashboard_with_manage_status_widget-1640210587","url":"/dashboard/uu2-p6t-rbf/test-createanewdashboardwithmanagestatuswidget-1640210587","created_at":"2021-12-22T22:03:07.603756+00:00","modified_at":"2021-12-22T22:03:07.603756+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"count":50,"sort":"status,asc","color_preference":"text","hide_zero_counts":true,"start":0,"summary_type":"monitors","show_last_triggered":false,"query":"","display_format":"countsAndList","type":"manage_status"},"layout":{"y":0,"width":50,"x":0,"height":25},"id":5109716242551068}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/uu2-p6t-rbf
  response:
    body: '{"deleted_dashboard_id":"uu2-p6t-rbf"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
