interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_query_table_widget-1641430238","widgets":[{"definition":{"has_search_bar":"auto","requests":[{"formulas":[{"cell_display_mode":"bar","conditional_formats":[],"formula":"query1","limit":{"count":500,"order":"desc"}}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":32,"width":54,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"sqa-699-xcc","title":"Test-Create_a_new_dashboard_with_query_table_widget-1641430238","url":"/dashboard/sqa-699-xcc/test-createanewdashboardwithquerytablewidget-1641430238","created_at":"2022-01-06T00:50:38.368385+00:00","modified_at":"2022-01-06T00:50:38.368385+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"","title_align":"left","has_search_bar":"auto","time":{},"requests":[{"formulas":[{"formula":"query1","cell_display_mode":"bar","limit":{"count":500,"order":"desc"},"conditional_formats":[]}],"response_format":"scalar","queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
      by {host}"}]}],"type":"query_table"},"layout":{"y":0,"width":54,"x":0,"height":32},"id":4876182137167827}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/sqa-699-xcc
  response:
    body: '{"deleted_dashboard_id":"sqa-699-xcc"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
