interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_topology_map_data_streams_widget-1774030611","widgets":[{"definition":{"requests":[{"query":{"data_source":"data_streams","filters":["env:prod"],"query_string":"service:myservice","service":""},"request_type":"topology"}],"title":"","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"whr-253-7we","title":"Test-Create_a_new_dashboard_with_topology_map_data_streams_widget-1774030611","description":"","author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
      Account","layout_type":"free","url":"/dashboard/whr-253-7we/test-createanewdashboardwithtopologymapdatastreamswidget-1774030611","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"data_streams","filters":["env:prod"],"query_string":"service:myservice","service":""},"request_type":"topology"}],"title":"","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":1843670487553482}],"notify_list":[],"created_at":"2026-03-20T18:16:52.209473+00:00","modified_at":"2026-03-20T18:16:52.209473+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/whr-253-7we
  response:
    body: '{"deleted_dashboard_id":"whr-253-7we"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
