interactions:
- id: 0
  request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_metrics_q-1690903004","widgets":[{"definition":{"custom_links":[{"label":"Example","link":"https://example.org/"}],"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.Load{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"show_legend":false,"title":"Metrics HOP","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":2,"width":4,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"uts-6em-2su","title":"Test-Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_metrics_q-1690903004","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/uts-6em-2su/test-createadistributionwidgetusingahistogramrequestcontainingaformulasandfuncti","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"custom_links":[{"label":"Example","link":"https://example.org/"}],"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.Load{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"show_legend":false,"title":"Metrics
      HOP","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":2,"width":4,"x":0,"y":0},"id":4570406064684725}],"notify_list":null,"created_at":"2023-08-01T15:16:44.785380+00:00","modified_at":"2023-08-01T15:16:44.785380+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/uts-6em-2su
  response:
    body: '{"deleted_dashboard_id":"uts-6em-2su"}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
