interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1731699176","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*} by {service}"}],"response_format":"scalar","style":{"palette":"dog_classic"}}],"title":"","title_align":"left","title_size":"16","type":"sunburst"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"qfx-a3h-kme","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1731699176","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/qfx-a3h-kme/test-createanewdashboardwithsunburstwidgetandmetricsdata-1731699176","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*}
      by {service}"}],"response_format":"scalar","style":{"palette":"dog_classic"}}],"title":"","title_align":"left","title_size":"16","type":"sunburst"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":7225852611844225}],"notify_list":null,"created_at":"2024-11-15T19:32:56.779070+00:00","modified_at":"2024-11-15T19:32:56.779070+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/qfx-a3h-kme
  response:
    body: '{"deleted_dashboard_id":"qfx-a3h-kme"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
