interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_topology_map_widget-1731699180","widgets":[{"definition":{"requests":[{"query":{"data_source":"service_map","filters":["env:none","environment:*"],"service":""},"request_type":"topology"}],"title":"","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"9fp-eg8-uae","title":"Test-Create_a_new_dashboard_with_topology_map_widget-1731699180","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/9fp-eg8-uae/test-createanewdashboardwithtopologymapwidget-1731699180","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"service_map","filters":["env:none","environment:*"],"service":""},"request_type":"topology"}],"title":"","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":606036044054377}],"notify_list":[],"created_at":"2024-11-15T19:33:00.244891+00:00","modified_at":"2024-11-15T19:33:00.244891+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/9fp-eg8-uae
  response:
    body: '{"deleted_dashboard_id":"9fp-eg8-uae"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
