interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_a_shared_dashboard_returns_OK_response-1731611569 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"zwb-m89-nt7","title":"Test-Get_a_shared_dashboard_returns_OK_response-1731611569
      with Profile Metrics Query","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"ordered","url":"/dashboard/zwb-m89-nt7/test-getashareddashboardreturnsokresponse-1731611569-with-profile-metrics-query","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":6181630513564549}],"notify_list":null,"created_at":"2024-11-14T19:12:49.453819+00:00","modified_at":"2024-11-14T19:12:49.453819+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"dashboard_id":"zwb-m89-nt7","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testgetashareddashboardreturnsokresponse1731611569@datadoghq.com"],"share_type":"invite"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body: '{"author":{"handle":"anika.maskara@datadoghq.com","name":"Anika Maskara"},"dashboard_id":"zwb-m89-nt7","dashboard_type":"custom_timeboard","status":"active","title":"Test-Get_a_shared_dashboard_returns_OK_response-1731611569
      with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1","created":"2024-11-14T19:12:49.788461+00:00","share_type":"invite","share_list":["testgetashareddashboardreturnsokresponse1731611569@datadoghq.com"],"session_duration_in_days":30,"invitees":[{"email":"testgetashareddashboardreturnsokresponse1731611569@datadoghq.com","access_expiration":null,"last_accessed":null,"created_at":"2024-11-14T19:12:49.820935+00:00"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1
  response:
    body: '{"author":{"handle":"anika.maskara@datadoghq.com","name":"Anika Maskara"},"dashboard_id":"zwb-m89-nt7","dashboard_type":"custom_timeboard","status":"active","title":"Test-Get_a_shared_dashboard_returns_OK_response-1731611569
      with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1","created":"2024-11-14T19:12:49.788461+00:00","share_type":"invite","share_list":["testgetashareddashboardreturnsokresponse1731611569@datadoghq.com"],"session_duration_in_days":30,"invitees":[{"email":"testgetashareddashboardreturnsokresponse1731611569@datadoghq.com","access_expiration":null,"last_accessed":null,"created_at":"2024-11-14T19:12:49.820935+00:00"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1
  response:
    body: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/zwb-m89-nt7
  response:
    body: '{"deleted_dashboard_id":"zwb-m89-nt7"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
