interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_note_widget-1731611551","widgets":[{"definition":{"content":"# Example Note","type":"note"},"layout":{"height":24,"width":18,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"tsm-3qy-my2","title":"Test-Create_a_new_dashboard_with_note_widget-1731611551","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/tsm-3qy-my2/test-createanewdashboardwithnotewidget-1731611551","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"#
      Example Note","type":"note"},"layout":{"height":24,"width":18,"x":0,"y":0},"id":1906638315550440}],"notify_list":[],"created_at":"2024-11-14T19:12:31.403064+00:00","modified_at":"2024-11-14T19:12:31.403064+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/tsm-3qy-my2
  response:
    body: '{"deleted_dashboard_id":"tsm-3qy-my2"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
