interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Delete_dashboards_returns_No_Content_response-1731699185 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"jp2-chp-z7f","title":"Test-Delete_dashboards_returns_No_Content_response-1731699185
      with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/jp2-chp-z7f/test-deletedashboardsreturnsnocontentresponse-1731699185-with-profile-metrics-qu","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":7971677393607038}],"notify_list":null,"created_at":"2024-11-15T19:33:05.683192+00:00","modified_at":"2024-11-15T19:33:05.683192+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":[{"id":"jp2-chp-z7f","type":"dashboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/jp2-chp-z7f
  response:
    body: '{"errors":["Dashboard with ID jp2-chp-z7f not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
