interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1663859214 with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"logs_stream","query_string":"","storage":"hot"},"response_format":"event_list"}],"type":"list_stream"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"4w4-hsv-5rr","title":"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1663859214
      with list_stream widget","url":"/dashboard/4w4-hsv-5rr/test-createanewdashboardwithlogsstreamliststreamwidgetandstorageparameter-166385","created_at":"2022-09-22T15:06:55.408450+00:00","modified_at":"2022-09-22T15:06:55.408450+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"query":{"query_string":"","data_source":"logs_stream","storage":"hot"},"response_format":"event_list","columns":[{"field":"timestamp","width":"auto"}]}],"type":"list_stream"},"id":4554037011373131}],"layout_type":"ordered"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/4w4-hsv-5rr
  response:
    body: '{"deleted_dashboard_id":"4w4-hsv-5rr"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
