interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_note_widget-1641430237","widgets":[{"definition":{"content":"# Example Note","type":"note"},"layout":{"height":24,"width":18,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"67s-sdf-cr7","title":"Test-Create_a_new_dashboard_with_note_widget-1641430237","url":"/dashboard/67s-sdf-cr7/test-createanewdashboardwithnotewidget-1641430237","created_at":"2022-01-06T00:50:37.865600+00:00","modified_at":"2022-01-06T00:50:37.865600+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"#
      Example Note","type":"note"},"layout":{"y":0,"width":18,"x":0,"height":24},"id":2976451902581497}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/67s-sdf-cr7
  response:
    body: '{"deleted_dashboard_id":"67s-sdf-cr7"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
