interactions:
- request:
    body: |
      {"name":"Test-Create_a_new_dashboard_with_slo_list_widget-1663772315","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"7f88381afe5f5c1e987664e7057253fd","name":"Test-Create_a_new_dashboard_with_slo_list_widget-1663772315","created_at":1663772316,"tags":[],"modified_at":1663772316,"type":"metric"}],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_slo_list_widget-1663772315","widgets":[{"definition":{"requests":[{"query":{"limit":75,"query_string":"env:prod AND service:my-app"},"request_type":"slo_list"}],"title_align":"left","title_size":"16","type":"slo_list"},"layout":{"height":21,"width":60,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"xf3-y64-ib5","title":"Test-Create_a_new_dashboard_with_slo_list_widget-1663772315","url":"/dashboard/xf3-y64-ib5/test-createanewdashboardwithslolistwidget-1663772315","created_at":"2022-09-21T14:58:36.648616+00:00","modified_at":"2022-09-21T14:58:36.648616+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"type":"slo_list","requests":[{"query":{"query_string":"env:prod
      AND service:my-app","limit":75},"request_type":"slo_list"}],"title_align":"left","title_size":"16"},"layout":{"y":0,"width":60,"x":0,"height":21},"id":434825034616209}],"layout_type":"free"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/xf3-y64-ib5
  response:
    body: '{"deleted_dashboard_id":"xf3-y64-ib5"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/7f88381afe5f5c1e987664e7057253fd
  response:
    body: '{"data":["7f88381afe5f5c1e987664e7057253fd"],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
