interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_iframe_widget-1641430234","widgets":[{"definition":{"type":"iframe","url":"https://docs.datadoghq.com/api/latest/"},"layout":{"height":12,"width":12,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"udq-5td-jif","title":"Test-Create_a_new_dashboard_with_iframe_widget-1641430234","url":"/dashboard/udq-5td-jif/test-createanewdashboardwithiframewidget-1641430234","created_at":"2022-01-06T00:50:35.006333+00:00","modified_at":"2022-01-06T00:50:35.006333+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"url":"https://docs.datadoghq.com/api/latest/","type":"iframe"},"layout":{"y":0,"width":12,"x":0,"height":12},"id":4318913911937946}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/udq-5td-jif
  response:
    body: '{"deleted_dashboard_id":"udq-5td-jif"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
