interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_a_query_value_widget_containing_a_description-1774292381","widgets":[{"definition":{"autoscale":true,"description":"Example widget description","precision":2,"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"ptd-zwh-jnu","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_containing_a_description-1774292381","description":"","author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
      Account","layout_type":"free","url":"/dashboard/ptd-zwh-jnu/test-createanewdashboardwithaqueryvaluewidgetcontainingadescription-1774292381","template_variables":[],"widgets":[{"definition":{"autoscale":true,"description":"Example
      widget description","precision":2,"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":1071717599065959}],"notify_list":[],"created_at":"2026-03-23T18:59:41.534095+00:00","modified_at":"2026-03-23T18:59:41.534095+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ptd-zwh-jnu
  response:
    body: '{"deleted_dashboard_id":"ptd-zwh-jnu"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
