interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1731699151 with QVW Timeseries Background","widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"sum:my.cool.count.metric{*}"}],"response_format":"scalar"}],"time":{},"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"t7h-dt9-gt6","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1731699151
      with QVW Timeseries Background","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/t7h-dt9-gt6/test-createanewdashboardwithaqueryvaluewidgetusingtimeseriesbackground-173169915","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"sum:my.cool.count.metric{*}"}],"response_format":"scalar"}],"time":{},"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0},"id":4861182812642966}],"notify_list":null,"created_at":"2024-11-15T19:32:31.929842+00:00","modified_at":"2024-11-15T19:32:31.929842+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/t7h-dt9-gt6
  response:
    body: '{"deleted_dashboard_id":"t7h-dt9-gt6"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
