interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter-1772451100 with query table widget and storage parameter","widgets":[{"definition":{"requests":[{"formulas":[{"cell_display_mode":"bar","conditional_formats":[],"formula":"query1"}],"queries":[{"compute":{"aggregation":"count"},"data_source":"logs","indexes":["*"],"name":"query1","search":{"query":""},"storage":"online_archives"}],"response_format":"scalar","sort":{"count":50,"order_by":[{"index":0,"order":"desc","type":"formula"}]}}],"type":"query_table"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"w66-sbc-bdb","title":"Test-Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter-1772451100
      with query table widget and storage parameter","description":null,"author_handle":"archana.asokan@datadoghq.com","author_name":"Archana
      Asokan","layout_type":"ordered","url":"/dashboard/w66-sbc-bdb/test-createanewdashboardwithlogsquerytablewidgetandstorageparameter-1772451100-w","template_variables":null,"widgets":[{"definition":{"requests":[{"formulas":[{"cell_display_mode":"bar","conditional_formats":[],"formula":"query1"}],"queries":[{"compute":{"aggregation":"count"},"data_source":"logs","indexes":["*"],"name":"query1","search":{"query":""},"storage":"online_archives"}],"response_format":"scalar","sort":{"count":50,"order_by":[{"index":0,"order":"desc","type":"formula"}]}}],"type":"query_table"},"id":3019646668045057}],"notify_list":null,"created_at":"2026-03-02T11:31:40.238249+00:00","modified_at":"2026-03-02T11:31:40.238249+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/w66-sbc-bdb
  response:
    body: '{"deleted_dashboard_id":"w66-sbc-bdb"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
