interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_timeseries_widget_without_order_by_for_backward_compatibility-1768952415 without order_by","widgets":[{"definition":{"requests":[{"display_type":"line","q":"avg:system.cpu.user{*} by {host}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"6bg-rgq-fxc","title":"Test-Create_a_new_dashboard_with_timeseries_widget_without_order_by_for_backward_compatibility-1768952415
      without order_by","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/6bg-rgq-fxc/test-createanewdashboardwithtimeserieswidgetwithoutorderbyforbackwardcompatibili","template_variables":null,"widgets":[{"definition":{"requests":[{"display_type":"line","q":"avg:system.cpu.user{*}
      by {host}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"type":"timeseries"},"id":2503785343641105}],"notify_list":null,"created_at":"2026-01-20T23:40:15.937647+00:00","modified_at":"2026-01-20T23:40:15.937647+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/6bg-rgq-fxc
  response:
    body: '{"deleted_dashboard_id":"6bg-rgq-fxc"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
