interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_a_dashboard_returns_author_name_-1641832482 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":"Frog
      Account","template_variables":null,"is_read_only":false,"id":"mv9-uwu-9q8","title":"Test-Get_a_dashboard_returns_author_name_-1641832482
      with Profile Metrics Query","url":"/dashboard/mv9-uwu-9q8/test-getadashboardreturnsauthorname-1641832482-with-profile-metrics-query","created_at":"2022-01-10T16:34:43.398343+00:00","modified_at":"2022-01-10T16:34:43.398343+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":6229693273676339}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard/mv9-uwu-9q8
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":"Frog
      Account","template_variables":null,"is_read_only":false,"id":"mv9-uwu-9q8","title":"Test-Get_a_dashboard_returns_author_name_-1641832482
      with Profile Metrics Query","url":"/dashboard/mv9-uwu-9q8/test-getadashboardreturnsauthorname-1641832482-with-profile-metrics-query","created_at":"2022-01-10T16:34:43.398343+00:00","modified_at":"2022-01-10T16:34:43.398343+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":6229693273676339}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/mv9-uwu-9q8
  response:
    body: '{"deleted_dashboard_id":"mv9-uwu-9q8"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
