interactions:
- request:
    body: |
      {"description":null,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_free_text_widget-1731699161","widgets":[{"definition":{"color":"#4d4d4d","font_size":"auto","text":"Example free text","text_align":"left","type":"free_text"},"layout":{"height":6,"width":24,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"gdm-q83-k4r","title":"Test-Create_a_new_dashboard_with_free_text_widget-1731699161","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/gdm-q83-k4r/test-createanewdashboardwithfreetextwidget-1731699161","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"color":"#4d4d4d","font_size":"auto","text":"Example
      free text","text_align":"left","type":"free_text"},"layout":{"height":6,"width":24,"x":0,"y":0},"id":3522001567186870}],"notify_list":[],"created_at":"2024-11-15T19:32:41.254783+00:00","modified_at":"2024-11-15T19:32:41.254783+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/gdm-q83-k4r
  response:
    body: '{"deleted_dashboard_id":"gdm-q83-k4r"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
