interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_trace_service_widget-1640284289","widgets":[{"definition":{"display_format":"two_column","env":"none","service":"","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":true,"show_resource_list":false,"size_format":"medium","span_name":"","time":{},"title":"Service Summary","type":"trace_service"},"layout":{"height":72,"width":72,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"et5-6sh-85k","title":"Test-Create_a_new_dashboard_with_trace_service_widget-1640284289","url":"/dashboard/et5-6sh-85k/test-createanewdashboardwithtraceservicewidget-1640284289","created_at":"2021-12-23T18:31:30.055214+00:00","modified_at":"2021-12-23T18:31:30.055214+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"span_name":"","type":"trace_service","service":"","title":"Service
      Summary","size_format":"medium","show_hits":true,"show_errors":true,"show_breakdown":true,"env":"none","time":{},"show_distribution":true,"display_format":"two_column","show_latency":true,"show_resource_list":false},"layout":{"y":0,"width":72,"x":0,"height":72},"id":5320400184045721}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/et5-6sh-85k
  response:
    body: '{"deleted_dashboard_id":"et5-6sh-85k"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
