interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1678490615 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"ad2-8ch-y8s","title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1678490615
      with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ad2-8ch-y8s/test-updateadashboardwithtagsreturnsokresponse-1678490615-with-profile-metrics-q","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":6897153580739865}],"notify_list":null,"created_at":"2023-03-10T23:23:35.908079+00:00","modified_at":"2023-03-10T23:23:35.908079+00:00","tags":[],"restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"description":"Updated description","layout_type":"ordered","tags":["team:foo","team:bar"],"title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1678490615 with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v1/dashboard/ad2-8ch-y8s
  response:
    body: '{"id":"ad2-8ch-y8s","title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1678490615
      with list_stream widget","description":"Updated description","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ad2-8ch-y8s/test-updateadashboardwithtagsreturnsokresponse-1678490615-with-liststream-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":4545330920817753}],"notify_list":null,"created_at":"2023-03-10T23:23:35.908079+00:00","modified_at":"2023-03-10T23:23:36.124521+00:00","tags":["team:foo","team:bar"],"restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ad2-8ch-y8s
  response:
    body: '{"deleted_dashboard_id":"ad2-8ch-y8s"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
