interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_manage_status_widget-1731611550","widgets":[{"definition":{"color_preference":"text","count":50,"display_format":"countsAndList","hide_zero_counts":true,"query":"","show_last_triggered":false,"sort":"status,asc","start":0,"summary_type":"monitors","type":"manage_status"},"layout":{"height":25,"width":50,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"4gd-vwv-ksd","title":"Test-Create_a_new_dashboard_with_manage_status_widget-1731611550","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/4gd-vwv-ksd/test-createanewdashboardwithmanagestatuswidget-1731611550","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"color_preference":"text","count":50,"display_format":"countsAndList","hide_zero_counts":true,"query":"","show_last_triggered":false,"sort":"status,asc","start":0,"summary_type":"monitors","type":"manage_status"},"layout":{"height":25,"width":50,"x":0,"y":0},"id":7726390517396795}],"notify_list":[],"created_at":"2024-11-14T19:12:30.649609+00:00","modified_at":"2024-11-14T19:12:30.649609+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/4gd-vwv-ksd
  response:
    body: '{"deleted_dashboard_id":"4gd-vwv-ksd"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
