interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_formulas_and_functions_events_query_using_facet_group_by-1771612256 with events facet group_by","widgets":[{"definition":{"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"events","group_by":[{"facet":"service","limit":10}],"name":"query1","search":{"query":""}}],"response_format":"timeseries"}],"type":"timeseries"},"layout":{"height":2,"width":4,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"cuw-94b-6q6","title":"Test-Create_a_new_dashboard_with_formulas_and_functions_events_query_using_facet_group_by-1771612256
      with events facet group_by","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/cuw-94b-6q6/test-createanewdashboardwithformulasandfunctionseventsqueryusingfacetgroupby-177","template_variables":null,"widgets":[{"definition":{"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"events","group_by":[{"facet":"service","limit":10}],"name":"query1","search":{"query":""}}],"response_format":"timeseries"}],"type":"timeseries"},"layout":{"height":2,"width":4,"x":0,"y":0},"id":5025516440057016}],"notify_list":null,"created_at":"2026-02-20T18:30:56.681735+00:00","modified_at":"2026-02-20T18:30:56.681735+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/cuw-94b-6q6
  response:
    body: '{"deleted_dashboard_id":"cuw-94b-6q6"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
