interactions:
- request:
    body: |
      {"title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1639987466","widgets":[{"definition":{"title":"","title_size":"16","title_align":"left","type":"sunburst","requests":[{"response_format":"scalar","formulas":[{"formula":"query1"}],"queries":[{"query":"sum:system.mem.used{*} by {service}","data_source":"metrics","name":"query1","aggregator":"sum"}]}]},"layout":{"x":0,"y":0,"width":4,"height":4}}],"layout_type":"ordered"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"mf6-iqg-ndj","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1639987466","url":"/dashboard/mf6-iqg-ndj/test-createanewdashboardwithsunburstwidgetandmetricsdata-1639987466","created_at":"2021-12-20T08:04:27.129533+00:00","modified_at":"2021-12-20T08:04:27.129533+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"type":"sunburst","requests":[{"formulas":[{"formula":"query1"}],"response_format":"scalar","queries":[{"query":"sum:system.mem.used{*}
      by {service}","data_source":"metrics","name":"query1","aggregator":"sum"}]}],"title_align":"left","title_size":"16","title":""},"layout":{"y":0,"x":0,"height":4,"width":4},"id":7490235413759256}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/mf6-iqg-ndj
  response:
    body: '{"deleted_dashboard_id":"mf6-iqg-ndj"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
