interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-Create_a_new_dashboard_with_alert_graph_widget-1731611534","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated","evaluation_delay":700,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notification_preset_name":"hide_handles","notify_audit":false,"notify_no_data":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\") \u003e 2","tags":["test:testcreateanewdashboardwithalertgraphwidget1731611534","env:ci"],"type":"log alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/monitor
  response:
    body: '{"id":158261200,"org_id":321813,"type":"log alert","name":"Test-Create_a_new_dashboard_with_alert_graph_widget-1731611534","message":"some
      message Notify: @hipchat-channel","tags":["test:testcreateanewdashboardwithalertgraphwidget1731611534","env:ci"],"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","options":{"enable_logs_sample":true,"escalation_message":"the situation
      has escalated","evaluation_delay":700,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notification_preset_name":"hide_handles","notify_audit":false,"notify_no_data":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"timeout_h":24,"groupby_simple_monitor":false,"silenced":{}},"multi":true,"created_at":1731611534000,"created":"2024-11-14T19:12:14.628076+00:00","modified":"2024-11-14T19:12:14.628076+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No
      Data","creator":{"name":"Anika Maskara","handle":"anika.maskara@datadoghq.com","email":"anika.maskara@datadoghq.com","id":7557262}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_alert_graph_widget-1731611534","widgets":[{"definition":{"alert_id":"158261200","time":{},"title":"","title_align":"left","title_size":"16","type":"alert_graph","viz_type":"timeseries"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"7q4-96u-ti2","title":"Test-Create_a_new_dashboard_with_alert_graph_widget-1731611534","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/7q4-96u-ti2/test-createanewdashboardwithalertgraphwidget-1731611534","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"alert_id":"158261200","time":{},"title":"","title_align":"left","title_size":"16","type":"alert_graph","viz_type":"timeseries"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":3685747866525074}],"notify_list":[],"created_at":"2024-11-14T19:12:14.801797+00:00","modified_at":"2024-11-14T19:12:14.801797+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/7q4-96u-ti2
  response:
    body: '{"deleted_dashboard_id":"7q4-96u-ti2"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v1/monitor/158261200
  response:
    body: '{"deleted_monitor_id":158261200}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
