interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_scatterplot_widget-1640210588","widgets":[{"definition":{"color_by_groups":[],"requests":{"table":{"formulas":[{"alias":"","dimension":"x","formula":"query1"},{"alias":"","dimension":"y","formula":"query2"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {service}"},{"aggregator":"avg","data_source":"metrics","name":"query2","query":"avg:system.mem.used{*} by {service}"}],"response_format":"scalar"}},"time":{},"title":"","title_align":"left","title_size":"16","type":"scatterplot","xaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"ghq-yyu-mg3","title":"Test-Create_a_new_dashboard_with_scatterplot_widget-1640210588","url":"/dashboard/ghq-yyu-mg3/test-createanewdashboardwithscatterplotwidget-1640210588","created_at":"2021-12-22T22:03:09.096093+00:00","modified_at":"2021-12-22T22:03:09.096093+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","yaxis":{"include_zero":true,"scale":"linear","min":"auto","max":"auto"},"title_align":"left","color_by_groups":[],"xaxis":{"include_zero":true,"scale":"linear","min":"auto","max":"auto"},"time":{},"title":"","requests":{"table":{"formulas":[{"alias":"","dimension":"x","formula":"query1"},{"alias":"","dimension":"y","formula":"query2"}],"response_format":"scalar","queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
      by {service}"},{"aggregator":"avg","data_source":"metrics","name":"query2","query":"avg:system.mem.used{*}
      by {service}"}]}},"type":"scatterplot"},"layout":{"y":0,"width":47,"x":0,"height":15},"id":7197981376043092}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ghq-yyu-mg3
  response:
    body: '{"deleted_dashboard_id":"ghq-yyu-mg3"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
