interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_event_stream_widget-1731611541","widgets":[{"definition":{"event_size":"s","query":"example-query","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":38,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"j92-23a-929","title":"Test-Create_a_new_dashboard_with_event_stream_widget-1731611541","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/j92-23a-929/test-createanewdashboardwitheventstreamwidget-1731611541","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"s","query":"example-query","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":38,"width":47,"x":0,"y":0},"id":5404510043206419}],"notify_list":[],"created_at":"2024-11-14T19:12:21.167451+00:00","modified_at":"2024-11-14T19:12:21.167451+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/j92-23a-929
  response:
    body: '{"deleted_dashboard_id":"j92-23a-929"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
