interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_apm_metrics_widget-1740045600","widgets":[{"definition":{"requests":[{"queries":[{"data_source":"apm_metrics","group_by":["resource_name"],"name":"query1","query_filter":"env:prod","service":"web-store","stat":"hits"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"apm-met-ric","title":"Test-Create_a_new_dashboard_with_apm_metrics_widget-1740045600","description":null,"author_handle":"test@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/apm-met-ric/testcreateanewdashboardwithapmmetricswidget1740045600","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"queries":[{"data_source":"apm_metrics","group_by":["resource_name"],"name":"query1","query_filter":"env:prod","service":"web-store","stat":"hits"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":1234567890123456}],"notify_list":null,"created_at":"2025-02-20T10:00:01.000000+00:00","modified_at":"2025-02-20T10:00:01.000000+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/apm-met-ric
  response:
    body: '{"deleted_dashboard_id":"apm-met-ric"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
