interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_point_plot_widget-1777564723","widgets":[{"definition":{"requests":[{"projection":{"dimensions":[{"column":"host","dimension":"group"},{"column":"@duration","dimension":"y"}],"type":"point_plot"},"query":{"data_source":"logs","query_string":"service:web-store"},"request_type":"data_projection"}],"title":"","title_align":"left","title_size":"16","type":"point_plot"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"w8g-9wi-uav","title":"Test-Create_a_new_dashboard_with_point_plot_widget-1777564723","description":null,"author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
      Account","layout_type":"ordered","url":"/dashboard/w8g-9wi-uav/test-createanewdashboardwithpointplotwidget-1777564723","template_variables":null,"widgets":[{"definition":{"requests":[{"projection":{"dimensions":[{"column":"host","dimension":"group"},{"column":"@duration","dimension":"y"}],"type":"point_plot"},"query":{"data_source":"logs","query_string":"service:web-store"},"request_type":"data_projection"}],"title":"","title_align":"left","title_size":"16","type":"point_plot"},"id":1386353259406476}],"notify_list":null,"created_at":"2026-04-30T15:58:43.645158+00:00","modified_at":"2026-04-30T15:58:43.645158+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/w8g-9wi-uav
  response:
    body: '{"deleted_dashboard_id":"w8g-9wi-uav"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
