interactions:
- request:
    body: |
      {"description":null,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_hostmap_infra_widget-1779995887","widgets":[{"definition":{"requests":{"enrichments":[{"formulas":[{"dimension":"fill","formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"scalar"}],"filter":"env:prod","group_by":[{"column":"tags","key":"service"}],"node_type":"host","request_type":"infrastructure_hostmap","style":{"palette":"green_to_orange","palette_flip":false}},"title":"","title_align":"left","title_size":"16","type":"hostmap"},"layout":{"height":22,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"ca3-5na-ti2","title":"Test-Create_a_new_dashboard_with_hostmap_infra_widget-1779995887","description":null,"author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
      Account","layout_type":"free","url":"/dashboard/ca3-5na-ti2/test-createanewdashboardwithhostmapinfrawidget-1779995887","template_variables":[],"widgets":[{"definition":{"requests":{"enrichments":[{"formulas":[{"dimension":"fill","formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
      by {host}"}],"response_format":"scalar"}],"filter":"env:prod","group_by":[{"column":"tags","key":"service"}],"node_type":"host","request_type":"infrastructure_hostmap","style":{"palette":"green_to_orange","palette_flip":false}},"title":"","title_align":"left","title_size":"16","type":"hostmap"},"layout":{"height":22,"width":47,"x":0,"y":0},"id":7949207519561974}],"notify_list":[],"created_at":"2026-05-28T19:18:08.023029+00:00","modified_at":"2026-05-28T19:18:08.023029+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ca3-5na-ti2
  response:
    body: '{"deleted_dashboard_id":"ca3-5na-ti2"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
