interactions:
- request:
    body: |
      {"description":null,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","restricted_roles":[],"template_variables":[{"available_values":["service","datacenter","env"],"defaults":["service","datacenter"],"name":"group_by_var","type":"group"}],"title":"","widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"zb6-rsj-zej","title":"","description":null,"author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
      Account","layout_type":"ordered","url":"/dashboard/zb6-rsj-zej/","template_variables":[{"available_values":["service","datacenter","env"],"defaults":["service","datacenter"],"name":"group_by_var","type":"group"}],"widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"},"id":2230877325217406}],"notify_list":[],"created_at":"2025-06-30T15:47:17.444093+00:00","modified_at":"2025-06-30T15:47:17.444093+00:00","reflow_type":"auto","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/zb6-rsj-zej
  response:
    body: '{"deleted_dashboard_id":"zb6-rsj-zej"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
