interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_all_dashboards_returns_OK_response-1618589566 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"author_name":"CI Account","template_variables":null,"is_read_only":false,"id":"ehx-xau-txp","title":"Test-Get_all_dashboards_returns_OK_response-1618589566
      with Profile Metrics Query","url":"/dashboard/ehx-xau-txp/test-getalldashboardsreturnsokresponse-1618589566-with-profile-metrics-query","created_at":"2021-04-16T16:12:46.880417+00:00","modified_at":"2021-04-16T16:12:46.880417+00:00","author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":4728803576648167}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard?filter%5Bshared%5D=false
  response:
    body: '{"dashboards":[{"created_at":"2021-03-26T09:34:03.667460+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"Various
      stats from CI runs of generated API clients","title":"Datadog API Clients CI","url":"/dashboard/wve-q29-wf9/datadog-api-clients-ci","layout_type":"free","modified_at":"2021-03-26T10:26:24.091171+00:00","id":"wve-q29-wf9"},{"created_at":"2021-04-13T11:50:10.192480+00:00","author_handle":"frog@datadoghq.com","is_read_only":true,"description":"Created
      using [...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ehx-xau-txp
  response:
    body: '{"deleted_dashboard_id":"ehx-xau-txp"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
