interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_sankey_widget_and_network_data_source-1767367605","widgets":[{"definition":{"requests":[{"query":{"data_source":"network","group_by":["source","destination"],"limit":100,"query_string":"*"},"request_type":"netflow_sankey"}],"title":"","title_align":"left","title_size":"16","type":"sankey"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"ngh-vn6-nqq","title":"Test-Create_a_new_dashboard_with_sankey_widget_and_network_data_source-1767367605","description":"","author_handle":"sophie.cao@datadoghq.com","author_name":"Sophie
      Cao","layout_type":"free","url":"/dashboard/ngh-vn6-nqq/test-createanewdashboardwithsankeywidgetandnetworkdatasource-1767367605","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"network","group_by":["source","destination"],"limit":100,"query_string":"*"},"request_type":"netflow_sankey"}],"title":"","title_align":"left","title_size":"16","type":"sankey"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":4009219214466684}],"notify_list":[],"created_at":"2026-01-02T15:26:46.118136+00:00","modified_at":"2026-01-02T15:26:46.118136+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ngh-vn6-nqq
  response:
    body: '{"deleted_dashboard_id":"ngh-vn6-nqq"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
