interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1648850756 with QVW Timeseries Background","widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"sum:my.cool.count.metric{*}"}],"response_format":"scalar"}],"time":{},"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"qpb-ufq-tfj","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1648850756
      with QVW Timeseries Background","url":"/dashboard/qpb-ufq-tfj/test-createanewdashboardwithaqueryvaluewidgetusingtimeseriesbackground-164885075","created_at":"2022-04-01T22:05:56.882433+00:00","modified_at":"2022-04-01T22:05:56.882433+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"autoscale":true,"title":"","title_align":"left","precision":2,"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"time":{},"title_size":"16","requests":[{"formulas":[{"formula":"query1"}],"response_format":"scalar","queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"sum:my.cool.count.metric{*}"}]}],"type":"query_value"},"layout":{"y":0,"width":2,"x":0,"height":2},"id":1355546266470286}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/qpb-ufq-tfj
  response:
    body: '{"deleted_dashboard_id":"qpb-ufq-tfj"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
