interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_timeseries_widget_using_has_value_labels-1772473111 with has_value_labels","widgets":[{"definition":{"requests":[{"display_type":"line","q":"avg:system.cpu.user{*} by {host}","style":{"has_value_labels":true,"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"ue9-kuc-ix2","title":"Test-Create_a_new_dashboard_with_timeseries_widget_using_has_value_labels-1772473111
      with has_value_labels","description":null,"author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
      Account","layout_type":"ordered","url":"/dashboard/ue9-kuc-ix2/test-createanewdashboardwithtimeserieswidgetusinghasvaluelabels-1772473111-with","template_variables":null,"widgets":[{"definition":{"requests":[{"display_type":"line","q":"avg:system.cpu.user{*}
      by {host}","style":{"has_value_labels":true,"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"type":"timeseries"},"id":3800027122356131}],"notify_list":null,"created_at":"2026-03-02T17:38:31.488630+00:00","modified_at":"2026-03-02T17:38:31.488630+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ue9-kuc-ix2
  response:
    body: '{"deleted_dashboard_id":"ue9-kuc-ix2"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
