interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator-1628096386 with QVW Percentile Aggregator","widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"p90:dist.dd.dogweb.latency{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"dsd-9b4-xda","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator-1628096386
      with QVW Percentile Aggregator","url":"/dashboard/dsd-9b4-xda/test-createanewdashboardwithaqueryvaluewidgetusingthepercentileaggregator-162809","created_at":"2021-08-04T16:59:47.151534+00:00","modified_at":"2021-08-04T16:59:47.151534+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"autoscale":true,"title":"","title_align":"left","precision":2,"time":{},"title_size":"16","requests":[{"formulas":[{"formula":"query1"}],"response_format":"scalar","queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"p90:dist.dd.dogweb.latency{*}"}]}],"type":"query_value"},"layout":{"y":0,"width":2,"x":0,"height":2},"id":5855020884531801}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/dsd-9b4-xda
  response:
    body: '{"deleted_dashboard_id":"dsd-9b4-xda"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
