interactions:
- request:
    body: |
      {"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_trace_service_widget-1731699180","widgets":[{"definition":{"display_format":"two_column","env":"none","service":"","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":true,"show_resource_list":false,"size_format":"medium","span_name":"","time":{},"title":"Service Summary","type":"trace_service"},"layout":{"height":72,"width":72,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"8rp-yjv-2c7","title":"Test-Create_a_new_dashboard_with_trace_service_widget-1731699180","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/8rp-yjv-2c7/test-createanewdashboardwithtraceservicewidget-1731699180","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"display_format":"two_column","env":"none","service":"","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":true,"show_resource_list":false,"size_format":"medium","span_name":"","time":{},"title":"Service
      Summary","type":"trace_service"},"layout":{"height":72,"width":72,"x":0,"y":0},"id":1971574953690767}],"notify_list":[],"created_at":"2024-11-15T19:33:00.618626+00:00","modified_at":"2024-11-15T19:33:00.618626+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/8rp-yjv-2c7
  response:
    body: '{"deleted_dashboard_id":"8rp-yjv-2c7"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
