interactions:
- request:
    body: |
      {"description":null,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_event_timeline_widget-1731611541","widgets":[{"definition":{"query":"status:error priority:all","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_timeline"},"layout":{"height":9,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"i3x-7cz-cn3","title":"Test-Create_a_new_dashboard_with_event_timeline_widget-1731611541","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/i3x-7cz-cn3/test-createanewdashboardwitheventtimelinewidget-1731611541","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"query":"status:error
      priority:all","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_timeline"},"layout":{"height":9,"width":47,"x":0,"y":0},"id":2993493904946935}],"notify_list":[],"created_at":"2024-11-14T19:12:21.485271+00:00","modified_at":"2024-11-14T19:12:21.485271+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/i3x-7cz-cn3
  response:
    body: '{"deleted_dashboard_id":"i3x-7cz-cn3"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
