interactions:
- request:
    body: |
      {"description":null,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_heatmap_widget-1731611543","widgets":[{"definition":{"requests":[{"q":"avg:system.cpu.user{*} by {service}","style":{"palette":"dog_classic"}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"heatmap"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"m55-nbe-fb2","title":"Test-Create_a_new_dashboard_with_heatmap_widget-1731611543","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/m55-nbe-fb2/test-createanewdashboardwithheatmapwidget-1731611543","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"requests":[{"q":"avg:system.cpu.user{*}
      by {service}","style":{"palette":"dog_classic"}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"heatmap"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":3468862583321901}],"notify_list":[],"created_at":"2024-11-14T19:12:24.011974+00:00","modified_at":"2024-11-14T19:12:24.011974+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/m55-nbe-fb2
  response:
    body: '{"deleted_dashboard_id":"m55-nbe-fb2"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
