interactions:
- request:
    body: |
      {"description":null,"is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_free_text_widget-1641430232","widgets":[{"definition":{"color":"#4d4d4d","font_size":"auto","text":"Example free text","text_align":"left","type":"free_text"},"layout":{"height":6,"width":24,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":null,"restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"d55-4cs-38k","title":"Test-Create_a_new_dashboard_with_free_text_widget-1641430232","url":"/dashboard/d55-4cs-38k/test-createanewdashboardwithfreetextwidget-1641430232","created_at":"2022-01-06T00:50:32.631852+00:00","modified_at":"2022-01-06T00:50:32.631852+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"color":"#4d4d4d","text":"Example
      free text","font_size":"auto","text_align":"left","type":"free_text"},"layout":{"y":0,"width":24,"x":0,"height":6},"id":5625839222691607}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/d55-4cs-38k
  response:
    body: '{"deleted_dashboard_id":"d55-4cs-38k"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
