interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"}}]},"layout":{"height":3,"width":12,"x":0,"y":0},"live_span":"1h"},"name":"Test-Create_a_new_dashboard_with_powerpack_widget-1731611551","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body: '{"data":{"type":"powerpack","id":"65d67c88-a2bc-11ef-8891-da7ad0900002","attributes":{"name":"Test-Create_a_new_dashboard_with_powerpack_widget-1731611551","description":"Sample
      powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
      Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"},"id":7590597140416618}]},"layout":{"height":3,"width":12,"x":0,"y":0},"live_span":"1h"},"template_variables":[{"defaults":["*"],"name":"sample"}],"tags":["tag:sample"]},"relationships":{"author":{"data":{"type":"users","id":"a20c7506-3e28-11ef-8b83-5264320c310a"}}}},"included":[{"type":"users","id":"a20c7506-3e28-11ef-8b83-5264320c310a","attributes":{"name":"Anika
      Maskara","email":"anika.maskara@datadoghq.com"}}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"description":"description","layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_powerpack_widget-1731611551 with powerpack widget","widgets":[{"definition":{"powerpack_id":"65d67c88-a2bc-11ef-8891-da7ad0900002","template_variables":{"controlled_by_powerpack":[{"name":"foo","prefix":"bar","values":["baz","qux","quuz"]}],"controlled_externally":[]},"type":"powerpack"},"layout":{"height":2,"is_column_break":false,"width":2,"x":1,"y":1}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"268-7rr-dpj","title":"Test-Create_a_new_dashboard_with_powerpack_widget-1731611551
      with powerpack widget","description":"description","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"ordered","url":"/dashboard/268-7rr-dpj/test-createanewdashboardwithpowerpackwidget-1731611551-with-powerpack-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"powerpack_id":"65d67c88-a2bc-11ef-8891-da7ad0900002","template_variables":{"controlled_by_powerpack":[{"name":"foo","prefix":"bar","values":["baz","qux","quuz"]}],"controlled_externally":[]},"type":"powerpack"},"layout":{"height":2,"is_column_break":false,"width":2,"x":1,"y":1},"id":185636903135115}],"notify_list":null,"created_at":"2024-11-14T19:12:32.040409+00:00","modified_at":"2024-11-14T19:12:32.040409+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/268-7rr-dpj
  response:
    body: '{"deleted_dashboard_id":"268-7rr-dpj"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/powerpacks/65d67c88-a2bc-11ef-8891-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
