interactions:
- request:
    body: |
      {"description":null,"is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_event_timeline_widget-1640285665","widgets":[{"definition":{"query":"status:error priority:all","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_timeline"},"layout":{"height":9,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":null,"restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"d59-ueh-uib","title":"Test-Create_a_new_dashboard_with_event_timeline_widget-1640285665","url":"/dashboard/d59-ueh-uib/test-createanewdashboardwitheventtimelinewidget-1640285665","created_at":"2021-12-23T18:54:25.535080+00:00","modified_at":"2021-12-23T18:54:25.535080+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"","title_align":"left","tags_execution":"and","query":"status:error
      priority:all","type":"event_timeline"},"layout":{"y":0,"width":47,"x":0,"height":9},"id":1013453064093939}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/d59-ueh-uib
  response:
    body: '{"deleted_dashboard_id":"d59-ueh-uib"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
