interactions:
- request:
    body: |
      {"name":"Test-Create_a_new_dashboard_with_slo_widget-1640210589","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"1e280ec0c98f5fe08fdad90ced08bc36","name":"Test-Create_a_new_dashboard_with_slo_widget-1640210589","created_at":1640210589,"tags":[],"modified_at":1640210589,"type":"metric"}],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_slo_widget-1640210589","widgets":[{"definition":{"global_time_target":"0","show_error_budget":true,"slo_id":"1e280ec0c98f5fe08fdad90ced08bc36","time_windows":["7d"],"title_align":"left","title_size":"16","type":"slo","view_mode":"overall","view_type":"detail"},"layout":{"height":21,"width":60,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"cx9-y3b-anf","title":"Test-Create_a_new_dashboard_with_slo_widget-1640210589","url":"/dashboard/cx9-y3b-anf/test-createanewdashboardwithslowidget-1640210589","created_at":"2021-12-22T22:03:09.751538+00:00","modified_at":"2021-12-22T22:03:09.751538+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"time_windows":["7d"],"title_size":"16","show_error_budget":true,"view_type":"detail","title_align":"left","slo_id":"1e280ec0c98f5fe08fdad90ced08bc36","view_mode":"overall","global_time_target":"0","type":"slo"},"layout":{"y":0,"width":60,"x":0,"height":21},"id":1266323002332565}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/cx9-y3b-anf
  response:
    body: '{"deleted_dashboard_id":"cx9-y3b-anf"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/1e280ec0c98f5fe08fdad90ced08bc36
  response:
    body: '{"data":["1e280ec0c98f5fe08fdad90ced08bc36"],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
