interactions:
- request:
    body: |
      {"description":null,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_free_text_widget-1731611542","widgets":[{"definition":{"color":"#4d4d4d","font_size":"auto","text":"Example free text","text_align":"left","type":"free_text"},"layout":{"height":6,"width":24,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"th4-kf6-2wb","title":"Test-Create_a_new_dashboard_with_free_text_widget-1731611542","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
      Maskara","layout_type":"free","url":"/dashboard/th4-kf6-2wb/test-createanewdashboardwithfreetextwidget-1731611542","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"color":"#4d4d4d","font_size":"auto","text":"Example
      free text","text_align":"left","type":"free_text"},"layout":{"height":6,"width":24,"x":0,"y":0},"id":3975450487298464}],"notify_list":[],"created_at":"2024-11-14T19:12:22.794244+00:00","modified_at":"2024-11-14T19:12:22.794244+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/th4-kf6-2wb
  response:
    body: '{"deleted_dashboard_id":"th4-kf6-2wb"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
