interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_a_timeseries_widget_and_an_overlay_request-1731699152","widgets":[{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"mymetric","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"},{"display_type":"overlay","queries":[{"data_source":"metrics","name":"mymetricoverlay","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"purple"}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"9kn-skt-493","title":"Test-Create_a_new_dashboard_with_a_timeseries_widget_and_an_overlay_request-1731699152","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/9kn-skt-493/test-createanewdashboardwithatimeserieswidgetandanoverlayrequest-1731699152","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"mymetric","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"},{"display_type":"overlay","queries":[{"data_source":"metrics","name":"mymetricoverlay","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"purple"}}],"type":"timeseries"},"id":8425606312270690}],"notify_list":null,"created_at":"2024-11-15T19:32:32.390240+00:00","modified_at":"2024-11-15T19:32:32.390240+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/9kn-skt-493
  response:
    body: '{"deleted_dashboard_id":"9kn-skt-493"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
