interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1641430241","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*} by {service}"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"sunburst"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"sgm-ici-pnu","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1641430241","url":"/dashboard/sgm-ici-pnu/test-createanewdashboardwithsunburstwidgetandmetricsdata-1641430241","created_at":"2022-01-06T00:50:41.250923+00:00","modified_at":"2022-01-06T00:50:41.250923+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"type":"sunburst","requests":[{"formulas":[{"formula":"query1"}],"response_format":"scalar","queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*}
      by {service}"}]}],"title_align":"left","title_size":"16","title":""},"layout":{"y":0,"width":4,"x":0,"height":4},"id":1079694148435475}],"layout_type":"ordered"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/sgm-ici-pnu
  response:
    body: '{"deleted_dashboard_id":"sgm-ici-pnu"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
