interactions:
- id: 0
  request:
    body: |
      {"description":null,"is_read_only":false,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","restricted_roles":[],"template_variable_presets":[{"name":"my saved view","template_variables":[{"name":"datacenter","value":"*","values":["*"]}]}],"template_variables":[{"available_values":["my-host","host1","host2"],"defaults":["my-host"],"name":"host1","prefix":"host"}],"title":"","widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"errors":["''template_variables'' value ''{u''values'': [u''*''], u''name'':
      u''datacenter'', u''value'': u''*''}'' is invalid"]}'
    code: 400
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
