interactions:
- request:
    body: |
      {"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_query_value_widget-1640210588","widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"irj-79k-nag","title":"Test-Create_a_new_dashboard_with_query_value_widget-1640210588","url":"/dashboard/irj-79k-nag/test-createanewdashboardwithqueryvaluewidget-1640210588","created_at":"2021-12-22T22:03:08.573458+00:00","modified_at":"2021-12-22T22:03:08.573458+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"autoscale":true,"title":"","title_align":"left","precision":2,"time":{},"title_size":"16","requests":[{"response_format":"scalar","queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}]}],"type":"query_value"},"layout":{"y":0,"width":47,"x":0,"height":15},"id":732418221018875}],"layout_type":"free"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/irj-79k-nag
  response:
    body: '{"deleted_dashboard_id":"irj-79k-nag"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
