interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731699187 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"qnh-gkv-jbc","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731699187
      with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/qnh-gkv-jbc/test-getallinvitationsforashareddashboardreturnsokresponse-1731699187-with-profi","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":6861880551996269}],"notify_list":null,"created_at":"2024-11-15T19:33:07.779258+00:00","modified_at":"2024-11-15T19:33:07.779258+00:00","restricted_roles":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"dashboard_id":"qnh-gkv-jbc","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testgetallinvitationsforashareddashboardreturnsokresponse1731699187@datadoghq.com"],"share_type":"invite"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"qnh-gkv-jbc","dashboard_type":"custom_timeboard","status":"active","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731699187
      with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-d7c9444d4bf13c445437741538d0ad29","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-d7c9444d4bf13c445437741538d0ad29","created":"2024-11-15T19:33:08.095976+00:00","share_type":"invite","share_list":["testgetallinvitationsforashareddashboardreturnsokresponse1731699187@datadoghq.com"],"session_duration_in_days":30,"invitees":[{"email":"testgetallinvitationsforashareddashboardreturnsokresponse1731699187@datadoghq.com","access_expiration":null,"last_accessed":null,"created_at":"2024-11-15T19:33:08.120637+00:00"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-d7c9444d4bf13c445437741538d0ad29/invitation
  response:
    body: '{"data":[],"meta":{"page":{"total_count":0}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-d7c9444d4bf13c445437741538d0ad29
  response:
    body: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-d7c9444d4bf13c445437741538d0ad29"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/qnh-gkv-jbc
  response:
    body: '{"deleted_dashboard_id":"qnh-gkv-jbc"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
