interactions:
- request:
    body: |
      {"data":{"attributes":{"aggregation_key":"aggregation_key_123","attributes":{"author":{"name":"example@datadog.com","type":"user"},"change_metadata":{"dd":{"team":"datadog_team","user_email":"datadog@datadog.com","user_id":"datadog_user_id","user_name":"datadog_username"},"resource_link":"datadog.com/feature/fallback_payments_test"},"changed_resource":{"name":"fallback_payments_test","type":"feature_flag"},"impacted_resources":[{"name":"payments_api","type":"service"}],"new_value":{"enabled":true,"percentage":"50%","rule":{"datacenter":"devcycle.us1.prod"}},"prev_value":{"enabled":true,"percentage":"10%","rule":{"datacenter":"devcycle.us1.prod"}}},"category":"change","host":"test-host","integration_id":"custom-events","message":"payment_processed feature flag has been enabled","tags":["env:api_client_test"],"title":"payment_processed feature flag updated"},"type":"event"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://event-management-intake.datadoghq.com/api/v2/events
  response:
    body: '{"data":{"attributes":{"attributes":{"evt":{"id":"8407723285051133019","uid":"AZsKLCxvAACrUQTfNDwMWwAA"}}},"id":"_","type":"event"},"links":{"self":"https://app.datadoghq.com/event/event?uid=AZsKLCxvAACrUQTfNDwMWwAA"}}'
    code: 202
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
version: 2
