interactions:
- request:
    body: |
      {"filter":{"from":"now-15m","query":"service:web* AND @http.status_code:[200 TO 299]","to":"now"},"options":{"timezone":"GMT"},"page":{"cursor":"eyJzdGFydEF0IjoiQVFBQUFYS2tMS3pPbm40NGV3QUFBQUJCV0V0clRFdDZVbG8zY3pCRmNsbHJiVmxDWlEifQ==","limit":25},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/events/search
  response:
    body: '{"errors":["{''errors'': [u\"input_validation_error(Field ''page'' is invalid:
      invalid cursor)\"]}"]}

      '
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 1
