---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_all_log_based_metrics_returns_OK_response-1617974745"}},"id":"Test-Get_all_log_based_metrics_returns_OK_response-1617974745","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
  response:
    body: '{"data":{"id":"Test_Get_all_log_based_metrics_returns_OK_response_1617974745","attributes":{"filter":{"query":"source:Test-Get_all_log_based_metrics_returns_OK_response-1617974745"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "39"
      X-Ratelimit-Reset:
      - "2055"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsMetrics
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: GET
  response:
    body: '{"data":[{"id":"datadog_api_client_python_test_create_a_logbased_metric_returns_ok_response_1607014407.161855","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"},{"id":"go_Feature_Logs_Metrics_Scenario_Get_all_log_based_metrics_returns_OK_response_37807_1608735831","attributes":{"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Get_all_log_based_metrics_returns__OK__response-37807-1608735831"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"},{"id":"mlb.to.delete.5","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@status","tag_name":"status"}],"compute":{"aggregation_type":"distribution","path":"@duration"}},"type":"logs_metrics"},{"id":"mlb.to.delete.7","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@status","tag_name":"status"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"},{"id":"tf_TestAccDatadogLogsMetric_import_local_1612175492","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@my.status","tag_name":"status"},{"path":"service","tag_name":"service"}],"compute":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_all_log_based_metrics_returns_OK_response_1617974745
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "38"
      X-Ratelimit-Reset:
      - "2055"
    status: 200 OK
    code: 200
    duration: ""
