interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734"}},"id":"Test-Update_a_log_based_metric_returns_OK_response-1618572734","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    code: 200
    duration: ''
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '71'
      X-Ratelimit-Reset:
      - '1666'
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734-updated"}},"type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618572734
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    code: 200
    duration: ''
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '70'
      X-Ratelimit-Reset:
      - '1665'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618572734
  response:
    body: '{}'
    code: 200
    duration: ''
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '69'
      X-Ratelimit-Reset:
      - '1665'
    status: 200 OK
version: 1
