---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Update_a_log_based_metric_returns__OK__response-local-1608592698"}},"id":"go-Feature_Logs_Metrics-Scenario_Update_a_log_based_metric_returns__OK__response-local-1608592698","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
  response:
    body: '{"data":{"id":"go_Feature_Logs_Metrics_Scenario_Update_a_log_based_metric_returns_OK_response_local_1608592698","attributes":{"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Update_a_log_based_metric_returns__OK__response-local-1608592698"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - OqKY7agPmI/v3hVHuBa6xblzuasXfwEx0fPUFdqZoAEPJYT3VaeupIdfNnd+cYH0
      X-Dd-Version:
      - "35.3583006"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "78"
      X-Ratelimit-Reset:
      - "2502"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Update_a_log_based_metric_returns__OK__response-local-1608592698-updated"}},"type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/go_Feature_Logs_Metrics_Scenario_Update_a_log_based_metric_returns_OK_response_local_1608592698
    method: PATCH
  response:
    body: '{"data":{"id":"go_Feature_Logs_Metrics_Scenario_Update_a_log_based_metric_returns_OK_response_local_1608592698","attributes":{"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Update_a_log_based_metric_returns__OK__response-local-1608592698-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 9yeVJjClEU/6raHJlYfllzCTOtXzS//Mfm4MIk+dxQ9wRvMbFDy5xrIlZe/VS4yX
      X-Dd-Version:
      - "35.3583006"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "77"
      X-Ratelimit-Reset:
      - "2501"
    status: 200 OK
    code: 200
    duration: ""
[...]
