---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Delete_a_log_based_metric_returns__OK__response-local-1608592696"}},"id":"go-Feature_Logs_Metrics-Scenario_Delete_a_log_based_metric_returns__OK__response-local-1608592696","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
  response:
    body: '{"data":{"id":"go_Feature_Logs_Metrics_Scenario_Delete_a_log_based_metric_returns_OK_response_local_1608592696","attributes":{"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Delete_a_log_based_metric_returns__OK__response-local-1608592696"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - AqBVHmyy+L9zrCUEAQ2Jd2pwskksgC+7nOsWqbNjcjcM+9M/ChipUo2OR6Q8oPwE
      X-Dd-Version:
      - "35.3583006"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "80"
      X-Ratelimit-Reset:
      - "2503"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/go_Feature_Logs_Metrics_Scenario_Delete_a_log_based_metric_returns_OK_response_local_1608592696
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 5H2EXEXOPQC4s7BfWBFjlM6rKywFNh1Cf33eK1xYuPFdBfR+3y2m7Dyr75gZ4kw1
      X-Dd-Version:
      - "35.3583006"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4974"
      X-Ratelimit-Reset:
      - "2503"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/go_Feature_Logs_Metrics_Scenario_Delete_a_log_based_metric_returns_OK_response_local_1608592696
    method: DELETE
  response:
    body: '{"errors":["not_found(Metric with name ''go_Feature_Logs_Metrics_Scenario_Delete_a_log_based_metric_returns_OK_response_local_1608592696''
      not found)"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3583006"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4973"
      X-Ratelimit-Reset:
      - "2503"
    status: 404 Not Found
    code: 404
    duration: ""
