---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618223143"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1618223143","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
  response:
    body: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618223143","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618223143"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4287679"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "70"
      X-Ratelimit-Reset:
      - "2057"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618223143
    method: GET
  response:
    body: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618223143","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618223143"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4287679"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4995"
      X-Ratelimit-Reset:
      - "2057"
    status: 200 OK
    code: 200
    duration: ""
[...]
