---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Get_all_log_based_metrics_returns__OK__response-local-1608592694"}},"id":"go-Feature_Logs_Metrics-Scenario_Get_all_log_based_metrics_returns__OK__response-local-1608592694","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
  response:
    body: '{"data":{"id":"go_Feature_Logs_Metrics_Scenario_Get_all_log_based_metrics_returns_OK_response_local_1608592694","attributes":{"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Get_all_log_based_metrics_returns__OK__response-local-1608592694"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - SE0B8GzXieTL9/50zBSh+Oo8SeZEWhUn4i8JieFMfDNCs0X5SmdqinjqaXsgQLIv
      X-Dd-Version:
      - "34.3582222"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "82"
      X-Ratelimit-Reset:
      - "2505"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/go_Feature_Logs_Metrics_Scenario_Get_all_log_based_metrics_returns_OK_response_local_1608592694
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - FHfHzbfIddsg0sQ7IeNBOxLqb5wz+d6n32kEDCDFZtJpoagPnr4KgZnA3JebHBTT
      X-Dd-Version:
      - "35.3583006"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4976"
      X-Ratelimit-Reset:
      - "2504"
    status: 200 OK
    code: 200
    duration: ""
