---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617974745"}},"id":"Test-Update_a_log_based_metric_returns_OK_response-1617974745","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617974745","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617974745"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "37"
      X-Ratelimit-Reset:
      - "2055"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617974745-updated"}},"type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1617974745
    method: PATCH
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617974745","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617974745-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "36"
      X-Ratelimit-Reset:
      - "2054"
    status: 200 OK
    code: 200
    duration: ""
[...]
