interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cost/aws_related_accounts?filter%5Bmanagement_account_id%5D=123456789123
  response:
    body: '{"data": [{"type": "aws_account", "id": "000000000000", "attributes": {"name":
      "test_name", "has_datadog_integration": false}}, {"type": "aws_account", "id":
      "000000000000", "attributes": {"name": "test_name", "has_datadog_integration":
      true}}, {"type": "aws_account", "id": "000000000000", "attributes": {"name":
      "test_name", "has_datadog_integration": false}}, {"type": "aws_account", "id":
      "000000000000", "attributes": {"name": "test_name", "has_datadog_integration":
      false}}, {"type": "aws_account", "id": "000000000000", "attributes": {"name":
      "test_name", "has_datadog_integration": true}}, {"type": "aws_account", "id":
      "000000000000", "attributes": {"name": "test_name", "has_datadog_integration":
      false}}, {"type": "aws_account", "id": "000000000000", "attributes": {"name":
      "test_name", "has_datadog_integration": false}}, {"type": "aws_account", "id":
      "000000000000", "attributes": {"name": "test_name", "has_datadog_integration":
      true}}, {"type": "aws_account", "id": "000000000000", "attributes": {"name":
      "test_name", "has_datadog_integration": false}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
