interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cost/aws_cur_config
  response:
    body: '{"data": [{"type": "aws_cur_config", "id": "100", "attributes": {"account_id":
      "000000000000", "bucket_name": "test_bucket_name", "bucket_region": "us-east-1",
      "report_prefix": "cur-hourly", "report_name": "billing-conductor-cur", "months":
      15, "updated_at": "2023-10-27T12:38:39.585408", "created_at": "2023-10-10T13:53:28.774143",
      "status": "active", "status_updated_at": "2023-11-21T17:07:24.778386", "error_messages":
      []}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
