interactions:
- request:
    body: |
      {"data":{"attributes":{"costs_to_allocate":[{"condition":"is","tag":"account_id","value":"123456789","values":[]},{"condition":"in","tag":"environment","value":"","values":["production","staging"]}],"enabled":true,"order_id":1,"provider":["aws","gcp"],"rule_name":"example-arbitrary-cost-rule","strategy":{"allocated_by_tag_keys":["team","environment"],"based_on_costs":[{"condition":"is","tag":"service","value":"web-api","values":[]},{"condition":"not in","tag":"team","value":"","values":["legacy","deprecated"]}],"granularity":"daily","method":"proportional"},"type":"shared"},"type":"upsert_arbitrary_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule/123456
  response:
    body: '{"data":{"id":"123456","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"account_id","condition":"is","value":"123456789","values":null},{"tag":"environment","condition":"in","value":"","values":["production","staging"]}],"created":"2025-09-11T20:59:19.952563Z","enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","order_id":1,"provider":["aws","gcp"],"rule_name":"example-arbitrary-cost-rule","strategy":{"method":"proportional","granularity":"daily","based_on_costs":[{"tag":"service","condition":"is","value":"web-api","values":null},{"tag":"team","condition":"not
      in","value":"","values":["legacy","deprecated"]}],"allocated_by_tag_keys":["team","environment"]},"type":"shared","updated":"2025-09-11T21:00:21.353162Z","version":1}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
