interactions:
- request:
    body: |
      {"data": {"attributes": {"is_enabled": true}, "type": "azure_uc_config_patch_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/cost/azure_uc_config/100
  response:
    body: '{"data": {"type": "azure_uc_configs", "id": "100", "attributes": {"configs":
      [{"updated_at": "2023-06-29T12:43:36.569819", "export_path": "/amortized-cost",
      "status": "active", "id": "56", "account_id": "test_account_id", "client_id":
      "test_client_id", "dataset_type": "amortized", "created_at": "2023-06-29T12:43:36.569819",
      "export_name": "test_export_name", "scope": "test_scope", "storage_account":
      "test_storage_account", "storage_container": "test_storage_container", "status_updated_at":
      "2023-12-13T13:29:24.462039", "months": 15}, {"updated_at": "2023-06-29T12:43:36.569819",
      "export_path": "/actual-cost", "status": "active", "id": "55", "account_id":
      "test_account_id", "client_id": "test_client_id", "dataset_type": "actual",
      "created_at": "2023-06-29T12:43:36.569819", "export_name": "test_export_name",
      "scope": "test_scope", "storage_account": "test_storage_account", "storage_container":
      "test_storage_container", "status_updated_at": "2023-12-13T13:29:24.462039",
      "months": 15}]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
