interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cost/azure_uc_config
  response:
    body: '{"data": [{"type": "azure_uc_configs", "id": "1", "attributes": {"configs":
      [{"id": "1", "export_name": "test_export_name", "scope": "test_scope", "created_at":
      "2023-06-29T12:43:36.569819", "storage_container": "test_storage_container",
      "status": "active", "updated_at": "2023-06-29T12:43:36.569819", "account_id":
      "test_account_id", "client_id": "test_client_id", "dataset_type": "actual",
      "status_updated_at": "2023-11-03T13:48:16.827724", "error_messages": [], "storage_account":
      "test_storage_account", "months": 15, "export_path": "test_export_path"}, {"id":
      "1", "export_name": "test_export_name", "scope": "test_scope", "created_at":
      "2023-06-29T12:43:36.569819", "storage_container": "test_storage_container",
      "status": "active", "updated_at": "2023-06-29T12:43:36.569819", "account_id":
      "test_account_id", "client_id": "test_client_id", "dataset_type": "amortized",
      "status_updated_at": "2023-11-03T13:48:16.827724", "error_messages": [], "storage_account":
      "test_storage_account", "months"[...]
