interactions:
- request:
    body: |
      {"data":{"attributes":{"account_filters":{"excluded_accounts":["123456789123","123456789143"],"include_new_accounts":true,"included_accounts":["123456789123","123456789143"]},"account_id":"123456789123","bucket_name":"dd-cost-bucket","bucket_region":"us-east-1","report_name":"dd-report-name","report_prefix":"dd-report-prefix"},"type":"aws_cur_config_post_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cost/aws_cur_config
  response:
    body: '{"errors":[{"title":"Validation Error","detail":"[key=BUCKET_ACCESS] Amazon
      Web Services integration for account ''123456789123'' is currently disabled
      or misconfigured. Please double check your configuration on the Integrations
      page."}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
