interactions:
- request:
    body: |
      {"data":{"attributes":{"account_id":"123456789123","bucket_region":"us-east-1","report_name":"dd-report-name","report_prefix":"dd-report-prefix"},"type":"aws_cur_config_post_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cost/aws_cur_config
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute \"bucket_name\"
      is required"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
