interactions:
- request:
    body: |
      {"data":{"attributes":{"is_enabled":true},"type":"gcp_uc_config_patch_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/InvalidValue
  response:
    body: '{"errors":[{"status":"400","title":"Invalid Parameter","detail":"invalid
      parameter \"cloudAccountId\" in \"path\"; expected type \"int64\""}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
