interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cost/budgets
  response:
    body: '{"data":[{"id":"3fba18e7-0067-491a-9308-3f73c8e2c575","type":"budget","attributes":{"created_at":1745571497036,"created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","end_month":202502,"metrics_query":"aws.cost.amortized{service:ec2}
      by {service}","name":"my budget","org_id":321813,"start_month":202501,"total_amount":1000,"updated_at":1745571497036,"updated_by":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},{"id":"57238082-4cc2-45a6-9064-22043737ed7c","type":"budget","attributes":{"created_at":1745583730189,"created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","end_month":202502,"metrics_query":"aws.cost.amortized{service:ec2}
      by {service}","name":"my budget","org_id":321813,"start_month":202501,"total_amount":1000,"updated_at":1745583730189,"updated_by":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},{"id":"f916baf2-02a4-4160-82b6-db389e4b43be","type":"budget"[...]
