interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cost/custom_costs
  response:
    body: '{"data":[{"id":"1234abcd-1234-abcd-1234-1234abcd1234","type":"cost_metadata","attributes":{"billed_cost":250,"billing_currency":"USD","charge_period":{"start":1683331200000,"end":1686009600000},"name":"data.json","provider_names":["my_provider"],"status":"ACTIVE","uploaded_at":1749848306621,"uploaded_by":{"name":"frog","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?d=retro\u0026s=48","email":"frog@datadoghq.com"}}}],"meta":{"version":"1.0","total_filtered_count":1}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
