interactions:
- request:
    body: |
      [{"BilledCost":250,"BillingCurrency":"USD","ChargeDescription":"my_description","ChargePeriodEnd":"2023-06-06","ChargePeriodStart":"2023-05-06","ProviderName":"my_provider","Tags":{"key":"value"}}]
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PUT
    url: https://api.datadoghq.com/api/v2/cost/custom_costs
  response:
    body: '{"data":{"id":"1234abcd-1234-abcd-1234-1234abcd1234","type":"cost_metadata","attributes":{"billed_cost":250,"billing_currency":"USD","charge_period":{"start":1683331200000,"end":1686009600000},"name":"data.json","provider_names":["my_provider"],"status":"UPLOADING","uploaded_at":1754684413888,"uploaded_by":{"name":"frog","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?d=retro\u0026s=48","email":"frog@datadoghq.com"}}},"meta":{"version":"1.0"}}'
    code: 202
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 202 Accepted
version: 2
