interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cost/azure_uc_config/123456
  response:
    body: '{"data":{"id":"123456","type":"azure_uc_configs","attributes":{"configs":[{"account_id":"1234abcd-1234-abcd-1234-abcd1234abcd","client_id":"12345678-1234-5678-1234-567812345678","status":"active","status_updated_at":"2024-09-06T11:49:10.544706","error_messages":null,"id":"123","dataset_type":"amortized","storage_account":"teststorageaccount","storage_container":"teststoragecontainer","export_name":"test-export-name","export_path":"/test-export-path-amortized","scope":"/subscriptions/abcdefgh-abcd-efgh-abcd-efghabcdefgh","months":15,"created_at":"2023-06-14T20:42:08.792050","updated_at":"2023-06-14T20:42:08.792050"},{"account_id":"87654321-8765-4321-8765-432187654321","client_id":"aaaabbbb-cccc-dddd-eeee-ffffgggghhhh","status":"active","status_updated_at":"2024-09-06T11:49:10.544706","error_messages":null,"id":"456","dataset_type":"actual","storage_account":"teststorageaccount","storage_container":"teststoragecontainer","export_name":"test-export-name","export_path":"/test-export-path-actual","scope":"/subscriptions/abcdefgh-abcd-efgh-abcd-efghabcdefgh","months":15,"created_at":"2023-06-14T20:42:08.792050","updated_at":"2023-06-14T20:42:08.792050"}]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
