interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Rule 17870415-0000-0000-0000-178704155300","selectors":{"query":"env:test","rule_types":["signal_correlation"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["@email@email.com"]},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
  response:
    body: '{"data":{"id":"yc8-i7q-9be","type":"notification_rules","attributes":{"created_at":1787041553174,"created_by":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"enabled":true,"modified_at":1787041553174,"modified_by":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"name":"Rule 17870415-0000-0000-0000-178704155300","selectors":{"severities":["critical"],"rule_types":["signal_correlation"],"query":"env:test","trigger_source":"security_signals"},"targets":["@email@email.com"],"time_aggregation":0,"version":1}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/yc8-i7q-9be
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
