interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"CreateacustomframeworkreturnsConflictresponse","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body: '{"data":{"id":"CreateacustomframeworkreturnsConflictresponse-10","type":"custom_framework","attributes":{"handle":"CreateacustomframeworkreturnsConflictresponse","version":"10"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"handle":"CreateacustomframeworkreturnsConflictresponse","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body: '{"errors":[{"status":"409","title":"Status Conflict","detail":"already_exists(Framework
      ''CreateacustomframeworkreturnsConflictresponse'' already existed)"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/CreateacustomframeworkreturnsConflictresponse/10
  response:
    body: '{"data":{"id":"CreateacustomframeworkreturnsConflictresponse-10","type":"custom_framework","attributes":{"description":"","handle":"CreateacustomframeworkreturnsConflictresponse","icon_url":"test-url","name":"name","version":"10"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
