interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":"@severity:(critical OR high)","page":{"limit":1}}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/search
  response:
    body: '{"data":[{"id":"ZGVmLTAway1leWV-aS0wOGE2ZmE2ODdjOWE2ZDJkYg==","type":"finding","attributes":{"attributes":{"custom":{"cloud_resource":{"account":"600865094333","category":"compute","cloud_provider":"aws","configuration":{"account_id":"600865094333","components":{"kubelet":{"config":{"content":{"address":"10.12.32.204","allowedUnsafeSysctls":["net.*"],"apiVersion":"kubelet.config.k8s.io/v1beta1","authentication":{"anonymous":{"enabled":false},"webhook":{"cacheTTL":"60m","enabled":true},"x509":{"clientCAFile":{"certificate":{"authorityKeyId":"5B:1D:26:C2:84:4A:37:36:57:E4:95:53:4D:19:0B:FD:36:1A:EB:96","commonName":"parent31-k8s","dnsNames":["parent31-k8s"],"fingerprint":"SHA256:DP/0ES6hkVPMrFizcIMEbQ75QGpwuWZZzShkn1KGQLA","notAfter":"2030-09-28T18:40:34Z","notBefore":"2025-09-29T18:40:04Z","serialNumber":"680167176125483697456383252717454423151202771482","subjectKeyId":"5B:1D:26:C2:84:4A:37:36:57:E4:95:53:4D:19:0B:FD:36:1A:EB:96"},"dirGroup":"root","dirMode":2147484141,"dirUser":"root","group":"root","mode":420,"path":"/etc/vaultd/certs/vault-ca.cert","user":"root"}}},"authorization":{"mode":"Webhook","webhook":{"cacheAuthorizedTTL":"60m"}},"cgroupDriver":"systemd","cgroupsPerQOS":true,"clusterDomain":"parent31.cluster.local","containerLogMaxFiles":3,"containerLogMaxSize":"20Mi","cpuCFSQuota":false,"cpuManagerPolicy":"static","enforceNodeAllocatable":["pods"],"featureGates":{"AllowUnsafeMalformedObjectDeletion":false,"CBORServingAndStorage":false,"ClearingNominatedNodeNameAfterBinding":false,"ClusterTrustBundle":false,"ClusterTrustBundleProjection":false,"ComponentFlagz":false,"ComponentStatusz":false,"ContainerRestartRules":false,"ContainerStopSignals":false,"CoordinatedLeaderElection":false,"DRAConsumableCapacity":true,"DRADeviceBindingConditions":true,"DRADeviceTaints":true,"DRAExtendedResource":true,"DRAPartitionableDevices":true,"DRASchedulerFilterTimeout":true,"DeclarativeValidationTakeover":false,"DeploymentReplicaSetTerminatingReplicas":false,"DynamicResourceAllocation":true,"EnvFiles":false,"ExternalServiceAccountTokenSigner":true,"HPAConfigurableTolerance":false,"HostnameOverride":false,"ImageVolume":true,"InPlacePodVerticalScalingExclusiveCPUs":false,"InPlacePodVerticalScalingExclusiveMemory":false,"JobManagedBy":false,"KubeletCrashLoopBackOffMax":false,"KubeletEnsureSecretPulledImages":false,"KubeletFineGrainedAuthz":false,"MaxUnavailableStatefulSet":true,"MutableCSINodeAllocatableCount":true,"MutatingAdmissionPolicy":true,"NominatedNodeNameForExpectation":false,"PodCertificateRequest":false,"PodLogsQuerySplitStreams":false,"PodTopologyLabelsAdmission":false,"ReduceDefaultCrashLoopBackOffDecay":false,"RelaxedServiceNameValidation":false,"RemoteRequestHeaderUID":false,"ResourceHealthStatus":false,"SELinuxChangePolicy":false,"SchedulerAsyncPreemption":false,"ServiceAccountNodeAudienceRestriction":false,"StorageCapacityScoring":false,"StorageVersionMigrator":false,"StrictIPCIDRValidation":false,"WatchCacheInitializationPostStartHook":false,"WatchList":true},"imageMaximumGCAge":"22h","kind":"KubeletConfiguration","kubeReserved":{"cpu":"100m","memory":"300Mi"},"kubeReservedCgroup":"kuberuntime","maxPods":45,"providerID":"aws:///us-west-2c/i-08a6fa687c9a6d2db","readOnlyPort":0,"registerWithTaints":[{"effect":"NoSchedule","key":"ebs.csi.aws.com/agent-not-ready","value":"true"},{"effect":"NoSchedule","key":"node","value":"nodeless"}],"registryBurst":20,"registryPullQPS":8,"streamingConnectionIdleTimeout":"4h","systemReserved":{"cpu":"100m","memory":"3507947110"},"systemReservedCgroup":"system","tlsCertFile":{"certificate":{"authorityKeyId":"5B:1D:26:C2:84:4A:37:36:57:E4:95:53:4D:19:0B:FD:36:1A:EB:96","commonName":"system:node:ip-10-12-32-204.us-west-2.compute.internal","fingerprint":"SHA256:FBQHjmcexGGgB42hmh2FLq1lRwyoz1HYRpJRd2pnsII","ipAddresses":["10.12.32.204"],"notAfter":"2025-12-22T16:50:32Z","notBefore":"2025-12-15T22:38:56Z","organization":["system:nodes"],"serialNumber":"127630705538822312578970595637812130230650020432","subjectKeyId":"67:A8:EE:1D:53:9F:B8:54:1B:3F:17:CF:7D:90:5A:BD:16:80:64:D7"},"dirGroup":"root","dirMode":2147484141,"dirUser":"root","group":"root","mode":420,"path":"/var/lib/kubelet/pki/kubelet-cert.pem","user":"root"},"tlsPrivateKeyFile":{"group":"root","mode":384,"path":"/var/lib/kubelet/pki/kubelet-key.pem","user":"root"}},"group":"root","mode":384,"path":"/etc/kubernetes/kubelet-configuration.yaml","user":"root"},"event-burst":100,"event-qps":50,"hostname-override":"ip-10-12-32-204.us-west-2.compute.internal","image-credential-provider-bin-dir":{"group":"root","mode":2147484141,"path":"/usr/local/bin","user":"root"},"image-credential-provider-config":{"content":{"apiVersion":"kubelet.config.k8s.io/v1","kind":"CredentialProviderConfig","providers":[{"apiVersion":"credentialprovider.kubelet.k8s.io/v1","defaultCacheDuration":"12h","matchImages":["*.dkr.ecr.*.amazonaws.com","*.dkr.ecr-fips.*.amazonaws.com"],"name":"ecr-credential-provider"}]},"group":"root","mode":292,"path":"/etc/kubernetes/kubelet-credential-provider-config.yaml","user":"root"},"kubeconfig":{"group":"root","kubeconfig":{"clusters":{"kubernetes":{"certificateAuthority":{"certificate":{"authorityKeyId":"5B:1D:26:C2:84:4A:37:36:57:E4:95:53:4D:19:0B:FD:36:1A:EB:96","commonName":"parent31-k8s","dnsNames":["parent31-k8s"],"fingerprint":"SHA256:DP/0ES6hkVPMrFizcIMEbQ75QGpwuWZZzShkn1KGQLA","notAfter":"2030-09-28T18:40:34Z","notBefore":"2025-09-29T18:40:04Z","serialNumber":"680167176125483697456383252717454423151202771482","subjectKeyId":"5B:1D:26:C2:84:4A:37:36:57:E4:95:53:4D:19:0B:FD:36:1A:EB:96"},"dirGroup":"root","dirMode":2147484141,"dirUser":"root","group":"root","mode":420,"path":"/etc/vaultd/certs/vault-ca.cert","user":"root"},"server":"https://k8s-parent31.prtest03.staging.dog"}},"contexts":{"kubelet":{"cluster":"kubernetes","user":"kubelet"}},"currentContext":"","users":{"kubelet":{"clientCertificate":{"certificate":{"authorityKeyId":"5B:1D:26:C2:84:4A:37:36:57:E4:95:53:4D:19:0B:FD:36:1A:EB:96","commonName":"system:node:ip-10-12-32-204.us-west-2.compute.internal","fingerprint":"SHA256:FBQHjmcexGGgB42hmh2FLq1lRwyoz1HYRpJRd2pnsII","ipAddresses":["10.12.32.204"],"notAfter":"2025-12-22T16:50:32Z","notBefore":"2025-12-15T22:38:56Z","organization":["system:nodes"],"serialNumber":"127630705538822312578970595637812130230650020432","subjectKeyId":"67:A8:EE:1D:53:9F:B8:54:1B:3F:17:CF:7D:90:5A:BD:16:80:64:D7"},"dirGroup":"root","dirMode":2147484141,"dirUser":"root","group":"root","mode":420,"path":"/var/lib/kubelet/pki/kubelet-cert.pem","user":"root"},"clientKey":{"group":"root","mode":384,"path":"/var/lib/kubelet/pki/kubelet-key.pem","user":"root"},"usePassword":false,"useToken":false}}},"mode":420,"path":"/var/lib/kubelet/kubeconfig.yaml","user":"root"},"make-iptables-util-chains":true,"pod-max-pids":-1,"skippedFlags":{"--cloud-provider":"external","--cluster-dns":"172.17.0.2","--config-dir":"/etc/kubernetes/config.d","--container-runtime-endpoint":"unix:///run/containerd/containerd.sock","--healthz-bind-address":"10.12.32.204","--node-ip":"10.12.32.204","--node-labels":"node.datadoghq.com/cgroup=v2"}}},"framework_requirement":["fedramp-low/Identification-and-Authentication","fedramp-moderate/Identification-and-Authentication","pci-dss/Protect-Stored-Account-Data","cis-kubernetes/Kubelet","fedramp-high/Identification-and-Authentication","nist-800-53/Identification
      and Authentication","pci-dss/Apply-Secure-Configurations-to-All-System-Components"],"framework_requirement_control":["cis-kubernetes/Kubelet/4.2.10","nist-800-53/Identification
      and Authentication/IA-7","fedramp-high/Identification-and-Authentication/IA-7","pci-dss/Apply-Secure-Configurations-to-All-System-Components/2.2.7","fedramp-low/Identification-and-Authentication/IA-7","fedramp-moderate/Identification-and-Authentication/IA-7","pci-dss/Protect-Stored-Account-Data/3.6.1.2","pci-dss/Protect-Stored-Account-Data/3.6.1.1"],"is_default_crawl":false,"kube_node_name":"kube-system_nodeless-amd64-d-m6a-2xlarge","kubeletService":{"content":["Unit"],"group":"root","mode":420,"path":"/etc/systemd/system/kubelet.service","user":"root"},"version":"202403"},"region":"us-west-2"},"compliance":{"evaluation":"pass","framework_requirement_controls":["cis-kubernetes/Kubelet/4.2.10","nist-800-53/Identification
      and Authentication/IA-7","fedramp-high/Identification-and-Authentication/IA-7","pci-dss/Apply-Secure-Configurations-to-All-System-Components/2.2.7","fedramp-low/Identification-and-Authentication/IA-7","fedramp-moderate/Identification-and-Authentication/IA-7","pci-dss/Protect-Stored-Account-Data/3.6.1.2","pci-dss/Protect-Stored-Account-Data/3.6.1.1"],"framework_requirements":["fedramp-low/Identification-and-Authentication","fedramp-moderate/Identification-and-Authentication","pci-dss/Protect-Stored-Account-Data","cis-kubernetes/Kubelet","fedramp-high/Identification-and-Authentication","nist-800-53/Identification
      and Authentication","pci-dss/Apply-Secure-Configurations-to-All-System-Components"],"frameworks":[{"control":"4.2.10","framework":"cis-kubernetes","is_default":true,"requirement":"Kubelet","version":"1.9.0"},{"control":"IA-7","framework":"fedramp-high","is_default":true,"requirement":"Identification-and-Authentication","version":"5"},{"control":"IA-7","framework":"fedramp-low","is_default":true,"requirement":"Identification-and-Authentication","version":"5"},{"control":"IA-7","framework":"fedramp-moderate","is_default":true,"requirement":"Identification-and-Authentication","version":"5"},{"control":"IA-7","framework":"nist-800-53","is_default":true,"requirement":"Identification
      and Authentication","version":"rev5"},{"control":"2.2.7","framework":"pci-dss","is_default":true,"requirement":"Apply-Secure-Configurations-to-All-System-Components","version":"4.0.1"},{"control":"3.6.1.1","framework":"pci-dss","is_default":true,"requirement":"Protect-Stored-Account-Data","version":"4.0.1"},{"control":"3.6.1.2","framework":"pci-dss","is_default":true,"requirement":"Protect-Stored-Account-Data","version":"4.0.1"}]},"description":"%%%\n##
      Description\n\nKubelet client certificate rotation should be enabled. The `--rotate-certificates`
      setting tells the kubelet to rotate its client certificates by creating new
      CSRs when its existing credentials expire. This automated periodic rotation
      ensures that there is no downtime due to expired certificates and thus addresses
      availability in the CIA security triad.\n\n**Note**: This recommendation only
      applies if you let kubelets get their certificates from the API server. In cases
      where your kubelet certificates come from an outside authority or tool (for
      example, Vault), then you need to manually do the rotation. \n\n## Remediation\n\n1.
      If using a kubelet config file, edit the file to add the line `rotateCertificates:
      true`.\n2. If using command line arguments, edit the kubelet service file `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`
      on each worker node and add the argument below from the `KUBELET_CERTIFICATE_ARGS`
      variable.\n    ```\n    --rotate-certificates=true\n    ```\n3. Restart the
      kubelet service.\n\n%%%","detection_changed_at":1765838670804,"finding_id":"ZGVmLTAway1leWV-aS0wOGE2ZmE2ODdjOWE2ZDJkYg==","finding_type":"misconfiguration","first_seen_at":1765838670804,"k8s":{"cluster_id":"parent31"},"last_seen_at":1765838670804,"metadata":{"schema_version":"2"},"resource_id":"i-08a6fa687c9a6d2db","resource_name":"kube-system_nodeless-amd64-d-m6a-2xlarge","resource_type":"kubernetes_worker_node","rule":{"default_rule_id":"def-00k-eye","id":"def-00k-eye","name":"The
      kubelet client certificate rotation should be enabled","type":"cloud configuration","version":7},"severity":"high","severity_details":{"adjusted":{"score":8,"value":"high","value_id":3}},"status":"open","title":"The
      kubelet client certificate rotation should be enabled","workflow":{"mute":{"is_muted":false}}}},"tags":["scored:true","kernel:none","kube_node_role:nodeless","dd_compute_k8s_platform_version:v6-260-2","k8s.io/cluster-autoscaler/node-template/label/agent-profile.datadoghq.com/name:compute-nodeless-200m-v2","kube_cluster_name:parent31","k8s.io/cluster-autoscaler/node-template/taint/node:nodeless:noschedule","nodegroup:kube-system_nodeless-amd64-d-m6a-2xlarge","name:kube-system_nodeless-amd64-d-m6a-2xlarge","framework:fedramp-low","requirement:identification_and_authentication","k8s.io/cluster-autos[...]
