interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      logs from staging"}],"version":1,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606","is_builtin":false},"type":"security_filters","id":"dtb-n4z-x9c"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606","version":1},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/dtb-n4z-x9c
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","filtered_data_type":"logs","exclusion_filters":[],"version":2,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606","is_builtin":false},"type":"security_filters","id":"dtb-n4z-x9c"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
