interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/security/findings?page%5Blimit%5D=5
  response:
    body: '{"data":[{"id":"OXBuLXltcS1yaGh-aS0wODVkZTgwNWY4NTJlZGQxNA==","type":"finding","attributes":{"attributes":{"custom":{"cloud_resource":{"account":"727006795293","category":"hosts","cloud_provider":"aws","configuration":{"account_id":"727006795293","agent_framework_id":"cis-ubuntu2204","agent_rule_id":"xccdf_org.ssgproject.content_rule_package_bind_removed","agent_version":"7.74.0-rc.3","evaluator":"xccdf","framework_requirement":["cis-ubuntu2004/DNS-Server","cis-rhel9/DNS-Server","cis-ubuntu2404/DNS-Server","cis-rhel8/DNS-Server","cis-rhel7/DNS-Server","cis-amzn2/DNS-Server","cis-al2023/DNS-Server","cis-ubuntu2204/DNS-Server","cis-almalinux9/DNS-Server"],"framework_requirement_control":["cis-ubuntu2004/DNS-Server/2.2.8","cis-ubuntu2404/DNS-Server/2.1.4","cis-rhel7/DNS-Server/2.2.4","cis-almalinux9/DNS-Server/2.1.4","cis-rhel8/DNS-Server/2.2.4","cis-rhel9/DNS-Server/2.1.4","cis-al2023/DNS-Server/2.2.5","cis-amzn2/DNS-Server/2.2.4","cis-ubuntu2204/DNS-Server/2.2.7"]},"region":"us-east-1"},"compliance":{"evaluation":"pass","framework_requirement_controls":["cis-ubuntu2004/DNS-Server/2.2.8","cis-ubuntu2404/DNS-Server/2.1.4","cis-rhel7/DNS-Server/2.2.4","cis-almalinux9/DNS-Server/2.1.4","cis-rhel8/DNS-Server/2.2.4","cis-rhel9/DNS-Server/2.1.4","cis-al2023/DNS-Server/2.2.5","cis-amzn2/DNS-Server/2.2.4","cis-ubuntu2204/DNS-Server/2.2.7"],"framework_requirements":["cis-ubuntu2004/DNS-Server","cis-rhel9/DNS-Server","cis-ubuntu2404/DNS-Server","cis-rhel8/DNS-Server","cis-rhel7/DNS-Server","cis-amzn2/DNS-Server","cis-al2023/DNS-Server","cis-ubuntu2204/DNS-Server","cis-almalinux9/DNS-Server"],"frameworks":[{"control":"2.2.8","framework":"cis-ubuntu2004","is_default":true,"message":"##
      Description\n\nThe `named` service is provided by the `bind` package.\nThe `bind`
      package can be removed with the following command:\n```\n\n$ apt-get remove
      bind\n```\n\n\n## Rationale\n\nIf there is no need to make DNS server software
      available,\nremoving it provides a safeguard against its activation.\n\n## Remediation\n\n###
      Shell script\n\nThe following script can be run on the host to remediate the
      issue.\n\n```\n#!/bin/bash\n\n# CAUTION: This remediation script will remove
      bind9\n# from the system, and may remove any packages\n# that depend on bind9.
      Execute this\n# remediation AFTER testing on a non-production\n# system!\n\n\nDEBIAN_FRONTEND=noninteractive
      apt-get remove -y \"bind9\"\n```\n\n### Ansible playbook\n\nThe following playbook
      can be run with Ansible to remediate the issue.\n\n```\n- name: ''Uninstall
      bind Package: Ensure bind9 is removed''\n  ansible.builtin.package:\n    name:
      bind9\n    state: absent\n  tags:\n  - NIST-800-53-CM-6(a)\n  - NIST-800-53-CM-7(a)\n  -
      NIST-800-53-CM-7(b)\n  - disable_strategy\n  - low_complexity\n  - low_disruption\n  -
      low_severity\n  - no_reboot_needed\n  - package_bind_removed\n```\n","requirement":"DNS-Server","version":"1.0.0"},{"control":"2.2.7","framework":"cis-ubuntu2204","is_default":true,"message":"##
      Description\n\nThe `named` service is provided by the `bind` package.\nThe `bind`
      package can be removed with the following command:\n```\n\n$ apt-get remove
      bind\n```\n\n\n## Rationale\n\nIf there is no need to make DNS server software
      available,\nremoving it provides a safeguard against its activation.\n\n## Remediation\n\n###
      Shell script\n\nThe following script can be run on[...]
