interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Delete_a_signal_based_notification_rule_returns_Rule_successfully_deleted_response-1738763144","selectors":{"query":"env:test","rule_types":["signal_correlation"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["@email@email.com"]},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
  response:
    body: '{"data":{"id":"x4n-qps-p3w","type":"notification_rules","attributes":{"created_at":1738763144838,"created_by":{"name":"","handle":""},"enabled":true,"modified_at":1738763144838,"modified_by":{"name":"","handle":""},"name":"Test-Delete_a_signal_based_notification_rule_returns_Rule_successfully_deleted_response-1738763144","selectors":{"severities":["critical"],"rule_types":["signal_correlation"],"query":"env:test","trigger_source":"security_signals"},"targets":["@email@email.com"],"time_aggregation":0,"version":1}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/x4n-qps-p3w
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/x4n-qps-p3w
  response:
    body: '{"errors":["not_found(Notification rule with id ''x4n-qps-p3w'' not found)"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
