interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Get_notification_rule_by_ID_returns_OK_response-1699976715","selectors":{"attributes":["fim:true"],"implicit_vm_rule_match":false,"rule_tags":["fim:true"],"rule_types":["log_detection","cloud_configuration"],"severities":["high"],"signal_tags":[]},"targets":["test"]},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules
  response:
    body: '{"data":{"id":"f6p-df7-y0z","attributes":{"version":1,"name":"Test-Get_notification_rule_by_ID_returns_OK_response-1699976715","targets":["test"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"implicit_vm_rule_match":false},"enabled":true,"creation_date":1699976715629,"update_date":1699976715629,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_rules"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/f6p-df7-y0z
  response:
    body: '{"data":{"id":"f6p-df7-y0z","attributes":{"version":1,"name":"Test-Get_notification_rule_by_ID_returns_OK_response-1699976715","targets":["test"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"implicit_vm_rule_match":false},"enabled":true,"creation_date":1699976715629,"update_date":1699976715629,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_rules"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
