interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason_description":"items to focus on"},"enabled":true,"name":"Test-Update_an_inbox_rule_returns_The_server_cannot_process_the_request_because_it_contains_invalid_data_-1737621684","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"inbox_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules
  response:
    body: '{"data":{"id":"a7b01380-2a2f-4664-8ac4-912d14791749","type":"inbox_rules","attributes":{"action":{"reason_description":"items
      to focus on"},"created_at":1737621684732,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737621684732,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Update_an_inbox_rule_returns_The_server_cannot_process_the_request_because_it_contains_invalid_data_-1737621684","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"action":{"reason_description":"We want to focus on these items."},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"id":"00000000-0000-0000-0000-426655000000","type":"inbox_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/a7b01380-2a2f-4664-8ac4-912d14791749
  response:
    body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"Rule
      Ids in path and in request body differ"}]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/a7b01380-2a2f-4664-8ac4-912d14791749
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
