interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1664284016","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1664284016"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1664284016","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      logs from staging"}],"version":1,"query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1664284016","is_builtin":false},"type":"security_filters","id":"d9w-8nc-bzo"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/d9w-8nc-bzo
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/d9w-8nc-bzo
  response:
    body: '{"errors":["not_found(Security filter with id ''d9w-8nc-bzo'' not found)"]}

      '
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
