interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason":"duplicate"},"enabled":true,"name":"Test-Patch_a_mute_rule_returns_Mute_rule_successfully_patched_response-1738076222","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules
  response:
    body: '{"data":{"id":"d7a109ad-032f-4f25-b80c-de7fef3f7b94","type":"mute_rules","attributes":{"action":{"reason":"duplicate"},"created_at":1738076222803,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1738076222803,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Patch_a_mute_rule_returns_Mute_rule_successfully_patched_response-1738076222","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"action":{"expire_at":1893452400000,"reason":"duplicate","reason_description":"Muting for a while"},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"id":"d7a109ad-032f-4f25-b80c-de7fef3f7b94","type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/d7a109ad-032f-4f25-b80c-de7fef3f7b94
  response:
    body: '{"data":{"id":"d7a109ad-032f-4f25-b80c-de7fef3f7b94","type":"mute_rules","attributes":{"action":{"reason":"duplicate","reason_description":"Muting
      for a while","expire_at":1893452400000},"created_at":1738076222803,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1738076223290,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
      1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/d7a109ad-032f-4f25-b80c-de7fef3f7b94
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
