interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","enabled":true,"name":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","rule_query":"source:cloudtrail","suppression_query":"env:test"},"type":"suppressions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body: '{"data":{"id":"kpz-5gs-wn9","attributes":{"name":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","enabled":true,"description":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","rule_query":"source:cloudtrail","suppression_query":"env:test","version":1,"creation_date":1704967585721,"update_date":1704967585721,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kpz-5gs-wn9
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kpz-5gs-wn9
  response:
    body: '{"errors":["not_found(Suppression with ID kpz-5gs-wn9 not found)"]}

      '
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
