interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1652349195","query":"service:TestGetasecurityfilterreturnsOKresponse1652349195"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1652349195","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1652349195","is_builtin":false},"type":"security_filters","id":"lgh-q3c-xlh"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/lgh-q3c-xlh
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1652349195","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1652349195","is_builtin":false},"type":"security_filters","id":"lgh-q3c-xlh"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
[...]
