interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"GetacustomframeworkreturnsOKresponse","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body: '{"data":{"id":"GetacustomframeworkreturnsOKresponse-10","type":"custom_framework","attributes":{"handle":"GetacustomframeworkreturnsOKresponse","version":"10"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/GetacustomframeworkreturnsOKresponse/10
  response:
    body: '{"data":{"id":"GetacustomframeworkreturnsOKresponse-10","type":"custom_framework","attributes":{"description":"","handle":"GetacustomframeworkreturnsOKresponse","icon_url":"test-url","name":"name","requirements":[{"name":"requirement","controls":[{"name":"control","rules_id":["def-000-be9"]}]}],"version":"10"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
