interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Update_a_suppression_rule_returns_OK_response-1769009707","enabled":true,"name":"suppression 181539185fcb1be7","rule_query":"source:cloudtrail","suppression_query":"env:test","tags":["technique:T1110-brute-force","source:cloudtrail"]},"type":"suppressions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body: '{"data":{"id":"h6t-xj1-5jw","type":"suppressions","attributes":{"creation_date":1769009707555,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"data_exclusion_query":"","description":"Test-Update_a_suppression_rule_returns_OK_response-1769009707","editable":true,"enabled":true,"name":"suppression
      181539185fcb1be7","rule_query":"source:cloudtrail","suppression_query":"env:test","tags":["source:cloudtrail","technique:T1110-brute-force"],"update_date":1769009707555,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"version":1}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"suppression_query":"env:staging status:low"},"type":"suppressions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/h6t-xj1-5jw
  response:
    body: '{"data":{"id":"h6t-xj1-5jw","type":"suppressions","attributes":{"creation_date":1769009707555,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"data_exclusion_query":"","description":"Test-Update_a_suppression_rule_returns_OK_response-1769009707","editable":true,"enabled":true,"name":"suppression
      181539185fcb1be7","rule_query":"source:cloudtrail","suppression_query":"env:staging
      status:low","tags":["source:cloudtrail","technique:T1110-brute-force"],"update_date":1769009707651,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"version":2}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
