interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Patch_a_vulnerability_based_notification_rule_returns_Bad_Request_response-1738763174","selectors":{"query":"env:test","rule_types":["misconfiguration","attack_path"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
  response:
    body: '{"data":{"id":"flc-8up-dya","type":"notification_rules","attributes":{"created_at":1738763174531,"created_by":{"name":"","handle":""},"enabled":true,"modified_at":1738763174531,"modified_by":{"name":"","handle":""},"name":"Test-Patch_a_vulnerability_based_notification_rule_returns_Bad_Request_response-1738763174","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"env:test","trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400,"version":1}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Rule 1","selectors":{"query":"(source:production_service OR env:prod)","rule_types":["misconfiguration","attack_path"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["@john.doe@email.com"],"time_aggregation":86400},"id":"aaa-bbb-ccc","type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/flc-8up-dya
  response:
    body: '{"errors":["input_validation_error(Field ''data.attributes.version'' is
      invalid: Specify the notification rule version to update, it cannot be 0.)"]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
