interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?page%5Blimit%5D=2
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWUFlZHdCbC1Wd21VZ0FBQUFCQldVRmxaSGRDYkVGQlFXRkpURGgxTlZNMFFtTlJRVUUifQ"}},"data":[{"attributes":{"status":"high","service":[""],"tags":["security:attack","kube_cluster_name:drampa","technique:t1556-modify-authentication-process","source:runtime-security-agent","env:prod","tactic:ta0003-persistence","fim:true","technique:t1556-modify-authentication-process","source:runtime-security-agent","security:attack","tactic:ta0003-persistence","datacenter:edge-us3.foo.bar","env:prod","type:open","rule_id:pam_modification_utimes","team:groupa","kube_node_role:compute","type:chmod","agent_support_urgency:high","cluster_name:drampa","kube_cluster_name:drampa","site:mycorp.com","rule_id:pam_modification_chmod","rule_id:pam_modification_open","type:utimes","ng_local_storage:false","instance_type:c5.xlarge","cpu_arch:amd64","ng_cluster_autoscaler:true","kube_node_role:groupa-api-ng"],"timestamp":"2022-04-12T13:54:02.099Z","host":"i-0439f25d8385802b8","attributes":{"status":"info","entities":["host:i-0439f25d8385802b8","@usr.id:root"],"hostname":"i-0439f25d8385802b8","relatedLogsQueryUrl":"/logs?query=%28%40agent.rule_id%3A%28pam_modification+OR+pam_modification_utimes%29+host%3A%22i-0439f25d8385802b8%22%29+OR+%28%40agent.rule_id%3A%28pam_modification+OR+pam_modification_chown%29+host%3A%22i-0439f25d8385802b8%22%29+OR+%28%40agent.rule_id%3A%28pam_modification+OR+pam_modification_chmod%29+host%3A%22i-0439f25d8385802b8%22%29+OR+%28%40agent.rule_id%3A%28pam_modification+OR+pam_modification_link%29+host%3A%22i-0439f25d8385802b8%22%29+OR+%28%40agent.rule_id%3A%28pam_modification+OR+pam_modification_open%29+host%3A%22i-0439f25d8385802b8%22%29+OR+%28%40agent.rule_id%3A%28pam_modification+OR+pam_modification_unlink%29+host%3A%22i-0439f25d8385802b8%22%29+OR+%28%40agent.rule_id%3A%28pam_modification+OR+pam_modification_rename%29+host%3A%22i-0439f25d8385802b8%22%29&from_ts=1649770439000&to_ts=1649858339000&live=false&integration_id=security_monitoring&integration_short_name=security_investigation","file":{"path":["/etc/pam.conf","/etc/pam.d/common-password","/etc/pam.d/common-account","/etc/pam.d/common-session-noninteractive","/etc/pam.d/common-session","/etc/pam.d/chpasswd","/etc/pam.d/chfn","/etc/pam.d/common-auth","/etc/pam.d/chsh"],"flags":["O_TRUNC","O_WRONLY","O_CREAT","O_CLOEXEC"],"name":["pam.conf","chfn","common-session-noninteractive","chsh","common-password","common-auth","common-session","common-account","chpasswd"]},"internal_id":"xgh-dfy-ywf-19-AYAeDXzzAACtiRYoIqxh0gAN--1754712357","workflow":{"events_matched":31,"rule":{"defaultRuleVersion":19,"type":"Workload
      Security","defaultRuleId":"tz1-6vg-1yz","detectionMethod":"threshold","version":19,"isDefaultRule":true,"id":"xgh-dfy-ywf","name":"PAM
      Configuration Files Modification"},"high_cardinality":{"attributes":[],"tags":[]},"first_seen":"2022-04-12T13:53:59.000Z","triage":{"assignee":{"name":"Unassigned","id":-1},"state":"open","incidentIds":[],"updater":{"handle":"","name":""},"creator":{"handle":"","name":""}},"last_seen":"2022-04-12T13:53:59.000Z"},"process":{"executable":{"path":"/usr/local/bin/containerd","name":"containerd"},"args":"info","pid":683,"parent":{"executable":{"path":"/usr/lib/systemd/systemd","name":"systemd"},"comm":"systemd"}},"groupByPaths":["host"],"title":"PAM
      Configuration Files Modification - pam_modification","agent":{"version":"7.35.0","rule_id":["pam_modification_utimes","pam_modification_open","pam_modification_chmod"],"policy_version":"1.4.3"},"triggeringRuleCase":{"status":"high","name":"pam_modification","condition":"pam_modification_chmod
      > 0 || pam_modification_chown > 0 || pam_modification_link > 0 || pam_modification_rename
      > 0 || pam_modification_open > 0 || pam_modification_unlink > 0 || pam_modification_utimes
      > 0"},"service":"","usr":{"id":"root"},"samples":[{"eventId":"AQAAAYAeDXDn_e1ZxAAAAABBWUFlRFh6ekFBQ3RpUllvSXF4aDBnQWY","content":{"status":"info","service":"","tags":["source:runtime-security-agent","type:chmod","rule_id:pam_modification_chmod","agent_support_urgency:high","cluster_name:drampa","cpu_arch:amd64","datacenter:edge-us3.foo.bar","env:prod","instance_type:c5.xlarge","kube_cluster_name:drampa","kube_node_role:compute","kube_node_role:groupa-api-ng","ng_cluster_autoscaler:true","ng_local_storage:false","site:mycorp.com","team:groupa"],"timestamp":"2022-04-12T13:53:59.015Z","ingest_size_in_bytes":7702,"custom":{"status":"info","service":"","title":"PAM
      may have been modified without authorization","process":{"executable":{"group":"root","name":"containerd","mount_id":24,"user":"root","change_time":"2022-03-17T09:32:05.508169636Z","modification_time":"2021-10-06T12:45:08Z","gid":0,"mode":33261,"filesystem":"ext4","path":"/usr/local/bin/containerd","inode":1181,"uid":0},"ancestors":[{"executable":{"group":"root","name":"systemd","mount_id":24,"user":"root","change_time":"2022-03-08T22:18:48.867673359Z","modification_time":"2022-01-10T04:56:38Z","gid":0,"mode":33261,"filesystem":"ext4","path":"/usr/lib/systemd/systemd","inode":3398,"uid":0},"group":"root","uid":0,"exec_time":"2022-04-12T13:51:33Z","pid":1,"gid":0,"comm":"systemd","user":"root","fork_time":"2022-04-12T13:51:33Z","tid":1,"credentials":{"fsuid":0,"euser":"root","egid":0,"egroup":"root","uid":0,"fsgroup":"root","cap_effective":["CAP_AUDIT_CONTROL","CAP_AUDIT_READ","CAP_AUDIT_WRITE","CAP_BLOCK_SUSPEND","CAP_BPF","CAP_CHECKPOINT_RESTORE","CAP_CHOWN","CAP_DAC_OVERRIDE","CAP_DAC_READ_SEARCH","CAP_FOWNER","CAP_FSETID","CAP_IPC_LOCK","CAP_IPC_OWNER","CAP_KILL","CAP_LEASE","CAP_LINUX_IMMUTABLE","CAP_MAC_ADMIN","CAP_MAC_OVERRIDE","CAP_MKNOD","CAP_NET_ADMIN","CAP_NET_BIND_SERVICE","CAP_NET_BROADCAST","CAP_NET_RAW","CAP_PERFMON","CAP_SETFCAP","CAP_SETGID","CAP_SETPCAP","CAP_SETUID","CAP_SYSLOG","CAP_SYS_ADMIN","CAP_SYS_BOOT","CAP_SYS_CHROOT","CAP_SYS_MODULE","CAP_SYS_NICE","CAP_SYS_PACCT","CAP_SYS_PTRACE","CAP_SYS_RAWIO","CAP_SYS_RESOURCE","CAP_SYS_TIME","CAP_SYS_TTY_CONFIG","CAP_WAKE_ALARM"],"fsgid":0,"cap_permitted":["CAP_AUDIT_CONTROL","CAP_AUDIT_READ","CAP_AUDIT_WRITE","CAP_BLOCK_SUSPEND","CAP_BPF","CAP_CHECKPOINT_RESTORE","CAP_CHOWN","CAP_DAC_OVERRIDE","CAP_DAC_READ_SEARCH","CAP_FOWNER","CAP_FSETID","CAP_IPC_LOCK","CAP_IPC_OWNER","CAP_KILL","CAP_LEASE","CAP_LINUX_IMMUTABLE","CAP_MAC_ADMIN","CAP_MAC_OVERRIDE","CAP_MKNOD","CAP_NET_ADMIN","CAP_NET_BIND_SERVICE","CAP_NET_BROADCAST","CAP_NET_RAW","CAP_PERFMON","CAP_SETFCAP","CAP_SETGID","CAP_SETPCAP","CAP_SETUID","CAP_SYSLOG","CAP_SYS_ADMIN","CAP_SYS_BOOT","CAP_SYS_CHROOT","CAP_SYS_MODULE","CAP_SYS_NICE","CAP_SYS_PACCT","CAP_SYS_PTRACE","CAP_SYS_RAWIO","CAP_SYS_RESOURCE","CAP_SYS_TIME","CAP_SYS_TTY_CONFIG","CAP_WAKE_ALARM"],"gid":0,"euid":0,"fsuser":"root","group":"root","user":"root"}}],"group":"root","uid":0,"parent":{"executable":{"group":"root","name":"systemd","mount_id":24,"user":"root","change_time":"2022-03-08T22:18:48.867673359Z","modification_time":"2022-01-10T04:56:38Z","gid":0,"mode":33261,"filesystem":"ext4","path":"/usr/lib/systemd/systemd","inode":3398,"uid":0},"group":"root","uid":0,"exec_time":"2022-04-12T13:51:33Z","pid":1,"gid":0,"comm":"systemd","user":"root","fork_time":"2022-04-12T13:51:33Z","tid":1,"credentials":{"fsu[...]
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?page%5Blimit%5D=2&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWUFlZHdCbC1Wd21VZ0FBQUFCQldVRmxaSGRDYkVGQlFXRkpURGgxTlZNMFFtTlJRVUUifQ
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWUFlRGFHZENMd21QZ0FBQUFCQldVRmxSR0ZIWkVGQlJFa3lkakpuYjFCSmF6Um5RVUUifQ"}},"data":[{"attributes":{"status":"high","service":["route53"],"tags":["security:attack",[...]
