interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body: '{"meta":{"page":{"total_filtered_count":10,"total_count":838}},"data":[{"updateAuthorId":0,"creationAuthorId":0,"tags":["scored:true","security:compliance","requirement:Cloud-SQL","cloud_provider:gcp","control:6.3.6","source:google_sql_database_instance","control:3.4","requirement:Communications-Security","framework:cis-gcp","requirement:Compliance","level:1","control:A.13.1.1","control:A.18.1.3","framework:soc-2","scope:google_sql_database_instance","requirement:Cardholder-Data","control:A.9.1.2","framework:iso-27001","requirement:Logical-and-Physical-Access-Control","requirement:Access-Control","framework:pci","control:CC6.1"],"type":"cloud_configuration","isEnabled":true,"hasExtendedTitle":true,"message":"##
      Description\n\nIt is recommended to set `3625 (trace flag)` database flag  to
      `off` for GCP SQL Server instance.\n\n## Rationale\n\nMicrosoft SQL trace flags
      are frequently used to diagnose performance issues or to debug stored procedures
      or complex computer systems, but they may also be recommended by Microsoft Support
      to address behavior that is negatively impacting a specific workload. All documented
      trace flags and those recommended by Microsoft Suppor[...]
