interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body: '{"data":{"id":"kk9-x1s-rgi","attributes":{"version":1,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","is_enabled":true,"exclusion_filters":[{"name":"Exclude
      logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","version":1},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/kk9-x1s-rgi
  response:
    body: '{"data":{"id":"kk9-x1s-rgi","attributes":{"version":2,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","is_enabled":true,"exclusion_filters":[],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
