interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Create_a_security_filter_returns_OK_response-1715358874","query":"service:TestCreateasecurityfilterreturnsOKresponse1715358874"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body: '{"data":{"id":"dfl-euq-jxj","attributes":{"version":1,"name":"Test-Create_a_security_filter_returns_OK_response-1715358874","query":"service:TestCreateasecurityfilterreturnsOKresponse1715358874","is_enabled":true,"exclusion_filters":[{"name":"Exclude
      staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/dfl-euq-jxj
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
