interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason":"duplicate"},"enabled":true,"name":"Test-Update_a_mute_rule_returns_Mute_rule_successfully_updated_response-1737639705","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules
  response:
    body: '{"data":{"id":"fa5829ab-aee5-458e-abc7-86b8f0a4687f","type":"mute_rules","attributes":{"action":{"reason":"duplicate"},"created_at":1737639705754,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737639705754,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Update_a_mute_rule_returns_Mute_rule_successfully_updated_response-1737639705","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"action":{"expire_at":1893452400000,"reason":"duplicate","reason_description":"Muting for a while"},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"id":"fa5829ab-aee5-458e-abc7-86b8f0a4687f","type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/fa5829ab-aee5-458e-abc7-86b8f0a4687f
  response:
    body: '{"data":{"id":"fa5829ab-aee5-458e-abc7-86b8f0a4687f","type":"mute_rules","attributes":{"action":{"reason":"duplicate","reason_description":"Muting
      for a while","expire_at":1893452400000},"created_at":1737639705754,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737639706208,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
      1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/fa5829ab-aee5-458e-abc7-86b8f0a4687f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
