interactions:
- request:
    body: |
      {"data":{"attributes":{"query":"host:test"},"type":"critical_assets"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
  response:
    body: '{"errors":["input_validation_error(Field ''data.attributes.severity'' is
      invalid: severity is required)"]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
