interactions:
- request:
    body: |
      {"data":{"attributes":{"mute":{"description":"Resolved.","is_muted":false,"reason":"RISK_ACCEPTED"}},"relationships":{"findings":{"data":[{"id":"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==","type":"findings"}]}},"type":"mute"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security/findings/mute
  response:
    body: '{"errors":[{"status":"422","title":"Invalid Request","detail":"The provided
      reason is not valid for the specified mute action. Possible values: [NO_PENDING_FIX
      HUMAN_ERROR NO_LONGER_ACCEPTED_RISK OTHER]"}]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 422 Unprocessable Entity
version: 2
