interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body: '{"data":[{"id":"def-000-vc2","version":7,"name":"''Blob public access''
      should be disabled for storage accounts with blob containers","createdAt":1681395797603,"creationAuthorId":0,"updateAuthorId":0,"updatedAt":1722014735961,"isDefault":true,"isPartner":false,"isEnabled":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"resource_type:azure_storage_account","groupByFields":["resource_type","resource_id"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a"}],"options":{"keepAlive":21600,"maxSignalDuration":86400,"detectionMethod":"threshold","evaluationWindow":7200,"complianceRuleOptions":{"resourceType":"azure_storage_account","validationQuery":"","complianceFrameworks":[{"framework":"pci-dss","version":"4.0","requirement":"Apply-Secure-Configurations-to-All-System-Components","control":"2.2.1","message":"","is_default":true},{"framework":"hipaa","version":"1","requirement":"Workforce-Security","control":"164.308-a-3-i","message":"","is_default":true},{"framework":"hipaa","version":"1","requirement":"Security-Management-Process","control":"164.308-a-1-ii-B","message":"","is_default":true},{"framework":"hipaa","version":"1","requirement":"Access-Control","control":"164.312-a-1","message":"","is_default":true},{"framework":"gdpr","version":"1","requirement":"Data-Protection","control":"25.2","message":"","is_defa[...]
