interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Delete_a_suppression_rule_returns_OK_response-1715358879","enabled":true,"name":"Test-Delete_a_suppression_rule_returns_OK_response-1715358879","rule_query":"source:cloudtrail","suppression_query":"env:test"},"type":"suppressions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body: '{"data":{"id":"csf-zrg-af0","attributes":{"name":"Test-Delete_a_suppression_rule_returns_OK_response-1715358879","enabled":true,"description":"Test-Delete_a_suppression_rule_returns_OK_response-1715358879","rule_query":"source:cloudtrail","suppression_query":"env:test","data_exclusion_query":"","version":1,"creation_date":1715358880145,"update_date":1715358880145,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/csf-zrg-af0
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/csf-zrg-af0
  response:
    body: '{"errors":["not_found(Suppression with ID csf-zrg-af0 not found)"]}

      '
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
