interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":"@severity:(critical OR high)"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/search
  response:
    body: '{"data":[{"id":"Y2RiNWYyMmQ2Nzg2ZTBkYjA1ZTc5NDM3MDU5NGJhNTh-MWIxYTc2ZDZkNDZlYmE0YjFlY2RkMDY0NjRlYjIwZTk=","type":"finding","attributes":{"attributes":{"custom":{"advisory":{"aliases":["CVE-2024-45337","GO-2024-3321"],"cve":"CVE-2024-45337","id":"GHSA-v778-237x-gjrc","modified_at":1738337443000,"published_at":1733954584000,"summary":"Misuse
      of ServerConfig.PublicKeyCallback may cause authorization bypass in golang.org/x/crypto","type":"component_with_known_vulnerability"},"cloud_resource":{"account":"990060747993","cloud_provider":"aws","display_name":"ip-10-151-60-149.us-west-2.compute.internal-raboot-c","region":"us-west-2"},"detection_changed_at":1765838619159,"finding_id":"Y2RiNWYyMmQ2Nzg2ZTBkYjA1ZTc5NDM3MDU5NGJhNTh-MWIxYTc2ZDZkNDZlYmE0YjFlY2RkMDY0NjRlYjIwZTk=","finding_type":"host_and_container_vulnerability","first_seen_at":1765838614786,"host":{"cloud_provider":"aws","image":"ami-0e7b60ad05b2da7ed","name":"ip-10-151-60-149.us-west-2.compute.internal-raboot-c","os":{"name":"ubuntu","version":"22.04"}},"k8s":{"cluster_id":"raboot-c"},"last_seen_at":1765838619159,"metadata":{"schema_version":"2"},"origin":["agent"],"package":{"additional_names":["golang.org/x/crypto"],"name":"golang.org/x/crypto","normalized_name":"golang.org/x/crypto","version":"v0.18.0"},"remediation":{"is_available":true,"package":{"base":[{"name":"golang.org/x/crypto","version":"0.31.0"}]},"recommended":{"name":"golang.org/x/crypto","version":"0.31.0"}},"resource_id":"1b1a76d6d46eba4b1ecdd06464eb20e9","resource_name":"ip-10-151-60-149.us-west-2.compute.internal-raboot-c","resource_type":"host","risk":{"has_exploit_available":true,"has_high_exploitability_chance":true,"is_production":false},"risk_details":{"has_exploit_available":{"evidence":{"exploit_sources":["GitHub"],"exploit_urls":["https://github.com/NHAS/CVE-2024-45337-POC","https://github.com/NHAS/VULNERABLE-CVE-2024-45337","https://github.com/peace-maker/CVE-2024-45337"],"type":"production_ready"},"impact_cvss":"neutral","value":true},"has_high_exploitability_chance":{"evidence":{"epss_score":0.42906,"epss_severity":"medium"},"impact_cvss":"neutral","value":true},"is_production":{"impact_cvss":"safer","value":false}},"severity":"high","severity_details":{"adjusted":{"score":7,"value":"high","value_id":3,"vector":"CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:N/E:H/RL:X/RC:X/CR:L/IR:L/AR:L/MAV:X/MAC:X/MPR:X/MUI:X/MS:X/MC:X/MI:X/MA:X"},"base":{"score":9.1,"value":"critical","value_id":4,"vector":"CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:N"}},"status":"open","title":"Misuse
      of ServerConfig.PublicKeyCallback may cause authorization bypass in golang.org/x/crypto","vulnerability":{"cwes":["CWE-285"],"hash":"2e1b9d06d12bdbdeba39c6f6ade74fe9091a07496078481ff81ce72884abcd31","stack":{"ecosystem":"go","language":"go"}},"workflow":{"mute":{"is_muted":false}}}},"tags":["kernel:none","kube_node_role:nodeless","aws:ec2launchtemplate:id:lt-0105c69a444a8e9fb","ecosystem:go","dd_compute_k8s_platform_version:v6-260-2","k8s.io/cluster-autoscaler/node-template/label/agent-profile.datadoghq.com/name:compute-nodeless-200m-v2","aws_account:990060747993","fix_version:v0.46.0","instance-type:c6a.2xlarge","k8s.io/cluster-autoscaler/node-template/resources/memory:13480074445","kubernetes_cluster:raboot-c","source:datadog","k8s.io/cluster-autoscaler/node-template/taint/node:[...]
