interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1715358877","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1715358877"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body: '{"data":{"id":"4ks-yda-fdg","attributes":{"version":1,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1715358877","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1715358877","is_enabled":true,"exclusion_filters":[{"name":"Exclude
      logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/4ks-yda-fdg
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/4ks-yda-fdg
  response:
    body: '{"errors":["not_found(Security filter with id ''4ks-yda-fdg'' not found)"]}

      '
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
