interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"ponse1744226700","icon_url":"","name":"ponse1744226700","requirements":[{"controls":[{"name":"ponse1744226700","rules_id":["def-000-cea"]}],"name":"ponse1744226700"}],"version":"ponse1744226700"},"type":"custom_framework"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
