interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"input_validation_error(Field
      ''data.attributes.handle'' is invalid: field ''handle'' must not be empty)"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
