interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-List_notification_rules_returns_OK_response-1713390910","selectors":{"attributes":["fim:true"],"implicit_vm_rule_match":false,"rule_tags":["fim:true"],"rule_types":["log_detection","cloud_configuration"],"severities":["high"],"signal_tags":[],"trigger_source":"security_signals"},"targets":["test"]},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules
  response:
    body: '{"data":{"id":"pbf-rdm-eut","attributes":{"version":1,"name":"Test-List_notification_rules_returns_OK_response-1713390910","targets":["test"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"query":"(fim:\"true\"
      OR @fim:\"true\")","migrated":true,"trigger_source":"security_signals","implicit_vm_rule_match":false},"enabled":true,"creation_date":1713390910773,"update_date":1713390910773,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_rules"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/pbf-rdm-eut
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
