interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Delete_a_suppression_rule_returns_OK_response-1769009704","enabled":true,"name":"suppression cf0b1697c5006472","rule_query":"source:cloudtrail","suppression_query":"env:test","tags":["technique:T1110-brute-force","source:cloudtrail"]},"type":"suppressions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body: '{"data":{"id":"9e0-jx9-qxd","type":"suppressions","attributes":{"creation_date":1769009705137,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"data_exclusion_query":"","description":"Test-Delete_a_suppression_rule_returns_OK_response-1769009704","editable":true,"enabled":true,"name":"suppression
      cf0b1697c5006472","rule_query":"source:cloudtrail","suppression_query":"env:test","tags":["source:cloudtrail","technique:T1110-brute-force"],"update_date":1769009705137,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"version":1}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/9e0-jx9-qxd
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/9e0-jx9-qxd
  response:
    body: '{"errors":["not_found(Suppression with ID 9e0-jx9-qxd not found)"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
