interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":7,"severity":"critical"}],"due_from":"first_seen"},"enabled":true,"name":"Test-Create_a_due_date_rule_returns_Successfully_created_the_due_date_rule_response-1781624460","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"due_date_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules
  response:
    body: '{"data":{"id":"51eb64b5-a519-408a-961a-137e4fe31d3c","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1781624462372,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1781624462372,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Create_a_due_date_rule_returns_Successfully_created_the_due_date_rule_response-1781624460","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules/51eb64b5-a519-408a-961a-137e4fe31d3c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
