interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"expire_at":1893452400000,"reason":"duplicate","reason_description":"Muting for a while"},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules
  response:
    body: '{"data":{"id":"f5497c52-4c9b-4a2c-bf17-0a506827464e","type":"mute_rules","attributes":{"action":{"reason":"duplicate","reason_description":"Muting
      for a while","expire_at":1893452400000},"created_at":1737639659503,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737639659503,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
      1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/f5497c52-4c9b-4a2c-bf17-0a506827464e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
