interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/AQAAAYNqUBVU4-rffwAAAABBWU5xVUJWVUFBQjJBd3ptMDdQUnF3QUE
  response:
    body: '{"data":{"attributes":{"discovery_timestamp":1663935976788,"searchable":{"title":"Generate
      a fake Signal"},"triggering_log_timestamp":"2022-09-23T12:26:16.788Z","groupByValuesHash":"0e2-32k-1pb-1-AYNqUBVUAAB7Q6xMp4yBGgAF","reducer_signal_id":"0e2-32k-1pb-1-AYNqUBVUAAB7Q6xMp4yBGgAF","tag":{"source":"python","env":"pcf-tealblue","instance-id":"6161818930815280887"},"discovery_hour":462204,"gated":{"network":{"ip":{"list":["8.8.8.8","10.0.4.8","127.0.0.1"]}},"workflow":{"events_matched":200,"rule":{"isDefaultRule":false,"defaultRuleVersion":0,"defaultRuleId":null},"high_cardinality":{"attributes":["@trace_id"],"tags":[]},"first_seen":"2022-09-23T12:26:13.000Z","triage":{"assignee":{"id":-1},"incidentIds":[]},"last_seen":"2022-09-23T12:26:41.000Z"},"triggeringRuleCase":{"status":"info","notifications":[],"name":"","condition":"a>0"},"relatedQuery":{"from":1663935673000,"track":"logs","viewParameters":{"integration_id":"security_monitoring","integration_short_name":"security_investigation"},"to":1663936301000,"queries":{"a":"(source:python)
      ((*) OR (service:api -(source:staging)) OR (acceptance rule triggered -(does
      not really match much) -(neither does it)) OR (ayayay query -(does not really
      match much) -(neither does it)) OR (service:TestUpdateasecurityfilterreturnsOKresponse1631884327
      -(source:staging)) OR (service:TestDeleteasecurityfilterreturnsNoContentresponse1631884338
      -(source:staging)) OR (service:TestGetasecurityfilterreturnsOKresponse1631884338
      -(source:staging))[...]
