interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/security/findings
  response:
    body: '{"data":[{"id":"MWIxMjUyZGJjMjE3ZTFmZTcwZDdlMDNiNTI2YjQ3ZDB-MmQ5ZDgzMTJiMGIwYmM5ZGRmZjQ5OTk4ZmMzYWYyNmM=","type":"finding","attributes":{"attributes":{"custom":{"advisory":{"aliases":["CVE-2025-38626"],"cve":"CVE-2025-38626","id":"TRIVY-CVE-2025-38626","modified_at":1764176984000,"published_at":1755879336000,"summary":"kernel:
      f2fs: fix to trigger foreground gc during f2fs_map_blocks() in lfs mode","type":"component_with_known_vulnerability"},"cloud_resource":{"account":"204235354797","cloud_provider":"aws","display_name":"i-048dfba6091eb0d1d","region":"us-west-2"},"detection_changed_at":1765838271832,"finding_id":"MWIxMjUyZGJjMjE3ZTFmZTcwZDdlMDNiNTI2YjQ3ZDB-MmQ5ZDgzMTJiMGIwYmM5ZGRmZjQ5OTk4ZmMzYWYyNmM=","finding_type":"host_and_container_vulnerability","first_seen_at":1765435671872,"host":{"cloud_provider":"aws","image":"ami-0cc8c76c477f8196c","name":"i-048dfba6091eb0d1d","os":{"name":"ubuntu","version":"22.04"}},"k8s":{"cluster_id":"bonsly"},"last_seen_at":1765838271832,"metadata":{"schema_version":"2"},"origin":["agent"],"package":{"additional_names":["linux-tools-common"],"name":"linux","normalized_name":"linux","version":"5.15.0-161.171"},"related_services":["exposed_to_attacks:false","elasticsearch-bundles"],"remediation":{"is_available":false},"resource_id":"2d9d8312b0b0bc9ddff49998fc3af26c","resource_name":"i-048dfba6091eb0d1d","resource_type":"host","risk":{"has_exploit_available":false,"has_high_exploitability_chance":false,"is_production":false,"is_publicly_accessible":false},"risk_details":{"has_exploit_available":{"evidence":{"type":"unavailable"},"impact_cvss":"safer","value":false},"has_high_exploitability_chance":{"evidence":{"epss_score":0.00018,"epss_severity":"low"},"impact_cvss":"safer","value":false},"is_production":{"impact_cvss":"safer","value":false},"is_publicly_accessible":{"value":false}},"severity":"low","severity_details":{"adjusted":{"score":2.7,"value":"low","value_id":1,"vector":"CVSS:3.1/AV:L/AC:L/PR:L/UI:N/S:U/C:N/I:N/A:H/E:U/RL:X/RC:X/CR:L/IR:L/AR:L/MAV:X/MAC:H/MPR:X/MUI:X/MS:X/MC:X/MI:X/MA:X"},"base":{"score":5.5,"value":"medium","value_id":2,"vector":"CVSS:3.1/AV:L/AC:L/PR:L/UI:N/S:U/C:N/I:N/A:H"}},"status":"auto_closed","title":"kernel:
      f2fs: fix to trigger foreground gc during f2fs_map_blocks() in lfs mode","vulnerability":{"hash":"99066567a1e5dbddd8e7f5e3724f31dbf66cac57a143756e292be14481f28759","stack":{"ecosystem":"deb"}},"workflow":{"auto_closed_at":1765838271832,"mute":{"is_muted":false}}}},"tags":["kernel:none","k8s.io/cluster-autoscaler/node-template/resources/ephemeral-storage:18747532246","event_type:close","fix_available:unavailable","security-group:sg-0f39702193288cb41","source:datadog","severity:low","auto-discovery.cluster-autoscaler.k8s.io/bonsly","asset_type:host","nodegroup:elasticsearch-bundles_elasticsearch-bundles-data","image:ami-0cc8c76c477f8196c","base_severity:medium","site:datadoghq.com","assignee:none","k8s.io/cluster-autoscaler/node-template/label/nodegroups.datadoghq[...]
