interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason_description":"items to focus on"},"enabled":true,"name":"Test-Patch_an_inbox_rule_returns_Inbox_rule_successfully_patched_response-1737621664","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"inbox_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules
  response:
    body: '{"data":{"id":"1a524ec9-504d-4aa0-9c81-52a994cfe8c1","type":"inbox_rules","attributes":{"action":{"reason_description":"items
      to focus on"},"created_at":1737621664886,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737621664886,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Patch_an_inbox_rule_returns_Inbox_rule_successfully_patched_response-1737621664","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"action":{"reason_description":"We want to focus on these items."},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"id":"1a524ec9-504d-4aa0-9c81-52a994cfe8c1","type":"inbox_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/1a524ec9-504d-4aa0-9c81-52a994cfe8c1
  response:
    body: '{"data":{"id":"1a524ec9-504d-4aa0-9c81-52a994cfe8c1","type":"inbox_rules","attributes":{"action":{"reason_description":"We
      want to focus on these items."},"created_at":1737621664886,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737621665366,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
      1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/1a524ec9-504d-4aa0-9c81-52a994cfe8c1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
