interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Create_a_notification_rule_returns_OK_response-1699997657","selectors":{"attributes":["test:123","env:prod"],"implicit_vm_rule_match":false,"rule_tags":["test:123"],"rule_types":["application_security","log_detection"],"severities":["high"],"signal_tags":["env:prod"]},"targets":["@slack-test"]},"type":"notification_profiles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_profiles
  response:
    body: '{"data":{"id":"okw-nnj-rem","attributes":{"version":1,"name":"Test-Create_a_notification_rule_returns_OK_response-1699997657","targets":["@slack-test"],"selectors":{"severities":["high"],"rule_types":["application_security","log_detection"],"rule_tags":["test:123"],"signal_tags":["env:prod"],"attributes":["env:prod","test:123"],"implicit_vm_rule_match":false},"enabled":true,"creation_date":1699997657897,"update_date":1699997657897,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_profiles"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_profiles/okw-nnj-rem
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
