interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"description":"Lower severity for dev environment noise","severity":"low","type":"set"},"enabled":true,"name":"Downgrade misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod team:platform"}},"type":"severity_modifier_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
  response:
    body: '{"data":{"id":"a14d6808-eab2-4381-8a15-ae4874d33b9e","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low","description":"Lower
      severity for dev environment noise"},"created_at":1787037657563,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1787037657563,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Downgrade misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod
      team:platform"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/a14d6808-eab2-4381-8a15-ae4874d33b9e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
