interactions:
- id: 0
  request:
    body: |
      {"cases":[{"condition":"a \u003e 0","name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test rule","name":"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"metrics":[],"query":"@test:true"}],"tags":[],"type":"log_detection"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
      rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1666647605501,"filters":[],"queries":[{"query":"@test:true","groupByFields":[],"aggregation":"count","name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
      > 0"}],"type":"log_detection","id":"3bq-nad-szq","isDefault":false,"name":"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605"}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"cases":[{"status":"info"}],"isEnabled":true,"message":"Test rule Bad","name":"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605","options":{},"queries":[{"query":""}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/3bq-nad-szq
  response:
    body: '{"errors":["Invalid rule configuration","Query filter cannot be empty"]}

      '
    code: 400
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
