interactions:
- request:
    body: |
      {"data":{"attributes":{"data_exclusion_query":"source:cloudtrail account_id:12345","description":"This rule suppresses low-severity signals in staging environments.","enabled":true,"name":"Custom suppression","rule_query":"type:log_detection source:cloudtrail"},"type":"suppressions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
