interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Create_a_mute_rule_returns_Successfully_created_the_mute_rule_response-1781624462","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body: '{"data":{"id":"a23423e0-da14-4698-9c01-7897eb56b76c","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624463227,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1781624463227,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Create_a_mute_rule_returns_Successfully_created_the_mute_rule_response-1781624462","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/a23423e0-da14-4698-9c01-7897eb56b76c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
