interactions:
- request:
    body: |
      {"data":{"attributes":{"cloud_provider":{"invalid":{"aws_account_id":["tag1:v1"]}}},"id":"csm_resource_filter","type":"csm_resource_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PUT
    url: https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"Invalid cloud
      provider invalid"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
