interactions:
- request:
    body: |
      {"data":{"attributes":{"handle":"ponse1737559707","icon_url":"","name":"ponse1737559707","requirements":[{"controls":[{"name":"ponse1737559707","rules_id":["kyz-e99-tys"]}],"name":"ponse1737559707"}],"version":"ponse1737559707"},"type":"custom_framework"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body: ''
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
version: 2
