interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Delete_a_vulnerability_based_rule_returns_Rule_successfully_deleted_response-1737628560","selectors":{"query":"env:test","rule_types":["misconfiguration","attack_path"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
  response:
    body: '{"data":{"id":"gcs-6rv-fjw","type":"notification_rules","attributes":{"created_at":1737628560356,"created_by":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"enabled":true,"modified_at":1737628560356,"modified_by":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"name":"Test-Delete_a_vulnerability_based_rule_returns_Rule_successfully_deleted_response-1737628560","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"env:test","trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400,"version":1}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/gcs-6rv-fjw
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/gcs-6rv-fjw
  response:
    body: '{"errors":["not_found(Notification rule with id ''gcs-6rv-fjw'' not found)"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
