interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Create_a_security_filter_returns_OK_response-1620751589","query":"service:TestCreateasecurityfilterreturnsOKresponse1620751589"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Create_a_security_filter_returns_OK_response-1620751589","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      staging"}],"version":1,"query":"service:TestCreateasecurityfilterreturnsOKresponse1620751589","is_builtin":false},"type":"security_filters","id":"tuz-sj9-ft0"}}'
    code: 200
    duration: ''
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - '35.4512853'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/tuz-sj9-ft0
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - '35.4512853'
    status: 204 No Content
version: 1
