interactions:
- id: 0
  request:
    body: |
      {"cases":[{"notifications":["channel"],"status":"info"}],"complianceSignalOptions":{"userActivationStatus":true,"userGroupByFields":["@account_id"]},"isEnabled":false,"message":"Cloud configuration rule","name":"Test-Update_a_cloud_configuration_rule_s_details_returns_OK_response-1693483085_cloud","options":{"complianceRuleOptions":{"complexRule":false,"regoRule":{"policy":"package datadog\n\nimport data.datadog.output as dd_output\n\nimport future.keywords.contains\nimport future.keywords.if\nimport future.keywords.in\n\nmilliseconds_in_a_day := ((1000 * 60) * 60) * 24\n\neval(iam_service_account_key) = \"skip\" if {\n\tiam_service_account_key.disabled\n} else = \"pass\" if {\n\t(iam_service_account_key.resource_seen_at / milliseconds_in_a_day) - (iam_service_account_key.valid_after_time / milliseconds_in_a_day) \u003c= 90\n} else = \"fail\"\n\n# This part remains unchanged for all rules\nresults contains result if {\n\tsome resource in input.resources[input.main_resource_type]\n\tresult := dd_output.format(resource, eval(resource))\n}\n","resourceTypes":["gcp_compute_disk"]},"resourceType":"gcp_compute_disk"}},"tags":["a:tag"],"type":"cloud_configuration"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body: '{"id":"38c-eaq-w9j","version":1,"name":"Test-Update_a_cloud_configuration_rule_s_details_returns_OK_response-1693483085_cloud","createdAt":1693483086124,"creationAuthorId":1445416,"isDefault":false,"isEnabled":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"resource_type:gcp_compute_disk","groupByFields":["resource_type","resource_id"],"distinctFields":[],"aggregation":"count","name":"a"}],"options":{"keepAlive":21600,"maxSignalDuration":86400,"detectionMethod":"threshold","evaluationWindow":7200,"complianceRuleOptions":{"resourceType":"gcp_compute_disk","regoRule":{"policy":"package
      datadog\n\nimport data.datadog.output as dd_output\n\nimport future.keywords.contains\nimport
      future.keywords.if\nimport future.keywords.in\n\nmilliseconds_in_a_day := ((1000
      * 60) * 60) * 24\n\neval(iam_service_account_key) = \"skip\" if {\n\tiam_service_account_key.disabled\n}
      else = \"pass\" if {\n\t(iam_service_account_key.resource_seen_at / milliseconds_in_a_day)
      - (iam_service_account_key.valid_after_time / milliseconds_in_a_day) <= 90\n}
      else = \"fail\"\n\n# This part remains unchanged for all rules\nresults contains
      result if {\n\tsome resource in input.resources[input.main_resource_type]\n\tresult
      := dd_output.format(resource, eval(resource))\n}\n","resourceTypes":["gcp_compute_disk"]},"complexRule":false}},"complianceSignalOptions":{"defaultActivationStatus":null,"defaultGroupByFields":null,"userActivationStatus":true,"userGroupByFields":["@account_id"]},"cases":[{"name":"","status":"info","notifications":["channel"],"condition":"a
      > 0"}],"message":"Cloud configuration rule","tags":["a:tag"],"hasExtendedTitle":true,"type":"cloud_configuration","filters":[]}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"cases":[{"notifications":[],"status":"info"}],"complianceSignalOptions":{"userActivationStatus":false,"userGroupByFields":[]},"isEnabled":false,"message":"ddd","name":"Test-Update_a_cloud_configuration_rule_s_details_returns_OK_response-1693483085_cloud_updated","options":{"complianceRuleOptions":{"regoRule":{"policy":"package datadog\n\nimport data.datadog.output as dd_output\n\nimport future.keywords.contains\nimport future.keywords.if\nimport future.keyw[...]
[...]
