interactions:
- request:
    body: |
      {"data":{"attributes":{"jobDefinition":{"cases":[{"condition":"a \u003e 1","name":"Condition 1","notifications":[],"status":"info"}],"from":1730387522611,"index":"main","message":"A large number of failed login attempts.","name":"Excessive number of failed attempts.","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"query":"source:non_existing_src_weekend"}],"tags":[],"to":1730387532611,"type":"log_detection"}},"type":"historicalDetectionsJobCreate"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs
  response:
    body: '{"data":{"id":"876b8334-58f8-4b7d-8e62-0101cb019208","type":"historicalDetectionsJob"}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/876b8334-58f8-4b7d-8e62-0101cb019208
  response:
    body: '{"data":{"id":"876b8334-58f8-4b7d-8e62-0101cb019208","type":"historicalDetectionsJob","attributes":{"createdAt":"2026-04-13
      09:15:42.715435+00","createdByHandle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","createdByName":"CI
      Account","jobDefinition":{"from":1730387522611,"to":1730387532611,"index":"main","name":"Excessive
      number of failed attempts.","cases":[{"name":"Condition 1","status":"info","notifications":[],"condition":"a
      \u003e 1"}],"queries":[{"query":"source:non_existing_src_weekend","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"","dataSource":"logs"}],"options":{"evaluationWindow":900,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"message":"A
      large number of failed login attempts.","tags":[],"type":"log_detection"},"jobName":"Excessive
      number of failed attempts.","jobStatus":"pending","modifiedAt":"2026-04-13 09:15:42.715435+00","signalOutput":false}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
