interactions:
- request:
    body: |
      {"dataSource":"logs","detectionMethod":"threshold","distinctFields":[],"filters":[],"groupByFields":[],"query":"source:cloudtrail","queryIndex":0,"type":"log_detection"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/livetail
  response:
    body: '{"query":"source:cloudtrail ((*) OR (service:api -(source:staging)) OR
      (acceptance rule triggered -(does not really match much) -(neither does it))
      OR (ayayay query -(does not really match much) -(neither does it)) OR (service:TestUpdateasecurityfilterreturnsOKresponse1631884327
      -(source:staging)) OR (service:TestDeleteasecurityfilterreturnsNoContentresponse1631884338
      -(source:staging)) OR (service:TestGetasecurityfilterreturnsOKresponse1631884338
      -(sour[...]
