interactions:
- request:
    body: |
      {"data":{"attributes":{"jobResultIds":[""],"notifications":[""],"signalMessage":"A large number of failed login attempts.","signalSeverity":"critical"},"type":"historicalDetectionsJobResultSignalConversion"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs/signal_convert
  response:
    body: '{"errors":[{"status":"400","title":"Generic Error","detail":"empty jobResultId
      provided"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
