interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Get_a_mute_rule_returns_Successfully_retrieved_the_mute_rule_response-1781624469","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body: '{"data":{"id":"66330741-04f8-43cc-8cd0-a4840a593658","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624469277,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1781624469277,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Get_a_mute_rule_returns_Successfully_retrieved_the_mute_rule_response-1781624469","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/66330741-04f8-43cc-8cd0-a4840a593658
  response:
    body: '{"data":{"id":"66330741-04f8-43cc-8cd0-a4840a593658","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624469277,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1781624469277,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Get_a_mute_rule_returns_Successfully_retrieved_the_mute_rule_response-1781624469","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/66330741-04f8-43cc-8cd0-a4840a593658
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
