interactions:
- request:
    body: |
      {"cases":[{"condition":"a \u003e 0","name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test rule","name":"_b87eac89722bbff0","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"metric":"","query":"@test:true"}],"tags":[],"type":"log_detection"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/convert
  response:
    body: '{"terraformContent":"resource \"datadog_security_monitoring_rule\" \"_b87eac89722bbff0\"
      {\n\tname = \"_b87eac89722bbff0\"\n\tenabled = true\n\tquery {\n\t\tquery =
      \"@test:true\"\n\t\tgroup_by_fields = []\n\t\thas_optional_group_by_fields =
      false\n\t\tdistinct_fields = []\n\t\taggregation = \"count\"\n\t\tname = \"\"\n\t\tdata_source
      = \"logs\"\n\t}\n\toptions {\n\t\tkeep_alive = 3600\n\t\tmax_signal_duration
      = 86400\n\t\tdetection_method = \"threshold\"\n\t\tevaluation_window = 900\n\t}\n\tcase
      {\n\t\tname = \"\"\n\t\tstatus = \"info\"\n\t\tnotifications = []\n\t\tcondition
      = \"a \u003e 0\"\n\t}\n\tmessage = \"Test rule\"\n\ttags = []\n\thas_extended_title
      = false\n\ttype = \"log_detection\"\n}\n"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
