interactions:
- request:
    body: |
      {"data":{"attributes":{"creation_author_id":367742,"creation_date":1758896636212,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":367742,"update_date":1758896636212,"version":1},"type":"critical_assets"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
  response:
    body: '{"data":{"id":"ddd704c3-8603-42d8-823c-2c101ef59207","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1767380948181,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":1445416,"update_date":1767380948181,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/ddd704c3-8603-42d8-823c-2c101ef59207
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/ddd704c3-8603-42d8-823c-2c101ef59207
  response:
    body: '{"errors":["not_found(Critical asset with ID ddd704c3-8603-42d8-823c-2c101ef59207
      not found)"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
