interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Delete_a_notification_rule_returns_OK_response-1699976711","selectors":{"attributes":["fim:true"],"implicit_vm_rule_match":false,"rule_tags":["fim:true"],"rule_types":["log_detection","cloud_configuration"],"severities":["high"],"signal_tags":[]},"targets":["test"]},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules
  response:
    body: '{"data":{"id":"r51-n2b-ndg","attributes":{"version":1,"name":"Test-Delete_a_notification_rule_returns_OK_response-1699976711","targets":["test"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"implicit_vm_rule_match":false},"enabled":true,"creation_date":1699976711788,"update_date":1699976711788,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_rules"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/r51-n2b-ndg
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/r51-n2b-ndg
  response:
    body: '{"errors":["not_found(Notification profile with id ''r51-n2b-ndg'' not
      found)"]}

      '
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
