interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Reorder_mute_rules_returns_Successfully_reordered_the_mute_rules_response-1781624476","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body: '{"data":{"id":"707a25e7-57ae-4d8f-9ce8-4840b52c7349","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624476249,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1781624476249,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Reorder_mute_rules_returns_Successfully_reordered_the_mute_rules_response-1781624476","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":[{"id":"707a25e7-57ae-4d8f-9ce8-4840b52c7349","type":"mute_rules"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/reorder
  response:
    body: '{"data":[{"type":"mute_rules","id":"707a25e7-57ae-4d8f-9ce8-4840b52c7349"}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/707a25e7-57ae-4d8f-9ce8-4840b52c7349
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
