interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/security/sboms/Repository?filter%5Basset_name%5D=github.com%2Fdatadog%2Fdatadog-agent
  response:
    body: '{"data":{"id":"github.com/datadog/datadog-agent","type":"sboms","attributes":{"bomFormat":"CycloneDX","components":[{"bom-ref":"pkg:golang/github.com/sagikazarmark/slog-shim@0.1.0","type":"library","name":"github.com/sagikazarmark/slog-shim","version":"0.1.0","purl":"pkg:golang/github.com/sagikazarmark/slog-shim@0.1.0"},{"bom-ref":"pkg:golang/github.com/sigstore/timestamp-authority@1.2.2","type":"library","name":"github.com/sigstore/timestamp-authority","version":"1.2.2","purl":"pkg:golang/github.com/sigstore/timestamp-authority@1.2.2"},{"bom-ref":"pkg:golang/github.com/iwdgo/sigintwindows@0.2.2","type":"library","name":"github.com/iwdgo/sigintwindows","version":"0.2.2","purl":"pkg:golang/github.com/iwdgo/sigintwindows@0.2.2"},{"bom-ref":"pkg:golang/github.[...]
