interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"severity":"low","type":"set"},"enabled":true,"name":"Test-Delete_a_severity_modifier_rule_returns_Rule_successfully_deleted_response-1785748645","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"severity_modifier_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
  response:
    body: '{"data":{"id":"ec796c54-ec53-4b2f-bb14-36d4b224f92c","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low"},"created_at":1785748647705,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1785748647705,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Delete_a_severity_modifier_rule_returns_Rule_successfully_deleted_response-1785748645","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/ec796c54-ec53-4b2f-bb14-36d4b224f92c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/ec796c54-ec53-4b2f-bb14-36d4b224f92c
  response:
    body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not
      exist"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
