interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"max_tickets_per_day":10,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":true,"name":"Test-Update_a_ticket_creation_rule_returns_Successfully_updated_the_ticket_creation_rule_response-1781624480","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"ticket_creation_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules
  response:
    body: '{"data":{"id":"d3fcec39-567f-4450-967e-ca83bb29dbe4","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":10},"created_at":1781624481109,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":true,"modified_at":1781624481109,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Update_a_ticket_creation_rule_returns_Successfully_updated_the_ticket_creation_rule_response-1781624480","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"action":{"max_tickets_per_day":5,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":false,"name":"Test-Update_a_ticket_creation_rule_returns_Successfully_updated_the_ticket_creation_rule_response-1781624480","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"ticket_creation_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/d3fcec39-567f-4450-967e-ca83bb29dbe4
  response:
    body: '{"data":{"id":"d3fcec39-567f-4450-967e-ca83bb29dbe4","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":5},"created_at":1781624481109,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"enabled":false,"modified_at":1781624481511,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"},"name":"Test-Update_a_ticket_creation_rule_returns_Successfully_updated_the_ticket_creation_rule_response-1781624480","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/d3fcec39-567f-4450-967e-ca83bb29dbe4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
