interactions:
- request:
    body: |
      {"data":{"attributes":{"mute":{"expirationDate":1778721573794,"muted":"true","reason":"ACCEPTED_RISK"}},"id":"dbe5f567-192b-4404-b908-29b70e1c9f76","meta":{"findings":[{"finding_id":"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw=="}]},"type":"finding"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/posture_management/findings
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"json: cannot
      unmarshal number into Go struct field Mute.mute.expirationDate of type string"}]}'
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 1
