interactions:
- request:
    body: |
      {"data":{"attributes":{"action":{"reason":"duplicate"},"enabled":true,"name":"Test-Get_the_ordered_list_of_mute_rules_returns_The_list_of_mute_rules_response-1737639687","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"mute_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules
  response:
    body: '{"data":{"id":"7b381b30-fc50-47fb-95a0-0fb56b1f9b58","type":"mute_rules","attributes":{"action":{"reason":"duplicate"},"created_at":1737639688054,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737639688054,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Get_the_ordered_list_of_mute_rules_returns_The_list_of_mute_rules_response-1737639687","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules
  response:
    body: '{"data":[{"id":"4601dcaf-d7ee-40ef-9ce5-7eed3a83f69a","type":"mute_rules","attributes":{"action":{"reason":"duplicate"},"created_at":1736870838826,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1736870838826,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Typescript-Delete_a_mute_rule_returns_Rule_successfully_deleted_response-1736870838","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}},{"id":"a479725a-8692-42d0-bf9c-0d63ca642345","type":"mute_rules","attributes":{"action":{"reason":"duplicate","reason_description":"Muting
      for a while"},"created_at":1736873422906,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1736873422906,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
      1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}},{"id":"48589a8d-1a79-443a-8b05-11209ac9be54","type":"mute_rules","attributes":{"action":{"reason":"dupli[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/7b381b30-fc50-47fb-95a0-0fb56b1f9b58
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
