interactions:
- request:
    body: |
      {"data":{"attributes":{"cloud_provider":{"aws":{"aws_account_id":["tag1:v1"]}}},"id":"csm_resource_filter","type":"csm_resource_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PUT
    url: https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters
  response:
    body: '{"data":{"id":"csm_resource_filter","type":"csm_resource_filter","attributes":{"cloud_provider":{"aws":{"aws_account_id":["tag1:v1"]}},"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
version: 2
