interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Get_details_of_a_signal_based_notification_rule_returns_Notification_rule_details_response-1738763161","selectors":{"query":"env:test","rule_types":["signal_correlation"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["@email@email.com"]},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
  response:
    body: '{"data":{"id":"tcf-juk-5tr","type":"notification_rules","attributes":{"created_at":1738763162076,"created_by":{"name":"","handle":""},"enabled":true,"modified_at":1738763162076,"modified_by":{"name":"","handle":""},"name":"Test-Get_details_of_a_signal_based_notification_rule_returns_Notification_rule_details_response-1738763161","selectors":{"severities":["critical"],"rule_types":["signal_correlation"],"query":"env:test","trigger_source":"security_signals"},"targets":["@email@email.com"],"time_aggregation":0,"version":1}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/tcf-juk-5tr
  response:
    body: '{"data":{"id":"tcf-juk-5tr","type":"notification_rules","attributes":{"created_at":1738763162076,"created_by":{"name":"","handle":""},"enabled":true,"modified_at":1738763162076,"modified_by":{"name":"","handle":""},"name":"Test-Get_details_of_a_signal_based_notification_rule_returns_Notification_rule_details_response-1738763161","selectors":{"severities":["critical"],"rule_types":["signal_correlation"],"query":"env:test","trigger_source":"security_signals"},"targets":["@email@email.com"],"time_aggregation":0,"version":1}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
