---
version: 1
interactions:
- request:
    body: |
      {"billing":{},"name":"","subscription":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateChildOrg
    url: https://api.datadoghq.com/api/v1/org
    method: POST
  response:
    body: '{"errors": ["Not allowed to create new organizations"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_wallace
      X-Dd-Version:
      - "35.2432369"
    status: 400 Bad Request
    code: 400
    duration: ""
