interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Unassign_seats_from_users_returns_Unprocessable_Entity_response_when_product_code_is_empty-1770835180@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"626a4e8e-64bd-409d-b80e-428f08ac0b62","attributes":{"name":null,"handle":"test-unassign_seats_from_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835180@datadoghq.com","created_at":"2026-02-11T18:39:40.455244+00:00","modified_at":"2026-02-11T18:39:40.455244+00:00","email":"test-unassign_seats_from_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835180@datadoghq.com","icon":"https://secure.gravatar.com/avatar/17f8bf4cb2d8600dc8ada5cdd71b7d77?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"product_code":"","user_uuids":["626a4e8e-64bd-409d-b80e-428f08ac0b62"]},"type":"seat-assignments"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/seats/users
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"product_code is required"}]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/626a4e8e-64bd-409d-b80e-428f08ac0b62
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
