interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Assign_seats_to_users_returns_Unprocessable_Entity_response_when_product_code_is_empty-1770835177@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"f9900642-4311-4d6a-836b-2f367a92c511","attributes":{"name":null,"handle":"test-assign_seats_to_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835177@datadoghq.com","created_at":"2026-02-11T18:39:38.645306+00:00","modified_at":"2026-02-11T18:39:38.645306+00:00","email":"test-assign_seats_to_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835177@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b2c717bae3bae3a185ff567efda79a5a?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"product_code":"","user_uuids":["f9900642-4311-4d6a-836b-2f367a92c511"]},"type":"seat-assignments"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/seats/users
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"product_code is required"}]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/f9900642-4311-4d6a-836b-2f367a92c511
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
