interactions:
- request:
    body: |
      {"data":{"attributes":{"account_tags":["$KEY:$VALUE"],"auth_config":{"role_name":"DatadogAWSIntegrationRole"},"aws_account_id":"123456789012","aws_partition":"aws","aws_regions":{"include_only":["us-east-2","us-west-1"]},"logs_config":{},"metrics_config":{"automute_enabled":true,"enabled":false,"namespace_filters":{"exclude_only":["AWS/AutoScaling","AWS/ElasticMapReduce","AWS/SQS"]},"tag_filters":[{"namespace":"AWS/EC2","tags":["$KEY:$VALUE"]}]},"resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true},"traces_config":{"xray_services":{"include_only":["AWS/AppSync"]}}},"id":"123456789012","type":"account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/aws/accounts
  response:
    body: '{"data":{"id":"7b9eec48-fb24-465b-bebf-e063c87296cc","type":"account","attributes":{"account_tags":["$KEY:$VALUE"],"auth_config":{"role_name":"DatadogAWSIntegrationRole","external_id":"c3a51b8c3e5147da85b520a33acf1a52"},"aws_account_id":"123456789012","aws_partition":"aws","aws_regions":{"include_only":["us-east-2","us-west-1"]},"created_at":"2024-08-21T20:16:52.289116699Z","logs_config":{"lambda_forwarder":{}},"metrics_config":{"enabled":false,"automute_enabled":true,"collect_custom_metrics":true,"collect_cloudwatch_alarms":true,"tag_filters":[{"namespace":"AWS/EC2","tags":["$KEY:$VALUE"]}],"namespace_filters":{"exclude_only":["AWS/AutoScaling","AWS/ElasticMapReduce","AWS/SQS"]}},"modified_at":"2024-08-21T20:16:52.28912346Z","resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/aws/accounts
  response:
    body: '{"data":[{"id":"4b3caadb-530b-4bfc-893e-55e7681fb39a","type":"account","attributes":{"account_tags":["tf-TestAccIntegrationAwsV2Basic-local-1723651405"],"auth_config":{"role_name":"DatadogAWSIntegrationRole","external_id":"32774b5310a047b7b0ee29448c42f399"},"aws_account_id":"491029950495","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2024-08-14T16:03:27.13777Z","logs_config":{"lambda_forwarder":{}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":true,"collect_cloudwatch_alarms":true,"namespace_filters":{"include_all":true}},"modified_at":"2024-08-14T16:03:27.137774Z","resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true}}},{"id":"99b96f98-0e1f-4940-bc75-f6431b7d8ab1","type":"account","attributes":{"account_tags":["tf-TestAccInt[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/aws/accounts/123456789012
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 204 No Content
version: 2
