interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/aws/available_namespaces
  response:
    body: '{"data":{"id":"namespaces","type":"namespaces","attributes":{"namespaces":["AWS/ApiGateway","AWS/AppRunner","AWS/AppStream","AWS/AppSync","AWS/ApplicationELB","AWS/Athena","AWS/AutoScaling","AWS/Backup","AWS/Bedrock","AWS/Billing","AWS/Budgeting","AWS/CertificateManager","AWS/ELB","AWS/CloudFront","AWS/CloudHSM","AWS/CloudSearch","AWS/Logs","AWS/CodeBuild","AWS/CodeWhisperer","AWS/Cognito","AWS/Config","AWS/Connect","AWS/DMS","AWS/DX","AWS/DocDB","AWS/DynamoDB","AWS/DAX","AWS/EC2","AWS/EC2/API","AWS/EC2/InfrastructurePerformance","AWS/EC2Spot","AWS/ElasticMapReduce","[...]
