interactions:
- request:
    body: |
      {"data":{"attributes":{"ccm_config":{"data_export_configs":[{"bucket_name":"billing-updated","bucket_region":"us-west-2","report_name":"cost-report-updated","report_prefix":"reports-updated","report_type":"CUR2.0"}]}},"type":"ccm_config"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/aws/accounts/b2087a32-4d4f-45b1-9321-1a0a48e9d7cf/ccm_config
  response:
    body: '{"data":{"id":"b2087a32-4d4f-45b1-9321-1a0a48e9d7cf","type":"ccm_config","attributes":{"data_export_configs":[{"report_name":"cost-report-updated","report_prefix":"reports-updated","report_type":"CUR2.0","bucket_name":"billing-updated","bucket_region":"us-west-2"}]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
