interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/aws/namespaces
  response:
    body: '{"data":[{"id":"amazon-api-gateway","type":"namespace","attributes":{"display_name":"API
      Gateway","icon_id":"amazon-api-gateway","namespace":"AWS/ApiGateway"}},{"id":"amazon-app-runner","type":"namespace","attributes":{"display_name":"App
      Runner","icon_id":"amazon-app-runner","namespace":"AWS/AppRunner"}},{"id":"amazon-appstream","type":"namespace","attributes":{"display_name":"AppStream","icon_id":"amazon-appstream","namespace":"AWS/AppStream"}},{"id":"amazon-appsync","type":"namespace","attributes":{"display_name":"AppSync","icon_id":"amazon-appsync","namespace":"AWS/AppSync"}},{"id":"amazon-elb","type":"namespace","attribute[...]
