interactions:
- request:
    body: |
      {"data":{"attributes":{"ccm_config":{"data_export_configs":[{"bucket_name":"billing","bucket_region":"us-east-1","report_name":"cost-and-usage-report","report_prefix":"reports","report_type":"CUR2.0"}]}},"type":"ccm_config"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://frog.datadoghq.com/api/v2/integration/aws/accounts/873c7e78-8915-4c7a-a3a7-33a57adf54f4/ccm_config
  response:
    body: '{"errors":[{"status":"409","title":"Account already exists","detail":"CCM
      config already exists for this account"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: |
      {"data":{"attributes":{"ccm_config":{"data_export_configs":[{"bucket_name":"billing","bucket_region":"us-east-1","report_name":"cost-and-usage-report","report_prefix":"reports","report_type":"CUR2.0"}]}},"type":"ccm_config"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://frog.datadoghq.com/api/v2/integration/aws/accounts/873c7e78-8915-4c7a-a3a7-33a57adf54f4/ccm_config
  response:
    body: '{"errors":[{"status":"409","title":"Account already exists","detail":"CCM
      config already exists for this account"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
version: 2
