interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/aws/accounts
  response:
    body: '{"data":[{"id":"e6daa8c4-58b6-42e1-970e-44e6fa812ce0","type":"account","attributes":{"account_tags":[],"auth_config":{"access_key_id":"AKIA514950102505"},"aws_account_id":"514950102505","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2024-09-06T00:18:12.382448Z","logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:1234567890:function:datadog-forwarder-Forwarder"],"sources":[]}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/ElasticMapReduce","AWS/SQS"]}},"modified_at":"2024-09-06T00:18:17.536561Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":false},"traces_config":{"xray_services":{"include_only":[]}}}},{"id":"a0c7f96e-a471-488e-84be-c3336e7ab693","type":"account","attributes":{"account_tags":["$KEY:$VALUE"],"auth_config":{"role_name":"DatadogAWSIntegrationRole","external_id":"859ffc73702c40f589cc3b74c5967e27"},"aws_account_id":"172830950700","aws_partition":"aws","aws_regions":{"include_only":["us-east-2","us-west-1","eu-west-1","eu-central-1","ap-southeast-1","ap-southeast-2","ap-northeast-1","ap-northeast-2","ap-northeast-3","sa-east-1","ap-south-1","ca-central-1","eu-west-2","eu-west-3","eu-north-1","af-south-1","ap-east-1","ap-south-2","ap-southeast-3","ap-southeast-4","ap-southeast-5","ca-west-1","eu-central-2","eu-south-1","eu-south-2","il-central-1","me-central-1","me-south-1"]},"created_at":"2024-10-07T13:58:28.577522Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[]}},"metrics_config":{"enabled":false,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[{"namespace":"AWS/EC2","tags":["$KEY:$VALUE"]}],"namespace_filters":{"exclude_only":["AWS/AutoScaling","AWS/ElasticMapReduce","AWS/SQS"]}},"modified_at":"2024-10-07T13:58:28.577526Z","resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}},{"id":"3a3d5b83-2ad8-41d8-b82e-a3ba972a9783","type":"account","attributes":{"account_tags":["$KEY:$VALUE"],"auth_config":{"role_name":"DatadogAWSIntegrationRole","external_id":"be10a93f33a64b[...]
