---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListProcesses
    url: https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2&search=process-agent&tags=testing%3Atrue
    method: GET
  response:
    body: '{"meta":{"page":{"after":"","size":0}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0dpwUqkfQHWkgXeMRxMzd53GmXFItYtBrsUmywck00fH892lNzaBVoL155iIFepa
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "99"
      X-Ratelimit-Reset:
      - "31"
    status: 200 OK
    code: 200
    duration: ""
