interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290796000,"queries":[{"compute":{"aggregation":"count"},"data_source":"ci_pipelines","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294396000},"type":"scalar_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/query/scalar
  response:
    body: '{"data":{"id":"0","type":"scalar_response","attributes":{"columns":[{"name":"a","values":[9.0],"type":"number","meta":{"unit":null}}]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
