interactions:
- request:
    body: |
      {"data":{"attributes":{"rule_ids":["00000000-0000-0000-0000-000000000001","00000000-0000-0000-0000-000000000002"]},"type":"tag_indexing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order
  response:
    body: '{"errors":["One or more tag indexing rule IDs not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
