interactions:
- request:
    body: |
      {"series":[{"metric":"TestListtagsbymetricnamereturnsSuccessresponse1648572430","points":[[1648572430,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}
    form: {}
    headers:
      Content-Type:
      - text/json
    method: POST
    url: https://api.datadoghq.com/api/v1/series
  response:
    body: '{"status": "ok"}'
    code: 202
    duration: ''
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
- request:
    body: |
      {"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1648572430"]},"id":"TestListtagsbymetricnamereturnsSuccessresponse1648572430","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1648572430/tags
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1648572430","attributes":{"tags":["datacenter","app","TestListtagsbymetricnamereturnsSuccessresponse1648572430"],"created_at":"2022-03-29T16:47:10.957888+00:00","modified_at":"2022-03-29T16:47:10.957888+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1648572430/all-tags
  response:
    body: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1648572430","attributes":{"tags":[]}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1648572430/tags
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
