interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Configure_tags_for_multiple_metrics_returns_Accepted_response-1648572650@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"644595b6-af80-11ec-9083-da7ad0900002","attributes":{"name":null,"handle":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1648572650@datadoghq.com","created_at":"2022-03-29T16:50:51.458189+00:00","modified_at":"2022-03-29T16:50:51.505052+00:00","email":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1648572650@datadoghq.com","icon":"https://secure.gravatar.com/avatar/89de541493f01f9349b107331dc8148f?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1648572650@datadoghq.com"],"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1648572650"]},"id":"system.load.1","type":"metric_bulk_configure_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/config/bulk-tags
  response:
    body: '{"data":{"type":"metric_bulk_configure_tags","id":"system.load.1","attributes":{"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1648572650"],"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1648572650@datadoghq.com"],"status":"Accepted"}}}'
    code: 202
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/644595b6-af80-11ec-9083-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
