interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290802000,"interval":5000,"queries":[{"compute":{"aggregation":"count"},"data_source":"on_call_events","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294402000},"type":"timeseries_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":null}],"times":[1776294280000,1776294285000],"values":[[2,3]]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
