interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/metrics/system.cpu.idle/estimate?filter%5Bgroups%5D=app%2Chost&filter%5Bnum_aggregations%5D=4
  response:
    body: '{"data":{"attributes":{"estimated_output_series":68,"estimate_type":"count_or_gauge","estimated_at":"2022-05-14T09:31:28.108179Z"},"type":"metric_cardinality_estimate","id":"system.cpu.idle"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
