interactions:
- request:
    body: |
      {"data":{"attributes":{"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"name":"my-indexing-rule","options":{"data":{"dynamic_tags":{"queried_tags_window_seconds":3600,"related_asset_tags":false},"manage_preexisting_metrics":true,"metric_match":{"queried_window_seconds":3600},"override_previous_rules":false},"version":1},"rule_order":2,"tags":["env","service"]},"type":"tag_indexing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PUT
    url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/00000000-0000-0000-0000-000000000000
  response:
    body: '{"errors":["Tag indexing rule not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
