interactions:
- request:
    body: |
      {"series":[{"metric":"TestListtagsbymetricnamereturnsSuccessresponse1652354618","points":[[1652354618,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}
    form: {}
    headers:
      Content-Type:
      - text/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/series
  response:
    body: '{"status": "ok"}'
    code: 202
    duration: 0ms
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
- request:
    body: |
      {"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1652354618"]},"id":"TestListtagsbymetricnamereturnsSuccessresponse1652354618","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1652354618/tags
  response:
    body: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1652354618","attributes":{"tags":["datacenter","app","TestListtagsbymetricnamereturnsSuccessresponse1652354618"],"created_at":"2022-05-12T11:23:43.466946+00:00","modified_at":"2022-05-12T11:23:43.466946+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1652354618/all-tags
  response:
    body: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1652354618","attributes":{"tags":[]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1652354618/tags
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
