interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a"}],"from":1671612804000,"interval":5000,"queries":[{"data_source":"metrics","name":"a","query":"avg:system.cpu.user{*}"}],"to":1671620004000},"type":"timeseries_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"data":{"type":"timeseries_response","attributes":{"values":[[6.166451,5.863357,5.795657,5.884391,5.989054,5.812381,5.704644,5.556254,5.478115,5.505722,5.60674,6.059316,6.338839,6.711452,6.735411,6.865414,6.90191,6.756111,6.526661,6.100718,5.87628,5.748863,5.757181,5.722193,5.932041,6.204195,6.685102,6.549346,6.337531,5.916065,5.809077,5.712645,5.624461,5.609235,5.663688,5.853015,5.902995,5.914612,6.256064,6.687142,7.191397,6.847396,6.486767,6.206287,6.328331,6.46251,6.206348,5.929493,5.680498,5.661635,5.797084,6.047839,6.290076,6.501122,6.404744,6.30858[...]
