interactions:
- request:
    body: |
      {"data":{"attributes":{"exclude_tags_mode":false,"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"name":"my-indexing-rule","options":{"data":{"dynamic_tags":{"exclude_not_used_in_assets":true},"manage_preexisting_metrics":true,"override_previous_rules":false},"version":1},"tags":["env","service"]},"type":"tag_indexing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
  response:
    body: "{\"errors\":[\"Invalid request body: exclude_not_queried_window_seconds/exclude_not_used_in_assets\
      \ cannot be set when exclude_tags_mode is false \u2014 \\\"by tag usage\\\"\
      \ is Exclude-mode only\"]}"
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
