interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Configure_tags_for_multiple_metrics_returns_Accepted_response-1780593188@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"bbd25c81-fae3-46b3-99b3-4251859017c4","attributes":{"uuid":"bbd25c81-fae3-46b3-99b3-4251859017c4","name":null,"handle":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com","created_at":"2026-06-04T17:13:10.281475+00:00","modified_at":"2026-06-04T17:13:10.281475+00:00","email":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f08cc2909ca7eae455a0969e3664ec09?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com"],"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1780593188"]},"id":"system.load.1","type":"metric_bulk_configure_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/config/bulk-tags
  response:
    body: '{"data":{"type":"metric_bulk_configure_tags","id":"system.load.1","attributes":{"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1780593188"],"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com"],"status":"Accepted","exclude_tags_mode":null,"override_existing_configurations":true,"include_actively_queried_tags_window":null}}}

      '
    code: 202
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/bbd25c81-fae3-46b3-99b3-4251859017c4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
