interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/metrics/system.cpu.user/assets
  response:
    body: '{"data":{"id":"system.cpu.user","type":"metrics","relationships":{"dashboards":{"data":[{"id":"d5e-dpd-umy","type":"dashboards"},{"id":"884-jxj-d7f","type":"dashboards"},{"id":"kqz-yw2-egk","type":"dashboards"},{"id":"43b-kw6-vqr","type":"dashboards"},{"id":"3bd-yi5-t9f","type":"dashboards"},{"id":"zfd-a24-thy","type":"dashboards"},{"id":"5qr-399-8wz","type":"dashboards"},{"id":"zst-bcm-gq6","type":"dashboards"},{"id":"ytd-nd3-bxu","type":"dashboards"},{"id":"7dp-46c-6tr","type":"dashboards"},{"id":"ug4-a8z-jva","type":"dashboards"},{"id":"89p-5x9-mfp","type":"dashboards"},{"id":"unw-hwk-68w","type":"dashboards"},{"id":"2m8-ht3-7kf","type":"dashboards"},{"id":"eq3-r74-a85","type":"dashboards"},{"id":"8yn-6s7-pue","type":"dashboards"},{"id":"b6n-8j5-2iz","type":"dashboards"},{"id":"4j8-nbn-4gi","type":"dashboards"},{"id":"tpx-f7m-z57","type":"dashboards"},{"id":"xfe-kap-e5y","type":"dashboards"},{"id":"5tp-tr6-93q","type":"dashboards"},{"id":"6md-r2g-kxc","type":"dashboards"},{"id":"neh-3bi-sgi","type":"dashboards"},{"id":"63v-49e-a7d","type":"dashboards"},{"id":"8w6-777-dbc","type":"dashboards"},{"id":"bgp-uee-rt3","type":"dashboards"},{"id":"p8w-deq-k6x","type":"dashboards"},{"id":"f4a-76m-nbn","type":"dashboards"},{"id":"9km-gj8-2rj","type":"dashboards"},{"id":"deh-2pa-jv8","type":"dashboards"}]},"monitors":{"data":[]},"notebooks":{"data":[{"id":"4758632","type":"notebooks"}]},"slos":{"data":[]}}},"included":[{"id":"d5e-dpd-umy","type":"dashboards","attributes":{"popularity":0,"title":"Cloud
      Foundry - Infrastructure Overview"}},{"id":"884-jxj-d7f","type":"dashboards","attributes":{"popularity":0,"title":"Cloud
      Foundry - Infrastructure Overview"}},{"id":"kqz-yw2-egk","type":"dashboards","attributes":{"popularity":0,"title":"PCF
      Nozzle Testing (cloned)"}},{"id":"43b-kw6-vqr","type":"dashboards","attributes":{"popularity":0,"title":"Cloud
      Foundry - Overview (cloned)"}},{"id":"3bd-yi5-t9f","type":"dashboards","attributes":{"popularity":0,"title":"Cloud
   [...]
