interactions:
- request:
    body: |
      {"series":[{"metric":"TestUpdateatagconfigurationreturnsOKresponse1652354372","points":[[1652354372,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}
    form: {}
    headers:
      Content-Type:
      - text/json
    method: POST
    url: https://api.datadoghq.com/api/v1/series
  response:
    body: '{"status": "ok"}'
    code: 202
    duration: ''
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
- request:
    body: |
      {"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter","TestUpdateatagconfigurationreturnsOKresponse1652354372"]},"id":"TestUpdateatagconfigurationreturnsOKresponse1652354372","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1652354372/tags
  response:
    body: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1652354372","attributes":{"tags":["datacenter","TestUpdateatagconfigurationreturnsOKresponse1652354372","app"],"created_at":"2022-05-12T11:19:33.257425+00:00","modified_at":"2022-05-12T11:19:33.257425+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1652354372/tags
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
