interactions:
- id: 0
  request:
    body: |
      {"series":[{"metric":"static_test_metric_donotdelete","points":[[1685718947,1.1]],"tags":["test:static_test_metric_donotdelete"],"type":"gauge"}]}
    form: {}
    headers:
      Content-Type:
      - text/json
    method: POST
    url: https://api.datadoghq.com/api/v1/series
  response:
    body: '{"status": "ok"}'
    code: 202
    duration: 100ms
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/metrics/static_test_metric_donotdelete/volumes
  response:
    body: '{"data":{"type":"metric_volumes","id":"static_test_metric_donotdelete","attributes":{"indexed_volume":1,"ingested_volume":1}}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
