interactions:
- id: 0
  request:
    body: |
      {"series":[{"metric":"TestCreateatagconfigurationreturnsCreatedresponse1652354850","points":[[1652354850,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}
    form: {}
    headers:
      Content-Type:
      - text/json
    method: POST
    url: https://api.datadoghq.com/api/v1/series
  response:
    body: '{"status": "ok"}'
    code: 202
    duration: 100ms
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
- id: 1
  request:
    body: |
      {"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter"]},"id":"TestCreateatagconfigurationreturnsCreatedresponse1652354850","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1652354850/tags
  response:
    body: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1652354850","attributes":{"tags":["datacenter","app"],"created_at":"2022-05-12T11:27:35.411959+00:00","modified_at":"2022-05-12T11:27:35.411959+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1652354850/tags
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
