interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1780399951000,"interval":5000,"queries":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1780403551000},"type":"timeseries_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":null}],"times":[1780399970000,1780400270000,1780400275000,1780400570000,1780400870000,1780401170000,1780401470000,1780401475000,1780401770000,1780402070000,1780402370000,1780402670000,1780402970000,1780403270000],"values":[[27,22,11,27,27,31,27,2,27,31,26,26,29,27]]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
