interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290801000,"interval":5000,"queries":[{"compute":{"aggregation":"count"},"data_source":"events","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294401000},"type":"timeseries_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":null}],"times":[1776290845000,1776290905000,1776290910000,1776290970000,1776291035000,1776291100000,1776291160000,1776291165000,1776291225000,1776291290000,1776291355000,1776291415000,1776291420000,1776291480000,1776291545000,1776291605000,1776291610000,1776291670000,1776291735000,1776291800000,1776291870000,1776291940000,1776292005000,1776292065000,1776292070000,1776292130000,1776292195000,1776292255000,1776292260000,1776292285000,1776292320000,1776292345000,1776292385000,1776292450000,1776292460000,1776292465000,1776292510000,1776292525000,1776292575000,1776292640000,1776292700000,1776292705000,1776292765000,1776292830000,1776292895000,1776292965000,1776293035000,1776293100000,1776293165000,1776293230000,1776293300000,1776293365000,1776293370000,1776293430000,1776293495000,1776293560000,1776293630000,1776293710000,1776293760000,1776293765000,1776293780000,1776293845000,1776293910000,1776293970000,1776293975000,1776294040000,1776294110000,1776294175000,1776294235000,1776294240000,1776294285000,1776294305000],"values":[[4,2,2,4,4,4,2,2,4,4,4,2,2,4,4,2,2,4,4,4,4,4,4,2,2,4,4,2,2,1,4,1,4,4,2,1,4,1,4,4,2,2,4,4,4,4,4,4,4,4,4,2,2,4,4,4,4,4,15,75,4,4,4,2,2,4,4,4,2,2,12,2]]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
