interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1711977601000,"interval":5000,"queries":[{"data_source":"metrics","name":"a","query":"avg:datadog.estimated_usage.metrics.custom{*}"}],"to":1711981201000},"type":"timeseries_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":null}],"times":[1711977645000,1711977705000,1711980225000],"values":[[1,1,87]]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
