interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290800000,"interval":5000,"queries":[{"compute":{"aggregation":"count"},"data_source":"audit","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294400000},"type":"timeseries_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":null}],"times":[1776290800000,1776290835000,1776290860000,1776290895000,1776290915000,1776290920000,1776290945000,1776290955000,1776290980000,1776291020000,1776291040000,1776291080000,1776291100000,1776291140000,1776291160000,1776291200000,1776291220000,1776291245000,1776291260000,1776291280000,1776291320000,1776291325000,1776291330000,1776291335000,1776291340000,1776291345000,1776291385000,1776291400000,1776291415000,1776291445000,1776291460000,1776291505000,1776291520000,1776291535000,1776291540000,177629156[...]
