interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a+b"}],"from":1689871087,"interval":5000,"queries":[{"data_source":"metrics","query":"avg:system.cpu.user{*}"}],"to":1689874687},"type":"timeseries_rquest"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"errors":["API input validation failed: Invalid type. Expected \"timeseries_request\"."]}'
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 1
