interactions:
- request:
    body: |
      {"data":{"attributes":{"metric_name_matches":["dd.TestReordertagindexingrulesreturnsNoContentresponse1780591177.*"],"name":"TestReordertagindexingrulesreturnsNoContentresponse1780591177","tags":["env","service"]},"type":"tag_indexing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
  response:
    body: '{"data":{"id":"13b0b297-7c54-4744-9333-b1aa7a2fd200","type":"tag_indexing_rules","attributes":{"created_at":"2026-06-04T16:39:37.674807Z","created_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","exclude_tags_mode":false,"metric_name_matches":["dd.TestReordertagindexingrulesreturnsNoContentresponse1780591177.*"],"modified_at":"2026-06-04T16:39:37.674807Z","modified_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"TestReordertagindexingrulesreturnsNoContentresponse1780591177","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":1,"tags":["env","service"]}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"rule_ids":["13b0b297-7c54-4744-9333-b1aa7a2fd200"]},"type":"tag_indexing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/13b0b297-7c54-4744-9333-b1aa7a2fd200
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
