interactions:
- request:
    body: |
      {"series":[{"metric":"TestCreateatagconfigurationreturnsCreatedresponse1648499546","points":[[1648499546,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}
    form: {}
    headers:
      Content-Type:
      - text/json
    method: POST
    url: https://api.datadoghq.com/api/v1/series
  response:
    body: '{"status": "ok"}'
    code: 202
    duration: ''
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
- request:
    body: |
      {"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter"]},"id":"TestCreateatagconfigurationreturnsCreatedresponse1648499546","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1648499546/tags
  response:
    body: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1648499546","attributes":{"tags":["datacenter","app"],"created_at":"2022-03-28T20:32:28.716208+00:00","modified_at":"2022-03-28T20:32:28.716208+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1648499546/tags
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
