interactions:
- request:
    body: |
      {"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1711391281000,"interval":5000,"queries":[{"data_source":"metrics","name":"a","query":"avg:system.cpu.user{*}"}],"to":1711394881000},"type":"timeseries_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":[{"family":"percentage","name":"percent","plural":"percent","scale_factor":1.0,"short_name":"%","id":17},null]}],"times":[1711391285000,1711391290000,1711391295000,1711391300000,1711391305000,1711391310000,1711391315000,1711391320000,1711391325000,1711391330000,1711391335000,1711391340000,1711391345000,1711391350000,1711391355000,1711391360000,1711391365000,1711391370000,1711391375000,1711391380000,1711391385000,1711391390000,1711391395000,1711391400000,1711391405000,1711391410000,1711391415000,1711391420000,1711391425000,1711391430000,1711391435000,1711391440000,1711391445000,1711391450000,1711391455000,171139146[...]
