---
version: 1
interactions:
- request:
    body: |
      {"name":""}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/id
    method: PUT
  response:
    body: '{"error":{"code":"InvalidArgument","message":"This pipeline does not exist"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "70"
      X-Ratelimit-Reset:
      - "2570"
    status: 400 Bad Request
    code: 400
    duration: ""
