---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDailyCustomReports
    url: https://api.datadoghq.com/api/v1/daily_custom_reports
    method: GET
  response:
    body: '{"meta":{"page":{"total_count":395}},"data":[{"type":"reports","id":"2020-07-06","attributes":{"tags":["env","service","team"],"start_date":"2020-07-06","end_date":"2020-07-06","size":214121725,"computed_on":"2020-07-07T19:04:02+00:00"}},{"type":"reports","id":"2020-07-05","attributes":{"tags":["env","service","team"],"start_date":"2020-07-05","end_date":"2020-07-05","size":209828672,"computed_on":"2020-07-06T12:04:15+00:00"}},{"type":"reports","id":"2020-07-04","attributes":{"tags":["env","service","team"],"start_date":"2020-07-04","end_date":"2020-07-04","size":212159403,"computed_on":"2020-07-05T12:11:13+00:00"}},{"type":"reports","id":"2020-07-03","attributes":{"tags":["env","service","team"],"s[...]
