interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/processes?search=process-agent&tags=testing%3Atrue&page%5Blimit%5D=2
  response:
    body: '{"meta":{"page":{"after":"","size":0}},"data":[]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - +L3cOfomyGGuXv+NlljFgOXDhA8u+DdhktfMTq5dNwRAQOJlilnIrPxwleX76+2G
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '32'
    status: 200 OK
version: 1
