---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Teams-Scenario_Get_a_list_of_all_teams_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1600683479"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"0a024aec-ea74-5c1b-a9a4-4a437d8990c9","attributes":{"name":"go-TestScenarios-Feature_Teams-Scenario_Get_a_list_of_all_teams_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1600683479","created":"2020-09-21T10:17:59.628275+00:00","modified":"2020-09-21T10:17:59.628275+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kS9NSnhl4uQ8VlOuLb8SB7TQURuCRIbRwHRx1a1SKX/xDGoogXWL0I8r2t0CM40K
      X-Dd-Version:
      - "35.3066091"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTeams
    url: https://api.datadoghq.com/api/v2/teams
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"size":25,"next_offset":25,"offset":0}},"data":[{"type":"teams","id":"78983c57-d1a9-5650-9092-21da4da9cab8","attributes":{"name":"go-TestScenarios-Feature_Teams-Scenario_Get_a_list_of_all_teams_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1600683210","created":"2020-09-21T10:13:30.161761+00:00","modified":"2020-09-21T10:13:30.161761+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e[...]
