---
version: 1
interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"go-Feature_Dashboards-Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-local-1617190431 with timeseries widget","widgets":[{"definition":{"requests":[{"display_type":"bars","on_right_yaxis":false,"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec} by {resource_name}.as_count()","style":{"line_type":"solid","line_width":"normal","palette":"warm"}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":null,"author_name":"CI Account","template_variables":null,"is_read_only":false,"id":"2as-627-w4e","title":"go-Feature_Dashboards-Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-local-1617190431
      with timeseries widget","url":"/dashboard/2as-627-w4e/go-featuredashboards-scenariocreateanewdashboardwithtimeserieswidgetcontainingst","created_at":"2021-03-31T11:33:51.864125+00:00","modified_at":"2021-03-31T11:33:51.864125+00:00","author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","widgets":[{"definition":{"requests":[{"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
      by {resource_name}.as_count()","on_right_yaxis":false,"style":{"line_width":"normal","palette":"warm","line_type":"solid"},"display_type":"bars"}],"type":"timeseries"},"id":7569883465953876}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4208004"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/2as-627-w4e
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"2as-627-w4e"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4208004"
    status: 200 OK
    code: 200
    duration: ""
