interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://ip-ranges.datadoghq.com/
  response:
    body: "{\n    \"version\": 40,\n    \"modified\": \"2021-04-02-17-00-00\",\n \
      \   \"agents\": {\n        \"prefixes_ipv4\": [\n            \"3.228.26.0/25\"\
      ,\n            \"3.228.26.128/25\",\n            \"3.228.27.0/25\",\n      \
      \      \"3.233.144.0/20\"\n        ],\n        \"prefixes_ipv6\": [\n      \
      \      \"2600:1f18:24e6:b900::/56\",\n            \"2600:1f18:63f7:b900::/56\"\
      \n        ]\n    },\n    \"api\": {\n        \"prefixes_ipv4\": [\n        \
      \    \"3.227.250.64/26\",\n            \"3.228.27.128/26\",\n            \"\
      3.233.144.0/20\"\n        ],\n        \"prefixes_ipv6\": [\n            \"2600:1f18:24e6:b900::/56\"\
      \n        ]\n    },\n    \"apm\": {\n        \"prefixes_ipv4\": [\n        \
      \    \"3.226.246.128/25\",\n            \"3.233.144.0/20\"\n        ],\n   \
      \     \"prefixes_ipv6\": [\n            \"2600:1f18:24e6:b900::/56\"\n     \
      \   ]\n    },\n    \"global\": {\n        \"prefixes_ipv4\": [\n           \
      \ \"3.233.144.0/20\"\n        ],\n        \"prefixes_ipv6\": [\n           \
      \ \"2600:1f18:24e6:b900::/56\",\n            \"2600:1f18:63f7:b900::/56\"\n\
      \        ]\n    },\n    \"logs\": {\n        \"prefixes_ipv4\": [\n        \
      \    \"107.20.16.111/32\",\n            \"107.21.20.87/32\",\n            \"\
      107.21.51.84/32\",\n            \"107.21.9.2/32\",\n            \"107.23.138.225/32\"\
      ,\n            \"107.23.195.225/32\",\n            \"107.23.203.196/32\",\n\
      \            \"107.23.25.219/32\",\n            \"107.23.27.117/32\",\n    \
      \        \"107.23.54.245/32\",\n            \"18.204.122.194/32\",\n       \
      \     \"18.204.36.73/32\[...]
