interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":[{"id":"tq0-tji-i5m","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"exampledeleteacsmthreatsagentrulereturnsokresponse1747597121","policyVersion":"3","priority":1000000010,"ruleCount":226,"updateDate":1747597121931,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"flw-lrk-xzo","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"exampledeleteacsmthreatsagentrulereturnsokresponse1747539521","policyVersion":"3","priority":1000000009,"ruleCount":226,"updateDate":1747539521946,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"bod-mnz-hk1","type":"policy","[...]
