interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body: '{"data":[{"id":"aoo-snu-t5u","type":"agent_rule","attributes":{"category":"Process
      Activity","creationDate":1714423023000,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"Test
      Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
      == \"linux\""],"monitoring":["CWS_CUSTOM-canary"],"name":"exampleupdateacsmthreatsagentrulereturnsokresponse1714423023","updateDate":1714423024000,"updater":{"name":"","handle":"frog@datadoghq.com"}}},{"id":"def-000-eho","type":"agent_rule","attributes":{"category":"File
      Activity","creationDate":1742407951000,"creator":{"name":"Datadog","handle":""},"defaultRule":true,"description":"Container
      escape attempted by overwriting release_agent","enabled":true,"expression":"open.file.name
      == \"release_agent\" \u0026\u0026 open.file.path in [\"/tmp/**\", \"/home/**\",
      \"/root/**\", \"/*\"] \u0026\u0026 open.flags \u0026 O_CREAT|O_TRUNC|O_APPEND|O_RDWR|O_WRONLY
      \u003e 0","filters":["os == \"linux\""],"monitoring":["CWS_DD"],"name":"release_agent_escape","product_tags":["tactic:TA0004-privilege-escalation","technique:T1611-escape-to-host","policy:threat-detection"],"updateDate":1742407951000,"updater":{"name":"Datadog","handle":""}}},{"id":"5zt-j5u-aqm","type":"agent_rule","attributes":{"category":"Process
      Activity","creationDate":1715287024000,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
      Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
      == \"linux\""],"monitoring":[[...]
