interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":[{"id":"81e-zuz-tbx","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im
      a policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":0,"name":"nvnmhbgmqe","pinned":false,"policyType":"policy","policyVersion":"1","ruleCount":0,"updateDate":1761155811806,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"8pn-mio-ump","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":0,"name":"testupdateaworkloadprotectionpolicyreturnsbadrequestresponse1762896749","pinned":false,"policyType":"policy","policyVersion":"1","ruleCount":0,"updateDate":1762896749568,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"b0p-hru-hlr","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":0,"name":"exampledeleteaworkloadprotectionagentrulereturnsokresponse1760974844","pinned":false,"policyType":"policy","policyVersion":"3","ruleCount":0,"updateDate":1760974906163,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"best-practice.policy","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":true,"disabledRulesCount":1,"enabled":true,"monitoringRulesCount":7,"name":"Best-practice
      Policy","pinned":false,"policyType":"policy","policyVersion":"1.59.0-rc7","ruleCount":8,"updateDate":1762959595000,"updater":{"name":"Datadog","handle":""},"versions":[{"name":"1.51.0-rc3","date":"2025-07-14T15:24:33Z"},{"name":"1.57.3-rc6","date":"2025-10-08T20:54:48Z"},{"name":"1.59.0-rc7","date":"2025-11-12T14:59:55Z"}]}},{"id":"bvj-ewr-99s","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im
      a policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":0,"name":"zyzdvyelnt","pinned":false,"policyType":"policy","policyVersion":"1","ruleCount":0,"updateDate":1761155808471,"updater":{"name[...]
