interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":[{"id":"7bd-2yt-64p","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im
      a policy","disabledRulesCount":3,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":226,"name":"bgglyktvuvq","policyVersion":"7","priority":1000000024,"ruleCount":229,"updateDate":1743004216404,"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}}},{"id":"j7g-ysu-nj7","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"Custom
      policy based on Datadog''s recommended policy","disabledRulesCount":6,"enabled":true,"hostTags":["host:4d079f7bfc95"],"monitoringRulesCount":226,"name":"zfezfz","policyVersion":"38","priority":1000000023,"ruleCount":232,"updateDate":1742906869873,"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}}},{"id"[...]
