interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body: '{"data":[{"id":"50t-g20-n4o","type":"agent_rule","attributes":{"category":"File
      Activity","creationDate":1710772096000,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"","enabled":true,"expression":"open.file.name
      == \"etc/shadow/password\"","filters":["os == \"linux\""],"name":"Randomname","updateDate":1710772096000,"updater":{"name":"","handle":"frog@datadoghq.com"}}},{"id":"4mc-0xr-vlw","type":"agent_rule","attributes":{"category":"Process
      Activity","creationDate":1714264624000,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
      Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
      == \"linux\""],"name":"examplecreateacsmthreatsagentrulereturnsokresponse1714264624","updateDate":1714264624000,"updater":{"name":"","handle":"frog@datad[...]
