interactions:
- request:
    body: |
      {"data":{"attributes":{"policies":[{"delete":true,"description":"My agent policy","enabled":true,"hostTags":[],"id":"mdh-tah-lj9","name":"my_agent_policy","priority":10}]},"id":"batch_update_req","type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"errors":[{"title":"failed to update policy"}]}

      '
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
