interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1765469392"},"type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":{"id":"jhz-vb4-ice","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":7,"name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1765469392","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1765469392451,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"actions":[{"set":{"name":"test_set","scope":"process","value":"test_value"}},{"hash":{}}],"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1765469392","policy_id":"jhz-vb4-ice","product_tags":["security:attack","technique:T1059"]},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body: '{"data":{"id":"q0v-vqt-vvf","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_set","value":"test_value","scope":"process"},"disabled":false},{"hash":{},"disabled":false}],"category":"Process
      Activity","creationDate":1765469393221,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
      Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
      == \"linux\""],"monitoring":["jhz-vb4-ice"],"name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1765469392","product_tags":["security:attack","technique:T1059"],"updateDate":1765469393221,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","policy_id":"jhz-vb4-ice","product_tags":[]},"id":"invalid-agent-rule-id","type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/q0v-vqt-vvf
  response:
    body: '{"errors":["failed to update rule: mismatch between path and request body
      ID"]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/jhz-vb4-ice
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 2
