interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":[],"name":"my_agent_policy"},"id":"non-existent-policy-id","type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/non-existent-policy-id
  response:
    body: '{"errors":[{"title":"Not Found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
