interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: "{\"data\":[{\"id\":\"kjt-3d5-vl3\",\"type\":\"policy\",\"attributes\":{\"\
      blockingRulesCount\":0,\"datadogManaged\":false,\"description\":\"Custom policy\
      \ based on Datadog's recommended policy\",\"disabledRulesCount\":1,\"enabled\"\
      :false,\"hostTags\":[],\"monitoringRulesCount\":225,\"name\":\"ezfez zefz\"\
      ,\"policyVersion\":\"2\",\"priority\":1000000025,\"ruleCount\":226,\"updateDate\"\
      :1743167189734,\"updater\":{\"name\":\"Quentin Guillard\",\"handle\":\"quentin.guillard@datadoghq.com\"\
      }}},{\"id\":\"0v6-3sw-exp\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\"\
      :0,\"datadogManaged\":false,\"description\":\"Custom policy based on Datadog's\
      \ recommended policy\",\"disabledRulesCount\":1,\"enabled\":false,\"hostTags\"\
      :[],\"monitoringRulesCount\":225,\"name\":\"\u574F\u6807\u7B7E\",\"policyVersion\"\
      :\"2\",\"priority\":1000000024,\"ruleCount\":226,\"updateDate\":1743167189734,\"\
      updater\":{\"name\":\"Quentin Guillard\",\"handle\":\"quentin.guillard@datadoghq.com\"\
      }}},{\"id\":\"j7g-ysu-nj7\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\"\
      :0,\"datadogManaged\":false,\"description\":\"Custom policy based on Datadog's\
      \ recommended policy\",\"disabledRulesCount\":6,\"enabled\":true,\"hostTags\"\
      :[\"host:4d079f7bfc95\"],\"monitoringRulesCount\":226,\"name\":\"zfezfz\",\"\
      policyVersion\":\"38\",\"priority\":1000000023,\"ruleCount\":232,\"updateDate\"\
      :1742906869873,\"updater\":{\"name\":\"Quentin Guillard\",\"handle\":\"quentin.guillard@datadoghq.com\"\
      }}},{\"id\":\"kmx-daa-ygl\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\"\
      :0,\"datadogManaged\":false,\"description\":\"Custom policy based on Datadog's\
      \ recommended policy\",\"disabledRulesCount\":3,\"enabled\":false,\"hostTags\"\
      :[\"host:kalim\"],\"monitoringRulesCount\":226,\"name\":\"jkzdazdazd\",\"policyVersion\"\
      :\"6\",\"priority\":1000000022,\"ruleCount\":229,\"updateDate\":1742407951000,\"\
      updater\":{\"name\":\"Datadog\",\"handle\":\"\"}}},{\"id\":\"zz6-ugo-m1j\",\"\
      type\":\"policy\",\"attributes\":{\"blockingRulesCount\":0,\"datadogManaged\"\
      :false,\"description\":\"yo le gang ca dit quoi\",\"disabledRulesCount\":1,\"\
      enabled\":true,\"hostTags\":[\"env:staging\",\"team:security\"],\"monitoringRulesCount\"\
      :225,\"name\":\"les bonbonnes sont remplies de bonbons\",\"policyVersion\":\"\
      3\",\"priority\":39,\"ruleCount\":226,\"updateDate\":1742407951000,\"updater\"\
      :{\"name\":\"Datadog\",\"handle\":\"\"}}},{\"id\":\"wur-qle-kvf\",\"type\":\"\
      policy\",\"attributes\":{\"blocking[...]
