interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1743068152"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"id":"8zf-sa9-apl","attributes":{"version":1,"name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1743068152","description":"My
      Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","creationDate":1743068152534,"updateAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","updateDate":1743068152534,"filters":["os
      == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"},"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}},"type":"agent_rule"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/8zf-sa9-apl
  response:
    body: '{"data":{"id":"8zf-sa9-apl","attributes":{"version":1,"name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1743068152","description":"My
      Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","creationDate":1743068152534,"updateAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","updateDate":1743068152534,"filters":["os
      == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"},"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}},"type":"agent_rule"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
