interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":[{"id":"gxu-c6v-pka","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":226,"name":"examplegetacsmthreatsagentrulereturnsokresponse1747260251","policyVersion":"2","priority":1000000069,"ruleCount":227,"updateDate":1747260252444,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"1os-ptz-he9","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":226,"name":"examplegetacsmthreatsagentrulereturnsokresponse1747217050","policyVersion":"2","priority":1000000066,"ruleCount":227,"updateDate":1747217052175,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"ddu-dat-9cx","type":"policy","att[...]
