interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testupdateaworkloadprotectionagentruleus1fedreturnsbadrequestresponse1748342045"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"id":"q58-cpj-dtw","attributes":{"version":1,"name":"testupdateaworkloadprotectionagentruleus1fedreturnsbadrequestresponse1748342045","description":"My
      Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1748342046325,"updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1748342046325,"filters":["os
      == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"frog","handle":"frog@datadoghq.com"},"updater":{"name":"frog","handle":"frog@datadoghq.com"}},"type":"agent_rule"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name"},"id":"q58-cpj-dtw","type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/q58-cpj-dtw
  response:
    body: '{"errors":["input_validation_error(Field ''expression'' is invalid: rule
      `testupdateaworkloadprotectionagentruleus1fedreturnsbadrequestresponse1748342045`
      error: rule syntax error: bool expected: 1:1: exec.file.name\n^)"]}

      '
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
