interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testupdateaworkloadprotectionpolicyreturnsokresponse1747319697"},"type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":{"id":"qsc-b2c-cxf","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testupdateaworkloadprotectionpolicyreturnsokresponse1747319697","policyVersion":"1","priority":1000000070,"ruleCount":226,"updateDate":1747319697796,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"Updated agent policy","enabled":true,"hostTagsLists":[["env:test"]],"name":"updated_agent_policy"},"id":"qsc-b2c-cxf","type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/qsc-b2c-cxf
  response:
    body: '{"data":{"id":"qsc-b2c-cxf","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"Updated
      agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:test"]],"monitoringRulesCount":225,"name":"updated_agent_policy","policyVersion":"2","priority":1000000070,"ruleCount":226,"updateDate":1747319698400,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/qsc-b2c-cxf
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 2
