interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":[{"id":"0qm-ldp-cdh","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":0,"name":"testtypescriptcreateaworkloadprotectionagentrulewithsetactionreturnsokresponse1759403557","pinned":false,"policyVersion":"1","ruleCount":0,"updateDate":1759403557986,"updater":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}},{"id":"4ul-ae4-a5f","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":0,"name":"testtypescriptupdateaworkloadprotectionagentrulereturnsnotfoundresponse1759403571","pinned":false,"policyVersion":"1","ruleCount":0,"updateDate":1759403572006,"updater":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}},{"id":"CWS_CUSTOM-canary","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"disabledRulesCount":1,"enabled":false,"monitoringRulesCount":271,"name":"Canary
      Custom Policy","pinned":false,"policyVersion":"58422","ruleCount":272,"updateDate":1748012897594,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"best-practice.policy","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":true,"disabledRulesCount":1,"enabled":true,"monitoringRulesCount":7,"name":"Best-practice
      Policy","pinned":false,"policyVersion":"1.51.0-rc3","ruleCount":8,"updateDate":1752506673000,"updater":{"name":"Datadog","handle":""},"versions":[{"Name":"1.51.0-rc3","Date":null},{"Name":"1.47.0-rc2","Date":null}]}},{"id":"compliance.policy","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":true,"disabledRulesCount":0,"enabled":true,"monitoringRulesCount":90,"name":"Compliance
      Policy","pinned":false,"policyVersion":"1.53.0-rc4","ruleCount":90,"updateDate":1753453274000,"updater":{"name":"Datadog","handle":""},"versions":[{"Name":"1.47.0-rc2","Date":null},{"Name":"1.53.0-rc4","Date":null}]}},{"id":"dkv-ks4-cf0","type":"policy","attributes":[...]
