interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testgetacsmthreatsagentrulereturnsokresponse1713895067"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body: '{"data":{"id":"6wy-t98-466","type":"agent_rule","attributes":{"category":"Process
      Activity","creationDate":1713895067605,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
      Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
      == \"linux\""],"name":"testgetacsmthreatsagentrulereturnsokresponse1713895067","updateDate":1713895067605,"updater":{"name":"","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6wy-t98-466
  response:
    body: '{"data":{"id":"6wy-t98-466","type":"agent_rule","attributes":{"category":"Process
      Activity","creationDate":1713895067000,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
      Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
      == \"linux\""],"name":"testgetacsmthreatsagentrulereturnsokresponse1713895067","updateDate":1713895067000,"updater":{"name":"","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6wy-t98-466
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 2
