interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1743068144"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"id":"3qq-hru-ubw","attributes":{"version":1,"name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1743068144","description":"Test
      Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","creationDate":1743068145212,"updateAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","updateDate":1743068145212,"filters":["os
      == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"},"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}},"type":"agent_rule"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/3qq-hru-ubw
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
