interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"My agent policy\",\"enabled\"\
      :true,\"hostTags\":[\"bad_tag:\u574F\u6807\u7B7E\"],\"name\":\"my_agent_policy\"\
      },\"type\":\"policy\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"errors":[{"title":"failed to create policy"}]}

      '
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
