interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testbatchupdatecsmthreatsagentpoliciesreturnsokresponse1743170330"},"type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":{"id":"x3a-rp1-wuf","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testbatchupdatecsmthreatsagentpoliciesreturnsokresponse1743170330","policyVersion":"1","priority":1000000026,"ruleCount":226,"updateDate":1743170330738,"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"policies":[{"delete":false,"description":"Updated agent policy","enabled":true,"hostTags":["env:test"],"id":"x3a-rp1-wuf","name":"updated_agent_policy","priority":20}]},"id":"batch_update_req","type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":[{"id":"x3a-rp1-wuf","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"Updated
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:test"],"monitoringRulesCount":225,"name":"updated_agent_policy","policyVersion":"2","priority":20,"ruleCount":226,"updateDate":1743170331258,"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/x3a-rp1-wuf
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 2
