interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testbatchupdatecsmthreatsagentpoliciesreturnsbadrequestresponse1743170328"},"type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":{"id":"gye-dmh-qfj","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testbatchupdatecsmthreatsagentpoliciesreturnsbadrequestresponse1743170328","policyVersion":"1","priority":1000000026,"ruleCount":226,"updateDate":1743170328858,"updater":{"name":"Quentin
      Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"policies":[{"description":"My agent policy","enabled":true,"hostTags":[],"id":"gye-dmh-qfj","name":""}]},"id":"batch_update_req","type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"errors":[{"title":"failed to update policy"}]}

      '
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/gye-dmh-qfj
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 2
