interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1760109685"},"type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body: '{"data":{"id":"ipm-pga-f7v","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
      agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":7,"name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1760109685","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1760109685700,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"actions":[{"set":{"name":"test_set","scope":"process","value":"test_value"}},{"hash":{}}],"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1760109685","policy_id":"ipm-pga-f7v","product_tags":["security:attack","technique:T1059"]},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body: '{"data":{"id":"eqm-2k6-tav","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_set","value":"test_value","scope":"process","inherited":false},"disabled":false},{"hash":{},"disabled":false}],"category":"Process
      Activity","creationDate":1760109686541,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
      Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
      == \"linux\""],"monitoring":["ipm-pga-f7v"],"name":"testupdateaworkloadprotectionagentrulereturnsbadrequestresponse1760109685","product_tags":["security:attack","technique:T1059"],"updateDate":1760109686541,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","policy_id":"ipm-pga-f7v","product_tags":[]},"id":"invalid-agent-rule-id","type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/eqm-2k6-tav
  response:
    body: '{"errors":[{"title":"failed to update rule"}]}

      '
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/ipm-pga-f7v
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 2
