interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_all_users_of_a_role_returns_OK_response-1641829866"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"1fda8fa2-722d-11ec-b5d7-da7ad0900002","attributes":{"name":"Test-Get_all_users_of_a_role_returns_OK_response-1641829866","created_at":"2022-01-10T15:51:07.514512+00:00","modified_at":"2022-01-10T15:51:07.599375+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_all_users_of_a_role_returns_OK_response-1641829866@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"2022fdaa-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com","created_at":"2022-01-10T15:51:07.988360+00:00","modified_at":"2022-01-10T15:51:08.042294+00:00","email":"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com","icon":"https://secure.gravatar.com/avatar/35c78ec2b05460605b39b6db930d15ce?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"id":"2022fdaa-722d-11ec-b5d7-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles/1fda8fa2-722d-11ec-b5d7-da7ad0900002/users
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"2022fdaa-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com","created_at":"2022-01-10T15:51:07.988360+00:00","modified_at":"2022-01-10T15:51:08.042294+00:00","email":"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com","icon":"https://secure.gravatar.com/avatar/35c78ec2b05460605b39b6db930d15ce?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1fda8fa2-722d-11ec-b5d7-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/roles/1fda8fa2-722d-11ec-b5d7-da7ad0900002/users
  response:
    body: '{"included":[{"type":"roles","id":"1fda8fa2-722d-11ec-b5d7-da7ad0900002","attributes":{"name":"Test-Get_all_users_of_a_role_returns_OK_response-1641829866","created_at":"2022-01-10T15:51:07.514512+00:00","modified_at":"2022-01-10T15:51:07.599375+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"2022fdaa-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com","created_at":"2022-01-10T15:51:07.988360+00:00","modified_at":"2022-01-10T15:51:08.042294+00:00","email":"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com","icon":"https://secure.gravatar.com/avatar/35c78ec2b05460605b39b6db930d15ce?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1fda8fa2-722d-11ec-b5d7-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/2022fdaa-722d-11ec-b5d7-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/1fda8fa2-722d-11ec-b5d7-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
