interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1618491762"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"dd8931e2-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1618491762","created_at":"2021-04-15T13:02:42.958754+00:00","modified_at":"2021-04-15T13:02:42.958754+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '474'
      X-Ratelimit-Reset:
      - '18'
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Remove_a_user_from_a_role_returns_OK_response-1618491762@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"ddcc47b6-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com","created_at":"2021-04-15T13:02:43.397432+00:00","modified_at":"2021-04-15T13:02:43.432305+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e239481d57da8d56df1cf4a59271b1e7?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      X-Dd-Version:
      - '35.4318655'
    status: 201 Created
- request:
    body: |
      {"data":{"id":"ddcc47b6-9dea-11eb-9df5-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles/dd8931e2-9dea-11eb-9df5-da7ad0900002/users
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"ddcc47b6-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com","created_at":"2021-04-15T13:02:43.397432+00:00","modified_at":"2021-04-15T13:02:43.432305+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e239481d57da8d56df1cf4a59271b1e7?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"dd8931e2-9dea-11eb-9df5-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '473'
      X-Ratelimit-Reset:
      - '17'
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/dd8931e2-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '471'
      X-Ratelimit-Reset:
      - '16'
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/ddcc47b6-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - '35.4318655'
    status: 204 No Content
version: 1
