interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Add_a_user_to_a_role_returns_OK_response-1618491748"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"d50eed68-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Add_a_user_to_a_role_returns_OK_response-1618491748","created_at":"2021-04-15T13:02:28.735508+00:00","modified_at":"2021-04-15T13:02:28.735508+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Add_a_user_to_a_role_returns_OK_response-1618491748@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"d5551590-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1618491748@datadoghq.com","created_at":"2021-04-15T13:02:29.195445+00:00","modified_at":"2021-04-15T13:02:29.231085+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1618491748@datadoghq.com","icon":"https://secure.gravatar.com/avatar/56e850586773e67721ecda6c19bcb097?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"id":"d5551590-9dea-11eb-9df5-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles/d50eed68-9dea-11eb-9df5-da7ad0900002/users
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"d5551590-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1618491748@datadoghq.com","created_at":"2021-04-15T13:02:29.195445+00:00","modified_at":"2021-04-15T13:02:29.231085+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1618491748@datadoghq.com","icon":"https://secure.gravatar.com/avatar/56e850586773e67721ecda6c19bcb097?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"d50eed68-9dea-11eb-9df5-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/d50eed68-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/d5551590-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
