interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1634655467"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"ec6a697a-30ec-11ec-925a-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1634655467","created_at":"2021-10-19T14:57:47.844910+00:00","modified_at":"2021-10-19T14:57:47.844910+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '495'
      X-Ratelimit-Reset:
      - '13'
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1634655467-updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/roles/ec6a697a-30ec-11ec-925a-da7ad0900002
  response:
    body: '{"errors": ["The id attribute in the request body does not match the role_id
      in the URL"]}'
    code: 422
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '494'
      X-Ratelimit-Reset:
      - '12'
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/ec6a697a-30ec-11ec-925a-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '493'
      X-Ratelimit-Reset:
      - '12'
    status: 204 No Content
version: 1
