interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_role_returns_OK_response-1641826586"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"7c9a4fa0-7225-11ec-b5d3-da7ad0900002","attributes":{"name":"Test-Delete_role_returns_OK_response-1641826586","created_at":"2022-01-10T14:56:27.148368+00:00","modified_at":"2022-01-10T14:56:27.198222+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/7c9a4fa0-7225-11ec-b5d3-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/7c9a4fa0-7225-11ec-b5d3-da7ad0900002
  response:
    body: '{"errors": ["The role 7c9a4fa0-7225-11ec-b5d3-da7ad0900002 does not exist
      not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
