interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"name":"Test-List_roles_returns_OK_response-1652349174"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"4bed0a96-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1652349174","created_at":"2022-05-12T09:52:55.356883+00:00","modified_at":"2022-05-12T09:52:55.420991+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1652349174
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":4376}},"data":[{"type":"roles","id":"4bed0a96-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1652349174","created_at":"2022-05-12T09:52:55.356883+00:00","modified_at":"2022-05-12T09:52:55.420991+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}]}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/4bed0a96-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
