interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-List_roles_returns_OK_response-1618491761"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"dcba59a8-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1618491761","created_at":"2021-04-15T13:02:41.602514+00:00","modified_at":"2021-04-15T13:02:41.602514+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1618491761
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":3482}},"data":[{"type":"roles","id":"dcba59a8-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1618491761","created_at":"2021-04-15T13:02:41.602514+00:00","modified_at":"2021-04-15T13:02:41.602514+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/dcba59a8-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
