interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"Test-Search_for_incidents_returns_OK_response-1699302337"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents
  response:
    body: '{"data":{"type":"incidents","id":"e3d37bc4-d7ee-55f8-87d7-651729afc766","attributes":{"public_id":174814,"incident_type_uuid":"f7341da0-aaac-4ecf-aa65-5b094f4ecc42","title":"Test-Search_for_incidents_returns_OK_response-1699302337","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2023-11-06T20:25:37.187440+00:00","modified":"2023-11-06T20:25:37.187440+00:00","commander":null,"detected":"2023-11-06T20:25:37.163541+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"archived":null,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"state":{"type":"dropdown","value":"active"},"root_cause":{"type":"textbox","value":null},"detection_method":{"type":"dropdown","value":"unknown"},"services":{"type":"autocomplete","value":null},"teams":{"type":"autocomplete","value":null},"summary":{"type":"textbox","value":null}},"field_analytics":null,"severity":"UNKNOWN","state":"active","non_datadog_creator":null,"visibility":"organization","case_id":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":null},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"ccfc9e6c-f586-58e5-b502-03c466c72e6f"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]},"impacts":{"data":[]}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/search?query=state%3A%28active%20OR%20stable%20OR%20resolved%29
  response:
    body: '{"data":{"type":"incidents_search_results","attributes":{"total":15,"facets":{"severity":[{"name":"UNKNOWN","count":15},{"name":"SEV-1","count":0},{"name":"SEV-2","count":0},{"name":"SEV-3","count":0},{"name":"SEV-4","count":0},{"name":"SEV-5","count":0}],"time_to_repair":[{"name":"time_to_repair","aggregates":{"min":null,"max":null}}],"visibility":[{"name":"organization","count":15}],"responder":[{"name":"test-typescript-create_an_incident_returns_created_response-1699043759@datadoghq.com","count":1,"handle":"test-typescript-create_an_incident_returns_created_response-1699043759@datadoghq.com","uuid":"98ebf0b3-7a88-11ee-8d9d-868e8930478f","email":"test-typescript-create_an_incident_returns_created_response-1699043759@datadoghq.com"}],"impact":[{"name":"none","count":15}],"postmortem":[{"name":"No","count":15},{"name":"Yes","count":0}],"time_to_resolve":[{"name":"time_to_resolve","aggregates":{"min":null,"max":null}}],"state":[{"name":"active","count":14},{"name":"resolved","count":1},{"name":"stable","count":0}],"customer_impacted":[{"name":0,"count":15},{"name":true,"count":0}],"fields":[{"name":"detection_method","facets":[{"name":"unknown","count":15},{"name":"customer","count":0},{"name":"employee","count":0},{"name":"monitor","count":0},{"name":"other","count":0}]},{"name":"root_cause","facets":[]},{"name":"services","facets":[]},{"name":"summary","facets":[]},{"name":"teams","facets":[]}],"created_by":[{"name":"frog@datadoghq.com","count":15,"handle":"frog@datadoghq.com","uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","email":"frog@datadoghq.com"}],"last_modified_by":[{"name":"frog@datadoghq.com","count":15,"handle":"frog@datadoghq.com","uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","email":"frog@datadoghq.com"}],"commander":[{"name":"test-typescript-create_an_incident_returns_created_response-1699043759@datadoghq.com","count":1,"handle":"test-typescript-create_an_incident_returns_created_response-1699043759@datadoghq.com","uuid":"98ebf0b3-7a88-11ee-8d9d-868e8930478f","email":"test-typescript-create_an_incident_returns_created_response-1699043759@datadoghq.com"}]},"incidents":[{"data":{"type":"incidents","attributes":{"time_to_repair":0,"creation_idempotency_key":null,"archived":null,"customer_impact_scope":"","customer_impact_start":null,"customer_impacted":false,"incident_type_uuid":"f7341da0-aaac-4ecf-aa65-5b094f4ecc42","created_by_uuid":null,"created":"2023-11-03T20:36:03+00:00","time_to_internal_response":0,"title":"Test-Typescript-Update_an_existing_incident_returns_OK_response-1699043763","last_modified_by_uuid":null,"modified":"2023-11-03T20:36:03+00:00","customer_impact_end":null,"created_by":{"data":{"type":"users","attributes":{"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"","email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"detected":"2023-11-03T20:36:03+00:00","non_datadog_creator":null,"last_modified_by":{"data":{"type":"users","attributes":{"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"","email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"time_to_resolve":0,"time_to_detect":0,"field_analytics":{"state":{"active":{"duration":0,"spans":[{"start":1699043763,"end":null}]}}},"state":"active","notification_handles":null,"commander":null,"customer_impact_duration":0,"severity":"UNKNOWN","case_id":null,"resolved":null,"visibility":"organization","fields":{"state":{"type":"dropdown","value":"active"},"root_cause":{"type":"textbox","value":null},"detection_method":{"type":"dropdown","value":"unknown"},"summary":{"type":"textbox","value":null},"severity":{"type":"dropdown","value":"UNKNOWN"},"teams":{"type":"autocomplete","value":null},"services":{"type":"autoco[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/e3d37bc4-d7ee-55f8-87d7-651729afc766
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
