interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security Incident"},"type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body: '{"data":{"id":"637b6149-2ec4-4fbb-9346-ca814670a349","type":"incident_types","attributes":{"createdAt":"2026-02-23T14:06:49.406817513Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-02-23T14:06:49.406817586Z","name":"Security
      Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"enabled":true,"handles":["@test-email@company.com"],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"incident_type":{"data":{"id":"637b6149-2ec4-4fbb-9346-ca814670a349","type":"incident_types"}}},"type":"incident_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules
  response:
    body: '{"data":{"id":"dba18fe0-a558-46b5-b20f-614d1e20e05c","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"created":"2026-02-23T14:06:49.680631804Z","enabled":true,"handles":["@test-email@company.com"],"modified":"2026-02-23T14:06:49.680631804Z","renotify_on":[],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"637b6149-2ec4-4fbb-9346-ca814670a349","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules
  response:
    body: '{"data":[{"id":"dba18fe0-a558-46b5-b20f-614d1e20e05c","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"created":"2026-02-23T14:06:49.680631Z","enabled":true,"handles":["@test-email@company.com"],"modified":"2026-02-23T14:06:49.680631Z","renotify_on":[],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"637b6149-2ec4-4fbb-9346-ca814670a349","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}],"meta":{"pagination":{"offset":0,"next_offset":1,"size":1}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules/dba18fe0-a558-46b5-b20f-614d1e20e05c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/types/637b6149-2ec4-4fbb-9346-ca814670a349
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
