interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security Incident"},"type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body: '{"data":{"id":"66e1dc6b-ce9f-4171-a48d-c11833e1fcf0","type":"incident_types","attributes":{"createdAt":"2024-11-04T18:02:46.462777689Z","createdBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modifiedAt":"2024-11-04T18:02:46.462777689Z","name":"Security
      Incident","prefix":"IR"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Security Incident-updated"},"id":"66e1dc6b-ce9f-4171-a48d-c11833e1fcf0","type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/incidents/config/types/66e1dc6b-ce9f-4171-a48d-c11833e1fcf0
  response:
    body: '{"data":{"id":"66e1dc6b-ce9f-4171-a48d-c11833e1fcf0","type":"incident_types","attributes":{"createdAt":"2024-11-04T18:02:46.462778Z","createdBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modifiedAt":"2024-11-04T18:02:46.729420004Z","name":"Security
      Incident-updated","prefix":"IR"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/types/66e1dc6b-ce9f-4171-a48d-c11833e1fcf0
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
