interactions:
- request:
    body: |
      {"data":{"attributes":{"attachment":{"documentUrl":"https://app.datadoghq.com/notebook/123/Postmortem-IR-123","title":"Postmortem-IR-123"},"attachment_type":"postmortem"},"type":"incident_attachments"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000000/attachments
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"incident not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
