interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security Incident"},"type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body: '{"data":{"id":"2cc8f1be-44fd-4c28-a266-d6f849c67ae7","type":"incident_types","attributes":{"createdAt":"2026-02-23T14:06:35.843225271Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-02-23T14:06:35.843225369Z","name":"Security
      Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: Sample Incident Title\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","name":"Test-Create_incident_notification_template_returns_Created_response-1771855595","subject":"SEV-2 Incident: Sample Incident Title"},"relationships":{"incident_type":{"data":{"id":"2cc8f1be-44fd-4c28-a266-d6f849c67ae7","type":"incident_types"}}},"type":"notification_templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body: '{"data":{"id":"f5d303e8-5bd4-45f4-9f7e-449c1d57db68","type":"notification_templates","attributes":{"category":"alert","content":"An
      incident has been declared.\n\nTitle: Sample Incident Title\nSeverity: SEV-2\nAffected
      Services: web-service, database-service\nStatus: active\n\nPlease join the incident
      channel for updates.","created":"2026-02-23T14:06:36.148518Z","modified":"2026-02-23T14:06:36.148518Z","name":"Test-Create_incident_notification_template_returns_Created_response-1771855595","subject":"SEV-2
      Incident: Sample Incident Title"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"2cc8f1be-44fd-4c28-a266-d6f849c67ae7","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/f5d303e8-5bd4-45f4-9f7e-449c1d57db68
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/types/2cc8f1be-44fd-4c28-a266-d6f849c67ae7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
