interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security Incident"},"type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body: '{"data":{"id":"fb3cbdbc-b895-4908-a371-59c908b1bc32","type":"incident_types","attributes":{"createdAt":"2026-01-19T20:16:37.998359579Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-01-19T20:16:37.998359661Z","name":"Security
      Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"category":"alert","content":"Test notification template","name":"Test Template Test-Update_incident_notification_template_returns_OK_response-1768853797","subject":"Test Subject"},"relationships":{"incident_type":{"data":{"id":"fb3cbdbc-b895-4908-a371-59c908b1bc32","type":"incident_types"}}},"type":"notification_templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body: '{"data":{"id":"d63957df-91a5-4b74-a571-30cf41c19a10","type":"notification_templates","attributes":{"category":"alert","content":"Test
      notification template","created":"2026-01-19T20:16:38.25129Z","modified":"2026-01-19T20:16:38.25129Z","name":"Test
      Template Test-Update_incident_notification_template_returns_OK_response-1768853797","subject":"Test
      Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"fb3cbdbc-b895-4908-a371-59c908b1bc32","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"category":"update","content":"Incident Status Update:\n\nTitle: Sample Incident Title\nNew Status: resolved\nSeverity: SEV-2\nServices: web-service, database-service\nCommander: John Doe\n\nFor more details, visit the incident page.","name":"Test-Update_incident_notification_template_returns_OK_response-1768853797","subject":"Incident Update: Sample Incident Title - resolved"},"id":"d63957df-91a5-4b74-a571-30cf41c19a10","type":"notification_templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/d63957df-91a5-4b74-a571-30cf41c19a10
  response:
    body: '{"data":{"id":"d63957df-91a5-4b74-a571-30cf41c19a10","type":"notification_templates","attributes":{"category":"update","content":"Incident
      Status Update:\n\nTitle: Sample Incident Title\nNew Status: resolved\nSeverity:
      SEV-2\nServices: web-service, database-service\nCommander: John Doe\n\nFor more
      details, visit the incident page.","created":"2026-01-19T20:16:38.25129Z","modified":"2026-01-19T20:16:38.389326Z","name":"Test-Update_incident_notification_template_returns_OK_response-1768853797","subject":"Incident
      Update: Sample Incident Title - resolved"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"fb3cbdbc-b895-4908-a371-59c908b1bc32","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/types/fb3cbdbc-b895-4908-a371-59c908b1bc32
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
