interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/search?query=state%3A%28active%20OR%20stable%20OR%20resolved%29
  response:
    body: '{"data":{"type":"incidents_search_results","attributes":{"total":626,"facets":{"severity":[{"name":"UNKNOWN","count":626},{"name":"SEV-1","count":0},{"name":"SEV-2","count":0},{"name":"SEV-3","count":0},{"name":"SEV-4","count":0},{"name":"SEV-5","count":0}],"time_to_repair":[{"name":"time_to_repair","aggregates":{"min":null,"max":null}}],"visibility":[{"name":"organization","count":626}],"responder":[{"name":"frog@datadoghq.com","count":144,"handle":"frog@datadoghq.com","uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","email":"frog@datadoghq.com"},{"name":"CI
      Account","count":87,"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com"},{"name":"test-go-add_commander_to_an_incident_returns_ok_response-1730592614@datadoghq.com","count":1,"handle":"test-go-add_commander_to_an_incident_returns_ok_response-1730592614@datadoghq.com","uuid":"00370e4d-9978-11ef-b517-ce046cbb9f94","email":"test-go-add_commander_to_an_incident_returns_[...]
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"Test-Search_for_incidents_returns_OK_response-1730737907"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents
  response:
    body: '{"data":{"type":"incidents","id":"99dc69b0-ad2b-54d0-b3bd-71f3f6c8c4f4","attributes":{"public_id":250781,"incident_type_uuid":"7fa7e0a4-d49e-4092-8dcc-db728969ff93","title":"Test-Search_for_incidents_returns_OK_response-1730737907","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2024-11-04T16:31:47.678252+00:00","modified":"2024-11-04T16:31:47.678252+00:00","commander":null,"detected":"2024-11-04T16:31:47.667796+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"archived":null,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"state":{"type":"dropdown","value":"active"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"summary":{"type":"textbox","value":null},"services":{"type":"autocomplete","value":null},"teams":{"type":"autocomplete","value":null}},"field_analytics":null,"severity":"UNKNOWN","state":"active","non_datadog_creator":null,"visibility":"organization","case_id":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":null},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"a36107c6-4fec-5762-8d0c-155468701950"},{"type":"user_defined_field","id":"a21364e0-a633-5755-a9ee-b41b4f0e4ec7"},{"type":"user_defined_field","id":"a841b973-0344-5dfc-b17b-d2fec8d1f81c"},{"type":"user_defined_field","id":"9f1c037a-75d2-5c51-b595-15a528a5e990"},{"type":"user_defined_field","id":"d1db732a-4849-5fa5-8845-ac3f551666a5"},{"type":"user_defined_field","id":"5f170242-b7dd-5f4a-bbfe-e7e2f9126060"},{"type":"user_defined_field","id":"2c729904-3169-5274-b464-4efec4984398"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]},"impacts":{"data":[]}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/99dc69b0-ad2b-54d0-b3bd-71f3f6c8c4f4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
