interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_incident_returns_CREATED_response-1642844738@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"0e350d74-7b68-11ec-baee-da7ad0900002","attributes":{"name":null,"handle":"test-create_an_incident_returns_created_response-1642844738@datadoghq.com","created_at":"2022-01-22T09:45:38.679854+00:00","modified_at":"2022-01-22T09:45:38.724594+00:00","email":"test-create_an_incident_returns_created_response-1642844738@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2285814e68ea183a12cbaf2ec4a8fffb?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"fields":{"state":{"type":"dropdown","value":"resolved"}},"title":"Test-Create_an_incident_returns_CREATED_response-1642844738"},"relationships":{"commander_user":{"data":{"id":"0e350d74-7b68-11ec-baee-da7ad0900002","type":"users"}}},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents
  response:
    body: '{"data":{"type":"incidents","id":"77a51469-8df2-5ca9-9cb8-dc8f5667d1de","attributes":{"public_id":88118,"title":"Test-Create_an_incident_returns_CREATED_response-1642844738","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2022-01-22T09:45:39.296464+00:00","modified":"2022-01-22T09:45:39.296464+00:00","commander":{"data":{"type":"users","id":"0e350d74-7b68-11ec-baee-da7ad0900002","attributes":{"uuid":"0e350d74-7b68-11ec-baee-da7ad0900002","handle":"test-create_an_incident_returns_created_response-1642844738@datadoghq.com","email":"test-create_an_incident_returns_created_response-1642844738@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/2285814e68ea183a12cbaf2ec4a8fffb?s=48&d=retro"}}},"detected":"2022-01-22T09:45:39.287330+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null},"summary":{"type":"textbox","value":null}},"field_analytics":null,"severity":"UNKNOWN","state":"resolved","non_datadog_creator":null,"visibility":"public"},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"0e350d74-7b68-11ec-baee-da7ad0900002"}},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"ccfc9e6c-f586-58e5-b502-03c466c72e6f"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[{"type":"incident_responders","id":"0c09a69c-b292-57ea-83cd-f86f011842ab"}]}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/77a51469-8df2-5ca9-9cb8-dc8f5667d1de
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/0e350d74-7b68-11ec-baee-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
