interactions:
- request:
    body: |
      {"data":{"attributes":{"category":"update","content":"Incident Status Update: For more details, visit the incident page.","name":"Updated Template Name","subject":"Incident Update"},"id":"00000000-1111-2222-3333-444444444444","type":"notification_templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/00000000-1111-2222-3333-444444444444
  response:
    body: '{"errors":[{"status":"404","title":"Not Found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
