interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security Incident"},"type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body: '{"data":{"id":"962a94cb-6fbd-42fe-806f-4b2f4dfa6e01","type":"incident_types","attributes":{"createdAt":"2026-02-23T14:06:45.623977968Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-02-23T14:06:45.623978059Z","name":"Security
      Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"category":"alert","content":"Test notification template","name":"Test Template Test-Get_incident_notification_template_returns_OK_response-1771855605","subject":"Test Subject"},"relationships":{"incident_type":{"data":{"id":"962a94cb-6fbd-42fe-806f-4b2f4dfa6e01","type":"incident_types"}}},"type":"notification_templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body: '{"data":{"id":"fcafa9e4-8c66-4bcf-b77a-2d899ddc42ab","type":"notification_templates","attributes":{"category":"alert","content":"Test
      notification template","created":"2026-02-23T14:06:45.884503Z","modified":"2026-02-23T14:06:45.884503Z","name":"Test
      Template Test-Get_incident_notification_template_returns_OK_response-1771855605","subject":"Test
      Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"962a94cb-6fbd-42fe-806f-4b2f4dfa6e01","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/fcafa9e4-8c66-4bcf-b77a-2d899ddc42ab
  response:
    body: '{"data":{"id":"fcafa9e4-8c66-4bcf-b77a-2d899ddc42ab","type":"notification_templates","attributes":{"category":"alert","content":"Test
      notification template","created":"2026-02-23T14:06:45.884503Z","modified":"2026-02-23T14:06:45.884503Z","name":"Test
      Template Test-Get_incident_notification_template_returns_OK_response-1771855605","subject":"Test
      Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"962a94cb-6fbd-42fe-806f-4b2f4dfa6e01","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/types/962a94cb-6fbd-42fe-806f-4b2f4dfa6e01
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
