interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"Test-Update_an_incident_todo_returns_OK_response-1730737915"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents
  response:
    body: '{"data":{"type":"incidents","id":"ca75489f-e2b6-5d60-9256-eab7284f6807","attributes":{"public_id":250784,"incident_type_uuid":"7fa7e0a4-d49e-4092-8dcc-db728969ff93","title":"Test-Update_an_incident_todo_returns_OK_response-1730737915","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2024-11-04T16:31:55.519369+00:00","modified":"2024-11-04T16:31:55.519369+00:00","commander":null,"detected":"2024-11-04T16:31:55.511107+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"archived":null,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"state":{"type":"dropdown","value":"active"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"summary":{"type":"textbox","value":null},"services":{"type":"autocomplete","value":null},"teams":{"type":"autocomplete","value":null}},"field_analytics":null,"severity":"UNKNOWN","state":"active","non_datadog_creator":null,"visibility":"organization","case_id":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":null},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"a36107c6-4fec-5762-8d0c-155468701950"},{"type":"user_defined_field","id":"a21364e0-a633-5755-a9ee-b41b4f0e4ec7"},{"type":"user_defined_field","id":"a841b973-0344-5dfc-b17b-d2fec8d1f81c"},{"type":"user_defined_field","id":"9f1c037a-75d2-5c51-b595-15a528a5e990"},{"type":"user_defined_field","id":"d1db732a-4849-5fa5-8845-ac3f551666a5"},{"type":"user_defined_field","id":"5f170242-b7dd-5f4a-bbfe-e7e2f9126060"},{"type":"user_defined_field","id":"2c729904-3169-5274-b464-4efec4984398"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]},"impacts":{"data":[]}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"assignees":["@test.user@test.com",{"icon":"https://a.slack-edge.com/80588/img/slackbot_48.png","id":"USLACKBOT","name":"Slackbot","source":"slack"}],"content":"Follow up with customer about the impact they saw."},"type":"incident_todos"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/ca75489f-e2b6-5d60-9256-eab7284f6807/relationships/todos
  response:
    body: '{"data":{"type":"incident_todos","id":"86d7b84d-8fdc-53d1-8c08-29db80cf7d9b","attributes":{"created":"2024-11-04T16:31:55.912105+00:00","modified":"2024-11-04T16:31:55.912105+00:00","completed":null,"due_date":null,"assignees":["@test.user@test.com",{"icon":"https://a.slack-edge.com/80588/img/slackbot_48.png","id":"USLACKBOT","name":"Slackbot","source":"slack"}],"content":"Follow
      up with customer about the impact they saw.","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"incident_id":"ca75489f-e2b6-5d60-9256-eab7284f6807","last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"assignees":["@test.user@test.com"],"completed":"2023-03-06T22:00:00.000000+00:00","content":"Restore lost data.","due_date":"2023-07-10T05:00:00.000000+00:00"},"type":"incident_todos"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/incidents/ca75489f-e2b6-5d60-9256-eab7284f6807/relationships/todos/86d7b84d-8fdc-53d1-8c08-29db80cf7d9b
  response:
    [...]
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/ca75489f-e2b6-5d60-9256-eab7284f6807
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
