interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/search?query=state%3A%28active%20OR%20stable%20OR%20resolved%29&page%5Bsize%5D=2
  response:
    body: '{"data":{"type":"incidents_search_results","attributes":{"total":1703,"facets":{"severity":[{"name":"UNKNOWN","count":1703},{"name":"SEV-1","count":0},{"name":"SEV-2","count":0},{"name":"SEV-3","count":0},{"name":"SEV-4","count":0},{"name":"SEV-5","count":0}],"time_to_repair":[{"name":"time_to_repair","aggregates":{"min":null,"max":null}}],"responder":[{"name":"CI
      Account","count":844,"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com"},{"name":"frog@datadoghq.com","count":107,"handle":"frog@datadoghq.com","uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","email":"frog@datadoghq.com"},{"name":"test-go-create_an_incident_returns_created_response-1677888642@datadoghq.com","count":1,"handle":"test-go-create_an_incident_returns_created_response-1677888642@datadoghq.com","uuid":"00a080f5-ba21-11ed-a3f2-e6671bdc78dd","email":"test-go-create_an_incident_returns_created_response-1677888642@datadog[...]
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/search?query=state%3A%28active%20OR%20stable%20OR%20resolved%29&page%5Bsize%5D=2&page%5Boffset%5D=2
  response:
    body: '{"data":{"type":"incidents_search_results","attributes":{"total":1703,"facets":{"severity":[{"name":"UNKNOWN","count":1703},{"name":"SEV-1","count":0},{"name":"SEV-2","count":0},{"name":"SEV-3","count":0},{"name":"SEV-4","count":0},{"name":"SEV-5","count":0}][...]
