interactions:
- request:
    body: |
      {"data":{"attributes":{"category":"alert","content":"An incident has been declared. Please join the incident channel for updates.","name":"Incident Alert Template","subject":"Incident Alert"},"relationships":{"incident_type":{"data":{"id":"00000000-1111-2222-3333-444444444444","type":"incident_types"}}},"type":"notification_templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"incident type not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
