interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security Incident"},"type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body: '{"data":{"id":"0816e989-afb2-4ffd-97bf-94661fcac76c","type":"incident_types","attributes":{"createdAt":"2026-01-07T15:19:33.915325008Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-01-07T15:19:33.915325082Z","name":"Security
      Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"category":"alert","content":"Test notification template","name":"Test Template Test-Get_incident_notification_template_returns_OK_response-1767799173","subject":"Test Subject"},"relationships":{"incident_type":{"data":{"id":"0816e989-afb2-4ffd-97bf-94661fcac76c","type":"incident_types"}}},"type":"notification_templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body: '{"data":{"id":"359e470d-cbbb-4928-8d16-e4fae9c107ef","type":"notification_templates","attributes":{"category":"alert","content":"Test
      notification template","created":"2026-01-07T15:19:34.259247Z","modified":"2026-01-07T15:19:34.259247Z","name":"Test
      Template Test-Get_incident_notification_template_returns_OK_response-1767799173","subject":"Test
      Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"0816e989-afb2-4ffd-97bf-94661fcac76c","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/359e470d-cbbb-4928-8d16-e4fae9c107ef
  response:
    body: '{"data":{"id":"359e470d-cbbb-4928-8d16-e4fae9c107ef","type":"notification_templates","attributes":{"category":"alert","content":"Test
      notification template","created":"2026-01-07T15:19:34.259247Z","modified":"2026-01-07T15:19:34.259247Z","name":"Test
      Template Test-Get_incident_notification_template_returns_OK_response-1767799173","subject":"Test
      Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"0816e989-afb2-4ffd-97bf-94661fcac76c","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/types/0816e989-afb2-4ffd-97bf-94661fcac76c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
