interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Service was unavailable for external users","end_at":"2025-08-29T13:17:00Z","fields":{"customers_impacted":"all","products_impacted":["shopping","marketing"]},"start_at":"2025-08-28T13:17:00Z"},"type":"incident_impacts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000001/impacts
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound
      desc = incident not found: failed to get incident: incident not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
