interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security Incident"},"type":"incident_types"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body: '{"data":{"id":"4054e98b-cab5-4d2f-8246-c79720baf3d2","type":"incident_types","attributes":{"createdAt":"2026-01-07T15:20:08.825193319Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
      incidents that harm (or have the potential to) the confidentiality, integrity,
      or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-01-07T15:20:08.825193418Z","name":"Security
      Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"enabled":true,"handles":["@test-email@company.com"],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"incident_type":{"data":{"id":"4054e98b-cab5-4d2f-8246-c79720baf3d2","type":"incident_types"}}},"type":"incident_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules
  response:
    body: '{"data":{"id":"7bb4abb3-e7a8-408e-93f3-6862444d510d","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"created":"2026-01-07T15:20:09.052450936Z","enabled":true,"handles":["@test-email@company.com"],"modified":"2026-01-07T15:20:09.052450936Z","renotify_on":[],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"4054e98b-cab5-4d2f-8246-c79720baf3d2","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"conditions":[{"field":"severity","values":["SEV-1"]}],"enabled":false,"handles":["@updated-team-email@company.com"],"trigger":"incident_modified_trigger","visibility":"private"},"id":"7bb4abb3-e7a8-408e-93f3-6862444d510d","relationships":{"incident_type":{"data":{"id":"4054e98b-cab5-4d2f-8246-c79720baf3d2","type":"incident_types"}}},"type":"incident_notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PUT
    url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules/7bb4abb3-e7a8-408e-93f3-6862444d510d
  response:
    body: '{"data":{"id":"7bb4abb3-e7a8-408e-93f3-6862444d510d","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1"]}],"created":"2026-01-07T15:20:09.05245Z","enabled":false,"handles":["@updated-team-email@company.com"],"modified":"2026-01-07T15:20:09.165187993Z","renotify_on":[],"trigger":"incident_modified_trigger","visibility":"private"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"4054e98b-cab5-4d2f-8246-c79720baf3d2","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/config/types/4054e98b-cab5-4d2f-8246-c79720baf3d2
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
