interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_incident_returns_CREATED_response-1618413158@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"d9b79c82-9d33-11eb-9dc6-da7ad0900002","attributes":{"name":null,"handle":"test-create_an_incident_returns_created_response-1618413158@datadoghq.com","created_at":"2021-04-14T15:12:38.649755+00:00","modified_at":"2021-04-14T15:12:38.688204+00:00","email":"test-create_an_incident_returns_created_response-1618413158@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4f8a2d34ca5f24dadc734bd816cbad46?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"fields":{"state":{"type":"dropdown","value":"resolved"}},"title":"Test-Create_an_incident_returns_CREATED_response-1618413158"},"relationships":{"commander":{"data":{"id":"d9b79c82-9d33-11eb-9dc6-da7ad0900002","type":"users"}}},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents
  response:
    body: '{"data":{"type":"incidents","id":"4f011ae3-66fd-54ee-9364-86bae65bbe80","attributes":{"public_id":35895,"title":"Test-Create_an_incident_returns_CREATED_response-1618413158","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2021-04-14T15:12:39.182808+00:00","modified":"2021-04-14T15:12:39.182808+00:00","commander":{"data":{"type":"users","id":"d9b79c82-9d33-11eb-9dc6-da7ad0900002","attributes":{"uuid":"d9b79c82-9d33-11eb-9dc6-da7ad0900002","handle":"test-create_an_incident_returns_created_response-1618413158@datadoghq.com","email":"test-create_an_incident_returns_created_response-1618413158@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/4f8a2d34ca5f24dadc734bd816cbad46?s=48&d=retro"}}},"detected":"2021-04-14T15:12:39.181241+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null}},"field_analytics":null,"severity":"UNKNOWN","state":"resolved","non_datadog_creator":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"d9b79c82-9d33-11eb-9dc6-da7ad0900002"}},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/4f011ae3-66fd-54ee-9364-86bae65bbe80
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/d9b79c82-9d33-11eb-9dc6-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
