interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"Test-Get_postmortem_for_an_incident_returns_OK_response-1783629996"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents
  response:
    body: '{"data":{"type":"incidents","id":"4832db36-b2ec-5f98-917a-3b2fff43a58c","attributes":{"public_id":364277,"incident_type_uuid":"41d2e10b-4108-4736-92d7-791d00ea0702","title":"Test-Get_postmortem_for_an_incident_returns_OK_response-1783629996","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI
      Account","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2026-07-09T20:46:36.588869+00:00","modified":"2026-07-09T20:46:36.588869+00:00","commander":null,"detected":"2026-07-09T20:46:36.580740+00:00","created_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI
      Account","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"is_test":false,"declared":"2026-07-09T20:46:36.588869+00:00","declared_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI
      Account","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro"}}},"declared_by_uuid":null,"fields":{"teams":{"type":"autocomplete","value":null},"severity":{"type":"dropdown","value":"UNKNOWN"},"state":{"type":"dropdown","value":"active"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"summary":{"type":"textbox","value":null},"services":{"type":"autocomplete","value":null},"slug":{"type":"textbox","value":"IR-364277"}},"field_analytics":null,"severity":"UNKNOWN","state":"active","non_datadog_creator":null,"visibility":"organization","case_id":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"last_modified_by_user":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"commander_user":{"data":null},"declared_by_user":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"3cbe9e60-d794-532c-acc0-73641f782813"},{"type":"user_defined_field","id":"33457d2a-570c-5567-b4af-979a2a8f1164"},{"type":"user_defined_field","id":"d003693c-bee9-5420-8d46-859269c20914"},{"type":"user_defined_field","id":"1ddff6f6-cb1f-51a0-9d81-dc18ef52cc9d"},{"type":"user_defined_field","id":"6bc9d32b-c2cd-591e-9b7a-74c886a5ddcf"},{"type":"user_defined_field","id":"95c53547-2ba3-5d8a-9c3b-cf245bc0c629"},{"type":"user_defined_field","id":"39044b03-cee4-555f-b1e0-3eb3aa759a86"},{"type":"user_defined_field","id":"2b9f1063-b915-4c7a-8bbd-fc3940245529"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]},"impacts":{"data":[]}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"document_url":"https://docs.example.com/postmortem-test-get_postmortem_for_an_incident_returns_ok_response-1783629996","title":"Postmortem for Test-Get_postmortem_for_an_incident_returns_OK_response-1783629996"},"type":"incident_postmortems"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/incidents/4832db36-b2ec-5f98-917a-3b2fff43a58c/postmortem
  response:
    body: '{"data":{"id":"9a2e832e-e9b8-48f2-9251-f189ae5bae54","type":"incident_postmortems","attributes":{"created":"2026-07-09T20:46:37.029493Z","document_id":"","document_type":"","document_url":"https://docs.example.com/postmortem-test-get_postmortem_for_an_incident_returns_ok_response-1783629996","modified":"2026-07-09T20:46:37.029493Z","status":"draft","title":"Postmortem
      for Test-Get_postmortem_for_an_incident_returns_OK_response-1783629996"},"relationships":{"incident":{"data":{"id":"4832db36-b2ec-5f98-917a-3b2fff43a58c","type":"incidents"}},"last_modified_by_user":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"users"}},"postmortem_owner_responder":{"data":null},"postmortem_owner_user":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/incidents/4832db36-b2ec-5f98-917a-3b2fff43a58c/postmortem
  response:
    body: '{"data":{"id":"9a2e832e-e9b8-48f2-9251-f189ae5bae54","type":"incident_postmortems","attributes":{"created":"2026-07-09T20:46:37.029493Z","document_id":"","document_type":"","document_url":"https://docs.example.com/postmortem-test-get_postmortem_for_an_incident_returns_ok_response-1783629996","modified":"2026-07-09T20:46:37.029493Z","status":"draft","title":"Postmortem
      for Test-Get_postmortem_for_an_incident_returns_OK_response-1783629996"},"relationships":{"incident":{"data":{"id":"4832db36-b2ec-5f98-917a-3b2fff43a58c","type":"incidents"}},"last_modified_by_user":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"users"}},"postmortem_owner_responder":{"data":null},"postmortem_owner_user":{"data":null}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/incidents/4832db36-b2ec-5f98-917a-3b2fff43a58c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
