interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_an_existing_incident_service_returns_OK_response-1618572733"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/services
  response:
    body: '{"included":[{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","created_at":"2020-12-29T22:58:44.733921+00:00","modified_at":"2020-12-29T22:58:44.733937+00:00","email":"team-intg-tools-libs@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"8ee7f711-f063-5bd3-a394-471a1c874046","attributes":{"name":"Test-Update_an_existing_incident_service_returns_OK_response-1618572733","created":"2021-04-16T11:32:13.571767+00:00","modified":"2021-04-16T11:32:13.571767+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"created_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_an_existing_incident_service_returns_OK_response-1618572733-updated"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/services/8ee7f711-f063-5bd3-a394-471a1c874046
  response:
    body: '{"included":[{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"name":"CI
      Account","handle":"9919ec9b-ebc7-4[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/services/8ee7f711-f063-5bd3-a394-471a1c874046
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
