interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/services
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"57f8dd52-ff56-5a42-a7ec-05d1b94d7117","attributes":{"name":"Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836","created":"2022-01-10T15:50:37.343784+00:00","modified":"2022-01-10T15:50:37.343784+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/services?filter=Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"total":7793,"size":1,"next_offset":1,"offset":0},"total":7793},"data":[{"type":"services","id":"57f8dd52-ff56-5a42-a7ec-05d1b94d7117","attributes":{"name":"Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836","created":"2022-01-10T15:50:37.343784+00:00","modified":"2022-01-10T15:50:37.343784+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/services/57f8dd52-ff56-5a42-a7ec-05d1b94d7117
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
