---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - QueryMetrics
    url: https://api.datadoghq.com/api/v1/query?from=1612134000&query=system.cpu.idle%7B%2A%7D&to=1614553200
    method: GET
  response:
    body: '{"status":"ok","resp_version":1,"series":[{"end":1614556799000,"attributes":{},"metric":"system.cpu.idle","interval":14400,"tag_set":[],"start":1612137600000,"length":168,"query_index":0,"aggr":null,"scope":"*","pointlist":[[1612137600000.0,91.16949236361354],[1612152000000.0,90.7366176571497],[1612166400000.0,90.32903641786807],[1612180800000.0,89.97333747600017],[1612195200000.0,91.67097079479048],[1612209600000.0,92.29562831680389],[1612224000000.0,91.96247685420207],[1612238400000.0,92.16077191976078],[1612252800000.0,90.56659885812834],[1612267200000.0,90.59638032899967],[1612281600000.0,91.96708421042199],[1612296000000.0,93.16856664523762],[1612310400000.0,92.40732855121126],[1612324800000.0,92.211747761913[...]
