interactions:
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:47.598Z","end_date":"2025-05-04T02:49:47.598Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:47.598Z"}],"name":"Test-Get_on_call_schedule_returns_OK_response-1745462987","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"512937e2-423b-4f87-b48c-886c60795556","type":"schedules","attributes":{"name":"Test-Get_on_call_schedule_returns_OK_response-1745462987","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"c06d3fa1-b68c-4ea4-a2bf-ce8af43c1e8b","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/schedules/512937e2-423b-4f87-b48c-886c60795556
  response:
    body: '{"data":{"id":"512937e2-423b-4f87-b48c-886c60795556","type":"schedules","attributes":{"name":"Test-Get_on_call_schedule_returns_OK_response-1745462987","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"c06d3fa1-b68c-4ea4-a2bf-ce8af43c1e8b","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/512937e2-423b-4f87-b48c-886c60795556
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
