interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_an_On_Call_email_for_a_user_returns_OK_response-1762962328@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e","attributes":{"name":null,"handle":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","created_at":"2025-11-12T15:45:28.333343+00:00","modified_at":"2025-11-12T15:45:28.333343+00:00","email":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9b6db90223b9ab60eead905163035fb3?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"active":true,"address":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e/notification-channels/emails
  response:
    body: '{"data":{"id":"0b0453b5-2f4c-49c3-94d9-c3db2d5ed69c","type":"emails","attributes":{"active":true,"address":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","alias":"","blocked":false,"created_at":"2025-11-12T15:45:28.530651Z","formats":["html"],"modified_at":"2025-11-12T15:45:28.530651Z"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/users/9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e/notification-channels/emails/0b0453b5-2f4c-49c3-94d9-c3db2d5ed69c
  response:
    body: '{"data":{"id":"0b0453b5-2f4c-49c3-94d9-c3db2d5ed69c","type":"emails","attributes":{"active":true,"address":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","alias":"","blocked":false,"created_at":"2025-11-12T15:45:28.530651Z","formats":["html"],"modified_at":"2025-11-12T15:45:28.530651Z"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
