interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1748494422@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"e524a559-3c48-11f0-b6eb-6e406f40657f","attributes":{"name":null,"handle":"test-delete_on_call_escalation_policy_returns_no_content_response-1748494422@datadoghq.com","created_at":"2025-05-29T04:53:42.818165+00:00","modified_at":"2025-05-29T04:53:42.818165+00:00","email":"test-delete_on_call_escalation_policy_returns_no_content_response-1748494422@datadoghq.com","icon":"https://secure.gravatar.com/avatar/89925b9919d7e93a599c4d49d51b35ee?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-7311534a0fd625d8","name":"test-name-7311534a0fd625d8"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"5007e30b-5736-4abe-be9c-51cf508c9554","attributes":{"name":"test-name-7311534a0fd625d8","handle":"test-handle-7311534a0fd625d8","summary":null,"description":null,"avatar":null,"banner":10,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-29T04:53:43.705893+00:00","modified_at":"2025-05-29T04:53:43.705903+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5007e30b-5736-4abe-be9c-51cf508c9554/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5007e30b-5736-4abe-be9c-51cf508c9554/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-19T04:53:42.215Z","end_date":"2025-06-08T04:53:42.215Z","interval":{"days":1},"members":[{"user":{"id":"e524a559-3c48-11f0-b6eb-6e406f40657f"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-24T04:53:42.215Z"}],"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1748494422","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"5bedf04a-b064-4748-861d-2f32970de31e","type":"schedules","attributes":{"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1748494422","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"242425ed-6c98-4bda-b0eb-8eb0d66fc40f","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1748494422","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"5007e30b-5736-4abe-be9c-51cf508c9554","type":"teams"},{"id":"5bedf04a-b064-4748-861d-2f32970de31e","type":"schedules"},{"id":"e524a559-3c48-11f0-b6eb-6e406f40657f","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"5007e30b-5736-4abe-be9c-51cf508c9554","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"5007e30b-5736-4abe-be9c-51cf508c9554","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"897cc698-80ee-47cf-b59a-130323f2d483","type":"policies","attributes":{"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1748494422","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"70f924ad-d57b-4b37-92b1-adc275a37923","type":"steps"},{"id":"06639547-3fbf-431c-9719-c7211a3d34aa","type":"steps"}]},"teams":{"data":[{"id":"5007e30b-5736-4abe-be9c-51cf508c9554","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/897cc698-80ee-47cf-b59a-130323f2d483
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/897cc698-80ee-47cf-b59a-130323f2d483
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"escalation_policy[897cc698-80ee-47cf-b59a-130323f2d483]
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/5bedf04a-b064-4748-861d-2f32970de31e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/5007e30b-5736-4abe-be9c-51cf508c9554
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/e524a559-3c48-11f0-b6eb-6e406f40657f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
