interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_On_Call_escalation_policy_returns_OK_response-1764252693@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"fa8dbd27-cb9a-11f0-84fc-d6e063989c3f","attributes":{"name":null,"handle":"test-get_on_call_escalation_policy_returns_ok_response-1764252693@datadoghq.com","created_at":"2025-11-27T14:11:33.748105+00:00","modified_at":"2025-11-27T14:11:33.748105+00:00","email":"test-get_on_call_escalation_policy_returns_ok_response-1764252693@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3b312cc1a86be5f85aab5fada68c24c4?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-9b417dea223136e8","name":"test-name-9b417dea223136e8"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"bf2fad34-c495-4de0-b1ec-c5727a2ae216","type":"team","attributes":{"avatar":null,"banner":8,"created_at":"2025-11-27T14:11:34.252521+00:00","description":null,"handle":"test-handle-9b417dea223136e8","hidden_modules":[],"link_count":0,"modified_at":"2025-11-27T14:11:34.252521+00:00","name":"test-name-9b417dea223136e8","summary":null,"user_count":0,"visible_modules":[]},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/bf2fad34-c495-4de0-b1ec-c5727a2ae216/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/bf2fad34-c495-4de0-b1ec-c5727a2ae216/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:33.368Z","end_date":"2025-12-07T14:11:33.368Z","interval":{"days":1},"members":[{"user":{"id":"fa8dbd27-cb9a-11f0-84fc-d6e063989c3f"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:33.368Z"}],"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1764252693","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"d8834350-ae3c-45eb-ad84-9f9a3cef46f3","type":"schedules","attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1764252693","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"8d44f496-4fe0-4cc9-b3d7-81bbc3e68464","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1764252693","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"bf2fad34-c495-4de0-b1ec-c5727a2ae216","type":"teams"},{"id":"d8834350-ae3c-45eb-ad84-9f9a3cef46f3","type":"schedules"},{"config":{"schedule":{"position":"previous"}},"id":"d8834350-ae3c-45eb-ad84-9f9a3cef46f3","type":"schedules"},{"id":"fa8dbd27-cb9a-11f0-84fc-d6e063989c3f","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"bf2fad34-c495-4de0-b1ec-c5727a2ae216","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"bf2fad34-c495-4de0-b1ec-c5727a2ae216","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"7e36daf1-25ef-46af-ba33-23aac9271dc5","type":"policies","attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1764252693","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"e4f3f753-15bd-4649-bdeb-70011094d294","type":"steps"},{"id":"984250f3-e780-4aae-80c1-143859d0f14b","type":"steps"}]},"teams":{"data":[{"id":"bf2fad34-c495-4de0-b1ec-c5727a2ae216","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/7e36daf1-25ef-46af-ba33-23aac9271dc5?include=steps.targets
  response:
    body: '{"data":{"id":"7e36daf1-25ef-46af-ba33-23aac9271dc5","type":"policies","attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1764252693","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"e4f3f753-15bd-4649-bdeb-70011094d294","type":"steps"},{"id":"984250f3-e780-4aae-80c1-143859d0f14b","type":"steps"}]},"teams":{"data":[{"id":"bf2fad34-c495-4de0-b1ec-c5727a2ae216","type":"teams"}]}}},"included":[{"id":"e4f3f753-15bd-4649-bdeb-70011094d294","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":3600},"relationships":{"targets":{"data":[{"id":"bf2fad34-c495-4de0-b1ec-c5727a2ae216","type":"teams"},{"id":"d8834350-ae3c-45eb-ad84-9f9a3cef46f3","type":"schedules"},{"id":"d8834350-ae3c-45eb-ad84-9f9a3cef46f3_previous","type":"schedule_target"},{"id":"fa8dbd27-cb9a-11f0-84fc-d6e063989c3f","type":"users"}]}}},{"id":"d8834350-ae3c-45eb-ad84-9f9a3cef46f3_previous","type":"sc[...]
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/7e36daf1-25ef-46af-ba33-23aac9271dc5
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/d8834350-ae3c-45eb-ad84-9f9a3cef46f3
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/bf2fad34-c495-4de0-b1ec-c5727a2ae216
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/fa8dbd27-cb9a-11f0-84fc-d6e063989c3f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
