interactions:
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:56.699Z","end_date":"2025-05-04T02:49:56.699Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:56.699Z"}],"name":"Test-Update_on_call_schedule_returns_OK_response-1745462996","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"63b955bd-42ab-42a2-95be-64cdaf5fad05","type":"schedules","attributes":{"name":"Test-Update_on_call_schedule_returns_OK_response-1745462996","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"3342fc63-b752-4cb7-84af-acdd25170a72","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_on_call_schedule_returns_OK_response-1745462996@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"cf1fc825-20b6-11f0-964a-9205f68d2dbc","attributes":{"name":null,"handle":"test-update_on_call_schedule_returns_ok_response-1745462996@datadoghq.com","created_at":"2025-04-24T02:49:57.958893+00:00","modified_at":"2025-04-24T02:49:57.958893+00:00","email":"test-update_on_call_schedule_returns_ok_response-1745462996@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9745d12cfe2ad4741f4a01920dbaddbd?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-6bd41aedce052a30","name":"test-name-6bd41aedce052a30"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972","attributes":{"name":"test-name-6bd41aedce052a30","handle":"test-handle-6bd41aedce052a30","summary":null,"description":null,"avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T02:49:58.638187+00:00","modified_at":"2025-04-24T02:49:58.638196+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:56.699Z","end_date":"2025-05-04T02:49:56.699Z","id":"3342fc63-b752-4cb7-84af-acdd25170a72","interval":{"seconds":300},"members":[{"user":{"id":"cf1fc825-20b6-11f0-964a-9205f68d2dbc"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:56.699Z"}],"name":"Test-Update_on_call_schedule_returns_OK_response-1745462996","tags":["tag1","tag2","tag3"],"time_zone":"America/New_York"},"id":"63b955bd-42ab-42a2-95be-64cdaf5fad05","relationships":{"teams":{"data":[{"id":"45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/schedules/63b955bd-42ab-42a2-95be-64cdaf5fad05
  response:
    body: '{"data":{"id":"63b955bd-42ab-42a2-95be-64cdaf5fad05","type":"schedules","attributes":{"name":"Test-Update_on_call_schedule_returns_OK_response-1745462996","tags":["tag1","tag2","tag3"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"3342fc63-b752-4cb7-84af-acdd25170a72","type":"layers"}]},"teams":{"data":[{"id":"45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/cf1fc825-20b6-11f0-964a-9205f68d2dbc
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/63b955bd-42ab-42a2-95be-64cdaf5fad05
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
