interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"cab15683-20b6-11f0-892a-8ed3debb4e3c","attributes":{"name":null,"handle":"test-update_on_call_escalation_policy_returns_ok_response-1745462989@datadoghq.com","created_at":"2025-04-24T02:49:50.524204+00:00","modified_at":"2025-04-24T02:49:50.524204+00:00","email":"test-update_on_call_escalation_policy_returns_ok_response-1745462989@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3db85ef85a418748eceea3fdcc017842?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-aef238a64e0a3053","name":"test-name-aef238a64e0a3053"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"8e19da47-5b16-4f4a-856e-19e8c207a8e8","attributes":{"name":"test-name-aef238a64e0a3053","handle":"test-handle-aef238a64e0a3053","summary":null,"description":null,"avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T02:49:51.170217+00:00","modified_at":"2025-04-24T02:49:51.170244+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/8e19da47-5b16-4f4a-856e-19e8c207a8e8/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/8e19da47-5b16-4f4a-856e-19e8c207a8e8/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:49.725Z","end_date":"2025-05-04T02:49:49.725Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:49.725Z"}],"name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"cbebffd6-9d48-4b03-b847-ee5f8a93d92a","type":"schedules","attributes":{"name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"9451cf82-df43-4c50-aa13-41db5b92aca6","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"8e19da47-5b16-4f4a-856e-19e8c207a8e8","type":"teams"},{"id":"cbebffd6-9d48-4b03-b847-ee5f8a93d92a","type":"schedules"},{"id":"cab15683-20b6-11f0-892a-8ed3debb4e3c","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"8e19da47-5b16-4f4a-856e-19e8c207a8e8","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"8e19da47-5b16-4f4a-856e-19e8c207a8e8","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"7f889d2e-2657-40a3-b27d-700ed017dbbf","type":"policies","attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"a3e73c74-1840-41ac-8855-466fd073b603","type":"steps"},{"id":"644fdcae-f647-4191-ae79-f99e5d2d21ea","type":"steps"}]},"teams":{"data":[{"id":"8e19da47-5b16-4f4a-856e-19e8c207a8e8","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989-updated","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":3600,"id":"a3e73c74-1840-41ac-8855-466fd073b603","targets":[{"id":"cab15683-20b6-11f0-892a-8ed3debb4e3c","type":"users"}]}]},"id":"7f889d2e-2657-40a3-b27d-700ed017dbbf","relationships":{"teams":{"data":[{"id":"8e19da47-5b16-4f4a-856e-19e8c207a8e8","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/7f889d2e-2657-40a3-b27d-700ed017dbbf
  response:
    body: '{"data":{"id":"7f889d2e-2657-40a3-b27d-700ed017dbbf","type":"policies","attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989-updated","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"a3e73c74-1840-41ac-8855-466fd073b603","type":"steps"}]},"teams":{"data":[{"id":"8e19da47-5b16-4f4a-856e-19e8c207a8e8","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/cbebffd6-9d48-4b03-b847-ee5f8a93d92a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/8e19da47-5b16-4f4a-856e-19e8c207a8e8
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/cab15683-20b6-11f0-892a-8ed3debb4e3c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
