interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":[{"id":"9e6a4f8a-38c8-4d53-b84a-7362507ac67a","type":"policies","attributes":{"name":"Example-Get_team_on_call_users_returns_OK_response_1749118317","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"1499c12c-51e8-4b6b-9c40-e6965291652b","type":"steps"},{"id":"6c1aa92d-07fe-4181-be84-6e1bfc727c39","type":"steps"}]},"teams":{"data":[{"id":"092bfdbb-f088-4937-b74f-48e6ce64fd96","type":"teams"}]}}},{"id":"7603f4f8-fce7-49e4-afea-7de0da5dd8b7","type":"policies","attributes":{"name":"Example-Get_team_on_call_users_returns_OK_response_1749132717","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"0f4e62cd-84f7-43f5-a84f-8d66452ff36b","type":"steps"},{"id":"b533a8bf-f2b1-4ed3-ac96-814ea111e2c5","type":"steps"}]},"teams":{"data":[{"id":"98024b06-8bd0-47ae-920d-3203ce3b5127","type":"tea[...]
