interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1747825315@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"022c3a60-3633-11f0-b7ed-ce2381807b05","attributes":{"name":null,"handle":"test-set_on_call_team_routing_rules_returns_ok_response-1747825315@datadoghq.com","created_at":"2025-05-21T11:01:55.617066+00:00","modified_at":"2025-05-21T11:01:55.617066+00:00","email":"test-set_on_call_team_routing_rules_returns_ok_response-1747825315@datadoghq.com","icon":"https://secure.gravatar.com/avatar/83f881635a4cf010167f0bf22fa154a3?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-deb316d25d38fe23","name":"test-name-deb316d25d38fe23"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"68a584b9-c8e4-414a-aedd-31f30ab44d27","attributes":{"name":"test-name-deb316d25d38fe23","handle":"test-handle-deb316d25d38fe23","summary":null,"description":null,"avatar":null,"banner":1,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-21T11:01:55.737730+00:00","modified_at":"2025-05-21T11:01:55.737740+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/68a584b9-c8e4-414a-aedd-31f30ab44d27/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/68a584b9-c8e4-414a-aedd-31f30ab44d27/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-11T11:01:55.512Z","end_date":"2025-05-31T11:01:55.512Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-16T11:01:55.512Z"}],"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1747825315","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"b1819128-6086-4eb2-b555-87f33398825d","type":"schedules","attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1747825315","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"19e523ad-b55a-4f32-8c41-008ba17be5fe","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1747825315","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"68a584b9-c8e4-414a-aedd-31f30ab44d27","type":"teams"},{"id":"b1819128-6086-4eb2-b555-87f33398825d","type":"schedules"},{"id":"022c3a60-3633-11f0-b7ed-ce2381807b05","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"68a584b9-c8e4-414a-aedd-31f30ab44d27","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"68a584b9-c8e4-414a-aedd-31f30ab44d27","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"4926e7bf-727c-4899-ab45-3cbf3bed0c23","type":"policies","attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1747825315","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"0b8001d8-17ab-46ab-979e-b426e69b6423","type":"steps"},{"id":"b02f1fc4-3cdc-4b70-bcf2-fae24d5b09f9","type":"steps"}]},"teams":{"data":[{"id":"68a584b9-c8e4-414a-aedd-31f30ab44d27","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"rules":[{"actions":[{"channel":"channel","type":"send_slack_message","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"},{"end_day":"tuesday","end_time":"17:00:00","start_day":"tuesday","start_time":"09:00:00"}],"time_zone":"Europe/Paris"},"urgency":"high"},{"policy_id":"4926e7bf-727c-4899-ab45-3cbf3bed0c23","query":"","urgency":"low"}]},"id":"68a584b9-c8e4-414a-aedd-31f30ab44d27","type":"team_routing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/teams/68a584b9-c8e4-414a-aedd-31f30ab44d27/routing-rules
  response:
    body: '{"data":{"id":"68a584b9-c8e4-414a-aedd-31f30ab44d27","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"virtual-68a584b9-c8e4-414a-aedd-31f30ab44d27-rule-0","type":"team_routing_rules"},{"id":"virtual-68a584b9-c8e4-414a-aedd-31f30ab44d27-rule-1","type":"team_routing_rules"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/4926e7bf-727c-4899-ab45-3cbf3bed0c23
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"policy[4926e7bf-727c-4899-ab45-3cbf3bed0c23]
      is in use"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/b1819128-6086-4eb2-b555-87f33398825d
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"schedule[b1819128-6086-4eb2-b555-87f33398825d]
      is in use"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/68a584b9-c8e4-414a-aedd-31f30ab44d27
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/022c3a60-3633-11f0-b7ed-ce2381807b05
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
