interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_team_on_call_users_returns_OK_response-1764252702@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"ffde914a-cb9a-11f0-ae87-2a5e5028fcef","attributes":{"name":null,"handle":"test-get_team_on_call_users_returns_ok_response-1764252702@datadoghq.com","created_at":"2025-11-27T14:11:42.666467+00:00","modified_at":"2025-11-27T14:11:42.666467+00:00","email":"test-get_team_on_call_users_returns_ok_response-1764252702@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0bc277f36ed2ab487375205fafaaebc7?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-ecfc4ff61997ed40","name":"test-name-ecfc4ff61997ed40"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e","type":"team","attributes":{"avatar":null,"banner":11,"created_at":"2025-11-27T14:11:43.090563+00:00","description":null,"handle":"test-handle-ecfc4ff61997ed40","hidden_modules":[],"link_count":0,"modified_at":"2025-11-27T14:11:43.090563+00:00","name":"test-name-ecfc4ff61997ed40","summary":null,"user_count":0,"visible_modules":[]},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/fc8f8844-54c3-4898-aabc-68d6fccbe20e/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/fc8f8844-54c3-4898-aabc-68d6fccbe20e/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:42.299Z","end_date":"2025-12-07T14:11:42.299Z","interval":{"days":1},"members":[{"user":{"id":"ffde914a-cb9a-11f0-ae87-2a5e5028fcef"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:42.299Z"}],"name":"Test-Get_team_on_call_users_returns_OK_response-1764252702","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"4325ddef-dc72-4609-90c2-01167759f277","type":"schedules","attributes":{"name":"Test-Get_team_on_call_users_returns_OK_response-1764252702","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"86d3719a-7516-46f0-bfc4-2bd40ad1b855","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_team_on_call_users_returns_OK_response-1764252702","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e","type":"teams"},{"id":"4325ddef-dc72-4609-90c2-01167759f277","type":"schedules"},{"config":{"schedule":{"position":"previous"}},"id":"4325ddef-dc72-4609-90c2-01167759f277","type":"schedules"},{"id":"ffde914a-cb9a-11f0-ae87-2a5e5028fcef","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"5a7ecb26-4ebe-4496-bcfb-ff30c655a1a9","type":"policies","attributes":{"name":"Test-Get_team_on_call_users_returns_OK_response-1764252702","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"2694ac87-8900-4b0f-a108-fb8961c7ef89","type":"steps"},{"id":"e41057da-895e-4a23-81f2-617f61c53a84","type":"steps"}]},"teams":{"data":[{"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"rules":[{"actions":[],"policy_id":"5a7ecb26-4ebe-4496-bcfb-ff30c655a1a9","query":"","urgency":"low"}]},"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e","type":"team_routing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/teams/fc8f8844-54c3-4898-aabc-68d6fccbe20e/routing-rules
  response:
    body: '{"data":{"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"virtual-fc8f8844-54c3-4898-aabc-68d6fccbe20e-rule-0","type":"team_routing_rules"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/teams/fc8f8844-54c3-4898-aabc-68d6fccbe20e/on-call?include=responders%2Cescalations.responders
  response:
    body: '{"data":{"id":"fc8f8844-54c3-4898-aabc-68d6fccbe20e-1764252704","type":"team_oncall_responders","relationships":{"escalations":{"data":[]},"responders":{"data":[{"id":"ffde914a-cb9a-11f0-ae87-2a5e5028fcef","type":"users"}]}}},"included":[{"id":"ffde914a-cb9a-11f0-ae87-2a5e5028fcef","type":"users","attributes":{"email":"test-get_team_on_call_users_returns_ok_response-1764252702@datadoghq.com","name":"","status":"pending"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/5a7ecb26-4ebe-4496-bcfb-ff30c655a1a9
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/4325ddef-dc72-4609-90c2-01167759f277
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 9
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/fc8f8844-54c3-4898-aabc-68d6fccbe20e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 10
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/ffde914a-cb9a-11f0-ae87-2a5e5028fcef
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
