interactions:
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-11T11:01:53.526Z","end_date":"2025-05-31T11:01:53.526Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-16T11:01:53.526Z"}],"name":"Test-Delete_On_Call_schedule_returns_No_Content_response-1747825313","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"cb45fcec-a893-423f-94d1-a401bd31e09c","type":"schedules","attributes":{"name":"Test-Delete_On_Call_schedule_returns_No_Content_response-1747825313","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"56bdebe0-3f79-4571-a92f-c8fb422c7a3e","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/cb45fcec-a893-423f-94d1-a401bd31e09c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/cb45fcec-a893-423f-94d1-a401bd31e09c
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"schedule[cb45fcec-a893-423f-94d1-a401bd31e09c]
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
