interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_On_Call_email_for_a_user_returns_Created_response-1762959004@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"dfeeb6f4-bfd6-11f0-8d44-3ae83a1823f8","attributes":{"name":null,"handle":"test-create_an_on_call_email_for_a_user_returns_created_response-1762959004@datadoghq.com","created_at":"2025-11-12T14:50:04.935610+00:00","modified_at":"2025-11-12T14:50:04.935610+00:00","email":"test-create_an_on_call_email_for_a_user_returns_created_response-1762959004@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fec58aca7d399645eb368db42c5a3cc8?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"active":true,"address":"john.doe@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/dfeeb6f4-bfd6-11f0-8d44-3ae83a1823f8/notification-channels/emails
  response:
    body: '{"data":{"id":"13d8e241-945e-42e4-9759-f4979a3f821f","type":"emails","attributes":{"active":true,"address":"john.doe@datadoghq.com","alias":"","blocked":false,"created_at":"2025-11-12T14:50:05.405372Z","formats":["html"],"modified_at":"2025-11-12T14:50:05.405372Z"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/dfeeb6f4-bfd6-11f0-8d44-3ae83a1823f8
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
