interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":[{"id":"35bb154a-c72c-4229-9fc0-04e07488af4f","type":"schedules","attributes":{"name":"Escalation
      Policy Test Schedule","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"e53202ff-ace0-48b9-94cc-02fd7cc4db19","type":"teams"}]}}},{"id":"671c7d3f-9587-42fa-8c7e-8755930bbdac","type":"schedules","attributes":{"name":"Escalation
      Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1747734855","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"74e02075-633b-44c4-abac-614efb1d8536","type":"teams"}]}}},{"id":"2dab1cc6-fd41-471a-9012-ddd61aaa1efd","type":"schedules","attributes":{"name":"Escalation
      Po[...]
