interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"c02f8d1c-20b6-11f0-ab2c-227bd670db64","attributes":{"name":null,"handle":"test-delete_on_call_escalation_policy_returns_no_content_response-1745462972@datadoghq.com","created_at":"2025-04-24T02:49:32.896419+00:00","modified_at":"2025-04-24T02:49:32.896419+00:00","email":"test-delete_on_call_escalation_policy_returns_no_content_response-1745462972@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c62c48dab244e5889d7e9acaf2f87894?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-7e60a3022d9f9ad9","name":"test-name-7e60a3022d9f9ad9"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2deba622-02f4-4c79-8120-0dc23ce700fc","attributes":{"name":"test-name-7e60a3022d9f9ad9","handle":"test-handle-7e60a3022d9f9ad9","summary":null,"description":null,"avatar":null,"banner":7,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T02:49:33.597906+00:00","modified_at":"2025-04-24T02:49:33.597915+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2deba622-02f4-4c79-8120-0dc23ce700fc/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2deba622-02f4-4c79-8120-0dc23ce700fc/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:32.262Z","end_date":"2025-05-04T02:49:32.262Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:32.262Z"}],"name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"b521cc12-a23b-4fa2-b3d4-891484f6271c","type":"schedules","attributes":{"name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"a50d4ce3-8ae0-4bda-b9b3-05d37298a129","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972","name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"2deba622-02f4-4c79-8120-0dc23ce700fc","type":"teams"},{"id":"b521cc12-a23b-4fa2-b3d4-891484f6271c","type":"schedules"},{"id":"c02f8d1c-20b6-11f0-ab2c-227bd670db64","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"2deba622-02f4-4c79-8120-0dc23ce700fc","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"2deba622-02f4-4c79-8120-0dc23ce700fc","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"44dd85a9-41bc-44f2-ac29-08ccbc4f1a21","type":"policies","attributes":{"description":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972","name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"51a3a324-9905-4d72-9131-980f991160f6","type":"steps"},{"id":"170630ee-f429-4cf2-9e11-22d5b4ff7ab2","type":"steps"}]},"teams":{"data":[{"id":"2deba622-02f4-4c79-8120-0dc23ce700fc","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/44dd85a9-41bc-44f2-ac29-08ccbc4f1a21
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/44dd85a9-41bc-44f2-ac29-08ccbc4f1a21
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"escalation_policy[44dd85a9-41bc-44f2-ac29-08ccbc4f1a21]
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/b521cc12-a23b-4fa2-b3d4-891484f6271c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2deba622-02f4-4c79-8120-0dc23ce700fc
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/c02f8d1c-20b6-11f0-ab2c-227bd670db64
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
