interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Delete_an_On_Call_email_for_a_user_returns_No_Content_response-1762896894@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"43acb848-bf46-11f0-ab62-92ea5df1f825","attributes":{"name":null,"handle":"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com","created_at":"2025-11-11T21:34:55.249474+00:00","modified_at":"2025-11-11T21:34:55.249474+00:00","email":"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com","icon":"https://secure.gravatar.com/avatar/59021cfaece7e71bf1d358fffc29d134?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"active":true,"address":"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/43acb848-bf46-11f0-ab62-92ea5df1f825/notification-channels/emails
  response:
    body: '{"data":{"id":"b9099fbc-43b3-4c74-9942-15ca0bcf519c","type":"emails","attributes":{"active":true,"address":"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com","alias":"","blocked":false,"created_at":"2025-11-11T21:34:55.795766Z","formats":["html"],"modified_at":"2025-11-11T21:34:55.795766Z"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/users/43acb848-bf46-11f0-ab62-92ea5df1f825/notification-channels/emails/b9099fbc-43b3-4c74-9942-15ca0bcf519c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/43acb848-bf46-11f0-ab62-92ea5df1f825
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
