interactions:
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-02-03T05:00:00Z","end_date":"2025-12-31T00:00:00Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-02-01T00:00:00Z"}],"name":"Test-Update_on_call_schedule_returns_OK_response-1743731063","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"56384f8c-4ce4-4792-afff-3ae727919e6a","type":"schedules","attributes":{"name":"Test-Update_on_call_schedule_returns_OK_response-1743731063","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"617bb326-6ba4-4a3f-8896-31543d3018d1","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}},"included":[{"id":"617bb326-6ba4-4a3f-8896-31543d3018d1","type":"layers","attributes":{"effective_date":"2025-02-03T05:00:00Z","end_date":"2025-12-31T00:00:00Z","interval":{"days":1},"name":"Layer
      1","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"friday"}],"rotation_start":"2025-02-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"617bb326-6ba4-4a3f-8896-31543d3018d1-member-1","type":"members"}]}}},{"id":"617bb326-6ba4-4a3f-8896-31543d3018d1-member-1","type":"members","relationships":{"user":{"data":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596","type":"users"}}}},{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596","type":"users","attributes":{"email":"team-bugle+sdk-ci-frog-org@datadoghq.com","name":""}},{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams","attributes":{"avatar":"","description":"","handle":"test-team-oncall","name":"test-team-oncall"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_on_call_schedule_returns_OK_response-1743731063"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/teams
  response:
    body: '{"data":{"type":"teams","id":"d7dfe65a-ff9b-5b60-baf3-b5a86be53512","attributes":{"name":"Test-Update_on_call_schedule_returns_OK_response-1743731063","created":"2025-04-04T01:44:25.061614+00:00","modified":"2025-04-04T01:44:25.061614+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-03-28T02:01:08.410658+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_on_call_schedule_returns_OK_response-1743731063@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"573591e3-10f6-11f0-a31e-0e3f8801dd31","attributes":{"name":null,"handle":"test-update_on_call_schedule_returns_ok_response-1743731063@datadoghq.com","created_at":"2025-04-04T01:44:25.961349+00:00","modified_at":"2025-04-04T01:44:25.961349+00:00","email":"test-update_on_call_schedule_returns_ok_response-1743731063@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f76d203f28338a570b9d2a1f3e06bdab?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-02-03T05:00:00Z","end_date":"2025-12-31T00:00:00Z","interval":{"seconds":300},"members":[{"user":{"id":"573591e3-10f6-11f0-a31e-0e3f8801dd31"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-02-01T00:00:00Z"}],"name":"Test-Update_on_call_schedule_returns_OK_response-1743731063","tags":["tag1","tag2","tag3"],"time_zone":"America/New_York"},"id":"56384f8c-4ce4-4792-afff-3ae727919e6a","relationships":{"teams":{"data":[{"id":"d7dfe65a-ff9b-5b60-baf3-b5a86be53512","type":"te[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/573591e3-10f6-11f0-a31e-0e3f8801dd31
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/teams/d7dfe65a-ff9b-5b60-baf3-b5a86be53512
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/56384f8c-4ce4-4792-afff-3ae727919e6a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
