interactions:
- request:
    body: |
      {"data":{"attributes":{"active":true,"address":"john.doe@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/00000000-0000-0000-0000-000000000000/notification-channels/emails
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"user[00000000-0000-0000-0000-000000000000]
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
