interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"9c0e2ae7-20ba-11f0-93bd-fe1e9003413a","attributes":{"name":null,"handle":"test-get_on_call_escalation_policy_returns_ok_response-1745464630@datadoghq.com","created_at":"2025-04-24T03:17:10.266577+00:00","modified_at":"2025-04-24T03:17:10.266577+00:00","email":"test-get_on_call_escalation_policy_returns_ok_response-1745464630@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c4a99cbd483f4f0f486bb7a3892860c2?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-c43638d5a0d7eb06","name":"test-name-c43638d5a0d7eb06"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"69ebc6fd-3f33-4944-9d0d-c81584ef7c51","attributes":{"name":"test-name-c43638d5a0d7eb06","handle":"test-handle-c43638d5a0d7eb06","summary":null,"description":null,"avatar":null,"banner":0,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T03:17:10.499509+00:00","modified_at":"2025-04-24T03:17:10.499518+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/69ebc6fd-3f33-4944-9d0d-c81584ef7c51/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/69ebc6fd-3f33-4944-9d0d-c81584ef7c51/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T03:17:10.072Z","end_date":"2025-05-04T03:17:10.072Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T03:17:10.072Z"}],"name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"7aac310e-2db6-4285-92cc-7352cceab519","type":"schedules","attributes":{"name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"30c77e3d-af69-46bf-bc64-86b8bc3053be","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"69ebc6fd-3f33-4944-9d0d-c81584ef7c51","type":"teams"},{"id":"7aac310e-2db6-4285-92cc-7352cceab519","type":"schedules"},{"id":"9c0e2ae7-20ba-11f0-93bd-fe1e9003413a","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"69ebc6fd-3f33-4944-9d0d-c81584ef7c51","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"69ebc6fd-3f33-4944-9d0d-c81584ef7c51","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"5dbf6b01-fcbf-4cfb-80b8-88a6bf8e995e","type":"policies","attributes":{"description":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"99b17a25-0c2f-449f-a8b7-3d2be65abb1e","type":"steps"},{"id":"84f4cfe9-2867-4630-b5aa-439d5ada46ac","type":"steps"}]},"teams":{"data":[{"id":"69ebc6fd-3f33-4944-9d0d-c81584ef7c51","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/5dbf6b01-fcbf-4cfb-80b8-88a6bf8e995e
  response:
    body: '{"data":{"id":"5dbf6b01-fcbf-4cfb-80b8-88a6bf8e995e","type":"policies","attributes":{"description":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"99b17a25-0c2f-449f-a8b7-3d2be65abb1e","type":"steps"},{"id":"84f4cfe9-2867-4630-b5aa-439d5ada46ac","type":"steps"}]},"teams":{"data":[{"id":"69ebc6fd-3f33-4944-9d0d-c81584ef7c51","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/7aac310e-2db6-4285-92cc-7352cceab519
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/69ebc6fd-3f33-4944-9d0d-c81584ef7c51
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/9c0e2ae7-20ba-11f0-93bd-fe1e9003413a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
