interactions:
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-03-28T03:17:06.571Z","end_date":"2025-04-17T03:17:06.571Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-02T03:17:06.571Z"}],"name":"Test-Delete_on_call_schedule_returns_No_Content_response-1743995826","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"b19a9712-e8f9-43a4-b38b-d5277608e001","type":"schedules","attributes":{"name":"Test-Delete_on_call_schedule_returns_No_Content_response-1743995826","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"e82fe752-2c1a-4e05-a8a6-fe4ae5e0c889","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/b19a9712-e8f9-43a4-b38b-d5277608e001
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/b19a9712-e8f9-43a4-b38b-d5277608e001
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"schedule[b19a9712-e8f9-43a4-b38b-d5277608e001]
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
