interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_an_On_Call_notification_channel_for_a_user_returns_OK_response-1765548257@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"0131b53c-5aec-4c8a-a14f-9ef487448833","attributes":{"name":null,"handle":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","created_at":"2025-12-12T14:04:17.531988+00:00","modified_at":"2025-12-12T14:04:17.531988+00:00","email":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cedb283c90667a7da02c585159b4eda3?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"config":{"address":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","formats":["html"],"type":"email"}},"type":"notification_channels"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/0131b53c-5aec-4c8a-a14f-9ef487448833/notification-channels
  response:
    body: '{"data":{"id":"d5fc3f5a-a4b9-4972-80bb-cb4db7ec958b","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","formats":["html"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/users/0131b53c-5aec-4c8a-a14f-9ef487448833/notification-channels/d5fc3f5a-a4b9-4972-80bb-cb4db7ec958b
  response:
    body: '{"data":{"id":"d5fc3f5a-a4b9-4972-80bb-cb4db7ec958b","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","formats":["html"]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/0131b53c-5aec-4c8a-a14f-9ef487448833
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
