interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_on_call_schedule_returns_Created_response-1744783236@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"1e3c9def-1a88-11f0-9652-d6bc07db26a7","attributes":{"name":null,"handle":"test-create_on_call_schedule_returns_created_response-1744783236@datadoghq.com","created_at":"2025-04-16T06:00:37.364925+00:00","modified_at":"2025-04-16T06:00:37.364925+00:00","email":"test-create_on_call_schedule_returns_created_response-1744783236@datadoghq.com","icon":"https://secure.gravatar.com/avatar/549c982027f39726928c2daf578cd7a3?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-fffd709aba6bf7b6","name":"test-name-fffd709aba6bf7b6"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"bd265b58-a132-468b-b972-f8d35af45c94","attributes":{"name":"test-name-fffd709aba6bf7b6","handle":"test-handle-fffd709aba6bf7b6","summary":null,"description":null,"avatar":null,"banner":0,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-16T06:00:38.271363+00:00","modified_at":"2025-04-16T06:00:38.271369+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/bd265b58-a132-468b-b972-f8d35af45c94/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/bd265b58-a132-468b-b972-f8d35af45c94/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-06T06:00:36.600Z","end_date":"2025-04-26T06:00:36.600Z","interval":{"days":1},"members":[{"user":{"id":"1e3c9def-1a88-11f0-9652-d6bc07db26a7"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-11T06:00:36.600Z"}],"name":"Test-Create_on_call_schedule_returns_Created_response-1744783236","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"bd265b58-a132-468b-b972-f8d35af45c94","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"fc047920-3b71-40a5-b601-f53b5f9c93ec","type":"schedules","attributes":{"name":"Test-Create_on_call_schedule_returns_Created_response-1744783236","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"8ed3b446-7e0b-4813-96d6-0bec0fedb71f","type":"layers"}]},"teams":{"data":[{"id":"bd265b58-a132-468b-b972-f8d35af45c94","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/fc047920-3b71-40a5-b601-f53b5f9c93ec
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/bd265b58-a132-468b-b972-f8d35af45c94
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/1e3c9def-1a88-11f0-9652-d6bc07db26a7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
