interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"de86b01f-3c48-11f0-927d-aedf77869272","attributes":{"name":null,"handle":"test-create_on_call_escalation_policy_returns_created_response-1748494410@datadoghq.com","created_at":"2025-05-29T04:53:31.716641+00:00","modified_at":"2025-05-29T04:53:31.716641+00:00","email":"test-create_on_call_escalation_policy_returns_created_response-1748494410@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bd817280fe52b9652bd2877bf9041f78?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-19T04:53:30.847Z","end_date":"2025-06-08T04:53:30.847Z","interval":{"days":1},"members":[{"user":{"id":"de86b01f-3c48-11f0-927d-aedf77869272"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-24T04:53:30.847Z"}],"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"2e70ff45-cb63-4609-900b-cc9fe95e063b","type":"schedules","attributes":{"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"f1949bc4-1f01-4081-8002-d6029ace0bc9","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-cfbc9f18713005c6","name":"test-name-cfbc9f18713005c6"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","attributes":{"name":"test-name-cfbc9f18713005c6","handle":"test-handle-cfbc9f18713005c6","summary":null,"description":null,"avatar":null,"banner":14,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-29T04:53:32.646359+00:00","modified_at":"2025-05-29T04:53:32.646369+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/fa4d082c-6733-4bd0-9083-f7bf2f8d4259/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/fa4d082c-6733-4bd0-9083-f7bf2f8d4259/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"de86b01f-3c48-11f0-927d-aedf77869272","type":"users"},{"id":"2e70ff45-cb63-4609-900b-cc9fe95e063b","type":"schedules"},{"id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","type":"teams"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
  response:
    body: '{"data":{"id":"cf3a523c-3ca3-4ac4-aee2-7afaac13c6f7","type":"policies","attributes":{"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"ba22e9ae-1740-4522-b95c-26f601a37484","type":"steps"},{"id":"335dc81f-929a-47e1-a8f8-cc7830c2d272","type":"steps"}]},"teams":{"data":[{"id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","type":"teams"}]}}},"included":[{"id":"ba22e9ae-1740-4522-b95c-26f601a37484","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":3600},"relationships":{"targets":{"data":[{"id":"de86b01f-3c48-11f0-927d-aedf77869272","type":"users"},{"id":"2e70ff45-cb63-4609-900b-cc9fe95e063b","type":"schedules"},{"id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","type":"teams"}]}}},{"id":"335dc81f-929a-47e1-a8f8-cc7830c2d272","type":"steps","attributes":{"assignment":"round-robin","escalate_after_seconds":3600},"relationships":{"targets":{"data":[{"id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","type":"teams"}]}}},{"id":"de86b01f-3c48-11f0-927d-aedf77869272","type":"users","attributes":{"email":"test-create_on_call_escalation_policy_returns_created_response-1748494410@datadoghq.com","name":"","status":"pending"}},{"id":"2e70ff45-cb63-4609-900b-cc9fe95e063b","type":"schedules","attributes":{"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"f1949bc4-1f01-4081-8002-d6029ace0bc9","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}},{"id":"fa4d082c-6733-4bd0-9083-f7bf2f8d4259","type":"teams","attributes":{"avatar":"","description":"","handle":"test-handle-cfbc9f18713005c6","name":"test-name-cfbc9f18713005c6"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/cf3a523c-3ca3-4ac4-aee2-7afaac13c6f7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/fa4d082c-6733-4bd0-9083-f7bf2f8d4259
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/2e70ff45-cb63-4609-900b-cc9fe95e063b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/de86b01f-3c48-11f0-927d-aedf77869272
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
