interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748494452@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"f70b5bc2-3c48-11f0-90c9-4ad2f0f8c382","attributes":{"name":null,"handle":"test-set_on_call_team_routing_rules_returns_ok_response-1748494452@datadoghq.com","created_at":"2025-05-29T04:54:12.851430+00:00","modified_at":"2025-05-29T04:54:12.851430+00:00","email":"test-set_on_call_team_routing_rules_returns_ok_response-1748494452@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3ae763850f6602b2ade88b17b79b0c2f?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-617820e9690362e8","name":"test-name-617820e9690362e8"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"08b1cecb-154b-45ca-bafa-a7f0b3196b8d","attributes":{"name":"test-name-617820e9690362e8","handle":"test-handle-617820e9690362e8","summary":null,"description":null,"avatar":null,"banner":6,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-29T04:54:13.517054+00:00","modified_at":"2025-05-29T04:54:13.517063+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/08b1cecb-154b-45ca-bafa-a7f0b3196b8d/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/08b1cecb-154b-45ca-bafa-a7f0b3196b8d/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-19T04:54:12.242Z","end_date":"2025-06-08T04:54:12.242Z","interval":{"days":1},"members":[{"user":{"id":"f70b5bc2-3c48-11f0-90c9-4ad2f0f8c382"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-24T04:54:12.242Z"}],"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748494452","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"60ddefa7-5b46-44e1-aabc-2c5b5b2e6fc1","type":"schedules","attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748494452","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"4617f090-9118-4ce6-9b58-4432d311d4b4","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748494452","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"08b1cecb-154b-45ca-bafa-a7f0b3196b8d","type":"teams"},{"id":"60ddefa7-5b46-44e1-aabc-2c5b5b2e6fc1","type":"schedules"},{"id":"f70b5bc2-3c48-11f0-90c9-4ad2f0f8c382","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"08b1cecb-154b-45ca-bafa-a7f0b3196b8d","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"08b1cecb-154b-45ca-bafa-a7f0b3196b8d","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"fc37a01c-221f-45e6-bc76-57ff1c182117","type":"policies","attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748494452","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"46a2be27-34f0-4e0c-b1aa-a8141fbe64ed","type":"steps"},{"id":"6ea28a95-8be6-4a8a-a5ca-c20ed36a8cf4","type":"steps"}]},"teams":{"data":[{"id":"08b1cecb-154b-45ca-bafa-a7f0b3196b8d","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"rules":[{"actions":[{"channel":"channel","type":"send_slack_message","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"},{"end_day":"tuesday","end_time":"17:00:00","start_day":"tuesday","start_time":"09:00:00"}],"time_zone":"Europe/Paris"}},{"policy_id":"fc37a01c-221f-45e6-bc76-57ff1c182117","query":"","urgency":"low"}]},"id":"08b1cecb-154b-45ca-bafa-a7f0b3196b8d","type":"team_routing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/teams/08b1cecb-154b-45ca-bafa-a7f0b3196b8d/routing-rules?include=rules
  response:
    body: '{"data":{"id":"08b1cecb-154b-45ca-bafa-a7f0b3196b8d","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"virtual-08b1cecb-154b-45ca-bafa-a7f0b3196b8d-rule-0","type":"team_routing_rules"},{"id":"virtual-08b1cecb-154b-45ca-bafa-a7f0b3196b8d-rule-1","type":"team_routing_rules"}]}}},"included":[{"id":"virtual-08b1cecb-154b-45ca-bafa-a7f0b3196b8d-rule-0","type":"team_routing_rules","attributes":{"actions":[{"type":"send_slack_message","channel":"channel","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"time_zone":"Europe/Paris","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"},{"start_time":"09:00:00","start_day":"tuesday","end_time":"17:00:00","end_day":"tuesday"}]}},"relationships":{"policy":{"data":null}}},{"id":"virtual-08b1cecb-154b-45ca-bafa-a7f0b3196b8d-rule-1","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"low"},"relationships":{"policy":{"data":{"id":"fc37a01c-221f-45e6-bc76-57ff1c182117","type":"policies"}}}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/fc37a01c-221f-45e6-bc76-57ff1c182117
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"policy[fc37a01c-221f-45e6-bc76-57ff1c182117]
      is in use"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/60ddefa7-5b46-44e1-aabc-2c5b5b2e6fc1
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"schedule[60ddefa7-5b46-44e1-aabc-2c5b5b2e6fc1]
      is in use"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/08b1cecb-154b-45ca-bafa-a7f0b3196b8d
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/f70b5bc2-3c48-11f0-90c9-4ad2f0f8c382
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
