interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1764252685@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"f5e7c666-cb9a-11f0-ae87-2a5e5028fcef","attributes":{"name":null,"handle":"test-delete_on_call_escalation_policy_returns_no_content_response-1764252685@datadoghq.com","created_at":"2025-11-27T14:11:25.949558+00:00","modified_at":"2025-11-27T14:11:25.949558+00:00","email":"test-delete_on_call_escalation_policy_returns_no_content_response-1764252685@datadoghq.com","icon":"https://secure.gravatar.com/avatar/92ce6e94a63e99ed9306c4b09eb69918?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-5d85b5aacd02cab9","name":"test-name-5d85b5aacd02cab9"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"a42481db-6918-45ef-a923-5548004f044a","type":"team","attributes":{"avatar":null,"banner":9,"created_at":"2025-11-27T14:11:26.456007+00:00","description":null,"handle":"test-handle-5d85b5aacd02cab9","hidden_modules":[],"link_count":0,"modified_at":"2025-11-27T14:11:26.456008+00:00","name":"test-name-5d85b5aacd02cab9","summary":null,"user_count":0,"visible_modules":[]},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/a42481db-6918-45ef-a923-5548004f044a/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a42481db-6918-45ef-a923-5548004f044a/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:25.538Z","end_date":"2025-12-07T14:11:25.538Z","interval":{"days":1},"members":[{"user":{"id":"f5e7c666-cb9a-11f0-ae87-2a5e5028fcef"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:25.538Z"}],"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1764252685","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"cf196f34-3ce0-4cff-a27e-ed5035db9442","type":"schedules","attributes":{"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1764252685","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"2f2ea0a9-a33e-4d2f-9a0b-5cbfb0bed071","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1764252685","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"a42481db-6918-45ef-a923-5548004f044a","type":"teams"},{"id":"cf196f34-3ce0-4cff-a27e-ed5035db9442","type":"schedules"},{"config":{"schedule":{"position":"previous"}},"id":"cf196f34-3ce0-4cff-a27e-ed5035db9442","type":"schedules"},{"id":"f5e7c666-cb9a-11f0-ae87-2a5e5028fcef","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"a42481db-6918-45ef-a923-5548004f044a","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"a42481db-6918-45ef-a923-5548004f044a","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"c25d7cd6-d2bc-4d84-801b-3a09d62e29bc","type":"policies","attributes":{"name":"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1764252685","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"b445f325-7fca-44d5-a7e2-2a16e8bc2837","type":"steps"},{"id":"b9c6527e-9c8d-4c93-92cf-100b5c180a1e","type":"steps"}]},"teams":{"data":[{"id":"a42481db-6918-45ef-a923-5548004f044a","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/c25d7cd6-d2bc-4d84-801b-3a09d62e29bc
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/c25d7cd6-d2bc-4d84-801b-3a09d62e29bc
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"escalation_policy[c25d7cd6-d2bc-4d84-801b-3a09d62e29bc]
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/cf196f34-3ce0-4cff-a27e-ed5035db9442
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/a42481db-6918-45ef-a923-5548004f044a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/f5e7c666-cb9a-11f0-ae87-2a5e5028fcef
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
