interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"0f6790f5-2727-11f0-a9cb-b6ff84ad8646","attributes":{"name":null,"handle":"test-set_on_call_team_routing_rules_returns_ok_response-1746170915@datadoghq.com","created_at":"2025-05-02T07:28:36.413905+00:00","modified_at":"2025-05-02T07:28:36.413905+00:00","email":"test-set_on_call_team_routing_rules_returns_ok_response-1746170915@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b9e2f38a22d0273582e08252ffbae94a?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-f6cbca2a9dc51017","name":"test-name-f6cbca2a9dc51017"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"0db9884c-62de-4b52-ae74-1d256d8ecb75","attributes":{"name":"test-name-f6cbca2a9dc51017","handle":"test-handle-f6cbca2a9dc51017","summary":null,"description":null,"avatar":null,"banner":9,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-02T07:28:36.528008+00:00","modified_at":"2025-05-02T07:28:36.528018+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/0db9884c-62de-4b52-ae74-1d256d8ecb75/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/0db9884c-62de-4b52-ae74-1d256d8ecb75/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-22T07:28:35.869Z","end_date":"2025-05-12T07:28:35.869Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-27T07:28:35.869Z"}],"name":"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"f4ae5b94-3985-490a-bdc0-e7f64890968c","type":"schedules","attributes":{"name":"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"498723e5-43d7-407c-b7cb-171e9c08f402","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915","name":"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"0db9884c-62de-4b52-ae74-1d256d8ecb75","type":"teams"},{"id":"f4ae5b94-3985-490a-bdc0-e7f64890968c","type":"schedules"},{"id":"0f6790f5-2727-11f0-a9cb-b6ff84ad8646","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"0db9884c-62de-4b52-ae74-1d256d8ecb75","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"0db9884c-62de-4b52-ae74-1d256d8ecb75","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"b79d430d-1e03-4840-a933-a1ee9baae339","type":"policies","attributes":{"description":"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915","name":"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"46b170a7-ad4a-4cc3-b933-386af8fbee11","type":"steps"},{"id":"11c45a97-a232-4f34-a086-77005522ea7a","type":"steps"}]},"teams":{"data":[{"id":"0db9884c-62de-4b52-ae74-1d256d8ecb75","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"rules":[{"actions":[{"channel":"channel","type":"send_slack_message","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"},{"end_day":"tuesday","end_time":"17:00:00","start_day":"tuesday","start_time":"09:00:00"}],"time_zone":"Europe/Paris"},"urgency":"high"},{"policy_id":"b79d430d-1e03-4840-a933-a1ee9baae339","query":"","urgency":"low"}]},"id":"0db9884c-62de-4b52-ae74-1d256d8ecb75","type":"team_routing_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/teams/0db9884c-62de-4b52-ae74-1d256d8ecb75/routing-rules
  response:
    body: '{"data":{"id":"0db9884c-62de-4b52-ae74-1d256d8ecb75","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"virtual-0db9884c-62de-4b52-ae74-1d256d8ecb75-rule-0","type":"team_routing_rules"},{"id":"virtual-0db9884c-62de-4b52-ae74-1d256d8ecb75-rule-1","type":"team_routing_rules"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/b79d430d-1e03-4840-a933-a1ee9baae339
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"policy[b79d430d-1e03-4840-a933-a1ee9baae339]
      is in use"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/f4ae5b94-3985-490a-bdc0-e7f64890968c
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"schedule[f4ae5b94-3985-490a-bdc0-e7f64890968c]
      is in use"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/0db9884c-62de-4b52-ae74-1d256d8ecb75
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/0f6790f5-2727-11f0-a9cb-b6ff84ad8646
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
