interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_On_Call_email_for_a_user_returns_Bad_Request_response-1762958161@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b","attributes":{"name":null,"handle":"test-create_an_on_call_email_for_a_user_returns_bad_request_response-1762958161@datadoghq.com","created_at":"2025-11-12T14:36:01.627725+00:00","modified_at":"2025-11-12T14:36:01.627725+00:00","email":"test-create_an_on_call_email_for_a_user_returns_bad_request_response-1762958161@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0c60562056ba523711aac984491c4445?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"active":true,"address":"","alias":"","formats":["html"]},"type":"emails"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b/notification-channels/emails
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute \"address\"
      is required"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
