interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_the_schedule_on_call_user_returns_OK_response-1748494448@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"f506d945-3c48-11f0-b6eb-6e406f40657f","attributes":{"name":null,"handle":"test-get_the_schedule_on_call_user_returns_ok_response-1748494448@datadoghq.com","created_at":"2025-05-29T04:54:09.466437+00:00","modified_at":"2025-05-29T04:54:09.466437+00:00","email":"test-get_the_schedule_on_call_user_returns_ok_response-1748494448@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6c6e9988bfb6ab3c5c5ae2111d47fc54?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-19T04:54:08.864Z","end_date":"2025-06-08T04:54:08.864Z","interval":{"days":1},"members":[{"user":{"id":"f506d945-3c48-11f0-b6eb-6e406f40657f"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-24T04:54:08.864Z"}],"name":"Test-Get_the_schedule_on_call_user_returns_OK_response-1748494448","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"3e8644f0-f579-4459-8cb3-e585cd817db1","type":"schedules","attributes":{"name":"Test-Get_the_schedule_on_call_user_returns_OK_response-1748494448","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"00847dac-89e7-4a60-8e72-9a5897a3a1e5","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/schedules/3e8644f0-f579-4459-8cb3-e585cd817db1/on-call
  response:
    body: '{"data":{"id":"f506d945-3c48-11f0-b6eb-6e406f40657f-2025-05-29T00:54:10-04:00-2025-05-30T00:54:08-04:00","type":"shifts","attributes":{"end":"2025-05-30T00:54:08-04:00","start":"2025-05-29T00:54:10.138754-04:00"},"relationships":{"user":{"data":{"id":"f506d945-3c48-11f0-b6eb-6e406f40657f","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/3e8644f0-f579-4459-8cb3-e585cd817db1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/f506d945-3c48-11f0-b6eb-6e406f40657f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
