interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"02f97155-3633-11f0-8139-36deebce65db","attributes":{"name":null,"handle":"test-update_on_call_escalation_policy_returns_ok_response-1747825316@datadoghq.com","created_at":"2025-05-21T11:01:56.961957+00:00","modified_at":"2025-05-21T11:01:56.961957+00:00","email":"test-update_on_call_escalation_policy_returns_ok_response-1747825316@datadoghq.com","icon":"https://secure.gravatar.com/avatar/58d047300afed96db7357b8216864a2b?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-7e1038d48a039cbc","name":"test-name-7e1038d48a039cbc"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"593274dc-43a7-4281-930c-58cb572b5004","attributes":{"name":"test-name-7e1038d48a039cbc","handle":"test-handle-7e1038d48a039cbc","summary":null,"description":null,"avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-21T11:01:57.059563+00:00","modified_at":"2025-05-21T11:01:57.059594+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/593274dc-43a7-4281-930c-58cb572b5004/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/593274dc-43a7-4281-930c-58cb572b5004/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-11T11:01:56.877Z","end_date":"2025-05-31T11:01:56.877Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-16T11:01:56.877Z"}],"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"6c875bbd-947b-44bd-bad5-e0da7c69db5c","type":"schedules","attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"0fa01fe6-c072-42ca-a7ed-5923dca7f0b8","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"593274dc-43a7-4281-930c-58cb572b5004","type":"teams"},{"id":"6c875bbd-947b-44bd-bad5-e0da7c69db5c","type":"schedules"},{"id":"02f97155-3633-11f0-8139-36deebce65db","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"593274dc-43a7-4281-930c-58cb572b5004","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"593274dc-43a7-4281-930c-58cb572b5004","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"b41d541f-8f83-49f9-9661-0a5ee93bd3be","type":"policies","attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"b84eeb10-55be-461c-8e0f-c60dfd0fbfd6","type":"steps"},{"id":"7cbf9415-79ef-4ce3-acef-5fce960278b7","type":"steps"}]},"teams":{"data":[{"id":"593274dc-43a7-4281-930c-58cb572b5004","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316-updated","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":3600,"id":"b84eeb10-55be-461c-8e0f-c60dfd0fbfd6","targets":[{"id":"02f97155-3633-11f0-8139-36deebce65db","type":"users"}]}]},"id":"b41d541f-8f83-49f9-9661-0a5ee93bd3be","relationships":{"teams":{"data":[{"id":"593274dc-43a7-4281-930c-58cb572b5004","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/b41d541f-8f83-49f9-9661-0a5ee93bd3be
  response:
    body: '{"data":{"id":"b41d541f-8f83-49f9-9661-0a5ee93bd3be","type":"policies","attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316-updated","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"b84eeb10-55be-461c-8e0f-c60dfd0fbfd6","type":"steps"}]},"teams":{"data":[{"id":"593274dc-43a7-4281-930c-58cb572b5004","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/6c875bbd-947b-44bd-bad5-e0da7c69db5c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/593274dc-43a7-4281-930c-58cb572b5004
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/02f97155-3633-11f0-8139-36deebce65db
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
