interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_On_Call_escalation_policy_returns_Created_response-1764334736@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"005f5c53-cc5a-11f0-84fc-d6e063989c3f","attributes":{"name":null,"handle":"test-create_on_call_escalation_policy_returns_created_response-1764334736@datadoghq.com","created_at":"2025-11-28T12:58:57.385841+00:00","modified_at":"2025-11-28T12:58:57.385841+00:00","email":"test-create_on_call_escalation_policy_returns_created_response-1764334736@datadoghq.com","icon":"https://secure.gravatar.com/avatar/990f6066d8c3647475a637255f95cc7f?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-11-18T12:58:56.434Z","end_date":"2025-12-08T12:58:56.434Z","interval":{"days":1},"members":[{"user":{"id":"005f5c53-cc5a-11f0-84fc-d6e063989c3f"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-23T12:58:56.434Z"}],"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1764334736","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"c6a8f167-908f-4ca5-ba30-a33a00adfe11","type":"schedules","attributes":{"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1764334736","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"928407db-da13-4516-bd6a-3b92e3095b56","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-24ceda96b794cbdd","name":"test-name-24ceda96b794cbdd"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"e5057194-b5fd-4ff5-b9d3-6977d8bbd774","type":"team","attributes":{"avatar":null,"banner":1,"created_at":"2025-11-28T12:58:58.058854+00:00","description":null,"handle":"test-handle-24ceda96b794cbdd","hidden_modules":[],"link_count":0,"modified_at":"2025-11-28T12:58:58.058854+00:00","name":"test-name-24ceda96b794cbdd","summary":null,"user_count":0,"visible_modules":[]},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/e5057194-b5fd-4ff5-b9d3-6977d8bbd774/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/e5057194-b5fd-4ff5-b9d3-6977d8bbd774/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1764334736","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"005f5c53-cc5a-11f0-84fc-d6e063989c3f","type":"users"},{"id":"c6a8f167-908f-4ca5-ba30-a33a00adfe11","type":"schedules"},{"config":{"schedule":{"position":"previous"}},"id":"c6a8f167-908f-4ca5-ba30-a33a00adfe11","type":"schedules"},{"id":"e5057194-b5fd-4ff5-b9d3-6977d8bbd774","type":"teams"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"e5057194-b5fd-4ff5-b9d3-6977d8bbd774","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"e5057194-b5fd-4ff5-b9d3-6977d8bbd774","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
  response:
    body: '{"data":{"id":"84f3ac2b-77da-42f2-a2bb-cb9a5ea9cf55","type":"policies","attributes":{"name":"Test-Create_On_Call_escalation_policy_returns_Created_response-1764334736","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"055817d0-41cb-402f-bb93-0d5989083cd1","type":"steps"},{"id":"ddab41bb-c15d-4ad8-bf29-8d0ddcbb2df1","type":"steps"}]},"teams":{"data":[{"id":"e5057194-b5fd-4ff5-b9d3-6977d8bbd774","type":"teams"}]}}},"included":[{"id":"055817d0-41cb-402f-bb93-0d5989083cd1","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":3600},"relationships":{"targets":{"data":[{"id":"005f5c53-cc5a-11f0-84fc-d6e063989c3f","type":"users"},{"id":"c6a8f167-908f-4ca5-ba30-a33a00adfe11","type":"schedules"},{"id":"c6a8f167-908f-4ca5-ba30-a33a00adfe11_previous","type":"schedule_target"},{"id":"e5057194-b5fd-4ff5-b9d3-6977d8bbd774","type":"teams"}]}}},{"id":"c6a8f167-908f-4ca5-ba30-a33a00adfe11_previous","type":"sc[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/84f3ac2b-77da-42f2-a2bb-cb9a5ea9cf55
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/e5057194-b5fd-4ff5-b9d3-6977d8bbd774
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/c6a8f167-908f-4ca5-ba30-a33a00adfe11
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/005f5c53-cc5a-11f0-84fc-d6e063989c3f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
