interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_an_On_Call_notification_rule_for_a_user_returns_OK_response-1765919784@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"b2a555c9-ac2d-430d-b321-10e4c0201ce3","attributes":{"name":null,"handle":"test-get_an_on_call_notification_rule_for_a_user_returns_ok_response-1765919784@datadoghq.com","created_at":"2025-12-16T21:16:24.480454+00:00","modified_at":"2025-12-16T21:16:24.480454+00:00","email":"test-get_an_on_call_notification_rule_for_a_user_returns_ok_response-1765919784@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8e38ab440c2cdd2808a61dfa83f734d7?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"config":{"address":"test-get_an_on_call_notification_rule_for_a_user_returns_ok_response-1765919784@datadoghq.com","formats":["html"],"type":"email"}},"type":"notification_channels"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/b2a555c9-ac2d-430d-b321-10e4c0201ce3/notification-channels
  response:
    body: '{"data":{"id":"767234b0-0c79-4092-9b44-a8963021795b","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"test-get_an_on_call_notification_rule_for_a_user_returns_ok_response-1765919784@datadoghq.com","formats":["html"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"category":"high_urgency","delay_minutes":0},"relationships":{"channel":{"data":{"id":"767234b0-0c79-4092-9b44-a8963021795b","type":"notification_channels"}}},"type":"notification_rules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/b2a555c9-ac2d-430d-b321-10e4c0201ce3/notification-rules
  response:
    body: '{"data":{"id":"d07cc90b-4fc5-455f-8f57-45d48a658bc6","type":"notification_rules","attributes":{"category":"high_urgency","delay_minutes":0},"relationships":{"channel":{"data":{"id":"767234b0-0c79-4092-9b44-a8963021795b","type":"notification_channels"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/users/b2a555c9-ac2d-430d-b321-10e4c0201ce3/notification-rules/d07cc90b-4fc5-455f-8f57-45d48a658bc6?include=channel
  response:
    body: '{"data":{"id":"d07cc90b-4fc5-455f-8f57-45d48a658bc6","type":"notification_rules","attributes":{"category":"high_urgency","delay_minutes":0},"relationships":{"channel":{"data":{"id":"767234b0-0c79-4092-9b44-a8963021795b","type":"notification_channels"}}}},"included":[{"id":"767234b0-0c79-4092-9b44-a8963021795b","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"test-get_an_on_call_notification_rule_for_a_user_returns_ok_response-1765919784@datadoghq.com","formats":["html"]}}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/b2a555c9-ac2d-430d-b321-10e4c0201ce3
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
