interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_On_Call_escalation_policy_returns_OK_response-1764252714@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"074d412b-cb9b-11f0-85f9-9a82ffe01443","attributes":{"name":null,"handle":"test-update_on_call_escalation_policy_returns_ok_response-1764252714@datadoghq.com","created_at":"2025-11-27T14:11:55.135880+00:00","modified_at":"2025-11-27T14:11:55.135880+00:00","email":"test-update_on_call_escalation_policy_returns_ok_response-1764252714@datadoghq.com","icon":"https://secure.gravatar.com/avatar/56710b9d4c6476f7e9cb32cf32f2d8fa?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-87ae65b051bd37ef","name":"test-name-87ae65b051bd37ef"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"id":"f38d82f9-3de9-4a4a-8a48-650c0b19151f","type":"team","attributes":{"avatar":null,"banner":11,"created_at":"2025-11-27T14:11:55.632151+00:00","description":null,"handle":"test-handle-87ae65b051bd37ef","hidden_modules":[],"link_count":0,"modified_at":"2025-11-27T14:11:55.632152+00:00","name":"test-name-87ae65b051bd37ef","summary":null,"user_count":0,"visible_modules":[]},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/f38d82f9-3de9-4a4a-8a48-650c0b19151f/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/f38d82f9-3de9-4a4a-8a48-650c0b19151f/permission-settings"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:54.763Z","end_date":"2025-12-07T14:11:54.763Z","interval":{"days":1},"members":[{"user":{"id":"074d412b-cb9b-11f0-85f9-9a82ffe01443"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:54.763Z"}],"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1764252714","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"1ab20921-4556-4f30-80df-e1ce748c3fc1","type":"schedules","attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1764252714","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"94644551-c1bd-4b16-8774-ddbf0b6ce12c","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1764252714","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"f38d82f9-3de9-4a4a-8a48-650c0b19151f","type":"teams"},{"id":"1ab20921-4556-4f30-80df-e1ce748c3fc1","type":"schedules"},{"config":{"schedule":{"position":"previous"}},"id":"1ab20921-4556-4f30-80df-e1ce748c3fc1","type":"schedules"},{"id":"074d412b-cb9b-11f0-85f9-9a82ffe01443","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"f38d82f9-3de9-4a4a-8a48-650c0b19151f","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"f38d82f9-3de9-4a4a-8a48-650c0b19151f","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"b20fdf89-f87f-4237-8f19-ed8c9c57cf5c","type":"policies","attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1764252714","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"6d4b5398-50bf-425d-93b8-3eae379ff8a0","type":"steps"},{"id":"b3f4a0dd-337f-42b7-9fda-b2f4486e700f","type":"steps"}]},"teams":{"data":[{"id":"f38d82f9-3de9-4a4a-8a48-650c0b19151f","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1764252714-updated","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":3600,"id":"6d4b5398-50bf-425d-93b8-3eae379ff8a0","targets":[{"id":"074d412b-cb9b-11f0-85f9-9a82ffe01443","type":"users"}]}]},"id":"b20fdf89-f87f-4237-8f19-ed8c9c57cf5c","relationships":{"teams":{"data":[{"id":"f38d82f9-3de9-4a4a-8a48-650c0b19151f","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/b20fdf89-f87f-4237-8f19-ed8c9c57cf5c
  response:
    body: '{"data":{"id":"b20fdf89-f87f-4237-8f19-ed8c9c57cf5c","type":"policies","attributes":{"name":"Test-Update_On_Call_escalation_policy_returns_OK_response-1764252714-updated","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"6d4b5398-50bf-425d-93b8-3eae379ff8a0","type":"steps"}]},"teams":{"data":[{"id":"f38d82f9-3de9-4a4a-8a48-650c0b19151f","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/1ab20921-4556-4f30-80df-e1ce748c3fc1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/f38d82f9-3de9-4a4a-8a48-650c0b19151f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/074d412b-cb9b-11f0-85f9-9a82ffe01443
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
