interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-List_On_Call_notification_channels_for_a_user_returns_OK_response-1765550440@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"c7fe3658-67dd-4a91-bf86-3709728fd8a5","attributes":{"name":null,"handle":"test-list_on_call_notification_channels_for_a_user_returns_ok_response-1765550440@datadoghq.com","created_at":"2025-12-12T14:40:40.467657+00:00","modified_at":"2025-12-12T14:40:40.467657+00:00","email":"test-list_on_call_notification_channels_for_a_user_returns_ok_response-1765550440@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c74061cf101e1fea18813bda82103b47?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"config":{"address":"test-list_on_call_notification_channels_for_a_user_returns_ok_response-1765550440@datadoghq.com","formats":["html"],"type":"email"}},"type":"notification_channels"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/users/c7fe3658-67dd-4a91-bf86-3709728fd8a5/notification-channels
  response:
    body: '{"data":{"id":"8e9a9ded-ff10-4661-8d56-b4b789f54bf1","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"test-list_on_call_notification_channels_for_a_user_returns_ok_response-1765550440@datadoghq.com","formats":["html"]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/c7fe3658-67dd-4a91-bf86-3709728fd8a5
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
