interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"9d64aed1-20ba-11f0-9fba-9e18c50abaf7","attributes":{"name":null,"handle":"test-update_on_call_escalation_policy_returns_ok_response-1745464632@datadoghq.com","created_at":"2025-04-24T03:17:12.511290+00:00","modified_at":"2025-04-24T03:17:12.511290+00:00","email":"test-update_on_call_escalation_policy_returns_ok_response-1745464632@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5eab1952bf2bb1dd7e013fe5aff37205?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-f9de9970024d1bd3","name":"test-name-f9de9970024d1bd3"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"2265b16b-975f-494b-b6c7-d12774580f81","attributes":{"name":"test-name-f9de9970024d1bd3","handle":"test-handle-f9de9970024d1bd3","summary":null,"description":null,"avatar":null,"banner":10,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T03:17:12.716884+00:00","modified_at":"2025-04-24T03:17:12.716893+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2265b16b-975f-494b-b6c7-d12774580f81/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2265b16b-975f-494b-b6c7-d12774580f81/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T03:17:12.320Z","end_date":"2025-05-04T03:17:12.320Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T03:17:12.320Z"}],"name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"75777407-04a6-4136-add3-514e5dfb2a75","type":"schedules","attributes":{"name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"9787ba9f-bdc0-4be1-80df-d51c12e5c0be","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"2265b16b-975f-494b-b6c7-d12774580f81","type":"teams"},{"id":"75777407-04a6-4136-add3-514e5dfb2a75","type":"schedules"},{"id":"9d64aed1-20ba-11f0-9fba-9e18c50abaf7","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"2265b16b-975f-494b-b6c7-d12774580f81","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"2265b16b-975f-494b-b6c7-d12774580f81","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"2c8f57da-076d-40ed-a23c-c96d147b95da","type":"policies","attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"c085d5a2-a692-4576-9585-4196e6106796","type":"steps"},{"id":"d6e074c5-ef00-4bad-938b-3ef9a3f276d1","type":"steps"}]},"teams":{"data":[{"id":"2265b16b-975f-494b-b6c7-d12774580f81","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632-updated","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":3600,"id":"c085d5a2-a692-4576-9585-4196e6106796","targets":[{"id":"9d64aed1-20ba-11f0-9fba-9e18c50abaf7","type":"users"}]}]},"id":"2c8f57da-076d-40ed-a23c-c96d147b95da","relationships":{"teams":{"data":[{"id":"2265b16b-975f-494b-b6c7-d12774580f81","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/2c8f57da-076d-40ed-a23c-c96d147b95da
  response:
    body: '{"data":{"id":"2c8f57da-076d-40ed-a23c-c96d147b95da","type":"policies","attributes":{"description":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632","name":"Test-Update_on_call_escalation_policy_returns_OK_response-1745464632-updated","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"c085d5a2-a692-4576-9585-4196e6106796","type":"steps"}]},"teams":{"data":[{"id":"2265b16b-975f-494b-b6c7-d12774580f81","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/75777407-04a6-4136-add3-514e5dfb2a75
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/2265b16b-975f-494b-b6c7-d12774580f81
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/9d64aed1-20ba-11f0-9fba-9e18c50abaf7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
