interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"21184cf0-1a88-11f0-94da-ea45eb78510a","attributes":{"name":null,"handle":"test-delete_on_call_escalation_policy_returns_no_content_response-1744783241@datadoghq.com","created_at":"2025-04-16T06:00:42.160080+00:00","modified_at":"2025-04-16T06:00:42.160080+00:00","email":"test-delete_on_call_escalation_policy_returns_no_content_response-1744783241@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5ffa1fd08843f17054dbdd59de3cb3fd?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-e175551930aada6d","name":"test-name-e175551930aada6d"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"f344acbe-1d35-4e9d-a065-260b76bdc269","attributes":{"name":"test-name-e175551930aada6d","handle":"test-handle-e175551930aada6d","summary":null,"description":null,"avatar":null,"banner":5,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-16T06:00:42.836849+00:00","modified_at":"2025-04-16T06:00:42.836855+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/f344acbe-1d35-4e9d-a065-260b76bdc269/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/f344acbe-1d35-4e9d-a065-260b76bdc269/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-06T06:00:41.575Z","end_date":"2025-04-26T06:00:41.575Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-11T06:00:41.575Z"}],"name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"b982968d-7886-4ecc-8249-fe9568988fb8","type":"schedules","attributes":{"name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"24eb891e-876e-400d-a8a3-774c37908438","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241","name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"f344acbe-1d35-4e9d-a065-260b76bdc269","type":"teams"},{"id":"b982968d-7886-4ecc-8249-fe9568988fb8","type":"schedules"},{"id":"21184cf0-1a88-11f0-94da-ea45eb78510a","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"f344acbe-1d35-4e9d-a065-260b76bdc269","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"f344acbe-1d35-4e9d-a065-260b76bdc269","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"5c8e2b45-17f7-47e7-b489-c97fa1f98fae","type":"policies","attributes":{"description":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241","name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"e0f02441-53e7-4eb2-8ee4-b5f955a60dcb","type":"steps"},{"id":"cf722e14-04ee-4579-952c-f51c80c9e2da","type":"steps"}]},"teams":{"data":[]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/5c8e2b45-17f7-47e7-b489-c97fa1f98fae
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/5c8e2b45-17f7-47e7-b489-c97fa1f98fae
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"escalation_policy[5c8e2b45-17f7-47e7-b489-c97fa1f98fae]
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/b982968d-7886-4ecc-8249-fe9568988fb8
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/f344acbe-1d35-4e9d-a065-260b76bdc269
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/21184cf0-1a88-11f0-94da-ea45eb78510a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
