interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"c52fbdf7-20b6-11f0-9fba-9e18c50abaf7","attributes":{"name":null,"handle":"test-get_on_call_escalation_policy_returns_ok_response-1745462980@datadoghq.com","created_at":"2025-04-24T02:49:41.286277+00:00","modified_at":"2025-04-24T02:49:41.286277+00:00","email":"test-get_on_call_escalation_policy_returns_ok_response-1745462980@datadoghq.com","icon":"https://secure.gravatar.com/avatar/353d353320f41d073ed3b9ac3377a373?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-8daac668ecee431a","name":"test-name-8daac668ecee431a"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"c0735ecc-f533-4a25-9677-18899e041a6d","attributes":{"name":"test-name-8daac668ecee431a","handle":"test-handle-8daac668ecee431a","summary":null,"description":null,"avatar":null,"banner":7,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T02:49:41.969128+00:00","modified_at":"2025-04-24T02:49:41.969136+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/c0735ecc-f533-4a25-9677-18899e041a6d/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/c0735ecc-f533-4a25-9677-18899e041a6d/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:40.684Z","end_date":"2025-05-04T02:49:40.684Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:40.684Z"}],"name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"dc1207ba-103f-48f3-b12a-47bdaf445fe8","type":"schedules","attributes":{"name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"81eb06b1-e7e9-4dab-ab70-857841269370","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"c0735ecc-f533-4a25-9677-18899e041a6d","type":"teams"},{"id":"dc1207ba-103f-48f3-b12a-47bdaf445fe8","type":"schedules"},{"id":"c52fbdf7-20b6-11f0-9fba-9e18c50abaf7","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"c0735ecc-f533-4a25-9677-18899e041a6d","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"c0735ecc-f533-4a25-9677-18899e041a6d","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"34dcaf58-bd09-4f13-b832-9ef37eee4188","type":"policies","attributes":{"description":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"e1412324-b7d2-4547-8648-f6df812bbe94","type":"steps"},{"id":"fe4f58e3-211d-4ff7-b0fe-94b1fd595e45","type":"steps"}]},"teams":{"data":[{"id":"c0735ecc-f533-4a25-9677-18899e041a6d","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/34dcaf58-bd09-4f13-b832-9ef37eee4188
  response:
    body: '{"data":{"id":"34dcaf58-bd09-4f13-b832-9ef37eee4188","type":"policies","attributes":{"description":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","name":"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"e1412324-b7d2-4547-8648-f6df812bbe94","type":"steps"},{"id":"fe4f58e3-211d-4ff7-b0fe-94b1fd595e45","type":"steps"}]},"teams":{"data":[{"id":"c0735ecc-f533-4a25-9677-18899e041a6d","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/dc1207ba-103f-48f3-b12a-47bdaf445fe8
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/c0735ecc-f533-4a25-9677-18899e041a6d
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/c52fbdf7-20b6-11f0-9fba-9e18c50abaf7
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
