interactions:
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-11T11:01:58.116Z","end_date":"2025-05-31T11:01:58.116Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-16T11:01:58.116Z"}],"name":"Test-Update_On_Call_schedule_returns_OK_response-1747825318","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"65e112fe-2c12-4a2b-8406-522b07cccd1c","type":"schedules","attributes":{"name":"Test-Update_On_Call_schedule_returns_OK_response-1747825318","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"7f8a6ed7-bc86-48ef-872b-f68b05b28f6b","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_On_Call_schedule_returns_OK_response-1747825318@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"03c4b5bd-3633-11f0-8139-36deebce65db","attributes":{"name":null,"handle":"test-update_on_call_schedule_returns_ok_response-1747825318@datadoghq.com","created_at":"2025-05-21T11:01:58.294092+00:00","modified_at":"2025-05-21T11:01:58.294092+00:00","email":"test-update_on_call_schedule_returns_ok_response-1747825318@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e928709686b830ca3733b32dcf0e20e6?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-190dee1bd22c94a1","name":"test-name-190dee1bd22c94a1"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"72687222-d9aa-4f6a-8af2-1f1811c66378","attributes":{"name":"test-name-190dee1bd22c94a1","handle":"test-handle-190dee1bd22c94a1","summary":null,"description":null,"avatar":null,"banner":7,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-21T11:01:58.429935+00:00","modified_at":"2025-05-21T11:01:58.429944+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/72687222-d9aa-4f6a-8af2-1f1811c66378/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/72687222-d9aa-4f6a-8af2-1f1811c66378/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-11T11:01:58.116Z","end_date":"2025-05-31T11:01:58.116Z","id":"7f8a6ed7-bc86-48ef-872b-f68b05b28f6b","interval":{"seconds":300},"members":[{"user":{"id":"03c4b5bd-3633-11f0-8139-36deebce65db"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-16T11:01:58.116Z"}],"name":"Test-Update_On_Call_schedule_returns_OK_response-1747825318","time_zone":"America/New_York"},"id":"65e112fe-2c12-4a2b-8406-522b07cccd1c","relationships":{"teams":{"data":[{"id":"72687222-d9aa-4f6a-8af2-1f1811c66378","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: PUT
    url: https://api.datadoghq.com/api/v2/on-call/schedules/65e112fe-2c12-4a2b-8406-522b07cccd1c
  response:
    body: '{"data":{"id":"65e112fe-2c12-4a2b-8406-522b07cccd1c","type":"schedules","attributes":{"name":"Test-Update_On_Call_schedule_returns_OK_response-1747825318","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"7f8a6ed7-bc86-48ef-872b-f68b05b28f6b","type":"layers"}]},"teams":{"data":[{"id":"72687222-d9aa-4f6a-8af2-1f1811c66378","type":"teams"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/72687222-d9aa-4f6a-8af2-1f1811c66378
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/03c4b5bd-3633-11f0-8139-36deebce65db
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/65e112fe-2c12-4a2b-8406-522b07cccd1c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
