interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"eb22c300-3c48-11f0-b6eb-6e406f40657f","attributes":{"name":null,"handle":"test-get_on_call_escalation_policy_returns_ok_response-1748494432@datadoghq.com","created_at":"2025-05-29T04:53:52.872150+00:00","modified_at":"2025-05-29T04:53:52.872150+00:00","email":"test-get_on_call_escalation_policy_returns_ok_response-1748494432@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28954a95ef3e23c51599bc32b67118de?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"handle":"test-handle-bbce2cc58d5af798","name":"test-name-bbce2cc58d5af798"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/team
  response:
    body: '{"data":{"type":"team","id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","attributes":{"name":"test-name-bbce2cc58d5af798","handle":"test-handle-bbce2cc58d5af798","summary":null,"description":null,"avatar":null,"banner":9,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-29T04:53:53.543425+00:00","modified_at":"2025-05-29T04:53:53.543434+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dba59993-2c99-46f0-b91b-9e7936a4a78e/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dba59993-2c99-46f0-b91b-9e7936a4a78e/permission-settings"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"layers":[{"effective_date":"2025-05-19T04:53:52.267Z","end_date":"2025-06-08T04:53:52.267Z","interval":{"days":1},"members":[{"user":{"id":"eb22c300-3c48-11f0-b6eb-6e406f40657f"}}],"name":"Layer 1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-24T04:53:52.267Z"}],"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body: '{"data":{"id":"996bb88f-ddaf-491b-84df-b8c60c9c358a","type":"schedules","attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"016cfd54-38ec-4d23-938b-f07e8643a3f7","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams"},{"id":"996bb88f-ddaf-491b-84df-b8c60c9c358a","type":"schedules"},{"id":"eb22c300-3c48-11f0-b6eb-6e406f40657f","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams"}]}},"type":"policies"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body: '{"data":{"id":"e75b436d-cbb7-44d6-bf87-4f53073a5bb5","type":"policies","attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"c4cd74b1-1eb4-48a7-9fc0-a66f4e12919b","type":"steps"},{"id":"f11818e3-db9e-4601-b1e1-391fa54b6087","type":"steps"}]},"teams":{"data":[{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams"}]}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: GET
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/e75b436d-cbb7-44d6-bf87-4f53073a5bb5?include=steps.targets
  response:
    body: '{"data":{"id":"e75b436d-cbb7-44d6-bf87-4f53073a5bb5","type":"policies","attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"c4cd74b1-1eb4-48a7-9fc0-a66f4e12919b","type":"steps"},{"id":"f11818e3-db9e-4601-b1e1-391fa54b6087","type":"steps"}]},"teams":{"data":[{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams"}]}}},"included":[{"id":"c4cd74b1-1eb4-48a7-9fc0-a66f4e12919b","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":3600},"relationships":{"targets":{"data":[{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams"},{"id":"996bb88f-ddaf-491b-84df-b8c60c9c358a","type":"schedules"},{"id":"eb22c300-3c48-11f0-b6eb-6e406f40657f","type":"users"}]}}},{"id":"f11818e3-db9e-4601-b1e1-391fa54b6087","type":"steps","attributes":{"assignment":"round-robin","escalate_after_seconds":3600},"relationships":{"targets":{"data":[{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams"}]}}},{"id":"996bb88f-ddaf-491b-84df-b8c60c9c358a","type":"schedules","attributes":{"name":"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"016cfd54-38ec-4d23-938b-f07e8643a3f7","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}},{"id":"eb22c300-3c48-11f0-b6eb-6e406f40657f","type":"users","attributes":{"email":"test-get_on_call_escalation_policy_returns_ok_response-1748494432@datadoghq.com","name":"","status":"pending"}},{"id":"dba59993-2c99-46f0-b91b-9e7936a4a78e","type":"teams","attributes":{"avatar":"","description":"","handle":"test-handle-bbce2cc58d5af798","name":"test-name-bbce2cc58d5af798"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/e75b436d-cbb7-44d6-bf87-4f53073a5bb5
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 6
    method: DELETE
    url: https://api.datadoghq.com/api/v2/on-call/schedules/996bb88f-ddaf-491b-84df-b8c60c9c358a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 7
    method: DELETE
    url: https://api.datadoghq.com/api/v2/team/dba59993-2c99-46f0-b91b-9e7936a4a78e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 8
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/eb22c300-3c48-11f0-b6eb-6e406f40657f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
