interactions:
- request:
    body: |
      {"data":{"attributes":{"auth_method":"oauth","client_id":"fakeclientid","client_secret":"fakeclientsecret","domain":"https://dev-test.okta.com/","name":"testlistoktaaccountsreturnsokresponse1700585986"},"type":"okta-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts
  response:
    body: '{"data":{"type":"okta-accounts","attributes":{"client_id":"fakeclientid","name":"testlistoktaaccountsreturnsokresponse1700585986","auth_method":"oauth","domain":"https://dev-test.okta.com/"},"id":"a5e9a04b-ac5b-4a5c-a4d5-c697deb232aa"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts/a5e9a04b-ac5b-4a5c-a4d5-c697deb232aa
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
