interactions:
- request:
    body: |
      {"data":{"attributes":{"auth_method":"oauth","client_id":"client_id","client_secret":"client_secret","domain":"https://example.okta.com/","name":"testaddoktaaccountreturnsokresponse1706540332"},"id":"f749daaf-682e-4208-a38d-c9b43162c609","type":"okta-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts
  response:
    body: '{"data":{"type":"okta-accounts","attributes":{"auth_method":"oauth","client_id":"client_id","domain":"https://example.okta.com/","name":"testaddoktaaccountreturnsokresponse1706540332"},"id":"1e62be98-94ab-403d-9491-98b7fbf9a7de"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts/1e62be98-94ab-403d-9491-98b7fbf9a7de
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
