interactions:
- request:
    body: |
      {"data":{"attributes":{"auth_method":"oauth","client_id":"fakeclientid","client_secret":"fakeclientsecret","domain":"https://dev-test.okta.com/","name":"testgetoktaaccountreturnsokresponse1700585984"},"type":"okta-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts
  response:
    body: '{"data":{"type":"okta-accounts","attributes":{"client_id":"fakeclientid","auth_method":"oauth","domain":"https://dev-test.okta.com/","name":"testgetoktaaccountreturnsokresponse1700585984"},"id":"2bf39935-f5c8-46b1-b41b-eda0b4bd2e78"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts/2bf39935-f5c8-46b1-b41b-eda0b4bd2e78
  response:
    body: '{"data":{"type":"okta-accounts","attributes":{"client_id":"fakeclientid","auth_method":"oauth","domain":"https://dev-test.okta.com/","name":"testgetoktaaccountreturnsokresponse1700585984"},"id":"2bf39935-f5c8-46b1-b41b-eda0b4bd2e78"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts/2bf39935-f5c8-46b1-b41b-eda0b4bd2e78
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
