interactions:
- request:
    body: |
      {"data":{"attributes":{"auth_method":"oauth","client_id":"fakeclientid","client_secret":"fakeclientsecret","domain":"https://dev-test.okta.com/","name":"testupdateoktaaccountreturnsokresponse1706630043"},"type":"okta-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts
  response:
    body: '{"data":{"type":"okta-accounts","attributes":{"name":"testupdateoktaaccountreturnsokresponse1706630043","auth_method":"oauth","domain":"https://dev-test.okta.com/","client_id":"fakeclientid"},"id":"e8630371-1a60-4444-b84e-f674beec5f73"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"auth_method":"oauth","client_id":"client_id","client_secret":"client_secret","domain":"https://example.okta.com/"},"type":"okta-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts/e8630371-1a60-4444-b84e-f674beec5f73
  response:
    body: '{"data":{"type":"okta-accounts","attributes":{"name":"testupdateoktaaccountreturnsokresponse1706630043","client_id":"client_id","domain":"https://example.okta.com/","auth_method":"oauth"},"id":"7caeaadf-8391-45b0-b99b-5356eed810fd"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/okta/accounts/e8630371-1a60-4444-b84e-f674beec5f73
  response:
    body: '{"errors":["Unknown error occurred: "]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
