---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/1234?group_states=notagroupstate
        method: GET
      response:
        body: |
            {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 0s
