interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Cassette Workflow DELETE","spec":{"steps":[],"triggers":[{"startStepNames":[],"workflowTrigger":{}}]}},"type":"workflows"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/workflows
  response:
    body: '{"data":{"id":"d06bba61-d243-433f-8b57-c75ca1561b8e","type":"workflows","attributes":{"createdAt":"2025-02-03T01:41:52.579742Z","description":"","name":"Cassette
      Workflow DELETE","published":true,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":[],"updatedAt":"2025-02-03T01:41:52.579742Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/workflows/d06bba61-d243-433f-8b57-c75ca1561b8e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/workflows/d06bba61-d243-433f-8b57-c75ca1561b8e
  response:
    body: '{"errors":[{"detail":"workflow not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
