interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Cassette Workflow DELETE","spec":{"steps":[],"triggers":[{"startStepNames":[],"workflowTrigger":{}}]}},"type":"workflows"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/workflows
  response:
    body: '{"data":{"id":"c844af5e-b121-469e-a23e-287b6e138dbb","type":"workflows","attributes":{"createdAt":"2025-02-03T01:41:53.100233Z","description":"","name":"Cassette
      Workflow DELETE","published":true,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":[],"updatedAt":"2025-02-03T01:41:53.100233Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/workflows/c844af5e-b121-469e-a23e-287b6e138dbb
  response:
    body: '{"data":{"id":"c844af5e-b121-469e-a23e-287b6e138dbb","type":"workflows","attributes":{"createdAt":"2025-02-03T01:41:53.100233Z","description":"","name":"Cassette
      Workflow DELETE","published":true,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":[],"updatedAt":"2025-02-03T01:41:53.100233Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/workflows/c844af5e-b121-469e-a23e-287b6e138dbb
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
