---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-TestScenarios-Feature_Users-Scenario_Create_a_user_leading_to_OK-local-1593513644@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"26bdd360-babe-11ea-9c85-9ff97d4186eb","attributes":{"name":"Datadog
      API Client Python","handle":"go-testscenarios-feature_users-scenario_create_a_user_leading_to_ok-local-1593513644@datadoghq.com","created_at":"2020-06-30T10:40:44.473464+00:00","email":"go-testscenarios-feature_users-scenario_create_a_user_leading_to_ok-local-1593513644@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8b70049c2768b65b56fae61b7524a8ec?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 8jOW1djIgkdkj4STw+0pQ3G+kGKfu548DWINvnE6phacY0k9vgC3cU1LaI38XIYk
      X-Dd-Version:
      - "35.2682096"
    status: 201 Created
    code: 201
    duration: ""
