---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-TestScenarios-Feature_Users-Scenario_Create_a_user_leading_to_OK-local-1593452304@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"55609232-ba2f-11ea-9c6a-8fd50a4d54a9","attributes":{"name":"Datadog
      API Client Python","handle":"go-testscenarios-feature_users-scenario_create_a_user_leading_to_ok-local-1593452304@datadoghq.com","created_at":"2020-06-29T17:38:24.682442+00:00","email":"go-testscenarios-feature_users-scenario_create_a_user_leading_to_ok-local-1593452304@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fcd35607be9b3bce30874f4132019d52?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rpB/2GMZHvzTHZxhwmnNa1XnSQuif7FV+gIndoDc8IvUeRNb65r4x+P7Djp1119C
      X-Dd-Version:
      - "35.2678794"
    status: 201 Created
    code: 201
    duration: ""
