---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_disable_a_user_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593452304@datadoghq.com","name":"go-testscenarios-feature_users-scenario_disa","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"558a0734-ba2f-11ea-9c6a-5f6eb36961fd","attributes":{"name":"go-testscenarios-feature_users-scenario_disa","handle":"go-testscenarios-feature_users-scenario_disable_a_user_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593452304@datadoghq.com","created_at":"2020-06-29T17:38:24.954921+00:00","email":"go-testscenarios-feature_users-scenario_disable_a_user_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593452304@datadoghq.com","icon":"https://secure.gravatar.com/avatar/62eb47d9715c728dc665314aefb81793?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - x4pYHtiOW9rUeREgXmH2iIgBaXVGD7x1RIZUg56H0ghPppdtz0ZBEK6nMs8tuoqc
      X-Dd-Version:
      - "35.2679051"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/558a0734-ba2f-11ea-9c6a-5f6eb36961fd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hvGKayUGXeVy/DmHDcIjD3+gP6x9d+NwveU9CYPD06LgIrg7NUxobVuhZiOcmptK
      X-Dd-Version:
      - "35.2679051"
    status: 204 No Content
    code: 204
    duration: ""
