interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_a_Dashboard_Report_returns_OK_response-1668631887 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"ptc-sxq-eby","title":"Test-Get_a_Dashboard_Report_returns_OK_response-1668631887
      with Profile Metrics Query","url":"/dashboard/ptc-sxq-eby/test-getadashboardreportreturnsokresponse-1668631887-with-profile-metrics-query","created_at":"2022-11-16T20:51:27.116846+00:00","modified_at":"2022-11-16T20:51:27.116846+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":3264856122260215}],"layout_type":"ordered"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.","destinations":{"email":{"recipient_addresses":["jane.doe@example.com"]}},"schedule":{"active":true,"frequency":"1d","repeat_at":"13:30","repeat_on_day_of_month":null,"repeat_on_day_of_week":null,"timezone":"America/New_York"},"timeframe":"1w","title":"Summary of recent stability and performance for Web Application Backend"},"type":"dashboard_reports"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/dashboards/ptc-sxq-eby/reports
  response:
    body: '{"included":[{"attributes":{"name":null,"email":"frog@datadoghq.com"},"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},{"attributes":{"dashboard_type":"custom_dashboard","title":"Test-Get_a_Dashboard_Report_returns_OK_response-1668631887
      with Profile Metrics Query"},"type":"dashboards","id":"ptc-sxq-eby"}],"data":{"relationships":{"dashboard":{"data":{"type":"dashboards","id":"ptc-sxq-eby"}},"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},"links":{"related":"/api/v2/users/3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"attributes":{"description":"This
      report summarizes the recent errors, latency, and uptime of our Web Application
      Backend.","schedule":{"repeat_on_day_of_week":null,"repeat_at":"13:30","frequency":"1d","timezone":"America/New_York","active":true,"repeat_on_day_of_month":null},"created_at":"2022-11-16T20:51:27.625357+00:00","destination":{"export_format":{"type":"html"},"export_type":"email","email_addresses":["jane.doe@example.com"]},"modified_at":null,"template_variables":null,"timeframe":"1w","title":"Summary
      of recent stability and performance for Web Application Backend","destinations":{"email":{"recipient_addresses":["jane.doe@example.com"]}}},"type":"dashboard_reports","id":"70bbbf92-65f0-11ed-ab88-da7ad0900002","links":{"self":"/api/v2/dashboards/ptc-sxq-eby/reports/70bbbf92-65f0-11ed-ab88-da7ad0900002"}},"links":{"self":"/api/v2/dashboards/ptc-sxq-eby/reports/70bbbf92-65f0-11ed-ab88-da7ad0900002"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/dashboards/ptc-sxq-eby/reports/70bbbf92-65f0-11ed-ab88-da7ad0900002
  response:
    body: '{"included":[{"attributes":{"name":null,"email":"frog@datadoghq.com"},"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},{"attributes":{"dashboard_type":"custom_dashboard","title":"Test-Get_a_Dashboard_Report_returns_OK_response-1668631887
      with Profile Metrics Query"},"type":"dashboard[...]
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/ptc-sxq-eby
  response:
    body: '{"deleted_dashboard_id":"ptc-sxq-eby"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
