interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Delete_a_Dashboard_Report_returns_No_Content_response-1668631885 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"3we-23r-759","title":"Test-Delete_a_Dashboard_Report_returns_No_Content_response-1668631885
      with Profile Metrics Query","url":"/dashboard/3we-23r-759/test-deleteadashboardreportreturnsnocontentresponse-1668631885-with-profile-metr","created_at":"2022-11-16T20:51:25.124472+00:00","modified_at":"2022-11-16T20:51:25.124472+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":3551218226176443}],"layout_type":"ordered"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.","destinations":{"email":{"recipient_addresses":["jane.doe@example.com"]}},"schedule":{"active":true,"frequency":"1d","repeat_at":"13:30","repeat_on_day_of_month":null,"repeat_on_day_of_week":null,"timezone":"America/New_York"},"timeframe":"1w","title":"Summary of recent stability and performance for Web Application Backend"},"type":"dashboard_reports"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/dashboards/3we-23r-759/reports
  response:
    body: '{"included":[{"attributes":{"name":null,"email":"frog@datadoghq.com"},"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},{"attributes":{"dashboard_type":"custom_dashboard","title":"Test-Delete_a_Dashboard_Report_returns_No_Content_response-1668631885
      with Profile Metrics Query"},"type":"dashboards","id":"3we-23r-759"}],"data":{"relationships":{"dashboard":{"data":{"type":"dashboards","id":"3we-23r-759"}},"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},"links":{"related":"/api/v2/users/3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"attributes":{"description":"This
      report summarizes the recent errors, latency, and uptime of our Web Application
      Backend.","schedule":{"repeat_on_day_of_week":null,"repeat_at":"13:30","frequency":"1d","timezone":"America/New_York","active":true,"repeat_on_day_of_month":null},"created_at":"2022-11-16T20:51:25.304579+00:00","destination":{"export_format":{"type":"html"},"export_type":"email","email_addresses":["jane.doe@example.com"]},"modified_at":null,"template_variables":null,"timeframe":"1w","title":"Summary
      of recent stability and performance for Web Application Backend","destinations":{"email":{"recipient_addresses":["jane.doe@example.com"]}}},"type":"dashboard_reports","id":"6f59a0ec-65f0-11ed-85ed-da7ad0900002","links":{"self":"/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002"}},"links":{"self":"/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002
  response:
    body: '{"errors":["Dashboard Report (6f59a0ec-65f0-11ed-85ed-da7ad0900002) not
      found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/3we-23r-759
  response:
    body: '{"deleted_dashboard_id":"3we-23r-759"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
