interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/catalog/relation?page%5Blimit%5D=20
  response:
    body: '{"data":[{"id":"api:default/09ad2c36-8144-44e6-b56b-7322db102812:RelationTypeHasPart:endpoint:default/GET:/api/my-api","type":"relation","attributes":{"from":{"kind":"api","name":"09ad2c36-8144-44e6-b56b-7322db102812","namespace":"default"},"to":{"kind":"endpoint","name":"GET:/api/my-api","namespace":"default"},"type":"RelationTypeHasPart"},"meta":{"createdAt":"2025-04-01T15:30:40.095161Z","modifiedAt":"2025-04-01T15:30:40.095161Z","source":"schema","definedBy":"api:default/09ad2c36-8144-44e6-b56b-7322db102812"}},{"id":"api:default/262b9bbc-57c3-43a3-bb07-737ec859443b:RelationTypeHasPart:endpoint:default/GET:/api/my-api","type":"relation","attributes":{"from":{"kind":"api","name":"262b9bbc-57c3-43a3-bb07-737ec859443b","namespace":"default"},"to":{"kind":"endpoint","name":"GET:/api/my-api","namespace":"default"},"type":"RelationTypeHasPart"},"meta":{"createdAt":"2025-04-01T15:30:40.093483Z","modifiedAt":"2025-04-01T15:30:40.093483Z","source":"schema","d[...]
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/catalog/relation?page%5Blimit%5D=20&page%5Boffset%5D=20
  response:
    body: '{"data":[{"id":"endpoint:default/GET:/api/my-api:RelationTypePartsOf:api:default/09ad2c36-8144-44e6-b56b-7322db102812","type":"relation","attributes":{"from":{"kind":"endpoint","name":"GET:/api/my-api","namespace":"default"},"to":{"kind":"api","name":"09ad2c36-8144-44e6-b56b-7322db102812","namespace":"[...]
[...]
