interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"filter":{"from":"now-15m","query":"service:python*","to":"now"},"options":{"timezone":"GMT"},"page":{"limit":2},"sort":"timestamp"},"type":"search_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/spans/events/search
  response:
    body: '{"data":[{"id":"AYkGun04AAAo1YWD8PZ5wxoT","type":"spans","attributes":{"custom":{"application_id":"3df23a7e-1b4d-4d56-8829-9fd80e8c5ba9","application_name":"python-sample-app-spartancrimson","buildpack_version":"4.37.0","cf_instance_ip":"10.0.4.8","component":"flask","container_id":"8ac6ec63-4309-4461-5abc-6232","duration":4218725,"env":"pcf-spartancrimson","flask":{"endpoint":"hello_world","url_rule":"/","version":"2.1.2"},"http":{"host":"localhost","method":"GET","path_group":"/","route":"/","status_code":"200","url":"http://localhost:8080/","url_details":{"host":"localhost","path":"/","port":"8080","scheme":"http"},"useragent":"curl/7.58.0"},"instance_index":"0","language":"python","process_id":"437","runtime-id":"7f72d8756af44893a60b69a077caded8","space_name":"Space_1","span":{"kind":"server"},"uri":"python-sample-app-spartancrimson.apps.spartancrimson.cf-app.com","version":"1.0.0"},"end_timestamp":"2023-06-29T10:37:09.221Z","env":"pcf-spartancrimson","host":"compute-0-7cf8c81f-0dee-468b-af1b-bb6ba06b4b29","ingestion_reason":"auto","parent_id":"0","resource_hash":"2c8cc8275262b3cd","resource_name":"GET
      /","retained_by":"diversity_sampling","service":"python-sample-app-spartancrimson","single_span":false,"span_id":"12174885344805365765","start_timestamp":"2023-06-29T10:37:09.217Z","tags":["foo:bar","deployment:cf-6a3777f94c200f214075","app_instance_index:0","uri:python-sample-app-spartancrimson.apps.spartancrimson.cf-app.com","cf-6a3777f94c200f214075-compute","source:apm","project:cf-platform-engineering-cipp2","space_name:space_1","internal-hostname:vm-b9bc5b36-128c-4584-7638-326ba16554fe.c.cf-platform-engineering-cipp2.internal","compute","label_key:label_value","job:compute","bosh_az:us-central1-f","version:1.0.0","app_name:python-sample-app-spartancrimson","buildpack_version[...]
- id: 1
  request:
    body: |
      {"data":{"attributes":{"filter":{"from":"now-15m","query":"service:python*","to":"now"},"options":{"timezone":"GMT"},"page":{"cursor":"eyJhZnRlciI6IkFnQUFBWWtHdW9TSmhsc20td0FBQUFBQUFBQVlBQUFBQUVGWmEwZDFjRVJDUVVGRGJqQmZWbFJsV0VONWR6aHBUQUFBQUNRQUFBQUFNREU0T1RBMll6QXROVEZrT0MwME5EYzVMV0ZsT0RndE56WXdZbVl4TldRM016QXkiLCJ2YWx1ZXMiOlsiMjAyMy0wNi0yOVQxMDozNzoxNC4yNDlaIiwtMjA0MDg0NjU5N119","limit":2},"sort":"timestamp"},"type":"search_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/spans/events/search
  response:
    body: '{"data":[{"id":"AYk[...]
