interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/spans/events?page%5Blimit%5D=2
  response:
    body: '{"data":[{"id":"AYkGw9AoAAAjORSx5nT-SgoN","type":"spans","attributes":{"custom":{"application_id":"cfeedbda-ce30-4f8e-bd4a-fb5f7e1dfa0f","application_name":"java-sample-app-spartancrimson","buildpack_version":"4.37.0","cf_instance_ip":"10.0.4.8","component":"spring-web-controller","container_id":"a5818728-ea66-4c17-551e-20ed","duration":990123,"env":"pcf-spartancrimson","instance_index":"0","language":"jvm","space_name":"Space_1","span":{"kind":"server"},"thread":{"id":48,"name":"http-nio-8080-exec-5"},"uri":"java-sample-app-spartancrimson.apps.spartancrimson.cf-app.com","version":"1.0.0"},"end_timestamp":"2023-06-29T10:47:20.655Z","env":"pcf-spartancrimson","host":"compute-0-7cf8c81f-0dee-468b-af1b-bb6ba06b4b29","ingestion_reason":"auto","parent_id":"448280336884642854","resource_hash":"7b7c528ae49eecb8","resource_name":"Controller.index","retained_by":"diversity_sampling","service":"java-sample-app-spartancrimson","single_span":false,"span_id":"7127979198849133880","start_timestamp":"2023-06-29T10:47:20.655Z","tags":["app_instance_guid:a5818728-ea66-4c17-551e-20ed","foo:bar","deployment:cf-6a3777f94c200f214075","app_instance_index:0","app_guid:cfeedbda-ce30-4f8e-bd4a-fb5f7e1dfa0f","cf-6a3777f94c200f214075-compute","source:apm","space_name:space_1","app-id:cfeedbda-ce30-4f8e-bd4a-fb5f7e1dfa0f","internal-hostname:vm-b9bc5b36-128c-4584-7638-326ba16554fe.c.cf-platform-engineering-cipp2.internal","project:cf-platform-engineering-cipp2","compute","label_key:label_value","job:compute","bosh_az:us-central1-f","uri:[...]
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/spans/events?page%5Blimit%5D=2&page%5Bcursor%5D=eyJhZnRlciI6IkFnQUFBWWtHdzdHdGxxTEVFUUFBQUFBQUFBQVlBQUFBQUVGWmEwZDNOM2xtUVVGRU9HZHpkRW8zWjJORFRsVkJiUUFBQUNRQUFBQUFNREU0T1RBMll6TXRZelUwWmkwMFpUWXlMV0k1WVdRdFl6azFNell5TWpkak4yTmsiLCJ2YWx1ZXMiOlsiMjAyMy0wNi0yOVQxMDo0NzoxNS42MjlaIiwtMTc2NzcxNzg3MV19
  response:
    body: '{"data":[{"id":"AYkGw6kXAAASYY9WgCMoccQR","type":"spans","attr[...]
