interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/spans/events
  response:
    body: '{"data":[{"id":"AYkGxUNAAACwbKvWE7Iew35s","type":"spans","attributes":{"custom":{"application_id":"cfeedbda-ce30-4f8e-bd4a-fb5f7e1dfa0f","application_name":"java-sample-app-spartancrimson","buildpack_version":"4.37.0","cf_instance_ip":"10.0.4.8","component":"spring-web-controller","container_id":"a5818728-ea66-4c17-551e-20ed","duration":514696,"env":"pcf-spartancrimson","instance_index":"0","language":"jvm","space_name":"Space_1","span":{"kind":"server"},"thread":{"id":48,"name":"http-nio-8080-exec-5"},"uri":"java-sample-app-spartancrimson.apps.spartancrimson.cf-app.com","version":"1.0.0"},"end_timestamp":"2023-06-29T10:48:56.164Z","env":"pcf-spartancrimson","host":"compute-0-7cf8c81f-0dee-468b-af1b-bb6ba06b4b29","ingestion_reason":"auto","parent_id":"449167507436699662","resource_hash":"7b7c528ae49eecb8","resource_name":"Controller.index","retained_by":"diversity_sampling","service":"java-sample-app-spartancrimson","single_span":false,"span_id":"3601830290946202752","start_timestamp":"2023-06-29T10:48:56.164Z","tags":["foo:bar","app_instance_guid:a5818728-ea66-4c17-551e-20ed","deployment:cf-6a3777f94c200f214075","app_instance_index:0","app_guid:cfeedbda-ce30-4f8e-bd4a-fb5f7e1dfa0f","cf-6a3777f94c200f214075-compute","source:apm","project:cf-platform-engineering-cipp2","app-id:cfeedbda-ce30-4f8e-bd4a-fb5f7e1dfa0f","space_name:space_1","internal-hostname:vm-b9bc5b36-128c-4584-7638-326ba16554fe.c.cf-platform-engineering-cipp2.internal","compute","job:compute","label_key:label_value","bosh_az:us-central1-f","uri:[...]
