interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2023-10-11T15%3A12%3A09.282Z&end_hr=2023-10-13T15%3A12%3A09.282Z
  response:
    body: '{"data":[{"id":"355647a75c3260178b469bb5f0d27751bcdf74c97170e13d55553bee12f9462f","type":"usage_timeseries","attributes":{"product_family":"lambda-traced-invocations","usage_type":"lambda_traced_invocations_count","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","timeseries":[{"timestamp":"2023-10-11T15:00:00+00:00","value":null},{"timestamp":"2023-10-11T16:00:00+00:00","value":null},{"timestamp":"2023-10-11T17:00:00+00:00","value":null},{"timestamp":"2023-10-11T18:00:00+00:00","value":null},{"timestamp":"2023-10-11T19:00:00+00:00","value":null},{"timestamp":"2023-10-11T20:00:00+00:00","value":null},{"timestamp":"2023-10-11T21:00:00+00:00","value":null},{"timestamp":"2023-10-11T22:00:00+00:00","value":null},{"timestamp":"2023-10-11T23:00:00+00:00","value":null},{"timestamp":"2023-10-12T00:00:00+00:00","value":null}[...]
