interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/application_security?start_hr=2023-10-11T15%3A16%3A50.772Z&end_hr=2023-10-13T15%3A16%3A50.772Z
  response:
    body: '{"data":[{"id":"f9835e00af7d43da5fa029132bb2227473df0f5dc80bf2cc1eb51ddb372f47d5","type":"usage_timeseries","attributes":{"product_family":"app-sec","usage_type":"app_sec_host_count","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","timeseries":[{"timestamp":"2023-10-11T15:00:00+00:00","value":null},{"timestamp":"2023-10-11T16:00:00+00:00","value":null},{"timestamp":"2023-10-11T17:00:00+00:00","value":null},{"timestamp":"2023-10-11T18:00:00+00:00","value":null},{"timestamp":"2023-10-11T19:00:00+00:00","value":null},{"timestamp":"2023-10-11T20:00:00+00:00","value":null},{"timestamp":"2023-10-11T21:00:00+00:00","value":null},{"timestamp":"2023-10-11T22:00:00+00:00","value":null},{"timestamp":"2023-10-11T23:00:00+00:00","value":null},{"timestamp":"2023-10-12T00:00:00+00:00","value":null}[...]
