interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/hourly_usage?filter%5Btimestamp%5D%5Bstart%5D=2025-05-09T12%3A32%3A50.286Z&filter%5Bproduct_families%5D=infra_hosts
  response:
    body: '{"data":[{"id":"95e6860655fe3830ed86fae333ff8c373a4fb260188b28af92ac7979d420c3c6","type":"usage_timeseries","attributes":{"product_family":"infra_hosts","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","account_name":"Scott''s
      dogfood acct (102260)","account_public_id":"806e82667","region":"us","timestamp":"2025-05-09T12:00:00+00:00","measurements":[{"usage_type":"agent_host_count","value":2},{"usage_type":"alibaba_host_count","value":0},{"usage_type":"apm_azure_app_service_host_count","value":null},{"usage_type":"apm_devsecops_host_count","value":null},{"usage_type":"apm_host_count","value":null},{"usage_type":"apm_host_count_incl_usm","value":null},{"usage_type":"apm_uncategorized_host_count","value":null},{"usage_type":"aws_host_count","value":0},{"usage_type":"azure_host_count","value":0},{"usage_type":"container_count","value":null},{"usage_type":"container_count_excl_agent",[...]
