interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/observability_pipelines?start_hr=2022-04-15T18%3A23%3A40.123Z&end_hr=2022-04-17T18%3A23%3A40.123Z
  response:
    body: '{"data":[{"attributes":{"org_name":"DD Integration Tests (321813)","usage_type":"observability_pipelines_bytes_processed","public_id":"fasjyydbcgwwc2uc","timeseries":[{"timestamp":"2022-04-15T18:00:00+00:00","value":null},{"timestamp":"2022-04-15T19:00:00+00:00","value":null},{"timestamp":"2022-04-15T20:00:00+00:00","value":null},{"timestamp":"2022-04-15T21:00:00+00:00","value":null},{"timestamp":"2022-04-15T22:00:00+00:00","value":null},{"timestamp":"2022-04-15T23:00:00+00:00","value":null},{"timestamp":"2022-04-16T00:00:00+00:00","value":null},{"timestamp":"2022-04-16T01:00:00+00:00","value":null},{"timestamp":"2022-04-16T02:00:00+00:00","value":null},{"timestamp":"2022-04-16T03:00:00+00:00","value":null}[...]
