interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/application_security?start_hr=2025-05-07T12%3A32%3A53.445Z&end_hr=2025-05-09T12%3A32%3A53.445Z
  response:
    body: '{"data":[{"id":"d102f037cf2e5fefcb5c41bfe232cda020236a44536bf3ef693431f9beb6ace8","type":"usage_timeseries","attributes":{"product_family":"app-sec","usage_type":"app_sec_host_count","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","timeseries":[{"timestamp":"2025-05-07T12:00:00+00:00","value":null},{"timestamp":"2025-05-07T13:00:00+00:00","value":null},{"timestamp":"2025-05-07T14:00:00+00:00","value":null},{"timestamp":"2025-05-07T15:00:00+00:00","value":null},{"timestamp":"2025-05-07T16:00:00+00:00","value":null},{"timestamp":"2025-05-07T17:00:00+00:00","value":null},{"timestamp":"2025-05-07T18:00:00+00:00","value":null},{"timestamp":"2025-05-07T19:00:00+00:00","value":null},{"timestamp":"2025-05-07T20:00:00+00:00","value":null},{"timestamp":"2025-05-07T21:00:00+00:00","value":null}[...]
