interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/observability_pipelines?start_hr=2025-05-07T12%3A32%3A54.286Z&end_hr=2025-05-09T12%3A32%3A54.286Z
  response:
    body: '{"data":[{"id":"f07b3425278d54ceb000a2b31d0b1268515fc1684d57e39bd567b9d4752c2072","type":"usage_timeseries","attributes":{"product_family":"observability-pipelines","usage_type":"observability_pipelines_bytes_processed","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","timeseries":[{"timestamp":"2025-05-07T12:00:00+00:00","value":null},{"timestamp":"2025-05-07T13:00:00+00:00","value":null},{"timestamp":"2025-05-07T14:00:00+00:00","value":null},{"timestamp":"2025-05-07T15:00:00+00:00","value":null},{"timestamp":"2025-05-07T16:00:00+00:00","value":null},{"timestamp":"2025-05-07T17:00:00+00:00","value":null},{"timestamp":"2025-05-07T18:00:00+00:00","value":null},{"timestamp":"2025-05-07T19:00:00+00:00","value":null},{"timestamp":"2025-05-07T20:00:00+00:00","value":null},{"timestamp":"2025-05-07T21:00:00+00:00","value":null}[...]
