interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2022-05-01T18%3A07%3A36.459Z&end_hr=2022-05-03T18%3A07%3A36.459Z
  response:
    body: '{"data":[{"attributes":{"org_name":"DD Integration Tests (321813)","usage_type":"lambda_traced_invocations_count","public_id":"fasjyydbcgwwc2uc","timeseries":[{"timestamp":"2022-05-01T18:00:00+00:00","value":null},{"timestamp":"2022-05-01T19:00:00+00:00","value":null},{"timestamp":"2022-05-01T20:00:00+00:00","value":null},{"timestamp":"2022-05-01T21:00:00+00:00","value":null},{"timestamp":"2022-05-01T22:00:00+00:00","value":null},{"timestamp":"2022-05-01T23:00:00+00:00","value":null},{"timestamp":"2022-05-02T00:00:00+00:00","value":null},{"timestamp":"2022-05-02T01:00:00+00:00","value":null},{"timestamp":"2022-05-02T02:00:00+00:00","value":null},{"timestamp":"2022-05-02T03:00:00+00:00","value":null}[...]
