interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2024-01-19T20%3A54%3A39.781Z&end_hr=2024-01-21T20%3A54%3A39.781Z
  response:
    body: '{"data":[{"id":"41945ceef2349387d82c498d0d83cb88b2c57e90d273d9cfa0826d3cac2ecc45","type":"usage_timeseries","attributes":{"product_family":"lambda-traced-invocations","usage_type":"lambda_traced_invocations_count","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","timeseries":[{"timestamp":"2024-01-19T20:00:00+00:00","value":null},{"timestamp":"2024-01-19T21:00:00+00:00","value":null},{"timestamp":"2024-01-19T22:00:00+00:00","value":null},{"timestamp":"2024-01-19T23:00:00+00:00","value":null},{"timestamp":"2024-01-20T00:00:00+00:00","value":null},{"timestamp":"2024-01-20T01:00:00+00:00","value":null},{"timestamp":"2024-01-20T02:00:00+00:00","value":null},{"timestamp":"2024-01-20T03:00:00+00:00","value":null},{"timestamp":"2024-01-20T04:00:00+00:00","value":null},{"timestamp":"2024-01-20T05:00:00+00:00","value":null}[...]
