interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/application_security?start_hr=2022-04-27T16%3A40%3A49.556Z&end_hr=2022-04-29T16%3A40%3A49.556Z
  response:
    body: '{"data":[{"attributes":{"org_name":"DD Integration Tests (321813)","usage_type":"app_sec_host_count","public_id":"fasjyydbcgwwc2uc","timeseries":[{"timestamp":"2022-04-27T16:00:00+00:00","value":null},{"timestamp":"2022-04-27T17:00:00+00:00","value":null},{"timestamp":"2022-04-27T18:00:00+00:00","value":null},{"timestamp":"2022-04-27T19:00:00+00:00","value":null},{"timestamp":"2022-04-27T20:00:00+00:00","value":null},{"timestamp":"2022-04-27T21:00:00+00:00","value":null},{"timestamp":"2022-04-27T22:00:00+00:00","value":null},{"timestamp":"2022-04-27T23:00:00+00:00","value":null},{"timestamp":"2022-04-28T00:00:00+00:00","value":null},{"timestamp":"2022-04-28T01:00:00+00:00","value":null}[...]
