interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/hourly_usage?filter%5Btimestamp%5D%5Bstart%5D=2022-07-16T14%3A57%3A41.821Z&filter%5Bproduct_families%5D=infra_hosts
  response:
    body: '{"data":[{"attributes":{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","timestamp":"2022-07-16T14:00:00+00:00","region":"us","measurements":[{"usage_type":"agent_host_count","value":14},{"usage_type":"alibaba_host_count","value":0},{"usage_type":"apm_azure_app_service_host_count","value":0},{"usage_type":"apm_host_count","value":4},{"usage_type":"aws_host_count","value":0},{"usage_type":"azure_host_count","value":0},{"usage_type":"container_count","value":null},{"usage_type":"gcp_host_count","value":0},{"usage_type":"heroku_host_count","value":0},{"usage_type":"host_count","value":14},{"usage_type":"infra_azure_app_service","value":0},{"usage_type":"opentelemetry_host_count","value":0},{"usage_type":"vsphere_host_count","value":0}],"product_family":"infra_hosts"},"type":"usage_timeseries","id":"c2d81d3ab0e2330402ba194f525ac02b0e561dbaf1e30fdc9d900551ca104e6c"},{"attributes":{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","timestamp":"2022-07-16T15:00:00+00:00","region":"us","measurements":[{"usage_type":"agent_host_count","value":14},{"usage_type":"alibaba_host_count","value":0},{"usage_type":"apm_azure_app_service_host_count","value":0},{"usage_type":"apm_host_count","value":4},{"usage_type":"aws_host_count","value":0},{"usage_[...]
