interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/observability_pipelines?start_hr=2023-10-11T15%3A14%3A35.114Z&end_hr=2023-10-13T15%3A14%3A35.114Z
  response:
    body: '{"data":[{"id":"b2fd311762e6a3cf23ce2e3dbd80e786a13193c6b28f01b296042c0e2f1264f9","type":"usage_timeseries","attributes":{"product_family":"observability-pipelines","usage_type":"observability_pipelines_bytes_processed","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","timeseries":[{"timestamp":"2023-10-11T15:00:00+00:00","value":null},{"timestamp":"2023-10-11T16:00:00+00:00","value":null},{"timestamp":"2023-10-11T17:00:00+00:00","value":null},{"timestamp":"2023-10-11T18:00:00+00:00","value":null},{"timestamp":"2023-10-11T19:00:00+00:00","value":null},{"timestamp":"2023-10-11T20:00:00+00:00","value":null},{"timestamp":"2023-10-11T21:00:00+00:00","value":null},{"timestamp":"2023-10-11T22:00:00+00:00","value":null},{"timestamp":"2023-10-11T23:00:00+00:00","value":null},{"timestamp":"2023-10-12T00:00:00+00:00","value":null}[...]
