interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cost_by_tag/active_billing_dimensions
  response:
    body: '{"data":{"type":"billing_dimensions","id":"e4a8ff24785c6327169a72bdbc122133b34fb5797a1232c54dcc1fbc94e9ad1d","attributes":{"values":["apm_devsecops","apm_ent_devsecops","apm_fargate","apm_host","apm_host_enterprise","apm_host_pro","apm_pro_devsecops","apm_trace_search","application_security_fargate","application_security_host","application_security_sca_fargate_task","application_vulnerability_management_oss_host","audit_trail","ci_pipeline","ci_pipeline_indexed_spans","ci_test_indexed_spans","ci_testing","cloud_cost_management","code_analysis_sa_committers","code_analysis_sa_sca_bundle","code_analysis_sca_committers","code_s[...]
