interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/usage/projected_cost?view=sub-org
  response:
    body: '{"data":[{"type":"projected_cost","id":"0e394fce15395fc02ab31e9968df0271e4b290e5647f44a56a47c91a03220f2d","attributes":{"org_name":"Datadog
      \u308c\u304a \ud83c\udf7b\u2600\ufe0f\ud83d\ude0e\ud83c\udfd6\ufe0f \u30c7\u30fc\u30bf\u30c9\u30c3\u30b0","public_id":"yB5yjZ","region":"us","projected_total_cost":270247170,"date":"2023-11-30T00:00:00Z","charges":[{"product_name":"apm_host","charge_type":"projected_committed","cost":0},{"product_name":"apm_host","charge_type":"projected_on_demand","cost":3621671.999987},{"product_name":"apm_host","charge_type":"total","cost":3621671.999987},{"product_name":"apm_trace_search","charge_type":"projected_committed","cost":0},{"product_name":"apm_trace_search","charge_type":"projected_on_demand","cost":3478141.42732},{"product_name":"apm_trace_search","charge_type":"total","cost":3478141.42732},{"product_name":"application_security_host","charge_type":"projected_committed","cost"[...]
