---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":78,"total_count":78}},"data":[{"creationAuthorId":0,"tags":["security:attack","tactic:TA0007-discovery","technique:T1069-permission-groups-discovery","source:guardduty","scope:iam"],"isEnabled":true,"hasExtendedTitle":true,"message":"###
      Goal\nDetect when an attacker is enumerating IAM principals.\n\n### Strategy\nThis
      rule lets you leverage GuardDuty to detect when an attacker is enumerating IAM
      principals. The GuardDuty Findings which trigger this signal:\n\n* [Recon:IAMUser/NetworkPermissions][1]\n*
      [Recon:IAMUser/ResourcePermissions][2]\n* [Recon:IAMUser/UserPermissions][3]
      \n\n\n### Triage & Response\n1. Determine which user in your organization owns
      the API key that made this API call.\n2. Contact the user to see if they intended
      to make this API call.\n3. If the user did not make the API call:\n * Rotate
      the credentials.\n * Investigate if the same credentials made other unauthorized
      API calls.\n\n[1]: https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon7\n[2]:
      https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon8\n[3]:
      https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon9","options":{"evaluationWindow":300,"maxSignalDuration":3600,"keepAlive":3600},"version":1,"createdAt":1585870276065,"queries":[{"query":"source:guardduty
      @evt.name:(Recon\\:IAMUser\\/NetworkPermissions OR Recon\\:IAMUser\\/ResourcePermissions
      OR Recon\\:IAMUser\\/UserPermissions)","groupByFields":["@detail.resource.accessKeyDetails.userName"],"name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"medium","notifications":[],"name":"","condition":"a
      > 0"}],"id":"u2j-xph-kc7","isDefault":true,"name":"AWS IAM Principal Enumeration"},{"creationAuthorId":0,"tags":["security:attack","tactic:TA0040-impact","technique:T1496-resource-hijacking","source:guardduty","scope:ec2"],"isEnabled":true,"hasExtendedTitle":true,"message":"###
      Goal\nDetect when an EC2 instance is communicating with a cryptocurrency server\n\n###
      Strategy\nThis rule lets you leverage GuardDuty to detect when an EC2 instance
      has made a DNS request or is communicating with an IP that is associated wi[...]
