interactions:
- request:
    body: |
      {"data":{"attributes":{"config":{"assertions":[{"operator":"lessThan","property":"avg","target":500,"type":"latency"}],"request":{"e2e_queries":50,"host":"example.com","max_ttl":30,"port":443,"tcp_method":"prefer_sack","traceroute_queries":3}},"locations":["aws:us-east-1","agent:my-agent-name"],"message":"Network Path test notification","name":"Example Network Path test","options":{"tick_every":60},"status":"live","subtype":"tcp","tags":["env:production"],"type":"network"},"type":"network"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/synthetics/tests/network
  response:
    body: '{"data":{"type":"network_test","attributes":{"config":{"request":{"max_ttl":30,"tcp_method":"prefer_sack","host":"example.com","e2e_queries":50,"traceroute_queries":3,"port":443},"assertions":[{"operator":"lessThan","property":"avg","target":500,"type":"latency"}]},"message":"Network
      Path test notification","name":"Example Network Path test","tags":["env:production"],"options":{"tick_every":60},"type":"network","public_id":"b2j-fw3-qr5","subtype":"tcp","locations":["aws:us-east-1","agent:my-agent-name"],"status":"live"},"id":"b2j-fw3-qr5"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"public_ids":["b2j-fw3-qr5"]},"type":"delete_tests_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/synthetics/tests/bulk-delete
  response:
    body: '{"data":[{"type":"delete_tests","attributes":{"deleted_at":"2026-02-18T16:57:04.752457+00:00","public_id":"b2j-fw3-qr5"},"id":"b2j-fw3-qr5"}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
