interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/synthetics/suites/search
  response:
    body: '{"data":{"type":"suites_search","id":"a36a229d-a20c-45cb-9e0f-37c536d7d870","attributes":{"facets":[{"name":"mobile_platform","values":[]},{"name":"test_count","values":[{"count":24,"name":"0"}]},{"name":"step_count","values":[]},{"name":"http_path","values":[]},{"name":"team","values":[]},{"name":"env","values":[{"count":24,"name":"production"}]},{"name":"type","values":[{"count":24,"name":"suite"}]},{"name":"creator","values":[{"count":24,"name":"CI
      Account"}]},{"name":"mobile_application","values":[]},{"name":"notification","values":[]},{"name":"endpoint","values":[]},{"name":"http_method","values":[]},{"name":"creation_source","values":[]},{"name":"domain","values":[]},{"name":"ci_execution_rule","values":[{"count":24,"name":"blocking"}]},{"name":"state","values":[{"count":24,"name":"paused"}]},{"name":"tag","values":[{"count":24,"name":"env:production"}]},{"name":"region","values":[]},{"name":"muted","values":[{"count":24,"name":"0"}]},{"name":"status","values":[{"count":24,"name":"No
      Data"}]}],"suites":[{"monitor_id":243683630,"created_by":{"name":"CI Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"modified_at":"2025-12-12T14:36:38.194974+00:00","options":{},"monitor_status":"No
      Data","tests":[],"last_triggered_ts":1765550180,"name":"Example suite name","monitor_name":"[Synthetics]
      Example suite name","notifications":[],"tags":["env:production"],"public_id":"q9j-u8p-3v5","type":"suite"},{"monitor_id":243691225,"created_by":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"modified_at":"2025-12-12T15:13:58.194856+00:00","options":{},"monitor_status":"No
      Data","tests":[],"last_triggered_ts":1765552435,"name":"Example suite name","monitor_name":"[Synthetics]
      Example suite name","notifications":[],"tags":["env:production"],"public_id":"qqj-ma8-msw","type":"suite"},{"monitor_id":243678032,"created_by":{"name":"CI
 [...]
