interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/synthetics/tests/network/c7a-uwa-wn2
  response:
    body: '{"data":{"type":"network_test","attributes":{"public_id":"c7a-uwa-wn2","locations":["aws:eu-west-3"],"status":"paused","subtype":"tcp","message":"","type":"network","config":{"assertions":[{"operator":"lessThan","property":"avg","target":500,"type":"latency"}],"request":{"source_service":"","traceroute_queries":3,"port":443,"max_ttl":30,"e2e_queries":50,"host":"example.com","tcp_method":"prefer_sack","destination_service":""}},"options":{"retry":{"count":0,"interval":300},"tick_every":60,"monitor_options":{"notification_preset_name":"show_all"},"min_failure_duration":0,"min_location_failed":1},"tags":[],"name":"Network
      Path Test on example.com"},"id":"c7a-uwa-wn2"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
