---
version: 1
interactions:
- request:
    body: |
      [{"check":"app.ok","host_name":"host","status":0,"tags":["test:TestSubmitaServiceCheckreturnsPayloadacceptedresponse1618221317"]}]
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SubmitServiceCheck
    url: https://api.datadoghq.com/api/v1/check_run
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
