interactions:
- request:
    body: |
      {"end":1634659062,"message":"Test-Schedule_a_downtime_with_invalid_type_hours-1634655462","recurrence":{"period":1,"type":"hours"},"scope":["*"],"start":1634655462,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"errors": ["Invalid recurrence type"]}'
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 1
