interactions:
- request:
    body: |
      {"message":"Test-Get_a_downtime_returns_OK_response-1641829811","recurrence":{"period":1,"type":"weeks","until_date":1643644211,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testgetadowntimereturnsokresponse1641829811"],"start":1641829811,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"recurrence":{"until_date":1643644211,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829811,"org_id":321813,"modified":1641829811,"disabled":false,"start":1641829811,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testgetadowntimereturnsokresponse1641829811"],"message":"Test-Get_a_downtime_returns_OK_response-1641829811","downtime_type":2,"id":1672791219,"updater_id":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/downtime/1672791219
  response:
    body: '{"recurrence":{"until_date":1643644211,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829811,"org_id":321813,"modified":1641829811,"disabled":false,"start":1641829811,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testgetadowntimereturnsokresponse1641829811"],"message":"Test-Get_a_downtime_returns_OK_response-1641829811","downtime_type":2,"id":1672791219,"updater_id":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/1672791219
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
