interactions:
- request:
    body: |
      {"end":1641833412,"message":"Test-Schedule_a_downtime_once_a_year-1641829812","recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1641829812,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":1641833412,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829812,"org_id":321813,"modified":1641829812,"disabled":false,"start":1641829812,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_once_a_year-1641829812","downtime_type":0,"id":1672791231,"updater_id":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/1672791231
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
