interactions:
- request:
    body: |
      {"message":"Test-Update_a_downtime_returns_OK_response-1652349003","recurrence":{"period":1,"type":"weeks","until_date":1654163403,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testupdateadowntimereturnsokresponse1652349003"],"start":1652349003,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"recurrence":{"until_date":1654163403,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1652349004,"org_id":321813,"modified":1652349004,"disabled":false,"start":1652349003,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1652349003"],"message":"Test-Update_a_downtime_returns_OK_response-1652349003","downtime_type":2,"id":1944162328,"updater_id":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"message":"Test-Update_a_downtime_returns_OK_response-1652349003-updated","mute_first_recovery_notification":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/downtime/1944162328
  response:
    body: '{"recurrence":{"until_date":1654163403,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":true,"created":1652349004,"org_id":321813,"modified":1652349004,"disabled":false,"start":1652349003,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1652349003"],"message":"Test-Update_a_downtime_returns_OK_response-1652349003-updated","downtime_type":2,"id":1944162328,"updater_id":1445416}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/1944162328
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
