interactions:
- request:
    body: |
      {"end":1657667267,"message":"Test-Schedule_a_downtime_with_until_occurrences-1657663667","monitor_tags":["tag0"],"recurrence":{"period":1,"type":"weeks","until_occurrences":3,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1657663667,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":3,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1657667267,"monitor_tags":["tag0"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1657663667,"org_id":321813,"modified":1657663667,"disabled":false,"start":1657663667,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_with_until_occurrences-1657663667","downtime_type":0,"id":2082107712,"updater_id":null}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/2082107712
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
