interactions:
- request:
    body: |
      {"end":1684769834,"message":"Test-Update_a_downtime_returns_OK_response-1684766234","recurrence":{"period":1,"type":"weeks","until_date":1686580634,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testupdateadowntimereturnsokresponse1684766234"],"start":1684766234,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"id":2941982639,"monitor_id":null,"org_id":321813,"start":1684766234,"end":1684769834,"canceled":null,"created":1684766235,"modified":1684766235,"message":"Test-Update_a_downtime_returns_OK_response-1684766234","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1686580634},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
      data","warn"],"uuid":"25399c6e-f8ae-11ed-b261-da7ad0900002","scope":["test:testupdateadowntimereturnsokresponse1684766234"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"message":"Test-Update_a_downtime_returns_OK_response-1684766234-updated","mute_first_recovery_notification":true,"notify_end_states":["alert","no data","warn"],"notify_end_types":["canceled","expired"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v1/downtime/2941982639
  response:
    body: '{"id":2941982639,"monitor_id":null,"org_id":321813,"start":1684766234,"end":1684769834,"canceled":null,"created":1684766235,"modified":1684766235,"message":"Test-Update_a_downtime_returns_OK_response-1684766234-updated","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1686580634},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":1445416,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":true,"notify_end_types":["canceled","expired"],"notify_end_states":["alert","no
      data","warn"],"uuid":null,"scope":["test:testupdateadowntimereturnsokresponse1684766234"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/2941982639
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
