---
version: 1
interactions:
- request:
    body: |
      {"message":"Test-Downtimes-1633349164","recurrence":{"period":1,"type":"weeks","until_date":1635163564,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testdowntimes1633349164"],"start":1633349164,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":1635163564,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1633349164,"org_id":321813,"modified":1633349164,"disabled":false,"start":1633349164,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testdowntimes1633349164"],"message":"Test-Downtimes-1633349164","downtime_type":2,"id":1482705507,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1482705507
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
