interactions:
- request:
    body: |
      {"end":1650524470,"message":"Test-Schedule_a_downtime_once_a_year-1650520870","mute_first_recovery_notification":true,"recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1650520870,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":1650524470,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":true,"created":1650520871,"org_id":321813,"modified":1650520871,"disabled":false,"start":1650520870,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_once_a_year-1650520870","downtime_type":0,"id":1894788565,"updater_id":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/1894788565
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
