interactions:
- id: 0
  request:
    body: |
      {"end":1657667266,"message":"Test-Schedule_a_downtime_with_mutually_exclusive_until_occurrences_and_until_date_properties-1657663666","monitor_tags":["tag0"],"recurrence":{"period":1,"type":"weeks","until_date":1659478066,"until_occurrences":3,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1657663666,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"errors": ["You must provide only provide one of (until_occurrences, until_date)"]}'
    code: 400
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
