interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/downtime?with_creator=true
  response:
    body: '[{"id":1529094018,"monitor_id":null,"org_id":321813,"start":1635430672,"end":null,"canceled":null,"created":1635430672,"modified":1635430672,"message":null,"active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":2320499,"updater_id":null,"downtime_type":1,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
      data","warn"],"uuid":"1d9e7eee-b23a-11ed-a0dc-da7ad0900002","scope":["host:java-hostsMuteErrorsTest-local-1635430672"],"creator":{"id":2320499,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"}},{"id":1529121935,"monitor_id":null,"org_id":321813,"start":1635431628,"end":null,"canceled":null,"created":1635431628,"modified":1635431628,"message":null,"active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":2320499,"updater_id":null,"downtime_type":1,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
      data","warn"],"uui[...]
