interactions:
- request:
    body: |
      {"end":1683227857,"message":"Test-Schedule_a_downtime_once_a_year-1683224257","monitor_tags":["tag0"],"mute_first_recovery_notification":true,"notify_end_states":["alert","warn"],"notify_end_types":["expired"],"recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1683224257,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"id":2890657808,"monitor_id":null,"org_id":321813,"start":1683224257,"end":1683227857,"canceled":null,"created":1683224258,"modified":1683224258,"message":"Test-Schedule_a_downtime_once_a_year-1683224257","active":true,"disabled":false,"recurrence":{"type":"years","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":0,"status":"active","monitor_tags":["tag0"],"mute_first_recovery_notification":true,"notify_end_types":["expired"],"notify_end_states":["alert","warn"],"uuid":"f3d207ba-eaa7-11ed-8667-da7ad0900002","scope":["*"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/2890657808
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
