interactions:
- request:
    body: |
      {"message":"Test-Update_a_downtime_returns_OK_response-1650631217","recurrence":{"period":1,"type":"weeks","until_date":1652445617,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testupdateadowntimereturnsokresponse1650631217"],"start":1650631217,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"recurrence":{"until_date":1652445617,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1650631218,"org_id":321813,"modified":1650631218,"disabled":false,"start":1650631217,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1650631217"],"message":"Test-Update_a_downtime_returns_OK_response-1650631217","downtime_type":2,"id":1898176836,"updater_id":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"message":"Test-Update_a_downtime_returns_OK_response-1650631217-updated","mute_first_recovery_notification":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/downtime/1898176836
  response:
    body: '{"recurrence":{"until_date":1652445617,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":true,"created":1650631218,"org_id":321813,"modified":1650631218,"disabled":false,"start":1650631217,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1650631217"],"message":"Test-Update_a_downtime_returns_OK_response-1650631217-updated","downtime_type":2,"id":1898176836,"updater_id":1445416}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/1898176836
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
