interactions:
- request:
    body: |
      {"message":"Test-Schedule_a_downtime_returns_OK_response-1683306874","notify_end_states":["alert","no data","warn"],"notify_end_types":["canceled","expired"],"recurrence":{"period":1,"type":"weeks","until_date":1685121274,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testscheduleadowntimereturnsokresponse1683306874"],"start":1683306874,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"id":2893677175,"monitor_id":null,"org_id":321813,"start":1683306874,"end":null,"canceled":null,"created":1683306874,"modified":1683306874,"message":"Test-Schedule_a_downtime_returns_OK_response-1683306874","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1685121274},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["canceled","expired"],"notify_end_states":["alert","no
      data","warn"],"uuid":"4ebe21fc-eb68-11ed-a070-da7ad0900002","scope":["test:testscheduleadowntimereturnsokresponse1683306874"]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/2893677175
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
