interactions:
- request:
    body: |
      {"end":1657667266,"message":"Test-Schedule_a_downtime_with_invalid_weekdays-1657663666","monitor_tags":["tag0"],"recurrence":{"period":1,"type":"weeks","week_days":["mon","tue"]},"scope":["*"],"start":1657663666,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"errors": ["Invalid set of days in week_days. Be sure that the first letter
      is capitalized."]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
