interactions:
- request:
    body: |
      {"end":1684769410,"message":"Test-Get_a_downtime_returns_OK_response-1684765810","recurrence":{"period":1,"type":"weeks","until_date":1686580210,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testgetadowntimereturnsokresponse1684765810"],"start":1684765810,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"id":2941966869,"monitor_id":null,"org_id":321813,"start":1684765810,"end":1684769410,"canceled":null,"created":1684765810,"modified":1684765810,"message":"Test-Get_a_downtime_returns_OK_response-1684765810","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1686580210},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
      data","warn"],"uuid":"286629f8-f8ad-11ed-9901-da7ad0900002","scope":["test:testgetadowntimereturnsokresponse1684765810"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v1/downtime/2941966869
  response:
    body: '{"id":2941966869,"monitor_id":null,"org_id":321813,"start":1684765810,"end":1684769410,"canceled":null,"created":1684765810,"modified":1684765810,"message":"Test-Get_a_downtime_returns_OK_response-1684765810","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1686580210},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
      data","warn"],"uuid":"286629f8-f8ad-11ed-9901-da7ad0900002","scope":["test:testgetadowntimereturnsokresponse1684765810"]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/2941966869
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
