interactions:
- request:
    body: |
      {"end":1634659062,"message":"Test-Schedule_a_downtime_until_date-1634655462","recurrence":{"period":1,"type":"weeks","until_date":1636469862,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1634655462,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/downtime
  response:
    body: '{"recurrence":{"until_date":1636469862,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1634659062,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634655462,"org_id":321813,"modified":1634655462,"disabled":false,"start":1634655462,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_until_date-1634655462","downtime_type":0,"id":1511004128,"updater_id":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/downtime/1511004128
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
