interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_one_application_key_for_this_service_account_returns_OK_response-1697095113@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"8d6f1427-68cf-11ee-b38b-b697d9f51e5c","attributes":{"name":null,"handle":"8d6f1427-68cf-11ee-b38b-b697d9f51e5c","created_at":"2023-10-12T07:18:33.545035+00:00","modified_at":"2023-10-12T07:18:33.545035+00:00","email":"test-get_one_application_key_for_this_service_account_returns_ok_response-1697095113@datadoghq.com","icon":"https://secure.gravatar.com/avatar/675597cb6c88dc2642385e567f57b727?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_one_application_key_for_this_service_account_returns_OK_response-1697095113"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/8d6f1427-68cf-11ee-b38b-b697d9f51e5c/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"490b7601-a457-449c-8d8c-72c848e669d5","attributes":{"name":"Test-Get_one_application_key_for_this_service_account_returns_OK_response-1697095113","created_at":"2023-10-12T07:18:34.052468+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"8d6f1427-68cf-11ee-b38b-b697d9f51e5c"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/service_accounts/8d6f1427-68cf-11ee-b38b-b697d9f51e5c/application_keys/490b7601-a457-449c-8d8c-72c848e669d5
  response:
    body: '{"data":{"type":"application_keys","id":"490b7601-a457-449c-8d8c-72c848e669d5","attributes":{"name":"Test-Get_one_application_key_for_this_service_account_returns_OK_response-1697095113","created_at":"2023-10-12T07:18:34.052468+00:00","last4":"xxxx","scopes":null},"relationships":{"leak_information":{"data":null}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/8d6f1427-68cf-11ee-b38b-b697d9f51e5c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
