interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"c0ea5a28-68e7-11ee-af78-7221d1e45f66","attributes":{"name":null,"handle":"c0ea5a28-68e7-11ee-af78-7221d1e45f66","created_at":"2023-10-12T10:11:47.838233+00:00","modified_at":"2023-10-12T10:11:47.838233+00:00","email":"test-create_an_application_key_for_this_service_account_returns_created_response-1697105507@datadoghq.com","icon":"https://secure.gravatar.com/avatar/45057f7ed4c5662bd175fd2657bf58f2?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/c0ea5a28-68e7-11ee-af78-7221d1e45f66/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"6315ab43-ce92-4130-b6d2-94ceb5f7142a","attributes":{"name":"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507","created_at":"2023-10-12T10:11:48.340554+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"c0ea5a28-68e7-11ee-af78-7221d1e45f66"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/c0ea5a28-68e7-11ee-af78-7221d1e45f66/application_keys/6315ab43-ce92-4130-b6d2-94ceb5f7142a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/c0ea5a28-68e7-11ee-af78-7221d1e45f66
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
