interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431@datadoghq.com","title":"user title","service_account":true},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8","attributes":{"name":null,"handle":"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8","created_at":"2021-12-17T16:27:12.343965+00:00","modified_at":"2021-12-17T16:27:12.379329+00:00","email":"test-edit_an_app_key_owned_by_this_service_account_returns_ok_response-1639758431@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c67948de6d17474d4a0f5ffbd5ed4f49?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '1968'
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/d5b0e4a0-1e73-4e49-83a6-5778ae914aa8/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"353fb924-134b-43ff-a826-e18d62ea4bdf","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431","created_at":"2021-12-17T16:27:12.877682+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '332'
      X-Ratelimit-Reset:
      - '1968'
    status: 201 Created
- request:
    body: |
      {"data":{"id":"353fb924-134b-43ff-a826-e18d62ea4bdf","type":"application_keys","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431-updated"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/service_accounts/d5b0e4a0-1e73-4e49-83a6-5778ae914aa8/application_keys/353fb924-134b-43ff-a826-e18d62ea4bdf
  response:
    body: '{"data":{"type":"application_keys","id":"353fb924-134b-43ff-a826-e18d62ea4bdf","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431-updated","created_at":"2021-12-17T16:27:12.877682+00:00","last4":"beef"}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '331'
      X-Ratelimit-Reset:
      - '1967'
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/d5b0e4a0-1e73-4e49-83a6-5778ae914aa8
  response:
    body: ''
    code: 204
    duration: ''
    headers:
    status: 204 No Content
version: 1
