interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1779979006@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"a7a2e511-5aa2-11f1-80a5-eec0508b7e6c","attributes":{"uuid":"a7a2e511-5aa2-11f1-80a5-eec0508b7e6c","name":null,"handle":"a7a2e511-5aa2-11f1-80a5-eec0508b7e6c","created_at":"2026-05-28T14:36:46.886919+00:00","modified_at":"2026-05-28T14:36:46.886919+00:00","email":"test-get_an_access_token_for_a_service_account_returns_ok_response-1779979006@datadoghq.com","icon":"https://secure.gravatar.com/avatar/eaa658a03758d4761147dd7431d1c8f5?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1779979006","scopes":["dashboards_read"]},"type":"service_access_tokens"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/a7a2e511-5aa2-11f1-80a5-eec0508b7e6c/access_tokens
  response:
    body: '{"data":{"id":"0abefcae-90ed-4670-94ab-7cea6ca9fb6f","type":"service_access_tokens","attributes":{"created_at":"2026-05-28T14:36:47.296135174Z","expires_at":null,"key":"xxxxx_xxxxxxxxxxxxxxXxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","name":"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1779979006","public_portion":"ddsat_0KHCgRdjSyb8EMXtz1E5Cp","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"a7a2e511-5aa2-11f1-80a5-eec0508b7e6c","type":"service_account"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/service_accounts/a7a2e511-5aa2-11f1-80a5-eec0508b7e6c/access_tokens/0abefcae-90ed-4670-94ab-7cea6ca9fb6f
  response:
    body: '{"data":{"id":"0abefcae-90ed-4670-94ab-7cea6ca9fb6f","type":"service_access_tokens","attributes":{"created_at":"2026-05-28T14:36:47.296135Z","expires_at":null,"last_used_at":null,"name":"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1779979006","public_portion":"ddsat_0KHCgRdjSyb8EMXtz1E5Cp","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"a7a2e511-5aa2-11f1-80a5-eec0508b7e6c","type":"service_account"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/a7a2e511-5aa2-11f1-80a5-eec0508b7e6c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
