interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1640128022@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"5e46a8d1-55b7-42f8-87cd-332e062afe0f","attributes":{"name":null,"handle":"5e46a8d1-55b7-42f8-87cd-332e062afe0f","created_at":"2021-12-21T23:07:02.927766+00:00","modified_at":"2021-12-21T23:07:02.959780+00:00","email":"test-create_an_application_key_with_scopes_for_this_service_account_returns_created_response-1640128022@datadoghq.com","icon":"https://secure.gravatar.com/avatar/52cf30633ac8b6f747ffc8f929fdac1d?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '3178'
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1640128022","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/5e46a8d1-55b7-42f8-87cd-332e062afe0f/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"93a45ab0-74ec-4d07-8546-f9204326098a","attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1640128022","created_at":"2021-12-21T23:07:03.535439+00:00","last4":"beef","key":"dead5ba843d4f1a209fe8ed42080683244b5beef","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"relationships":{"owned_by":{"data":{"type":"users","id":"5e46a8d1-55b7-42f8-87cd-332e062afe0f"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '397'
      X-Ratelimit-Reset:
      - '3177'
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/5e46a8d1-55b7-42f8-87cd-332e062afe0f/application_keys/93a45ab0-74ec-4d07-8546-f9204326098a
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '396'
      X-Ratelimit-Reset:
      - '3176'
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/5e46a8d1-55b7-42f8-87cd-332e062afe0f
  response:
    body: ''
    code: 204
    duration: ''
    headers:
    status: 204 No Content
version: 1
