interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1779979003@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"a6a9f992-5aa2-11f1-8c27-ea4c41923911","attributes":{"uuid":"a6a9f992-5aa2-11f1-8c27-ea4c41923911","name":null,"handle":"a6a9f992-5aa2-11f1-8c27-ea4c41923911","created_at":"2026-05-28T14:36:45.255584+00:00","modified_at":"2026-05-28T14:36:45.255584+00:00","email":"test-create_an_access_token_for_a_service_account_returns_created_response-1779979003@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a1a6182d465264feebf3b6d627a99b67?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1779979003","scopes":["dashboards_read"]},"type":"service_access_tokens"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/a6a9f992-5aa2-11f1-8c27-ea4c41923911/access_tokens
  response:
    body: '{"data":{"id":"7767e407-9c67-4ede-902e-c4b1f3782352","type":"service_access_tokens","attributes":{"created_at":"2026-05-28T14:36:45.736320584Z","expires_at":null,"key":"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxXxxxxxxxXxxx","name":"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1779979003","public_portion":"ddsat_3dJZ2IClhMOwsx0xC01NBK","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"a6a9f992-5aa2-11f1-8c27-ea4c41923911","type":"service_account"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/a6a9f992-5aa2-11f1-8c27-ea4c41923911/access_tokens/7767e407-9c67-4ede-902e-c4b1f3782352
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/a6a9f992-5aa2-11f1-8c27-ea4c41923911
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
