interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_all_app_keys_owned_by_this_service_account_returns_OK_response-1641829898@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"cb10abbd-04d2-44db-8ae8-b8aa7cb700cf","attributes":{"name":null,"handle":"cb10abbd-04d2-44db-8ae8-b8aa7cb700cf","created_at":"2022-01-10T15:51:38.877542+00:00","modified_at":"2022-01-10T15:51:38.913618+00:00","email":"test-get_all_app_keys_owned_by_this_service_account_returns_ok_response-1641829898@datadoghq.com","icon":"https://secure.gravatar.com/avatar/dc95dff7458abc481def50bb5c7b1d7f?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/service_accounts/cb10abbd-04d2-44db-8ae8-b8aa7cb700cf/application_keys
  response:
    body: '{"meta":{"page":{"total_filtered_count":0},"max_allowed_per_user":1000},"data":[]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/cb10abbd-04d2-44db-8ae8-b8aa7cb700cf
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
