interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435@datadoghq.com","title":"user title","service_account":true},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"3556a6f7-9f68-4a5d-aed8-1677fb92a76c","attributes":{"name":null,"handle":"3556a6f7-9f68-4a5d-aed8-1677fb92a76c","created_at":"2021-12-17T16:27:16.298029+00:00","modified_at":"2021-12-17T16:27:16.335817+00:00","email":"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1639758435@datadoghq.com","icon":"https://secure.gravatar.com/avatar/36ec031ed04caa210d61cf08949f2a55?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '89'
      X-Ratelimit-Reset:
      - '1964'
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/3556a6f7-9f68-4a5d-aed8-1677fb92a76c/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"ef3fcbd0-e21c-405d-953f-6b340412f4e4","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435","created_at":"2021-12-17T16:27:16.855017+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3556a6f7-9f68-4a5d-aed8-1677fb92a76c"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '329'
      X-Ratelimit-Reset:
      - '1964'
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/service_accounts/3556a6f7-9f68-4a5d-aed8-1677fb92a76c/application_keys/ef3fcbd0-e21c-405d-953f-6b340412f4e4
  response:
    body: '{"data":{"type":"application_keys","id":"ef3fcbd0-e21c-405d-953f-6b340412f4e4","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435","created_at":"2021-12-17T16:27:16.855017+00:00","last4":"beef"}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/3556a6f7-9f68-4a5d-aed8-1677fb92a76c
  response:
    body: ''
    code: 204
    duration: ''
    headers:
    status: 204 No Content
version: 1
