interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"a3b86b00-68e7-11ee-b081-e2f0333fd1ce","attributes":{"name":null,"handle":"a3b86b00-68e7-11ee-b081-e2f0333fd1ce","created_at":"2023-10-12T10:10:58.857066+00:00","modified_at":"2023-10-12T10:10:58.857066+00:00","email":"test-edit_an_application_key_for_this_service_account_returns_ok_response-1697105458@datadoghq.com","icon":"https://secure.gravatar.com/avatar/00878614ca2acb0d68087ee17a33e3f4?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/a3b86b00-68e7-11ee-b081-e2f0333fd1ce/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"8dca4456-bd90-4cb4-a182-5868501d8a9b","attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458","created_at":"2023-10-12T10:10:59.392476+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"a3b86b00-68e7-11ee-b081-e2f0333fd1ce"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458-updated"},"id":"8dca4456-bd90-4cb4-a182-5868501d8a9b","type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/service_accounts/a3b86b00-68e7-11ee-b081-e2f0333fd1ce/application_keys/8dca4456-bd90-4cb4-a182-5868501d8a9b
  response:
    body: '{"data":{"type":"application_keys","id":"8dca4456-bd90-4cb4-a182-5868501d8a9b","attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458-updated","created_at":"2023-10-12T10:10:59.392477+00:00","last4":"xxxx","scopes":null},"relationships":{"leak_information":{"data":null}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/a3b86b00-68e7-11ee-b081-e2f0333fd1ce
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
