interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"d0b09599-e180-4a05-b8cf-d8a518149301","attributes":{"name":null,"handle":"d0b09599-e180-4a05-b8cf-d8a518149301","created_at":"2022-01-10T15:51:40.383597+00:00","modified_at":"2022-01-10T15:51:40.420607+00:00","email":"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1641829899@datadoghq.com","icon":"https://secure.gravatar.com/avatar/058bbf5e2d63130b944273db7f6177c2?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/d0b09599-e180-4a05-b8cf-d8a518149301/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"049a8336-2752-4ed7-bdc5-4000af01cb81","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899","created_at":"2022-01-10T15:51:40.961126+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"d0b09599-e180-4a05-b8cf-d8a518149301"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/service_accounts/d0b09599-e180-4a05-b8cf-d8a518149301/application_keys/049a8336-2752-4ed7-bdc5-4000af01cb81
  response:
    body: '{"data":{"type":"application_keys","id":"049a8336-2752-4ed7-bdc5-4000af01cb81","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899","created_at":"2022-01-10T15:51:40.961126+00:00","last4":"xxxx","scopes":null}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/d0b09599-e180-4a05-b8cf-d8a518149301
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
