interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7","attributes":{"name":null,"handle":"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7","created_at":"2022-01-10T15:51:33.531371+00:00","modified_at":"2022-01-10T15:51:33.574130+00:00","email":"test-create_an_application_key_with_scopes_for_this_service_account_returns_created_response-1641829892@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8f825373eb0cfc2938e0f880b748cbbe?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"7f7c2a57-698e-41f1-9c99-32242ae2e4e4","attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892","created_at":"2022-01-10T15:51:34.140485+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"relationships":{"owned_by":{"data":{"type":"users","id":"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7/application_keys/7f7c2a57-698e-41f1-9c99-32242ae2e4e4
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
