interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1641826590@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"c99eb1b0-df37-460b-903c-849e0fd90309","attributes":{"name":null,"handle":"c99eb1b0-df37-460b-903c-849e0fd90309","created_at":"2022-01-10T14:56:31.090671+00:00","modified_at":"2022-01-10T14:56:31.128732+00:00","email":"test-delete_an_app_key_owned_by_this_service_account_returns_no_content_response-1641826590@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8e681684490287c798e47beaff3c1a73?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1641826590"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/c99eb1b0-df37-460b-903c-849e0fd90309/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"26661ed4-7dd8-4668-8ab8-c69f7cd752ad","attributes":{"name":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1641826590","created_at":"2022-01-10T14:56:31.574997+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"c99eb1b0-df37-460b-903c-849e0fd90309"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/c99eb1b0-df37-460b-903c-849e0fd90309/application_keys/26661ed4-7dd8-4668-8ab8-c69f7cd752ad
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/c99eb1b0-df37-460b-903c-849e0fd90309/application_keys/26661ed4-7dd8-4668-8ab8-c69f7cd752ad
  response:
    body: '{"errors": ["Application key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/c99eb1b0-df37-460b-903c-849e0fd90309
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
