interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1652349198@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"07af9197-7ca2-4330-8ee5-fe49e050d294","attributes":{"name":null,"handle":"07af9197-7ca2-4330-8ee5-fe49e050d294","created_at":"2022-05-12T09:53:19.026982+00:00","modified_at":"2022-05-12T09:53:19.070723+00:00","email":"test-create_an_app_key_for_this_service_account_returns_created_response-1652349198@datadoghq.com","icon":"https://secure.gravatar.com/avatar/63af80332690093fe6a0e4dd06372659?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1652349198"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/07af9197-7ca2-4330-8ee5-fe49e050d294/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"b1d42837-70dd-4ac2-9a6b-f222e68a21ec","attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1652349198","created_at":"2022-05-12T09:53:19.628339+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"07af9197-7ca2-4330-8ee5-fe49e050d294"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/07af9197-7ca2-4330-8ee5-fe49e050d294/application_keys/b1d42837-70dd-4ac2-9a6b-f222e68a21ec
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
- id: 3
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/07af9197-7ca2-4330-8ee5-fe49e050d294
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
