interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"email":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"2bac29f5-17f8-44ce-8b2b-bdd3feb60ace","attributes":{"name":null,"handle":"2bac29f5-17f8-44ce-8b2b-bdd3feb60ace","created_at":"2022-05-12T09:53:26.587713+00:00","modified_at":"2022-05-12T09:53:26.619983+00:00","email":"test-edit_an_app_key_owned_by_this_service_account_returns_ok_response-1652349206@datadoghq.com","icon":"https://secure.gravatar.com/avatar/24962bf4a23b952abdc2ecc056acc27b?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/2bac29f5-17f8-44ce-8b2b-bdd3feb60ace/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"c2d9978a-2dcb-4a46-b412-e1b6142b1508","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206","created_at":"2022-05-12T09:53:27.176448+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"2bac29f5-17f8-44ce-8b2b-bdd3feb60ace"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 2
  request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206-updated"},"id":"c2d9978a-2dcb-4a46-b412-e1b6142b1508","type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/service_accounts/2bac29f5-17f8-44ce-8b2b-bdd3feb60ace/application_keys/c2d9978a-2dcb-4a46-b412-e1b6142b1508
  response:
    body: '{"data":{"type":"application_keys","id":"c2d9978a-2dcb-4a46-b412-e1b6142b1508","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206-updated","created_at":"2022-05-12T09:53:27.176448+00:00","last4":"xxxx","scopes":null},"relationships":{"leak_information":{"data":null}}}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- id: 4
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/2bac29f5-17f8-44ce-8b2b-bdd3feb60ace
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
