interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1652349203@datadoghq.com","service_account":true,"title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"b28852dc-c10b-47dc-ad93-dac3e345edf7","attributes":{"name":null,"handle":"b28852dc-c10b-47dc-ad93-dac3e345edf7","created_at":"2022-05-12T09:53:23.784584+00:00","modified_at":"2022-05-12T09:53:23.820961+00:00","email":"test-delete_an_app_key_owned_by_this_service_account_returns_no_content_response-1652349203@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e9f758d44a304e5bf063d2bb60176186?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1652349203"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/b28852dc-c10b-47dc-ad93-dac3e345edf7/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"bfedc1ba-6cba-4019-a685-252d07da0bf1","attributes":{"name":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1652349203","created_at":"2022-05-12T09:53:24.343109+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"b28852dc-c10b-47dc-ad93-dac3e345edf7"}},"leak_information":{"data":null}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/b28852dc-c10b-47dc-ad93-dac3e345edf7/application_keys/bfedc1ba-6cba-4019-a685-252d07da0bf1
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/b28852dc-c10b-47dc-ad93-dac3e345edf7/application_keys/bfedc1ba-6cba-4019-a685-252d07da0bf1
  response:
    body: '{"errors": ["Application key not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/b28852dc-c10b-47dc-ad93-dac3e345edf7
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
