interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426@datadoghq.com","title":"user title","service_account":true},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"data":{"type":"users","id":"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2","attributes":{"name":null,"handle":"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2","created_at":"2021-12-17T16:27:07.128243+00:00","modified_at":"2021-12-17T16:27:07.167255+00:00","email":"test-create_an_app_key_for_this_service_account_returns_created_response-1639758426@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b4f5e8dfd1847753ee5a0df03e06394c?s=48&d=retro","title":"user
      title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '1973'
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2/application_keys
  response:
    body: '{"data":{"type":"application_keys","id":"17883696-354c-4a43-ae2c-f531d9b0b3f1","attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426","created_at":"2021-12-17T16:27:07.674785+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '337'
      X-Ratelimit-Reset:
      - '1973'
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/service_accounts/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2/application_keys/17883696-354c-4a43-ae2c-f531d9b0b3f1
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '336'
      X-Ratelimit-Reset:
      - '1972'
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2
  response:
    body: ''
    code: 204
    duration: ''
    headers:
    status: 204 No Content
version: 1
