interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"name":"my_new_rum_application","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"a5107087-ff92-413e-9dac-7ee1ebaa2322","name":"my_new_rum_application","created_by_handle":"frog@datadoghq.com","created_at":1670264406913,"org_id":321813,"updated_at":1670264406913,"is_active":false,"hash":"pub827b35dae6920b425915f489a4a309ac","client_token":"pub827b35dae6920b425915f489a4a309ac","type":"ios"},"type":"rum_application","id":"a5107087-ff92-413e-9dac-7ee1ebaa2322"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/a5107087-ff92-413e-9dac-7ee1ebaa2322
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
