interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-2befac64eeb0a1b0","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"type":"ios","is_active":false,"name":"test-rum-2befac64eeb0a1b0","org_id":321813,"client_token":"pub5771f25e4c8f41666ac4a61cf7fc9d0d","created_by_handle":"frog@datadoghq.com","updated_at":1755613584581,"application_id":"94f76d3a-a8b2-4d1a-9938-771568a36f50","created_at":1755613584581,"updated_by_handle":"frog@datadoghq.com","product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1755613584581},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1755613584581}},"hash":"pub5771f25e4c8f41666ac4a61cf7fc9d0d","tags":[],"product_analytics_replay_sample_rate":100},"id":"94f76d3a-a8b2-4d1a-9938-771568a36f50"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"name":"updated_name_for_my_existing_rum_application","type":"browser"},"id":"94f76d3a-a8b2-4d1a-9938-771568a36f50","type":"rum_application_update"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/applications/94f76d3a-a8b2-4d1a-9938-771568a36f50
  response:
    body: '{"data":{"type":"rum_application","attributes":{"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1755613584581},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1755613584581}},"hash":"pub5771f25e4c8f41666ac4a61cf7fc9d0d","name":"updated_name_for_my_existing_rum_application","type":"browser","created_at":1755613584581,"org_id":321813,"updated_at":1755613584847,"tags":[],"is_active":false,"client_token":"pub5771f25e4c8f41666ac4a61cf7fc9d0d","created_by_handle":"frog@datadoghq.com","application_id":"94f76d3a-a8b2-4d1a-9938-771568a36f50","updated_by_handle":"frog@datadoghq.com","product_analytics_replay_sample_rate":100},"id":"94f76d3a-a8b2-4d1a-9938-771568a36f50"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/94f76d3a-a8b2-4d1a-9938-771568a36f50
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
