interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-688346277e8afe02","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"is_active":false,"rum_disabled_at":0,"created_at":1733845245930,"type":"ios","name":"test-rum-688346277e8afe02","updated_at":1733845245930,"org_id":321813,"hash":"pub49b6e409919401d6f57c613443277c5f","product_analytics_enabled_at":1733845245930,"application_id":"9b00e648-de1e-4d5f-af81-3d465b925b0d","client_token":"pub49b6e409919401d6f57c613443277c5f","product_analytics_enabled":false,"tags":[],"created_by_handle":"frog@datadoghq.com","updated_by_handle":"frog@datadoghq.com","rum_enabled":true,"rum_enabled_at":1733845245930,"product_analytics_disabled_at":1733845245930},"id":"9b00e648-de1e-4d5f-af81-3d465b925b0d"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/9b00e648-de1e-4d5f-af81-3d465b925b0d
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
