interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-27e6a81538211560","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"rum_disabled_at":0,"client_token":"pubabba2bf694ec513df0b434dd05fc8f4b","created_at":1733845244003,"rum_enabled_at":1733845244003,"tags":[],"created_by_handle":"frog@datadoghq.com","is_active":false,"type":"ios","updated_by_handle":"frog@datadoghq.com","product_analytics_enabled_at":1733845244003,"application_id":"77826c21-2a07-4b5a-a54d-8912e1802854","name":"test-rum-27e6a81538211560","updated_at":1733845244003,"product_analytics_disabled_at":1733845244003,"org_id":321813,"product_analytics_enabled":false,"hash":"pubabba2bf694ec513df0b434dd05fc8f4b","rum_enabled":true},"id":"77826c21-2a07-4b5a-a54d-8912e1802854"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/applications/77826c21-2a07-4b5a-a54d-8912e1802854
  response:
    body: '{"data":{"type":"rum_application","attributes":{"product_analytics_disabled_at":1733845244003,"rum_disabled_at":0,"is_active":false,"application_id":"77826c21-2a07-4b5a-a54d-8912e1802854","name":"test-rum-27e6a81538211560","updated_at":1733845244003,"updated_by_handle":"frog@datadoghq.com","org_id":321813,"rum_enabled_at":1733845244003,"hash":"pubabba2bf694ec513df0b434dd05fc8f4b","tags":[],"created_by_handle":"frog@datadoghq.com","type":"ios","rum_enabled":true,"product_analytics_enabled":false,"product_analytics_enabled_at":1733845244003,"created_at":1733845244003,"client_token":"pubabba2bf694ec513df0b434dd05fc8f4b"},"id":"77826c21-2a07-4b5a-a54d-8912e1802854"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/77826c21-2a07-4b5a-a54d-8912e1802854
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
