interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"cae2b3d1-9ea1-4321-8506-725cc4242f6f","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264413962,"org_id":321813,"updated_at":1670264413962,"is_active":false,"hash":"pub147f190fd98caeffebcb3bc3130879bf","client_token":"pub147f190fd98caeffebcb3bc3130879bf","type":"browser"},"type":"rum_application","id":"cae2b3d1-9ea1-4321-8506-725cc4242f6f"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/cae2b3d1-9ea1-4321-8506-725cc4242f6f
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/cae2b3d1-9ea1-4321-8506-725cc4242f6f
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
version: 2
