interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"8aeaffbf-12e3-4192-9b71-7f85bb8f2bf4","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1664825637704,"org_id":321813,"updated_at":1664825637704,"is_active":false,"hash":"pub1ef487d822e6ce60d082ad0364b29883","type":"browser"},"type":"rum_application","id":"8aeaffbf-12e3-4192-9b71-7f85bb8f2bf4"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"name":"updated_name_for_my_existing_rum_application","type":"browser"},"id":"8aeaffbf-12e3-4192-9b71-7f85bb8f2bf4","type":"rum_application_update"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/applications/8aeaffbf-12e3-4192-9b71-7f85bb8f2bf4
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"8aeaffbf-12e3-4192-9b71-7f85bb8f2bf4","name":"updated_name_for_my_existing_rum_application","created_by_handle":"frog@datadoghq.com","created_at":1664825637704,"org_id":321813,"updated_at":1664825638467,"is_active":false,"hash":"pub1ef487d822e6ce60d082ad0364b29883","type":"browser"},"type":"rum_application","id":"8aeaffbf-12e3-4192-9b71-7f85bb8f2bf4"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/8aeaffbf-12e3-4192-9b71-7f85bb8f2bf4
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
