interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"f29b9fed-bb0a-422a-8279-33036c2cec51","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264380961,"org_id":321813,"updated_at":1670264380961,"is_active":false,"hash":"pub937cab71d02024eb28c796162a479a56","client_token":"pub937cab71d02024eb28c796162a479a56","type":"browser"},"type":"rum_application","id":"f29b9fed-bb0a-422a-8279-33036c2cec51"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/applications/f29b9fed-bb0a-422a-8279-33036c2cec51
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"f29b9fed-bb0a-422a-8279-33036c2cec51","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264380961,"org_id":321813,"updated_at":1670264380961,"is_active":false,"hash":"pub937cab71d02024eb28c796162a479a56","client_token":"pub937cab71d02024eb28c796162a479a56","type":"browser"},"type":"rum_application","id":"f29b9fed-bb0a-422a-8279-33036c2cec51"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/f29b9fed-bb0a-422a-8279-33036c2cec51
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
