interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"created_at":1682521614038,"name":"test_name_create","created_by_handle":"frog@datadoghq.com","client_token":"pubff23c7e6c6c57b70c583c62de78b489e","updated_at":1682521614038,"type":"browser","updated_by_handle":"frog@datadoghq.com","org_id":321813,"is_active":false,"application_id":"e3f183bb-e9ca-436a-959b-f0c14d87964e","hash":"pubff23c7e6c6c57b70c583c62de78b489e"},"id":"e3f183bb-e9ca-436a-959b-f0c14d87964e"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/e3f183bb-e9ca-436a-959b-f0c14d87964e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
