interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-6fee7799535d7418","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"updated_by_handle":"frog@datadoghq.com","rum_enabled_at":1733845249567,"application_id":"00f4c783-4371-4e5c-b2bf-acf591de6c0d","tags":[],"product_analytics_enabled":false,"rum_disabled_at":0,"client_token":"pub997fafb8492c06b8826445aba2a0bd3a","created_at":1733845249567,"created_by_handle":"frog@datadoghq.com","is_active":false,"org_id":321813,"rum_enabled":true,"product_analytics_enabled_at":1733845249567,"product_analytics_disabled_at":1733845249567,"updated_at":1733845249567,"name":"test-rum-6fee7799535d7418","hash":"pub997fafb8492c06b8826445aba2a0bd3a","type":"ios"},"id":"00f4c783-4371-4e5c-b2bf-acf591de6c0d"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"id":"this_id_will_not_match","type":"rum_application_update"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/applications/00f4c783-4371-4e5c-b2bf-acf591de6c0d
  response:
    body: '{"errors":["The id attribute in the request body does not match the id
      in the URL"]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/00f4c783-4371-4e5c-b2bf-acf591de6c0d
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
