interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1659974733437,"org_id":321813,"updated_at":1659974733437,"hash":"pubbf38b6c932881edbbbba21744948c454","type":"browser"},"type":"rum_application","id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/applications/aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1659974733437,"org_id":321813,"updated_at":1659974733437,"hash":"pubbf38b6c932881edbbbba21744948c454","type":"browser"},"type":"rum_application","id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
