interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-08f8f866ac73a2f6","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"tags":[],"type":"ios","client_token":"pub89c189272956845c68f39e57d34d23f6","hash":"pub89c189272956845c68f39e57d34d23f6","updated_at":1733845247961,"org_id":321813,"product_analytics_disabled_at":1733845247961,"product_analytics_enabled_at":1733845247961,"rum_enabled_at":1733845247961,"application_id":"04898090-77be-4047-a2cb-654f5e050929","is_active":false,"rum_disabled_at":0,"product_analytics_enabled":false,"created_at":1733845247961,"created_by_handle":"frog@datadoghq.com","name":"test-rum-08f8f866ac73a2f6","rum_enabled":true,"updated_by_handle":"frog@datadoghq.com"},"id":"04898090-77be-4047-a2cb-654f5e050929"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"name":"updated_name_for_my_existing_rum_application","type":"browser"},"id":"04898090-77be-4047-a2cb-654f5e050929","type":"rum_application_update"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/applications/04898090-77be-4047-a2cb-654f5e050929
  response:
    body: '{"data":{"type":"rum_application","attributes":{"product_analytics_enabled":false,"tags":[],"updated_at":1733845248476,"rum_enabled":true,"type":"browser","product_analytics_enabled_at":1733845247961,"rum_enabled_at":1733845247961,"rum_disabled_at":0,"name":"updated_name_for_my_existing_rum_application","is_active":false,"client_token":"pub89c189272956845c68f39e57d34d23f6","created_at":1733845247961,"product_analytics_disabled_at":1733845247961,"hash":"pub89c189272956845c68f39e57d34d23f6","org_id":321813,"created_by_handle":"frog@datadoghq.com","updated_by_handle":"frog@datadoghq.com","application_id":"04898090-77be-4047-a2cb-654f5e050929"},"id":"04898090-77be-4047-a2cb-654f5e050929"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/04898090-77be-4047-a2cb-654f5e050929
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
