interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"3afb7cd0-d141-4065-9fb3-eef0b4216d8c","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1659974732224,"org_id":321813,"updated_at":1659974732224,"hash":"pubb39e078225631468dca5cf1be278eaab","type":"browser"},"type":"rum_application","id":"3afb7cd0-d141-4065-9fb3-eef0b4216d8c"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/3afb7cd0-d141-4065-9fb3-eef0b4216d8c
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/3afb7cd0-d141-4065-9fb3-eef0b4216d8c
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
