interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-5be7aad200899ffd","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"hash":"pub53e9a8788cac8b240efc0bfd17073059","type":"ios","name":"test-rum-5be7aad200899ffd","tags":[],"created_at":1733845240406,"updated_at":1733845240406,"created_by_handle":"frog@datadoghq.com","rum_enabled_at":1733845240406,"org_id":321813,"updated_by_handle":"frog@datadoghq.com","product_analytics_disabled_at":1733845240406,"rum_enabled":true,"application_id":"2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4","product_analytics_enabled_at":1733845240406,"rum_disabled_at":0,"product_analytics_enabled":false,"is_active":false,"client_token":"pub53e9a8788cac8b240efc0bfd17073059"},"id":"2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
