interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/events
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWDlHSkJicGxualRjd0FBQUFCQldEbEhTa05WVUVGQlJFOUllV0YyVjBWM1dEbEJRVVkifQ"}},"data":[{"attributes":{"attributes":{"synthetics":{"injected":false,"test_id":"5t9-c7b-efd","result_id":"7134547544592416761"},"resource":{"url":"https://datadoghq.dev/browser-sdk-test-playground/index.js","url_scheme":"https","url_host":"datadoghq.dev","provider":{"domain":"datadoghq.dev","type":"first
      party","name":"unknown"},"duration":0,"url_path_group":"/browser-sdk-test-playground/index.js","url_path":"/browser-sdk-test-playground/index.js","type":"js","id":"687cf2c1-c604-491e-8f27-a716a66b843d"},"geo":{"city":"Seoul","country_iso_code":"KR","country":"South
      Korea","continent_code":"AS","country_subdivision":"Seoul","as":{"domain":"amazon.com","type":"hosting","name":"Amazon.com,
      Inc."},"location":[126.9784,37.566],"continent":"Asia"},"_dd":{"format_version":2},"application":{"id":"6ae18142-192f-4582-9633-95121c2a01d7"},"session":{"ip":"13.209.118.42","plan":"replay","type":"synthetics","id":"eabb14f7-9c85-4ef4-a456-674988dd69b1","useragent":"Mozilla/5.0
      (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212
      Safari/537.36 Edg/95.0.1020.9 DatadogSynthetics"},"type":"resource","device":{"type":"Desktop","name":"Other"},"browser":{"version":"95.0.1020.9","name":"Edge","version_major":"95"},"os":{"name":"Linux"},"view":{"url_path":"/browser-sdk-test-playground/index.html","name":"/browser-sdk-test-playground/index.html","url":"https://datadoghq.dev/browser-sdk-test-playground/index.html?client_token=pub8c6977b707967b0b502ba8b3c233a24d&application_id=6ae18142-192f-4582-9633-95121c2a01d7&site=datadoghq.com","referrer":"","url_host":"datadoghq.dev","url_scheme":"https","url_path_group":"/browser-sdk-test-playground/index.html","url_query":{"client_token":"pub8c6977b707967b0b502ba8b3c233a24d","application_id":"6ae18142-192f-4582-9633-95121c2a01d7","site":"datadoghq.com"},"id":"5fb26a33-6a61-4ed2-948e-485b5bd41968"}},"tags":["sdk_version:4.5.0","source:browser","source:browser","sdk_version:4.5.0"],"timestamp":"2022-03-01T15:40:48.160Z"},"type":"rum","id":"AQAAAX9GJCSgMJBBKAAAAABBWDlHSkNVUEFBQ1dNeGtGSUE5SnhBQUQ"},{"attributes":{"attributes":{"synthetics":{"injected":false,"test_id":"5t9-c7b-efd","result_id":"7134547544592416761"},"resource":{"url":"https://www.datadoghq-browser-agent.com/datadog-rum-v4.js","url_scheme":"https","url_host":"www.datadoghq-browser-agent.com","provider":{"domain":"datadoghq-browser-agent.com","type":"unknown","name":"unknown"},"duration":0,"url_path_group":"/?","url_path":[...]
