interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"296a7eed-c8e3-480d-b3f1-0777555d6005","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1664825571864,"org_id":321813,"updated_at":1664825571864,"is_active":false,"hash":"puba93f53dff0e15bc11416bd06e42c6cd3","type":"browser"},"type":"rum_application","id":"296a7eed-c8e3-480d-b3f1-0777555d6005"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"id":"this_id_will_not_match","type":"rum_application_update"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/applications/296a7eed-c8e3-480d-b3f1-0777555d6005
  response:
    body: '{"errors":["The id attribute in the request body does not match the id
      in the URL"]}'
    code: 422
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/296a7eed-c8e3-480d-b3f1-0777555d6005
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
