interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-233b98774ce06558","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","attributes":{"org_id":321813,"tags":[],"product_analytics_disabled_at":1733845241534,"rum_enabled_at":1733845241534,"rum_enabled":true,"updated_by_handle":"frog@datadoghq.com","name":"test-rum-233b98774ce06558","rum_disabled_at":0,"created_by_handle":"frog@datadoghq.com","application_id":"e095c068-b8e7-44bd-b263-557a6bb99e0c","type":"ios","product_analytics_enabled":false,"hash":"pub41dd1d34d200608780557e0a2728f6c6","client_token":"pub41dd1d34d200608780557e0a2728f6c6","product_analytics_enabled_at":1733845241534,"updated_at":1733845241534,"created_at":1733845241534,"is_active":false},"id":"e095c068-b8e7-44bd-b263-557a6bb99e0c"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/e095c068-b8e7-44bd-b263-557a6bb99e0c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/e095c068-b8e7-44bd-b263-557a6bb99e0c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
