interactions:
- request:
    body: |
      {"filter":{"from":"now-15m","query":"@type:session AND @session.type:user","to":"now"},"options":{"time_offset":0,"timezone":"GMT"},"page":{"limit":25},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/events/search
  response:
    body: '{"data":[],"meta":{"elapsed":8,"request_id":"pddv1ChZuVVBDZFI0cFFSQzZUWGR2TUVFYTRRIiwKHKl8fXhuRXGvOyjzriL7J6Jc6RqbmKFnOgcA4oMSDPmicr8fZBUCKcqymg","status":"done"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
