interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"198f4147-44c5-4e15-bfc6-4e05b2a5405d","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264362971,"org_id":321813,"updated_at":1670264362971,"is_active":false,"hash":"pub8d34eedc19fcba1c90fd9da19541e888","client_token":"pub8d34eedc19fcba1c90fd9da19541e888","type":"browser"},"type":"rum_application","id":"198f4147-44c5-4e15-bfc6-4e05b2a5405d"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"name":"updated_name_for_my_existing_rum_application","type":"browser"},"id":"198f4147-44c5-4e15-bfc6-4e05b2a5405d","type":"rum_application_update"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/applications/198f4147-44c5-4e15-bfc6-4e05b2a5405d
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"198f4147-44c5-4e15-bfc6-4e05b2a5405d","name":"updated_name_for_my_existing_rum_application","created_by_handle":"frog@datadoghq.com","created_at":1670264362971,"org_id":321813,"updated_at":1670264364245,"is_active":false,"hash":"pub8d34eedc19fcba1c90fd9da19541e888","client_token":"pub8d34eedc19fcba1c90fd9da19541e888","type":"browser"},"type":"rum_application","id":"198f4147-44c5-4e15-bfc6-4e05b2a5405d"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/198f4147-44c5-4e15-bfc6-4e05b2a5405d
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
