interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"fdf8b82d-d289-408c-9e57-561abf7cd7c4","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264354633,"org_id":321813,"updated_at":1670264354633,"is_active":false,"hash":"pub0e8c306f38224753217726072c10be16","client_token":"pub0e8c306f38224753217726072c10be16","type":"browser"},"type":"rum_application","id":"fdf8b82d-d289-408c-9e57-561abf7cd7c4"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"id":"this_id_will_not_match","type":"rum_application_update"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/applications/fdf8b82d-d289-408c-9e57-561abf7cd7c4
  response:
    body: '{"errors":["The id attribute in the request body does not match the id
      in the URL"]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/fdf8b82d-d289-408c-9e57-561abf7cd7c4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
