interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-rum-4a6d822e36907848","type":"ios"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body: '{"data":{"type":"rum_application","id":"60ddadf3-d37f-4d33-bdf1-f56b674ae8ed","attributes":{"product_analytics_replay_sample_rate":100,"tags":[],"is_active":false,"org_id":321813,"updated_by_handle":"frog@datadoghq.com","application_id":"60ddadf3-d37f-4d33-bdf1-f56b674ae8ed","product_scales":{"rum_event_processing_scale":{"last_modified_at":1755612200050,"state":"ALL"},"product_analytics_retention_scale":{"last_modified_at":1755612200050,"state":"NONE"}},"name":"test-rum-4a6d822e36907848","created_at":1755612200050,"type":"ios","created_by_handle":"frog@datadoghq.com","client_token":"pubc55567bba30695d2cd7bf49190b6ccf5","updated_at":1755612200050,"hash":"pubc55567bba30695d2cd7bf49190b6ccf5"}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/applications/60ddadf3-d37f-4d33-bdf1-f56b674ae8ed
  response:
    body: '{"data":{"type":"rum_application","attributes":{"updated_at":1755612200050,"org_id":321813,"product_analytics_replay_sample_rate":100,"updated_by_handle":"frog@datadoghq.com","type":"ios","application_id":"60ddadf3-d37f-4d33-bdf1-f56b674ae8ed","hash":"pubc55567bba30695d2cd7bf49190b6ccf5","created_by_handle":"frog@datadoghq.com","product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1755612200050},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1755612200050}},"is_active":false,"tags":[],"name":"test-rum-4a6d822e36907848","client_token":"pubc55567bba30695d2cd7bf49190b6ccf5","created_at":1755612200050},"id":"60ddadf3-d37f-4d33-bdf1-f56b674ae8ed"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/applications/60ddadf3-d37f-4d33-bdf1-f56b674ae8ed
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
