interactions:
- request:
    body: |
      {"id":"bundle--44444444-4444-4444-8444-444444444444","objects":[{"created":"2026-07-22T12:00:00Z","id":"indicator--55555555-5555-4555-8555-555555555555","modified":"2026-07-22T12:00:00Z","pattern":"[ipv4-addr:value = '198.51.100.42']","pattern_type":"stix","spec_version":"2.1","type":"indicator","valid_from":"2026-07-22T12:00:00Z"}],"spec_version":"2.1","type":"bundle"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security/threat-intel/stix
  response:
    body: '{"data":{"id":"acme_inc","type":"threat-intel-stix-ingest","attributes":{"added":1,"invalid":0,"unsupported":0}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
