interactions:
- request:
    body: |
      {"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["my-processor-group"],"type":"datadog_logs"}],"processor_groups":[{"enabled":true,"id":"my-processor-group","include":"service:my-service","inputs":["splunk-hec-source"],"processors":[{"enabled":true,"id":"filter-processor","include":"status:error","type":"filter"}]}],"sources":[{"id":"splunk-hec-source","type":"splunk_hec","valid_tokens":[{"enabled":true,"field_to_add":{"key":"token_name","value":"primary_token"},"token_key":"SPLUNK_HEC_TOKEN"},{"enabled":false,"token_key":"SPLUNK_HEC_TOKEN_BACKUP"}]}]},"name":"Pipeline with Splunk HEC valid_tokens"},"type":"pipelines"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate
  response:
    body: '{"errors":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
