interactions:
- request:
    body: |
      {"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["processor-group-0"],"type":"datadog_logs"}],"processors":[{"display_name":"My Processor Group","enabled":true,"id":"processor-group-0","include":"service:my-service","inputs":["datadog-agent-source"],"processors":[{"display_name":"My Filter Processor","enabled":true,"id":"filter-processor","include":"status:error","type":"filter"}]}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"Main Observability Pipeline"},"type":"pipelines"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
  response:
    body: '{"data":{"id":"533d1e9a-e007-11f0-a813-da7ad0900002","type":"pipelines","attributes":{"name":"Main
      Observability Pipeline","config":{"destinations":[{"id":"datadog-logs-destination","inputs":["processor-group-0"],"type":"datadog_logs"}],"processors":[{"display_name":"My
      Processor Group","enabled":true,"id":"processor-group-0","include":"service:my-service","inputs":["datadog-agent-source"],"processors":[{"display_name":"My
      Filter Processor","enabled":true,"id":"filter-processor","include":"status:error","type":"filter"}]}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/533d1e9a-e007-11f0-a813-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/533d1e9a-e007-11f0-a813-da7ad0900002
  response:
    body: '{"errors":[{"title":"Resource Not Found"}]}

      '
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
