interactions:
- request:
    body: |
      {"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["filter-processor"],"type":"datadog_logs"}],"processors":[{"id":"unknown-processor","include":"service:my-service","inputs":["datadog-agent-source"],"type":"filter"}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"Main Observability Pipeline"},"type":"pipelines"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
  response:
    body: '{"errors":[{"title":"Component with ID filter-processor is an unknown component","meta":{"message":"Component
      with ID filter-processor is an unknown component"}},{"title":"The following
      components are unused: [datadog-agent-source unknown-processor]","meta":{"message":"The
      following components are unused: [datadog-agent-source unknown-processor]"}}]}

      '
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
