interactions:
- request:
    body: |
      {"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["my-processor-group"],"type":"datadog_logs"}],"processor_groups":[{"enabled":true,"id":"my-processor-group","include":"service:my-service","inputs":["datadog-agent-source"],"processors":[{"enabled":true,"id":"ocsf-mapper-processor","include":"service:my-service","mappings":[{"include":"source:cloudtrail","mapping":"CloudTrail Account Change"}],"type":"ocsf_mapper"}]}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"OCSF Mapper Pipeline"},"type":"pipelines"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate
  response:
    body: '{"errors":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
