interactions:
- request:
    body: |
      {"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["my-processor-group"],"type":"datadog_logs"}],"processor_groups":[{"enabled":true,"id":"my-processor-group","include":"service:my-service","inputs":["http-client-source"],"processors":[{"enabled":true,"id":"filter-processor","include":"status:error","type":"filter"}]}],"sources":[{"auth_strategy":"bearer","decoding":"bytes","id":"http-client-source","scrape_interval_secs":15,"scrape_timeout_secs":5,"token_key":"HTTP_CLIENT_TOKEN","type":"http_client"}]},"name":"Pipeline with Source Secret"},"type":"pipelines"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate
  response:
    body: '{"errors":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
