interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"7c0948c1-6d74-4bb2-bfbe-67a671aad927","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:53.118809Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"7c0948c1-6d74-4bb2-bfbe-67a671aad927","key":"DDFC-77694","merge_status":"NOT_MERGED","priority":"P4","public_id":"77777","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"is_multi":true,"type":"TEXT","value":["Abba","The Cure"]},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/7c0948c1-6d74-4bb2-bfbe-67a671aad927/custom_attributes/invalid_key
  response:
    body: '{"errors":[{"code":"resource_not_found","title":"failed to update case
      (command func error): custom attribute configuration not found","meta":{"key":"invalid_key"}}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
