interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"fd1228dc-d475-4a0b-8677-7a9ce3b50b3d","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-07-21T13:52:45.654592Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"fd1228dc-d475-4a0b-8677-7a9ce3b50b3d","key":"DDFC-72320","merge_status":"NOT_MERGED","priority":"P4","public_id":"72380","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Assign_case_returns_OK_response-1753105965@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"fb218c6d-6639-11f0-a2d3-1a819e56f795","attributes":{"name":null,"handle":"test-assign_case_returns_ok_response-1753105965@datadoghq.com","created_at":"2025-07-21T13:52:46.093451+00:00","modified_at":"2025-07-21T13:52:46.093451+00:00","email":"test-assign_case_returns_ok_response-1753105965@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a6015cb53f5ee1693a8a69c8f6904fae?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"assignee_id":"fb218c6d-6639-11f0-a2d3-1a819e56f795"},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/fd1228dc-d475-4a0b-8677-7a9ce3b50b3d/assign
  response:
    body: '{"data":{"id":"fd1228dc-d475-4a0b-8677-7a9ce3b50b3d","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-07-21T13:52:45.654592Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"fd1228dc-d475-4a0b-8677-7a9ce3b50b3d","key":"DDFC-72320","merge_status":"NOT_MERGED","modified_at":"2025-07-21T13:52:46.52116Z","priority":"P4","public_id":"72380","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"fb218c6d-6639-11f0-a2d3-1a819e56f795","type":"user"}},"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}},{"id":"fb218c6d-6639-11f0-a2d3-1a819e56f795","type":"user","attributes":{"active":false,"email":"test-assign_case_returns_ok_response-1753105965@datadoghq.com","handle":"test-assign_case_returns_ok_response-1753105965@datadoghq.com","name":""}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/fb218c6d-6639-11f0-a2d3-1a819e56f795
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
