interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Assign_case_returns_Not_Found_response-1756977075@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"1ca94dc0-896f-11f0-985d-62f106ac4786","attributes":{"name":null,"handle":"test-assign_case_returns_not_found_response-1756977075@datadoghq.com","created_at":"2025-09-04T09:11:16.371835+00:00","modified_at":"2025-09-04T09:11:16.371835+00:00","email":"test-assign_case_returns_not_found_response-1756977075@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7f6fbbdaaec3f024a847e57cc7871a5b?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"assignee_id":"1ca94dc0-896f-11f0-985d-62f106ac4786"},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737/assign
  response:
    body: '{"errors":[{"code":"resource_not_found","title":"case not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/1ca94dc0-896f-11f0-985d-62f106ac4786
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
