interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"03ec656b-5d21-41c4-a655-ccb18b0aa990","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:50.642707Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"03ec656b-5d21-41c4-a655-ccb18b0aa990","key":"DDFC-98826","merge_status":"NOT_MERGED","priority":"P4","public_id":"99282","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"title":"[UPDATED] Memory leak investigation on API"},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/03ec656b-5d21-41c4-a655-ccb18b0aa990/title
  response:
    body: '{"data":{"id":"03ec656b-5d21-41c4-a655-ccb18b0aa990","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:50.642707Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"03ec656b-5d21-41c4-a655-ccb18b0aa990","key":"DDFC-98826","merge_status":"NOT_MERGED","modified_at":"2025-12-30T13:49:50.769335Z","priority":"P4","public_id":"99282","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"[UPDATED]
      Memory leak investigation on API","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"modified_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
