interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_a_case_returns_CREATED_response-1755778896@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"62317a89-7e89-11f0-9461-ce4f97735c1f","attributes":{"name":null,"handle":"test-create_a_case_returns_created_response-1755778896@datadoghq.com","created_at":"2025-08-21T12:21:37.151481+00:00","modified_at":"2025-08-21T12:21:37.151481+00:00","email":"test-create_a_case_returns_created_response-1755778896@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4f1bc8c54bac47b85df020d44f88b368?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"priority":"NOT_DEFINED","title":"Security breach investigation in bcacd973748e4428","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"62317a89-7e89-11f0-9461-ce4f97735c1f","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"137da184-00bd-4491-90e8-f6e8e5a371db","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:37.576237Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"137da184-00bd-4491-90e8-f6e8e5a371db","key":"DDFC-77681","merge_status":"NOT_MERGED","priority":"NOT_DEFINED","public_id":"77763","status":"OPEN","title":"Security
      breach investigation in bcacd973748e4428","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"62317a89-7e89-11f0-9461-ce4f97735c1f","type":"user"}},"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}},{"id":"62317a89-7e89-11f0-9461-ce4f97735c1f","type":"user","attributes":{"active":false,"email":"test-create_a_case_returns_created_response-1755778896@datadoghq.com","handle":"test-create_a_case_returns_created_response-1755778896@datadoghq.com","name":""}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/62317a89-7e89-11f0-9461-ce4f97735c1f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
