interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"01a3276d-e609-4d6b-bfa4-a3af4585aeff","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-12T11:05:40.05498Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"01a3276d-e609-4d6b-bfa4-a3af4585aeff","key":"DDFC-75925","merge_status":"NOT_MERGED","priority":"P4","public_id":"75985","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Assign_case_returns_OK_response-1754996739@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"48886112-776c-11f0-a31d-56cf0fbed926","attributes":{"name":null,"handle":"test-assign_case_returns_ok_response-1754996739@datadoghq.com","created_at":"2025-08-12T11:05:40.555626+00:00","modified_at":"2025-08-12T11:05:40.555626+00:00","email":"test-assign_case_returns_ok_response-1754996739@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4153187a90e0a13181c322ee071aff0e?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"assignee_id":"48886112-776c-11f0-a31d-56cf0fbed926"},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/01a3276d-e609-4d6b-bfa4-a3af4585aeff/assign
  response:
    body: '{"data":{"id":"01a3276d-e609-4d6b-bfa4-a3af4585aeff","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-12T11:05:40.05498Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"01a3276d-e609-4d6b-bfa4-a3af4585aeff","key":"DDFC-75925","merge_status":"NOT_MERGED","modified_at":"2025-08-12T11:05:40.996328Z","priority":"P4","public_id":"75985","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"48886112-776c-11f0-a31d-56cf0fbed926","type":"user"}},"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}},{"id":"48886112-776c-11f0-a31d-56cf0fbed926","type":"user","attributes":{"active":false,"email":"test-assign_case_returns_ok_response-1754996739@datadoghq.com","handle":"test-assign_case_returns_ok_response-1754996739@datadoghq.com","name":""}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/48886112-776c-11f0-a31d-56cf0fbed926
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
