interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_a_case_returns_CREATED_response-1756977081@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"20134afc-896f-11f0-a107-e2d7850d515a","attributes":{"name":null,"handle":"test-create_a_case_returns_created_response-1756977081@datadoghq.com","created_at":"2025-09-04T09:11:22.099612+00:00","modified_at":"2025-09-04T09:11:22.099612+00:00","email":"test-create_a_case_returns_created_response-1756977081@datadoghq.com","icon":"https://secure.gravatar.com/avatar/35ad815464ecd132d1705473121496ce?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"priority":"NOT_DEFINED","title":"Security breach investigation in d3f911bd7889076d","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"20134afc-896f-11f0-a107-e2d7850d515a","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"d65bf4a7-e9e6-481a-ba1c-3e3d44cefeac","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-09-04T09:11:22.529731Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"d65bf4a7-e9e6-481a-ba1c-3e3d44cefeac","key":"DDFC-79578","merge_status":"NOT_MERGED","priority":"NOT_DEFINED","public_id":"79665","status":"OPEN","title":"Security
      breach investigation in d3f911bd7889076d","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"20134afc-896f-11f0-a107-e2d7850d515a","type":"user"}},"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}},{"id":"20134afc-896f-11f0-a107-e2d7850d515a","type":"user","attributes":{"active":false,"email":"test-create_a_case_returns_created_response-1756977081@datadoghq.com","handle":"test-create_a_case_returns_created_response-1756977081@datadoghq.com","name":""}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/20134afc-896f-11f0-a107-e2d7850d515a
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
