interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"83a5e059-3fde-48b5-b4d4-8bcc5227db32","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:47.318549Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"83a5e059-3fde-48b5-b4d4-8bcc5227db32","key":"DDFC-98812","merge_status":"NOT_MERGED","priority":"P4","public_id":"99268","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cases/83a5e059-3fde-48b5-b4d4-8bcc5227db32/custom_attributes/invalid_key
  response:
    body: '{"errors":[{"code":"resource_not_found","title":"failed to update batch:
      failed to apply command: failed to apply domain.RemoveCustomAttribute command:
      custom attribute configuration not found","meta":{"key":"invalid_key"}}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
