interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"b4b4d1fd-0df6-4e62-8c64-e248cdd7f056","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-12T11:05:53.707101Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"b4b4d1fd-0df6-4e62-8c64-e248cdd7f056","key":"DDFC-75937","merge_status":"NOT_MERGED","priority":"P4","public_id":"75997","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"status":"OPENED"},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/b4b4d1fd-0df6-4e62-8c64-e248cdd7f056/status
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"invalid status OPENED. Must
      be one of TRIGGERED, RESOLVED, PENDING_APPROVAL, APPROVED, COMPLETED, SUNKNOWN,
      OPEN, ACKNOWLEDGED, IMPLEMENTING, CANCELLED, DECLINED, IN_PROGRESS, CLOSED"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
