interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":{\"id\":\"3dd78296-b989-466d-97ef-428517d851ee\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"}}}"
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"And its brand new description","display_name":"Attribute 17557789-0000-0000-0000-175577890200","is_multi":true,"key":"attribute_08d279361f9bcdbb","type":"TEXT"},"type":"custom_attribute"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types/3dd78296-b989-466d-97ef-428517d851ee/custom_attributes
  response:
    body: '{"data":{"id":"c18c3669-9507-4293-ac56-08711b1e16a6","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"3dd78296-b989-466d-97ef-428517d851ee","description":"And
      its brand new description","display_name":"Attribute 17557789-0000-0000-0000-175577890200","is_multi":true,"key":"attribute_08d279361f9bcdbb","type":"TEXT"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"3dd78296-b989-466d-97ef-428517d851ee"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"15f17d2e-4972-44d9-9f31-684f2d19a16c","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:43.791404Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"15f17d2e-4972-44d9-9f31-684f2d19a16c","key":"DDFC-77686","merge_status":"NOT_MERGED","priority":"P4","public_id":"77769","status":"OPEN","title":"My
      new case","type":"TUNKNOWN","type_id":"3dd78296-b989-466d-97ef-428517d851ee"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cases/15f17d2e-4972-44d9-9f31-684f2d19a16c/custom_attributes/attribute_08d279361f9bcdbb
  response:
    body: '{"data":{"id":"15f17d2e-4972-44d9-9f31-684f2d19a16c","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:43.791404Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"15f17d2e-4972-44d9-9f31-684f2d19a16c","key":"DDFC-77686","merge_status":"NOT_MERGED","priority":"P4","public_id":"77769","status":"OPEN","title":"My
      new case","type":"TUNKNOWN","type_id":"3dd78296-b989-466d-97ef-428517d851ee"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cases/types/3dd78296-b989-466d-97ef-428517d851ee
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
