interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":{\"id\":\"b36e8af6-a952-43bb-b54b-d7b80fc1344e\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"}}}"
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"description":"And its brand new description","display_name":"Attribute 17557789-0000-0000-0000-175577891000","is_multi":true,"key":"attribute_1d2a4f8f9b39a284","type":"TEXT"},"type":"custom_attribute"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types/b36e8af6-a952-43bb-b54b-d7b80fc1344e/custom_attributes
  response:
    body: '{"data":{"id":"49cb8cff-1ff0-4476-b0c9-042e08935cb9","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"b36e8af6-a952-43bb-b54b-d7b80fc1344e","description":"And
      its brand new description","display_name":"Attribute 17557789-0000-0000-0000-175577891000","is_multi":true,"key":"attribute_1d2a4f8f9b39a284","type":"TEXT"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"b36e8af6-a952-43bb-b54b-d7b80fc1344e"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:51.92835Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb","key":"DDFC-77693","merge_status":"NOT_MERGED","priority":"P4","public_id":"77776","status":"OPEN","title":"My
      new case","type":"TUNKNOWN","type_id":"b36e8af6-a952-43bb-b54b-d7b80fc1344e"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"is_multi":true,"type":"FLOAT","value":[1,2.4]},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb/custom_attributes/attribute_1d2a4f8f9b39a284
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cases/types/b36e8af6-a952-43bb-b54b-d7b80fc1344e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
