interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"c80dba0a-3ff4-4f42-8681-3443bd11ba59","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-09-04T09:11:24.640662Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"c80dba0a-3ff4-4f42-8681-3443bd11ba59","key":"DDFC-79580","merge_status":"NOT_MERGED","priority":"P4","public_id":"79668","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cases/c80dba0a-3ff4-4f42-8681-3443bd11ba59/custom_attributes/invalid_key
  response:
    body: '{"errors":[{"code":"resource_not_found","title":"failed to update case
      (command func error): custom attribute configuration not found","meta":{"key":"invalid_key"}}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
