interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"3266bb95-e129-4377-a6a1-16cbd3e07395","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:46:35.065341Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"3266bb95-e129-4377-a6a1-16cbd3e07395","key":"DDFC-82971","merge_status":"NOT_MERGED","priority":"P4","public_id":"83059","status":"OPEN","status_name":"Open","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Assign_case_returns_OK_response-1759322794@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"aa4556b9-9ec4-11f0-8e55-4666095c4509","attributes":{"name":null,"handle":"test-assign_case_returns_ok_response-1759322794@datadoghq.com","created_at":"2025-10-01T12:46:35.593518+00:00","modified_at":"2025-10-01T12:46:35.593518+00:00","email":"test-assign_case_returns_ok_response-1759322794@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0b128b1184e8a9942ff24d7a55b04d84?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"assignee_id":"aa4556b9-9ec4-11f0-8e55-4666095c4509"},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/3266bb95-e129-4377-a6a1-16cbd3e07395/assign
  response:
    body: '{"data":{"id":"3266bb95-e129-4377-a6a1-16cbd3e07395","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:46:35.065341Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"3266bb95-e129-4377-a6a1-16cbd3e07395","key":"DDFC-82971","merge_status":"NOT_MERGED","modified_at":"2025-10-01T12:46:36.127269Z","priority":"P4","public_id":"83059","status":"OPEN","status_name":"Open","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"aa4556b9-9ec4-11f0-8e55-4666095c4509","type":"user"}},"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}},{"id":"aa4556b9-9ec4-11f0-8e55-4666095c4509","type":"user","attributes":{"active":false,"email":"test-assign_case_returns_ok_response-1759322794@datadoghq.com","handle":"test-assign_case_returns_ok_response-1759322794@datadoghq.com","name":""}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/aa4556b9-9ec4-11f0-8e55-4666095c4509
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
