interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"data":{"id":"d0d25821-8185-4cd4-9541-976892069a75","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-09-04T09:11:35.866323Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"d0d25821-8185-4cd4-9541-976892069a75","key":"DDFC-79591","merge_status":"NOT_MERGED","priority":"P4","public_id":"79679","status":"OPEN","title":"My
      new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"status":"OPENED"},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/d0d25821-8185-4cd4-9541-976892069a75/status
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"invalid status OPENED. Must
      be one of COMPLETED, CLOSED, TRIGGERED, RESOLVED, PENDING_APPROVAL, APPROVED,
      IMPLEMENTING, CANCELLED, DECLINED, SUNKNOWN, OPEN, IN_PROGRESS, ACKNOWLEDGED"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
