interactions:
- request:
    body: |
      {"data":{"attributes":{"priority":"NOT_DEFINED","title":"Security breach investigation","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"721074c8-63df-4d8f-a43d-ab41dd24ec35","type":"user"}},"project":{"data":{"id":"721074c8-63df-4d8f-a43d-ab41dd24ec35","type":"project"}}},"type":"case"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases
  response:
    body: '{"errors":[{"code":"resource_not_found","title":"project not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
