---
version: 1
interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.Test-Aggregate_events_returns_OK_response-1617974742","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    method: POST
  response:
    body: '{"meta":{"status":"done","request_id":"pddv1ChZWZkx6RmRjeVJaMnNlRGs5VlA5b3FBIiwKHCTIqPgOsgrlF9NMImdV0XTmAar38XP9XzbNYHwSDI8kWiF1-MJ3kD5ZyA","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "299"
      X-Ratelimit-Reset:
      - "258"
    status: 200 OK
    code: 200
    duration: ""
