---
version: 1
interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"5m","type":"timeseries"}],"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    method: POST
  response:
    body: '{"meta":{"status":"done","request_id":"pddv1ChZRbndYRjdIN1JZNlYxOGNidGdtZ3BnIi0KHWpwy2h-x4TUhVQA6i1frFHEo6kBm_uhOYYL6WhrEgzCRyAkAIlrOcEh1wQ","elapsed":3},"data":{"buckets":[{"computes":{"c0":[{"value":3,"time":"2021-06-02T12:10:00.000Z"}]},"by":{}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4656900"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "297"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
