---
version: 1
interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.Test-Aggregate_events_returns_OK_response-1618220981","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    method: POST
  response:
    body: '{"meta":{"status":"done","request_id":"pddv1ChYwTXp5ZXE3d1RFNmZQYmhrVXM3ekVnIi0KHQjozwg13kHxCgLjgCgyc0QnQujjYVNV68-Liho2Egx9vU83TIvVaE_4lH8","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "299"
      X-Ratelimit-Reset:
      - "19"
    status: 200 OK
    code: 200
    duration: ""
