---
version: 1
interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.go-Feature_Logs-Scenario_Aggregate_events_returns__OK__response-local-1607022748","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    method: POST
  response:
    body: '{"meta":{"status":"done","request_id":"bldrZmUzTjBRWTZFeVRsOXVzcmJMd3xiRkVtcS04VUZwZVN2NHZaeDQ1c0FB","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2vDhfmOEUBStl6KJFsHicYMybqtUSJ6AfSEVJTVlECBUwTgB5ievW7vT4NcYmXtK
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "5"
      X-Ratelimit-Period:
      - "30"
      X-Ratelimit-Remaining:
      - "4"
      X-Ratelimit-Reset:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
