---
version: 1
interactions:
- request:
    body: |
      {"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    method: POST
  response:
    body: '{"meta":{"status":"done","request_id":"pddv1ChZiN0dib3Rfb1FVLWlxYUV2MFNyMlhnIi0KHWuGyW5tAzHxm9A4TFLDnoLJjIC-_y7TewDd3uoNEgyNWCHejXBcRWRX1Nw","elapsed":2},"data":{"buckets":[{"computes":{"c0":3},"by":{}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4656900"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "296"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
