---
version: 1
interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.go-Feature_Logs-Scenario_Aggregate_events_returns__OK__response-local-1600936022","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    method: POST
  response:
    body: '{"meta":{"status":"done","request_id":"RFRJa2YtZXZUYkdhcnBRNVZYeVdTQXwwZTVEcW9rcEpyZkZsS1NIVDhWbWt3","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1yK3PnBzCoxF/WGKEJeJqS2Jb9mutr3xDuvLdPbJCfX1HVDqeCXkaWYDO6wQpQhO
      X-Dd-Version:
      - "35.3086137"
      X-Ratelimit-Limit:
      - "5"
      X-Ratelimit-Period:
      - "30"
      X-Ratelimit-Remaining:
      - "4"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
