interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/ci/pipelines/events?filter%5Bquery%5D=%40ci.provider.instance%3Acircleci&filter%5Bfrom%5D=2022-10-21T08%3A33%3A14.191Z&filter%5Bto%5D=2022-10-21T09%3A03%3A14.191Z&page%5Blimit%5D=5
  response:
    body: '{"data":[{"id":"AgAAAYP5xykf8-SC-QAAAAAAAAAYAAAAAEFZUDV4eWtmQUFCUks3bmxVT3JlZDMyLQAAACQAAAAAMDE4M2Y5YzctMzZiMC00MTA3LWFlNWUtMjY5YmIyNWNjMjU1","type":"cipipeline","attributes":{"attributes":{"duration":168245000000,"git":{"commit":{"committer":{"date":"2022-10-21T08:53:37Z","name":"GitHub","email":"noreply@github.com","date_timestamp":1666342417000},"author":{"date":"2022-10-21T08:53:37Z","name":"dependabot[bot]","email":"49699333+dependabot[bot]@users.noreply.github.com","date_timestamp":1666342417000},"message":"Bump
      sigs.k8s.io/custom-metrics-apiserver from 1.23.0 to 1.24.0\nBumps [sigs.k8s.io/custom-metrics-apiserver](https://github.com/kubernetes-sigs/custom-metrics-apiserver)
      from 1.23.0 to 1.24.0.\n- [Release notes](https://github.com/kubernetes-sigs/custom-metrics-apiserver/releases)\n-
      [Changelog](https://github.com/kubernetes-sigs/custom-metrics-apiserver/blob/master/RELEASE.md)\n-
      [Commits](https://github.com/kubernetes-sigs/custom-metrics-apiserver/compare/v1.23.0...v1.24.0)\n\n---\nupdated-dependencies:\n-
      dependency-name: sigs.k8s.io/custom-metrics-apiserver\n  dependency-type: direct:production\n  update-type:
      version-update:semver-minor\n...\n\nSigned-off-by: dependabot[bot] <support@github.com>","sha":"ae8f4633aeeffe565f65b51d835c1d16194bae84"},"repository_url":"https://github.com/DataDog/repo","repository":{"path":"/DataDog/repo","scheme":"https","name":"DataDog/repo","host":"github.com","id":"github.com/DataDog/repo"},"branch":"dependabot/go_modules/sigs.k8s.io/custom-metrics-apiserver-1.24.0"},"ci":{"pipeline":{"name":"test_and_build","id":"49e7fd76-3f02-4713-920a-9fe5815acb69","url":"https://app.circleci.com/pipelines/workflows/49e7fd76-3f02-4713-920a-9fe5815acb69"},"provider":{"instance":"circleci","name":"circleci"},"job":{"name":"integration_tests","id":"63fe0e47-c104-4084-a885-90a5efe48fc0","url":"https://app.circleci.com/jobs/gh/DataDog/repo/747606"},"status":"error"},"circleci":{"result":"failed"},"start":1666342754282000000},"ci_level":"job","tags":["source:apm","source:apm"]}},{"id":"AgAAAYP5xqkdMVh9SQAAAAAAAAAYAAAAAEFZUDV4cWtkQUFCTVgxb2RLVG05X1gyLQAAACQAAAAAMDE4M2Y5YzYtY2QzOC00YmU5LTllMjctYTZkYWY0ODU1NTM2","type":"cipipeline","attributes":{"attributes":{"duration":135912000000,"git":{"commit":{"committer":{"date":"2022-10-21T08:53:37Z","name":"GitHub","email":"noreply@github.com","date_timestamp":1666342417000},"author":{"date":"2022-10-21T08:53:37Z","name":"dependabot[bot]","email":"49699333+dependabot[bot]@users.noreply.github.com","da[...]
