interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/ci/pipelines/events?filter%5Bquery%5D=%40ci.provider.name%3Acircleci&filter%5Bfrom%5D=2022-11-28T11%3A27%3A44.947Z&filter%5Bto%5D=2022-11-28T11%3A57%3A44.947Z&page%5Blimit%5D=5
  response:
    body: '{"data":[{"id":"AgAAAYS-GYtIKjvAWQAAAAAAAAAYAAAAAEFZUy1HWXRJQUFDVGxWdU5hQ2MyOW5kYQAAACQAAAAAMDE4NGJlMWItODM2OC00YWNkLTg0ZGMtZTYzMDMzMjk5Mjgz","type":"cipipeline","attributes":{"attributes":{"duration":176127000000,"git":{"commit":{"committer":{"date":"2022-11-28T11:53:10Z","name":"John
      Doe","email":"john.doe@email.com","date_timestamp":1669636390000},"author":{"date":"2022-11-28T11:53:10Z","name":"John
      Doe","email":"john.doe@email.com","date_timestamp":1669636390000},"message":"Directly
      send SIGPROF signals to thread holding Global VM Lock","sha":"e1d41e2ebc93f48d901d3baa6cbe84f71bdb500a"},"repository_url":"https://github.com/DataDog/repo","repository":{"path":"/DataDog/repo","scheme":"https","name":"DataDog/repo","host":"github.com","id":"github.com/DataDog/repo"},"branch":"johndoe/directly-signal-gvl-thread"},"ci":{"pipeline":{"name":"build-and-test","id":"e67854de-34d7-4782-a62a-2231977026a6","url":"https://app.circleci.com/pipelines/workflows/e67804de-0000-4782-a62a-2231977026a6"},"provider":{"instance":"circleci","name":"circleci"},"job":{"name":"test-3.0","id":"b2fd7e9c-be84-4ad7-9cc5-3796b0cdbede","url":"https://app.circleci.com/jobs/gh/DataDog/repo/301777"},"status":"success"},"circleci":{"result":"success"},"start":1669636479817000000},"ci_level":"job","tags":["source:apm","source:apm"]}},{"id":"AgAAAYS-GWnbVbAEgQAAAAAAAAAYAAAAAEFZUy1HV25iQUFDWG5zSTV2dWM3dzNkYQAAACQAAAAAMDE4NGJlMWItODM2OC00YWNkLTg0ZGMtZTYzMDMzMjk5Mjgz","type":"cipipeline","attributes":{"attributes":{"duration":226593000000,"git":{"commit":{"committer":{"date":"2022-11-28T11:53:10Z","name":"John
      Doe","email":"john.doe@email.com","date_timestamp":1669636390000},"author":{"date":"2022-11-28T11:53:10Z","name":"John
      Doe","email":"john.doe@email.com","date_timestamp":1669636390[...]
