interactions:
- request:
    body: |
      {"compute":[{"aggregation":"pc90","metric":"@duration","type":"total"}],"filter":{"from":"now-15m","query":"@ci.provider.name:(gitlab OR github)","to":"now"},"group_by":[{"facet":"@ci.status","limit":10,"total":false}],"options":{"timezone":"GMT"},"page":{"limit":25}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/ci/pipelines/analytics/aggregate
  response:
    body: '{"meta":{"elapsed":11,"request_id":"pddv1ChZqQzVJUE9vVlNBLVFpRk84Vko5MmFRIi0KHbc5utz89Y10MZzALoXnFE9Iv7tPhZgvKgIWyiodEgzXWdD8rQBC2y027fc","status":"done"},"data":{"buckets":[]}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
