interactions:
- request:
    body: |
      {"filter":{"from":"now-15m","query":"@ci.provider.name:github AND @ci.status:error","to":"now"},"options":{"timezone":"GMT"},"page":{"limit":5},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/ci/pipelines/events/search
  response:
    body: '{"data":[],"meta":{"elapsed":20,"request_id":"pddv1ChZSTVpjd2Q0MlI2LVVBNjVTYlhFUThBIi0KHQuJgBOuQyr2rULJokHKzwf2zKDYmaOmEm5TrJuvEgyvH4LB-7WWiTQznlw","status":"done"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
