interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_a_monitor_returns_OK_response-1633076914"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"91315a50-2291-11ec-8baa-da7ad0900002","attributes":{"name":"Test-Create_a_monitor_returns_OK_response-1633076914","created_at":"2021-10-01T08:28:34.316843+00:00","modified_at":"2021-10-01T08:28:34.316843+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '26'
    status: 200 OK
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-Create_a_monitor_returns_OK_response-1633076914","priority":3,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\") \u003e 2","restricted_roles":["91315a50-2291-11ec-8baa-da7ad0900002"],"tags":["test:testcreateamonitorreturnsokresponse1633076914","env:ci"],"type":"log alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/monitor
  response:
    body: '{"restricted_roles":["91315a50-2291-11ec-8baa-da7ad0900002"],"tags":["test:testcreateamonitorreturnsokresponse1633076914","env:ci"],"deleted":null,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","message":"some message Notify: @hipchat-channel","id":48053793,"multi":true,"name":"Test-Create_a_monitor_returns_OK_response-1633076914","created":"2021-10-01T08:28:34.506181+00:00","created_at":1633076914000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-10-01T08:28:34.506181+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
      Data","type":"log alert","options":{"notify_audit":false,"locked":true,"silenced":{},"include_tags":true,"new_host_delay":300,"notify_no_data":false,"groupby_simple_monitor":false}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '6'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/monitor/48053793
  response:
    body: '{"deleted_monitor_id":48053793}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/91315a50-2291-11ec-8baa-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '26'
    status: 204 No Content
version: 1
