interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/monitor/search
  response:
    body: '{"counts":{"status":[{"count":65,"name":"No Data"},{"count":24,"name":"OK"},{"count":10,"name":"Alert"}],"muted":[{"count":71,"name":true},{"count":28,"name":false}],"tag":[{"count":33,"name":"probe_dc:aws:us-east-2"},{"count":29,"name":"client:go"},{"count":29,"name":"test"},{"count":28,"name":"check_status:live"},{"count":21,"name":"check_type:api"},{"count":19,"name":"testing:api"},{"count":10,"name":"check_status:paused"},{"count":8,"name":"check_type:browser"},{"count":8,"name":"testing:browser"},{"count":7,"name":"foo:bar"},{"count":5,"name":"environment:test"},{"count":5,"name":"generator:slops"},{"count":5,"name":"release:e6a2686"},{"count":5,"name":"systemid:splunk"},{"count":5,"name":"team:developer_insights"},{"count":4,"name":"baz"},{"count":4,"name":"probe_dc:aws:eu-central-1"},{"count":4,"name":"sli:latency"},{"count":4,"name":"slotype:alb"},{"count":3,"name":"app:webserver"},{"count":3,"name":"check_type:api-tcp"},{"count":3,"name":"env:test"},{"count":3,"name":"foo"},{"count":3,"name":"frontend"},{"count":3,"name":"testing:api-tcp"},{"count":2,"name":"check_type:api-icmp"},{"count":2,"name":"check_type:api-multi"},{"count":2,"name":"testing:api-icmp"},{"count":1,"name":"check_type:api-dns"},{"count":1,"name":"check_type:api-ssl"},{"count":1,"name":"probe_dc:aws:ap-northeast-1"},{"count":1,"name":"sli:availability"},{"count":1,"name":"slotype:elb"},{"count":1,"name":"tags_example"},{"count":1,"name":"testing:api-dns"}],"type":[{"count":38,"name":"synthetics"},{"count":23,"name":"log"},{"count":16,"name":"metric"},{"count":11,"name":"integration"},{"count":9,"name":"custom"},{"count":1,"name":"composite"},{"count":1,"name":"slo"}]},"monitors":[{"status":"No
      Data","scopes":["host:foo","environment:foo"],"classification":"integration","creator":{"handle":"slavek.kabrda@datadoghq.com","id":1379826,"name":"Slavek
      Kabrda"},"metrics":["aws.ec2.cpu"],"notifications":[{"handle":"hipchat-channel","name":"hipchat-channel"}],"muted_until_ts":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","id":32104166,"last_triggered_ts":null,"name":"tf-TestAccDatadogMonitor_RestrictedRoles-51685-1615723574","tags":[],"org_id":321813,"priority":null,"overall_state_modified":1615723744,"restricted_roles":["ad25d5a0-84bd-11eb-9798-da7ad0900002"],"type":"query
      alert"},{"status":"OK","scopes":[],"classification":"log","creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","id":2320499,"name":"CI
      Account"},"metrics":[],"notifications":[{"handle":"hipchat-channel","name":"hipchat-channel"}],"muted_until_ts":9223372036854775807,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","id":34964033,"last_triggered_ts":n[...]
