interactions:
- request:
    body: |
      {"draft_status":"draft","message":"some message","name":"Test-Create_an_Error_Tracking_monitor_returns_OK_response-1747261042","options":{"thresholds":{"critical":1}},"priority":3,"query":"error-tracking-rum(\"service:foo AND @error.source:source\").rollup(\"count\").by(\"@issue.id\").last(\"1h\") \u003e= 1","tags":["test:testcreateanerrortrackingmonitorreturnsokresponse1747261042","env:ci"],"type":"error-tracking alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/monitor
  response:
    body: '{"id":172139812,"org_id":2,"type":"error-tracking alert","name":"Test-Create_an_Error_Tracking_monitor_returns_OK_response-1747261042","message":"some
      message","tags":["test:testcreateanerrortrackingmonitorreturnsokresponse1747261042","env:ci"],"query":"error-tracking-rum(\"service:foo
      AND @error.source:source\").rollup(\"count\").by(\"@issue.id\").last(\"1h\")
      >= 1","options":{"thresholds":{"critical":1.0},"notify_no_data":false,"notify_audit":false,"new_host_delay":300,"include_tags":true,"groupby_simple_monitor":false,"silenced":{},"avalanche_window":20},"multi":true,"created_at":1747261042000,"created":"2025-05-14T22:17:22.989000+00:00","modified":"2025-05-14T22:17:22.989000+00:00","deleted":null,"priority":3,"draft_status":"draft","restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No
      Data","creator":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","email":"carl.martensen@datadoghq.com","id":638339},"run_as":null,"restricted":true}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/monitor/172139812
  response:
    body: '{"deleted_monitor_id":172139812}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
