interactions:
- id: 0
  request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-Create_a_ci_tests_monitor_returns_OK_response-1652800228","options":{"thresholds":{"critical":1}},"priority":3,"query":"ci-tests(\"type:test @git.branch:staging* @test.status:fail\").rollup(\"count\").by(\"@test.name\").last(\"5m\") \u003e= 1","tags":["test:testcreateacitestsmonitorreturnsokresponse1652800228","env:ci"],"type":"ci-tests alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/monitor
  response:
    body: '{"restricted_roles":null,"tags":["test:testcreateacitestsmonitorreturnsokresponse1652800228","env:ci"],"deleted":null,"query":"ci-tests(\"type:test
      @git.branch:staging* @test.status:fail\").rollup(\"count\").by(\"@test.name\").last(\"5m\")
      >= 1","message":"some message Notify: @hipchat-channel","id":71774917,"multi":true,"name":"Test-Create_a_ci_tests_monitor_returns_OK_response-1652800228","created":"2022-05-17T15:10:29.357369+00:00","created_at":1652800229000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2022-05-17T15:10:29.357369+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
      Data","type":"ci-tests alert","options":{"notify_audit":false,"silenced":{},"include_tags":true,"thresholds":{"critical":1.0},"new_host_delay":300,"notify_no_data":false,"groupby_simple_monitor":false}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/monitor/71774917
  response:
    body: '{"deleted_monitor_id":71774917}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
