interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/monitor/groups/search
  response:
    body: '{"counts":{"status":[{"count":196,"name":"Alert"},{"count":123,"name":"OK"}],"muted":[{"count":319,"name":false}],"tag":[{"count":195,"name":"check_status:live"},{"count":192,"name":"probe_dc:aws:us-east-2"},{"count":192,"name":"testing:api"},{"count":114,"name":"check_type:api"},{"count":27,"name":"check_type:api-udp"},{"count":27,"name":"check_type:api-websocket"},{"count":24,"name":"check_type:api-multi"},{"count":22,"name":"env:ci"},{"count":3,"name":"check_type:api-icmp"},{"count":3,"name":"client:go"},{"count":3,"name":"probe_dc:aws:ap-northeast-1"},{"count":3,"name":"test"},{"count":1,"name":"log"},{"count[...]
