interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-Edit_a_monitor_returns_OK_response-1718912224","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notification_preset_name":"hide_handles","notify_audit":false,"notify_no_data":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\") \u003e 2","tags":["test:testeditamonitorreturnsokresponse1718912224","env:ci"],"type":"log alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/monitor
  response:
    body: '{"id":147580793,"org_id":237503,"type":"log alert","name":"Test-Edit_a_monitor_returns_OK_response-1718912224","message":"some
      message Notify: @hipchat-channel","tags":["test:testeditamonitorreturnsokresponse1718912224","env:ci"],"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","options":{"enable_logs_sample":true,"escalation_message":"the situation
      has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notification_preset_name":"hide_handles","notify_audit":false,"notify_no_data":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"timeout_h":24,"silenced":{}},"multi":true,"created_at":1718912224000,"created":"2024-06-20T19:37:04.686145+00:00","modified":"2024-06-20T19:37:04.686145+00:00","deleted":null,"restricted_roles":null,"priority":3,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No
      Data","creator":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","email":"carl.martensen@datadoghq.com","id":1078685}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"name":"Test-Edit_a_monitor_returns_OK_response-1718912224-updated","options":{"evaluation_delay":null,"new_group_delay":600,"new_host_delay":null,"renotify_interval":null,"thresholds":{"critical":2,"warning":null},"timeout_h":null},"priority":null}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v1/monitor/147580793
  response:
    body: '{"id":147580793,"org_id":237503,"type":"log alert","name":"Test-Edit_a_monitor_returns_OK_response-1718912224-updated","message":"some
      message Notify: @hipchat-channel","tags":["test:testeditamonitorreturnsokresponse1718912224","env:ci"],"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","options":{"evaluation_delay":null,"new_group_delay":600,"new_host_delay":null,"renotify_interval":null,"thresholds":{"critical":2.0},"timeout_h":null,"notify_no_data":false,"notify_audit":false,"include_tags":true,"groupby_simple_monitor":false,"silenced":{}},"multi":true,"created_at":1718912224000,"created":"2024-06-20T19:37:04.686145+00:00","modified":"2024-06-20T19:37:05.129654+00:00","deleted":null,"restricted_roles":null,"priority":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No
      Data"}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/monitor/147580793
  response:
    body: '{"deleted_monitor_id":147580793}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
