interactions:
- request:
    body: |
      {"message":"Data quality alert triggered","name":"Test-Create_a_Data_Quality_monitor_with_sensitivity_returns_OK_response-1785515810","options":{"thresholds":{"critical":100},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","group_by":["entity_id"],"measure":"row_count","monitor_options":{"sensitivity":2.5},"name":"query1"}]},"priority":3,"query":"formula(\"query1\").last(\"5m\") \u003e 100","tags":["test:testcreateadataqualitymonitorwithsensitivityreturnsokresponse1785515810","env:ci"],"type":"data-quality alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/monitor
  response:
    body: '{"id":310055951,"org_id":321813,"type":"data-quality alert","name":"Test-Create_a_Data_Quality_monitor_with_sensitivity_returns_OK_response-1785515810","message":"Data
      quality alert triggered","tags":["test:testcreateadataqualitymonitorwithsensitivityreturnsokresponse1785515810","env:ci"],"query":"formula(\"query1\").last(\"5m\")
      > 100","options":{"thresholds":{"critical":100.0},"variables":[{"data_source":"data_quality_metrics","filter":"search
      for column where `database:production AND table:users`","group_by":["entity_id"],"measure":"row_count","monitor_options":{"sensitivity":2.5},"name":"query1"}],"notify_no_data":false,"notify_audit":false,"new_host_delay":300,"include_tags":true,"silenced":{}},"multi":false,"created_at":1785515810000,"created":"2026-07-31T16:36:50.914551+00:00","modified":"2026-07-31T16:36:50.914551+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No
      Data","creator":{"name":"CI Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","id":2320499}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/monitor/310055951
  response:
    body: '{"deleted_monitor_id":310055951}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
