interactions:
- id: 0
  request:
    body: |
      {"message":"some message","name":"Test-Create_an_Error_Tracking_monitor_returns_OK_response-1647547501","options":{"thresholds":{"critical":1}},"priority":3,"query":"error-tracking-rum(\"service:foo AND @error.source:source\").rollup(\"count\").by(\"@issue.id\").last(\"1h\") \u003e= 1","tags":["test:testcreateanerrortrackingmonitorreturnsokresponse1647547501","env:ci"],"type":"error-tracking alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/monitor
  response:
    body: '{"restricted_roles":null,"tags":["test:testcreateanerrortrackingmonitorreturnsokresponse1647547501","env:ci"],"deleted":null,"query":"error-tracking-rum(\"service:foo
      AND @error.source:source\").rollup(\"count\").by(\"@issue.id\").last(\"1h\")
      >= 1","message":"some message","id":66239295,"multi":true,"name":"Test-Create_an_Error_Tracking_monitor_returns_OK_response-1647547501","created":"2022-03-17T20:05:01.603951+00:00","created_at":1647547501000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2022-03-17T20:05:01.603951+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
      Data","type":"error-tracking alert","options":{"notify_audit":false,"silenced":{},"include_tags":true,"thresholds":{"critical":1.0},"new_host_delay":300,"notify_no_data":false,"groupby_simple_monitor":false}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/monitor/66239295
  response:
    body: '{"deleted_monitor_id":66239295}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
