---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"layout_type":"","title":"","widgets":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/123-abc-xyz
        method: PUT
      response:
        body: |
            {"errors":["Value of parameter 'layout_type' should be any of these ['ordered', 'free']"]}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11369"
            X-Ratelimit-Reset:
                - "42"
        status: 400 Bad Request
        code: 400
        duration: 0s
