---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Remove_a_user_from_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593452300"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"531849f2-ba2f-11ea-9c6a-3fa0c108c9ac","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Remove_a_user_from_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593452300","created_at":"2020-06-29T17:38:20.854367+00:00","modified_at":"2020-06-29T17:38:20.854367+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - x4pYHtiOW9rUeREgXmH2iIgBaXVGD7x1RIZUg56H0ghPppdtz0ZBEK6nMs8tuoqc
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593452300@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_remo","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"533878a8-ba2f-11ea-9c6a-8fba59fe96af","attributes":{"name":"go-testscenarios-feature_roles-scenario_remo","handle":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593452300@datadoghq.com","created_at":"2020-06-29T17:38:21.062130+00:00","email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593452300@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a662e5e6f5e1a3a3e4dc929c3e9c310c?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hABsPq9DIvV7yAEiU7rMxs7UCRuTbRH/kYpwue4a0q9qmwd4SUh9bBZ5SHPkBLc6
      X-Dd-Version:
      - "35.2678794"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"533878a8-ba2f-11ea-9c6a-8fba59fe96af","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/531849f2-ba2f-11ea-9c6a-3fa0c108c9ac/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"533878a8-ba2f-11ea-9c6a-8fba59fe96af","attributes":{"name":"go-testscenarios-feature_roles-scenario_remo","handle":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593452300@datadoghq.com","created_at":"2020-06-29T17:38:21.062130+00:00","email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593452300@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a662e5e6f5e1a3a3e4dc929c3e9c310c?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"531849f2-ba2f-11ea-9c6a-3fa0c108c9ac"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KKdI9UAf8fC5q7osIllxNui0A1CUm45w7mZBz+tu6Vlp/ga+Q6ZXvY0JoJlUBVi+
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
[...]
