interactions:
- request:
    body: |
      {"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"invalid_effect","name":"Cassette Execution Policy"},"type":"execution_policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"error creating execution
      policy"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
