interactions:
- request:
    body: |
      {"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette Execution Policy testcreateanexecutionpolicywithscopeandtargetsreturnscreatedresponse1786698819","scope":{"scripts":{"rules":[{"target_script_names":["restart_service.sh"]}]}},"targets":[{"agent_tags":["env:prod"],"name":"Production hosts"}]},"type":"execution_policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body: '{"data":{"id":"90a83e60-76b3-4064-a240-f65b602bbddd","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:40Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
      Execution Policy testcreateanexecutionpolicywithscopeandtargetsreturnscreatedresponse1786698819","scope":{"scripts":{"rules":[{"target_script_names":["restart_service.sh"]}]}},"targets":[{"agent_tags":["env:prod"],"name":"Production
      hosts"}],"updated_at":"2026-08-14T09:13:40Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions/execution-policies/90a83e60-76b3-4064-a240-f65b602bbddd
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
