interactions:
- request:
    body: |
      {"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette Execution Policy testlistexecutionpoliciesreturnsokresponse1786698823"},"type":"execution_policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body: '{"data":{"id":"8bb1ecd0-aed6-42cd-8a07-f9f781856f39","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:44Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
      Execution Policy testlistexecutionpoliciesreturnsokresponse1786698823","targets":[],"updated_at":"2026-08-14T09:13:44Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body: '{"data":[{"id":"8bb1ecd0-aed6-42cd-8a07-f9f781856f39","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:44Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
      Execution Policy testlistexecutionpoliciesreturnsokresponse1786698823","scope":{},"targets":[],"updated_at":"2026-08-14T09:13:44Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}],"meta":{"page":{"total":1}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions/execution-policies/8bb1ecd0-aed6-42cd-8a07-f9f781856f39
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
