interactions:
- request:
    body: |
      {"data":{"attributes":{"basedOn":"recommended","description":"Policy applied to internal web applications.","isDefault":false,"name":"Internal Network Policy","protectionPresets":["attack-tools"],"rules":[{"blocking":false,"enabled":true,"id":"rasp-001-002"}],"scope":[{"env":"prod","service":"billing-service"}],"version":0},"type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies
  response:
    body: '{"data":{"id":"841d53b4-4d73-4585-99cc-39dd10883f7c","type":"policy","attributes":{"description":"Policy
      applied to internal web applications.","isDefault":false,"name":"Internal Network
      Policy","protectionPresets":["attack-tools"],"rules":[{"id":"rasp-001-002","blocking":false,"enabled":true}],"rulesets":[],"scope":[{"env":"prod","service":"billing-service"}],"version":0},"meta":{"added_at":"2026-04-16T10:25:18Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
      Account"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies/841d53b4-4d73-4585-99cc-39dd10883f7c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 2
