interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Exclude false positives on a path","enabled":true,"parameters":["list.search.query"],"path_glob":"/accounts/*","rules_target":[{"rule_id":"dog-913-009","tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}]},"type":"exclusion_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PUT
    url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/unknown
  response:
    body: '{"errors":[{"title":"id not found","code":"404"}]}

      '
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
