interactions:
- request:
    body: |
      {"data":{"attributes":{"basedOn":"recommended","description":"This is a test policy.","name":"Test policy"},"type":"policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies
  response:
    body: '{"data":{"id":"cc3e574d-9b5a-4310-b7f4-5560483f84b1","type":"policy","attributes":{"description":"This
      is a test policy.","isDefault":false,"name":"Test policy","rules":[],"rulesets":[],"scope":[],"version":-1},"meta":{"added_at":"2026-04-16T10:25:20Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
      Account"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies/cc3e574d-9b5a-4310-b7f4-5560483f84b1
  response:
    body: '{"data":{"id":"cc3e574d-9b5a-4310-b7f4-5560483f84b1","type":"policy","attributes":{"description":"This
      is a test policy.","isDefault":false,"name":"Test policy","rules":[],"rulesets":[],"scope":[],"version":-1},"meta":{"added_at":"2026-04-16T10:25:20Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
      Account"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
