interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"filter":{"query":"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962"}},"id":"Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962"},"group_by":[],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":true}},"type":"logs_metrics"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"data":{"attributes":{"compute":{"include_percentiles":false}},"type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962"},"group_by":[],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"logs_metrics"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
