interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1681838831"}},"id":"Test-Delete_a_log_based_metric_returns_OK_response-1681838831","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body: '{"data":{"id":"Test_Delete_a_log_based_metric_returns_OK_response_1681838831","attributes":{"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1681838831"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1681838831
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1681838831
  response:
    body: '{"errors":["not_found(Metric with name ''Test_Delete_a_log_based_metric_returns_OK_response_1681838831''
      not found)"]}

      '
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
