interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1618491721","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618491721","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618491721
  response:
    body: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618491721","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618491721
  response:
    body: '{}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
version: 1
