interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1686139084","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1686139084","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1686139084
  response:
    body: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1686139084","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1686139084
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
