interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930"}},"id":"Test-Update_a_log_based_metric_returns_OK_response-1686138930","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1686138930","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"data":{"attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930-updated"}},"type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1686138930
  response:
    body: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1686138930","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1686138930
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
