---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"# Test-Get_a_notebook_returns_OK_response-1620749295 notebook text","type":"markdown"}},"type":"notebook_cells"}],"name":"Test-Get_a_notebook_returns_OK_response-1620749295","time":{"live_span":"1h"}},"type":"notebooks"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateNotebook
    url: https://api.datadoghq.com/api/v1/notebooks
    method: POST
  response:
    body: '{"data":{"type":"notebooks","id":776088,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620749295","cells":[{"attributes":{"definition":{"text":"#
      Test-Get_a_notebook_returns_OK_response-1620749295 notebook text","type":"markdown"}},"type":"notebook_cells","id":"g50n8y7c"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T16:08:15.614075+00:00","created":"2021-05-11T16:08:15.614075+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4507575"
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "27"
      X-Ratelimit-Reset:
      - "45"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetNotebook
    url: https://api.datadoghq.com/api/v1/notebooks/776088
    method: GET
  response:
    body: '{"data":{"type":"notebooks","id":776088,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620749295","cells":[{"attributes":{"definition":{"text":"#
      Test-Get_a_notebook_returns_OK_response-1620749295 notebook text","type":"markdown"}},"type":"notebook_cells","id":"g50n8y7c"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T16:08:15.614075+00:00","created":"2021-05-11T16:08:15.614075+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4507575"
      X-Ratelimit-Limit:
      - "90"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "89"
      X-Ratelimit-Reset:
      - "45"
    status: 200 OK
    code: 200
    duration: ""
[...]
