---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"## Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells"},{"attributes":{"definition":{"requests":[{"display_type":"line","q":"avg:system.load.1{*}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"type":"timeseries","yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells"}],"name":"Test-Create_a_notebook_returns_OK_response-1620749294","status":"published","time":{"live_span":"1h"}},"type":"notebooks"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateNotebook
    url: https://api.datadoghq.com/api/v1/notebooks
    method: POST
  response:
    body: '{"data":{"type":"notebooks","id":776086,"attributes":{"name":"Test-Create_a_notebook_returns_OK_response-1620749294","cells":[{"attributes":{"definition":{"text":"##
      Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"2ketd705"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseries","show_legend":true,"yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells","id":"dg9lc0pu"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T16:08:14.717090+00:00","created":"2021-05-11T16:08:14.717090+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4507575"
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteNotebook
    url: https://api.datadoghq.com/api/v1/notebooks/776086
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4507575"
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "46"
    status: 204 No Content
    code: 204
    duration: ""
