---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"# Test-Update_a_notebook_returns_OK_response-1620726112 notebook text","type":"markdown"}},"type":"notebook_cells"}],"name":"Test-Update_a_notebook_returns_OK_response-1620726112","time":{"live_span":"1h"}},"type":"notebooks"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateNotebook
    url: https://api.datadoghq.com/api/v1/notebooks
    method: POST
  response:
    body: '{"data":{"type":"notebooks","id":774039,"attributes":{"name":"Test-Update_a_notebook_returns_OK_response-1620726112","cells":[{"attributes":{"definition":{"text":"#
      Test-Update_a_notebook_returns_OK_response-1620726112 notebook text","type":"markdown"}},"type":"notebook_cells","id":"wf8nt6pm"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:41:52.489432+00:00","created":"2021-05-11T09:41:52.489432+00:00","author":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4503153"
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "28"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"## Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells"},{"attributes":{"definition":{"requests":[{"display_type":"line","q":"avg:system.load.1{*}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"type":"timeseries","yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells"}],"name":"Test-Update_a_notebook_returns_OK_response-1620726112-updated","status":"published","time":{"live_span":"1h"}},"type":"notebooks"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateNotebook
    url: https://api.datadoghq.com/api/v1/notebooks/774039
    method: PUT
  response:
    body: '{"data":{"type":"notebooks","id":774039,"attributes":{"name":"Test-Update_a_notebook_returns_OK_respon[...]
[...]
