interactions:
- request:
    body: |
      {"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"## Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells"},{"attributes":{"definition":{"requests":[{"display_type":"line","q":"avg:system.load.1{*}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"type":"timeseries","yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells"}],"name":"Test-Create_a_notebook_returns_OK_response-1620731046","status":"published","time":{"live_span":"1h"}},"type":"notebooks"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/notebooks
  response:
    body: '{"data":{"type":"notebooks","id":774483,"attributes":{"name":"Test-Create_a_notebook_returns_OK_response-1620731046","cells":[{"attributes":{"definition":{"text":"##
      Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"zv49s0vw"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseries","show_legend":true,"yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells","id":"gd4i5b41"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T11:04:06.970473+00:00","created":"2021-05-11T11:04:06.970473+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - '35.4504344'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '54'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/notebooks/774483
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - '35.4504344'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '53'
    status: 204 No Content
version: 1
