---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListNotebooks
    url: https://api.datadoghq.com/api/v1/notebooks
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":22,"total_count":22}},"data":[{"type":"notebooks","id":765486,"attributes":{"name":"Test-Create_a_notebook_returns_OK_response-1620398705","cells":[{"attributes":{"definition":{"text":"##
      Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"g8qokan9"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseries","show_legend":true,"yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells","id":"eabz2v5p"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-07T14:45:06.347963+00:00","created":"2021-05-07T14:45:06.347963+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}},{"type":"notebooks","id":765472,"attributes":{"name":"Test-Create_a_notebook_returns_OK_response-1620398662","cells":[{"attributes":{"definition":{"text":"##
      Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"2xvq17kk"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseries[...]
