interactions:
- request:
    body: |
      {"name":"Test-Get_all_SLO_corrections_returns_OK_response-1652349016","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"f28e523757705ebe972c5ca88a1bbea8","name":"Test-Get_all_SLO_corrections_returns_OK_response-1652349016","created_at":1652349017,"tags":[],"modified_at":1652349017,"type":"metric"}],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"category":"Other","description":"Test Correction","end":1652352616,"slo_id":"f28e523757705ebe972c5ca88a1bbea8","start":1652349016,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body: '{"data":{"type":"correction","id":"edf12dbe-d1d8-11ec-b51e-da7ad0902002","attributes":{"slo_id":"f28e523757705ebe972c5ca88a1bbea8","start":1652349016,"end":1652352616,"description":"Test
      Correction","category":"Other","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body: '{"meta":{"page":{"total_filtered_count":9,"total_count":9}},"data":[{"type":"correction","id":"edf12dbe-d1d8-11ec-b51e-da7ad0902002","attributes":{"slo_id":"f28e523757705ebe972c5ca88a1bbea8","start":1652349016,"end":1652352616,"description":"Test
      Correction","category":"Other","timezone":"UTC","created_at":1652349017,"modified_at":1652349017,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/correction/edf12dbe-d1d8-11ec-b51e-da7ad0902002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/f28e523757705ebe972c5ca88a1bbea8
  response:
    body: '{"data":["f28e523757705ebe972c5ca88a1bbea8"],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
