interactions:
- request:
    body: |
      {"name":"Test-Create_an_SLO_correction_returns_OK_response-1619078404","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"1719f1f63e595f12942018476f9e9662","name":"Test-Create_an_SLO_correction_returns_OK_response-1619078404","created_at":1619078404,"tags":[],"modified_at":1619078404,"type":"metric"}],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '56'
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"category":"Scheduled Maintenance","description":"Test-Create_an_SLO_correction_returns_OK_response-1619078404","end":1619082004,"slo_id":"1719f1f63e595f12942018476f9e9662","start":1619078404,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body: '{"data":{"type":"correction","id":"bf658804-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"1719f1f63e595f12942018476f9e9662","start":1619078404,"end":1619082004,"description":"Test-Create_an_SLO_correction_returns_OK_response-1619078404","category":"Scheduled
      Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
      Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '56'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/1719f1f63e595f12942018476f9e9662
  response:
    body: '{"data":["1719f1f63e595f12942018476f9e9662"],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '2999'
      X-Ratelimit-Reset:
      - '5'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/correction/bf658804-a340-11eb-9fc2-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '55'
    status: 204 No Content
version: 1
