interactions:
- request:
    body: |
      {"name":"Test-Get_all_SLO_corrections_returns_OK_response-1619078405","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"f7b252ed5af35ea5b94be9e9c8688489","name":"Test-Get_all_SLO_corrections_returns_OK_response-1619078405","created_at":1619078405,"tags":[],"modified_at":1619078405,"type":"metric"}],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '55'
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"category":"Other","description":"Test Correction","end":1619082005,"slo_id":"f7b252ed5af35ea5b94be9e9c8688489","start":1619078405,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body: '{"data":{"type":"correction","id":"bf9e01a2-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"f7b252ed5af35ea5b94be9e9c8688489","start":1619078405,"end":1619082005,"description":"Test
      Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
      Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11998'
      X-Ratelimit-Reset:
      - '55'
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/correction/bf9e01a2-a340-11eb-9fc2-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11998'
      X-Ratelimit-Reset:
      - '55'
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/f7b252ed5af35ea5b94be9e9c8688489
  response:
    body: '{"data":["f7b252ed5af35ea5b94be9e9c8688489"],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367882'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '2998'
      X-Ratelimit-Reset:
      - '5'
    status: 200 OK
version: 1
