interactions:
- request:
    body: |
      {"data":{"attributes":{"category":"Other","description":"Test Correction","end":1780504981,"slo_query":"env:prod service:checkout","start":1780501381,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body: '{"data":{"type":"correction","id":"e74cc4de-5f62-11f1-a69d-da7ad0902002","attributes":{"slo_id":null,"start":1780501381,"end":1780504981,"description":"Test
      Correction","category":"Other","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"slo_query":"env:prod
      service:checkout","creator":{"data":{"type":"users","id":"780cfef8-1736-4a4e-a826-b875b1cadcec","attributes":{"uuid":"780cfef8-1736-4a4e-a826-b875b1cadcec","handle":"blaise.vonohlen@datadoghq.com","email":"blaise.vonohlen@datadoghq.com","name":"Blaise
      von Ohlen","icon":"https://secure.gravatar.com/avatar/c78d8282d57321884e8f77172229634f?s=48&d=retro"}}},"modifier":null}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"category":"Scheduled Maintenance","description":"Test-Update_an_SLO_correction_with_slo_query_returns_OK_response-1780501381","end":1780504981,"slo_query":"env:staging service:checkout","start":1780501381,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v1/slo/correction/e74cc4de-5f62-11f1-a69d-da7ad0902002
  respons[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/correction/e74cc4de-5f62-11f1-a69d-da7ad0902002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
