interactions:
- id: 0
  request:
    body: |
      {"name":"Test-Get_all_SLO_corrections_returns_OK_response-1668703099","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"id":"60569193a09054f6bc6fa6e87fb43031","name":"Test-Get_all_SLO_corrections_returns_OK_response-1668703099","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1668703100,"modified_at":1668703100}],"error":null}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"data":{"attributes":{"category":"Other","description":"Test Correction","end":1668706699,"slo_id":"60569193a09054f6bc6fa6e87fb43031","start":1668703099,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body: '{"data":{"type":"correction","id":"3ecd96c6-6696-11ed-9c21-da7ad0902002","attributes":{"slo_id":"60569193a09054f6bc6fa6e87fb43031","start":1668703099,"end":1668706699,"description":"Test
      Correction","category":"Other","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/slo/correction?offset=1&limit=1
  response:
    body: '{"data":[{"type":"correction","id":"3ecd96c6-6696-11ed-9c21-da7ad0902002","attributes":{"slo_id":"60569193a09054f6bc6fa6e87fb43031","start":1668703099,"end":1668706699,"description":"Test
      Correction","category":"Other","timezone":"UTC","created_at":1668703100,"modified_at":1668703100,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}],"meta":{"page":{"total_count":2,"total_filtered_count":1}}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 3
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/correction/3ecd96c6-6696-11ed-9c21-da7ad0902002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- id: 4
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/60569193a09054f6bc6fa6e87fb43031
  response:
    body: '{"data":["60569193a09054f6bc6fa6e87fb43031"],"error":null}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
