interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_all_service_objects_returns_OK_response-1655132328","opsgenie_api_key":"00000000-0000-0000-0000-000000000000","region":"us"},"type":"opsgenie-service"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services
  response:
    body: '{"data":{"attributes":{"region":"us","name":"Test-Get_all_service_objects_returns_OK_response-1655132328","custom_url":null},"type":"opsgenie-service","id":"337861b6-ed46-4c66-b4a0-32d7a4ba94b9"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services/337861b6-ed46-4c66-b4a0-32d7a4ba94b9
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
