interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_single_service_object_returns_OK_response-1654804626","opsgenie_api_key":"00000000-0000-0000-0000-000000000000","region":"us"},"type":"opsgenie-service"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services
  response:
    body: '{"data":{"attributes":{"region":"us","name":"Test-Update_a_single_service_object_returns_OK_response-1654804626","custom_url":null},"type":"opsgenie-service","id":"0b04ddfb-b00a-4243-baed-33ff1bff0909"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_single_service_object_returns_OK_response-1654804626--updated","opsgenie_api_key":"00000000-0000-0000-0000-000000000000","region":"eu"},"id":"0b04ddfb-b00a-4243-baed-33ff1bff0909","type":"opsgenie-service"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services/0b04ddfb-b00a-4243-baed-33ff1bff0909
  response:
    body: '{"data":{"attributes":{"region":"eu","name":"Test-Update_a_single_service_object_returns_OK_response-1654804626--updated","custom_url":null},"type":"opsgenie-service","id":"0b04ddfb-b00a-4243-baed-33ff1bff0909"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services/0b04ddfb-b00a-4243-baed-33ff1bff0909
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
