interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_a_single_service_object_returns_OK_response-1655132327","opsgenie_api_key":"00000000-0000-0000-0000-000000000000","region":"us"},"type":"opsgenie-service"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services
  response:
    body: '{"data":{"attributes":{"region":"us","name":"Test-Get_a_single_service_object_returns_OK_response-1655132327","custom_url":null},"type":"opsgenie-service","id":"3ca2db9d-e088-47d1-9bfe-b88463c23f2d"}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services/3ca2db9d-e088-47d1-9bfe-b88463c23f2d
  response:
    body: '{"data":{"attributes":{"region":"us","name":"Test-Get_a_single_service_object_returns_OK_response-1655132327","custom_url":null},"type":"opsgenie-service","id":"3ca2db9d-e088-47d1-9bfe-b88463c23f2d"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/opsgenie/services/3ca2db9d-e088-47d1-9bfe-b88463c23f2d
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
