---
version: 1
interactions:
- request:
    body: |
      {"index_names":null}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsIndexOrder
    url: https://api.datadoghq.com/api/v1/logs/config/index-order
    method: PUT
  response:
    body: '{"error":{"code":"InvalidArgument","message":"Missing field: index_names"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "86"
      X-Ratelimit-Reset:
      - "1694"
    status: 400 Bad Request
    code: 400
    duration: ""
