interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Edit_an_AuthN_Mapping_returns_OK_response-1652349071"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"0e6f2848-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Test-Edit_an_AuthN_Mapping_returns_OK_response-1652349071","created_at":"2022-05-12T09:51:12.191159+00:00","modified_at":"2022-05-12T09:51:12.302936+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"attribute_key":"testeditanauthnmappingreturnsokresponse1652349071","attribute_value":"Test-Edit_an_AuthN_Mapping_returns_OK_response-1652349071"},"relationships":{"role":{"data":{"id":"0e6f2848-d1d9-11ec-ad3d-da7ad0900002","type":"roles"}}},"type":"authn_mappings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/authn_mappings
  response:
    body: '{"included":[{"type":"roles","id":"0e6f2848-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Test-Edit_an_AuthN_Mapping_returns_OK_response-1652349071","created_at":"2022-05-12T09:51:12.191159+00:00","modified_at":"2022-05-12T09:51:12.302936+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}],"data":{"type":"authn_mappings","id":"0ece1b8c-d1d9-11ec-ad3d-da7ad0900002","attributes":{"attribute_key":"testeditanauthnmappingreturnsokresponse1652349071","attribute_value":"Test-Edit_an_AuthN_Mapping_returns_OK_response-1652349071","created_at":"2022-05-12T09:51:12.813412+00:00","modified_at":"2022-05-12T09:51:12.813412+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"0e6f2848-d1d9-11ec-ad3d-da7ad0900002"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"attribute_key":"member-of","attribute_value":"Development"},"id":"0ece1b8c-d1d9-11ec-ad3d-da7ad0900002","relationships":{"role":{"data":{"id":"0e6f2848-d1d9-11ec-ad3d-da7ad0900002","type":"roles"}}},"type":"authn_mappings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PATCH
    url: https://api.datadoghq.com/api/v2/authn_mappings/0ece1b8c-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: '{"incl[...]
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/0e6f2848-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
