interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"aecfdc3a-e339-11ec-b153-da7ad0900002","attributes":{"name":"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742","created_at":"2022-06-03T12:35:42.713347+00:00","modified_at":"2022-06-03T12:35:42.776783+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"attribute_key":"testlistallauthnmappingsreturnsokresponse1654259742","attribute_value":"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742"},"relationships":{"role":{"data":{"id":"aecfdc3a-e339-11ec-b153-da7ad0900002","type":"roles"}}},"type":"authn_mappings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/authn_mappings
  response:
    body: '{"included":[{"type":"roles","id":"aecfdc3a-e339-11ec-b153-da7ad0900002","attributes":{"name":"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742","created_at":"2022-06-03T12:35:42.713347+00:00","modified_at":"2022-06-03T12:35:42.776783+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}],"data":{"type":"authn_mappings","id":"aef888f6-e339-11ec-b153-da7ad0900002","attributes":{"attribute_key":"testlistallauthnmappingsreturnsokresponse1654259742","attribute_value":"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742","created_at":"2022-06-03T12:35:42.980147+00:00","modified_at":"2022-06-03T12:35:42.980147+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"aecfdc3a-e339-11ec-b153-da7ad0900002"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/authn_mappings?filter=testlistallauthnmappingsreturnsokresponse1654259742
  response:
    body: '{"included":[{"type":"roles","id":"aecfdc3a-e339-11ec-b153-da7ad0900002","attributes":{"name":"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742","created_at":"2022-06-03T12:35:42.713347+00:00","modified_at":"2022-06-03T12:35:42.776783+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":7}},"data":[{"type":"authn_mappings","id":"aef888f6-e339-11ec-b153-da7ad0900002","attributes":{"attribute_key":"testlistallauthnmappingsreturnsokresponse1654259742","attribute_value":"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742","created_at":"2022-06-03T12:35:42.980147+00:00","modified_at":"2022-06-03T12:35:42.980147+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"aecfdc3a-e339-11ec-b153-da7ad0900002"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/authn_mappings/aef888f6-e339-11ec-b153-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/aecfdc3a-e339-11ec-b153-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
