interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"datastore-name","primary_column_name":"primaryKey","values":[{"primaryKey":"key1","value":"Newton"},{"primaryKey":"key2","value":"Leibniz"}]},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/import
  response:
    body: '{"data":{"id":"20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602","type":"datastores","attributes":{"item_count":2}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602
  response:
    body: '{"data":{"id":"20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
