interactions:
- request:
    body: |
      {"data":{"attributes":{},"id":"invalid-uuid","type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid
  response:
    body: '{"errors":[{"status":"400","id":"22fc6f64-67c9-44ad-b6e0-094dd77c7690","title":"invalid
      path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
