interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body: '{"data":{"id":"f5bb885b-d05e-4a9f-97f6-c050a5ba771b","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"value":{"missing":"item-key"}},"type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/f5bb885b-d05e-4a9f-97f6-c050a5ba771b/items
  response:
    body: '{"errors":[{"status":"400","id":"be36891b-613e-4a1a-bca8-5bcb05cfb1b5","title":"item
      key missing or invalid","detail":"primary column \"id\" is missing"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/f5bb885b-d05e-4a9f-97f6-c050a5ba771b
  response:
    body: '{"data":{"id":"f5bb885b-d05e-4a9f-97f6-c050a5ba771b","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
