interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body: '{"data":{"id":"2311c2ef-1448-4dad-a67a-53cb3ea678be","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/actions-datastores/2311c2ef-1448-4dad-a67a-53cb3ea678be
  response:
    body: '{"data":{"id":"2311c2ef-1448-4dad-a67a-53cb3ea678be","type":"datastores","attributes":{"created_at":"2025-08-11T22:18:59.68687Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-08-11T22:18:59.68687Z","name":"Test
      Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"values":[{"id":"key1","value":{"data":"example data 1","key":"value"}},{"badPrimaryKey":"key2","value":{"data":"example data 2","key":"value"}}]},"id":"2311c2ef-1448-4dad-a67a-53cb3ea678be","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/2311c2ef-1448-4dad-a67a-53cb3ea678be/items/bulk
  response:
    body: '{"errors":[{"title":"item key missing or invalid","detail":"item at index
      1: primary column \"id\" is missing"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/2311c2ef-1448-4dad-a67a-53cb3ea678be
  response:
    body: ''
    code: 200
    duration: 0ms
    headers: {}
    status: 200 No Content
version: 2
