interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body: '{"data":{"id":"f21ed922-eb4b-41e0-8906-424252c7ace7","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/actions-datastores/f21ed922-eb4b-41e0-8906-424252c7ace7
  response:
    body: '{"data":{"id":"f21ed922-eb4b-41e0-8906-424252c7ace7","type":"datastores","attributes":{"created_at":"2025-08-29T21:35:05.441762Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-08-29T21:35:05.441762Z","name":"Test
      Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/f21ed922-eb4b-41e0-8906-424252c7ace7
  response:
    body: '{"data":{"id":"f21ed922-eb4b-41e0-8906-424252c7ace7","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
