interactions:
- request:
    body: |
      {"data":{"attributes":{"values":[{"id":"cust_3141","name":"Johnathan"},{"id":"cust_3142","name":"Mary"}]},"id":"70b87c26-886f-497a-bd9d-09f53bc9b40c","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/70b87c26-886f-497a-bd9d-09f53bc9b40c/items/bulk
  response:
    body: '{"errors":[{"status":"404","id":"c90cb65a-90b6-47e8-9662-d36dfef3ffe9","title":"datastore
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
