interactions:
- request:
    body: |
      {"data":{"attributes":{"item_key":"primaryKey"},"id":"invalid-uuid","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items
  response:
    body: '{"errors":[{"title":"invalid path parameter","detail":"invalid datastoreId
      format in path","source":{"parameter":"datastoreId"}}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
