interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body: '{"data":{"id":"f12a6a3b-ee1a-4388-a47b-d4aae4988a45","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/f12a6a3b-ee1a-4388-a47b-d4aae4988a45
  response:
    body: '{"data":{"id":"f12a6a3b-ee1a-4388-a47b-d4aae4988a45","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/f12a6a3b-ee1a-4388-a47b-d4aae4988a45
  response:
    body: ''
    code: 200
    duration: 0ms
    headers: {}
    status: 200 No Content
version: 2
