interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"datastore-name","primary_column_name":"0invalid_name","values":[{"primaryKey":"key1","value":{"data":"example data 1","key":"value"}},{"primaryKey":"key2","value":{"data":"example data 2","key":"value"}}]},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/import
  response:
    body: '{"errors":[{"status":"400","id":"996818df-5080-4cfd-bd5a-44c995871c30","title":"datastore
      configuration invalid","detail":"column name ''0invalid_name'' does not start
      with a letter or an underscore"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
