interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body: '{"data":{"id":"ce9fa438-af5e-45da-8de1-d9a786bf28cd","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"value":{"data":"test-value","id":"test-key"}},"id":"263cb32b-0e88-48d5-8b60-1e3b58d5a43d","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/ce9fa438-af5e-45da-8de1-d9a786bf28cd/items
  response:
    body: '{"data":{"id":"fe3c4075-7a0f-45ff-b4a5-2a0a64f1f721","type":"items"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: GET
    url: https://api.datadoghq.com/api/v2/actions-datastores/ce9fa438-af5e-45da-8de1-d9a786bf28cd/items
  response:
    body: '{"data":[{"id":"fe3c4075-7a0f-45ff-b4a5-2a0a64f1f721","type":"items","attributes":{"created_at":"2025-08-29T21:35:06.078802Z","modified_at":"2025-08-29T21:35:06.078802Z","org_id":321813,"primary_column_name":"id","signature":"{\"signature\":\"{\\\"version\\\":2,\\\"algorithm\\\":\\\"ecdsa-p384\\\",\\\"pubkey\\\":\\\"3Sh//jFQJZ+uhUOwvHL8krXnbOjEFxMZrYnngo8J/AY=\\\",\\\"timestamp\\\":1756503306,\\\"proof\\\":\\\"MGQCMGyi06wRNayVzrvrR91VMeiIVi3WlRr5CIOHlCuPQZhdZ9xzEcDFEbY//WVikv5eTQIwQJF0SIq+f5j41UaMSpP48WyLBb6BNvv/M70UYVxTLAw1O4xkeroiVsNVNAeMPkLO\\\"}\",\"version\":1}","store_id":"ce9fa438-af5e-45da-8de1-d9a786bf28cd","value":{"data":"test-value","id":"test-key"}}}],"meta":{"page":{"totalCount":1,"totalFilteredCount":1,"hasMore":false},"schema":{"primary_key":"id","fields":[{"name":"id","type":"STRING"},{"name":"data","type":"JSON"}]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/ce9fa438-af5e-45da-8de1-d9a786bf28cd
  response:
    body: '{"data":{"id":"ce9fa438-af5e-45da-8de1-d9a786bf28cd","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
