interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body: '{"data":{"id":"0897a535-85dd-4c5e-ab27-97ed4a8f54fd","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"values":[{"id":"cust_3141","name":"Johnathan"},{"badPrimaryKey":"key2","name":"Johnathan"}]},"id":"0897a535-85dd-4c5e-ab27-97ed4a8f54fd","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/0897a535-85dd-4c5e-ab27-97ed4a8f54fd/items/bulk
  response:
    body: '{"errors":[{"status":"400","id":"24f4ef0c-a849-41dd-8a0e-35338086172c","title":"item
      key missing or invalid","detail":"primary column \"id\" is missing"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/0897a535-85dd-4c5e-ab27-97ed4a8f54fd
  response:
    body: '{"data":{"id":"0897a535-85dd-4c5e-ab27-97ed4a8f54fd","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
