interactions:
- request:
    body: |
      {"data":{"attributes":{"item_key":"primaryKey"},"id":"70b87c26-886f-497a-bd9d-09f53bc9b40c","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/70b87c26-886f-497a-bd9d-09f53bc9b40c/items
  response:
    body: '{"errors":[{"status":"404","id":"50f3e691-47e4-4810-b918-e0a9e501b4ab","title":"datastore
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
