interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body: '{"data":{"id":"db5c5a0b-87ee-4747-9dfa-de2edd6910c5","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"value":{"data":"test-value","id":"test-key"}},"id":"263cb32b-0e88-48d5-8b60-1e3b58d5a43d","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/actions-datastores/db5c5a0b-87ee-4747-9dfa-de2edd6910c5/items
  response:
    body: '{"data":{"id":"720541b7-325b-463c-a755-558e1460bd36","type":"items"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"item_key":"test-key"},"id":"db5c5a0b-87ee-4747-9dfa-de2edd6910c5","type":"items"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/db5c5a0b-87ee-4747-9dfa-de2edd6910c5/items
  response:
    body: '{"data":{"id":"720541b7-325b-463c-a755-558e1460bd36","type":"items"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions-datastores/db5c5a0b-87ee-4747-9dfa-de2edd6910c5
  response:
    body: '{"data":{"id":"db5c5a0b-87ee-4747-9dfa-de2edd6910c5","type":"datastores"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
