interactions:
- request:
    body: |
      {"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"12345678-90ab-cdef-1234-567890abcdef","type":"azure_scan_options"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/azure
  response:
    body: '{"data":{"id":"12345678-90ab-cdef-1234-567890abcdef","type":"azure_scan_options","attributes":{"vuln_containers_os":true,"vuln_host_os":true}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/azure/12345678-90ab-cdef-1234-567890abcdef
  response:
    body: ''
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
