interactions:
- request:
    body: |
      {"data":{"attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function"},"type":"aws_resource"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws
  response:
    body: '{"data":{"id":"20fa1c5c-0f03-4db7-b1d9-e360226bb786","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function","created_at":"2025-08-24T22:41:51.043274Z","status":"QUEUED"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
version: 2
