interactions:
- request:
    body: |
      {"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"no","type":"gcp_scan_options"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"project id must be 6-30 characters,
      got 2"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
