interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws
  response:
    body: '{"data":[{"id":"438046ce-01cd-4ae5-b117-ff971e6fa449","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function","created_at":"2025-10-23T22:21:53.957627Z","status":"QUEUED"}},{"id":"9a057905-00de-40c1-b645-1281f4eac18d","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function","created_at":"2025-10-23T22:21:42.362661Z","status":"QUEUED"}},{"id":"d4e6bf98-7859-4fba-a01b-88650b810c95","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function","created_at":"2025-10-23T21:42:30.997994Z","status":"QUEUED"}},{"id":"c727a6d2-cef2-4682-8b04-d3f49545f7ba","type":"aws_resource",[...]
