interactions:
- request:
    body: |
      {"data":{"attributes":{"lambda":false,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true},"id":"000000000002","type":"aws_scan_options"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws
  response:
    body: '{"errors":[{"status":"409","detail":"aws scan options already exist for
      account 000000000002"}]}'
    code: 409
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 409 Conflict
version: 2
