interactions:
- request:
    body: |
      {"data":{"attributes":{"lambda":true,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true},"id":"123","type":"aws_scan_options"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"the provided Aws account
      id is not valid"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
