interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws
  response:
    body: '{"data":[{"id":"32ee93e6-7433-4d86-9693-be88093efa77","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T15:25:35.357991Z","status":"QUEUED"}},{"id":"82b9e788-43d3-45da-a2a9-8f538436fed3","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T15:15:23.375332Z","status":"QUEUED"}},{"id":"63d6b4f5-e5d0-4d90-824a-9580f05f026a","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T14:24:46.915915Z","status":"QUEUED"}},{"id":"2c72b302-df17-47e7-9b00-3bf4e0223dc3","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T14:24:14.313176Z","status":"QUEUED"}},{"id":"abc87e8d-b450-4141-b596-8bf1a3883c56","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T14:22:17.132833Z","status":"QUEUED"}},{"id":"fbee88e3-f898-4d73-8da8-f19500efd081","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T14:08:01.876649Z","status":"QUEUED"}},{"id":"ed30acf1-731e-410c-8559-53c290bd37f5","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T14:06:43.435923Z","status":"QUEUED"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
