interactions:
- request:
    body: |
      {"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"000000000005","type":"aws_scan_options"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000003
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"data id must be equal to
      the id provided in the url path"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
