interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1641924698"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1641924698","creator":{"handle":"frog@datadoghq.com","name":null},"description":"My
      Agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1641924699059,"creationDate":1641924699059,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule","id":"ves-zq4-ukf"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/ves-zq4-ukf
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1641924698","creator":{"handle":"frog@datadoghq.com","name":null},"description":"My
      Agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1641924699059,"creationDate":1641924699059,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule","id":"ves-zq4-ukf"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
[...]
