interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1641924696"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1641924696","creator":{"handle":"frog@datadoghq.com","name":null},"description":"My
      Agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1641924697412,"creationDate":1641924697412,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule","id":"amw-qoo-bfl"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/amw-qoo-bfl
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/amw-qoo-bfl
  response:
    body: '{"errors":["not_found(Agent rule not found: agentRuleId=amw-qoo-bfl)"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
