interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testgetallcloudworkloadsecurityagentrulesreturnsokresponse1641924699"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"testgetallcloudworkloadsecurityagentrulesreturnsokresponse1641924699","creator":{"handle":"frog@datadoghq.com","name":null},"description":"My
      Agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1641924700266,"creationDate":1641924700266,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule","id":"53f-w4l-u7y"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/53f-w4l-u7y
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
