interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testupdateacloudworkloadsecurityagentrulereturnsbadrequestresponse1709907560"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"id":"bvz-vbk-lmb","attributes":{"version":1,"name":"testupdateacloudworkloadsecurityagentrulereturnsbadrequestresponse1709907560","description":"My
      Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","creationAuthorUuId":"cc32ddea-b5e4-11ec-93be-da7ad0900002","creationDate":1709907560595,"updateAuthorUuId":"cc32ddea-b5e4-11ec-93be-da7ad0900002","updateDate":1709907560595,"filters":["os
      == \"linux\""],"actions":[],"agentConstraint":"","enabled":true,"defaultRule":false,"creator":{"name":"Malo
      Le Goff","handle":"malo.legoff@datadoghq.com"},"updater":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"}},"type":"agent_rule"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"open.file.path = sh"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/bvz-vbk-lmb
  response:
    body: '{"errors":["input_validation_error(Field ''expression'' is invalid: rule
      `testupdateacloudworkloadsecurityagentrulereturnsbadrequestresponse1709907560`
      error: syntax error `1:18: unexpected token \"sh\" (expected \"~\")`)"]}

      '
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
[...]
