interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testgetallcloudworkloadsecurityagentrulesreturnsokresponse1709907553"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"id":"gd2-ogg-fyk","attributes":{"version":1,"name":"testgetallcloudworkloadsecurityagentrulesreturnsokresponse1709907553","description":"My
      Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","creationAuthorUuId":"cc32ddea-b5e4-11ec-93be-da7ad0900002","creationDate":1709907553752,"updateAuthorUuId":"cc32ddea-b5e4-11ec-93be-da7ad0900002","updateDate":1709907553752,"filters":["os
      == \"linux\""],"actions":[],"agentConstraint":"","defaultRule":false,"enabled":true,"creator":{"name":"Malo
      Le Goff","handle":"malo.legoff@datadoghq.com"},"updater":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"}},"type":"agent_rule"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/gd2-ogg-fyk
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
