interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1652349083"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1652349083","creator":{"handle":"frog@datadoghq.com","name":null},"description":"My
      Agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1652349083546,"creationDate":1652349083546,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule","id":"xnm-bjf-tfb"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/xnm-bjf-tfb
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"testgetacloudworkloadsecurityagentrulereturnsokresponse1652349083","creator":{"handle":"frog@datadoghq.com","name":null},"description":"My
      Agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1652349083546,"creationDate":1652349083546,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule","id":"xnm-bjf-tfb"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
[...]
