interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1641924695"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1641924695","creator":{"handle":"frog@datadoghq.com","name":null},"description":"Test
      Agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1641924696117,"creationDate":1641924696117,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule","id":"neo-you-kxc"}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/neo-you-kxc
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
