---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593452305@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"55eec03e-ba2f-11ea-9c6a-2b59223e60c3","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593452305@datadoghq.com","created_at":"2020-06-29T17:38:25.614677+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593452305@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0ff1ba594187dd701a3db2387f1f8112?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - menB+JzZJZWnsBMzYDdvLqZLyJ1Z3XKvvLNUvAnnxCkhc359HSRPRWZhATTwUzcU
      X-Dd-Version:
      - "35.2679051"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/55eec03e-ba2f-11ea-9c6a-2b59223e60c3
    method: GET
  response:
    body: '{"data":{"type":"users","id":"55eec03e-ba2f-11ea-9c6a-2b59223e60c3","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593452305@datadoghq.com","created_at":"2020-06-29T17:38:25.614677+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593452305@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0ff1ba594187dd701a3db2387f1f8112?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bJj7D3RvHsKo+7eO3lrtPpPG0z8SsAwLw7bNfLb4htD+N9Ub8bD3AFgh45XaVsFM
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
