---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"285304a2-babe-11ea-9c85-938fde369fbf","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","created_at":"2020-06-30T10:40:47.128865+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","icon":"https://secure.gravatar.com/avatar/05297e32359645b3434868636f79c35f?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 9KqlMq3gTLpkJSVJyvAwXe8+x8jjzLiadKiJ+urXt2iPIG7RDD8GegNJYYpRqZOo
      X-Dd-Version:
      - "35.2682096"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/285304a2-babe-11ea-9c85-938fde369fbf
    method: GET
  response:
    body: '{"data":{"type":"users","id":"285304a2-babe-11ea-9c85-938fde369fbf","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","created_at":"2020-06-30T10:40:47.128865+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","icon":"https://secure.gravatar.com/avatar/05297e32359645b3434868636f79c35f?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RL7BSOiWXeq2P2iJbmiDo/2BPpcpoCDzQceVuBkp6yO348trcqTrfm/pm8rvZRoT
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
[...]
