---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-go-TestLogsListGet-local-1593175849", "ddtags":
      "go,test,list", "hostname": "go-TestLogsListGet-local-1593175849", "message":
      "{\"timestamp\": 1593174849000, \"message\": \"test-log-list-1 go-TestLogsListGet-local-1593175849\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-26T12%3A50%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593175849&filter%5Bto%5D=2020-06-26T16%3A50%3A49%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sAPKocoLMDEnM5qY2PL6SCQ+dkENYAR/6IistAQ5iiTU/UnJHAba158nxOvVRvKJ
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "281"
      X-Ratelimit-Reset:
      - "550"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-26T12%3A50%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593175849&filter%5Bto%5D=2020-06-26T16%3A50%3A49%2B02%3A00
    method: GET
  response:
    body: '{"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslistget-local-1593175849","test","source:go-client-test-go-testlogslistget-local-1593175849","go","list"],"timestamp":"2020-06-26T12:50:48.000Z","host":"go-TestLogsListGet-local-1593175849","attributes":{"timestamp":1593175848000,"hostname":"go-TestLogsListGet-local-1593175849"},"message":"test-log-list-2
      go-TestLogsListGet-local-1593175849"},"type":"log","id":"AQAAAXLwrjRADvd1bAAAAABBWEx3cmp2bjRSYlluTUtrYzRBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - JEThRmJp6qTNp8pxXQqPpRD40l23OvSASz6GutTWG+aCw+n9cF/5KqfPSziGHWsU
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "280"
      X-Ratelimit-Reset:
      - "545"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-26T12%3A50%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593175849&filter%5Bto%5D=2020-06-26T16%3A50%3A49%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslistget-local-1593175849","test","source:go-client-test-go-test[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-26T12%3A50%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593175849&filter%5Bto%5D=2020-06-26T16%3A50%3A49%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslistget-local-1593175849","test","source:go-client-test-go-tes[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-26T12%3A50%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593175849&filter%5Bto%5D=2020-06-26T16%3A50%3A49%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYTHdudlhvcGoyRTVnQUFBQUJCV0V4M2NtcDBOMVJUUXpWcVJISXpaMGxCUVEifQ=="}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslistget-local-1593175849","test","source:go-client-test-go-testlogslistget-local-1593175849","go","list"],"timestamp":"2020-06-26T12:50:48.000Z","host":"go-TestLogsListGet-local-1593175849","attributes":{"timestamp":1593175848000,"hostname":"go-TestLogsListGet-local-1593175849"},"message":"test-log-list-2
      go-TestLogsListGet-local-1593175849"},"type":"log","id":"AQAAAXLwrjRADvd1bAAAAABBWEx3cmp2bjRSYlluTUtrYzRBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=go-TestLogsListGet-local-1593175849&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTHdudlhvcGoyRTVnQUFBQUJCV0V4M2NtcDBOMVJUUXpWcVJISXpaMGxCUVEifQ%3D%3D&page%5Blimit%5D=1&filter%5Bfrom%5D=2020-06-26T12%3A50%3A49%2B02%3A00&filter%5Bto%5D=2020-06-26T16%3A50%3A49%2B02%3A00"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cYNsy3QDuOaYo2clO/PharSNtCykS9KtUfiNevH3xDbHJlRyddWkNpuDhMgHWZ43
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "273"
      X-Ratelimit-Reset:
      - "523"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-26T12%3A50%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593175849&filter%5Bto%5D=2020-06-26T16%3A50%3A49%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTHdudlhvcGoyRTVnQUFBQUJCV0V4M2NtcDBOMVJUUXpWcVJISXpaMGxCUVEifQ%3D%3D&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslistget-local-1593175849","test","source:go-client-test-go-testlogslistget-local-1593175849","go","list"],"timestamp":"2020-06-26T12:34:09.000Z","host":"go-TestLogsListGet-local-1593175849","attributes":{"timestamp":1593174849000,"hostname":"go-TestLogsListGet-local-1593175849"},"message":"test-log-list-1
      go-TestLogsListGet-local-1593175849"},"type":"log","id":"AQAAAXLwnvXopj2E5gAAAABBWEx3cmp0N1RTQzVqRHIzZ0lBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NueLa2zkdBcl9S7BHrRuWyjAeR9iWgPFe330KTY6Cp0/yUhjUktbxu5rG2fG6gBk
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "272"
      X-Ratelimit-Reset:
      - "523"
    status: 200 OK
    code: 200
    duration: ""
