---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-go-TestLogsListGet-local-1596095640", "ddtags":
      "go,test,list", "hostname": "go-TestLogsListGet-local-1596095640", "message":
      "{\"timestamp\": 1596094640000, \"message\": \"test-log-list-1 go-TestLogsListGet-local-1596095640\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-07-30T07%3A54%3A00%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1596095640&filter%5Bto%5D=2020-07-30T11%3A54%3A00%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - R0beO4h6/f2M1++6BNzER6ZK4scghFnY4EoO2QcVo0FjTt0lot/AyMJHtIfSMRA7
      X-Dd-Version:
      - "35.2805623"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "288"
      X-Ratelimit-Reset:
      - "359"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-07-30T07%3A54%3A00%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1596095640&filter%5Bto%5D=2020-07-30T11%3A54%3A00%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9lcDItQTQ4OXZXd0FBQUFCQldFOWxkSEpWUjFWUWFuTnpZMm8xTFRoQlFRIn0"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslistget-local-1596095640","source:go-client-test-go-testlogslistget-local-1596095640","test","go","list"],"timestamp":"2020-07-30T07:53:59.000Z","host":"go-TestLogsListGet-local-1596095640","attributes":{"timestamp":1596095639000,"hostname":"go-TestLogsListGet-local-1596095640"},"message":"test-log-list-2
      go-TestLogsListGet-local-1596095640"},"type":"log","id":"AQAAAXOetq3YZ-1GTgAAAABBWE9ldHJXVUZQTWtVRGNrd2dBQQ"},{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslistget-local-1596095640","source:go-client-test-go-testlogslistget-local-1596095640","test","go","list"],"timestamp":"2020-07-30T07:37:20.000Z","host":"go-TestLogsListGet-local-1596095640","attributes":{"timestamp":1596094640000,"hostname":"go-TestLogsListGet-local-1596095640"},"message":"test-log-list-1
      go-TestLogsListGet-local-1596095640"},"type":"log","id":"AQAAAXOep2-A489vWwAAAABBWE9ldHJVR1VQanNzY2o1LThBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=go-TestLogsListGet-local-1596095640&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWE9lcDItQTQ4OXZXd0FBQUFCQldFOWxkSEpWUjFWUWFuTnpZMm8xTFRoQlFRIn0&filter%5Bfrom%5D=2020-07-30T07%3A54%3A00%2B02%3A00&filter%5Bto%5D=2020-07-30T11%3A54%3A00%2B02%3A00"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Ibwt1LOMazDUZo/NkqtIyT001dZxiPruSKHOyBiCNyqNWAUjrw1TErmlQNwQ5uoW
      X-Dd-Version:
      - "35.2805623"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "283"
      X-Ratelimit-Reset:
      - "333"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-07-30T07%3A54%3A00%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1596095640&filter%5Bto%5D=2020-07-30T11%3A54%3A00%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9ldHEzWVotMUdUZ0FBQUFCQldFOWxkSEpYVlVaUVRXdFZSR05yZDJkQlFRIn0"}},"data":[{"attributes":{"status":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-07-30T07%3A54%3A00%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1596095640&filter%5Bto%5D=2020-07-30T11%3A54%3A00%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9lcDItQTQ4OXZXd0FBQUFCQldFOWxkSEpWUjFWUWFuTnpZMm8xTFRoQlFRIn0"}},"data":[{"attributes":{"status"[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-07-30T07%3A54%3A00%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1596095640&filter%5Bto%5D=2020-07-30T11%3A54%3A00%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9ldHEzWVotMUdUZ0FBQUFCQldFOWxkSEpYVlVaUVRXdFZSR05yZDJkQlFRIn0"}},"data":[{"attributes":{"statu[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-07-30T07%3A54%3A00%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1596095640&filter%5Bto%5D=2020-07-30T11%3A54%3A00%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWE9ldHEzWVotMUdUZ0FBQUFCQldFOWxkSEpYVlVaUVRXdFZSR05yZDJkQlFRIn0&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkF[...]
