---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"testinguser-1586286669988182000@datadoghq.com","name":"Testign User","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8ac6bed2-7903-11ea-93dc-b3f7f1f6611b","attributes":{"name":"Testign
      User","handle":"testinguser-1586286669988182000@datadoghq.com","created_at":"2020-04-07T19:11:10.835008+00:00","email":"testinguser-1586286669988182000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b6dabe85cbbcb6bb842af5e0f566c440?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - BsieYxalcMaIS+cTbK9YL1FxnAIiDF/6CFe3/lefzTTUruWB5XaSb08KP3lTATlu
      X-Dd-Version:
      - "35.2365276"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"Joe Doe"},"id":"8ac6bed2-7903-11ea-93dc-b3f7f1f6611b","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users/8ac6bed2-7903-11ea-93dc-b3f7f1f6611b
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IRAJ1mQ+c3epm0CLGtZoe/y8O4TCss3jYw+fwQOm7+eSKRCE+p3OtawVnIQ5ts76
      X-Dd-Version:
      - "35.2365276"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=testinguser-1586286669988182000%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":36}},"data":[{"type":"users","id":"8ac6bed2-7903-11ea-93dc-b3f7f1f6611b","attributes":{"name":"Joe
      Doe","handle":"testinguser-1586286669988182000@datadoghq.com","created_at":"2020-04-07T19:11:10.835008+00:00","email":"testinguser-1586286669988182000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b6dabe85cbbcb6bb842af5e0f566c440?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IWbeot5NPPjwzkLRJwJSrhKxooUYWPiItYmeOu7MvfpEU9kI8879nM2EukYnEnom
      X-Dd-Version:
      - "35.2365276"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/8ac6bed2-7903-11ea-93dc-b3f7f1f6611b
    method: DELETE
  response:
    body: '{"errors": ["8ac6bed2-7903-11ea-93dc-b3f7f1f6611b not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2365276"
    status: 404 Not Found
    code: 404
    duration: ""
