---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testuserinvitation-local-1592470556@datadoghq.com","name":"go-testuserinvitation-local-1592470556","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"86326d46-b141-11ea-989e-47cab7a7e388","attributes":{"name":"go-testuserinvitation-local-1592470556","handle":"go-testuserinvitation-local-1592470556@datadoghq.com","created_at":"2020-06-18T08:55:57.064823+00:00","email":"go-testuserinvitation-local-1592470556@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cbf46092224d65f418b20e75802b6767?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Z91NUpPIZnIQ9h7lBFWBkEPGVUEsn4/i71imPPwrChu4RPI5uNM5HGuodISK1HBR
      X-Dd-Version:
      - "35.2635950"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"86326d46-b141-11ea-989e-47cab7a7e388","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"8678caca-b141-11ea-989e-37b25d632902","attributes":{"uuid":"8678caca-b141-11ea-989e-37b25d632902","login_method":null,"invite_type":"openid_invite","created_at":"2020-06-18T08:55:57.527056+00:00","expires_at":"2020-06-20T08:55:57.451034+00:00"},"relationships":{"user":{"data":{"type":"users","id":"86326d46-b141-11ea-989e-47cab7a7e388"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RbevWUvO2oQYYDnX/G1lndTh/kTt+ebFIvajU6/3Ivb5c6aUQf49/uD1ICaXyx52
      X-Dd-Version:
      - "35.2635950"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/8678caca-b141-11ea-989e-37b25d632902
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"8678caca-b141-11ea-989e-37b25d632902","attributes":{"uuid":"8678caca-b141-11ea-989e-37b25d632902","login_method":null,"invite_type":"openid_invite","created_at":"2020-06-18T08:55:57.527056+00:00","expires_at":"2020-06-20T08:55:57.451034+00:00"},"relationships":{"user":{"data":{"type":"users","id":"86326d46-b141-11ea-989e-47cab7a7e388"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vG5kxpR47Wd0uZGIzWkStfMxs3cmVIjKYEHLQf0xQiHS0P2BwlwJHwTESUSKlcdO
      X-Dd-Version:
      - "35.2635950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/86326d46-b141-11ea-989e-47cab7a7e388
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5gIeAyE850e1lqVwTAgwvudewR8EzuQd3qGaXsS2D0CKQVhFOIjBoeQYiH0qPohy
      X-Dd-Version:
      - "35.2635950"
    status: 204 No Content
    code: 204
    duration: ""
