---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"go-TestSignalsListPost-local-1593790614","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSignalsListPost-local-1593790614"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1593790615431,"queries":[{"query":"go-TestSignalsListPost-local-1593790614","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"id":"jya-pql-dvu","isDefault":false,"name":"go-TestSignalsListPost-local-1593790614"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yL2jMz/muX5URjcdpTHzlehf0qi0hyVxH7uShvIhWEeYrIRwdt0CU/7wzCTakK6N
      X-Dd-Version:
      - "35.2697582"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSignalsListPost-local-1593790614",
      "ddtags": "go,test,signal", "message": "{\"timestamp\": 1593789614000, \"message\":
      \"go-TestSignalsListPost-local-1593790614\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-03T15:36:54.876854+02:00","query":"go-TestSignalsListPost-local-1593790614","to":"2020-07-03T19:36:54.876854+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - J5PL0LnJukdy69mckjXi3cjye/YJX2hkoCBkqKQi+tYjrsXYELx6DfDD11fhyjYF
      X-Dd-Version:
      - "35.2697582"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-03T15:36:54.876854+02:00","query":"go-TestSignalsListPost-local-1593790614","to":"2020-07-03T19:36:54.876854+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVXRaaEFBQUFBQUFBQUFCcWVXRXRjSEZzTFdSMmRTMHhMVUZZVFZaVmRFVTJja2wyZUdKUFlqVmZaMEZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListPost-local-1593790614","from":"2020-07-03T15:21:54.000Z","to":"2020-07-04T15:36:54.000Z"},"title":"go-TestSignalsListPost-local-1593790614
      - rule-case","groupByPaths":[],"workflow":{"first_seen":"2020-07-03T15:36:54.000Z","rule":{"version":1,"name":"go-TestSignalsListPost-local-1593790614","id":"jya-pql-dvu"},"last_seen":"2020-07-03T15:36:54.000Z"},"samples":[{"eventId":"AQAAAXMVUsnwd57E5gAAAABBWE1WVXRISVRTQzVqRHIzNGNBQQ","content":{"status":"info","tags":["test","source:go-client-test-go-testsignalslistpost-local-1593790614","go","signal"],"timestamp":"2020-07-03T15:36:54.000Z","ingest_size_in_bytes":201,"custom":{"timestamp":1593790614000},"source":"go-client-test-go-TestSignalsListPost-local-1593790614","tiebreaker":2006893798,"message":"go-TestSignalsListPost-local-1593790614"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXMVUtHITSC5jDr34cAA"}],"queries":[{"query":"go-TestSignalsListPost-local-1593790614","groupByPaths":[]}]},"message":"%%%\nrule
      message\n%%%","tags":["datadog-api-client-test-go"],"timestamp":"2020-07-03T15:36:57.526Z"},"type":"signal","id":"AQAAAXMVUte2AAAAAAAAAABqeWEtcHFsLWR2dS0xLUFYTVZVdEhJVFNDNWpEcjM0Y0FB"},{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListPost-local-1593790614","from":"2020-07-03T15:05:14.000Z","to":"2020-07-04T1[...]
- request:
    body: |
      {"filter":{"from":"2020-07-03T15:36:54.876854+02:00","query":"go-TestSignalsListPost-local-1593790614","to":"2020-07-03T19:36:54.876854+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVXRlMkFBQUFBQUFBQUFCcWVXRXRjSEZzTFdSMmRTMHhMVUZZVFZaVmRFaEpWRk5ETldwRWNqTTBZMEZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListPost-local-15937906[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-03T15:36:54.876854+02:00","query":"go-TestSignalsListPost-local-1593790614","to":"2020-07-03T19:36:54.876854+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVXRlMkFBQUFBQUFBQUFCcWVXRXRjSEZzTFdSMmRTMHhMVUZZVFZaVmRFaEpWRk5ETldwRWNqTTBZMEZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListPost-loc[...]
- request:
    body: |
      {"filter":{"from":"2020-07-03T15:36:54.876854+02:00","query":"go-TestSignalsListPost-local-1593790614","to":"2020-07-03T19:36:54.876854+02:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWE1WVXRlMkFBQUFBQUFBQUFCcWVXRXRjSEZzTFdSMmRTMHhMVUZZVFZaVmRFaEpWRk5ETldwRWNqTTBZMEZCIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVXRaaEFBQUFBQUFBQUFCcWVXRXRjSEZzTFdSMmRTMHhMVUZZVFZaVmRFVTJja2wyZUdKUFlqVmZaM[...]
