---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1587383259412067000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"be3b3cea-82fc-11ea-93de-77ef61319055","attributes":{"name":"test-role-datadog-client-go-1587383259412067000","created_at":"2020-04-20T11:47:42.313760+00:00","modified_at":"2020-04-20T11:47:42.313760+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2410310"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddPermissionToRole
    url: https://api.datadoghq.com/api/v2/roles/be3b3cea-82fc-11ea-93de-77ef61319055/permissions
    method: POST
  response:
    body: '{"errors": ["API input validation failed: {''_schema'': [{''source'': {''pointer'':
      ''/''}, ''detail'': ''Object must include `data` key.''}]}"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2410310"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"data":{"id":"00000000-dead-beef-dead-ffffffffffff","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddPermissionToRole
    url: https://api.datadoghq.com/api/v2/roles/be3b3cea-82fc-11ea-93de-77ef61319055/permissions
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/be3b3cea-82fc-11ea-93de-77ef61319055
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2410310"
    status: 204 No Content
    code: 204
    duration: ""
