---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"go-TestSignalsListPost-local-1594313260","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSignalsListPost-local-1594313260"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1594313261516,"queries":[{"query":"go-TestSignalsListPost-local-1594313260","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"id":"x8y-nba-ysa","isDefault":false,"name":"go-TestSignalsListPost-local-1594313260"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OdMYjD4Lcx2EOYJ2NSqLNRIyMqxNYyUQxCcT6zY9ZmZ+zl9yipXz0nuLjH5hVxTY
      X-Dd-Version:
      - "35.2720737"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSignalsListPost-local-1594313260",
      "ddtags": "go,test,signal", "message": "{\"timestamp\": 1594312260000, \"message\":
      \"go-TestSignalsListPost-local-1594313260\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-09T16:47:40.872055+02:00","query":"go-TestSignalsListPost-local-1594313260","to":"2020-07-09T20:47:40.872055+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gCSZ7BDMU1GjNFaR6hO6ZgwcgG3iOVugDLAlbR+YVBEuMFHhC330JIFkvjLveHm3
      X-Dd-Version:
      - "35.2720737"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-09T16:47:40.872055+02:00","query":"go-TestSignalsListPost-local-1594313260","to":"2020-07-09T20:47:40.872055+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWNTcEFBQUFBQUFBQUFCNE9Ia3RibUpoTFhsellTMHhMVUZZVFRCbFkwNU9ibU5TYUhORE1VbGFkMEZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListPost-local-1594313260","from":"2020-07-09T16:32:40.000Z","to":"2020-07-10T16:47:40.000Z"},"title":"go-TestSignalsListPost-local-1594313260
      - rule-case","groupByPaths":[],"workflow":{"first_seen":"2020-07-09T16:47:40.000Z","rule":{"version":1,"name":"go-TestSignalsListPost-local-1594313260","id":"x8y-nba-ysa"},"last_seen":"2020-07-09T16:47:40.000Z"},"samples":[{"eventId":"AQAAAXM0ebvgh5HJQQAAAABBWE0wZWNQVGw4elY0TFNuQjhBQQ","content":{"status":"info","tags":["source:go-client-test-go-testsignalslistpost-local-1594313260","test","go","signal"],"timestamp":"2020-07-09T16:47:40.000Z","ingest_size_in_bytes":201,"custom":{"timestamp":1594313260000},"source":"go-client-test-go-TestSignalsListPost-local-1594313260","tiebreaker":-2020488895,"message":"go-TestSignalsListPost-local-1594313260"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXM0ecPTl8zV4LSnB8AA"}],"queries":[{"query":"go-TestSignalsListPost-local-1594313260","groupByPaths":[]}]},"message":"%%%\nrule
      message\n%%%","tags":["datadog-api-client-test-go"],"timestamp":"2020-07-09T16:47:43.330Z"},"type":"signal","id":"AQAAAXM0ecjiAAAAAAAAAAB4OHktbmJhLXlzYS0xLUFYTTBlY1BUbDh6VjRMU25COEFB"},{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListPost-local-1594313260","from":"2020-07-09T16:16:00.000Z","to":"2020-07-10T1[...]
- request:
    body: |
      {"filter":{"from":"2020-07-09T16:47:40.872055+02:00","query":"go-TestSignalsListPost-local-1594313260","to":"2020-07-09T20:47:40.872055+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWNqaUFBQUFBQUFBQUFCNE9Ia3RibUpoTFhsellTMHhMVUZZVFRCbFkxQlViRGg2VmpSTVUyNUNPRUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsLis[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-09T16:47:40.872055+02:00","query":"go-TestSignalsListPost-local-1594313260","to":"2020-07-09T20:47:40.872055+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWNqaUFBQUFBQUFBQUFCNE9Ia3RibUpoTFhsellTMHhMVUZZVFRCbFkxQlViRGg2VmpSTVUyNUNPRUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-Tes[...]
- request:
    body: |
      {"filter":{"from":"2020-07-09T16:47:40.872055+02:00","query":"go-TestSignalsListPost-local-1594313260","to":"2020-07-09T20:47:40.872055+02:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWE0wZWNqaUFBQUFBQUFBQUFCNE9Ia3RibUpoTFhsellTMHhMVUZZVFRCbFkxQlViRGg2VmpSTVUyNUNPRUZCIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWNTcEFBQUFBQUFBQUFCNE9Ia3RibUpoTFhsellTMHhMVUZZVFRCbFkwN[...]
