---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"go-TestListSecurityMonitoringSignals-local-1609245121","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestListSecurityMonitoringSignals-local-1609245121"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1609245122087,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"go-TestListSecurityMonitoringSignals-local-1609245121","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"54r-n9o-rnt","isDefault":false,"name":"go-TestListSecurityMonitoringSignals-local-1609245121"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - SjSxykLY0gTr3VkJbxmjvoevebB2pxQifq0h5HklwYksG7/9u16HyBsdYlpi9mGW
      X-Dd-Version:
      - "35.3609133"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestListSecurityMonitoringSignals-local-1609245121",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1609244121000,
      \"message\": \"go-TestListSecurityMonitoringSignals-local-1609245121\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-12-29T11%3A32%3A01%2B01%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1609245121&filter%5Bto%5D=2020-12-29T15%3A32%3A01%2B01%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - iYSQoeIUH6tZkV8oNBADyUh0i8imvOo9jWWOUgywP9QJ7opgBoT0cWGeCUTl7m+0
      X-Dd-Version:
      - "35.3609133"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-12-29T11%3A32%3A01%2B01%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1609245121&filter%5Bto%5D=2020-12-29T15%3A32%3A01%2B01%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1Zk01ckFBQUFBQUFBQUFBMU5ISXRiamx2TFhKdWRDMHhMVUZZWVhWbVRYRktRVUZCZUV4Vk4wTndNbFZDT0VGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestListSecurityMonitoringSignals-local-1609245121","groupByPaths":[]}],"title":"go-TestListSecurityMonitoringSignals-local-1609245121
      - rule-case","relatedLogsQuery":{"query":"go-TestListSecurityMonitoringSignals-local-1609245121","from":"2020-12-29T12:00:21.000Z","to":"2020-12-30T12:15:21.000Z"},"samples":[{"eventId":"AQAAAXaubJeo1E_KRgAAAABBWGF1Zk1uOUFBRDhiUTlYcFM3V3VRQUE","content":{"status":"info","tags":["env:prod","test","source:go-client-test-go-testlistsecuritymonitoringsignals-local-1609245121","go","signal"],"timestamp":"2020-12-29T12:15:21.000Z","ingest_size_in_bytes":238,"custom":{"timestamp":1609244121000},"source":"go-client-test-go-testlistsecuritymonitoringsignals-local-1609245121","tiebreaker":-732968378,"message":"go-TestListSecurityMonitoringSignals-local-1609245121"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXaufMn9AAD8bQ9XpS7WuQAA"}],"workflow":{"events_matched":1,"first_seen":"2020-12-29T12:15:21.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"go-TestListSecurityMonitoringSignals-local-1609245121","id":"54r-n9o-rnt"},"last_seen":"2020-12-29T12:15:21.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-go-testlistsecuritymonitoringsignals-local-1609245121","env:prod","source:go-client-test-go-testlistsecuritymonitoringsignals-local-1609245121"],"timestamp":"2020-12-29T12:33:04.859Z"},"type":"signal","id":"AQAAAXaufNNbAAAAAAAAAAA1NHItbjlvLXJudC0xLUFYYXVmTW45QUFEOGJROVhwUzdXdVFBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestListSecurityMonitoringSignals-local-160924[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-12-29T11%3A32%3A01%2B01%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1609245121&filter%5Bto%5D=2020-12-29T15%3A32%3A01%2B01%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1Zk5OYkFBQUFBQUFBQUFBMU5ISXRiamx2TFhKdWRDMHh[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-12-29T11%3A32%3A01%2B01%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1609245121&filter%5Bto%5D=2020-12-29T15%3A32%3A01%2B01%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1Zk01ckFBQUFBQUFBQUFBMU5ISXRiamx2TFhKdWRDMH[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-12-29T11%3A32%3A01%2B01%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1609245121&filter%5Bto%5D=2020-12-29T15%3A32%3A01%2B01%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1Zk5OYkFBQUFBQUFBQUFBMU5ISXRiamx2TFhKdWRD[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-12-29T11%3A32%3A01%2B01%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1609245121&filter%5Bto%5D=2020-12-29T15%3A32%3A01%2B01%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGF1Zk5OYkFBQUFBQUFBQUFBMU5ISXRiamx2TFhKdWRDMHhMVUZZWVhWbVRXNDVRVUZFT0dKUk9WaHdVemRYZFZGQlFRIn0&page%5Blimit%5[...]
