---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"go-TestSearchSecurityMonitoringSignals-local-1595329683","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSearchSecurityMonitoringSignals-local-1595329683"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1595329684305,"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"id":"fmf-0un-int","isDefault":false,"name":"go-TestSearchSecurityMonitoringSignals-local-1595329683"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bJj7D3RvHsKo+7eO3lrtPpPG0z8SsAwLw7bNfLb4htD+N9Ub8bD3AFgh45XaVsFM
      X-Dd-Version:
      - "35.2764265"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSearchSecurityMonitoringSignals-local-1595329683",
      "ddtags": "go,test,signal", "message": "{\"timestamp\": 1595328683000, \"message\":
      \"go-TestSearchSecurityMonitoringSignals-local-1595329683\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-21T11:08:03.550215+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","to":"2020-07-21T15:08:03.550215+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GAK1J4mJd/EBZfEK4rqUw9OeB9GOeKgSyrXGtzNUi5zrv5sHYU56xJgA4bcbtgUA
      X-Dd-Version:
      - "35.2764265"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-21T11:08:03.550215+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","to":"2020-07-21T15:08:03.550215+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE54RHlrMUFBQUFBQUFBQUFCbWJXWXRNSFZ1TFdsdWRDMHhMVUZZVG5oRWVWUlZUbTVvY1hkV1JtRTRTVUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","from":"2020-07-21T10:53:03.000Z","to":"2020-07-22T11:08:03.000Z"},"title":"go-TestSearchSecurityMonitoringSignals-local-1595329683
      - rule-case","groupByPaths":[],"workflow":{"first_seen":"2020-07-21T11:08:03.000Z","rule":{"version":1,"name":"go-TestSearchSecurityMonitoringSignals-local-1595329683","id":"fmf-0un-int"},"last_seen":"2020-07-21T11:08:03.000Z"},"samples":[{"eventId":"AQAAAXNxDx44_7dE5gAAAABBWE54RHlWbVlpRGg1Q3JZYlFBQQ","content":{"status":"info","tags":["test","go","signal","source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1595329683"],"timestamp":"2020-07-21T11:08:03.000Z","ingest_size_in_bytes":233,"custom":{"timestamp":1595329683000},"source":"go-client-test-go-TestSearchSecurityMonitoringSignals-local-1595329683","tiebreaker":-4766490,"message":"go-TestSearchSecurityMonitoringSignals-local-1595329683"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXNxDyVmYiDh5CrYbQAA"}],"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","groupByPaths":[]}]},"message":"%%%\nrule
      message\n%%%","tags":["datadog-api-client-test-go"],"timestamp":"2020-07-21T11:08:06.025Z"},"type":"signal","id":"AQAAAXNxDyoJAAAAAAAAAABmbWYtMHVuLWludC0xLUFYTnhEeVZtWWlEaDVDclliUUFB"},{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","from":"2020-07-21T1[...]
- request:
    body: |
      {"filter":{"from":"2020-07-21T11:08:03.550215+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","to":"2020-07-21T15:08:03.550215+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE54RHlvSkFBQUFBQUFBQUFCbWJXWXRNSFZ1TFdsdWRDMHhMVUZZVG5oRWVWWnRXV2xFYURWRGNsbGlVVUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSearchSecu[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-07-21T11:08:03.550215+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","to":"2020-07-21T15:08:03.550215+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE54RHlvSkFBQUFBQUFBQUFCbWJXWXRNSFZ1TFdsdWRDMHhMVUZZVG5oRWVWWnRXV2xFYURWRGNsbGlVVUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-Tes[...]
- request:
    body: |
      {"filter":{"from":"2020-07-21T11:08:03.550215+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1595329683","to":"2020-07-21T15:08:03.550215+02:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWE54RHlvSkFBQUFBQUFBQUFCbWJXWXRNSFZ1TFdsdWRDMHhMVUZZVG5oRWVWWnRXV2xFYURWRGNsbGlVVUZCIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE54RHlrMUFBQUFBQUFBQUFCbWJXWXRNSFZ1TFdsdWRDMHhMVUZZVG5oRWVWU[...]
