---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-ConfigField","required":false,"table_id":0,"type":1},"type":"user_defined_field"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentConfigField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields
    method: POST
  response:
    body: '{"data":{"type":"user_defined_field","id":"e528f2fac6b95abe9ab0076ae24a7950","attributes":{"name":"Test-ConfigField","default_choice_id":null,"table_id":0,"type":1,"created_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","attributes":{"uuid":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","handle":"charlie.monzillo@datadoghq.com","email":"charlie.monzillo@datadoghq.com","name":"Charlie
      Monzillo"}}},"last_modified_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","attributes":{"uuid":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","handle":"charlie.monzillo@datadoghq.com","email":"charlie.monzillo@datadoghq.com","name":"Charlie
      Monzillo"}}},"created":"2020-04-29T03:38:14.122143+00:00","modified":"2020-04-29T03:38:14.122143+00:00","deleted":null},"relationships":{"choices":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2445362"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-04-29T03:38:14.122143Z","modified":"2020-04-29T03:38:14.122143Z","name":"Test-ConfigField-Updated","table_id":0,"type":1},"id":"e528f2fac6b95abe9ab0076ae24a7950","relationships":{},"type":"user_defined_field"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - PatchIncidentConfigField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/e528f2fac6b95abe9ab0076ae24a[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncidentConfigFields
    url: https://api.datadoghq.com/api/v2/incidents/config/fields
    method: GET
  response:
    body: '{"meta":{"pagination":{"number":0,"next_number":1000,"size":1000}},"data":[{"type":"user_defined_field","id":"4a11e41ccbfb57c88e21b0868098e0fc","attributes":{"name":"detection_method","default_choice_id":"69577027101a5483b3549eb310048d03","table_id":0,"type":1,"created":"2020-04-21T15:32:22.979667+00:00","modified":"2020-04-21T15:32:22.979667+00:00","deleted":null}},{"type":"user_defined_field","id":"2cfb9815f147530cb3ca123c0f2fca2a","attributes":{"name":"environment","default_choice_id":"e9c1d4879e40519180663b6d97b239d1","table_id":0,"type":1,"created":[...]
[...]
