---
version: 1
interactions:
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"errors": ["API input validation failed: {''_schema'': [{''source'': {''pointer'':
      ''/''}, ''detail'': ''Object must include `data` key.''}]}"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1587418701247127000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
