---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestSearchSecurityMonitoringSignals-1617977693","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestSearchSecurityMonitoringSignals-1617977693"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1617977693395,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"Test-TestSearchSecurityMonitoringSignals-1617977693","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"pfs-wtb-6x6","isDefault":false,"name":"Test-TestSearchSecurityMonitoringSignals-1617977693"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestSearchSecurityMonitoringSignals-1617977693",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1617976693000,
      \"message\": \"Test-TestSearchSecurityMonitoringSignals-1617977693\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-04-09T14:14:53.319677+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1617977693","to":"2021-04-09T18:14:53.319677+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-04-09T14:14:53.319677+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1617977693","to":"2021-04-09T18:14:53.319677+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyX0hBX0FBQUFBQUFBQUFCd1puTXRkM1JpTFRaNE5pMHhMVUZZYVRKZlJ6RkJRVUZEYTJkSmJFUXljV2hUYkhkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1617977693","groupByPaths":[]}],"title":"Test-TestSearchSecurityMonitoringSignals-1617977693
      - rule-case","relatedLogsQuery":{"from":"2021-04-09T13:59:53.000Z","metric":null,"aggregation":"count","to":"2021-04-10T14:14:53.000Z","viewParams":null,"query":"Test-TestSearchSecurityMonitoringSignals-1617977693"},"samples":[{"eventId":"AQAAAXi2_FNI9HJ7_gAAAABBWGkyX0cxQUFBQ2tnSWxEMnFoU2x3QUE","content":{"status":"info","tags":["env:prod","test","go","signal","source:go-client-test-test-testsearchsecuritymonitoringsignals-1617977693"],"timestamp":"2021-04-09T14:14:53.000Z","ingest_size_in_bytes":234,"custom":{"timestamp":1617977693000},"source":"go-client-test-test-testsearchsecuritymonitoringsignals-1617977693","tiebreaker":-193823746,"message":"Test-TestSearchSecurityMonitoringSignals-1617977693"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXi2_G1AAACkgIlD2qhSlwAA"}],"workflow":{"events_matched":1,"first_seen":"2021-04-09T14:14:53.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestSearchSecurityMonitoringSignals-1617977693","id":"pfs-wtb-6x6"},"last_seen":"2021-04-09T14:14:53.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testsearchsecuritymonitoringsignals-1617977693","env:prod","source:go-client-test-test-testsearchsecuritymonitoringsignals-1617977693"],"timestamp":"2021-04-09T14:15:00.415Z"},"type":"signal","id":"AQAAAXi2_HA_AAAAAAAAAABwZnMtd3RiLTZ4Ni0xLUFYaTJfRzFBQUFDa2dJbEQycWhTbHdBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bquery%5D=Test-TestSearchSecurityMonitoringSignals-1617977693&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGkyX0hBX0FBQUFBQUFBQUFCd1puTXRkM1JpTFRaNE5pMHhMVUZZYVRKZlJ6RkJRVUZEYTJkSmJFUXljV2hUYkhkQlFRIn0&filter%5Bfrom%5D=2021-04-09T14%3A14%3A53.319677%2B02%3A00&filter%5Bto%5D=2021-04-09T18%3A14%3A53.319677%2B02%3A00"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-04-09T14:14:53.319677+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1617977693","to":"2021-04-09T18:14:53.319677+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyX0hBX0FBQUFBQUFBQUFCd1puTXRkM1JpTFRaNE5pMHhMVUZZYVRKZlJ6RkJRVUZEYTJkSmJFUXljV2hUYkhkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSe[...]
[...]
- request:
    body: |
      {"filter":{"from":"2021-04-09T14:14:53.319677+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1617977693","to":"2021-04-09T18:14:53.319677+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyX0hBX0FBQUFBQUFBQUFCd1puTXRkM1JpTFRaNE5pMHhMVUZZYVRKZlJ6RkJRVUZEYTJkSmJFUXljV2hUYkhkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-T[...]
- request:
    body: |
      {"filter":{"from":"2021-04-09T14:14:53.319677+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1617977693","to":"2021-04-09T18:14:53.319677+02:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWGkyX0hBX0FBQUFBQUFBQUFCd1puTXRkM1JpTFRaNE5pMHhMVUZZYVRKZlJ6RkJRVUZEYTJkSmJFUXljV2hUYkhkQlFRIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyX0hBLUFBQUFBQUFBQUFCd1puTXRkM1JpTFRaNE5pMHhMVUZZY[...]
