---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAllProcesses
    url: https://api.datadoghq.com/api/v1/processes
    method: GET
  response:
    body: '{"meta":{"page[next]":"703064897501000015e90400c440683386150a5b877a072df209c093","page[size]":67},"data":[{"type":"process","id":"15e904004278eea9dbd6037f8ad69a63a54bab63","attributes":{"cmdline":"/lib/systemd/systemd
      --switched-root --system --deserialize 22","timestamp":"2020-11-05T02:16:14","start":"2020-10-27T15:51:38","user":"root","pid":1,"ppid":0,"host":"hello-linux-ubuntu-dd-agent-1603813652.0697012-0","tags":["bosh_address:10.0.40.9","bosh_az:us-central1-a","bosh_deployment:dd-agent-1603813652.0697012","bosh_id:6d92c37f-451a-499b-86a8-ba65aa6f97c2","bosh_index:0","bosh_ip:10.0.40.9","bosh_job:hello-linux-ubuntu-dd-agent-1603813652.0697012","bosh_name:hello-linux-ubuntu-dd-agent-1603813652.0697012","cloudfoundry","created_at:2020-10-27t15:51:46z","dd-agent-16038136520697012","dd-agent-16038136520697012-hello-linux-ubuntu-dd-agent-160381","deployment:dd-agent-1603813652.0697012","director:p-bosh","hel[...]
