---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestListSecurityMonitoringSignals-1620749633","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestListSecurityMonitoringSignals-1620749633"}],"type":"log_detection"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1620749633725,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"Test-TestListSecurityMonitoringSignals-1620749633","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"gil-r4h-b5h","isDefault":false,"name":"Test-TestListSecurityMonitoringSignals-1620749633"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4507575"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestListSecurityMonitoringSignals-1620749633",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1620748633000,
      \"message\": \"Test-TestListSecurityMonitoringSignals-1620749633\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-05-11T14%3A13%3A53Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1620749633&filter%5Bto%5D=2021-05-11T18%3A13%3A53Z
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4507575"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-05-11T14%3A13%3A53Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1620749633&filter%5Bto%5D=2021-05-11T18%3A13%3A53Z
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTk43SEFBQUFBQUFBQUFCbmFXd3RjalJvTFdJMWFDMHhMVUZZYkdOT1RqQldRVUZEVFU5ZlNHeGhUVXBtZUdkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1620749633","groupByPaths":[]}],"title":"Test-TestListSecurityMonitoringSignals-1620749633
      - rule-case","relatedLogsQuery":{"from":"2021-05-11T15:58:53.000Z","metric":null,"aggregation":"count","to":"2021-05-12T16:13:53.000Z","viewParams":null,"query":"Test-TestListSecurityMonitoringSignals-1620749633"},"samples":[{"eventId":"AQAAAXlcNMXomG0vDQAAAABBWGxjTk4wdUFBQWhXanFpTVJQckpBQUE","content":{"status":"info","tags":["env:prod","test","go","source:go-client-test-test-testlistsecuritymonitoringsignals-1620749633","signal"],"timestamp":"2021-05-11T16:13:53.000Z","ingest_size_in_bytes":230,"custom":{"timestamp":1620749633000},"source":"go-client-test-test-testlistsecuritymonitoringsignals-1620749633","tiebreaker":-1737674995,"message":"Test-TestListSecurityMonitoringSignals-1620749633"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXlcNN0uAAAhWjqiMRPrJAAA"}],"workflow":{"events_matched":1,"first_seen":"2021-05-11T16:13:53.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestListSecurityMonitoringSignals-1620749633","id":"gil-r4h-b5h"},"last_seen":"2021-05-11T16:13:53.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testlistsecuritymonitoringsignals-1620749633","env:prod","source:go-client-test-test-testlistsecuritymonitoringsignals-1620749633"],"timestamp":"2021-05-11T16:14:00.048Z"},"type":"signal","id":"AQAAAXlcNOFwAAAAAAAAAABnaWwtcjRoLWI1aC0xLUFYbGNOTjB1QUFBaFdqcWlNUlBySkFBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1620749633","group[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-05-11T14%3A13%3A53Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1620749633&filter%5Bto%5D=2021-05-11T18%3A13%3A53Z&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTk9Gd0FBQUFBQUFBQUFCbmFXd3RjalJvTFdJMWFDMHhMVUZZYkdOT1RqQjFRVUZCY[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-05-11T14%3A13%3A53Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1620749633&filter%5Bto%5D=2021-05-11T18%3A13%3A53Z&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTk43SEFBQUFBQUFBQUFCbmFXd3RjalJvTFdJMWFDMHhMVUZZYkdOT1RqQldRVUZE[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-05-11T14%3A13%3A53Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1620749633&filter%5Bto%5D=2021-05-11T18%3A13%3A53Z&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTk9Gd0FBQUFBQUFBQUFCbmFXd3RjalJvTFdJMWFDMHhMVUZZYkdOT1RqQjFRVU[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-05-11T14%3A13%3A53Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1620749633&filter%5Bto%5D=2021-05-11T18%3A13%3A53Z&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGxjTk9Gd0FBQUFBQUFBQUFCbmFXd3RjalJvTFdJMWFDMHhMVUZZYkdOT1RqQjFRVUZCYUZkcWNXbE5VbEJ5U2tGQlFRIn0&page%5Blimit%5D=1
    method: GET
  [...]
