---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1587424235567074000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"24aa6992-835c-11ea-93de-b30e9e11d791","attributes":{"name":"test-role-datadog-client-go-1587424235567074000","created_at":"2020-04-20T23:10:36.359221+00:00","modified_at":"2020-04-20T23:10:36.359221+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2413384"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: GET
  response:
    body: '{"errors": ["The role 00000000-dead-beef-dead-ffffffffffff does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2413384"
    status: 404 Not Found
    code: 404
    duration: ""
