---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-TestUpdateRoleErrors-1617977626"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"ccaf2324-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-TestUpdateRoleErrors-1617977626","created_at":"2021-04-09T14:13:47.100632+00:00","modified_at":"2021-04-09T14:13:47.100632+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "478"
      X-Ratelimit-Reset:
      - "13"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: GET
  response:
    body: '{"errors": ["The role 00000000-dead-beef-dead-ffffffffffff does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "477"
      X-Ratelimit-Reset:
      - "13"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
