---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestListSecurityMonitoringSignals-1623685436","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestListSecurityMonitoringSignals-1623685436"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1623685436208,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1623685436","groupByFields":[],"aggregation":"count","name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"b9u-dst-0ov","isDefault":false,"name":"Test-TestListSecurityMonitoringSignals-1623685436"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4744011"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "573"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestListSecurityMonitoringSignals-1623685436",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1623684436000,
      \"message\": \"Test-TestListSecurityMonitoringSignals-1623685436\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-06-14T13%3A43%3A56Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1623685436&filter%5Bto%5D=2021-06-14T17%3A43%3A56Z
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4744011"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "572"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-06-14T13%3A43%3A56Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1623685436&filter%5Bto%5D=2021-06-14T17%3A43%3A56Z
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWF4SEFBQUFBQUFBQUFCaU9YVXRaSE4wTFRCdmRpMHhMVUZZYjB4TllXWkJRVUZCVG5WSk9GQk9NV3RhYTNkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1623685436","groupByPaths":[]}],"title":"Test-TestListSecurityMonitoringSignals-1623685436
      - rule-case","relatedLogsQuery":{"from":"2021-06-14T15:28:56.000Z","metric":null,"aggregation":"count","to":"2021-06-15T15:43:56.000Z","viewParams":{"integration_id":"security_monitoring","integration_short_name":"security_investigation"},"query":"Test-TestListSecurityMonitoringSignals-1623685436"},"samples":[{"eventId":"AQAAAXoLMZJgZl7lVgAAAABBWG9MTWFnQkFBQjMyMW9DVXpyOXBnQUE","content":{"status":"info","tags":["env:prod","test","go","signal","source:go-client-test-test-testlistsecuritymonitoringsignals-1623685436"],"timestamp":"2021-06-14T15:43:56.000Z","ingest_size_in_bytes":230,"custom":{"timestamp":1623685436000},"source":"go-client-test-test-testlistsecuritymonitoringsignals-1623685436","tiebreaker":1717495126,"message":"Test-TestListSecurityMonitoringSignals-1623685436"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXoLMagBAAB321oCUzr9pgAA"}],"workflow":{"events_matched":1,"first_seen":"2021-06-14T15:43:56.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestListSecurityMonitoringSignals-1623685436","id":"b9u-dst-0ov"},"last_seen":"2021-06-14T15:43:56.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testlistsecuritymonitoringsignals-1623685436","env:prod","source:go-client-test-test-testlistsecuritymonitoringsignals-1623685436"],"timestamp":"2021-06-14T15:44:02.917Z"},"type":"signal","id":"AQAAAXoLMa1lAAAAAAAAAABiOXUtZHN0LTBvdi0xLUFYb0xNYWdCQUFCMzIxb0NVenI5cGdBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1623685436","group[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-06-14T13%3A43%3A56Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1623685436&filter%5Bto%5D=2021-06-14T17%3A43%3A56Z&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWExbEFBQUFBQUFBQUFCaU9YVXRaSE4wTFRCdmRpMHhMVUZZYjB4TllXZENRVUZDT[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-06-14T13%3A43%3A56Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1623685436&filter%5Bto%5D=2021-06-14T17%3A43%3A56Z&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWF4SEFBQUFBQUFBQUFCaU9YVXRaSE4wTFRCdmRpMHhMVUZZYjB4TllXWkJRVUZC[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-06-14T13%3A43%3A56Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1623685436&filter%5Bto%5D=2021-06-14T17%3A43%3A56Z&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWExbEFBQUFBQUFBQUFCaU9YVXRaSE4wTFRCdmRpMHhMVUZZYjB4TllXZENRVU[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-06-14T13%3A43%3A56Z&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1623685436&filter%5Bto%5D=2021-06-14T17%3A43%3A56Z&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWG9MTWExbEFBQUFBQUFBQUFCaU9YVXRaSE4wTFRCdmRpMHhMVUZZYjB4TllXZENRVUZDTXpJeGIwTlZlbkk1Y0dkQlFRIn0&page%5Blimit%5D=1
    method: GET
  [...]
