---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"go-TestSignalsListGet-local-1594313278","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSignalsListGet-local-1594313278"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1594313278764,"queries":[{"query":"go-TestSignalsListGet-local-1594313278","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"id":"7ce-u5h-vbm","isDefault":false,"name":"go-TestSignalsListGet-local-1594313278"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - UH1aMdrlnlnaxy/K+HUi5QUN2T0FBtGPSUC8sLrviqCK1XXfgHsSO5DneAd5J+6F
      X-Dd-Version:
      - "35.2720737"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSignalsListGet-local-1594313278", "ddtags":
      "go,test,list", "hostname": "go-TestSignalsListGet-local-1594313278", "message":
      "{\"timestamp\": 1594312278000, \"message\": \"test-log-list-1 go-TestSignalsListGet-local-1594313278\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-09T16%3A47%3A58%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1594313278&filter%5Bto%5D=2020-07-09T20%3A47%3A58%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2qCkWfddHrPF9jSCADI+4oMJC7ye/JJPxREHTFHEFILURsabvi1w9B+PDmBrh/Xk
      X-Dd-Version:
      - "35.2720737"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-09T16%3A47%3A58%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1594313278&filter%5Bto%5D=2020-07-09T20%3A47%3A58%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWd4VUFBQUFBQUFBQUFBM1kyVXRkVFZvTFhaaWJTMHhMVUZZVFRCbFoxZFllRUZTU1VGVFdqZDZkMEZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListGet-local-1594313278","from":"2020-07-09T16:32:57.000Z","to":"2020-07-10T16:47:57.000Z"},"title":"go-TestSignalsListGet-local-1594313278
      - rule-case","groupByPaths":[],"workflow":{"first_seen":"2020-07-09T16:47:57.000Z","rule":{"version":1,"name":"go-TestSignalsListGet-local-1594313278","id":"7ce-u5h-vbm"},"last_seen":"2020-07-09T16:47:57.000Z"},"samples":[{"eventId":"AQAAAXM0ef5IOw-vDQAAAABBWE0wZWdZakRrd25oM1Iya0lBQQ","content":{"status":"info","tags":["source:go-client-test-go-testsignalslistget-local-1594313278","test","go","list"],"timestamp":"2020-07-09T16:47:57.000Z","ingest_size_in_bytes":267,"custom":{"timestamp":1594313277000,"hostname":"go-TestSignalsListGet-local-1594313278"},"source":"go-client-test-go-TestSignalsListGet-local-1594313278","host":"go-TestSignalsListGet-local-1594313278","tiebreaker":990883597,"message":"test-log-list-2
      go-TestSignalsListGet-local-1594313278"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXM0egYjDkwnh3R2kIAA"}],"queries":[{"query":"go-TestSignalsListGet-local-1594313278","groupByPaths":[]}]},"message":"%%%\nrule
      message\n%%%","tags":["datadog-api-client-test-go"],"timestamp":"2020-07-09T16:48:00.644Z"},"type":"signal","id":"AQAAAXM0egyEAAAAAAAAAAA3Y2UtdTVoLXZibS0xLUFYTTBlZ1lqRGt3bmgzUjJrSUFB"},{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListGet-local-1594313278","from":"2020-07-09T16:16:18.000Z","to":"2020-07-10T16:[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-09T16%3A47%3A58%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1594313278&filter%5Bto%5D=2020-07-09T20%3A47%3A58%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWd5RUFBQUFBQUFBQUFBM1kyVXRkVFZvTFhaaWJTMHhMVUZZVFRCbFoxbH[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-09T16%3A47%3A58%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1594313278&filter%5Bto%5D=2020-07-09T20%3A47%3A58%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWd4VUFBQUFBQUFBQUFBM1kyVXRkVFZvTFhaaWJTMHhMVUZZVFRCbFoxZ[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-09T16%3A47%3A58%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1594313278&filter%5Bto%5D=2020-07-09T20%3A47%3A58%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE0wZWd5RUFBQUFBQUFBQUFBM1kyVXRkVFZvTFhaaWJTMHhMVUZZVFRCbFo[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-09T16%3A47%3A58%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1594313278&filter%5Bto%5D=2020-07-09T20%3A47%3A58%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWE0wZWd5RUFBQUFBQUFBQUFBM1kyVXRkVFZvTFhaaWJTMHhMVUZZVFRCbFoxbHFSR3QzYm1nelVqSnJTVUZCIn0&page%5Blimit%5D=1
    method: GET
  r[...]
