---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testuserlifecycle-local-1592470539@datadoghq.com","name":"go-testuserlifecycle-local-1592470539","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"7c3a6df2-b141-11ea-989e-97c5ae0b8ff4","attributes":{"name":"go-testuserlifecycle-local-1592470539","handle":"go-testuserlifecycle-local-1592470539@datadoghq.com","created_at":"2020-06-18T08:55:40.340057+00:00","email":"go-testuserlifecycle-local-1592470539@datadoghq.com","icon":"https://secure.gravatar.com/avatar/35e174f71054ab9b6e1ec24f93338b78?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - v8lEj/pYmsavh1I0Db6FT/BAvLdOdAv91ctM9ImcmfZ/KHrCACXEdhuskTCPihd+
      X-Dd-Version:
      - "35.2635950"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"go-testuserlifecycle-local-1592470539-updated"},"id":"7c3a6df2-b141-11ea-989e-97c5ae0b8ff4","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/7c3a6df2-b141-11ea-989e-97c5ae0b8ff4
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aswcxBk1J00Iy18+kQFKF6EQfzLy4sWD4ILciesVMX5rWDYniffEYH6qbK0qwOgw
      X-Dd-Version:
      - "35.2635950"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=go-testuserlifecycle-local-1592470539%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort_dir=asc
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":12278}},"data":[{"type":"users","id":"7c3a6df2-b141-11ea-989e-97c5ae0b8ff4","attributes":{"name":"go-testuserlifecycle-local-1592470539-updated","handle":"go-testuserlifecycle-local-1592470539@datadoghq.com","created_at":"2020-06-18T08:55:40.340057+00:00","email":"go-testuserlifecycle-local-1592470539@datadoghq.com","icon":"https://secure.gravatar.com/avatar/35e174f71054ab9b6e1ec24f93338b78?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EE74ncTR989SomsonUvABJWdGDkXBs7Emqj3HVDpp6NYddpvHp95kXsnHux1Es9E
      X-Dd-Version:
      - "35.2635950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/7c3a6df2-b141-11ea-989e-97c5ae0b8ff4
    method: DELETE
  response:
    body: '{"errors": ["7c3a6df2-b141-11ea-989e-97c5ae0b8ff4 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2635950"
    status: 404 Not Found
    code: 404
    duration: ""
