---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-TestUserLifecycle-local-1589290196@datadoghq.com","name":"go-TestUserLifecycle-local-1589290196","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"ab918ea0-9454-11ea-93e2-733d6e98ec7d","attributes":{"name":"go-TestUserLifecycle-local-1589290196","handle":"go-testuserlifecycle-local-1589290196@datadoghq.com","created_at":"2020-05-12T13:29:56.480530+00:00","email":"go-TestUserLifecycle-local-1589290196@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a5e0f7e33d8bc22b6b663173fac4a90d?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - PKDIrz8Hcluof9oNzY3q1BouPTowe6nlZ4slm6KLsMEc/9DaK1hteKVCh6mza/IQ
      X-Dd-Version:
      - "35.2492943"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"go-TestUserLifecycle-local-1589290196-updated"},"id":"ab918ea0-9454-11ea-93e2-733d6e98ec7d","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/ab918ea0-9454-11ea-93e2-733d6e98ec7d
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vwiIwb5QepaQFIQrmPfIwwVWkQ/z0inFQwNEDjqDDy4v3CsF5qbv9dnyfb7UGzLf
      X-Dd-Version:
      - "35.2492943"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=go-TestUserLifecycle-local-1589290196%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort_dir=asc
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":5929}},"data":[{"type":"users","id":"ab918ea0-9454-11ea-93e2-733d6e98ec7d","attributes":{"name":"go-TestUserLifecycle-local-1589290196-updated","handle":"go-testuserlifecycle-local-1589290196@datadoghq.com","created_at":"2020-05-12T13:29:56.480530+00:00","email":"go-TestUserLifecycle-local-1589290196@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a5e0f7e33d8bc22b6b663173fac4a90d?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 7TxqGOOndreg52igtXLKdvEB8M2Uby8upoxCr+mzZBPLwPuOVdJ4ujutF+9TQL1R
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/ab918ea0-9454-11ea-93e2-733d6e98ec7d
    method: DELETE
  response:
    body: '{"errors": ["ab918ea0-9454-11ea-93e2-733d6e98ec7d not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2492943"
    status: 404 Not Found
    code: 404
    duration: ""
