---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestListSecurityMonitoringSignals-1617978301","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestListSecurityMonitoringSignals-1617978301"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1617978302186,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"Test-TestListSecurityMonitoringSignals-1617978301","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"cyp-scn-o3m","isDefault":false,"name":"Test-TestListSecurityMonitoringSignals-1617978301"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4276812"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestListSecurityMonitoringSignals-1617978301",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1617977301000,
      \"message\": \"Test-TestListSecurityMonitoringSignals-1617978301\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-09T14%3A25%3A01%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1617978301&filter%5Bto%5D=2021-04-09T18%3A25%3A01%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4276812"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-09T14%3A25%3A01%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1617978301&filter%5Bto%5D=2021-04-09T18%3A25%3A01%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkzQmFWbEFBQUFBQUFBQUFCamVYQXRjMk51TFc4emJTMHhMVUZZYVROQ1lVSlNRVUZFVm1sTlprOXRhRnA0VEdkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1617978301","groupByPaths":[]}],"title":"Test-TestListSecurityMonitoringSignals-1617978301
      - rule-case","relatedLogsQuery":{"from":"2021-04-09T14:10:01.000Z","metric":null,"aggregation":"count","to":"2021-04-10T14:25:01.000Z","viewParams":null,"query":"Test-TestListSecurityMonitoringSignals-1617978301"},"samples":[{"eventId":"AQAAAXi3BZpIQ01augAAAABBWGkzQmFEZEFBQ2ZucnEtWDg4aUF3QUE","content":{"status":"info","tags":["env:prod","source:go-client-test-test-testlistsecuritymonitoringsignals-1617978301","test","go","signal"],"timestamp":"2021-04-09T14:25:01.000Z","ingest_size_in_bytes":230,"custom":{"timestamp":1617978301000},"source":"go-client-test-test-testlistsecuritymonitoringsignals-1617978301","tiebreaker":1129142970,"message":"Test-TestListSecurityMonitoringSignals-1617978301"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXi3BaDdAACfnrq-X88iAwAA"}],"workflow":{"events_matched":1,"first_seen":"2021-04-09T14:25:01.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestListSecurityMonitoringSignals-1617978301","id":"cyp-scn-o3m"},"last_seen":"2021-04-09T14:25:01.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testlistsecuritymonitoringsignals-1617978301","env:prod","source:go-client-test-test-testlistsecuritymonitoringsignals-1617978301"],"timestamp":"2021-04-09T14:25:03.846Z"},"type":"signal","id":"AQAAAXi3BaVmAAAAAAAAAABjeXAtc2NuLW8zbS0xLUFYaTNCYURkQUFDZm5ycS1YODhpQXdBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1617978301","group[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-09T14%3A25%3A01%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1617978301&filter%5Bto%5D=2021-04-09T18%3A25%3A01%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkzQmFWbUFBQUFBQUFBQUFCamVYQXRjMk51TFc4emJTMHhMVUZ[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-09T14%3A25%3A01%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1617978301&filter%5Bto%5D=2021-04-09T18%3A25%3A01%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkzQmFWbEFBQUFBQUFBQUFCamVYQXRjMk51TFc4emJTMHhMVU[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-09T14%3A25%3A01%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1617978301&filter%5Bto%5D=2021-04-09T18%3A25%3A01%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkzQmFWbUFBQUFBQUFBQUFCamVYQXRjMk51TFc4emJTMHhM[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-09T14%3A25%3A01%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1617978301&filter%5Bto%5D=2021-04-09T18%3A25%3A01%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGkzQmFWbUFBQUFBQUFBQUFCamVYQXRjMk51TFc4emJTMHhMVUZZYVROQ1lVUmtRVUZEWm01eWNTMVlPRGhwUVhkQlFRIn0&page%5Blimit%5D=1
[...]
