---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-go-TestLogsList-local-1593175831", "ddtags":
      "go,test,list", "hostname": "go-TestLogsList-local-1593175831", "message": "{\"timestamp\":
      1593174831000, \"message\": \"test-log-list-1 go-TestLogsList-local-1593175831\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-26T12:50:31.605084+02:00","query":"go-TestLogsList-local-1593175831","to":"2020-06-26T16:50:31.605084+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - e/PzE6y8JJ1tlF66uEI2h0RElcpoaXRe9TzYMeQVIADcqTHrHUqcUgRemfbYKGMv
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "289"
      X-Ratelimit-Reset:
      - "568"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-26T12:50:31.605084+02:00","query":"go-TestLogsList-local-1593175831","to":"2020-06-26T16:50:31.605084+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1593175831","test","go","source:go-client-test-go-testlogslist-local-1593175831","list"],"timestamp":"2020-06-26T12:50:30.000Z","host":"go-TestLogsList-local-1593175831","attributes":{"timestamp":1593175830000,"hostname":"go-TestLogsList-local-1593175831"},"message":"test-log-list-2
      go-TestLogsList-local-1593175831"},"type":"log","id":"AQAAAXLwre3w6jdGTgAAAABBWEx3cmZjaTVjSXpKQm9aellBQQ"},{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1593175831","test","go","source:go-client-test-go-testlogslist-local-1593175831","list"],"timestamp":"2020-06-26T12:33:51.000Z","host":"go-TestLogsList-local-1593175831","attributes":{"timestamp":1593174831000,"hostname":"go-TestLogsList-local-1593175831"},"message":"test-log-list-1
      go-TestLogsList-local-1593175831"},"type":"log","id":"AQAAAXLwnq-YRCJvWwAAAABBWEx3cmZhY004WGxnTTdLa2dBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - PmDXJXCpOnq24qtagNCLPTUoILSRgi3DGaXUca70kUEAM8DZBLYkwSVilYSYEHCG
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "286"
      X-Ratelimit-Reset:
      - "552"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-26T12:50:31.605084+02:00","query":"go-TestLogsList-local-1593175831","to":"2020-06-26T16:50:31.605084+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1593175831","test","go","source:go-client-test-go-testlogslist-local-1593175831","list"],"timestamp":"2020-06-26T12:33:51.000Z","host":"go-TestLogsList-local-1593175831","attributes"[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-26T12:50:31.605084+02:00","query":"go-TestLogsList-local-1593175831","to":"2020-06-26T16:50:31.605084+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYTHducS1ZUkNKdld3QUFBQUJCV0V4M2NtWmhZMDA0V0d4blRUZExhMmRCUVEifQ=="}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1593175831","test","go","source:go-client-test-go-testlogslist-local-1593175831","list"],"timestamp":"2020-06-26T12:50:30.000Z","host":"go-TestLogsList-local-1593175831","attributes":{"timestamp":1593175830000,"hostname":"go-TestLogsList-local-1593175831"},"message":"test-log-list-2
      go-TestLogsList-local-1593175831"},"type":"log","id":"AQAAAXLwre3w6jdGTgAAAABBWEx3cmZjaTVjSXpKQm9aellBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?sort=-timestamp&filter%5Bto%5D=2020-06-26T16%3A50%3A31.605084%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTHducS1ZUkNKdld3QUFBQUJCV0V4M2NtWmhZMDA0V0d4blRUZExhMmRCUVEifQ%3D%3D&filter%5Bfrom%5D=2020-06-26T12%3A50%3A31.605084%2B02%3A00&filter%5Bquery%5D=go-TestLogsList-local-1593175831&page%5Blimit%5D=1"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yqCkAb2Y8/4OgTSGYvedTl/k5gsPukDI7OLTlGSm9adIbRDVlGb00Ve5DDv9ImFD
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "283"
      X-Ratelimit-Reset:
      - "551"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-26T12:50:31.605084+02:00","query":"go-TestLogsList-local-1593175831","to":"2020-06-26T16:50:31.605084+02:00"},"page":{"cursor":"eyJzdGFydEF0IjoiQVFBQUFYTHducS1ZUkNKdld3QUFBQUJCV0V4M2NtWmhZMDA0V0d4blRUZExhMmRCUVEifQ==","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1593175831","test","go","source:go-client-test-go-testlogslist-local-1593175831","list"],"timestamp":"2020-06-26T12:33:51.000Z","host":"go-TestLogsList-local-1593175831","attributes":{"timestamp":1593174831000,"hostname":"go-TestLogsList-local-1593175831"},"message":"test-log-list-1
      go-TestLogsList-local-1593175831"},"type":"log","id":"AQAAAXLwnq-YRCJvWwAAAABBWEx3cmZhY004WGxnTTdLa2dBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sg8vzlrAXfi82gDuSEBUxkn5dG85uDtr4RhaVLNn521TM8s6JdimiKDHvX2NhFjo
      X-Dd-Version:
      - "35.2669603"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "282"
      X-Ratelimit-Reset:
      - "551"
    status: 200 OK
    code: 200
    duration: ""
