---
version: 1
interactions:
- request:
    body: |
      {"name":"go-client-test-v2-1587937012"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go-client-test-v2-1587937012","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-04-26T21:36:52.651541+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-04-26T21:36:52.651557+00:00","id":93205}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0pa1dtuadfHOUeVqLiK3mljtwHC7xKOrqXlG1EXfeExc1YyvZm51+jZLEiJ3YUs6
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/93205
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":93205}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 7TxqGOOndreg52igtXLKdvEB8M2Uby8upoxCr+mzZBPLwPuOVdJ4ujutF+9TQL1R
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
