---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"nevermatch \u003e 1000","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"go-TestSecMonRulesCRUD-local-1595581175-0","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"distinctFields":[],"groupByFields":[],"name":"nevermatch","query":"thiswillnevernevermatch"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":7194,"tags":["datadog-api-client-test-go"],"isEnabled":false,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1595581176119,"queries":[{"query":"thiswillnevernevermatch","groupByFields":[],"name":"nevermatch","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"nevermatch
      > 1000"}],"type":"threshold","id":"wva-emy-ucy","isDefault":false,"name":"go-TestSecMonRulesCRUD-local-1595581175-0"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - "35.2781816"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/wva-emy-ucy
    method: GET
  response:
    body: '{"creationAuthorId":7194,"tags":["datadog-api-client-test-go"],"isEnabled":false,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1595581176119,"queries":[{"query":"thiswillnevernevermatch","groupByFields":[],"name":"nevermatch","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"nevermatch
      > 1000"}],"type":"threshold","id":"wva-emy-ucy","isDefault":false,"name":"go-TestSecMonRulesCRUD-local-1595581175-0"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - "35.2781836"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=0&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":232,"total_count":232}},"data":[{"creationAuthorId":5410,"tags":[],"isEnabled":false,"hasExtendedTitle":true,"message":"test","options":{"evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":7,"createdAt":1574203869376,"queries":[{"query":"test","groupByFields":[],"name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":["@sllllllllack-security-analytics-alerts-low"],"name":"","condition":"a>1"}],"type":"threshold","id":"59c-44e-2ec","isDefault":true,"name":"test"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - "35.2781816"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/wva-emy-ucy
    method: GET
  response:
    body: '{"errors":["Threat detection rule not found: wva-emy-ucy"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2781836"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/px2-lnb-fwf
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      X-Dd-Version:
      - "35.2781836"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/qw8-rph-tqi
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      X-Dd-Version:
      - "35.2781836"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/6lt-fvq-qaw
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      X-Dd-Version:
      - "35.2781816"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/ops-rol-bmn
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      X-Dd-Version:
      - "35.2781816"
    status: 204 No Content
    code: 204
    duration: ""
[...]
