---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"go-TestSearchSecurityMonitoringSignals-local-1609250843","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSearchSecurityMonitoringSignals-local-1609250843"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1609250843940,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"vjg-xhe-w84","isDefault":false,"name":"go-TestSearchSecurityMonitoringSignals-local-1609250843"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - UPwGSEkEo+aTtV9/qlvsM9xVIKq1xypRG0bv22kO1eeJfu8bY+H+f1xOa3JlvZhZ
      X-Dd-Version:
      - "35.3609133"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSearchSecurityMonitoringSignals-local-1609250843",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1609249843000,
      \"message\": \"go-TestSearchSecurityMonitoringSignals-local-1609250843\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T13:07:23.342253+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","to":"2020-12-29T17:07:23.342253+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kz7POzMRR1DtZrw59X15p2pAWXtFgVtBoSlzXFcGszy5lhwGx7f8GB820VUZODrm
      X-Dd-Version:
      - "35.3609133"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T13:07:23.342253+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","to":"2020-12-29T17:07:23.342253+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1MDBkOUFBQUFBQUFBQUFCMmFtY3RlR2hsTFhjNE5DMHhMVUZZWVhVd01GSkhRVUZDWTA1UVYxTktWalpXVWxGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","groupByPaths":[]}],"title":"go-TestSearchSecurityMonitoringSignals-local-1609250843
      - rule-case","relatedLogsQuery":{"query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","from":"2020-12-29T13:35:43.000Z","to":"2020-12-30T13:50:43.000Z"},"samples":[{"eventId":"AQAAAXauw-c4tJ1g3wAAAABBWGF1MDBPN0FBQlFLbjNvYURmTkNnQUE","content":{"status":"info","tags":["env:prod","test","go","signal","source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1609250843"],"timestamp":"2020-12-29T13:50:43.000Z","ingest_size_in_bytes":242,"custom":{"timestamp":1609249843000},"source":"go-client-test-go-testsearchsecuritymonitoringsignals-local-1609250843","tiebreaker":-1264754465,"message":"go-TestSearchSecurityMonitoringSignals-local-1609250843"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXau00O7AABQKn3oaDfNCgAA"}],"workflow":{"events_matched":1,"first_seen":"2020-12-29T13:50:43.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"go-TestSearchSecurityMonitoringSignals-local-1609250843","id":"vjg-xhe-w84"},"last_seen":"2020-12-29T13:50:43.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1609250843","env:prod","source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1609250843"],"timestamp":"2020-12-29T14:07:30.853Z"},"type":"signal","id":"AQAAAXau00glAAAAAAAAAAB2amcteGhlLXc4NC0xLUFYYXUwME83QUFCUUtuM29hRGZOQ2dBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T13:07:23.342253+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","to":"2020-12-29T17:07:23.342253+01:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1MDBnbEFBQUFBQUFBQUFCMmFtY3RlR2hsTFhjNE5DMHhMVUZZWVhVd01FODNRVUZDVVV0dU0yOWhSR1pPUTJkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecu[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T13:07:23.342253+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","to":"2020-12-29T17:07:23.342253+01:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1MDBnbEFBQUFBQUFBQUFCMmFtY3RlR2hsTFhjNE5DMHhMVUZZWVhVd01FODNRVUZDVVV0dU0yOWhSR1pPUTJkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-Tes[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T13:07:23.342253+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609250843","to":"2020-12-29T17:07:23.342253+01:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWGF1MDBnbEFBQUFBQUFBQUFCMmFtY3RlR2hsTFhjNE5DMHhMVUZZWVhVd01FODNRVUZDVVV0dU0yOWhSR1pPUTJkQlFRIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1MDBkOUFBQUFBQUFBQUFCMmFtY3RlR2hsTFhjNE5DMHhMVUZZW[...]
