---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-TestDashboardListUpdateItemsErrors-1617977576"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Test-TestDashboardListUpdateItemsErrors-1617977576","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-04-09T14:12:56.982841+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-04-09T14:12:56.982859+00:00","id":191098}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/191098
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":191098}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
