---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"nevermatch \u003e 1000","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"test-rule-datadog-api-client-go-0-1589456239757646000","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"nevermatch","query":"thiswillnevernevermatch"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"message":"rule
      message","options":{"evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1589456240527,"queries":[{"query":"thiswillnevernevermatch","groupByFields":[],"name":"nevermatch","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"nevermatch
      > 1000"}],"id":"klb-eex-nbf","isDefault":false,"name":"test-rule-datadog-api-client-go-0-1589456239757646000"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 11g4TM+MO8VJV6iUJTOff4hAGEXsIqbG4IMv2YuWygOleCGxCxx6NihCkVtjenZN
      X-Dd-Version:
      - "35.2502278"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/klb-eex-nbf
    method: GET
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"message":"rule
      message","options":{"evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1589456240527,"queries":[{"query":"thiswillnevernevermatch","groupByFields":[],"name":"nevermatch","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"nevermatch
      > 1000"}],"id":"klb-eex-nbf","isDefault":false,"name":"test-rule-datadog-api-client-go-0-1589456239757646000"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +0e88dcOoH2a7qrZ5zz4PnubdrAKvSl+k8YKr4bhBQyArPBFiYg3oXWqeVKLPB1I
      X-Dd-Version:
      - "35.2502278"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=0&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":83,"total_count":83}},"data":[{"creationAuthorId":0,"tags":["security:attack","tactic:TA0007-discovery","technique:T1069-permission-groups-discovery","source:guardduty","scope:iam"],"isEnabled":true,"message":"###
      Goal\nDetect when an attacker is enumerating IAM principals.\n\n### Strategy\nThis
      rule lets you leverage GuardDuty to detect when an attacker is enumerating IAM
      principals. The GuardDuty Findings which trigger this signal:\n\n* [Recon:IAMUser/NetworkPermissions][1]\n*
      [Recon:IAMUser/ResourcePermissions][2]\n* [Recon:IAMUser/UserPermissions][3]
      \n\n\n### Triage & Response\n1. Determine which user in your organization owns
      the API key that made this API call.\n2. Contact the user to see if they intended
      to make this API call.\n3. If the user did not make the API call:\n * Rotate
      the credentials.\n * Investigate if the same credentials made other unauthorized
      API calls.\n\n[1]: https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon7\n[2]:
      https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon8\n[3]:
      https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon9","options":{"evaluationWindow":300,"maxSignalDuration":3600,"keepAlive":3600},"version":1,"createdAt":1585870276065,"queries":[{"query":"source:guardduty
      @evt.name:(Recon\\:IAMUser\\/NetworkPermissions OR Recon\\:IAMUser\\/ResourcePermissions
      OR Recon\\:IAMUser\\/UserPermissions)","groupByFields":["@detail.resource.accessKeyDetails.userName"],"name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"medium","notifications":[],"name":"","condition":"a
      > 0"}],"id":"u2j-xph-kc7","isDefault":true,"name":"AWS IAM Principal Enumeration"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - btzHvL7Rg/f/n1wMP2CFVXsuErrwOO9p2hvsBofLQbxzRkmZbfvXcB18pURNtIOI
      X-Dd-Version:
      - "35.2502278"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/klb-eex-nbf
    method: GET
  response:
    body: '{"errors":["Threat detection rule not found: klb-eex-nbf"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2502278"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/0ok-w4q-bpz
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - UmZMvwWLI5lgbGFBnw6J7jqO5hwyrvVF8Un8TwZ8TRQQ6jetE/6GVTSaoSUmQWRg
      X-Dd-Version:
      - "35.2502278"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/thc-guy-nce
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2qCkWfddHrPF9jSCADI+4oMJC7ye/JJPxREHTFHEFILURsabvi1w9B+PDmBrh/Xk
      X-Dd-Version:
      - "35.2502278"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/ku1-fut-r0s
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GG9N5JNk6zUo5YQ1gmfpF0kYcSj/kjDOsFItaODUS7qQCwsMrhI3QWJVQns7uvtI
      X-Dd-Version:
      - "35.2502278"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/fff-anw-vsr
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - lyzq/AwBoYy31tqkvQ8mzBugAZOys447o2yCYdRfm1oPuJTtZy0Uz+ukzrgaZfIT
      X-Dd-Version:
      - "35.2502278"
    status: 204 No Content
    code: 204
    duration: ""
[...]
