---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"test-testuserlifecycle-1617977635@datadoghq.com","name":"test-testuserlifecycle-1617977635","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"d1b0e542-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"test-testuserlifecycle-1617977635","handle":"test-testuserlifecycle-1617977635@datadoghq.com","created_at":"2021-04-09T14:13:55.500222+00:00","modified_at":"2021-04-09T14:13:55.537835+00:00","email":"test-testuserlifecycle-1617977635@datadoghq.com","icon":"https://secure.gravatar.com/avatar/05f305442b5045ae58840e363fcb8514?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"test-testuserlifecycle-1617977635-updated"},"id":"d1b0e542-993d-11eb-9ceb-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/d1b0e542-993d-11eb-9ceb-da7ad0900002
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"d1b0e542-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"test-testuserlifecycle-1617977635-updated","handle":"test-testuserlifecycle-1617977635@datadoghq.com","created_at":"2021-04-09T14:13:55.500222+00:00","modified_at":"2021-04-09T14:13:55.691270+00:00","email":"test-testuserlifecycle-1617977635@datadoghq.com","icon":"https://secure.gravatar.com/avatar/05f305442b5045ae58840e363fcb8514?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=test-testuserlifecycle-1617977635%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort_dir=asc
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":178209}},"data":[{"type":"users","id":"d1b0e542-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"test-testuserlifecycle-1617977635-updated","handle":"test-testuserlifecycle-1617977635@datadoghq.com","created_at":"2021-04-09T14:13:55.500222+00:00","modified_at":"2021-04-09T14:13:56.112941+00:00","email":"test-testuserlifecycle-1617977635@datadoghq.com","icon":"https://secure.gravatar.com/avatar/05f305442b5045ae58840e363fcb8514?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/d1b0e542-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["d1b0e542-993d-11eb-9ceb-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 404 Not Found
    code: 404
    duration: ""
