---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestSearchSecurityMonitoringSignals-1618221021","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestSearchSecurityMonitoringSignals-1618221021"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1618221021757,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"Test-TestSearchSecurityMonitoringSignals-1618221021","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"tcl-onp-xbd","isDefault":false,"name":"Test-TestSearchSecurityMonitoringSignals-1618221021"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestSearchSecurityMonitoringSignals-1618221021",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1618220021000,
      \"message\": \"Test-TestSearchSecurityMonitoringSignals-1618221021\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-04-12T09:50:21.681095+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1618221021","to":"2021-04-12T13:50:21.681095+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-04-12T09:50:21.681095+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1618221021","to":"2021-04-12T13:50:21.681095+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZlVCSUFBQUFBQUFBQUFCMFkyd3RiMjV3TFhoaVpDMHhMVUZZYWtabVZERkJRVUZFWmxCT2JqSktjV1V5U0dkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1618221021","groupByPaths":[]}],"title":"Test-TestSearchSecurityMonitoringSignals-1618221021
      - rule-case","relatedLogsQuery":{"from":"2021-04-12T09:18:41.000Z","metric":null,"aggregation":"count","to":"2021-04-13T09:33:41.000Z","viewParams":null,"query":"Test-TestSearchSecurityMonitoringSignals-1618221021"},"samples":[{"eventId":"AQAAAXjFbfUIWpP1jAAAAABBWGpGZlZIUEFBQUliS2dhWXVIT1hRQUE","content":{"status":"info","tags":["source:go-client-test-test-testsearchsecuritymonitoringsignals-1618221021","env:prod","test","go","signal"],"timestamp":"2021-04-12T09:33:41.000Z","ingest_size_in_bytes":234,"custom":{"timestamp":1618220021000},"source":"go-client-test-test-testsearchsecuritymonitoringsignals-1618221021","tiebreaker":1519646092,"message":"Test-TestSearchSecurityMonitoringSignals-1618221021"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXjFfVHPAAAIbKgaYuHOXQAA"}],"workflow":{"events_matched":1,"first_seen":"2021-04-12T09:33:41.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestSearchSecurityMonitoringSignals-1618221021","id":"tcl-onp-xbd"},"last_seen":"2021-04-12T09:33:41.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testsearchsecuritymonitoringsignals-1618221021","source:go-client-test-test-testsearchsecuritymonitoringsignals-1618221021","env:prod"],"timestamp":"2021-04-12T09:50:29.285Z"},"type":"signal","id":"AQAAAXjFfVelAAAAAAAAAAB0Y2wtb25wLXhiZC0xLUFYakZmVkhQQUFBSWJLZ2FZdUhPWFFBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1618221021",[...]
- request:
    body: |
      {"filter":{"from":"2021-04-12T09:50:21.681095+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1618221021","to":"2021-04-12T13:50:21.681095+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZlZlbEFBQUFBQUFBQUFCMFkyd3RiMjV3TFhoaVpDMHhMVUZZYWtabVZraFFRVUZCU1dKTFoyRlpkVWhQV0ZGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSe[...]
[...]
- request:
    body: |
      {"filter":{"from":"2021-04-12T09:50:21.681095+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1618221021","to":"2021-04-12T13:50:21.681095+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZlZlbEFBQUFBQUFBQUFCMFkyd3RiMjV3TFhoaVpDMHhMVUZZYWtabVZraFFRVUZCU1dKTFoyRlpkVWhQV0ZGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-T[...]
- request:
    body: |
      {"filter":{"from":"2021-04-12T09:50:21.681095+02:00","query":"Test-TestSearchSecurityMonitoringSignals-1618221021","to":"2021-04-12T13:50:21.681095+02:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWGpGZlZlbEFBQUFBQUFBQUFCMFkyd3RiMjV3TFhoaVpDMHhMVUZZYWtabVZraFFRVUZCU1dKTFoyRlpkVWhQV0ZGQlFRIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZlVCSUFBQUFBQUFBQUFCMFkyd3RiMjV3TFhoaVpDMHhMVUZZY[...]
