---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-get-1592847436", "ddtags": "go,test,list",
      "hostname": "go-TestLogsListGet-local-1592847436", "message": "{\"timestamp\":
      1592846436000, \"message\": \"test-log-list-1 get-1592847436\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-22T17%3A37%3A16%2B02%3A00&filter%5Bquery%5D=get-1592847436&filter%5Bto%5D=2020-06-22T21%3A37%3A16%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wn01ZjXucAfzJfwvKAkpy0yFfNtHyWu4ZB2aA4ZDwwhXkyLHirYeUNsx208dZz9p
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "268"
      X-Ratelimit-Reset:
      - "1364"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-22T17%3A37%3A16%2B02%3A00&filter%5Bquery%5D=get-1592847436&filter%5Bto%5D=2020-06-22T21%3A37%3A16%2B02%3A00
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592847435000,"hostname":"go-TestLogsListGet-local-1592847436"},"host":"go-TestLogsListGet-local-1592847436","tags":["source:go-client-test-get-1592847436","test","source:go-client-test-get-1592847436","go","list"],"message":"test-log-list-2
      get-1592847436","timestamp":"2020-06-22T17:37:15.000Z"},"type":"log","id":"AQAAAXLdGwT41rLhKAAAAABBWExkR3dvcGpCeVVCWmZyclFBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - wB7h0Rt2IYxDUBLtoJ4y0ZOq10ZaMdDZiRuFZ3d/FUUtC7gfBEZWTs0Y6dZhoLZS
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "263"
      X-Ratelimit-Reset:
      - "1338"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-22T17%3A37%3A16%2B02%3A00&filter%5Bquery%5D=get-1592847436&filter%5Bto%5D=2020-06-22T21%3A37%3A16%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592846436000,"hostname":"go-TestLogsListGet-local-1592847436"},"host":"go-TestLogsListGet-local-1592847436","tags":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-22T17%3A37%3A16%2B02%3A00&filter%5Bquery%5D=get-1592847436&filter%5Bto%5D=2020-06-22T21%3A37%3A16%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592847435000,"hostname":"go-TestLogsListGet-local-1592847436"},"host":"go-TestLogsListGet-local-1592847436","tags"[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-22T17%3A37%3A16%2B02%3A00&filter%5Bquery%5D=get-1592847436&filter%5Bto%5D=2020-06-22T21%3A37%3A16%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYTGRDOGFnWTlYeWVRQUFBQUJCV0V4a1IzZHRXVkpxYXpoRFdXVk1TbFZCUVEifQ=="}},"data":[{"attributes":{"attributes":{"timestamp":1592847435000,"hostname":"go-TestLogsListGet-local-1592847436"},"host":"go-TestLogsListGet-local-1592847436","tags":["source:go-client-test-get-1592847436","test","source:go-client-test-get-1592847436","go","list"],"message":"test-log-list-2
      get-1592847436","timestamp":"2020-06-22T17:37:15.000Z"},"type":"log","id":"AQAAAXLdGwT41rLhKAAAAABBWExkR3dvcGpCeVVCWmZyclFBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=get-1592847436&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTGRDOGFnWTlYeWVRQUFBQUJCV0V4a1IzZHRXVkpxYXpoRFdXVk1TbFZCUVEifQ%3D%3D&page%5Blimit%5D=1&filter%5Bfrom%5D=2020-06-22T17%3A37%3A16%2B02%3A00&filter%5Bto%5D=2020-06-22T21%3A37%3A16%2B02%3A00"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - fGPsEOteKPqWrypJlOWIRpMZD2l0VjpTiFY5o5e56+jFb+ShdPzcenDH6s8Ah62s
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "259"
      X-Ratelimit-Reset:
      - "1332"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-22T17%3A37%3A16%2B02%3A00&filter%5Bquery%5D=get-1592847436&filter%5Bto%5D=2020-06-22T21%3A37%3A16%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTGRDOGFnWTlYeWVRQUFBQUJCV0V4a1IzZHRXVkpxYXpoRFdXVk1TbFZCUVEifQ%3D%3D&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592846436000,"hostname":"go-TestLogsListGet-local-1592847436"},"host":"go-TestLogsListGet-local-1592847436","tags":["source:go-client-test-get-1592847436","test","source:go-client-test-get-1592847436","go","list"],"message":"test-log-list-1
      get-1592847436","timestamp":"2020-06-22T17:20:36.000Z"},"type":"log","id":"AQAAAXLdC8agY9XyeQAAAABBWExkR3dtWVJqazhDWWVMSlVBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FGm8mbL/ixNS/zyX94m5xaWAxszhu9w68KL0QwTbLNqYgp2ZyX2W4rsoYLDoadr+
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "258"
      X-Ratelimit-Reset:
      - "1332"
    status: 200 OK
    code: 200
    duration: ""
