---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"createUserDefinedField-for_generated_tests","required":false,"table_id":0,"type":1},"id":"","type":"user_defined_field"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields
    method: POST
  response:
    body: '{"data":{"type":"user_defined_field","id":"a72aa846-5f0b-5109-9368-449405a9ae6d","attributes":{"name":"createUserDefinedField-for_generated_tests","default_choice_id":null,"table_id":0,"type":1,"required":false,"prerequisite":null,"tag_key":null,"valid_values":null,"default_value":null,"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"created_by_uuid":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"last_modified_by_uuid":null,"created":"2020-09-09T18:49:27.336277+00:00","modified":"2020-09-09T18:49:27.336277+00:00","deleted":null},"relationships":{"choices":{"data":[]},"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ZvbT5Hkp4NkmoFNp2kmSQo90Sobu/hiarT/8VcAY1HhBaO2tDabc9sAn9xbJsaIr
      X-Dd-Version:
      - "35.3008453"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Choice-Name","value":"Test-Choice-Value"},"id":"","type":"user_defined_choice"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedFieldChoice
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/a72aa846-5f0b-5109-9368-449405a9ae6d/relationships/choices
    method: POST
  response:
    body: '{"data":{"type":"user_defined_choice","id":"5636b7fb-2388-5b49-ba65-804f53871cad","attributes":{"name":"Test-Choice-Name","value":"Test-Choice-Value","description":null,"user_defined_field_id":"a72aa846-5f0b-5109-9368-449405a9ae6d","created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"created_by_uuid":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"last_modified_by_uuid":null,"created":"2020-09-09T18:49:27.731282+00:00","modified":"2020-09-09T18:49:27.731282+00:00","deleted":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - uhKf3DOQ/asSODSNh+771Jj2mAFRCrXnSErQegeSH33qVMu18OG0v+JTvu/HjcV7
      X-Dd-Version:
      - "35.3008453"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-09-09T18:49:27.731282Z","created_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","name":"Matt Hardwick","uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3"},"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}},"last_modified_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","name":"Matt Hardwick","uuid":"26101b01-eba0-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUserDefinedFieldChoices
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/a72aa846-5f0b-5109-9368-449405a9ae6d/relationships/choices
    method: GET
  response:
    body: '{"meta":{"pagination":{"number":0,"next_number":25,"size":25}},"data":[{"type":"user_defined_choice","id":"5636b7fb-2388-5b49-ba65-804f53871cad","attributes":{"name":"Test-ConfigField-Updated","value":"Test-ConfigField-Updated","description":null,"user_defined_field_id":"a72aa846-5f0b-5109-9368-449405a9ae6d","created_by_uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","last_modified_by_uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","created":"2020-09-09T18:49:27.731282+00:00","modified":"2020-09-09T18:49:29.979713+00:00","deleted":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EDCzTXtRLv8zbNh6LPdV9QtgRpCK5JG59t19TocHPF2cDocJtqDzJin2eCJyUekp
      X-Dd-Version:
      - "35.3008453"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteUserDefinedField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/a72aa846-5f0b-5109-9368-449405a9ae6d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - JywPpt+4BVnbPdSe3Y1Brr4edpaGbhQEf1Cv7s/evHeASrfyUCmzDpnXMXyJJDQz
      X-Dd-Version:
      - "35.3008453"
    status: 204 No Content
    code: 204
    duration: ""
