---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestSearchSecurityMonitoringSignals-1620749492","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestSearchSecurityMonitoringSignals-1620749492"}],"type":"log_detection"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1620749492345,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"Test-TestSearchSecurityMonitoringSignals-1620749492","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"rn8-4jw-oja","isDefault":false,"name":"Test-TestSearchSecurityMonitoringSignals-1620749492"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4507575"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestSearchSecurityMonitoringSignals-1620749492",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1620748492000,
      \"message\": \"Test-TestSearchSecurityMonitoringSignals-1620749492\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-05-11T14:11:32.244200436Z","query":"Test-TestSearchSecurityMonitoringSignals-1620749492","to":"2021-05-11T18:11:32.244200436Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4507575"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-05-11T14:11:32.244200436Z","query":"Test-TestSearchSecurityMonitoringSignals-1620749492","to":"2021-05-11T18:11:32.244200436Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTXJjd0FBQUFBQUFBQUFCeWJqZ3ROR3AzTFc5cVlTMHhMVUZZYkdOTmNsUjZRVUZEUnpSSlJHOVFkMjlNZFhkQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1620749492","groupByPaths":[]}],"title":"Test-TestSearchSecurityMonitoringSignals-1620749492
      - rule-case","relatedLogsQuery":{"from":"2021-05-11T15:39:52.000Z","metric":null,"aggregation":"count","to":"2021-05-12T15:54:52.000Z","viewParams":null,"query":"Test-TestSearchSecurityMonitoringSignals-1620749492"},"samples":[{"eventId":"AQAAAXlcI1zgsykCNAAAAABBWGxjTXJUUUFBQmhzcnc3ZmYyTkRBQUE","content":{"status":"info","tags":["env:prod","test","source:go-client-test-test-testsearchsecuritymonitoringsignals-1620749492","go","signal"],"timestamp":"2021-05-11T15:54:52.000Z","ingest_size_in_bytes":234,"custom":{"timestamp":1620748492000},"source":"go-client-test-test-testsearchsecuritymonitoringsignals-1620749492","tiebreaker":-1289158092,"message":"Test-TestSearchSecurityMonitoringSignals-1620749492"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXlcMrTQAABhsrw7ff2NDAAA"}],"workflow":{"events_matched":1,"first_seen":"2021-05-11T15:54:52.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestSearchSecurityMonitoringSignals-1620749492","id":"rn8-4jw-oja"},"last_seen":"2021-05-11T15:54:52.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testsearchsecuritymonitoringsignals-1620749492","env:prod","source:go-client-test-test-testsearchsecuritymonitoringsignals-1620749492"],"timestamp":"2021-05-11T16:11:38.468Z"},"type":"signal","id":"AQAAAXlcMrhkAAAAAAAAAABybjgtNGp3LW9qYS0xLUFYbGNNclRRQUFCaHNydzdmZjJOREFBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1620749492",[...]
- request:
    body: |
      {"filter":{"from":"2021-05-11T14:11:32.244200436Z","query":"Test-TestSearchSecurityMonitoringSignals-1620749492","to":"2021-05-11T18:11:32.244200436Z"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTXJoa0FBQUFBQUFBQUFCeWJqZ3ROR3AzTFc5cVlTMHhMVUZZYkdOTmNsUlJRVUZDYUhOeWR6ZG1aakpPUkVGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSe[...]
[...]
- request:
    body: |
      {"filter":{"from":"2021-05-11T14:11:32.244200436Z","query":"Test-TestSearchSecurityMonitoringSignals-1620749492","to":"2021-05-11T18:11:32.244200436Z"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTXJoa0FBQUFBQUFBQUFCeWJqZ3ROR3AzTFc5cVlTMHhMVUZZYkdOTmNsUlJRVUZDYUhOeWR6ZG1aakpPUkVGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-T[...]
- request:
    body: |
      {"filter":{"from":"2021-05-11T14:11:32.244200436Z","query":"Test-TestSearchSecurityMonitoringSignals-1620749492","to":"2021-05-11T18:11:32.244200436Z"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWGxjTXJoa0FBQUFBQUFBQUFCeWJqZ3ROR3AzTFc5cVlTMHhMVUZZYkdOTmNsUlJRVUZDYUhOeWR6ZG1aakpPUkVGQlFRIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGxjTXJjd0FBQUFBQUFBQUFCeWJqZ3ROR3AzTFc5cVlTMHhMVUZZY[...]
