---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"TestTeamsLifecycle-generated-client-team"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"name":"Matt
      Hardwick","handle":"matt.hardwick@datadoghq.com","created_at":"2019-05-15T20:23:56.312874+00:00","email":"matt.hardwick@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"8bb4d410-00cb-11ea-a77b-538f1147085c"}}}}],"data":{"type":"teams","id":"da69e2e4-e6c7-5b6b-a187-f999cb1f040b","attributes":{"name":"TestTeamsLifecycle-generated-client-team","created":"2020-09-09T15:16:11.763874+00:00","modified":"2020-09-09T15:16:11.763874+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pv0z9DOVfESVNK6d1tOJ7YfC31qHNEzJNjdRZStq3qVP6piD/gWCa9pwKd90Upzy
      X-Dd-Version:
      - "35.3006243"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-09-09T15:16:11.763874Z","modified":"2020-09-09T15:16:11.763874Z","name":"Test-Team-Updated"},"id":"da69e2e4-e6c7-5b6b-a187-f999cb1f040b","relationships":{"created_by":{"data":{"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}},"last_modified_by":{"data":{"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}}},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operatio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTeams
    url: https://api.datadoghq.com/api/v2/teams
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"number":0,"next_number":25,"size":25}},"data":[{"type":"teams","id":"30252522c5b25b069aa87e1b0ecf0bc5","attributes":{"name":"community","created":"2020-04-21T16:02:31.464173+00:00","modified":"2020-04-21T16:02:31.464173+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}},{"type":"teams","id":"c76dec07b47d55b29d53cf41e8478ab5","attributes":{"name":"internalanalytics,infrastructureanden[...]
[...]
