---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestRoleLifecycle-local-1589290180"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"a1dc6376-9454-11ea-93e2-87236e9bc9f3","attributes":{"name":"go-TestRoleLifecycle-local-1589290180","created_at":"2020-05-12T13:29:40.194997+00:00","modified_at":"2020-05-12T13:29:40.194997+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FiLv+OaMPfXL1uddbn+9yDPMV5awac1EEhAgzXF2ZG6GNVh7KFUCM+HhGv6IDSg0
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestRoleLifecycle-local-1589290180-updated"},"id":"a1dc6376-9454-11ea-93e2-87236e9bc9f3","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/a1dc6376-9454-11ea-93e2-87236e9bc9f3
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"a1dc6376-9454-11ea-93e2-87236e9bc9f3","attributes":{"name":"go-TestRoleLifecycle-local-1589290180-updated","created_at":"2020-05-12T13:29:40.194997+00:00","modified_at":"2020-05-12T13:29:40.431209+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pNNj5PhODCVJlRBPEhZP3s9KL9kvFYv//TnGsiPp+3AqL7R5kIW2JlCWtfMcXeFn
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/a1dc6376-9454-11ea-93e2-87236e9bc9f3
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"a1dc6376-9454-11ea-93e2-87236e9bc9f3","attributes":{"name":"go-TestRoleLifecycle-local-1589290180-updated","created_at":"2020-05-12T13:29:40.194997+00:00","modified_at":"2020-05-12T13:29:40.431209+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gVnECQ7ifaEfJ6BNPsXSglLjlU41ay4U8jXHC6V3+oC4U6gHkBb20H5zrSJj1zee
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=go-TestRoleLifecycle-local-1589290180-updated&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort=-modified_at
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":13}},"data":[{"type":"roles","id":"a1dc6376-9454-11ea-93e2-87236e9bc9f3","attributes":{"name":"go-TestRoleLifecycle-local-1589290180-updated","created_at":"2020-05-12T13:29:40.194997+00:00","modified_at":"2020-05-12T13:29:40.431209+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xKFgbVhCHArG4Y0sXMtZ5P8r3tuxi63adTKFxNzM7f4aJAAu82zS1Bp7ak9HjM4Y
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/a1dc6376-9454-11ea-93e2-87236e9bc9f3
    method: DELETE
  response:
    body: '{"errors": ["The role a1dc6376-9454-11ea-93e2-87236e9bc9f3 does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2492943"
    status: 404 Not Found
    code: 404
    duration: ""
