---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"TestServicesLifecycle-U8QbuXWp34eGAIhK"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","attributes":{"name":"Charlie
      Monzillo","handle":"charlie.monzillo@datadoghq.com","created_at":"2020-01-01T23:49:56.489549+00:00","email":"charlie.monzillo@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c4d201d883e8364745de9d89b4b9dced?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"bd4276fd-000e-11ea-a34b-3f3c8bba65b8"}}}}],"data":{"type":"services","id":"ca0a4b1988ec57848ec7646a45d4ee49","attributes":{"name":"TestServicesLifecycle-U8QbuXWp34eGAIhK","created":"2020-04-29T03:40:37.129908+00:00","modified":"2020-04-29T03:40:37.129908+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8"}},"created_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2445362"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-04-29T03:40:37.129908Z","modified":"2020-04-29T03:40:37.129908Z","name":"Test-Service-Updated"},"id":"ca0a4b1988ec57848ec7646a45d4ee49","relationships":{"created_by":{"data":{"id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","type":"users"}},"last_modified_by":{"data":{"id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","type":"users"}}},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operat[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetServices
    url: https://api.datadoghq.com/api/v2/services
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"number":0,"next_number":1000,"size":1000}},"data":[{"type":"services","id":"65fb56b73f665bac934eafa9b908a08b","attributes":{"name":"Trace
      Search","created":"2020-04-21T15:33:20.968048+00:00","modified":"2020-04-21T15:33:20.968048+00:00"}},{"type":"services","id":"72a29c85eef15df584883677c3a62081","attributes":{"name":"Cassandra
      Trace Firehose","created":"2020-04-21T15:33:20.977751+00:00","modified":"2020-04-21T15:33:20.977751+00:00"}},{"type":"services","id":"fc9b135f77705831b1fdd2b9f56152ba","attributes":{"name":"Trac[...]
[...]
