---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1587420670226082000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"d72654cc-8353-11ea-93de-479246cac753","attributes":{"name":"test-role-datadog-client-go-1587420670226082000","created_at":"2020-04-20T22:11:10.335195+00:00","modified_at":"2020-04-20T22:11:10.335195+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2413239"
    status: 200 OK
    code: 200
    duration: ""
