---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"test-datadog-client-go-1586616902277754000@datadoghq.com","name":"Test Datadog Client Go","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"6c7b0128-7c04-11ea-93dc-ab190b3fee14","attributes":{"name":"Test
      Datadog Client Go","handle":"test-datadog-client-go-1586616902277754000@datadoghq.com","created_at":"2020-04-11T14:55:02.991642+00:00","email":"test-datadog-client-go-1586616902277754000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c31f4bb8d8a97a9dad6108e1f8602e6c?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2379606"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"Joe Doe"},"id":"6c7b0128-7c04-11ea-93dc-ab190b3fee14","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users/6c7b0128-7c04-11ea-93dc-ab190b3fee14
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2379606"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=test-datadog-client-go-1586616902277754000%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort_dir=asc
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":2663}},"data":[{"type":"users","id":"6c7b0128-7c04-11ea-93dc-ab190b3fee14","attributes":{"name":"Joe
      Doe","handle":"test-datadog-client-go-1586616902277754000@datadoghq.com","created_at":"2020-04-11T14:55:02.991642+00:00","email":"test-datadog-client-go-1586616902277754000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c31f4bb8d8a97a9dad6108e1f8602e6c?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2379606"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/6c7b0128-7c04-11ea-93dc-ab190b3fee14
    method: DELETE
  response:
    body: '{"errors": ["6c7b0128-7c04-11ea-93dc-ab190b3fee14 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2379606"
    status: 404 Not Found
    code: 404
    duration: ""
