---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-go-TestLogsList-local-1596095606", "ddtags":
      "go,test,list", "hostname": "go-TestLogsList-local-1596095606", "message": "{\"timestamp\":
      1596094606000, \"message\": \"test-log-list-1 go-TestLogsList-local-1596095606\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"go-TestLogsList-local-1596095606","to":"now+2h"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 6IV1nnLK7WsnDz57sJ36R2e8yXPkbPSdE1tO4cUJdE4sOImyUXKqYxua+hm7GRkh
      X-Dd-Version:
      - "35.2805623"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "299"
      X-Ratelimit-Reset:
      - "393"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"go-TestLogsList-local-1596095606","to":"now+2h"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9ldGlrSTlFdDFiQUFBQUFCQldFOWxkR3BIUVZaa2EweFRSbWRFYjFWQlFRIn0"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1596095606","test","source:go-client-test-go-testlogslist-local-1596095606","go","list"],"timestamp":"2020-07-30T07:53:25.000Z","host":"go-TestLogsList-local-1596095606","attributes":{"timestamp":1596095605000,"hostname":"go-TestLogsList-local-1596095606"},"message":"test-log-list-2
      go-TestLogsList-local-1596095606"},"type":"log","id":"AQAAAXOetikI9Et1bAAAAABBWE9ldGpHQVZka0xTRmdEb1VBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=go-TestLogsList-local-1596095606&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWE9ldGlrSTlFdDFiQUFBQUFCQldFOWxkR3BIUVZaa2EweFRSbWRFYjFWQlFRIn0&filter%5Bfrom%5D=now-2h&filter%5Bto%5D=now%2B2h"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vM7hu8F93l+nIuJeHTcumMJoTiWasjOtOgFQHPDoGz2NDBkifMlqrJnBB7fPXRsG
      X-Dd-Version:
      - "35.2805623"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "294"
      X-Ratelimit-Reset:
      - "366"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"go-TestLogsList-local-1596095606","to":"now+2h"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9ldGlrSTlFdDFiQUFBQUFCQldFOWxkR3BIUVZaa2EweFRSbWRFYjFWQlFRIn0"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1596095606","test","source:go-client-test-go-testlogslist-local-159609[...]
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"go-TestLogsList-local-1596095606","to":"now+2h"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9ldGlrSTlFdDFiQUFBQUFCQldFOWxkR3BIUVZaa2EweFRSbWRFYjFWQlFRIn0"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-go-testlogslist-local-1596095606","test","source:go-client-test-go-testlogslist-l[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"go-TestLogsList-local-1596095606","to":"now+2h"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWE9ldGlrSTlFdDFiQUFBQUFCQldFOWxkR3BIUVZaa2EweFRSbWRFYjFWQlFRIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE9lcHVxd24zcXlUZ0FBQUFCQldFOWxkR3BFWDFOTU1qZHpjMFJwWVc5QlFRIn0"}},"data":[{"attributes":{"status":"info","tags":["source:go[...]
