---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1587417290070065000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f9128586-834b-11ea-93de-fffc1ba8f633","attributes":{"name":"test-role-datadog-client-go-1587417290070065000","created_at":"2020-04-20T21:14:51.274056+00:00","modified_at":"2020-04-20T21:14:51.274056+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: GET
  response:
    body: '{"errors": ["The role 00000000-dead-beef-dead-ffffffffffff does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/this-is-an-invalid-role-id-for-get-endpoint-because-it-is-too-long-to-be-a-uuid
    method: GET
  response:
    body: '{"errors": ["The role this-is-an-invalid-role-id-for-get-endpoint-because-it-is-too-long-to-be-a-uuid
      does not exist not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
