---
version: 1
interactions:
- request:
    body: |
      {"name":"go-client-test-v2-1587937007"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go-client-test-v2-1587937007","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-04-26T21:36:48.151163+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-04-26T21:36:48.151181+00:00","id":93204}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yqCkAb2Y8/4OgTSGYvedTl/k5gsPukDI7OLTlGSm9adIbRDVlGb00Ve5DDv9ImFD
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/93204
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":93204}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vG5kxpR47Wd0uZGIzWkStfMxs3cmVIjKYEHLQf0xQiHS0P2BwlwJHwTESUSKlcdO
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
