---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-post-1592847407", "ddtags": "go,test,list",
      "hostname": "go-TestLogsList-local-1592847407", "message": "{\"timestamp\":
      1592846407000, \"message\": \"test-log-list-1 post-1592847407\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-22T17:36:47.978886+02:00","query":"post-1592847407","to":"2020-06-22T21:36:47.978886+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ldNaA6dSEPDapjFoBolZNm9KKT/3iEJM/Q1IyMe2D0P7l2S/rGI4bTGzxgP0/9Zs
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "278"
      X-Ratelimit-Reset:
      - "1391"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-22T17:36:47.978886+02:00","query":"post-1592847407","to":"2020-06-22T21:36:47.978886+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592847406000,"hostname":"go-TestLogsList-local-1592847407"},"host":"go-TestLogsList-local-1592847407","tags":["source:go-client-test-post-1592847407","test","go","list","source:go-client-test-post-1592847407"],"message":"test-log-list-2
      post-1592847407","timestamp":"2020-06-22T17:36:46.000Z"},"type":"log","id":"AQAAAXLdGpOwxBZlVgAAAABBWExkR3A0UDlYVGFwaFlMZFFBQQ"},{"attributes":{"attributes":{"timestamp":1592846407000,"hostname":"go-TestLogsList-local-1592847407"},"host":"go-TestLogsList-local-1592847407","tags":["source:go-client-test-post-1592847407","test","go","list","source:go-client-test-post-1592847407"],"message":"test-log-list-1
      post-1592847407","timestamp":"2020-06-22T17:20:07.000Z"},"type":"log","id":"AQAAAXLdC1VYw7YlVgAAAABBWExkR3AxXzlYVGFwaFlMRk1BQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - SaHvyR/hQzhMjBxXmmuM76vwlwfocpgL0LhX3u6R0CFONYqUGm7Xe/7/HyTliTFX
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "273"
      X-Ratelimit-Reset:
      - "1365"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-22T17:36:47.978886+02:00","query":"post-1592847407","to":"2020-06-22T21:36:47.978886+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592846407000,"hostname":"go-TestLogsList-local-1592847407"},"host":"go-TestLogsList-local-1592847407","tags":["source:go-client-test-post-1592847407","test","go","list","source:go-client-test-post-1592847407"],"message":"tes[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-22T17:36:47.978886+02:00","query":"post-1592847407","to":"2020-06-22T21:36:47.978886+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYTGRDMVZZdzdZbFZnQUFBQUJCV0V4a1IzQXhYemxZVkdGd2FGbE1SazFCUVEifQ=="}},"data":[{"attributes":{"attributes":{"timestamp":1592847406000,"hostname":"go-TestLogsList-local-1592847407"},"host":"go-TestLogsList-local-1592847407","tags":["source:go-client-test-post-1592847407","test","go","list","source:go-client-test-post-1592847407"],"message":"test-log-list-2
      post-1592847407","timestamp":"2020-06-22T17:36:46.000Z"},"type":"log","id":"AQAAAXLdGpOwxBZlVgAAAABBWExkR3A0UDlYVGFwaFlMZFFBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?sort=-timestamp&filter%5Bto%5D=2020-06-22T21%3A36%3A47.978886%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTGRDMVZZdzdZbFZnQUFBQUJCV0V4a1IzQXhYemxZVkdGd2FGbE1SazFCUVEifQ%3D%3D&filter%5Bfrom%5D=2020-06-22T17%3A36%3A47.978886%2B02%3A00&filter%5Bquery%5D=post-1592847407&page%5Blimit%5D=1"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nDs7oXQtOYsvIIpPzuNZX0qDgGBu3ENkec7da4phztYl7kD88B7t5enRlUQmZVgO
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "270"
      X-Ratelimit-Reset:
      - "1365"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-22T17:36:47.978886+02:00","query":"post-1592847407","to":"2020-06-22T21:36:47.978886+02:00"},"page":{"cursor":"eyJzdGFydEF0IjoiQVFBQUFYTGRDMVZZdzdZbFZnQUFBQUJCV0V4a1IzQXhYemxZVkdGd2FGbE1SazFCUVEifQ==","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592846407000,"hostname":"go-TestLogsList-local-1592847407"},"host":"go-TestLogsList-local-1592847407","tags":["source:go-client-test-post-1592847407","test","go","list","source:go-client-test-post-1592847407"],"message":"test-log-list-1
      post-1592847407","timestamp":"2020-06-22T17:20:07.000Z"},"type":"log","id":"AQAAAXLdC1VYw7YlVgAAAABBWExkR3AxXzlYVGFwaFlMRk1BQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - iMTE1BmjsL8tFxXfV1x35HHEpphKhyShj7mGG+gCh4hVOBaK9+R0wmURPHnATwmw
      X-Dd-Version:
      - "35.2651080"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "269"
      X-Ratelimit-Reset:
      - "1365"
    status: 200 OK
    code: 200
    duration: ""
