---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1587035358397633000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"b7d381dc-7fd2-11ea-93dd-432318f072c0","attributes":{"name":"test-role-datadog-client-go-1587035358397633000","created_at":"2020-04-16T11:09:19.216420+00:00","modified_at":"2020-04-16T11:09:19.216420+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2397926"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"test-datadog-client-go-1587035358397633000@datadoghq.com","name":"Test Datadog Client Go","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b7f779c0-7fd2-11ea-93dd-9b76d1d01572","attributes":{"name":"Test
      Datadog Client Go","handle":"test-datadog-client-go-1587035358397633000@datadoghq.com","created_at":"2020-04-16T11:09:19.451234+00:00","email":"test-datadog-client-go-1587035358397633000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d2499d5025c34d3b2b345ecea92b64e6?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2397926"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"b7f779c0-7fd2-11ea-93dd-9b76d1d01572","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRoleRelationshipToUser
    url: https://api.datadoghq.com/api/v2/roles/b7d381dc-7fd2-11ea-93dd-432318f072c0/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"b7f779c0-7fd2-11ea-93dd-9b76d1d01572","attributes":{"name":"Test
      Datadog Client Go","handle":"test-datadog-client-go-1587035358397633000@datadoghq.com","created_at":"2020-04-16T11:09:19.451234+00:00","email":"test-datadog-client-go-1587035358397633000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d2499d5025c34d3b2b345ecea92b64e6?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"b7d381dc-7fd2-11ea-93dd-432318f072c0"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2397926"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoleRelationshipsToUsers
    url: https://api.datadoghq.com/api/v2/roles/b7d381dc-7fd2-11ea-93dd-432318f072c0/users
    method: GET
  response:
    body: '{"included":[{"type":"permissions","id":"d90f6832-d3d8-11e9-a77a-bf8a2607f864","attributes":{"name":"dashboards_public_share","display_name":"Dashboards
      Share","description":"The ability to share dashboards externally.","created":"2019-09-10T14:39:51.967094+00:00","group_name":"Dashboards","display_type":"other","restricted":false}},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9","attributes":{"name":"logs_write_pipelines","display_name":"Logs
      Write Pipelines","description":"The ability to add and change log pipeline configurations,
      including the ability to grant the Logs Write Processors permission to other
      roles, for some or all pipelines. This permission also grants global Log Processor
      Write implicitly.","created":"2018-10-31T13:40:17.996379+00:00","group_name":"Logs","d[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/b7f779c0-7fd2-11ea-93dd-9b76d1d01572
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2397926"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/b7d381dc-7fd2-11ea-93dd-432318f072c0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2397926"
    status: 204 No Content
    code: 204
    duration: ""
