---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"isEnabled":true,"message":"rule message","name":"go-TestSearchSecurityMonitoringSignals-local-1596619877","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSearchSecurityMonitoringSignals-local-1596619877"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1772625,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1596619878300,"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"threshold","id":"tvx-6xw-blc","isDefault":false,"name":"go-TestSearchSecurityMonitoringSignals-local-1596619877"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2APeQ4tNC2T0beiSXHZHnuB7AsnR4WQIBpVjpbC9alC8iUqeeGXMBZHGBgD7rZ9J
      X-Dd-Version:
      - "35.2835060"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSearchSecurityMonitoringSignals-local-1596619877",
      "ddtags": "go,test,signal", "message": "{\"timestamp\": 1596618877000, \"message\":
      \"go-TestSearchSecurityMonitoringSignals-local-1596619877\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-08-05T09:31:17.742172+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","to":"2020-08-05T13:31:17.742172+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cu+xiOT7hIBgS03q/GGP340Oy0ONcG6pZ9wqJI2u7YJJl2O0i7XfYQHy5cqEHiiU
      X-Dd-Version:
      - "35.2835060"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-08-05T09:31:17.742172+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","to":"2020-08-05T13:31:17.742172+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE85OWZoVUFBQUFBQUFBQUFCMGRuZ3RObmgzTFdKc1l5MHhMVUZZVHprNVprZEhVMHd5TjNOelJHbHpjMEZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","groupByPaths":[]}],"title":"go-TestSearchSecurityMonitoringSignals-local-1596619877
      - rule-case","relatedLogsQuery":{"query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","from":"2020-08-05T08:59:37.000Z","to":"2020-08-06T09:14:37.000Z"},"samples":[{"eventId":"AQAAAXO95qhI9YByTgAAAABBWE85OWZFWVNMMjdzc0RpY0VBQQ","content":{"status":"info","tags":["test","source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1596619877","go","signal"],"timestamp":"2020-08-05T09:14:37.000Z","ingest_size_in_bytes":233,"custom":{"timestamp":1596618877000},"source":"go-client-test-go-TestSearchSecurityMonitoringSignals-local-1596619877","tiebreaker":-176131506,"message":"go-TestSearchSecurityMonitoringSignals-local-1596619877"},"queryIndex":0,"trackKey":{"orgId":414943,"type":"logs"},"id":"AXO99fEYSL27ssDicEAA"}],"workflow":{"first_seen":"2020-08-05T09:14:37.000Z","rule":{"version":1,"type":"Log
      Detection","name":"go-TestSearchSecurityMonitoringSignals-local-1596619877","id":"tvx-6xw-blc"},"last_seen":"2020-08-05T09:14:37.000Z"}},"message":"%%%\nrule
      message\n%%%","timestamp":"2020-08-05T09:31:20.947Z"},"type":"signal","id":"AQAAAXO99fnzAAAAAAAAAAB0dngtNnh3LWJsYy0xLUFYTzk5ZkVZU0wyN3NzRGljRUFB"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","groupByPaths":[]}],"title":"go-TestSearchSecurityMonitoringSignals-local-1596619877
      - rule-case","relatedLogsQuery":{"query":"go-TestSearchSecurityMonitoringSignals-lo[...]
- request:
    body: |
      {"filter":{"from":"2020-08-05T09:31:17.742172+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","to":"2020-08-05T13:31:17.742172+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE85OWZuekFBQUFBQUFBQUFCMGRuZ3RObmgzTFdKc1l5MHhMVUZZVHprNVprVlpVMHd5TjNOelJHbGpSVUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecurityMoni[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-08-05T09:31:17.742172+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","to":"2020-08-05T13:31:17.742172+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE85OWZuekFBQUFBQUFBQUFCMGRuZ3RObmgzTFdKc1l5MHhMVUZZVHprNVprVlpVMHd5TjNOelJHbGpSVUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchS[...]
- request:
    body: |
      {"filter":{"from":"2020-08-05T09:31:17.742172+02:00","query":"go-TestSearchSecurityMonitoringSignals-local-1596619877","to":"2020-08-05T13:31:17.742172+02:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWE85OWZuekFBQUFBQUFBQUFCMGRuZ3RObmgzTFdKc1l5MHhMVUZZVHprNVprVlpVMHd5TjNOelJHbGpSVUZCIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE85OWZoVUFBQUFBQUFBQUFCMGRuZ3RObmgzTFdKc1l5MHhMVUZZVHprNVprZ[...]
