---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impact_end":"2020-09-09T11:08:33.01292-04:00","customer_impact_scope":"none","customer_impact_start":"2020-09-09T11:08:33.01292-04:00","customer_impacted":true,"detected":"2020-09-09T11:08:33.01292-04:00","state":"active","title":"Test-Incident"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"43b3d813-f79e-53a5-8dda-35fa25c18326","attributes":{"public_id":38,"postmortem_id":null,"title":"Test-Incident","resolved":null,"customer_impact_scope":"none","customer_impact_start":"2020-09-09T15:08:33.012920+00:00","customer_impact_end":"2020-09-09T15:08:33.012920+00:00","customer_impacted":true,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-09-09T15:08:33.839512+00:00","modified":"2020-09-09T15:08:33.839512+00:00","commander":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro"}}},"state":"active","detected":"2020-09-09T15:08:33.012920+00:00","created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"severity":"UNKNOWN","udf_values":null,"additional_notifications":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"commander_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"teams":{"data":[]},"services":{"data":[]},"user_defined_field_selections":{"data":[]},"user_defined_fields":{"data":[]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5wdhN0hQ3iCb6rPEyTmtJgDoUUDVVv7iPVPqacx637Q129Xhp7q16M7tWLSeKwvC
      X-Dd-Version:
      - "35.3006243"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"commander":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48\u0026d=retro","name":"Matt Hardwick","uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3"},"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}},"created":"2020-09-09T15:08:33.839512Z","created_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.c[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncidents
    url: https://api.datadoghq.com/api/v2/incidents
    method: GET
  response:
    body: '{"meta":{"pagination":{"number":0,"next_number":25,"size":25}},"data":[{"type":"incidents","id":"89ec141376f4599fa61dde22a3cb051a","attributes":{"public_id":1,"postmortem_id":"a2ce8695c38f5dc4a3d17dbcbdef4435","title":"{test}
      Test incident 1","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":"2020-06-29T15:27:17.537723+00:00","customer_impacted":false,"last_modified_by_uuid":"a8c7ca4d-eb9c-11e9-a77a-9b88f2c5c1de","created":"2020-06-17T19:40:21.602898+00:00","modified":"2020-08-13T18:37:43.587466+00:00[...]
[...]
