---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"testinguser-1586286555397538000@datadoghq.com","name":"Testign User","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"4678a484-7903-11ea-93dc-87b184a6d5e7","attributes":{"name":"Testign
      User","handle":"testinguser-1586286555397538000@datadoghq.com","created_at":"2020-04-07T19:09:16.237622+00:00","email":"testinguser-1586286555397538000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/11f95883d6a550daa4599ae8afc76030?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2365276"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"4678a484-7903-11ea-93dc-87b184a6d5e7","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"488c04b4-7903-11ea-93dc-179073b8dc92","attributes":{"uuid":"488c04b4-7903-11ea-93dc-179073b8dc92","login_method":null,"invite_type":"openid_invite","created_at":"2020-04-07T19:09:19.721240+00:00","expires_at":"2020-04-09T19:09:16.603414+00:00"},"relationships":{"user":{"data":{"type":"users","id":"4678a484-7903-11ea-93dc-87b184a6d5e7"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2365276"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/user_invitations/488c04b4-7903-11ea-93dc-179073b8dc92
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"488c04b4-7903-11ea-93dc-179073b8dc92","attributes":{"uuid":"488c04b4-7903-11ea-93dc-179073b8dc92","login_method":null,"invite_type":"openid_invite","created_at":"2020-04-07T19:09:19.721240+00:00","expires_at":"2020-04-09T19:09:16.603414+00:00"},"relationships":{"user":{"data":{"type":"users","id":"4678a484-7903-11ea-93dc-87b184a6d5e7"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2365276"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/4678a484-7903-11ea-93dc-87b184a6d5e7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2365276"
    status: 204 No Content
    code: 204
    duration: ""
