---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"testinguser-1586250787952493000@datadoghq.com","name":"Testign User","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"ff647828-78af-11ea-93dc-435a4c75f1e6","attributes":{"name":"Testign
      User","handle":"testinguser-1586250787952493000@datadoghq.com","created_at":"2020-04-07T09:13:08.758906+00:00","email":"testinguser-1586250787952493000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fca2bd4d32c0b2b60b629bcd4f3aa0de?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vYQu3ls2HKdZ2pXErBiwg/FlJyuK31hjiI+oJSqoEPPw/7mzimb2FzvWEsshbznY
      X-Dd-Version:
      - "35.2363406"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"Joe Doe"},"id":"ff647828-78af-11ea-93dc-435a4c75f1e6","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users/ff647828-78af-11ea-93dc-435a4c75f1e6
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +0e88dcOoH2a7qrZ5zz4PnubdrAKvSl+k8YKr4bhBQyArPBFiYg3oXWqeVKLPB1I
      X-Dd-Version:
      - "35.2363406"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=testinguser-1586250787952493000%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":31}},"data":[{"type":"users","id":"ff647828-78af-11ea-93dc-435a4c75f1e6","attributes":{"name":"Joe
      Doe","handle":"testinguser-1586250787952493000@datadoghq.com","created_at":"2020-04-07T09:13:08.758906+00:00","email":"testinguser-1586250787952493000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fca2bd4d32c0b2b60b629bcd4f3aa0de?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OGWvqyuIWnbl6WkXpkkRXBvKLURJhdDx+xXZ6vxnnyjZzYdefkAlNGOfG85GcOUu
      X-Dd-Version:
      - "35.2363406"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/ff647828-78af-11ea-93dc-435a4c75f1e6
    method: DELETE
  response:
    body: '{"errors": ["ff647828-78af-11ea-93dc-435a4c75f1e6 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2363406"
    status: 404 Not Found
    code: 404
    duration: ""
