---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"state":"unknown","title":"Test-Incident"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"91e4dc32-c26e-5b1d-88db-4daf1785261d","attributes":{"public_id":54,"postmortem_id":null,"title":"Test-Incident","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-09-10T15:07:01.053784+00:00","modified":"2020-09-10T15:07:01.053784+00:00","commander":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro"}}},"state":"active","detected":"2020-09-10T15:07:01.052181+00:00","created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"severity":"UNKNOWN","udf_values":null,"additional_notifications":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"commander_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"teams":{"data":[]},"services":{"data":[]},"user_defined_field_selections":{"data":[]},"user_defined_fields":{"data":[]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nFyTUry7tLSCWgKgQTsGO10dBCh8TOEhHGgwdexQMnQchHPTOyo6yaXIidoJXR1X
      X-Dd-Version:
      - "35.3013529"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"createUserDefinedField-for_generated_tests","table_id":0,"type":1},"id":"","type":"user_defined_field"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields
    method: POST
  response:
    body: '{"data":{"type":"user_defined_field","id":"d3cc9fc9-f7e9-5b22-ab4e-977fb9792dd8","attributes":{"name":"createUserDefinedField-for_generated_tests","default_choice_id":null,"table_id":0,"type":1,"required":false,"prerequisite":null,"tag_key":null,"valid_values":null,"default_value":null,"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"created_by_uuid":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"last_modified_by_uuid":null,"created":"2020-09-10T15:07:02.029308+00:00","modified":"2020-09-10T15:07:02.029308+00:00","deleted":null},"relationships":{"choices":{"data":[]},"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kU8oLj3zrGL/NsMXNRXUrvjc5SX7m5Zi20YpnuFt2mcszekWqSDwHwhFasJc2aus
      X-Dd-Version:
      - "35.3013529"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"createUserDefinedFieldChoice-generated-client-choice-1","value":"Test-Choice-Value"},"id":"","type":"user_defined_choice"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedFieldChoice
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/d3cc9fc9-f7e9-5b22-ab4e-977fb9792dd8/relationships/choices
    method: POST
  response:
    body: '{"data":{"type":"user_defined_choice","id":"2affa0cb-f104-5514-9ff8-31ea56f6ab02","attributes":{"name":"createUserDefinedFieldChoice-generated-client-choice-1","value":"Test-Choice-Value","description":null,"user_defined_field_id":"d3cc9fc9-f7e9-5b22-ab4e-977fb9792dd8","created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"created_by_uuid":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"last_modified_by_uuid":null,"created":"2020-09-10T15:07:03.307686+00:00","modified":"2020-09-10T15:07:03.307686+00:00","deleted":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - uJ83xA1OCfjNbetv+4JhF+oFizEHF56t3Lja6jtB8P5etMWBi14GRkWSrGetOvyr
      X-Dd-Version:
      - "35.3013529"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"object_id":"91e4dc32-c26e-5b1d-88db-4daf1785261d"},"id":"","relationships":{"choice":{"data":{"id":"2affa0cb-f104-5514-9ff8-31ea56f6ab02","type":"user_defined_choice"}},"field":{"data":{"id":"d3cc9fc9-f7e9-5b22-ab4e-977fb9792dd8","type":"user_defined_field"}}},"type":"user_defined_selection"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedFieldSelection
    url: https://api.datadoghq.com/api/v2/incidents/91e4dc32-c26e-5b1d-88db-4daf1785261d/relationships/selections
    method: POST
  response:
    body: '{"data":{"type":"user_defined_selection","id":"ae0f34aa-8007-52ba-b4dd-20d61d064ffb","attributes":{"object_id":"91e4dc32-c26e-5b1d-88db-4daf1785261d","choice_override":null,"value":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-09-10T15:07:05.064125+00:00","modified":"2020-09-10T15:07:05.064125+00:00","deleted":null},"relationships":{"choice":{"data":{"type":"user_defined_choice","id":"2affa0cb-f104-5514-9ff8-31ea56f6ab02"}},"field":{"data":{"type":"user_defined_field","id":"d3cc9fc9-f7e9-5b22-ab4e-977fb9792dd8"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vV/DogUGzHTE+KQ2wvX3OHOU6F0jiDr+6DRfJX4PAu4XZKwR6nmcOJDQQwk5+1/2
      X-Dd-Version:
      - "35.3013529"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-09-10T15:07:05.064125Z","last_modified_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48\u0026d=retro","name":"Matt Hardwick","uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3"},"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}},"modified":"2020-09-10T15:07:05.064125Z","object_id":"91e4dc32-[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUserDefinedFieldSelections
    url: https://api.datadoghq.com/api/v2/incidents/91e4dc32-c26e-5b1d-88db-4daf1785261d/relationships/selections
    method: GET
  response:
    body: '{"meta":{"pagination":{"number":0,"next_number":25,"size":25}},"data":[{"type":"user_defined_selection","id":"11f1ed22-49cf-564c-8839-d9e4ded0ea18","attributes":{"object_id":"91e4dc32-c26e-5b1d-88db-4daf1785261d","choice_override":null,"value":"UNKNOWN","last_modified_by_uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","created":"2020-09-10T15:07:01.053784+00:00","modified":"2020-09-10T15:07:01.053784+00:00","deleted":null},"relationships":{"choice":{"data":{"type":"user_defined_choice","id":"d1fb152bdba6597793a9b45780f2d462"}},"field":{"data":{"type":"use[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteUserDefinedFieldChoice
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/d3cc9fc9-f7e9-5b22-ab4e-977fb9792dd8/relationships/choices/3c094d60-efe9-5edc-92f7-de11ee847699
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nuSFLkQ1s7gwoRNAfifc8jXTyjLsWBSRPtQKveq6qMTKGNJs/ULg6uo/9G1YZzFs
      X-Dd-Version:
      - "35.3013529"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteUserDefinedField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/d3cc9fc9-f7e9-5b22-ab4e-977fb9792dd8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GzqFsJiHmsMG2ZkgPZxP4KU7BbP1543ieTDBlTOcSv7mMVZ5sYoywme9ykeCrzfU
      X-Dd-Version:
      - "35.3013529"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncident
    url: https://api.datadoghq.com/api/v2/incidents/91e4dc32-c26e-5b1d-88db-4daf1785261d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vV/DogUGzHTE+KQ2wvX3OHOU6F0jiDr+6DRfJX4PAu4XZKwR6nmcOJDQQwk5+1/2
      X-Dd-Version:
      - "35.3013529"
    status: 204 No Content
    code: 204
    duration: ""
