---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"createUserDefinedField-for_choices_test","required":false,"table_id":0,"type":1},"id":"","type":"user_defined_field"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields
    method: POST
  response:
    body: '{"data":{"type":"user_defined_field","id":"0564fc9b-0502-5b0e-ab20-d21a617cdb7c","attributes":{"name":"createUserDefinedField-for_choices_test","default_choice_id":null,"table_id":0,"type":1,"required":false,"prerequisite":null,"tag_key":null,"valid_values":null,"default_value":null,"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"created_by_uuid":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"last_modified_by_uuid":null,"created":"2020-09-09T12:03:51.641147+00:00","modified":"2020-09-09T12:03:51.641147+00:00","deleted":null},"relationships":{"choices":{"data":[]},"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - shSARNU4/WQFPOKM8NVdagbh/ZoS+zYzlyviY3k5npVGETiEU89iNTNvqiMXn1f6
      X-Dd-Version:
      - "35.3005167"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Choice-Name","value":"Test-Choice-Value"},"id":"","type":"user_defined_choice"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedFieldChoice
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/0564fc9b-0502-5b0e-ab20-d21a617cdb7c/relationships/choices
    method: POST
  response:
    body: '{"data":{"type":"user_defined_choice","id":"56a29210-ba6c-5b12-9e64-9fbd3eb1a207","attributes":{"name":"Test-Choice-Name","value":"Test-Choice-Value","description":null,"user_defined_field_id":"0564fc9b-0502-5b0e-ab20-d21a617cdb7c","created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"created_by_uuid":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"last_modified_by_uuid":null,"created":"2020-09-09T12:03:52.837021+00:00","modified":"2020-09-09T12:03:52.837021+00:00","deleted":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cwBlcFIcwDsv4IobSK5BCzc5xYE7Ob8qdF8Udq49IJhq23UAvY7SHKc1FyJJqC66
      X-Dd-Version:
      - "35.3005167"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-09-09T12:03:52.837021Z","created_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","name":"Matt Hardwick","uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3"},"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}},"last_modified_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","name":"Matt Hardwick","uuid":"26101b01-eba0-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUserDefinedFieldChoices
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/0564fc9b-0502-5b0e-ab20-d21a617cdb7c/relationships/choices
    method: GET
  response:
    body: '{"meta":{"pagination":{"number":0,"next_number":25,"size":25}},"data":[{"type":"user_defined_choice","id":"56a29210-ba6c-5b12-9e64-9fbd3eb1a207","attributes":{"name":"Test-ConfigField-Updated","value":"Test-ConfigField-Updated","description":null,"user_defined_field_id":"0564fc9b-0502-5b0e-ab20-d21a617cdb7c","created_by_uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","last_modified_by_uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","created":"2020-09-09T12:03:52.837021+00:00","modified":"2020-09-09T12:03:55.052502+00:00","deleted":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - /waQ67o9EXsAiQILmFHWOTHDJ6E+x7ROC0G8iNmC+2lV58E3PSGYbXj1H62A/c+u
      X-Dd-Version:
      - "35.3005167"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteUserDefinedField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields/0564fc9b-0502-5b0e-ab20-d21a617cdb7c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kQL0CnFxOqhC7/LGPn5tSXP5D7AwuI8M1SPDYQaonLUXe7hbVUblKeVruwbyjQml
      X-Dd-Version:
      - "35.3005167"
    status: 204 No Content
    code: 204
    duration: ""
