---
version: 1
interactions:
- request:
    body: |
      {"name":"go-TestDashboardListUpdateItemsErrors-local-1589290166"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go-TestDashboardListUpdateItemsErrors-local-1589290166","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"created":"2020-05-12T13:29:26.566829+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-05-12T13:29:26.566842+00:00","id":97370}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - wNaVyRyNliLxKeX4pqFHOJTBG1dRCwo1/ihrnAf0GXtGNGahc1XK8Xzj/ssA3R20
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/97370
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":97370}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ADT0ms9dQnbDHbbduv4c09ChngZrYY7A/Pgms/qacMOruS4mPwZ1GJWq74I7G11W
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
