---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Team"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","attributes":{"name":"Charlie
      Monzillo","handle":"charlie.monzillo@datadoghq.com","created_at":"2020-01-01T23:49:56.489549+00:00","email":"charlie.monzillo@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c4d201d883e8364745de9d89b4b9dced?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"bd4276fd-000e-11ea-a34b-3f3c8bba65b8"}}}}],"data":{"type":"teams","id":"5ec6ca1d49fc5e1398f451a866bb6600","attributes":{"name":"Test-Team","created":"2020-04-29T03:41:11.545270+00:00","modified":"2020-04-29T03:41:11.545270+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8"}},"created_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2445362"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-04-29T03:41:11.54527Z","modified":"2020-04-29T03:41:11.54527Z","name":"Test-Team-Updated"},"id":"5ec6ca1d49fc5e1398f451a866bb6600","relationships":{"created_by":{"data":{"id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","type":"users"}},"last_modified_by":{"data":{"id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","type":"users"}}},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTeams
    url: https://api.datadoghq.com/api/v2/teams
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"number":0,"next_number":1000,"size":1000}},"data":[{"type":"teams","id":"a336c164e4ad55a3bdee3ed52074ae41","attributes":{"name":"community","created":"2020-04-21T15:33:19.987711+00:00","modified":"2020-04-21T15:33:19.987711+00:00"}},{"type":"teams","id":"e4f6d7d216545e26bb0ac888022b60d4","attributes":{"name":"internalanalytics,infrastructureandenablement","created":"2020-04-21T15:33:20.014600+00:00","modified":"2020-04-21T15:33:20.014600+00:00"}},{"type":"teams","id":"a94c467da3165792bce89f0edee17a48","attributes":{"name":"apmtrac[...]
[...]
