---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestListSecurityMonitoringSignals-1618221039","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestListSecurityMonitoringSignals-1618221039"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1618221039709,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"Test-TestListSecurityMonitoringSignals-1618221039","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"jdo-kok-wpq","isDefault":false,"name":"Test-TestListSecurityMonitoringSignals-1618221039"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestListSecurityMonitoringSignals-1618221039",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1618220039000,
      \"message\": \"Test-TestListSecurityMonitoringSignals-1618221039\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-12T09%3A50%3A39%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1618221039&filter%5Bto%5D=2021-04-12T13%3A50%3A39%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-12T09%3A50%3A39%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1618221039&filter%5Bto%5D=2021-04-12T13%3A50%3A39%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZllhNkFBQUFBQUFBQUFCcVpHOHRhMjlyTFhkd2NTMHhMVUZZYWtabVdVTTVRVUZDWjNsWE1EUlJXRlJaY0ZGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1618221039","groupByPaths":[]}],"title":"Test-TestListSecurityMonitoringSignals-1618221039
      - rule-case","relatedLogsQuery":{"from":"2021-04-12T09:35:39.000Z","metric":null,"aggregation":"count","to":"2021-04-13T09:50:39.000Z","viewParams":null,"query":"Test-TestListSecurityMonitoringSignals-1618221039"},"samples":[{"eventId":"AQAAAXjFfX2YfEMREAAAAABBWGpGZllFbEFBQTZ1R29lMVhyNWtnQUE","content":{"status":"info","tags":["env:prod","test","source:go-client-test-test-testlistsecuritymonitoringsignals-1618221039","go","signal"],"timestamp":"2021-04-12T09:50:39.000Z","ingest_size_in_bytes":230,"custom":{"timestamp":1618221039000},"source":"go-client-test-test-testlistsecuritymonitoringsignals-1618221039","tiebreaker":2084770064,"message":"Test-TestListSecurityMonitoringSignals-1618221039"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXjFfYElAAA6uGoe1Xr5kgAA"}],"workflow":{"events_matched":1,"first_seen":"2021-04-12T09:50:39.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestListSecurityMonitoringSignals-1618221039","id":"jdo-kok-wpq"},"last_seen":"2021-04-12T09:50:39.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testlistsecuritymonitoringsignals-1618221039","env:prod","source:go-client-test-test-testlistsecuritymonitoringsignals-1618221039"],"timestamp":"2021-04-12T09:50:41.392Z"},"type":"signal","id":"AQAAAXjFfYbwAAAAAAAAAABqZG8ta29rLXdwcS0xLUFYakZmWUVsQUFBNnVHb2UxWHI1a2dBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestListSecurityMonitoringSignals-1618221039","group[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-12T09%3A50%3A39%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1618221039&filter%5Bto%5D=2021-04-12T13%3A50%3A39%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZllid0FBQUFBQUFBQUFCcVpHOHRhMjlyTFhkd2NTMHhMVUZ[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-12T09%3A50%3A39%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1618221039&filter%5Bto%5D=2021-04-12T13%3A50%3A39%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZllhNkFBQUFBQUFBQUFCcVpHOHRhMjlyTFhkd2NTMHhMVU[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-12T09%3A50%3A39%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1618221039&filter%5Bto%5D=2021-04-12T13%3A50%3A39%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZllid0FBQUFBQUFBQUFCcVpHOHRhMjlyTFhkd2NTMHhM[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2021-04-12T09%3A50%3A39%2B02%3A00&filter%5Bquery%5D=Test-TestListSecurityMonitoringSignals-1618221039&filter%5Bto%5D=2021-04-12T13%3A50%3A39%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGpGZllid0FBQUFBQUFBQUFCcVpHOHRhMjlyTFhkd2NTMHhMVUZZYWtabVdVVnNRVUZCTm5WSGIyVXhXSEkxYTJkQlFRIn0&page%5Blimit%5D=1
[...]
