---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestRemoveUserFromRoleErrors-local-1589290194"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"aa88901c-9454-11ea-93e2-1bec4175f3e9","attributes":{"name":"go-TestRemoveUserFromRoleErrors-local-1589290194","created_at":"2020-05-12T13:29:54.745359+00:00","modified_at":"2020-05-12T13:29:54.745359+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - btzHvL7Rg/f/n1wMP2CFVXsuErrwOO9p2hvsBofLQbxzRkmZbfvXcB18pURNtIOI
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: GET
  response:
    body: '{"errors": ["The role 00000000-dead-beef-dead-ffffffffffff does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2492943"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-TestRemoveUserFromRoleErrors-local-1589290194@datadoghq.com","name":"go-TestRemoveUserFromRoleErrors-local-1589290194","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"aac7a234-9454-11ea-93e2-df824d605d4f","attributes":{"name":"go-TestRemoveUserFromRoleErrors-local-1589290194","handle":"go-testremoveuserfromroleerrors-local-1589290194@datadoghq.com","created_at":"2020-05-12T13:29:55.157904+00:00","email":"go-TestRemoveUserFromRoleErrors-local-1589290194@datadoghq.com","icon":"https://secure.gravatar.com/avatar/adf9315194f51e07e28348944976f6f9?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hlZGwPPL87Cire+2SDWJrcKtg5ChXKBaVFmtHdrZS+BoDfdo10256wfXrEDRUv8c
      X-Dd-Version:
      - "35.2492943"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/aac7a234-9454-11ea-93e2-df824d605d4f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QO3HutZQjgMDp/HqClcLon+qq5lEghb3LRV+gXMIQ2Jivd1m1eEGCh0RxplUQMIV
      X-Dd-Version:
      - "35.2492943"
    status: 204 No Content
    code: 204
    duration: ""
[...]
