---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"go-TestSignalsListGet-local-1593790521","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSignalsListGet-local-1593790521"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1593790521889,"queries":[{"query":"go-TestSignalsListGet-local-1593790521","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"id":"r2j-ajy-82p","isDefault":false,"name":"go-TestSignalsListGet-local-1593790521"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - J5PL0LnJukdy69mckjXi3cjye/YJX2hkoCBkqKQi+tYjrsXYELx6DfDD11fhyjYF
      X-Dd-Version:
      - "35.2697582"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSignalsListGet-local-1593790521", "ddtags":
      "go,test,list", "hostname": "go-TestSignalsListGet-local-1593790521", "message":
      "{\"timestamp\": 1593789521000, \"message\": \"test-log-list-1 go-TestSignalsListGet-local-1593790521\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSignalsGet
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-03T15%3A35%3A21%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1593790521&filter%5Bto%5D=2020-07-03T19%3A35%3A21%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ucJMu0SEwqvJ36fqkYRsP+glKObktTtdBf6X17lKXJ4+xOn7nFKnx11beu1ycofn
      X-Dd-Version:
      - "35.2697582"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSignalsGet
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-03T15%3A35%3A21%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1593790521&filter%5Bto%5D=2020-07-03T19%3A35%3A21%2B02%3A00
    method: GET
  response:
    body: |
      {"status":"error","code":502,"errors":["Bad Gateway"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 502 Bad Gateway
    code: 502
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSignalsGet
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-03T15%3A35%3A21%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1593790521&filter%5Bto%5D=2020-07-03T19%3A35%3A21%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVVdYUEFBQUFBQUFBQUFCeU1tb3RZV3A1TFRneWNDMHhMVUZZVFZaVlYxRlFORkppV1c1TlMydHVWVUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListGet-local-1593790521","from":"2020-07-03T15:03:41.000Z","to":"2020-07-04T15:18:41.000Z"},"title":"go-TestSignalsListGet-local-1593790521
      - rule-case","groupByPaths":[],"workflow":{"first_seen":"2020-07-03T15:18:41.000Z","rule":{"version":1,"name":"go-TestSignalsListGet-local-1593790521","id":"r2j-ajy-82p"},"last_seen":"2020-07-03T15:18:41.000Z"},"samples":[{"eventId":"AQAAAXMVQhxoRY8vDQAAAABBWE1WVVdPVlNnNXlnUzJjcUVBQQ","content":{"status":"info","tags":["test","go","list","source:go-client-test-go-testsignalslistget-local-1593790521"],"timestamp":"2020-07-03T15:18:41.000Z","ingest_size_in_bytes":267,"custom":{"timestamp":1593789521000,"hostname":"go-TestSignalsListGet-local-1593790521"},"source":"go-client-test-go-TestSignalsListGet-local-1593790521","host":"go-TestSignalsListGet-local-1593790521","tiebreaker":1167011597,"message":"test-log-list-1
      go-TestSignalsListGet-local-1593790521"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXMVUWOVSg5ygS2cqEAA"}],"queries":[{"query":"go-TestSignalsListGet-local-1593790521","groupByPaths":[]}]},"message":"%%%\nrule
      message\n%%%","tags":["datadog-api-client-test-go"],"timestamp":"2020-07-03T15:35:23.813Z"},"type":"signal","id":"AQAAAXMVUWmlAAAAAAAAAAByMmotYWp5LTgycC0xLUFYTVZVV09WU2c1eWdTMmNxRUFB"},{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestSignalsListGet-local-1593790521","from":"2020-07-03T15:20:20.000Z","to":"2020-07-04T15:[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSignalsGet
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-03T15%3A35%3A21%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1593790521&filter%5Bto%5D=2020-07-03T19%3A35%3A21%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVVdtbEFBQUFBQUFBQUFCeU1tb3RZV3A1TFRneWNDMHhMVUZZVFZaVlYwOVdVMmMxZVdkVE1tT[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSignalsGet
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-03T15%3A35%3A21%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1593790521&filter%5Bto%5D=2020-07-03T19%3A35%3A21%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVVdYUEFBQUFBQUFBQUFCeU1tb3RZV3A1TFRneWNDMHhMVUZZVFZaVlYxRlFORkppV1c1TlMy[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSignalsGet
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-03T15%3A35%3A21%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1593790521&filter%5Bto%5D=2020-07-03T19%3A35%3A21%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE1WVVdtbEFBQUFBQUFBQUFCeU1tb3RZV3A1TFRneWNDMHhMVUZZVFZaVlYwOVdVMmMxZVdkVE[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSignalsGet
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-03T15%3A35%3A21%2B02%3A00&filter%5Bquery%5D=go-TestSignalsListGet-local-1593790521&filter%5Bto%5D=2020-07-03T19%3A35%3A21%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWE1WVVdtbEFBQUFBQUFBQUFCeU1tb3RZV3A1TFRneWNDMHhMVUZZVFZaVlYwOVdVMmMxZVdkVE1tTnhSVUZCIn0&page%5Blimit%5D=1
    method: GET
  response:
    bo[...]
