---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testuserlifecycle-local-1610357478@datadoghq.com","name":"go-testuserlifecycle-local-1610357478","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"c2aa33f2-53ef-11eb-8c60-abad11aea4ec","attributes":{"name":"go-testuserlifecycle-local-1610357478","handle":"go-testuserlifecycle-local-1610357478@datadoghq.com","created_at":"2021-01-11T09:31:19.313600+00:00","email":"go-testuserlifecycle-local-1610357478@datadoghq.com","icon":"https://secure.gravatar.com/avatar/eef5c05a0b82e12eb788c66751542760?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SjSxykLY0gTr3VkJbxmjvoevebB2pxQifq0h5HklwYksG7/9u16HyBsdYlpi9mGW
      X-Dd-Version:
      - "35.3675560"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"go-testuserlifecycle-local-1610357478-updated"},"id":"c2aa33f2-53ef-11eb-8c60-abad11aea4ec","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/c2aa33f2-53ef-11eb-8c60-abad11aea4ec
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"c2aa33f2-53ef-11eb-8c60-abad11aea4ec","attributes":{"name":"go-testuserlifecycle-local-1610357478-updated","handle":"go-testuserlifecycle-local-1610357478@datadoghq.com","created_at":"2021-01-11T09:31:19.313600+00:00","email":"go-testuserlifecycle-local-1610357478@datadoghq.com","icon":"https://secure.gravatar.com/avatar/eef5c05a0b82e12eb788c66751542760?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dkPC7h1IhtieQ7hDwGKZ3LdM53Z2+XQ6pWT/sK6/v5L2qKrddV2g+eVtGbkN4F8/
      X-Dd-Version:
      - "35.3675560"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=go-testuserlifecycle-local-1610357478%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort_dir=asc
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":101719}},"data":[{"type":"users","id":"c2aa33f2-53ef-11eb-8c60-abad11aea4ec","attributes":{"name":"go-testuserlifecycle-local-1610357478-updated","handle":"go-testuserlifecycle-local-1610357478@datadoghq.com","created_at":"2021-01-11T09:31:19.313600+00:00","email":"go-testuserlifecycle-local-1610357478@datadoghq.com","icon":"https://secure.gravatar.com/avatar/eef5c05a0b82e12eb788c66751542760?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 9yeVJjClEU/6raHJlYfllzCTOtXzS//Mfm4MIk+dxQ9wRvMbFDy5xrIlZe/VS4yX
      X-Dd-Version:
      - "35.3675560"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/c2aa33f2-53ef-11eb-8c60-abad11aea4ec
    method: DELETE
  response:
    body: '{"errors": ["c2aa33f2-53ef-11eb-8c60-abad11aea4ec not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3675560"
    status: 404 Not Found
    code: 404
    duration: ""
