---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"go-TestSearchSecurityMonitoringSignals-local-1609244891","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestSearchSecurityMonitoringSignals-local-1609244891"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1609244892170,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"distinctFields":[],"name":"rule","aggregation":"count","groupByFields":[],"query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"dvz-s1a-ir7","isDefault":false,"name":"go-TestSearchSecurityMonitoringSignals-local-1609244891"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - E/n/F3cyfMhzzJeB7O6BVmaq6hO3dCQFUY5AzeSSV4syTTIgel8CkF1YlP8TXzmG
      X-Dd-Version:
      - "35.3609133"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestSearchSecurityMonitoringSignals-local-1609244891",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1609243891000,
      \"message\": \"go-TestSearchSecurityMonitoringSignals-local-1609244891\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T11:28:11.552821+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","to":"2020-12-29T15:28:11.552821+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - FP8Y2ks6/+u/R8ikARtQQYvp9IVj9nSQPYtAt3WVuBjumgKP35t8vnUuGfeHdr64
      X-Dd-Version:
      - "35.3609133"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T11:28:11.552821+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","to":"2020-12-29T15:28:11.552821+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1ZVVrYkFBQUFBQUFBQUFCa2Rub3RjekZoTFdseU55MHhMVUZZWVhWbFZXWmpRVUZEZGtaNlZWVlljVmhyY25kQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","groupByPaths":[]}],"title":"go-TestSearchSecurityMonitoringSignals-local-1609244891
      - rule-case","relatedLogsQuery":{"query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","from":"2020-12-29T12:13:11.000Z","to":"2020-12-30T12:28:11.000Z"},"samples":[{"eventId":"AQAAAXaueFd4aP21bAAAAABBWGF1ZVVobkFBQkM3bXhLUkJPRTZRQUE","content":{"status":"info","tags":["env:prod","test","source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1609244891","go","signal"],"timestamp":"2020-12-29T12:28:11.000Z","ingest_size_in_bytes":242,"custom":{"timestamp":1609244891000},"source":"go-client-test-go-testsearchsecuritymonitoringsignals-local-1609244891","tiebreaker":1761457516,"message":"go-TestSearchSecurityMonitoringSignals-local-1609244891"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXaueUhnAABC7mxKRBOE6QAA"}],"workflow":{"events_matched":1,"first_seen":"2020-12-29T12:28:11.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"go-TestSearchSecurityMonitoringSignals-local-1609244891","id":"dvz-s1a-ir7"},"last_seen":"2020-12-29T12:28:11.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1609244891","env:prod","source:go-client-test-go-testsearchsecuritymonitoringsignals-local-1609244891"],"timestamp":"2020-12-29T12:29:13.066Z"},"type":"signal","id":"AQAAAXaueUnqAAAAAAAAAABkdnotczFhLWlyNy0xLUFYYXVlVWhuQUFCQzdteEtSQk9FNlFBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecurityMonitoringSignals-local-[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T11:28:11.552821+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","to":"2020-12-29T15:28:11.552821+01:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1ZVVucUFBQUFBQUFBQUFCa2Rub3RjekZoTFdseU55MHhMVUZZWVhWbFZXaHVRVUZDUXpkdGVFdFNRazlGTmxGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestSearchSecu[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T11:28:11.552821+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","to":"2020-12-29T15:28:11.552821+01:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1ZVVucUFBQUFBQUFBQUFCa2Rub3RjekZoTFdseU55MHhMVUZZWVhWbFZXaHVRVUZDUXpkdGVFdFNRazlGTmxGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-Tes[...]
- request:
    body: |
      {"filter":{"from":"2020-12-29T11:28:11.552821+01:00","query":"go-TestSearchSecurityMonitoringSignals-local-1609244891","to":"2020-12-29T15:28:11.552821+01:00"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWGF1ZVVucUFBQUFBQUFBQUFCa2Rub3RjekZoTFdseU55MHhMVUZZWVhWbFZXaHVRVUZDUXpkdGVFdFNRazlGTmxGQlFRIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGF1ZVVrYkFBQUFBQUFBQUFCa2Rub3RjekZoTFdseU55MHhMVUZZW[...]
