---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-ConfigField","table_id":0,"type":1},"id":"","type":"user_defined_field"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserDefinedField
    url: https://api.datadoghq.com/api/v2/incidents/config/fields
    method: POST
  response:
    body: '{"data":{"type":"user_defined_field","id":"7e7a254e-67bc-5c8c-8083-516882b08a88","attributes":{"name":"Test-ConfigField","default_choice_id":null,"table_id":0,"type":1,"required":false,"prerequisite":null,"tag_key":null,"valid_values":null,"default_value":null,"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"created_by_uuid":null,"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3","handle":"matt.hardwick@datadoghq.com","email":"matt.hardwick@datadoghq.com","name":"Matt
      Hardwick"}}},"last_modified_by_uuid":null,"created":"2020-09-10T15:09:03.234807+00:00","modified":"2020-09-10T15:09:03.234807+00:00","deleted":null},"relationships":{"choices":{"data":[]},"created_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"last_modified_by_user":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - WmMtMFngDL31sZYuYCiUaMFRtAs90zyIJHnMIoB4iHZztA/Ona9SnOav516bWmh7
      X-Dd-Version:
      - "35.3013529"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-09-10T15:09:03.234807Z","created_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","name":"Matt Hardwick","uuid":"26101b01-eba0-11e9-a77a-0bb0b66104b3"},"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}},"last_modified_by":{"data":{"attributes":{"email":"matt.hardwick@datadoghq.com","handle":"matt.hardwick@datadoghq.com","name":"Matt Hardwick","uuid":"26101b01-eba0-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUserDefinedFields
    url: https://api.datadoghq.com/api/v2/incidents/config/fields
    method: GET
  response:
    body: '{"meta":{"pagination":{"number":0,"next_number":25,"size":25}},"data":[{"type":"user_defined_field","id":"c6a1e4e747405460a7830f2fba02ab39","attributes":{"name":"document_link","default_choice_id":null,"table_id":1,"type":3,"required":false,"prerequisite":null,"tag_key":null,"valid_values":null,"default_value":null,"created_by_uuid":"20b6b36c-eba0-11e9-a77a-4bb2768bb953","last_modified_by_uuid":"20b6b36c-eba0-11e9-a77a-4bb2768bb953","created":"2020-06-10T17:57:34.149933+00:00","modified":"2020-06-10T17:57:34.149933+00:00","deleted":null},"relationships[...]
[...]
