---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-TestUserInvitation-local-1589290202@datadoghq.com","name":"go-TestUserInvitation-local-1589290202","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"af19d71c-9454-11ea-93e2-53a6b8e9dcbf","attributes":{"name":"go-TestUserInvitation-local-1589290202","handle":"go-testuserinvitation-local-1589290202@datadoghq.com","created_at":"2020-05-12T13:30:02.407507+00:00","email":"go-TestUserInvitation-local-1589290202@datadoghq.com","icon":"https://secure.gravatar.com/avatar/216ec42aedb803a0346a459827f18ae3?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - UmZMvwWLI5lgbGFBnw6J7jqO5hwyrvVF8Un8TwZ8TRQQ6jetE/6GVTSaoSUmQWRg
      X-Dd-Version:
      - "35.2492943"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"af19d71c-9454-11ea-93e2-53a6b8e9dcbf","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"af5bcd02-9454-11ea-93e2-6bec3b9d8be3","attributes":{"uuid":"af5bcd02-9454-11ea-93e2-6bec3b9d8be3","login_method":null,"invite_type":"openid_invite","created_at":"2020-05-12T13:30:02.840909+00:00","expires_at":"2020-05-14T13:30:02.726461+00:00"},"relationships":{"user":{"data":{"type":"users","id":"af19d71c-9454-11ea-93e2-53a6b8e9dcbf"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ucJMu0SEwqvJ36fqkYRsP+glKObktTtdBf6X17lKXJ4+xOn7nFKnx11beu1ycofn
      X-Dd-Version:
      - "35.2492943"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/af5bcd02-9454-11ea-93e2-6bec3b9d8be3
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"af5bcd02-9454-11ea-93e2-6bec3b9d8be3","attributes":{"uuid":"af5bcd02-9454-11ea-93e2-6bec3b9d8be3","login_method":null,"invite_type":"openid_invite","created_at":"2020-05-12T13:30:02.840909+00:00","expires_at":"2020-05-14T13:30:02.726461+00:00"},"relationships":{"user":{"data":{"type":"users","id":"af19d71c-9454-11ea-93e2-53a6b8e9dcbf"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Iy6HNgrdx6jplabT1ZfQVzkCrk+jqjHEQw0NvfR/5Sb/NsvSUgBv2AbCahJdaB7p
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/af19d71c-9454-11ea-93e2-53a6b8e9dcbf
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nfUJgEhoI/RZ8GJVApSQj6s2TfLYXQ1qvePMFw8ZmKB2iBVwiNegJAc5RNY4ZZbI
      X-Dd-Version:
      - "35.2492943"
    status: 204 No Content
    code: 204
    duration: ""
