---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-Test-TestLogsListGet-1617977595", "ddtags":
      "go,test,list", "hostname": "Test-TestLogsListGet-1617977595", "message": "{\"timestamp\":
      1617976595000, \"message\": \"test-log-list-1 Test-TestLogsListGet-1617977595\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-09T14%3A13%3A15%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1617977595&filter%5Bto%5D=2021-04-09T18%3A13%3A15%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4276543"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "253"
      X-Ratelimit-Reset:
      - "2805"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-09T14%3A13%3A15%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1617977595&filter%5Bto%5D=2021-04-09T18%3A13%3A15%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyNjVJNFB3bkpRUUFBQUFCQldHa3lMWFJZVjBGQlFrZHFWa3hFZVdsNFpVUkJRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslistget-1617977595","test","go","source:go-client-test-test-testlogslistget-1617977595","list"],"timestamp":"2021-04-09T14:13:14.000Z","host":"Test-TestLogsListGet-1617977595","attributes":{"timestamp":1617977594000,"hostname":"Test-TestLogsListGet-1617977595"},"message":"test-log-list-2
      Test-TestLogsListGet-1617977595"},"type":"log","id":"AQAAAXi2-tCQk_0_CQAAAABBWGkyLXRaWUFBQlBzYl9KZE9GNU53QUE"},{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslistget-1617977595","test","go","source:go-client-test-test-testlogslistget-1617977595","list"],"timestamp":"2021-04-09T13:56:35.000Z","host":"Test-TestLogsListGet-1617977595","attributes":{"timestamp":1617976595000,"hostname":"Test-TestLogsListGet-1617977595"},"message":"test-log-list-1
      Test-TestLogsListGet-1617977595"},"type":"log","id":"AQAAAXi265I4PwnJQQAAAABBWGkyLXRYV0FBQkdqVkxEeWl4ZURBQUE"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=Test-TestLogsListGet-1617977595&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGkyNjVJNFB3bkpRUUFBQUFCQldHa3lMWFJZVjBGQlFrZHFWa3hFZVdsNFpVUkJRVUUifQ&filter%5Bfrom%5D=2021-04-09T14%3A13%3A15%2B02%3A00&filter%5Bto%5D=2021-04-09T18%3A13%3A15%2B02%3A00"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "248"
      X-Ratelimit-Reset:
      - "2779"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-09T14%3A13%3A15%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1617977595&filter%5Bto%5D=2021-04-09T18%3A13%3A15%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyLXRDUWtfMF9DUUFBQUFCQldHa3lMWFJhV1VGQlFsQnpZbDlLWkU5R05VNTNRVUUifQ"}},"data":[{"attributes":{"statu[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-09T14%3A13%3A15%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1617977595&filter%5Bto%5D=2021-04-09T18%3A13%3A15%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyNjVJNFB3bkpRUUFBQUFCQldHa3lMWFJZVjBGQlFrZHFWa3hFZVdsNFpVUkJRVUUifQ"}},"data":[{"attributes":{"stat[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-09T14%3A13%3A15%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1617977595&filter%5Bto%5D=2021-04-09T18%3A13%3A15%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyLXRDUWtfMF9DUUFBQUFCQldHa3lMWFJhV1VGQlFsQnpZbDlLWkU5R05VNTNRVUUifQ"}},"data":[{"attributes":{"st[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-09T14%3A13%3A15%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1617977595&filter%5Bto%5D=2021-04-09T18%3A13%3A15%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGkyLXRDUWtfMF9DUUFBQUFCQldHa3lMWFJhV1VGQlFsQnpZbDlLWkU5R05VNTNRVUUifQ&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6[...]
