---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-Test-TestLogsListGet-1618220917", "ddtags":
      "go,test,list", "hostname": "Test-TestLogsListGet-1618220917", "message": "{\"timestamp\":
      1618219917000, \"message\": \"test-log-list-1 Test-TestLogsListGet-1618220917\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-12T09%3A48%3A37%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1618220917&filter%5Bto%5D=2021-04-12T13%3A48%3A37%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "214"
      X-Ratelimit-Reset:
      - "683"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-12T09%3A48%3A37%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1618220917&filter%5Bto%5D=2021-04-12T13%3A48%3A37%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGYkY3SWxHYkpRUUFBQUFCQldHcEdaVFpMWDBGQlFrZHFWa3hFZVhGdGVtRlJRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslistget-1618220917","test","source:go-client-test-test-testlogslistget-1618220917","go","list"],"timestamp":"2021-04-12T09:31:57.000Z","host":"Test-TestLogsListGet-1618220917","attributes":{"timestamp":1618219917000,"hostname":"Test-TestLogsListGet-1618220917"},"message":"test-log-list-1
      Test-TestLogsListGet-1618220917"},"type":"log","id":"AQAAAXjFbF7IlGbJQQAAAABBWGpGZTZLX0FBQkdqVkxEeXFtemFRQUE"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=Test-TestLogsListGet-1618220917&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGpGYkY3SWxHYkpRUUFBQUFCQldHcEdaVFpMWDBGQlFrZHFWa3hFZVhGdGVtRlJRVUUifQ&filter%5Bfrom%5D=2021-04-12T09%3A48%3A37%2B02%3A00&filter%5Bto%5D=2021-04-12T13%3A48%3A37%2B02%3A00"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "213"
      X-Ratelimit-Reset:
      - "678"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-12T09%3A48%3A37%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1618220917&filter%5Bto%5D=2021-04-12T13%3A48%3A37%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZTUwZzZxOE40UUFBQUFCQldHcEdaVFpPU0VGQlFVUllXVnAzUldkc2RXRm5RVUUifQ"}},"data":[{"attributes":{"statu[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-12T09%3A48%3A37%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1618220917&filter%5Bto%5D=2021-04-12T13%3A48%3A37%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGYkY3SWxHYkpRUUFBQUFCQldHcEdaVFpMWDBGQlFrZHFWa3hFZVhGdGVtRlJRVUUifQ"}},"data":[{"attributes":{"stat[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-12T09%3A48%3A37%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1618220917&filter%5Bto%5D=2021-04-12T13%3A48%3A37%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZTUwZzZxOE40UUFBQUFCQldHcEdaVFpPU0VGQlFVUllXVnAzUldkc2RXRm5RVUUifQ"}},"data":[{"attributes":{"st[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2021-04-12T09%3A48%3A37%2B02%3A00&filter%5Bquery%5D=Test-TestLogsListGet-1618220917&filter%5Bto%5D=2021-04-12T13%3A48%3A37%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGpGZTUwZzZxOE40UUFBQUFCQldHcEdaVFpPU0VGQlFVUllXVnAzUldkc2RXRm5RVUUifQ&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6[...]
