---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-TestRoleLifecycle-1617977622"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"c9f5055e-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-TestRoleLifecycle-1617977622","created_at":"2021-04-09T14:13:42.525583+00:00","modified_at":"2021-04-09T14:13:42.525583+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"Test-TestRoleLifecycle-1617977622-updated"},"id":"c9f5055e-993d-11eb-9ceb-da7ad0900002","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/c9f5055e-993d-11eb-9ceb-da7ad0900002
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"c9f5055e-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-TestRoleLifecycle-1617977622-updated","created_at":"2021-04-09T14:13:42.525583+00:00","modified_at":"2021-04-09T14:13:42.697895+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/c9f5055e-993d-11eb-9ceb-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"c9f5055e-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-TestRoleLifecycle-1617977622-updated","created_at":"2021-04-09T14:13:42.525583+00:00","modified_at":"2021-04-09T14:13:42.697895+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "497"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=Test-TestRoleLifecycle-1617977622-updated&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort=-modified_at
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":3480}},"data":[{"type":"roles","id":"c9f5055e-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-TestRoleLifecycle-1617977622-updated","created_at":"2021-04-09T14:13:42.525583+00:00","modified_at":"2021-04-09T14:13:42.697895+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "496"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/c9f5055e-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["The role c9f5055e-993d-11eb-9ceb-da7ad0900002 does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "494"
      X-Ratelimit-Reset:
      - "17"
    status: 404 Not Found
    code: 404
    duration: ""
