---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"TestServicesLifecycle-generated-client-service"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"name":"Matt
      Hardwick","handle":"matt.hardwick@datadoghq.com","created_at":"2019-05-15T20:23:56.312874+00:00","email":"matt.hardwick@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"8bb4d410-00cb-11ea-a77b-538f1147085c"}}}}],"data":{"type":"services","id":"f5e156b0-cac9-5628-a98b-337b7d549a1a","attributes":{"name":"TestServicesLifecycle-generated-client-service","created":"2020-09-09T15:14:13.722351+00:00","modified":"2020-09-09T15:14:13.722351+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RxKcx0U1IrcJ2sL0co6YTKQdWxTKBjGeO6Rh6plfmXfsHGMiZ332nvRBeUlqIMht
      X-Dd-Version:
      - "35.3006243"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-09-09T15:14:13.722351Z","modified":"2020-09-09T15:14:13.722351Z","name":"Test-Service-Updated"},"id":"f5e156b0-cac9-5628-a98b-337b7d549a1a","relationships":{"created_by":{"data":{"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}},"last_modified_by":{"data":{"id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","type":"users"}}},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Op[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetServices
    url: https://api.datadoghq.com/api/v2/services
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"number":0,"next_number":25,"size":25}},"data":[{"type":"services","id":"cba895ce890351feac8d82ae31036e88","attributes":{"name":"Trace
      Search","created":"2020-04-21T16:02:32.178367+00:00","modified":"2020-04-21T16:02:32.178367+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}},{"type":"services","id":"81930a3bfdff5faf9b561ae085614cf0","attributes":{"name":"Cassandra
      Trace [...]
[...]
