---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1586970802617478000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"699448d0-7f3c-11ea-93dd-7f9e3260372d","attributes":{"name":"test-role-datadog-client-go-1586970802617478000","created_at":"2020-04-15T17:13:23.430566+00:00","modified_at":"2020-04-15T17:13:23.430566+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2394813"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"updated-test-role-datadog-client-go-1586970802617478000"},"id":"699448d0-7f3c-11ea-93dd-7f9e3260372d","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles/699448d0-7f3c-11ea-93dd-7f9e3260372d
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"699448d0-7f3c-11ea-93dd-7f9e3260372d","attributes":{"name":"updated-test-role-datadog-client-go-1586970802617478000","created_at":"2020-04-15T17:13:23.430566+00:00","modified_at":"2020-04-15T17:13:23.653605+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2394813"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/699448d0-7f3c-11ea-93dd-7f9e3260372d
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"699448d0-7f3c-11ea-93dd-7f9e3260372d","attributes":{"name":"updated-test-role-datadog-client-go-1586970802617478000","created_at":"2020-04-15T17:13:23.430566+00:00","modified_at":"2020-04-15T17:13:23.653605+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2394813"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=updated-test-role-datadog-client-go-1586970802617478000&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort=-modified_at
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":5}},"data":[{"type":"roles","id":"699448d0-7f3c-11ea-93dd-7f9e3260372d","attributes":{"name":"updated-test-role-datadog-client-go-1586970802617478000","created_at":"2020-04-15T17:13:23.430566+00:00","modified_at":"2020-04-15T17:13:23.653605+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2394813"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/699448d0-7f3c-11ea-93dd-7f9e3260372d
    method: DELETE
  response:
    body: '{"errors": ["The role 699448d0-7f3c-11ea-93dd-7f9e3260372d does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2394813"
    status: 404 Not Found
    code: 404
    duration: ""
