---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-post-1592242418", "ddtags": "go,test,list",
      "hostname": "go-TestLogsList-local-1592242418", "message": "{\"timestamp\":
      1592241418000, \"message\": \"test-log-list-1 post-1592242418\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-15T17:33:38.851602+02:00","query":"post-1592242418","to":"2020-06-15T21:33:38.851602+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gH++OYwf8a2QZXnzDsHHnXqPhHbI48oqNvFjE/0p0ObpMBY4290QCI5SB0tU0MAF
      X-Dd-Version:
      - "35.2623114"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "239"
      X-Ratelimit-Reset:
      - "1581"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-15T17:33:38.851602+02:00","query":"post-1592242418","to":"2020-06-15T21:33:38.851602+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"content":{"attributes":{"timestamp":1592242417000,"hostname":"go-TestLogsList-local-1592242418"},"host":"go-TestLogsList-local-1592242418","tags":["source:go-client-test-post-1592242418","test","go","list","source:go-client-test-post-1592242418"],"message":"test-log-list-2
      post-1592242418","timestamp":"2020-06-15T17:33:37.000Z"},"id":"AQAAAXK5Cy1oWm_bhgAAAABBWEs1Q3pjT0xqN3Y4SXJFWVlBQQ"},{"content":{"attributes":{"timestamp":1592241418000,"hostname":"go-TestLogsList-local-1592242418"},"host":"go-TestLogsList-local-1592242418","tags":["source:go-client-test-post-1592242418","test","go","list","source:go-client-test-post-1592242418"],"message":"test-log-list-1
      post-1592242418","timestamp":"2020-06-15T17:16:58.000Z"},"id":"AQAAAXK4--8Qv9WvWwAAAABBWEs1Q3phbEZxck9iOUtzNDRBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - mIWJPPM06xs5rSGFgggpdD5UbOnt6ntntAO8/8YDsVuXnSmp/k0aZ5dEUtAKB7Td
      X-Dd-Version:
      - "35.2623114"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "234"
      X-Ratelimit-Reset:
      - "1555"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-15T17:33:38.851602+02:00","query":"post-1592242418","to":"2020-06-15T21:33:38.851602+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"content":{"attributes":{"timestamp":1592241418000,"hostname":"go-TestLogsList-local-1592242418"},"host":"go-TestLogsList-local-1592242418","tags":["source:go-client-test-post-1592242418","test","go","list","source:go-client-test-post-1592242418"],"message":"test-l[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-15T17:33:38.851602+02:00","query":"post-1592242418","to":"2020-06-15T21:33:38.851602+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYSzQtLThRdjlXdld3QUFBQUJCV0VzMVEzcGhiRVp4Y2s5aU9VdHpORFJCUVEifQ=="}},"data":[{"content":{"attributes":{"timestamp":1592242417000,"hostname":"go-TestLogsList-local-1592242418"},"host":"go-TestLogsList-local-1592242418","tags":["source:go-client-test-post-1592242418","test","go","list","source:go-client-test-post-1592242418"],"message":"test-log-list-2
      post-1592242418","timestamp":"2020-06-15T17:33:37.000Z"},"id":"AQAAAXK5Cy1oWm_bhgAAAABBWEs1Q3pjT0xqN3Y4SXJFWVlBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?sort=-timestamp&filter%5Bto%5D=2020-06-15T21%3A33%3A38.851602%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYSzQtLThRdjlXdld3QUFBQUJCV0VzMVEzcGhiRVp4Y2s5aU9VdHpORFJCUVEifQ%3D%3D&filter%5Bfrom%5D=2020-06-15T17%3A33%3A38.851602%2B02%3A00&filter%5Bquery%5D=post-1592242418&page%5Blimit%5D=1"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 6TICFxDFBNq65Lw6aA0hO1z7nxUSiTzUAT0k7ln4UasEU6/emXomwtYWMJdIuxUV
      X-Dd-Version:
      - "35.2623114"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "231"
      X-Ratelimit-Reset:
      - "1554"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-15T17:33:38.851602+02:00","query":"post-1592242418","to":"2020-06-15T21:33:38.851602+02:00"},"page":{"cursor":"eyJzdGFydEF0IjoiQVFBQUFYSzQtLThRdjlXdld3QUFBQUJCV0VzMVEzcGhiRVp4Y2s5aU9VdHpORFJCUVEifQ==","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"content":{"attributes":{"timestamp":1592241418000,"hostname":"go-TestLogsList-local-1592242418"},"host":"go-TestLogsList-local-1592242418","tags":["source:go-client-test-post-1592242418","test","go","list","source:go-client-test-post-1592242418"],"message":"test-log-list-1
      post-1592242418","timestamp":"2020-06-15T17:16:58.000Z"},"id":"AQAAAXK4--8Qv9WvWwAAAABBWEs1Q3phbEZxck9iOUtzNDRBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - tp1qdVxoUmtlsVp6hgBWraWfL5vEbA116VZkaWKWIZtgPr5Ima8zysCBv+o2WoZ/
      X-Dd-Version:
      - "35.2623114"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "230"
      X-Ratelimit-Reset:
      - "1554"
    status: 200 OK
    code: 200
    duration: ""
