---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"test-testuserinvitation-1618220971@datadoghq.com","name":"test-testuserinvitation-1618220971","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"612e26ac-9b74-11eb-9d38-da7ad0900002","attributes":{"name":"test-testuserinvitation-1618220971","handle":"test-testuserinvitation-1618220971@datadoghq.com","created_at":"2021-04-12T09:49:31.384829+00:00","modified_at":"2021-04-12T09:49:31.416301+00:00","email":"test-testuserinvitation-1618220971@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0c4d8ac58526a6457b6bfef524ba7cb9?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"612e26ac-9b74-11eb-9d38-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"6161dcea-9b74-11eb-9d38-da7ad0900002","attributes":{"uuid":"6161dcea-9b74-11eb-9d38-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-12T09:49:31.724521+00:00","expires_at":"2021-04-14T09:49:31.584256+00:00"},"relationships":{"user":{"data":{"type":"users","id":"612e26ac-9b74-11eb-9d38-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/6161dcea-9b74-11eb-9d38-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"6161dcea-9b74-11eb-9d38-da7ad0900002","attributes":{"uuid":"6161dcea-9b74-11eb-9d38-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-12T09:49:31.724521+00:00","expires_at":"2021-04-14T09:49:31.584256+00:00"},"relationships":{"user":{"data":{"type":"users","id":"612e26ac-9b74-11eb-9d38-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/612e26ac-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
