---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"enabled":true,"message":"rule message","name":"go-TestListSecurityMonitoringSignals-local-1595324242","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestListSecurityMonitoringSignals-local-1595324242"}],"tags":["datadog-api-client-test-go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["datadog-api-client-test-go"],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1595324242857,"queries":[{"query":"go-TestListSecurityMonitoringSignals-local-1595324242","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"id":"khi-uqi-s74","isDefault":false,"name":"go-TestListSecurityMonitoringSignals-local-1595324242"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IRAJ1mQ+c3epm0CLGtZoe/y8O4TCss3jYw+fwQOm7+eSKRCE+p3OtawVnIQ5ts76
      X-Dd-Version:
      - "35.2763810"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestListSecurityMonitoringSignals-local-1595324242",
      "ddtags": "go,test,list", "hostname": "go-TestListSecurityMonitoringSignals-local-1595324242",
      "message": "{\"timestamp\": 1595323242000, \"message\": \"test-log-list-1 go-TestListSecurityMonitoringSignals-local-1595324242\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-21T09%3A37%3A22%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1595324242&filter%5Bto%5D=2020-07-21T13%3A37%3A22%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NclXS5F5t+kukUaODU4jY2oSI1KBdPHFdFhJZNfbXLWDOThxbCLlKKmYvikjdDSg
      X-Dd-Version:
      - "35.2763810"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-21T09%3A37%3A22%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1595324242&filter%5Bto%5D=2020-07-21T13%3A37%3A22%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE53dkNNaEFBQUFBQUFBQUFCcmFHa3RkWEZwTFhNM05DMHhMVUZZVG5kMlFqSmtOall0Wm1KamVqTnFaMEZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestListSecurityMonitoringSignals-local-1595324242","from":"2020-07-21T09:05:42.000Z","to":"2020-07-22T09:20:42.000Z"},"title":"go-TestListSecurityMonitoringSignals-local-1595324242
      - rule-case","groupByPaths":[],"workflow":{"first_seen":"2020-07-21T09:20:42.000Z","rule":{"version":1,"name":"go-TestListSecurityMonitoringSignals-local-1595324242","id":"khi-uqi-s74"},"last_seen":"2020-07-21T09:20:42.000Z"},"samples":[{"eventId":"AQAAAXNwrNYQf3ShKAAAAABBWE53dkIwclQwQ0MyMTkwMGNBQQ","content":{"status":"info","tags":["test","go","source:go-client-test-go-testlistsecuritymonitoringsignals-local-1595324242","list"],"timestamp":"2020-07-21T09:20:42.000Z","ingest_size_in_bytes":312,"custom":{"timestamp":1595323242000,"hostname":"go-TestListSecurityMonitoringSignals-local-1595324242"},"source":"go-client-test-go-TestListSecurityMonitoringSignals-local-1595324242","host":"go-TestListSecurityMonitoringSignals-local-1595324242","tiebreaker":2138349864,"message":"test-log-list-1
      go-TestListSecurityMonitoringSignals-local-1595324242"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXNwvB0rT0CC21900cAA"}],"queries":[{"query":"go-TestListSecurityMonitoringSignals-local-1595324242","groupByPaths":[]}]},"message":"%%%\nrule
      message\n%%%","tags":["datadog-api-client-test-go"],"timestamp":"2020-07-21T09:37:24.960Z"},"type":"signal","id":"AQAAAXNwvCPgAAAAAAAAAABraGktdXFpLXM3NC0xLUFYTnd2QjByVDBDQzIxOTAwY0FB"},{"attributes":{"status":"info","attributes":{"relatedLogsQuery":{"query":"go-TestListSecurityMonitoringSignals-local-1595324242","from":"2020-07-21T09:22[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-21T09%3A37%3A22%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1595324242&filter%5Bto%5D=2020-07-21T13%3A37%3A22%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE53dkNQZ0FBQUFBQUFBQUFCcmFHa3RkWEZwTFhNM05DMHh[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-21T09%3A37%3A22%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1595324242&filter%5Bto%5D=2020-07-21T13%3A37%3A22%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE53dkNNaEFBQUFBQUFBQUFCcmFHa3RkWEZwTFhNM05DMH[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-21T09%3A37%3A22%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1595324242&filter%5Bto%5D=2020-07-21T13%3A37%3A22%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE53dkNQZ0FBQUFBQUFBQUFCcmFHa3RkWEZwTFhNM05D[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-07-21T09%3A37%3A22%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1595324242&filter%5Bto%5D=2020-07-21T13%3A37%3A22%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWE53dkNQZ0FBQUFBQUFBQUFCcmFHa3RkWEZwTFhNM05DMHhMVUZZVG5kMlFqQnlWREJEUXpJeE9UQXdZMEZCIn0&page%5Blimit%5D=1
    [...]
