---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-go-TestLogsListGet-local-1593014509", "ddtags":
      "go,test,list", "hostname": "go-TestLogsListGet-local-1593014509", "message":
      "{\"timestamp\": 1593013509000, \"message\": \"test-log-list-1 go-TestLogsListGet-local-1593014509\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-24T16%3A01%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593014509&filter%5Bto%5D=2020-06-24T20%3A01%3A49%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EbXB0e7cF4uDRViRvI+w6qPg1YzykoJqZiw5SbqL/81VRQW4a286h09eTGyIVvXJ
      X-Dd-Version:
      - "35.2660624"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "291"
      X-Ratelimit-Reset:
      - "3491"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-24T16%3A01%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593014509&filter%5Bto%5D=2020-06-24T20%3A01%3A49%2B02%3A00
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1593014508000,"hostname":"go-TestLogsListGet-local-1593014509"},"host":"go-TestLogsListGet-local-1593014509","tags":["source:go-client-test-go-testlogslistget-local-1593014509","source:go-client-test-go-testlogslistget-local-1593014509","test","go","list"],"message":"test-log-list-2
      go-TestLogsListGet-local-1593014509","timestamp":"2020-06-24T16:01:48.000Z"},"type":"log","id":"AQAAAXLnEFngXfdhKAAAAABBWExuRUdBT01SeTBHeDVkQ2NBQQ"},{"attributes":{"attributes":{"timestamp":1593013509000,"hostname":"go-TestLogsListGet-local-1593014509"},"host":"go-TestLogsListGet-local-1593014509","tags":["source:go-client-test-go-testlogslistget-local-1593014509","source:go-client-test-go-testlogslistget-local-1593014509","test","go","list"],"message":"test-log-list-1
      go-TestLogsListGet-local-1593014509","timestamp":"2020-06-24T15:45:09.000Z"},"type":"log","id":"AQAAAXLnARuIY8yE5gAAAABBWExuRUYtcFRTQzVqRHIzRDRBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - F11u7JCZTPrHz8VfzL5YeXThxcQSR6CdLGgk2tF52+EbYWhXciN8nv9vA8oQ9C9A
      X-Dd-Version:
      - "35.2660624"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "285"
      X-Ratelimit-Reset:
      - "3460"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-24T16%3A01%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593014509&filter%5Bto%5D=2020-06-24T20%3A01%3A49%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1593013509000,"hostname":"go-TestLogsListGet-local-1593014509"},"host":"go-TestLogsListGet-loca[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-24T16%3A01%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593014509&filter%5Bto%5D=2020-06-24T20%3A01%3A49%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1593014508000,"hostname":"go-TestLogsListGet-local-1593014509"},"host":"go-TestLogsListGet-loc[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-24T16%3A01%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593014509&filter%5Bto%5D=2020-06-24T20%3A01%3A49%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYTG5BUnVJWTh5RTVnQUFBQUJCV0V4dVJVWXRjRlJUUXpWcVJISXpSRFJCUVEifQ=="}},"data":[{"attributes":{"attributes":{"timestamp":1593014508000,"hostname":"go-TestLogsListGet-local-1593014509"},"host":"go-TestLogsListGet-local-1593014509","tags":["source:go-client-test-go-testlogslistget-local-1593014509","source:go-client-test-go-testlogslistget-local-1593014509","test","go","list"],"message":"test-log-list-2
      go-TestLogsListGet-local-1593014509","timestamp":"2020-06-24T16:01:48.000Z"},"type":"log","id":"AQAAAXLnEFngXfdhKAAAAABBWExuRUdBT01SeTBHeDVkQ2NBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=go-TestLogsListGet-local-1593014509&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTG5BUnVJWTh5RTVnQUFBQUJCV0V4dVJVWXRjRlJUUXpWcVJISXpSRFJCUVEifQ%3D%3D&page%5Blimit%5D=1&filter%5Bfrom%5D=2020-06-24T16%3A01%3A49%2B02%3A00&filter%5Bto%5D=2020-06-24T20%3A01%3A49%2B02%3A00"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IRAJ1mQ+c3epm0CLGtZoe/y8O4TCss3jYw+fwQOm7+eSKRCE+p3OtawVnIQ5ts76
      X-Dd-Version:
      - "35.2660624"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "282"
      X-Ratelimit-Reset:
      - "3459"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsGet
    url: https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-06-24T16%3A01%3A49%2B02%3A00&filter%5Bquery%5D=go-TestLogsListGet-local-1593014509&filter%5Bto%5D=2020-06-24T20%3A01%3A49%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTG5BUnVJWTh5RTVnQUFBQUJCV0V4dVJVWXRjRlJUUXpWcVJISXpSRFJCUVEifQ%3D%3D&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1593013509000,"hostname":"go-TestLogsListGet-local-1593014509"},"host":"go-TestLogsListGet-local-1593014509","tags":["source:go-client-test-go-testlogslistget-local-1593014509","source:go-client-test-go-testlogslistget-local-1593014509","test","go","list"],"message":"test-log-list-1
      go-TestLogsListGet-local-1593014509","timestamp":"2020-06-24T15:45:09.000Z"},"type":"log","id":"AQAAAXLnARuIY8yE5gAAAABBWExuRUYtcFRTQzVqRHIzRDRBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OdMYjD4Lcx2EOYJ2NSqLNRIyMqxNYyUQxCcT6zY9ZmZ+zl9yipXz0nuLjH5hVxTY
      X-Dd-Version:
      - "35.2660624"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "281"
      X-Ratelimit-Reset:
      - "3459"
    status: 200 OK
    code: 200
    duration: ""
