---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"test-testuserinvitation-1617977642@datadoghq.com","name":"test-testuserinvitation-1617977642","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"d5dd36f2-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"test-testuserinvitation-1617977642","handle":"test-testuserinvitation-1617977642@datadoghq.com","created_at":"2021-04-09T14:14:02.501470+00:00","modified_at":"2021-04-09T14:14:02.535743+00:00","email":"test-testuserinvitation-1617977642@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5a83c25adb0b2ce808f71d01b7fb6eb0?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"d5dd36f2-993d-11eb-9ceb-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"d60739de-993d-11eb-9ceb-da7ad0900002","attributes":{"uuid":"d60739de-993d-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T14:14:02.777777+00:00","expires_at":"2021-04-11T14:14:02.713406+00:00"},"relationships":{"user":{"data":{"type":"users","id":"d5dd36f2-993d-11eb-9ceb-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/d60739de-993d-11eb-9ceb-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"d60739de-993d-11eb-9ceb-da7ad0900002","attributes":{"uuid":"d60739de-993d-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T14:14:02.777777+00:00","expires_at":"2021-04-11T14:14:02.713406+00:00"},"relationships":{"user":{"data":{"type":"users","id":"d5dd36f2-993d-11eb-9ceb-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/d5dd36f2-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4276613"
    status: 204 No Content
    code: 204
    duration: ""
