---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-go-TestLogsList-local-1593014489", "ddtags":
      "go,test,list", "hostname": "go-TestLogsList-local-1593014489", "message": "{\"timestamp\":
      1593013489000, \"message\": \"test-log-list-1 go-TestLogsList-local-1593014489\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-24T16:01:29.896527+02:00","query":"go-TestLogsList-local-1593014489","to":"2020-06-24T20:01:29.896527+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vG5kxpR47Wd0uZGIzWkStfMxs3cmVIjKYEHLQf0xQiHS0P2BwlwJHwTESUSKlcdO
      X-Dd-Version:
      - "35.2660529"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "299"
      X-Ratelimit-Reset:
      - "3508"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-24T16:01:29.896527+02:00","query":"go-TestLogsList-local-1593014489","to":"2020-06-24T20:01:29.896527+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1593014488000,"hostname":"go-TestLogsList-local-1593014489"},"host":"go-TestLogsList-local-1593014489","tags":["source:go-client-test-go-testlogslist-local-1593014489","source:go-client-test-go-testlogslist-local-1593014489","test","go","list"],"message":"test-log-list-2
      go-TestLogsList-local-1593014489","timestamp":"2020-06-24T16:01:28.000Z"},"type":"log","id":"AQAAAXLnEAvA8HTyeQAAAABBWExuRUJpZHJJdnhiT2I1RzRBQQ"},{"attributes":{"attributes":{"timestamp":1593013489000,"hostname":"go-TestLogsList-local-1593014489"},"host":"go-TestLogsList-local-1593014489","tags":["source:go-client-test-go-testlogslist-local-1593014489","source:go-client-test-go-testlogslist-local-1593014489","test","go","list"],"message":"test-log-list-1
      go-TestLogsList-local-1593014489","timestamp":"2020-06-24T15:44:49.000Z"},"type":"log","id":"AQAAAXLnAM1ofi1JQQAAAABBWExuRUJmeFhDdjFRVnYzN01BQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - DNJM9d0LaQZJbuEjasKEmgCwDoiLnJW9mPQJm+yWIlQRbFhX4Vzx4uuDCt38dWhb
      X-Dd-Version:
      - "35.2660529"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "296"
      X-Ratelimit-Reset:
      - "3493"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-24T16:01:29.896527+02:00","query":"go-TestLogsList-local-1593014489","to":"2020-06-24T20:01:29.896527+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1593013489000,"hostname":"go-TestLogsList-local-1593014489"},"host":"go-TestLogsList-local-1593014489","tags":["source:go-client-test-go-testlogslist-local-1593014489","source:go-client-test-go-testlogslist-local-1593014489",[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-24T16:01:29.896527+02:00","query":"go-TestLogsList-local-1593014489","to":"2020-06-24T20:01:29.896527+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYTG5BTTFvZmkxSlFRQUFBQUJCV0V4dVJVSm1lRmhEZGpGUlZuWXpOMDFCUVEifQ=="}},"data":[{"attributes":{"attributes":{"timestamp":1593014488000,"hostname":"go-TestLogsList-local-1593014489"},"host":"go-TestLogsList-local-1593014489","tags":["source:go-client-test-go-testlogslist-local-1593014489","source:go-client-test-go-testlogslist-local-1593014489","test","go","list"],"message":"test-log-list-2
      go-TestLogsList-local-1593014489","timestamp":"2020-06-24T16:01:28.000Z"},"type":"log","id":"AQAAAXLnEAvA8HTyeQAAAABBWExuRUJpZHJJdnhiT2I1RzRBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?sort=-timestamp&filter%5Bto%5D=2020-06-24T20%3A01%3A29.896527%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTG5BTTFvZmkxSlFRQUFBQUJCV0V4dVJVSm1lRmhEZGpGUlZuWXpOMDFCUVEifQ%3D%3D&filter%5Bfrom%5D=2020-06-24T16%3A01%3A29.896527%2B02%3A00&filter%5Bquery%5D=go-TestLogsList-local-1593014489&page%5Blimit%5D=1"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - i/tjaZJ1Vhpke5HNSziupF5eEnHtDP3NjcuF7Ija0/AGuxq0WEQiFfpqy+mDADxv
      X-Dd-Version:
      - "35.2660624"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "293"
      X-Ratelimit-Reset:
      - "3492"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-24T16:01:29.896527+02:00","query":"go-TestLogsList-local-1593014489","to":"2020-06-24T20:01:29.896527+02:00"},"page":{"cursor":"eyJzdGFydEF0IjoiQVFBQUFYTG5BTTFvZmkxSlFRQUFBQUJCV0V4dVJVSm1lRmhEZGpGUlZuWXpOMDFCUVEifQ==","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1593013489000,"hostname":"go-TestLogsList-local-1593014489"},"host":"go-TestLogsList-local-1593014489","tags":["source:go-client-test-go-testlogslist-local-1593014489","source:go-client-test-go-testlogslist-local-1593014489","test","go","list"],"message":"test-log-list-1
      go-TestLogsList-local-1593014489","timestamp":"2020-06-24T15:44:49.000Z"},"type":"log","id":"AQAAAXLnAM1ofi1JQQAAAABBWExuRUJmeFhDdjFRVnYzN01BQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5gIeAyE850e1lqVwTAgwvudewR8EzuQd3qGaXsS2D0CKQVhFOIjBoeQYiH0qPohy
      X-Dd-Version:
      - "35.2660529"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "292"
      X-Ratelimit-Reset:
      - "3492"
    status: 200 OK
    code: 200
    duration: ""
