---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"filters":[{"action":"require","query":"env:prod"}],"isEnabled":true,"message":"rule message","name":"Test-TestSearchSecurityMonitoringSignals-1623685461","options":{"evaluationWindow":300,"keepAlive":300,"maxSignalDuration":300},"queries":[{"groupByFields":[],"name":"rule","query":"Test-TestSearchSecurityMonitoringSignals-1623685461"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":300,"keepAlive":300},"version":1,"createdAt":1623685461150,"filters":[{"action":"require","query":"env:prod"}],"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1623685461","groupByFields":[],"aggregation":"count","name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"log_detection","id":"axi-frh-yhd","isDefault":false,"name":"Test-TestSearchSecurityMonitoringSignals-1623685461"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4744011"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "591"
      X-Ratelimit-Reset:
      - "39"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-Test-TestSearchSecurityMonitoringSignals-1623685461",
      "ddtags": "go,test,signal,env:prod", "message": "{\"timestamp\": 1623684461000,
      \"message\": \"Test-TestSearchSecurityMonitoringSignals-1623685461\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-06-14T13:44:21.018685239Z","query":"Test-TestSearchSecurityMonitoringSignals-1623685461","to":"2021-06-14T17:44:21.018685239Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4744011"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "590"
      X-Ratelimit-Reset:
      - "39"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2021-06-14T13:44:21.018685239Z","query":"Test-TestSearchSecurityMonitoringSignals-1623685461","to":"2021-06-14T17:44:21.018685239Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWdfY0FBQUFBQUFBQUFCaGVHa3RabkpvTFhsb1pDMHhMVUZZYjB4TloydGhRVUZDZW5oV1MwaDJXVVZtYWtGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1623685461","groupByPaths":[]}],"title":"Test-TestSearchSecurityMonitoringSignals-1623685461
      - rule-case","relatedLogsQuery":{"from":"2021-06-14T15:12:41.000Z","metric":null,"aggregation":"count","to":"2021-06-15T15:27:41.000Z","viewParams":{"integration_id":"security_monitoring","integration_short_name":"security_investigation"},"query":"Test-TestSearchSecurityMonitoringSignals-1623685461"},"samples":[{"eventId":"AQAAAXoLIrHIlBr1jAAAAABBWG9MTWdrQUFBRHE0LWlTbUM1aTdRQUE","content":{"status":"info","tags":["env:prod","test","source:go-client-test-test-testsearchsecuritymonitoringsignals-1623685461","go","signal"],"timestamp":"2021-06-14T15:27:41.000Z","ingest_size_in_bytes":234,"custom":{"timestamp":1623684461000},"source":"go-client-test-test-testsearchsecuritymonitoringsignals-1623685461","tiebreaker":-1810172532,"message":"Test-TestSearchSecurityMonitoringSignals-1623685461"},"queryIndex":0,"trackKey":{"orgId":321813,"type":"logs"},"id":"AXoLMgkAAADq4-iSmC5i7QAA"}],"workflow":{"events_matched":1,"first_seen":"2021-06-14T15:27:41.000Z","rule":{"detectionMethod":"threshold","version":1,"type":"Log
      Detection","name":"Test-TestSearchSecurityMonitoringSignals-1623685461","id":"axi-frh-yhd"},"last_seen":"2021-06-14T15:27:41.000Z"}},"message":"%%%\nrule
      message\n%%%","tags":["source:go-client-test-test-testsearchsecuritymonitoringsignals-1623685461","env:prod","source:go-client-test-test-testsearchsecuritymonitoringsignals-1623685461"],"timestamp":"2021-06-14T15:44:28.565Z"},"type":"signal","id":"AQAAAXoLMhGVAAAAAAAAAABheGktZnJoLXloZC0xLUFYb0xNZ2tBQUFEcTQtaVNtQzVpN1FBQQ"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSecurityMonitoringSignals-1623685461",[...]
- request:
    body: |
      {"filter":{"from":"2021-06-14T13:44:21.018685239Z","query":"Test-TestSearchSecurityMonitoringSignals-1623685461","to":"2021-06-14T17:44:21.018685239Z"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWhHVkFBQUFBQUFBQUFCaGVHa3RabkpvTFhsb1pDMHhMVUZZYjB4TloydEJRVUZFY1RRdGFWTnRRelZwTjFGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-TestSearchSe[...]
[...]
- request:
    body: |
      {"filter":{"from":"2021-06-14T13:44:21.018685239Z","query":"Test-TestSearchSecurityMonitoringSignals-1623685461","to":"2021-06-14T17:44:21.018685239Z"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWhHVkFBQUFBQUFBQUFCaGVHa3RabkpvTFhsb1pDMHhMVUZZYjB4TloydEJRVUZFY1RRdGFWTnRRelZwTjFGQlFRIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"Test-T[...]
- request:
    body: |
      {"filter":{"from":"2021-06-14T13:44:21.018685239Z","query":"Test-TestSearchSecurityMonitoringSignals-1623685461","to":"2021-06-14T17:44:21.018685239Z"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWG9MTWhHVkFBQUFBQUFBQUFCaGVHa3RabkpvTFhsb1pDMHhMVUZZYjB4TloydEJRVUZFY1RRdGFWTnRRelZwTjFGQlFRIn0","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SearchSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWG9MTWdfY0FBQUFBQUFBQUFCaGVHa3RabkpvTFhsb1pDMHhMVUZZY[...]
