---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-Test-TestLogsList-1617977578", "ddtags": "go,test,list",
      "hostname": "Test-TestLogsList-1617977578", "message": "{\"timestamp\": 1617976578000,
      \"message\": \"test-log-list-1 Test-TestLogsList-1617977578\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1617977578","to":"now+2h"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276543"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "261"
      X-Ratelimit-Reset:
      - "2822"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1617977578","to":"now+2h"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyNjBfUUE0OXQ5Z0FBQUFCQldHa3lMWEJTUlVGQlEwOXlkRU4wYTJkd1ZHOW5RVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1617977578","test","go","list","source:go-client-test-test-testlogslist-1617977578"],"timestamp":"2021-04-09T14:12:57.000Z","host":"Test-TestLogsList-1617977578","attributes":{"timestamp":1617977577000,"hostname":"Test-TestLogsList-1617977578"},"message":"test-log-list-2
      Test-TestLogsList-1617977578"},"type":"log","id":"AQAAAXi2-o4os2EQzQAAAABBWGkyLXBUN0FBQUdYeVNxejRJM0lnQUE"},{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1617977578","test","go","list","source:go-client-test-test-testlogslist-1617977578"],"timestamp":"2021-04-09T13:56:18.000Z","host":"Test-TestLogsList-1617977578","attributes":{"timestamp":1617976578000,"hostname":"Test-TestLogsList-1617977578"},"message":"test-log-list-1
      Test-TestLogsList-1617977578"},"type":"log","id":"AQAAAXi260_QA49t9gAAAABBWGkyLXBSRUFBQ09ydEN0a2dwVG9nQUE"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=Test-TestLogsList-1617977578&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGkyNjBfUUE0OXQ5Z0FBQUFCQldHa3lMWEJTUlVGQlEwOXlkRU4wYTJkd1ZHOW5RVUUifQ&filter%5Bfrom%5D=now-2h&filter%5Bto%5D=now%2B2h"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.4276543"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "258"
      X-Ratelimit-Reset:
      - "2806"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1617977578","to":"now+2h"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyLW80b3MyRVF6UUFBQUFCQldHa3lMWEJVTjBGQlFVZFllVk54ZWpSSk0wbG5RVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1617977578","test","go","list","source:go-client-test-test-testlogs[...]
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1617977578","to":"now+2h"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyLW80b3MyRVF6UUFBQUFCQldHa3lMWEJVTjBGQlFVZFllVk54ZWpSSk0wbG5RVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1617977578","test","go","list","source:go-client-test-te[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1617977578","to":"now+2h"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWGkyLW80b3MyRVF6UUFBQUFCQldHa3lMWEJVTjBGQlFVZFllVk54ZWpSSk0wbG5RVUUifQ","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGkyNjBfUUE0OXQ5Z0FBQUFCQldHa3lMWEJTUlVGQlEwOXlkRU4wYTJkd1ZHOW5RVUUifQ"}},"data":[{"attributes":{"status":"info","tag[...]
