---
version: 1
interactions:
- request:
    body: |
      {"name":"go-client-test-v2-1586535819"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go-client-test-v2-1586535819","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-04-10T16:23:40.502368+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-04-10T16:23:40.502396+00:00","id":89523}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":null}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/89523/dashboards
    method: POST
  response:
    body: '{"errors": ["''dashboards'' should be array"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/89523
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":89523}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 200 OK
    code: 200
    duration: ""
