---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"testinguser-1586345982182070000@datadoghq.com","name":"Testign User","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"a387ef10-798d-11ea-93dc-af106d495d4e","attributes":{"name":"Testign
      User","handle":"testinguser-1586345982182070000@datadoghq.com","created_at":"2020-04-08T11:39:42.914796+00:00","email":"testinguser-1586345982182070000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ddfbb9237661fd50e22f8f7e2780effe?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - jety+2H6BA1H4x31+wzy5BjqI2NDwh54fgbjSYyrLU0p2tWQPCCTKspX7sHO7u1n
      X-Dd-Version:
      - "35.2368021"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"Joe Doe"},"id":"a387ef10-798d-11ea-93dc-af106d495d4e","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users/a387ef10-798d-11ea-93dc-af106d495d4e
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cYNsy3QDuOaYo2clO/PharSNtCykS9KtUfiNevH3xDbHJlRyddWkNpuDhMgHWZ43
      X-Dd-Version:
      - "35.2368021"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=testinguser-1586345982182070000%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort_dir=asc
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":45}},"data":[{"type":"users","id":"a387ef10-798d-11ea-93dc-af106d495d4e","attributes":{"name":"Joe
      Doe","handle":"testinguser-1586345982182070000@datadoghq.com","created_at":"2020-04-08T11:39:42.914796+00:00","email":"testinguser-1586345982182070000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ddfbb9237661fd50e22f8f7e2780effe?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - L5yd3v29mZzDtdpTLB/OLdaP/nm856X8oKVK7IsHIbLmKRYkqq5Jv7+SBx/bs1VS
      X-Dd-Version:
      - "35.2368021"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/a387ef10-798d-11ea-93dc-af106d495d4e
    method: DELETE
  response:
    body: '{"errors": ["a387ef10-798d-11ea-93dc-af106d495d4e not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2368021"
    status: 404 Not Found
    code: 404
    duration: ""
