---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"test-testuserlifecycle-1618220964@datadoghq.com","name":"test-testuserlifecycle-1618220964","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"5d481e3a-9b74-11eb-9d38-da7ad0900002","attributes":{"name":"test-testuserlifecycle-1618220964","handle":"test-testuserlifecycle-1618220964@datadoghq.com","created_at":"2021-04-12T09:49:24.843354+00:00","modified_at":"2021-04-12T09:49:24.878781+00:00","email":"test-testuserlifecycle-1618220964@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3e264b53eb30a3fbb7cc1dc52f0ee9c7?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"test-testuserlifecycle-1618220964-updated"},"id":"5d481e3a-9b74-11eb-9d38-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/5d481e3a-9b74-11eb-9d38-da7ad0900002
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"5d481e3a-9b74-11eb-9d38-da7ad0900002","attributes":{"name":"test-testuserlifecycle-1618220964-updated","handle":"test-testuserlifecycle-1618220964@datadoghq.com","created_at":"2021-04-12T09:49:24.843354+00:00","modified_at":"2021-04-12T09:49:25.031492+00:00","email":"test-testuserlifecycle-1618220964@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3e264b53eb30a3fbb7cc1dc52f0ee9c7?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=test-testuserlifecycle-1618220964%40datadoghq.com&page%5Bnumber%5D=0&page%5Bsize%5D=1&sort_dir=asc
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":180432}},"data":[{"type":"users","id":"5d481e3a-9b74-11eb-9d38-da7ad0900002","attributes":{"name":"test-testuserlifecycle-1618220964-updated","handle":"test-testuserlifecycle-1618220964@datadoghq.com","created_at":"2021-04-12T09:49:24.843354+00:00","modified_at":"2021-04-12T09:49:25.451508+00:00","email":"test-testuserlifecycle-1618220964@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3e264b53eb30a3fbb7cc1dc52f0ee9c7?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/5d481e3a-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["5d481e3a-9b74-11eb-9d38-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 404 Not Found
    code: 404
    duration: ""
