---
version: 1
interactions:
- request:
    body: |
      {"name":"go-TestDashboardListItemCRUD-local-1589290151"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go-TestDashboardListItemCRUD-local-1589290151","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"created":"2020-05-12T13:29:12.506949+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-05-12T13:29:12.506966+00:00","id":97368}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RngFxOd8mVeT14auLfzsH/6kz142QLoKkYXZjfmXpXDkZ/eN6uoCM3cTScXuFEa0
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"1","type":"integration_timeboard"},{"id":"q5j-nti-fv6","type":"custom_timeboard"},{"id":"4n7-s4g-dqv","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/97368/dashboards
    method: POST
  response:
    body: '{"added_dashboards_to_list":[{"type":"custom_timeboard","id":"q5j-nti-fv6"},{"type":"custom_screenboard","id":"4n7-s4g-dqv"},{"type":"integration_timeboard","id":"1"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - fLh2Ki8TBaqqP7azNnKugW2P+FqYhl36RGg8m8syr+2I6kNse5gXxG00+xylWppT
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"1","type":"integration_timeboard"},{"id":"q5j-nti-fv6","type":"custom_timeboard"},{"id":"4n7-s4g-dqv","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/97368/dashboards
    method: DELETE
  response:
    body: '{"deleted_dashboards_from_list":[{"type":"integration_timeboard","id":"1"},{"type":"custom_timeboard","id":"q5j-nti-fv6"},{"type":"custom_screenboard","id":"4n7-s4g-dqv"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rK52fEhHKxisnKo2rembr3YValr4L+BG6/8tD9iNDc8Prg2mnV6DynBkS75++wh/
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/97368/dashboards
    method: GET
  response:
    body: '{"total":0,"dashboards":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pEDVi2191MvoIMwusdL+COAxndBmcRhJtxAtWxDDnECWDI8Z99hIoBZbpR57tJKz
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/97368/dashboards
    method: GET
  response:
    body: '{"total":1,"dashboards":[{"popularity":0,"title":"For dashboard list tests
      - DO NOT DELETE","is_favorite":false,"id":"4n7-s4g-dqv","icon":null,"is_shared":true,"author":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte
      Henry"},"url":"/dashboard/4n7-s4g-dqv/for-dashboard-list-tests---do-not-delete","created":"2020-02-11T13:49:29.547768+00:00","modified":"2020-02-12T10:32:07.989172+00:00","is_read_only":true,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ztq+F8HwxRthTKNo0l2MCEDK5uwvgQzF00nWu49lHsBM51hGZBm/pPILDqupy+Xd
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/97368
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":97368}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - skwclWwYkKW38qisoeAm0+G71HHbXaQZSRP+zaGh2pZ7dRVTlLXlAp6DZVg5jg4x
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
