---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"rule \u003e 0","name":"rule-case","status":"info"}],"isEnabled":true,"message":"rule message","name":"go-TestListSecurityMonitoringSignals-local-1596621479","options":{"evaluationWindow":0,"keepAlive":0,"maxSignalDuration":0},"queries":[{"groupByFields":[],"name":"rule","query":"go-TestListSecurityMonitoringSignals-local-1596621479"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1772625,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"rule
      message","options":{"evaluationWindow":0,"maxSignalDuration":0,"keepAlive":0},"version":1,"createdAt":1596621480329,"queries":[{"query":"go-TestListSecurityMonitoringSignals-local-1596621479","groupByFields":[],"name":"rule","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"rule-case","condition":"rule
      > 0"}],"type":"threshold","id":"dhb-v2n-nbb","isDefault":false,"name":"go-TestListSecurityMonitoringSignals-local-1596621479"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OvROF9pCiCF8JnC+0Y3nwl6ylcafQIJwV4XwhicKtApCmwQyCxf8k5FzckOzJdWw
      X-Dd-Version:
      - "35.2835144"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ddsource": "go-client-test-go-TestListSecurityMonitoringSignals-local-1596621479",
      "ddtags": "go,test,list", "hostname": "go-TestListSecurityMonitoringSignals-local-1596621479",
      "message": "{\"timestamp\": 1596620479000, \"message\": \"test-log-list-1 go-TestListSecurityMonitoringSignals-local-1596621479\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-08-05T09%3A57%3A59%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1596621479&filter%5Bto%5D=2020-08-05T13%3A57%3A59%2B02%3A00
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - r+UZwVn7x78gNTrb57pUDM/SmN5YsC3r6yxvOYsnmO+FaXcUovcgE1XCS/x5iOVI
      X-Dd-Version:
      - "35.2835144"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-08-05T09%3A57%3A59%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1596621479&filter%5Bto%5D=2020-08-05T13%3A57%3A59%2B02%3A00
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE8tRG1YYUFBQUFBQUFBQUFCa2FHSXRkakp1TFc1aVlpMHhMVUZZVHkxRWJVMVRSVmROYUY5MlYxRnVPRUZCIn0"}},"data":[{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestListSecurityMonitoringSignals-local-1596621479","groupByPaths":[]}],"title":"go-TestListSecurityMonitoringSignals-local-1596621479
      - rule-case","relatedLogsQuery":{"query":"go-TestListSecurityMonitoringSignals-local-1596621479","from":"2020-08-05T09:42:58.000Z","to":"2020-08-06T09:57:58.000Z"},"samples":[{"eventId":"AQAAAXO-DlhwDkByxwAAAABBWE8tRG1PYkVXTWhfdldRekVBQQ","content":{"status":"info","tags":["test","go","list","source:go-client-test-go-testlistsecuritymonitoringsignals-local-1596621479"],"timestamp":"2020-08-05T09:57:58.000Z","ingest_size_in_bytes":312,"custom":{"timestamp":1596621478000,"hostname":"go-TestListSecurityMonitoringSignals-local-1596621479"},"source":"go-client-test-go-TestListSecurityMonitoringSignals-local-1596621479","host":"go-TestListSecurityMonitoringSignals-local-1596621479","tiebreaker":239104711,"message":"test-log-list-2
      go-TestListSecurityMonitoringSignals-local-1596621479"},"queryIndex":0,"trackKey":{"orgId":414943,"type":"logs"},"id":"AXO-DmObEWMh_vWQzEAA"}],"workflow":{"first_seen":"2020-08-05T09:57:58.000Z","rule":{"version":1,"type":"Log
      Detection","name":"go-TestListSecurityMonitoringSignals-local-1596621479","id":"dhb-v2n-nbb"},"last_seen":"2020-08-05T09:57:58.000Z"}},"message":"%%%\nrule
      message\n%%%","timestamp":"2020-08-05T09:58:02.331Z"},"type":"signal","id":"AQAAAXO-DmlbAAAAAAAAAABkaGItdjJuLW5iYi0xLUFYTy1EbU9iRVdNaF92V1F6RUFB"},{"attributes":{"status":"info","attributes":{"queries":[{"query":"go-TestListSecurityMonitoringSignals-local-1596621479","groupByPaths":[]}],"title":"go-TestListSecurityMonitoringSignals-local-1596621479
      - rule-case","relatedLogsQuery":{"query":"go-TestListSecurityMonitoringSignals-local-15[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-08-05T09%3A57%3A59%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1596621479&filter%5Bto%5D=2020-08-05T13%3A57%3A59%2B02%3A00&sort=timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE8tRG1sYkFBQUFBQUFBQUFCa2FHSXRkakp1TFc1aVlpMHh[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-08-05T09%3A57%3A59%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1596621479&filter%5Bto%5D=2020-08-05T13%3A57%3A59%2B02%3A00&sort=-timestamp
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE8tRG1YYUFBQUFBQUFBQUFCa2FHSXRkakp1TFc1aVlpMH[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-08-05T09%3A57%3A59%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1596621479&filter%5Bto%5D=2020-08-05T13%3A57%3A59%2B02%3A00&page%5Blimit%5D=1
    method: GET
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWE8tRG1sYkFBQUFBQUFBQUFCa2FHSXRkakp1TFc1aVlp[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringSignals
    url: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2020-08-05T09%3A57%3A59%2B02%3A00&filter%5Bquery%5D=go-TestListSecurityMonitoringSignals-local-1596621479&filter%5Bto%5D=2020-08-05T13%3A57%3A59%2B02%3A00&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWE8tRG1sYkFBQUFBQUFBQUFCa2FHSXRkakp1TFc1aVlpMHhMVUZZVHkxRWJVOWlSVmROYUY5MlYxRjZSVUZCIn0&page%5Blimit%5D=1
    [...]
