---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1587418599193836000"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"05202fba-834f-11ea-93de-632811c55767","attributes":{"name":"test-role-datadog-client-go-1587418599193836000","created_at":"2020-04-20T21:36:39.986460+00:00","modified_at":"2020-04-20T21:36:39.986460+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: GET
  response:
    body: '{"errors": ["The role 00000000-dead-beef-dead-ffffffffffff does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"test-datadog-client-go-1587418599193836000@datadoghq.com","name":"Test Datadog Client Go","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"056a7c46-834f-11ea-93de-43f0c72c789f","attributes":{"name":"Test
      Datadog Client Go","handle":"test-datadog-client-go-1587418599193836000@datadoghq.com","created_at":"2020-04-20T21:36:40.471781+00:00","email":"test-datadog-client-go-1587418599193836000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/77a9dde8a2a61fee9b07b6be432413bc?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"056a7c46-834f-11ea-93de-43f0c72c789f","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff/users
    method: DELETE
  response:
    body: '{"errors": ["Missing Role 00000000-dead-beef-dead-ffffffffffff not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2412922"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: |
      {"data":{"id":"056a7c46-834f-11ea-93de-43f0c72c789f","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    url: https://api.datadoghq.com/api/v2/roles/05202fba-834f-11ea-93de-632811c55767/users
    method: DELETE
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/056a7c46-834f-11ea-93de-43f0c72c789f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2412922"
    status: 204 No Content
    code: 204
    duration: ""
[...]
