---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-post-1592842934", "ddtags": "go,test,list",
      "hostname": "go-TestLogsList-local-1592842934", "message": "{\"timestamp\":
      1592841934000, \"message\": \"test-log-list-1 post-1592842934\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-22T16:22:14.045724+02:00","query":"post-1592842934","to":"2020-06-22T20:22:14.045724+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ldNaA6dSEPDapjFoBolZNm9KKT/3iEJM/Q1IyMe2D0P7l2S/rGI4bTGzxgP0/9Zs
      X-Dd-Version:
      - "35.2650820"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "299"
      X-Ratelimit-Reset:
      - "2265"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-22T16:22:14.045724+02:00","query":"post-1592842934","to":"2020-06-22T20:22:14.045724+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592842933000,"hostname":"go-TestLogsList-local-1592842934"},"host":"go-TestLogsList-local-1592842934","tags":["source:go-client-test-post-1592842934","test","go","source:go-client-test-post-1592842934","list"],"message":"test-log-list-2
      post-1592842934","timestamp":"2020-06-22T16:22:13.000Z"},"type":"log","id":"AQAAAXLc1lMIIFkE5gAAAABBWExjMWxwdndBMFM2dk9UM3NBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OdMYjD4Lcx2EOYJ2NSqLNRIyMqxNYyUQxCcT6zY9ZmZ+zl9yipXz0nuLjH5hVxTY
      X-Dd-Version:
      - "35.2650820"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "294"
      X-Ratelimit-Reset:
      - "2238"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-22T16:22:14.045724+02:00","query":"post-1592842934","to":"2020-06-22T20:22:14.045724+02:00"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592841934000,"hostname":"go-TestLogsList-local-1592842934"},"host":"go-TestLogsList-local-1592842934","tags":["source:go-client-test-post-1592842934","test","go","source:go-client-test-post-1592842934","list"],"message":"tes[...]
[...]
- request:
    body: |
      {"filter":{"from":"2020-06-22T16:22:14.045724+02:00","query":"post-1592842934","to":"2020-06-22T20:22:14.045724+02:00"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJzdGFydEF0IjoiQVFBQUFYTGN4eFN3cVNueVRnQUFBQUJCV0V4ak1XeHJVM056ZG5oQmQzUmtNVUZCUVEifQ=="}},"data":[{"attributes":{"attributes":{"timestamp":1592842933000,"hostname":"go-TestLogsList-local-1592842934"},"host":"go-TestLogsList-local-1592842934","tags":["source:go-client-test-post-1592842934","test","go","source:go-client-test-post-1592842934","list"],"message":"test-log-list-2
      post-1592842934","timestamp":"2020-06-22T16:22:13.000Z"},"type":"log","id":"AQAAAXLc1lMIIFkE5gAAAABBWExjMWxwdndBMFM2dk9UM3NBQQ"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?sort=-timestamp&filter%5Bto%5D=2020-06-22T20%3A22%3A14.045724%2B02%3A00&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYTGN4eFN3cVNueVRnQUFBQUJCV0V4ak1XeHJVM056ZG5oQmQzUmtNVUZCUVEifQ%3D%3D&filter%5Bfrom%5D=2020-06-22T16%3A22%3A14.045724%2B02%3A00&filter%5Bquery%5D=post-1592842934&page%5Blimit%5D=1"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aswcxBk1J00Iy18+kQFKF6EQfzLy4sWD4ILciesVMX5rWDYniffEYH6qbK0qwOgw
      X-Dd-Version:
      - "35.2650820"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "290"
      X-Ratelimit-Reset:
      - "2233"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"2020-06-22T16:22:14.045724+02:00","query":"post-1592842934","to":"2020-06-22T20:22:14.045724+02:00"},"page":{"cursor":"eyJzdGFydEF0IjoiQVFBQUFYTGN4eFN3cVNueVRnQUFBQUJCV0V4ak1XeHJVM056ZG5oQmQzUmtNVUZCUVEifQ==","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[{"attributes":{"attributes":{"timestamp":1592841934000,"hostname":"go-TestLogsList-local-1592842934"},"host":"go-TestLogsList-local-1592842934","tags":["source:go-client-test-post-1592842934","test","go","source:go-client-test-post-1592842934","list"],"message":"test-log-list-1
      post-1592842934","timestamp":"2020-06-22T16:05:34.000Z"},"type":"log","id":"AQAAAXLcxxSwqSnyTgAAAABBWExjMWxrU3NzdnhBd3RkMUFBQQ"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vQYgH+orCqhRbQG/mSd6IeQSqyYBCkFVCv4Bj6PXMALQcvTK5EvxQuH7fIz3d52m
      X-Dd-Version:
      - "35.2650820"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "289"
      X-Ratelimit-Reset:
      - "2232"
    status: 200 OK
    code: 200
    duration: ""
