---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impact_end":"2020-04-28T23:41:10.873558-04:00","customer_impact_scope":"none","customer_impact_start":"2020-04-28T23:41:10.873558-04:00","customer_impacted":true,"detected":"2020-04-28T23:41:10.873558-04:00","state":"unknown","title":"Test-Incident"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"aed772e049315b87af67ec3eb46620ea","attributes":{"public_id":101,"title":"Test-Incident","resolved":null,"customer_impact_scope":"none","customer_impact_start":"2020-04-29T03:41:10.873558+00:00","customer_impact_end":"2020-04-29T03:41:10.873558+00:00","customer_impacted":true,"last_modified_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","attributes":{"uuid":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","handle":"charlie.monzillo@datadoghq.com","email":"charlie.monzillo@datadoghq.com","name":"Charlie
      Monzillo"}}},"created":"2020-04-29T03:41:11.105740+00:00","modified":"2020-04-29T03:41:11.105740+00:00","commander":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","attributes":{"uuid":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","handle":"charlie.monzillo@datadoghq.com","email":"charlie.monzillo@datadoghq.com","name":"Charlie
      Monzillo"}}},"state":"unknown","detected":"2020-04-29T03:41:10.873558+00:00","created_by":{"data":{"type":"users","id":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","attributes":{"uuid":"69f941ce-2cf1-11ea-ad29-43978bf0f3a8","handle":"charlie.monzillo@datadoghq.com","email":"charlie.monzillo@datadoghq.com","name":"Charlie
      Monzillo"}}},"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0},"relationships":{"user_defined_field_selections":{"data":[]},"user_defined_fields":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2445362"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-04-29T03:41:11.10574Z","customer_impact_end":"2020-04-29T03:41:10.873558Z","customer_impact_scope":"none","customer_impact_start":"2020-04-29T03:41:10.873558Z","customer_impacted":true,"detected":"2020-04-29T03:41:10.873558Z","modified":"2020-04-29T03:41:11.10574Z","public_id":101,"resolved":null,"state":"unknown","time_to_detect":0,"time_to_internal_response":0,"time_to_repair":0,"title":"Test-Incident-Updated"},"id":"aed772e04[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncidents
    url: https://api.datadoghq.com/api/v2/incidents
    method: GET
  response:
    body: '{"meta":{"pagination":{"number":0,"next_number":1000,"size":1000}},"data":[{"type":"incidents","id":"0883d0586afc5fec8d933db73e59565b","attributes":{"public_id":1,"title":"High
      latency","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":"2020-04-22T19:54:12.401000+00:00","customer_impacted":false,"created":"2020-04-21T15:34:08.627205+00:00","modified":"2020-04-24T16:06:18.864869+00:00","state":"state","detected":"2020-04-14T00:00:00+00:00","creation_idempotency_key":null,"customer_impact_duration":0,"tim[...]
[...]
