---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-TestRemoveUserFromRoleErrors-1617977633"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"d0d2b696-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-TestRemoveUserFromRoleErrors-1617977633","created_at":"2021-04-09T14:13:54.044789+00:00","modified_at":"2021-04-09T14:13:54.044789+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "444"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: GET
  response:
    body: '{"errors": ["The role 00000000-dead-beef-dead-ffffffffffff does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "443"
      X-Ratelimit-Reset:
      - "6"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"test-testremoveuserfromroleerrors-1617977633@datadoghq.com","name":"test-testremoveuserfromroleerrors-1617977633","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"d1025608-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"test-testremoveuserfromroleerrors-1617977633","handle":"test-testremoveuserfromroleerrors-1617977633@datadoghq.com","created_at":"2021-04-09T14:13:54.356764+00:00","modified_at":"2021-04-09T14:13:54.392398+00:00","email":"test-testremoveuserfromroleerrors-1617977633@datadoghq.com","icon":"https://secure.gravatar.com/avatar/eb325f46b740230efea5b249110bc268?s=48&d=retro","title":"Big
      boss","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/d1025608-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4276613"
    status: 204 No Content
    code: 204
    duration: ""
[...]
