---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestRoleUsersLifecycle-local-1595581950"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"cd93c9ec-cd8d-11ea-a33d-7b7e668fe330","attributes":{"name":"go-TestRoleUsersLifecycle-local-1595581950","created_at":"2020-07-24T09:12:31.131333+00:00","modified_at":"2020-07-24T09:12:31.131333+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 9KqlMq3gTLpkJSVJyvAwXe8+x8jjzLiadKiJ+urXt2iPIG7RDD8GegNJYYpRqZOo
      X-Dd-Version:
      - "35.2781806"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testroleuserslifecycle-local-1595581950@datadoghq.com","name":"go-testroleuserslifecycle-local-1595581950","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"cdb0e2fc-cd8d-11ea-a33d-03d0f63f46de","attributes":{"name":"go-testroleuserslifecycle-local-1595581950","handle":"go-testroleuserslifecycle-local-1595581950@datadoghq.com","created_at":"2020-07-24T09:12:31.320908+00:00","email":"go-testroleuserslifecycle-local-1595581950@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3b6fe276d249f53d39e9f6b0ae65d979?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - og1WGdy+2nV+rkkclmd3Cf2I26XhV3/6yjBeQCP8aHbH2k2cKwC+X9WmhIghcJ94
      X-Dd-Version:
      - "35.2781806"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"cdb0e2fc-cd8d-11ea-a33d-03d0f63f46de","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/cd93c9ec-cd8d-11ea-a33d-7b7e668fe330/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"cdb0e2fc-cd8d-11ea-a33d-03d0f63f46de","attributes":{"name":"go-testroleuserslifecycle-local-1595581950","handle":"go-testroleuserslifecycle-local-1595581950@datadoghq.com","created_at":"2020-07-24T09:12:31.320908+00:00","email":"go-testroleuserslifecycle-local-1595581950@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3b6fe276d249f53d39e9f6b0ae65d979?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"cd93c9ec-cd8d-11ea-a33d-7b7e668fe330"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Xj/PwLDKe3Ll1QwGP2SdQuyUcOtG0YD60hQDJ9tPEhK9OEMHkSCPXdZRvPX0YYGO
      X-Dd-Version:
      - "35.2781855"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoleUsers
    url: https://api.datadoghq.com/api/v2/roles/cd93c9ec-cd8d-11ea-a33d-7b7e668fe330/users
    method: GET
  response:
    body: '{"included":[{"type":"permissions","id":"d90f6832-d3d8-11e9-a77a-bf8a2607f864","attributes":{"name":"dashboards_public_share","display_name":"Dashboards
      Share","description":"The ability to share dashboards externally.","created":"2019-09-10T14:39:51.967094+00:00","group_name":"Dashboards","display_type":"other","restricted":false}},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9","attributes":{"name":"logs_write_pipelines","display_name":"Logs
      Write Pipelines","description":"The ability to add and change log pipeline configurations,
      including the ability to grant the Logs Write Processors permission to other
      roles, for some or all pipelines. This permission also grants global Log Processor
      Write implicitly.","created":"2018-10-31T13:40:17.996379+00:00","group_name":"Logs","d[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/cdb0e2fc-cd8d-11ea-a33d-03d0f63f46de
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QpzDmIoaO5Hufx014PqM5BuLw+G9k75nLqy12TEr4Iab1Fl7hIFT5DrERoBer8OF
      X-Dd-Version:
      - "35.2781806"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/cd93c9ec-cd8d-11ea-a33d-7b7e668fe330
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - iTCu0VD4qRuVwxqwPJPtBHBafVtvRXzNXY5PXADP8gu+hwwk7sqd5h71qE1Z9SIh
      X-Dd-Version:
      - "35.2781806"
    status: 204 No Content
    code: 204
    duration: ""
