---
version: 1
interactions:
- request:
    body: |
      {"name":"go-client-test-v2-1587937003"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go-client-test-v2-1587937003","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-04-26T21:36:43.794904+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-04-26T21:36:43.794918+00:00","id":93203}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yL2jMz/muX5URjcdpTHzlehf0qi0hyVxH7uShvIhWEeYrIRwdt0CU/7wzCTakK6N
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/93203
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":93203}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 3GTZ6ImnvkiMOuKTP2ILv/2CbQJLb5wTjyX1KOTCD/aaxDS+HyYye1EH1uVK9Ajh
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
