---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"test-role-datadog-client-go-1589320589959153671"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"6facfa90-949b-11ea-93e2-2b17ebaeaaf0","attributes":{"name":"test-role-datadog-client-go-1589320589959153671","created_at":"2020-05-12T21:56:30.266305+00:00","modified_at":"2020-05-12T21:56:30.266305+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - DAk/CQntZmry+u4cYsuVOELuKFo1I3NzKRNwPlY9WvlbH+rffk5VylB8tKDaSRWP
      X-Dd-Version:
      - "35.2495552"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: GET
  response:
    body: '{"errors": ["The role 00000000-dead-beef-dead-ffffffffffff does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2495552"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
