---
version: 1
interactions:
- request:
    body: |
      {"name":"go-TestDashboardListCreateItemsErrors-local-1589290159"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go-TestDashboardListCreateItemsErrors-local-1589290159","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"created":"2020-05-12T13:29:19.801146+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-05-12T13:29:19.801160+00:00","id":97369}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yL2jMz/muX5URjcdpTHzlehf0qi0hyVxH7uShvIhWEeYrIRwdt0CU/7wzCTakK6N
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/97369
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":97369}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ztq+F8HwxRthTKNo0l2MCEDK5uwvgQzF00nWu49lHsBM51hGZBm/pPILDqupy+Xd
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
