---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-Test-TestLogsList-1618220884", "ddtags": "go,test,list",
      "hostname": "Test-TestLogsList-1618220884", "message": "{\"timestamp\": 1618219884000,
      \"message\": \"test-log-list-1 Test-TestLogsList-1618220884\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1618220884","to":"now+2h"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "225"
      X-Ratelimit-Reset:
      - "715"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1618220884","to":"now+2h"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGYTkzZ3JEb3ZEUUFBQUFCQldHcEdaWGxWVTBGQlFXNTVjV2RUYVdscWFrMTNRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1618220884","source:go-client-test-test-testlogslist-1618220884","test","go","list"],"timestamp":"2021-04-12T09:31:24.000Z","host":"Test-TestLogsList-1618220884","attributes":{"timestamp":1618219884000,"hostname":"Test-TestLogsList-1618220884"},"message":"test-log-list-1
      Test-TestLogsList-1618220884"},"type":"log","id":"AQAAAXjFa93grDovDQAAAABBWGpGZXlVU0FBQW55cWdTaWlqak13QUE"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=Test-TestLogsList-1618220884&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWGpGYTkzZ3JEb3ZEUUFBQUFCQldHcEdaWGxWVTBGQlFXNTVjV2RUYVdscWFrMTNRVUUifQ&filter%5Bfrom%5D=now-2h&filter%5Bto%5D=now%2B2h"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "224"
      X-Ratelimit-Reset:
      - "710"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1618220884","to":"now+2h"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZXh3NFVMSU40UUFBQUFCQldHcEdaWGxXTVVGQlFVUllXVnAzUldkcVZXSlJRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1618220884","source:go-client-test-test-testlogslist-1618220884","t[...]
[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1618220884","to":"now+2h"},"page":{"limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGZXh3NFVMSU40UUFBQUFCQldHcEdaWGxXTVVGQlFVUllXVnAzUldkcVZXSlJRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1618220884","source:go-client-test-test-testlogslist-161[...]
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsList-1618220884","to":"now+2h"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWGpGZXh3NFVMSU40UUFBQUFCQldHcEdaWGxXTVVGQlFVUllXVnAzUldkcVZXSlJRVUUifQ","limit":1},"sort":"-timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: '{"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWGpGYTkzZ3JEb3ZEUUFBQUFCQldHcEdaWGxWVTBGQlFXNTVjV2RUYVdscWFrMTNRVUUifQ"}},"data":[{"attributes":{"status":"info","tag[...]
