---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"testinguser-1586251443104717000@datadoghq.com","name":"Testign User","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"85e01bd6-78b1-11ea-93dc-577ec7d413fb","attributes":{"name":"Testign
      User","handle":"testinguser-1586251443104717000@datadoghq.com","created_at":"2020-04-07T09:24:03.880620+00:00","email":"testinguser-1586251443104717000@datadoghq.com","icon":"https://secure.gravatar.com/avatar/39ba4f266b6b345c895876549fc896b0?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3f438004-00cc-11ea-a77b-f733310cd8e6"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +24qoGfe5Pp4qbS1m8KO9qioq2P4fxuj80XQhtr/9vInDLECmYZT0VSsbqISZgqC
      X-Dd-Version:
      - "35.2363444"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"85e01bd6-78b1-11ea-93dc-577ec7d413fb","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"8626674e-78b1-11ea-93dc-db52516436af","attributes":{"uuid":"8626674e-78b1-11ea-93dc-db52516436af","login_method":null,"invite_type":"openid_invite","created_at":"2020-04-07T09:24:04.342106+00:00","expires_at":"2020-04-09T09:24:04.170731+00:00"},"relationships":{"user":{"data":{"type":"users","id":"85e01bd6-78b1-11ea-93dc-577ec7d413fb"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - e8t0cvW5uVKXk1zUsTcAcDpqv28dgy+lCs/R2sCfbKW6stomFiq2a4ijzxRdPBn5
      X-Dd-Version:
      - "35.2363444"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/user_invitations/8626674e-78b1-11ea-93dc-db52516436af
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"8626674e-78b1-11ea-93dc-db52516436af","attributes":{"uuid":"8626674e-78b1-11ea-93dc-db52516436af","login_method":null,"invite_type":"openid_invite","created_at":"2020-04-07T09:24:04.342106+00:00","expires_at":"2020-04-09T09:24:04.170731+00:00"},"relationships":{"user":{"data":{"type":"users","id":"85e01bd6-78b1-11ea-93dc-577ec7d413fb"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KHJbOoqp3I4BOBzIFnc/Ois3eg3Rjmudy0YalRpnXQEDXDoppykpDMDaJPIufi9t
      X-Dd-Version:
      - "35.2363444"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/85e01bd6-78b1-11ea-93dc-577ec7d413fb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hABsPq9DIvV7yAEiU7rMxs7UCRuTbRH/kYpwue4a0q9qmwd4SUh9bBZ5SHPkBLc6
      X-Dd-Version:
      - "35.2363444"
    status: 204 No Content
    code: 204
    duration: ""
