interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/ci/tests/events?filter%5Bquery%5D=%40test.service%3Aweb-ui-tests&filter%5Bfrom%5D=2022-10-21T14%3A58%3A51.171Z&filter%5Bto%5D=2022-10-21T14%3A59%3A21.171Z&page%5Blimit%5D=5
  response:
    body: '{"data":[{"id":"AQAAAYP7DjkT1jtY0AAAAABBWVA3RGprVEFBQXFjVllsa2kwWm1LZGU","type":"citest","attributes":{"test_level":"test","attributes":{"test_suite":{"fingerprint":"863929e666e072fd"},"test":{"framework_version":"0.0.2","codeowners":["@DataDog/repo"],"source":{"file":"javascript/datadog/organization-settings/components/sensitive-data-scanner/sensitive-data-scanner-validation.unit.ts"},"type":"test","has_parameters":false,"jest":{"test_runner":"jest-circus"},"command":"jest
      --config jest.coverage.config.js --color --ci --silent --maxWorkers=7","framework":"jest","suite":"javascript/datadog/organization-settings/components/sensitive-data-scanner/sensitive-data-scanner-validation.unit.ts","full_name":"javascript/datadog/organization-settings/components/sensitive-data-scanner/sensitive-data-scanner-validation.unit.ts.shouldDisplaySensitiveDataWarning
      it should not display a warning for an empty string: \"\"","service":"web-ui-tests","name":"shouldDisplaySensitiveDataWarning
      it should not display a warning for an empty string: \"\"","fingerprint":"59d10d35bcee973b","status":"pass"},"os":{"version":"5.15.0-1017-aws","platform":"linux","architecture":"x64"},"ci":{"pipeline":{"number":479980,"name":"DataDog/repo","id":"10631816","url":"https://gitlab.site.io/DataDog/repo/pipelines/10631816"},"workspace_path":"/go/src/github.com/DataDog/repo","stage":{"name":"optional-jobs"},"provider":{"name":"gitlab"},"job":{"name":"unit-test-coverage","url":"https://gitlab.site.io/DataDog/repo/-/jobs/184832404"}},"sampling":{"priority":1},"start":1666364356883000320,"runtime":{"name":"node","version":"v16.3.0"},"language":"javascript","env":"ci","version":"0.0.2","duration":401123,"test_session":{"fingerprint":"d0266bed689fa60c"},"library_version":"3.4.0","git":{"commit":{"committer":{"date":"2022-10-21T14:49:17+00:00","name":"GitHub","email":"noreply@github.com","date_timestamp":1666363757000},"author":{"date":"2022-10-21T14:49:17+00:00","name":"Joe","email":"support@datadoghq.com","date_timestamp":1666363757000},"message":"Remove
      suppression modal typo (#70411)\n\nCo-authored-by: r@datadoghq.com","sha":"d04246da2ddbf9ceb599e7f4b5b5cbbca315bc0a"},"repository_url":"https://gitlab.site.io/DataDog/repo.git","repository":{"path":"/DataDog/repo.git","scheme":"https","name":"DataDog/repo","host":"gitlab.site.io","id":"gitlab.site.io/DataDog/repo"},"branch":"preprod"},"service":"web-ui-tests","runtime-id":"8d4be021-f2f7-4e63-b3c3-93d62ba0d1fa"},"tags":["source:apm","source:apm"]}},{"id":"AQAAAYP7DjhlyuNS-QAAAABBWVA3RGpobEFBRHoyX3Nfd21QQktySkE","type":"citest","attributes":{"test_level":"test","attributes":{"test_suite":{"fingerprint":"b50f2adbaf2118cd"},"test":{"framework_version":"0.0.2","codeowners":["@DataDog/repo"],"source":{"file":"javascript/datadog/workflow-automation/lib/shared/validation.unit.ts"},"type":"test","has_parameters":true,"jest":{"test_runner":"jest-circus"},"command":"jest
      --config jest.browser.config.js --color --ci --silent --maxWorkers=7","framework":"jest","suite":"javascript/datadog/workflow-automation/lib/shared/validation.unit.ts","full_name":"javascript/datadog/workflow-automation/lib/shared/validation.unit.ts.Validate
      XML Should identifies good and bad XML","service":"web-ui-tests","name":"Validate
      XML Should identifies good and bad XML","fingerprint":"fe78dde37925d00d","parameters":"{\"arguments\":[\"<a><b>foo</a>\",false],\"metadata\":{}}","status":"pass"},"os":{"version":"5.15.0-1017-aws","platform":"linux","architecture":"x64"},"ci":{"pipeline":{"number":479973,"name":"DataDog/repo","id":"10631599","url":"https://gitlab.site.io/DataDog/repo/pipelines/10631599"},"workspace_path":"/go/src/github.com/DataDog/repo","stage":{"name":"test"},"provider":{"name":"gitlab"},"job":{"name":"unit-test","url":"https://gitlab.site.io/DataDog/repo/-/jobs/184829344"}},"sampling":{"priority":1},"start":1666364356707000320,"runtime":{"name":"n[...]
