interactions:
- request:
    body: |
      {"filter":{"from":"now-15m","query":"@test.service:web-ui-tests AND @test.status:skip","to":"now"},"options":{"timezone":"GMT"},"page":{"limit":25},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/ci/tests/events/search
  response:
    body: '{"data":[{"id":"AQAAAYP7BNMIuIAxxAAAAABBWVA3Qk5NSUFBQ3dKNTJFSjhrZXlTZ0s","type":"citest","attributes":{"test_level":"test","attributes":{"test_suite":{"fingerprint":"821da1fe0511456d"},"test":{"framework_version":"0.0.2","codeowners":["@DataDog/repo"],"source":{"file":"javascript/datadog/apps-sdk/internal/lib/managers/app-manager-with-controller/controller-manager.unit.ts"},"type":"test","has_parameters":false,"jest":{"test_runner":"jest-circus"},"command":"jest
      --config jest.browser.config.js --color --testNamePattern=\\[flaky\\] --ci --silent
      --maxWorkers=7","framework":"jest","suite":"javascript/datadog/apps-sdk/internal/lib/managers/app-manager-with-controller/controller-manager.unit.ts","full_name":"javascript/datadog/apps-sdk/internal/lib/managers/app-manager-with-controller/controller-manager.unit.ts.request()
      delegates to the main iframe controller request method","service":"web-ui-tests","name":"request()
      delegates to the main iframe controller request method","fingerprint":"3dbce8739d2972f9","status":"skip"},"os":{"version":"5.15.0-1017-aws","platform":"linux","architecture":"x64"},"ci":{"pipeline":{"number":479973,"name":"DataDog/repo","id":"10631599","url":"https://gitlab.site.io/DataDog/repo/pipelines/10631599"},"workspace_path":"/go/src/github.com/DataDog/repo","stage":{"name":"optional-jobs"},"provider":{"name":"gitlab"},"job":{"name":"unit-test-flaky","url":"https://gitlab.site.io/DataDog/repo/-/jobs/184829407"}},"sampling":{"priority":1},"start":1666363740936000512,"runtime":{"name":"node","version":"v16.3.0"},"language":"javascript","env":"ci","version":"0.0.2","duration":18799,"test_session":{"fingerprint":"6957ad04dea312d6"},"library_version":"3.4.0","git":{"commit":{"committer":{"date":"2022-10-21T23:44:50+09:00","name":"GitHub","email":"noreply@github.com","date_timestamp":1666363490000},"author":{"date":"2022-10-21T23:44:50+09:00","name":"Joe","email":"support@datadoghq.com","date_timestamp":1666363490000},"message":"Merge
      branch ''preprod'' into babbins/core-app-docs-landing-page","sha":"dbd090f623d681a7b6a65acb826ccf3968bb5d91"},"repository_url":"https://gitlab.site.io/DataDog/repo.git","repository":{"path":"/DataDog/repo.git","scheme":"https","name":"DataDog/repo","host":"gitlab.site.io","id":"gitlab.site.io/DataDog/repo"},"branch":"babbins/core-app-docs-landing-page"},"service":"web-ui-tests","runtime-id":"1f3e8a86-145c-4856-9e13-5228bed9a30e"},"tags":["source:apm","source:apm"]}},{"id":"AQAAAYP7BNMIR5G-XgAAAABBWVA3Qk5NSUFBQ3BDUTR2ZlFfMDRQQUo","type":"citest","attributes":{"test_level":"test","attributes":{"test_suite":{"fingerprint":"b3887a56ac7dce6b"},"test":{"framework_version":"0.0.2","codeowners":["@DataDog/repo"],"source":{"file":"javascript/datadog/trace/components/trace/SpanNetworks/span-networks.unit.tsx"},"type":"test","has_parameters":false,"jest":{"test_runner":"jest-circus"},"command":"jest
      --config jest.browser.config.js -[...]
