interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/ci/tests/events?filter%5Bfrom%5D=2022-10-21T14%3A43%3A41.511Z&filter%5Bto%5D=2022-10-21T14%3A44%3A11.511Z&page%5Blimit%5D=2
  response:
    body: '{"data":[{"id":"AQAAAYP7AGGfo7r-agAAAABBWVA3QUdHZkFBQlRMSUtLNkdvWHZNSUs","type":"citest","attributes":{"test_level":"test","attributes":{"test_suite":{"fingerprint":"6c8995a36c21161e"},"test":{"framework_version":"0.0.2","codeowners":["@DataDog/repo"],"source":{"file":"javascript/datadog/dashboard/components/widgets/AlertGraph/alert-graph.utils.unit.ts"},"type":"test","has_parameters":false,"jest":{"test_runner":"jest-circus"},"command":"jest
      --config jest.browser.config.js --color --ci --silent --maxWorkers=7","framework":"jest","suite":"javascript/datadog/dashboard/components/widgets/AlertGraph/alert-graph.utils.unit.ts","full_name":"javascript/datadog/dashboard/components/widgets/AlertGraph/alert-graph.utils.unit.ts.Alert
      Graph utils getAlertPeriod should return the alert period","service":"web-ui-tests","name":"Alert
      Graph utils getAlertPeriod should return the alert period","fingerprint":"cf1b658113e4fe46","status":"pass"},"os":{"version":"5.15.0-1017-aws","platform":"linux","architecture":"x64"},"ci":{"pipeline":{"number":479961,"name":"DataDog/repo","id":"10631454","url":"https://gitlab.site.io/DataDog/repo/pipelines/10631454"},"workspace_path":"/go/src/github.com/DataDog/repo","stage":{"name":"test"},"provider":{"name":"gitlab"},"job":{"name":"unit-test","url":"https://gitlab.site.io/DataDog/repo/-/jobs/184825583"}},"sampling":{"priority":1},"start":1666363449758001664,"runtime":{"name":"node","version":"v16.3.0"},"language":"javascript","env":"ci","version":"0.0.2","duration":1797119,"test_session":{"fingerprint":"6bf54b12dc4341b8"},"library_version":"3.4.0","git":{"commit":{"committer":{"date":"2022-10-21T10:39:58-04:00","name":"GitHub","email":"noreply@github.com","date_timestamp":1666363198000},"author":{"date":"2022-10-21T10:39:58-04:00","name":"Joe","email":"support@datadoghq.com","date_timestamp":1666363198000},"message":"Merge
      branch ''preprod'' into zach.anderson/sendgrid_last_login","sha":"ddc2d8cf8a68ca7c67553ea12d41b0df5d069bf7"},"repository_url":"https://gitlab.site.io/DataDog/repo.git","repository":{"path":"/DataDog/repo.git","scheme":"https","name":"DataDog/repo","host":"gitlab.site.io","id":"gitlab.site.io/DataDog/repo"},"branch":"zach.anderson/sendgrid_last_login"},"service":"web-ui-tests","runtime-id":"d3f4759f-5bda-4dab-a494-0736b2671798"},"tags":["source:apm","source:apm"]}},{"id":"AQAAAYP7AGE4o7r-XAAAAABBWVA3QUdFNEFBQ20wc3BXLWNYUDB5Z1M","type":"citest","attributes":{"test_level":"test","attributes":{"test_suite":{"fingerprint":"18538434d1355cce"},"test":{"framework_version":"0.0.2","codeowners":["@DataDog/repo"],"source":{"file":"javascript/datadog/logs/components/UnifiedExplorer/export-csv.helpers.unit.ts"},"type":"test","has_parameters":false,"jest":{"test_runner":"jest-circus"},"command":"jest
      --config jest.browser.config.js -[...]
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/ci/tests/events?filter%5Bfrom%5D=2022-10-21T14%3A43%3A41.511Z&filter%5Bto%5D=2022-10-21T14%3A44%3A11.511Z&page%5Blimit%5D=2&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWVA3QUdFNG83ci1YQUFBQUFCQldWQTNRVWRGTkVGQlEyMHdjM0JYTFdOWVVEQjVaMU0ifQ
  response:
    body: '{"data":[],"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWVA3QUdCdmxSc1pDd0FBQUFCQldWQTNRVWRDZGtGQlFtUlViV0ZTVVhKZmFFVXpiMWcifQ"}},"links":{"next":"https://api.datadoghq.com/api/v2/ci/tests/events?filter%5Bfrom%5D=2022-10-21T14%3A43%3A41.511Z&filter%5Bto%5D=2022-10-21T14%3A44%3A11.511Z&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWVA3QUdCdmxSc1pDd0FBQUFCQldWQTNRVWRDZGtGQlFtUlViV0ZTVVhKZmFFVXpiMWcifQ&page%5Blimit%5D=2"}}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
