interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Create_a_new_rule_returns_Created_response-1698877050","scorecard_name":"Observability Best Practices"},"type":"rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/scorecard/rules
  response:
    body: '{"data":{"id":"b6a60878-a110-4df5-b8aa-648d7f02dd02","type":"rule","attributes":{"category":"Observability
      Best Practices","created_at":"2023-11-01T22:17:30.596814Z","custom":true,"enabled":true,"modified_at":"2023-11-01T22:17:30.596814Z","name":"Test-Create_a_new_rule_returns_Created_response-1698877050","scorecard_name":"Observability
      Best Practices"},"relationships":{"scorecard":{"data":{"id":"hA5zOZJXXJ4K","type":"scorecard"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/scorecard/rules/b6a60878-a110-4df5-b8aa-648d7f02dd02
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 204 No Content
version: 2
