interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Create_outcomes_batch_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI Spec Test Best Practices"},"type":"rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/scorecard/rules
  response:
    body: '{"data":{"id":"b124b446-f246-41ab-b477-99293969cc5e","type":"rule","attributes":{"category":"OpenAPI
      Spec Test Best Practices","created_at":"2023-11-01T22:17:31.577258Z","custom":true,"enabled":true,"modified_at":"2023-11-01T22:17:31.577258Z","name":"Test-Create_outcomes_batch_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI
      Spec Test Best Practices"},"relationships":{"scorecard":{"data":{"id":"qsxpoYRhU_yz","type":"scorecard"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"results":[{"remarks":"See: \u003ca href=\"https://app.datadoghq.com/services\"\u003eServices\u003c/a\u003e","rule_id":"b124b446-f246-41ab-b477-99293969cc5e","service_name":"my-service","state":"pass"}]},"type":"batched-outcome"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/scorecard/outcomes/batch
  response:
    body: '{"data":[{"id":"b124b446-f246-41ab-b477-99293969cc5e\\my-service","type":"outcome","attributes":{"modified_at":"2023-11-01T22:17:31.68808Z","remarks":"See:
      \u003ca href=\"https://app.datadoghq.com/services\"\u003eServices\u003c/a\u003e","service_name":"my-service","state":"pass"},"relationships":{"rule":{"data":{"id":"b124b446-f246-41ab-b477-99293969cc5e","type":"rule"}}}}],"meta":{"total_received":1,"total_staged":1}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/scorecard/rules/b124b446-f246-41ab-b477-99293969cc5e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 204 No Content
version: 2
