interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Delete_a_rule_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI Spec Test Best Practices"},"type":"rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/scorecard/rules
  response:
    body: '{"data":{"id":"74d92a4b-2242-488d-b3de-dd557eecb18b","type":"rule","attributes":{"category":"OpenAPI
      Spec Test Best Practices","created_at":"2023-11-01T22:17:31.138205Z","custom":true,"enabled":true,"modified_at":"2023-11-01T22:17:31.138205Z","name":"Test-Delete_a_rule_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI
      Spec Test Best Practices"},"relationships":{"scorecard":{"data":{"id":"qsxpoYRhU_yz","type":"scorecard"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/scorecard/rules/74d92a4b-2242-488d-b3de-dd557eecb18b
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/scorecard/rules/74d92a4b-2242-488d-b3de-dd557eecb18b
  response:
    body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found:
      74d92a4b-2242-488d-b3de-dd557eecb18b"}]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 1
