interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/scorecard/rules
  response:
    body: '{"data":[{"id":"d45d511e-f03a-42e9-8ef6-5d00a9456c32","type":"rule","attributes":{"category":"Deployments
      automated via Deployment Trains","created_at":"2023-11-01T14:11:49.302387Z","custom":true,"enabled":true,"modified_at":"2023-11-01T14:11:49.302387Z","name":"Team
      Defined","scorecard_name":"Deployments automated via Deployment Trains"},"relationships":{"scorecard":{"data":{"id":"_M1Ygy3QcqRI","type":"scorecard"}}}},{"id":"0e6eac8b-5c4c-4438-a6c5-e631f7a2c90e","type":"rule","attributes":{"category":"Observability
      Best Practices","created_at":"2023-11-01T18:04:56.125512Z","custom":true,"enabled":true,"modified_at":"2023-11-01T18:04:56.125512Z","name":"Test-Create_a_new_rule_returns_Created_response-1698861895","scorecard_name":"Observability
      Best Practices"},"relationships":{"scorecard":{"data":{"id":"hA5zOZJXXJ4K","type":"scorecard"}}}},{"id":"2609deb7-bbd0-4277-bf48-2265328bc4ca","type":"rule","attributes":{"category":"OpenAPI
      Spec Test Best Practices","created_at":"2023-11-01T20:08:49.073289Z","custom":true,"enabled":true,"modified_at":"2023-11-01T20:08:49.073289Z","name":"Test-Create_outcomes_batch_returns_OK_response-1698869328","owner":"Datadog","scorecard_name":"OpenAPI
      Spec Test Best Practices"},"relationships":{"scorecard":{"data":{"id":"qsxpoYRhU_yz","type":"scorecard"}}}},{"id":"c939cd35-77ba-42af-aa04-f1a027e0dae6","type":"rule","attributes":{"category":"Observability
      Best Practices","created_at":"2023-11-01T20:03:46.852914Z","custom":true,"enabled":true,"modified_at":"2023-11-01T20:03:46.852914Z","name":"Test-Typescript-Create_a_new_rule_returns_Created_response-1698869026","scorecard_name":"Observability
  [...]
