---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617977648"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"ed64ca2c-68a1-5b62-b998-e7c9a92cedd6","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617977648","created":"2021-04-09T14:14:08.251910+00:00","modified":"2021-04-09T14:14:08.251910+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "96"
      X-Ratelimit-Reset:
      - "52"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams/ed64ca2c-68a1-5b62-b998-e7c9a92cedd6
    method: GET
  response:
    body: '{"data":{"type":"teams","id":"ed64ca2c-68a1-5b62-b998-e7c9a92cedd6","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617977648","created":"2021-04-09T14:14:08.251910+00:00","modified":"2021-04-09T14:14:08.251910+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "99"
      X-Ratelimit-Reset:
      - "52"
    status: 200 OK
    code: 200
    duration: ""
[...]
