---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1605175832"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":null,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"3218efcc-120a-5a28-bb0f-610d7d5164bc","attributes":{"name":"go-TestScenarios-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1605175832","created":"2020-11-12T10:10:32.724165+00:00","modified":"2020-11-12T10:10:32.724165+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rbGMi63XY6ETkPw9boG8yUDqogZ/1IN0Hh4Igu952urF41BH1CFuhykimklaERoh
      X-Dd-Version:
      - "35.3353211"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListIncidentTeams
    url: https://api.datadoghq.com/api/v2/teams?filter=go-TestScenarios-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1605175832
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"size":1,"next_offset":1,"offset":0}},"data":[{"type":"teams","id":"3218efcc-120a-5a28-bb0f-610d7d5164bc","attributes":{"name":"go-TestScenarios-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1605175832","created":"2020-11-12T10:10:32.724165+00:00","modified":"2020-11-12T10:10:32.724165+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ViVCPXX6Ly37Yq2uFkha4NuJPBq3hQNknFQSAg7/RbVncSIYTDoKelvl87NEURiA
      X-Dd-Version:
      - "35.3353211"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams/3218efcc-120a-5a28-bb0f-610d7d5164bc
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bOYRvpIMaDWtEAFc77xh4cYKoSxr/zmllvfW+/1TUFo7Zbru0n5QEX4LCoKiS3Mv
      X-Dd-Version:
      - "35.3353211"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "27"
    status: 204 No Content
    code: 204
    duration: ""
