---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617974737"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"267e460a-fd58-5757-8f6e-102b13eb91f7","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617974737","created":"2021-04-09T13:25:37.459441+00:00","modified":"2021-04-09T13:25:37.459441+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "96"
      X-Ratelimit-Reset:
      - "23"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams/267e460a-fd58-5757-8f6e-102b13eb91f7
    method: GET
  response:
    body: '{"data":{"type":"teams","id":"267e460a-fd58-5757-8f6e-102b13eb91f7","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617974737","created":"2021-04-09T13:25:37.459441+00:00","modified":"2021-04-09T13:25:37.459441+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "99"
      X-Ratelimit-Reset:
      - "23"
    status: 200 OK
    code: 200
    duration: ""
[...]
