---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-local-1607022734"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"16294555-0cbe-5e95-b948-d0776a940986","attributes":{"name":"go-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-local-1607022734","created":"2020-12-03T19:12:14.341717+00:00","modified":"2020-12-03T19:12:14.341717+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - mjjix3i7KxHakJGjOSXbyjGLp+IPNWPrPaCVopgkuqm46lk1b+kLivuxRokDQC1N
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "46"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListIncidentTeams
    url: https://api.datadoghq.com/api/v2/teams?filter=go-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-local-1607022734
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"total":442,"size":1,"next_offset":1,"offset":0},"total":442},"data":[{"type":"teams","id":"16294555-0cbe-5e95-b948-d0776a940986","attributes":{"name":"go-Feature_Incident_Teams-Scenario_Get_a_list_of_all_incident_teams_returns__OK__response-local-1607022734","created":"2020-12-03T19:12:14.341717+00:00","modified":"2020-12-03T19:12:14.341717+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - lgQawiZEOFHj/SKplEcqOwzaMI6OQtdSQ9dotiTxYUar2ksXhijPkw9yrBoSKHNa
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams/16294555-0cbe-5e95-b948-d0776a940986
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - czEVy5beKXV4pQAZ5xftzVoEe/6sl5mAUrgslod1oQM8E1r6UMNK9mDY9umj8H+Q
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "46"
    status: 204 No Content
    code: 204
    duration: ""
