interactions:
- request:
    body: |
      {"data":{"attributes":{"dry_run":false,"name":"My deployment rule","options":{"duration":3600,"excluded_resources":["resource1","resource2"]},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/deployment_gates/not-a-valid-id/rules
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute \"gate_id\"
      Invalid id"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
