interactions:
- request:
    body: |
      {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"my-gate","service":"my-service"},"type":"deployment_gate"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/deployment_gates
  response:
    body: '{"data":{"id":"99a827b4-5a6a-4e8a-8d6f-7fb0b988fcc4","type":"deployment_gate","attributes":{"created_at":"2025-10-24T09:11:41.752798Z","created_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"dry_run":false,"env":"production","identifier":"my-gate","service":"my-service","updated_at":"2025-10-24T09:11:41.752798Z","updated_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"dry_run":false,"name":"My deployment rule","options":{"excluded_resources":[]},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/deployment_gates/99a827b4-5a6a-4e8a-8d6f-7fb0b988fcc4/rules
  response:
    body: '{"data":{"id":"8122c90e-da87-4e9c-858b-3c3c0e6e6f92","type":"deployment_rule","attributes":{"created_at":"2025-10-24T09:11:42.022808Z","created_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"dry_run":false,"gate_id":"99a827b4-5a6a-4e8a-8d6f-7fb0b988fcc4","name":"My
      deployment rule","options":{},"type":"faulty_deployment_detection","updated_at":"2025-10-24T09:11:42.022808Z","updated_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"dry_run":false,"name":"Updated deployment rule","options":{"excluded_resources":[]}},"type":"deployment_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PUT
    url: https://api.datadoghq.com/api/v2/deployment_gates/99a827b4-5a6a-4e8a-8d6f-7fb0b988fcc4/rules/8122c90e-da87-4e9c-858b-3c3c0e6e6f92
  response:
    body: '{"data":{"id":"8122c90e-da87-4e9c-858b-3c3c0e6e6f92","type":"deployment_rule","attributes":{"created_at":"2025-10-24T09:11:42.022808Z","created_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"dry_run":false,"gate_id":"99a827b4-5a6a-4e8a-8d6f-7fb0b988fcc4","name":"Updated
      deployment rule","options":{},"type":"faulty_deployment_detection","updated_at":"2025-10-24T09:11:42.285075Z","updated_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/deployment_gates/99a827b4-5a6a-4e8a-8d6f-7fb0b988fcc4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
