interactions:
- request:
    body: |
      {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"my-gate-1","service":"my-service"},"type":"deployment_gate"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/deployment_gates
  response:
    body: '{"data":{"id":"0cc075c2-fec1-4ed3-9e43-0882646fac07","type":"deployment_gate","attributes":{"created_at":"2025-10-28T14:03:26.337009Z","created_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"dry_run":false,"env":"production","identifier":"my-gate-1","service":"my-service","updated_at":"2025-10-28T14:03:26.337009Z","updated_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/deployment_gates/0cc075c2-fec1-4ed3-9e43-0882646fac07
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
