interactions:
- request:
    body: |
      {"data":{"attributes":{"env":"","service":"my-service"},"type":"deployment_gates_evaluation_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/deployments/gates/evaluation
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"required env
      field is missing"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
