---
version: 1
interactions:
- request:
    body: |
      {"pipeline_ids":null}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsPipelineOrder
    url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
    method: PUT
  response:
    body: '{"error":{"code":"InvalidArgument","message":"missing field: pipeline_ids"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "63"
      X-Ratelimit-Reset:
      - "445"
    status: 400 Bad Request
    code: 400
    duration: ""
