---
version: 1
interactions:
- request:
    body: |
      {"pipeline_ids":["id"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsPipelineOrder
    url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
    method: PUT
  response:
    body: '{"error":{"code":"UnprocessableEntity","message":"Cannot map pipelines
      to existing ones"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "64"
      X-Ratelimit-Reset:
      - "445"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
