interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_restriction_policy_returns_OK_response-1678126638"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"2186776c-bc4b-11ed-ac0f-da7ad0900002","attributes":{"name":"Test-Update_a_restriction_policy_returns_OK_response-1678126638","created_at":"2023-03-06T18:17:18.938117+00:00","modified_at":"2023-03-06T18:17:18.971241+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_a_restriction_policy_returns_OK_response-1678126638@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"21b46718-bc4b-11ed-a2f5-764440ef0bc1","attributes":{"name":null,"handle":"test-update_a_restriction_policy_returns_ok_response-1678126638@datadoghq.com","created_at":"2023-03-06T18:17:19.240151+00:00","modified_at":"2023-03-06T18:17:19.244292+00:00","email":"test-update_a_restriction_policy_returns_ok_response-1678126638@datadoghq.com","icon":"https://secure.gravatar.com/avatar/aedbf1acbf22049a33e6e48c70252b04?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"id":"21b46718-bc4b-11ed-a2f5-764440ef0bc1","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/roles/2186776c-bc4b-11ed-ac0f-da7ad0900002/users
  response:
    body: '{"data":[{"type":"users","id":"21b46718-bc4b-11ed-a2f5-764440ef0bc1","attributes":{"name":null,"handle":"test-update_a_restriction_policy_returns_ok_response-1678126638@datadoghq.com","created_at":"2023-03-06T18:17:19.240151+00:00","modified_at":"2023-03-06T18:17:19.244292+00:00","email":"test-update_a_restriction_policy_returns_ok_response-1678126638@datadoghq.com","icon":"https://secure.gravatar.com/avatar/aedbf1acbf22049a33e6e48c70252b04?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"2186776c-bc4b-11ed-ac0f-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":1}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"bindings":[{"principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5"],"relation":"editor"}]},"id":"dashboard:test-update","type":"restriction_policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: POST
    url: https://api.datadoghq.com/api/v2/restriction_policy/dashboard%3Atest-update
  response:
    body: '{"data":{"type":"restriction_policy","id":"dashboard:test-update","attributes":{"bindings":[{"relation":"editor","principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5"]}]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/21b46718-bc4b-11ed-a2f5-764440ef0bc1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 5
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/2186776c-bc4b-11ed-ac0f-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
