interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cases/types/custom_attributes
  response:
    body: '{"data":[{"id":"3404866e-32d7-4f50-854c-a06e8f12e39a","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"02323717-20b8-4ecf-8c34-ef7dd1841f46","description":"And
      its brand new description","display_name":"Attribute 17556962-0000-0000-0000-175569621700","is_multi":true,"key":"attribute_7d1796807c0cb52e","type":"TEXT"}},{"id":"1458f000-f648-4f8a-910d-faf267187405","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"0295702b-41e6-4a9e-8681-a237d11b5843","description":"And
      its brand new description","display_name":"Attribute 17557769-0000-0000-0000-175577695300","is_multi":true,"key":"attribute_fb1043dd816c6a32","type":"TEXT"}},{"id":"a33fb20d-794d-465e-a46c-be7976a3eecc","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","c[...]
