interactions:
- request:
    body: |
      {"data":{"attributes":{"display_name":"AWS Region 79eef6c4d883c2c5","is_multi":true,"key":"region_79eef6c4d883c2c5","type":"NUMBER"},"type":"custom_attribute"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types/9fd476d7-a955-454a-851d-980c655c02d3/custom_attributes
  response:
    body: '{"errors":[{"code":"resource_not_found","title":"case_type not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
