interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":{\"id\":\"a52ea7e5-7cdf-4414-a585-63e58d3dc7a0\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"internal\":false,\"name\":\"World\",\"statuses_config\":{\"\
      open\":{\"status_options\":[{\"name\":\"Open\"}],\"default\":\"Open\"},\"in_progress\"\
      :{\"status_options\":[{\"name\":\"In Progress\"}],\"default\":\"In Progress\"\
      },\"closed\":{\"status_options\":[{\"name\":\"Closed\"}],\"default\":\"Closed\"\
      }}}}}"
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"display_name":"AWS Region 17593230-0000-0000-0000-175932301100","is_multi":true,"key":"region_4fd8eeb20ad8f927","type":"FLOAT"},"type":"custom_attribute"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types/a52ea7e5-7cdf-4414-a585-63e58d3dc7a0/custom_attributes
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
