interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":{\"id\":\"f91c5f4a-53c4-4f18-a21d-9f82fd7bd3e9\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"internal\":false,\"name\":\"World\",\"statuses_config\":{\"\
      open\":{\"status_options\":[{\"name\":\"Open\"}],\"default\":\"Open\"},\"in_progress\"\
      :{\"status_options\":[{\"name\":\"In Progress\"}],\"default\":\"In Progress\"\
      },\"closed\":{\"status_options\":[{\"name\":\"Closed\"}],\"default\":\"Closed\"\
      }}}}}"
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/cases/types/f91c5f4a-53c4-4f18-a21d-9f82fd7bd3e9/custom_attributes
  response:
    body: '{"data":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
