interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":{\"id\":\"1fab87e4-341d-4a79-a294-171b4e2c22f8\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"}}}"
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"display_name":"AWS Region 17569771-0000-0000-0000-175697711500","is_multi":true,"key":"region_eaa423ff52828a39","type":"NUMBER"},"type":"custom_attribute"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types/1fab87e4-341d-4a79-a294-171b4e2c22f8/custom_attributes
  response:
    body: '{"data":{"id":"0dc4a14f-f96b-4a27-893a-72341da7ce1d","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"1fab87e4-341d-4a79-a294-171b4e2c22f8","display_name":"AWS
      Region 17569771-0000-0000-0000-175697711500","is_multi":true,"key":"region_eaa423ff52828a39","type":"NUMBER"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cases/types/1fab87e4-341d-4a79-a294-171b4e2c22f8
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
