interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/app-builder/blueprints
  response:
    body: "{\"data\":[{\"id\":\"faeef8bc-d9eb-43a1-b829-71782380279d\",\"type\":\"\
      blueprint\",\"attributes\":{\"created_at\":\"2025-08-18T16:20:42.182618Z\",\"\
      description\":\"Manage AWS Services from a single unified interface.\",\"name\"\
      :\"AWS Service Management Console\",\"slug\":\"aws_service_management_console\"\
      ,\"tags\":[\"aws\"],\"tile_background\":\"one-callout-table\",\"tile_icon_action_fqn\"\
      :\"com.datadoghq.aws.organizations.listAccounts\",\"updated_at\":\"2026-05-18T17:02:03.016145Z\"\
      }},{\"id\":\"b2ba39de-d111-4940-b600-df6bb52661dc\",\"type\":\"blueprint\",\"\
      attributes\":{\"created_at\":\"2025-08-15T00:00:19.017104Z\",\"description\"\
      :\"Manage projects, merge requests, commits, pipelines, jobs, branches, and\
      \ deployments all from a unified interface within Datadog.\",\"name\":\"GitLab\
      \ Manager\",\"slug\":\"gitlab_manager\",\"tags\":[\"software_delivery\"],\"\
      tile_background\":\"search-callout-table\",\"tile_icon_action_fqn\":\"com.datadoghq.gitlab.projects.listProjects\"\
      ,\"updated_at\":\"2026-05-18T17:01:20.81581Z\"}},{\"id\":\"398529ec-6c34-4e6d-bccf-5a34be7e6e1c\"\
      ,\"type\":\"blueprint\",\"attributes\":{\"created_at\":\"2025-10-15T19:11:36.098607Z\"\
      ,\"description\":\"Unifying Jira, Confluence, GitHub, and Datadog Incidents\
      \ to highlight team and developer contribution with AI summaries.\",\"name\"\
      :\"Development Insights\",\"slug\":\"development-insights\",\"tags\":[\"datadog\"\
      ,\"uses_ai\"],\"tile_background\":\"search-callout-table\",\"tile_icon_action_fqn\"\
      :\"com.datadoghq.dd.apps_datastore.getDatastoreItem\",\"updated_at\":\"2026-05-18T17:02:03.557012Z\"\
      }},{\"id\":\"1a9239ca-1d11-48c0-ad23-0f8ca00cd321\",\"type\":\[...]
