interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"This is a bad example app","embeddedQueries":[],"rootInstanceName":"grid0"},"type":"appDefinitions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body: '{"errors":[{"title":"missing required field","detail":"missing required
      field","source":{"pointer":"/data/attributes/name"}}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
