interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Adds new dashboard widgets and a few bug fixes.","title":"Release v1.2 to production"},"type":"publishRequest"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/publish-request
  response:
    body: '{"errors":[{"status":"404","id":"c9247d40-2291-4860-90ac-9c2441ff23db","title":"app
      not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
