interactions:
- request:
    body: |
      {"data":{"attributes":{"selfService":true},"type":"selfService"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/self-service
  response:
    body: '{"errors":[{"status":"404","id":"623c417b-ba6a-4952-8d3c-1d90edaf3166","title":"app
      not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
