interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"v1.2.0 - bug fix release"},"type":"versionNames"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/version-name?version=latest
  response:
    body: '{"errors":[{"status":"404","id":"16fc993f-2445-4b88-b1e7-c924feed5141","title":"app
      not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
