interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body: '{"data":[{"id":"b1c2bf4d-f987-4306-8dcd-a48bedecf19e","type":"appDefinitions","attributes":{"description":"","favorite":false,"name":"[synthetics]
      app name 0123456789","selfService":false,"tags":[]},"meta":{"org_id":1107852,"user_id":7571471,"user_uuid":"01347f51-3fcd-11ef-95dd-a65df5ee2843","user_name":"01347f51-3fcd-11ef-95dd-a65df5ee2843","version":0,"updated_since_deployment":false,"created_at":"2025-02-14T16:44:58.965378Z","updated_at":"2025-02-14T16:44:58.965378Z","deleted_at":"0001-01-01T00:00:00Z"}},{"id":"31bfe961-ba29-4c43-85d8-f7d02afdb9a3","type":"appDefinitions","attributes":{"description":"","favorite":false,"name":"[synthetics]
      app name 0123456789","selfService":false,"tags":[]},"meta":{"org_id":1107852,"user_id":7571471,"user_uuid":"01347f51-3fcd-11ef-95dd-a65df5ee2843","user_name":"01347f51-3fcd-11ef-95dd-a65df5ee2843","version":0,"updated_since_deployment":false,"created_at":"2025-01-29T15:53:32.324305Z","updated_at":"2025-01-29T15:53:32.324305Z","de[...]
