interactions:
- request:
    body: |
      {"data":{"attributes":{"tags":["team:platform","service:ops"]},"type":"tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/tags
  response:
    body: '{"errors":[{"status":"404","id":"26c91c86-51b3-4c5f-98b4-713698730b08","title":"app
      not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
