---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_permissions_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593452306@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"56750c0c-ba2f-11ea-9c6a-0f3b5e8093fa","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_permissions_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593452306@datadoghq.com","created_at":"2020-06-29T17:38:26.494299+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_permissions_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593452306@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f15cf042d33d224e05ad194bd56aaac9?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - UmZMvwWLI5lgbGFBnw6J7jqO5hwyrvVF8Un8TwZ8TRQQ6jetE/6GVTSaoSUmQWRg
      X-Dd-Version:
      - "35.2679051"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUserPermissions
    url: https://api.datadoghq.com/api/v2/users/56750c0c-ba2f-11ea-9c6a-0f3b5e8093fa/permissions
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wts7Rn21w0qW4rqYtxheVW/4xeY9Y3ARkRMnLeq6etar4hXLqkvskJXcsIyQxYKB
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
