interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Send_invitation_emails_returns_OK_response-1618491787@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"ec4632de-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1618491787@datadoghq.com","created_at":"2021-04-15T13:03:07.685627+00:00","modified_at":"2021-04-15T13:03:07.716219+00:00","email":"test-send_invitation_emails_returns_ok_response-1618491787@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ae127789374025e1ca3730b1e05ea0d0?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"ec4632de-9dea-11eb-9df5-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body: '{"data":[{"type":"user_invitations","id":"ed385bb8-9dea-11eb-9df5-da7ad0900002","attributes":{"uuid":"ed385bb8-9dea-11eb-9df5-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-15T13:03:09.272516+00:00","expires_at":"2021-04-17T13:03:09.204259+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ec4632de-9dea-11eb-9df5-da7ad0900002"}}}}]}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/ec4632de-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
