interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_a_user_returns_Bad_User_ID_in_Request_response-1652349231@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"6de87a9a-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_bad_user_id_in_request_response-1652349231@datadoghq.com","created_at":"2022-05-12T09:53:52.369558+00:00","modified_at":"2022-05-12T09:53:52.414328+00:00","email":"test-update_a_user_returns_bad_user_id_in_request_response-1652349231@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7e237f697063f0a1613e61769fbd6f5b?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"00000000-mismatch-body-id-ffffffffffff","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/users/6de87a9a-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: '{"errors": ["UUID''s in the URL and request body do not match"]}'
    code: 422
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/6de87a9a-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
