interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_a_user_returns_OK_response-1641829920@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"3f7c83ce-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1641829920@datadoghq.com","created_at":"2022-01-10T15:52:00.584727+00:00","modified_at":"2022-01-10T15:52:00.624917+00:00","email":"test-update_a_user_returns_ok_response-1641829920@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f1bd4f4b2af07d78590b4c7dfc22f8c5?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"3f7c83ce-722d-11ec-b5d7-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/users/3f7c83ce-722d-11ec-b5d7-da7ad0900002
  response:
    body: '{"data":{"type":"users","id":"3f7c83ce-722d-11ec-b5d7-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1641829920@datadoghq.com","created_at":"2022-01-10T15:52:00.584727+00:00","modified_at":"2022-01-10T15:52:01.155946+00:00","email":"test-update_a_user_returns_ok_response-1641829920@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f1bd4f4b2af07d78590b4c7dfc22f8c5?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/3f7c83ce-722d-11ec-b5d7-da7ad0900002
  response:
    body: '{"errors": ["3f7c83ce-722d-11ec-b5d7-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
