interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_a_service_account_returns_OK_response-1627332435"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"a8f6d4b2-ee52-11eb-b715-da7ad0900002","attributes":{"name":"Test-Create_a_service_account_returns_OK_response-1627332435","created_at":"2021-07-26T20:47:15.440096+00:00","modified_at":"2021-07-26T20:47:15.440096+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_a_service_account_returns_OK_response-1627332435@datadoghq.com","name":"Test API Client","service_account":true},"relationships":{"roles":{"data":[{"id":"a8f6d4b2-ee52-11eb-b715-da7ad0900002","type":"roles"}]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"included":[{"type":"permissions","id":"61765026-2dce-11eb-84c0-833e230d1b8f","attributes":{"name":"apm_primary_operation_write","display_name":"Primary
      Operation","description":"The ability to edit the operation name value selection.
      A user with this permission can modify the operation name list in the APM settings
      page and can modify the operation name controller on the service page.","created":"2020-11-23T20:56:38.658649+00:00","group_name":"APM","display_type":"write","restricted":false}},{"type":"permissions","id":"642eebe6-f923-11ea-adbc-eb617674ea04","attributes":{"name":"synthetics_default_settings_write","display_name":"Default
      Settings","description":"The ability to edit default settings for Synthetics
      Monitoring.","created":"2020-09-17T20:21:38.818771+00:00","group_name":"Synthetic
      Monitoring","display_type":"write","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name"[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/7a9f87b4-1d1d-4dd3-badd-4ba1c677bde3
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/a8f6d4b2-ee52-11eb-b715-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
