interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_a_user_permissions_returns_OK_response-1618491776@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"e5c00714-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1618491776@datadoghq.com","created_at":"2021-04-15T13:02:56.739813+00:00","modified_at":"2021-04-15T13:02:56.773921+00:00","email":"test-get_a_user_permissions_returns_ok_response-1618491776@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8aff636f5c3a34b628f77b2bd82e1d7?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/users/e5c00714-9dea-11eb-9df5-da7ad0900002/permissions
  response:
    body: '{"data":[]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/e5c00714-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
