interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Send_invitation_emails_returns_OK_response-1641829917@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"3dd510d6-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1641829917@datadoghq.com","created_at":"2022-01-10T15:51:57.808803+00:00","modified_at":"2022-01-10T15:51:57.857213+00:00","email":"test-send_invitation_emails_returns_ok_response-1641829917@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9af807b12b1ed878efe4e20b76cba58b?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"3dd510d6-722d-11ec-b5d7-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body: '{"data":[{"type":"user_invitations","id":"3e2dd5f4-722d-11ec-b5d7-da7ad0900002","attributes":{"uuid":"3e2dd5f4-722d-11ec-b5d7-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2022-01-10T15:51:58.392404+00:00","expires_at":"2022-01-12T15:51:58.291099+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3dd510d6-722d-11ec-b5d7-da7ad0900002"}}}}]}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/3dd510d6-722d-11ec-b5d7-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
