interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_a_user_returns_OK_response-1652349233@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"6de87a9b-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1652349233@datadoghq.com","created_at":"2022-05-12T09:53:53.972168+00:00","modified_at":"2022-05-12T09:53:54.014176+00:00","email":"test-update_a_user_returns_ok_response-1652349233@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e3e4683c1e52cc0efa35ddd7a3bf393a?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"6de87a9b-d1d9-11ec-ad3d-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/users/6de87a9b-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: '{"data":{"type":"users","id":"6de87a9b-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1652349233@datadoghq.com","created_at":"2022-05-12T09:53:53.972168+00:00","modified_at":"2022-05-12T09:53:54.471054+00:00","email":"test-update_a_user_returns_ok_response-1652349233@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e3e4683c1e52cc0efa35ddd7a3bf393a?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/6de87a9b-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: '{"errors": ["6de87a9b-d1d9-11ec-ad3d-da7ad0900002 not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
