interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1618491779@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"e7e3ea38-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","created_at":"2021-04-15T13:03:00.330361+00:00","modified_at":"2021-04-15T13:03:00.363492+00:00","email":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1618491779%40datadoghq.com
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":184359}},"data":[{"type":"users","id":"e7e3ea38-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","created_at":"2021-04-15T13:03:00.330361+00:00","modified_at":"2021-04-15T13:03:00.363492+00:00","email":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/e7e3ea38-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
version: 1
