interactions:
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/users/00000000-dead-beef-dead-ffffffffffff
  response:
    body: '{"errors": ["00000000-dead-beef-dead-ffffffffffff not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
