interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1641829911@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"3a42d5e8-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1641829911@datadoghq.com","created_at":"2022-01-10T15:51:51.818426+00:00","modified_at":"2022-01-10T15:51:51.864288+00:00","email":"test-list_all_users_returns_ok_response-1641829911@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6f94186d25f65d5d4da8bc684b1d5323?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1641829911%40datadoghq.com
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":20155}},"data":[{"type":"users","id":"3a42d5e8-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1641829911@datadoghq.com","created_at":"2022-01-10T15:51:51.818426+00:00","modified_at":"2022-01-10T15:51:51.864288+00:00","email":"test-list_all_users_returns_ok_response-1641829911@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6f94186d25f65d5d4da8bc684b1d5323?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/3a42d5e8-722d-11ec-b5d7-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
