interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_user_details_returns_OK_response-1697467605@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"d3edd11c-6c32-11ee-9c79-aaef51702d10","attributes":{"name":null,"handle":"test-get_user_details_returns_ok_response-1697467605@datadoghq.com","created_at":"2023-10-16T14:46:45.480711+00:00","modified_at":"2023-10-16T14:46:45.480711+00:00","email":"test-get_user_details_returns_ok_response-1697467605@datadoghq.com","icon":"https://secure.gravatar.com/avatar/64901293a45aa6f5fa32d0fa57decdb2?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/users/d3edd11c-6c32-11ee-9c79-aaef51702d10
  response:
    body: '{"data":{"type":"users","id":"d3edd11c-6c32-11ee-9c79-aaef51702d10","attributes":{"name":null,"handle":"test-get_user_details_returns_ok_response-1697467605@datadoghq.com","created_at":"2023-10-16T14:46:45.480711+00:00","modified_at":"2023-10-16T14:46:45.480711+00:00","email":"test-get_user_details_returns_ok_response-1697467605@datadoghq.com","icon":"https://secure.gravatar.com/avatar/64901293a45aa6f5fa32d0fa57decdb2?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/d3edd11c-6c32-11ee-9c79-aaef51702d10
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
