interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Disable_a_user_returns_OK_response-1652349216@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"649b7e06-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1652349216@datadoghq.com","created_at":"2022-05-12T09:53:36.764381+00:00","modified_at":"2022-05-12T09:53:36.851751+00:00","email":"test-disable_a_user_returns_ok_response-1652349216@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0be9a183f9c8c81ab435f271e21830c2?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/649b7e06-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/649b7e06-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: '{"errors": ["649b7e06-d1d9-11ec-ad3d-da7ad0900002 not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
