interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1652349221@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"67acec56-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","created_at":"2022-05-12T09:53:41.912395+00:00","modified_at":"2022-05-12T09:53:41.957201+00:00","email":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5db040285d603412d82292f9fdac151c?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/users/67acec56-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: '{"data":{"type":"users","id":"67acec56-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","created_at":"2022-05-12T09:53:41.912395+00:00","modified_at":"2022-05-12T09:53:41.957201+00:00","email":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5db040285d603412d82292f9fdac151c?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/67acec56-d1d9-11ec-ad3d-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
