interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_a_service_account_returns_OK_response-1641829903"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"type":"roles","id":"3595c05a-722d-11ec-b5d7-da7ad0900002","attributes":{"name":"Test-Create_a_service_account_returns_OK_response-1641829903","created_at":"2022-01-10T15:51:43.974169+00:00","modified_at":"2022-01-10T15:51:44.038254+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_a_service_account_returns_OK_response-1641829903@datadoghq.com","name":"Test API Client","service_account":true},"relationships":{"roles":{"data":[{"id":"3595c05a-722d-11ec-b5d7-da7ad0900002","type":"roles"}]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body: '{"included":[{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002","attributes":{"name":"rum_apps_read","display_name":"RUM
      Applications","description":"The ability to view RUM Applications data.","created":"2021-08-02T09:46:07.671535+00:00","group_name":"Real
      User Monitoring","display_type":"read","restricted":true}},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","attributes":{"name":"incident_read","display_name":"Incidents
      App Experience","description":"The ability to view incidents in Datadog.","created":"2021-06-22T15:11:09.255499+00:00","group_name":"Incidents","display_type":"read","restricted":true}},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002","attributes":{"name":"appsec_event_rule_read","display_name":"Application
      Security Event Rules","des[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/c306fdb5-8cf9-4abc-85de-b9ef729eb45a
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/3595c05a-722d-11ec-b5d7-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
version: 1
