interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":[{\"id\":\"00000000-0000-0000-0000-000000000001\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"General tasks and investigations\"\
      ,\"emoji\":\"\",\"internal\":true,\"name\":\"Standard\",\"statuses_config\"\
      :{\"open\":{\"status_options\":[{\"name\":\"Open\"}],\"default\":\"Open\"},\"\
      in_progress\":{\"status_options\":[{\"name\":\"In Progress\"}],\"default\":\"\
      In Progress\"},\"closed\":{\"status_options\":[{\"name\":\"Closed\"}],\"default\"\
      :\"Closed\"}}}},{\"id\":\"00000000-0000-0000-0000-000000000002\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Triage and investigate correlated\
      \ alerts and events\",\"emoji\":\"\",\"internal\":true,\"name\":\"Event Management\"\
      ,\"statuses_config\":{\"open\":{\"status_options\":[{\"name\":\"Open\"}],\"\
      default\":\"Open\"},\"in_progress\":{\"status_options\":[{\"name\":\"In Progress\"\
      }],\"default\":\"In Progress\"},\"closed\":{\"status_options\":[{\"name\":\"\
      Closed\"}],\"default\":\"Closed\"}}}},{\"id\":\"00000000-0000-0000-0000-000000000003\"\
      ,\"type\":\"case_type\",\"attributes\":{\"description\":\"Used By Datadog Security\
      \ products and for general security workflows\",\"emoji\":\"\",\"internal\"\
      :true,\"name\":\"Security\",\"statuses_config\":{\"open\":{\"status_options\"\
      :[{\"name\[...]
