interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Investigations done in case\
      \ management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"},\"type\"\
      :\"case_type\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":{\"id\":\"5ec976bf-2f12-43c4-be20-542518b5906e\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Investigations done in case management\"\
      ,\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"}}}"
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/cases/types/5ec976bf-2f12-43c4-be20-542518b5906e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
