interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Investigations done in case\
      \ management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"},\"type\"\
      :\"case_type\"}}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/cases/types
  response:
    body: "{\"data\":{\"id\":\"e3cb41d0-cd05-4c9d-8158-fc044587487f\",\"type\":\"\
      case_type\",\"attributes\":{\"description\":\"Investigations done in case management\"\
      ,\"emoji\":\"\U0001F451\",\"internal\":false,\"name\":\"Investigation\",\"statuses_config\"\
      :{\"open\":{\"status_options\":[{\"name\":\"Open\"}],\"default\":\"Open\"},\"\
      in_progress\":{\"status_options\":[{\"name\":\"In Progress\"}],\"default\":\"\
      In Progress\"},\"closed\":{\"status_options\":[{\"name\":\"Closed\"}],\"default\"\
      :\"Closed\"}}}}}"
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
version: 2
