---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593513636"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"21d0e806-babe-11ea-9c85-4f96350c06b1","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593513636","created_at":"2020-06-30T10:40:36.210367+00:00","modified_at":"2020-06-30T10:40:36.210367+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LSmCynIhKaei2ZXhUwyt9n5ny5nHZCYRNYsTU4+Q86mceDsWCQtfUVf4lac22qNa
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593513636-updated"},"id":"21d0e806-babe-11ea-9c85-4f96350c06b1","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/21d0e806-babe-11ea-9c85-4f96350c06b1
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"21d0e806-babe-11ea-9c85-4f96350c06b1","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593513636-updated","created_at":"2020-06-30T10:40:36.210367+00:00","modified_at":"2020-06-30T10:40:36.390944+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Iy6HNgrdx6jplabT1ZfQVzkCrk+jqjHEQw0NvfR/5Sb/NsvSUgBv2AbCahJdaB7p
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
[...]
