---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593452298"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"51c520f2-ba2f-11ea-9c6a-3b61cbd7c644","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593452298","created_at":"2020-06-29T17:38:18.630832+00:00","modified_at":"2020-06-29T17:38:18.630832+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sAPKocoLMDEnM5qY2PL6SCQ+dkENYAR/6IistAQ5iiTU/UnJHAba158nxOvVRvKJ
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593452298-updated"},"id":"51c520f2-ba2f-11ea-9c6a-3b61cbd7c644","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/51c520f2-ba2f-11ea-9c6a-3b61cbd7c644
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"51c520f2-ba2f-11ea-9c6a-3b61cbd7c644","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593452298-updated","created_at":"2020-06-29T17:38:18.630832+00:00","modified_at":"2020-06-29T17:38:18.828882+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NueLa2zkdBcl9S7BHrRuWyjAeR9iWgPFe330KTY6Cp0/yUhjUktbxu5rG2fG6gBk
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
