---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291681"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"a9257d5c-c1d1-11ea-9cf1-c36642ea3b73","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291681","created_at":"2020-07-09T10:48:01.833324+00:00","modified_at":"2020-07-09T10:48:01.833324+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pT9LlAdgAzlrCUxMXQkBRs/Qti76jKIHng1uB0/SctAaYjB4WqOgOZYpCbOMQKll
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291681-updated"},"id":"a9257d5c-c1d1-11ea-9cf1-c36642ea3b73","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/a9257d5c-c1d1-11ea-9cf1-c36642ea3b73
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"a9257d5c-c1d1-11ea-9cf1-c36642ea3b73","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291681-updated","created_at":"2020-07-09T10:48:01.833324+00:00","modified_at":"2020-07-09T10:48:02.099989+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sg8vzlrAXfi82gDuSEBUxkn5dG85uDtr4RhaVLNn521TM8s6JdimiKDHvX2NhFjo
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
[...]
