---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1617974761"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"20eb2002-9937-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1617974761","created_at":"2021-04-09T13:26:01.944483+00:00","modified_at":"2021-04-09T13:26:01.944483+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "489"
      X-Ratelimit-Reset:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Remove_a_user_from_a_role_returns_OK_response-1617974761@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"2105722c-9937-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1617974761@datadoghq.com","created_at":"2021-04-09T13:26:02.117675+00:00","modified_at":"2021-04-09T13:26:02.149450+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1617974761@datadoghq.com","icon":"https://secure.gravatar.com/avatar/63ee60a0b532869b65c4d9aa62b42654?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4276054"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"2105722c-9937-11eb-9ceb-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/20eb2002-9937-11eb-9ceb-da7ad0900002/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"2105722c-9937-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1617974761@datadoghq.com","created_at":"2021-04-09T13:26:02.117675+00:00","modified_at":"2021-04-09T13:26:02.149450+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1617974761@datadoghq.com","icon":"https://secure.gravatar.com/avatar/63ee60a0b532869b65c4d9aa62b42654?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"20eb2002-9937-11eb-9ceb-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "488"
      X-Ratelimit-Reset:
      - "58"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/20eb2002-9937-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276054"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "486"
      X-Ratelimit-Reset:
      - "58"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/2105722c-9937-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4276054"
    status: 204 No Content
    code: 204
    duration: ""
