---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-Feature_Roles-Scenario_Create_role_returns__OK__response-local-1595582922"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"10f29cd4-cd90-11ea-a33d-4399d533c678","attributes":{"name":"go-Feature_Roles-Scenario_Create_role_returns__OK__response-local-1595582922","created_at":"2020-07-24T09:28:43.153176+00:00","modified_at":"2020-07-24T09:28:43.153176+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - zDaLXgTwOglSG/+LeCisOhDwAOr7D4UzTY02i97kQg3V5W3f2nMLfChR6yLoaPN1
      X-Dd-Version:
      - "35.2781902"
    status: 200 OK
    code: 200
    duration: ""
