---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593447"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f4e55876-bb77-11ea-9c99-93ad4de3ae8a","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593447","created_at":"2020-07-01T08:50:47.238727+00:00","modified_at":"2020-07-01T08:50:47.238727+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OdMYjD4Lcx2EOYJ2NSqLNRIyMqxNYyUQxCcT6zY9ZmZ+zl9yipXz0nuLjH5hVxTY
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593447@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"f5076aec-bb77-11ea-9c99-4b4f89c0d61d","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593447@datadoghq.com","created_at":"2020-07-01T08:50:47.459523+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593447@datadoghq.com","icon":"https://secure.gravatar.com/avatar/67082f6d7a0ba4f94b8785f2bd8eb6c0?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Jhz2Lh32XBCZ7PVSj7/lof8hXjgbtiexG4VIRWAEYHPFefqyYpXnVaeT62yBncrB
      X-Dd-Version:
      - "35.2686699"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"f5076aec-bb77-11ea-9c99-4b4f89c0d61d","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/f4e55876-bb77-11ea-9c99-93ad4de3ae8a/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"f5076aec-bb77-11ea-9c99-4b4f89c0d61d","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593447@datadoghq.com","created_at":"2020-07-01T08:50:47.459523+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593447@datadoghq.com","icon":"https://secure.gravatar.com/avatar/67082f6d7a0ba4f94b8785f2bd8eb6c0?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"f4e55876-bb77-11ea-9c99-93ad4de3ae8a"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - B/LXPck0nGNX0RSV/Gw7cnZ0oe92FUOfg1ec7WcU0kSvw/UBT+IXTFTD87Snvz2v
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoleUsers
    url: https://api.datadoghq.com/api/v2/roles/f4e55876-bb77-11ea-9c99-93ad4de3ae8a/users
    method: GET
  response:
    body: '{"included":[{"type":"roles","id":"f4e55876-bb77-11ea-9c99-93ad4de3ae8a","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593447","created_at":"2020-07-01T08:50:47.238727+00:00","modified_at":"2020-07-01T08:50:47.238727+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"f5076aec-bb77-11ea-9c99-4b4f89c0d61d","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593447@datadoghq.com","created_at":"2020-07-01T08:50:47.459523+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593447@datadoghq.com","icon":"https://secure.gravatar.com/avatar/67082f6d7a0ba4f94b8785f2bd8eb6c0?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"f4e55876-bb77-11ea-9c99-93ad4de3ae8a"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pdoE+6MDHF3ASB0y6TdRZq9HO/3uAKc0XPY7EkyNyaFqpXeeAHwz2Ce2QWIN714X
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/f4e55876-bb77-11ea-9c99-93ad4de3ae8a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kg+/Cls6zaJcT2blJLlU62BwgGePGdpqSwWrJ0xEIvzmSMWHXxGNsiyEzBPJ1a96
      X-Dd-Version:
      - "35.2686699"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/f5076aec-bb77-11ea-9c99-4b4f89c0d61d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NclXS5F5t+kukUaODU4jY2oSI1KBdPHFdFhJZNfbXLWDOThxbCLlKKmYvikjdDSg
      X-Dd-Version:
      - "35.2686699"
    status: 204 No Content
    code: 204
    duration: ""
