---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616874"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"80a08224-bbae-11ea-9c9c-375b030409ee","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616874","created_at":"2020-07-01T15:21:14.491440+00:00","modified_at":"2020-07-01T15:21:14.491440+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QgRGXxkxV9A4PZPYRoesCGgupw+m7xaD1r9nbJHgAaPeprYV0FnzI0EYYO7x6f4+
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616874-updated"},"id":"80a08224-bbae-11ea-9c9c-375b030409ee","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/80a08224-bbae-11ea-9c9c-375b030409ee
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"80a08224-bbae-11ea-9c9c-375b030409ee","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616874-updated","created_at":"2020-07-01T15:21:14.491440+00:00","modified_at":"2020-07-01T15:21:14.783881+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Xj/PwLDKe3Ll1QwGP2SdQuyUcOtG0YD60hQDJ9tPEhK9OEMHkSCPXdZRvPX0YYGO
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
[...]
