---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616873"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"80556456-bbae-11ea-9c9c-f77c58bc366f","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616873","created_at":"2020-07-01T15:21:13.999673+00:00","modified_at":"2020-07-01T15:21:13.999673+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - YNGrI7M9aLfuf6Npp7n/51e6xDtYCO9Rm/LB+HGbX4I6A/e7rnC+cgQxIZnsU+fj
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/80556456-bbae-11ea-9c9c-f77c58bc366f
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"80556456-bbae-11ea-9c9c-f77c58bc366f","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616873","created_at":"2020-07-01T15:21:13.999673+00:00","modified_at":"2020-07-01T15:21:13.999673+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NueLa2zkdBcl9S7BHrRuWyjAeR9iWgPFe330KTY6Cp0/yUhjUktbxu5rG2fG6gBk
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
[...]
