---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-local-1617185823"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"3d8cad2c-920a-11eb-9bd0-da7ad0900002","attributes":{"name":"go-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-local-1617185823","created_at":"2021-03-31T10:17:04.487974+00:00","modified_at":"2021-03-31T10:17:04.487974+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4207503"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "56"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-local-1617185823@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"3da9bfa2-920a-11eb-9bd0-da7ad0900002","attributes":{"name":null,"handle":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1617185823@datadoghq.com","created_at":"2021-03-31T10:17:04.677469+00:00","modified_at":"2021-03-31T10:17:04.717640+00:00","email":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1617185823@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1f524c12044c1c769a9d32dc2385b206?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"3da9bfa2-920a-11eb-9bd0-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/3d8cad2c-920a-11eb-9bd0-da7ad0900002/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"3da9bfa2-920a-11eb-9bd0-da7ad0900002","attributes":{"name":null,"handle":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1617185823@datadoghq.com","created_at":"2021-03-31T10:17:04.677469+00:00","modified_at":"2021-03-31T10:17:04.717640+00:00","email":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1617185823@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1f524c12044c1c769a9d32dc2385b206?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"3d8cad2c-920a-11eb-9bd0-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4207503"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "56"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/3d8cad2c-920a-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4207503"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "496"
      X-Ratelimit-Reset:
      - "55"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/3da9bfa2-920a-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4207503"
    status: 204 No Content
    code: 204
    duration: ""
