---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593593442"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f21dbde0-bb77-11ea-9c99-2303a305b19d","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593593442","created_at":"2020-07-01T08:50:42.574874+00:00","modified_at":"2020-07-01T08:50:42.574874+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FkKIRCzyOlcTfevOWu/Pn0jzNwYGEOKsDSSLLIk1UH0umdv3B3q8BoRMqfK8ce37
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/f21dbde0-bb77-11ea-9c99-2303a305b19d
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"f21dbde0-bb77-11ea-9c99-2303a305b19d","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593593442","created_at":"2020-07-01T08:50:42.574874+00:00","modified_at":"2020-07-01T08:50:42.574874+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FGm8mbL/ixNS/zyX94m5xaWAxszhu9w68KL0QwTbLNqYgp2ZyX2W4rsoYLDoadr+
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
[...]
