---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1595582924"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"11b4e9ce-cd90-11ea-a33d-93da1dacccee","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1595582924","created_at":"2020-07-24T09:28:44.426136+00:00","modified_at":"2020-07-24T09:28:44.426136+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - MZCX71FNdAUQ6AMWRBKW1fkNpiPTypOoXE57zLYE3lG5gigqB2nroYJ/8uMn9muy
      X-Dd-Version:
      - "35.2781942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1595582924-updated"},"id":"11b4e9ce-cd90-11ea-a33d-93da1dacccee","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/11b4e9ce-cd90-11ea-a33d-93da1dacccee
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"11b4e9ce-cd90-11ea-a33d-93da1dacccee","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1595582924-updated","created_at":"2020-07-24T09:28:44.426136+00:00","modified_at":"2020-07-24T09:28:44.619833+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pxuY3ZnSwE+rCP/MLubWk3EuAMlxxciIsQ2EBSRxZafCu9H4+UEVULDCm144bb3W
      X-Dd-Version:
      - "35.2781902"
    status: 200 OK
    code: 200
    duration: ""
[...]
