---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593443"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f2720648-bb77-11ea-9c99-2f852a7d419f","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593443","created_at":"2020-07-01T08:50:43.127149+00:00","modified_at":"2020-07-01T08:50:43.127149+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wn01ZjXucAfzJfwvKAkpy0yFfNtHyWu4ZB2aA4ZDwwhXkyLHirYeUNsx208dZz9p
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593443-updated"},"id":"f2720648-bb77-11ea-9c99-2f852a7d419f","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/f2720648-bb77-11ea-9c99-2f852a7d419f
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"f2720648-bb77-11ea-9c99-2f852a7d419f","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Update_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593443-updated","created_at":"2020-07-01T08:50:43.127149+00:00","modified_at":"2020-07-01T08:50:43.314579+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1bzfAqb/6TIngEeU7r7YcGGp2+NaI+ne9J3bzgQrdB0qTrgVrMtd4iKXr1zCNOHr
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
[...]
