---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Delete_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593441"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f1c9edaa-bb77-11ea-9c99-67f779c7d2c5","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Delete_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593441","created_at":"2020-07-01T08:50:42.025858+00:00","modified_at":"2020-07-01T08:50:42.025858+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - menB+JzZJZWnsBMzYDdvLqZLyJ1Z3XKvvLNUvAnnxCkhc359HSRPRWZhATTwUzcU
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/f1c9edaa-bb77-11ea-9c99-67f779c7d2c5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - iMTE1BmjsL8tFxXfV1x35HHEpphKhyShj7mGG+gCh4hVOBaK9+R0wmURPHnATwmw
      X-Dd-Version:
      - "35.2686699"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/f1c9edaa-bb77-11ea-9c99-67f779c7d2c5
    method: DELETE
  response:
    body: '{"errors": ["The role f1c9edaa-bb77-11ea-9c99-67f779c7d2c5 does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2686699"
    status: 404 Not Found
    code: 404
    duration: ""
