---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291689"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"ad8345dc-c1d1-11ea-9cf1-db8b22cfd006","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291689","created_at":"2020-07-09T10:48:09.160161+00:00","modified_at":"2020-07-09T10:48:09.160161+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hABsPq9DIvV7yAEiU7rMxs7UCRuTbRH/kYpwue4a0q9qmwd4SUh9bBZ5SHPkBLc6
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid__user__in_the_system-local-1594291689@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"adaf4100-c1d1-11ea-9cf1-63fdc86d9041","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid__user__in_the_system-local-1594291689@datadoghq.com","created_at":"2020-07-09T10:48:09.447440+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid__user__in_the_system-local-1594291689@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bc5a9147483830eb124a587f458aeafc?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LSmCynIhKaei2ZXhUwyt9n5ny5nHZCYRNYsTU4+Q86mceDsWCQtfUVf4lac22qNa
      X-Dd-Version:
      - "35.2719040"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"adaf4100-c1d1-11ea-9cf1-63fdc86d9041","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/ad8345dc-c1d1-11ea-9cf1-db8b22cfd006/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"adaf4100-c1d1-11ea-9cf1-63fdc86d9041","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid__user__in_the_system-local-1594291689@datadoghq.com","created_at":"2020-07-09T10:48:09.447440+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid__user__in_the_system-local-1594291689@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bc5a9147483830eb124a587f458aeafc?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"ad8345dc-c1d1-11ea-9cf1-db8b22cfd006"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - em3KoJu1XYdqq1w4EpLi4L54svjYBxZahEDJ8c5gcdIOxnNafHMdF5LLysPLuNcH
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoleUsers
    url: https://api.datadoghq.com/api/v2/roles/ad8345dc-c1d1-11ea-9cf1-db8b22cfd006/users
    method: GET
  response:
    body: '{"included":[{"type":"roles","id":"ad8345dc-c1d1-11ea-9cf1-db8b22cfd006","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291689","created_at":"2020-07-09T10:48:09.160161+00:00","modified_at":"2020-07-09T10:48:09.160161+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
      Access","description":"This permission gives you the ability to view and edit
      components in your Datadog organization that do not have explicitly defined
      permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9","attributes":{"name":"logs_write_pipelines","display_name":"Logs
      Write Pipelines","description":"The ability to add and change log pipeline configurations,
      including the ability to grant the Logs Write Processors permission to other
      roles, for some or all pipelines. This permission also grants global Log Processor
      Write implicitly.","created":"2018-10-31T13:40:17.996379+00:00","group_name":"Logs","d[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/ad8345dc-c1d1-11ea-9cf1-db8b22cfd006
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wi4QF3nhe5s0sRyfZvyTHLc/3mQu/jJVn8BZnev44SXt+VBNA1+haKi5VcNZFpaP
      X-Dd-Version:
      - "35.2719040"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/adaf4100-c1d1-11ea-9cf1-63fdc86d9041
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - YKF8+1vTI0wiWlB3VWhiMVnZ1RLtV3h2yAW6/TGe9qIMWdYXxsNpy3J4QxfrJoDD
      X-Dd-Version:
      - "35.2719040"
    status: 204 No Content
    code: 204
    duration: ""
