---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616878"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"833de49a-bbae-11ea-9c9c-8f5b8a85b140","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616878","created_at":"2020-07-01T15:21:18.878945+00:00","modified_at":"2020-07-01T15:21:18.878945+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rxkz+JB0yzarEINDeNWQGs9dk7PLNAMnAw2wV8MNkZOhKDtz+JOpGuIyyBUaWwyF
      X-Dd-Version:
      - "35.2688399"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616878@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8369b1c4-bbae-11ea-9c9c-abe9aa672ea2","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616878@datadoghq.com","created_at":"2020-07-01T15:21:19.165118+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616878@datadoghq.com","icon":"https://secure.gravatar.com/avatar/58332e33b10b9747207447e09884af38?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Lo9psmCk9egobltaxBGqrQFhgCcgUTQoFZpr2xiSR+6tucB/owychJvFjr9YMWzu
      X-Dd-Version:
      - "35.2688399"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"8369b1c4-bbae-11ea-9c9c-abe9aa672ea2","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/833de49a-bbae-11ea-9c9c-8f5b8a85b140/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"8369b1c4-bbae-11ea-9c9c-abe9aa672ea2","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616878@datadoghq.com","created_at":"2020-07-01T15:21:19.165118+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616878@datadoghq.com","icon":"https://secure.gravatar.com/avatar/58332e33b10b9747207447e09884af38?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"833de49a-bbae-11ea-9c9c-8f5b8a85b140"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - CPK+34LtKdL5YYX/NFOJUdMpxMoO80HISGpGpzDG5fENYSoZ2QNw1gEubOsJ9JNb
      X-Dd-Version:
      - "35.2688399"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoleUsers
    url: https://api.datadoghq.com/api/v2/roles/833de49a-bbae-11ea-9c9c-8f5b8a85b140/users
    method: GET
  response:
    body: '{"included":[{"type":"roles","id":"833de49a-bbae-11ea-9c9c-8f5b8a85b140","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616878","created_at":"2020-07-01T15:21:18.878945+00:00","modified_at":"2020-07-01T15:21:18.878945+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"8369b1c4-bbae-11ea-9c9c-abe9aa672ea2","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616878@datadoghq.com","created_at":"2020-07-01T15:21:19.165118+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616878@datadoghq.com","icon":"https://secure.gravatar.com/avatar/58332e33b10b9747207447e09884af38?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"833de49a-bbae-11ea-9c9c-8f5b8a85b140"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - B/LXPck0nGNX0RSV/Gw7cnZ0oe92FUOfg1ec7WcU0kSvw/UBT+IXTFTD87Snvz2v
      X-Dd-Version:
      - "35.2688399"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/833de49a-bbae-11ea-9c9c-8f5b8a85b140
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yL2jMz/muX5URjcdpTHzlehf0qi0hyVxH7uShvIhWEeYrIRwdt0CU/7wzCTakK6N
      X-Dd-Version:
      - "35.2688310"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8369b1c4-bbae-11ea-9c9c-abe9aa672ea2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2qCkWfddHrPF9jSCADI+4oMJC7ye/JJPxREHTFHEFILURsabvi1w9B+PDmBrh/Xk
      X-Dd-Version:
      - "35.2688310"
    status: 204 No Content
    code: 204
    duration: ""
