---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616877"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"827df40a-bbae-11ea-9c9c-77a8fdcbb0ea","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616877","created_at":"2020-07-01T15:21:17.620450+00:00","modified_at":"2020-07-01T15:21:17.620450+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +0e88dcOoH2a7qrZ5zz4PnubdrAKvSl+k8YKr4bhBQyArPBFiYg3oXWqeVKLPB1I
      X-Dd-Version:
      - "35.2688399"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616877@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_remo","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"829bbefe-bbae-11ea-9c9c-1b2efb447638","attributes":{"name":"go-testscenarios-feature_roles-scenario_remo","handle":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616877@datadoghq.com","created_at":"2020-07-01T15:21:17.814682+00:00","email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616877@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6c4c9ab78b48d377dc81a573f72a7593?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - MZCX71FNdAUQ6AMWRBKW1fkNpiPTypOoXE57zLYE3lG5gigqB2nroYJ/8uMn9muy
      X-Dd-Version:
      - "35.2688310"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"829bbefe-bbae-11ea-9c9c-1b2efb447638","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/827df40a-bbae-11ea-9c9c-77a8fdcbb0ea/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"829bbefe-bbae-11ea-9c9c-1b2efb447638","attributes":{"name":"go-testscenarios-feature_roles-scenario_remo","handle":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616877@datadoghq.com","created_at":"2020-07-01T15:21:17.814682+00:00","email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616877@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6c4c9ab78b48d377dc81a573f72a7593?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"827df40a-bbae-11ea-9c9c-77a8fdcbb0ea"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - /Lq4EjXKMzRKp9qa/TaJTTVqSY3uTwQpdi8SFIU3firYrLG0qdPC+ksTJBROerQS
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/827df40a-bbae-11ea-9c9c-77a8fdcbb0ea
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nSRgqrrNNmPPT6VSGZq0R9QdtdJF1qxzho2//eboP+tsIQDRgfSx3bSVb1t6QyYb
      X-Dd-Version:
      - "35.2688310"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/829bbefe-bbae-11ea-9c9c-1b2efb447638
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - i90G6k4M6qI4UypyvMoczcO5m+jatiEQSMeHpdjycp0h4nWxRpKUHr6efynkbQs+
      X-Dd-Version:
      - "35.2688310"
    status: 204 No Content
    code: 204
    duration: ""
