---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_role_returns_OK_response-1617977675"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"e9a13de6-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617977675","created_at":"2021-04-09T14:14:35.664279+00:00","modified_at":"2021-04-09T14:14:35.664279+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "466"
      X-Ratelimit-Reset:
      - "25"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Update_a_role_returns_OK_response-1617977675-updated"},"id":"e9a13de6-993d-11eb-9ceb-da7ad0900002","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/e9a13de6-993d-11eb-9ceb-da7ad0900002
    method: PATCH
  response:
    body: '{"data":{"type":"roles","id":"e9a13de6-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617977675-updated","created_at":"2021-04-09T14:14:35.664279+00:00","modified_at":"2021-04-09T14:14:35.827654+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "465"
      X-Ratelimit-Reset:
      - "25"
    status: 200 OK
    code: 200
    duration: ""
[...]
