---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Add_a_user_to_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616880"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"8471f0ea-bbae-11ea-9c9c-d378f2d9d1ab","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Add_a_user_to_a_role_returns__OK__response-Given_there_is_a_valid_role_in_the_system-local-1593616880","created_at":"2020-07-01T15:21:20.897682+00:00","modified_at":"2020-07-01T15:21:20.897682+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - CPK+34LtKdL5YYX/NFOJUdMpxMoO80HISGpGpzDG5fENYSoZ2QNw1gEubOsJ9JNb
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616880@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_add_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8498ae06-bbae-11ea-9c9c-e7c7d4efcf8a","attributes":{"name":"go-testscenarios-feature_roles-scenario_add_","handle":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616880@datadoghq.com","created_at":"2020-07-01T15:21:21.150830+00:00","email":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616880@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f111202a30dd16ad4d4a53aa7640099e?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0pa1dtuadfHOUeVqLiK3mljtwHC7xKOrqXlG1EXfeExc1YyvZm51+jZLEiJ3YUs6
      X-Dd-Version:
      - "35.2688310"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"8498ae06-bbae-11ea-9c9c-e7c7d4efcf8a","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/8471f0ea-bbae-11ea-9c9c-d378f2d9d1ab/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"8498ae06-bbae-11ea-9c9c-e7c7d4efcf8a","attributes":{"name":"go-testscenarios-feature_roles-scenario_add_","handle":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616880@datadoghq.com","created_at":"2020-07-01T15:21:21.150830+00:00","email":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_returns__ok__response-and_there_is_a_valid_user_in_the_system-local-1593616880@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f111202a30dd16ad4d4a53aa7640099e?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"8471f0ea-bbae-11ea-9c9c-d378f2d9d1ab"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HTCsbjwqQM0jTFHFq9ukWObBv4f/yxvHIxzrANPhzJkr6s3+rN5uCN3TcZuK2V2B
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/8471f0ea-bbae-11ea-9c9c-d378f2d9d1ab
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RbevWUvO2oQYYDnX/G1lndTh/kTt+ebFIvajU6/3Ivb5c6aUQf49/uD1ICaXyx52
      X-Dd-Version:
      - "35.2688310"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8498ae06-bbae-11ea-9c9c-e7c7d4efcf8a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - L5yd3v29mZzDtdpTLB/OLdaP/nm856X8oKVK7IsHIbLmKRYkqq5Jv7+SBx/bs1VS
      X-Dd-Version:
      - "35.2688399"
    status: 204 No Content
    code: 204
    duration: ""
