---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1595582923"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"1168d4d0-cd90-11ea-a33d-d3ed764c3cf3","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1595582923","created_at":"2020-07-24T09:28:43.927820+00:00","modified_at":"2020-07-24T09:28:43.927820+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sAPKocoLMDEnM5qY2PL6SCQ+dkENYAR/6IistAQ5iiTU/UnJHAba158nxOvVRvKJ
      X-Dd-Version:
      - "35.2781942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/1168d4d0-cd90-11ea-a33d-d3ed764c3cf3
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"1168d4d0-cd90-11ea-a33d-d3ed764c3cf3","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1595582923","created_at":"2020-07-24T09:28:43.927820+00:00","modified_at":"2020-07-24T09:28:43.927820+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 4HTfT92VNwJOKM3+9Fghpi7RnKwXOMM9XiE8bZkwhVPDb5jbW4knJKZPCpE1XUb8
      X-Dd-Version:
      - "35.2781942"
    status: 200 OK
    code: 200
    duration: ""
[...]
