---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291681"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"a8c22c34-c1d1-11ea-9cf1-07de9e3b3092","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291681","created_at":"2020-07-09T10:48:01.182892+00:00","modified_at":"2020-07-09T10:48:01.182892+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pxuY3ZnSwE+rCP/MLubWk3EuAMlxxciIsQ2EBSRxZafCu9H4+UEVULDCm144bb3W
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/a8c22c34-c1d1-11ea-9cf1-07de9e3b3092
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"a8c22c34-c1d1-11ea-9cf1-07de9e3b3092","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_returns__OK__response-Given_there_is_a_valid__role__in_the_system-local-1594291681","created_at":"2020-07-09T10:48:01.182892+00:00","modified_at":"2020-07-09T10:48:01.182892+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vlc9b/rJPByGsV/acj3ScS7B1lo9nEAbSgYCfkl0GH3egry4iXeiGBP0WX8DpJ/T
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
[...]
