---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Add_a_user_to_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593448"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f5a3a29a-bb77-11ea-9c99-6b6f397c50ee","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Add_a_user_to_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593448","created_at":"2020-07-01T08:50:48.485808+00:00","modified_at":"2020-07-01T08:50:48.485808+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RL7BSOiWXeq2P2iJbmiDo/2BPpcpoCDzQceVuBkp6yO348trcqTrfm/pm8rvZRoT
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593448@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_add_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"f5c4010c-bb77-11ea-9c99-7b0f959e8cf6","attributes":{"name":"go-testscenarios-feature_roles-scenario_add_","handle":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593448@datadoghq.com","created_at":"2020-07-01T08:50:48.696642+00:00","email":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593448@datadoghq.com","icon":"https://secure.gravatar.com/avatar/64734a63f95715a77a426f923a5ced43?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - P2v7RkLoCWSKqMAo7HF484UAAT2/cQHsvX2DV8G10CAxYBcO25Cq9ZgfwOWpYGFP
      X-Dd-Version:
      - "35.2686699"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"f5c4010c-bb77-11ea-9c99-7b0f959e8cf6","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/f5a3a29a-bb77-11ea-9c99-6b6f397c50ee/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"f5c4010c-bb77-11ea-9c99-7b0f959e8cf6","attributes":{"name":"go-testscenarios-feature_roles-scenario_add_","handle":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593448@datadoghq.com","created_at":"2020-07-01T08:50:48.696642+00:00","email":"go-testscenarios-feature_roles-scenario_add_a_user_to_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593448@datadoghq.com","icon":"https://secure.gravatar.com/avatar/64734a63f95715a77a426f923a5ced43?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"f5a3a29a-bb77-11ea-9c99-6b6f397c50ee"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - l+fZq7vW9gg1qInAzXkJZdt8f8e/094RDnN9pOEIlkXbx1jb6kpjgt1+syYCZyFC
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/f5a3a29a-bb77-11ea-9c99-6b6f397c50ee
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ns395qtajdi4vImLC5PhByq3vzX3KV9r4kOaLqZ3Kb42AGxxpM06vNzB/Pdubr1b
      X-Dd-Version:
      - "35.2686699"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/f5c4010c-bb77-11ea-9c99-7b0f959e8cf6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - AZX6w/8zD+VN3BjlP7mTxsWKLW39bs6QmKw7eyNlBdxzsMsZp5eTFn4umzElZK4n
      X-Dd-Version:
      - "35.2686699"
    status: 204 No Content
    code: 204
    duration: ""
