---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-local-1607022755"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"80b48e42-359b-11eb-87c2-2bedd226ee5d","attributes":{"name":"go-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-local-1607022755","created_at":"2020-12-03T19:12:36.044194+00:00","modified_at":"2020-12-03T19:12:36.044194+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0e2Tq/aa08wSuRoWDdF6eCwF8GPYPPLmf3Lxvgc5OscTNyr8D4p+ksnId5WnGnR4
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "474"
      X-Ratelimit-Reset:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Roles-Scenario_Remove_a_user_from_a_role_returns__OK__response-local-1607022755@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"80e14716-359b-11eb-87c2-ffabec6be387","attributes":{"name":null,"handle":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1607022755@datadoghq.com","created_at":"2020-12-03T19:12:36.336321+00:00","email":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1607022755@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0033c7f739dd97cf7d61e46a3362c851?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Et2YiqVRxti9EZo6Gk/yyRrgDmYxZuoE62JE6GLJjDYX0PgDmkmo9d4ASFrtRIDj
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"80e14716-359b-11eb-87c2-ffabec6be387","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/80b48e42-359b-11eb-87c2-2bedd226ee5d/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"80e14716-359b-11eb-87c2-ffabec6be387","attributes":{"name":null,"handle":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1607022755@datadoghq.com","created_at":"2020-12-03T19:12:36.336321+00:00","email":"go-feature_roles-scenario_remove_a_user_from_a_role_returns__ok__response-local-1607022755@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0033c7f739dd97cf7d61e46a3362c851?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"80b48e42-359b-11eb-87c2-2bedd226ee5d"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "473"
      X-Ratelimit-Reset:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/80b48e42-359b-11eb-87c2-2bedd226ee5d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - laGkCMnt9yzADERvt5/nU5tJ2BKmoQx1BUE4x31rlC7mriAyKM9Zk5E+JikpAz3V
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "471"
      X-Ratelimit-Reset:
      - "23"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/80e14716-359b-11eb-87c2-ffabec6be387
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +TTazL1HF8qoxYARkG/60PGoq8sbkYkmqeurNry46zV0aHqBZfUrKqxtiyo42NRf
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
