---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Remove_a_user_from_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593445"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f42d29e0-bb77-11ea-9c99-ebc450e9ab22","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Remove_a_user_from_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593593445","created_at":"2020-07-01T08:50:46.031677+00:00","modified_at":"2020-07-01T08:50:46.031677+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - jety+2H6BA1H4x31+wzy5BjqI2NDwh54fgbjSYyrLU0p2tWQPCCTKspX7sHO7u1n
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593445@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_remo","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"f44c3fb0-bb77-11ea-9c99-2b01929f3080","attributes":{"name":"go-testscenarios-feature_roles-scenario_remo","handle":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593445@datadoghq.com","created_at":"2020-07-01T08:50:46.234454+00:00","email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593445@datadoghq.com","icon":"https://secure.gravatar.com/avatar/51155618a158ac9a9693c16444e68342?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - v8lEj/pYmsavh1I0Db6FT/BAvLdOdAv91ctM9ImcmfZ/KHrCACXEdhuskTCPihd+
      X-Dd-Version:
      - "35.2686699"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"f44c3fb0-bb77-11ea-9c99-2b01929f3080","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/f42d29e0-bb77-11ea-9c99-ebc450e9ab22/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"f44c3fb0-bb77-11ea-9c99-2b01929f3080","attributes":{"name":"go-testscenarios-feature_roles-scenario_remo","handle":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593445@datadoghq.com","created_at":"2020-07-01T08:50:46.234454+00:00","email":"go-testscenarios-feature_roles-scenario_remove_a_user_from_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593593445@datadoghq.com","icon":"https://secure.gravatar.com/avatar/51155618a158ac9a9693c16444e68342?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"f42d29e0-bb77-11ea-9c99-ebc450e9ab22"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vG5kxpR47Wd0uZGIzWkStfMxs3cmVIjKYEHLQf0xQiHS0P2BwlwJHwTESUSKlcdO
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/f42d29e0-bb77-11ea-9c99-ebc450e9ab22
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nSRgqrrNNmPPT6VSGZq0R9QdtdJF1qxzho2//eboP+tsIQDRgfSx3bSVb1t6QyYb
      X-Dd-Version:
      - "35.2686699"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/f44c3fb0-bb77-11ea-9c99-2b01929f3080
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NclXS5F5t+kukUaODU4jY2oSI1KBdPHFdFhJZNfbXLWDOThxbCLlKKmYvikjdDSg
      X-Dd-Version:
      - "35.2686699"
    status: 204 No Content
    code: 204
    duration: ""
