---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-Feature_Roles-Scenario_Create_role_returns__OK__response-local-1594291680"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"a8313c9c-c1d1-11ea-9cf1-23de442a585b","attributes":{"name":"go-Feature_Roles-Scenario_Create_role_returns__OK__response-local-1594291680","created_at":"2020-07-09T10:48:00.233758+00:00","modified_at":"2020-07-09T10:48:00.233758+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 11g4TM+MO8VJV6iUJTOff4hAGEXsIqbG4IMv2YuWygOleCGxCxx6NihCkVtjenZN
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
