---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-Feature_Roles-Scenario_Create_role_returns__OK__response-local-1593616873"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"7fe8b798-bbae-11ea-9c9c-271a6c894e7c","attributes":{"name":"go-Feature_Roles-Scenario_Create_role_returns__OK__response-local-1593616873","created_at":"2020-07-01T15:21:13.287146+00:00","modified_at":"2020-07-01T15:21:13.287146+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LOVPYRkvxiVgJlSU7tTR5QW5I3IByFfoP5oRWZk6jukYFQiYGeCZXWoo6PiPBzrK
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
