interactions:
- request:
    body: |
      {"filter":{"query":"source:python"},"name":"testPipeline","processors":[{"is_enabled":true,"name":"test_filter","sources":["dd.span_id"],"type":"span-id-remapper"}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body: '{"id":"duWU4bc3ROq5nz7GVi5TzA","type":"pipeline","name":"testPipeline","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"test_filter","is_enabled":true,"sources":["dd.span_id"],"type":"span-id-remapper"}],"tags":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/duWU4bc3ROq5nz7GVi5TzA
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
