interactions:
- request:
    body: |
      {"filter":{"query":"source:python"},"name":"testPipelineArrayKeyValue","processors":[{"is_enabled":true,"name":"extract_kv","operation":{"key_to_extract":"name","source":"tags","type":"key-value","value_to_extract":"value"},"type":"array-processor"}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body: '{"id":"KLmRE95XSCKQcsktzgs9eQ","type":"pipeline","name":"testPipelineArrayKeyValue","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"extract_kv","is_enabled":true,"operation":{"source":"tags","key_to_extract":"name","value_to_extract":"value","override_on_conflict":false,"type":"key-value"},"type":"array-processor"}],"tags":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/KLmRE95XSCKQcsktzgs9eQ
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
