interactions:
- request:
    body: |
      {"filter":{"query":"source:python"},"name":"testPipelineArrayAppend","processors":[{"is_enabled":true,"name":"append_ip_to_array","operation":{"source":"network.client.ip","target":"sourceIps","type":"append"},"type":"array-processor"}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body: '{"id":"s_cPqdnkQVaU6PwbPPt2ZQ","type":"pipeline","name":"testPipelineArrayAppend","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"append_ip_to_array","is_enabled":true,"operation":{"source":"network.client.ip","target":"sourceIps","preserve_source":true,"type":"append"},"type":"array-processor"}],"tags":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/s_cPqdnkQVaU6PwbPPt2ZQ
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
