interactions:
- request:
    body: |
      {"filter":{"query":"source:python"},"name":"testPipelineArrayKeyValueTarget","processors":[{"is_enabled":true,"name":"extract_kv_to_target","operation":{"key_to_extract":"name","override_on_conflict":true,"source":"tags","target":"extracted","type":"key-value","value_to_extract":"value"},"type":"array-processor"}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body: '{"id":"LsxyDpcbTL6KztluS2oBYA","type":"pipeline","name":"testPipelineArrayKeyValueTarget","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"extract_kv_to_target","is_enabled":true,"operation":{"source":"tags","target":"extracted","key_to_extract":"name","value_to_extract":"value","override_on_conflict":true,"type":"key-value"},"type":"array-processor"}],"tags":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/LsxyDpcbTL6KztluS2oBYA
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
