---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"filter":{"from":"now-2h","query":"Test-TestLogsListWithRetry-1677770446","storage_tier":"indexes","to":"now+2h"},"sort":"timestamp"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/events/search
        method: POST
      response:
        body: |
            {"data":[]}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "10"
            X-Ratelimit-Name:
                - logs_public_search_api
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "0"
            X-Ratelimit-Reset:
                - "1"
        status: 429 Too Many Requests
        code: 429
        duration: 0s
[...]
