---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"name":"Test-TestDashboardListCreateItemsErrors-1618220882"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
        body: '{"is_favorite":false,"name":"Test-TestDashboardListCreateItemsErrors-1618220882","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-04-12T09:48:02.892517+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-04-12T09:48:02.892534+00:00","id":191749}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/191749
        method: DELETE
      response:
        body: '{"deleted_dashboard_list_id":191749}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
