---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"name":"Test-TestDashboardListItemCRUD-1665993822"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
        body: |
            {"is_favorite":false,"name":"Test-TestDashboardListItemCRUD-1665993822","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2022-10-17T08:03:42.627525+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2022-10-17T08:03:42.627533+00:00","id":334703}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: |
            {"dashboards":[{"id":"1","type":"integration_timeboard"},{"id":"q5j-nti-fv6","type":"custom_timeboard"},{"id":"4n7-s4g-dqv","type":"custom_screenboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/334703/dashboards
        method: POST
      response:
        body: |
            {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"q5j-nti-fv6"},{"type":"custom_screenboard","id":"4n7-s4g-dqv"},{"type":"integration_timeboard","id":"1"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 2
      request:
        host: ""
        body: |
            {"dashboards":[{"id":"1","type":"integration_timeboard"},{"id":"q5j-nti-fv6","type":"custom_timeboard"},{"id":"4n7-s4g-dqv","type":"custom_screenboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/334703/dashboards
        method: DELETE
      response:
        body: |
            {"deleted_dashboards_from_list":[{"type":"integration_timeboard","id":"1"},{"type":"custom_timeboard","id":"q5j-nti-fv6"},{"type":"custom_screenboard","id":"4n7-s4g-dqv"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 3
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/334703/dashboards
        method: GET
      response:
        body: |
            {"total":0,"dashboards":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 6
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/334703/dashboards
        method: GET
      response:
        body: |
            {"total":1,"dashboards":[{"popularity":0,"title":"For dashboard list tests - DO NOT DELETE","is_favorite":false,"id":"4n7-s4g-dqv","icon":null,"integration_id":null,"is_shared":true,"author":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry"},"url":"/dashboard/4n7-s4g-dqv/for-dashboard-list-tests---do-not-delete","created":"2020-02-11T13:49:29.555334+00:00","modified":"2020-04-08T17:54:25.574039+00:00","is_read_only":false,"type":"custom_screenboard"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 7
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/334703
        method: DELETE
      response:
        body: |
            {"deleted_dashboard_list_id":334703}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
