---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{"ddsource": "go-client-test-Test-TestLogsList-1666706629", "ddtags": "go,test,list", "hostname": "Test-TestLogsList-1666706629", "message": "{\"timestamp\": 1666705629000, \"message\": \"test-log-list-1 Test-TestLogsList-1666706629\"}"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://http-intake.logs.datadoghq.com/v1/input
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 2
      request:
        host: ""
        body: |
            {"filter":{"from":"now-2h","query":"Test-TestLogsList-1666706629","storage_tier":"indexes","to":"now+2h"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/events/search
        method: POST
      response:
        body: |
            {"data":[]}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "10"
            X-Ratelimit-Name:
                - logs_public_search_api
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "9"
            X-Ratelimit-Reset:
                - "10"
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 4
      request:
        host: ""
        body: |
            {"filter":{"from":"now-2h","query":"Test-TestLogsList-1666706629","storage_tier":"indexes","to":"now+2h"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/events/search
        method: POST
      response:
        body: |
            {"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWVFQWlo5SVVCLXJBUUFBQUFCQldWRlFaRTlZVUVGQlFUZGpPR1UyVjNGNExURlJRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1666706629","test","go","list","source:go-client-test-test-testlogslist-1666706629"],"timestamp":"2022-10-25T14:03:48.000Z","host":"Test-TestLogsList-1666706629","attributes":{"timestamp":1666706628000,"hostname":"Test-TestLogsList-1666706629"},"message":"test-log-list-2 Test-TestLogsList-1666706629"},"type":"log","id":"AQAAAYQPdN2gTuv3EwAAAABBWVFQZE9YNUFBQndJeHBhYmtJLU9BQUE"},{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1666706629","test","go","list","source:go-client-test-test-testlogslist-1666706629"],"timestamp":"2022-10-25T13:47:09.000Z","host":"Test-TestLogsList-1666706629","attributes":{"timestamp":1666705629000,"hostname":"Test-TestLogsList-1666706629"},"message":"test-log-list-1 Test-TestLogsList-1666706629"},"type":"log","id":"AQAAAYQPZZ9IUB-rAQAAAABBWVFQZE9YUEFBQTdjOGU2V3F4LTFRQUE"}],"links":{"next":"https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=now-2h&filter%5Bquery%5D=Test-TestLogsList-1666706629&filter%5Bto%5D=now%2B2h&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWVFQWlo5SVVCLXJBUUFBQUFCQldWRlFaRTlZVUVGQlFUZGpPR1UyVjNGNExURlJRVUUifQ"}}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "10"
            X-Ratelimit-Name:
                - logs_public_search_api
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "9"
            X-Ratelimit-Reset:
                - "10"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 5
      request:
        host: ""
        body: |
            {"filter":{"from":"now-2h","query":"Test-TestLogsList-1666706629","storage_tier":"indexes","to":"now+2h"},"sort":"timestamp"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/events/search
        method: POST
      response:
        body: |
            {"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWVFQZE4yZ1R1djNFd0FBQUFCQldWRlFaRTlZTlVGQlFuZEplSEJoWW10SkxVOUJRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1666706629","test","go","list","source:go-client-test-[...]
[...]
    - id: 7
      request:
        host: ""
        body: |
            {"filter":{"from":"now-2h","query":"Test-TestLogsList-1666706629","storage_tier":"indexes","to":"now+2h"},"page":{"limit":1},"sort":"-timestamp"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/events/search
        method: POST
      response:
        body: |
            {"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWVFQZE4yZ1R1djNFd0FBQUFCQldWRlFaRTlZTlVGQlFuZEplSEJoWW10SkxVOUJRVUUifQ"}},"data":[{"attributes":{"status":"info","tags":["source:go-client-test-test-testlogslist-1666706629","test","go","list","source:go-c[...]
    - id: 8
      request:
        host: ""
        body: |
            {"filter":{"from":"now-2h","query":"Test-TestLogsList-1666706629","storage_tier":"indexes","to":"now+2h"},"page":{"cursor":"eyJhZnRlciI6IkFRQUFBWVFQZE4yZ1R1djNFd0FBQUFCQldWRlFaRTlZTlVGQlFuZEplSEJoWW10SkxVOUJRVUUifQ","limit":1},"sort":"-timestamp"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/events/search
        method: POST
      response:
        body: |
            {"meta":{"page":{"after":"eyJhZnRlciI6IkFRQUFBWVFQWlo5SVVCLXJBUUFBQUFCQldWRlFaRTlZVUVGQlFUZGpPR1UyVjNGNExURlJRVUUifQ"}},"data":[{"attributes":{"status[...]
