---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"name":"Test-TestDashboardListDeleteItemsErrors-1618220884"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
        body: '{"is_favorite":false,"name":"Test-TestDashboardListDeleteItemsErrors-1618220884","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-04-12T09:48:04.388565+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-04-12T09:48:04.388583+00:00","id":191751}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/191751
        method: DELETE
      response:
        body: '{"deleted_dashboard_list_id":191751}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
