---
version: 1
interactions:
- request:
    body: |
      {"filter":{"from":"now-2h","query":"Test-TestLogsListWithRetry-1677770446","storage_tier":"indexes","to":"now+2h"},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/logs/events/search
    method: POST
  response:
    body: |
      {"data":[]}
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "10"
      X-Ratelimit-Name:
      - logs_public_search_api
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "9"
      X-Ratelimit-Reset:
      - "4"
    status: 429 retry
    code: 429
    duration: ""
[...]
