---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"name":"Test-TestDashboardListUpdateItemsErrors-1618220883"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
        body: '{"is_favorite":false,"name":"Test-TestDashboardListUpdateItemsErrors-1618220883","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-04-12T09:48:03.523418+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-04-12T09:48:03.523435+00:00","id":191750}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/191750
        method: DELETE
      response:
        body: '{"deleted_dashboard_list_id":191750}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
