interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/org_configs
  response:
    body: '{"data":[{"type":"org_configs","id":"4c2b0cec-de6d-5030-b3fd-391b34ff99eb","attributes":{"name":"invalid_session_30_days","description":"Test
      test test","value_type":"bool","value":true,"modified_at":null}},{"type":"org_configs","id":"ae6ea27d-7945-56c9-a12b-37fc3b094459","attributes":{"name":"my_new_org_config_key_name","description":"This
      is a description","value_type":"bool","value":false,"modified_at":null}},{"type":"org_configs","id":"0e63d108-84c3-55c7-9767-e00b21e5bc30","attributes":{"name":"domain_allowlist","description":"domain
      allowlist for emails to be sent","value_type":"email_domain_list","value":[],"modified_at":null}},{"type":"org_configs","id":"3081bbc5-6227-5e58[...]
