interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/hosts?include_hosts_metadata=true
  response:
    body: '{"exact_total_matching":true,"total_returned":41,"host_list":[{"last_reported_time":1640705253,"name":"compute-0","is_muted":false,"mute_timeout":null,"apps":["cloudfoundry","network","ntp","agent"],"tags_by_source":{"Datadog":["bosh_address:10.0.40.5","bosh_az:us-central1-a","bosh_deployment:cf-58f7c74c619c33d63485","bosh_id:0b7e0c80-c2a0-449c-9bf0-d8b886607fc3","bosh_index:0","bosh_ip:10.0.40.5","bosh_job:compute","bosh_name:compute","cf-58f7c74c619c33d63485","cf-58f7c74c619c33d63485-compute","cloudfoundry","compute","created_at:2021-12-16t02:57:44z","deployment:cf-58f7c74c619c33d63485","director:p-bosh","id:0b7e0c80-c2a0-449c-9bf0-d8b886607fc3","index:0","index:0b7e0c80-c2a0-449c-9bf0-d8b886607fc3","instance-id:6741335140059256318","instance-type:custom-4-16384","instance_group:compute","internal-hostname:vm-aef6415e-c7dd-489c-6ba8-be35dbec92df.c.datadog-integrations-lab.internal","ip:10.0.40.5","job:compute","name:compute/0b7e0c80-c2a0-449c-9bf0-d8b886607fc3","numeric_project_id:116803814856","p-bosh","p-bosh-cf-58f7c74c619c33d63485","p-bosh-cf-58f7c74c619c33d63485-compute","pcf-vms","project:datadog-integrations-lab","user_data:_server_:_name_:_vm-aef6415e-c7dd-489c-6ba8-be35dbec92df_registry_:_endpoint_:_://:_:0_dns_:_nameserver_:_169.254.169.254","zone:us-central1-a","host:compute-0"]},"up":true,"metrics":{"load":0.23460001,"iowait":0.07005123,"cpu":17.403471},"sources":["agent"],"meta":{"socket-hostname":"db5182f4-724a-4fcc-b552-ca274d09c566","macV":["","",""],"pythonV":"3.8.11","nixV":["ubuntu","16.04",""],"install_method":{"tool":null,"installer_version":null,"tool_version":"undefined"},"agent_checks":[["disk","disk","disk:17d8571dea6d7adf","OK","",""],["file_handle","file_handle","file_handle","OK","",""],["io","io","io","OK","",""],["ntp","ntp","ntp:abc4dd01ed069179","OK","",""],["uptime","uptime","uptime","OK","",""],["cpu","cpu","cpu","OK","",""],["process","process","process:bosh-dns-adapter:2aad5dbd684d67e1","OK","",""],["process","process","process:bosh-agent:9348d9bcc210f773","OK","",""],["process","process","process:sshd:342db389f880a7cf","OK","",""],["process","process","process:vxl[...]
