interactions:
- request:
    body: |
      {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789123","role":"MyRoleUpdated","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette Connection testcreateanewactionconnectionreturnssuccessfullycreatedactionconnectionresponse1743020699"},"type":"action_connection"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/actions/connections
  response:
    body: '{"data":{"id":"67aa2f61-266d-48d1-a1ee-cf7c3acc6b20","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789123","external_id":"70f4660c99684420821b0c13a67eb4d1","principal_id":"464622532012","role":"MyRoleUpdated","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette
      Connection testcreateanewactionconnectionreturnssuccessfullycreatedactionconnectionresponse1743020699"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/actions/connections/67aa2f61-266d-48d1-a1ee-cf7c3acc6b20
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
