interactions:
- request:
    body: |
      {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789123","role":"MyRoleUpdated","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette Connection"},"type":"action_connection"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/actions/connections/cb460d51-3c88-4e87-adac-d47131d0423d
  response:
    body: '{"data":{"id":"cb460d51-3c88-4e87-adac-d47131d0423d","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789123","role":"MyRoleUpdated","external_id":"909b33b1242748cfbef42f20011e2fa0","principal_id":"464622532012","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette
      Connection"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
