interactions:
- request:
    body: |
      {"data":{"attributes":{"integration":{"credentials":{"account_id":"1","role":"MyRoleUpdated","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette Connection"},"type":"action_connection"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/actions/connections/cb460d51-3c88-4e87-adac-d47131d0423d
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"error creating connection:
      rpc error: code = InvalidArgument desc = multiple errors: 1 error occurred:\n\t*
      [error_code=8]: invalid UpdateCustomConnectionRequest.DataUpdate: embedded message
      failed validation | caused by: invalid CustomConnectionDataUpdate.Aws: embedded
      message failed validation | caused by: invalid CustomConnectionDataUpdate_AwsAuth.AssumeRole:
      embedded message failed validation | caused by: invalid CustomConnectionDataUpdate_AwsAuth_AssumeRole.AccountId:
      value does not match regex pattern \"^\\\\d{12}$\"\n\n"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
