---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"access_role":"ro","email":"test-testuserdisableerrors-1618221313@integration-tests-accnt-for-sdk-ci.com","handle":"test-testuserdisableerrors-1618221313@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserDisableErrors-1618221313"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/user
        method: POST
      response:
        body: '{"user":{"disabled":false,"handle":"test-testuserdisableerrors-1618221313@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserDisableErrors-1618221313","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testuserdisableerrors-1618221313@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/5db615d297eb25a64bed518eb2774b7c?s=48&d=retro"}}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/user/test-testuserdisableerrors-1618221313@integration-tests-accnt-for-sdk-ci.com
        method: DELETE
      response:
        body: '{"message":"User test-testuserdisableerrors-1618221313@integration-tests-accnt-for-sdk-ci.com disabled"}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
