---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{"priority":"normal","tags":["test","client:go"],"text":"example text","title":"Test-TestEventLifecycle-1658732894"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/events
        method: POST
      response:
        body: '{"status":"ok","event":{"id":6618108885455469409,"id_str":"6618108885455469409","title":"Test-TestEventLifecycle-1658732894","text":"example text","date_happened":1658732895,"handle":null,"priority":"normal","related_event_id":null,"tags":["test","client:go"],"url":"https://app.datadoghq.com/event/event?id=6618108885455469409"}}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/events/6618108885455469409
        method: GET
      response:
        body: |
            {"errors":["No event matches that event_id."]}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Name:
                - global_org
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11999"
            X-Ratelimit-Reset:
                - "45"
        status: 404 Not Found
        code: 404
        duration: 0s
[...]
    - id: 5
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/events/6618108885455469409
        method: GET
      response:
        body: |
            {"event":{"date_happened":1658732895,"alert_type":"info","resource":"/api/v1/events/6618108885455469409","title":"Test-TestEventLifecycle-1658732894","url":"/event/event?event_id=6618108885455469409","text":"example text","tags":["client:go","source:my_apps","test"],"device_name":null,"priority":"normal","monitor_id":null,"host":null,"id_str":"6618108885455469409","monitor_groups":[],"id":6618108885455469409}}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Name:
                - global_org
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11995"
            X-Ratelimit-Reset:
                - "21"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 6
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/events?end=1658732905&priority=normal&start=1658732885&tags=test%2Cclient%3Ago&unaggregated=true
        method: GET
      response:
        body: |
            {"events":[{"monitor_groups":[],"date_happened":1658732895,"alert_type":"info","is_aggregate":false,"title":"Test-TestEventLifecycle-1658732894","url":"/event/event?event_id=6618108885455469409","text":"example text","tags":["client:go","source:my_apps","test"],"comments":[],"device_name":null,"priority":"normal","source":"My Apps","host":null,"id_str":"6618108885455469409","resource":"/api/v1/events/6618108885455469409","monitor_id":null,"id":6618108885455469409,"monitor_group_status":null}]}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "600"
            X-Ratelimit-Name:
                - event_stream_api
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "599"
            X-Ratelimit-Reset:
                - "21"
        status: 200 OK
        code: 200
        duration: 0s
