---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"client_id":"testc7f6-1234-5678-9101-tt1692864904","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864904ee"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: GET
      response:
        body: |
            [{"tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864904ee","client_id":"testc7f6-1234-5678-9101-tt1692864904","host_filters":"","app_service_plan_filters":"","automute":true,"cspm_enabled":false,"custom_metrics_enabled":false,"errors":[],"warnings":[]}]
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
[...]
