---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{"ddsource": "go-client-test-1666706630284527000", "ddtags": "go,test,list", "hostname": "Test-TestLogsList-1666706630", "message": "{\"timestamp\": 1666706629000, \"message\": \"test-log-list-1666706630284527000\"}"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://http-intake.logs.datadoghq.com/v1/input
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 2
      request:
        host: ""
        body: |
            {"limit":2,"query":"source:go-client-test-1666706630284527000","sort":"asc","time":{"from":"2022-10-25T09:03:50.284-04:00","to":"2022-10-25T11:03:50.284-04:00"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs-queries/list
        method: POST
      response:
        body: |
            {"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChZjblFCRjRoMFIzcUtSRVBGQ2tOSUt3Ii0KHfdwodE-RbWgk5Do__MvnRZ0gcKcv6Gi0Io5FM7_EgzcxcmGmIQhDNOKvcc"}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "10"
            X-Ratelimit-Name:
                - logs_public_search_api
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "8"
            X-Ratelimit-Reset:
                - "10"
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 4
      request:
        host: ""
        body: |
            {"limit":2,"query":"source:go-client-test-1666706630284527000","sort":"asc","time":{"from":"2022-10-25T09:03:50.284-04:00","to":"2022-10-25T11:03:50.284-04:00"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs-queries/list
        method: POST
      response:
        body: |
            {"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1666706629000,"hostname":"Test-TestLogsList-1666706630"},"host":"Test-TestLogsList-1666706630","tags":["source:go-client-test-1666706630284527000","test","go","source:go-client-test-1666706630284527000","list"],"message":"test-log-list-1666706630284527000","timestamp":"2022-10-25T14:03:49.000Z"},"id":"AQAAAYQPdOGI7j3tBQAAAABBWVFQZE9iM0FBQm9Scm1Mc0JEM25BQUE"},{"content":{"attributes":{"timestamp":1666706630000,"hostname":"Test-TestLogsList-1666706630"},"host":"Test-TestLogsList-1666706630","tags":["source:go-client-test-1666706630284527000","test","go","source:go-client-test-1666706630284527000","list"],"message":"second-test-log-list-1666706630284527000","timestamp":"2022-10-25T14:03:50.000Z"},"id":"AQAAAYQPdOVwmCvWFwAAAABBWVFQZE9jOEFBQUE4WjNRSDZRczZRQUE"}],"requestId":"pddv1ChZ5aWtyTlF1TlJYaUd0a2xpZWVNczJBIi0KHZ5pIzPogxDlwjXOwAuk4buAJ9M5To0cfq_0UZ9WEgxgsW8tbgDHsZ9oJJY"}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "10"
            X-Ratelimit-Name:
                - logs_public_search_api
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "6"
            X-Ratelimit-Reset:
                - "10"
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 6
      request:
        host: ""
        body: |
            {"limit":1,"query":"source:go-client-test-1666706630284527000","sort":"asc","startAt":"AQAAAYQPdOVwmCvWFwAAAABBWVFQZE9jOEFBQUE4WjNRSDZRczZRQUE","time":{"from":"2022-10-25T09:03:50.284-04:00","to":"2022-10-25T11:03:50.284-04:00"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs-queries/list
        method: POST
      response:
        body: |
            {"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1666706630000,"hostname":"Test-TestLogsList-1666706630"},"host":"Test-TestLogsList-1666706630","tags":["source:go-client-test-1666706630284527000","test","go","source:go-client-test-1666706630284527000","list"],"message":"second-test-log-list-1666706630284527000","timestamp":"2022-10-25T14:03:50.000Z"},"id":"AQAAAYQPdOVwmCvWFwAAAABBWVFQZE9jOEFBQUE4WjNRSDZRczZRQUE"}],"requestId":"pddv1ChZLRFpRQm1tMVItcXZ6Rkpia1hTT2dBIi0KHVUghZs1edOENOBldEoYoJjR-PuIFwUJC2k5_iECEgzOrIgQHuM4K6X6gWg"}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "10"
            X-Ratelimit-Name:
                - logs_public_search_api
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "2"
            X-Ratelimit-Reset:
                - "9"
        status: 200 OK
        code: 200
        duration: 0s
