---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"account_id":"001664524097","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
        body: '{"external_id":"72e429ced3ff4d95b2af3e9170df0345"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11994"
            X-Ratelimit-Reset:
                - "43"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws?account_id=001664524097&role_name=DatadogAWSIntegrationRole
        method: GET
      response:
        body: '{"accounts":[{"cspm_resource_collection_enabled":false,"role_name":"DatadogAWSIntegrationRole","excluded_regions":["us-east-1","us-west-1"],"account_id":"001664524097","host_tags":["filter:one","filtertwo"],"account_specific_namespace_rules":{"opsworks":true},"metrics_collection_enabled":true,"errors":[],"resource_collection_enabled":false,"filter_tags":["testTag","test:Tag2"]}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11993"
            X-Ratelimit-Reset:
                - "42"
        status: 200 OK
        code: 200
        duration: 0s
[...]
