---
version: 1
interactions:
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-tt1692864879","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ee"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-tt1692864879","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","host_filters":"filter:foo,test:bar","new_client_id":"testc7f6-1234-5678-9101-uu1692864879","new_tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ff","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ee"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: PUT
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
  response:
    body: |
      [{"tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ff","client_id":"testc7f6-1234-5678-9101-uu1692864879","host_filters":"filter:foo,test:bar","app_service_plan_filters":"","automute":true,"cspm_enabled":false,"custom_metrics_enabled":false,"errors":[],"warnings":[]}]
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-uu1692864879","host_filters":"test:foo,test:bar","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ff"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/azure/host_filters
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
