---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"access_role":"ro","email":"test-testuserupdateerrors-1689014335@integration-tests-accnt-for-sdk-ci.com","handle":"test-testuserupdateerrors-1689014335@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserUpdateErrors-1689014335"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/user
        method: POST
      response:
        body: |
            {"user":{"handle":"test-testuserupdateerrors-1689014335@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserUpdateErrors-1689014335","role":null,"title":null,"email":"test-testuserupdateerrors-1689014335@integration-tests-accnt-for-sdk-ci.com","disabled":false,"access_role":"ro","is_admin":false,"icon":"https://secure.gravatar.com/avatar/ec69caf78c274a1fbb13f15d96d40fd3?s=48&d=retro","verified":false}}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Name:
                - create_user_api
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "98"
            X-Ratelimit-Reset:
                - "5"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/user/test-testuserupdateerrors-1689014335@integration-tests-accnt-for-sdk-ci.com
        method: DELETE
      response:
        body: |
            {"message":"User test-testuserupdateerrors-1689014335@integration-tests-accnt-for-sdk-ci.com disabled"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
