---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"account_id":"001664524053","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
        body: '{"external_id":"2d1f825226e04787b7c0063b2103af4e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11997"
            X-Ratelimit-Reset:
                - "27"
        status: 200 OK
        code: 200
        duration: 0s
[...]
