---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"36c85b56c1055b0e947d0b6b776cd580","name":"HTTP
      Return Codes","created_at":1586508882,"tags":["app:httpd"],"modified_at":1586508882,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377122"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"is_read_only":false,"layout_type":"ordered","title":"Go Client Test SLO Widget Dashboard","widgets":[{"definition":{"show_error_budget":true,"slo_id":"36c85b56c1055b0e947d0b6b776cd580","time_windows":["7d"],"type":"slo","view_mode":"both","view_type":"detail"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"ig6-avb-ewa","title":"Go
      Client Test SLO Widget Dashboard","url":"/dashboard/ig6-avb-ewa/go-client-test-slo-widget-dashboard","created_at":"2020-04-10T08:54:42.531385+00:00","modified_at":"2020-04-10T08:54:42.531385+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"time_windows":["7d"],"show_error_budget":true,"view_type":"detail","slo_id":"36c85b56c1055b0e947d0b6b776cd580","view_mode":"both","type":"slo"},"id":5400204425806013}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377122"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/id
    method: DELETE
  response:
    body: '{"errors": ["SLO not found: id not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377122"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ig6-avb-ewa
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ig6-avb-ewa"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377122"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/36c85b56c1055b0e947d0b6b776cd580
    method: DELETE
  response:
    body: '{"data":["36c85b56c1055b0e947d0b6b776cd580"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377122"
    status: 200 OK
    code: 200
    duration: ""
