---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"message":"some message Notify: @hipchat-channel","name":"Test-TestSLOMonitorLifecycle-1681746083","query":"\"datadog.agent.check_status\".over(\"database\").by(\"*\").last(2).count_by_status()","tags":["test","client:go"],"type":"service check"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
        body: |
            {"id":116578209,"org_id":321813,"type":"service check","name":"Test-TestSLOMonitorLifecycle-1681746083","message":"some message Notify: @hipchat-channel","tags":["test","client:go"],"query":"\"datadog.agent.check_status\".over(\"database\").by(\"*\").last(2).count_by_status()","options":{"notify_no_data":false,"notify_audit":false,"new_host_delay":300,"include_tags":true,"silenced":{}},"multi":true,"created_at":1681746084000,"created":"2023-04-17T15:41:24.064679+00:00","modified":"2023-04-17T15:41:24.064679+00:00","deleted":null,"restricted_roles":null,"priority":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "500"
            X-Ratelimit-Name:
                - post_monitors
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "499"
            X-Ratelimit-Reset:
                - "7"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: |
            {"description":"Track the uptime of host foo which is critical to us.","monitor_ids":[116578209],"name":"Test-TestSLOMonitorLifecycle-1681746083","tags":["app:core","kpi"],"thresholds":[{"target":95,"timeframe":"30d","warning":98}],"type":"monitor"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
        body: |
            {"data":[{"id":"b06bd7ec74a053c18822b7d2908f58f0","name":"Test-TestSLOMonitorLifecycle-1681746083","tags":["app:core","kpi"],"monitor_tags":[],"thresholds":[{"timeframe":"30d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"monitor","type_id":0,"description":"Track the uptime of host foo which is critical to us.","timeframe":"30d","warning_threshold":98,"target_threshold":95,"monitor_ids":[116578209],"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1681746084,"modified_at":1681746084}],"error":null}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "200"
            X-Ratelimit-Name:
                - slo_create
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "199"
            X-Ratelimit-Reset:
                - "36"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 2
      request:
        host: ""
        body: |
            {"created_at":1681746084,"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":null},"description":"Updated description","id":"b06bd7ec74a053c18822b7d2908f58f0","modified_at":1681746084,"monitor_ids":[116578209],"monitor_tags":[],"name":"Test-TestSLOMonitorLifecycle-1681746083","tags":["app:core","kpi"],"target_threshold":95,"thresholds":[{"target":95,"target_display":"95.","timeframe":"30d","warning":[...]
    - id: 3
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=b06bd7ec74a053c18822b7d2908f58f0
        method: GET
      response:
        body: |
            {"data":{"ok":["b06bd7ec74a053c18822b7d2908f58f0"],"denied_ids":[]},"errors":null}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Name:
                - slo_check_can_delete
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "99"
            X-Ratelimit-Reset:
                - "6"
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 5
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/b06bd7ec74a053c18822b7d2908f58f0/history?from_ts=1681746072&to_ts=1681746082
        method: GET
      response:
        body: |
            {"data":{"thresholds":{"30d":{"timeframe":"30d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}},"from_ts":1681746072,"to_ts":1681746082,"type":"monitor","type_id":0,"slo":{"id":"b06bd7ec74a053c18822b7d2908f58f0","name":"Test-TestSLOMonitorLifecycle-1681746083","tags":["kpi","app:core"],"monitor_tags":[],"thresholds":[{"timeframe":"30d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"monitor","type_id":0,"description":"Updated description","timeframe":"30d","warning_threshold":98.0,"target_threshold":95.0,"monitor_ids":[116578209],"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1681746084,"modified_at":1681746084},"overall":{"errors":[{"error_type":"NO_RESULTS","error_message":"No results found for this monitor"}],"precision":{"custom":0,"30d":2},"corrections":[]}},"errors":null}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "150"
            X-Ratelimit-Name:
                - slo_history
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "149"
            X-Ratelimit-Reset:
                - "5"
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 8
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/116578209
        method: DELETE
      response:
        body: |
            {"deleted_monitor_id":116578209}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
