---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"account_id":"001664524062","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
        body: '{"external_id":"8360243a8575464da5c73aaafffff47b"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11993"
            X-Ratelimit-Reset:
                - "18"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: |
            {"account_id":"001664524062","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws/generate_new_external_id
        method: PUT
      response:
        body: '{"external_id":"d71656bcf0984f02848265fd12d01d97"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11992"
            X-Ratelimit-Reset:
                - "17"
        status: 200 OK
        code: 200
        duration: 0s
[...]
