---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"override":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/host/Test-TestHostsMuteErrors-1618220970/mute
        method: POST
      response:
        body: '{"action":"Muted","downtime_id":1217084957,"hostname":"Test-TestHostsMuteErrors-1618220970"}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/host/Test-TestHostsMuteErrors-1618220970/unmute
        method: POST
      response:
        body: '{"action":"Unmuted","downtime_id":1217084957,"hostname":"Test-TestHostsMuteErrors-1618220970"}'
        headers:
            Content-Type:
                - application/json
            X-Dd-Debug:
                - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
            X-Dd-Version:
                - "35.4287331"
        status: 200 OK
        code: 200
        duration: 0s
