---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"message":"some message Notify: @hipchat-channel","name":"Test-TestMonitorsGetErrors-1655816669","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":1},"priority":3,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\") \u003e 2","restricted_roles":["94172442-be03-11e9-a77a-3b7612558ac1"],"tags":["test","client:go"],"type":"log alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
        body: '{"restricted_roles":["94172442-be03-11e9-a77a-3b7612558ac1"],"tags":["test","client:go"],"deleted":null,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\") > 2","message":"some message Notify: @hipchat-channel","id":74567206,"multi":true,"name":"Test-TestMonitorsGetErrors-1655816669","created":"2022-06-21T13:04:30.151574+00:00","created_at":1655816670000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2022-06-21T13:04:30.151574+00:00","priority":3,"overall_state_modified":null,"overall_state":"No Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":1,"renotify_interval":60,"include_tags":true,"no_data_timeframe":null,"silenced":{},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"enable_logs_sample":true,"groupby_simple_monitor":true,"escalation_message":"the situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "500"
            X-Ratelimit-Name:
                - post_monitors
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "499"
            X-Ratelimit-Reset:
                - "10"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/74567206
        method: DELETE
      response:
        body: '{"deleted_monitor_id":74567206}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "12000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "11992"
            X-Ratelimit-Reset:
                - "29"
        status: 200 OK
        code: 200
        duration: 0s
