---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"access_role":"ro","email":"test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com","handle":"test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUpdateUser-1688715462"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/user
        method: POST
      response:
        body: |
            {"user":{"handle":"test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUpdateUser-1688715462","role":null,"title":null,"email":"test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com","disabled":false,"access_role":"ro","is_admin":false,"icon":"https://secure.gravatar.com/avatar/7e8ef7dc9924b77102bfb989982479e9?s=48&d=retro","verified":false}}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Name:
                - create_user_api
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "99"
            X-Ratelimit-Reset:
                - "18"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: |
            {"disabled":true,"name":"Test-TestUpdateUser-1688715462"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/user/test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com
        method: PUT
      response:
        body: |
            {"user":{"handle":"test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUpdateUser-1688715462","role":null,"title":null,"email":"test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com","disabled":true,"access_role":"ro","is_admin":false,"icon":"https://secure.gravatar.com/avatar/7e8ef7dc9924b77102bfb989982479e9?s=48&d=retro","verified":false}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 2
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/user/test-testupdateuser-1688715462@integration-tests-accnt-for-sdk-ci.com
        method: DELETE
      response:
        body: '{"errors":["User is already disabled"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 0s
