---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-1650625315352493000", "ddtags": "go,test,list",
      "hostname": "Test-TestLogsList-1650625315", "message": "{\"timestamp\": 1650625314000,
      \"message\": \"test-log-list-1650625315352493000\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1650625315352493000","sort":"asc","time":{"from":"2022-04-22T12:01:55.352+02:00","to":"2022-04-22T14:01:55.352+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChZQTm5HS211LVF1T2xQN2VQQ1MxNl93IiwKHG3l1wQkZJAkeve5iGHT3L_TZE3T5scwLZJHy0kSDFa5W7Yp1rc9MzOTQA"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "10"
      X-Ratelimit-Name:
      - logs_public_search_api
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "8"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1650625315352493000","sort":"asc","time":{"from":"2022-04-22T12:01:55.352+02:00","to":"2022-04-22T14:01:55.352+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1650625314000,"hostname":"Test-TestLogsList-1650625315"},"host":"Test-TestLogsList-1650625315","tags":["source:go-client-test-1650625315352493000","test","go","list","source:go-client-test-1650625315352493000"],"message":"test-log-list-1650625315352493000","timestamp":"2022-04-22T11:01:54.000Z"},"id":"AQAAAYBQ73zQBRCCwQAAAABBWUJRNzRSaEFBRGJwclJXTVFOSXFBQUE"},{"content":{"attributes":{"timestamp":1650625315000,"hostname":"Test-TestLogsList-1650625315"},"host":"Test-TestLogsList-1650625315","tags":["source:go-client-test-1650625315352493000","test","go","list","source:go-client-test-1650625315352493000"],"message":"second-test-log-list-1650625315352493000","timestamp":"2022-04-22T11:01:55.000Z"},"id":"AQAAAYBQ74C4jJlvLwAAAABBWUJRNzRUNUFBRGlCT3RkNTJ5SzFRQUE"}],"requestId":"pddv1ChZFNzNrenFjUlFObS05dnlhYTh0dnNBIisKG2pJ2GJYmcD9Hpj-SC9bUR2BF-WICXeurgyr6BIM5KJpcXWxHwXozo05"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "10"
      X-Ratelimit-Name:
      - logs_public_search_api
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "7"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":1,"query":"source:go-client-test-1650625315352493000","sort":"asc","startAt":"AQAAAYBQ74C4jJlvLwAAAABBWUJRNzRUNUFBRGlCT3RkNTJ5SzFRQUE","time":{"from":"2022-04-22T12:01:55.352+02:00","to":"2022-04-22T14:01:55.352+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1650625315000,"hostname":"Test-TestLogsList-1650625315"},"host":"Test-TestLogsList-1650625315","tags":["source:go-client-test-1650625315352493000","test","go","list","source:go-client-test-1650625315352493000"],"message":"second-test-log-list-1650625315352493000","timestamp":"2022-04-22T11:01:55.000Z"},"id":"AQAAAYBQ74C4jJlvLwAAAABBWUJRNzRUNUFBRGlCT3RkNTJ5SzFRQUE"}],"requestId":"pddv1ChYtWHNreTZTRlNGV0J3VEhaTlJEVHF3IisKG6_el2a02eRctNrNGYYW_zQnpux3q8Tjf9SjnBIM8HtgbqOFY6OverfI"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "10"
      X-Ratelimit-Name:
      - logs_public_search_api
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "3"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
