---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-TestSLOMultipleInstances-1654244265","query":"\"datadogV1.agent.check_status\".over(\"database\").by(\"*\").last(2).count_by_status()","tags":["test","client:go"],"type":"service check"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["test","client:go"],"deleted":null,"query":"\"datadogV1.agent.check_status\".over(\"database\").by(\"*\").last(2).count_by_status()","message":"some
      message Notify: @hipchat-channel","id":73080687,"multi":true,"name":"Test-TestSLOMultipleInstances-1654244265","created":"2022-06-03T08:17:46.192616+00:00","created_at":1654244266000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2022-06-03T08:17:46.192616+00:00","priority":null,"overall_state_modified":null,"overall_state":"No
      Data","type":"service check","options":{"notify_no_data":false,"include_tags":true,"notify_audit":false,"new_host_delay":300,"silenced":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Name:
      - post_monitors
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Track the uptime of host foo which is critical to us.","monitor_ids":[73080687],"name":"Test-TestSLOMultipleInstances-1654244265","tags":["app:core","kpi"],"thresholds":[{"target":95,"timeframe":"30d","warning":98}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Track the uptime of host foo which is critical
      to us.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"c6e79096f41f58b992bb52ef4f922aa7","monitor_ids":[73080687],"name":"Test-TestSLOMultipleInstances-1654244265","created_at":1654244266,"tags":["app:core","kpi"],"modified_at":1654244266,"type":"monitor"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Name:
      - slo_create
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "495"
      X-Ratelimit-Reset:
      - "14"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"Test-TestSLOMultipleInstances-1654244265","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"42d39c7173a15df39e46207c6f4944fb","name":"Test-TestSLOMultipleInstances-1654244265","created_at":1654244266,"tags":["app:httpd"],"modified_at":1654244266,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Name:
      - slo_create
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "494"
      X-Ratelimit-Reset:
      - "14"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=c6e79096f41f58b992bb52ef4f922aa7%2C42d39c7173a15df39e46207c6f4944fb
    method: GET
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":[...]
- request:
    body: |
      {"42d39c7173a15df39e46207c6f4944fb":["7d"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo/bulk_delete
    method: POST
  response:
    body: '{"errors":[],"data":{"deleted":["42d39c7173a15df39e46207c6f4944fb"],"updated":null,"deleted_monitors":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Name:
      - slo_bulk_delete
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/42d39c7173a15df39e46207c6f4944fb
    method: DELETE
  response:
    body: '{"errors": ["SLO not found: 42d39c7173a15df39e46207c6f4944fb not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Name:
      - slo_delete
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "3"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/73080687
    method: DELETE
  response:
    body: '{"deleted_monitor_id":73080687}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11976"
      X-Ratelimit-Reset:
      - "13"
    status: 200 OK
    code: 200
    duration: ""
