---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: |
            {"description":"Make sure we don't have too many failed HTTP responses.","name":"Test-TestSLOEventLifecycle-1681746092","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
        body: |
            {"data":[{"id":"e882156116eb52f787673821da28cb48","name":"Test-TestSLOEventLifecycle-1681746092","tags":["app:httpd"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"Make sure we don't have too many failed HTTP responses.","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1681746092,"modified_at":1681746092}],"error":null}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "200"
            X-Ratelimit-Name:
                - slo_create
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "198"
            X-Ratelimit-Reset:
                - "28"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: ""
        body: |
            {"created_at":1681746092,"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":null},"description":"Updated description","id":"e882156116eb52f787673821da28cb48","modified_at":1681746092,"monitor_tags":[],"name":"Test-TestSLOEventLifecycle-1681746092","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"target_[...]
    - id: 2
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=e882156116eb52f787673821da28cb48
        method: GET
      response:
        body: |
            {"data":{"ok":["e882156116eb52f787673821da28cb48"],"denied_ids":[]},"errors":null}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Name:
                - slo_check_can_delete
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "99"
            X-Ratelimit-Reset:
                - "8"
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 4
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/e882156116eb52f787673821da28cb48/history?from_ts=1681746081&to_ts=1681746091
        method: GET
      response:
        body: |
            {"data":{"thresholds":{"7d":{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}},"from_ts":1681746081,"to_ts":1681746091,"type":"metric","type_id":1,"slo":{"id":"e882156116eb52f787673821da28cb48","name":"Test-TestSLOEventLifecycle-1681746092","tags":["app:httpd"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"Updated description","timeframe":"7d","warning_threshold":98.0,"target_threshold":95.0,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1681746092,"modified_at":1681746092},"group_by":[],"series":{"timing":"0.022604942321777344","res_type":"time_series","resp_version":2,"query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()), default_zero(sum:httpservice.hits{!code:3xx}.as_count())","from_date":1681746081000,"to_date":1681746091000,"message":"","interval":7200,"times":[1681746000000.0],"numerator":{"values":[0.0],"metadata":{"unit":null,"query_index":0,"aggr":"sum","metric":"default_zero(httpservice.hits)","tag_set":[],"expression":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","scope":"code:2xx"},"sum":0.0,"count":1},"denominator":{"values":[0.0],"metadata":{"unit":null,"query_index":1,"aggr":"sum","metric":"default_zero(httpservice.hits)","tag_set":[],"expression":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","scope":"!code:3xx"},"sum":0.0,"count":1},"numerator_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","denominator_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","bad_series_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count()) - default_zero(sum:httpservice.hits{code:2xx}.as_count())","graph_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()), default_zero(sum:httpservice.hits{!code:3xx}.as_count()) - default_zero(sum:httpservice.hits{code:2xx}.as_count())"},"overall":{"errors":[{"error_message":"The denominator is zero valued","error_type":"ZERO_VALUED_DENOMINATOR"}],"sli_value":null,"span_precision":2,"precision":{"7d":0},"uptime":null,"corrections":[]}},"errors":null}
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "150"
            X-Ratelimit-Name:
                - slo_history
            X-Ratelimit-Period:
                - "10"
            X-Ratelimit-Remaining:
                - "149"
            X-Ratelimit-Reset:
                - "7"
        status: 200 OK
        code: 200
        duration: 0s
[...]
