interactions:
- request:
    body: |
      {"data":{"attributes":{"restriction_query":"env:sandbox"},"type":"logs_restriction_queries"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries
  response:
    body: '{"data":{"type":"logs_restriction_queries","id":"7d16b5bc-c3fd-11f0-a3af-da7ad0900002","attributes":{"restriction_query":"env:sandbox","created_at":"2025-11-17T21:36:34.125787+00:00","modified_at":"2025-11-17T21:36:34.125787+00:00"}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/7d16b5bc-c3fd-11f0-a3af-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
