interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_restriction_query_for_a_given_role_returns_OK_response-1763415399"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/roles
  response:
    body: '{"data":{"id":"80b7ecc2-c3fd-11f0-8d5a-da7ad0900002","type":"roles","attributes":{"created_at":"2025-11-17T21:36:40.216326Z","modified_at":"2025-11-17T21:36:40.216269Z","name":"Test-Get_restriction_query_for_a_given_role_returns_OK_response-1763415399","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/role/80b7ecc2-c3fd-11f0-8d5a-da7ad0900002
  response:
    body: '{"data":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/roles/80b7ecc2-c3fd-11f0-8d5a-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
