interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_all_restriction_queries_for_a_given_user_returns_OK_response-1763149479@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"5bde5c10-c192-11f0-924a-766f31fff523","attributes":{"name":null,"handle":"test-get_all_restriction_queries_for_a_given_user_returns_ok_response-1763149479@datadoghq.com","created_at":"2025-11-14T19:44:39.917112+00:00","modified_at":"2025-11-14T19:44:39.917112+00:00","email":"test-get_all_restriction_queries_for_a_given_user_returns_ok_response-1763149479@datadoghq.com","icon":"https://secure.gravatar.com/avatar/876b69d93fda39b3d7945f71e37894b0?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/user/5bde5c10-c192-11f0-924a-766f31fff523
  response:
    body: '{"data":[]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/5bde5c10-c192-11f0-924a-766f31fff523
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
