---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_IncidentServices-Scenario_Get_a_list_of_all_incident_services_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1603404380"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"1a5446b7-f854-5bc3-921e-4887333a8d70","attributes":{"name":"go-TestScenarios-Feature_IncidentServices-Scenario_Get_a_list_of_all_incident_services_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1603404380","created":"2020-10-22T22:06:20.393992+00:00","modified":"2020-10-22T22:06:20.393992+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ZTMib3S/rZeXw/RhaeaehRILC7QJAaERfyf3m4/am8FN44e9rxbkPcmk4YzKBISj
      X-Dd-Version:
      - "35.3242810"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "40"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncidentServices
    url: https://api.datadoghq.com/api/v2/services
    method: GET
  response:
    body: '{"meta":{"sort":"ASC","pagination":{"size":25,"next_offset":25,"offset":0}},"data":[{"type":"services","id":"1f16eac0-25b1-540c-8853-1195da0d67d0","attributes":{"name":"go-TestScenarios-Feature_Services-Scenario_Get_a_list_of_all_services_returns__OK__response-Given_there_is_a_valid__service__in_the_system-25322-1601067949","created":"2020-09-25T21:05:49.635395+00:00","modified":"2020-09-25T21:05:49.635395+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"35c75c20-eba0-11e9-a77a-db716d075be2"}},"created_by":{"data":{"type":"users","id":"35c75[...]
