---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_update_a_user_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","name":"go-testscenarios-feature_users-scenario_upda","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"28cce5e2-babe-11ea-9c85-53f6b4476ac9","attributes":{"name":"go-testscenarios-feature_users-scenario_upda","handle":"go-testscenarios-feature_users-scenario_update_a_user_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","created_at":"2020-06-30T10:40:47.927102+00:00","email":"go-testscenarios-feature_users-scenario_update_a_user_leading_to_ok-given_there_is_a_valid_user_in_the_system-local-1593513647@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0b15b04a5bf0ff52f98c495b51899012?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - CFSDBBie5Okt4N1oWVJNTAqpt778eCo7VQZ0NhVFWw8MHYFUwuA7DURhpFRYY+Wy
      X-Dd-Version:
      - "35.2682096"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"updated"},"id":"28cce5e2-babe-11ea-9c85-53f6b4476ac9","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/28cce5e2-babe-11ea-9c85-53f6b4476ac9
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aJ6GOq3zw1bWl+5n1TKdeAvWSB1g5Zer85qbkQ07UFNZhgfVh/zeqVhNb8FjtbN9
      X-Dd-Version:
      - "35.2682096"
    status: 204 No Content
    code: 204
    duration: ""
[...]
