interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1 test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo retention filter","rate":0.9},"type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body: '{"data":{"id":"yf41wyfPQ0m1RWfI9mYMLw","attributes":{"name":"demo retention
      filter","rate":0.9,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
      test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744111977,"created_by":"frog@datadoghq.com","created_at":1744111977},"type":"apm_retention_filter"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1 test:service-demo"},"filter_type":"spans-sampling-processor","name":"test","rate":0.9,"trace_rate":1},"id":"test-id","type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/yf41wyfPQ0m1RWfI9mYMLw
  response:
    body: '{"data":{"id":"yf41wyfPQ0m1RWfI9mYMLw","attributes":{"name":"test","rate":0.9,"trace_rate":1.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
      test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744111978,"created_by":"frog@datadoghq.com","created_at":1744111977},"type":"apm_retention_filter"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/yf41wyfPQ0m1RWfI9mYMLw
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
