interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1 test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo retention filter","rate":0.9},"type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body: '{"data":{"id":"WvfydouzRnOdrIHZny7nrg","attributes":{"name":"demo retention
      filter","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
      test:service-demo"},"modified_by":"frog@datadoghq.com","modified_at":1695314343,"created_by":"frog@datadoghq.com","created_at":1695314343,"editable":true},"type":"apm_retention_filter"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1 test:service-demo"},"filter_type":"spans-sampling-processor","name":"test","rate":1.9},"id":"test-id","type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/WvfydouzRnOdrIHZny7nrg
  response:
    body: '{"errors":["Invalid Pipeline","''rate'' must exist and be between 0 and
      1"]}

      '
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/WvfydouzRnOdrIHZny7nrg
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
