interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1 test:service-demo"},"filter_type":"spans-sampling-processor","name":"test","rate":0.9},"id":"not_found","type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PUT
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/not_found
  response:
    body: '{"errors":["retention filter with id: ''not_found'' not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
