interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1 test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo retention filter","rate":0.9},"type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body: '{"data":{"id":"FaVuDNMERS25j8w4QWTwzg","attributes":{"name":"demo retention
      filter","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
      test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1695889183,"created_by":"frog@datadoghq.com","created_at":1695889183},"type":"apm_retention_filter"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/FaVuDNMERS25j8w4QWTwzg
  response:
    body: '{"data":{"id":"FaVuDNMERS25j8w4QWTwzg","attributes":{"name":"demo retention
      filter","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
      test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1695889183,"created_by":"frog@datadoghq.com","created_at":1695889183},"type":"apm_retention_filter"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/FaVuDNMERS25j8w4QWTwzg
  response:
    body: '{}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
