interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@http.status_code:200 service:my-service"},"filter_type":"spans-sampling-processor","name":"my retention filter","rate":1,"trace_rate":1},"type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body: '{"data":{"id":"QAtIbDKzQmCnHSvQde-VWw","attributes":{"name":"my retention
      filter","rate":1.0,"trace_rate":1.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@http.status_code:200
      service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744111966,"created_by":"frog@datadoghq.com","created_at":1744111966},"type":"apm_retention_filter"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/QAtIbDKzQmCnHSvQde-VWw
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
