interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1 test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo retention filter","rate":0.9},"type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body: '{"data":{"id":"ErO5dcpeRPmDWbmrryfpYQ","attributes":{"name":"demo retention
      filter","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
      test:service-demo"},"modified_by":"frog@datadoghq.com","modified_at":1695118296,"created_by":"frog@datadoghq.com","created_at":1695118296,"editable":true},"type":"apm_retention_filter"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/ErO5dcpeRPmDWbmrryfpYQ
  response:
    body: '{}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/ErO5dcpeRPmDWbmrryfpYQ
  response:
    body: '{"errors":["retention filter with id: ''ErO5dcpeRPmDWbmrryfpYQ'' not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
