interactions:
- request:
    body: |
      {"data":{"attributes":{"color":"blue","description":"Deployed v2.3.1 to production.","page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"},"type":"annotation"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/annotation
  response:
    body: '{"data":{"id":"31d6c3c7-0519-49e3-bcdf-9b1c00530aea","type":"annotation","attributes":{"author_id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","color":"blue","created_at":1779913698075,"description":"Deployed
      v2.3.1 to production.","end_time":null,"modified_at":1779913698075,"page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/annotation/page/dashboard%3Aabc-def-xyz?start_time=1704067200000&end_time=1704153600000
  response:
    body: '{"data":{"id":"dashboard:abc-def-xyz","type":"page_annotations","attributes":{"annotations":{"31d6c3c7-0519-49e3-bcdf-9b1c00530aea":{"id":"31d6c3c7-0519-49e3-bcdf-9b1c00530aea","page_id":"dashboard:abc-def-xyz","description":"Deployed
      v2.3.1 to production.","author_id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"pointInTime","color":"blue","start_time":1704067200000,"end_time":null,"created_at":1779913698075,"modified_at":1779913698075}},"global_annotations":["31d6c3c7-0519-49e3-bcdf-9b1c00530aea"],"widget_mapping":{}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/annotation/31d6c3c7-0519-49e3-bcdf-9b1c00530aea
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
