interactions:
- request:
    body: |
      {"data":{"attributes":{"color":"blue","description":"Deployed v2.3.1 to production.","page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"},"type":"annotation"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/annotation
  response:
    body: '{"data":{"id":"9db3699d-4361-4062-b095-a4da3227afe6","type":"annotation","attributes":{"author_id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","color":"blue","created_at":1779913698338,"description":"Deployed
      v2.3.1 to production.","end_time":null,"modified_at":1779913698338,"page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/annotation?page_id=dashboard%3Aabc-def-xyz&start_time=1704067200000&end_time=1704153600000
  response:
    body: '{"data":[{"id":"9db3699d-4361-4062-b095-a4da3227afe6","type":"annotation","attributes":{"author_id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","color":"blue","created_at":1779913698338,"description":"Deployed
      v2.3.1 to production.","end_time":null,"modified_at":1779913698338,"page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/annotation/9db3699d-4361-4062-b095-a4da3227afe6
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
