---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":""}}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"errors": ["API input validation failed: {''_schema'': [{''source'': {''pointer'':
      ''/data''}, ''detail'': ''`data` object must include `type` key.''}]}"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "483"
      X-Ratelimit-Reset:
      - "47"
    status: 400 Bad Request
    code: 400
    duration: ""
