{% include "partial_header.j2" %}
//go:build cgo
package {{ package_name }}

import (
	"bytes"
	"github.com/DataDog/zstd"
)

func compressZstd(body []byte) (*bytes.Buffer, error) {
	var buf bytes.Buffer
	compressor := zstd.NewWriter(&buf)
	if _, err := compressor.Write(body); err != nil {
		return nil, err
	}
	if err := compressor.Close(); err != nil {
		return nil, err
	}
	return &buf, nil
}
