interactions:
- request:
    body: |
      {"tags":["test:TestPostaneventreturnsOKresponse1618491668"],"text":"A text message.","title":"Test-Post_an_event_returns_OK_response-1618491668"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/events
  response:
    body: '{"status":"ok","event":{"id":5942973138276091518,"title":"Test-Post_an_event_returns_OK_response-1618491668","text":"A
      text message.","date_happened":1618491668,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventreturnsOKresponse1618491668"],"url":"https://app.datadoghq.com/event/event?id=5942973138276091518"}}'
    code: 202
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
version: 1
