interactions:
- request:
    body: |
      {"data":[{"id":"71c0d358-eac5-41e3-892d-a7467571b9b","type":"appDefinitions"},{"id":"71c0d358-eac5-41e3-892d-a7467571b9b0","type":"appDefinitions"},{"id":"98e7e44d-1562-474a-90f7-3a94e739c006","type":"appDefinitions"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: DELETE
    url: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"invalid UUID
      length: 35"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
