/*
 * (C) Datadog, Inc. 2019
 * All rights reserved
 * Licensed under a 3-clause BSD style license (see LICENSE)
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package datadog

import (
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// AWSIntegrationApiService AWSIntegrationApi service
type AWSIntegrationApiService service

type apiCreateAWSAccountRequest struct {
	ctx        _context.Context
	apiService *AWSIntegrationApiService
	awsAccount *AwsAccount
}

type apiCreateAWSAccountRequestBuilder interface {
	AwsAccount(*AwsAccount) apiCreateAWSAccountRequestBuilder
	Execute() (AwsAccountCreateResponse, *_nethttp.Response, error)
}

func (r apiCreateAWSAccountRequest) AwsAccount(awsAccount *AwsAccount) apiCreateAWSAccountRequestBuilder {
	r.awsAccount = awsAccount
	return r
}

/*
CreateAWSAccount Create an AWS Account
### Overview
Create the AWS Account with the provided values
### Arguments
* **`account_id`** [*required*]: Your AWS Account ID without dashes. Consult the Datadog AWS
  integration to learn more about your AWS account ID.

* **`role_name`** [*required*]: Your Datadog role delegation name. For more information about you
  AWS account Role name, see the Datadog AWS integration configuration info.

* **`access_key_id`** [*optional*, *default* = **None**]: If your AWS account is a GovCloud or
  China account, enter the corresponding Access Key ID.

* **`filter_tags`** [*optional*, *default* = **None**]: The array of EC2 tags (in the form key:value)
  defines a filter that Datadog uses when collecting metrics from EC2. Wildcards, such as ?
  (for single characters) and * (for multiple characters) can also be used. Only hosts that match one
  of the defined tags will be imported into Datadog. The rest will be ignored. Host matching a given
  tag can also be excluded by adding ! before the tag.
  e.x. env:production,instance-type:c1.*,!region:us-east-1 For more information on EC2 tagging,
  see the AWS tagging documentation

* **`host_tags`** [*optional*, *default* = **None**]: Array of tags (in the form key:value) to add
  to all hosts and metrics reporting through this integration.

* **`account_specific_namespace_rules`** [*optional*, *default* = **None**]: An object (in the form
  {"namespace1":true/false, "namespace2":true/false}) that enables or disables metric collection for
  specific AWS namespaces for this AWS account only. A list of namespaces can be found at the
  /v1/integration/aws/available_namespace_rules endpoint.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return apiCreateAWSAccountRequestBuilder
*/
func (a *AWSIntegrationApiService) CreateAWSAccount(ctx _context.Context) apiCreateAWSAccountRequestBuilder {
	return apiCreateAWSAccountRequest{
		apiService: a,
		ctx:        ctx,
	}
}

/*
Execute executes the request
 @return AwsAccountCreateResponse
*/
func (r apiCreateAWSAccountRequest) Execute() (AwsAccountCreateResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AwsAccountCreateResponse
	)

	// create path and map variables
	localVarPath := r.apiService.client.cfg.BasePath + "/api/v1/integration/aws"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.awsAccount == nil {
		return localVarReturnValue, nil, reportError("awsAccount is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.awsAccount
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["api_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["application_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("application_key", key)
			}
		}
	}
	req, err := r.apiService.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := r.apiService.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 200 {
			var v AwsAccountCreateResponse
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error400
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = r.apiService.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type apiDeleteAWSAccountRequest struct {
	ctx        _context.Context
	apiService *AWSIntegrationApiService
	awsAccount *AwsAccount
}

type apiDeleteAWSAccountRequestBuilder interface {
	AwsAccount(*AwsAccount) apiDeleteAWSAccountRequestBuilder
	Execute() (interface{}, *_nethttp.Response, error)
}

func (r apiDeleteAWSAccountRequest) AwsAccount(awsAccount *AwsAccount) apiDeleteAWSAccountRequestBuilder {
	r.awsAccount = awsAccount
	return r
}

/*
DeleteAWSAccount Delete an AWS Account
### Overview
Delete the AWS Account matching the specified account_id and role_name parameters
### Arguments
* **`account_id`** [*required*, *default* = **None**]: Delete the AWS account that
  matches this account_id.

* **`role_name`** [*required*, *default* = **None**]: Delete the AWS account that
  matches this role_name.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return apiDeleteAWSAccountRequestBuilder
*/
func (a *AWSIntegrationApiService) DeleteAWSAccount(ctx _context.Context) apiDeleteAWSAccountRequestBuilder {
	return apiDeleteAWSAccountRequest{
		apiService: a,
		ctx:        ctx,
	}
}

/*
Execute executes the request
 @return interface{}
*/
func (r apiDeleteAWSAccountRequest) Execute() (interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  interface{}
	)

	// create path and map variables
	localVarPath := r.apiService.client.cfg.BasePath + "/api/v1/integration/aws"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.awsAccount == nil {
		return localVarReturnValue, nil, reportError("awsAccount is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.awsAccount
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["api_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["application_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("application_key", key)
			}
		}
	}
	req, err := r.apiService.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := r.apiService.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 200 {
			var v interface{}
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error404
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = r.apiService.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type apiGetAllAWSAccountsRequest struct {
	ctx         _context.Context
	apiService  *AWSIntegrationApiService
	accountId   *string
	roleName    *string
	accessKeyId *string
}

type apiGetAllAWSAccountsRequestBuilder interface {
	AccountId(*string) apiGetAllAWSAccountsRequestBuilder
	RoleName(*string) apiGetAllAWSAccountsRequestBuilder
	AccessKeyId(*string) apiGetAllAWSAccountsRequestBuilder
	Execute() (AwsAccountListResponse, *_nethttp.Response, error)
}

func (r apiGetAllAWSAccountsRequest) AccountId(accountId *string) apiGetAllAWSAccountsRequestBuilder {
	r.accountId = accountId
	return r
}

func (r apiGetAllAWSAccountsRequest) RoleName(roleName *string) apiGetAllAWSAccountsRequestBuilder {
	r.roleName = roleName
	return r
}

func (r apiGetAllAWSAccountsRequest) AccessKeyId(accessKeyId *string) apiGetAllAWSAccountsRequestBuilder {
	r.accessKeyId = accessKeyId
	return r
}

/*
GetAllAWSAccounts Get Installed AWS Accounts
### Overview
Get All Installed AWS Accounts
### Arguments
* **`account_id`** [*optional*, *default* = **None**]: Only return AWS accounts that
  matches this account_id.

* **`role_name`** [*optional*, *default* = **None**]: Only return AWS accounts that
  matches this role_name.

* **`access_key_id`** [*optional*, *default* = **None**]: Only return AWS accounts that
  matches this access_key_id.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return apiGetAllAWSAccountsRequestBuilder
*/
func (a *AWSIntegrationApiService) GetAllAWSAccounts(ctx _context.Context) apiGetAllAWSAccountsRequestBuilder {
	return apiGetAllAWSAccountsRequest{
		apiService: a,
		ctx:        ctx,
	}
}

/*
Execute executes the request
 @return AwsAccountListResponse
*/
func (r apiGetAllAWSAccountsRequest) Execute() (AwsAccountListResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AwsAccountListResponse
	)

	// create path and map variables
	localVarPath := r.apiService.client.cfg.BasePath + "/api/v1/integration/aws"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.accountId != nil {
		localVarQueryParams.Add("account_id", parameterToString(*r.accountId, ""))
	}
	if r.roleName != nil {
		localVarQueryParams.Add("role_name", parameterToString(*r.roleName, ""))
	}
	if r.accessKeyId != nil {
		localVarQueryParams.Add("access_key_id", parameterToString(*r.accessKeyId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["api_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["application_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("application_key", key)
			}
		}
	}
	req, err := r.apiService.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := r.apiService.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 200 {
			var v AwsAccountListResponse
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error400
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error404
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = r.apiService.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type apiUpdateAWSAccountRequest struct {
	ctx         _context.Context
	apiService  *AWSIntegrationApiService
	awsAccount  *AwsAccount
	accountId   *string
	roleName    *string
	accessKeyId *string
}

type apiUpdateAWSAccountRequestBuilder interface {
	AwsAccount(*AwsAccount) apiUpdateAWSAccountRequestBuilder
	AccountId(*string) apiUpdateAWSAccountRequestBuilder
	RoleName(*string) apiUpdateAWSAccountRequestBuilder
	AccessKeyId(*string) apiUpdateAWSAccountRequestBuilder
	Execute() (interface{}, *_nethttp.Response, error)
}

func (r apiUpdateAWSAccountRequest) AwsAccount(awsAccount *AwsAccount) apiUpdateAWSAccountRequestBuilder {
	r.awsAccount = awsAccount
	return r
}

func (r apiUpdateAWSAccountRequest) AccountId(accountId *string) apiUpdateAWSAccountRequestBuilder {
	r.accountId = accountId
	return r
}

func (r apiUpdateAWSAccountRequest) RoleName(roleName *string) apiUpdateAWSAccountRequestBuilder {
	r.roleName = roleName
	return r
}

func (r apiUpdateAWSAccountRequest) AccessKeyId(accessKeyId *string) apiUpdateAWSAccountRequestBuilder {
	r.accessKeyId = accessKeyId
	return r
}

/*
UpdateAWSAccount Update an AWS Account
### Overview
Update the AWS Account based on the provided values
### Arguments
* **`account_id`** [*required if role_name is specified*, *default* = **None**]: Only return AWS accounts that
  matches this account_id.

* **`role_name`** [*required if account_id is specified*, *default* = **None**]: Only return AWS accounts that
  matches this role_name.

* **`access_key_id`** [*required if none of the other two options are specified*, *default* = **None**]: Only return AWS accounts that
  matches this access_key_id.

### Payload
* **`account_id`** [*required*]: Your AWS Account ID without dashes. Consult the Datadog AWS
  integration to learn more about your AWS account ID.

* **`role_name`** [*required*]: Your Datadog role delegation name. For more information about you
  AWS account Role name, see the Datadog AWS integration configuration info.

* **`access_key_id`** [*optional*, *default* = **None**]: If your AWS account is a GovCloud or
  China account, enter the corresponding Access Key ID.

* **`filter_tags`** [*optional*, *default* = **None**]: The array of EC2 tags (in the form key:value)
  defines a filter that Datadog uses when collecting metrics from EC2. Wildcards, such as ?
  (for single characters) and * (for multiple characters) can also be used. Only hosts that match one
  of the defined tags will be imported into Datadog. The rest will be ignored. Host matching a given
  tag can also be excluded by adding ! before the tag.
  e.g. env:production,instance-type:c1.*,!region:us-east-1 For more information on EC2 tagging,
  see the AWS tagging documentation.

* **`host_tags`** [*optional*, *default* = **None**]: Array of tags (in the form key:value) to add
  to all hosts and metrics reporting through this integration.

* **`account_specific_namespace_rules`** [*optional*, *default* = **None**]: An object (in the form
  {"namespace1":true/false, "namespace2":true/false}) that enables or disables metric collection for
  specific AWS namespaces for this AWS account only. A list of namespaces can be found at the
  /v1/integration/aws/available_namespace_rules endpoint.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return apiUpdateAWSAccountRequestBuilder
*/
func (a *AWSIntegrationApiService) UpdateAWSAccount(ctx _context.Context) apiUpdateAWSAccountRequestBuilder {
	return apiUpdateAWSAccountRequest{
		apiService: a,
		ctx:        ctx,
	}
}

/*
Execute executes the request
 @return interface{}
*/
func (r apiUpdateAWSAccountRequest) Execute() (interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  interface{}
	)

	// create path and map variables
	localVarPath := r.apiService.client.cfg.BasePath + "/api/v1/integration/aws"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.awsAccount == nil {
		return localVarReturnValue, nil, reportError("awsAccount is required and must be specified")
	}

	if r.accountId != nil {
		localVarQueryParams.Add("account_id", parameterToString(*r.accountId, ""))
	}
	if r.roleName != nil {
		localVarQueryParams.Add("role_name", parameterToString(*r.roleName, ""))
	}
	if r.accessKeyId != nil {
		localVarQueryParams.Add("access_key_id", parameterToString(*r.accessKeyId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.awsAccount
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["api_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if auth, ok := auth["application_key"]; ok {
				var key string
				if auth.Prefix != "" {
					key = auth.Prefix + " " + auth.Key
				} else {
					key = auth.Key
				}
				localVarQueryParams.Add("application_key", key)
			}
		}
	}
	req, err := r.apiService.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := r.apiService.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 200 {
			var v interface{}
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error400
			err = r.apiService.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = r.apiService.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
