interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"api_key":"TestListFastlyaccountsreturnsOKresponse1678702250","name":"Test-List_Fastly_accounts_returns_OK_response-1678702250","services":[]},"type":"fastly-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
  response:
    body: '{"data":{"type":"fastly-accounts","attributes":{"name":"Test-List_Fastly_accounts_returns_OK_response-1678702250","services":[]},"id":"07ec97dd43cd794c847ecf15cb25eb1c"}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
[...]
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/07ec97dd43cd794c847ecf15cb25eb1c
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
