interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"TestUpdateFastlyaccountreturnsOKresponse1678702217","name":"Test-Update_Fastly_account_returns_OK_response-1678702217","services":[]},"type":"fastly-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
  response:
    body: '{"data":{"type":"fastly-accounts","id":"e37e834ae856fa24a2924973fdc7c276","attributes":{"services":[],"name":"Test-Update_Fastly_account_returns_OK_response-1678702217"}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"api_key":"update-secret"},"type":"fastly-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/e37e834ae856fa24a2924973fdc7c276
  response:
    body: '{"data":{"type":"fastly-accounts","id":"e37e834ae856fa24a2924973fdc7c276","attributes":{"services":[],"name":"Test-Update_Fastly_account_returns_OK_response-1678702217"}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/e37e834ae856fa24a2924973fdc7c276
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
