interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"TestGetFastlyaccountreturnsOKresponse1678702274","name":"Test-Get_Fastly_account_returns_OK_response-1678702274","services":[]},"type":"fastly-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
  response:
    body: '{"data":{"type":"fastly-accounts","id":"6d8f2860f9f3e953fb46d554b9a19627","attributes":{"services":[],"name":"Test-Get_Fastly_account_returns_OK_response-1678702274"}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/6d8f2860f9f3e953fb46d554b9a19627
  response:
    body: '{"data":{"type":"fastly-accounts","id":"6d8f2860f9f3e953fb46d554b9a19627","attributes":{"name":"Test-Get_Fastly_account_returns_OK_response-1678702274","services":[]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/6d8f2860f9f3e953fb46d554b9a19627
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
