interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/permanent_retention_filters/Test-Get_a_permanent_retention_filter_returns_Not_Found_response-1777482270
  response:
    body: '{"errors":[{"status":"404","title":"Not Found","detail":"rpc error: code
      = NotFound desc = NotFound: This hardcoded retention filter does not exist"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
