---
version: 1
interactions:
- request:
    body: |
      {"message":"invalid weekdays","recurrence":{"period":1,"type":"weeks","week_days":["mon","tue"]},"scope":["*"],"start":1587937121,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"errors":["Invalid set of days in week_days. Be sure that the first letter
      is capitalized."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2432369"
    status: 400 Bad Request
    code: 400
    duration: ""
