---
version: 1
interactions:
- request:
    body: |
      {"end":1634720427,"message":"Test-TestDowntimeRecurrence_invalid_weekdays-1634716829; invalid weekdays","recurrence":{"period":1,"type":"weeks","week_days":["mon","tue"]},"scope":["*"],"start":1634716827,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"errors": ["Invalid set of days in week_days. Be sure that the first letter
      is capitalized."]}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
