---
version: 1
interactions:
- request:
    body: |
      {"end":1634661406,"message":"Test-TestDowntimeRecurrence_invalid_type_hours-1634657806; invalid type hours","recurrence":{"period":1,"type":"hours"},"scope":["*"],"start":1634657806,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"errors": ["Invalid recurrence type"]}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
