---
version: 1
interactions:
- request:
    body: |
      {"message":"Test-TestDowntimeRecurrence-invalid_type_hours-1617977628; invalid type hours","recurrence":{"period":1,"type":"hours"},"scope":["*"],"start":1617977627,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"errors": ["Invalid recurrence type"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 400 Bad Request
    code: 400
    duration: ""
