---
version: 1
interactions:
- request:
    body: |
      {"end":1634720427,"message":"Test-TestDowntimeRecurrence_once_a_year-1634716828; once a year","recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1634716827,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":1634720427,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634716828,"org_id":321813,"modified":1634716828,"disabled":false,"start":1634716827,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeRecurrence_once_a_year-1634716828;
      once a year","downtime_type":0,"id":1512513990,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1512513990
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
