---
version: 1
interactions:
- request:
    body: |
      {"end":1634661400,"message":"Test-TestDowntimeRecurrence_once_a_year-1634657800; once a year","recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1634657800,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":1634661400,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634657801,"org_id":321813,"modified":1634657801,"disabled":false,"start":1634657800,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeRecurrence_once_a_year-1634657800;
      once a year","downtime_type":0,"id":1511068215,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
