---
version: 1
interactions:
- request:
    body: |
      {"message":"go-TestDowntimeRecurrence-once_a_year-local-1589290250; once a year","recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1589290248,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":null,"monitor_tags":["*"],"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1589290248,"creator_id":1379826,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"go-TestDowntimeRecurrence-once_a_year-local-1589290250;
      once a year","downtime_type":0,"id":825972152,"updater_id":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - DNJM9d0LaQZJbuEjasKEmgCwDoiLnJW9mPQJm+yWIlQRbFhX4Vzx4uuDCt38dWhb
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/825972152
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nwn8Akm+cp12Jtby9xyfYjHWK2KZDWf5LxY+SMa+2NK6hVIBcKsVHXjynaTEG+o0
      X-Dd-Version:
      - "35.2492943"
    status: 204 No Content
    code: 204
    duration: ""
