---
version: 1
interactions:
- request:
    body: |
      {"message":"until occurences and until date are mutually exclusive","recurrence":{"period":1,"type":"weeks","until_date":1589751521,"until_occurrences":3,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1587937121,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"errors":["You must provide only provide one of (until_occurrences, until_date)"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2432369"
    status: 400 Bad Request
    code: 400
    duration: ""
