---
version: 1
interactions:
- request:
    body: |
      {"end":1634661394,"message":"Test-TestDowntimeRecurrence_until_occurences_and_until_date_are_mutually_exclusive-1634657794; until occurences and until date are mutually exclusive","recurrence":{"period":1,"type":"weeks","until_date":1636472194,"until_occurrences":3,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1634657794,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"errors": ["You must provide only provide one of (until_occurrences, until_date)"]}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
