---
version: 1
interactions:
- request:
    body: |
      {"end":1634720427,"message":"Test-TestDowntimeRecurrence_until_date-1634716829; until date","recurrence":{"period":1,"type":"weeks","until_date":1636531227,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1634716827,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":1636531227,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1634720427,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634716829,"org_id":321813,"modified":1634716829,"disabled":false,"start":1634716827,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeRecurrence_until_date-1634716829;
      until date","downtime_type":0,"id":1512514002,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1512514002
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
