---
version: 1
interactions:
- request:
    body: |
      {"message":"Test-TestDowntimeRecurrence_until_occurrences-1618220935; until occurrences","recurrence":{"period":1,"type":"weeks","until_occurrences":3,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1618220935,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":3,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1618220935,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeRecurrence_until_occurrences-1618220935;
      until occurrences","downtime_type":0,"id":1217084583,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1217084583
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
