---
version: 1
interactions:
- request:
    body: |
      {"message":"go-TestDowntimeRecurrence-until_date-local-1589290248; until date","recurrence":{"period":1,"type":"weeks","until_date":1591104648,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1589290248,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":1591104648,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1589290248,"creator_id":1379826,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"go-TestDowntimeRecurrence-until_date-local-1589290248;
      until date","downtime_type":0,"id":825972130,"updater_id":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - btzHvL7Rg/f/n1wMP2CFVXsuErrwOO9p2hvsBofLQbxzRkmZbfvXcB18pURNtIOI
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/825972130
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - zDaLXgTwOglSG/+LeCisOhDwAOr7D4UzTY02i97kQg3V5W3f2nMLfChR6yLoaPN1
      X-Dd-Version:
      - "35.2492943"
    status: 204 No Content
    code: 204
    duration: ""
