---
version: 1
interactions:
- request:
    body: |
      {"end":1634661416,"message":"Test-TestDowntimeRecurrence_until_date-1634657816; until date","recurrence":{"period":1,"type":"weeks","until_date":1636472216,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1634657816,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":1636472216,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1634661416,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634657817,"org_id":321813,"modified":1634657817,"disabled":false,"start":1634657816,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeRecurrence_until_date-1634657816;
      until date","downtime_type":0,"id":1511068739,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
