interactions:
- request:
    body: |
      {"data":{"attributes":{"anonymous":false,"data_definition":{},"description":"A simple test form.","idp_survey":false,"name":"Test-List_forms_returns_OK_response-1780598048","single_response":false,"ui_definition":{}},"type":"forms"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/forms
  response:
    body: '{"data":{"id":"d71d1aef-539d-4951-b98e-ff4c0c4f97bb","type":"forms","attributes":{"active":true,"anonymous":false,"created_at":"2026-06-04T18:34:08.937305Z","datastore_config":{"datastore_id":"76b9f7b4-99d8-4a55-b95c-260cac22820d","primary_column_name":"id","primary_key_generation_strategy":"none"},"description":"A
      simple test form.","idp_survey":false,"modified_at":"2026-06-04T18:34:08.937305Z","name":"Test-List_forms_returns_OK_response-1780598048","org_id":321813,"self_service":false,"single_response":false,"user_id":2320499,"user_uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","version":{"id":"354657","state":"draft","version":1,"etag":"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d","definition_signature":"{\"signature\":\"{\\\"version\\\":2,\\\"algorithm\\\":\\\"ecdsa-p384\\\",\\\"pubkey\\\":\\\"XOOWpRG1rFvaLHaG9qLf+GG78llET0BKnZtokyAtLfg=\\\",\\\"timestamp\\\":1780598048,\\\"proof\\\":\\\"MGUCMBSAXvYX++PAyywDBLlJsqgHq1ug3WLtMqKQRwx50qdAdj1UP1W58NnN9/DP70HavAIxANwA4guivHrOqlL36ETzde//0mI55MJ8Yv0ynU2p+QhqCSuJEHHgUUWjk0wYKJuZog==\\\"}\",\"version\":1}","data_definition":{},"ui_definition":{},"created_at":"2026-06-04T18:34:08.937305Z","modified_at":"2026-06-04T18:34:08.937305Z","user_id":2320499,"user_uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/forms/d71d1aef-539d-4951-b98e-ff4c0c4f97bb
  response:
    body: '{"data":{"id":"d71d1aef-539d-4951-b98e-ff4c0c4f97bb","type":"forms"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
