interactions:
- request:
    body: |
      {"data":{"attributes":{"data_definition":{"description":"Welcome to the Engineering Experience Survey.","required":[],"title":"Developer Experience Survey","type":"object"},"state":"frozen","ui_definition":{"ui:order":[],"ui:theme":{"primaryColor":"gray"}},"upsert_params":{"etag":"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d","insert_only":false,"match_policy":"none"}},"type":"form_versions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/versions
  response:
    body: '{"errors":[{"status":"404","id":"f24e2ab1-4ba1-48cf-a4a2-86a32cc2e702","title":"form
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
