interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Copy of My Form"},"type":"forms"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/clone
  response:
    body: '{"errors":[{"status":"404","id":"32db2695-29bd-4280-b547-3737365608c3","title":"form
      not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
