interactions:
- request:
    body: |
      {"data":{"attributes":{"anonymous":false,"data_definition":{},"description":"A form to collect user feedback.","idp_survey":false,"name":"User Feedback Form","single_response":false,"ui_definition":{}},"type":"forms"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/forms/create_and_publish
  response:
    body: '{"data":{"id":"65318f43-ac0f-4990-add8-9847eee98fd8","type":"forms","attributes":{"active":true,"anonymous":false,"created_at":"2026-06-04T18:34:05.178222Z","datastore_config":{"datastore_id":"c89fc16a-53fb-4439-a007-1ebec095b1b7","primary_column_name":"id","primary_key_generation_strategy":"none"},"description":"A
      form to collect user feedback.","idp_survey":false,"modified_at":"2026-06-04T18:34:05.178222Z","name":"User
      Feedback Form","org_id":321813,"publication":{"id":"357922","org_id":321813,"form_id":"65318f43-ac0f-4990-add8-9847eee98fd8","publish_seq":1,"form_version":1,"created_at":"2026-06-04T18:34:05.178222Z","modified_at":"2026-06-04T18:34:05.178222Z","user_id":2320499,"user_uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"self_service":false,"single_response":false,"user_id":2320499,"user_uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","version":{"id":"354654","state":"frozen","version":1,"etag":"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d","definition_signature":"{\"signature\":\"{\\\"version\\\":2,\\\"algorithm\\\":\\\"ecdsa-p384\\\",\\\"pubkey\\\":\\\"XOOWpRG1rFvaLHaG9qLf+GG78llET0BKnZtokyAtLfg=\\\",\\\"timestamp\\\":1780598045,\\\"proof\\\":\\\"MGYCMQCPPczYtNvj1RLjrQkIrQNHHVgB3nxFIjn5jgwUE0tweuTV1kZnaYYUg+gl1Eh5+tMCMQCajq1cy1MaWEbzHA0EcDC6LjyQ5ajqqngb3RMQwzP8ewvsh+uzkPD2v6AHjnW115o=\\\"}\",\"version\":1}","data_definition":{},"ui_definition":{},"created_at":"2026-06-04T18:34:05.178222Z","modified_at":"2026-06-04T18:34:05.178222Z","user_id":2320499,"user_uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/forms/65318f43-ac0f-4990-add8-9847eee98fd8
  response:
    body: '{"data":{"id":"65318f43-ac0f-4990-add8-9847eee98fd8","type":"forms"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
