---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"","type":""}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    url: https://api.datadoghq.com/api/v2/roles/41f3c9c0-fc16-11ea-aeba-332086f4fa43/users
    method: DELETE
  response:
    body: '{"errors": ["API input validation failed: Invalid type. Expected \"users\"."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3067471"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "497"
      X-Ratelimit-Reset:
      - "48"
    status: 400 Bad Request
    code: 400
    duration: ""
