---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"","type":""}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    url: https://api.datadoghq.com/api/v2/roles/d0d2b696-993d-11eb-9ceb-da7ad0900002/users
    method: DELETE
  response:
    body: '{"errors": ["API input validation failed: Invalid type. Expected \"users\"."]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "442"
      X-Ratelimit-Reset:
      - "6"
    status: 400 Bad Request
    code: 400
    duration: ""
