---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"d1025608-993d-11eb-9ceb-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    url: https://api.datadoghq.com/api/v2/roles/d0d2b696-993d-11eb-9ceb-da7ad0900002/users
    method: DELETE
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
