---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"38834b1a-cd8e-11ea-a33d-5bfbe8efa541","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff/users
    method: DELETE
  response:
    body: '{"errors": ["Missing Role 00000000-dead-beef-dead-ffffffffffff not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2781855"
    status: 404 Not Found
    code: 404
    duration: ""
