interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body: '{"data":[{"id":"tf_TestAccRumMetricAttributes_local_1748953468","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"session","group_by":[],"uniqueness":{"when":"match"}}},{"id":"tf_TestAccRumMetricAttributes_local_1754429067","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":false,"path":"@duration"},"event_type":"action","group_by":[]}},{"id":"tf_TestAccRumMetricAttributes_local_1756383271","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","filter":{"query":"@service:web-ui"},"group_by":[]}},{"id":"examplegetarumbasedmetricreturnsokresponse1756438670","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Example-Get_a_rum_based_metric_returns_OK_response_1756438670"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}}},{"id":"testtypescriptupdatearumbasedmetricreturnsnotfoundresponse1759230768","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Typescript-Update_a_rum_based_metric_returns_Not_Found_response-1759230768"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}}},{"id":"testtypescrip[...]
