interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Update_a_rum_based_metric_returns_Not_Found_response-1732807886"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}},"id":"testupdatearumbasedmetricreturnsnotfoundresponse1732807886","type":"rum_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body: '{"data":{"id":"testupdatearumbasedmetricreturnsnotfoundresponse1732807886","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Update_a_rum_based_metric_returns_Not_Found_response-1732807886"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"compute":{"include_percentiles":true}},"id":"8fc991bf-967e-4652-8a5b-0711a985abe3","type":"rum_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/rum/config/metrics/8fc991bf-967e-4652-8a5b-0711a985abe3
  response:
    body: '{"errors":[{"status":"404","title":"Not Found","detail":"not_found(Metric
      with name ''8fc991bf-967e-4652-8a5b-0711a985abe3'' not found)"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/rum/config/metrics/testupdatearumbasedmetricreturnsnotfoundresponse1732807886
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
