interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Get_all_workflow_webhook_handles_returns_OK_response-1748457950","url":"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234"},"type":"workflows-webhook-handle"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body: '{"data":{"id":"a415a4f2-2b2b-49ad-9f53-3ff6cf5427a4","type":"workflows-webhook-handle","attributes":{"name":"Test-Get_all_workflow_webhook_handles_returns_OK_response-1748457950"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body: '{"data":[{"id":"250dc9c5-c441-4dd5-95af-eff475b0f03a","type":"workflows-webhook-handle","attributes":{"name":"Example-Create_workflow_webhook_handle_returns_CREATED_response_1742407475"}},{"id":"905704d9-dd74-4b4a-9904-3d77aafb2bb7","type":"workflows-webhook-handle","attributes":{"name":"Example-G[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/a415a4f2-2b2b-49ad-9f53-3ff6cf5427a4
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
