interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_workflow_webhook_handle_returns_CREATED_response-1738093012","url":"https://fake.url.com"},"type":"workflows-webhook-handle"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body: '{"data":{"id":"264ae337-af6e-4c54-8e90-2612426f270e","type":"workflows-webhook-handle","attributes":{"name":"Test-Create_workflow_webhook_handle_returns_CREATED_response-1738093012"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/264ae337-af6e-4c54-8e90-2612426f270e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
