interactions:
- request:
    body: |
      {"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body: '{"meta":{"elapsed":10,"request_id":"pddv1ChZNTFhDRTJTelQycXp1QXdlX1NmTlpRIi0KHe-ilFcY0rnsNmMKsu8hd-YRCNigxxg3E_n1PmI9EgxGTh_nEXTFJyr3H54","status":"done"},"data":{"buckets":[]}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
