interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"5m","type":"timeseries"}],"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"},"group_by":[{"facet":"host","missing":"miss","sort":{"aggregation":"pc90","metric":"@duration","order":"asc","type":"measure"},"total":"recall"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body: '{"meta":{"status":"done","request_id":"pddv1ChZjajVGdnloOFRydURjT01RakZPRGJRIiwKHAubHcvWGIRKaJwUb1Qgc-peEYojhMk6Z3opAHYSDOMLcdT0IUoqNWaYdA","elapsed":10},"data":{"buckets":[{"computes":{"c0":[{"value":28,"time":"2022-02-23T10:40:00.000Z"},{"value":80,"time":"2022-02-23T10:45:00.000Z"},{"value":80,"time":"2022-02-23T10:50:00.000Z"},{"value":42,"time":"2022-02-23T10:55:00.000Z"}]},"by":{"host":"07266d86-ec5b-40cb-4060-e4d9"}},{"computes":{"c0":[{"value":32,"time":"2022-02-23T10:40:00.000Z"},{"value":80,"time":"2022-02-23T10:45:00.000Z"},{"value":80,"time":"2022-02-23T10:50:00.000Z"},{"value":40,"time":"2022-02-23T10:55:00.000Z"}]},"by":{"host":"4a5a50c3-5d34-4009-74aa-38d8"}},{"computes":{"c0":[{"value":28,"time":"2022-02-23T10:40:00.000Z"},{"value":80,"time":"2022-02-23T10:45:00.000Z"},{"value":80,"time":"2022-02-23T10:50:00.000Z"},{"value":44,"time":"2022-02-23T10:55:00.000Z"}]},"by[...]
