interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"5m","type":"timeseries"}],"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"},"group_by":[{"facet":"host","missing":"miss","sort":{"aggregation":"pc90","metric":"@duration","order":"asc","type":"measure"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body: '{"meta":{"elapsed":15,"request_id":"pddv1ChZJZHpESXZreVRVU04ySjMwN1ZGU3JBIi0KHTpQ7N734J4KLzWgxOSfJsxi4hmH9Zp7S5bcjVbKEgw7sLHsv3QXsmnc0-k","status":"done"},"data":{"buckets":[]}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
