interactions:
- request:
    body: |
      {"compute":[{"aggregation":"count","interval":"5m","type":"timeseries"}],"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body: '{"meta":{"elapsed":165,"request_id":"pddv1ChY3VUd0WGZFS1IzNkpzaENGMDQ5dVlRIi0KHQwfsxs3-LlbabIdJPhP3_aSOsxZS1WRUrEaBffcEgxNrSsbB0hv7ccJCGk","status":"done"},"data":{"buckets":[]}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
