interactions:
- request:
    body: |
      {"filter":{"from":"2020-09-17T11:48:36+01:00","indexes":["main"],"query":"datadog-agent","to":"2020-09-17T12:48:36+01:00"},"page":{"limit":5},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body: '{"data":[]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '3471'
    status: 200 OK
version: 1
