interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/container_images?group_by=short_image
  response:
    body: '{"data": [{"type": "container_image_group", "attributes": {"name": "test_name",
      "tags": {"short_image": "test_short_image"}, "count": 641013}, "relationships":
      {"container_images": {"links": {"related": "https://api.datadoghq.com/api/v2/container_images?filter[tags]=short_image:image"},
      "data": []}}, "id": "test_id"}, {"type": "container_image_group", "attributes":
      {"name": "test_name", "tags": {"short_image": "test_short_image"}, "count":
      318935}, "relationships": {"container_images": {"links": {"related": "https://api.datadoghq.com/api/v2/container_images?filter[tags]=hort_image:worker"},
      "data": []}}, "id": "test_id"}, {"type": "container_image_group", "attributes":
[...]
