interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":false,"entries":[]},"type":"ip_allowlist"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/ip_allowlist
  response:
    body: '{"data":{"type":"ip_allowlist","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","attributes":{"enabled":false,"entries":[]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"enabled":false,"entries":[{"data":{"attributes":{"cidr_block":"127.0.0.1","note":"Test-Update_IP_Allowlist_returns_OK_response-1676046413"},"type":"ip_allowlist_entry"}}]},"type":"ip_allowlist"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/ip_allowlist
  response:
    body: '{"data":{"type":"ip_allowlist","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","attributes":{"enabled":false,"entries":[{"data":{"attributes":{"note":"Test-Update_IP_Allowlist_returns_OK_response-1676046413","created_at":"2023-02-10T16:26:53.343754+00:00","modified_at":"2023-02-10T16:26:53.343754+00:00","cidr_block":"127.0.0.1/32"},"type":"ip_allowlist_entry","id":"41678b10-3555-4dba-abbd-754d294aadc1"}}]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
