---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"11111111-dead-beef-dead-ffffffffffff","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemovePermissionFromRole
    url: https://api.datadoghq.com/api/v2/roles/5a601f38-9b74-11eb-9d38-da7ad0900002/permissions
    method: DELETE
  response:
    body: '{"errors": ["Invalid permission id: 11111111-dead-beef-dead-ffffffffffff"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "456"
      X-Ratelimit-Reset:
      - "40"
    status: 400 Bad Request
    code: 400
    duration: ""
