---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"11111111-dead-beef-dead-ffffffffffff","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemovePermissionFromRole
    url: https://api.datadoghq.com/api/v2/roles/5ab62036-8469-11ea-93de-77ee9977f629/permissions
    method: DELETE
  response:
    body: '{"errors": ["Invalid permission id: 11111111-dead-beef-dead-ffffffffffff"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2417977"
    status: 400 Bad Request
    code: 400
    duration: ""
