---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemovePermissionFromRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff/permissions
    method: DELETE
  response:
    body: '{"errors": ["Missing Role 00000000-dead-beef-dead-ffffffffffff"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2413239"
    status: 400 Bad Request
    code: 400
    duration: ""
