interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/downtime
  response:
    body: '{"data":[{"type":"downtime","attributes":{"monitor_identifier":{"monitor_tags":["*"]},"notify_end_states":["warn","no
      data","alert"],"created":"2021-10-28T14:17:52.420429+00:00","display_timezone":"UTC","mute_first_recovery_notification":false,"notify_end_types":["expired"],"message":null,"canceled":null,"modified":"2021-10-28T14:17:52.420429+00:00","scope":"host:java-hostsMuteErrorsTest-local-1635430672","schedule":{"end":null,"start":"2021-10-28T14:17:52.399817+00:00"},"status":"active"},"id":"1d9e7eee-b23a-11ed-a0dc-da7ad0900002"},{"type":"downtime","attributes":{"monitor_identifier":{"monitor_tags":["*"]},"notify_end_states":["warn","no
      data","alert"],"created":"2021-10-28T14:33:48.622821+00:00","display_timezone":"UTC","mute_first_recovery_notification":false,"notify_end_types":["expired"],"message":null,"canceled":null,"modified":"2021-10-28T14:33:48.622821+00:00","scope":"host:java-hostsMuteErrorsTest-local-1635431628","schedule":{"end":null,"start":"2021-10-28T14:33:48.62[...]
