interactions:
- request:
    body: |
      {"data":{"attributes":{"message":"test message","monitor_identifier":{"monitor_tags":["cat:hat"]},"schedule":{"start":null},"scope":"test:testcanceladowntimereturnsokresponse1685739202"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/downtime
  response:
    body: '{"data":{"type":"downtime","attributes":{"mute_first_recovery_notification":false,"status":"active","created":"2023-06-02T20:53:23.252025+00:00","notify_end_states":["alert","no
      data","warn"],"canceled":null,"display_timezone":"UTC","modified":"2023-06-02T20:53:23.252025+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"test:testcanceladowntimereturnsokresponse1685739202","schedule":{"start":"2023-06-02T20:53:23.238403+00:00","end":null},"message":"test
      message","notify_end_types":["expired"]},"id":"83718756-0187-11ee-8c18-da7ad0900002","relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/downtime/83718756-0187-11ee-8c18-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/downtime/83718756-0187-11ee-8c18-da7ad0900002
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
