interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"6Zm7WEgKzAlCnt_4exfEK0mSoeHHAaDf41O1AAfu","email":"dev@datadog.com","name":"testgetcloudflareaccountreturnsokresponse1674810021"},"type":"cloudflare-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
  response:
    body: '{"data":{"attributes":{"email":"dev@datadog.com","name":"testgetcloudflareaccountreturnsokresponse1674810021"},"type":"cloudflare-accounts","id":"ec582035efa21742f8f4ef4393ded49c"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/ec582035efa21742f8f4ef4393ded49c
  response:
    body: '{"data":{"attributes":{"email":"dev@datadog.com","name":"testgetcloudflareaccountreturnsokresponse1674810021"},"type":"cloudflare-accounts","id":"ec582035efa21742f8f4ef4393ded49c"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/ec582035efa21742f8f4ef4393ded49c
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
