interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"api_key":"test-api-key","name":"testaddcloudflareaccountreturnsbadrequestresponseduetomissingemail1674730504"},"type":"cloudflare-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
  response:
    body: '{"errors":["{u''_schema'': [''Email address is required if providing an
      api key and not an api token.'']}"]}'
    code: 400
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
