interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"fakekey","email":"dev@datadog.com","name":"testgetcloudflareaccountreturnsokresponse1704393642","resources":["web","dns"],"zones":["zone-id-1","zone-id-2"]},"type":"cloudflare-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
  response:
    body: '{"data":{"type":"cloudflare-accounts","attributes":{"name":"testgetcloudflareaccountreturnsokresponse1704393642","email":"dev@datadog.com","zones":["zone-id-1","zone-id-2"],"resources":["web","dns"]},"id":"88d65a60026254bfaf976a427606c061"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/88d65a60026254bfaf976a427606c061
  response:
    body: '{"data":{"type":"cloudflare-accounts","attributes":{"zones":["zone-id-1","zone-id-2"],"email":"dev@datadog.com","name":"testgetcloudflareaccountreturnsokresponse1704393642","resources":["web","dns"]},"id":"88d65a60026254bfaf976a427606c061"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/88d65a60026254bfaf976a427606c061
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
