interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"fakekey","email":"dev@datadog.com","name":"testdeletecloudflareaccountreturnsokresponse1700829099"},"type":"cloudflare-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
  response:
    body: '{"data":{"attributes":{"email":"new@email","name":"testdeletecloudflareaccountreturnsokresponse1700829099"},"type":"cloudflare-accounts","id":"328432a98957fd7bcba6f70daea72519"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/328432a98957fd7bcba6f70daea72519
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/328432a98957fd7bcba6f70daea72519
  response:
    body: '{"errors":["not_found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 No Found
version: 1
