interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"}}]},"layout":{"height":3,"width":12,"x":0,"y":0},"live_span":"1h"},"name":"Test-Update_a_powerpack_returns_Powerpack_Not_Found_response-1698172334","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/powerpacks/made-up-id
  response:
    body: '{"errors":["Powerpack has invalid UUID made-up-id not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
