interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"}}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"name":"Test-Get_all_powerpacks_returns_OK_response-1697039336","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body: '{"data":{"type":"powerpack","id":"afe8ae9a-684d-11ee-acaa-da7ad0900002","attributes":{"name":"Test-Get_all_powerpacks_returns_OK_response-1697039336","description":"Sample
      powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
      Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"},"id":2076464251986187}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"template_variables":[{"defaults":["*"],"name":"sample"}],"tags":["tag:sample"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/powerpacks?page%5Blimit%5D=1000
  response:
    body: '{"data":[{"type":"powerpack","id":"afe8ae9a-684d-11ee-acaa-da7ad0900002","attributes":{"name":"Test-Get_all_powerpacks_returns_OK_response-1697039336","description":"Sample
      powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
      Powerpack","type":"group","widgets":[{"definition":{"[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/powerpacks/afe8ae9a-684d-11ee-acaa-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
