interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Powerpack for ABC","group_widget":{"layout_type":"ordered","tags":["tag:foo1"],"type":"group","widgets":[{"definition":{"content":"example","type":"note"}}]},"name":"Sample Powerpack","tags":["tag:foo1"],"template_variables":[{"defaults":["*"],"name":"test"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body: '{"errors":["Invalid group widget for powerpack. Error: ''type'' is a required
      property\n\nFailed validating ''required'' in schema:\n    {''additionalProperties'':
      False,\n     ''properties'': {''background_color'': {''type'': ''string''},\n                    ''banner_img'':
      {''type'': ''string''},\n                    ''layout_type'': {''enum'': [''ordered'']},\n                    ''reflow_type'':
      {''enum'': [''auto'', ''fixed'']},\n                    ''show_title'': {''type'':[...]
