interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"}}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"name":"Sample Powerpack","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body: '{"data":{"type":"powerpack","id":"eb0c0428-572b-11ee-92ec-da7ad0900002","attributes":{"name":"Sample
      Powerpack","description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
      Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"},"id":8888289347240039}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"template_variables":[{"defaults":["*"],"name":"sample"}],"tags":["tag:sample"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"Sample powerpack","group_widget":{},"name":"Sample Powerpack","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/powerpacks/eb0c0428-572b-11ee-92ec-da7ad0900002
  response:
    body: '{"errors":["Invalid group widget for powerpack. Error: ''type'' is a required
      property\n\nFailed validating ''required'' in schema:\n    {''additionalProperties'':
      False,\n     ''properties'': {''background_color'': {''type'': ''string''},\n                    ''banner_img'':
      {''type'': ''string''},\n                    ''layout_type'': {''enum'': [''ordered'']},\n                    ''reflow_type'':
      {''enum'': [''auto'', ''fixed'']},\n                    ''show_title'': {''type'':[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/powerpacks/eb0c0428-572b-11ee-92ec-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
