---
version: 1
interactions:
- request:
    body: |
      {"account_id":"Test-TestAWSIntegrationCreateConflictErrors-1617977584","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"Different-Role"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"errors": ["This AWS account ID already exists."]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276543"
    status: 409 Conflict
    code: 409
    duration: ""
