---
version: 1
interactions:
- request:
    body: |
      {"name":"","thresholds":null,"type":""}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSLO
    url: https://api.datadoghq.com/api/v1/slo/gofeatureservicelevelobjectivesscenarioupdateansloreturnsbadrequestresponselocal1618463244
    method: PUT
  response:
    body: '{"errors": ["Invalid payload: Minimum length of parameter ''name'' should
      be 1"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4315401"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "55"
    status: 400 Bad Request
    code: 400
    duration: ""
