interactions:
- request:
    body: |
      {"name":"Test-Create_an_SLO_object_returns_Bad_Request_response-1618413154","thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"errors": ["Invalid payload: must specify monitor_ids or monitor_search"]}'
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4310591'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '26'
    status: 400 Bad Request
version: 1
