interactions:
- request:
    body: |
      {"name":"Test-Delete_an_SLO_returns_OK_response-1618491680","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"e14442711e255a92970f2050d05be95d","name":"Test-Delete_an_SLO_returns_OK_response-1618491680","created_at":1618491681,"tags":[],"modified_at":1618491681,"type":"metric"}],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/e14442711e255a92970f2050d05be95d
  response:
    body: '{"data":["e14442711e255a92970f2050d05be95d"],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/e14442711e255a92970f2050d05be95d
  response:
    body: '{"errors": ["SLO not found: e14442711e255a92970f2050d05be95d not found"]}'
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
