interactions:
- id: 0
  request:
    body: |
      {"name":"Test-Get_Corrections_For_an_SLO_returns_OK_response-1652349024","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"dd2615cf2fbf56098f3cf4965d37892f","name":"Test-Get_Corrections_For_an_SLO_returns_OK_response-1652349024","created_at":1652349025,"tags":[],"modified_at":1652349025,"type":"metric"}],"error":null}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: |
      {"data":{"attributes":{"category":"Other","description":"Test Correction","end":1652352624,"slo_id":"dd2615cf2fbf56098f3cf4965d37892f","start":1652349024,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body: '{"data":{"type":"correction","id":"f2b8ad40-d1d8-11ec-a01e-da7ad0902002","attributes":{"slo_id":"dd2615cf2fbf56098f3cf4965d37892f","start":1652349024,"end":1652352624,"description":"Test
      Correction","category":"Other","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/slo/dd2615cf2fbf56098f3cf4965d37892f/corrections
  response:
    body: '{"meta":{"pagination":{"type":"offset_limit","prev_offset":0,"next_offset":10,"offset":0,"limit":10,"total":1,"first_offset":0,"last_offset":0}},"data":[{"type":"correction","id":"f2b8ad40-d1d8-11ec-a01e-da7ad0902002","attributes":{"slo_id":"dd2615cf2fbf56098f3cf4965d37892f","start":1652349024,"end":1652352624,"description":"Test
      Correction","category":"Other","timezone":"UTC","created_at":1652349025,"modified_at":1652349025,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}],"links":{"next":"https://api.datadoghq.com/api/v1/slo/dd2615cf2fbf56098f3cf4965d37892f/corrections?page[offset]=10&page[limit]=10","self":"https://api.datadoghq.com/api/v1/slo/dd2615cf2fbf56098f3cf4965d37892f/corrections","prev":null,"last":null,"first":"https://api.datadoghq.com/api/v1/slo/dd2615cf2fbf56098f3cf4965d37892f/corrections?page[offset]=0&page[limit]=10"}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 3
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/correction/f2b8ad40-d1d8-11ec-a01e-da7ad0902002
  response:
    body: ''
    code: 204
    duration: 100ms
    headers: {}
    status: 204 No Content
- id: 4
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/dd2615cf2fbf56098f3cf4965d37892f
  response:
    body: '{"data":["dd2615cf2fbf56098f3cf4965d37892f"],"error":null}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
