interactions:
- request:
    body: |
      {"name":"Test-Get_an_SLO_s_history_returns_OK_response-1704322488","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"id":"627a3ccd24af50beb8eacbd36c5962f9","name":"Test-Get_an_SLO_s_history_returns_OK_response-1704322488","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1704322488,"modified_at":1704322488}],"error":null}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/slo/627a3ccd24af50beb8eacbd36c5962f9/history?from_ts=1704236088&to_ts=1704322488
  response:
    body: '{"data":{"thresholds":{"7d":{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}},"from_ts":1704236088,"to_ts":1704322488,"type":"metric","type_id":1,"slo":{"id":"627a3ccd24af50beb8eacbd36c5962f9","name":"Test-Get_an_SLO_s_history_returns_OK_response-1704322488","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98.0,"target_threshold":95.0,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1704322488,"modified_at":1704322488},"group_by":[],"series":{"timing":"0.02146005630493164","res_type":"time_series","resp_version":2,"query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count())","from_date":1704236088000,"to_date":1704322488000,"message":"","interval":7200,"times":[1704235800000.0,1704240000000.0,1704247200000.0,1704254400000.0,1704261600000.0,1704268800000.0,1704276000000.0,1704283200000.0,1704290400000.0,1704297600000.0,1704304800000.0,1704312000000.0,1704319200000.0],"numerator":{"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"unit":null,"query_index":0,"aggr":"sum","metric":"default_zero(httpservice.hits)","tag_set":[],"expression":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","scope":"code:2xx"},"sum":0.0,"count":13},"denominator":{"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"unit":null,"query_index":1,"aggr":"sum","metric":"default_zero(httpservice.hits)","tag_set":[],"expression":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","scope":"!code:3xx"},"sum":0.0,"count":13},"numerator_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","denominator_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","bad_series_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())
      - default_zero(sum:httpservice.hits{code:2xx}.as_count())","graph_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count()) - default_zero(sum:httpservice.hits{code:2xx}.as_count())"},"overall":{"errors":[{"error_message":"The
      denominator is zero valued","error_type":"ZERO_VALUED_DENOMINATOR"}],"sli_value":null,"span_precision":2,"precision":{"7d":0},"uptime":null,"corrections":[],"state":"no_data"}},"errors":null}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/627a3ccd24af50beb8eacbd36c5962f9
  response:
    body: '{"data":["627a3ccd24af50beb8eacbd36c5962f9"],"error":null}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
