interactions:
- request:
    body: |
      {"name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572732","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"90eaa3b4c11751b884a783c81485ed31","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572732","created_at":1618572732,"tags":[],"modified_at":1618572732,"type":"metric"}],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572732","thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/slo/90eaa3b4c11751b884a783c81485ed31
  response:
    body: '{"errors": ["Invalid payload: must specify the query for count types"]}'
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/90eaa3b4c11751b884a783c81485ed31
  response:
    body: '{"data":["90eaa3b4c11751b884a783c81485ed31"],"error":null}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
