interactions:
- request:
    body: |
      {"description":"Metric SLO using sli_specification","name":"Test-Create_a_new_metric_SLO_object_using_sli_specification_returns_OK_response-1770322058","sli_specification":{"count":{"good_events_formula":{"formula":"query1 - query2"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:httpservice.hits{*}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:httpservice.errors{*}.as_count()"}],"total_events_formula":{"formula":"query1"}}},"tags":["env:prod","type:count"],"target_threshold":99,"thresholds":[{"target":99,"target_display":"99.0","timeframe":"7d","warning":99.5,"warning_display":"99.5"}],"timeframe":"7d","type":"metric","warning_threshold":99.5}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"id":"6e49f8aa9883507dbc719f00eede5a5d","name":"Test-Create_a_new_metric_SLO_object_using_sli_specification_returns_OK_response-1770322058","tags":["env:prod","type:count"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.0,"target_display":"99.","warning":99.5,"warning_display":"99.5"}],"type":"metric","type_id":1,"description":"Metric
      SLO using sli_specification","timeframe":"7d","warning_threshold":99.5,"target_threshold":99,"query":{"numerator":"sum:httpservice.hits{*}.as_count()
      - sum:httpservice.errors{*}.as_count()","denominator":"sum:httpservice.hits{*}.as_count()"},"creator":{"name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com"},"created_at":1770322058,"modified_at":1770322058,"sli_specification":{"count":{"good_events_formula":{"formula":"query1
      - query2"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:httpservice.hits{*}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:httpservice.errors{*}.as_count()"}],"total_events_formula":{"formula":"query1"}}}}],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/6e49f8aa9883507dbc719f00eede5a5d
  response:
    body: '{"data":["6e49f8aa9883507dbc719f00eede5a5d"],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
