interactions:
- request:
    body: |
      {"name":"Test-Search_for_SLOs_returns_OK_response-1676410539","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/slo
  response:
    body: '{"data":[{"id":"34c97838f5c5578ebe812e5d068977a9","name":"Test-Search_for_SLOs_returns_OK_response-1676410539","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1676410539,"modified_at":1676410539}],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=20&query=Test-Search_for_SLOs_returns_OK_response-1676410539
  response:
    body: '{"data":{"type":"service_level_objective_search_results","attributes":{"slos":[{"data":{"type":"slo","attributes":{"monitor_ids":null,"all_tags":[],"thresholds":[{"warning_display":"95","target_display":"95","target":95.0,"warning":98.0,"timeframe":"7d"}],"env_tags":[],"groups":null,"timeframe":"7d","overall_status":[{"error_budget_remaining":null,"raw_error_budget_remaining":null,"indexed_at":1676409980,"status":null,"span_precision":null,"error":"The
      denominator is zero valued","target":95.0,"state":"no_data","timeframe":"7d"}],"query":{"metrics":null,"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"},"warning_threshold":98.0,"slo_type":"metric","name":"Test-Search_for_SLOs_returns_OK_response-1676410539","service_tags":[],"status":{"error_budget_remaining":null,"raw_error_budget_remaining":null,"indexed_at":1676409980,"span_precision":null,"state":"no_data","sli":null,"calculation_error":"The
      denominator is zero valued"},"creator":{"name":null,"id":1445416,"email":"frog@datadoghq.com"},"created_at":1676364842,"modified_at":1676364842,"description":null,"team_tags":[],"target_threshold":95.0},"id":"18101ab6982f547faba6c9bdc6de9413"}}]}},"meta":{"pagination":{"number":0,"first_number":0,"prev_number":0,"next_number":1,"last_number":0,"size":20,"type":"number_size","total":1}},"links":{"self":"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1676410539&page%5Bsize%5D=20&page%5Bnumber%5D=0","last":null,"next":"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1676410539&page[number]=1&page[size]=20","prev":null,"first":"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1676410539&page[number]=0&page[size]=20"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/slo/34c97838f5c5578ebe812e5d068977a9
  response:
    body: '{"data":["34c97838f5c5578ebe812e5d068977a9"],"error":null}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
