interactions:
- request:
    body: |
      {"data":{"attributes":{"from":1671612804000,"query":"service:orders-* AND @language:go","to":1671620004000,"track":"invalid-track"},"type":"search_request"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/error-tracking/issues/search
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"invalid json
      value for TrackType: invalid-track"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
