---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_IncidentTeams-Scenario_Update_an_existing_incident_team_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1603404548"},"type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"a2e102e1-0f9d-516a-86db-7736a1d68a37","attributes":{"name":"go-TestScenarios-Feature_IncidentTeams-Scenario_Update_an_existing_incident_team_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1603404548","created":"2020-10-22T22:09:08.457739+00:00","modified":"2020-10-22T22:09:08.457739+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sQOy8a0Uobuto7YUtlnbqZIuXh5uDLMP34xhBMJaioPr6917JNPh2PehnbSMnQ69
      X-Dd-Version:
      - "35.3242810"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11995"
      X-Ratelimit-Reset:
      - "52"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_IncidentTeams-Scenario_Update_an_existing_incident_team_returns__OK__response-Given_there_is_a_valid__team__in_the_system-local-1603404548-updated"},"id":"","type":"teams"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateIncidentTeam
    url: https://api.datadoghq.com/api/v2/teams/a2e102e1-0f9d-516a-86db-7736a1d68a37
    method: PATCH
  response:
    b[...]
