interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test feature flag for BDD scenarios","key":"test-feature-flag-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","name":"Test Feature Flag Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","value_type":"BOOLEAN","variants":[{"key":"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958-1","name":"Variant Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958 A","value":"true"},{"key":"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958-2","name":"Variant Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"a0d35980-96a6-4a9e-956f-390407054a69","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-22T20:15:59.062012Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"fc71eafe-8428-47c5-b381-5c8ab1f92e9d","override_variant_id":null,"default_allocation_key":"allocation-default-73242898aed7","override_allocation_key":"allocation-override-73242898aed7","allocations":null,"is_production":false,"require_feature_flag_approval":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"fc71eafe-8428-47c[...]
- request:
    body: |
      {"data":{"attributes":{"name":"Test Environment Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","queries":["test-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","env-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958"]},"type":"environments"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/environments
  response:
    body: '{"data":{"id":"ceb9a94c-ba26-4003-a153-f97fca9b209f","type":"environments","attributes":{"is_production":false,"name":"Test
      Environment Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","queries":["test-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","env-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958"],"require_feature_flag_approval":false}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":[{"attributes":{"exposure_schedule":{"rollout_options":{"autostart":false,"selection_interval_ms":86400000,"strategy":"UNIFORM_INTERVALS"},"rollout_steps":[{"exposure_ratio":0.05,"grouped_step_index":0,"interval_ms":null,"is_pause_record":false},{"exposure_ratio":0.25,"grouped_step_index":1,"interval_ms":null,"is_pause_record":false},{"exposure_ratio":1,"grouped_step_index":2,"interval_ms":null,"is_pause_record":false}]},"guardrail_metrics":[],"key":"overwrite-allocation-test-update_targeting_rules_for_a_flag_in_an_environment_returns_ok_response-1776888958","name":"New targeting rule Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","targeting_rules":[],"type":"CANARY","variant_weights":[{"value":100,"variant_id":"fc71eafe-8428-47c5-b381-5c8ab1f92e9d"}]},"type":"allocations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PUT
    url: https://api.datadoghq.com/api/v2/feature-flags/a0d35980-96a6-4a9e-956f-390407054a69/environments/ceb9a94c-ba26-4003-a153-f97fca9b209f/allocations
  response:
    body: '{"data":[{"id":"a0348d5c-d9b0-4151-86eb-304de14262cd","type":"allocations","attributes":{"created_at":"2026-04-22T20:16:00.322813054Z","environment_ids":["ceb9a94c-ba26-4003-a153-f97fca9b209f"],"experiment_id":null,"exposure_schedule":{"id":"c346b4e1-b6ef-410c-9b07-3a09ce4a6fa2","allocation_id":"a0348d5c-d9b0-4151-86eb-304de14262cd","control_variant_id":null,"absolute_start_time":null,"rollout_options":{"strategy":"UNIFORM_INTERVALS","autostart":false,"selection_interval_ms":86400000},"rollout_steps":[{"id":"f2abe378-e049-4b93-8f13-30aa4d513803","allocation_exposure_schedule_id":"c346b4e1-b6ef-410c-9b07-3a09ce4a6fa2","order_position":0,"exposure_ratio":0.05,"interval_ms":86400000,"is_pause_record":false,"grouped_step_index":0,"created_at":"2026-04-22T20:16:00.33066Z","updated_at":"2026-04-22T20:16:00.33066Z"},{"id":"cbcba455-6611-460f-9f67-39b4e179dfb0","allocation_exposure_schedule_id":"c346b4e1-b6ef-410c-9b07-3a09ce4a6fa2","order_position":1,"exposure_ratio":0.25,"interval_ms":86400000,"is_pause_record":false,"grouped_step_index":1,"created_at":"2026-04-22T20:16:00.33066Z","updated_at":"2026-04-22T20:16:00.33066Z"},{"id":"b72d37a0-b363-418b-8890-8042fd04bc3d","allocation_exposure_schedule_id":"c346b4e1-b6ef-410c-9b07-3a09ce4a6fa2","order_position":2,"exposure_ratio":1,"interval_ms":null,"is_pause_record":false,"grouped_step_index":2,"created_at":"2026-04-22T20:16:00.33066Z","updated_at":"2026-04-22T20:16:00.33066Z"}],"guardrail_triggers":[],"guardrail_triggered_action":null,"created_at":"2026-04-22T20:16:00.327035Z","updated_at":"2026-04-22T20:16:00.327035Z"},"guardrail_metrics":[],"key":"overwrite-allocation-test-update_targeting_rules_for_a_flag_in_an_environment_returns_ok_response-1776888958","name":"New
      targeting rule Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958","order_position":0,"targeting_rules":[],"type":"CANARY","updated_at":"2026-04-22T20:16:00.322813054Z","variant_weights":[{"id":"2a61e0e7-7365-46f6-a582-13d3795a2331","created_at":"2026-04-22T20:16:00.337693Z","updated_at":"2026-04-22T20:16:00.337693Z","value":100,"variant_id":"fc71eafe-8428-47c5-b381-5c8ab1f92e9d","variant":{"id":"fc71eafe-8428-47c5-b381-5c8ab1f92e9d","key":"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958-1","name":"Variant
      Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1776888958
      A","value":"true","created_at":"2026-04-22T20:15:59.071764Z","updated_at":"2026-04-22T20:15:59.071764Z"}}]}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/feature-flags/environments/ceb9a94c-ba26-4003-a153-f97fca9b209f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/a0d35980-96a6-4a9e-956f-390407054a69/archive
  response:
    body: '{"data":{"id":"a0d35980-96a6-4a9e-956f-390407054a69","type":"feature-flags","attributes":{"archived_at":"2026-04-22T20:16:01.056984Z","created_at":"2026-04-22T20:15:59.062012Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distributio[...]
