interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test feature flag for BDD scenarios","key":"test-feature-flag-Test-Get_a_feature_flag_returns_OK_response-1776888956","name":"Test Feature Flag Test-Get_a_feature_flag_returns_OK_response-1776888956","value_type":"BOOLEAN","variants":[{"key":"variant-Test-Get_a_feature_flag_returns_OK_response-1776888956-1","name":"Variant Test-Get_a_feature_flag_returns_OK_response-1776888956 A","value":"true"},{"key":"variant-Test-Get_a_feature_flag_returns_OK_response-1776888956-2","name":"Variant Test-Get_a_feature_flag_returns_OK_response-1776888956 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"bb56c49c-0867-4c87-9a5a-07b2de32a8af","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-22T20:15:56.568439Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"2aeac626-73a8-4b6c-aaa3-447ded6ee336","override_variant_id":null,"default_allocation_key":"allocation-default-73bd6f12f525","override_allocation_key":"allocation-override-73bd6f12f525","allocations":null,"is_production":false,"require_feature_flag_approval":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"2aeac626-73a8-4b6[...]
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/feature-flags/bb56c49c-0867-4c87-9a5a-07b2de32a8af
  response:
    body: '{"data":{"id":"bb56c49c-0867-4c87-9a5a-07b2de32a8af","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-22T20:15:56.568439Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_env[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/bb56c49c-0867-4c87-9a5a-07b2de32a8af/archive
  response:
    body: '{"data":{"id":"bb56c49c-0867-4c87-9a5a-07b2de32a8af","type":"feature-flags","attributes":{"archived_at":"2026-04-22T20:15:57.245709Z","created_at":"2026-04-22T20:15:56.568439Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distributio[...]
