interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test feature flag for BDD scenarios","key":"test-feature-flag-Test-Archive_a_feature_flag_returns_OK_response-1776888948","name":"Test Feature Flag Test-Archive_a_feature_flag_returns_OK_response-1776888948","value_type":"BOOLEAN","variants":[{"key":"variant-Test-Archive_a_feature_flag_returns_OK_response-1776888948-1","name":"Variant Test-Archive_a_feature_flag_returns_OK_response-1776888948 A","value":"true"},{"key":"variant-Test-Archive_a_feature_flag_returns_OK_response-1776888948-2","name":"Variant Test-Archive_a_feature_flag_returns_OK_response-1776888948 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"08855245-91dc-4eec-be0c-eb763a859cc4","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-22T20:15:48.974579Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"253b5750-5d84-41ed-afe5-c0a5542d6be4","override_variant_id":null,"default_allocation_key":"allocation-default-16572a55982f","override_allocation_key":"allocation-override-16572a55982f","allocations":null,"is_production":false,"require_feature_flag_approval":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"253b5750-5d84-41e[...]
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/08855245-91dc-4eec-be0c-eb763a859cc4/archive
  response:
    body: '{"data":{"id":"08855245-91dc-4eec-be0c-eb763a859cc4","type":"feature-flags","attributes":{"archived_at":"2026-04-22T20:15:49.369442Z","created_at":"2026-04-22T20:15:48.974579Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distributio[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/08855245-91dc-4eec-be0c-eb763a859cc4/unarchive
  response:
    body: '{"data":{"id":"08855245-91dc-4eec-be0c-eb763a859cc4","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-22T20:15:48.974579Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","featu[...]
[...]
