interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test feature flag for BDD scenarios","key":"test-feature-flag-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","name":"Test Feature Flag Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","value_type":"BOOLEAN","variants":[{"key":"variant-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951-1","name":"Variant Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951 A","value":"true"},{"key":"variant-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951-2","name":"Variant Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"e6c7f35a-b5ca-4dd9-afef-1f82e56ef3c3","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-22T20:15:51.791938Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"80763910-cca1-46e4-b44e-756ae2e40c63","override_variant_id":null,"default_allocation_key":"allocation-default-ebc70681da00","override_allocation_key":"allocation-override-ebc70681da00","allocations":null,"is_production":false,"require_feature_flag_approval":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"80763910-cca1-46e[...]
- request:
    body: |
      {"data":{"attributes":{"name":"Test Environment Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","queries":["test-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","env-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951"]},"type":"environments"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/environments
  response:
    body: '{"data":{"id":"88b05d9a-5492-48a2-b06f-ea4b49acdd21","type":"environments","attributes":{"is_production":false,"name":"Test
      Environment Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","queries":["test-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","env-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951"],"require_feature_flag_approval":false}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"guardrail_metrics":[],"key":"new-targeting-rule-test-create_allocation_for_a_flag_in_an_environment_returns_created_response-1776888951","name":"New targeting rule Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","targeting_rules":[],"type":"CANARY","variant_weights":[{"value":100,"variant_id":"80763910-cca1-46e4-b44e-756ae2e40c63"}]},"type":"allocations"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/e6c7f35a-b5ca-4dd9-afef-1f82e56ef3c3/environments/88b05d9a-5492-48a2-b06f-ea4b49acdd21/allocations
  response:
    body: '{"data":{"id":"bd16d8f4-8d7e-4369-b0d8-4ebc3ff3a0a5","type":"allocations","attributes":{"created_at":"2026-04-22T20:15:53.849337881Z","environment_ids":["88b05d9a-5492-48a2-b06f-ea4b49acdd21"],"experiment_id":null,"guardrail_metrics":[],"key":"new-targeting-rule-test-create_allocation_for_a_flag_in_an_environment_returns_created_response-1776888951","name":"New
      targeting rule Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951","order_position":0,"targeting_rules":[],"type":"CANARY","updated_at":"2026-04-22T20:15:53.849337881Z","variant_weights":[{"id":"7bb71a98-b169-4a80-ac96-0d8d4e8fce51","created_at":"2026-04-22T20:15:53.855454Z","updated_at":"2026-04-22T20:15:53.855454Z","value":100,"variant_id":"80763910-cca1-46e4-b44e-756ae2e40c63","variant":{"id":"80763910-cca1-46e4-b44e-756ae2e40c63","key":"variant-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951-1","name":"Variant
      Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951
      A","value":"true","created_at":"2026-04-22T20:15:51.800572Z","updated_at":"2026-04-22T20:15:51.800572Z"}}]}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/feature-flags/environments/88b05d9a-5492-48a2-b06f-ea4b49acdd21
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/e6c7f35a-b5ca-4dd9-afef-1f82e56ef3c3/archive
  response:
    body: '{"data":{"id":"e6c7f35a-b5ca-4dd9-afef-1f82e56ef3c3","type":"feature-flags","attributes":{"archived_at":"2026-04-22T20:15:54.879082Z","created_at":"2026-04-22T20:15:51.791938Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distributio[...]
