interactions:
- request:
    body: |
      {"data":{"attributes":{"default_variant_key":"variant-Test-Create_a_feature_flag_returns_Created_response-1773768383-1","description":"Test feature flag for BDD scenarios","key":"test-feature-flag-Test-Create_a_feature_flag_returns_Created_response-1773768383","name":"Test Feature Flag Test-Create_a_feature_flag_returns_Created_response-1773768383","value_type":"BOOLEAN","variants":[{"key":"variant-Test-Create_a_feature_flag_returns_Created_response-1773768383-1","name":"Variant Test-Create_a_feature_flag_returns_Created_response-1773768383 A","value":"true"},{"key":"variant-Test-Create_a_feature_flag_returns_Created_response-1773768383-2","name":"Variant Test-Create_a_feature_flag_returns_Created_response-1773768383 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"6fa35bee-ba95-4f15-b50d-c361e155f2ae","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-03-17T17:26:23.233582Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"0b94dbaa-9efb-419d-8bd7-ef56f3828986","environment_name":"Test
      Environment Test-Typescript-Create_an_environment_returns_Created_response-1773321543","status":"DISABLED","default_variant_id":"8cddd390-eb33-4430-a0e5-89134e033633","override_variant_id":null,"default_allocation_key":"allocation-default-61ba48eebc90","override_allocation_key":"allocation-override-61ba48eebc90","rules":[],"rollout_percentage":0,"allocations":null,"is_production":false,"pending_suggestion_id":null,"require_feature_flag_approval":false},{"environment_id":"afdaa512-6307-4965-bf92-62cc6bea5d00","environment_name":"Test
      Environment Test-Typescript-Create_an_environment_returns_Created_response-1773322166","status":"DISABLED","default_variant_id":"8cddd390-eb33-4430-a0e5-89134e033633","override_variant_id":null,"default_allocation_key":"allocation-default-2e4b491cac9c","override_allocation_key":"allocation-override-2e4b491cac9c","rules":[],"rollout_percentage":0,"allocations":null,"is_production":false,"pending_suggestion_id":null,"require_feature_flag_approval":false}],"key":"test-feature-flag-Test-Create_a_feature_flag_returns_Created_response-1773768383","last_updated_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"Test
      Feature Flag Test-Create_a_feature_flag_returns_Created_response-1773768383","require_approval":false,"updated_at":"2026-03-17T17:26:23.233582Z","value_type":"BOOLEAN","variants":[{"id":"8cddd390-eb33-4430-a0e5-89134e033633","key":"variant-Test-Create_a_feature_flag_returns_Created_response-1773768383-1","name":"Variant
      Test-Create_a_feature_flag_returns_Created_response-1773768383 A","value":"true","created_at":"2026-03-17T17:26:23.23848Z","updated_at":"2026-03-17T17:26:23.23848Z"},{"id":"62dcbb05-dad0-4fbb-ab67-d308ca03bec0","key":"variant-Test-Create_a_feature_flag_returns_Created_response-1773768383-2","name":"Variant
      Test-Create_a_feature_flag_returns_Created_response-1773768383 B","value":"false","created_at":"2026-03-17T17:26:23.243558Z","updated_at":"2026-03-17T17:26:23.243558Z"}]}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/6fa35bee-ba95-4f15-b50d-c361e155f2ae/archive
  response:
    body: '{"data":{"id":"6fa35bee-ba95-4f15-b50d-c361e155f2ae","type":"feature-flags","attributes":{"archived_at":"2026-03-17T17:26:23.573178Z","created_at":"2026-03-17T17:26:23.233582Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distributio[...]
