interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/feature-flags?page%5Blimit%5D=10
  response:
    body: '{"data":[{"id":"6188b0f5-7577-41bc-b1ba-d15f3f0f65dd","type":"feature-flags","attributes":{"archived_at":"2026-06-30T20:09:41.133264Z","created_at":"2026-06-30T20:09:38.316729Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Updated
      description for the feature flag","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"6ba614f2-b452-4fff-ae72-0a0daa9acace","override_variant_id":null,"default_allocation_key":"allocation-default-f70dbd71a9a6","override_allocation_key":"allocation-override-f70dbd71a9a6","is_production":false,"require_feature_flag_approval":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"6ba614f2-b452-4ff[...]
