interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test Environment Test-Create_an_environment_returns_Created_response-1776888955","queries":["test-Test-Create_an_environment_returns_Created_response-1776888955","env-Test-Create_an_environment_returns_Created_response-1776888955"]},"type":"environments"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/environments
  response:
    body: '{"data":{"id":"e8d345e2-dca2-4270-912f-1189174ee338","type":"environments","attributes":{"is_production":false,"name":"Test
      Environment Test-Create_an_environment_returns_Created_response-1776888955","queries":["test-Test-Create_an_environment_returns_Created_response-1776888955","env-Test-Create_an_environment_returns_Created_response-1776888955"],"require_feature_flag_approval":false}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/feature-flags/environments/e8d345e2-dca2-4270-912f-1189174ee338
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
version: 2
