interactions:
- request:
    body: |
      {"data":{"attributes":{"default_variant_key":"variant-Test-Create_a_feature_flag_with_notification_rule_targets_returns_Created_response-1786370020-1","description":"Test feature flag with notification rule targets for BDD scenarios","key":"test-feature-flag-notify-Test-Create_a_feature_flag_with_notification_rule_targets_returns_Created_response-1786370020","name":"Test Feature Flag Notify Test-Create_a_feature_flag_with_notification_rule_targets_returns_Created_response-1786370020","notification_rule_query":"notification_type:rollout_started","rule_targets":[{"configuration":{"channel":"#feature-flags-test","workspace":"datadoghq"},"type":"SLACK_CHANNEL","version":1}],"value_type":"BOOLEAN","variants":[{"key":"variant-Test-Create_a_feature_flag_with_notification_rule_targets_returns_Created_response-1786370020-1","name":"Variant Test-Create_a_feature_flag_with_notification_rule_targets_returns_Created_response-1786370020 A","value":"true"},{"key":"variant-Test-Create_a_feature_flag_with_notification_rule_targets_returns_Created_response-1786370020-2","name":"Variant Test-Create_a_feature_flag_with_notification_rule_targets_returns_Created_response-1786370020 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"9d8682a3-bee3-4c44-9dbb-0c440677560a","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-08-10T13:53:41.832729Z","created_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Test
      feature flag with notification rule targets for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"d20d7517-d398-47f3-9ede-1db93a4ff44b","override_variant_id":null,"default_allocation_key":"allocation-default-1d656919df39","override_allocation_key":"allocation-override-1d656919df39","allocations":null,"is_production":false,"require_feature_flag_approval":false,"observe_full_evaluation_data":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"d20d7517-d398-47f[...]
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/9d8682a3-bee3-4c44-9dbb-0c440677560a/archive
  response:
    body: '{"data":{"id":"9d8682a3-bee3-4c44-9dbb-0c440677560a","type":"feature-flags","attributes":{"archived_at":"2026-08-10T13:53:42.468506Z","created_at":"2026-08-10T13:53:41.832729Z","created_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Test
      feature flag with notification rule targets [...]
