interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test feature flag for BDD scenarios","key":"test-feature-flag-Test-Update_a_feature_flag_returns_OK_response-1776888957","name":"Test Feature Flag Test-Update_a_feature_flag_returns_OK_response-1776888957","value_type":"BOOLEAN","variants":[{"key":"variant-Test-Update_a_feature_flag_returns_OK_response-1776888957-1","name":"Variant Test-Update_a_feature_flag_returns_OK_response-1776888957 A","value":"true"},{"key":"variant-Test-Update_a_feature_flag_returns_OK_response-1776888957-2","name":"Variant Test-Update_a_feature_flag_returns_OK_response-1776888957 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"d350e2d6-4896-429a-a6a1-44f1b0040bae","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-22T20:15:57.894572Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"e04afa52-9096-417e-af40-bef68bd29a77","override_variant_id":null,"default_allocation_key":"allocation-default-655b96058447","override_allocation_key":"allocation-override-655b96058447","allocations":null,"is_production":false,"require_feature_flag_approval":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"e04afa52-9096-417[...]
- request:
    body: |
      {"data":{"attributes":{"description":"Updated description for the feature flag","name":"Updated Test Feature Flag Test-Update_a_feature_flag_returns_OK_response-1776888957"},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/feature-flags/d350e2d6-4896-429a-a6a1-44f1b0040bae
  response:
    body: '{"data":{"id":"d350e2d6-4896-429a-a6a1-44f1b0040bae","type"[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/d350e2d6-4896-429a-a6a1-44f1b0040bae/archive
  response:
    body: '{"data":{"id":"d350e2d6-4896-429a-a6a1-44f1b0040bae","type":"feature-flags","attributes":{"archived_at":"2026-04-22T20:15:58.649581Z","created_at":"2026-04-22T20:15:57.894572Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Updated
      description for the feature flag","distri[...]
