interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test feature flag for BDD scenarios","key":"test-feature-flag-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","name":"Test Feature Flag Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","value_type":"BOOLEAN","variants":[{"key":"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810-1","name":"Variant Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810 A","value":"true"},{"key":"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810-2","name":"Variant Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810 B","value":"false"}]},"type":"feature-flags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags
  response:
    body: '{"data":{"id":"ede225ed-3a62-4cb5-b678-73851d56c700","type":"feature-flags","attributes":{"archived_at":null,"created_at":"2026-04-01T20:36:51.103987Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distribution_channel":"ALL","feature_flag_environments":[{"environment_id":"592600c2-8327-424d-960f-608c327ee96d","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658"],"status":"DISABLED","default_variant_id":"73ffe05f-ba09-46c0-ba5e-9d14b1da564f","override_variant_id":null,"default_allocation_key":"allocation-default-2950ef4bf91c","override_allocation_key":"allocation-override-2950ef4bf91c","rules":[],"rollout_percentage":0,"allocations":null,"is_production":false,"require_feature_flag_approval":false,"pending_suggestion_id":null},{"environment_id":"809cd83d-51ac-4f60-9ce5-cfad4d662114","environment_name":"Test
      Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","environment_queries":["test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346","env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346"],"status":"DISABLED","default_variant_id":"73ffe05f-ba09-46c[...]
- request:
    body: |
      {"data":{"attributes":{"name":"Test Environment Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","queries":["test-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","env-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810"]},"type":"environments"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/environments
  response:
    body: '{"data":{"id":"73900c64-e4c9-46a3-ac5b-d5fa80be2b49","type":"environments","attributes":{"is_production":false,"name":"Test
      Environment Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","queries":["test-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","env-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810"],"require_feature_flag_approval":false}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":[{"attributes":{"exposure_schedule":{"rollout_options":{"autostart":false,"selection_interval_ms":86400000,"strategy":"UNIFORM_INTERVALS"},"rollout_steps":[{"exposure_ratio":0.05,"grouped_step_index":0,"interval_ms":null,"is_pause_record":false},{"exposure_ratio":0.25,"grouped_step_index":1,"interval_ms":null,"is_pause_record":false},{"exposure_ratio":1,"grouped_step_index":2,"interval_ms":null,"is_pause_record":false}]},"guardrail_metrics":[],"key":"overwrite-allocation-test-update_targeting_rules_for_a_flag_in_an_environment_returns_ok_response-1775075810","name":"New targeting rule Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","targeting_rules":[],"type":"CANARY","variant_weights":[{"value":100,"variant_id":"73ffe05f-ba09-46c0-ba5e-9d14b1da564f"}]},"type":"allocations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: PUT
    url: https://api.datadoghq.com/api/v2/feature-flags/ede225ed-3a62-4cb5-b678-73851d56c700/environments/73900c64-e4c9-46a3-ac5b-d5fa80be2b49/allocations
  response:
    body: '{"data":[{"id":"576deb88-9917-4848-87b1-f9ea276f6bf3","type":"allocations","attributes":{"created_at":"2026-04-01T20:36:51.950824558Z","environment_ids":["73900c64-e4c9-46a3-ac5b-d5fa80be2b49"],"experiment_id":null,"exposure_schedule":{"id":"871b9d47-219d-469d-89de-e9322ad135fd","allocation_id":"576deb88-9917-4848-87b1-f9ea276f6bf3","control_variant_id":null,"absolute_start_time":null,"rollout_options":{"strategy":"UNIFORM_INTERVALS","autostart":false,"selection_interval_ms":86400000},"rollout_steps":[{"id":"92089f1f-3065-447c-a674-a88d38641967","allocation_exposure_schedule_id":"871b9d47-219d-469d-89de-e9322ad135fd","order_position":0,"exposure_ratio":0.05,"interval_ms":86400000,"is_pause_record":false,"grouped_step_index":0,"created_at":"2026-04-01T20:36:51.958618Z","updated_at":"2026-04-01T20:36:51.958618Z"},{"id":"f471ec77-92d2-4d87-9983-e733d53bece5","allocation_exposure_schedule_id":"871b9d47-219d-469d-89de-e9322ad135fd","order_position":1,"exposure_ratio":0.25,"interval_ms":86400000,"is_pause_record":false,"grouped_step_index":1,"created_at":"2026-04-01T20:36:51.958618Z","updated_at":"2026-04-01T20:36:51.958618Z"},{"id":"c32bf3c7-1a30-40aa-811e-a5bcde7c10aa","allocation_exposure_schedule_id":"871b9d47-219d-469d-89de-e9322ad135fd","order_position":2,"exposure_ratio":1,"interval_ms":null,"is_pause_record":false,"grouped_step_index":2,"created_at":"2026-04-01T20:36:51.958618Z","updated_at":"2026-04-01T20:36:51.958618Z"}],"guardrail_triggers":[],"guardrail_triggered_action":null,"created_at":"2026-04-01T20:36:51.955888Z","updated_at":"2026-04-01T20:36:51.955888Z"},"guardrail_metrics":[],"key":"overwrite-allocation-test-update_targeting_rules_for_a_flag_in_an_environment_returns_ok_response-1775075810","name":"New
      targeting rule Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810","order_position":0,"targeting_rules":[],"type":"CANARY","updated_at":"2026-04-01T20:36:51.950824558Z","variant_weights":[{"id":"1833845a-a5aa-45a5-a400-57b522edc42f","created_at":"2026-04-01T20:36:51.963476Z","updated_at":"2026-04-01T20:36:51.963476Z","value":100,"variant_id":"73ffe05f-ba09-46c0-ba5e-9d14b1da564f","variant":{"id":"73ffe05f-ba09-46c0-ba5e-9d14b1da564f","key":"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810-1","name":"Variant
      Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810
      A","value":"true","created_at":"2026-04-01T20:36:51.109817Z","updated_at":"2026-04-01T20:36:51.109817Z"}}]}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/feature-flags/environments/73900c64-e4c9-46a3-ac5b-d5fa80be2b49
  response:
    body: ''
    code: 204
    duration: 0ms
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 4
    method: POST
    url: https://api.datadoghq.com/api/v2/feature-flags/ede225ed-3a62-4cb5-b678-73851d56c700/archive
  response:
    body: '{"data":{"id":"ede225ed-3a62-4cb5-b678-73851d56c700","type":"feature-flags","attributes":{"archived_at":"2026-04-01T20:36:52.682946Z","created_at":"2026-04-01T20:36:51.103987Z","created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test
      feature flag for BDD scenarios","distributio[...]
