---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{},"id":"","type":""}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/ccaf2324-993d-11eb-9ceb-da7ad0900002
    method: PATCH
  response:
    body: '{"errors": ["API input validation failed: Invalid type. Expected \"roles\"."]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "474"
      X-Ratelimit-Reset:
      - "13"
    status: 400 Bad Request
    code: 400
    duration: ""
