---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{},"id":"","type":""}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/c78a9d6c-fc15-11ea-aeba-d326658a4102
    method: PATCH
  response:
    body: '{"errors": ["API input validation failed: Invalid type. Expected \"roles\"."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3067471"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "495"
      X-Ratelimit-Reset:
      - "14"
    status: 400 Bad Request
    code: 400
    duration: ""
