---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"updated-test-role-datadog-client-go-1589320589959153671"},"id":"6facfa90-949b-11ea-93e2-2b17ebaeaaf0","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/6facfa90-949b-11ea-93e2-2b17ebaeaaf0
    method: PATCH
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
