---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestUpdateRoleErrors-local-1589290185-updated"},"id":"a55b9b16-9454-11ea-93e2-5b889a3abb0f","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/a55b9b16-9454-11ea-93e2-5b889a3abb0f
    method: PATCH
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
