---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestUpdateRoleErrors-local-1600698105-updated"},"id":"c78a9d6c-fc15-11ea-aeba-d326658a4102","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/c78a9d6c-fc15-11ea-aeba-d326658a4102
    method: PATCH
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
