---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"updated-test-role-datadog-client-go-1587420665688194000"},"id":"d47353c4-8353-11ea-93de-93e3ea960010","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/d47353c4-8353-11ea-93de-93e3ea960010
    method: PATCH
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
