---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-TestUpdateRoleErrors-1617977626-updated"},"id":"ccaf2324-993d-11eb-9ceb-da7ad0900002","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/ccaf2324-993d-11eb-9ceb-da7ad0900002
    method: PATCH
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
