---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"updated-test-role-datadog-client-go-1587539857313826000"},"id":"583e2f1a-8469-11ea-93de-bbd22866fb55","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: PATCH
  response:
    body: '{"errors": ["Invalid role id 00000000-dead-beef-dead-ffffffffffff for org
      321813 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2417977"
    status: 404 Not Found
    code: 404
    duration: ""
