---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-TestUpdateRoleErrors-1618220954-updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: PATCH
  response:
    body: '{"errors": ["Invalid role id 00000000-dead-beef-dead-ffffffffffff for org
      321813 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "475"
      X-Ratelimit-Reset:
      - "45"
    status: 404 Not Found
    code: 404
    duration: ""
