---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"updated-test-role-datadog-client-go-1587420665688194000"},"id":"d47353c4-8353-11ea-93de-93e3ea960010","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
    method: PATCH
  response:
    body: '{"errors": ["Invalid role id 00000000-dead-beef-dead-ffffffffffff for org
      321813 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2413239"
    status: 404 Not Found
    code: 404
    duration: ""
