---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"updated-test-role-datadog-client-go-1589317213259092430"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/9306661e-9493-11ea-93e2-f7b72f4cf02e
    method: PATCH
  response:
    body: '{"errors": ["The id attribute in the request body does not match the role_id
      in the URL"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2495346"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
