---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-TestUpdateRoleErrors-1618220954-updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/575c851a-9b74-11eb-9d38-da7ad0900002
    method: PATCH
  response:
    body: '{"errors": ["The id attribute in the request body does not match the role_id
      in the URL"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "474"
      X-Ratelimit-Reset:
      - "45"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
