---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestUpdateRoleErrors-local-1600698105-updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    url: https://api.datadoghq.com/api/v2/roles/c78a9d6c-fc15-11ea-aeba-d326658a4102
    method: PATCH
  response:
    body: '{"errors": ["The id attribute in the request body does not match the role_id
      in the URL"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3067471"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "496"
      X-Ratelimit-Reset:
      - "14"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
