interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/integrations
  response:
    body: "{\"data\":[{\"id\":\"cacti\",\"type\":\"integration\",\"attributes\":{\"\
      title\":\"Cacti\",\"description\":\"Forward your Cacti RRDs to Datadog for richer\
      \ alerting and beautiful graphing.\",\"categories\":[\"Category::Developer Tools\"\
      ,\"Category::Log Collection\",\"Offering::Integration\",\"Supported OS::Linux\"\
      ],\"installed\":false},\"links\":{\"self\":\"/integrations?integrationId=cacti\"\
      }},{\"id\":\"amazon-ecs\",\"type\":\"integration\",\"attributes\":{\"title\"\
      :\"Amazon ECS\",\"description\":\"A scalable, high performance container management\
      \ service supporting Docker containers.\",\"categories\":[\"Category::AWS\"\
      ,\"Category::Cloud\",\"Category::Containers\",\"Category::Log Collection\",\"\
      Offering::Integration\"],\"installed\":true},\"links\":{\"self\":\"/integrations?integrationId=amazon-ecs\"\
      }},{\"id\":\"amazon-eks-blueprints\",\"type\":\"integration\",\"attributes\"\
      :{\"title\":\"Datadog Blueprints Add-on\",\"description\":\"Amazon EKS Blueprints\
      \ consolidates cluster configuration and deployment tools.\",\"categories\"\
      :[\"Category::AWS\",\"Category::Configuration & Deployment\",\"Category::Containers\"\
      ,\"Category::Orchestration\",\"Offering::Integration\",\"Supported OS::Linux\"\
      ,\"Supported OS::Windows\",\"Supported OS::macOS\"],\"installed\":false},\"\
      links\":{\"self\":\"/integrations?integrationId=amazon-eks-blueprints\"}},{\"\[...]
