---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"00000000-dead-beef-dead-ffffffffffff","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddPermissionToRole
    url: https://api.datadoghq.com/api/v2/roles/58c03366-9b74-11eb-9d38-da7ad0900002/permissions
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
