---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"00000000-dead-beef-dead-ffffffffffff","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddPermissionToRole
    url: https://api.datadoghq.com/api/v2/roles/d611a12c-8353-11ea-93de-8bf73e9bebb2/permissions
    method: POST
  response:
    body: '{"errors": ["Invalid permission id: 00000000-dead-beef-dead-ffffffffffff
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2413239"
    status: 404 Not Found
    code: 404
    duration: ""
