---
version: 1
interactions:
- request:
    body: |
      {"data":{"id":"00000000-dead-beef-dead-ffffffffffff","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddPermissionToRole
    url: https://api.datadoghq.com/api/v2/roles/ce24e19e-993d-11eb-9ceb-da7ad0900002/permissions
    method: POST
  response:
    body: '{"errors": ["Invalid permission id: 00000000-dead-beef-dead-ffffffffffff
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "462"
      X-Ratelimit-Reset:
      - "11"
    status: 404 Not Found
    code: 404
    duration: ""
