interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[{"id":"40f36cf1-dc37-46fd-a4df-93d55971f6c3","type":"sensitive_data_scanner_group"},{"id":"8b25277f-4192-4079-88b9-be2d39c2a5a9","type":"sensitive_data_scanner_group"},{"id":"6b02bc6f-1588-433d-8a5d-fab867ac386d","type":"sensitive_data_scanner_group"},{"id":"99cae8b0-3cd0-4fc8-88ba-501c8ae5c8bb","type":"sensitive_data_scanner_group"},{"id":"14fa0ce6-9e1c-4570-87ec-c3d42122166e","type":"sensitive_data_scanner_group"},{"id":"e83cca8a-afe8-4012-92c9-b70a3ca72483","type":"sensitive_data_scanner_group"},{"id":"fa845597-18b7-41d1-88c3-c9f0e5ccc107","ty[...]
- request:
    body: |
      {"data":{"attributes":{"filter":{"query":"*"},"is_enabled":false,"name":"Test-Create_Scanning_Group_returns_OK_response-1770219309","product_list":["logs"]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body: '{"data":{"id":"693599bb-8eee-4c5a-89a8-5ee9b89d9aff","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Test-Create_Scanning_Group_returns_OK_response-1770219309","product_list":["logs"],"samplings":[]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"group_count_limit":20,"rule_count_limit":500,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"version":286461,"count_limit":500}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/693599bb-8eee-4c5a-89a8-5ee9b89d9aff
  response:
    body: '{"meta":{"version":286463}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
