interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[{"id":"c609e375-e508-400c-8773-dfb9f09becfb","type":"sensitive_data_scanner_group"},{"id":"b8be3920-9549-43f8-bb5d-ac1c80982096","type":"sensitive_data_scanner_group"},{"id":"47c9a117-47ea-4981-b136-52e57d2e5ed3","type":"sensitive_data_scanner_group"},{"id":"16a6f749-aa80-49ae-991f-bd90b91111c7","type":"sensitive_data_scanner_group"},{"id":"643aa475-4d47-40b9-9687-6c1a423d5f19","type":"sensitive_data_scanner_group"}]}},"type":"sensitive_data_scanner_configuration"},"included":[{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Example-Create_Scanning_Group_returns_OK_response_1768580144","product_list":["logs"],"samplings":[]},"id":"c609e375-e508-400c-8773-dfb9f09becfb","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Example-Create_Scanning_Group_returns_OK_response_1768580144","product_list":["logs"],"samplings":[]},"id":"b8be3920-9549-43f8-bb5d-ac1c80982096","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"[...]
- request:
    body: |
      {"data":{"attributes":{"filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body: '{"data":{"id":"cf99d196-3fca-444d-938f-ac7fcf49e529","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":276747}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"is_enabled":true,"name":"Test-Create_Scanning_Rule_with_should_save_match_returns_OK_response-1768586054","pattern":"pattern","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"replacement_string":"REDACTED","should_save_match":true,"type":"replacement_string"}},"relationships":{"group":{"data":{"id":"cf99d196-3fca-444d-938f-ac7fcf49e529","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
  response:
    body: '{"data":{"id":"698d4de4-97b3-4cbd-b725-bfa2bb30039c","type":"sensitive_data_scanner_rule","attributes":{"excluded_namespaces":[],"is_enabled":true,"labels":[],"name":"Test-Create_Scanning_Rule_with_should_save_match_returns_OK_response-1768586054","namespaces":[],"pattern":"pattern","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"type":"replacement_string","replacement_string":"REDACTED","should_save_match":true}},"relationships":{"group":{"data":{"id":"cf99d196-3fca-444d-938f-ac7fcf49e529","type":"sensitive_data_scanner_group"}}}},"meta":{"version":276748}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: DELETE
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/698d4de4-97b3-4cbd-b725-bfa2bb30039c
  response:
    body: '{"meta":{"version":276749}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: DELETE
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/cf99d196-3fca-444d-938f-ac7fcf49e529
  response:
    body: '{"meta":{"version":276750}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
