interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/standard-patterns
  response:
    body: '{"data":[{"attributes":{"pattern":"(AKIA|A3T|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[0-9A-Z]{16}","name":"AWS
      Access Key ID Scanner","tags":["sensitive_data_category:credentials","sensitive_data:aws_access_key_id"]},"type":"sensitive_data_scanner_standard_pattern","id":"OfGqX8R9TRqAcorxenl2fQ"},{"attributes":{"pattern":"(aws|AWS|amazon).{0,19}\\b[A-Za-z0-9/+]{40}\\b","name":"AWS
      Secret Access Key Scanner","tags":["sensitive_data_category:credentials","sensitive_data:aws_secret_access_key"]},"type":"sensitive_data_scanner_standard_pattern","id":"iZeqWOvYThWJ7DWMwIQoRg"},{"attributes":{"pattern":"dt0[a-zA-Z]{1}[0-9]{2}\\.[A-Z0-9]{24}\\.[A-Z0-9]{64}","name":"Dynatrace
      Token Scanner","tags":["sensitive_data_category:credentials","sensitive_data:dynatra[...]
