interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[{"id":"d2665de8-b577-4d71-b1b8-4355b1aaf2c6","type":"sensitive_data_scanner_group"},{"id":"ec9a039b-523c-4b48-af30-62bb2838610f","type":"sensitive_data_scanner_group"},{"id":"83b2d015-c3e1-47bb-aef0-15763bc7ae1f","type":"sensitive_data_scanner_group"},{"id":"d9ff2a5f-698a-4743-a80a-e669fd23a3a9","type":"sensitive_data_scanner_group"},{"id":"b6088534-c2a8-4ae1-8bdb-b3923199caf3","type":"sensitive_data_scanner_group"}]}},"type":"sensitive_data_scanner_configuration"},"included":[{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Test-Typescript-Create_Scanning_Group_returns_OK_response-1766488603","product_list":["logs"],"samplings":[]},"id":"d2665de8-b577-4d71-b1b8-4355b1aaf2c6","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"ec9a039b-523c-4b48-af30-62bb2838610f","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"83b2d015-c3e1-47bb-aef0-15763bc7ae1f","relationships":{[...]
- request:
    body: |
      {"data":{"attributes":{"filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body: '{"data":{"id":"927ca391-1913-4f52-ab2e-70a41e41ed63","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":275790}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"is_enabled":true,"name":"Test-Delete_Scanning_Rule_returns_OK_response-1768505205","namespaces":["admin.email"],"pattern":"pattern","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"927ca391-1913-4f52-ab2e-70a41e41ed63","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 2
    method: POST
    url: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
  response:
    body: '{"data":{"id":"fb13a01b-6093-4847-97a7-20a5947d8cce","type":"sensitive_data_scanner_rule","attributes":{"excluded_namespaces":[],"is_enabled":true,"labels":[],"name":"Test-Delete_Scanning_Rule_returns_OK_response-1768505205","namespaces":["admin.email"],"pattern":"pattern","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"927ca391-1913-4f52-ab2e-70a41e41ed63","type":"sensitive_data_scanner_group"}}}},"meta":{"version":275791}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 3
    method: DELETE
    url: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/fb13a01b-6093-4847-97a7-20a5947d8cce
  response:
    body: '{"meta":{"version":275792}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 4
    method: DELETE
    url: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/fb13a01b-6093-4847-97a7-20a5947d8cce
  response:
    body: '{"errors":[{"status":"404","code":"Not Found","title":"Not Found","detail":"scanning
      rule could not be found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 5
    method: DELETE
    url: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/927ca391-1913-4f52-ab2e-70a41e41ed63
  response:
    body: '{"meta":{"version":275793}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
