---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Create_a_user_returns__OK__response-local-1595582932@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"1681e13c-cd90-11ea-a33d-0f0d3b3f0ee7","attributes":{"name":"Datadog
      API Client Python","handle":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1595582932@datadoghq.com","created_at":"2020-07-24T09:28:52.479839+00:00","email":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1595582932@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3787c3f32b5d888c5cd4d49ea89af0d0?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - XrVF9iGOfdATIczLJsCTqr1ORVJWAydZm12oLZRyDN+lGe5bU8VekbcSMjJ2fj90
      X-Dd-Version:
      - "35.2781942"
    status: 201 Created
    code: 201
    duration: ""
