---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Disable_a_user_returns_OK_response-1617974766@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"2387c0fe-9937-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1617974766@datadoghq.com","created_at":"2021-04-09T13:26:06.325988+00:00","modified_at":"2021-04-09T13:26:06.361928+00:00","email":"test-disable_a_user_returns_ok_response-1617974766@datadoghq.com","icon":"https://secure.gravatar.com/avatar/60d7aa83da8d53981e9a99ee2a193d5c?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4276054"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/2387c0fe-9937-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4276054"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/2387c0fe-9937-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["2387c0fe-9937-11eb-9ceb-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276054"
    status: 404 Not Found
    code: 404
    duration: ""
