---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users
    method: GET
  response:
    body: '{"included":[{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
      Access","description":"This permission gives you the ability to view and edit
      components in your Datadog organization that do not have explicitly defined
      permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"d90f6831-d3d8-11e9-a77a-4fd230ddbc6a","attributes":{"name":"dashboards_write","display_name":"Dashboards","description":"The
      ability to create and change dashboards.","created":"2019-09-10T14:39:51.962944+00:00","group_name":"Dashboards","display_type":"write","restricted":false}},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","attributes":{"name":"logs_live_tail","display_name":"Logs
      Live Tail Access","description":"The ability [...]
