---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_disable_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291694@datadoghq.com","name":"go-testscenarios-feature_users-scenario_disa","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b0c9f902-c1d1-11ea-9cf1-cfc2385fe624","attributes":{"name":"go-testscenarios-feature_users-scenario_disa","handle":"go-testscenarios-feature_users-scenario_disable_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291694@datadoghq.com","created_at":"2020-07-09T10:48:14.654405+00:00","email":"go-testscenarios-feature_users-scenario_disable_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291694@datadoghq.com","icon":"https://secure.gravatar.com/avatar/24be2a8c9f250d8ba8229aaf9ef60722?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HIunaScoW4AWw8tnSbk8zc5V6c9XLV6++/KbgzaC4HIb212+evjUYL1yRLeLtS2T
      X-Dd-Version:
      - "35.2719040"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/b0c9f902-c1d1-11ea-9cf1-cfc2385fe624
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - oQ/oy4ezTZ+/WzL4afBMlDjLd5w62e5H15hF5BJChw1Gte+Sq8B8tB7i6vlTiLL0
      X-Dd-Version:
      - "35.2719040"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/b0c9f902-c1d1-11ea-9cf1-cfc2385fe624
    method: DELETE
  response:
    body: '{"errors": ["b0c9f902-c1d1-11ea-9cf1-cfc2385fe624 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2719040"
    status: 404 Not Found
    code: 404
    duration: ""
