---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291695@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b13d021c-c1d1-11ea-9cf1-1796fad8a7ff","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291695@datadoghq.com","created_at":"2020-07-09T10:48:15.409534+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291695@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ca52577cac0304d11a37e62398fd83b4?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Jhz2Lh32XBCZ7PVSj7/lof8hXjgbtiexG4VIRWAEYHPFefqyYpXnVaeT62yBncrB
      X-Dd-Version:
      - "35.2719040"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/b13d021c-c1d1-11ea-9cf1-1796fad8a7ff
    method: GET
  response:
    body: '{"data":{"type":"users","id":"b13d021c-c1d1-11ea-9cf1-1796fad8a7ff","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291695@datadoghq.com","created_at":"2020-07-09T10:48:15.409534+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291695@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ca52577cac0304d11a37e62398fd83b4?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vYQu3ls2HKdZ2pXErBiwg/FlJyuK31hjiI+oJSqoEPPw/7mzimb2FzvWEsshbznY
      X-Dd-Version:
      - "35.2719040"
    status: 200 OK
    code: 200
    duration: ""
[...]
