---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Send_invitation_emails_returns__OK__response-local-1607022760@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"83812c3e-359b-11eb-87c2-ef2d99ea58a8","attributes":{"name":null,"handle":"go-feature_users-scenario_send_invitation_emails_returns__ok__response-local-1607022760@datadoghq.com","created_at":"2020-12-03T19:12:40.740389+00:00","email":"go-feature_users-scenario_send_invitation_emails_returns__ok__response-local-1607022760@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9618f805f73088d187f139eb06d006b9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - UPwGSEkEo+aTtV9/qlvsM9xVIKq1xypRG0bv22kO1eeJfu8bY+H+f1xOa3JlvZhZ
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"83812c3e-359b-11eb-87c2-ef2d99ea58a8","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"83deee8c-359b-11eb-87c2-4735749f4071","attributes":{"uuid":"83deee8c-359b-11eb-87c2-4735749f4071","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-03T19:12:41.355636+00:00","expires_at":"2020-12-05T19:12:41.158797+00:00"},"relationships":{"user":{"data":{"type":"users","id":"83812c3e-359b-11eb-87c2-ef2d99ea58a8"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/83812c3e-359b-11eb-87c2-ef2d99ea58a8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GNNaCEaWbc3UTUClxoMWS01sWxumNliK7MHAxNSLzSt+cr/umvBLJdbOFDCcNeME
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
