---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_a_user_returns_OK_response-1618221018@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"7d211694-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1618221018@datadoghq.com","created_at":"2021-04-12T09:50:18.275521+00:00","modified_at":"2021-04-12T09:50:18.306920+00:00","email":"test-update_a_user_returns_ok_response-1618221018@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c0c13aba24d2df6b0a2956b54171fe8b?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"7d211694-9b74-11eb-9d38-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/7d211694-9b74-11eb-9d38-da7ad0900002
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"7d211694-9b74-11eb-9d38-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1618221018@datadoghq.com","created_at":"2021-04-12T09:50:18.275521+00:00","modified_at":"2021-04-12T09:50:18.621476+00:00","email":"test-update_a_user_returns_ok_response-1618221018@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c0c13aba24d2df6b0a2956b54171fe8b?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/7d211694-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["7d211694-9b74-11eb-9d38-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 404 Not Found
    code: 404
    duration: ""
