---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Get_a_user_invitation_returns__OK__response-local-1617185756@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"15928198-920a-11eb-9bd0-da7ad0900002","attributes":{"name":null,"handle":"go-feature_users-scenario_get_a_user_invitation_returns__ok__response-local-1617185756@datadoghq.com","created_at":"2021-03-31T10:15:57.415058+00:00","modified_at":"2021-03-31T10:15:57.462828+00:00","email":"go-feature_users-scenario_get_a_user_invitation_returns__ok__response-local-1617185756@datadoghq.com","icon":"https://secure.gravatar.com/avatar/99f1465d4e3606603892ce50f87b29d4?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"15928198-920a-11eb-9bd0-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"15c058b6-920a-11eb-9bd0-da7ad0900002","attributes":{"uuid":"15c058b6-920a-11eb-9bd0-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-03-31T10:15:57.717123+00:00","expires_at":"2021-04-02T10:15:57.650683+00:00"},"relationships":{"user":{"data":{"type":"users","id":"15928198-920a-11eb-9bd0-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/15c058b6-920a-11eb-9bd0-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"15c058b6-920a-11eb-9bd0-da7ad0900002","attributes":{"uuid":"15c058b6-920a-11eb-9bd0-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-03-31T10:15:57.717123+00:00","expires_at":"2021-04-02T10:15:57.650683+00:00"},"relationships":{"user":{"data":{"type":"users","id":"15928198-920a-11eb-9bd0-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4207503"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/15928198-920a-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4207503"
    status: 204 No Content
    code: 204
    duration: ""
