---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Update_a_user_returns__OK__response-local-1617185111@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"94e3c788-9208-11eb-9bd0-da7ad0900002","attributes":{"name":null,"handle":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1617185111@datadoghq.com","created_at":"2021-03-31T10:05:12.026524+00:00","modified_at":"2021-03-31T10:05:12.061376+00:00","email":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1617185111@datadoghq.com","icon":"https://secure.gravatar.com/avatar/44549258d4f8fb357d4b034487f244cd?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"94e3c788-9208-11eb-9bd0-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/94e3c788-9208-11eb-9bd0-da7ad0900002
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"94e3c788-9208-11eb-9bd0-da7ad0900002","attributes":{"name":"updated","handle":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1617185111@datadoghq.com","created_at":"2021-03-31T10:05:12.026524+00:00","modified_at":"2021-03-31T10:05:12.346732+00:00","email":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1617185111@datadoghq.com","icon":"https://secure.gravatar.com/avatar/44549258d4f8fb357d4b034487f244cd?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4207503"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/94e3c788-9208-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["94e3c788-9208-11eb-9bd0-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4207503"
    status: 404 Not Found
    code: 404
    duration: ""
