---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1617974769@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"254bf892-9937-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617974769@datadoghq.com","created_at":"2021-04-09T13:26:09.291075+00:00","modified_at":"2021-04-09T13:26:09.320334+00:00","email":"test-list_all_users_returns_ok_response-1617974769@datadoghq.com","icon":"https://secure.gravatar.com/avatar/42355fc437a99e3d12b02f4f9b84e66e?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4276054"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617974769%40datadoghq.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":178080}},"data":[{"type":"users","id":"254bf892-9937-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617974769@datadoghq.com","created_at":"2021-04-09T13:26:09.291075+00:00","modified_at":"2021-04-09T13:26:09.320334+00:00","email":"test-list_all_users_returns_ok_response-1617974769@datadoghq.com","icon":"https://secure.gravatar.com/avatar/42355fc437a99e3d12b02f4f9b84e66e?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4276054"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/254bf892-9937-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4276054"
    status: 204 No Content
    code: 204
    duration: ""
