---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Create_a_user_returns__OK__response-local-1593616882@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"85b45cfe-bbae-11ea-9c9c-473d5fc5e033","attributes":{"name":"Datadog
      API Client Python","handle":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1593616882@datadoghq.com","created_at":"2020-07-01T15:21:23.010519+00:00","email":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1593616882@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c9d3f1611f4423285c0daba01db99fda?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - CPK+34LtKdL5YYX/NFOJUdMpxMoO80HISGpGpzDG5fENYSoZ2QNw1gEubOsJ9JNb
      X-Dd-Version:
      - "35.2688310"
    status: 201 Created
    code: 201
    duration: ""
