---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Create_a_user_leading_to_OK-local-1593593450@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"f6fe46e0-bb77-11ea-9c99-bb080780cd47","attributes":{"name":"Datadog
      API Client Python","handle":"go-feature_users-scenario_create_a_user_leading_to_ok-local-1593593450@datadoghq.com","created_at":"2020-07-01T08:50:50.756460+00:00","email":"go-feature_users-scenario_create_a_user_leading_to_ok-local-1593593450@datadoghq.com","icon":"https://secure.gravatar.com/avatar/43ec8d54835b30f31fab22b82a6203c5?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hABsPq9DIvV7yAEiU7rMxs7UCRuTbRH/kYpwue4a0q9qmwd4SUh9bBZ5SHPkBLc6
      X-Dd-Version:
      - "35.2686699"
    status: 201 Created
    code: 201
    duration: ""
