---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_update_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582934@datadoghq.com","name":"go-testscenarios-feature_users-scenario_upda","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"17c2ab4e-cd90-11ea-a33d-33c1db8a2dd7","attributes":{"name":"go-testscenarios-feature_users-scenario_upda","handle":"go-testscenarios-feature_users-scenario_update_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582934@datadoghq.com","created_at":"2020-07-24T09:28:54.580916+00:00","email":"go-testscenarios-feature_users-scenario_update_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582934@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d9291c3e3dea610a89b81c0d54a522f5?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pNNj5PhODCVJlRBPEhZP3s9KL9kvFYv//TnGsiPp+3AqL7R5kIW2JlCWtfMcXeFn
      X-Dd-Version:
      - "35.2781942"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"updated"},"id":"17c2ab4e-cd90-11ea-a33d-33c1db8a2dd7","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/17c2ab4e-cd90-11ea-a33d-33c1db8a2dd7
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FB5oGxuL9E/cplxahdQnU5Nw5E7KX0Smq18it9qYKIt8BXsSloE0IpDRA39tfQwn
      X-Dd-Version:
      - "35.2781942"
    status: 204 No Content
    code: 204
    duration: ""
[...]
