---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1618221011@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"78def5e2-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618221011@datadoghq.com","created_at":"2021-04-12T09:50:11.130346+00:00","modified_at":"2021-04-12T09:50:11.161323+00:00","email":"test-get_a_user_returns_ok_response-1618221011@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9ab5a7dd534116ed0fc4ab4e07535073?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/78def5e2-9b74-11eb-9d38-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"78def5e2-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618221011@datadoghq.com","created_at":"2021-04-12T09:50:11.130346+00:00","modified_at":"2021-04-12T09:50:11.161323+00:00","email":"test-get_a_user_returns_ok_response-1618221011@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9ab5a7dd534116ed0fc4ab4e07535073?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
