---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Send_invitation_emails_returns_OK_response-1618221017@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"7cae5794-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1618221017@datadoghq.com","created_at":"2021-04-12T09:50:17.523646+00:00","modified_at":"2021-04-12T09:50:17.558312+00:00","email":"test-send_invitation_emails_returns_ok_response-1618221017@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bb48ab2134878e0de7692eb22168d720?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"7cae5794-9b74-11eb-9d38-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"7cd70da6-9b74-11eb-9d38-da7ad0900002","attributes":{"uuid":"7cd70da6-9b74-11eb-9d38-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-12T09:50:17.789953+00:00","expires_at":"2021-04-14T09:50:17.732906+00:00"},"relationships":{"user":{"data":{"type":"users","id":"7cae5794-9b74-11eb-9d38-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/7cae5794-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
