---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_send_invitation_emails_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598348594@datadoghq.com","name":"go-testscenarios-feature_users-scenario_send","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"6611a210-e6b7-11ea-aa03-f7eda0f9d0ff","attributes":{"name":"go-testscenarios-feature_users-scenario_send","handle":"go-testscenarios-feature_users-scenario_send_invitation_emails_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598348594@datadoghq.com","created_at":"2020-08-25T09:43:15.403964+00:00","email":"go-testscenarios-feature_users-scenario_send_invitation_emails_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598348594@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a2b76798a879049067c92760d16a8609?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1yK3PnBzCoxF/WGKEJeJqS2Jb9mutr3xDuvLdPbJCfX1HVDqeCXkaWYDO6wQpQhO
      X-Dd-Version:
      - "35.2929443"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"6611a210-e6b7-11ea-aa03-f7eda0f9d0ff","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"664448b4-e6b7-11ea-aa03-0be02e09fceb","attributes":{"uuid":"664448b4-e6b7-11ea-aa03-0be02e09fceb","login_method":null,"invite_type":"openid_invite","created_at":"2020-08-25T09:43:15.737133+00:00","expires_at":"2020-08-27T09:43:15.656862+00:00"},"relationships":{"user":{"data":{"type":"users","id":"6611a210-e6b7-11ea-aa03-f7eda0f9d0ff"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GzqFsJiHmsMG2ZkgPZxP4KU7BbP1543ieTDBlTOcSv7mMVZ5sYoywme9ykeCrzfU
      X-Dd-Version:
      - "35.2929443"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/6611a210-e6b7-11ea-aa03-f7eda0f9d0ff
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2WpVLT6XfnIg4Icl10Bkfr2LmWju5l1mcL3EeaTPuJ+k4vOzKW0gcbyPFosLZlNj
      X-Dd-Version:
      - "35.2929443"
    status: 204 No Content
    code: 204
    duration: ""
