---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_a_user_returns_OK_response-1618221005@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"75a24988-9b74-11eb-9d38-da7ad0900002","attributes":{"name":"Datadog
      API Client Python","handle":"test-create_a_user_returns_ok_response-1618221005@datadoghq.com","created_at":"2021-04-12T09:50:05.699816+00:00","modified_at":"2021-04-12T09:50:05.717596+00:00","email":"test-create_a_user_returns_ok_response-1618221005@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b1ce34c7455d82e07189ea5c1a2bfb00?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/75a24988-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
