---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_a_user_invitation_returns_OK_response-1617977679@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"ebe13318-993d-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1617977679@datadoghq.com","created_at":"2021-04-09T14:14:39.438441+00:00","modified_at":"2021-04-09T14:14:39.472186+00:00","email":"test-get_a_user_invitation_returns_ok_response-1617977679@datadoghq.com","icon":"https://secure.gravatar.com/avatar/af9e657752b5b253c6c330652cfa339d?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"ebe13318-993d-11eb-9ceb-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"ec092832-993d-11eb-9ceb-da7ad0900002","attributes":{"uuid":"ec092832-993d-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T14:14:39.699947+00:00","expires_at":"2021-04-11T14:14:39.647906+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ebe13318-993d-11eb-9ceb-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/ec092832-993d-11eb-9ceb-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"ec092832-993d-11eb-9ceb-da7ad0900002","attributes":{"uuid":"ec092832-993d-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T14:14:39.699947+00:00","expires_at":"2021-04-11T14:14:39.647906+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ebe13318-993d-11eb-9ceb-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/ebe13318-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4276613"
    status: 204 No Content
    code: 204
    duration: ""
