---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_List_all_users_returns__OK__response-local-1607022763@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"850bc2c6-359b-11eb-87c2-9f0e00cfd86f","attributes":{"name":null,"handle":"go-feature_users-scenario_list_all_users_returns__ok__response-local-1607022763@datadoghq.com","created_at":"2020-12-03T19:12:43.325828+00:00","email":"go-feature_users-scenario_list_all_users_returns__ok__response-local-1607022763@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1386f3539b782fd67d8171c049f0fad4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ylBElmyGwKGD9U7vyDU/qHCi6QpDzALB8kY9TyVsQmpRCm4VjPYEdilo336ix6wj
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=go-feature_users-scenario_list_all_users_returns__ok__response-local-1607022763%40datadoghq.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":75541}},"data":[{"type":"users","id":"850bc2c6-359b-11eb-87c2-9f0e00cfd86f","attributes":{"name":null,"handle":"go-feature_users-scenario_list_all_users_returns__ok__response-local-1607022763@datadoghq.com","created_at":"2020-12-03T19:12:43.325828+00:00","email":"go-feature_users-scenario_list_all_users_returns__ok__response-local-1607022763@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1386f3539b782fd67d8171c049f0fad4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yHg1SN54kOfDRp2Aod0BXYSVxFx21V1jRKSkwPBeHEmd2sEVS/QK2WhkC8rNJWsm
      X-Dd-Version:
      - "35.3472485"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/850bc2c6-359b-11eb-87c2-9f0e00cfd86f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Y9+v2iJC/5twluKZH+Abk+sCd7+zW2qB+wWhdwPtTfzsXiAGXu1np/KJsw5b93OQ
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
