---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Send_invitation_emails_returns__OK__response-local-1617185110@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"94481130-9208-11eb-9bd0-da7ad0900002","attributes":{"name":null,"handle":"go-feature_users-scenario_send_invitation_emails_returns__ok__response-local-1617185110@datadoghq.com","created_at":"2021-03-31T10:05:11.005719+00:00","modified_at":"2021-03-31T10:05:11.037930+00:00","email":"go-feature_users-scenario_send_invitation_emails_returns__ok__response-local-1617185110@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a1077d6e8f28f2b06d080a164e325e40?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"94481130-9208-11eb-9bd0-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"947dbdb2-9208-11eb-9bd0-da7ad0900002","attributes":{"uuid":"947dbdb2-9208-11eb-9bd0-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-03-31T10:05:11.358988+00:00","expires_at":"2021-04-02T10:05:11.205910+00:00"},"relationships":{"user":{"data":{"type":"users","id":"94481130-9208-11eb-9bd0-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/94481130-9208-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4207503"
    status: 204 No Content
    code: 204
    duration: ""
