---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Disable_a_user_returns__OK__response-local-1607022771@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8a08ca12-359b-11eb-87c2-8b4e6b8bd27b","attributes":{"name":null,"handle":"go-feature_users-scenario_disable_a_user_returns__ok__response-local-1607022771@datadoghq.com","created_at":"2020-12-03T19:12:51.695322+00:00","email":"go-feature_users-scenario_disable_a_user_returns__ok__response-local-1607022771@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cd9ee972bb8e4c79e5016971429b2482?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1cd0/X8iFjFNZXjpX11JpiLJbbxmicjztoLT0xgVCngh7XkSAjfiT2A4vALPTlNE
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8a08ca12-359b-11eb-87c2-8b4e6b8bd27b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kU8oLj3zrGL/NsMXNRXUrvjc5SX7m5Zi20YpnuFt2mcszekWqSDwHwhFasJc2aus
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8a08ca12-359b-11eb-87c2-8b4e6b8bd27b
    method: DELETE
  response:
    body: '{"errors": ["8a08ca12-359b-11eb-87c2-8b4e6b8bd27b not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3472485"
    status: 404 Not Found
    code: 404
    duration: ""
