---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616883@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"864edffe-bbae-11ea-9c9c-334989c466df","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616883@datadoghq.com","created_at":"2020-07-01T15:21:24.022643+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616883@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f3391125499e01a0d9ba163a41562248?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OxP+mFpjAbASiVhNf+t4MttAs95ZlMiGosIRnYJJGFoApNgv2oxtdzpnmNlMOki6
      X-Dd-Version:
      - "35.2688310"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/864edffe-bbae-11ea-9c9c-334989c466df
    method: GET
  response:
    body: '{"data":{"type":"users","id":"864edffe-bbae-11ea-9c9c-334989c466df","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616883@datadoghq.com","created_at":"2020-07-01T15:21:24.022643+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616883@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f3391125499e01a0d9ba163a41562248?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QO3HutZQjgMDp/HqClcLon+qq5lEghb3LRV+gXMIQ2Jivd1m1eEGCh0RxplUQMIV
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
[...]
