---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593593452@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"f7d67a10-bb77-11ea-9c99-ff2a3eeef059","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593593452@datadoghq.com","created_at":"2020-07-01T08:50:52.173517+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593593452@datadoghq.com","icon":"https://secure.gravatar.com/avatar/83b74f29a0d6ec8100af9dfe7a79d726?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - F2g1vP9i37Cj4rH5vEufbSNzCmriMTDVzKKqVk/JOUesbIz8psR3R2945wO0PbTf
      X-Dd-Version:
      - "35.2686699"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/f7d67a10-bb77-11ea-9c99-ff2a3eeef059
    method: GET
  response:
    body: '{"data":{"type":"users","id":"f7d67a10-bb77-11ea-9c99-ff2a3eeef059","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593593452@datadoghq.com","created_at":"2020-07-01T08:50:52.173517+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_leading_to_ok_for_get_user-given_there_is_a_valid_user_in_the_system-local-1593593452@datadoghq.com","icon":"https://secure.gravatar.com/avatar/83b74f29a0d6ec8100af9dfe7a79d726?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - j9H0Mt41m875GBjR2i9r831ZILGOU6+Jata5+JJkOQgIsO+SrMkmgWN80SCun0Sk
      X-Dd-Version:
      - "35.2686699"
    status: 200 OK
    code: 200
    duration: ""
[...]
