---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Disable_a_user_returns_OK_response-1618221006@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"76007dd2-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1618221006@datadoghq.com","created_at":"2021-04-12T09:50:06.316620+00:00","modified_at":"2021-04-12T09:50:06.355359+00:00","email":"test-disable_a_user_returns_ok_response-1618221006@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cf617792376374bbdd526126f4b75f1a?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/76007dd2-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/76007dd2-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["76007dd2-9b74-11eb-9d38-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 404 Not Found
    code: 404
    duration: ""
