---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Get_a_user_invitation_returns__OK__response-local-1607022761@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"843c20f2-359b-11eb-87c2-0fc78fdfd3d5","attributes":{"name":null,"handle":"go-feature_users-scenario_get_a_user_invitation_returns__ok__response-local-1607022761@datadoghq.com","created_at":"2020-12-03T19:12:41.964291+00:00","email":"go-feature_users-scenario_get_a_user_invitation_returns__ok__response-local-1607022761@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7d607a937ecac973bd20ac54302ca0af?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0EJutvpOrBJC63ni/O57leUa99Oey4n8MQPI1nQqGf8zcU0cRqWsvs49QUsgOTGg
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"843c20f2-359b-11eb-87c2-0fc78fdfd3d5","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"847c7f26-359b-11eb-87c2-a342f6cc71f6","attributes":{"uuid":"847c7f26-359b-11eb-87c2-a342f6cc71f6","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-03T19:12:42.388127+00:00","expires_at":"2020-12-05T19:12:42.301564+00:00"},"relationships":{"user":{"data":{"type":"users","id":"843c20f2-359b-11eb-87c2-0fc78fdfd3d5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EQzhJSeNziVWIN4Gtgvm49DBQgA/xSWPBZSORg2i40a13gmPz8gOAFcYwqtQKjIG
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/847c7f26-359b-11eb-87c2-a342f6cc71f6
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"847c7f26-359b-11eb-87c2-a342f6cc71f6","attributes":{"uuid":"847c7f26-359b-11eb-87c2-a342f6cc71f6","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-03T19:12:42.388127+00:00","expires_at":"2020-12-05T19:12:42.301564+00:00"},"relationships":{"user":{"data":{"type":"users","id":"843c20f2-359b-11eb-87c2-0fc78fdfd3d5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 9yeVJjClEU/6raHJlYfllzCTOtXzS//Mfm4MIk+dxQ9wRvMbFDy5xrIlZe/VS4yX
      X-Dd-Version:
      - "35.3472485"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/843c20f2-359b-11eb-87c2-0fc78fdfd3d5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - AqBVHmyy+L9zrCUEAQ2Jd2pwskksgC+7nOsWqbNjcjcM+9M/ChipUo2OR6Q8oPwE
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
