---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Get_a_user_returns__OK__response-local-1607022772@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8a9ccbc2-359b-11eb-87c2-f7eeebbd9f92","attributes":{"name":null,"handle":"go-feature_users-scenario_get_a_user_returns__ok__response-local-1607022772@datadoghq.com","created_at":"2020-12-03T19:12:52.664979+00:00","email":"go-feature_users-scenario_get_a_user_returns__ok__response-local-1607022772@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c1318a0a711db505e94fbfb2005ce01c?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - oqlClNgBffXSYxjxM4MXW8YBCUkTvkeEyGekJFD2ia4zlDKNcD3ROot7wMYW8Xj+
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/8a9ccbc2-359b-11eb-87c2-f7eeebbd9f92
    method: GET
  response:
    body: '{"data":{"type":"users","id":"8a9ccbc2-359b-11eb-87c2-f7eeebbd9f92","attributes":{"name":null,"handle":"go-feature_users-scenario_get_a_user_returns__ok__response-local-1607022772@datadoghq.com","created_at":"2020-12-03T19:12:52.664979+00:00","email":"go-feature_users-scenario_get_a_user_returns__ok__response-local-1607022772@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c1318a0a711db505e94fbfb2005ce01c?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 9yeVJjClEU/6raHJlYfllzCTOtXzS//Mfm4MIk+dxQ9wRvMbFDy5xrIlZe/VS4yX
      X-Dd-Version:
      - "35.3472485"
    status: 200 OK
    code: 200
    duration: ""
[...]
