---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1617977682@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"edff8a00-993d-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617977682@datadoghq.com","created_at":"2021-04-09T14:14:42.991333+00:00","modified_at":"2021-04-09T14:14:43.024981+00:00","email":"test-list_all_users_returns_ok_response-1617977682@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8d01ea8d0b23b37558d96ad1967ddb50?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617977682%40datadoghq.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":178220}},"data":[{"type":"users","id":"edff8a00-993d-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617977682@datadoghq.com","created_at":"2021-04-09T14:14:42.991333+00:00","modified_at":"2021-04-09T14:14:43.024981+00:00","email":"test-list_all_users_returns_ok_response-1617977682@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8d01ea8d0b23b37558d96ad1967ddb50?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/edff8a00-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4276613"
    status: 204 No Content
    code: 204
    duration: ""
