---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Create_a_user_returns__OK__response-local-1594291694@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b09d1a90-c1d1-11ea-9cf1-57e645011f31","attributes":{"name":"Datadog
      API Client Python","handle":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1594291694@datadoghq.com","created_at":"2020-07-09T10:48:14.361684+00:00","email":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1594291694@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6388af82e6bc4a2521a64f44b121d05d?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - PcnVfOcEtqolY6fi98GEVSGXOZZkwQSBbl/twLr2TucYRfYyGCLXvKm6pTUNQt1l
      X-Dd-Version:
      - "35.2719040"
    status: 201 Created
    code: 201
    duration: ""
