---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_list_all_users_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598354853@datadoghq.com","name":"go-testscenarios-feature_users-scenario_list","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"f84a1eba-e6c5-11ea-aa07-9739d157d5b4","attributes":{"name":"go-testscenarios-feature_users-scenario_list","handle":"go-testscenarios-feature_users-scenario_list_all_users_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598354853@datadoghq.com","created_at":"2020-08-25T11:27:33.675843+00:00","email":"go-testscenarios-feature_users-scenario_list_all_users_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598354853@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ef758217615ceb839e7f5e2fdd5f1622?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - WyPl7Uohyy2nhJ7RWrq85UM5TEMaIEIfRwQveR0xpNBygzZEP8S/qWubDM7SoNjW
      X-Dd-Version:
      - "35.2929867"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=go-testscenarios-feature_users-scenario_list_all_users_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598354853%40datadoghq.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":27938}},"data":[{"type":"users","id":"f84a1eba-e6c5-11ea-aa07-9739d157d5b4","attributes":{"name":"go-testscenarios-feature_users-scenario_list","handle":"go-testscenarios-feature_users-scenario_list_all_users_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598354853@datadoghq.com","created_at":"2020-08-25T11:27:33.675843+00:00","email":"go-testscenarios-feature_users-scenario_list_all_users_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598354853@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ef758217615ceb839e7f5e2fdd5f1622?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5wdhN0hQ3iCb6rPEyTmtJgDoUUDVVv7iPVPqacx637Q129Xhp7q16M7tWLSeKwvC
      X-Dd-Version:
      - "35.2929867"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/f84a1eba-e6c5-11ea-aa07-9739d157d5b4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ZpBCDU/bpmKaDCX3ezcoTB0mBcER1z/7nopw48EhUJ44Kn+wkWF9LGL4tUdS8yc3
      X-Dd-Version:
      - "35.2929867"
    status: 204 No Content
    code: 204
    duration: ""
