---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_a_user_returns_OK_response-1617977676@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"ea7507e8-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"Datadog
      API Client Python","handle":"test-create_a_user_returns_ok_response-1617977676@datadoghq.com","created_at":"2021-04-09T14:14:37.050014+00:00","modified_at":"2021-04-09T14:14:37.070137+00:00","email":"test-create_a_user_returns_ok_response-1617977676@datadoghq.com","icon":"https://secure.gravatar.com/avatar/af6b8151f5bbad5741376fdaf9bc4348?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/ea7507e8-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4276613"
    status: 204 No Content
    code: 204
    duration: ""
