---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1618221011@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"793c7118-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618221011@datadoghq.com","created_at":"2021-04-12T09:50:11.743410+00:00","modified_at":"2021-04-12T09:50:11.779883+00:00","email":"test-list_all_users_returns_ok_response-1618221011@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d7ea3d0e9a45544659d595289907a72f?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1618221011%40datadoghq.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":180443}},"data":[{"type":"users","id":"793c7118-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618221011@datadoghq.com","created_at":"2021-04-12T09:50:11.743410+00:00","modified_at":"2021-04-12T09:50:11.779883+00:00","email":"test-list_all_users_returns_ok_response-1618221011@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d7ea3d0e9a45544659d595289907a72f?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/793c7118-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
