---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Disable_a_user_returns__OK__response-local-1617185101@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8e99fe88-9208-11eb-9bd0-da7ad0900002","attributes":{"name":null,"handle":"go-feature_users-scenario_disable_a_user_returns__ok__response-local-1617185101@datadoghq.com","created_at":"2021-03-31T10:05:01.476116+00:00","modified_at":"2021-03-31T10:05:01.512823+00:00","email":"go-feature_users-scenario_disable_a_user_returns__ok__response-local-1617185101@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fe050f1f15a5d960146aec0ca932d741?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8e99fe88-9208-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4207503"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8e99fe88-9208-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["8e99fe88-9208-11eb-9bd0-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4207503"
    status: 404 Not Found
    code: 404
    duration: ""
