---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Create_a_user_returns_OK_response-1617974765@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"233fcc22-9937-11eb-9ceb-da7ad0900002","attributes":{"name":"Datadog
      API Client Python","handle":"test-create_a_user_returns_ok_response-1617974765@datadoghq.com","created_at":"2021-04-09T13:26:05.854823+00:00","modified_at":"2021-04-09T13:26:05.870611+00:00","email":"test-create_a_user_returns_ok_response-1617974765@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a12793662395860a0ce0b0c4fa4befe8?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.4276054"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/233fcc22-9937-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4276054"
    status: 204 No Content
    code: 204
    duration: ""
