---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582933@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"173cdb22-cd90-11ea-a33d-eb19511f94fe","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582933@datadoghq.com","created_at":"2020-07-24T09:28:53.703863+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582933@datadoghq.com","icon":"https://secure.gravatar.com/avatar/82468135db6f4bd7d63073ac5719e14e?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LSmCynIhKaei2ZXhUwyt9n5ny5nHZCYRNYsTU4+Q86mceDsWCQtfUVf4lac22qNa
      X-Dd-Version:
      - "35.2781942"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/173cdb22-cd90-11ea-a33d-eb19511f94fe
    method: GET
  response:
    body: '{"data":{"type":"users","id":"173cdb22-cd90-11ea-a33d-eb19511f94fe","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582933@datadoghq.com","created_at":"2020-07-24T09:28:53.703863+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582933@datadoghq.com","icon":"https://secure.gravatar.com/avatar/82468135db6f4bd7d63073ac5719e14e?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - j9H0Mt41m875GBjR2i9r831ZILGOU6+Jata5+JJkOQgIsO+SrMkmgWN80SCun0Sk
      X-Dd-Version:
      - "35.2781942"
    status: 200 OK
    code: 200
    duration: ""
[...]
