---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_disable_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582932@datadoghq.com","name":"go-testscenarios-feature_users-scenario_disa","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"16aa89de-cd90-11ea-a33d-271737aa20ce","attributes":{"name":"go-testscenarios-feature_users-scenario_disa","handle":"go-testscenarios-feature_users-scenario_disable_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582932@datadoghq.com","created_at":"2020-07-24T09:28:52.746721+00:00","email":"go-testscenarios-feature_users-scenario_disable_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1595582932@datadoghq.com","icon":"https://secure.gravatar.com/avatar/93f791d9129c454de7237453cbf57b43?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0pa1dtuadfHOUeVqLiK3mljtwHC7xKOrqXlG1EXfeExc1YyvZm51+jZLEiJ3YUs6
      X-Dd-Version:
      - "35.2781942"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/16aa89de-cd90-11ea-a33d-271737aa20ce
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - qA85Kiicwd/s93AfT3MSf+l6IYc5FQ6tEbp4Kft/ri41UOumJ967MPQKmz3gwejd
      X-Dd-Version:
      - "35.2781942"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/16aa89de-cd90-11ea-a33d-271737aa20ce
    method: DELETE
  response:
    body: '{"errors": ["16aa89de-cd90-11ea-a33d-271737aa20ce not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2781942"
    status: 404 Not Found
    code: 404
    duration: ""
