---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_update_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291696@datadoghq.com","name":"go-testscenarios-feature_users-scenario_upda","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b1b1c73c-c1d1-11ea-9cf1-8f800dab686d","attributes":{"name":"go-testscenarios-feature_users-scenario_upda","handle":"go-testscenarios-feature_users-scenario_update_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291696@datadoghq.com","created_at":"2020-07-09T10:48:16.175124+00:00","email":"go-testscenarios-feature_users-scenario_update_a_user_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1594291696@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6de129bc88e1457105d301845ad24ed5?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vwiIwb5QepaQFIQrmPfIwwVWkQ/z0inFQwNEDjqDDy4v3CsF5qbv9dnyfb7UGzLf
      X-Dd-Version:
      - "35.2719040"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"updated"},"id":"b1b1c73c-c1d1-11ea-9cf1-8f800dab686d","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/b1b1c73c-c1d1-11ea-9cf1-8f800dab686d
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +6muH0vWWhHE6JfE/xHkdpoFSNgX/+wCvqEMuEDvglDKir3htwvCDYdHi0bPaPF0
      X-Dd-Version:
      - "35.2719040"
    status: 204 No Content
    code: 204
    duration: ""
[...]
