---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Update_a_user_returns_OK_response-1617977689@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"f21b917e-993d-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1617977689@datadoghq.com","created_at":"2021-04-09T14:14:49.885988+00:00","modified_at":"2021-04-09T14:14:49.917531+00:00","email":"test-update_a_user_returns_ok_response-1617977689@datadoghq.com","icon":"https://secure.gravatar.com/avatar/baa48056797722df88092e5173a3dd80?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"f21b917e-993d-11eb-9ceb-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/f21b917e-993d-11eb-9ceb-da7ad0900002
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"f21b917e-993d-11eb-9ceb-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1617977689@datadoghq.com","created_at":"2021-04-09T14:14:49.885988+00:00","modified_at":"2021-04-09T14:14:50.203673+00:00","email":"test-update_a_user_returns_ok_response-1617977689@datadoghq.com","icon":"https://secure.gravatar.com/avatar/baa48056797722df88092e5173a3dd80?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/f21b917e-993d-11eb-9ceb-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["f21b917e-993d-11eb-9ceb-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 404 Not Found
    code: 404
    duration: ""
