interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_a_user_invitation_returns_OK_response-1618491774@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/users
  response:
    body: '{"data":{"type":"users","id":"e48c8c50-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1618491774@datadoghq.com","created_at":"2021-04-15T13:02:54.724100+00:00","modified_at":"2021-04-15T13:02:54.756177+00:00","email":"test-get_a_user_invitation_returns_ok_response-1618491774@datadoghq.com","icon":"https://secure.gravatar.com/avatar/055027263246de2d83fe0957e898dc01?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - '35.4318655'
    status: 201 Created
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"e48c8c50-9dea-11eb-9df5-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body: '{"data":[{"type":"user_invitations","id":"e4de152a-9dea-11eb-9df5-da7ad0900002","attributes":{"uuid":"e4de152a-9dea-11eb-9df5-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-15T13:02:55.259429+00:00","expires_at":"2021-04-17T13:02:55.179075+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e48c8c50-9dea-11eb-9df5-da7ad0900002"}}}}]}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - '35.4318655'
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/user_invitations/e4de152a-9dea-11eb-9df5-da7ad0900002
  response:
    body: '{"data":{"type":"user_invitations","id":"e4de152a-9dea-11eb-9df5-da7ad0900002","attributes":{"uuid":"e4de152a-9dea-11eb-9df5-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-15T13:02:55.259429+00:00","expires_at":"2021-04-17T13:02:55.179075+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e48c8c50-9dea-11eb-9df5-da7ad0900002"}}}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - '35.4318655'
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/users/e48c8c50-9dea-11eb-9df5-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - '35.4318655'
    status: 204 No Content
version: 1
