---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_a_user_invitation_returns_OK_response-1618221008@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"77334c20-9b74-11eb-9d38-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1618221008@datadoghq.com","created_at":"2021-04-12T09:50:08.328216+00:00","modified_at":"2021-04-12T09:50:08.372591+00:00","email":"test-get_a_user_invitation_returns_ok_response-1618221008@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a8ce1c75ac02891216136fd5377294d6?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"77334c20-9b74-11eb-9d38-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"775c4ce2-9b74-11eb-9d38-da7ad0900002","attributes":{"uuid":"775c4ce2-9b74-11eb-9d38-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-12T09:50:08.597202+00:00","expires_at":"2021-04-14T09:50:08.545026+00:00"},"relationships":{"user":{"data":{"type":"users","id":"77334c20-9b74-11eb-9d38-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4287331"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/775c4ce2-9b74-11eb-9d38-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"775c4ce2-9b74-11eb-9d38-da7ad0900002","attributes":{"uuid":"775c4ce2-9b74-11eb-9d38-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-12T09:50:08.597202+00:00","expires_at":"2021-04-14T09:50:08.545026+00:00"},"relationships":{"user":{"data":{"type":"users","id":"77334c20-9b74-11eb-9d38-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/77334c20-9b74-11eb-9d38-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
