---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_invitation_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598352132@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"a29201f0-e6bf-11ea-aa05-6397043c9935","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_invitation_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598352132@datadoghq.com","created_at":"2020-08-25T10:42:12.881794+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_invitation_returns__ok__response-given_there_is_a_valid__user__in_the_system-local-1598352132@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fe466058e2c5f356cc2e9500485aa09f?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - TlObKNxJC6mRjORAptBjah7X7IZlZoWDhxDuIhUdNUMmnkpihyb67mpyYPwy4Xl5
      X-Dd-Version:
      - "35.2929737"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"a29201f0-e6bf-11ea-aa05-6397043c9935","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"a2d5230e-e6bf-11ea-aa05-7fbc6eb86437","attributes":{"uuid":"a2d5230e-e6bf-11ea-aa05-7fbc6eb86437","login_method":null,"invite_type":"openid_invite","created_at":"2020-08-25T10:42:13.323622+00:00","expires_at":"2020-08-27T10:42:13.176997+00:00"},"relationships":{"user":{"data":{"type":"users","id":"a29201f0-e6bf-11ea-aa05-6397043c9935"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - uojSfqpCYY9AwY7aycpZQD3hO7T80nZIcDt4g+j01Bv5djiJZ4W5RUKWXT+Lgp1R
      X-Dd-Version:
      - "35.2929737"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetInvitation
    url: https://api.datadoghq.com/api/v2/user_invitations/a2d5230e-e6bf-11ea-aa05-7fbc6eb86437
    method: GET
  response:
    body: '{"data":{"type":"user_invitations","id":"a2d5230e-e6bf-11ea-aa05-7fbc6eb86437","attributes":{"uuid":"a2d5230e-e6bf-11ea-aa05-7fbc6eb86437","login_method":null,"invite_type":"openid_invite","created_at":"2020-08-25T10:42:13.323622+00:00","expires_at":"2020-08-27T10:42:13.176997+00:00"},"relationships":{"user":{"data":{"type":"users","id":"a29201f0-e6bf-11ea-aa05-6397043c9935"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Y0Wuc8E3+SpVlnTzK4RUu97zkN6KtouappB64/8RP7vhb/NV3oylxGvm6vZWDPy/
      X-Dd-Version:
      - "35.2929737"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/a29201f0-e6bf-11ea-aa05-6397043c9935
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - fOvn++WNyeGiJqGJ1RGVl2OtzlCSW+9FmhW07NDhLHuS9Ypy2JL89j65gnqIRQTf
      X-Dd-Version:
      - "35.2929737"
    status: 204 No Content
    code: 204
    duration: ""
