---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_users-scenario_get_a_user_permissions_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616885@datadoghq.com","name":"go-testscenarios-feature_users-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8721fa42-bbae-11ea-9c9c-4793d1d6ceb6","attributes":{"name":"go-testscenarios-feature_users-scenario_get_","handle":"go-testscenarios-feature_users-scenario_get_a_user_permissions_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616885@datadoghq.com","created_at":"2020-07-01T15:21:25.406740+00:00","email":"go-testscenarios-feature_users-scenario_get_a_user_permissions_returns__ok__response-given_there_is_a_valid_user_in_the_system-local-1593616885@datadoghq.com","icon":"https://secure.gravatar.com/avatar/efce8cb73c1cf0bc36af1464971212a9?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KKQq2SiaDLpychKSp47ffvU6SRxUV+VzBWr187ESkULBuGOI+kREfb/2NCy8DAWC
      X-Dd-Version:
      - "35.2688310"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUserPermissions
    url: https://api.datadoghq.com/api/v2/users/8721fa42-bbae-11ea-9c9c-4793d1d6ceb6/permissions
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Iy6HNgrdx6jplabT1ZfQVzkCrk+jqjHEQw0NvfR/5Sb/NsvSUgBv2AbCahJdaB7p
      X-Dd-Version:
      - "35.2688310"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8721fa42-bbae-11ea-9c9c-4793d1d6ceb6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vlc9b/rJPByGsV/acj3ScS7B1lo9nEAbSgYCfkl0GH3egry4iXeiGBP0WX8DpJ/T
      X-Dd-Version:
      - "35.2688310"
    status: 204 No Content
    code: 204
    duration: ""
