---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Get_a_user_permissions_returns__OK__response-local-1607022773@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8b9f4266-359b-11eb-87c2-4719f7f00e6c","attributes":{"name":null,"handle":"go-feature_users-scenario_get_a_user_permissions_returns__ok__response-local-1607022773@datadoghq.com","created_at":"2020-12-03T19:12:54.358724+00:00","email":"go-feature_users-scenario_get_a_user_permissions_returns__ok__response-local-1607022773@datadoghq.com","icon":"https://secure.gravatar.com/avatar/36cf023fdf6d43068473dd73088ed5fc?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GVd3H6+s0wOEEQNbWfOlfSTR2GEFs46b/AVWKmAErR/5auOQpwMvzy3i6o9DNymz
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUserPermissions
    url: https://api.datadoghq.com/api/v2/users/8b9f4266-359b-11eb-87c2-4719f7f00e6c/permissions
    method: GET
  response:
    body: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2V6J6bfi8Lp+2UjnPdTvcW5IjbRGxJrhStYZW/ACt/za6xfDiK/Y5IuDyUadsRtA
      X-Dd-Version:
      - "35.3472485"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8b9f4266-359b-11eb-87c2-4719f7f00e6c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yd+pYeOoLYl3scuK5ebI9venP8fblf89LZnLn7Z4ciukYCvApwo6pSH57pZYmWRG
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
