---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1617977682@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"ed7c8da8-993d-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617977682@datadoghq.com","created_at":"2021-04-09T14:14:42.133843+00:00","modified_at":"2021-04-09T14:14:42.170124+00:00","email":"test-get_a_user_returns_ok_response-1617977682@datadoghq.com","icon":"https://secure.gravatar.com/avatar/834bb7313eb5d703708c712446073f30?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/ed7c8da8-993d-11eb-9ceb-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"ed7c8da8-993d-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617977682@datadoghq.com","created_at":"2021-04-09T14:14:42.133843+00:00","modified_at":"2021-04-09T14:14:42.170124+00:00","email":"test-get_a_user_returns_ok_response-1617977682@datadoghq.com","icon":"https://secure.gravatar.com/avatar/834bb7313eb5d703708c712446073f30?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
