---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Create_a_user_returns__OK__response-local-1607022770@datadoghq.com","name":"Datadog API Client Python"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"89a02e26-359b-11eb-87c2-772ebe89a1cd","attributes":{"name":"Datadog
      API Client Python","handle":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1607022770@datadoghq.com","created_at":"2020-12-03T19:12:51.008536+00:00","email":"go-feature_users-scenario_create_a_user_returns__ok__response-local-1607022770@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7eba230935234db427272ba2b20161e0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LX0aORViMOQWB8T+VX1PN+m0Q/BWIGM8lAfgs+SVlDy/am6DTkPEsJ9PcP8Pvumm
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/89a02e26-359b-11eb-87c2-772ebe89a1cd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FELlv8T8VRoaBxHjLbAG9Fvj68G6pP0FZF7JKMI72/5H4OtG/s8AVYiF1c9f4D6g
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
