---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Users-Scenario_Update_a_user_returns__OK__response-local-1607022773@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"8b053d10-359b-11eb-87c2-cb079dc8a3be","attributes":{"name":null,"handle":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1607022773@datadoghq.com","created_at":"2020-12-03T19:12:53.347860+00:00","email":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1607022773@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e5747c0411fbf2c2d61df3248f54fac0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Q8knEw82SgGErSuAaD0RuA7obbJQJNFXaFmNNzPtQBtywdtSi82Z9gGaD787DJ0K
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":true,"name":"updated"},"id":"8b053d10-359b-11eb-87c2-cb079dc8a3be","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/8b053d10-359b-11eb-87c2-cb079dc8a3be
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"8b053d10-359b-11eb-87c2-cb079dc8a3be","attributes":{"name":"updated","handle":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1607022773@datadoghq.com","created_at":"2020-12-03T19:12:53.347860+00:00","email":"go-feature_users-scenario_update_a_user_returns__ok__response-local-1607022773@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e5747c0411fbf2c2d61df3248f54fac0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yd+pYeOoLYl3scuK5ebI9venP8fblf89LZnLn7Z4ciukYCvApwo6pSH57pZYmWRG
      X-Dd-Version:
      - "35.3472485"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/8b053d10-359b-11eb-87c2-cb079dc8a3be
    method: DELETE
  response:
    body: '{"errors": ["8b053d10-359b-11eb-87c2-cb079dc8a3be not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3472485"
    status: 404 Not Found
    code: 404
    duration: ""
