interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/eudm/issues
  response:
    body: '{"data":[{"id":"high-cpu","type":"issue_definitions","attributes":{"category":"cpu","label":"CPU
      Usage above 70%","level":"warning"}},{"id":"critical-cpu","type":"issue_definitions","attributes":{"category":"cpu","label":"CPU
      Usage above 90%","level":"critical"}},{"id":"high-memory","type":"issue_definitions","attributes":{"category":"memory","label":"Memory
      Usage above 75%","level":"warning"}},{"id":"critical-memory","type":"issue_definitions","attributes":{"category":"memory","label":"Memory
      Usage above 90%","level":"critical"}},{"id":"high-disk","type":"issue_definitions","attributes":{"category":"disk","label":"Disk
      Usage above 80%","level":"warning"}},{"id":"critical-disk","type":"issue_definitions","attributes":{"category":"disk","label":"Disk
      Usage above 95%","level":"critical"}},{"id":"low-battery-capacity","type":"issue_definitions","attributes":{"category":"battery","label":"Battery
      Capacity below 80%","level":"warning"}},{"id":"critical-battery-capacity","type":"issue_definitions","attributes":{"category":"battery","label":"Battery
      Capacity below 70%","level":"critical"}},{"id":"weak-wifi","type":"issue_definitions","attributes":{"category":"wifi","label":"Poor
      WiFi Connectivity","level":"warning"}},{"id":"recent-restart","type":"issue_definitions","attributes":{"category":"notable_events","label":"Recent
      System Restart","level":"info"}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
