interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/eudm/devices
  response:
    body: '{"data":[{"id":"LAPTOP-DEMO-001","type":"devices","attributes":{"agent_key":"00000000000000000000000000000000","agent_version":"7.72.2","cpu_model":"Apple
      M1 Pro","cpu_cores":10,"cpu_logical_processors":10,"cpu_usage":11.4,"mem_usage":47.1,"memory_total_kb":16777216,"disk_usage":38.2,"ip_address":"192.0.2.10","issues":[],"kernel_name":"Darwin","last_seen":"2026-05-26T22:49:00Z","manufacturer":"Apple","model_name":"MacBook
      Pro","model_number":"MacBookPro18,3","os":"macOS","os_version":"macOS 15.6.1
      arm64","resource_id":"10000000000001","serial_number":"TESTDEVICE001","status":"healthy","type":"laptop","uptime":432000.0,"wlan_bssid":"00:00:5e:00:53:01","wlan_rssi":-55.0,"wlan_ssid":"corp-wifi"}},{"id":"LAPTOP-DEMO-002","type":"devices","attributes":{"agent_key":"00000000000000000000000000000000","agent_version":"7.72.2","cpu_model":"Intel(R)
      Core(TM) i7-1185G7","cpu_cores":4,"cpu_logical_processors":8,"cpu_usage":76.2,"mem_usage":81.5,"memory_total_kb":16777216,"disk_usage":62.4,"ip_address":"192.0.2.11","issues":["high-cpu","high-memory"],"kernel_name":"WindowsNT","last_seen":"2026-05-26T22:48:30Z","manufacturer":"Dell
      Inc.","model_name":"Latitude 5420","model[...]
