interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/query?from=1623846101&to=1623932501&query=system.cpu.idle%7B%2A%7D
  response:
    body: '{"status":"ok","resp_version":1,"series":[{"end":1623932699000,"attributes":{},"metric":"system.cpu.idle","interval":300,"tag_set":[],"start":1623846300000,"length":288,"query_index":0,"aggr":null,"scope":"*","pointlist":[[1623846300000.0,94.31900300343831],[1623846600000.0,94.1221435991923],[1623846900000.0,94.4046950785319],[1623847200000.0,94.35738808949789],[1623847500000.0,94.17893098195394],[1623847800000.0,94.34093508402506],[1623848100000.0,94.29256163914998],[1623848400000.0,94.03804006512533],[1623848700000.0,94.27855958874594],[1623849000000.0,94.33526972316255],[1623849300000.0,94.09744590759277],[1623849600000.0,94.32324359893799],[1623849900000.0,94.40179920196533],[1623850200000.0,94.1748648707072[...]
