interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/query?from=1641343852&to=1641430252&query=system.cpu.idle%7B%2A%7D
  response:
    body: '{"status":"ok","resp_version":1,"series":[{"end":1641430499000,"attributes":{},"metric":"system.cpu.idle","interval":300,"tag_set":[],"start":1641344100000,"length":288,"query_index":0,"aggr":null,"scope":"*","pointlist":[[1641344100000,91.4583840476142],[1641344400000,91.5041914039484],[1641344700000,91.5031727472941],[1641345000000,91.39889285551104],[1641345300000,91.47619551653302],[1641345600000,91.64146314991845],[1641345900000,91.64735362264845],[1641346200000,91.55526781082153],[1641346500000,91.6371850013733],[1641346800000,91.68250057962206],[1641347100000,91.60082637998792],[1641347400000,91.4950697009124],[1641347700000,91.64827139017969],[1641348000000,91.64833300908407],[1641348300000,91.6090544984[...]
