---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Incident_Services-Scenario_Get_details_of_an_incident_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1603475946"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    url: https://api.datadoghq.com/api/v2/services
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"c70473b2-8b6e-59ea-97a7-c44eb07ee5cf","attributes":{"name":"go-TestScenarios-Feature_Incident_Services-Scenario_Get_details_of_an_incident_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1603475946","created":"2020-10-23T17:59:06.681479+00:00","modified":"2020-10-23T17:59:06.681479+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EQzhJSeNziVWIN4Gtgvm49DBQgA/xSWPBZSORg2i40a13gmPz8gOAFcYwqtQKjIG
      X-Dd-Version:
      - "35.3248028"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11996"
      X-Ratelimit-Reset:
      - "54"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncidentService
    url: https://api.datadoghq.com/api/v2/services/c70473b2-8b6e-59ea-97a7-c44eb07ee5cf
    method: GET
  response:
    body: '{"data":{"type":"services","id":"c70473b2-8b6e-59ea-97a7-c44eb07ee5cf","attributes":{"name":"go-TestScenarios-Feature_Incident_Services-Scenario_Get_details_of_an_incident_service_returns__OK__response-Given_there_is_a_valid__service__in_the_system-local-1603475946","created":"2020-10-23T17:59:06.681479+00:00","modified":"2020-10-23T17:59:06.681479+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - /3efrffY0fOidOw5YXy+ujUt+jIWndj9KkkaQ3CKNiYFs6CCTkTChAR8M9mejUqc
      X-Dd-Version:
      - "35.3248028"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
