interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Create_a_new_incident_service_returns_CREATED_response-1618491692"},"type":"services"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/services
  response:
    body: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"66569b72-d668-5476-bdbd-72320bef1f5e","attributes":{"name":"Test-Create_a_new_incident_service_returns_CREATED_response-1618491692","created":"2021-04-15T13:01:33.197127+00:00","modified":"2021-04-15T13:01:33.197127+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '27'
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/services/66569b72-d668-5476-bdbd-72320bef1f5e
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '27'
    status: 204 No Content
version: 1
