---
version: 1
interactions:
- request:
    body: |
      {"layout_type":"","title":"","widgets":null}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"errors": ["''widgets'' should be array"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2492943"
    status: 400 Bad Request
    code: 400
    duration: ""
