---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Create_an_SLO_correction_returns_OK_response-1619078376","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"3531aedc0f7958f0b14bd8032d33ce52","name":"Test-Create_an_SLO_correction_returns_OK_response-1619078376","created_at":1619078377,"tags":[],"modified_at":1619078377,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4367882"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "490"
      X-Ratelimit-Reset:
      - "23"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"category":"Scheduled Maintenance","description":"Test-Create_an_SLO_correction_returns_OK_response-1619078376","end":1619081976,"slo_id":"3531aedc0f7958f0b14bd8032d33ce52","start":1619078376,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction
    method: POST
  response:
    body: '{"data":{"type":"correction","id":"aed47c84-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"3531aedc0f7958f0b14bd8032d33ce52","start":1619078376,"end":1619081976,"description":"Test-Create_an_SLO_correction_returns_OK_response-1619078376","category":"Scheduled
      Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
      Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4367882"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11990"
      X-Ratelimit-Reset:
      - "23"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/3531aedc0f7958f0b14bd8032d33ce52
    method: DELETE
  response:
    body: '{"data":["3531aedc0f7958f0b14bd8032d33ce52"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4367882"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/aed47c84-a340-11eb-9fc2-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4367882"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11990"
      X-Ratelimit-Reset:
      - "23"
    status: 204 No Content
    code: 204
    duration: ""
