---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618221317","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"605f93f685995340bbd2e46c9616b554","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618221317","created_at":1618221317,"tags":[],"modified_at":1618221317,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"category":"Other","description":"Test Correction","end":1618224917,"slo_id":"605f93f685995340bbd2e46c9616b554","start":1618221317,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction
    method: POST
  response:
    body: '{"data":{"type":"correction","id":"2f9e869e-9b75-11eb-9d38-da7ad0900002","attributes":{"slo_id":"605f93f685995340bbd2e46c9616b554","start":1618221317,"end":1618224917,"description":"Test
      Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287547"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/2f9e869e-9b75-11eb-9d38-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"correction","id":"2f9e869e-9b75-11eb-9d38-da7ad0900002","attributes":{"slo_id":"605f93f685995340bbd2e46c9616b554","start":1618221317,"end":1618224917,"description":"Test
      Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287547"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/605f93f685995340bbd2e46c9616b554
    method: DELETE
  response:
    body: '{"data":["605f93f685995340bbd2e46c9616b554"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287547"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
