interactions:
- request:
    body: |
      {"cases":[{"status":"info"}],"isEnabled":true,"message":"Test rule","name":"Test-Create_a_detection_rule_returns_Bad_Request_response-1618473262","options":{},"queries":[{"query":""}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body: '{"errors":["Internal error"]}'
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4316747'
    status: 400 Bad Request
version: 1
