---
version: 1
interactions:
- request:
    body: |
      {"cases":null,"isEnabled":false,"message":"","name":"","options":{},"queries":null}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"errors":["Internal error"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 400 Bad Request
    code: 400
    duration: ""
