---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"status":"info"}],"isEnabled":true,"message":"Test rule","name":"Test-Create_a_detection_rule_returns_Bad_Request_response-1618476752","options":{},"queries":[{"query":""}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"errors":["Internal error"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4317157"
    status: 400 Bad Request
    code: 400
    duration: ""
