---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"a \u003e 0","name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test rule","name":"Test-Delete_an_existing_rule_returns_OK_response-1617974765","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"metric":"","query":"@test:true"}],"tags":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
      rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1617974765428,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
      > 0"}],"type":"log_detection","id":"jno-noy-jnm","isDefault":false,"name":"Test-Delete_an_existing_rule_returns_OK_response-1617974765"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276054"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/jno-noy-jnm
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4276054"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/jno-noy-jnm
    method: DELETE
  response:
    body: '{"errors":["Threat detection rule not found: jno-noy-jnm"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276054"
    status: 404 Not Found
    code: 404
    duration: ""
