---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1620806279","query":"service:TestGetasecurityfilterreturnsOKresponse1620806279"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityFilter
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
    method: POST
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1620806279","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1620806279","is_builtin":false},"type":"security_filters","id":"9ha-9qy-mkn"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4512853"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityFilter
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/9ha-9qy-mkn
    method: GET
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1620806279","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1620806279","is_builtin":false},"type":"security_filters","id":"9ha-9qy-mkn"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4512853"
    status: 200 OK
    code: 200
    duration: ""
[...]
