---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Custom security filter","query":"service:api"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityFilter
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
    method: POST
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Custom security filter","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      staging"}],"version":1,"query":"service:api","is_builtin":false},"type":"security_filters","id":"kre-fil-fvx"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4508212"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityFilter
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/kre-fil-fvx
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4508212"
    status: 204 No Content
    code: 204
    duration: ""
