---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"exclusion_filters":[{"name":"Exclude staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Create_a_security_filter_returns_OK_response-1620806181","query":"service:TestCreateasecurityfilterreturnsOKresponse1620806181"},"type":"security_filters"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityFilter
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
    method: POST
  response:
    body: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Create_a_security_filter_returns_OK_response-1620806181","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
      staging"}],"version":1,"query":"service:TestCreateasecurityfilterreturnsOKresponse1620806181","is_builtin":false},"type":"security_filters","id":"lw9-tu9-o64"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4512853"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSecurityFilter
    url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/lw9-tu9-o64
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4512853"
    status: 204 No Content
    code: 204
    duration: ""
