interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"feb37f50ee7be467@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["meh:bleh"],"host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"cloud_run_revision_filters":["meh:bleh"],"resource_collection_enabled":false,"host_filters":[],"automute":false,"is_cspm_enabled":false,"account_tags":[],"client_email":"feb37f50ee7be467@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":false},"id":"e1157377-8d5c-4a94-9730-10c3fa9d6ff5"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e1157377-8d5c-4a94-9730-10c3fa9d6ff5
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
