interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-bd3cfbaa8e662e9c@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"cloud_run_revision_filters":[],"is_cspm_enabled":false,"account_tags":[],"is_security_command_center_enabled":false,"resource_collection_enabled":false,"client_email":"Test-bd3cfbaa8e662e9c@example.com","host_filters":[]},"id":"f13432c1-353c-42d2-bcdd-6b535baf2c6b"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":[{"type":"gcp_service_account","attributes":{"is_security_command_center_enabled":false,"resource_collection_enabled":false,"is_cspm_enabled":false,"host_filters":[],"cloud_run_revision_filters":[],"automute":false,"account_tags":[],"client_email":"example-service-account@static-test-email.datadoghq.com"},"id":"2596b31f-4e6c-4d42-8df1-ee76dadf6bc7","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"is_security_command_center_enabled":false,"resource_collection_enabled":true,"is_cspm_enabled":false,"host_filters":[],"cloud_run_revision_filters":[],"automute":false,"account_tags":[],"client_email":"187567668125ec65_1709791417@example.com"},"id":"34d4ecf8-e8e6-43cf-947f-4d0245bba1ee","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"is_security_command_center_enabled":false,"resource_collection_enabled":true,"is_c[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/f13432c1-353c-42d2-bcdd-6b535baf2c6b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
