interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"c200eb5fe37e7d26@test-project.iam.gserviceaccount.com","host_filters":[],"resource_collection_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"is_security_command_center_enabled":false,"host_filters":[],"client_email":"c200eb5fe37e7d26@test-project.iam.gserviceaccount.com","resource_collection_enabled":true,"account_tags":[],"is_cspm_enabled":false},"id":"e0e0b030-aba8-4eff-bcf2-7d4266d0d7fd"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e0e0b030-aba8-4eff-bcf2-7d4266d0d7fd
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
