interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-d119bc7c8439bcb5@test-project.iam.gserviceaccount.com","host_filters":[],"is_resource_change_collection_enabled":true,"is_security_command_center_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"Test-d119bc7c8439bcb5@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"automute":false,"resource_collection_enabled":true,"account_tags":[],"is_security_command_center_enabled":true,"is_resource_change_collection_enabled":true,"is_cspm_enabled":false},"id":"abdfa7a0-64b7-437d-99fe-13f56bbbfb15"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/abdfa7a0-64b7-437d-99fe-13f56bbbfb15
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
