interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-1701e5fecd52895c@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["meh:bleh"],"host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","id":"58054a77-4ee0-44a8-8260-4eec67ddcced","attributes":{"is_cspm_enabled":false,"automute":false,"is_security_command_center_enabled":false,"client_email":"Test-1701e5fecd52895c@test-project.iam.gserviceaccount.com","resource_collection_enabled":false,"account_tags":[],"host_filters":[],"cloud_run_revision_filters":["meh:bleh"]}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/58054a77-4ee0-44a8-8260-4eec67ddcced
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
