interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"client_email":"47cdd79b4a719ac2@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"client_email":"47cdd79b4a719ac2@test-project.iam.gserviceaccount.com","is_cspm_enabled":false,"automute":false},"id":"3aa3ec77-9646-4f6a-bcd0-01e5124e2ad1"}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3aa3ec77-9646-4f6a-bcd0-01e5124e2ad1
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
