interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-28b4739ba68f588b@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"cloud_run_revision_filters":[],"account_tags":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"automute":false,"host_filters":[],"client_email":"Test-28b4739ba68f588b@example.com"},"id":"73f227e1-939b-42e3-bb40-773a05509e52"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-28b4739ba68f588b@example.com","cloud_run_revision_filters":["merp:derp"]},"id":"73f227e1-939b-42e3-bb40-773a05509e52","type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/73f227e1-939b-42e3-bb40-773a05509e52
  response:
    body: '{"data":{"type":"gcp_service_account","id":"73f227e1-939b-42e3-bb40-773a05509e52","attributes":{"is_cspm_enabled":false,"automute":false,"is_security_command_center_enabled":false,"client_email":"Test-28b4739ba68f588b@example.com","resource_collection_enabled":false,"account_tags":[],"host_filters":[],"cloud_run_revision_filters":["merp:derp"]}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/73f227e1-939b-42e3-bb40-773a05509e52
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
