interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"bce3b7c65fce9a71@test-project.iam.gserviceaccount.com","host_filters":[],"is_security_command_center_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"account_tags":[],"host_filters":[],"client_email":"bce3b7c65fce9a71@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":true,"resource_collection_enabled":false,"is_cspm_enabled":false},"id":"e72611ce-c7eb-4411-bc0e-04fa12a8cb6c"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e72611ce-c7eb-4411-bc0e-04fa12a8cb6c
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
