interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":[{"type":"gcp_service_account","attributes":{"client_email":"mitchdoingtests@lookatthismitchtest.edu","host_filters":["lots","of","filters"],"automute":true,"is_cspm_enabled":true},"id":"4287ec45-bd6b-40d5-b378-de5b3c569155","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"client_email":"dd-integration@datadog-staging.iam.gserviceaccount.com","host_filters":[],"automute":false,"is_cspm_enabled":true},"id":"d4738a71-7f23-4af4-a5bf-ad6143b3a5f0","meta":{"accessible_projects":["datadog-staging"]}},{"type":"gcp_service_account","attributes":{"client_email":"joshua-delete-me-terraform-testing-2","host_filters":[],"automute":true,"is_cspm_enabled":true},"id":"f96f39ea-77b0-4886-a46d-2612e5290664","meta":{"accessible_proj[...]
