interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"78489d28e3cca21b@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"78489d28e3cca21b@example.com","host_filters":[],"account_tags":[],"is_cspm_enabled":false,"automute":false,"is_security_command_center_enabled":false,"resource_collection_enabled":false},"id":"1ce480d7-4006-418e-b627-167af0586d7e"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"client_email":"78489d28e3cca21b@example.com","resource_collection_enabled":true},"id":"1ce480d7-4006-418e-b627-167af0586d7e","type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/1ce480d7-4006-418e-b627-167af0586d7e
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":true,"is_security_command_center_enabled":false,"automute":false,"account_tags":[],"host_filters":[],"client_email":"78489d28e3cca21b@example.com","is_cspm_enabled":false},"id":"1ce480d7-4006-418e-b627-167af0586d7e"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/1ce480d7-4006-418e-b627-167af0586d7e
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
