interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"80e3f00106389e6e@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","id":"d6c68645-2b52-43e9-838c-9b7fdb809a8d","attributes":{"host_filters":[],"account_tags":[],"client_email":"80e3f00106389e6e@test-project.iam.gserviceaccount.com","is_cspm_enabled":false,"automute":false}}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/d6c68645-2b52-43e9-838c-9b7fdb809a8d
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
