interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"9f53cbf93a21704b@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"account_tags":[],"host_filters":[],"resource_collection_enabled":true,"is_security_command_center_enabled":false,"client_email":"9f53cbf93a21704b@test-project.iam.gserviceaccount.com","automute":false},"id":"cf3c6e32-dad2-452e-8c09-f34c5f2211a1"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/cf3c6e32-dad2-452e-8c09-f34c5f2211a1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
