interactions:
- request:
    body: |
      {"data":{"attributes":{"account_tags":["lorem","ipsum"],"client_email":"Test-e5f8eebedfc95a5e@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"resource_collection_enabled":false,"account_tags":["lorem","ipsum"],"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"host_filters":[],"client_email":"Test-e5f8eebedfc95a5e@test-project.iam.gserviceaccount.com","automute":false},"id":"62f1287b-89d6-414d-8b80-713208d91299"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/62f1287b-89d6-414d-8b80-713208d91299
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
