interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-159c92b6b06abd9d@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"is_security_command_center_enabled":false,"cloud_run_revision_filters":[],"is_cspm_enabled":false,"client_email":"Test-159c92b6b06abd9d@example.com","automute":false,"account_tags":[],"host_filters":[]},"id":"acd4d936-fba6-4b2f-8b46-768389ff90b1"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-159c92b6b06abd9d@example.com","host_filters":["foo:bar"]},"id":"acd4d936-fba6-4b2f-8b46-768389ff90b1","type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/acd4d936-fba6-4b2f-8b46-768389ff90b1
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"resource_collection_enabled":false,"account_tags":[],"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"host_filters":["foo:bar"],"client_email":"Test-159c92b6b06abd9d@example.com","automute":false},"id":"acd4d936-fba6-4b2f-8b46-768389ff90b1"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/acd4d936-fba6-4b2f-8b46-768389ff90b1
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
