interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"client_email":"89e7e1c05bdec66f@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"89e7e1c05bdec66f@example.com","host_filters":[],"automute":false,"is_cspm_enabled":false},"id":"91cde1ef-1da8-4340-9563-5b491f1176a7"}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: |
      {"data":{"attributes":{"client_email":"89e7e1c05bdec66f@example.com","host_filters":["foo:bar"]},"id":"91cde1ef-1da8-4340-9563-5b491f1176a7","type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/91cde1ef-1da8-4340-9563-5b491f1176a7
  response:
    body: '{"data":{"type":"gcp_service_account","id":"91cde1ef-1da8-4340-9563-5b491f1176a7","attributes":{"client_email":"89e7e1c05bdec66f@example.com","is_cspm_enabled":false,"automute":false,"host_filters":["foo:bar"]}}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/91cde1ef-1da8-4340-9563-5b491f1176a7
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
