interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-c8176325bf516421@test-project.iam.gserviceaccount.com","host_filters":[],"resource_collection_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"automute":false,"cloud_run_revision_filters":[],"host_filters":[],"is_security_command_center_enabled":false,"account_tags":[],"resource_collection_enabled":true,"client_email":"Test-c8176325bf516421@test-project.iam.gserviceaccount.com"},"id":"584395b0-91b7-4ac0-83b2-3259a49ea34f"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/584395b0-91b7-4ac0-83b2-3259a49ea34f
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
