interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"94b5da11cdec906f@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"automute":false,"client_email":"94b5da11cdec906f@example.com","host_filters":[]},"id":"4c69f9f2-ab71-4f67-8932-6322579d6dc6"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":[{"type":"gcp_service_account","meta":{"accessible_projects":[]},"attributes":{"is_cspm_enabled":false,"client_email":"datadog-service-account@test-project.iam.gserviceaccount.com","host_filters":[],"automute":false},"id":"3acadf04-13a2-4422-995b-1b8780dd23e6"},{"type":"gcp_service_account","meta":{"accessible_projects":[]},"attributes":{"is_cspm_enabled":false,"client_email":"5347bd1ea052f252@test-project.iam.gserviceaccount.com","host_filters":[],"automute":false},"id":"bfef2d23-0d85-4735-850a-c8f77407bcda"},{"type":"gcp_service_account","meta":{"access[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/4c69f9f2-ab71-4f67-8932-6322579d6dc6
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
