interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-d84cfa9edd1d6635@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","id":"3d7cef2d-c455-48c2-ba50-cd8091978dd6","attributes":{"account_tags":[],"automute":false,"client_email":"Test-d84cfa9edd1d6635@example.com","resource_collection_enabled":false,"cloud_run_revision_filters":[],"is_cspm_enabled":false,"host_filters":[],"is_security_command_center_enabled":false}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-d84cfa9edd1d6635@example.com","resource_collection_enabled":true},"id":"3d7cef2d-c455-48c2-ba50-cd8091978dd6","type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3d7cef2d-c455-48c2-ba50-cd8091978dd6
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"is_security_command_center_enabled":false,"client_email":"Test-d84cfa9edd1d6635@example.com","cloud_run_revision_filters":[],"is_cspm_enabled":false,"automute":false,"resource_collection_enabled":true,"account_tags":[]},"id":"3d7cef2d-c455-48c2-ba50-cd8091978dd6"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3d7cef2d-c455-48c2-ba50-cd8091978dd6
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
