interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"876f595d133dac09@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"host_filters":[],"automute":false,"client_email":"876f595d133dac09@example.com"},"id":"fa9bd370-fe91-498b-8d02-a25baecc5a60"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"client_email":"876f595d133dac09@example.com","host_filters":["foo:bar"]},"id":"fa9bd370-fe91-498b-8d02-a25baecc5a60","type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PATCH
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/fa9bd370-fe91-498b-8d02-a25baecc5a60
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"client_email":"876f595d133dac09@example.com","host_filters":["foo:bar"],"is_cspm_enabled":false},"id":"fa9bd370-fe91-498b-8d02-a25baecc5a60"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/fa9bd370-fe91-498b-8d02-a25baecc5a60
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
