interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"5a4e63ef9fe94949@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"client_email":"5a4e63ef9fe94949@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":false},"id":"c86125c9-ee6d-46ba-997a-23006cfd1575"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/c86125c9-ee6d-46ba-997a-23006cfd1575
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
