interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-48d87b38c858a0ef@test-project.iam.gserviceaccount.com","host_filters":[],"is_security_command_center_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"is_cspm_enabled":false,"resource_collection_enabled":false,"cloud_run_revision_filters":[],"client_email":"Test-48d87b38c858a0ef@test-project.iam.gserviceaccount.com","account_tags":[],"is_security_command_center_enabled":true,"automute":false},"id":"0edb7a57-bd74-49da-ba0c-77d3cc756950"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/0edb7a57-bd74-49da-ba0c-77d3cc756950
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
