interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-8b2b196dd4bab7e2@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"Test-8b2b196dd4bab7e2@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":false,"resource_collection_enabled":false,"cloud_run_revision_filters":[],"automute":false,"is_cspm_enabled":false,"account_tags":[],"host_filters":[]},"id":"e6f0237e-b9c2-4513-9940-d2473502e39e"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e6f0237e-b9c2-4513-9940-d2473502e39e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
