interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"Test-e7179b69d4d565ed@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"host_filters":[],"resource_collection_enabled":true,"cloud_run_revision_filters":[],"client_email":"Test-e7179b69d4d565ed@test-project.iam.gserviceaccount.com","automute":false,"is_security_command_center_enabled":false,"account_tags":[]},"id":"9d359745-b1c0-41ba-9624-db7abb36904b"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/9d359745-b1c0-41ba-9624-db7abb36904b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
