interactions:
- request:
    body: |
      {"data":{"attributes":{"client_email":"832ce4b0f6318b5e@example.com","host_filters":[]},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body: '{"data":{"type":"gcp_service_account","attributes":{"is_security_command_center_enabled":false,"host_filters":[],"is_cspm_enabled":false,"client_email":"832ce4b0f6318b5e@example.com","automute":false,"account_tags":[],"resource_collection_enabled":false},"id":"f9be086a-db3e-447b-a60a-956f876aa7d9"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/f9be086a-db3e-447b-a60a-956f876aa7d9
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/f9be086a-db3e-447b-a60a-956f876aa7d9
  response:
    body: ''
    code: 204
    duration: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 1
