---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMonthlyCustomReports
    url: https://api.datadoghq.com/api/v1/monthly_custom_reports
    method: GET
  response:
    body: '{"meta":{"page":{"total_count":13}},"data":[{"type":"reports","id":"2020-06-01","attributes":{"tags":["env","service","team"],"start_date":"2020-06-01","end_date":"2020-07-01","size":5514133979,"computed_on":"2020-07-01T18:26:50+00:00"}},{"type":"reports","id":"2020-05-01","attributes":{"tags":["env","service","team"],"start_date":"2020-05-01","end_date":"2020-06-01","size":1865086708,"computed_on":"2020-06-17T02:27:28+00:00"}},{"type":"reports","id":"2020-04-01","attributes":{"tags":["env","service","team"],"start_date":"2020-04-01","end_date":"2020-05-01","size":2769034741,"computed_on":"2020-06-17T15:28:54+00:00"}},{"type":"reports","id":"2020-03-01","attributes":{"tags":["env","service","team"],[...]
