interactions:
- request:
    body: |
      {"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-List_custom_destinations_returns_OK_response-1694620628","version":0},"type":"custom_destination"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body: '{"data":{"id":"4fb853ff-a5d7-4a49-9b4c-e721d08bb614","attributes":{"version":0,"name":"destination-Test-List_custom_destinations_returns_OK_response-1694620628","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/4fb853ff-a5d7-4a49-9b4c-e721d08bb614
  response:
    body: '{"meta":{}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
