interactions:
- request:
    body: |
      {"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_OK_response-1694620633","version":0},"type":"custom_destination"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body: '{"data":{"id":"32f53dfd-f1e9-4161-8ed4-8253f55a0506","attributes":{"version":0,"name":"destination-Test-Update_a_custom_destination_returns_OK_response-1694620633","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_OK_response-1694620633--updated-name","version":0},"id":"32f53dfd-f1e9-4161-8ed4-8253f55a0506","type":"custom_destination"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/32f53dfd-f1e9-4161-8ed4-8253f55a0506
  response:
    body: '{"data":{"id":"32f53dfd-f1e9-4161-8ed4-8253f55a0506","attributes":{"version":1,"name":"destination-Test-Update_a_custom_destination_returns_OK_response-1694620633--updated-name","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"},"meta":{}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
