interactions:
- request:
    body: |
      {"data":{"attributes":{"bufferMaxBytes":10000000,"bufferTimeoutSeconds":100,"compression":"GZIP","enabled":true,"fallbackDestination":{"container":"container-name","integration":{"clientId":"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa","tenantId":"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa"},"storageAccount":"account-name","type":"azure"},"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"maxRetryDurationSeconds":100,"name":"my-destination","query":"source:dummy","version":0},"type":"custom_destination"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body: '{"data":{"id":"fa588848-609c-44cf-99eb-18753b0ce5e9","attributes":{"version":0,"name":"my-destination","query":"source:dummy","enabled":true,"bufferMaxBytes":10000000,"bufferTimeoutSeconds":100,"maxRetryDurationSeconds":100,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}},"fallbackDestination":{"storageAccount":"account-name","container":"container-name","integration":{"tenantId":"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa","clientId":"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa"},"type":"azure"}},"type":"custom_destination"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/fa588848-609c-44cf-99eb-18753b0ce5e9
  response:
    body: '{"meta":{}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
