interactions:
- request:
    body: |
      {"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"so--updated-name","version":0},"id":"some-non-existent-id","type":"custom_destination"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/some-non-existent-id
  response:
    body: '{"errors":["NotFound"]}

      '
    code: 404
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 1
