interactions:
- request:
    body: |
      {"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694620631","version":0},"type":"custom_destination"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body: '{"data":{"id":"8e747636-5cff-4b65-bfe3-8f7a498820f1","attributes":{"version":0,"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694620631","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694620631--updated-name","version":-1},"id":"8e747636-5cff-4b65-bfe3-8f7a498820f1","type":"custom_destination"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/8e747636-5cff-4b65-bfe3-8f7a498820f1
  response:
    body: '{"errors":["ConcurrentModification"]}

      '
    code: 409
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/8e747636-5cff-4b65-bfe3-8f7a498820f1
  response:
    body: '{"meta":{}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
