---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - SearchMonitorGroups
    url: https://api.datadoghq.com/api/v1/monitor/groups/search
    method: GET
  response:
    body: '{"counts":{"status":[{"count":35,"name":"OK"},{"count":30,"name":"Alert"}],"muted":[{"count":65,"name":true}],"type":[{"count":45,"name":"synthetics"},{"count":18,"name":"log"},{"count":2,"name":"metric"}],"tag":[{"count":45,"name":"check_status:live"},{"count":42,"name":"probe_dc:aws:us-east-2"},{"count":30,"name":"testing:api"},{"count":27,"name":"check_type:api"},{"count":18,"name":"client:go"},{"count":18,"name":"test"},{"count":6,"name":"check_type:api-icmp"},{"count":6,"name":"check_type:api-multi"},{"count":6,"name":"testing:api-icmp"},{"count":3,"name":"check_type:api-dns"},{"count":3,"name":"check_type:api-tcp"},{"count":3,"name":"probe_dc:aws:ap-northeast-1"},{"count":3,"name":"tags_example"},{"count":3,"name":"testing:api-dns"},{"count":3,"name":"testing:api-tcp"}]},"groups":[{"status":"OK","last_nodata_ts":0,"env_tags":[],"muted_remaining":9223372036854775807,"muted_until_ts":9223372036854775807,"all_tags":["test","client:go"],"monitor_name":"Test-Go-TestMonitorLifecycle-1620248709","team_tags":[],"last_triggered_ts":0,"group":"total","downtimes":[{"monitor_tags":[],"monitor_id":null,"modified":1620932313,"scope":["*"],"start_dt":1620932312,"end_dt":null,"id":1261921201},{"monitor_tags":[],"monitor_id":null,"modified":1621436700,"scope":["*"],"start_dt":1621436700,"end_dt":null,"id":1270016037},{"monitor_tags":[],"monitor_id":null,"modified":1621436699,"scope":["*"],"start_dt":1621436699,"end_dt":null,"id":1270016003},{"monitor_tags":[],"monitor_id":null,"modified":1621436700,"scope":["*"],"start_dt":1621436700,"end_dt":null,"id":1270016030},{"monitor_tags":[],"monitor_id":null,"modified":1621436700,"scope":["*"],"start_dt":1621436700,"end_dt":null,"id":1270016036}],"monitor_id":34964033,"priority":3,"muted":true,"group_tags":["total"]},{"status":"OK","last_nodata_ts":0,"env_tags":[],"muted_remaining":9223372036854775807,"muted_until_ts":9223372036854775807,"all_tags":["test","client:go"],"monitor_name":"Test-Go-TestMonitorUpdateErrors-1620768602","team_tags":[],"last_triggered_ts":0,"group":"total","downtimes":[{"monitor_tags":[],"monitor_id":null,"modified":1620932313,"scope":["*"],"start_dt":1620932312,"end_dt":null,"id":1261921201},{"monitor_tags":[],"monitor_id":null,"modified":1621436700,"scope":["*"],"start_dt[...]
