interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/synthetics_api?start_hr=2022-03-27T15%3A43%3A44.274Z&end_hr=2022-03-29T15%3A43%3A44.274Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","browser_check_calls_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T15:00:00+00:00","check_calls_count":1171},{"org_name":"DD
      Integration Tests (321813)","browser_check_calls_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T16:00:00+00:00","check_calls_count":1172},{"org_name":"DD
      Integration Tests (321813)","browser_check_calls_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T17:00:00+00:00","check_calls_count":1182},{"org_name":"DD
      Integration Tests (321813)","browser_check_calls_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T18:00:00+00:00","che[...]
