interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/ci-app?start_hr=2022-02-19T14%3A52%3A00.155Z&end_hr=2022-02-21T14%3A52%3A00.155Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","ci_visibility_test_committers":1,"public_id":"fasjyydbcgwwc2uc","ci_visibility_pipeline_committers":1,"hour":"2022-02-19T14:00:00+00:00","ci_visibility_combo_committers":0,"ci_test_indexed_spans":null,"ci_pipeline_indexed_spans":null},{"org_name":"DD
      Integration Tests (321813)","ci_visibility_test_committers":1,"public_id":"fasjyydbcgwwc2uc","ci_visibility_pipeline_committers":1,"hour":"2022-02-19T15:00:00+00:00","ci_visibility_combo_committers":0,"ci_test_indexed_spans":null,"ci_pipeline_indexed_spans":null},{"org_name":"DD
      Integration Tests (321813)","ci_visibility_test_committers":1,"public_id":"fasjyydbcgwwc2uc","ci_visibility_pipeline_committers":1,"hour":"2022-02-19T16:00:00+00:00","ci_visibility_combo[...]
