interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/cws?start_hr=2023-09-20T19%3A19%3A28.364Z&end_hr=2023-09-22T19%3A19%3A28.364Z
  response:
    body: '{"usage":[{"hour":"2023-09-20T19:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2023-09-20T20:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2023-09-20T21:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2023-09-20T22:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      [...]
