interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/sds?start_hr=2025-05-07T11%3A35%3A51.009Z&end_hr=2025-05-09T11%3A35%3A51.009Z
  response:
    body: '{"usage":[{"hour":"2025-05-07T11:00:00+00:00","region":"us","logs_scanned_bytes":405,"total_scanned_bytes":405,"apm_scanned_bytes":0,"rum_scanned_bytes":0,"events_scanned_bytes":0,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T12:00:00+00:00","region":"us","logs_scanned_bytes":404,"total_scanned_bytes":404,"apm_scanned_bytes":0,"rum_scanned_bytes":0,"events_scanned_bytes":0,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T13:00:00+00:00","region":"us","logs_scanned_bytes":null,"total_scanned_bytes":null,"apm_scanned_bytes":null,"rum_scanned_bytes":null,"events_scanned_bytes":null,"org_name":"DD
      Integration Tests (321813)"[...]
