interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/logs_by_index?start_hr=2025-05-07T11%3A35%3A41.762Z&end_hr=2025-05-09T11%3A35%3A41.762Z
  response:
    body: '{"usage":[{"hour":"2025-05-07T11:00:00+00:00","index_id":"33715","event_count":2,"retention":15,"index_name":"main","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","rate_limited":false,"filtered":false,"live_index_indexed":2,"rehydrated_indexed":0,"region":"us"},{"hour":"2025-05-07T12:00:00+00:00","index_id":"33715","event_count":2,"retention":15,"index_name":"main","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","rate_limited":false,"filtered":false,"live_index_indexed":2,"rehydrated_indexed":0,"region":"us"},{"hour":"2025-05-07T14:00:00+00:00","index_id":"33715","event_count":2,"retention":15,"index_name":"main","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","rate_limited":false,"f[...]
