interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/online-archive?start_hr=2022-03-03T15%3A58%3A32.586Z&end_hr=2022-03-05T15%3A58%3A32.586Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","online_archive_events_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-03T15:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","online_archive_events_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-03T16:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","online_archive_events_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-03T17:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","online_archive_events_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-03T18:00:00+00:00"},{"org_name":"DD[...]
