interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/cws?start_hr=2025-05-07T11%3A35%3A56.405Z&end_hr=2025-05-09T11%3A35%3A56.405Z
  response:
    body: '{"usage":[{"hour":"2025-05-07T11:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T12:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T13:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T14:00:00+00:00","region":"us","cws_host_count":null,"cws_container_count":null,"org_name":"DD
      [...]
