interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/rum_sessions?start_hr=2022-05-05T15%3A31%3A42.562Z&end_hr=2022-05-07T15%3A31%3A42.562Z&type=mobile
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-05-05T15:00:00+00:00","session_count_android":null,"session_count":null,"session_count_ios":null,"session_count_reactnative":null},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-05-05T16:00:00+00:00","session_count_android":null,"session_count":null,"session_count_ios":null,"session_count_reactnative":null},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-05-05T17:00:00+00:00","session_count_android":null,"session_count":null,"session_count_ios":null,"session_count_reactnative":null},{"org_name":"DD
      Integration Tests (321[...]
