interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/hourly-attribution?start_hr=2021-12-19T21%3A22%3A28.553Z&usage_type=infra_host_usage
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2021-12-19T21:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"total_usage_sum":17,"updated_at":"2021-12-20T17","usage_type":"infra_host_usage"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2021-12-19T22:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"total_usage_sum":17,"updated_at":"2021-12-20T17","usage_type":"infra_host_usage"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2021-12-19T23:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"total_usage_sum":17,"updated_at":"2021-12-20T17","usage_type":"infra_host_usage"}],"metadata":{"pagination":{"next_record_id":null}}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
