interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/daily_custom_reports
  response:
    body: '{"meta":{"page":{"total_count":397}},"data":[{"type":"reports","id":"2022-03-30","attributes":{"tags":["project"],"start_date":"2022-03-30","end_date":"2022-03-30","size":11887,"computed_on":"2022-03-31T13:22:53+00:00"}},{"type":"reports","id":"2022-03-29","attributes":{"tags":["project"],"start_date":"2022-03-29","end_date":"2022-03-29","size":11141,"computed_on":"2022-03-30T19:59:17+00:00"}},{"type":"reports","id":"2022-03-28","attributes":{"tags":["project"],"start_date":"2022-03-28","end_date":"2022-03-28","size":11088,"computed_on":"2022-03-29T11:57:38+00:00"}},{"type":"reports","id":"2022-03-27","attributes":{"tags":["project"],"start_date":"2022-03-27","end_date":"2022-03-27"[...]
