interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/iot?start_hr=2022-01-26T09%3A34%3A28.357Z&end_hr=2022-01-28T09%3A34%3A28.357Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","iot_device_count":0,"iot_device_tag":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T09:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","iot_device_count":0,"iot_device_tag":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T10:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","iot_device_count":0,"iot_device_tag":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T11:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","iot_device_count":0,"iot_device_tag":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T12:00:00[...]
