interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/hourly-attribution?start_hr=2025-05-09T11%3A35%3A30.359Z&usage_type=infra_host_usage
  response:
    body: '{"usage":[{"hour":"2025-05-09T11:00:00+00:00","org_name":"DD Integration
      Tests (321813)","public_id":"fasjyydbcgwwc2uc","tag_config_source":"DD Integration
      Tests (321813):::cf_instance_ip///project","tags":{},"usage_type":"infra_host_usage","total_usage_sum":2,"updated_at":"2025-05-10T02","region":"us"},{"hour":"2025-05-09T11:00:00+00:00","org_name":"kevinzou
      sandbox","public_id":"d218b038-1a46-11ed-b0f8-da7ad0900002","tag_config_source":"DD
      Integration Tests (321813):::cf_instance_ip///project","tags":{},"usage_type":"infra_host_usage","total_usage_sum":1,"updated_at":"2025-05-10T02","region":"us"},{"hour":"2025-05-09T12:00:00+00:00","org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","tag_config_source":"DD
      Integration Tests (321813):::cf_in[...]
