interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/timeseries?start_hr=2025-05-07T11%3A35%3A57.642Z&end_hr=2025-05-09T11%3A35%3A57.642Z
  response:
    body: '{"usage":[{"hour":"2025-05-07T11:00:00+00:00","region":"us","num_custom_input_timeseries":0,"num_custom_output_timeseries":85,"num_custom_historical_timeseries":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","num_custom_timeseries":85},{"hour":"2025-05-07T12:00:00+00:00","region":"us","num_custom_input_timeseries":1,"num_custom_output_timeseries":86,"num_custom_historical_timeseries":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","num_custom_timeseries":87},{"hour":"2025-05-07T13:00:00+00:00","region":"us","num_custom_input_timeseries":0,"num_custom_output_timeseries":0,"num_custom_historical_timeseries":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2u[...]
