interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/ci-app?start_hr=2025-05-07T14%3A00%3A41.417Z&end_hr=2025-05-09T14%3A00%3A41.417Z
  response:
    body: '{"usage":[{"hour":"2025-05-07T14:00:00+00:00","region":"us","ci_visibility_itr_committers":null,"ci_visibility_pipeline_committers":0,"ci_visibility_test_committers":0,"ci_pipeline_indexed_spans":4,"ci_test_indexed_spans":0,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T15:00:00+00:00","region":"us","ci_visibility_itr_committers":null,"ci_visibility_pipeline_committers":0,"ci_visibility_test_committers":0,"ci_pipeline_indexed_spans":6,"ci_test_indexed_spans":0,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T16:00:00+00:00","region":"us","ci_visibility_itr_committers":null,"ci_visibility_pipeline_committers":0,"ci_visibility_test_committers":0,"ci_pipeline_indexed_spans"[...]
