interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?day=2022-03-29T00%3A41%3A20.876Z
  response:
    body: '{"usage":[{"metric_category":"custom","metric_name":"page.views","max_metric_hour":11,"avg_metric_hour":11},{"metric_category":"custom","metric_name":"datadog_api_client_python_test_create_a_logbased_metric_returns_ok_response_1617189622.037749","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"Test_Typescript_Create_a_log_based_metric_returns_OK_response_1633000123","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"TestListtagconfigurationswithconfiguredfilterreturnsSuccessresponse1648567994","max_metric_hour":1,"avg_metric_hour"[...]
