interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/incident-management?start_hr=2022-01-26T09%3A34%3A31.797Z&end_hr=2022-01-28T09%3A34%3A31.797Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T09:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T10:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T11:00:00+00:00"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T12:00:00+00:00"},{"org_name":"DD
      Integration Tests (3218[...]
