interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/logs-by-retention?start_hr=2022-03-27T00%3A41%3A21.397Z&end_hr=2022-03-29T00%3A41%3A21.397Z
  response:
    body: '{"usage":[{"retention":"15","indexed_events_count":11325,"rehydrated_indexed_events_count":0,"hour":"2022-03-27T00:00:00+00:00","live_indexed_events_count":11325},{"retention":"15","indexed_events_count":11262,"rehydrated_indexed_events_count":0,"hour":"2022-03-27T01:00:00+00:00","live_indexed_events_count":11262},{"retention":"15","indexed_events_count":11230,"rehydrated_indexed_events_count":0,"hour":"2022-03-27T02:00:00+00:00","live_indexed_events_count":11230},{"retention":"15","indexed_events_count":11237,"rehydrated_indexed_events_count":0,"hour":"2022-03-27T03:00:00+00:00","live_indexed_events_count":11237},{"retention":"15","indexed_events_[...]
