interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/logs?start_hr=2022-03-27T15%3A43%3A39.992Z&end_hr=2022-03-29T15%3A43%3A39.992Z
  response:
    body: '{"usage":[{"logs_live_ingested_bytes":0,"ingested_events_bytes":0,"hour":"2022-03-27T15:00:00+00:00","logs_rehydrated_indexed_count":0,"logs_rehydrated_ingested_bytes":0,"billable_ingested_bytes":0,"indexed_events_count":11232,"logs_live_indexed_count":11232},{"logs_live_ingested_bytes":0,"ingested_events_bytes":0,"hour":"2022-03-27T16:00:00+00:00","logs_rehydrated_indexed_count":0,"logs_rehydrated_ingested_bytes":0,"billable_ingested_bytes":0,"indexed_events_count":11314,"logs_live_indexed_count":11314},{"logs_live_ingested_bytes":0,"ingested_events_bytes":0,"hour":"2022-03-27T17:00:00+00:00","logs_rehydrated_indexed_count":0,"logs_rehydrated_ingested_bytes":0,"billable_ingested_bytes":0,"indexed_events_count":11113,"logs_live_indexed_count":[...]
