interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/hourly-attribution?start_hr=2022-01-03T00%3A51%3A20.232Z&usage_type=infra_host_usage
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-03T00:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"total_usage_sum":17,"updated_at":"2022-01-03T15","usage_type":"infra_host_usage"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-03T01:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"total_usage_sum":17,"updated_at":"2022-01-03T15","usage_type":"infra_host_usage"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-03T02:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"tota[...]
