interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/cspm?start_hr=2025-05-09T11%3A35%3A35.472Z
  response:
    body: '{"usage":[{"hour":"2025-05-09T11:00:00+00:00","region":"us","host_count":null,"container_count":null,"aas_host_count":null,"aws_host_count":null,"gcp_host_count":null,"azure_host_count":null,"compliance_host_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-09T12:00:00+00:00","region":"us","host_count":null,"container_count":null,"aas_host_count":null,"aws_host_count":null,"gcp_host_count":null,"azure_host_count":null,"compliance_host_count":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-09T13:00:00+00:00","region":"us","host_count":null,"container_count":null,"aas_host_count":null,"aws_host_count":null,"gcp_host_count":null,"azure_host_count":null,"complia[...]
