interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/hourly-attribution?start_hr=2022-05-20T08%3A46%3A26.291Z&usage_type=infra_host_usage
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-05-20T08:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"total_usage_sum":18,"updated_at":"2022-05-21T00","usage_type":"infra_host_usage"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-05-20T09:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"total_usage_sum":18,"updated_at":"2022-05-21T00","usage_type":"infra_host_usage"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-05-20T10:00:00+00:00","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"tota[...]
