interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/cspm?start_hr=2022-01-18T12%3A03%3A20.978Z
  response:
    body: '{"usage":[{"host_count":null,"org_name":"DD Integration Tests (321813)","container_count":null,"aas_host_count":null,"hour":"2022-01-18T12:00:00+00:00","compliance_host_count":null,"azure_host_count":null,"public_id":"fasjyydbcgwwc2uc"},{"host_count":null,"org_name":"DD
      Integration Tests (321813)","container_count":null,"aas_host_count":null,"hour":"2022-01-18T13:00:00+00:00","compliance_host_count":null,"azure_host_count":null,"public_id":"fasjyydbcgwwc2uc"},{"host_count":null,"org_name":"DD
      Integration Tests (321813)","container_count":null,"aas_host_count":null,"hour":"2022-01-18T14:00:00+00:00","compliance_host_count":null,"azure_host_count":null,"public_id":"fasjyydbcgwwc2uc"},{"host_count":[...]
