interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/rum_sessions?start_hr=2025-05-07T14%3A02%3A23.417Z&end_hr=2025-05-09T14%3A02%3A23.417Z&type=mobile
  response:
    body: '{"usage":[{"hour":"2025-05-07T14:00:00+00:00","region":"us","session_count":null,"session_count_ios":null,"session_count_android":null,"session_count_reactnative":null,"session_count_flutter":null,"session_count_roku":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T15:00:00+00:00","region":"us","session_count":null,"session_count_ios":null,"session_count_android":null,"session_count_reactnative":null,"session_count_flutter":null,"session_count_roku":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2025-05-07T16:00:00+00:00","region":"us","session_count":null,"session_count_ios":null,"session_count_android":null,"session_count_reactnative":null,"session_count_flutter":null[...]
