interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/rum?start_hr=2022-03-27T00%3A41%3A27.572Z&end_hr=2022-03-29T00%3A41%3A27.572Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T00:00:00+00:00","rum_units":0,"mobile_rum_units":null,"public_id":"fasjyydbcgwwc2uc"},{"org_name":"DD
      Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T01:00:00+00:00","rum_units":0,"mobile_rum_units":null,"public_id":"fasjyydbcgwwc2uc"},{"org_name":"DD
      Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T02:00:00+00:00","rum_units":0,"mobile_rum_units":null,"public_id":"fasjyydbcgwwc2uc"},{"org_name":"DD
      Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T03:00:00+00:00","rum_units[...]
