interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/monthly_custom_reports
  response:
    body: '{"meta":{"page":{"total_count":13}},"data":[{"type":"reports","id":"2022-02-01","attributes":{"tags":["project"],"start_date":"2022-02-01","end_date":"2022-03-01","size":20340,"computed_on":"2022-03-08T20:44:56+00:00"}},{"type":"reports","id":"2022-01-01","attributes":{"tags":["project"],"start_date":"2022-01-01","end_date":"2022-02-01","size":22697,"computed_on":"2022-02-01T16:50:14+00:00"}},{"type":"reports","id":"2021-12-01","attributes":{"tags":["project"],"start_date":"2021-12-01","end_date":"2022-01-01","size":29169,"computed_on":"2022-01-01T15:54:13+00:00"}},{"type":"reports","id":"2021-11-01","attributes":{"tags":["project"],"start_date":"2021-11-01","end_date":"2021-12-01"[...]
