interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/ci-app?start_hr=2023-09-20T18%3A27%3A41.222Z&end_hr=2023-09-22T18%3A27%3A41.222Z
  response:
    body: '{"usage":[{"hour":"2023-09-20T18:00:00+00:00","region":"us","ci_visibility_itr_committers":null,"ci_visibility_pipeline_committers":0,"ci_visibility_test_committers":0,"ci_pipeline_indexed_spans":2,"ci_test_indexed_spans":0,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2023-09-20T19:00:00+00:00","region":"us","ci_visibility_itr_committers":null,"ci_visibility_pipeline_committers":0,"ci_visibility_test_committers":0,"ci_pipeline_indexed_spans":null,"ci_test_indexed_spans":null,"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc"},{"hour":"2023-09-20T20:00:00+00:00","region":"us","ci_visibility_itr_committers":null,"ci_visibility_pipeline_committers":0,"ci_visibility_test_committers":0,"ci_pipeline_indexed_[...]
