interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/logs_by_index?start_hr=2022-03-27T15%3A43%3A39.457Z&end_hr=2022-03-29T15%3A43%3A39.457Z
  response:
    body: '{"usage":[{"rehydrated_indexed":0,"hour":"2022-03-27T15:00:00+00:00","event_count":11232,"org_id":321813,"live_index_indexed":11232,"index_name":"main","rate_limited":false,"filtered":false,"index_id":"33715","retention":15},{"rehydrated_indexed":0,"hour":"2022-03-27T16:00:00+00:00","event_count":11314,"org_id":321813,"live_index_indexed":11314,"index_name":"main","rate_limited":false,"filtered":false,"index_id":"33715","retention":15},{"rehydrated_indexed":0,"hour":"2022-03-27T17:00:00+00:00","event_count":11113,"org_id":321813,"live_index_indexed":11113,"index_name":"main","rate_limited":false,"filtered":false,"index_id":"33715","retention":15},{"rehydrated_indexed":0,"hour":"2022-03-27T18:00:00+00:00","event_[...]
