interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?day=2025-05-09T11%3A35%3A28.784Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","avg_metric_hour":2,"max_metric_hour":5,"metric_category":"custom","metric_name":"Test_Create_a_log_based_metric_returns_OK_response_1618491718"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","avg_metric_hour":1,"max_metric_hour":1,"metric_category":"custom","metric_name":"Test_Typescript_Create_a_log_based_metric_returns_OK_response_1632842468"},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","region":"us","avg_metric_hour":1,"max_metric_hour":1,"metric_category":"custom","metric_name":"Test_T[...]
