interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/monthly-attribution?start_month=2022-03-26T15%3A05%3A25.629Z&fields=infra_host_usage
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","tag_config_source":"DD
      Integration Tests (321813):::project","tags":null,"updated_at":"2022-03-28T23:02:55Z","month":"2022-03-01T00:00:00+00:00","values":{"infra_host_usage":15}}],"metadata":{"pagination":{"next_record_id":null},"aggregates":[{"field":"infra_host_usage","value":15.0,"agg_type":"sum"}]}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/monthly-attribution?next_record_id=null&start_month=2022-03-26T15%3A05%3A25.629Z&fields=infra_host_usage
  response:
    body: '{"usage":[],"metadata":{"pagination":{"next_record_id":null},"aggregates":[{"field":"infra_host_usage","value":15.0,"agg_type":"sum"}]}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
