interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/timeseries?start_hr=2022-03-27T00%3A41%3A29.168Z&end_hr=2022-03-29T00%3A41%3A29.168Z
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","num_standard_output_timeseries":93,"public_id":"fasjyydbcgwwc2uc","num_custom_input_timeseries":1,"hour":"2022-03-27T00:00:00+00:00","num_standard_timeseries":36425,"num_custom_output_timeseries":83,"num_custom_timeseries":96,"num_standard_input_timeseries":0},{"org_name":"DD
      Integration Tests (321813)","num_standard_output_timeseries":93,"public_id":"fasjyydbcgwwc2uc","num_custom_input_timeseries":0,"hour":"2022-03-27T01:00:00+00:00","num_standard_timeseries":36424,"num_custom_output_timeseries":82,"num_custom_timeseries":93,"num_standard_input_timeseries":0},{"org_name":"DD
      Integration Tests (321813)","num_standard_output_timeseries":93,"public_id":"fasjyydbcgwwc2uc","num_custom_input_timeseries":0,"hour":"2022-03-27T02:00:00+00:00","[...]
