interactions:
- request:
    body: |
      {"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[{"events":[],"name":"gridCell0","properties":{"children":[{"events":[],"name":"calloutValue0","properties":{"isDisabled":false,"isLoading":false,"isVisible":true,"label":"CPU Usage","size":"sm","style":"vivid_yellow","unit":"kB","value":"42"},"type":"calloutValue"}],"isVisible":"true","layout":{"default":{"height":8,"width":2,"x":0,"y":0}}},"type":"gridCell"}]},"type":"grid"}],"description":"This is a simple example app","embeddedQueries":[],"name":"Example App","rootInstanceName":"grid0"},"type":"appDefinitions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body: '{"data":{"id":"4f4a549d-3a5d-4696-ac3c-48e0807469b8","type":"appDefinitions"}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/app-builder/apps/4f4a549d-3a5d-4696-ac3c-48e0807469b8/deployment
  response:
    body: '{"data":{"id":"2bdb1332-a047-4d8d-a484-b8ad5f89554d","type":"deployment","attributes":{"app_version_id":"2097b9c6-6340-439d-b9f0-a69d52e37cfd"},"meta":{"created_at":"2024-12-05T06:25:18.155702Z","user_id":15479137,"user_uuid":"b3f98453-b289-11ef-a4e9-d6d283f92d91","user_name":"oliver.li@datadoghq.com"}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/app-builder/apps/4f4a549d-3a5d-4696-ac3c-48e0807469b8
  response:
    body: '{"data":{"id":"4f4a549d-3a5d-4696-ac3c-48e0807469b8","type":"appDefinitions"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
