---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593513640"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"246a965c-babe-11ea-9c85-1fe16cc540c4","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593513640","created_at":"2020-06-30T10:40:40.573718+00:00","modified_at":"2020-06-30T10:40:40.573718+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - dPTJBBDv5jeY1gnH1FisDpda5Hi0boOGbsHxIOi4qkMt+QLOH7F7P7MeSr40vXZ0
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593513640@datadoghq.com","name":"go-testscenarios-feature_roles-scenario_get_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"248d5624-babe-11ea-9c85-4f37443da4fe","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593513640@datadoghq.com","created_at":"2020-06-30T10:40:40.800155+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593513640@datadoghq.com","icon":"https://secure.gravatar.com/avatar/25b670f4ed4b5f8b2cece68bfd3c29f3?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nL/U8Nu7782wU68M7elx8MY/T+2opB0U5/flvjGsH/qXfYEORYWxwdDpQFq78Mxt
      X-Dd-Version:
      - "35.2682096"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"id":"248d5624-babe-11ea-9c85-4f37443da4fe","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    url: https://api.datadoghq.com/api/v2/roles/246a965c-babe-11ea-9c85-1fe16cc540c4/users
    method: POST
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"248d5624-babe-11ea-9c85-4f37443da4fe","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593513640@datadoghq.com","created_at":"2020-06-30T10:40:40.800155+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593513640@datadoghq.com","icon":"https://secure.gravatar.com/avatar/25b670f4ed4b5f8b2cece68bfd3c29f3?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"246a965c-babe-11ea-9c85-1fe16cc540c4"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wi4QF3nhe5s0sRyfZvyTHLc/3mQu/jJVn8BZnev44SXt+VBNA1+haKi5VcNZFpaP
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoleUsers
    url: https://api.datadoghq.com/api/v2/roles/246a965c-babe-11ea-9c85-1fe16cc540c4/users
    method: GET
  response:
    body: '{"included":[{"type":"roles","id":"246a965c-babe-11ea-9c85-1fe16cc540c4","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_all_users_of_a_role_leading_to_OK-Given_there_is_a_valid_role_in_the_system-local-1593513640","created_at":"2020-06-30T10:40:40.573718+00:00","modified_at":"2020-06-30T10:40:40.573718+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"248d5624-babe-11ea-9c85-4f37443da4fe","attributes":{"name":"go-testscenarios-feature_roles-scenario_get_","handle":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593513640@datadoghq.com","created_at":"2020-06-30T10:40:40.800155+00:00","email":"go-testscenarios-feature_roles-scenario_get_all_users_of_a_role_leading_to_ok-and_there_is_a_valid_user_in_the_system-local-1593513640@datadoghq.com","icon":"https://secure.gravatar.com/avatar/25b670f4ed4b5f8b2cece68bfd3c29f3?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"246a965c-babe-11ea-9c85-1fe16cc540c4"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GAK1J4mJd/EBZfEK4rqUw9OeB9GOeKgSyrXGtzNUi5zrv5sHYU56xJgA4bcbtgUA
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/248d5624-babe-11ea-9c85-4f37443da4fe
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IYH6Ubmq2MBSPq8ODr3BCv3hq6/qfjckWAQPmybeluQn4umf0be4fk6ceyy1pnBw
      X-Dd-Version:
      - "35.2682096"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteRole
    url: https://api.datadoghq.com/api/v2/roles/246a965c-babe-11ea-9c85-1fe16cc540c4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - YCJuwY9AAFMveejFq3DmCuXNgWrXpDBQxqXi3LxQxaHO16MK3yMSWa14TOuRlDjy
      X-Dd-Version:
      - "35.2682096"
    status: 204 No Content
    code: 204
    duration: ""
