interactions:
- id: 0
  request:
    body: |
      {"account_id":"123456789012","account_specific_namespace_rules":{"auto_scaling":false},"cspm_resource_collection_enabled":true,"excluded_regions":["us-east-1","us-west-2"],"filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"metrics_collection_enabled":false,"resource_collection_enabled":true,"role_name":"datadog-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/integration/aws?account_id=123456789012&role_name=datadog-role
  response:
    body: '{}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
version: 2
