---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"go-TestScenarios-Feature_Incidents-Scenario_Delete_an_existing_incident_returns__OK__response-And_there_is_a_valid__incident__in_the_system-local-1605304849"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"179e4231-5c72-58a8-a15b-0384e803cba4","attributes":{"public_id":234,"postmortem_id":null,"title":"go-TestScenarios-Feature_Incidents-Scenario_Delete_an_existing_incident_returns__OK__response-And_there_is_a_valid__incident__in_the_system-local-1605304849","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-11-13T22:00:49.635370+00:00","modified":"2020-11-13T22:00:49.635370+00:00","commander":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"detected":"2020-11-13T22:00:49.633147+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"active"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"active","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"2bb9f100-785f-53de-89ef-30a5b9e1859b"},{"type":"user_defined_selection","id":"ce875ca6-0c9e-515a-8d62-ddbbcd929fe0"},{"type":"user_defined_selection","id":"6bd362aa-7cbb-52ed-a440-06b10e0d4840"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bCBSaf0t3cWhIJuGOGz9PtbBY7MrMPu1HpZVAposegdxNlFMe/qHi/UbtNAIVmzS
      X-Dd-Version:
      - "35.3365914"
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "17"
      X-Ratelimit-Reset:
      - "3551"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncident
    url: https://api.datadoghq.com/api/v2/incidents/179e4231-5c72-58a8-a15b-0384e803cba4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 91aMs4Xd/NaPhGMoIvSvdd0mjw6sy0ZqzVUdTt9hqt35qwhu0snxCQESFXt90Pzi
      X-Dd-Version:
      - "35.3365914"
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "19"
      X-Ratelimit-Reset:
      - "9"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncident
    url: https://api.datadoghq.com/api/v2/incidents/179e4231-5c72-58a8-a15b-0384e803cba4
    method: DELETE
  response:
    body: '{"errors": ["incident 179e4231-5c72-58a8-a15b-0384e803cba4 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3365914"
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "18"
      X-Ratelimit-Reset:
      - "9"
    status: 404 Not Found
    code: 404
    duration: ""
