---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601046799@datadoghq.com","name":"go-testscenarios-feature_incidents-scenario_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"a4e145a2-ff41-11ea-b329-53e84148c5f0","attributes":{"name":"go-testscenarios-feature_incidents-scenario_","handle":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601046799@datadoghq.com","created_at":"2020-09-25T15:13:19.239029+00:00","email":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601046799@datadoghq.com","icon":"https://secure.gravatar.com/avatar/15c1a4a6806150b9632b8798a97b872b?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RNjkldB/U7jBomuDwniiFl3adRN7VFY0k6iblOqPBlb/lnmtli0Xp6qAxW+GhOfn
      X-Dd-Version:
      - "35.3093372"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"go-Feature_Incidents-Scenario_Create_a_new_incident_returns__CREATED__response-local-1601046799"},"relationships":{"commander":{"data":{"id":"a4e145a2-ff41-11ea-b329-53e84148c5f0","type":"users"}}},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"51faddf3-f41d-5857-9347-6babb8892c81","attributes":{"public_id":103,"postmortem_id":null,"title":"go-Feature_Incidents-Scenario_Create_a_new_incident_returns__CREATED__response-local-1601046799","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-09-25T15:13:37.464902+00:00","modified":"2020-09-25T15:13:37.464902+00:00","commander":{"data":{"type":"users","id":"a4e145a2-ff41-11ea-b329-53e84148c5f0","attributes":{"uuid":"a4e145a2-ff41-11ea-b329-53e84148c5f0","handle":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601046799@datadoghq.com","email":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601046799@datadoghq.com","name":"go-testscenarios-feature_incidents-scenario_","icon":"https://secure.gravatar.com/avatar/15c1a4a6806150b9632b8798a97b872b?s=48&d=retro"}}},"state":"active","detected":"2020-09-25T15:13:37.463187+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"severity":"UNKNOWN","udf_values":null,"additional_notifications":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":null},"teams":{"data":[]},"services":{"data":[]},"user_defined_field_selections":{"data":[]},"user_defined_fields":{"data":[]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 8fXgGAAoNDkfuneKCnTnqB8DKjHLTs+9UWiAzHHQVcEGbAPX4uItc5+97fNEvGUG
      X-Dd-Version:
      - "35.3093372"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/a4e145a2-ff41-11ea-b329-53e84148c5f0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xRBFY2Rp8NHDG9Rp4RaGjcqlKnbzhHpETMjn37ZNtmzdKqGU6DeuhyyL4o7jfpVZ
      X-Dd-Version:
      - "35.3093372"
    status: 204 No Content
    code: 204
    duration: ""
