---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601047727@datadoghq.com","name":"go-testscenarios-feature_incidents-scenario_","title":"Big boss"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"ce1444b8-ff43-11ea-b32b-8b86ac156706","attributes":{"name":"go-testscenarios-feature_incidents-scenario_","handle":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601047727@datadoghq.com","created_at":"2020-09-25T15:28:47.353195+00:00","email":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601047727@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b5b7386980d2231fb2b6a8835ccaeb16?s=48&d=retro","title":"Big
      boss","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Q8knEw82SgGErSuAaD0RuA7obbJQJNFXaFmNNzPtQBtywdtSi82Z9gGaD787DJ0K
      X-Dd-Version:
      - "35.3093372"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"go-Feature_Incidents-Scenario_Create_a_new_incident_returns__CREATED__response-local-1601047727"},"relationships":{"commander":{"data":{"id":"ce1444b8-ff43-11ea-b32b-8b86ac156706","type":"users"}}},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"b58edff6-f856-5bb5-aa86-fc78bd0f027d","attributes":{"public_id":160,"postmortem_id":null,"title":"go-Feature_Incidents-Scenario_Create_a_new_incident_returns__CREATED__response-local-1601047727","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-09-25T15:28:47.534468+00:00","modified":"2020-09-25T15:28:47.534468+00:00","commander":{"data":{"type":"users","id":"ce1444b8-ff43-11ea-b32b-8b86ac156706","attributes":{"uuid":"ce1444b8-ff43-11ea-b32b-8b86ac156706","handle":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601047727@datadoghq.com","email":"go-testscenarios-feature_incidents-scenario_create_a_new_incident_returns__created__response-given_there_is_a_valid__user__in_the_system-local-1601047727@datadoghq.com","name":"go-testscenarios-feature_incidents-scenario_","icon":"https://secure.gravatar.com/avatar/b5b7386980d2231fb2b6a8835ccaeb16?s=48&d=retro"}}},"state":"active","detected":"2020-09-25T15:28:47.532615+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"severity":"UNKNOWN","udf_values":null,"additional_notifications":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":null},"teams":{"data":[]},"services":{"data":[]},"user_defined_field_selections":{"data":[]},"user_defined_fields":{"data":[]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - XH13bHMKtoQVJueISAFCWP0HSHfKJRB7S49EcUHZy7wuPUHvZ/XfTy/P1yRgU1Db
      X-Dd-Version:
      - "35.3093372"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncident
    url: https://api.datadoghq.com/api/v2/incidents/b58edff6-f856-5bb5-aa86-fc78bd0f027d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - JGlWx87vjxzcVRF7plc107v2ByhH6ulQ34FTks4+z+qF42As7SYEoQXA/cO3iKfw
      X-Dd-Version:
      - "35.3093372"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/ce1444b8-ff43-11ea-b32b-8b86ac156706
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - jrdNt2QvGarP6yOsylH3GAxdMWXM4CYDKNbO7i0omswFkFozD11pdA/9Rp2czovd
      X-Dd-Version:
      - "35.3093372"
    status: 204 No Content
    code: 204
    duration: ""
