---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Incidents-Scenario_Create_an_incident_returns__CREATED__response-local-1617185895@datadoghq.com","title":"user title"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"67e9947c-920a-11eb-9bd0-da7ad0900002","attributes":{"name":null,"handle":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1617185895@datadoghq.com","created_at":"2021-03-31T10:18:15.560377+00:00","modified_at":"2021-03-31T10:18:15.594498+00:00","email":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1617185895@datadoghq.com","icon":"https://secure.gravatar.com/avatar/36002496848b1de63b9913f083b644ba?s=48&d=retro","title":"user
      title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4207503"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"fields":{"state":{"type":"dropdown","value":"resolved"}},"title":"go-Feature_Incidents-Scenario_Create_an_incident_returns__CREATED__response-local-1617185895"},"relationships":{"commander":{"data":{"id":"67e9947c-920a-11eb-9bd0-da7ad0900002","type":"users"}}},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"d28013d4-eabb-5b99-aed1-ce03c4579ac6","attributes":{"public_id":31660,"title":"go-Feature_Incidents-Scenario_Create_an_incident_returns__CREATED__response-local-1617185895","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2021-03-31T10:18:15.812681+00:00","modified":"2021-03-31T10:18:15.812681+00:00","commander":{"data":{"type":"users","id":"67e9947c-920a-11eb-9bd0-da7ad0900002","attributes":{"uuid":"67e9947c-920a-11eb-9bd0-da7ad0900002","handle":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1617185895@datadoghq.com","email":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1617185895@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/36002496848b1de63b9913f083b644ba?s=48&d=retro"}}},"detected":"2021-03-31T10:18:15.811024+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"resolved","non_datadog_creator":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"67e9947c-920a-11eb-9bd0-da7ad0900002"}},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4207503"
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "2505"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/67e9947c-920a-11eb-9bd0-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4207503"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncident
    url: https://api.datadoghq.com/api/v2/incidents/d28013d4-eabb-5b99-aed1-ce03c4579ac6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4207503"
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "44"
    status: 204 No Content
    code: 204
    duration: ""
