---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"go-Feature_Incidents-Scenario_Create_an_incident_returns__CREATED__response-local-1607022739@datadoghq.com"},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"772d404e-359b-11eb-87c2-63f6ba2067a1","attributes":{"name":null,"handle":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1607022739@datadoghq.com","created_at":"2020-12-03T19:12:20.056841+00:00","email":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1607022739@datadoghq.com","icon":"https://secure.gravatar.com/avatar/01c4ef6d4423a4618f8f951622d30b73?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ylBElmyGwKGD9U7vyDU/qHCi6QpDzALB8kY9TyVsQmpRCm4VjPYEdilo336ix6wj
      X-Dd-Version:
      - "35.3472485"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"fields":{"state":{"type":"dropdown","value":"resolved"}},"title":"go-Feature_Incidents-Scenario_Create_an_incident_returns__CREATED__response-local-1607022739"},"relationships":{"commander":{"data":{"id":"772d404e-359b-11eb-87c2-63f6ba2067a1","type":"users"}}},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"c8102cd2-e48e-5829-8ad9-3e3720ab598f","attributes":{"public_id":3436,"postmortem_id":null,"title":"go-Feature_Incidents-Scenario_Create_an_incident_returns__CREATED__response-local-1607022739","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-12-03T19:12:20.299139+00:00","modified":"2020-12-03T19:12:20.299139+00:00","commander":{"data":{"type":"users","id":"772d404e-359b-11eb-87c2-63f6ba2067a1","attributes":{"uuid":"772d404e-359b-11eb-87c2-63f6ba2067a1","handle":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1607022739@datadoghq.com","email":"go-feature_incidents-scenario_create_an_incident_returns__created__response-local-1607022739@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/01c4ef6d4423a4618f8f951622d30b73?s=48&d=retro"}}},"detected":"2020-12-03T19:12:20.297282+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"resolved","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"772d404e-359b-11eb-87c2-63f6ba2067a1"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"5bbdd6a8-3284-5709-8f80-f7d873e064d7"},{"type":"user_defined_selection","id":"82494c8e-3752-5044-8907-4e196063dae8"},{"type":"user_defined_selection","id":"500c9c60-b734-52e3-b8dc-4c88736e8b7a"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sbJ6i3VupQQcT7EDgPAdOxGmcKsvZJqf4l3SlQaWZNaaFfahh7BdNF3x5CttmH4Q
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "18"
      X-Ratelimit-Reset:
      - "2860"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/772d404e-359b-11eb-87c2-63f6ba2067a1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 84uqub9zpmlgg8irRO/sOXYuWjXevKJ3PeFDkydS20gUrNiRDeiB84n5Q67dF4oL
      X-Dd-Version:
      - "35.3472485"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteIncident
    url: https://api.datadoghq.com/api/v2/incidents/c8102cd2-e48e-5829-8ad9-3e3720ab598f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - D6xOASGs+SeSoSr1onTNqEyFDtjQwnjR937DW7eQT5G8CxiOSfzMZ/Hv6SqRh+8b
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "18"
      X-Ratelimit-Reset:
      - "39"
    status: 204 No Content
    code: 204
    duration: ""
