---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impacted":false,"title":"go-Feature_Incidents-Scenario_Get_the_details_of_an_incident_returns__OK__response-local-1607022743"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    url: https://api.datadoghq.com/api/v2/incidents
    method: POST
  response:
    body: '{"data":{"type":"incidents","id":"e5d778e1-4de9-53cf-ab82-ecac897e2053","attributes":{"public_id":3438,"postmortem_id":null,"title":"go-Feature_Incidents-Scenario_Get_the_details_of_an_incident_returns__OK__response-local-1607022743","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-12-03T19:12:23.473536+00:00","modified":"2020-12-03T19:12:23.473536+00:00","commander":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"detected":"2020-12-03T19:12:23.471815+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"active"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"active","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"c61dc9f7-ed2b-5026-b7fb-d4d88a1ffa9c"},{"type":"user_defined_selection","id":"af52cce3-9042-5df3-be14-5ce75ed05db1"},{"type":"user_defined_selection","id":"542e6dc0-ce34-5809-b5c6-931b0cdcf18d"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - lqMB0JFM99VhRtxXIpWUr9JgjDFKxnlkUv1nxFsIcQfFO0NMuI7D2Hh8tiSgYzCo
      X-Dd-Version:
      - "35.3472485"
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "16"
      X-Ratelimit-Reset:
      - "2857"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIncident
    url: https://api.datadoghq.com/api/v2/incidents/e5d778e1-4de9-53cf-ab82-ecac897e2053
    method: GET
  response:
    body: '{"data":{"type":"incidents","id":"e5d778e1-4de9-53cf-ab82-ecac897e2053","attributes":{"public_id":3438,"postmortem_id":null,"title":"go-Feature_Incidents-Scenario_Get_the_details_of_an_incident_returns__OK__response-local-1607022743","resolved":null,"customer_impact_scope":null,[...]
[...]
