interactions:
- request:
    body: |
      {"data":{"attributes":{"prompt_id":"Test-Create_a_new_LLM_Observability_prompt_version_returns_Bad_Request_response-1784543283","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body: '{"data":{"id":"9c67c0e2-0806-589b-8e8c-83ab2e6f76e3","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T10:28:04.139526235Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T10:28:04.139526235Z","num_versions":1,"prompt_id":"Test-Create_a_new_LLM_Observability_prompt_version_returns_Bad_Request_response-1784543283","source":"registry"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"template":" "},"type":"prompt-template-versions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Create_a_new_LLM_Observability_prompt_version_returns_Bad_Request_response-1784543283/versions
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"invalid prompt template"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Create_a_new_LLM_Observability_prompt_version_returns_Bad_Request_response-1784543283
  response:
    body: '{"data":{"id":"9c67c0e2-0806-589b-8e8c-83ab2e6f76e3","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T10:28:05.328346Z","prompt_id":"Test-Create_a_new_LLM_Observability_prompt_version_returns_Bad_Request_response-1784543283"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
