interactions:
- request:
    body: |
      {"data":{"attributes":{"prompt_id":"Test-Update_an_LLM_Observability_prompt_returns_Bad_Request_response-1784539218","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body: '{"data":{"id":"b28f22d5-eec8-57f0-be7f-5042b6bb4ae1","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T09:20:19.301545921Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T09:20:19.301545921Z","num_versions":1,"prompt_id":"Test-Update_an_LLM_Observability_prompt_returns_Bad_Request_response-1784539218","source":"registry"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Update_an_LLM_Observability_prompt_returns_Bad_Request_response-1784539218
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"at least one of title or
      description must be provided"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Update_an_LLM_Observability_prompt_returns_Bad_Request_response-1784539218
  response:
    body: '{"data":{"id":"b28f22d5-eec8-57f0-be7f-5042b6bb4ae1","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:20:20.235152Z","prompt_id":"Test-Update_an_LLM_Observability_prompt_returns_Bad_Request_response-1784539218"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
