interactions:
- request:
    body: |
      {"data":{"attributes":{"prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body: '{"data":{"id":"95e93a91-1020-5a23-9cb7-c8ca6e3b1785","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T09:20:09.112910708Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T09:20:09.112910708Z","num_versions":1,"prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208","source":"registry"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208
  response:
    body: '{"data":{"id":"95e93a91-1020-5a23-9cb7-c8ca6e3b1785","type":"prompt-templates","attributes":{"chat_template":[{"role":"user","content":"Hello"}],"prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208","prompt_version_uuid":"9cd92cc7-2f51-5867-8148-eaf41efee79d","version":"1"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208
  response:
    body: '{"data":{"id":"95e93a91-1020-5a23-9cb7-c8ca6e3b1785","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:20:10.172623Z","prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
