interactions:
- request:
    body: |
      {"data":{"attributes":{"prompt_id":"Test-Update_an_LLM_Observability_prompt_returns_OK_response-1784562194","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body: '{"data":{"id":"a36505e7-3c2f-5482-b8ac-ac51250a0116","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T15:43:14.698626703Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T15:43:14.698626703Z","num_versions":1,"prompt_id":"Test-Update_an_LLM_Observability_prompt_returns_OK_response-1784562194","source":"registry"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"title":"Customer Support Assistant"},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: PATCH
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Update_an_LLM_Observability_prompt_returns_OK_response-1784562194
  response:
    body: '{"data":{"id":"a36505e7-3c2f-5482-b8ac-ac51250a0116","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T15:43:14.698626Z","created_from":"sdk-registry","in_registry":true,"num_versions":0,"prompt_id":"Test-Update_an_LLM_Observability_prompt_returns_OK_response-1784562194","source":"registry","title":"Customer
      Support Assistant"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Update_an_LLM_Observability_prompt_returns_OK_response-1784562194
  response:
    body: '{"data":{"id":"a36505e7-3c2f-5482-b8ac-ac51250a0116","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T15:43:16.39072Z","prompt_id":"Test-Update_an_LLM_Observability_prompt_returns_OK_response-1784562194"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
