interactions:
- request:
    body: |
      {"data":{"attributes":{"prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113","template":[{"content":"You are a helpful customer support assistant for {{company_name}}.","role":"system"},{"content":"Help {{customer_name}} with this question: {{question}}","role":"user"}],"title":"Customer Support Assistant"},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body: '{"data":{"id":"7d3137ab-7d6a-5358-b791-26ead4540e09","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-21T12:31:53.812929348Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-21T12:31:53.812929348Z","num_versions":1,"prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113","source":"registry","title":"Customer
      Support Assistant"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113
  response:
    body: '{"data":{"id":"7d3137ab-7d6a-5358-b791-26ead4540e09","type":"prompt-templates","attributes":{"deleted_at":"2026-07-21T12:31:55.799078Z","prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
