interactions:
- request:
    body: |
      {"data":{"attributes":{"prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body: '{"data":{"id":"d5df9e4e-acd0-5d9f-b0d5-c09a643c33e2","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T09:20:02.660067768Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T09:20:02.660067768Z","num_versions":1,"prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202","source":"registry"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202
  response:
    body: '{"data":{"id":"d5df9e4e-acd0-5d9f-b0d5-c09a643c33e2","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:20:03.299559Z","prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202
  response:
    body: '{"data":{"id":"d5df9e4e-acd0-5d9f-b0d5-c09a643c33e2","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:20:03.637257Z","prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202"}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
