interactions:
- request:
    body: |
      {"data":{"attributes":{"env_ids":[],"labels":[],"template":[{"content":"Hello v2","role":"user"}]},"type":"prompt-template-versions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/nonexistent-prompt/versions
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"prompt template not found"}]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
version: 2
