interactions:
- request:
    body: |
      {"data":{"attributes":{"prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_Bad_Request_response-1784543299","template":" "},"type":"prompt-templates"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body: '{"errors":[{"title":"Generic Error","detail":"invalid prompt template"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
version: 2
