---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - multipart/form-data
      Dd-Operation-Id:
      - UploadIdPForOrg
    url: https://api.datadoghq.com/api/v1/org/go-TestOrgsUploadIdpErrors-403_Forbidden-local-1599043289/idp_metadata
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
