interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"name":"Test-Create_outcomes_batch_returns_Bad_Request_response-1698959951","owner":"Datadog","scorecard_name":"OpenAPI Spec Test Best Practices"},"type":"rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/scorecard/rules
  response:
    body: '{"data":{"id":"0451feb1-fb1b-463f-ba02-4568feb2795b","type":"rule","attributes":{"category":"OpenAPI
      Spec Test Best Practices","created_at":"2023-11-02T21:19:11.70524Z","custom":true,"enabled":true,"modified_at":"2023-11-02T21:19:11.70524Z","name":"Test-Create_outcomes_batch_returns_Bad_Request_response-1698959951","owner":"Datadog","scorecard_name":"OpenAPI
      Spec Test Best Practices"},"relationships":{"scorecard":{"data":{"id":"qsxpoYRhU_yz","type":"scorecard"}}}}}'
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
- request:
    body: |
      {"data":{"attributes":{"results":[{"remarks":"See: \u003ca href=\"https://app.datadoghq.com/services\"\u003eServices\u003c/a\u003e","rule_id":"0451feb1-fb1b-463f-ba02-4568feb2795b","service_name":"","state":"pass"}]},"type":"batched-outcome"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: POST
    url: https://api.datadoghq.com/api/v2/scorecard/outcomes/batch
  response:
    body: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute \"service_name\"
      is required"}]}'
    code: 400
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 400 Bad Request
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/scorecard/rules/0451feb1-fb1b-463f-ba02-4568feb2795b
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 204 No Content
version: 2
