---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-client-test-host-1585657841", "metric": "go.client.test.metric",
      "points": [[1585657841.000000, 0]]}]}'
    form: {}
    headers: {}
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-client-test-host-1585657841
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2338533"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-client-test-host-1585657841
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2qCkWfddHrPF9jSCADI+4oMJC7ye/JJPxREHTFHEFILURsabvi1w9B+PDmBrh/Xk
      X-Dd-Version:
      - "35.2338533"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"end":1585657901,"message":"muting for test"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/host/go-client-test-host-1585657841/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":783000041,"hostname":"go-client-test-host-1585657841","end":1585657901,"message":"muting
      for test"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - TAg/qKywM5rz/AUGkmt8+wB4wzGMJfSiHOrBzxBctPLsV/erSD5TChi/uo5ZlVXK
      X-Dd-Version:
      - "35.2338533"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"end":1585657961,"message":"muting for test override","override":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/host/go-client-test-host-1585657841/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":783000073,"hostname":"go-client-test-host-1585657841","end":1585657961,"message":"muting
      for test override"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Xj/PwLDKe3Ll1QwGP2SdQuyUcOtG0YD60hQDJ9tPEhK9OEMHkSCPXdZRvPX0YYGO
      X-Dd-Version:
      - "35.2338533"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/host/go-client-test-host-1585657841/unmute
    method: POST
  response:
    body: '{"action":"Unmuted","downtime_id":783000073,"hostname":"go-client-test-host-1585657841"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - JbIYRXbRMsAVaKGy+d2H1ud8Z295ghodOPi6eELPzhmBKrZI3+dlseyrUY1cqOAd
      X-Dd-Version:
      - "35.2338533"
    status: 200 OK
    code: 200
    duration: ""
