---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"datadog-api-client-go: TestMonitorLifecycle 1587572281593054000","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated","evaluation_delay":700,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":60},"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").last(\"5m\") \u003e 2","tags":["test","client:go"],"type":"log alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["test","client:go"],"deleted":null,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").last(\"5m\") > 2","message":"some
      message Notify: @hipchat-channel","id":17879594,"multi":false,"name":"datadog-api-client-go:
      TestMonitorLifecycle 1587572281593054000","created":"2020-04-22T16:18:01.695668+00:00","created_at":1587572281000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-04-22T16:18:01.695668+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"log alert","options":{"include_tags":true,"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"enable_logs_sample":true,"no_data_timeframe":null,"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"renotify_interval":60,"evaluation_delay":700,"escalation_message":"the
      situation has escalated","thresholds":{"critical":2.0,"warning":1.0}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GG9N5JNk6zUo5YQ1gmfpF0kYcSj/kjDOsFItaODUS7qQCwsMrhI3QWJVQns7uvtI
      X-Dd-Version:
      - "35.2420861"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"updated name","options":{"evaluation_delay":null,"new_host_delay":null,"renotify_interval":null,"thresholds":{"critical":2,"warning":null},"timeout_h":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateMonitor
    url: https://api.datadoghq.com/api/v1/monitor/17879594
    method: PUT
  response:
    body: '{"restricted_roles":null,"tags":["test","client:go"],"deleted":null,"query":"logs(\"servic[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListMonitors
    url: https://api.datadoghq.com/api/v1/monitor
    method: GET
  response:
    body: '[{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_1h):sum:system.net.bytes_rcvd{*}
      by {host} > 100","message":"monitor updated","matching_downtimes":[{"end":null,"monitor_id":null,"start":1585929722,"groups":[],"active":true,"scope":["*"],"id":786779334},{"end":null,"monitor_id":null,"start":1585930466,"groups":[],"active":true,"scope":["*"],"id":786789452},{"end":null,"monitor_id":null,"start":1587393801,"groups":[],"active":true,"scope":["*"],"id":803909788},{"end":null,"monitor_id":null,"start":1587393793,"groups":[],"active":true,"scope":["*"],"id":803909661},{"end":null,"monitor_id":null,"start":1587393801,"groups":[],"active":true,"scope":["*"],"id":803909759},{"end":null,"monitor_id":null,"start":1587393801,"groups":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CheckCanDeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/can_delete?monitor_ids=17879594
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":[17879594]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - UH1aMdrlnlnaxy/K+HUi5QUN2T0FBtGPSUC8sLrviqCK1XXfgHsSO5DneAd5J+6F
      X-Dd-Version:
      - "35.2420861"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/17879594
    method: DELETE
  response:
    body: '{"deleted_monitor_id":17879594}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cQFL4MaIw90DmTTH7z4Gqhr8PBtz47vyzddN9k7nXjUK2yrLiBjbdIgydUT8r1ut
      X-Dd-Version:
      - "35.2420861"
    status: 200 OK
    code: 200
    duration: ""
[...]
