---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-TestTags-local-1589290419", "metric": "go.client.test.metric",
      "points": [[1589290419.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestTags-local-1589290419
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2493025"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestTags-local-1589290419
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - B/LXPck0nGNX0RSV/Gw7cnZ0oe92FUOfg1ec7WcU0kSvw/UBT+IXTFTD87Snvz2v
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tags":["test:client_go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestTags-local-1589290419?source=datadog
    method: POST
  response:
    body: '{"host":"go-TestTags-local-1589290419","tags":["test:client_go"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xuqj9hdWDkSD9EtpcqPe+eGtJAYYHPEMbUsHJUlu4ckBMffeXAIJAOyY354PYCG0
      X-Dd-Version:
      - "35.2492943"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestTags-local-1589290419?source=users
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gH++OYwf8a2QZXnzDsHHnXqPhHbI48oqNvFjE/0p0ObpMBY4290QCI5SB0tU0MAF
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts?source=datadog
    method: GET
  response:
    body: '{"tags":{"ip:10.0.4.30":["datadog-firehose-nozzle-0"],"name:datadog-firehose-nozzle/c5c5f2ef-7805-4dab-b35b-418eafe466bd":["datadog-firehose-nozzle-0"],"datadog-firehose-nozzle":["datadog-firehose-nozzle-0"],"bosh_index:0":["datadog-firehose-nozzle-0"],"datadog-nozzle-diego-datadog-firehose-nozzle":["datadog-firehose-nozzle-0"],"omg-no-ip":["datadog-firehose-nozzle-0"],"id:c5c5f2ef-7805-4dab-b35b-418eafe466bd":["datadog-firehose-nozzle-0"],"bosh_id:c5c5f2ef-7805-4dab-b35b-418eafe466bd":["datadog-firehose-nozzle-0"],"test_autorelease:system-probe.2":["datadog-firehose-nozzle-0"],"bosh_ip:10.0.4.30":["datadog-firehose-nozzle-0"],"created_at:2020-02-06t16:43:00z":["datadog-firehose-nozzle-0"],"p-bosh":["datadog-firehose-nozzle-0"],"director:p-bosh":["datadog-firehose-nozzle-0"],"bosh_job:datadog-firehose-nozzle":["datadog-firehose-nozzle-0"],"zone:europe-west1-b":["datadog-firehose-nozzle-0"],"p-bosh-datadog-nozzle-diego-datadog-firehose-nozzle":["datadog-firehose-nozzle-0"],"internal-hostname:vm-06c0e166-503d-40f4-6fc4-bb0dfe3cd229.c.datadog-integrations-lab.internal":["datadog-firehose-nozzle-0"],"bosh_name:datadog-firehose-nozzle":["datadog-firehose-nozzle-0"],"index:0":["datadog-firehose-nozzle-0"],"index:c5c5f2ef-7805-4dab-b35b-418eafe466bd":["datadog-firehose-nozzle-0"],"deployment:datadog-nozzle-diego":["datadog-firehose-nozzle-0"],"bosh_az:europe-west1-b":["datadog-firehose-nozzle-0"],"instance-type:custom-1-2048":["datadog-firehose-nozzle-0"],"bosh_address:10.0.4.30":["datadog-firehose-nozzle-0"],"bosh_deployment:datadog-nozzle-diego":["datadog-firehose-nozzle-0"],"user_data:_server_:_name_:_vm-06c0e166-503d-40f4-6fc4-bb0dfe3cd229_registry_:_endpoint_:_://:_:0_dns_:_nameserver_:_169.254.169.254":["datadog-firehose-nozzle-0"],"datadog-nozzle-diego":["datadog-firehose-nozzle-0"],"job:datadog-firehose-nozzle":["datadog-firehose-nozzle-0"],"numeric_project_id:116803814856":["datadog-firehose-nozzle-0"],"toto:tata":["java-client-test-host-1589242385"],"p-bosh-datadog-nozzle-diego":["datadog-firehose-nozzle-0"],"foo:bar":["java-client-test-host-1589242385"],"instance-id:2984159965365796075":["datadog-firehose-nozzle-0"],"cloudfoundry":["datadog-firehose-nozzle-0"],"project:datadog-integrations-lab":["datadog-firehose-nozzle-0"],"instance_group:datadog-firehose-nozzle":["datadog-firehose-nozzle-0"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - J7vOWsxZd7Grxzg2TIaQpn2nGjrOScgI4Kwzur8V2oOTYInX6xbVT4leinNkGLPk
      X-Dd-Version:
      - "35.2493033"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts?source=users
    method: GET
  response:
    body: '{"tags":{"lala:lolo":["go-client-test-host"],"environment:production":["go-client-test-host"],"role:webserver":["go-client-test-host"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - o8MFmk+4Ge4vq85ax+5C1nfQs0lbtaPPYZrpqzeG6IsYGNLGMu/G7PbJElpjPS5i
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
[...]
