---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-TestHosts-local-1589290276", "metric": "go.client.test.metric",
      "points": [[1589290276.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestHosts-local-1589290276
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2492943"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestHosts-local-1589290276
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - A5a5htKhTUF1FdBQZRUZl4RVawKwk2RUtaZz3EDBmdXc0X6i0O7TBEBWn4bIBQ01
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"end":1589290336,"message":"muting for test"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/go-TestHosts-local-1589290276/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":825973256,"hostname":"go-TestHosts-local-1589290276","end":1589290336,"message":"muting
      for test"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rxkz+JB0yzarEINDeNWQGs9dk7PLNAMnAw2wV8MNkZOhKDtz+JOpGuIyyBUaWwyF
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"end":1589290396,"message":"muting for test override","override":true}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/go-TestHosts-local-1589290276/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":825973265,"hostname":"go-TestHosts-local-1589290276","end":1589290396,"message":"muting
      for test override"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pdoE+6MDHF3ASB0y6TdRZq9HO/3uAKc0XPY7EkyNyaFqpXeeAHwz2Ce2QWIN714X
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - UnmuteHost
    url: https://api.datadoghq.com/api/v1/host/go-TestHosts-local-1589290276/unmute
    method: POST
  response:
    body: '{"action":"Unmuted","downtime_id":825973265,"hostname":"go-TestHosts-local-1589290276"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rK52fEhHKxisnKo2rembr3YValr4L+BG6/8tD9iNDc8Prg2mnV6DynBkS75++wh/
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
