---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/id
    method: GET
  response:
    body: '{"error":{"code":"InvalidArgument","message":"Non existing pipeline"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2368021"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4998"
      X-Ratelimit-Reset:
      - "3055"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/id
    method: GET
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
