---
version: 1
interactions:
- request:
    body: |
      {"name":"go dashboard list 1582305222"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go dashboard list 1582305222","dashboard_count":0,"author":{"handle":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch"},"created":"2020-02-21T17:13:43.062707+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-02-21T17:13:43.062721+00:00","id":81297}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OxP+mFpjAbASiVhNf+t4MttAs95ZlMiGosIRnYJJGFoApNgv2oxtdzpnmNlMOki6
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"go dashboard list updated 1582305222"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/81297
    method: PUT
  response:
    body: '{"is_favorite":false,"name":"go dashboard list updated 1582305222","dashboard_count":0,"author":{"handle":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch"},"created":"2020-02-21T17:13:43.062707+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-02-21T17:13:43.213759+00:00","id":81297}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2VXDwI2pcuhRZeQ6xt/fJh1koMYSfGcgQg5wAzgLqeh10Zf5/W946U7T5w6SEIhy
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: GET
  response:
    body: '{"dashboard_lists":[{"is_favorite":false,"name":"2019-12-16 16:28:59.972313027
      +0000 UTC m=+10.324696442","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"created":"2019-12-16T16:29:00.003270+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2019-12-16T16:29:00.003285+00:00","id":74817},{"is_favorite":false,"name":"2019-12-16
      17:09:00.04840333 +0000 UTC m=+9.309455448","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.co[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/81297
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":81297}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GAK1J4mJd/EBZfEK4rqUw9OeB9GOeKgSyrXGtzNUi5zrv5sHYU56xJgA4bcbtgUA
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/81297
    method: DELETE
  response:
    body: '{"errors": ["Manual Dashboard List with id 81297 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2200256"
    status: 404 Not Found
    code: 404
    duration: ""
