---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com","handle":"test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestCreateUser-1617977999"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestCreateUser-1617977999","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/3ab0c0bbbccce51830bd77b7c3d9e1bb?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v1/user/test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com
    method: GET
  response:
    body: '{"user":{"handle":"test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com","access_role":"ro","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/3ab0c0bbbccce51830bd77b7c3d9e1bb?s=48&d=retro","verified":false,"name":"Test-TestCreateUser-1617977999","roles":[{"uuid":"94172444-be03-11e9-a77a-db1879185210","created_at":"2019-08-13T19:50:19.111007","name":"Datadog
      Read Only Role","last_modified":"2019-08-13T19:50:19.111007","id":904117,"permissions":[{"display_name":"Logs
      Archives","description":"The ability to read logs archives location and use
      it for rehydration.","restricted":false,"created_at":"2020-04-23T07:40:27.966133","name":"logs_read_archives","uuid":"b382b982-8535-11ea-93de-2bf1bdf20798"},{"display_name":"Logs
      Read Data","description":"The ability to read log data. Can be restricted with
      restriction queries.","restricted":false,"created_at":"2020-04-06T16:24:35.989108","name":"logs_read_data","uuid":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"display_name":"Dashboards","description":"The
      ability to view dashboards.","restricted":true,"created_[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User test-testcreateuser-1617977999@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
