---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"content-type","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"}],"request":{"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"testing Synthetics API test - this is message","name":"testing Synthetics API test","options":{"accept_self_signed":false,"follow_redirects":true,"min_location_failed":10,"retry":{"count":5,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"hx4-6de-gq9","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"testing
      Synthetics API test - this is message","deleted_at":null,"name":"testing Synthetics
      API test","monitor_id":15906239,"type":"api","created_at":"2020-02-19T14:12:22.557524+00:00","modified_at":"2020-02-19T14:12:22.557524+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"follow_redirects":true,"accept_self_signed":false,"retry":{"count":5,"interval":10},"min_location_failed":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - v8lEj/pYmsavh1I0Db6FT/BAvLdOdAv91ctM9ImcmfZ/KHrCACXEdhuskTCPihd+
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"testing Synthetics Browser test - this is message","name":"testing Synthetics Browser test","options":{"accept_self_signed":false,"device_ids":["tablet"],"follow_redirects":true,"min_location_failed":10,"retry":{"count":5,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"asx-dxq-9ac","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"testing
      Synthetics Browser test - this is message","deleted_at":null,"name":"testing
      Synthetics Browser test","monitor_id":15906240,"type":"browser","created_at":"2020-02-19T14:12:22.891446+00:00","modified_at":"2020-02-19T14:12:22.891446+00:00","config":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: GET
  response:
    body: '{"tests":[{"status":"live","public_id":"hx4-6de-gq9","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"testing
      Synthetics API test - this is message","name":"testing Synthetics API test","monitor_id":15906239,"type":"api","created_at":"2020-02-19T14:12:22.557524+00:00","modified_at":"2020-02-19T14:12:22.557524+00:00","subtype":"http","config":[...]
- request:
    body: |
      {"public_ids":["asx-dxq-9ac"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-02-19T14:12:23.404438+00:00","public_id":"asx-dxq-9ac"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pNNj5PhODCVJlRBPEhZP3s9KL9kvFYv//TnGsiPp+3AqL7R5kIW2JlCWtfMcXeFn
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
[...]
