---
version: 1
interactions:
- request:
    body: |
      {"billing":{},"name":"","subscription":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/org
    method: POST
  response:
    body: '{"errors": ["Not allowed to create new organizations"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_wallace
      X-Dd-Version:
      - "35.2369335"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"billing":{},"name":"","subscription":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/org
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
