---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testuserdisableerrors-local-1589290474@integration-tests-accnt-for-sdk-ci.com","handle":"go-testuserdisableerrors-local-1589290474@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserDisableErrors-local-1589290474"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testuserdisableerrors-local-1589290474@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserDisableErrors-local-1589290474","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testuserdisableerrors-local-1589290474@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/1c4b1e157ab16f5f1afcd3f2c7fccb66?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gVnECQ7ifaEfJ6BNPsXSglLjlU41ay4U8jXHC6V3+oC4U6gHkBb20H5zrSJj1zee
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testuserdisableerrors-local-1589290474%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testuserdisableerrors-local-1589290474@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HtltRxB6FWULKbr8JD/35HKWhI+dqAFQg/rNpMbjeMOPUq5j5iWk+nIs8OwDOqUR
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
