---
version: 1
interactions:
- request:
    body: |
      {"ddsource":"go-client-test-1582305244726171000","ddtags":"go,test,list","hostname":"datadog-api-client-go-test-1582305244726171000","message":"{\"timestamp\": 1582305243000, \"message\": \"test-log-list-1582305244726171000\"}"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1582305244726171000","sort":"asc","time":{"from":"2020-02-21T17:14:04.726171+01:00","to":"2020-02-21T19:14:04.726171+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[],"nextLogId":null,"status":"done","requestId":"N2lLTy05MEFRalNzcFI4a0NQWlZOd3xFNlp5ZVdZSXhkSDVZc3VBSzR6UUFB"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - /a26iD/Lo1CgIfO5nG+++bDCp4VPlHrS1l/smvSSOXADFURPSoNY+qIGAWPUjYrh
      X-Dd-Version:
      - "35.2200256"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "286"
      X-Ratelimit-Reset:
      - "2755"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1582305244726171000","sort":"asc","time":{"from":"2020-02-21T17:14:04.726171+01:00","to":"2020-02-21T19:14:04.726171+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXBove946b4dwwAAAABBWEJvdmZackNIQmlYSjVDLWhtQg","content":{"host":"datadog-api-client-go-test-1582305244726171000","attributes":{"hostname":"datadog-api-client-go-test-1582305244726171000","timestamp":1582305243000},"message":"test-log-list-1582305244726171000","timestamp":"2020-02-21T17:14:03.000Z","tags":["source:go-client-test-1582305244726171000","source:go-client-test-1582305244726171000","test","go","list"]}}],"nextLogId":null,"status":"done","requestId":"U3gxdEQ4Ul9RYi1wTnlrSGwtaWVSd3w1MTVVTWF2V1B3TnZUalNyU2tWeHd3"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - jiEjBYbhgTitvQpbusdTeFeBunIH08bvUl0tOdECba8AA6SoqjN1Cu2GJPwcfKwJ
      X-Dd-Version:
      - "35.2200256"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "281"
      X-Ratelimit-Reset:
      - "2729"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":1,"query":"source:go-client-test-1582305244726171000","sort":"asc","startAt":"AQAAAXBovfNguyyQGwAAAABBWEJvdmZjRDhyNHNLVnpUdnJyTw","time":{"from":"2020-02-21T17:14:04.726171+01:00","to":"2020-02-21T19:14:04.726171+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXBovfNguyyQGwAAAABBWEJvdmZjRDhyNHNLVnpUdnJyTw","content":{"host":"datadog-api-client-go-test-1582305244726171000","attributes":{"hostname":"datadog-api-client-go-test-1582305244726171000","timestamp":1582305244000},"message":"second-test-log-list-1582305244726171000","timestamp":"2020-02-21T17:14:04.000Z","tags":["source:go-client-test-1582305244726171000","source:go-client-test-1582305244726171000","test","go","list"]}}],"nextLogId":null,"status":"done","requestId":"MG5wR0c3X1hSRjZ4am45SUUtdGduUXx3OWdOZ082S3hTMnFnQ0xkV3k1UVRn"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - pc4L4weE0dopqfGFdhURYhzEYf/GyiE86NFnqH2FmF1fzSrNizGPpXHHORxJoRrF
      X-Dd-Version:
      - "35.2200256"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "278"
      X-Ratelimit-Reset:
      - "2724"
    status: 200 OK
    code: 200
    duration: ""
