---
version: 1
interactions:
- request:
    body: |
      {"query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} \u003e 100","type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100","message":"","id":17548369,"multi":false,"name":"`avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100`","created":"2020-04-08T14:13:01.325430+00:00","created_at":1586355181000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-04-08T14:13:01.325430+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"silenced":{},"include_tags":true,"new_host_delay":300,"notify_no_data":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dd-Version:
      - "35.2368852"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/can_delete
    method: GET
  response:
    body: '{"errors": ["The value provided for parameter ''monitor_ids are required''
      is invalid"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2368852"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/can_delete?monitor_ids=1234
    method: GET
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/can_delete?monitor_ids=17548369
    method: GET
  response:
    body: '{"errors":{"17548369":["monitor [17548369,`avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100`] is referenced in composite monitors: [17548370,17548369]"]},"data":{"ok":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2368852"
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/17548370
    method: DELETE
  response:
    body: '{"deleted_monitor_id":17548370}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dd-Version:
      - "35.2368852"
    status: 200 OK
    code: 200
    duration: ""
[...]
