---
version: 1
interactions:
- request:
    body: |
      {"description":"variable description","name":"TEST_TESTSYNTHETICSAPIMULTISTEPTESTENDPOINTLIFECYCLE_1622033180","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      description","tags":["synthetics"],"is_totp":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"c63be890-8c11-4dea-ab31-cafd49130921","name":"TEST_TESTSYNTHETICSAPIMULTISTEPTESTENDPOINTLIFECYCLE_1622033180"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4610203"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "40"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"},{"example":"","id":"c63be890-8c11-4dea-ab31-cafd49130921","name":"VARIABLE_NAME","type":"global"}],"steps":[{"allowFailure":true,"assertions":[],"extractedValues":[{"field":"content-type","name":"EXTRACTED_VALUE","parser":{"type":"raw"},"type":"http_header"}],"isCritical":false,"name":"First step","request":{"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"},"subtype":"http"}]},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsAPIMultistepTestEndpointLifecycle-1622033180","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"multi","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"qgx-ajg-ef9","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsAPIMultistepTestEndpointLifecycle-1622033180","monitor_id":36050050,"type":"api","created_at":"2021-05-26T12:46:21.077999+00:00","modified_at":"2021-05-26T12:46:21.077999+00:00","subtype":"multi","config":{"steps":[{"name":"First
      step","request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"method":"GET","timeout":10},"subtype":"http","allowFailure":true,"assertions":[],"isCritical":false,"id":"x7e-rvk-xyh","extractedValues":[{"field":"content-type","parser":{"type":"raw"},"type":"http_header","name":"EXTRACTED_VALUE"}]}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"},{"id":"c63be890-8c11-4dea-ab31-cafd49130921","type":"global","example":"","name":"VARIABLE_NAME"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4610203"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "40"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"public_ids":["qgx-ajg-ef9"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-05-26T12:46:22.363789+00:00","public_id":"qgx-ajg-ef9"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4610203"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "38"
    status: 200 OK
    code: 200
    duration: ""
