---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testupdateuser-local-1589290466@integration-tests-accnt-for-sdk-ci.com","handle":"go-testupdateuser-local-1589290466@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUpdateUser-local-1589290466"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testupdateuser-local-1589290466@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUpdateUser-local-1589290466","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testupdateuser-local-1589290466@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/44d1e185f9bd192066b576e77d890e84?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Dpx7DG2N4VEOVm8I4W97n4HwOzBXFJSj1QrKca/nHpAZ6o7/LrJ0o2qyQx0XjNXl
      X-Dd-Version:
      - "35.2493033"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"access_role":"st","disabled":true,"name":"go-TestUpdateUser-local-1589290466"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v1/user/go-testupdateuser-local-1589290466%40integration-tests-accnt-for-sdk-ci.com
    method: PUT
  response:
    body: '{"user":{"disabled":true,"handle":"go-testupdateuser-local-1589290466@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUpdateUser-local-1589290466","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"go-testupdateuser-local-1589290466@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/44d1e185f9bd192066b576e77d890e84?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wn01ZjXucAfzJfwvKAkpy0yFfNtHyWu4ZB2aA4ZDwwhXkyLHirYeUNsx208dZz9p
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testupdateuser-local-1589290466%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2493033"
    status: 400 Bad Request
    code: 400
    duration: ""
