---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "Test-TestHostsIncludeMutedHostsDataFunctional-1618220972",
      "metric": "go.client.test.metric", "points": [[1618220972.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHostsIncludeMutedHostsDataFunctional-1618220972
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHostsIncludeMutedHostsDataFunctional-1618220972
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1618220972
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":0,"host_list":[],"total_matching":0}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - uYzWahuTRL250zStRgWMYfio8yO7+K3bWuaNFAFhDkc+wdfyEW25FjGa6GAmApoB
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1618220972
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1618220973,"name":"Test-TestHostsIncludeMutedHostsDataFunctional-1618220972","is_muted":false,"mute_timeout":null,"apps":["go"],"tags_by_source":{"Datadog":["host:Test-TestHostsIncludeMutedHostsDataFunctional-1618220972"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"Test-TestHostsIncludeMutedHostsDataFunctional-1618220972","id":4356559541,"aliases":["Test-TestHostsIncludeMutedHostsDataFunctional-1618220972"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - V1SoipvPhHDSfl6sDy+rFcFwnEIiS7Q6PTTTTi5csh65nTApZwN4YpC1c2B8H0Qt
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"end":1618222172,"message":"muting for test"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/Test-TestHostsIncludeMutedHostsDataFunctional-1618220972/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":1217085902,"hostname":"Test-TestHostsIncludeMutedHostsDataFunctional-1618220972","end":1618222172,"message":"muting
      for test"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1618220972&include_muted_hosts_data=true
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1618220973,"name":"Test-TestHostsIncludeMutedHostsDataFunctional-1618220972","is_muted":true,"mute_timeout":1618222172,"apps":["go"],"tags_by_source":{"Datadog":["host:Test-TestHostsIncludeMutedHostsDataFunctional-1618220972"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"Test-TestHostsIncludeMutedHostsDataFunctional-1618220972","id":4356559541,"aliases":["Test-TestHostsIncludeMutedHostsDataFunctional-1618220972"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - sEjH8hqmd+NbXU2M4HKe9wNjobAF7WyHXMcXxGOlEJSKtjSaMfjkfQDl7XvtbQ2m
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1618220972&include_muted_hosts_data=false
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1618220973,"name":"Test-TestHostsIncludeMutedHostsDataFunctional-1618220972","is_muted":false,"mute_timeout":null,"apps":["go"],"tags_by_source":{"Datadog":["host:Test-TestHostsIncludeMutedHostsDataFunctional-1618220972"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"Test-TestHostsIncludeMutedHostsDataFunctional-1618220972","id":4356559541,"aliases":["Test-TestHostsIncludeMutedHostsDataFunctional-1618220972"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 9g66pEy5EOBe8X/ricUyUULvduaSQbjQd1EyNVLFqiMoSZLyaE8AhJtjHwy5shSB
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
