---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"content-type","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"go-TestSyntheticsMultipleTestsOperations-local-1602847361","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"khc-dxz-3gn","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"go-TestSyntheticsMultipleTestsOperations-local-1602847361","monitor_id":24237665,"type":"api","created_at":"2020-10-16T11:22:41.816588+00:00","modified_at":"2020-10-16T11:22:41.816588+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - AGh2z0D5UkBmrFSY8KEgwxlk+3zQrHHi5H3jTZYGf1x5LPiMFZSRYRPxDqFii9PS
      X-Dd-Version:
      - "35.3204982"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "19"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics Browser test - this is message","name":"go-TestSyntheticsMultipleTestsOperations-local-1602847361","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"wpk-94p-ire","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","deleted_at":null,"name":"go-TestSyntheticsMultipleTestsOperations-local-1602847361","monitor_id":24237672,"type":"browser","created_at":"2020-10-16T11:22:43.507406+00:00","modified_at":"2020-10-16T11:22:43.507406+00:00","config":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: GET
  response:
    body: '{"tests":[{"status":"live","public_id":"jr6-2ga-946","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","name":"go-TestSyntheticsMultipleTestsOperations-26371-1601997104","monitor_id":23273564,"type":"api","created_at":"2020-10-06T15:11:44.786055+00:00","modified_at":"2020-10-06T15:11:44.786055+00:00","subtype":"http","config":[...]
{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}},{"status":"paused","public_id":"cr4-8mv-qpv","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsBrowserTest_Basic-26402-1602009166","monitor_id":23282568,"type":"browser","created_at":"2020-10-06T18:32:47.568576+00:00","modified_at":"2020-10-06T18:32:47.568576+00:00","config":{"variables":[],"request":{"body":"this
      is a body","headers":{},"url":"https://www.datadoghq.com","timeout":30,"method":"GET"},"assertions":[]},"options":{"retry":{"count":2,"interval":300},"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"device_ids":["laptop_large","mobile_small"],"min_location_failed":1,"tick_every":900}},{"status":"paused","public_id":"d3q-6ti-g7q","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_Basic-26402-1602009166","monitor_id":23282570,"type":"api","created_at":"2020-10-06T18:32:59.007295+00:00","modified_at":"2020-10-06T18:32:59.007295+00:00","subtype":"dns","config":{"variables":[],"request":{"host":"https://www.datadoghq.com"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"min_location_failed":1,"tick_every":60}},{"status":"paused","public_id":"523-679-n55","tags":["testing:browser"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","name":"go-TestSyntheticsBrowserTestLifecycle-26556-1602094316-updated","monitor_id":23638829,"type":"browser","created_at":"2020-10-07T18:11:56.944503+00:00","modified_at":"2020-10-07T18:11:57.650690+00:00","config":[...]
{"request":{"host":"agent-intake.logs.datadoghq.com","port":443},"assertions":[{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"tick_every":60}},{"status":"paused","public_id":"32b-nip-dja","tags":["testing:browser"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","name":"go-TestSyntheticsBrowserTestLifecycle-27138-1602515526-updated","monitor_id":24017314,"type":"browser","created_at":"2020-10-12T15:12:06.816727+00:00","modified_at":"2020-10-12T15:12:07.131439+00:00","config":[...]
- request:
    body: |
      {"public_ids":["wpk-94p-ire"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-10-16T11:22:44.061897+00:00","public_id":"wpk-94p-ire"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - laGkCMnt9yzADERvt5/nU5tJ2BKmoQx1BUE4x31rlC7mriAyKM9Zk5E+JikpAz3V
      X-Dd-Version:
      - "35.3204982"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "16"
    status: 200 OK
    code: 200
    duration: ""
[...]
