---
version: 1
interactions:
- request:
    body: |
      {"account_id":"go-TestCheckLambdaAsync-local-1589290180","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"58cd401af9614ada8e37395d3afbcdd8"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 6qTaw+brNWWnKD6ULH8747/TVkPK0wedRsruOmMITJcYBkJ/Eac9bUO9jP1Btfl5
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"go-TestCheckLambdaAsync-local-1589290180","lambda_arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CheckAWSLogsLambdaAsync
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/check_async
    method: POST
  response:
    body: '{"status":"created"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cQFL4MaIw90DmTTH7z4Gqhr8PBtz47vyzddN9k7nXjUK2yrLiBjbdIgydUT8r1ut
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"account_id":"go-TestCheckLambdaAsync-local-1589290180","lambda_arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CheckAWSLogsLambdaAsync
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/check_async
    method: POST
  response:
    body: '{"status":"error","errors":[{"message":"Missing permissions to list lambda
      functions on account go-TestCheckLambdaAsync-local-1589290180","code":"lambda_permission_error","permission":"lambda:listfunctions"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Dpx7DG2N4VEOVm8I4W97n4HwOzBXFJSj1QrKca/nHpAZ6o7/LrJ0o2qyQx0XjNXl
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
