---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageTopAvgMetrics
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?month=2021-06-07T08%3A08%3A43Z
    method: GET
  response:
    body: '{"usage":[{"metric_category":"custom","metric_name":"java_metricsTests_local_1622607625","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"java_metricsTests_local_1622797677","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"Test_Go_TestMetrics_1622727044","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"Typescript_Create_a_log_based_metric_returns_OK_response_1613674902.961","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"Test_Go_TestMetrics_1622560150","max_metric_hour":1,"avg_metr[...]
