---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205",
      "metric": "go.client.test.metric", "points": [[1594323205.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2721602"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1/ye/L7/S9djtmh0CDbapYOAoYP2Xz5NE904aTai4cgQw/Kmmv343hpHqBIP3PC5
      X-Dd-Version:
      - "35.2721602"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":0,"host_list":[],"total_matching":0}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - Wggv16kEySW2sK6tAFOauC8dcF5Bbbnm+i3VfpVHWUrGKNsSBvcgciIpVb6AxlIu
      X-Dd-Version:
      - "35.2721602"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1594323217,"name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205","is_muted":false,"mute_timeout":null,"apps":["go"],"tags_by_source":{"Datadog":["host:go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205","id":2746344405,"aliases":["go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - Wggv16kEySW2sK6tAFOauC8dcF5Bbbnm+i3VfpVHWUrGKNsSBvcgciIpVb6AxlIu
      X-Dd-Version:
      - "35.2721602"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"end":1594324405,"message":"muting for test"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":886697865,"hostname":"go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205","end":1594324405,"message":"muting
      for test"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LSmCynIhKaei2ZXhUwyt9n5ny5nHZCYRNYsTU4+Q86mceDsWCQtfUVf4lac22qNa
      X-Dd-Version:
      - "35.2721602"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205&include_muted_hosts_data=true
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1594323217,"name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205","is_muted":true,"mute_timeout":1594324405,"apps":["go"],"tags_by_source":{"Datadog":["host:go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205","id":2746344405,"aliases":["go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - YuN0dZ6z/w0eVjibYJO523lZ7aryVe1j+vcT0Be+048+BJpia9dqS64SpCTJG0tS
      X-Dd-Version:
      - "35.2721602"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205&include_muted_hosts_data=false
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1594323217,"name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205","is_muted":false,"mute_timeout":null,"apps":["go"],"tags_by_source":{"Datadog":["host:go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205","id":2746344405,"aliases":["go-TestHostsIncludeMutedHostsDataFunctional-local-1594323205"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - 99aPZwrbfvm6mOGBDLOH95us1/dAKPHSi1zgMprOIdx72p+ogwRSyZAcMvmlwvxO
      X-Dd-Version:
      - "35.2721602"
    status: 200 OK
    code: 200
    duration: ""
