---
version: 1
interactions:
- request:
    body: |
      {"description":"variable description","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1618221261","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      description","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"1bdd49c8-838d-4b69-bacb-b8be1549770d","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1618221261"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "39"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/1bdd49c8-838d-4b69-bacb-b8be1549770d
    method: GET
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      description","tags":["synthetics"],"created_at":"2021-04-12T09:54:21.201082+00:00","modified_at":"2021-04-12T09:54:21.201082+00:00","value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"created_by":1445416,"type":"variable","id":"1bdd49c8-838d-4b69-bacb-b8be1549770d","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1618221261"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "39"
    status: 200 OK
    code: 200
    duration: ""
[...]
