---
version: 1
interactions:
- request:
    body: |
      {"series":[{"host":"go-client-test-host","metric":"go.client.test.1582121488","points":[[1582121428,10.5],[1582121488,11]],"tags":["tag:foo","bar:baz"]}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/metrics?from=1582121488
    method: GET
  response:
    body: '{"metrics":[],"from":"1582121488"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - e/PzE6y8JJ1tlF66uEI2h0RElcpoaXRe9TzYMeQVIADcqTHrHUqcUgRemfbYKGMv
      X-Dd-Version:
      - "35.2189722"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "94"
      X-Ratelimit-Reset:
      - "2912"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/query?from=1582121388&query=avg%3Ago.client.test.1582121488%7Bbar%3Abaz%7Dby%7Bhost%7D&to=1582121588
    method: GET
  response:
    body: '{"status":"ok","res_type":"time_series","from_date":1582121388000,"series":[{"end":1582121488000,"attributes":{},"metric":"go.client.test.1582121488","interval":1,"start":1582121428000,"length":2,"query_index":0,"aggr":"avg","scope":"bar:baz,host:go-client-test-host","pointlist":[[1582121428000.0,10.5],[1582121488000.0,11.0]],"expression":"avg:go.client.test.1582121488{bar:baz,host:go-client-test-host}","unit":null,"display_name":"go.client.test.1582121488"}],"to_date":1582121588000,"resp_version":1,"query":"avg:go.client.test.1582121488{bar:baz}by{host}","message":"","group_by":["host"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - BDK8O4hUNnDvxlDH3AasrIkMQ4HgqJkaIGqBWDIw1XYA5kGLzcHgxHL6MsYm80sC
      X-Dd-Version:
      - "35.2189722"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "598"
      X-Ratelimit-Reset:
      - "2871"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/search?q=metrics%3Ago.client.test.1582121488
    method: GET
  response:
    body: '{"results":{"metrics":["go.client.test.1582121488"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - pW1Laf+DJcdhxYqw3S54QS3uLnKhD/45iqpjJrHoXQDTPjzbtUOCiiRqgdfBNFME
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/metrics/go.client.test.1582121488
    method: GET
  response:
    body: '{"description":null,"short_name":null,"integration":null,"statsd_interval":null,"per_unit":null,"type":null,"unit":null}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - j0VNx9cZdAj+uuO7pabHlao4Ioc5q8ovvp4Ja/NYzbHA51zSBYXNvtO+8cOYbE0B
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
[...]
