---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"Go client HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"a21f3daf4cc955a4b39f031cf007b761","name":"Go
      client HTTP Return Codes","created_at":1586513212,"tags":["app:httpd"],"modified_at":1586513212,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1586513212,"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"description":"Updated description","id":"a21f3daf4cc955a4b39f031cf007b761","modified_at":1586513212,"monitor_tags":[],"name":"Go client HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"target_display":"95.","timeframe":"7d","warning":98,"warning_display":"98."}],"type":"metric","type_id":1}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo/a21f3daf4cc955a4b39f031cf007b761
    method: PUT
  response:
    body: '{"data":[{"description":"Updated description","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"a21f3daf4cc955a4b39f031cf007b761","name":"Go
      client HTTP Return Codes","created_at":1586513212,"tags":["app:httpd"],"modified_at":1586513212,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=a21f3daf4cc955a4b39f031cf007b761
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["a21f3daf4cc955a4b39f031cf007b761"]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/a21f3daf4cc955a4b39f031cf007b761/history?from_ts=1586513200&to_ts=1586513210
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1586513210,"type_id":1,"series":{"res_type":"time_series","denominator":{"count":10,"sum":0.0,"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"unit":null,"query_index":1,"aggr":"sum","scope":"!code:3xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","tag_set":[]}},"graph_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count()) - default_zero(sum:httpservice.hits{code:2xx}.as_count())","resp_version":2,"interval":1,"numerator":{"count":10,"sum":0.0,"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"unit":null,"query_index":0,"aggr":"sum","scope":"code:2xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","tag_set":[]}},"bad_series_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())
      - default_zero(sum:httpservice.hits{code:2xx}.as_count())","times":[1586513200000.0,1586513201000.0,1586513202000.0,1586513203000.0,1586513204000.0,1586513205000.0,1586513206000.0,1586513207000.0,1586513208000.0,1586513209000.0],"denominator_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","from_date":1586513200000,"numerator_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","to_date":1586513210000,"timing":"0.00883722305298","query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count())","message":""},"thresholds":{"7d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}},"overall":{"uptime":null,"span_precision":5,"errors":[{"error_type":"ZERO_VALUED_DENOMINATOR","error_message":"The
      denominator is zero valued"}],"sli_value":null,"precision":{"7d":0}},"from_ts":1586513200,"group_by":[],"type":"metric"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
    status: 200 OK
    code: 200
    duration: ""
[...]
