---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testdisableuser-1582121593964460000@integration-tests-accnt-for-sdk-ci.com","handle":"testdisableuser-1582121593964460000@integration-tests-accnt-for-sdk-ci.com","name":"TestDisableUser-1582121593964460000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testdisableuser-1582121593964460000@integration-tests-accnt-for-sdk-ci.com","name":"TestDisableUser-1582121593964460000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testdisableuser-1582121593964460000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/5634dcaf38197cae0f1d25119dcf0783?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5gIeAyE850e1lqVwTAgwvudewR8EzuQd3qGaXsS2D0CKQVhFOIjBoeQYiH0qPohy
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testdisableuser-1582121593964460000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testdisableuser-1582121593964460000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1bzfAqb/6TIngEeU7r7YcGGp2+NaI+ne9J3bzgQrdB0qTrgVrMtd4iKXr1zCNOHr
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testdisableuser-1582121593964460000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2189722"
    status: 400 Bad Request
    code: 400
    duration: ""
