---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/hosts?end_hr=2020-02-13T00%3A00%3A00Z&start_hr=2020-02-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"host_count":30435,"container_count":16203,"hour":"2020-02-12T00:00:00+00:00","alibaba_host_count":12,"agent_host_count":30059,"apm_host_count":19430,"gcp_host_count":42,"azure_host_count":86,"aws_host_count":236},{"host_count":30475,"container_count":16260,"hour":"2020-02-12T01:00:00+00:00","alibaba_host_count":12,"agent_host_count":30098,"apm_host_count":19459,"gcp_host_count":42,"azure_host_count":86,"aws_host_count":237},{"host_count":30443,"container_count":16172,"hour":"2020-02-12T02:00:00+00:00","alibaba_host_count":12,"agent_host_count":30067,"apm_host_count":19439,"gcp_host_count":42,"azure_host_count":86,"aws_host_count":236},{"host_count":30386,"container_count":16137,"hour":"2020-02-12T03[...]
