---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-TestSLOMonitorLifecycle-1617977910","query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","tags":["test","client:go"],"type":"service check"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["test","client:go"],"deleted":null,"query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","message":"some
      message Notify: @hipchat-channel","id":33567992,"multi":true,"name":"Test-TestSLOMonitorLifecycle-1617977910","created":"2021-04-09T14:18:31.484397+00:00","created_at":1617977911000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-04-09T14:18:31.484397+00:00","priority":null,"overall_state_modified":null,"overall_state":"No
      Data","type":"service check","options":{"notify_audit":false,"locked":false,"silenced":{},"include_tags":true,"new_host_delay":300,"notify_no_data":false}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Track the uptime of host foo which is critical to us.","monitor_ids":[33567992],"name":"Test-TestSLOMonitorLifecycle-1617977910","tags":["app:core","kpi"],"thresholds":[{"target":95,"timeframe":"30d","warning":98}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Track the uptime of host foo which is critical
      to us.","monitor_tags":["test","client:go"],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"cb7e293440825869a4720570852d7198","monitor_ids":[33567992],"name":"Test-TestSLOMonitorLifecycle-1617977910","created_at":1617977911,"tags":["app:core","kpi"],"modified_at":1617977911,"type":"monitor"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1617977911,"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"description":"Updated description","id":"cb7e293440825869a4720570852d7198","modified_at":1617977911,"monitor_ids":[33567992],"monitor_tags":["test","client:go"],"name":"Test-TestSLOMonitorLifecycle-1617977910","tags":["app:core","kpi"],"thresholds":[{"target":95,"target_display":"95.","timeframe":"30d","warning":98,"warning_display":"98."}],"type":"monitor"}
    form: {}
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CheckCanDeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=cb7e293440825869a4720570852d7198
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["cb7e293440825869a4720570852d7198"]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOHistory
    url: https://api.datadoghq.com/api/v1/slo/cb7e293440825869a4720570852d7198/history?from_ts=1617977899&to_ts=1617977909
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1617977909,"type_id":0,"thresholds":{"30d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}},"overall":{"errors":[{"error_type":"NO_RESULTS","error_message":"No
      results found for this monitor"}],"precision":{"30d":2,"custom":0}},"from_ts":1617977899,"slo":{"description":"Updated
      description","monitor_tags":["test","client:go"],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"cb7e293440825869a4720570852d7198","monitor_ids":[33567992],"name":"Test-TestSLOMonitorLifecycle-1617977910","created_at":1617977911,"tags":["app:core","kpi"],"modified_at":1617977911,"type":"monitor"},"type":"monitor"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "150"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "149"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/33567992
    method: DELETE
  response:
    body: '{"deleted_monitor_id":33567992}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
