---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"Test-TestSLOHistoryGetErrors-1618221236","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"c61ec4bd0ce457c8b9a1cee6791b55d3","name":"Test-TestSLOHistoryGetErrors-1618221236","created_at":1618221236,"tags":["app:httpd"],"modified_at":1618221236,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "494"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/c61ec4bd0ce457c8b9a1cee6791b55d3
    method: DELETE
  response:
    body: '{"data":["c61ec4bd0ce457c8b9a1cee6791b55d3"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2992"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
