---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics Browser test - this is message","name":"go-TestSyntheticsBrowserTestEndpointLifecycle-local-1617350914","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsBrowserTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
    method: POST
  response:
    body: '{"status":"paused","public_id":"7e6-7ky-wid","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","deleted_at":null,"name":"go-TestSyntheticsBrowserTestEndpointLifecycle-local-1617350914","monitor_id":33236718,"type":"browser","created_at":"2021-04-02T08:08:35.264948+00:00","modified_at":"2021-04-02T08:08:35.264948+00:00","config":{"request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"noScreenshot":true,"disableCors":true,"device_ids":["tablet"],"tick_every":300}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4225121"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "25"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetBrowserTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/7e6-7ky-wid
    method: GET
  response:
    body: '{"status":"paused","public_id":"7e6-7ky-wid","tags":["testing:browser"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","name":"go-TestSyntheticsBrowserTestEndpointLifecycle-local-1617350914-updated","monitor_id":33236718,"type":"browser","steps":[],"config":[...]
- request:
    body: |
      {"public_ids":["7e6-7ky-wid"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-02T08:08:36.111217+00:00","public_id":"7e6-7ky-wid"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4225121"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "25"
    status: 200 OK
    code: 200
    duration: ""
