---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "Test-TestHosts-1617977651", "metric": "go.client.test.metric",
      "points": [[1617977651.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHosts-1617977651
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHosts-1617977651
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"end":1617977711,"message":"muting for test"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/Test-TestHosts-1617977651/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":1213944315,"hostname":"Test-TestHosts-1617977651","end":1617977711,"message":"muting
      for test"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"end":1617977771,"message":"muting for test override","override":true}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/Test-TestHosts-1617977651/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":1213944316,"hostname":"Test-TestHosts-1617977651","end":1617977771,"message":"muting
      for test override"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - UnmuteHost
    url: https://api.datadoghq.com/api/v1/host/Test-TestHosts-1617977651/unmute
    method: POST
  response:
    body: '{"action":"Unmuted","downtime_id":1213944316,"hostname":"Test-TestHosts-1617977651"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
