---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsTriggerCITests-1630053202","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-TestSyntheticsTriggerCITests-1630053202","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"rck-92z-tdv","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsTriggerCITests-1630053202","monitor_id":44804548,"type":"api","created_at":"2021-08-27T08:33:23.946151+00:00","modified_at":"2021-08-27T08:33:23.946151+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"monitor_priority":5,"monitor_name":"Test-TestSyntheticsTriggerCITests-1630053202","tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "37"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tests":[{"locations":["aws:us-east-2"],"public_id":"rck-92z-tdv"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - TriggerCITests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger/ci
    method: POST
  response:
    body: '{"batch_id":"4ae3b654-d5d6-42c1-baf2-181b6552d455","results":[{"result_id":"7141440330562273201","public_id":"rck-92z-tdv","location":30005}],"triggered_check_ids":["rck-92z-tdv"],"locations":[{"display_name":"Ohio
      (AWS)","name":"aws:us-east-2","region":"Americas","is_active":true,"is_public":true,"id":30005}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "15"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "14"
      X-Ratelimit-Reset:
      - "96"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetBatch
    url: https://api.datadoghq.com/api/v1/synthetics/ci/batch/4ae3b654-d5d6-42c1-baf2-181b6552d455
    method: GET
  response:
    body: '{"data":{"status":"in_progress","results":[{"status":"in_progress","retries":null,"final_result_id":null,"test_public_id":"rck-92z-tdv","timed_out":null,"duration":null,"steps":null,"location":"aws:us-east-2","test_name":"Test-TestSyntheticsTriggerCITests-1630053202","device":null,"execution_rule":"blocking","polling_timeout":120000,"result_id":"7141440330562273201","test_type":"api"}],"metadata":{}},"created_at":"2021-08-27T08:33:24.178162+00:00","modified_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["rck-92z-tdv"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-08-27T08:33:24.688497+00:00","public_id":"rck-92z-tdv"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "36"
    status: 200 OK
    code: 200
    duration: ""
