---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"test-testdisableuser-1617978002@integration-tests-accnt-for-sdk-ci.com","handle":"test-testdisableuser-1617978002@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestDisableUser-1617978002"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test-testdisableuser-1617978002@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestDisableUser-1617978002","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testdisableuser-1617978002@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/b72f34c1c3254df1f29069b9c660cf95?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testdisableuser-1617978002@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User test-testdisableuser-1617978002@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testdisableuser-1617978002@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 400 Bad Request
    code: 400
    duration: ""
