---
version: 1
interactions:
- request:
    body: |
      {"override":true}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/go-TestHostsMuteErrors-local-1589290288/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":825973282,"hostname":"go-TestHostsMuteErrors-local-1589290288"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nRZqCODixwNZX0HLyT17WzYwenviVG0rmnZak57k5KsDWun3aWEsPedTsRpiFQxf
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - UnmuteHost
    url: https://api.datadoghq.com/api/v1/host/go-TestHostsMuteErrors-local-1589290288/unmute
    method: POST
  response:
    body: '{"action":"Unmuted","downtime_id":825973282,"hostname":"go-TestHostsMuteErrors-local-1589290288"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - menB+JzZJZWnsBMzYDdvLqZLyJ1Z3XKvvLNUvAnnxCkhc359HSRPRWZhATTwUzcU
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
