---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageAttribution
    url: https://api.datadoghq.com/api/v1/usage/attribution?fields=%2A&start_month=2020-11-18T14%3A12%3A55-03%3A00
    method: GET
  response:
    body: '{"usage":[{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":100.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":1,"api_usage":106223,"container_usage":1.03,"custom_timeseries_percentage":100.0,"container_percentage":100.0,"lambda_usage":0.0,"apm_host_percentage":100.0,"npm_host_percentage":100.0,"custom_timeseries_usage":10.97,"browser_percentage":100.0,"infra_host_percentage":100.0,"snmp_percentage":0.0,"npm_host_usage":2,"infra_host_usage":3,"browser_usage":2},"updated_at":"2020-11-18T20","tags":null},{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":100.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":1,"api_usage":106223,"container_usage":1.03,"custom_timeseries_percentage":100.0,"container_percentage":100.0,"lambda_usage":0.0,"apm_host_percentage":100.0,"npm_host_percentage":100.0,"custom_timeseries_usage":10.97,"browser_percentage":100.0,"infra_host_percentage":100.0,"snmp_percentage":0.0,"npm_host_usage":2,"infra_host_usage":3,"browser_usage":2},"updated_at":"2020-11-18T20","tags":null},{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":0.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":0,"api_usage":0,"container_usage":0.0,"custom_timeseries_percentage":72.93,"container_percentage":0.0,"lambda_usage":0.0,"apm_host_percentage":0.0,"npm_host_percentage":100.0,"custom_timeseries_usage":8.0,"browser_percentage":0.0,"infra_host_percentage":66.67,"snmp_percentage":0.0,"npm_host_usage":2,"infra_host_usage":2,"browser_usage":0},"updated_at":"2020-11-18T20","tags":{"project":["datadog-integrations-lab"]}},{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":100.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":1,"api_usage":106223,"container_usage":1.03,"custom_timeseries_percentage":27.07,"container_percentage":100.0,"lambda_usage":0.0,"apm_host_percentage":100.0,"npm_host_percentage":0.0,"custom_timeseries_usage":2.97,"browser_percentage":100.0,"infra_host_percentage":33.33,"snmp_percentage":0.0,"npm_host_usage":0,"infra_host_usage":1,"browser_usage":2},"updated_at":"2020-11-18T20","tags":{"project":[]}}],"metadata":{"pagination":{"sort_direction":"DESC","sort_name":"custom_timeseries_usage","limit":5000,"total_number_of_records":4,"offset":0},"aggregates":[{"field":"custom_timeseries_usage","value":32.91,"agg_type":"sum"},{"field":"container_usage","value":3.09,"agg_type":"sum"},{"field":"snmp_percentage","value":0.0,"agg_type":"sum"},{"field":"apm_host_usage","value":3.0,"agg_type":"sum"},{"field":"browser_usage","value":6.0,"agg_type":"sum"},{"field":"npm_host_percentage","value":300.0,"agg_type":"sum"},{"field":"infra_host_usage","value":9.0,"agg_type":"sum"},{"field":"custom_timeseries_percentage","value":300.0,"agg_type":"sum"},{"field":"container_percentage","value":300.0,"agg_type":"sum"},{"field":"lambda_usage","value":0.0,"agg_type":"sum"},{"field":"api_usage","value":318669.0,"agg_type":"sum"},{"field":"apm_host_percentage","value":300.0,"agg_type":"sum"},{"field":"infra_host_percentage","value":300.0,"agg_type":"sum"},{"field":"snmp_usage","value":0.0,"agg_type":"sum"},{"field":"browser_percentage","value":300.0,"agg_type":"sum"},{"field":"api_percentage","value":300.0,"agg_type":"sum"},{"field":"lambda_percentage","value":0.0,"agg_type":"sum"},{"field":"npm_host_usage","value":6.0,"agg_type":"sum"}]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - wPy9KjXl2oNb+h2/g04nAXAfCw85Ldy7iFswtPRipzmiU2125I+aoUKIFsQZLFpS
      X-Dd-Version:
      - "35.3399924"
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "2824"
    status: 200 OK
    code: 200
    duration: ""
