---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testcreateuser-local-1589290463@integration-tests-accnt-for-sdk-ci.com","handle":"go-testcreateuser-local-1589290463@integration-tests-accnt-for-sdk-ci.com","name":"go-TestCreateUser-local-1589290463"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testcreateuser-local-1589290463@integration-tests-accnt-for-sdk-ci.com","name":"go-TestCreateUser-local-1589290463","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testcreateuser-local-1589290463@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/59a77aa9d217cfa2a93c4bf11a6d6d08?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vwiIwb5QepaQFIQrmPfIwwVWkQ/z0inFQwNEDjqDDy4v3CsF5qbv9dnyfb7UGzLf
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v1/user/go-testcreateuser-local-1589290463%40integration-tests-accnt-for-sdk-ci.com
    method: GET
  response:
    body: '{"user":{"handle":"go-testcreateuser-local-1589290463@integration-tests-accnt-for-sdk-ci.com","access_role":"ro","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/59a77aa9d217cfa2a93c4bf11a6d6d08?s=48&d=retro","verified":false,"name":"go-TestCreateUser-local-1589290463","roles":[{"uuid":"94172444-be03-11e9-a77a-db1879185210","created_at":"2019-08-13T19:50:19.111007","name":"Datadog
      Read Only Role","last_modified":"2019-08-13T19:50:19.111007","id":904117,"permissions":[{"display_name":"Logs
      Read Data","description":"The ability to read log data. Can be restricted with
      restriction queries.","restricted":false,"created_at":"2020-04-06T16:24:35.989108","name":"logs_read_data","uuid":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"display_name":"Monitors","description":"The
      ability to view monitors.","restricted":true,"created_at":"2019-09-16T18:39:07.744297","name":"monitors_read","uuid":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"display_name":"Dashboards","description":"The
      ability to view dashboards.","restricted":true,"created_at":"2019-09-10T14:39:51.955175","name":"dashboards_read","uui[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testcreateuser-local-1589290463%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testcreateuser-local-1589290463@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - og1WGdy+2nV+rkkclmd3Cf2I26XhV3/6yjBeQCP8aHbH2k2cKwC+X9WmhIghcJ94
      X-Dd-Version:
      - "35.2493033"
    status: 200 OK
    code: 200
    duration: ""
