---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageLogsByIndex
    url: https://api.datadoghq.com/api/v1/usage/logs_by_index?end_hr=2021-03-13T00%3A00%3A00Z&start_hr=2021-03-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"rehydrated_indexed":0,"hour":"2021-03-12T00:00:00+00:00","event_count":90,"org_id":321813,"live_index_indexed":90,"index_name":"main","rate_limited":false,"filtered":false,"index_id":"33715","retention":15},{"rehydrated_indexed":0,"hour":"2021-03-12T01:00:00+00:00","event_count":95,"org_id":321813,"live_index_indexed":95,"index_name":"main","rate_limited":false,"filtered":false,"index_id":"33715","retention":15},{"rehydrated_indexed":0,"hour":"2021-03-12T02:00:00+00:00","event_count":84,"org_id":321813,"live_index_indexed":84,"index_name":"main","rate_limited":false,"filtered":false,"index_id":"33715","retention":15},{"rehydrated_indexed":0,"hour":"2021-03-12T03:00:00+00:00","event_count":102,"[...]
