---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397",
      "metric": "go.client.test.metric", "points": [[1597694397.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2891288"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nuSFLkQ1s7gwoRNAfifc8jXTyjLsWBSRPtQKveq6qMTKGNJs/ULg6uo/9G1YZzFs
      X-Dd-Version:
      - "35.2891288"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":0,"host_list":[],"total_matching":0}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - NusLC/GTcaPQWHCUNHEe4Dm3T1hFbZtsQsvT2AGtGm2AiXy37Grp7NCNAVs9Embi
      X-Dd-Version:
      - "35.2891288"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1597694413,"name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397","is_muted":false,"mute_timeout":null,"apps":["go"],"tags_by_source":{"Datadog":["host:go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397","id":2920728092,"aliases":["go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - VIIjb7WkB4qW5eHBJ++/zpg9oWC6WWJo41GawZu4IrhcboOC5Ehoa9ACHLLQrnhA
      X-Dd-Version:
      - "35.2891288"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"end":1597695597,"message":"muting for test"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":928800820,"hostname":"go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397","end":1597695597,"message":"muting
      for test"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Y8u+fIaXZZ2yK5ttthsjkZm5Z3VHyXaOdS8/tSd/bNF4IfeGhCl8vKDnFe8gSTEA
      X-Dd-Version:
      - "35.2891288"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397&include_muted_hosts_data=true
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":0,"host_list":[],"total_matching":0}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - ua6k1TiYtIaBLIOed/KDpaXbO3x3WLnphyT9mxJ9rNTcpC8ZFzW1dAFSrg2uwdGc
      X-Dd-Version:
      - "35.2891288"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=go-TestHostsIncludeMutedHostsDataFunctional-local-1597694397&include_muted_hosts_data=false
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":0,"host_list":[],"total_matching":0}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - g6G3vbcJrp4yLwTsu+nEy46qLY90Z7iSkV4pwxku0C8BYDVwgn9/yg1IJv/RcnW1
      X-Dd-Version:
      - "35.2891288"
    status: 200 OK
    code: 200
    duration: ""
[...]
