---
version: 1
interactions:
- request:
    body: |
      {"name":"TestAppKeysMgmtUpdate409Error:1586247813126006000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/application_key
    method: POST
  response:
    body: '{"application_key":{"owner":"frog@datadoghq.com","hash":"a4e4f9dbee20bf778c81e5df87e9efb6c777607b","name":"TestAppKeysMgmtUpdate409Error:1586247813126006000"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2363222"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"name":"TestAppKeysMgmtUpdate409Error:15862478146000260002"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/application_key/a4e4f9dbee20bf778c81e5df87e9efb6c777607b
    method: PUT
  response:
    body: '{"errors": ["An application key with the name TestAppKeysMgmtUpdate409Error:15862478146000260002
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2363222"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
