---
version: 1
interactions:
- request:
    body: |
      {"override":true}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/go-client-test-hostname-1587937129/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":810457957,"hostname":"go-client-test-hostname-1587937129"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QiVuTM9TRDLiaWje4g847YvprBBDQ1GVAeq5tRykBN1C05YvP7tIRg0Fcue145Yp
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - UnmuteHost
    url: https://api.datadoghq.com/api/v1/host/go-client-test-hostname-1587937129/unmute
    method: POST
  response:
    body: '{"action":"Unmuted","downtime_id":810457957,"hostname":"go-client-test-hostname-1587937129"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kg+/Cls6zaJcT2blJLlU62BwgGePGdpqSwWrJ0xEIvzmSMWHXxGNsiyEzBPJ1a96
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
