---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-1618221157006917000", "ddtags": "go,test,list",
      "hostname": "Test-TestLogsList-1618221157", "message": "{\"timestamp\": 1618221156000,
      \"message\": \"test-log-list-1618221157006917000\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1618221157006917000","sort":"asc","time":{"from":"2021-04-12T10:52:37.006917+02:00","to":"2021-04-12T12:52:37.006917+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChZBNXFfMDNBb1N5UzZZQkNHTkVZeVZnIi0KHfcDNErMyiToCfTCkJ8uVEqHg9QQTBerVeTG3DV7Egxs5Ug_5wKkHQQhaPY"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5Hac7JywL5roZNmTKRCMX6HAABRNCVKMTDX6QPKXi47taP78vofbekzTw2/wuz0C
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "201"
      X-Ratelimit-Reset:
      - "443"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1618221157006917000","sort":"asc","time":{"from":"2021-04-12T10:52:37.006917+02:00","to":"2021-04-12T12:52:37.006917+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1618221156000,"hostname":"Test-TestLogsList-1618221157"},"host":"Test-TestLogsList-1618221157","tags":["source:go-client-test-1618221157006917000","source:go-client-test-1618221157006917000","test","go","list"],"message":"test-log-list-1618221157006917000","timestamp":"2021-04-12T09:52:36.000Z"},"id":"AQAAAXjFf0aghJNt9gAAAABBWGpGZjB2TkFBQ09ydEN0a3BMVXFnQUE"},{"content":{"attributes":{"timestamp":1618221157000,"hostname":"Test-TestLogsList-1618221157"},"host":"Test-TestLogsList-1618221157","tags":["source:go-client-test-1618221157006917000","source:go-client-test-1618221157006917000","test","go","list"],"message":"second-test-log-list-1618221157006917000","timestamp":"2021-04-12T09:52:37.000Z"},"id":"AQAAAXjFf0qIFyVw0gAAAABBWGpGZjB4UEFBQ3JZMWJzVml1aVN3QUE"}],"requestId":"pddv1ChZjTzVPeGpXdlFNaUtybGlHQkdFNExRIi0KHVGiPvHXkdXHYoiM070SvjQ8Zths1p595HSJZcDQEgz9HR3DqTsPIsT8MQ4"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - QVgG/95Ev83CsAL8Rf7h77ZTd2ZJztQrR7lHoLT0VJkGU+zGxYBbI719ni1BioIN
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "194"
      X-Ratelimit-Reset:
      - "407"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":1,"query":"source:go-client-test-1618221157006917000","sort":"asc","startAt":"AQAAAXjFf0qIFyVw0gAAAABBWGpGZjB4UEFBQ3JZMWJzVml1aVN3QUE","time":{"from":"2021-04-12T10:52:37.006917+02:00","to":"2021-04-12T12:52:37.006917+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1618221157000,"hostname":"Test-TestLogsList-1618221157"},"host":"Test-TestLogsList-1618221157","tags":["source:go-client-test-1618221157006917000","source:go-client-test-1618221157006917000","test","go","list"],"message":"second-test-log-list-1618221157006917000","timestamp":"2021-04-12T09:52:37.000Z"},"id":"AQAAAXjFf0qIFyVw0gAAAABBWGpGZjB4UEFBQ3JZMWJzVml1aVN3QUE"}],"requestId":"pddv1ChZHdVN2T2w2N1FQMjRCRFlmY2QweHhRIi0KHb4MJ2Fys4wVK8C0zrihGFVOnapXth8hRGJEh1m3EgxqxIip-IwP5GTJVck"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5BjIP66/WkguTt6WYJqul4fmsD0R3Xxrwlzr4pBdsyGzjZaOVscrc8uYVxgkeTdP
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "192"
      X-Ratelimit-Reset:
      - "406"
    status: 200 OK
    code: 200
    duration: ""
