---
version: 1
interactions:
- request:
    body: |
      {"name":"TestAppKeysMgmtCreate409Error:1586247647383833000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/application_key
    method: POST
  response:
    body: '{"application_key":{"owner":"frog@datadoghq.com","hash":"ed6c5c2565bab12ef980b1d037e8a300a0568f63","name":"TestAppKeysMgmtCreate409Error:1586247647383833000"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2363222"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"TestAppKeysMgmtCreate409Error:1586247647383833000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/application_key
    method: POST
  response:
    body: '{"errors": ["An application key with the name TestAppKeysMgmtCreate409Error:1586247647383833000
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2363222"
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/application_key/ed6c5c2565bab12ef980b1d037e8a300a0568f63
    method: DELETE
  response:
    body: '{"application_key":{"owner":"frog@datadoghq.com","hash":"ed6c5c2565bab12ef980b1d037e8a300a0568f63","name":"TestAppKeysMgmtCreate409Error:1586247647383833000"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2363222"
    status: 200 OK
    code: 200
    duration: ""
