---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testupdateuser-1582121592726642000@integration-tests-accnt-for-sdk-ci.com","handle":"testupdateuser-1582121592726642000@integration-tests-accnt-for-sdk-ci.com","name":"TestUpdateUser-1582121592726642000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testupdateuser-1582121592726642000@integration-tests-accnt-for-sdk-ci.com","name":"TestUpdateUser-1582121592726642000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testupdateuser-1582121592726642000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/e735e61fcc4aa6463e502436d56809e1?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - j0VNx9cZdAj+uuO7pabHlao4Ioc5q8ovvp4Ja/NYzbHA51zSBYXNvtO+8cOYbE0B
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"access_role":"st","disabled":true,"name":"test update user"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/testupdateuser-1582121592726642000%40integration-tests-accnt-for-sdk-ci.com
    method: PUT
  response:
    body: '{"user":{"disabled":true,"handle":"testupdateuser-1582121592726642000@integration-tests-accnt-for-sdk-ci.com","name":"test
      update user","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"testupdateuser-1582121592726642000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/e735e61fcc4aa6463e502436d56809e1?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - A5a5htKhTUF1FdBQZRUZl4RVawKwk2RUtaZz3EDBmdXc0X6i0O7TBEBWn4bIBQ01
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testupdateuser-1582121592726642000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2189722"
    status: 400 Bad Request
    code: 400
    duration: ""
