---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "Test-TestTags-1617977966", "metric": "go.client.test.metric",
      "points": [[1617977966.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestTags-1617977966
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestTags-1617977966
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tags":["test:client_go"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestTags-1617977966?source=datadog
    method: POST
  response:
    body: '{"host":"Test-TestTags-1617977966","tags":["test:client_go"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4276613"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestTags-1617977966?source=users
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts?source=datadog
    method: GET
  response:
    body: '{"tags":{"internal-hostname:vm-465253b7-bb6b-476d-620b-4273c1c35f7a.c.datadog-integrations-lab.internal":["mysql-monitor-0"],"deployment:pivotal-container-service-2db99f13c503d2c4afac":["pks-db-0","pivotal-container-service-0"],"application_id:d1287483-1647-4bd5-afc3-17a3b7e01aec":["54c54c8a-77a5-43fe-672d-1224","04d66c4b-4394-4936-791f-d336","e76b8c3f-9f1c-4065-5861-5d39"],"id:d584a232-8129-40f9-b50a-0aecb3ee5600":["mysql-monitor-0"],"bosh_name:hello-linux-ubuntu-dd-agent-1614943018.4284968":["hello-linux-ubuntu-dd-agent-1614943018.4284968-0"],"name:hello-linux-ubuntu-dd-agent-1614943018.4284968/bf5793a5-3b57-444c-acf7-1d373d13568b":["hello-linux-ubuntu-dd-agent-1614943018.4284968-0"],"bosh_name:database":["database-0"],"created_at:2021-03-17t10:31:39z":["router-0"],"bosh_job:mysql_monitor":["mysql-monitor-0"],"bosh_id:10cc8fea-3e39-4537-91a1-4b0d6abb626a":["blobstore-0"],"created_at:2021-02-08t11:45:31z":["master-0"],"created_at:2021-03-05t11:21:03z":["hello-linux-centos-dd-agent-1614943018.4284968-0"],"cf-58f7c74c619c33d63485-mysql-monitor":["mysql-monitor-0"],"id:4626db8f-c3cb-4bbe-bd00-3465525631b8":["master-0"],"user_data:_server_:_name_:_vm-48a0f7c8-1a48-4742-6892-9ae206d633e3_registry_:_endpoint_:_://:_:0_dns_:_nameserver_:_169.254.169.254":["router-0"],"bosh_job:hello-linux-centos-dd-agent-1614943018.4284968":["hello-linux-centos-dd-agent-1614943018.4284968-0"],"index:13661a2d-4556-41a1-9b18-b2d6f6f59e40":["database-0"],"bosh_id:d584a232-8129-40f9-b50a-0aecb3ee5600":["mysql-monitor-0"],"bosh_job:backup_restore":["backup-resto[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts?source=users
    method: GET
  response:
    body: '{"tags":{"lala:lolo":["go-client-test-host"],"environment:production":["go-client-test-host"],"sampletag:sample":["java-client-test-host"],"role:webserver":["go-client-test-host"]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tags":["foo:bar","toto:tata"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestTags-1617977966?source=datadog
    method: PUT
  response:
    body: '{"host":"Test-TestTags-1617977966","tags":["foo:bar","toto:tata"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "10000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "9997"
      X-Ratelimit-Reset:
      - "2413"
    status: 201 Created
    code: 201
    duration: ""
[...]
