---
version: 1
interactions:
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-tt1618220912","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","tenant_name":"Test-TestAzureListandDelete-1618220912"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
  response:
    body: '[{"tenant_name":"Test-TestAzureListandDelete-1618220912","automute":false,"errors":[],"host_filters":"","client_id":"testc7f6-1234-5678-9101-tt1618220912"}]'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
