---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGraphSnapshot
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1618064338&event_query=successful+builds&metric_query=system.load.1%7B%2A%7D&start=1617977938
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2021-04-09/3f00eeed7b8580bfc539f3b41a8edfd9228d9b1e.png","event_query":"successful
      builds","metric_query":"system.load.1{*}"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "53"
      X-Ratelimit-Reset:
      - "2462"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGraphSnapshot
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1618064338&graph_def=%7B%22requests%22%3A+%5B%7B%22q%22%3A+%22system.load.1%7B%2A%7D%22%7D%5D%7D&start=1617977938
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2021-04-09/f1c1f9988f8c56917cdecc7f1edb37098c27fa17.png"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "52"
      X-Ratelimit-Reset:
      - "2462"
    status: 200 OK
    code: 200
    duration: ""
