---
version: 1
interactions:
- request:
    body: |
      {"name":"go dashboard list 1582121391"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"go dashboard list 1582121391","dashboard_count":0,"author":{"handle":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch"},"created":"2020-02-19T14:09:51.699943+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-02-19T14:09:51.699960+00:00","id":80797}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vYQu3ls2HKdZ2pXErBiwg/FlJyuK31hjiI+oJSqoEPPw/7mzimb2FzvWEsshbznY
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"go dashboard list updated 1582121391"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/80797
    method: PUT
  response:
    body: '{"is_favorite":false,"name":"go dashboard list updated 1582121391","dashboard_count":0,"author":{"handle":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch"},"created":"2020-02-19T14:09:51.699943+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-02-19T14:09:51.857982+00:00","id":80797}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - eORbNuNjI+uNwQ5fL4WiSFLQTO+rx/Fd8RRk0TnSyEY4gQIkjrXIuJ1XAoOa+8yj
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: GET
  response:
    body: '{"dashboard_lists":[{"is_favorite":false,"name":"2019-12-16 16:28:59.972313027
      +0000 UTC m=+10.324696442","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"created":"2019-12-16T16:29:00.003270+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2019-12-16T16:29:00.003285+00:00","id":74817},{"is_favorite":false,"name":"2019-12-16
      17:09:00.04840333 +0000 UTC m=+9.309455448","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.co[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/80797
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":80797}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FB5oGxuL9E/cplxahdQnU5Nw5E7KX0Smq18it9qYKIt8BXsSloE0IpDRA39tfQwn
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/80797
    method: DELETE
  response:
    body: '{"errors": ["Manual Dashboard List with id 80797 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2189722"
    status: 404 Not Found
    code: 404
    duration: ""
