---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageProfiling
    url: https://api.datadoghq.com/api/v1/usage/profiling?end_hr=2021-03-13T00%3A00%3A00Z&start_hr=2021-03-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"host_count":null,"hour":"2021-03-12T00:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2021-03-12T01:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2021-03-12T02:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2021-03-12T03:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2021-03-12T04:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2021-03-12T05:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2021-03-12T06:00:00+00:00",[...]
