---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageAttribution
    url: https://api.datadoghq.com/api/v1/usage/attribution?fields=%2A&start_month=2021-04-08T16%3A19%3A53%2B02%3A00
    method: GET
  response:
    body: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","tags":null,"updated_at":"2021-04-08T22","month":"2021-04-01T00:00:00+00:00","values":{"lambda_percentage":0.0,"apm_host_usage":2,"api_usage":123236,"custom_timeseries_percentage":100.0,"fargate_usage":0.0,"lambda_invocations_percentage":0.0,"container_percentage":100.0,"browser_usage":72,"snmp_percentage":0.0,"lambda_functions_usage":0.0,"snmp_usage":0,"lambda_functions_percentage":0.0,"container_usage":1.08,"lambda_usage":0.0,"apm_host_percentage":100.0,"infra_host_percentage":100.0,"npm_host_usage":4,"infra_host_usage":25,"api_percentage":100.0,"npm_host_percentage":100.0,"lambda_invocations_usage":0.0,"fargate_percentage":0.0,"browser_percentage":100.0,"custom_timeseries_usage":20.98}},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","tags":null,"updated_at":"2021-04-08T22","month":"2021-04-01T00:00:00+00:00","values":{"lambda_percentage":0.0,"apm_host_usage":2,"api_usage":123236,"custom_timeseries_percentage":100.0,"fargate_usage":0.0,"lambda_invocations_percentage":0.0,"container_percentage":100.0,"browser_usage":72,"snmp_percentage":0.0,"lambda_functions_usage":0.0,"snmp_usage":0,"lambda_functions_percentage":0.0,"container_usage":1.08,"lambda_usage":0.0,"apm_host_percentage":100.0,"infra_host_percentage":100.0,"npm_host_usage":4,"infra_host_usage":25,"api_percentage":100.0,"npm_host_percentage":100.0,"lambda_invocations_usage":0.0,"fargate_percentage":0.0,"browser_percentage":100.0,"custom_timeseries_usage":20.98}},{"org_name":"DD
      Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","tags":{"project":[]},"updated_at":"2021-04-08T22","month":"2021-04-01T00:00:00+00:00","values":{"lambda_percentage":0.0,"apm_host_usage":2,"api_usage":123236,"custom_timeseries_percentage":61.87,"fargate_usage":0.0,"lambda_invocations_percentage":0.0,"container_percentage":100.0,"browser_usage":72,"snmp_percentage":0.0,"lambda_functions_usage":0.0,"snmp_usage":0,"lambda_functions_percentage":0.0,"container_usage":1.08,"lambda_usage":0.0,"apm_host_percentage":100.0,"infra_host_percentage":16.0,"npm_host_usage":0,[...]
