---
version: 1
interactions:
- request:
    body: |
      {"message":"Test-TestScopedDowntime-1618220934","scope":["test:client-TestScopedDowntime-1618220934243596000","test:go-TestScopedDowntime-1618220934243596000"],"start":1618220934,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1618220934,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:client-TestScopedDowntime-1618220934243596000","test:go-TestScopedDowntime-1618220934243596000"],"message":"Test-TestScopedDowntime-1618220934","downtime_type":2,"id":1217084547,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
{"scope":"test:go-TestScopedDowntime-1618220934243596000"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CancelDowntimesByScope
    url: https://api.datadoghq.com/api/v1/downtime/cancel/by_scope
    method: POST
  response:
    body: '{"cancelled_ids":[1217084562]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1217084563
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 204 No Content
    code: 204
    duration: ""
[...]
