---
version: 1
interactions:
- request:
    body: |
      {"priority":"normal","source_type_name":"datadog-api-client-go","tags":["test","client:go"],"text":"example text","title":"test event from go client"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5332781346049403662,"title":"test event from
      go client","text":"example text","date_happened":1582121403,"handle":null,"priority":"normal","related_event_id":null,"tags":["test","client:go"],"url":"https://app.datadoghq.com/event/event?id=5332781346049403662"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events/5332781346049403662
    method: GET
  response:
    body: '{"errors": ["No event matches that event_id."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Version:
      - "35.2189722"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events/5332781346049403662
    method: GET
  response:
    body: '{"event":{"date_happened":1582121403,"alert_type":"info","resource":"/api/v1/events/5332781346049403662","title":"test
      event from go client","url":"/event/event?id=5332781346049403662","text":"example
      text","tags":["client:go","test"],"device_name":null,"priority":"normal","host":null,"id":5332781346049403662}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - KPtz/M5QZsh8TUlBKvtLnmLrmJbks++Ouu/uhjeBY1riZ6WDk2mw46z2dAis4UrL
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events?end=1582121413&priority=normal&sources=datadog-api-client-go&start=1582121393&tags=test%2Cclient%3Ago&unaggregated=true
    method: GET
  response:
    body: '{"events":[{"date_happened":1582121403,"alert_type":"info","is_aggregate":false,"title":"test
      event from go client","url":"/event/event?id=5332781346049403662","text":"example
      text","tags":["client:go","test"],"comments":[],"device_name":null,"priority":"normal","source":"My
      Apps","host":null,"resource":"/api/v1/events/5332781346049403662","id":5332781346049403662}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - cP94/MUNJlkd22yIuwhhnlRTtTM8gAGAbI+ErVugsJe0FRQZf13joB7+xy9gsc+Z
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
