---
version: 1
interactions:
- request:
    body: |
      {"account_id":"Test-TestAddAndSaveAWSLogs-1617977587","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"3967fa8252f8466c85ef196ae6b202f8"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"Test-TestAddAndSaveAWSLogs-1617977587","lambda_arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSLambdaARN
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"Test-TestAddAndSaveAWSLogs-1617977587","services":["s3","elb","elbv2","cloudfront","redshift","lambda"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - EnableAWSLogServices
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
[...]
