---
version: 1
interactions:
- request:
    body: '{"priority":"normal","source_type_name":"datadog-api-client-go","tags":["test","client:go"],"text":"example
      text","title":"go-TestEventLifecycle-local-1589290252"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5453054678476418724,"title":"go-TestEventLifecycle-local-1589290252","text":"example
      text","date_happened":1589290253,"handle":null,"priority":"normal","related_event_id":null,"tags":["test","client:go"],"url":"https://app.datadoghq.com/event/event?id=5453054678476418724"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetEvent
    url: https://api.datadoghq.com/api/v1/events/5453054678476418724
    method: GET
  response:
    body: '{"errors": ["No event matches that event_id."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Version:
      - "35.2492943"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetEvent
    url: https://api.datadoghq.com/api/v1/events/5453054678476418724
    method: GET
  response:
    body: '{"event":{"date_happened":1589290253,"alert_type":"info","resource":"/api/v1/events/5453054678476418724","title":"go-TestEventLifecycle-local-1589290252","url":"/event/event?id=5453054678476418724","text":"example
      text","tags":["client:go","test"],"device_name":null,"priority":"normal","host":null,"id":5453054678476418724}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - 3HdHD6wWiRfiP8hQjUNTx9zkEc5LUHfck4mpCo8hdcK7VOwtwatSX4gx0lRj+FOI
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListEvents
    url: https://api.datadoghq.com/api/v1/events?end=1589290263&priority=normal&sources=datadog-api-client-go&start=1589290243&tags=test%2Cclient%3Ago&unaggregated=true
    method: GET
  response:
    body: '{"events":[{"date_happened":1589290253,"alert_type":"info","is_aggregate":false,"title":"go-TestEventLifecycle-local-1589290252","url":"/event/event?id=5453054678476418724","text":"example
      text","tags":["client:go","test"],"comments":[],"device_name":null,"priority":"normal","source":"My
      Apps","host":null,"resource":"/api/v1/events/5453054678476418724","id":5453054678476418724}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - CLxfRZm50m7zpGL0ZTUIbg21HZwIebJJcJd7PIRqgZ8SikrMUg6zn8vhED9JlpCm
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
