---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-client-test-host", "metric": "Test_TestMetrics_1618221195",
      "points": [[1618221135.000000, 10.5], [1618221195.000000, 11]], "tags": ["tag:foo",
      "bar:baz"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListActiveMetrics
    url: https://api.datadoghq.com/api/v1/metrics?from=1618221195
    method: GET
  response:
    body: '{"metrics":[],"from":"1618221195"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - avItM/vasf5577ctA38LDT0J2A9+fvs/uvoH0cN7ua0YsjdSdTqOUoUrjVr1Jdbk
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "975"
      X-Ratelimit-Reset:
      - "405"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - QueryMetrics
    url: https://api.datadoghq.com/api/v1/query?from=1618221095&query=avg%3ATest_TestMetrics_1618221195%7Bbar%3Abaz%7Dby%7Bhost%7D&to=1618221295
    method: GET
  response:
    body: '{"status":"ok","res_type":"time_series","from_date":1618221095000,"series":[{"end":1618221195000,"attributes":{},"metric":"Test_TestMetrics_1618221195","interval":1,"tag_set":["host:go-client-test-host"],"start":1618221135000,"length":2,"query_index":0,"aggr":"avg","scope":"bar:baz,host:go-client-test-host","pointlist":[[1618221135000.0,10.5],[1618221195000.0,11.0]],"expression":"avg:Test_TestMetrics_1618221195{bar:baz,host:go-client-test-host}","unit":null,"display_name":"Test_TestMetrics_1618221195"}],"to_date":1618221295000,"resp_version":1,"query":"avg:Test_TestMetrics_1618221195{bar:baz}by{host}","message":"","group_by":["host"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - jFewb+r/PyY1qG2Hz1nGa26sZVfb0Glhnnkt/VZXOk/OEjVhnlhh0mqRIdk7/k7O
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "1596"
      X-Ratelimit-Reset:
      - "385"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListMetrics
    url: https://api.datadoghq.com/api/v1/search?q=metrics%3ATest_TestMetrics_1618221195
    method: GET
  response:
    body: '{"results":{"metrics":["Test_TestMetrics_1618221195"]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - H3w8Mrr3Zvvyelxd0CzW5tO9iiphi07m1Jtc4gdzQXXO5XTfzeUGAoulmS4WWkh5
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMetricMetadata
    url: https://api.datadoghq.com/api/v1/metrics/Test_TestMetrics_1618221195
    method: GET
  response:
    body: '{"description":null,"short_name":null,"integration":null,"statsd_interval":null,"per_unit":null,"type":null,"unit":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5BjIP66/WkguTt6WYJqul4fmsD0R3Xxrwlzr4pBdsyGzjZaOVscrc8uYVxgkeTdP
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
