---
version: 1
interactions:
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-tt1617977606","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","tenant_name":"Test-TestUpdateAzureAccount-1617977606"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-tt1617977606","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","host_filters":"filter:foo,test:bar","new_client_id":"testc7f6-1234-5678-9101-uu1617977606","new_tenant_name":"Test-TestUpdateAzureAccount-1617977606-updated","tenant_name":"Test-TestUpdateAzureAccount-1617977606"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: PUT
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
  response:
    body: '[{"tenant_name":"Test-TestUpdateAzureAccount-1617977606-updated","automute":false,"errors":[],"host_filters":"filter:foo,test:bar","client_id":"testc7f6-1234-5678-9101-uu1617977606"},{"tenant_name":"go-TestAzureListandDelete-46324-1613144994","automute":null,"errors":["Datadog
      could not query tenant go-TestAzureListandDelete-46324-1613144994 and client
      ID testc7f6-1234-5678-9101-tt1613144994: invalid credentials"],"host_filters":"","client_id":"testc7f6-1234-5678-9101-tt1613144994"},{"tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basic-42512-1611580206","automute":null,"errors":["Datadog
      could not query tenant tf-TestAccDatadogLogsArchiveAzure_basic-42512-1611580206
      and client ID testc7f6-1234-5678-9101-3fcbf464test: invalid credentials"],"host_filters":"","client_id":"testc7f6-1234-5678-9101-3fcbf464test"}]'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-uu1617977606","host_filters":"test:foo,test:bar","tenant_name":"Test-TestUpdateAzureAccount-1617977606-updated"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAzureHostFilters
    url: https://api.datadoghq.com/api/v1/integration/azure/host_filters
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
[...]
