---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?month=2018-04-10T15%3A36%3A10%2B02%3A00
    method: GET
  response:
    body: '{"errors": ["month cannot go beyond 15 months in the past; the farthest
      you can go: 2019-01"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377872"
      X-Ratelimit-Limit:
      - "200"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "152"
      X-Ratelimit-Reset:
      - "1430"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?month=2018-04-10T15%3A36%3A10%2B02%3A00
    method: GET
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
