---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboards
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2020-04-22T19:54:33.127384+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"A
      dashboard with memory info.","title":"Test Manage Status Widget","url":"/dashboard/qq6-s27-inu/test-manage-status-widget","layout_type":"free","modified_at":"2020-04-22T19:54:33.127393+00:00","id":"qq6-s27-inu"},{"created_at":"2020-04-22T20:34:39.800469+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"A
      dashboard with memory info.","title":"Test Manage Status Widget with 0","url":"/dashboard/ttt-buk-mnh/test-manage-status-widget-with-0","layout_type":"free","modified_at":"2020-04-22T20:34:39.800475+00:00","id":"ttt-buk-mnh"},{"created_at":"2020-04-09T15:47:01.196496+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"","titl[...]
