---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1582391685&metric_query=system.load.1%7B%2A%7D&start=1582305285
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2020-02-21/421141e8e8096ed0e9563389d0db66608bff7aaa.png","metric_query":"system.load.1{*}"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 8jOW1djIgkdkj4STw+0pQ3G+kGKfu548DWINvnE6phacY0k9vgC3cU1LaI38XIYk
      X-Dd-Version:
      - "35.2200256"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "57"
      X-Ratelimit-Reset:
      - "2715"
    status: 200 OK
    code: 200
    duration: ""
