---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-1589290310867529000", "ddtags": "go,test,list",
      "hostname": "go-TestLogsList-local-1589290310", "message": "{\"timestamp\":
      1589290309000, \"message\": \"test-log-list-1589290310867529000\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1589290310867529000","sort":"asc","time":{"from":"2020-05-12T14:31:50.867529+02:00","to":"2020-05-12T16:31:50.867529+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[],"nextLogId":null,"status":"done","requestId":"WlBjNk1yUFdUd0tleFZjZzdCcWFCd3xpSDBtNkpXcF94b1ltR0x0OGZMY2x3"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - sgAvQyAKPyobGXoiOCu8Q81ER70Hw5+XKGo6tWwPpZGH92cwcjlY4bCz5os5EMoF
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "288"
      X-Ratelimit-Reset:
      - "1689"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1589290310867529000","sort":"asc","time":{"from":"2020-05-12T14:31:50.867529+02:00","to":"2020-05-12T16:31:50.867529+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXIJFZWItSvJQQAAAABBWElKRlo2eDJOa216eFlPdmNBQQ","content":{"host":"go-TestLogsList-local-1589290310","attributes":{"hostname":"go-TestLogsList-local-1589290310","timestamp":1589290309000},"message":"test-log-list-1589290310867529000","timestamp":"2020-05-12T13:31:49.000Z","tags":["source:go-client-test-1589290310867529000","test","source:go-client-test-1589290310867529000","go","list"]}},{"id":"AQAAAXIJFZlwtaZJQQAAAABBWElKRlo4NTJOa216eFlPT0VBQQ","content":{"host":"go-TestLogsList-local-1589290310","attributes":{"hostname":"go-TestLogsList-local-1589290310","timestamp":1589290310000},"message":"second-test-log-list-1589290310867529000","timestamp":"2020-05-12T13:31:50.000Z","tags":["source:go-client-test-1589290310867529000","test","source:go-client-test-1589290310867529000","go","list"]}}],"nextLogId":null,"status":"done","requestId":"ZWFETUMwVHVRaFdhVl9RZEx2U0pyQXxsbDZrb0doQzJpQkZwSnlEdWZjSTJn"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - wUB6XCWFCuYxHv80iGQxT6U/FEoYd1FGOyZQcaia8XFs3+H9/U+S+RvsumOQFmEe
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "283"
      X-Ratelimit-Reset:
      - "1663"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":1,"query":"source:go-client-test-1589290310867529000","sort":"asc","startAt":"AQAAAXIJFZlwtaZJQQAAAABBWElKRlo4NTJOa216eFlPT0VBQQ","time":{"from":"2020-05-12T14:31:50.867529+02:00","to":"2020-05-12T16:31:50.867529+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXIJFZlwtaZJQQAAAABBWElKRlo4NTJOa216eFlPT0VBQQ","content":{"host":"go-TestLogsList-local-1589290310","attributes":{"hostname":"go-TestLogsList-local-1589290310","timestamp":1589290310000},"message":"second-test-log-list-1589290310867529000","timestamp":"2020-05-12T13:31:50.000Z","tags":["source:go-client-test-1589290310867529000","test","source:go-client-test-1589290310867529000","go","list"]}}],"nextLogId":null,"status":"done","requestId":"Q3FSYl8zdmdSN2Uzak1yNHgtaHFCQXxsbDZrb0doQzJpQkZwSnlEdWZjSTJn"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - Uw1S4wtNR4TtQZ2UP5PoJuAdPB8qmcIlASdydiqnYVAvE9iR230dj4gtfEOO0Tw/
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "281"
      X-Ratelimit-Reset:
      - "1662"
    status: 200 OK
    code: 200
    duration: ""
