---
version: 1
interactions:
- request:
    body: |
      {"account_id":"go_935081000","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"c3f6a525c70f4b58ac1f9407bd2b752a"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yqCkAb2Y8/4OgTSGYvedTl/k5gsPukDI7OLTlGSm9adIbRDVlGb00Ve5DDv9ImFD
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"go_935081000","lambda_arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - em3KoJu1XYdqq1w4EpLi4L54svjYBxZahEDJ8c5gcdIOxnNafHMdF5LLysPLuNcH
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"go_935081000","services":["s3","elb","elbv2","cloudfront","redshift","lambda"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bZImwKnIO3sUAXCuyRs9fWaEMDsBOTeSFh5dFNajdvBKpGDGzy05mj4PBPSf18hx
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
    method: GET
  response:
    body: '[{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_9103689","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"123456789101","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_0271054","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_9045316","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"go_654304491","lambdas":[{"arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"go_137731596","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_9239330","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_9265355","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_1452359","lambdas":[]},{"s[...]
[...]
