---
version: 1
interactions:
- request:
    body: |
      {"account_id":"go_801939000","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"ef84fc70135b4349ad8332fa9c1a00de"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bZxgHnChon9vZm5xdRa4NrQAYSVWc7iQc54D228L4geTT/U2FwMh0nkSo8j+6vpL
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"go_801939000","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws/generate_new_external_id
    method: PUT
  response:
    body: '{"external_id":"a9be57534d53400aa0970b70b01fe7ca"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QO3HutZQjgMDp/HqClcLon+qq5lEghb3LRV+gXMIQ2Jivd1m1eEGCh0RxplUQMIV
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
[...]
