---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageHosts
    url: https://api.datadoghq.com/api/v1/usage/hosts?end_hr=2020-04-13T00%3A00%3A00Z&start_hr=2020-04-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"host_count":10,"container_count":null,"hour":"2020-04-12T00:00:00+00:00","alibaba_host_count":0,"agent_host_count":10,"apm_host_count":null,"gcp_host_count":0,"azure_host_count":0,"aws_host_count":0},{"host_count":10,"container_count":null,"hour":"2020-04-12T01:00:00+00:00","alibaba_host_count":0,"agent_host_count":10,"apm_host_count":null,"gcp_host_count":0,"azure_host_count":0,"aws_host_count":0},{"host_count":10,"container_count":null,"hour":"2020-04-12T02:00:00+00:00","alibaba_host_count":0,"agent_host_count":10,"apm_host_count":null,"gcp_host_count":0,"azure_host_count":0,"aws_host_count":0},{"host_count":10,"container_count":null,"hour":"2020-04-12T03:00:00+00:00","alibaba_host_coun[...]
