---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"content-type","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"}],"request":{"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"testing Synthetics API test - this is message","name":"testing Synthetics API test","options":{"accept_self_signed":false,"follow_redirects":true,"min_location_failed":10,"retry":{"count":5,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"zzy-bii-n5r","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"testing
      Synthetics API test - this is message","deleted_at":null,"name":"testing Synthetics
      API test","monitor_id":15961486,"type":"api","created_at":"2020-02-21T17:14:50.681362+00:00","modified_at":"2020-02-21T17:14:50.681362+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"follow_redirects":true,"accept_self_signed":false,"retry":{"count":5,"interval":10},"min_location_failed":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KHJbOoqp3I4BOBzIFnc/Ois3eg3Rjmudy0YalRpnXQEDXDoppykpDMDaJPIufi9t
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"testing Synthetics Browser test - this is message","name":"testing Synthetics Browser test","options":{"accept_self_signed":false,"device_ids":["tablet"],"follow_redirects":true,"min_location_failed":10,"retry":{"count":5,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"stw-kv6-rdd","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"testing
      Synthetics Browser test - this is message","deleted_at":null,"name":"testing
      Synthetics Browser test","monitor_id":15961487,"type":"browser","created_at":"2020-02-21T17:14:51.139006+00:00","modified_at":"2020-02-21T17:14:51.139006+00:00","config":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: GET
  response:
    body: '{"tests":[{"status":"live","public_id":"zzy-bii-n5r","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"testing
      Synthetics API test - this is message","name":"testing Synthetics API test","monitor_id":15961486,"type":"api","created_at":"2020-02-21T17:14:50.681362+00:00","modified_at":"2020-02-21T17:14:50.681362+00:00","subtype":"http","config":[...]
- request:
    body: |
      {"public_ids":["stw-kv6-rdd"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-02-21T17:14:51.685825+00:00","public_id":"stw-kv6-rdd"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aERr2Ftx8O/BR8oAhSymZ3bVROQEC+81YMSphOQK1me4DxXSbMIcFkB0Di4ggZ++
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
[...]
