---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1583728566&event_query=successful+builds&metric_query=system.load.1%7B%2A%7D&start=1583642166
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2020-03-08/d9aa1b13c00152eb0f70267379ba6f69b0daefa4.png","event_query":"successful
      builds","metric_query":"system.load.1{*}"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aJ6GOq3zw1bWl+5n1TKdeAvWSB1g5Zer85qbkQ07UFNZhgfVh/zeqVhNb8FjtbN9
      X-Dd-Version:
      - "35.2251913"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "57"
      X-Ratelimit-Reset:
      - "1433"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1583728566&graph_def=%7B%22requests%22%3A+%5B%7B%22q%22%3A+%22system.load.1%7B%2A%7D%22%7D%5D%7D&start=1583642166
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2020-03-08/75963e66dcf0a31a75448a82a92d41979d5e51ad.png"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ADT0ms9dQnbDHbbduv4c09ChngZrYY7A/Pgms/qacMOruS4mPwZ1GJWq74I7G11W
      X-Dd-Version:
      - "35.2251913"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "56"
      X-Ratelimit-Reset:
      - "1433"
    status: 200 OK
    code: 200
    duration: ""
