---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDailyCustomReports
    url: https://api.datadoghq.com/api/v1/daily_custom_reports
    method: GET
  response:
    body: '{"meta":{"page":{"total_count":1}},"data":[{"type":"reports","id":"2020-07-15","attributes":{"tags":["project"],"start_date":"2020-07-15","end_date":"2020-07-15","size":12297,"computed_on":"2020-07-16T13:47:05+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_wallace
      X-Dd-Debug:
      - SHIs9Wpk6KGqmDU1lB1cbw2NUTj9vFJt6HNXPbX02EQ6d5C7ZJRJEtMj9BTu1eiN
      X-Dd-Version:
      - "35.2747870"
    status: 200 OK
    code: 200
    duration: ""
