---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?month=2020-02-19T15%3A13%3A10%2B01%3A00
    method: GET
  response:
    body: '{"usage":[{"metric_category":"custom","metric_name":"test_python3.test_python3_promcheck","max_metric_hour":56,"avg_metric_hour":36},{"metric_category":"custom","metric_name":"go.client.test.metric","max_metric_hour":18,"avg_metric_hour":3},{"metric_category":"custom","metric_name":"java.client.test.metric","max_metric_hour":14,"avg_metric_hour":3},{"metric_category":"custom","metric_name":"dogwrap.duration","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"foo","max_metric_hour":1,"avg_metric_hour":1},{"metric_category":"custom","metric_name":"go.client.test.1580688371","max_metric_hour"[...]
