---
version: 1
interactions:
- request:
    body: |
      {"override":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/host/go-client-test-hostname-1586173661/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":789373093,"hostname":"go-client-test-hostname-1586173661"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 6TICFxDFBNq65Lw6aA0hO1z7nxUSiTzUAT0k7ln4UasEU6/emXomwtYWMJdIuxUV
      X-Dd-Version:
      - "35.2359491"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/host/go-client-test-hostname-1586173661/mute
    method: POST
  response:
    body: '{"errors": ["host:go-client-test-hostname-1586173661 is already muted.
      To mute this host with a different end timestamp,                             add
      ?override=true to your request."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2359491"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/host/go-client-test-hostname-1586173661/mute
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/host/go-client-test-hostname-1586173661/unmute
    method: POST
  response:
    body: '{"action":"Unmuted","downtime_id":789373093,"hostname":"go-client-test-hostname-1586173661"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - DNJM9d0LaQZJbuEjasKEmgCwDoiLnJW9mPQJm+yWIlQRbFhX4Vzx4uuDCt38dWhb
      X-Dd-Version:
      - "35.2359491"
    status: 200 OK
    code: 200
    duration: ""
