---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testuserupdateerrors-1586867918193952000@integration-tests-accnt-for-sdk-ci.com","handle":"testuserupdateerrors-1586867918193952000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserUpdateErrors-1586867918193952000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testuserupdateerrors-1586867918193952000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserUpdateErrors-1586867918193952000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testuserupdateerrors-1586867918193952000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/d91d8927814ae0308f99a243c5ee0ca9?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2388719"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"access_role":"st","email":"notanemail"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/testuserupdateerrors-1586867918193952000%40integration-tests-accnt-for-sdk-ci.com
    method: PUT
  response:
    body: '{"errors": ["Format of ''email'' should be email"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2388719"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"access_role":"st","email":"notanemail"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/notahandle
    method: PUT
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testuserupdateerrors-1586867918193952000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testuserupdateerrors-1586867918193952000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2388719"
    status: 200 OK
    code: 200
    duration: ""
