---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testcreateuser-1582305293828893000@integration-tests-accnt-for-sdk-ci.com","handle":"testcreateuser-1582305293828893000@integration-tests-accnt-for-sdk-ci.com","name":"TestCreateUser-1582305293828893000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testcreateuser-1582305293828893000@integration-tests-accnt-for-sdk-ci.com","name":"TestCreateUser-1582305293828893000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testcreateuser-1582305293828893000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/a2af80dbb2a35b7e182372fc5871c40e?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ErnxdXQi+pjNvJU00qnaaPgTN904IR+BI4NeCvSijs0uGcTaVMOpPOuObFW+gkC6
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testcreateuser-1582305293828893000%40integration-tests-accnt-for-sdk-ci.com
    method: GET
  response:
    body: '{"user":{"handle":"testcreateuser-1582305293828893000@integration-tests-accnt-for-sdk-ci.com","access_role":"ro","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/a2af80dbb2a35b7e182372fc5871c40e?s=48&d=retro","verified":false,"name":"TestCreateUser-1582305293828893000","roles":[{"uuid":"94172444-be03-11e9-a77a-db1879185210","created_at":"2019-08-13T19:50:19.111007","name":"Datadog
      Read Only Role","last_modified":"2019-08-13T19:50:19.111007","id":904117,"permissions":[{"display_name":"Monitors","description":"The
      ability to view monitors.","restricted":true,"created_at":"2019-09-16T18:39:07.744297","name":"monitors_read","uuid":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"display_name":"Dashboards","description":"The
      ability to view dashboards.","restricted":true,"created_at":"2019-09-10T14:39:51.955175","name":"dashboards_read","uuid":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"display_name":"Logs
      Live Tail Access","description":"The ability to view the live tail feed for
      all log indexes, even if otherwise specifically restricted.","restricted":false,"created_at":"2018-10-31T13:39:48.292879","name":"logs_live_tail","uuid":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"display_name":"Logs
      Read Index Data","description":"The ability to read all or some log indexes.
      Can be granted in a limited capacity per index from the Logs interface or APIs.
      If granted via the Roles interface or API the permission has global scope.","restricted":false,"created_at":"2018-10-31T13:39:19.727450","name":"logs_read_index_data","uuid":"5e605652-dd12-11e8-9e53-375565b8970e"}]}],"title":null,"role":null,"email":"testcreateuser-1582305293828893000@integration-tests-accnt-for-sdk-ci.com"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yqCkAb2Y8/4OgTSGYvedTl/k5gsPukDI7OLTlGSm9adIbRDVlGb00Ve5DDv9ImFD
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testcreateuser-1582305293828893000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testcreateuser-1582305293828893000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5gIeAyE850e1lqVwTAgwvudewR8EzuQd3qGaXsS2D0CKQVhFOIjBoeQYiH0qPohy
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
