---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2020-01-30T16:14:02.512610+00:00","author_handle":"jiri.kuncar@datadoghq.com","is_read_only":false,"description":null,"title":"Ji\u0159\u00ed''s
      Timeboard 30 Jan 2020 17:14","url":"/dashboard/gad-3zj-7qu/jis-timeboard-30-jan-2020-1714","layout_type":"ordered","modified_at":"2020-02-03T13:52:59.228379+00:00","id":"gad-3zj-7qu"},{"created_at":"2020-01-30T21:02:05.256491+00:00","author_handle":"nicholas.muesch@datadoghq.com","is_read_only":false,"description":"","title":"gggdfg","url":"/dashboard/t4j-ahm-8mh/gggdfg","layout_type":"free","modified_at":"2020-02-14T18:48:09.146665+00:00","id":"t4j-ahm-8mh"},{"created_at":"2020-02-11T13:49:29.547768+00:00","author_handle":"hippolyte.henry@datadoghq.com","is_read_only":true,"description":"","title":"For
      dashboard list tests - DO NOT DELETE","url":"/dashbo[...]
