---
version: 1
interactions:
- request:
    body: |
      {"api_token":"apitoken","schedules":["schedule"],"services":[],"subdomain":"subdomain"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: '{"errors": ["invalid_inputs: [u''pagerduty_schedule_url_1'']"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"api_token":"apitoken","schedules":["schedule"],"services":[],"subdomain":"subdomain"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
