---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"content-type","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"go-TestSyntheticsTriggerCIAndTriggerTests-local-1606471970","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"p5f-gac-guh","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"go-TestSyntheticsTriggerCIAndTriggerTests-local-1606471970","monitor_id":26326596,"type":"api","created_at":"2020-11-27T10:12:50.917822+00:00","modified_at":"2020-11-27T10:12:50.917822+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-11-27T10:12:50.843521+00:00"},"key":{"filename":"key-filename","updatedAt":"2020-11-27T10:12:50.843497+00:00"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - O3O7xE5uwHtX7J0LqZ8TwbNGWo9Sdsox9lgU7fr/GZp13UzdkbKQZW76fPVpoSDj
      X-Dd-Version:
      - "35.3435414"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tests":[{"locations":["aws:us-east-2"],"public_id":"p5f-gac-guh"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - TriggerCITests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger/ci
    method: POST
  response:
    body: '{"results":[{"result_id":"1283877169679673557","public_id":"p5f-gac-guh","location":30005}],"triggered_check_ids":["p5f-gac-guh"],"locations":[{"display_name":"Tokyo
      (AWS)","name":"aws:ap-northeast-1","region":"Asia Pacific","is_active":true,"is_public":true,"id":4},{"display_name":"Seoul
      (AWS)","name":"aws:ap-northeast-2","region":"Asia Pacific","is_active":true,"is_public":true,"id":30016},{"display_name":"Mumbai
      (AWS)","name":"aws:ap-south-1","region":"Asia Pacific","is_active":true,"is_public":true,"id":30014},{"display_name":"Singapore
      (AWS)","name":"aws:ap-southeast-1","region":"Asia Pacific","is_active":true,"is_public":true,"id":30015},{"display_name":"Sydney
      (AWS)","name":"aws:ap-southeast-2","region":"Asia Pacific","is_a[...]
- request:
    body: |
      {"public_ids":["p5f-gac-guh"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - TriggerTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger
    method: POST
  response:
    body: '{"results":[{"result_id":"1235027173406991156","public_id":"p5f-gac-guh","location":30005}],"triggered_check_ids":["p5f-gac-guh"],"locations":[{"display_name":"Tokyo
      (AWS)","name":"aws:ap-northeast-1","region":"Asia Pacific","is_active":true,"is_public":t[...]
- request:
    body: |
      {"public_ids":["p5f-gac-guh"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-11-27T10:12:51.461016+00:00","public_id":"p5f-gac-guh"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - BZ+RYjLsV2y+9XXNTM/Wbkdcz3DkJnqgQFCAf9xIIxOOOd9x3Em2wjhPfW0piM2C
      X-Dd-Version:
      - "35.3435414"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
