---
version: 1
interactions:
- request:
    body: |
      {"name":"","thresholds":null,"type":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo/id
    method: PUT
  response:
    body: '{"errors": ["Invalid payload: Minimum length of parameter ''name'' should
      be 1"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2373678"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo/id
    method: PUT
  response:
    body: '{"errors": ["SLO not found: id not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2373521"
    status: 404 Not Found
    code: 404
    duration: ""
