---
version: 1
interactions:
- request:
    body: |
      {"account_id":"Test-TestCreateAWSAccount-1618220881","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"6c7bf34cf39c4ef4a34b500b6c2bd38a"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSAccounts
    url: https://api.datadoghq.com/api/v1/integration/aws?account_id=Test-TestCreateAWSAccount-1618220881&role_name=DatadogAWSIntegrationRole
    method: GET
  response:
    body: '{"accounts":[{"role_name":"DatadogAWSIntegrationRole","excluded_regions":["us-east-1","us-west-1"],"account_id":"Test-TestCreateAWSAccount-1618220881","host_tags":["filter:one","filtertwo"],"account_specific_namespace_rules":{"opsworks":true},"errors":[],"filter_tags":["testTag","test:Tag2"]}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
