---
version: 1
interactions:
- request:
    body: |
      {"description":"variable description","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1633513493","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      description","tags":["synthetics"],"last_error":null,"is_totp":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"3ff484ce-e2af-4fd5-946e-a6f561e53d06","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1633513493"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/3ff484ce-e2af-4fd5-946e-a6f561e53d06
    method: GET
  response:
    body: '{"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"last_error":null,"parse_test_public_id":null,"is_totp":null,"id":"3ff484ce-e2af-4fd5-946e-a6f561e53d06","parse_test_options":null,"name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1633513493","created_at":"2021-10-06T09:44:54.179944+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2021-10-06T09:44:54.179944+00:00","value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGlobalVariables
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: GET
  response:
    body: '{"variables":[{"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"last_error":null,"parse_test_public_id":null,"is_totp":null,"id":"31c52921-0ab4-4b02-b798-4e2f571608d0","parse_test_options":null,"name":"TEST_GO_TESTSYNTHETICSAPIMULTISTEPTESTENDPOINTLIFECYCLE_1633510542","created_at":"2021-10-06T08:55:42.973858+00:00","creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI
      Account"},"modified_at":"20[...]
[...]
