---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"Test-ConfigField-Gen-1","table_id":0,"type":1},"type":"field"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/incidents/config/fields
    method: POST
  response:
    body: '{"data":{"type":"field","id":"1480","attributes":{"name":"Test-ConfigField-Gen-1","default_choice_id":null,"table_id":0,"type":1,"created":"2020-03-09T16:29:25.724881+00:00","modified":"2020-03-09T16:29:25.724881+00:00","deleted":null},"relationships":{"created_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}},"last_modified_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2248986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"Test-Choice-Name","value":"Test-Choice-Value"},"type":"choice"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/incidents/config/fields/1480/relationships/choices
    method: POST
  response:
    body: '{"data":{"type":"choice","id":"6814","attributes":{"name":"Test-Choice-Name","value":"Test-Choice-Value","user_defined_field_id":"1480","created":"2020-03-09T16:29:30.818176+00:00","modified":"2020-03-09T16:29:30.818176+00:00","deleted":null},"relationships":{"created_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}},"last_modified_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2248986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"created":"2020-03-09T16:29:30.818176Z","modified":"2020-03-09T16:29:30.818176Z","name":"Test-ConfigField-Updated","user_defined_field_id":"1480","value":"Test-ConfigField-Updated"},"id":"6814","relationships":{"created_by":{"data":{"id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5","type":"users"}},"last_modified_by":{"data":{"id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5","type":"users"}}},"type":"choice"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/incidents/config/fields/1480/relationships/choices/6814
    method: PATCH
  response:
    body: '{"data":{"type":"choice","id":"6814","attributes":{"name":"Test-ConfigField-Updated","value":"Test-ConfigField-Updated","user_defined_field_id":"1480","created":"2020-03-09T16:29:30.818176+00:00","modified":"2020-03-09T16:29:35.909416+00:00","deleted":null},"relationships":{"created_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}},"last_modified_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2248986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/incidents/config/fields/1480/relationships/choices
    method: GET
  response:
    body: '{"meta":{"pagination":{"limit":1000,"next_offset":1000,"offset":0}},"data":[{"type":"choice","id":"6814","attributes":{"name":"Test-ConfigField-Updated","value":"Test-ConfigField-Updated","user_defined_field_id":"1480","created":"2020-03-09T16:29:30.818176+00:00","modified":"2020-03-09T16:29:35.909416+00:00","deleted":null},"relationships":{"created_by":{"data":{"type":"users","id":null}},"last_modified_by":{"data":{"type":"users","id":null}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2248986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/incidents/config/fields/1480
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2248986"
    status: 204 No Content
    code: 204
    duration: ""
