---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGraphSnapshot
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1618307639&event_query=successful+builds&metric_query=system.load.1%7B%2A%7D&start=1618221239
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2021-04-12/abccbf6cc508e00d6a0cd25cef261c5a7fc0050e.png","event_query":"successful
      builds","metric_query":"system.load.1{*}"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "47"
      X-Ratelimit-Reset:
      - "360"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGraphSnapshot
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1618307639&graph_def=%7B%22requests%22%3A+%5B%7B%22q%22%3A+%22system.load.1%7B%2A%7D%22%7D%5D%7D&start=1618221239
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2021-04-12/a2e942150e6b7b0edf2ff5d558a87091eae4b26c.png"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "46"
      X-Ratelimit-Reset:
      - "360"
    status: 200 OK
    code: 200
    duration: ""
