---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testuserupdateerrors-local-1591954388@integration-tests-accnt-for-sdk-ci.com","handle":"go-testuserupdateerrors-local-1591954388@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserUpdateErrors-local-1591954388"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testuserupdateerrors-local-1591954388@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserUpdateErrors-local-1591954388","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testuserupdateerrors-local-1591954388@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/f44a14905301f037a59e47f19672563d?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - WyM4veckZw3QTGGZ+Ro8psXMR12RERTyuAWc4KNrn9Mfk0tQy+xf5Ofi04GlB+uh
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testuserupdateerrors-local-1591954388@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testuserupdateerrors-local-1591954388@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - JbIYRXbRMsAVaKGy+d2H1ud8Z295ghodOPi6eELPzhmBKrZI3+dlseyrUY1cqOAd
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
