---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/aws_lambda?end_hr=2020-02-13T00%3A00%3A00Z&start_hr=2020-02-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"func_count":86,"hour":"2020-02-12T00:00:00+00:00","invocations_sum":260529},{"func_count":81,"hour":"2020-02-12T01:00:00+00:00","invocations_sum":251574},{"func_count":84,"hour":"2020-02-12T02:00:00+00:00","invocations_sum":245911},{"func_count":76,"hour":"2020-02-12T03:00:00+00:00","invocations_sum":252961},{"func_count":84,"hour":"2020-02-12T04:00:00+00:00","invocations_sum":249038},{"func_count":83,"hour":"2020-02-12T05:00:00+00:00","invocations_sum":243435},{"func_count":79,"hour":"2020-02-12T06:00:00+00:00","invocations_sum":228450},{"func_count":81,"hour":[...]
