---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"go-TestSLOCorrectionsLifecycle-local-1610567016","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch","email":"nicholas.muesch@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"6d06568e2751594da3c2edab0f10440c","name":"go-TestSLOCorrectionsLifecycle-local-1610567016","created_at":1610567016,"tags":["app:httpd"],"modified_at":1610567016,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - hw3ZauSSamfHLo55DFwif1/mO6RiYSc0/libBchlIMnyWX9rK7JgS3Pek5rkz683
      X-Dd-Version:
      - "35.3697436"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"category":"Scheduled Maintenance","end":1610570616,"slo_id":"6d06568e2751594da3c2edab0f10440c","start":1610567016,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction
    method: POST
  response:
    body: '{"data":{"type":"correction","id":"a0a9c170-55d7-11eb-8d09-970ec88c244c","attributes":{"slo_id":"6d06568e2751594da3c2edab0f10440c","start":1610567016,"end":1610570616,"description":"","category":"Scheduled
      Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"35c75c20-eba0-11e9-a77a-db716d075be2","attributes":{"uuid":"35c75c20-eba0-11e9-a77a-db716d075be2","handle":"nicholas.muesch@datadoghq.com","email":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch","icon":"https://secure.gravatar.com/avatar/15c4bba0a667b539709259ef25dfa950?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /waQ67o9EXsAiQILmFHWOTHDJ6E+x7ROC0G8iNmC+2lV58E3PSGYbXj1H62A/c+u
      X-Dd-Version:
      - "35.3697436"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/a0a9c170-55d7-11eb-8d09-970ec88c244c
    method: GET
  response:
    body: '{"data":{"type":"correction","id":"a0a9c170-55d7-11eb-8d09-970ec88c244c","attributes":{"slo_id":"6d06568e2751594da3c2edab0f10440c","start":1610567016,"end":1610570616,"description":"","category":"Scheduled
      Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"35c75c20-eba0-11e9-a77a-db716d075be2","attributes":{"uuid":"35c75c20-eba0-11e9-a77a-db716d075be2","handle":"nicholas.muesch@datadoghq.com","email":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch","icon":"https://secure.gravatar.com/avatar/15c4bba0a667b539709259ef25dfa950?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - h6yqPaHNwx3ZGZPMs75pO93HC01YoL8B6e/Fb89zqQCmU57u6KTAhksrYQV/dzkY
      X-Dd-Version:
      - "35.3697436"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/a0a9c170-55d7-11eb-8d09-970ec88c244c
    method: DELETE
  response:
    body: '{"errors": ["slo correction public id a0a9c170-55d7-11eb-8d09-970ec88c244c
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3697436"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "23"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/6d06568e2751594da3c2edab0f10440c
    method: DELETE
  response:
    body: '{"data":["6d06568e2751594da3c2edab0f10440c"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - x0lXQI7rzyICHjQ6egBdIXvv6oH1uc+zPjPKGBnD3VLYo8imKB14VpRl9Uf7xZN/
      X-Dd-Version:
      - "35.3697436"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "23"
    status: 200 OK
    code: 200
    duration: ""
