---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-client-test-host", "metric": "go_TestMetrics_local_1589290338",
      "points": [[1589290278.000000, 10.5], [1589290338.000000, 11]], "tags": ["tag:foo",
      "bar:baz"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListActiveMetrics
    url: https://api.datadoghq.com/api/v1/metrics?from=1589290338
    method: GET
  response:
    body: '{"metrics":[],"from":"1589290338"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - 8saNDTz8NMj8RaYRfOuAYm5/HbaFU0si2fM/O5BHwD6seNAnn5cqHRJ4VFguvQBx
      X-Dd-Version:
      - "35.2493025"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "75"
      X-Ratelimit-Reset:
      - "1661"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - QueryMetrics
    url: https://api.datadoghq.com/api/v1/query?from=1589290238&query=avg%3Ago_TestMetrics_local_1589290338%7Bbar%3Abaz%7Dby%7Bhost%7D&to=1589290438
    method: GET
  response:
    body: '{"status":"ok","res_type":"time_series","from_date":1589290238000,"series":[{"end":1589290338000,"attributes":{},"metric":"go_TestMetrics_local_1589290338","interval":1,"tag_set":["host:go-client-test-host"],"start":1589290278000,"length":2,"query_index":0,"aggr":"avg","scope":"bar:baz,host:go-client-test-host","pointlist":[[1589290278000.0,10.5],[1589290338000.0,11.0]],"expression":"avg:go_TestMetrics_local_1589290338{bar:baz,host:go-client-test-host}","unit":null,"display_name":"go_TestMetrics_local_1589290338"}],"to_date":1589290438000,"resp_version":1,"query":"avg:go_TestMetrics_local_1589290338{bar:baz}by{host}","message":"","group_by":["host"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - BZwFeHet+WkV9OfqjnSc+0QYXU8z2v2WntFWz0gEJEdxXAgKGw9h2Zzd++z3Hg75
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "598"
      X-Ratelimit-Reset:
      - "1640"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListMetrics
    url: https://api.datadoghq.com/api/v1/search?q=metrics%3Ago_TestMetrics_local_1589290338
    method: GET
  response:
    body: '{"results":{"metrics":["go_TestMetrics_local_1589290338"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - WGEt22UyFjacPJiGCGldkpXy7hlYR0GLzW8P2raGKCRis5TmejD07wafhQzZGMqG
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMetricMetadata
    url: https://api.datadoghq.com/api/v1/metrics/go_TestMetrics_local_1589290338
    method: GET
  response:
    body: '{"description":null,"short_name":null,"integration":null,"statsd_interval":null,"per_unit":null,"type":null,"unit":null}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - i88VE4uHAwA5IXh/0IEXQAhr5hGCH9aMkIrX0bISt7VZwzJ4lfiprkupftdl3u1X
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
[...]
