---
version: 1
interactions:
- request:
    body: |
      {"ddsource":"go-client-test-1582121455757089000","ddtags":"go,test,list","hostname":"datadog-api-client-go-test-1582121455757089000","message":"{\"timestamp\": 1582121454000, \"message\": \"test-log-list-1582121455757089000\"}"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1582121455757089000","sort":"asc","time":{"from":"2020-02-19T14:10:55.757089+01:00","to":"2020-02-19T16:10:55.757089+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[],"nextLogId":null,"status":"done","requestId":"U09BbGtfZkhRQnlkbEJabm43d1NmUXxGUVQ1T3VaZ0NtS1FLTkVvTzFiWnFn"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - BZwFeHet+WkV9OfqjnSc+0QYXU8z2v2WntFWz0gEJEdxXAgKGw9h2Zzd++z3Hg75
      X-Dd-Version:
      - "35.2189722"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "290"
      X-Ratelimit-Reset:
      - "2944"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1582121455757089000","sort":"asc","time":{"from":"2020-02-19T14:10:55.757089+01:00","to":"2020-02-19T16:10:55.757089+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXBdyYmwgRCM8AAAAABBWEJkeVpEd0dJMEZiMGNYTmtZZA","content":{"host":"datadog-api-client-go-test-1582121455757089000","attributes":{"hostname":"datadog-api-client-go-test-1582121455757089000","timestamp":1582121454000},"message":"test-log-list-1582121455757089000","timestamp":"2020-02-19T14:10:54.000Z","tags":["source:go-client-test-1582121455757089000","test","go","source:go-client-test-1582121455757089000","list"]}},{"id":"AQAAAXBdyY2YubxNsgAAAABBWEJkeVpHZENIQmlYSjVDLUVscw","content":{"host":"datadog-api-client-go-test-1582121455757089000","attributes":{"hostname":"datadog-api-client-go-test-1582121455757089000","timestamp":1582121455000},"message":"second-test-log-list-1582121455757089000","timestamp":"2020-02-19T14:10:55.000Z","tags":["source:go-client-test-1582121455757089000","test","go","source:go-client-test-1582121455757089000","list"]}}],"nextLogId":null,"status":"done","requestId":"aUVEYWgtTTZTU1NIMmxxUFAxUngxQXxRdXVBZXVxeTBMSmwzZWdGWmkxYl9R"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - 50q3to1/t5fo3iXliCqPI7w3DFp8OJ4/AQwaoZXD1Djj2ibTc2tQW+dnoV33Piia
      X-Dd-Version:
      - "35.2189722"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "284"
      X-Ratelimit-Reset:
      - "2913"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":1,"query":"source:go-client-test-1582121455757089000","sort":"asc","startAt":"AQAAAXBdyY2YubxNsgAAAABBWEJkeVpHZENIQmlYSjVDLUVscw","time":{"from":"2020-02-19T14:10:55.757089+01:00","to":"2020-02-19T16:10:55.757089+01:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXBdyY2YubxNsgAAAABBWEJkeVpHZENIQmlYSjVDLUVscw","content":{"host":"datadog-api-client-go-test-1582121455757089000","attributes":{"hostname":"datadog-api-client-go-test-1582121455757089000","timestamp":1582121455000},"message":"second-test-log-list-1582121455757089000","timestamp":"2020-02-19T14:10:55.000Z","tags":["source:go-client-test-1582121455757089000","test","go","source:go-client-test-1582121455757089000","list"]}}],"nextLogId":null,"status":"done","requestId":"VlpUdGdwWHFRX1cyQ19MNHE0eHg2d3xBaDdjaXFkQ2diUmJDeUpUcjJ6eTNR"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - X53of74tN20FE4fydfdmOQNG5Xjoww1crd4F6UNZWCSiqfTKtJm+P35GdubCQZ+y
      X-Dd-Version:
      - "35.2189722"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "282"
      X-Ratelimit-Reset:
      - "2913"
    status: 200 OK
    code: 200
    duration: ""
