---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testuserdisableerrors-1587937172598209000@integration-tests-accnt-for-sdk-ci.com","handle":"testuserdisableerrors-1587937172598209000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserDisableErrors-1587937172598209000"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testuserdisableerrors-1587937172598209000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserDisableErrors-1587937172598209000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testuserdisableerrors-1587937172598209000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/9c0a026a81c809237f58fca160733815?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 7TxqGOOndreg52igtXLKdvEB8M2Uby8upoxCr+mzZBPLwPuOVdJ4ujutF+9TQL1R
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/testuserdisableerrors-1587937172598209000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testuserdisableerrors-1587937172598209000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - i90G6k4M6qI4UypyvMoczcO5m+jatiEQSMeHpdjycp0h4nWxRpKUHr6efynkbQs+
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
