---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"test-testuserupdateerrors-1618221311@integration-tests-accnt-for-sdk-ci.com","handle":"test-testuserupdateerrors-1618221311@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserUpdateErrors-1618221311"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test-testuserupdateerrors-1618221311@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserUpdateErrors-1618221311","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testuserupdateerrors-1618221311@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/830b83ab7ed07d15a8028434db5cc8ed?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testuserupdateerrors-1618221311@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User test-testuserupdateerrors-1618221311@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
