---
version: 1
interactions:
- request:
    body: |
      {"message":"Test-TestScopedDowntime-1617977626","scope":["test:client-TestScopedDowntime-1617977626818159000","test:go-TestScopedDowntime-1617977626818159000"],"start":1617977626,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1617977626,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:client-TestScopedDowntime-1617977626818159000","test:go-TestScopedDowntime-1617977626818159000"],"message":"Test-TestScopedDowntime-1617977626","downtime_type":2,"id":1213943807,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
{"scope":"test:go-TestScopedDowntime-1617977626818159000"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CancelDowntimesByScope
    url: https://api.datadoghq.com/api/v1/downtime/cancel/by_scope
    method: POST
  response:
    body: '{"cancelled_ids":[1213943810]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1213943811
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 204 No Content
    code: 204
    duration: ""
[...]
