---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com","handle":"go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com","name":"go-TestCreateUser-local-1591954244"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com","name":"go-TestCreateUser-local-1591954244","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/65df8a25686818eb99c243e4760f49ee?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aERr2Ftx8O/BR8oAhSymZ3bVROQEC+81YMSphOQK1me4DxXSbMIcFkB0Di4ggZ++
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v1/user/go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com
    method: GET
  response:
    body: '{"user":{"handle":"go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com","access_role":"ro","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/65df8a25686818eb99c243e4760f49ee?s=48&d=retro","verified":false,"name":"go-TestCreateUser-local-1591954244","roles":[{"uuid":"94172444-be03-11e9-a77a-db1879185210","created_at":"2019-08-13T19:50:19.111007","name":"Datadog
      Read Only Role","last_modified":"2019-08-13T19:50:19.111007","id":904117,"permissions":[{"display_name":"Security
      Signals","description":"Access security signals","restricted":false,"created_at":"2020-06-09T13:52:48.410398","name":"security_monitoring_signals_read","uuid":"80de1ec0-aa58-11ea-95e2-aff381626d5d"},{"display_name":"Detection
      Rules","description":"Access detection rules","restricted":false,"created_at":"2020-06-09T13:52:25.279909","name":"security_monitoring_rules_read","uuid":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5"},{"display_name":"Logs
      Archives","description":"The ability to read logs archives location and use
      it for rehydration.","rest[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testcreateuser-local-1591954244@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gVnECQ7ifaEfJ6BNPsXSglLjlU41ay4U8jXHC6V3+oC4U6gHkBb20H5zrSJj1zee
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
