---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-client-test-host", "metric": "go.client.test.1585670046",
      "points": [[1585669986.000000, 10.5], [1585670046.000000, 11]], "tags": ["tag:foo",
      "bar:baz"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/metrics?from=1585670046
    method: GET
  response:
    body: '{"metrics":[],"from":"1585670046"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - s+gqJPNyENtgN/S37ldDRxTOsGJG0is7vZJ5QK91Hwa23belpEukREcXpNp11/N5
      X-Dd-Version:
      - "35.2339636"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "95"
      X-Ratelimit-Reset:
      - "352"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/query?from=1585669946&query=avg%3Ago.client.test.1585670046%7Bbar%3Abaz%7Dby%7Bhost%7D&to=1585670146
    method: GET
  response:
    body: '{"status":"ok","res_type":"time_series","from_date":1585669946000,"series":[{"end":1585670046000,"attributes":{},"metric":"go.client.test.1585670046","interval":1,"tag_set":["host:go-client-test-host"],"start":1585669986000,"length":2,"query_index":0,"aggr":"avg","scope":"bar:baz,host:go-client-test-host","pointlist":[[1585669986000.0,10.5],[1585670046000.0,11.0]],"expression":"avg:go.client.test.1585670046{bar:baz,host:go-client-test-host}","unit":null,"display_name":"go.client.test.1585670046"}],"to_date":1585670146000,"resp_version":1,"query":"avg:go.client.test.1585670046{bar:baz}by{host}","message":"","group_by":["host"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - jiEjBYbhgTitvQpbusdTeFeBunIH08bvUl0tOdECba8AA6SoqjN1Cu2GJPwcfKwJ
      X-Dd-Version:
      - "35.2339636"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "598"
      X-Ratelimit-Reset:
      - "321"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/search?q=metrics%3Ago.client.test.1585670046
    method: GET
  response:
    body: '{"results":{"metrics":["go.client.test.1585670046"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - dy5X2hFRZz3oYNummb5fQHH3HqSTW5GgaZgH7BwqP+EUm5oXI3m42OFQPkQb0s1E
      X-Dd-Version:
      - "35.2339636"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/metrics/go.client.test.1585670046
    method: GET
  response:
    body: '{"description":null,"short_name":null,"integration":null,"statsd_interval":null,"per_unit":null,"type":null,"unit":null}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - gT77TxVa6YzU1hLk0fEwlRtqipv+lYYSzCzPsgQrYlzKlN4J84EwxCNMZ8d6B8vp
      X-Dd-Version:
      - "35.2339636"
    status: 200 OK
    code: 200
    duration: ""
[...]
