---
version: 1
interactions:
- request:
    body: |
      {"description":"variable description","name":"TEST_TESTSYNTHETICSAPIMULTISTEPTESTENDPOINTLIFECYCLE_1622128153","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      description","tags":["synthetics"],"is_totp":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"7dff69ab-d40c-4938-b582-3c690b93e9e1","name":"TEST_TESTSYNTHETICSAPIMULTISTEPTESTENDPOINTLIFECYCLE_1622128153"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4621830"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "47"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"},{"id":"7dff69ab-d40c-4938-b582-3c690b93e9e1","name":"VARIABLE_NAME","type":"global"}],"steps":[{"allowFailure":true,"assertions":[],"extractedValues":[{"field":"content-type","name":"EXTRACTED_VALUE","parser":{"type":"raw"},"type":"http_header"}],"isCritical":false,"name":"First step","request":{"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"},"subtype":"http"}]},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsAPIMultistepTestEndpointLifecycle-1622128153","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"multi","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"zjb-8jm-b9u","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsAPIMultistepTestEndpointLifecycle-1622128153","monitor_id":36119388,"type":"api","created_at":"2021-05-27T15:09:13.765988+00:00","modified_at":"2021-05-27T15:09:13.765988+00:00","subtype":"multi","config":{"steps":[{"name":"First
      step","request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"method":"GET","timeout":10},"subtype":"http","allowFailure":true,"assertions":[],"isCritical":false,"id":"hsz-f9a-z76","extractedValues":[{"field":"content-type","parser":{"type":"raw"},"type":"http_header","name":"EXTRACTED_VALUE"}]}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"},{"type":"global","id":"7dff69ab-d40c-4938-b582-3c690b93e9e1","name":"VARIABLE_NAME"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4621830"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "47"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"public_ids":["zjb-8jm-b9u"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-05-27T15:09:14.194526+00:00","public_id":"zjb-8jm-b9u"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4621830"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
