---
version: 1
interactions:
- request:
    body: |
      {"account_id":"Test-TestCheckServicesAsync-1626196285","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"775c15c1119649d399b955dfd7c3553a"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"Test-TestCheckServicesAsync-1626196285","services":["s3","elb","elbv2","cloudfront","redshift","lambda"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CheckAWSLogsServicesAsync
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services_async
    method: POST
  response:
    body: '{"status":"error","errors":[{"message":"AWS account Test-TestCheckServicesAsync-1626196285
      has no lambda config to update","code":"no_such_config"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
