---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1620984185","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"cvm-gca-4iu","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsMultipleTestsOperations-1620984185","monitor_id":35414944,"type":"api","created_at":"2021-05-14T09:23:06.514169+00:00","modified_at":"2021-05-14T09:23:06.514169+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2021-05-14T09:23:06.376064+00:00"},"key":{"filename":"key-filename","updatedAt":"2021-05-14T09:23:06.376039+00:00"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4528823"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics Browser test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1620984185","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsBrowserTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
    method: POST
  response:
    body: '{"status":"paused","public_id":"suf-d4v-j7f","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Syntheti[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: GET
  response:
    body: '{"tests":[{"status":"live","public_id":"q36-ruq-6dk","tags":["foo:bar","foo","env:test"],"locations":["aws:eu-central-1"],"message":"Notify
      @pagerduty","name":"An API test on example.org","monitor_id":35414765,"type":"api","created_at":"2021-05-14T09:15:16.774112+00:00","modified_at":"2021-05-14T09:15:16.774112+00:00","subtype":"http","config":{"request":{"url":"https://www.example.org","headers":{"Authentication":"Token:
      1234566789","Content-Type":"application/json"},"method":"GET","timeout":5},"assertions":[{"operator":"is","type":"statusCode","target":200}],"configVariables":[]},"options":{"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"retry":{"count":2,"interval":300},"min_location_failed":1,"tick_every":900}},{"status":"live","public_id":"qs9-d8s-h23","tags":["tags_example"],"locations":["aws:ap-northeast-1"],"message":"message_example","name":"name_example","monitor_id":35414840,"type":"api","created_at":"2021-05-14T09:18:54.535318+00:00","modified_at":"2021-05-14T09:18:54.535318+00:00","subtype":"http","config":{"request":{"body":"body_example","certificate":{"cert":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455916+00:00"},"key":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455889+00:00"}},"url":"http://doesngothere.com/fh","basicAuth":{"username":"","password":""},"headers":{"key":"key_example"},"host":"host_example","timeout":3.0,"method":"GET"},"steps":[{"name":"name_example","request":{"body":"body_example","certificate":{"cert":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455934+00:00"},"key":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455927+00:00"}},"url":"url_example","basicAuth":{"username":"","password":""},"host":"host_example","timeout":3.0,"method":"GET"},"subtype":"http","allowFailure":true,"assertions":[],"isCritical":true,"extractedValues":[{"field":"content-type","parser":{"type":"raw","value":"value_example"},"type":"http_body","name":"name_example"}]}],"assertions":[{"operator":"is","type":"statusCode","target":200}],"configVariables":[{"pattern":"pattern_example","type":"text","example":"example_example","name":"VARIABLE_NAME"}]},"options":{"accept_self_signed":true,"retry":{"count":1,"interval":3.0},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":1,"noScreenshot":true,"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0},"disableCors":true,"device_ids":["laptop_large"],"tick_every":30}},{"status":"live","public_id":"cvm-gca-4iu","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1620984185","monitor_id":35414944,"type":"api","created_at":"2021-05-14T09:23:06.514169+00:00","modified_at":"2021-05-14T09:23:06.514169+00:00","subtype":"http","config":[...]
- request:
    body: |
      {"public_ids":["suf-d4v-j7f"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-05-14T09:23:07.171243+00:00","public_id":"suf-d4v-j7f"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4528823"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "53"
    status: 200 OK
    code: 200
    duration: ""
[...]
