---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"customer_impact_scope":"none","customer_impacted":false,"state":"unkown","title":"Test-Incident"},"type":"incidents"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/incidents
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5","attributes":{"name":"Matt
      Singleton","handle":"matt","created_at":"2020-03-06T09:44:55.320409+00:00","email":"matt@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2688c8132e2a1483a24ac2eb5a03e48c?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"2288ef62-5f8f-11ea-94dc-af07d483297b"}}}}],"data":{"type":"incidents","attributes":{"title":"Test-Incident","resolved":null,"customer_impact_scope":"none","customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"created":"2020-03-09T16:09:38.067867+00:00","modified":"2020-03-09T16:09:38.067867+00:00","state":"unkown","detected":null,"public_id":23,"creation_idempotency_key":null,"duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0},"relationships":{"last_modified_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}},"commander":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}},"created_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}}},"id":"770"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2248986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"content":"TestTodoContent"},"type":"incident_todos"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/incidents/770/relationships/todos
    method: POST
  response:
    body: '{"included":[{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5","attributes":{"name":"Matt
      Singleton","handle":"matt","created_at":"2020-03-06T09:44:55.320409+00:00","email":"matt@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2688c8132e2a1483a24ac2eb5a03e48c?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"2288ef62-5f8f-11ea-94dc-af07d483297b"}}}}],"data":{"type":"incident_todos","id":"137","attributes":{"created":"2020-03-09T16:09:43.160375+00:00","modified":"2020-03-09T16:09:43.160375+00:00","completed":null,"content":"TestTodoContent","incident_id":"770"},"relationships":{"created_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}},"last_modified_by":{"data":{"type":"users","id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2248986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"completed":"2020-03-09T12:09:38.109565-04:00","content":"TestTodoContent","created":"2020-03-09T16:09:43.160375Z","incident_id":"770","modified":"2020-03-09T16:09:43.160375Z"},"id":"137","relationships":{"created_by":{"data":{"id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5","type":"users"}},"last_modified_by":{"data":{"id":"22974ab2-5f8f-11ea-94dc-67a00592a7c5","type":"users"}}},"type":"incident_todos"}}
    form: {}
    headers:
      Content-Type[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/incidents/770/relationships/todos
    method: GET
  response:
    body: '{"meta":{"pagination":{"limit":1000,"next_offset":1000,"offset":0}},"data":[{"type":"incident_todos","id":"137","attributes":{"created":"2020-03-09T16:09:43.160375+00:00","modified":"2020-03-09T16:09:48.270660+00:00","completed":"2020-03-09T16:09:38.109565+00:00","content":"TestTodoContent","incident_id":"770"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2248986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/incidents/770
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - "35.2248986"
    status: 204 No Content
    code: 204
    duration: ""
