---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com","handle":"go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUpdateUser-local-1591954310"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUpdateUser-local-1591954310","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/284da4e9b48ced4731a3f1ff1a41f6d2?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KKdI9UAf8fC5q7osIllxNui0A1CUm45w7mZBz+tu6Vlp/ga+Q6ZXvY0JoJlUBVi+
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"access_role":"st","disabled":true,"name":"go-TestUpdateUser-local-1591954310"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v1/user/go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com
    method: PUT
  response:
    body: '{"user":{"disabled":true,"handle":"go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUpdateUser-local-1591954310","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/284da4e9b48ced4731a3f1ff1a41f6d2?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Jhz2Lh32XBCZ7PVSj7/lof8hXjgbtiexG4VIRWAEYHPFefqyYpXnVaeT62yBncrB
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testupdateuser-local-1591954310@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2613383"
    status: 400 Bad Request
    code: 400
    duration: ""
