---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1629730551","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-TestSyntheticsMultipleTestsOperations-1629730551","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"949-n54-dme","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsMultipleTestsOperations-1629730551","monitor_id":44365003,"type":"api","created_at":"2021-08-23T14:55:52.068869+00:00","modified_at":"2021-08-23T14:55:52.068869+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"monitor_priority":5,"monitor_name":"Test-TestSyntheticsMultipleTestsOperations-1629730551","tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics Browser test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1629730551","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsBrowserTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
    method: POST
  response:
    body: '{"status":"paused","public_id":"h7f-68p-xjs","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","deleted_at":null,"name":"Test-TestSyntheticsMultipleTestsOperations-1629730551","monitor_id":44365004,"type":"browser","created_at":"2021-08-23T14:55:52.720743+00:00","modified_at":"2021-08-23T14:55:52.720743+00:00","config":{"setCookie":"name:test","request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"noScreenshot":true,"disableCors":true,"device_ids":["tablet"],"tick_every":300}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11997"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: GET
  response:
    body: '{"tests":[{"status":"live","public_id":"b98-62y-u8g","tags":["service:sinatra","env:non-prod"],"locations":["pl:gcp-integrations-lab-527d63de5764c9fdad65fd1a5ac64a8e"],"message":"","name":"Sinatra
      PCF Application","monitor_id":42147848,"type":"api","created_at":"2021-07-23T11:43:59.406964+00:00","modified_at":"2021-07-23T11:43:59.406964+00:00","subtype":"multi","config":{"steps":[{"retry":{"count":0,"interval":300},"name":"Get
      Index Page","request":{"url":"https://test-apm-service-3.apps.integrations-lab.devenv.dog","method":"GET","allow_insecure":true},"subtype":"http","allowFailure":false,"extractedValues":[],"isCritical":true,"id":"nyb-s7s-5kv","assertions":[{"operator":"is","type":"statusCode","target":200}]},{"retry":{"count":0,"interval":300},"name":"Get
      Error Page","request":{"url":"https://test-apm-service-3.apps.integrations-lab.devenv.dog/error","method":"GET","allow_insecure":true},"subtype":"http","allowFailure":false,"extractedValues":[],"isCritical":true,"id":"n4n-sb3-p4v","assertions":[{"operator":"is","type":"statusCode","target":500}]},{"retry":{"count":0,"interval":300},"name":"Get
      New Page","request":{"url":"https://test-apm-service-3.apps.integrations-lab.devenv.dog/new-page","method":"GET","allow_insecure":true},"subtype":"http","allowFailure":false,"extractedValues":[],"isCritical":true,"id":"vax-s3b-65c","assertions":[{"operator":"is","type":"statusCode","target":200}]},{"retry":{"count":0,"interval":300},"name":"Get
      404 Page","request":{"url":"https://test-apm-service-3.apps.integrations-lab.devenv.dog/page","method":"GET","allow_insecure":true},"subtype":"http","allowFailure":false,"extractedValues":[],"isCritical":true,"id":"2gq-48b-guq","assertions":[{"operator":"is","type":"statusCode","target":404}]}],"configVariables":[]},"options":{"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0},"retry":{"count":0,"interval":300},"min_location_failed":1,"min_failure_duration":0,"tick_every":30}},{"status":"paused","public_id":"dyn-f5s-y5z","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsBrowserTest_importBasic-local-1627045031","monitor_id":42150336,"type":"browser","created_at":"2021-07-23T12:57:38.925986+00:00","modified_at":"2021-07-23T12:57:38.925986+00:00","config":{"variables":[{"pattern":"{{numeric(3)}}","type":"text","example":"597","name":"MY_PATTERN_VAR"}],"setCookie":"name=value","request":{"body":"this
      is a body","headers":{},"url":"https://www.datadoghq.com","timeout":30,"method":"GET"},"assertions":[]},"options":{"retry":{"count":2,"interval":300},"min_location_failed":1,"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"noScreenshot":true,"monitor_priority":5,"device_ids":["laptop_large","mobile_small"],"monitor_name":"tf-TestAccDatadogSyntheticsBrowserTest_importBasic-local-1627045031-monitor","tick_every":900}},{"status":"paused","public_id":"frg-fgg-54v","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1627045031","monitor_id":42150337,"type":"api","created_at":"2021-07-23T12:57:40.011615+00:00","modified_at":"2021-07-23T12:57:40.011615+00:00","subtype":"http","config":{"request":{"body":"this
      is a body","url":"https://www.datadoghq.com","noSavingResponseBody":true,"headers":{},"timeout":30,"method":"GET"},"assertions":[{"operator":"contains","property":"content-type","type":"header","target":"application/json"},{"operator":"is","type":"statusCode","target":200},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"doesNotContain","type":"body","target":"terraform"}],"configVariables":[{"pattern":"{{numeric(3)}}","type":"text","example":"123","name":"VARIABLE_NAME"}]},"options":{"retry":{"count":1,"interval":300},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"monitor_priority":5,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1627045031-monitor","tick_every":60}},{"status":"paused","public_id":"3wa-pq4-va5","tags":[],"locations":["aws:eu-central-1"],"message":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1627045031","monitor_id":42150338,"type":"api","created_at":"2021-07-23T12:57:41.263320+00:00","modified_at":"2021-07-23T12:57:41.263320+00:00","subtype":"http","config":[...]
{"request":{"body":"this
      is a body","certificate":{"cert":{"filename":"Provided in Terraform config"},"key":{"filename":"key"}},"url":"https://www.datadoghq.com","basicAuth":{"username":"admin","password":"secret"},"headers":{},"timeout":30,"query":{"foo":"bar"},"method":"GET"},"assertions":[{"operator":"contains","property":"content-type","type":"header","target":"application/json"},{"operator":"is","type":"statusCode","target":200},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}},{"operator":"validatesJSONPath","type":"body","target":{"operator":"moreThan","targetValue":5,"jsonPath":"something"}},{"operator":"isNot","type":"statusCode","target":200},{"operator":"matches","type":"statusCode","target":"20[04]"},{"operator":"doesNotMatch","type":"statusCode","target":"20[04]"}],"configVariables":[]},"options":{"follow_redirects":true,"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"min_location_failed":1,"tick_every":60}},{"status":"live","public_id":"zhv-eyu-pj4","tags":["foo:bar","foo","env:test"],"locations":["aws:eu-central-1"],"message":"Notify
      @pagerduty","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1627045102-updated","monitor_id":42150443,"type":"api","created_at":"2021-07-23T12:58:24.451957+00:00","modified_at":"2021-07-23T12:58:29.289325+00:00","subtype":"ssl","config":{"request":{"host":"datadoghq.com","port":443},"assertions":[{"operator":"isInMoreThan","type":"certificate","target":60}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}},{"status":"paused","public_id":"d49-yz7-xwa","tags":[],"locations":["aws:eu-central-1"],"message":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1627045106","monitor_id":42150445,"type":"api","created_at":"2021-07-23T12:58:28.425074+00:00","modified_at":"2021-07-23T12:58:28.425074+00:00","subtype":"http","config":[...]
{"request":{"dnsServerPort":120,"host":"https://www.datadoghq.com","dnsServer":"8.8.8.8"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}},{"status":"paused","public_id":"2kz-a8v-ag5","tags":["foo:bar"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic-local-1627049466","monitor_id":42156622,"type":"browser","created_at":"2021-07-23T14:11:10.239925+00:00","modified_at":"2021-07-23T14:11:10.239925+00:00","config":{"variables":[{"pattern":"{{numeric(3)}}","type":"text","example":"597","name":"MY_PATTERN_VAR"}],"request":{"url":"https://www.datadoghq.com","method":"GET"},"assertions":[]},"options":{"retry":{"count":2,"interval":300},"device_ids":["laptop_large"],"min_location_failed":1,"tick_every":900}},{"status":"paused","public_id":"q8s-vac-8jn","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1627049466","monitor_id":42156623,"type":"api","created_at":"2021-07-23T14:11:10.301633+00:00","modified_at":"2021-07-23T14:11:10.301633+00:00","subtype":"http","config":[...]
{"request":{"url":"https://www.example.org","headers":{"Authentication":"Token:
      1234566789","Content-Type":"application/json"},"method":"GET"},"assertions":[{"operator":"validatesJSONPath","type":"body","target":{"operator":"moreThan","targetValue":200,"jsonPath":"content.online"}}],"configVariables":[]},"options":{"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"retry":{"count":2,"interval":300},"min_location_failed":1,"tick_every":900}},{"status":"paused","public_id":"6su-axt-ibp","tags":["test:edited"],"locations":["aws:us-west-2"],"message":"Test
      Browser edited","name":"Test Browser edited","monitor_id":42167545,"type":"api","created_at":"2021-07-23T16:21:11.837385+00:00","modified_at":"2021-07-23T16:21:13.671078+00:00","subtype":"http","config":{"request":{"url":"https://example.com","method":"GET","timeout":300},"assertions":[{"operator":"isNot","type":"statusCode","target":404}]},"options":{"device_ids":["tablet"],"tick_every":1800}},{"status":"paused","public_id":"ifq-2h9-up7","tags":["test:synthetics_browser"],"locations":["aws:us-east-2"],"message":"Test
      Browser","name":"Test with Browser","monitor_id":42167546,"type":"browser","created_at":"2021-07-23T16:21:12.184237+00:00","modified_at":"2021-07-23T16:21:12.184237+00:00","config":[...]
{"request":{"url":"https://datadoghq.com","headers":{"testingJavaClient":"true"},"method":"GET","timeout":10.0},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10.0},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}},{"status":"paused","public_id":"9xb-idc-kpn","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"No[...]
[...]
- request:
    body: |
      {"public_ids":["h7f-68p-xjs"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-08-23T14:55:53.197867+00:00","public_id":"h7f-68p-xjs"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11997"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
