---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","property":"avg","target":200,"type":"latency"}],"request":{"host":"www.datadoghq.com","numberOfPackets":2}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype ICMP - this is message","name":"Test-TestSyntheticsSubtypeIcmpAPITestLifecycle-1618841822","options":{"tick_every":60},"subtype":"icmp","tags":["testing:api-icmp"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"g3g-68j-5wy","tags":["testing:api-icmp"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype ICMP - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeIcmpAPITestLifecycle-1618841822","monitor_id":34092045,"type":"api","created_at":"2021-04-19T14:17:03.459654+00:00","modified_at":"2021-04-19T14:17:03.459654+00:00","subtype":"icmp","config":{"request":{"numberOfPackets":2,"host":"www.datadoghq.com"},"assertions":[{"operator":"lessThan","property":"avg","type":"latency","target":200}]},"options":{"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4341053"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "57"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","property":"avg","target":200,"type":"latency"}],"request":{"host":"www.datadoghq.com","numberOfPackets":2}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype ICMP - this is message","name":"Test-TestSyntheticsSubtypeIcmpAPITestLifecycle-1618841822-updated","options":{"tick_every":60},"status":"live","subtype":"icmp","tags":["testing:api-icmp"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/g3g-68j-5wy
    method: PUT
  response:
    body: '{"status":"live","public_id":"g3g-68j-5wy","tags":["testing:api-icmp"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype ICMP - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeIcmpAPITestLifecycle-1618841822-updated","monitor_id":34092045,"type":"api","created_at":"2021-04-19T14:17:03.459654+00:00","modified_at":"2021-04-19T14:17:04.467404+00:00","subtype":"icmp","config":[...]
- request:
    body: |
      {"public_ids":["g3g-68j-5wy"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-19T14:17:05.461842+00:00","public_id":"g3g-68j-5wy"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4341053"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "55"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["g3g-68j-5wy"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics tests: g3g-68j-5wy not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4341053"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "55"
    status: 404 Not Found
    code: 404
    duration: ""
