---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testdisableuser-1582305296374678000@integration-tests-accnt-for-sdk-ci.com","handle":"testdisableuser-1582305296374678000@integration-tests-accnt-for-sdk-ci.com","name":"TestDisableUser-1582305296374678000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testdisableuser-1582305296374678000@integration-tests-accnt-for-sdk-ci.com","name":"TestDisableUser-1582305296374678000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testdisableuser-1582305296374678000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/b4c46644868c527b93393e154b4af0cc?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FkKIRCzyOlcTfevOWu/Pn0jzNwYGEOKsDSSLLIk1UH0umdv3B3q8BoRMqfK8ce37
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testdisableuser-1582305296374678000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testdisableuser-1582305296374678000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aJ6GOq3zw1bWl+5n1TKdeAvWSB1g5Zer85qbkQ07UFNZhgfVh/zeqVhNb8FjtbN9
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testdisableuser-1582305296374678000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2200256"
    status: 400 Bad Request
    code: 400
    duration: ""
