---
version: 1
interactions:
- request:
    body: |
      {"end":1634661380,"message":"Test-TestDowntimeLifecycle-1634657780","recurrence":{"period":1,"type":"weeks","until_date":1636472180,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1634657780,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":1636472180,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1634661380,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634657781,"org_id":321813,"modified":1634657781,"disabled":false,"start":1634657780,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeLifecycle-1634657780","downtime_type":0,"id":1511067701,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"message":"Test-TestDowntimeLifecycle-1634657780-updated"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1511067701
    method: PUT
  response:
    body: '{"recurrence":{"until_date":1636472180,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1634661380,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634657781,"org_id":321813,"modified":1634657781,"disabled":false,"start":1634657780,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeLifecycle-1634657780-updated","downtime_type":0,"id":1511067701,"updater_id":1445416}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
