---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com","handle":"test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUpdateUser-1617978001"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUpdateUser-1617978001","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/1dc801343d6e38a03e09afbc31682eb7?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"access_role":"st","disabled":true,"name":"Test-TestUpdateUser-1617978001"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v1/user/test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com
    method: PUT
  response:
    body: '{"user":{"disabled":true,"handle":"test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUpdateUser-1617978001","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/1dc801343d6e38a03e09afbc31682eb7?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testupdateuser-1617978001@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 400 Bad Request
    code: 400
    duration: ""
