---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDailyCustomReports
    url: https://api.datadoghq.com/api/v1/daily_custom_reports
    method: GET
  response:
    body: '{"meta":{"page":{"total_count":270}},"data":[{"type":"reports","id":"2021-04-10","attributes":{"tags":["project"],"start_date":"2021-04-10","end_date":"2021-04-10","size":9805,"computed_on":"2021-04-11T12:36:23+00:00"}},{"type":"reports","id":"2021-04-09","attributes":{"tags":["project"],"start_date":"2021-04-09","end_date":"2021-04-09","size":9775,"computed_on":"2021-04-10T15:19:47+00:00"}},{"type":"reports","id":"2021-04-08","attributes":{"tags":["project"],"start_date":"2021-04-08","end_date":"2021-04-08","size":9820,"computed_on":"2021-04-09T14:49:47+00:00"}},{"type":"reports","id":"2021-04-07","attributes":{"tags":["project"],"start_date":"2021-04-07","end_date":"2021-04-07","[...]
