---
version: 1
interactions:
- request:
    body: |
      {"filter":{"query":"query"},"is_enabled":true,"name":"go-TestLogsPipelinesLifecycle-local-1601978313","processors":[{"grok":{"match_rules":"rule1 foo\nrule2 bar","support_rules":"support baz"},"is_enabled":false,"name":"grok parser","samples":["sample"],"source":"src","type":"grok-parser"},{"is_enabled":false,"name":"log date remapper","sources":["source"],"type":"date-remapper"},{"is_enabled":false,"name":"log status remapper","sources":["source"],"type":"status-remapper"},{"is_enabled":false,"name":"service remapper","sources":["source"],"type":"service-remapper"},{"is_enabled":false,"name":"log message remapper","sources":["source"],"type":"message-remapper"},{"is_enabled":false,"name":"log attribute remapper to attribute target type","override_on_conflict":true,"preserve_source":true,"source_type":"tag","sources":["source"],"target":"target","target_format":"string","target_type":"attribute","type":"attribute-remapper"},{"is_enabled":false,"name":"log attribute remapper to tag target type","override_on_conflict":true,"preserve_source":true,"source_type":"tag","sources":["source"],"target":"target","target_type":"tag","type":"attribute-remapper"},{"is_enabled":false,"name":"URL parser","normalize_ending_slashes":false,"sources":["source"],"target":"target","type":"url-parser"},{"is_enabled":false,"is_encoded":true,"name":"user agent parser","sources":["source"],"target":"target","type":"user-agent-parser"},{"categories":[{"filter":{"query":"query"},"name":"category"}],"is_enabled":false,"name":"category processor","target":"target","type":"category-processor"},{"expression":"foo + bar","is_enabled":false,"is_replace_missing":true,"name":"arithmetic processor","target":"target","type":"arithmetic-processor"},{"is_enabled":false,"is_replace_missing":true,"name":"string builder processor","target":"target","template":"template","type":"string-builder-processor"},{"is_enabled":false,"name":"geo IP parser","sources":["source"],"target":"target","type":"geo-ip-parser"},{"default_lookup":"default_lookup","is_enabled":false,"lookup_table":["key,value"],"name":"lookup processor","source":"source","target":"target","type":"lookup-processor"},{"is_enabled":false,"name":"trace remapper","sources":["source"],"type":"trace-id-remapper"},{"filter":{"query":"query"},"is_enabled":false,"name":"pipeline processor","processors":[{"grok":{"match_rules":"rule1 foo\nrule2 bar","support_rules":"support baz"},"is_enabled":false,"name":"grok parser","samples":["sample"],"source":"src","type":"grok-parser"},{"is_enabled":false,"name":"log date remapper","sources":["source"],"type":"date-remapper"}],"type":"pipeline"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: POST
  response:
    body: '{"id":"GarzM14SR12w9SPy98Yxlw","type":"pipeline","name":"go-TestLogsPipelinesLifecycle-local-1601978313","is_enabled":true,"is_read_only":false,"filter":{"query":"query"},"processors":[{"name":"grok
      parser","is_enabled":false,"source":"src","samples":["sample"],"grok":{"support_rules":"support
      baz","match_rules":"rule1 foo\nrule2 bar"},"type":"grok-parser"},{"name":"log
      date remapper","is_enabled":false,"sources":["source"],"type":"date-remapper"},{"name":"log
      status remapper","is_enabled":false,"sources":["source"],"type":"status-remapper"},{"name":"service
      remapper","is_enabled":false,"sources":["so[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsPipelines
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: GET
  response:
    body: '[{"id":"jVXBCxBbSHid-7O1TG59Qw","type":"pipeline","name":"Airflow","is_enabled":true,"is_read_only":true,"filter":{"query":"source:airflow"},"processors":[{"name":"Parsing
      Default formats","is_enabled":true,"source":"message","samples":["[2019-12-26
      17:33:29,431] {{dag_processing.py:820}} INFO - Processing files using up to
      1 processes at a time","[2019-12-26 17:34:47,977] {{taskinstance.py:647}} DEBUG
      - <TaskInstance: hello_world_fail.hello_world_fail_task 2017-03-20T00:00:00+00:00
      [queued]> dependency ''Previous Dagrun State'' PASSED: True, The task did not
      have depends_on_past set.","[2019-12-26 17:39:25,646] {{logging_mixin.py:112}}
      INFO - [2019-12-26 17:39:25,646] {{settings.py:211}} DEBUG - Setting up DB connection
      pool (PID 711)","[2019-12-26 17:34:48,568] {{base_task_runner.py:115}} INFO
      - Job 8: Subtask hello_world_fail_task [2019-12-26 17:34:48,568] {{settings.py:211}}
 [...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/GarzM14SR12w9SPy98Yxlw
    method: GET
  response:
    body: '{"id":"GarzM14SR12w9SPy98Yxlw","type":"pipeline","name":"go-TestLogsPipelinesLifecycle-local-1601978313","is_enabled":true,"is_read_only":false,"filter":{"query":"query"},"processors":[{"name":"grok
      parser","is_enabled":false,"source":"src","samples":["sample"],"grok":{"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/GarzM14SR12w9SPy98Yxlw
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - iYSQoeIUH6tZkV8oNBADyUh0i8imvOo9jWWOUgywP9QJ7opgBoT0cWGeCUTl7m+0
      X-Dd-Version:
      - "35.3146084"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "89"
      X-Ratelimit-Reset:
      - "86"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/GarzM14SR12w9SPy98Yxlw
    method: DELETE
  response:
    body: '{"error":{"code":"InvalidArgument","message":"This pipeline does not exist"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3146084"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "88"
      X-Ratelimit-Reset:
      - "86"
    status: 400 Bad Request
    code: 400
    duration: ""
