---
version: 1
interactions:
- request:
    body: '{"priority":"normal","source_type_name":"datadog-api-client-go","tags":["test","client:go"],"text":"example
      text","title":"test event from go client"}'
    form: {}
    headers: {}
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5392096511175887101,"title":"test event from
      go client","text":"example text","date_happened":1585656863,"handle":null,"priority":"normal","related_event_id":null,"tags":["test","client:go"],"url":"https://app.datadoghq.com/event/event?id=5392096511175887101"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events/5392096511175887101
    method: GET
  response:
    body: '{"errors": ["No event matches that event_id."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Version:
      - "35.2338533"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events/5392096511175887101
    method: GET
  response:
    body: '{"event":{"date_happened":1585656863,"alert_type":"info","resource":"/api/v1/events/5392096511175887101","title":"test
      event from go client","url":"/event/event?id=5392096511175887101","text":"example
      text","tags":["client:go","test"],"device_name":null,"priority":"normal","host":null,"id":5392096511175887101}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - JmURFv3QT6gKRDSrfK4zcwdS9yrmaSKXEiqT0M3mIuybXnIAJULvb1NuwEtOiZfR
      X-Dd-Version:
      - "35.2338533"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events?end=1585656873&priority=normal&sources=datadog-api-client-go&start=1585656853&tags=test%2Cclient%3Ago&unaggregated=true
    method: GET
  response:
    body: '{"events":[{"date_happened":1585656863,"alert_type":"info","is_aggregate":false,"title":"test
      event from go client","url":"/event/event?id=5392096511175887101","text":"example
      text","tags":["client:go","test"],"comments":[],"device_name":null,"priority":"normal","source":"My
      Apps","host":null,"resource":"/api/v1/events/5392096511175887101","id":5392096511175887101}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - 4gUJbYgxcQ+p2ofawO9+IERpoKwOhs/G1IiKposiUPGB8X8RcTlvyCAUL6+ZWfKr
      X-Dd-Version:
      - "35.2338533"
    status: 200 OK
    code: 200
    duration: ""
