---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"request":{"dnsServer":"8.8.8.8","host":"https://www.datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype DNS - this is message","name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1617977945","options":{"tick_every":60},"subtype":"dns","tags":["testing:api-dns"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"ekh-d2m-7ws","tags":["testing:api-dns"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1617977945","monitor_id":33568039,"type":"api","created_at":"2021-04-09T14:19:05.719911+00:00","modified_at":"2021-04-09T14:19:05.719911+00:00","subtype":"dns","config":{"request":{"host":"https://www.datadoghq.com","dnsServer":"8.8.8.8"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "55"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"request":{"dnsServer":"8.8.8.8","host":"https://www.datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype DNS - this is message","name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1617977945-updated","options":{"tick_every":60},"status":"live","subtype":"dns","tags":["testing:api-dns"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/ekh-d2m-7ws
    method: PUT
  response:
    body: '{"status":"live","public_id":"ekh-d2m-7ws","tags":["testing:api-dns"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1617977945-updated","monitor_id":33568039,"type":"api","created_at":"2021-04-09T14:19:05.719911+00:00","modified_at":"2021-04-09T14:19:06.020255+00:00","subtype":"dns","config":[...]
- request:
    body: |
      {"new_status":"paused"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTestPauseStatus
    url: https://api.datadoghq.com/api/v1/synthetics/tests/ekh-d2m-7ws/status
    method: PUT
  response:
    body: "true"
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "112"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITestLatestResults
    url: https://api.datadoghq.com/api/v1/synthetics/tests/ekh-d2m-7ws/results?from_ts=0&probe_dc=aws%3Aus-east-2&to_ts=1617977945000
    method: GET
  response:
    body: '{"last_timestamp_fetched":1612793946000,"results":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "997"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["ekh-d2m-7ws"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-09T14:19:07.191235+00:00","public_id":"ekh-d2m-7ws"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "115"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["ekh-d2m-7ws"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics tests: ekh-d2m-7ws not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "114"
      X-Ratelimit-Reset:
      - "53"
    status: 404 Not Found
    code: 404
    duration: ""
