---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch","email":"nicholas.muesch@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"1f250d5dfd135b80b292025732993cd1","name":"HTTP
      Return Codes","created_at":1582121535,"tags":["app:httpd"],"modified_at":1582121535,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rxkz+JB0yzarEINDeNWQGs9dk7PLNAMnAw2wV8MNkZOhKDtz+JOpGuIyyBUaWwyF
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1582121535,"creator":{"email":"nicholas.muesch@datadoghq.com","handle":"nicholas.muesch@datadoghq.com","name":"Nicholas Muesch"},"description":"Updated description","id":"1f250d5dfd135b80b292025732993cd1","modified_at":1582121535,"monitor_tags":[],"name":"HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"target_d[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=1f250d5dfd135b80b292025732993cd1
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["1f250d5dfd135b80b292025732993cd1"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wn01ZjXucAfzJfwvKAkpy0yFfNtHyWu4ZB2aA4ZDwwhXkyLHirYeUNsx208dZz9p
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/1f250d5dfd135b80b292025732993cd1/history?from_ts=1582121524&to_ts=1582121534
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1582121534,"type_id":1,"series":{"res_type":"time_series","interval":1,"resp_version":2,"denominator":{"count":11,"sum":0.0,"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"query_index":1,"aggr":"sum","scope":"!code:3xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","unit":null}},"numerator":{"count":11,"sum":0.0,"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"query_index":0,"aggr":"sum","scope":"code:2xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","unit":null}},"times":[1582121524000.0,1582121525000.0,1582121526000.0,1582121527000.0,1582121528000.0,1582121529000.0,1582121530000.0,1582121531000.0,1582121532000.0,1582121533000.0,1582121534000.0],"from_date":1582121524000,"to_date":1582121534000,"timing":"0.101552963257","query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count())","message":""},"thresholds":{"7d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}},"overall":{"errors":[{"error_type":"ZERO_VALUED_DENOMINATOR","error_message":"The
      denominator is zero valued"}],"uptime":null,"span_precision":5,"sli_value":null,"precision":{"7d":0}},"from_ts":1582121524,"group_by":[],"type":"metric"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - PmDXJXCpOnq24qtagNCLPTUoILSRgi3DGaXUca70kUEAM8DZBLYkwSVilYSYEHCG
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
[...]
