---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageRumSessions
    url: https://api.datadoghq.com/api/v1/usage/rum_sessions?end_hr=2021-03-13T00%3A00%3A00Z&start_hr=2021-03-12T00%3A00%3A00Z&type=mobile
    method: GET
  response:
    body: '{"usage":[{"session_count_android":0,"session_count_ios":0,"session_count":0,"hour":"2021-03-12T00:00:00+00:00"},{"session_count_android":0,"session_count_ios":0,"session_count":0,"hour":"2021-03-12T01:00:00+00:00"},{"session_count_android":0,"session_count_ios":0,"session_count":0,"hour":"2021-03-12T02:00:00+00:00"},{"session_count_android":0,"session_count_ios":0,"session_count":0,"hour":"2021-03-12T03:00:00+00:00"},{"session_count_android":0,"session_count_ios":0,"session_count":0,"hour":"2021-03-12T04:00:00+00:00"},{"session_count_android":0,"session_count_ios":0,"session_c[...]
