---
version: 1
interactions:
- request:
    body: |
      {"account_id":"","lambda_arn":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/check_async
    method: POST
  response:
    body: |
      {"status":"error","code":502,"errors":["Bad Gateway"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 502 Bad Gateway
    code: 502
    duration: ""
[...]
