---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"go-TestSyntheticsTriggerCITests-local-1608040451","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"rgr-dsm-5h5","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"go-TestSyntheticsTriggerCITests-local-1608040451","monitor_id":27465511,"type":"api","created_at":"2020-12-15T13:54:12.322658+00:00","modified_at":"2020-12-15T13:54:12.322658+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-12-15T13:54:12.251163+00:00"},"key":{"filename":"key-filename","updatedAt":"2020-12-15T13:54:12.251140+00:00"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EZL7bEfcgNGbknKpx0YgUay5sRnB08o7ifIkIU7pH4DOkkWS5DRjfEr3ib9KggTa
      X-Dd-Version:
      - "35.3543624"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tests":[{"locations":["aws:us-east-2"],"public_id":"rgr-dsm-5h5"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - TriggerCITests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger/ci
    method: POST
  response:
    body: '{"results":[{"result_id":"1070094691985325129","public_id":"rgr-dsm-5h5","location":30005}],"triggered_check_ids":["rgr-dsm-5h5"],"locations":[{"display_name":"Tokyo
      (AWS)","name":"aws:ap-northeast-1","region":"Asia Pacific","is_active":true,"is_public":true,"id":4},{"display_name":"Seoul
      (AWS)","name":"aws:ap-northeast-2","region":"Asia Pacific","is_active":true,"is_public":true,"id":30016},{"display_name":"Mumbai
      (AWS)","name":"aws:ap-south-1","region":"Asia Pacific","is_active":true,"is_public":true,"id":30014},{"display_name":"Singapore
      (AWS)","name":"aws:ap-southeast-1","region":"Asia Pacific","is_active":true,"is_public":true,"id":30015},{"display_name":"Sydney
      (AWS)","name":"aws:ap-southeast-2","region":"Asia Pacific","is_a[...]
- request:
    body: |
      {"public_ids":["rgr-dsm-5h5"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-12-15T13:54:12.894709+00:00","public_id":"rgr-dsm-5h5"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ERAR+wIpkUrPjdmF8Izu2K5/ZMTkW0RxdMJp2EI5/HgIxQDnb5krpGDLSDYaD2KU
      X-Dd-Version:
      - "35.3543624"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
