---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageTopAvgMetrics
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?month=2020-05-12T15%3A34%3A16%2B02%3A00
    method: GET
  response:
    body: '{"usage":[{"metric_category":"custom","metric_name":"test.distribution_metric.1588694610","max_metric_hour":5,"avg_metric_hour":5},{"metric_category":"custom","metric_name":"test.distribution_metric.1588695608","max_metric_hour":5,"avg_metric_hour":5},{"metric_category":"custom","metric_name":"test.distribution_metric.1588696551","max_metric_hour":5,"avg_metric_hour":5},{"metric_category":"custom","metric_name":"test.distribution_metric.1588696694","max_metric_hour":5,"avg_metric_hour":5},{"metric_category":"custom","metric_name":"test.distribution_metric.1588697801","max_metric_hour":5,"avg_metric_hour":5},{"metric_cate[...]
