---
version: 1
interactions:
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","tenant_name":"go-TestUpdateAzureAccount-local-1593421258"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yqCkAb2Y8/4OgTSGYvedTl/k5gsPukDI7OLTlGSm9adIbRDVlGb00Ve5DDv9ImFD
      X-Dd-Version:
      - "35.2676641"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","host_filters":"filter:foo,test:bar","new_client_id":"testc7f6-1234-5678-9101-3fcbf4update","new_tenant_name":"go-TestUpdateAzureAccount-local-1593421258-updated","tenant_name":"go-TestUpdateAzureAccount-local-1593421258"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: PUT
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - wB7h0Rt2IYxDUBLtoJ4y0ZOq10ZaMdDZiRuFZ3d/FUUtC7gfBEZWTs0Y6dZhoLZS
      X-Dd-Version:
      - "35.2676641"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
  response:
    body: '[{"tenant_name":"go-TestUpdateAzureAccount-local-1593421258-updated","errors":[],"host_filters":"filter:foo,test:bar","client_id":"testc7f6-1234-5678-9101-3fcbf4update"}]'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Jhz2Lh32XBCZ7PVSj7/lof8hXjgbtiexG4VIRWAEYHPFefqyYpXnVaeT62yBncrB
      X-Dd-Version:
      - "35.2676641"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-3fcbf4update","host_filters":"test:foo,test:bar","tenant_name":"go-TestUpdateAzureAccount-local-1593421258-updated"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAzureHostFilters
    url: https://api.datadoghq.com/api/v1/integration/azure/host_filters
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NueLa2zkdBcl9S7BHrRuWyjAeR9iWgPFe330KTY6Cp0/yUhjUktbxu5rG2fG6gBk
      X-Dd-Version:
      - "35.2676641"
    status: 200 OK
    code: 200
    duration: ""
[...]
