---
version: 1
interactions:
- request:
    body: |
      {"query":"","startAt":"notanid","time":{"from":"0001-01-01T00:00:00Z","to":"0001-01-01T00:00:00Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"error":{"code":"InvalidArgument","message":"Invalid event id ''notanid''"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_query
      X-Dd-Version:
      - "35.2368021"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "267"
      X-Ratelimit-Reset:
      - "436"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"query":"","startAt":"notanid","time":{"from":"0001-01-01T00:00:00Z","to":"0001-01-01T00:00:00Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
