---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMonthlyCustomReports
    url: https://api.datadoghq.com/api/v1/monthly_custom_reports
    method: GET
  response:
    body: '{"meta":{"page":{"total_count":0}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_wallace
      X-Dd-Debug:
      - ahxEhBnK6gTKau+YHdT5vDReJIRJqKykqEsbF4Pw9NfUaIrDkEtMFqGa2IE1DX6i
      X-Dd-Version:
      - "35.2747870"
    status: 200 OK
    code: 200
    duration: ""
