---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"content-type","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"}],"request":{"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Go client testing Synthetics API test","options":{"accept_self_signed":false,"follow_redirects":true,"min_location_failed":10,"retry":{"count":5,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"2rt-xik-8dr","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Go
      client testing Synthetics API test","monitor_id":17600208,"type":"api","created_at":"2020-04-10T12:07:49.695783+00:00","modified_at":"2020-04-10T12:07:49.695783+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"follow_redirects":true,"accept_self_signed":false,"retry":{"count":5,"interval":10},"min_location_failed":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377504"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "11"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2rt-xik-8dr
    method: GET
  response:
    body: '{"status":"live","public_id":"2rt-xik-8dr","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","modified_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"name":"go
      client updated name","monitor_id":17600208,"type":"api","created_at":"2020-04-10T12:07:49.695783+00:00","modified_at":"2020-04-10T12:07:50.163130+00:00","created_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"subtype":"http","overall_state_modified":"2020-04-10T12:07:50.728791+00:00","overall_state":2,"config":[...]
- request:
    body: |
      {"new_status":"paused"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2rt-xik-8dr/status
    method: PUT
  response:
    body: "true"
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377504"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "115"
      X-Ratelimit-Reset:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2rt-xik-8dr/results?probe_dc=aws%3Aus-east-2
    method: GET
  response:
    body: '{"last_timestamp_fetched":1581336471000,"results":[{"status":1,"check_time":1586520471442,"check_version":1,"result":{"errorMessage":"[{\"index\":0,\"operator\":\"is\",\"property\":\"content-type\",\"type\":\"header\",\"target\":\"text/html\",\"valid\":false,\"actual\":\"text/html;
      charset=utf-8\"}]","nextTryAt":"2020-04-10T12:07:51.655Z","timings":{"redirect":85,"firstByte":24.8,"tcp":18.8,"ssl":39.5,"dns":13.377870082855225,"download":19.9,"total":201.4},"initialResultID":"7906674183954379506","runType":null},"probe_dc":"aws:us-east-2","result_id":"7906674183954379260"},{"status":1,"check_time":1586520471266,"check_version":2,"result":{"errorMessage":"[{\"index\":0,\"operator\":\"is\",\"property\":\"content-type\",\"type\":\"header\",\"target\":\"text/html\",\"valid\":false,\"actual\":\"text/html;
      charset=utf-8\"}]","nextTryAt":"2020-04-10T12:07:51.467Z","timings":{"redirect":90.4,"firstByte":22.3,"tcp":18.4,"ssl":39.7,"dns":0.6115279197692871,"download":18.5,"total":189.9},"initialResultID":"4961198917768127446","runType":null},"pr[...]
- request:
    body: |
      {"public_ids":["2rt-xik-8dr"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-04-10T12:07:52.260134+00:00","public_id":"2rt-xik-8dr"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377504"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["2rt-xik-8dr"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377504"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "116"
      X-Ratelimit-Reset:
      - "8"
    status: 404 Not Found
    code: 404
    duration: ""
