---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "Test-TestHostsIncludeMutedHostsDataFunctional-1617977665",
      "metric": "go.client.test.metric", "points": [[1617977665.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHostsIncludeMutedHostsDataFunctional-1617977665
    method: GET
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetHostTags
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHostsIncludeMutedHostsDataFunctional-1617977665
    method: GET
  response:
    body: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1617977665
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":0,"host_list":[],"total_matching":0}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - avItM/vasf5577ctA38LDT0J2A9+fvs/uvoH0cN7ua0YsjdSdTqOUoUrjVr1Jdbk
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1617977665
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1617977666,"name":"Test-TestHostsIncludeMutedHostsDataFunctional-1617977665","is_muted":false,"mute_timeout":null,"apps":["go"],"tags_by_source":{"Datadog":["host:Test-TestHostsIncludeMutedHostsDataFunctional-1617977665"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"Test-TestHostsIncludeMutedHostsDataFunctional-1617977665","id":4338351757,"aliases":["Test-TestHostsIncludeMutedHostsDataFunctional-1617977665"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - FTwGKwy9Lra7fBbE6euCkrJgY113+qvKr/RvEUSf/VUEEMB7NzTLaZqnk4ey6B6T
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"end":1617978865,"message":"muting for test"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/Test-TestHostsIncludeMutedHostsDataFunctional-1617977665/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":1213945176,"hostname":"Test-TestHostsIncludeMutedHostsDataFunctional-1617977665","end":1617978865,"message":"muting
      for test"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1617977665&include_muted_hosts_data=true
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1617977666,"name":"Test-TestHostsIncludeMutedHostsDataFunctional-1617977665","is_muted":true,"mute_timeout":1617978865,"apps":["go"],"tags_by_source":{"Datadog":["host:Test-TestHostsIncludeMutedHostsDataFunctional-1617977665"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"Test-TestHostsIncludeMutedHostsDataFunctional-1617977665","id":4338351757,"aliases":["Test-TestHostsIncludeMutedHostsDataFunctional-1617977665"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 7vnP2Oxw2WcQZuDbLt/W2sw+5aqazKiohrNDUtLRFu5RSYZ9uhZCton20e/73ldZ
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListHosts
    url: https://api.datadoghq.com/api/v1/hosts?filter=Test-TestHostsIncludeMutedHostsDataFunctional-1617977665&include_muted_hosts_data=false
    method: GET
  response:
    body: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1617977666,"name":"Test-TestHostsIncludeMutedHostsDataFunctional-1617977665","is_muted":false,"mute_timeout":null,"apps":["go"],"tags_by_source":{"Datadog":["host:Test-TestHostsIncludeMutedHostsDataFunctional-1617977665"]},"up":true,"metrics":{"load":null,"iowait":null,"cpu":null},"sources":[],"meta":{},"host_name":"Test-TestHostsIncludeMutedHostsDataFunctional-1617977665","id":4338351757,"aliases":["Test-TestHostsIncludeMutedHostsDataFunctional-1617977665"]}],"total_matching":1}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 9XxH7zIwQSYjIWICsZFts8Sbg1nFT12z4aOMX9WnPiMfolYWdBLa67EXjFm3ZOXE
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
