---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=123&start=345
    method: GET
  response:
    body: '{"errors": ["metric_query or graph_def param required"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2359295"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "58"
      X-Ratelimit-Reset:
      - "1408"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=123&start=345
    method: GET
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
