---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageLambda
    url: https://api.datadoghq.com/api/v1/usage/aws_lambda?end_hr=2021-03-13T00%3A00%3A00Z&start_hr=2021-03-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"func_count":0,"hour":"2021-03-12T00:00:00+00:00","invocations_sum":0},{"func_count":0,"hour":"2021-03-12T01:00:00+00:00","invocations_sum":0},{"func_count":0,"hour":"2021-03-12T02:00:00+00:00","invocations_sum":0},{"func_count":0,"hour":"2021-03-12T03:00:00+00:00","invocations_sum":0},{"func_count":0,"hour":"2021-03-12T04:00:00+00:00","invocations_sum":0},{"func_count":0,"hour":"2021-03-12T05:00:00+00:00","invocations_sum":0},{"func_count":0,"hour":"2021-03-12T06:00:00+00:00","invocations_sum":0},{"func_count":0,"hour":"2021-03-12T07:00:00+00:00","invocations_s[...]
