---
version: 1
interactions:
- request:
    body: |
      {"message":"Testing scope downtime: client, go","scope":["test:client-TestScopedDowntime-1587140634065743000","test:go-TestScopedDowntime-1587140634065743000"],"start":1587140634,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1587140634,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:client-TestScopedDowntime-1587140634065743000","test:go-TestScopedDowntime-1587140634065743000"],"message":"Testing
      scope downtime: client, go","downtime_type":2,"id":801510993,"updater_id":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dd-Version:
      - "35.2404003"
    status: 200 OK
    code: 200
    duration: ""
[...]
{"scope":"test:go-TestScopedDowntime-1587140634065743000"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CancelDowntimesByScope
    url: https://api.datadoghq.com/api/v1/downtime/cancel/by_scope
    method: POST
  response:
    body: '{"cancelled_ids":[801510994]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dd-Version:
      - "35.2403974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/801511013
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Dd-Version:
      - "35.2404003"
    status: 204 No Content
    code: 204
    duration: ""
[...]
