---
version: 1
interactions:
- request:
    body: |
      {"description":"variable description","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1622028556","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      description","tags":["synthetics"],"is_totp":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"c42b9916-89c8-4ae2-b4d3-a8f79f4b6bbb","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1622028556"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4609923"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/c42b9916-89c8-4ae2-b4d3-a8f79f4b6bbb
    method: GET
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      description","tags":["synthetics"],"created_at":"2021-05-26T11:29:17.306699+00:00","is_totp":null,"modified_at":"2021-05-26T11:29:17.306699+00:00","value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"created_by":1445416,"type":"variable","id":"c42b9916-89c8-4ae2-b4d3-a8f79f4b6bbb","name":"TEST_TESTSYNTHETICSVARIABLELIFECYCLE_1622028556"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4609923"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGlobalVariables
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: GET
  response:
    body: '{"variables":[{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable
      from test description","tags":["synthetics"],"created_at":"2021-04-12T06:06:39.963149+00:00","is_totp":null,"modified_at":"2021-04-12T06:06:39.963149+00:00","value":{"secure":false,"value":""},"parse_test_public_id":null,"parse_test_name":null,"created_by":"CI
      Account","type":"variable","id":"0b761752-1980-40b2-827c-2b9c85697a3a","name":"GO_TESTSYNTHETICSVARIABLEFROMTESTLIFECYCLE_57560_1618207599"},{"p[...]
[...]
