---
version: 1
interactions:
- request:
    body: |
      {"service_key":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/aservice
    method: PUT
  response:
    body: '{"errors": ["service_key cannot be blank"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"service_key":"lalaa"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/aservice
    method: PUT
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
