---
version: 1
interactions:
- request:
    body: |
      {"account_id":"go_452189000","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"2fad229172174157b2e92e7659102c83"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QO3HutZQjgMDp/HqClcLon+qq5lEghb3LRV+gXMIQ2Jivd1m1eEGCh0RxplUQMIV
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"go_452189000","services":["s3","elb","elbv2","cloudfront","redshift","lambda"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services_async
    method: POST
  response:
    body: '{"status":"error","errors":[{"message":"AWS account go_452189000 has no
      lambda config to update","code":"no_such_config"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - u2B27rQjtu8TuEjzrroc8ae3xeJMLmsxU6SiAszW1tH+EI3X0cOP819eGNRqlxzl
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
[...]
