---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"name for service check monitor in Go client","query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","tags":["test","client:go"],"type":"service check"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["test","client:go"],"deleted":null,"query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","message":"some
      message Notify: @hipchat-channel","id":17760912,"multi":true,"name":"name for
      service check monitor in Go client","created":"2020-04-17T16:06:59.634413+00:00","created_at":1587139619000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-04-17T16:06:59.634413+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"service check","options":{"notify_audit":false,"locked":false,"silenced":{},"include_tags":true,"new_host_delay":300,"notify_no_data":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dd-Version:
      - "35.2403857"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Track the uptime of host foo which is critical to us.","monitor_ids":[17760912],"name":"Go client Critical Foo Host Uptime","tags":["app:core","kpi"],"thresholds":[{"target":95,"timeframe":"30d","warning":98}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Track the uptime of host foo which is critical
      to us.","monitor_tags":["test","client:go"],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"f5f1bb73229051b7bc7ec1321edf616d","monitor_ids":[17760912],"name":"Go
      client Critical Foo Host Uptime","created_at":1587139619,"tags":["app:core","kpi"],"modified_at":1587139619,"type":"monitor"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2403857"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1587139619,"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"description":"Updated description","id":"f5f1bb73229051b7bc7ec1321edf616d","modified_at":1587139619,"monitor_ids":[17760912],"monitor_tags":["test","client:go"],"name":"Go client Critical Foo Host Uptime","tags":["app:core","kpi"],"thresholds":[{"target":95,"target_display":"95.","timeframe":"30d","warning":98,"warning_display":"98."}],"type":"monitor","type_id":0}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSLO
    url: https://api.datadoghq.com/api/v1/slo/f5f1bb73229051b7bc7ec1321edf616d
    method: PUT
  response:
    body: '{"data":[{"description":"Updated description","monitor_tags":["test","client:go"],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"f5f1bb73229051b7bc7ec1321edf616d","monitor_ids":[17760912],"name":"Go
      client Critical Foo Host Uptime","created_at":1587139619,"tags":["app:core","kpi"],"modified_at":1587139620,"type":"monitor"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2403857"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CheckCanDeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=f5f1bb73229051b7bc7ec1321edf616d
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["f5f1bb73229051b7bc7ec1321edf616d"]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2403857"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOHistory
    url: https://api.datadoghq.com/api/v1/slo/f5f1bb73229051b7bc7ec1321edf616d/history?from_ts=1587139604&to_ts=1587139614
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1587139614,"type_id":0,"thresholds":{"30d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}},"overall":{"errors":[{"error_type":"NO_RESULTS","error_message":"No
      results found for this monitor"}],"span_precision":0,"preview":false,"name":"name
      for service check monitor in Go client","precision":{"30d":2}},"from_ts":1587139604,"type":"monitor"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2403857"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/17760912
    method: DELETE
  response:
    body: '{"deleted_monitor_id":17760912}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dd-Version:
      - "35.2403857"
    status: 200 OK
    code: 200
    duration: ""
