---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMonthlyCustomReports
    url: https://api.datadoghq.com/api/v1/monthly_custom_reports
    method: GET
  response:
    body: '{"meta":{"page":{"total_count":9}},"data":[{"type":"reports","id":"2021-03-01","attributes":{"tags":["project"],"start_date":"2021-03-01","end_date":"2021-04-01","size":33516,"computed_on":"2021-04-02T05:00:58+00:00"}},{"type":"reports","id":"2021-02-01","attributes":{"tags":["project"],"start_date":"2021-02-01","end_date":"2021-03-01","size":35757,"computed_on":"2021-03-02T15:37:35+00:00"}},{"type":"reports","id":"2021-01-01","attributes":{"tags":["project"],"start_date":"2021-01-01","end_date":"2021-02-01","size":24212,"computed_on":"2021-02-01T17:08:40+00:00"}},{"type":"reports","id":"2020-12-01","attributes":{"tags":["project"],"start_date":"2020-12-01","end_date":"2021-01-01","size":33282,"computed_on":"2021-01-01T15:55:41+00:00"}},{"type":"reports","id":"2020-11-01","attributes":{"tags":["project"],"start_date":"2020-11-01","end_date":"2020-12-01","size":22299,"computed_on":"2020-12-07T23:47:00+00:00"}},{"type":"reports","id":"2020-10-01","attributes":{"tags":["project"],"start_date":"2020-10-01","end_date":"2020-11-01","size":11920,"computed_on":"2020-12-07T23:43:28+00:00"}},{"type":"reports","id":"2020-09-01","attributes":{"tags":["project"],"start_date":"2020-09-01","end_date":"2020-10-01","size":212363,"computed_on":"2020-10-03T02:00:02+00:00"}},{"type":"reports","id":"2020-08-01","attributes":{"tags":["project"],"start_date":"2020-08-01","end_date":"2020-09-01","size":346966,"computed_on":"2020-09-01T17:02:30+00:00"}},{"type":"reports","id":"2020-07-15","attributes":{"tags":["project"],"start_date":"2020-07-15","end_date":"2020-08-01","size":189933,"computed_on":"2020-08-01T17:25:00+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tTVv4aSy24IlFw8jtOOjMmgw7lg3eptV1DhMa2wm3qfQekExFHZoNNDWhCwSvCIX
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
