---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageTopAvgMetrics
    url: https://api.datadoghq.com/api/v1/usage/top_avg_metrics?month=2021-04-09T16%3A19%3A50%2B02%3A00
    method: GET
  response:
    body: '{"usage":[{"metric_category":"custom","metric_name":"test_python3.test_python3_promcheck","max_metric_hour":8,"avg_metric_hour":8},{"metric_category":"custom","metric_name":"test.distribution_metric.1617380552","max_metric_hour":5,"avg_metric_hour":5},{"metric_category":"custom","metric_name":"test.distribution_metric.1617381803","max_metric_hour":5,"avg_metric_hour":5},{"metric_category":"custom","metric_name":"page.views","max_metric_hour":6,"avg_metric_hour":3},{"metric_category":"custom","metric_name":"metric","max_metric_hour":2,"avg_metric_hour":2},{"metric_category":"custom","metric_name":"test.muting.host","max_m[...]
