---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testdisableuser-local-1591954353@integration-tests-accnt-for-sdk-ci.com","handle":"go-testdisableuser-local-1591954353@integration-tests-accnt-for-sdk-ci.com","name":"go-TestDisableUser-local-1591954353"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testdisableuser-local-1591954353@integration-tests-accnt-for-sdk-ci.com","name":"go-TestDisableUser-local-1591954353","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testdisableuser-local-1591954353@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/8070379f091ecb9f491cd41a11dd8a64?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 3OCRM/4FZbkllI4iloi1acHDABD1SJi2aj2fysEPLLsOVOk5Ki6mi6IOsVG7JIay
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testdisableuser-local-1591954353@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testdisableuser-local-1591954353@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2AZOmbSnS2o4jaTO55IoEgDi10r3ewUAnpo5XLuAFAThAxt0uvbRy8dZoSIDmBYA
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testdisableuser-local-1591954353@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2613383"
    status: 400 Bad Request
    code: 400
    duration: ""
