---
version: 1
interactions:
- request:
    body: |
      {"filter":{"query":"query"},"is_enabled":true,"name":"go-client-test-pipeline-1588269419","processors":[{"grok":{"match_rules":"rule1 foo\nrule2 bar","support_rules":"support baz"},"is_enabled":false,"name":"grok parser","samples":["sample"],"source":"src","type":"grok-parser"},{"is_enabled":false,"name":"log date remapper","sources":["source"],"type":"date-remapper"},{"is_enabled":false,"name":"log status remapper","sources":["source"],"type":"status-remapper"},{"is_enabled":false,"name":"service remapper","sources":["source"],"type":"service-remapper"},{"is_enabled":false,"name":"log message remapper","sources":["source"],"type":"message-remapper"},{"is_enabled":false,"name":"log message remapper","override_on_conflict":true,"preserve_source":true,"source_type":"tag","sources":["source"],"target":"target","target_type":"tag","type":"attribute-remapper"},{"is_enabled":false,"name":"URL parser","normalize_ending_slashes":false,"sources":["source"],"target":"target","type":"url-parser"},{"is_enabled":false,"is_encoded":true,"name":"user agent parser","sources":["source"],"target":"target","type":"user-agent-parser"},{"categories":[{"filter":{"query":"query"},"name":"category"}],"is_enabled":false,"name":"category processor","target":"target","type":"category-processor"},{"expression":"foo + bar","is_enabled":false,"is_replace_missing":true,"name":"arithmetic processor","target":"target","type":"arithmetic-processor"},{"is_enabled":false,"is_replace_missing":true,"name":"string builder processor","target":"target","template":"template","type":"string-builder-processor"},{"is_enabled":false,"name":"geo IP parser","sources":["source"],"target":"target","type":"geo-ip-parser"},{"default_lookup":"default_lookup","is_enabled":false,"lookup_table":["key,value"],"name":"lookup processor","source":"source","target":"target","type":"lookup-processor"},{"is_enabled":false,"name":"trace remapper","sources":["source"],"type":"trace-id-remapper"},{"filter":{"query":"query"},"is_enabled":false,"name":"Test","processors":[{"grok":{"match_rules":"rule1 foo\nrule2 bar","support_rules":"support baz"},"is_enabled":false,"name":"grok parser","samples":["sample"],"source":"src","type":"grok-parser"},{"is_enabled":false,"name":"log date remapper","sources":["source"],"type":"date-remapper"}],"type":"pipeline"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: POST
  response:
    body: '{"id":"Gl0i6IpdS7m4Mx8pb4rYcg","type":"pipeline","name":"go-client-test-pipeline-1588269419","is_enabled":true,"is_read_only":false,"filter":{"query":"query"},"processors":[{"name":"grok
      parser","is_enabled":false,"source":"src","samples":["sample"],"grok":{"support_rules":"support
      baz","match_rules":"rule1 foo\nrule2 bar"},"type":"grok-parser"},{"name":"log
      date remapper","is_enabled":false,"sources":["source"],"type":"date-remapper"},{"name":"log
      status remapper","is_enabled":false,"sources":["source"],"type":"status-remapper"},{"name":"service
      remapper","is_enabled":false,"sources":["so[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/Gl0i6IpdS7m4Mx8pb4rYcg
    method: GET
  response:
    body: '{"id":"Gl0i6IpdS7m4Mx8pb4rYcg","type":"pipeline","name":"go-client-test-pipeline-1588269419","is_enabled":true,"is_read_only":false,"filter":{"query":"query"},"processors":[{"name":"grok
      parser","is_enabled":false,"source":"src","samples":["sample"],"grok":{"support_rule[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/Gl0i6IpdS7m4Mx8pb4rYcg
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IWbeot5NPPjwzkLRJwJSrhKxooUYWPiItYmeOu7MvfpEU9kI8879nM2EukYnEnom
      X-Dd-Version:
      - "35.2453376"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "45"
      X-Ratelimit-Reset:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/Gl0i6IpdS7m4Mx8pb4rYcg
    method: DELETE
  response:
    body: '{"error":{"code":"InvalidArgument","message":"This pipeline does not exist"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2453376"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "44"
      X-Ratelimit-Reset:
      - "180"
    status: 400 Bad Request
    code: 400
    duration: ""
