---
version: 1
interactions:
- request:
    body: '{"priority":"normal","source_type_name":"datadog-api-client-go","tags":["test","client:go"],"text":"example
      text","title":"Test-TestEventLifecycle-1618220937"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5938431024928355124,"title":"Test-TestEventLifecycle-1618220937","text":"example
      text","date_happened":1618220937,"handle":null,"priority":"normal","related_event_id":null,"tags":["test","client:go"],"url":"https://app.datadoghq.com/event/event?id=5938431024928355124"}}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetEvent
    url: https://api.datadoghq.com/api/v1/events/5938431024928355124
    method: GET
  response:
    body: '{"errors": ["No event matches that event_id."]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "3"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetEvent
    url: https://api.datadoghq.com/api/v1/events/5938431024928355124
    method: GET
  response:
    body: '{"event":{"date_happened":1618220937,"alert_type":"info","resource":"/api/v1/events/5938431024928355124","title":"Test-TestEventLifecycle-1618220937","url":"/event/event?id=5938431024928355124","text":"example
      text","tags":["client:go","test"],"device_name":null,"priority":"normal","host":null,"id":5938431024928355124}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11997"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListEvents
    url: https://api.datadoghq.com/api/v1/events?end=1618220947&priority=normal&sources=datadog-api-client-go&start=1618220927&tags=test%2Cclient%3Ago&unaggregated=true
    method: GET
  response:
    body: '{"events":[{"date_happened":1618220937,"alert_type":"info","is_aggregate":false,"title":"Test-TestEventLifecycle-1618220937","url":"/event/event?id=5938431024928355124","text":"example
      text","tags":["client:go","test"],"comments":[],"device_name":null,"priority":"normal","source":"My
      Apps","host":null,"resource":"/api/v1/events/5938431024928355124","id":5938431024928355124}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "599"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
