---
version: 1
interactions:
- request:
    body: |
      {"name":"go-TestAppKeysMgmtCreate409Error-local-1589290299"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApplicationKey
    url: https://api.datadoghq.com/api/v1/application_key
    method: POST
  response:
    body: '{"application_key":{"owner":"slavek.kabrda@datadoghq.com","org_id":321813,"hash":"83ce8d563850280472add857884a4e9c0e4dbef7","name":"go-TestAppKeysMgmtCreate409Error-local-1589290299","revoked":false}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pNNj5PhODCVJlRBPEhZP3s9KL9kvFYv//TnGsiPp+3AqL7R5kIW2JlCWtfMcXeFn
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"go-TestAppKeysMgmtCreate409Error-local-1589290299"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApplicationKey
    url: https://api.datadoghq.com/api/v1/application_key
    method: POST
  response:
    body: '{"errors": ["An application key with the name go-TestAppKeysMgmtCreate409Error-local-1589290299
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2493025"
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteApplicationKey
    url: https://api.datadoghq.com/api/v1/application_key/83ce8d563850280472add857884a4e9c0e4dbef7
    method: DELETE
  response:
    body: '{"application_key":{"owner":"slavek.kabrda@datadoghq.com","org_id":321813,"hash":"83ce8d563850280472add857884a4e9c0e4dbef7","name":"go-TestAppKeysMgmtCreate409Error-local-1589290299","revoked":true}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FB5oGxuL9E/cplxahdQnU5Nw5E7KX0Smq18it9qYKIt8BXsSloE0IpDRA39tfQwn
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
