---
version: 1
interactions:
- request:
    body: |
      {"filter":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/shrugs
    method: PUT
  response:
    body: '{"error":{"code":"InvalidArgument","message":"filter.query cannot be null"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2389980"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "89"
      X-Ratelimit-Reset:
      - "2306"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"filter":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/shrugs
    method: PUT
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
