---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageAttribution
    url: https://api.datadoghq.com/api/v1/usage/attribution?fields=%2A&start_month=2020-11-16T15%3A52%3A05-03%3A00
    method: GET
  response:
    body: '{"usage":[{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":100.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":1,"api_usage":70768,"container_usage":1.01,"custom_timeseries_percentage":100.0,"container_percentage":100.0,"lambda_usage":0.0,"apm_host_percentage":100.0,"npm_host_percentage":100.0,"custom_timeseries_usage":10.82,"browser_percentage":0.0,"infra_host_percentage":100.0,"snmp_percentage":0.0,"npm_host_usage":2,"infra_host_usage":3,"browser_usage":0},"updated_at":"2020-11-16T17","tags":null},{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":100.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":1,"api_usage":70768,"container_usage":1.01,"custom_timeseries_percentage":100.0,"container_percentage":100.0,"lambda_usage":0.0,"apm_host_percentage":100.0,"npm_host_percentage":100.0,"custom_timeseries_usage":10.82,"browser_percentage":0.0,"infra_host_percentage":100.0,"snmp_percentage":0.0,"npm_host_usage":2,"infra_host_usage":3,"browser_usage":0},"updated_at":"2020-11-16T17","tags":null},{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":0.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":0,"api_usage":0,"container_usage":0.0,"custom_timeseries_percentage":73.94,"container_percentage":0.0,"lambda_usage":0.0,"apm_host_percentage":0.0,"npm_host_percentage":100.0,"custom_timeseries_usage":8.0,"browser_percentage":0.0,"infra_host_percentage":66.67,"snmp_percentage":0.0,"npm_host_usage":2,"infra_host_usage":2,"browser_usage":0},"updated_at":"2020-11-16T17","tags":{"project":["datadog-integrations-lab"]}},{"public_id":"fasjyydbcgwwc2uc","month":"2020-11-01T00:00:00+00:00","values":{"api_percentage":100.0,"snmp_usage":0,"lambda_percentage":0.0,"apm_host_usage":1,"api_usage":70768,"container_usage":1.01,"custom_timeseries_percentage":26.06,"container_percentage":100.0,"lambda_usage":0.0,"apm_host_percentage":100.0,"npm_host_percentage":0.0,"custom_timeseries_usage":2.82,"browser_percentage":0.0,"infra_host_percentage":33.33,"snmp_percentage":0.0,"npm_host_usage":0,"infra_host_usage":1,"browser_usage":0},"updated_at":"2020-11-16T17","tags":{"project":[]}}],"metadata":{"pagination":{"sort_direction":"DESC","sort_name":"custom_timeseries_usage","limit":5000,"total_number_of_records":4,"offset":0},"aggregates":[{"field":"custom_timeseries_usage","value":32.46,"agg_type":"sum"},{"field":"container_usage","value":3.03,"agg_type":"sum"},{"field":"snmp_percentage","value":0.0,"agg_type":"sum"},{"field":"apm_host_usage","value":3.0,"agg_type":"sum"},{"field":"browser_usage","value":0.0,"agg_type":"sum"},{"field":"npm_host_percentage","value":300.0,"agg_type":"sum"},{"field":"infra_host_usage","value":9.0,"agg_type":"sum"},{"field":"custom_timeseries_percentage","value":300.0,"agg_type":"sum"},{"field":"container_percentage","value":300.0,"agg_type":"sum"},{"field":"lambda_usage","value":0.0,"agg_type":"sum"},{"field":"api_usage","value":212304.0,"agg_type":"sum"},{"field":"apm_host_percentage","value":300.0,"agg_type":"sum"},{"field":"infra_host_percentage","value":300.0,"agg_type":"sum"},{"field":"snmp_usage","value":0.0,"agg_type":"sum"},{"field":"browser_percentage","value":0.0,"agg_type":"sum"},{"field":"api_percentage","value":300.0,"agg_type":"sum"},{"field":"lambda_percentage","value":0.0,"agg_type":"sum"},{"field":"npm_host_usage","value":6.0,"agg_type":"sum"}]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gr+QII7IFZVxhXS35BsEOrW9Uz3gs+l7g2tB1FOjy4hKCe3rtnWg3KfE74dirBtE
      X-Dd-Version:
      - "35.3384168"
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "355"
      X-Ratelimit-Reset:
      - "474"
    status: 200 OK
    code: 200
    duration: ""
