---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: GET
  response:
    body: '{"errors": ["pagerduty not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2372800"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"service_key":"","service_name":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services
    method: POST
  response:
    body: '{"errors": ["service_name cannot be blank"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2372800"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"service_key":"lalaa","service_name":"lalasa"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
