---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageProfiling
    url: https://api.datadoghq.com/api/v1/usage/profiling?end_hr=2020-08-16T23%3A00%3A00Z&start_hr=2020-08-16T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"host_count":null,"hour":"2020-08-16T00:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2020-08-16T01:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2020-08-16T02:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2020-08-16T03:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2020-08-16T04:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2020-08-16T05:00:00+00:00","avg_container_agent_count":null},{"host_count":null,"hour":"2020-08-16T06:00:00+00:00",[...]
