---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageLogs
    url: https://api.datadoghq.com/api/v1/usage/logs?end_hr=2020-04-13T00%3A00%3A00Z&start_hr=2020-04-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"billable_ingested_bytes":0,"ingested_events_bytes":0,"indexed_events_count":0,"hour":"2020-04-12T00:00:00+00:00"},{"billable_ingested_bytes":0,"ingested_events_bytes":0,"indexed_events_count":0,"hour":"2020-04-12T01:00:00+00:00"},{"billable_ingested_bytes":0,"ingested_events_bytes":0,"indexed_events_count":0,"hour":"2020-04-12T02:00:00+00:00"},{"billable_ingested_bytes":0,"ingested_events_bytes":0,"indexed_events_count":0,"hour":"2020-04-12T03:00:00+00:00"},{"billable_ingested_bytes":0,"ingested_events_bytes":0,"indexed_events_count":0,"hour":"2020-04-12T04:00:00+00:00"},{"billa[...]
