---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","handle":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestDisableUser-1618221310"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestDisableUser-1618221310","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/07fc2c855d274a6f5b87b98c4bcd78bb?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 400 Bad Request
    code: 400
    duration: ""
