---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: GET
  response:
    body: '{"errors": ["pagerduty not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2189722"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"api_token":"y_NbAkKc66ryYTWUXYEu","subdomain":"_deadbeef"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - F2g1vP9i37Cj4rH5vEufbSNzCmriMTDVzKKqVk/JOUesbIz8psR3R2945wO0PbTf
      X-Dd-Version:
      - "35.2189722"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: GET
  response:
    body: '{"services":[],"schedules":[],"subdomain":"_deadbeef","api_token":"*****"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +24qoGfe5Pp4qbS1m8KO9qioq2P4fxuj80XQhtr/9vInDLECmYZT0VSsbqISZgqC
      X-Dd-Version:
      - "35.2189722"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"schedules":["https://_deadbeef.pagerduty.com/schedules#DEAD3F"],"services":[{"service_key":"deadbeef","service_name":"test_go"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Wn01ZjXucAfzJfwvKAkpy0yFfNtHyWu4ZB2aA4ZDwwhXkyLHirYeUNsx208dZz9p
      X-Dd-Version:
      - "35.2189722"
    status: 204 No Content
    code: 204
    duration: ""
[...]
