---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"request":{"dnsServer":"8.8.8.8","dnsServerPort":53,"host":"https://www.datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype DNS - this is message","name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1619512631","options":{"tick_every":60},"subtype":"dns","tags":["testing:api-dns"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"t4d-w3w-skm","tags":["testing:api-dns"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1619512631","monitor_id":34501128,"type":"api","created_at":"2021-04-27T08:37:12.087616+00:00","modified_at":"2021-04-27T08:37:12.087616+00:00","subtype":"dns","config":{"request":{"dnsServerPort":53,"host":"https://www.datadoghq.com","dnsServer":"8.8.8.8"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4397207"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "49"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"request":{"dnsServer":"8.8.8.8","dnsServerPort":53,"host":"https://www.datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype DNS - this is message","name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1619512631-updated","options":{"tick_every":60},"status":"live","subtype":"dns","tags":["testing:api-dns"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/t4d-w3w-skm
    method: PUT
  response:
    body: '{"status":"live","public_id":"t4d-w3w-skm","tags":["testing:api-dns"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1619512631-updated","monitor_id":34501128,"type":"api","created_at":"2021-04-27T08:37:12.087616+00:00","modified_at":"2021-04-27T08:37:12.598923+00:00","subtype":"dns","config":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/t4d-w3w-skm
    method: GET
  response:
    body: '{"status":"live","public_id":"t4d-w3w-skm","tags":["testing:api-dns"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","name":"Test-TestSyntheticsSubtypeDnsAPITestLifecycle-1619512631-updated","monitor_id":34501128,"type":"api","subtype":"dns","config":[...]
- request:
    body: |
      {"new_status":"paused"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTestPauseStatus
    url: https://api.datadoghq.com/api/v1/synthetics/tests/t4d-w3w-skm/status
    method: PUT
  response:
    body: "true"
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4397207"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITestLatestResults
    url: https://api.datadoghq.com/api/v1/synthetics/tests/t4d-w3w-skm/results?from_ts=0&probe_dc=aws%3Aus-east-2&to_ts=1619512631000
    method: GET
  response:
    body: '{"last_timestamp_fetched":1614328633000,"results":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.4397207"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "47"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["t4d-w3w-skm"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-27T08:37:14.026355+00:00","public_id":"t4d-w3w-skm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4397207"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "47"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["t4d-w3w-skm"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics tests: t4d-w3w-skm not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4397207"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "46"
    status: 404 Not Found
    code: 404
    duration: ""
