---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"Test-TestSLOEventLifecycle-1617977912","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"e7b69c2d2084506490815abff52bcc95","name":"Test-TestSLOEventLifecycle-1617977912","created_at":1617977912,"tags":["app:httpd"],"modified_at":1617977912,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1617977912,"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"description":"Updated description","id":"e7b69c2d2084506490815abff52bcc95","modified_at":1617977912,"monitor_tags":[],"name":"Test-TestSLOEventLifecycle-1617977912","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"target_display":"95.","timeframe":"[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CheckCanDeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=e7b69c2d2084506490815abff52bcc95
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["e7b69c2d2084506490815abff52bcc95"]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2998"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOHistory
    url: https://api.datadoghq.com/api/v1/slo/e7b69c2d2084506490815abff52bcc95/history?from_ts=1617977901&to_ts=1617977911
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1617977911,"type_id":1,"series":{"res_type":"time_series","denominator":{"count":1,"sum":0.0,"values":[0.0],"metadata":{"unit":null,"query_index":1,"aggr":"sum","scope":"!code:3xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","tag_set":[]}},"graph_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count()) - default_zero(sum:httpservice.hits{code:2xx}.as_count())","resp_version":2,"interval":7200,"numerator":{"count":1,"sum":0.0,"values":[0.0],"metadata":{"unit":null,"query_index":0,"aggr":"sum","scope":"code:2xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","tag_set":[]}},"bad_series_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())
      - default_zero(sum:httpservice.hits{code:2xx}.as_count())","times":[1617976800000.0],"denominator_query":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","from_date":1617977901000,"numerator_query":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","to_date":1617977911000,"timing":"0.0094301700592","query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count())","message":""},"thresholds":{"7d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}},"overall":{"uptime":null,"span_precision":2,"errors":[{"error_type":"ZERO_VALUED_DENOMINATOR","error_message":"The
      denominator is zero valued"}],"sli_value":null,"precision":{"7d":0}},"from_ts":1617977901,"group_by":[],"slo":{"description":"Updated
      description","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"e7b69c2d2084506490815abff52bcc95","name":"Test-TestSLOEventLifecycle-1617977912","created_at":1617977912,"tags":["app:httpd"],"modified_at":1617977913,"type":"metric"},"type":"metric"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "150"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "148"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
