---
version: 1
interactions:
- request:
    body: |
      {"description":"","name":"go-TestSyntheticsVariableLifecycle-local-1589290407","tags":["synthetics"],"type":"variable","value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"created_at":"2020-07-01T13:07:05.089687+00:00","created_by":39199,"description":"","id":"1224f1ce-c6ec-4c6b-8d4c-7caef7ad5cac","modified_at":"2020-07-01T13:07:05.089687+00:00","name":"go-TestSyntheticsVariableLifecycle-local-1589290407","tags":["synthetics"],"type":"variable","value":{"secure":false,"value":"TEST_VALUE"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OdMYjD4Lcx2EOYJ2NSqLNRIyMqxNYyUQxCcT6zY9ZmZ+zl9yipXz0nuLjH5hVxTY
      X-Dd-Version:
      - "35.2493025"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "33"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"","name":"go-TestSyntheticsVariableLifecycle-local-1589290407-updated","tags":["synthetics"],"type":"variable","value":{"secure":false,"value":"VARIABLE_VALUE_UPDATED"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/1224f1ce-c6ec-4c6b-8d4c-7caef7ad5cac
    method: PUT
  response:
    body: '{"created_at":"2020-07-01T13:07:05.089687+00:00","created_by":39199,"description":"","id":"1224f1ce-c6ec-4c6b-8d4c-7caef7ad5cac","modified_at":"2020-07-01T13:17:05.089687+00:00","name":"go-TestSyntheticsVariableLifecycle-local-1589290407-updated","tags":["synthetics"],"type":"variable","value":{"secure":false,"value":"TEST_VALUE_UPDATED"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OdMYjD4Lcx2EOYJ2NSqLNRIyMqxNYyUQxCcT6zY9ZmZ+zl9yipXz0nuLjH5hVxTY
      X-Dd-Version:
      - "35.2493025"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "33"
    status: 200 OK
    code: 200
    duration: ""
[...]
