---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"content-type","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"go-TestSyntheticsTriggerCITests-local-1602847781","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"6fg-34m-va9","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"go-TestSyntheticsTriggerCITests-local-1602847781","monitor_id":24237890,"type":"api","created_at":"2020-10-16T11:29:42.593618+00:00","modified_at":"2020-10-16T11:29:42.593618+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kS9NSnhl4uQ8VlOuLb8SB7TQURuCRIbRwHRx1a1SKX/xDGoogXWL0I8r2t0CM40K
      X-Dd-Version:
      - "35.3204982"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tests":[{"locations":["aws:us-east-2"],"public_id":"6fg-34m-va9"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - TriggerCITests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger/ci
    method: POST
  response:
    body: '{"results":[{"result_id":"9168053063740743610","public_id":"6fg-34m-va9","location":30005}],"triggered_check_ids":["6fg-34m-va9"],"locations":[{"is_active":true,"region":"Asia
      Pacific","display_name":"Tokyo (AWS)","id":4,"name":"aws:ap-northeast-1"},{"is_active":true,"region":"Asia
      Pacific","display_name":"Seoul (AWS)","id":30016,"name":"aws:ap-northeast-2"},{"is_active":true,"region":"Asia
      Pacific","display_name":"Mumbai (AWS)","id":30014,"name":"aws:ap-south-1"},{"is_active":true,"region":"Asia
      Pacific","display_name":"Singapore (AWS)","id":30015,"name":"aws:ap-southeast-1"},{"is_active":true,"region":"Asia
      Pacific","display_name":"Sydney (AWS)","id":30004,"name":"aws:ap-southeast-2"}[...]
- request:
    body: |
      {"public_ids":["6fg-34m-va9"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-10-16T11:29:43.119916+00:00","public_id":"6fg-34m-va9"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - XhN3sROXhRtxvw2F+uRtJTWMwUQRYhDKBCNr1DfCqtzQgh490ZXtNSOhIx1TzG8K
      X-Dd-Version:
      - "35.3204982"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "17"
    status: 200 OK
    code: 200
    duration: ""
