---
version: 1
interactions:
- request:
    body: |
      {"filter":{"query":"query"},"is_enabled":true,"name":"Test-TestLogsPipelinesLifecycle-1617977828","processors":[{"grok":{"match_rules":"rule1 foo\nrule2 bar","support_rules":"support baz"},"is_enabled":false,"name":"grok parser","samples":["sample"],"source":"src","type":"grok-parser"},{"is_enabled":false,"name":"log date remapper","sources":["source"],"type":"date-remapper"},{"is_enabled":false,"name":"log status remapper","sources":["source"],"type":"status-remapper"},{"is_enabled":false,"name":"service remapper","sources":["source"],"type":"service-remapper"},{"is_enabled":false,"name":"log message remapper","sources":["source"],"type":"message-remapper"},{"is_enabled":false,"name":"log attribute remapper to attribute target type","override_on_conflict":true,"preserve_source":true,"source_type":"tag","sources":["source"],"target":"target","target_format":"string","target_type":"attribute","type":"attribute-remapper"},{"is_enabled":false,"name":"log attribute remapper to tag target type","override_on_conflict":true,"preserve_source":true,"source_type":"tag","sources":["source"],"target":"target","target_type":"tag","type":"attribute-remapper"},{"is_enabled":false,"name":"URL parser","normalize_ending_slashes":false,"sources":["source"],"target":"target","type":"url-parser"},{"is_enabled":false,"is_encoded":true,"name":"user agent parser","sources":["source"],"target":"target","type":"user-agent-parser"},{"categories":[{"filter":{"query":"query"},"name":"category"}],"is_enabled":false,"name":"category processor","target":"target","type":"category-processor"},{"expression":"foo + bar","is_enabled":false,"is_replace_missing":true,"name":"arithmetic processor","target":"target","type":"arithmetic-processor"},{"is_enabled":false,"is_replace_missing":true,"name":"string builder processor","target":"target","template":"template","type":"string-builder-processor"},{"is_enabled":false,"name":"geo IP parser","sources":["source"],"target":"target","type":"geo-ip-parser"},{"default_lookup":"default_lookup","is_enabled":false,"lookup_table":["key,value"],"name":"lookup processor","source":"source","target":"target","type":"lookup-processor"},{"is_enabled":false,"name":"trace remapper","sources":["source"],"type":"trace-id-remapper"},{"filter":{"query":"query"},"is_enabled":false,"name":"pipeline processor","processors":[{"grok":{"match_rules":"rule1 foo\nrule2 bar","support_rules":"support baz"},"is_enabled":false,"name":"grok parser","samples":["sample"],"source":"src","type":"grok-parser"},{"is_enabled":false,"name":"log date remapper","sources":["source"],"type":"date-remapper"}],"type":"pipeline"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: POST
  response:
    body: '{"id":"eQl_MxDySX-5lOr_vtpQfg","type":"pipeline","name":"Test-TestLogsPipelinesLifecycle-1617977828","is_enabled":true,"is_read_only":false,"filter":{"query":"query"},"processors":[{"name":"grok
      parser","is_enabled":false,"source":"src","samples":["sample"],"grok":{"support_rules":"support
      baz","match_rules":"rule1 foo\nrule2 bar"},"type":"grok-parser"},{"name":"log
      date remapper","is_enabled":false,"sources":["source"],"type":"date-remapper"},{"name":"log
      status remapper","is_enabled":false,"sources":["source"],"type":"status-remapper"},{"name":"service
      remapper","is_enabled":false,"sources":["so[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogsPipelines
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: GET
  response:
    body: '[{"id":"4I6FNy5GToqi2fKVAqNZJw","type":"pipeline","name":"Datadog Agent","is_enabled":true,"is_read_only":true,"filter":{"query":"source:(agent
      OR datadog-agent OR datadog-agent-cluster-worker OR datadog-cluster-agent OR
      process-agent OR security-agent OR system-probe OR trace-agent)"},"processors":[{"name":"Parsing
      Datadog Agent logs","is_enabled":true,"source":"message","samples":["2020-07-01
      09:48:14 UTC | CORE | INFO | (pkg/collector/runner/runner.go:327 in work) |
      check:network,type:core | Done running check","2020-09-15 10:00:07 UTC | CORE
      | INFO | (pkg/collector/python/datadog_agent.go:120 in LogMessage) | kafka_cluster_status:8ca7b736f0aa43e5
      | (kafka_cluster_status.py:213) | Checking for out of sync partition replicas","2019-04-08
      13:53:48 UTC | TRACE | INFO | (pkg/trace/agent/agent.go:145 in loop) | exiting","2019-02-01
      16:59:41 UTC | INFO | (connection_manager.go:124 in CloseConnection) | Connection
      closed","2020-11-18 10:31:13 UTC | JMX | INFO  | App | Successfully initialized
      instance: cassandra-localhost-7199"],"grok":{"support_rules":"","match_rules":"agent_rule         %{date(\"yyyy-MM-dd
      HH:mm:ss z\"):timestamp} \\| %{notSpace:agent} \\| %{word:level} \\| \\(%{notSpace:filename}:%{number:lineno}
      in %{word:process}\\) \\|( %{data::keyvalue(\":\")} \\|)?( - \\|)?( \\(%{notSpace:pyFilename}:%{number:pyLineno}\\)
      \\|)?%{data}\nagent_rule_pre_611 %{date(\"yyyy-MM-dd HH:mm:ss z\"):timestamp}
      \\| %{word:level} \\| \\(%{notSpace:filename}:%{number:lineno} in %{word:process}\\)%{data}\njmxfetch_rule      %{date(\"yyyy-MM-dd
      HH:mm:ss z\"):timestamp} \\| %{notSpace:agent} \\| %{word:level}\\s+\\| %{word:class}
      \\| %{data}\n"},"type":"grok-parser"},{"name":"Define timestamp as the official
      timestamp of the log","is_enabled":true,"sources":["timestamp"],"type":"date-remapper"},{"name":"Define
      level as the official log status","is_enabled":true,"sources":["level"],"type":"status-remapper"}]},{"id":"LWIrk9TLT3Kp9hnIbWBs2w","type":"pipeline","name":"Jenkins","is_enabled":false,"is_read_only":false,"filter":{"query":"source:jenkins
      service:jenkins"},"processors":[{"type":"pipeline","name":"Jenkins Main Logs","is_enabled":true,"filter":{"query":"@tailed_path:\"/var/lib/jenkins/logs/jenkins.log\"
      source:jenkins service:jenkins"},"processors":[{"name":"parse the log message","is_enabled":false,"source":"message","samples":["2020-09-11
      18:39:27.168+0000 [id=301]\tWARNING\thudson.model.RunMap#retrieve: could not
      load /var/lib/jenkins/jobs/process_label/builds/11396","2020-09-11 17:53:17.279+0000
      [id=1882974]\tIN[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/eQl_MxDySX-5lOr_vtpQfg
    method: GET
  response:
    body: '{"id":"eQl_MxDySX-5lOr_vtpQfg","type":"pipeline","name":"Test-TestLogsPipelinesLifecycle-1617977828","is_enabled":true,"is_read_only":false,"filter":{"query":"query"},"processors":[{"name":"grok
      parser","is_enabled":false,"source":"src","samples":["sample"],"grok":{"supp[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/eQl_MxDySX-5lOr_vtpQfg
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "77"
      X-Ratelimit-Reset:
      - "2572"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/eQl_MxDySX-5lOr_vtpQfg
    method: DELETE
  response:
    body: '{"error":{"code":"InvalidArgument","message":"This pipeline does not exist"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "76"
      X-Ratelimit-Reset:
      - "2572"
    status: 400 Bad Request
    code: 400
    duration: ""
