---
version: 1
interactions:
- request:
    body: |
      {"description":"variable description","name":"GO_TESTSYNTHETICSVARIABLELIFECYCLE_LOCAL_1596184994","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"parse_test_public_id":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"id":"262a9e5c-c24f-47ce-b297-6a8679dc3f72","parse_test_options":null,"name":"GO_TESTSYNTHETICSVARIABLELIFECYCLE_LOCAL_1596184994","parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hwI1xW1jobFHf2zp84DCOIiyi35zogyeJRd8i6KVEP/Mns/VANCoCRbonvlZZK0p
      X-Dd-Version:
      - "35.2814607"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "45"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"variable description","name":"GO_TESTSYNTHETICSVARIABLELIFECYCLE_LOCAL_1596184994_UPDATED","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - EditGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/262a9e5c-c24f-47ce-b297-6a8679dc3f72
    method: PUT
  response:
    body: '{"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"parse_test_public_id":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"id":"262a9e5c-c24f-47ce-b297-6a8679dc3f72","parse_test_options":null,"name":"GO_TESTSYNTHETICSVARIABLELIFECYCLE_LOCAL_1596184994_UPDATED","parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - zw3H8Hey+52s9gMQUk5aX4H++lHod0yST44vKRHh+Exv0+QWEPkaiIz7lGsCmogE
      X-Dd-Version:
      - "35.2814607"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "44"
    status: 200 OK
    code: 200
    duration: ""
[...]
