---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1623076781","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-TestSyntheticsMultipleTestsOperations-1623076781","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"pcv-vn6-qb8","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsMultipleTestsOperations-1623076781","monitor_id":37126011,"type":"api","created_at":"2021-06-07T14:39:42.460949+00:00","modified_at":"2021-06-07T14:39:42.460949+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"monitor_priority":5,"monitor_name":"Test-TestSyntheticsMultipleTestsOperations-1623076781","tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4690362"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics Browser test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1623076781","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsBrowserTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
    method: POST
  response:
    body: '{"status":"paused","public_id":"yx6-y99-kc4","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Syntheti[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: GET
  response:
    body: '{"tests":[{"status":"live","public_id":"qs9-d8s-h23","tags":["tags_example"],"locations":["aws:ap-northeast-1"],"message":"message_example","name":"name_example","monitor_id":35414840,"type":"api","created_at":"2021-05-14T09:18:54.535318+00:00","modified_at":"2021-05-14T09:18:54.535318+00:00","subtype":"http","config":{"request":{"body":"body_example","certificate":{"cert":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455916+00:00"},"key":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455889+00:00"}},"url":"http://doesngothere.com/fh","basicAuth":{"username":"","password":""},"headers":{"key":"key_example"},"host":"host_example","timeout":3.0,"method":"GET"},"steps":[{"name":"name_example","request":{"body":"body_example","certificate":{"cert":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455934+00:00"},"key":{"filename":"filename_example","updatedAt":"2021-05-14T09:18:54.455927+00:00"}},"url":"url_example","basicAuth":{"username":"","password":""},"host":"host_example","timeout":3.0,"method":"GET"},"subtype":"http","allowFailure":true,"assertions":[],"isCritical":true,"extractedValues":[{"field":"content-type","parser":{"type":"raw","value":"value_example"},"type":"http_body","name":"name_example"}]}],"assertions":[{"operator":"is","type":"statusCode","target":200}],"configVariables":[{"pattern":"pattern_example","type":"text","example":"example_example","name":"VARIABLE_NAME"}]},"options":{"accept_self_signed":true,"retry":{"count":1,"interval":3.0},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":1,"noScreenshot":true,"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0},"disableCors":true,"device_ids":["laptop_large"],"tick_every":30}},{"status":"live","public_id":"k5k-svf-bta","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"testing
      Synthetics API test - this is message","name":"java-testSyntheticsMultipleTestsOperations-local-1620987035-api","monitor_id":35416489,"type":"api","created_at":"2021-05-14T10:10:35.430728+00:00","modified_at":"2021-05-14T10:10:35.430728+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingJavaClient":"true"},"method":"GET","timeout":10.0},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10.0},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}},{"status":"live","public_id":"y2p-kdm-pd2","tags":["testing:api-tcp"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype TCP - this is message","name":"Test-Go-TestSyntheticsSubtypeTcpAPITestLifecycle-1621436803","monitor_id":35686775,"type":"api","created_at":"2021-05-19T15:06:43.877440+00:00","modified_at":"2021-05-19T15:06:43.877440+00:00","subtype":"tcp","config":{"request":{"host":"agent-intake.logs.datadoghq.com","port":443},"assertions":[{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"tick_every":60}},{"status":"live","public_id":"t4i-n8s-955","tags":["testing:api-dns"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","name":"Test-Go-TestSyntheticsSubtypeDnsAPITestLifecycle-1621436804","monitor_id":35686776,"type":"api","created_at":"2021-05-19T15:06:44.264048+00:00","modified_at":"2021-05-19T15:06:44.264048+00:00","subtype":"dns","config":{"request":{"dnsServerPort":53,"host":"https://www.datadoghq.com","dnsServer":"8.8.8.8"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"tick_every":60}},{"status":"live","public_id":"jy4-3ut-mis","tags":["testing:api-icmp"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype ICMP - this is message","name":"Test-Go-TestSyntheticsSubtypeIcmpAPITestLifecycle-1621436804","monitor_id":35686777,"type":"api","created_at":"2021-05-19T15:06:44.642852+00:00","modified_at":"2021-05-19T15:06:44.642852+00:00","subtype":"icmp","config":{"request":{"numberOfPackets":2,"host":"www.datadoghq.com"},"assertions":[{"operator":"lessThan","property":"avg","type":"latency","target":200}]},"options":{"tick_every":60}},{"status":"paused","public_id":"in4-pwn-y2t","tags":["testing:browser"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","name":"Test-Go-TestSyntheticsBrowserTestLifecycle-1621436804","monitor_id":35686779,"type":"browser","created_at":"2021-05-19T15:06:44.994963+00:00","modified_at":"2021-05-19T15:06:44.994963+00:00","config":{"setCookie":"name:test","request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"noScreenshot":true,"disableCors":true,"device_ids":["tablet"],"tick_every":300}},{"status":"live","public_id":"ny8-ewm-9vs","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","name":"Test-Go-TestSyntheticsMultipleTestsOperations-1621436805","monitor_id":35686780,"type":"api","created_at":"2021-05-19T15:06:45.321380+00:00","modified_at":"2021-05-19T15:06:45.321380+00:00","subtype":"http","config":[...]
{"request":{"url":"https://datadoghq.com","headers":{"testingJavaClient":"true"},"method":"GET","timeout":10.0},"assertions":[{"operator":"is","property":"content-type","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10.0},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}},{"status":"live","public_id":"v5h-dpm-6nn","tags":[],"locations":["aws:eu-west-3"],"message":"","name":"[DO
      NOT DELETE] list test","monitor_id":36048838,"type":"api","created_at":"2021-05-26T12:16:53.491773+00:00","modified_at":"2021-05-26T12:16:53.491773+00:00","subtype":"multi","config":{"steps":[{"name":"first","request":{"url":"{{
      DATADOG_URL }}","method":"GET"},"subtype":"http","allowFailure":false,"assertions":[{"operator":"lessThan","type":"responseTime","target":1000},{"operator":"is","type":"statusCode","target":301}],"isCritical":true,"id":"k89-vrh-3fc","extractedValues":[]}],"configVariables":[{"type":"global","id":"51bf6b85-5651-4a9d-a65d-539bf631f8b2","name":"DATADOG_URL"}]},"options":{"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0},"retry":{"count":0,"interval":300},"min_location_failed":1,"min_failure_duration":0,"tick_every":60}},{"status":"live","public_id":"pcv-vn6-qb8","tags":["testing:api"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","name":"Test-TestSyntheticsMultipleTestsOperations-1623076781","monitor_id":37126011,"type":"api","created_at":"2021-06-07T14:39:42.460949+00:00","modified_at":"2021-06-07T14:39:42.460949+00:00","subtype":"http","config":[...]
- request:
    body: |
      {"public_ids":["yx6-y99-kc4"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-06-07T14:39:43.267650+00:00","public_id":"yx6-y99-kc4"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4690362"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "17"
    status: 200 OK
    code: 200
    duration: ""
[...]
