---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsTriggerCITests-1634810487","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-TestSyntheticsTriggerCITests-1634810487","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"38i-req-twp","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsTriggerCITests-1634810487","monitor_id":51140082,"type":"api","created_at":"2021-10-21T10:01:28.146668+00:00","modified_at":"2021-10-21T10:01:28.146668+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"monitor_priority":5,"monitor_name":"Test-TestSyntheticsTriggerCITests-1634810487","tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "33"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"tests":[{"locations":["aws:us-east-2"],"metadata":{"ci":{"pipeline":{"url":"pipeline-url"},"provider":{"name":"provider name"}},"git":{"branch":"branch-name"}},"public_id":"38i-req-twp"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - TriggerCITests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/trigger/ci
    method: POST
  response:
    body: '{"batch_id":"714a664b-4428-49c2-bc1d-24fd6e8711c4","results":[{"result_id":"5286840368036468911","public_id":"38i-req-twp","location":30005}],"triggered_check_ids":["38i-req-twp"],"locations":[{"display_name":"Ohio
      (AWS)","name":"aws:us-east-2","region":"Americas","is_active":true,"is_public":true,"id":30005}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "15"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "14"
      X-Ratelimit-Reset:
      - "212"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSyntheticsCIBatch
    url: https://api.datadoghq.com/api/v1/synthetics/ci/batch/714a664b-4428-49c2-bc1d-24fd6e8711c4
    method: GET
  response:
    body: '{"data":{"status":"in_progress","results":[{"status":"in_progress","retries":null,"final_result_id":null,"test_public_id":"38i-req-twp","timed_out":null,"duration":null,"steps":null,"location":"aws:us-east-2","test_name":"Test-TestSyntheticsTriggerCITests-1634810487","device":null,"execution_rule":"blocking","polling_timeout":120000,"result_id":"5286840368036468911","test_type":"api"}],"metadata":{"ci":{"pipeline":{},"provider":{"name":"provider
      name"},"job":{"url":"pipeline-url"},"stage":{}},"git":{"commit":{"committer":{},"author":{}},"branch":"branch-name"}}},"created_at":"2021-10-21T10:01:29.016036+00:00","modified_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["38i-req-twp"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-10-21T10:01:29.657425+00:00","public_id":"38i-req-twp"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "31"
    status: 200 OK
    code: 200
    duration: ""
