---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageLogs
    url: https://api.datadoghq.com/api/v1/usage/logs?end_hr=2021-03-13T00%3A00%3A00Z&start_hr=2021-03-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"logs_live_ingested_bytes":0,"ingested_events_bytes":0,"hour":"2021-03-12T00:00:00+00:00","logs_rehydrated_indexed_count":0,"logs_rehydrated_ingested_bytes":0,"billable_ingested_bytes":0,"indexed_events_count":90,"logs_live_indexed_count":90},{"logs_live_ingested_bytes":0,"ingested_events_bytes":0,"hour":"2021-03-12T01:00:00+00:00","logs_rehydrated_indexed_count":0,"logs_rehydrated_ingested_bytes":0,"billable_ingested_bytes":0,"indexed_events_count":95,"logs_live_indexed_count":95},{"logs_live_ingested_bytes":0,"ingested_events_bytes":0,"hour":"2021-03-12T02:00:00+00:00","logs_rehydrated_indexed_count":0,"logs_rehydrated_ingested_bytes":0,"billable_ingested_bytes":0,"indexed_events_count":84,"logs_live_indexed_count":84},{"logs_l[...]
