---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics Browser test - this is message","name":"Test-TestSyntheticsBrowserTestLifecycle-1618221249","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"c8u-aim-nx8","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","deleted_at":null,"name":"Test-TestSyntheticsBrowserTestLifecycle-1618221249","monitor_id":33661519,"type":"browser","created_at":"2021-04-12T09:54:09.819189+00:00","modified_at":"2021-04-12T09:54:09.819189+00:00","config":{"request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"device_ids":["tablet"],"tick_every":300}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "116"
      X-Ratelimit-Reset:
      - "51"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/c8u-aim-nx8
    method: GET
  response:
    body: '{"status":"paused","public_id":"c8u-aim-nx8","tags":["testing:browser"],"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","name":"Test-TestSyntheticsBrowserTestLifecycle-1618221249-updated","monitor_id":33661519,"type":"browser","config":[...]
- request:
    body: |
      {"new_status":"live"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTestPauseStatus
    url: https://api.datadoghq.com/api/v1/synthetics/tests/c8u-aim-nx8/status
    method: PUT
  response:
    body: "true"
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "109"
      X-Ratelimit-Reset:
      - "49"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetBrowserTestLatestResults
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/c8u-aim-nx8/results?from_ts=0&probe_dc=aws%3Aus-east-2&to_ts=1618221249000
    method: GET
  response:
    body: '{"last_timestamp_fetched":1613037252000,"results":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "996"
      X-Ratelimit-Reset:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["c8u-aim-nx8"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-12T09:54:13.185194+00:00","public_id":"c8u-aim-nx8"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "113"
      X-Ratelimit-Reset:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["c8u-aim-nx8"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics tests: c8u-aim-nx8 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "112"
      X-Ratelimit-Reset:
      - "47"
    status: 404 Not Found
    code: 404
    duration: ""
