---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/logs?end_hr=2020-02-13T00%3A00%3A00Z&start_hr=2020-02-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"billable_ingested_bytes":1813873284156,"ingested_events_bytes":1813873284156,"indexed_events_count":505039426,"hour":"2020-02-12T00:00:00+00:00"},{"billable_ingested_bytes":1803696703850,"ingested_events_bytes":1803696703850,"indexed_events_count":496857002,"hour":"2020-02-12T01:00:00+00:00"},{"billable_ingested_bytes":1762260352450,"ingested_events_bytes":1762260352450,"indexed_events_count":473455546,"hour":"2020-02-12T02:00:00+00:00"},{"billable_ingested_bytes":1757399409368,"ingested_events_bytes":1757399409368,"indexed_events_count":471080318,"hour":"2020-02-12T03:00:00+00:00"},{"billable_ingested_bytes":[...]
