---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-TestSLOMonitorLifecycle-1632819691","query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","tags":["test","client:go"],"type":"service check"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["test","client:go"],"deleted":null,"query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","message":"some
      message Notify: @hipchat-channel","id":47611229,"multi":true,"name":"Test-TestSLOMonitorLifecycle-1632819691","created":"2021-09-28T09:01:32.247553+00:00","created_at":1632819692000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-09-28T09:01:32.247553+00:00","priority":null,"overall_state_modified":null,"overall_state":"No
      Data","type":"service check","options":{"notify_audit":false,"locked":false,"silenced":{},"include_tags":true,"new_host_delay":300,"notify_no_data":false}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Track the uptime of host foo which is critical to us.","monitor_ids":[47611229],"name":"Test-TestSLOMonitorLifecycle-1632819691","tags":["app:core","kpi"],"thresholds":[{"target":95,"timeframe":"30d","warning":98}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Track the uptime of host foo which is critical
      to us.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"c54d217c226954ea9a6de267ad8df2b1","monitor_ids":[47611229],"name":"Test-TestSLOMonitorLifecycle-1632819691","created_at":1632819692,"tags":["app:core","kpi"],"modified_at":1632819692,"type":"monitor"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1632819692,"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":null},"description":"Updated description","id":"c54d217c226954ea9a6de267ad8df2b1","modified_at":1632819692,"monitor_ids":[47611229],"monitor_tags":[],"name":"Test-TestSLOMonitorLifecycle-1632819691","tags":["app:core","kpi"],"thresholds":[{"target":95,"target_display":"95.","timeframe":"30d","warning":98,"warning_display":"98."}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSLO
    url: https://api.datadoghq.com/api/v1/slo/c54d217c226954ea9a6de267ad8df2b1
    method: PUT
  response:
    body: '{"data":[{"description":"Updated description","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"c54d217c226954ea9a6de267ad8df2b1","monitor_ids":[47611229],"name":"Test-TestSLOMonitorLifecycle-1632819691","created_at":1632819692,"tags":["app:core","kpi"],"modified_at":1632819692,"type":"monitor"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CheckCanDeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=c54d217c226954ea9a6de267ad8df2b1
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["c54d217c226954ea9a6de267ad8df2b1"]}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOHistory
    url: https://api.datadoghq.com/api/v1/slo/c54d217c226954ea9a6de267ad8df2b1/history?from_ts=1632819680&to_ts=1632819690
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1632819690,"type_id":0,"thresholds":{"30d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}},"overall":{"corrections":[],"errors":[{"error_type":"NO_RESULTS","error_message":"No
      results found for this monitor"}],"precision":{"30d":2,"custom":0}},"from_ts":1632819680,"slo":{"description":"Updated
      description","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"c54d217c226954ea9a6de267ad8df2b1","monitor_ids":[47611229],"name":"Test-TestSLOMonitorLifecycle-1632819691","created_at":1632819692,"tags":["app:core","kpi"],"modified_at":1632819692,"type":"monitor"},"type":"monitor"}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "150"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "149"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/47611229
    method: DELETE
  response:
    body: '{"deleted_monitor_id":47611229}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
