---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"}],"request":{"host":"agent-intake.logs.datadoghq.com","port":443}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype TCP - this is message","name":"go-TestSyntheticsSubtypeTcpAPITestLifecycle-local-1595583208","options":{"tick_every":60},"subtype":"tcp","tags":["testing:api-tcp"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"9tq-bps-tg7","tags":["testing:api-tcp"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype TCP - this is message","deleted_at":null,"name":"go-TestSyntheticsSubtypeTcpAPITestLifecycle-local-1595583208","monitor_id":20425722,"type":"api","created_at":"2020-07-24T09:33:28.685084+00:00","modified_at":"2020-07-24T09:33:28.685084+00:00","subtype":"tcp","config":{"request":{"host":"agent-intake.logs.datadoghq.com","port":443},"assertions":[{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aq7EAvMMXGdldXT5eVhOcqdveqp5VDY6MoO0A/xKTuSa7v4Cc6HWT9iWUnYD+m1F
      X-Dd-Version:
      - "35.2781942"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "32"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"}],"request":{"host":"agent-intake.logs.datadoghq.com","port":443}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype TCP - this is message","name":"go-TestSyntheticsSubtypeTcpAPITestLifecycle-local-1595583208-updated","options":{"tick_every":60},"status":"live","subtype":"tcp","tags":["testing:api-tcp"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/9tq-bps-tg7
    method: PUT
  response:
    body: '{"status":"live","public_id":"9tq-bps-tg7","tags":["testing:api-tcp"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype TCP - this is message","deleted_at":null,"name":"go-TestSyntheticsSubtypeTcpAPITestLifecycle-local-1595583208-updated","monitor_id":20425722,"type":"api","created_at":"2020-07-24T09:33:28.685084+00:00","modified_at":"2020-07-24T09:33:29.063586+00:00","subtype":"tcp","config":[...]
- request:
    body: |
      {"new_status":"paused"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTestPauseStatus
    url: https://api.datadoghq.com/api/v1/synthetics/tests/9tq-bps-tg7/status
    method: PUT
  response:
    body: "true"
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yEcEaKqmSUfeSlQ/kN/c5E6EpIXbM1JPI9KV27pdsvBWWv3FI4tsqqRarYTS+fS+
      X-Dd-Version:
      - "35.2781942"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "115"
      X-Ratelimit-Reset:
      - "31"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITestLatestResults
    url: https://api.datadoghq.com/api/v1/synthetics/tests/9tq-bps-tg7/results?from_ts=0&probe_dc=aws%3Aus-east-2&to_ts=1595583208000
    method: GET
  response:
    body: '{"last_timestamp_fetched":1590399211000,"results":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pEDVi2191MvoIMwusdL+COAxndBmcRhJtxAtWxDDnECWDI8Z99hIoBZbpR57tJKz
      X-Dd-Version:
      - "35.2781942"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "998"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["9tq-bps-tg7"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-07-24T09:33:31.512540+00:00","public_id":"9tq-bps-tg7"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yEcEaKqmSUfeSlQ/kN/c5E6EpIXbM1JPI9KV27pdsvBWWv3FI4tsqqRarYTS+fS+
      X-Dd-Version:
      - "35.2781966"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["9tq-bps-tg7"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2781942"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "116"
      X-Ratelimit-Reset:
      - "29"
    status: 404 Not Found
    code: 404
    duration: ""
