---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"nicholas.muesch@datadoghq.com","name":"Nicholas
      Muesch","email":"nicholas.muesch@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"08f39ff42b665cc48b4b33e86c1a1779","name":"HTTP
      Return Codes","created_at":1582305282,"tags":["app:httpd"],"modified_at":1582305282,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bZxgHnChon9vZm5xdRa4NrQAYSVWc7iQc54D228L4geTT/U2FwMh0nkSo8j+6vpL
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1582305282,"creator":{"email":"nicholas.muesch@datadoghq.com","handle":"nicholas.muesch@datadoghq.com","name":"Nicholas Muesch"},"description":"Updated description","id":"08f39ff42b665cc48b4b33e86c1a1779","modified_at":1582305282,"monitor_tags":[],"name":"HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"target_d[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=08f39ff42b665cc48b4b33e86c1a1779
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["08f39ff42b665cc48b4b33e86c1a1779"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kg+/Cls6zaJcT2blJLlU62BwgGePGdpqSwWrJ0xEIvzmSMWHXxGNsiyEzBPJ1a96
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/08f39ff42b665cc48b4b33e86c1a1779/history?from_ts=1582305271&to_ts=1582305281
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1582305281,"type_id":1,"series":{"res_type":"time_series","interval":1,"resp_version":2,"denominator":{"count":11,"sum":0.0,"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"query_index":1,"aggr":"sum","scope":"!code:3xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{!code:3xx}.as_count())","unit":null}},"numerator":{"count":11,"sum":0.0,"values":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],"metadata":{"query_index":0,"aggr":"sum","scope":"code:2xx","metric":"default_zero(httpservice.hits)","expression":"default_zero(sum:httpservice.hits{code:2xx}.as_count())","unit":null}},"times":[1582305271000.0,1582305272000.0,1582305273000.0,1582305274000.0,1582305275000.0,1582305276000.0,1582305277000.0,1582305278000.0,1582305279000.0,1582305280000.0,1582305281000.0],"from_date":1582305271000,"to_date":1582305281000,"timing":"0.207839012146","query":"default_zero(sum:httpservice.hits{code:2xx}.as_count()),
      default_zero(sum:httpservice.hits{!code:3xx}.as_count())","message":""},"thresholds":{"7d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}},"overall":{"errors":[{"error_type":"ZERO_VALUED_DENOMINATOR","error_message":"The
      denominator is zero valued"}],"uptime":null,"span_precision":5,"sli_value":null,"precision":{"7d":0}},"from_ts":1582305271,"group_by":[],"type":"metric"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QaEGvF++JqTbTiFomKhE21Fdnra2zinKOaCEqOgwcd7OtJatRLgvovBbCNyGqcpO
      X-Dd-Version:
      - "35.2200256"
    status: 200 OK
    code: 200
    duration: ""
[...]
