---
version: 1
interactions:
- request:
    body: |
      {"account_id":"go-TestAWSIntegrationCreateConflictErrors-local-1595622952","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"408027c0bacc4cbdadd01b1870042af9"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 6qTaw+brNWWnKD6ULH8747/TVkPK0wedRsruOmMITJcYBkJ/Eac9bUO9jP1Btfl5
      X-Dd-Version:
      - "35.2785333"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"go-TestAWSIntegrationCreateConflictErrors-local-1595622952","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"errors": ["This AWS account ID already exists."]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2785333"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
