---
version: 1
interactions:
- request:
    body: |
      {"message":"Test-TestDowntimeLifecycle-1618220932","recurrence":{"period":1,"type":"weeks","until_date":1620035332,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1618220932,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":1620035332,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1618220932,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeLifecycle-1618220932","downtime_type":0,"id":1217084523,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"message":"Test-TestDowntimeLifecycle-1618220932-updated"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1217084523
    method: PUT
  response:
    body: '{"recurrence":{"until_date":1620035332,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1618220932,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestDowntimeLifecycle-1618220932-updated","downtime_type":0,"id":1217084523,"updater_id":1445416}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 200 OK
    code: 200
    duration: ""
[...]
