---
version: 1
interactions:
- request:
    body: |
      {"name":"go-TestAppKeysMgmtUpdate409Error-local-1589290301"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApplicationKey
    url: https://api.datadoghq.com/api/v1/application_key
    method: POST
  response:
    body: '{"application_key":{"owner":"slavek.kabrda@datadoghq.com","org_id":321813,"hash":"870d807119e9864960bcbfd127f99040835c6bcd","name":"go-TestAppKeysMgmtUpdate409Error-local-1589290301","revoked":false}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aq7EAvMMXGdldXT5eVhOcqdveqp5VDY6MoO0A/xKTuSa7v4Cc6HWT9iWUnYD+m1F
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"name":"go-TestAppKeysMgmtUpdate409Error-local-1589290301-2"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateApplicationKey
    url: https://api.datadoghq.com/api/v1/application_key/870d807119e9864960bcbfd127f99040835c6bcd
    method: PUT
  response:
    body: '{"errors": ["An application key with the name go-TestAppKeysMgmtUpdate409Error-local-1589290301-2
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2493025"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
