---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-1585669239103045000", "ddtags": "go,test,list",
      "hostname": "datadog-api-client-go-test-1585669239103045000", "message": "{\"timestamp\":
      1585669238000, \"message\": \"test-log-list-1585669239103045000\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1585669239103045000","sort":"asc","time":{"from":"2020-03-31T16:40:39.103045+02:00","to":"2020-03-31T18:40:39.103045+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[],"nextLogId":null,"status":"done","requestId":"YTFvNzNKbUJSOU8yRk5Pa3VsaVRtd3xzM2gtdUhlZUtjY3lQaVNIMExjQTFR"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - cHbbn4awC/gUp+UWMA5WzQRj/oUndyti+tBMAL1DLKOpPxv2QpOg5a+8adhmSmFi
      X-Dd-Version:
      - "35.2339307"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "299"
      X-Ratelimit-Reset:
      - "1160"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1585669239103045000","sort":"asc","time":{"from":"2020-03-31T16:40:39.103045+02:00","to":"2020-03-31T18:40:39.103045+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXExQGzw_WuecgAAAABBWEV4UUhRV0o5SXhIX0xITFFBQQ","content":{"host":"datadog-api-client-go-test-1585669239103045000","attributes":{"hostname":"datadog-api-client-go-test-1585669239103045000","timestamp":1585669238000},"message":"test-log-list-1585669239103045000","timestamp":"2020-03-31T15:40:38.000Z","tags":["source:go-client-test-1585669239103045000","test","go","source:go-client-test-1585669239103045000","list"]}},{"id":"AQAAAXExQHDYpABcWQAAAABBWEV4UUhUTDc5VFpVUWtva2NBQQ","content":{"host":"datadog-api-client-go-test-1585669239103045000","attributes":{"hostname":"datadog-api-client-go-test-1585669239103045000","timestamp":1585669239000},"message":"second-test-log-list-1585669239103045000","timestamp":"2020-03-31T15:40:39.000Z","tags":["source:go-client-test-1585669239103045000","test","go","source:go-client-test-1585669239103045000","list"]}}],"nextLogId":null,"status":"done","requestId":"Tmh2SVdpS1BRaU9Xdm1sT2lxT1FxUXxzM2gtdUhlZUtjY3lQaVNIMExjQTFR"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - jiEjBYbhgTitvQpbusdTeFeBunIH08bvUl0tOdECba8AA6SoqjN1Cu2GJPwcfKwJ
      X-Dd-Version:
      - "35.2339307"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "293"
      X-Ratelimit-Reset:
      - "1128"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":1,"query":"source:go-client-test-1585669239103045000","sort":"asc","startAt":"AQAAAXExQHDYpABcWQAAAABBWEV4UUhUTDc5VFpVUWtva2NBQQ","time":{"from":"2020-03-31T16:40:39.103045+02:00","to":"2020-03-31T18:40:39.103045+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"logs":[{"id":"AQAAAXExQHDYpABcWQAAAABBWEV4UUhUTDc5VFpVUWtva2NBQQ","content":{"host":"datadog-api-client-go-test-1585669239103045000","attributes":{"hostname":"datadog-api-client-go-test-1585669239103045000","timestamp":1585669239000},"message":"second-test-log-list-1585669239103045000","timestamp":"2020-03-31T15:40:39.000Z","tags":["source:go-client-test-1585669239103045000","test","go","source:go-client-test-1585669239103045000","list"]}}],"nextLogId":null,"status":"done","requestId":"SGtRVVY4cUZRanFqRWlJWFRSR3VuZ3wyUFNmc3dJQ3BtWmdRcGxYODhMcWZ3"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb_query
      X-Dd-Debug:
      - F3sd4563b6Vw4woZ7fsP4Tdm27XfbwVDYxZ53mN+ZraEEc7BGQ12AUYsFb3IhEH/
      X-Dd-Version:
      - "35.2339307"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "291"
      X-Ratelimit-Reset:
      - "1128"
    status: 200 OK
    code: 200
    duration: ""
