---
version: 1
interactions:
- request:
    body: "--571cb7da01e9a43c29e1411b695a5f1f771896f3ce9fb7b6937733b8db7e\r\nContent-Disposition:
      form-data; name=\"idp_file\"; filename=\"error_415.json\"\r\nContent-Type: application/octet-stream\r\n\r\n{\"errors\":
      [\"Attempt to upload idp metadata with an unsupported Content-Type\"]}\n\r\n--571cb7da01e9a43c29e1411b695a5f1f771896f3ce9fb7b6937733b8db7e--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=571cb7da01e9a43c29e1411b695a5f1f771896f3ce9fb7b6937733b8db7e
    url: https://api.datadoghq.com/api/v1/org/lsqdkjf/idp_metadata
    method: POST
  response:
    body: '{"errors": ["Not allowed to access this organization"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2369501"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - multipart/form-data
    url: https://api.datadoghq.com/api/v1/org/lsqdkjf/idp_metadata
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
