---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","target":"message","type":"receivedMessage"}],"request":{"host":"www.datadoghq.com","message":"message","port":443}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype UDP - this is message","name":"Test-TestSyntheticsSubtypeUdpAPITestLifecycle-1636551491","options":{"tick_every":60},"subtype":"udp","tags":["testing:api-udp"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"c47-4xx-5af","tags":["testing:api-udp"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype UDP - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeUdpAPITestLifecycle-1636551491","monitor_id":53864852,"type":"api","created_at":"2021-11-10T13:38:12.629192+00:00","modified_at":"2021-11-10T13:38:12.629192+00:00","subtype":"udp","config":{"request":{"host":"www.datadoghq.com","message":"message","port":443},"assertions":[{"operator":"is","type":"receivedMessage","target":"message"}]},"options":{"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","target":"message","type":"receivedMessage"}],"request":{"host":"www.datadoghq.com","message":"message","port":443}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype UDP - this is message","name":"Test-TestSyntheticsSubtypeUdpAPITestLifecycle-1636551491-updated","options":{"tick_every":60},"status":"live","subtype":"udp","tags":["testing:api-udp"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/c47-4xx-5af
    method: PUT
  response:
    body: '{"status":"live","public_id":"c47-4xx-5af","tags":["testing:api-udp"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype UDP - this is message","deleted_at":null,"name":"Test-TestSyntheticsSubtypeUdpAPITestLifecycle-1636551491-updated","monitor_id":53864852,"type":"api","created_at":"2021-11-10T13:38:12.629192+00:00","modified_at":"2021-11-10T13:38:13.415924+00:00","subtype":"udp","config":[...]
- request:
    body: |
      {"public_ids":["c47-4xx-5af"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-11-10T13:38:14.367924+00:00","public_id":"c47-4xx-5af"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["c47-4xx-5af"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics tests: c47-4xx-5af not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "46"
    status: 404 Not Found
    code: 404
    duration: ""
