---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events?end=123&start=345
    method: GET
  response:
    body: '{"errors": ["start param must be greater than end param"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Version:
      - "35.2353177"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/events?end=123&start=345
    method: GET
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
