---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"test-testuserupdateerrors-1617978048@integration-tests-accnt-for-sdk-ci.com","handle":"test-testuserupdateerrors-1617978048@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserUpdateErrors-1617978048"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test-testuserupdateerrors-1617978048@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserUpdateErrors-1617978048","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testuserupdateerrors-1617978048@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/7dd6c14940d0fa0b00b0c1566ededb8c?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testuserupdateerrors-1617978048@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User test-testuserupdateerrors-1617978048@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
