---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v1/user
    method: GET
  response:
    body: '{"users":[{"disabled":true,"handle":"1573562709162nobody@datadoghq.com","name":"Nobody","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"1573562709162nobody@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8fe2729c0a1ac0af9e9606e758d01e0?s=48&d=retro"},{"disabled":true,"handle":"1573562873954nobody@datadoghq.com","name":"New
      name","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"1573562873954nobody@datadoghq.com","icon":"https://secure.gravatar.com/avatar/687a3f9127cfec80a54622223b275e54?s=48&d=retro"},{"disabled":true,"handle":"1573563244158nobody@datadoghq.com","name":"New
      name","title":null,"is_admin":false,"[...]
