---
version: 1
interactions:
- request:
    body: '{"ddsource": "go-client-test-1617977830594344000", "ddtags": "go,test,list",
      "hostname": "Test-TestLogsList-1617977830", "message": "{\"timestamp\": 1617977829000,
      \"message\": \"test-log-list-1617977830594344000\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://http-intake.logs.datadoghq.com/v1/input
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1617977830594344000","sort":"asc","time":{"from":"2021-04-09T15:17:10.594344+02:00","to":"2021-04-09T17:17:10.594344+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChZQN1p2UTdQNlFXeXZ5OGttdVNOaTNRIi0KHQZZSY229UOZnbwjqvyu7oJk3LXtdwJQiK7-SwX4EgwhBavLuIuqeYYiTy8"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - H3w8Mrr3Zvvyelxd0CzW5tO9iiphi07m1Jtc4gdzQXXO5XTfzeUGAoulmS4WWkh5
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "241"
      X-Ratelimit-Reset:
      - "2569"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":2,"query":"source:go-client-test-1617977830594344000","sort":"asc","time":{"from":"2021-04-09T15:17:10.594344+02:00","to":"2021-04-09T17:17:10.594344+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1617977829000,"hostname":"Test-TestLogsList-1617977830"},"host":"Test-TestLogsList-1617977830","tags":["source:go-client-test-1617977830594344000","test","go","source:go-client-test-1617977830594344000","list"],"message":"test-log-list-1617977830594344000","timestamp":"2021-04-09T14:17:09.000Z"},"id":"AQAAAXi2_maIXaKoSQAAAABBWGkyX20zckFBQWNCdS0ycktaZjJnQUE"},{"content":{"attributes":{"timestamp":1617977830000,"hostname":"Test-TestLogsList-1617977830"},"host":"Test-TestLogsList-1617977830","tags":["source:go-client-test-1617977830594344000","test","go","source:go-client-test-1617977830594344000","list"],"message":"second-test-log-list-1617977830594344000","timestamp":"2021-04-09T14:17:10.000Z"},"id":"AQAAAXi2_mpwCpntggAAAABBWGkyX201dkFBQWlSTlRSWTdNVExnQUE"}],"requestId":"pddv1ChY4akJSS3kzSVNiR2RUanh4QTF4YjJBIi0KHTZ8SSBlD0UdX5OT5I6cfx8JA0aP2Euh81zMhP5bEgzq8LYr_H4qNUzZg1w"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - +L3cOfomyGGuXv+NlljFgOXDhA8u+DdhktfMTq5dNwRAQOJlilnIrPxwleX76+2G
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "235"
      X-Ratelimit-Reset:
      - "2538"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"limit":1,"query":"source:go-client-test-1617977830594344000","sort":"asc","startAt":"AQAAAXi2_mpwCpntggAAAABBWGkyX201dkFBQWlSTlRSWTdNVExnQUE","time":{"from":"2021-04-09T15:17:10.594344+02:00","to":"2021-04-09T17:17:10.594344+02:00"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    url: https://api.datadoghq.com/api/v1/logs-queries/list
    method: POST
  response:
    body: '{"status":"done","nextLogId":null,"logs":[{"content":{"attributes":{"timestamp":1617977830000,"hostname":"Test-TestLogsList-1617977830"},"host":"Test-TestLogsList-1617977830","tags":["source:go-client-test-1617977830594344000","test","go","source:go-client-test-1617977830594344000","list"],"message":"second-test-log-list-1617977830594344000","timestamp":"2021-04-09T14:17:10.000Z"},"id":"AQAAAXi2_mpwCpntggAAAABBWGkyX201dkFBQWlSTlRSWTdNVExnQUE"}],"requestId":"pddv1ChZTNk5FMUhnRlFZLUp3YmR3Y0NMV2VnIiwKHG-rUsUTcC61PPeasoBYz5Lq2ftFcbaKfVbjt-ESDCJqIbC64cO2EXd3Pw"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - jFewb+r/PyY1qG2Hz1nGa26sZVfb0Glhnnkt/VZXOk/OEjVhnlhh0mqRIdk7/k7O
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "233"
      X-Ratelimit-Reset:
      - "2538"
    status: 200 OK
    code: 200
    duration: ""
