---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testusercreateerrors-1586534803159677000@integration-tests-accnt-for-sdk-ci.com","handle":"testusercreateerrors-1586534803159677000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserCreateErrors-1586534803159677000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testusercreateerrors-1586534803159677000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserCreateErrors-1586534803159677000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testusercreateerrors-1586534803159677000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/34f61e629fe9c8167cf3de472dff0dca?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"errors": ["Required parameter ''handle'' is missing"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"access_role":"ro","email":"testusercreateerrors-1586534803159677000@integration-tests-accnt-for-sdk-ci.com","handle":"testusercreateerrors-1586534803159677000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserCreateErrors-1586534803159677000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testusercreateerrors-1586534803159677000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testusercreateerrors-1586534803159677000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2378719"
    status: 200 OK
    code: 200
    duration: ""
