---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageHosts
    url: https://api.datadoghq.com/api/v1/usage/hosts?end_hr=2021-03-13T00%3A00%3A00Z&start_hr=2021-03-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"host_count":10,"container_count":null,"hour":"2021-03-12T00:00:00+00:00","alibaba_host_count":0,"agent_host_count":10,"apm_host_count":null,"apm_azure_app_service_host_count":null,"azure_host_count":0,"gcp_host_count":0,"heroku_host_count":0,"infra_azure_app_service":0,"aws_host_count":0,"opentelemetry_host_count":0},{"host_count":10,"container_count":null,"hour":"2021-03-12T01:00:00+00:00","alibaba_host_count":0,"agent_host_count":10,"apm_host_count":null,"apm_azure_app_service_host_count":null,"azure_host_count":0,"gcp_host_count":0,"heroku_host_count":0,"infra_azure_app_service":0,"aws_host_count":0,"opentelemetry_host_count":0},{"host_count":10,"container_count":null,"hour":"2021-03-12T02:00:00+00:00","alibaba_host_count":0,"agent_host_count":10,"apm_host_count":null,"apm_azure_app_service_host_count"[...]
