---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"Test-TestMonitorDowntime-1617977624","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":60},"priority":3,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\") \u003e 2","restricted_roles":["94172442-be03-11e9-a77a-3b7612558ac1"],"tags":["test","client:go"],"type":"log alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":["94172442-be03-11e9-a77a-3b7612558ac1"],"tags":["test","client:go"],"deleted":null,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","message":"some message Notify: @hipchat-channel","id":33567825,"multi":true,"name":"Test-TestMonitorDowntime-1617977624","created":"2021-04-09T14:13:44.360175+00:00","created_at":1617977624000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-04-09T14:13:44.360175+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
      Data","type":"log alert","options":{"include_tags":true,"notify_audit":false,"locked":true,"timeout_h":60,"silenced":{},"enable_logs_sample":true,"no_data_timeframe":null,"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"renotify_interval":60,"groupby_simple_monitor":true,"escalation_message":"the
      situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"message":"Test-TestMonitorDowntime-1617977624","monitor_id":33567825,"scope":["*"],"start":1617977624,"timezone":"Etc/UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":33567825,"org_id":321813,"disabled":false,"start":1617977624,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-TestMonitorDowntime-1617977624","downtime_type":0,"id":1213943802,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CancelDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1213943802
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/33567825
    method: DELETE
  response:
    body: '{"deleted_monitor_id":33567825}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
