---
version: 1
interactions:
- request:
    body: |
      {"description":"variable description","name":"GO_TESTSYNTHETICSVARIABLELIFECYCLE_LOCAL_1600700875","tags":["synthetics"],"value":{"secure":false,"value":"VARIABLE_VALUE"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"parse_test_public_id":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"id":"e349abff-439d-419f-8fd9-826e81057288","parse_test_options":null,"name":"GO_TESTSYNTHETICSVARIABLELIFECYCLE_LOCAL_1600700875","parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sbJ6i3VupQQcT7EDgPAdOxGmcKsvZJqf4l3SlQaWZNaaFfahh7BdNF3x5CttmH4Q
      X-Dd-Version:
      - "35.3067741"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/e349abff-439d-419f-8fd9-826e81057288
    method: GET
  response:
    body: '{"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"parse_test_public_id":null,"value":{"secure":false,"value":"VARIABLE_VALUE"},"id":"e349abff-439d-419f-8fd9-826e81057288","parse_test_options":null,"name":"GO_TESTSYNTHETICSVARIABLELIFECYCLE_LOCAL_1600700875","created_at":"2020-09-21T15:07:56.557191+00:00","modified_at":"2020-09-21T15:07:56.557191+00:00","created_by":1445416,"parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - jrMxFzD6DQaVakCp2nBENh1s4Jr6NTi3qR/BnCfgEGv+61BLJvJGE5mL8dgLrarj
      X-Dd-Version:
      - "35.3067741"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "58"
    status: 200 OK
    code: 200
    duration: ""
[...]
