---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"testingGoClient":"true"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test - this is message","name":"Test-TestSyntheticsUpdateStatusTestErrors-1618340250","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"live","public_id":"deg-2rg-v6y","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test - this is message","deleted_at":null,"name":"Test-TestSyntheticsUpdateStatusTestErrors-1618340250","monitor_id":33752474,"type":"api","created_at":"2021-04-13T18:57:31.520860+00:00","modified_at":"2021-04-13T18:57:31.520860+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"testingGoClient":"true"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2021-04-13T18:57:31.458360+00:00"},"key":{"filename":"key-filename","updatedAt":"2021-04-13T18:57:31.458333+00:00"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
      PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - "35.4302636"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "30"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["deg-2rg-v6y"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-13T18:57:32.632361+00:00","public_id":"deg-2rg-v6y"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4302636"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
