---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testuserdisableerrors-local-1591954419@integration-tests-accnt-for-sdk-ci.com","handle":"go-testuserdisableerrors-local-1591954419@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserDisableErrors-local-1591954419"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testuserdisableerrors-local-1591954419@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserDisableErrors-local-1591954419","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testuserdisableerrors-local-1591954419@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/ca239629f28c75b26b151457996c8df6?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - J7vOWsxZd7Grxzg2TIaQpn2nGjrOScgI4Kwzur8V2oOTYInX6xbVT4leinNkGLPk
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testuserdisableerrors-local-1591954419@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testuserdisableerrors-local-1591954419@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - mGJe6qmS66N9ddKWdHwHEzQK9VHuaMNr7+EsVTKliCkGq+ayJZmadUyCSwID4him
      X-Dd-Version:
      - "35.2613383"
    status: 200 OK
    code: 200
    duration: ""
