---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testuserupdateerrors-local-1589290472@integration-tests-accnt-for-sdk-ci.com","handle":"go-testuserupdateerrors-local-1589290472@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserUpdateErrors-local-1589290472"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testuserupdateerrors-local-1589290472@integration-tests-accnt-for-sdk-ci.com","name":"go-TestUserUpdateErrors-local-1589290472","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testuserupdateerrors-local-1589290472@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/828f9f509f3828406b626f78c70512df?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pT9LlAdgAzlrCUxMXQkBRs/Qti76jKIHng1uB0/SctAaYjB4WqOgOZYpCbOMQKll
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testuserupdateerrors-local-1589290472%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testuserupdateerrors-local-1589290472@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - mIWJPPM06xs5rSGFgggpdD5UbOnt6ntntAO8/8YDsVuXnSmp/k0aZ5dEUtAKB7Td
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
