---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"go-testdisableuser-local-1589290468@integration-tests-accnt-for-sdk-ci.com","handle":"go-testdisableuser-local-1589290468@integration-tests-accnt-for-sdk-ci.com","name":"go-TestDisableUser-local-1589290468"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"go-testdisableuser-local-1589290468@integration-tests-accnt-for-sdk-ci.com","name":"go-TestDisableUser-local-1589290468","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"go-testdisableuser-local-1589290468@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/8aa2cffcc8b1108e62b891759d29528c?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QO3HutZQjgMDp/HqClcLon+qq5lEghb3LRV+gXMIQ2Jivd1m1eEGCh0RxplUQMIV
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testdisableuser-local-1589290468%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User go-testdisableuser-local-1589290468@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Z91NUpPIZnIQ9h7lBFWBkEPGVUEsn4/i71imPPwrChu4RPI5uNM5HGuodISK1HBR
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/go-testdisableuser-local-1589290468%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2493025"
    status: 400 Bad Request
    code: 400
    duration: ""
