---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-TestDashboardListLifecycle-1617977610"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Test-TestDashboardListLifecycle-1617977610","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-04-09T14:13:30.618525+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-04-09T14:13:30.618543+00:00","id":191100}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"Test-TestDashboardListLifecycle-1617977610-updated"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/191100
    method: PUT
  response:
    body: '{"is_favorite":false,"name":"Test-TestDashboardListLifecycle-1617977610-updated","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-04-09T14:13:30.618525+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-04-09T14:13:30.751669+00:00","id":191100}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboardLists
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: GET
  response:
    body: '{"dashboard_lists":[{"is_favorite":true,"name":"frog''s List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-09-08T07:12:57.679027+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-09-09T08:48:11.523877+00:00","id":126798},{"is_favorite":false,"name":"go-TestDashboardListDeleteItemsErrors-local-1600863977","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-09-23T12:26:17.176407+00:00","type":"manual_dashboard_lis[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/191100
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":191100}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      X-Dd-Version:
      - "35.4276543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/191100
    method: DELETE
  response:
    body: '{"errors": ["Manual Dashboard List with id 191100 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4276543"
    status: 404 Not Found
    code: 404
    duration: ""
