---
version: 1
interactions:
- request:
    body: |
      [{"check":"TestServiceCheck","host_name":"go-client-test-host-1582121533","message":"Go client integration test is running","status":0,"tags":["test","client:go","TestServiceCheck"],"timestamp":1582121533}]
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/check_run
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
