---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/browser/devices
    method: GET
  response:
    body: '{"devices":[{"width":1440,"height":1100,"id":"laptop_large","isMobile":false,"name":"Laptop
      Large"},{"width":768,"height":1020,"id":"tablet","isMobile":true,"name":"Tablet"},{"width":320,"height":550,"id":"mobile_small","isMobile":true,"name":"Mobile
      Small"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - wFmrQbB6wLDPf1aNlKcgRoMicVhPlX6qIVwwvniX5cF7oyd+90s5trfE73Pzpvml
      X-Dd-Version:
      - "35.2200256"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
