---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/synthetics?start_hr=2020-05-10T15%3A37%3A20%2B02%3A00
    method: GET
  response:
    body: '{"errors": ["start_hr cannot be in the future"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377872"
      X-Ratelimit-Limit:
      - "200"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "150"
      X-Ratelimit-Reset:
      - "1359"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/synthetics?start_hr=2020-05-10T15%3A37%3A20%2B02%3A00
    method: GET
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
