---
version: 1
interactions:
- request:
    body: |
      {"override":true}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - MuteHost
    url: https://api.datadoghq.com/api/v1/host/Test-TestHostsMuteErrors-1617977664/mute
    method: POST
  response:
    body: '{"action":"Muted","downtime_id":1213944326,"hostname":"Test-TestHostsMuteErrors-1617977664"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - UnmuteHost
    url: https://api.datadoghq.com/api/v1/host/Test-TestHostsMuteErrors-1617977664/unmute
    method: POST
  response:
    body: '{"action":"Unmuted","downtime_id":1213944326,"hostname":"Test-TestHostsMuteErrors-1617977664"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
