---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/graph/snapshot?end=1582207937&metric_query=system.load.1%7B%2A%7D&start=1582121537
    method: GET
  response:
    body: '{"graph_def":"{\"requests\": [{\"q\": \"system.load.1{*}\"}]}","snapshot_url":"https://p.datadoghq.com/snapshot/view/dd-snapshots-prod/org_321813/2020-02-19/9f7dc97bd63a9b79a1505dc9ee575583610f4731.png","metric_query":"system.load.1{*}"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - fFk0sZgwwse+ZeEmqVGZPgcNG+SDXdM7Y74n6iOGuvoZenvaYEqZOvpOSMu1XDXx
      X-Dd-Version:
      - "35.2189722"
      X-Ratelimit-Limit:
      - "60"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "58"
      X-Ratelimit-Reset:
      - "2862"
    status: 200 OK
    code: 200
    duration: ""
