---
version: 1
interactions:
- request:
    body: '{"series": [{"host": "go-client-test-host", "metric": "Test_TestMetrics_1617977863",
      "points": [[1617977803.000000, 10.5], [1617977863.000000, 11]], "tags": ["tag:foo",
      "bar:baz"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListActiveMetrics
    url: https://api.datadoghq.com/api/v1/metrics?from=1617977863
    method: GET
  response:
    body: '{"metrics":[],"from":"1617977863"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - avItM/vasf5577ctA38LDT0J2A9+fvs/uvoH0cN7ua0YsjdSdTqOUoUrjVr1Jdbk
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "982"
      X-Ratelimit-Reset:
      - "2537"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - QueryMetrics
    url: https://api.datadoghq.com/api/v1/query?from=1617977763&query=avg%3ATest_TestMetrics_1617977863%7Bbar%3Abaz%7Dby%7Bhost%7D&to=1617977963
    method: GET
  response:
    body: '{"status":"ok","res_type":"time_series","from_date":1617977763000,"series":[{"end":1617977863000,"attributes":{},"metric":"Test_TestMetrics_1617977863","interval":1,"tag_set":["host:go-client-test-host"],"start":1617977803000,"length":2,"query_index":0,"aggr":"avg","scope":"bar:baz,host:go-client-test-host","pointlist":[[1617977803000.0,10.5],[1617977863000.0,11.0]],"expression":"avg:Test_TestMetrics_1617977863{bar:baz,host:go-client-test-host}","unit":null,"display_name":"Test_TestMetrics_1617977863"}],"to_date":1617977963000,"resp_version":1,"query":"avg:Test_TestMetrics_1617977863{bar:baz}by{host}","message":"","group_by":["host"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - ADTUWWOzRI3TTp/mC1tLnevIb68AW1O76KcDvn1fwJ7wk/NmEhbiIAvvPRklPaib
      X-Dd-Version:
      - "35.4276613"
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "1597"
      X-Ratelimit-Reset:
      - "2516"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListMetrics
    url: https://api.datadoghq.com/api/v1/search?q=metrics%3ATest_TestMetrics_1617977863
    method: GET
  response:
    body: '{"results":{"metrics":["Test_TestMetrics_1617977863"]}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 4nYtlbGdEBgC/IcxaFTKSAvhAZv3rMnqt/xe0vC2pCAkwYIXnJX20qetwypycbcy
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMetricMetadata
    url: https://api.datadoghq.com/api/v1/metrics/Test_TestMetrics_1617977863
    method: GET
  response:
    body: '{"description":null,"short_name":null,"integration":null,"statsd_interval":null,"per_unit":null,"type":null,"unit":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nrAW27jcxHhQCbvsq93/O/q5PX7j8x4QnlbjbkKjp/Db3/Vak/sWemW/qh/bdvkn
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
[...]
