---
version: 1
interactions:
- request:
    body: |
      {"pipeline_ids":null}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
    method: PUT
  response:
    body: '{"error":{"code":"InvalidArgument","message":"missing field: pipeline_ids"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2364569"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "60"
      X-Ratelimit-Reset:
      - "170"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"pipeline_ids":null}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
    method: PUT
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: |
      {"pipeline_ids":["id"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
    method: PUT
  response:
    body: '{"error":{"code":"UnprocessableEntity","message":"Cannot map pipelines
      to existing ones"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2364740"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "59"
      X-Ratelimit-Reset:
      - "170"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
