---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testuserdisableerrors-1586867927684792000@integration-tests-accnt-for-sdk-ci.com","handle":"testuserdisableerrors-1586867927684792000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserDisableErrors-1586867927684792000"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testuserdisableerrors-1586867927684792000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserDisableErrors-1586867927684792000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testuserdisableerrors-1586867927684792000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/3822ac1f44e6de5e15c2368b379696d0?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2388719"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testuserdisableerrors-1586867927684792000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testuserdisableerrors-1586867927684792000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2388719"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/testuserdisableerrors-1586867927684792000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"errors": ["User is already disabled"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2388719"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/notahandle
    method: DELETE
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
