---
version: 1
interactions:
- request:
    body: |
      {"account_id":"Test-TestCheckLambdaAsync-1626196268","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"dcd8bb4d804043ee8f46843a0967fa8a"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"Test-TestCheckLambdaAsync-1626196268","lambda_arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CheckAWSLogsLambdaAsync
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/check_async
    method: POST
  response:
    body: '{"status":"created"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"account_id":"Test-TestCheckLambdaAsync-1626196268","lambda_arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CheckAWSLogsLambdaAsync
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/check_async
    method: POST
  response:
    body: '{"status":"error","errors":[{"message":"Missing permissions to list lambda
      functions on account Test-TestCheckLambdaAsync-1626196268","code":"lambda_permission_error","permission":"lambda:listfunctions"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
