---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[],"request":{"method":"GET","url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics Browser test - this is message","name":"go-TestSyntheticsBrowserTestLifecycle-local-1589290410","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"follow_redirects":true,"min_failure_duration":10,"min_location_failed":10,"retry":{"count":3,"interval":10},"tick_every":300},"tags":["testing:browser"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"3kr-rgq-ykc","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","deleted_at":null,"name":"go-TestSyntheticsBrowserTestLifecycle-local-1589290410","monitor_id":18411416,"type":"browser","created_at":"2020-05-12T13:33:30.199796+00:00","modified_at":"2020-05-12T13:33:30.199796+00:00","config":{"request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":10,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"device_ids":["tablet"],"tick_every":300}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - v8lEj/pYmsavh1I0Db6FT/BAvLdOdAv91ctM9ImcmfZ/KHrCACXEdhuskTCPihd+
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "30"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/3kr-rgq-ykc
    method: GET
  response:
    body: '{"status":"paused","public_id":"3kr-rgq-ykc","tags":["testing:browser"],"stepCount":{"subtests":0,"total":0,"assertions":0},"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics Browser test - this is message","modified_by":{"email":"slavek.kabrda@datadoghq.com","handle":"slavek.kabrda@datadoghq.com","id":1379826,"name":"Slavek
      Kabrda"},"name":"go-TestSyntheticsBrowserTestLifecycle-local-1589290410-updated","monitor_id":18411416,"type":"browser","created_at":"2020-05-12T13:33:30.199796+00:00","modified_at":"2020-05-12T13:33:30.687395+00:00","created_by":{"email":"slavek.kabrda@datadoghq.com","handle":"slavek.kabrda@datadoghq.com","id":1379826,"name":"Slavek
      Kabrda"},"config":[...]
- request:
    body: |
      {"new_status":"live"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTestPauseStatus
    url: https://api.datadoghq.com/api/v1/synthetics/tests/3kr-rgq-ykc/status
    method: PUT
  response:
    body: "true"
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - SxoanfhUZNcxsD3lnA3j+up2jAgZV05RpnWjR/qtgMkjy5UIlkbs0WqFT6yaBwwR
      X-Dd-Version:
      - "35.2493025"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "115"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetBrowserTestLatestResults
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/3kr-rgq-ykc/results?from_ts=0&probe_dc=aws%3Aus-east-2&to_ts=1589290410000
    method: GET
  response:
    body: '{"last_timestamp_fetched":1584106411000,"results":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 11g4TM+MO8VJV6iUJTOff4hAGEXsIqbG4IMv2YuWygOleCGxCxx6NihCkVtjenZN
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "998"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["3kr-rgq-ykc"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-05-12T13:33:32.060864+00:00","public_id":"3kr-rgq-ykc"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GAK1J4mJd/EBZfEK4rqUw9OeB9GOeKgSyrXGtzNUi5zrv5sHYU56xJgA4bcbtgUA
      X-Dd-Version:
      - "35.2492943"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["3kr-rgq-ykc"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2493025"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "116"
      X-Ratelimit-Reset:
      - "28"
    status: 404 Not Found
    code: 404
    duration: ""
