---
version: 1
interactions:
- request:
    body: |
      {"layout_type":"","title":"","widgets":null}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/random
    method: PUT
  response:
    body: '{"errors": ["''widgets'' should be array"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2352250"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: |
      {"is_read_only":false,"layout_type":"free","title":"","widgets":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/random
    method: PUT
  response:
    body: '{"errors": ["Dashboard with ID random not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2352250"
    status: 404 Not Found
    code: 404
    duration: ""
