---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"request":{"host":"https://www.datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype DNS - this is message","name":"go-TestSyntheticsSubtypeDnsAPITestLifecycle-local-1601026702","options":{"tick_every":60},"subtype":"dns","tags":["testing:api-dns"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"live","public_id":"67z-kfe-wre","tags":["testing:api-dns"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","deleted_at":null,"name":"go-TestSyntheticsSubtypeDnsAPITestLifecycle-local-1601026702","monitor_id":22764828,"type":"api","created_at":"2020-09-25T09:38:23.334195+00:00","modified_at":"2020-09-25T09:38:23.334195+00:00","subtype":"dns","config":{"request":{"host":"https://www.datadoghq.com"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RquGBod+QwJwo5jKyeuGJHvfWvWfZ0hMpUnxtqqEEEpqySzsuyt8sx6iN5riB0bK
      X-Dd-Version:
      - "35.3088120"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "37"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"request":{"host":"https://www.datadoghq.com"}},"locations":["aws:us-east-2"],"message":"Go client testing Synthetics API test Subtype DNS - this is message","name":"go-TestSyntheticsSubtypeDnsAPITestLifecycle-local-1601026702-updated","options":{"tick_every":60},"status":"live","subtype":"dns","tags":["testing:api-dns"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/67z-kfe-wre
    method: PUT
  response:
    body: '{"status":"live","public_id":"67z-kfe-wre","tags":["testing:api-dns"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Go
      client testing Synthetics API test Subtype DNS - this is message","deleted_at":null,"name":"go-TestSyntheticsSubtypeDnsAPITestLifecycle-local-1601026702-updated","monitor_id":22764828,"type":"api","created_at":"2020-09-25T09:38:23.334195+00:00","modified_at":"2020-09-25T09:38:24.646440+00:00","subtype":"dns","config":[...]
- request:
    body: |
      {"new_status":"paused"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTestPauseStatus
    url: https://api.datadoghq.com/api/v1/synthetics/tests/67z-kfe-wre/status
    method: PUT
  response:
    body: "true"
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Kee9VS5NjjPfA/YHh7xlRIB+loWgKfgYfbh+K0I50KRAhLkjH2oXj4YLUubPn5Pt
      X-Dd-Version:
      - "35.3088120"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "35"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITestLatestResults
    url: https://api.datadoghq.com/api/v1/synthetics/tests/67z-kfe-wre/results?from_ts=0&probe_dc=aws%3Aus-east-2&to_ts=1601026702000
    method: GET
  response:
    body: '{"last_timestamp_fetched":1595842706000,"results":[]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0uWdRml6qahBDARd1CJm6K1SN/TZRSfeTs10desnuzZPhCWC9tfQLSVfNbr08c6A
      X-Dd-Version:
      - "35.3088120"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "35"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["67z-kfe-wre"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-09-25T09:38:26.160795+00:00","public_id":"67z-kfe-wre"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - motUb+3MrSbL60qP2VQvKfticEMFw/ITb9aZ1t0IvCT8MphWULXKj1d6mnYOkJDn
      X-Dd-Version:
      - "35.3088120"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "34"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"public_ids":["67z-kfe-wre"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3088120"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "118"
      X-Ratelimit-Reset:
      - "34"
    status: 404 Not Found
    code: 404
    duration: ""
