---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"test-testuserdisableerrors-1617978050@integration-tests-accnt-for-sdk-ci.com","handle":"test-testuserdisableerrors-1617978050@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserDisableErrors-1617978050"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test-testuserdisableerrors-1617978050@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestUserDisableErrors-1617978050","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testuserdisableerrors-1617978050@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/05117db6e5cad9f7ab0bc61d0d8bc2b4?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/test-testuserdisableerrors-1617978050@integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User test-testuserdisableerrors-1617978050@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4276613"
    status: 200 OK
    code: 200
    duration: ""
