---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboards
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2021-03-26T09:34:03.667460+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"Various
      stats from CI runs of generated API clients","title":"Datadog API Clients CI","url":"/dashboard/wve-q29-wf9/datadog-api-clients-ci","layout_type":"free","modified_at":"2021-03-26T10:26:24.091171+00:00","id":"wve-q29-wf9"},{"created_at":"2020-12-09T04:18:00.388550+00:00","author_handle":"gregory.zussa@datadoghq.com","is_read_only":false,"description":"Created
      using the Datadog provider in Terraform","title":"Acceptance Test Timeboard","url":"/dashboard/ia3-mtz-d4e/acceptance-test-timeboard","layout_type":"ordered","modified_at":"2020-12-09T04:18:00.388550+00:00","id":"ia3-mtz-d4e"},{"created_at":"2021-03-18T16:50:17.576247+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"descr[...]
