---
version: 1
interactions:
- request:
    body: |
      {"description":"Make sure we don't have too many failed HTTP responses.","name":"Go client HTTP Return Codes","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["app:httpd"],"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
      responses.","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"15c2c470626c59f8ac027a253696c7ae","name":"Go
      client HTTP Return Codes","created_at":1586511406,"tags":["app:httpd"],"modified_at":1586511406,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "14"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/15c2c470626c59f8ac027a253696c7ae/history?from_ts=123&to_ts=12
    method: GET
  response:
    body: '{"errors": ["The timeframe is incorrect: invalid from 123 or to 12 timestamp"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/id/history?from_ts=123&to_ts=12
    method: GET
  response:
    body: '{"errors": ["API key required"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/15c2c470626c59f8ac027a253696c7ae
    method: DELETE
  response:
    body: '{"data":["15c2c470626c59f8ac027a253696c7ae"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2377268"
    status: 200 OK
    code: 200
    duration: ""
