---
version: 1
interactions:
- request:
    body: |
      {"filter":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/shrugs
    method: PUT
  response:
    body: '{"error":{"code":"InvalidArgument","message":"filter.query cannot be null"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2364400"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "97"
      X-Ratelimit-Reset:
      - "2565"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: |
      {"filter":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/shrugs
    method: PUT
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: |
      {"exclusion_filters":[{"filter":{"query":"query","sample_rate":0},"name":"exclusion"}],"filter":{"query":"query"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/shrugs
    method: PUT
  response:
    body: '{"error":{"code":"ResourceExhausted","message":"Limit reached. Cannot create
      new index."}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2364400"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "96"
      X-Ratelimit-Reset:
      - "2564"
    status: 429 Too Many Requests
    code: 429
    duration: ""
