---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/usage/logs_by_index?end_hr=2020-02-13T00%3A00%3A00Z&start_hr=2020-02-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"index_name":"metrics-intake","retention":7,"index_id":"6","hour":"2020-02-12T00:00:00+00:00","event_count":21228308},{"index_name":"eclair","retention":7,"index_id":"5","hour":"2020-02-12T00:00:00+00:00","event_count":5345008},{"index_name":"sketch","retention":7,"index_id":"74","hour":"2020-02-12T00:00:00+00:00","event_count":2881340},{"index_name":"vault","retention":60,"index_id":"13815","hour":"2020-02-12T00:00:00+00:00","event_count":2727924},{"index_name":"k8s-audit","retention":15,"index_id":"13814","hour":"2020-02-12T00:00:00+00:00","event_count":32602050},{"index_name":"k8s-platform","retent[...]
