---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"go-TestSLOMonitorLifecycle-local-1589290395","query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","tags":["test","client:go"],"type":"service check"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["test","client:go"],"deleted":null,"query":"\"datadog.agent.check_status\".over(\"database\").last(2).count_by_status()","message":"some
      message Notify: @hipchat-channel","id":18411404,"multi":true,"name":"go-TestSLOMonitorLifecycle-local-1589290395","created":"2020-05-12T13:33:16.126073+00:00","created_at":1589290396000,"creator":{"id":1379826,"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda","email":"slavek.kabrda@datadoghq.com"},"org_id":321813,"modified":"2020-05-12T13:33:16.126073+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"service check","options":{"notify_audit":false,"locked":false,"silenced":{},"include_tags":true,"new_host_delay":300,"notify_no_data":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vlc9b/rJPByGsV/acj3ScS7B1lo9nEAbSgYCfkl0GH3egry4iXeiGBP0WX8DpJ/T
      X-Dd-Version:
      - "35.2493025"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Track the uptime of host foo which is critical to us.","monitor_ids":[18411404],"name":"go-TestSLOMonitorLifecycle-local-1589290395","tags":["app:core","kpi"],"thresholds":[{"target":95,"timeframe":"30d","warning":98}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"Track the uptime of host foo which is critical
      to us.","monitor_tags":["test","client:go"],"creator":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda","email":"slavek.kabrda@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}],"type_id":0,"id":"33ff9dc8e3505ed595779ba7c52472ad","monitor_ids":[18411404],"name":"go-TestSLOMonitorLifecycle-local-1589290395","created_at":1589290396,"tags":["app:core","kpi"],"modified_at":1589290396,"type":"monitor"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 11g4TM+MO8VJV6iUJTOff4hAGEXsIqbG4IMv2YuWygOleCGxCxx6NihCkVtjenZN
      X-Dd-Version:
      - "35.2493025"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "44"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"created_at":1589290396,"creator":{"email":"slavek.kabrda@datadoghq.com","handle":"slavek.kabrda@datadoghq.com","name":"Slavek Kabrda"},"description":"Updated description","id":"33ff9dc8e3505ed595779ba7c52472ad","modified_at":1589290396,"monitor_ids":[18411404],"monitor_tags":["test","client:go"],"name":"go-TestSLOMonitorLifecycle-local-1589290395","tags":["app:core","kpi"],"thresholds":[{"target":95,"target_display":"95.","timeframe":"30d","warning":98,"warning_dis[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - CheckCanDeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/can_delete?ids=33ff9dc8e3505ed595779ba7c52472ad
    method: GET
  response:
    body: '{"errors":null,"data":{"ok":["33ff9dc8e3505ed595779ba7c52472ad"]}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KHJbOoqp3I4BOBzIFnc/Ois3eg3Rjmudy0YalRpnXQEDXDoppykpDMDaJPIufi9t
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOHistory
    url: https://api.datadoghq.com/api/v1/slo/33ff9dc8e3505ed595779ba7c52472ad/history?from_ts=1589290384&to_ts=1589290394
    method: GET
  response:
    body: '{"errors":null,"data":{"to_ts":1589290394,"type_id":0,"thresholds":{"30d":{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"30d"}},"overall":{"errors":[{"error_type":"NO_RESULTS","error_message":"No
      results found for this monitor"}],"span_precision":0,"preview":false,"name":"go-TestSLOMonitorLifecycle-local-1589290395","precision":{"30d":2}},"from_ts":1589290384,"type":"monitor"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2qCkWfddHrPF9jSCADI+4oMJC7ye/JJPxREHTFHEFILURsabvi1w9B+PDmBrh/Xk
      X-Dd-Version:
      - "35.2493025"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/18411404
    method: DELETE
  response:
    body: '{"deleted_monitor_id":18411404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - wFmrQbB6wLDPf1aNlKcgRoMicVhPlX6qIVwwvniX5cF7oyd+90s5trfE73Pzpvml
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
