---
version: 1
interactions:
- request:
    body: |
      {"access_role":"ro","email":"testuserupdateerrors-1587937170800642000@integration-tests-accnt-for-sdk-ci.com","handle":"testuserupdateerrors-1587937170800642000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserUpdateErrors-1587937170800642000"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"testuserupdateerrors-1587937170800642000@integration-tests-accnt-for-sdk-ci.com","name":"TestUserUpdateErrors-1587937170800642000","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"testuserupdateerrors-1587937170800642000@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/7d5a186ef224d6690bf57de5a5f0b740?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - SaHvyR/hQzhMjBxXmmuM76vwlwfocpgL0LhX3u6R0CFONYqUGm7Xe/7/HyTliTFX
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v1/user/testuserupdateerrors-1587937170800642000%40integration-tests-accnt-for-sdk-ci.com
    method: DELETE
  response:
    body: '{"message":"User testuserupdateerrors-1587937170800642000@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - x4m73yTAj65OpCjnvpw3RBJyiFQpkDOBZ7rE/UM6Q4o0837nUb4ZsWFNJUD0Xh0e
      X-Dd-Version:
      - "35.2432369"
    status: 200 OK
    code: 200
    duration: ""
