---
version: 1
interactions:
- request:
    body: |
      {"account_id":"go-TestDisableAWSAcct-local-1589290159","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"79c69174855a414dac4ba804b41b08f0"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GG9N5JNk6zUo5YQ1gmfpF0kYcSj/kjDOsFItaODUS7qQCwsMrhI3QWJVQns7uvtI
      X-Dd-Version:
      - "35.2492943"
    status: 200 OK
    code: 200
    duration: ""
[...]
