---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUsageLogsByRetention
    url: https://api.datadoghq.com/api/v1/usage/logs-by-retention?end_hr=2021-04-13T00%3A00%3A00Z&start_hr=2021-04-12T00%3A00%3A00Z
    method: GET
  response:
    body: '{"usage":[{"retention":"15","indexed_events_count":797,"rehydrated_indexed_events_count":0,"hour":"2021-04-12T00:00:00+00:00","live_indexed_events_count":797},{"retention":"15","indexed_events_count":827,"rehydrated_indexed_events_count":0,"hour":"2021-04-12T01:00:00+00:00","live_indexed_events_count":827},{"retention":"15","indexed_events_count":791,"rehydrated_indexed_events_count":0,"hour":"2021-04-12T02:00:00+00:00","live_indexed_events_count":791},{"retention":"15","indexed_events_count":797,"rehydrated_indexed_events_count":0,"hour":"2021-04-12T03:00:00+00:00","live_indexed_events_count":797},{"retention":"15","indexed_events_count":831,"re[...]
