interactions:
- request:
    body: |
      {"data":{"attributes":{"from":1672527600000,"indexes":["test-index","test-index-2"],"query":{"host":"abc","service":"xyz"},"to":1704063600000},"type":"create_deletion_req"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/deletion/data/logs
  response:
    body: '{"data":{"id":"754","type":"deletion_request","attributes":{"created_at":"2025-01-15T14:27:28.457837225Z","created_by":"frog@datadoghq.com","from_time":1672527600000,"indexes":["test-index","test-index-2"],"is_created":false,"org_id":321813,"product":"logs","query":"host:abc
      service:xyz","starting_at":"0001-01-01T00:00:00Z","status":"pending","to_time":1704063600000,"total_unrestricted":0,"updated_at":"2025-01-15T14:27:28.457837225Z"}},"meta":{"product":"logs"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: PUT
    url: https://api.datadoghq.com/api/v2/deletion/requests/754/cancel
  response:
    body: '{"data":{"id":"754","type":"deletion_request","attributes":{"created_at":"2025-01-15T14:27:28.457837Z","created_by":"frog@datadoghq.com","from_time":1672527600000,"indexes":["test-index","test-index-2"],"is_created":false,"org_id":321813,"product":"logs","query":"host:abc
      service:xyz","starting_at":"0001-01-01T00:00:00Z","status":"canceled","to_time":1704063600000,"total_unrestricted":0,"updated_at":"2025-01-15T14:27:28.841156Z"}},"meta":{"product":"logs","request_status":"canceled"}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
