interactions:
- request:
    body: |
      {"data":{"attributes":{"from":1672527600000,"indexes":["index-1","index-2"],"query":{},"to":1704063600000}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/deletion/data/logs
  response:
    body: '{"errors":[{"status":"412","code":"INVALID_BODY","title":"INVALID_BODY","detail":"INVALID_BODY"}]}'
    code: 412
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 412 Precondition Failed
version: 2
