---
version: 1
interactions:
- request:
    body: |
      {"layout_type":"","title":"","widgets":null}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/random
    method: PUT
  response:
    body: '{"errors": ["Value of parameter ''layout_type'' should be any of these
      [''ordered'', ''free'']"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 400 Bad Request
    code: 400
    duration: ""
