---
version: 1
interactions:
- request:
    body: |
      {"is_read_only":false,"layout_type":"free","title":"","widgets":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/123-abc-xyz
    method: PUT
  response:
    body: |
      {"errors":["Dashboard with ID 123-abc-xyz not found"]}
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11357"
      X-Ratelimit-Reset:
      - "42"
    status: 404 Not Found
    code: 404
    duration: ""
