---
version: 1
interactions:
- request:
    body: |
      {"is_read_only":false,"layout_type":"free","title":"","widgets":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/random
    method: PUT
  response:
    body: '{"errors": ["Dashboard with ID random not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2432369"
    status: 404 Not Found
    code: 404
    duration: ""
