interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/model-lab-api/projects
  response:
    body: '{"data":[{"id":"2439","type":"projects","attributes":{"artifact_storage_location":"model-lab:///2439","created_at":"2026-05-18T16:44:48.672513Z","description":"","is_starred":false,"name":"test-bdd-recording-1779122688","tags":[],"updated_at":"2026-05-18T16:44:48.684473Z"}},{"id":"2438","type":"projects","attributes":{"artifact_storage_location":"model-lab:///76991","created_at":"2026-05-18T15:55:50.180276Z","description":"","external_url":"https://mlflow.us1.staging.dog/#/experiments/76991","is_starred":false,"name":"qwen36-27b-qlora-fsdp-1779119158","owner_id":"1d45ac49-1e4e-11f1-8c3a-42221ed6388d","tags":[],"updated_at":"2026-05-18T15:55:50.188677Z"}},{"id":"2437","type":"projects","attributes":{"artifact_storage_location":"model-lab:///76989","created_at":"2026-05-18T15:46:35.705961Z","description":"","external_url":"https://mlflow.us1.staging.dog/#/experiments/76989","is_starred":false,"name":"qwen36-27b-lora-bf16-fsdp-1779118712","owner_id":"1d45ac49-1e4e-11f1-8c3a-42221ed6388d","tags":[],"updated_at":"2026-05-18T15:46:35.715063Z"}},{"id":"2436","[...]
