interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/model-lab-api/projects/2387/artifacts
  response:
    body: '{"data":{"id":"2387","type":"project_files","attributes":{"files":[{"filename":"README.md","artifact_path":"f635c73b70594ab6bb6e212cdf87d0d5/artifacts/lora_model/README.md","created_at":"2026-05-15T02:57:00Z","file_size":1389},{"filename":"adapter_config.json","artifact_path":"f635c73b70594ab6bb6e212cdf87d0d5/artifacts/lora_model/adapter_config.json","created_at":"2026-05-15T02:57:01Z","file_size":1015},{"filename":"adapter_model.safetensors","artifact_path":"f635c73b70594ab6bb6e212cdf87d0d5/artifacts/lora_model/adapter_model.safetensors","created_at":"2026-05-15T02:57:01Z","file_size":4730632},{"filename":"README.md","artifact_path":"f635c73b70594ab6bb6e212cdf87d0d5/artifacts/lora_model/checkpoint-204/README.md[...]
