interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/model-lab-api/runs/70158
  response:
    body: '{"data":{"id":"70158","type":"runs","attributes":{"completed_at":"2026-05-15T02:57:03.079Z","created_at":"2026-05-15T02:54:52.684452Z","descendant_match":false,"description":"","duration":130.498,"external_url":"https://mlflow.us1.staging.dog/#/runs/f635c73b70594ab6bb6e212cdf87d0d5","has_children":false,"is_pinned":false,"metric_summaries":[{"key":"eval_loss","min":3.214665412902832,"max":3.9457361698150635,"mean":3.5802007913589478,"latest":3.214665412902832,"count":4,"first_step":0,"last_step":204},{"key":"learning_rate","min":0,"max":0.0001,"mean":4.9999999999999996e-05,"latest":5.154639175257732e-07,"count":408,"first_step":1,"last_step":204},{"key":"train_steps_per_second","min":1.951,"max":1.951,"mean":1.951,"latest":1.951,"count":1,"first_step":204,"last_step":204},{"key":"entropy","min":3.1330020427703857,"max":4.252453327178955,"mean":3.6496509979752934,"latest":3.1330020427703857,"count":204,"first_step":1,"last_step":204},{"key":"eval_runtime","min":6.3487,"max":6.7308,"mean"[...]
