---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{},"id":"","type":""}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/00000000-dead-beef-dead-ffffffffffff
    method: PATCH
  response:
    body: '{"errors": ["API input validation failed: Invalid type. Expected \"users\"."]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4287331"
    status: 400 Bad Request
    code: 400
    duration: ""
