---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"Joe Doe"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/00000000-dead-beef-dead-ffffffffffff
    method: PATCH
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
