---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"name":"Joe Doe"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/00000000-dead-beef-dead-ffffffffffff
    method: PATCH
  response:
    body: '{"errors": ["00000000-dead-beef-dead-ffffffffffff not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2613383"
    status: 404 Not Found
    code: 404
    duration: ""
