interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["test:test-create_a_monitor_notification_rule_returns_ok_response-1743713883"]},"name":"test rule","recipients":["slack-test-channel","jira-test"]},"type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body: '{"data":{"type":"monitor-notification-rule","id":"55959a04-463a-4579-8386-8c2ca120aa52","attributes":{"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","filter":{"tags":["test:test-create_a_monitor_notification_rule_returns_ok_response-1743713883"]},"created_at":"2025-04-03T20:58:03.137650+00:00","recipients":["slack-test-channel","jira-test"],"name":"test
      rule","modified_at":"1970-01-01T00:00:00+00:00"}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/55959a04-463a-4579-8386-8c2ca120aa52
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
