interactions:
- request:
    body: |
      {"data":{"attributes":{"filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743713883"]},"name":"test rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body: '{"data":{"type":"monitor-notification-rule","id":"cef4c2c7-27b3-4259-9bdd-ec434b4a8a0e","attributes":{"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"test
      rule","created_at":"2025-04-03T20:58:03.555501+00:00","modified_at":"1970-01-01T00:00:00+00:00","filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743713883"]},"recipients":["slack-monitor-app"]}}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/cef4c2c7-27b3-4259-9bdd-ec434b4a8a0e
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/monitor/notification_rule/cef4c2c7-27b3-4259-9bdd-ec434b4a8a0e
  response:
    body: '{"errors":["Monitor notification rule not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
