interactions:
- request:
    body: |
      {"access_role":null,"disabled":false,"email":"test@datadoghq.com","handle":"test@datadoghq.com","name":"test user"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/user
  response:
    body: '{"user":{"handle":"test@datadoghq.com","name":"test user","role":null,"title":null,"email":"test@datadoghq.com","disabled":true,"access_role":null,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/f979f58720feb88e09cc3d11ce3d15da?s=48&d=retro","verified":false}}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/user/test%40datadoghq.com
  response:
    body: '{"errors":["User is already disabled"]}'
    code: 400
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 1
