---
version: 1
interactions:
- request:
    body: |
      {"tags":["test:TestPostaneventreturnsOKresponse1618221316"],"text":"A text message.","title":"Test-Post_an_event_returns_OK_response-1618221316"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateEvent
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5938437374431181378,"title":"Test-Post_an_event_returns_OK_response-1618221316","text":"A
      text message.","date_happened":1618221316,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventreturnsOKresponse1618221316"],"url":"https://app.datadoghq.com/event/event?id=5938437374431181378"}}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
