---
version: 1
interactions:
- request:
    body: |
      {"tags":["test:goFeatureEventsScenarioPostaneventreturnsOKresponselocal1615927576"],"text":"A text message.","title":"go-Feature_Events-Scenario_Post_an_event_returns__OK__response-local-1615927576"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateEvent
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5899954816668973949,"title":"go-Feature_Events-Scenario_Post_an_event_returns__OK__response-local-1615927576","text":"A
      text message.","date_happened":1615927577,"handle":null,"priority":null,"related_event_id":null,"tags":["test:goFeatureEventsScenarioPostaneventreturnsOKresponselocal1615927576"],"url":"https://app.datadoghq.com/event/event?id=5899954816668973949"}}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
