---
version: 1
interactions:
- request:
    body: |
      {"tags":["test:TestPostaneventreturnsOKresponse1617978053"],"text":"A text message.","title":"Test-Post_an_event_returns_OK_response-1617978053"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateEvent
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5934356106585878638,"title":"Test-Post_an_event_returns_OK_response-1617978053","text":"A
      text message.","date_happened":1617978053,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventreturnsOKresponse1617978053"],"url":"https://app.datadoghq.com/event/event?id=5934356106585878638"}}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
