---
version: 1
interactions:
- request:
    body: |
      {"tags":["test:TestPostaneventreturnsOKresponse1617974734"],"text":"A text message.","title":"Test-Post_an_event_returns_OK_response-1617974734"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateEvent
    url: https://api.datadoghq.com/api/v1/events
    method: POST
  response:
    body: '{"status":"ok","event":{"id":5934300423345428539,"title":"Test-Post_an_event_returns_OK_response-1617974734","text":"A
      text message.","date_happened":1617974734,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventreturnsOKresponse1617974734"],"url":"https://app.datadoghq.com/event/event?id=5934300423345428539"}}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
