interactions:
- request:
    body: |
      {"app_service_plan_filters":"key:value,filter:example","automute":true,"client_id":"17026645-0000-0000-0000-170266451500","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"key:value,filter:example","cspm_enabled":true,"custom_metrics_enabled":true,"errors":["*"],"host_filters":"key:value,filter:example","new_client_id":"17026645-0000-0000-0000-170266451500","new_tenant_name":"17026645-0000-0000-0000-170266451500","resource_collection_enabled":true,"tenant_name":"17026645-0000-0000-0000-170266451500"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/azure
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"client_id":"17026645-0000-0000-0000-170266451500","tenant_name":"17026645-0000-0000-0000-170266451500"}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v1/integration/azure
  response:
    body: '{}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
