---
version: 1
interactions:
- request:
    body: |
      {"app_service_plan_filters":"key:value,filter:example","automute":true,"client_id":"17023112-0000-0000-0000-170231127500","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"key:value,filter:example","cspm_enabled":true,"custom_metrics_enabled":true,"errors":["*"],"host_filters":"key:value,filter:example","new_client_id":"17023112-0000-0000-0000-170231127500","new_tenant_name":"17023112-0000-0000-0000-170231127500","resource_collection_enabled":true,"tenant_name":"17023112-0000-0000-0000-170231127500"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
