---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593452298"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"518e3a42-ba2f-11ea-9c6a-53c4ceaa6f73","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593452298","created_at":"2020-06-29T17:38:18.271877+00:00","modified_at":"2020-06-29T17:38:18.271877+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aswcxBk1J00Iy18+kQFKF6EQfzLy4sWD4ILciesVMX5rWDYniffEYH6qbK0qwOgw
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/518e3a42-ba2f-11ea-9c6a-53c4ceaa6f73
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"518e3a42-ba2f-11ea-9c6a-53c4ceaa6f73","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593452298","created_at":"2020-06-29T17:38:18.271877+00:00","modified_at":"2020-06-29T17:38:18.271877+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HtltRxB6FWULKbr8JD/35HKWhI+dqAFQg/rNpMbjeMOPUq5j5iWk+nIs8OwDOqUR
      X-Dd-Version:
      - "35.2679051"
    status: 200 OK
    code: 200
    duration: ""
