---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593513635"},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"21835c30-babe-11ea-9c85-d7ea315dcf1c","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593513635","created_at":"2020-06-30T10:40:35.702145+00:00","modified_at":"2020-06-30T10:40:35.702145+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pdoE+6MDHF3ASB0y6TdRZq9HO/3uAKc0XPY7EkyNyaFqpXeeAHwz2Ce2QWIN714X
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/21835c30-babe-11ea-9c85-d7ea315dcf1c
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"21835c30-babe-11ea-9c85-d7ea315dcf1c","attributes":{"name":"go-TestScenarios-Feature_Roles-Scenario_Get_a_role_leading_to_OK_for_get_role-Given_there_is_a_valid_role_in_the_system-local-1593513635","created_at":"2020-06-30T10:40:35.702145+00:00","modified_at":"2020-06-30T10:40:35.702145+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QO3HutZQjgMDp/HqClcLon+qq5lEghb3LRV+gXMIQ2Jivd1m1eEGCh0RxplUQMIV
      X-Dd-Version:
      - "35.2682096"
    status: 200 OK
    code: 200
    duration: ""
[...]
