interactions:
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body: '{"dashboard_lists":[{"is_favorite":true,"name":"frog''s List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-09-08T07:12:57.679027+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-09-09T08:48:11.523877+00:00","id":126798},{"is_favorite":false,"name":"Test-Create_a_dashboard_list_returns_OK_response-1640112901","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-12-21T18:55:02.067838+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-12-21T18:55:02.067874+00:00","id":266996},{"is_favorite":false,"name":"Test-Python-Create_a_dashboard_list_returns_OK_response-1638987026","dashboard_count":0,"author":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","[...]
