interactions:
- request:
    body: |
      {"name":"Test-Update_a_dashboard_list_returns_OK_response-1641430223"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body: '{"is_favorite":false,"name":"Test-Update_a_dashboard_list_returns_OK_response-1641430223","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2022-01-06T00:50:23.876774+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2022-01-06T00:50:23.876799+00:00","id":269882}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"name":"updated Test-Update_a_dashboard_list_returns_OK_response-1641430223"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/269882
  response:
    body: '{"is_favorite":false,"name":"updated Test-Update_a_dashboard_list_returns_OK_response-1641430223","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2022-01-06T00:50:23.876774+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2022-01-06T00:50:24.060886+00:00","id":269882}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/269882
  response:
    body: '{"deleted_dashboard_list_id":269882}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
