interactions:
- id: 0
  request:
    body: |
      {"name":"Test-Get_all_dashboard_lists_returns_OK_response-1676581817"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body: '{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-02-16T21:10:17.185865+00:00","dashboards":null,"dashboard_count":0,"id":364491,"is_favorite":false,"modified":"2023-02-16T21:10:17.185872+00:00","name":"Test-Get_all_dashboard_lists_returns_OK_response-1676581817","type":"manual_dashboard_list"}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body: '{"dashboard_lists":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-02-16T21:10:17.185865+00:00","dashboards":null,"dashboard_count":0,"id":364491,"is_favorite":false,"modified":"2023-02-16T21:10:17.185872+00:00","name":"Test-Get_all_dashboard_lists_returns_OK_response-1676581817","type":"manual_dashboard_list"},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2022-12-09T15:04:28.806069+00:00","dashboards":null,"dashboard_count":1,"id":348463,"is_favorite":false,"modified":"2022-12-09T15:04:29.985883+00:00","name":"Test-Go-TestDashboardListItemCRUD-1670598268","type":"manual_dashboard_list"}]}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/364491
  response:
    body: '{"deleted_dashboard_list_id":364491}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
