---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Dashboard_Lists-1633349157"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Test-Dashboard_Lists-1633349157","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-04T12:05:57.865028+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-04T12:05:57.865052+00:00","id":240771}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240771
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":240771}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
