interactions:
- request:
    body: |
      {"name":"Test-Create_a_dashboard_list_returns_OK_response-1633076910"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body: '{"is_favorite":false,"name":"Test-Create_a_dashboard_list_returns_OK_response-1633076910","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-01T08:28:30.564949+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-01T08:28:30.564987+00:00","id":240514}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240514
  response:
    body: '{"deleted_dashboard_list_id":240514}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
