---
version: 1
interactions:
- request:
    body: |
      {"name":"go-Feature_Service_Level_Objectives-Scenario_Delete_an_SLO_returns__OK__response-local-1617788398","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"4a32af3bf9ce57af8de3a386b7e0b741","name":"go-Feature_Service_Level_Objectives-Scenario_Delete_an_SLO_returns__OK__response-local-1617788398","created_at":1617788398,"tags":[],"modified_at":1617788398,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4254518"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "496"
      X-Ratelimit-Reset:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/4a32af3bf9ce57af8de3a386b7e0b741
    method: DELETE
  response:
    body: '{"data":["4a32af3bf9ce57af8de3a386b7e0b741"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4254518"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2998"
      X-Ratelimit-Reset:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/4a32af3bf9ce57af8de3a386b7e0b741
    method: DELETE
  response:
    body: '{"errors": ["SLO not found: 4a32af3bf9ce57af8de3a386b7e0b741 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4254518"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2997"
      X-Ratelimit-Reset:
      - "2"
    status: 404 Not Found
    code: 404
    duration: ""
