---
version: 1
interactions:
- request:
    body: |
      {"name":"go-Feature_Service_Level_Objectives-Scenario_Delete_an_SLO_returns__OK__response-local-1618463244","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
      Karimov","email":"sherzod.karimov@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"9b52822c28cb5e6ea9d0aebe574443db","name":"go-Feature_Service_Level_Objectives-Scenario_Delete_an_SLO_returns__OK__response-local-1618463244","created_at":1618463244,"tags":[],"modified_at":1618463244,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4315401"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "497"
      X-Ratelimit-Reset:
      - "36"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/9b52822c28cb5e6ea9d0aebe574443db
    method: DELETE
  response:
    body: '{"data":["9b52822c28cb5e6ea9d0aebe574443db"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4315401"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2998"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/9b52822c28cb5e6ea9d0aebe574443db
    method: DELETE
  response:
    body: '{"errors": ["SLO not found: 9b52822c28cb5e6ea9d0aebe574443db not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4315401"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2997"
      X-Ratelimit-Reset:
      - "6"
    status: 404 Not Found
    code: 404
    duration: ""
