---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Update_an_SLO_returns_Bad_Request_response-1618476733","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
      Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"28f268e77354523b8fd5d360172bd73c","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618476733","created_at":1618476733,"tags":[],"modified_at":1618476733,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4317157"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "497"
      X-Ratelimit-Reset:
      - "47"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"Test-Update_an_SLO_returns_Bad_Request_response-1618476733","thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSLO
    url: https://api.datadoghq.com/api/v1/slo/28f268e77354523b8fd5d360172bd73c
    method: PUT
  response:
    body: '{"errors": ["Invalid payload: must specify the query for count types"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4317157"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "47"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
