---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Create_an_SLO_object_returns_Bad_Request_response-1618476726","thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"monitor"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"errors": ["Invalid payload: must specify monitor_ids or monitor_search"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4317157"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "54"
    status: 400 Bad Request
    code: 400
    duration: ""
