---
version: 1
interactions:
- request:
    body: |
      {"description":"string","groups":["env:test","role:mysql"],"monitor_ids":[],"name":"go-Feature_Service_Level_Objectives-Scenario_Create_an_SLO_object_returns__OK__response-local-1618463244","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"tags":["env:prod","app:core"],"thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"string","monitor_tags":[],"creator":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
      Karimov","email":"sherzod.karimov@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"groups":["env:test","role:mysql"],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"835b00bc98c554be8462b4228b300b33","name":"go-Feature_Service_Level_Objectives-Scenario_Create_an_SLO_object_returns__OK__response-local-1618463244","created_at":1618463244,"tags":["app:core","env:prod"],"modified_at":1618463244,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4315401"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "36"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteSLO
    url: https://api.datadoghq.com/api/v1/slo/835b00bc98c554be8462b4228b300b33
    method: DELETE
  response:
    body: '{"data":["835b00bc98c554be8462b4228b300b33"],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4315401"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
