name: IntegrationTests
trigger:
  batch: false
  branches:
    include:
    - master
pr:
  branches:
    include:
    - master
schedules:
  - cron: "0 */6 * * *"
    displayName: Scheduled CI run every 6 hours
    always: true
    branches:
      include:
        - master

resources:
  containers:
  - container: datadog-agent
    image: datadog/agent:7
    ports:
    - 8126:8126
    env:
      DD_API_KEY: $(datadogAPIKey)
      DD_APM_ENABLED: true
      DD_APM_NON_LOCAL_TRAFFIC: true
      DD_LOGS_ENABLED: true
      DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL: true
      DD_AC_EXCLUDE: "name:datadog-agent"

jobs:
- job: IntegrationTests
  pool:
    vmImage: "Ubuntu-16.04"
  container:
    image: golang:latest
    options: >-
      -l com.datadoghq.ad.logs="[{\"source\": \"Azure Pipeline\", \"service\": \"datadog-api-client-go\"}]"
  services:
    datadog-agent: datadog-agent
  steps:
    - script: ./run-tests.sh
      displayName: Run integration tests
      env:
        DD_AGENT_HOST: datadog-agent
        DD_TEST_CLIENT_API_KEY: $(datadogAPIKey)
        DD_TEST_CLIENT_APP_KEY: $(datadogAPPKey)
        RECORD: "true"
    - script: |
        bash <(curl -s https://codecov.io/bash) -F integration -v

      displayName: Upload to codecov.io
      env:
        CODECOV_TOKEN: $(codecovToken)
