interactions:
- request:
    body: |
      {"filter":{"from":"now-15m","query":"@evt.name:Request @auth_method:API_AND_APP_KEY","to":"now"},"options":{"time_offset":0,"timezone":"GMT"},"page":{"limit":25},"sort":"timestamp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/audit/events/search
  response:
    body: '{"data":[{"id":"AQAAAYZK3IzczAAeRgAAAABBWVpLM0pBVEFBQVE3Q00wSzNPR1VBQUI","type":"audit","attributes":{"attributes":{"evt":{"actor":{"type":"USER"},"name":"Request"},"metadata":{"api_key":{"id":"f9d9e7ef-c61e-5e90-ab9f-6bc8bfc65a5f"},"application_key":{"id":"6e93352a-06eb-4101-9bd2-59455a0c6e60"}},"auth_method":"API_AND_APP_KEY","org":{"name":"DD
      Integration Tests (321813)","uuid":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"},"usr":{"created":"2019-10-02T08:15:39.795051","id":"frog@datadoghq.com","uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","email":"frog@datadoghq.com"},"http":{"url_details":{"path":"/api/v1/monitor","host":"us1.prod.dog"},"status_code":"200","method":"POST","useragent":"Datadog/Synthetics"},"action":"accessed","network":{"client":{"geoip":{"continent":{"code":"EU","name":"Europe"},"country":{"name":"France","iso_code":"FR"},"subdivision":{"name":"\u00cele-de-France"},"as":{"number":"AS16509","route":"15.188.0.0/16","domain":"amazon.com","name":"Amazon.com,
      Inc.","type":"hosting"},"city":{"name":"Paris"},"timezone":"Europe/Paris","ipAddress":"15.188.202.64","location":{"latitude":48.85341,"longitude":2.3488}},"ip":"15.188.202.64"}},"timestamp":"2023-02-13T13:00:13.404479","status":"info"},"message":"POST
      request made to /api/v1/monitor by frog@datadoghq.com with response 200","timestamp":"2023-02-13T13:00:13.404Z","tags":["is_notable_event:false","source:audit","is_notable_event:false","source:audit"]}},{"id":"AQAAAYZK3IzjCTmQLgAAAABBWVpLM0k3MUFBQVRpVWwwMndZVHJRQUI","type":"audit","attributes":{"attributes":{"evt":{"actor":{"type":"USER"},"name":"Request"},"metadata":{"api_key":{"id":"f9d9e7ef-c61e-5e90-ab9f-6bc8bfc65a5f"},"application_key":{"id":"6e93352a-06eb-4101-9bd2-59455a0c6e60"}},"auth_method":"API_AND_APP_KEY","org":{"name":"DD
      Integration Tests (321813)","uuid":"4dee724d-00cc-11ea-a77b-570c9d03c6c[...]
