interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v1/integration/gcp
  response:
    body: '[{"project_id":"","client_email":"00981e1c3e8e97a1@example.com","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":false,"is_security_command_center_enabled":false,"errors":[]},{"project_id":"","client_email":"02c9828017e15aa5@test-project.iam.gserviceaccount.com","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":false,"is_security_command_center_enabled":false,"errors":[]},{"project_id":"","client_email":"097c90af04124b05@test-project.iam.gserviceaccount.com","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":false,"is_security_command_center_enabled":false,"errors":[]},{"project_id":"","[...]
