interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"TestDeleteConfluentaccountreturnsOKresponse1697461335","api_secret":"test-api-secret","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
  response:
    body: '{"data":{"type":"confluent-cloud-accounts","attributes":{"resources":[{"tags":["tag1","tag2:val2"],"id":"test-resource-id","enable_custom_metrics":false,"resource_type":"kafka"}],"tags":["tag1","tag2:val2"],"api_key":"TestDeleteConfluentaccountreturnsOKresponse1697461335"},"id":"ed3f03aa36fdd7ba6b48381d54280e45"}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/ed3f03aa36fdd7ba6b48381d54280e45
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/ed3f03aa36fdd7ba6b48381d54280e45
  response:
    body: '{"errors":["Account not found not found"]}'
    code: 404
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
