interactions:
- id: 0
  request:
    body: |
      {"data":{"attributes":{"api_key":"TestDeleteresourcefromConfluentaccountreturnsOKresponse1665090164","api_secret":"test-api-secret","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
  response:
    body: '{"data":{"attributes":{"api_key":"TestDeleteresourcefromConfluentaccountreturnsOKresponse1665090164","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts","id":"xxmv3lgki4"}}

      '
    code: 201
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/xxmv3lgki4
  response:
    body: ''
    code: 204
    duration: 100ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/xxmv3lgki4
  response:
    body: '{"errors":["Account not found not found"]}'
    code: 404
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
version: 2
