interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"TestGetConfluentaccountreturnsOKresponse1688395121","api_secret":"test-api-secret","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
  response:
    body: '{"data":{"type":"confluent-cloud-accounts","id":"8a03a240e4d322d42edf6d4f4654a624","attributes":{"resources":[{"resource_type":"kafka","tags":["tag1","tag2:val2"],"enable_custom_metrics":false,"id":"test-resource-id"}],"api_key":"TestGetConfluentaccountreturnsOKresponse1688395121","tags":["tag1","tag2:val2"]}}}

      '
    code: 201
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/8a03a240e4d322d42edf6d4f4654a624
  response:
    body: '{"data":{"type":"confluent-cloud-accounts","attributes":{"resources":[{"enable_custom_metrics":false,"id":"test-resource-id","tags":["tag1","tag2:val2"],"resource_type":"kafka"}],"api_key":"TestGetConfluentaccountreturnsOKresponse1688395121","tags":["tag1","tag2:val2"]},"id":"8a03a240e4d322d42edf6d4f4654a624"}}

      '
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/8a03a240e4d322d42edf6d4f4654a624
  response:
    body: ''
    code: 204
    duration: 0ms
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
version: 2
