interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/ndm/interfaces?device_id=default:1.2.3.4
  response:
    body: '{"data":[{"id":"default:1.2.3.4:99","type":"interface","attributes":{"name":"if99","status":"up","description":"a
      network interface","mac_address":"00:00:00:00:00:00","ip_addresses":["1.1.1.1","1.1.1.2"],"alias":"interface_99","index":99}},{"id":"default:1.2.3.4:999","type":"interface","attributes":{"name":"if999","status":"down","description":"another
      network interface","mac_address":"99:99:99:99:99:99","alias":"interface_999","index":999}}]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
