interactions:
- request:
    body: |
      {"data":{"attributes":{"tags":["tag:test","tag:testbis"]},"id":"example:1.2.3.4:1","type":"tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: PATCH
    url: https://api.datadoghq.com/api/v2/ndm/tags/interfaces/example%3A1.2.3.4%3A1
  response:
    body: '{"data":{"id":"example:1.2.3.4:1","type":"tags","attributes":{"tags":["tag:test","tag:testbis"]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
