interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/ndm/devices/default_device
  response:
    body: '{"data":{"id":"default_device","type":"device","attributes":{"description":"a
      device monitored with NDM","device_type":"other","ip_address":"1.2.3.4","location":"paris","model":"xx-123","name":"example
      device","os_name":"example OS","os_version":"1.0.2","ping_status":"unmonitored","product_name":"example
      device","serial_number":"X12345","status":"ok","sys_object_id":"1.3.6.1.4.1.99999","tags":["device_ip:1.2.3.4","device_id:default_device"]}}}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
version: 2
