interactions:
- request:
    body: |
      {"index":"main","query":"service:web*","sort":"asc","time":{"from":1647382403,"timezone":null,"to":1647386003}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/logs-queries/list
  response:
    body: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChZfR3ZZcHF6V1FuaW1JNldXNFhxb0dRIiwKHFSYsKzMf0f-bbFLDzkRwB5TyxiNZ6pZwCMDugsSDBrfRT5ki0RHe-JkqQ"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
