interactions:
- request:
    body: |
      {"index":"main","query":"service:web*","sort":"asc","time":{"from":"2022-03-16T19:19:15.972Z","timezone":"Europe/Paris","to":"2022-03-16T20:19:15.972Z"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/logs-queries/list
  response:
    body: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChY1NmxlTHZVZlFpNnN6WGJLQUg4VGNBIi0KHfuLOnaa0UteA_7Jc4dRCbmb4YhQqyZLVXBRZ-eSEgzkoIm-nmhrtG8HKG0"}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
