interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/dashboards/usage?filter%5Bedited_before%5D=2025-04-26T00%3A00%3A00Z
  response:
    body: '{"data":[{"id":"284-wiv-iqk","type":"dashboards-usages","attributes":{"org_id":321813,"title":"","teams":[],"created_at":"2024-10-21T21:02:03.739689Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2024-10-21T21:02:03.739689Z","widget_count":1,"widget_count_by_type":{"hostmap":1},"dashboard_quality_score":0.0}},{"id":"29x-55z-rt2","type":"dashboards-usages","attributes":{"org_id":321813,"title":"new_title","teams":[],"created_at":"2023-01-09T22:20:08.019993Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2023-01-09T22:20:09.093470Z","widget_count":0,"widget_count_by_type":{},"dashboard_quality_score":0.0}},{"id":"2be-q62-ep5","type":"dashboards-usages","attributes":{"org_id":321813,"title":"","teams":[],"created_at":"2024-06-23T00:04:08.199090Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2024-06-23T00:04:08.199090Z","widget_count":1,"widget_count_by_type":{"hostmap":1},"dashboard_quality_score":0.0}},{"id":"2gn-qtd-zd9","type":"dashboards-usages","attributes":{"org_id":321813,"title":"{{uniq}}","teams":[],"created_at":"2024-09-06T22:54:10.920756Z","author":{"id":"1445416","name":"frog","handle":"frog@datadoghq.com","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2024-09-06T22:54:57.107615Z","widget_count":2,"widget_count_by_type":{"toplist":2},"dashboard_quality_score":0.0}},{"id":"2m8-ht3-7kf","type":"dashboards-usages","attributes":{"org_id":321813,"title":"","teams":[],"created_at":"2023-11-02T02:11:27.660825Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2023-11-02T02:11:27.660825Z","widget_count":1,"widget_count_by_type":{"hostmap":1},"dashboard_quality_score":0.0}},{[...]
