interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Get_usage_stats_for_all_dashboards_returns_OK_response-1779115228 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    id: 0
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"id":"wu3-x5g-reh","title":"Test-Get_usage_stats_for_all_dashboards_returns_OK_response-1779115228
      with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wu3-x5g-reh/test-getusagestatsforalldashboardsreturnsokresponse-1779115228-with-profile-metr","template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":2898809444744372}],"notify_list":null,"created_at":"2026-05-18T14:40:28.606887+00:00","modified_at":"2026-05-18T14:40:28.606887+00:00","restricted_roles":[]}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/dashboards/usage
  response:
    body: '{"data":[{"id":"22p-zw6-qia","type":"dashboards-usages","attributes":{"org_id":321813,"title":"Test-Typescript-Send_shared_dashboard_invitation_email_returns_OK_response-1770895286
      with Profile Metrics Query","teams":[],"created_at":"2026-02-12T11:21:26.907249Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2026-02-12T11:21:26.907249Z","widget_count":1,"widget_count_by_type":{"timeseries":1},"dashboard_quality_score":0.28204906085021153}},{"id":"284-wiv-iqk","type":"dashboards-usages","attributes":{"org_id":321813,"title":"","teams":[],"created_at":"2024-10-21T21:02:03.739689Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2024-10-21T21:02:03.739689Z","widget_count":1,"widget_count_by_type":{"hostmap":1},"dashboard_quality_score":0.0}},{"id":"287-waf-fua","type":"dashboards-usages","attributes":{"org_id":321813,"title":"Test-Typescript-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1770981465
      with Profile Metrics Query","teams":[],"created_at":"2026-02-13T11:17:45.310427Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited[...]
- request:
    body: ''
    form: {}
    headers:
    id: 2
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/wu3-x5g-reh
  response:
    body: '{"deleted_dashboard_id":"wu3-x5g-reh"}'
    code: 200
    duration: 0ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 2
