interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/dashboards/usage?filter%5Bviewed_before%5D=2025-04-26T00%3A00%3A00Z
  response:
    body: '{"data":[{"id":"22p-zw6-qia","type":"dashboards-usages","attributes":{"org_id":321813,"title":"Test-Typescript-Send_shared_dashboard_invitation_email_returns_OK_response-1770895286
      with Profile Metrics Query","teams":[],"created_at":"2026-02-12T11:21:26.907249Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2026-02-12T11:21:26.907249Z","widget_count":1,"widget_count_by_type":{"timeseries":1},"dashboard_quality_score":0.23756985018964683}},{"id":"284-wiv-iqk","type":"dashboards-usages","attributes":{"org_id":321813,"title":"","teams":[],"created_at":"2024-10-21T21:02:03.739689Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2024-10-21T21:02:03.739689Z","widget_count":1,"widget_count_by_type":{"hostmap":1},"dashboard_quality_score":0.0}},{"id":"287-waf-fua","type":"dashboards-usages","attributes":{"org_id":321813,"title":"Test-Typescript-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1770981465
      with Profile Metrics Query","teams":[],"created_at":"2026-02-13T11:17:45.310427Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited[...]
