interactions:
- request:
    body: ''
    form: {}
    headers:
    id: 0
    method: GET
    url: https://api.datadoghq.com/api/v2/dashboards/usage?page%5Blimit%5D=500
  response:
    body: '{"data":[{"id":"22p-zw6-qia","type":"dashboards-usages","attributes":{"org_id":321813,"title":"Test-Typescript-Send_shared_dashboard_invitation_email_returns_OK_response-1770895286
      with Profile Metrics Query","teams":[],"created_at":"2026-02-12T11:21:26.907249Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2026-02-12T11:21:26.907249Z","widget_count":1,"widget_count_by_type":{"timeseries":1},"dashboard_quality_score":0.28204906085021153}},{"id":"284-wiv-iqk","type":"dashboards-usages","attributes":{"org_id":321813,"title":"","teams":[],"created_at":"2024-10-21T21:02:03.739689Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2024-10-21T21:02:03.739689Z","widget_count":1,"widget_count_by_type":{"hostmap":1},"dashboard_quality_score":0.0}},{"id":"287-waf-fua","type":"dashboards-usages","attributes":{"org_id":321813,"title":"Test-Typescript-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1770981465
      with Profile Metrics Query","teams":[],"created_at":"2026-02-13T11:17:45.310427Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited[...]
- request:
    body: ''
    form: {}
    headers:
    id: 1
    method: GET
    url: https://api.datadoghq.com/api/v2/dashboards/usage?page%5Blimit%5D=500&page%5Boffset%5D=500
  response:
    body: '{"data":[{"id":"ux8-fvf-2t2","type":"dashboards-usages","attributes":{"org_id":321813,"title":"tf-TestAccDatadogDashboard_import-local-1774386000","teams":["foobar"],"created_at":"2026-03-24T21:00:09.496200Z","author":{"id":"2320499","name":"CI
      Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2026-03-24T21:00:09.496200Z","widget_count":18,"widget_count_by_type":{"alert_graph":2,"alert_value":1,"change":1,"distribution":1,"check_status":1,"heatmap":1,"hostmap":1,"note":2,"query_value":1,"scatterplot":1,"timeseries":1,"toplist":1,"group":1,"slo":1,"query_table":2},"dashboard_quality_score":0.6122496869776752}},{"id":"uxq-tpu-pzd","type":"dashboards-usages","attributes":{"org_id":321813,"title":"Example-Send_shared_dashboard_invitation_email_returns_OK_response_1771258019
      with Profile Metrics Query","teams":[],"created_at":"2026-02-16T16:06:59.841715Z","author":{"id":"1445416","name":"frog","handle":"frog@datadoghq.com","is_disabled":false},"total_views":0,"viewed_at":null,"viewer":null,"total_views_by_type":null,"edited_at":"2026-02-16T16:06:59.8[...]
